<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>activity_fraim.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,150},{75,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,87}}</string>
                <key>sourceSize</key>
                <string>{75,87}</string>
            </dict>
            <key>activity_frame_upon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{109,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,99}}</string>
                <key>sourceSize</key>
                <string>{109,99}</string>
            </dict>
            <key>activity_growth_item_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,150},{74,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,72}}</string>
                <key>sourceSize</key>
                <string>{74,72}</string>
            </dict>
            <key>activity_growth_plan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{590,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,146}}</string>
                <key>sourceSize</key>
                <string>{590,146}</string>
            </dict>
            <key>activity_growth_plan_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,150},{130,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,74}}</string>
                <key>sourceSize</key>
                <string>{130,74}</string>
            </dict>
            <key>activity_hot.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,150},{150,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,62}}</string>
                <key>sourceSize</key>
                <string>{150,62}</string>
            </dict>
            <key>activity_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,150},{150,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,65}}</string>
                <key>sourceSize</key>
                <string>{150,65}</string>
            </dict>
            <key>buy_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,116},{180,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,112}}</string>
                <key>sourceSize</key>
                <string>{180,112}</string>
            </dict>
            <key>buy_btn_g.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,2},{180,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,112}}</string>
                <key>sourceSize</key>
                <string>{180,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>activity.pvr.ccz</string>
            <key>size</key>
            <string>{1024,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:758664c085b9d5a2df153657bcbe04bd$</string>
            <key>textureFileName</key>
            <string>activity.pvr.ccz</string>
        </dict>
    </dict>
</plist>
