<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bonus_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{133,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,161}}</string>
                <key>sourceSize</key>
                <string>{133,161}</string>
            </dict>
            <key>bonus_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{152,199}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{152,199}}</string>
                <key>sourceSize</key>
                <string>{208,255}</string>
            </dict>
            <key>bonus_card_g.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,247}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{198,247}}</string>
                <key>sourceSize</key>
                <string>{208,255}</string>
            </dict>
            <key>bonus_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,203},{60,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,37}}</string>
                <key>sourceSize</key>
                <string>{60,37}</string>
            </dict>
            <key>bonus_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,251},{542,231}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{542,231}}</string>
                <key>sourceSize</key>
                <string>{544,235}</string>
            </dict>
            <key>bonus_money.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,165},{55,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,58}}</string>
                <key>sourceSize</key>
                <string>{55,58}</string>
            </dict>
            <key>bonus_reputation.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,165},{50,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,55}}</string>
                <key>sourceSize</key>
                <string>{50,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bonus.pvr.ccz</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ae8c4b87e866ab7e60ee81094b731df$</string>
            <key>textureFileName</key>
            <string>bonus.pvr.ccz</string>
        </dict>
    </dict>
</plist>
