<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,580},{326,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,57}}</string>
                <key>sourceSize</key>
                <string>{326,57}</string>
            </dict>
            <key>B.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,521},{326,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,57}}</string>
                <key>sourceSize</key>
                <string>{326,57}</string>
            </dict>
            <key>C.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,462},{326,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,57}}</string>
                <key>sourceSize</key>
                <string>{326,57}</string>
            </dict>
            <key>big_red_envo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,944},{101,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,105}}</string>
                <key>sourceSize</key>
                <string>{101,105}</string>
            </dict>
            <key>big_red_envo_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,944},{101,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,105}}</string>
                <key>sourceSize</key>
                <string>{101,105}</string>
            </dict>
            <key>g_big_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1011,458}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1011,458}}</string>
                <key>sourceSize</key>
                <string>{1011,458}</string>
            </dict>
            <key>g_bless.png</key>
            <dict>
                <key>frame</key>
                <string>{{1015,2},{684,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{684,450}}</string>
                <key>sourceSize</key>
                <string>{684,450}</string>
            </dict>
            <key>g_contri_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,1336},{163,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,210}}</string>
                <key>sourceSize</key>
                <string>{163,210}</string>
            </dict>
            <key>g_contri_g.png</key>
            <dict>
                <key>frame</key>
                <string>{{1547,1199},{163,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,210}}</string>
                <key>sourceSize</key>
                <string>{163,210}</string>
            </dict>
            <key>g_contri_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,1124},{163,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,210}}</string>
                <key>sourceSize</key>
                <string>{163,210}</string>
            </dict>
            <key>g_contri_z.png</key>
            <dict>
                <key>frame</key>
                <string>{{1837,1158},{163,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,210}}</string>
                <key>sourceSize</key>
                <string>{163,210}</string>
            </dict>
            <key>g_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,745},{244,434}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,434}}</string>
                <key>sourceSize</key>
                <string>{244,434}</string>
            </dict>
            <key>g_inner.png</key>
            <dict>
                <key>frame</key>
                <string>{{1701,2},{333,469}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,469}}</string>
                <key>sourceSize</key>
                <string>{333,469}</string>
            </dict>
            <key>g_inner_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{643,396}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{643,396}}</string>
                <key>sourceSize</key>
                <string>{643,396}</string>
            </dict>
            <key>g_input_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,711},{246,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,32}}</string>
                <key>sourceSize</key>
                <string>{246,32}</string>
            </dict>
            <key>g_look.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,754},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>g_outer.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,473},{333,362}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,362}}</string>
                <key>sourceSize</key>
                <string>{333,362}</string>
            </dict>
            <key>g_request.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,711},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>g_shop_itemframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,798},{446,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,121}}</string>
                <key>sourceSize</key>
                <string>{446,121}</string>
            </dict>
            <key>guild_bless_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,837},{101,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,105}}</string>
                <key>sourceSize</key>
                <string>{101,105}</string>
            </dict>
            <key>guild_check_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1549,653},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>guild_check_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,653},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>guild_choose.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,1012},{152,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,47}}</string>
                <key>sourceSize</key>
                <string>{152,47}</string>
            </dict>
            <key>guild_contribute_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1341,905},{101,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,105}}</string>
                <key>sourceSize</key>
                <string>{101,105}</string>
            </dict>
            <key>guild_direction.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,587},{61,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,54}}</string>
                <key>sourceSize</key>
                <string>{61,54}</string>
            </dict>
            <key>guild_direction2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,531},{61,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,54}}</string>
                <key>sourceSize</key>
                <string>{61,54}</string>
            </dict>
            <key>guild_find.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,653},{42,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,44}}</string>
                <key>sourceSize</key>
                <string>{42,44}</string>
            </dict>
            <key>guild_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1656,1098},{179,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,99}}</string>
                <key>sourceSize</key>
                <string>{179,99}</string>
            </dict>
            <key>guild_icon_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,1061},{95,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,100}}</string>
                <key>sourceSize</key>
                <string>{95,100}</string>
            </dict>
            <key>guild_instance_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1341,798},{101,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,105}}</string>
                <key>sourceSize</key>
                <string>{101,105}</string>
            </dict>
            <key>guild_life.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,492},{32,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,25}}</string>
                <key>sourceSize</key>
                <string>{32,25}</string>
            </dict>
            <key>guild_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,795},{463,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{463,1}}</string>
                <key>sourceSize</key>
                <string>{463,1}</string>
            </dict>
            <key>guild_line_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,639},{319,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,3}}</string>
                <key>sourceSize</key>
                <string>{319,3}</string>
            </dict>
            <key>guild_name_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,653},{499,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{499,62}}</string>
                <key>sourceSize</key>
                <string>{499,62}</string>
            </dict>
            <key>guild_normal_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,704},{219,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,259}}</string>
                <key>sourceSize</key>
                <string>{219,259}</string>
            </dict>
            <key>guild_note.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,643},{58,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,59}}</string>
                <key>sourceSize</key>
                <string>{58,59}</string>
            </dict>
            <key>guild_pres.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,462},{38,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,28}}</string>
                <key>sourceSize</key>
                <string>{38,28}</string>
            </dict>
            <key>guild_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2031,473},{14,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,29}}</string>
                <key>sourceSize</key>
                <string>{14,29}</string>
            </dict>
            <key>guild_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1015,454},{652,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{652,75}}</string>
                <key>sourceSize</key>
                <string>{652,75}</string>
            </dict>
            <key>guild_selectedFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1681,837},{219,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,259}}</string>
                <key>sourceSize</key>
                <string>{219,259}</string>
            </dict>
            <key>guild_shop_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,1051},{101,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,105}}</string>
                <key>sourceSize</key>
                <string>{101,105}</string>
            </dict>
            <key>guild_small_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,644},{310,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,65}}</string>
                <key>sourceSize</key>
                <string>{310,65}</string>
            </dict>
            <key>guild_tilte_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{1444,965},{210,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,157}}</string>
                <key>sourceSize</key>
                <string>{210,157}</string>
            </dict>
            <key>guild_tilte_mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{1669,454},{25,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,43}}</string>
                <key>sourceSize</key>
                <string>{25,43}</string>
            </dict>
            <key>guild_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,717},{486,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{486,76}}</string>
                <key>sourceSize</key>
                <string>{486,76}</string>
            </dict>
            <key>guild_vertical_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2036,2},{1,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,43}}</string>
                <key>sourceSize</key>
                <string>{1,43}</string>
            </dict>
            <key>left_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,921},{390,466}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,466}}</string>
                <key>sourceSize</key>
                <string>{390,466}</string>
            </dict>
            <key>red_envo_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1669,499},{24,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,31}}</string>
                <key>sourceSize</key>
                <string>{24,31}</string>
            </dict>
            <key>right_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,531},{623,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{623,120}}</string>
                <key>sourceSize</key>
                <string>{623,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guild.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ce863a254ff554c4cac1512ec1bbd77$</string>
            <key>textureFileName</key>
            <string>guild.pvr.ccz</string>
        </dict>
    </dict>
</plist>
