<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>%.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,14},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{20,21}</string>
            </dict>
            <key>K2.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,191},{322,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,87}}</string>
                <key>sourceSize</key>
                <string>{322,87}</string>
            </dict>
            <key>exploreBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,947},{139,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,54}}</string>
                <key>sourceSize</key>
                <string>{139,54}</string>
            </dict>
            <key>exploreBtn_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,271},{139,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,54}}</string>
                <key>sourceSize</key>
                <string>{139,54}</string>
            </dict>
            <key>exploreBtn_g.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,215},{139,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,54}}</string>
                <key>sourceSize</key>
                <string>{139,54}</string>
            </dict>
            <key>explore_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,829},{296,181}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,5},{296,181}}</string>
                <key>sourceSize</key>
                <string>{330,191}</string>
            </dict>
            <key>explore_meterial.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,216},{35,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,34}}</string>
                <key>sourceSize</key>
                <string>{35,34}</string>
            </dict>
            <key>explore_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,14},{184,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,26}}</string>
                <key>sourceSize</key>
                <string>{184,26}</string>
            </dict>
            <key>explore_progress_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,14},{460,199}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{460,199}}</string>
                <key>sourceSize</key>
                <string>{460,205}</string>
            </dict>
            <key>get_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,138},{73,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,76}}</string>
                <key>sourceSize</key>
                <string>{73,76}</string>
            </dict>
            <key>line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{707,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{707,10}}</string>
                <key>sourceSize</key>
                <string>{707,10}</string>
            </dict>
            <key>q.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,2},{302,187}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{302,187}}</string>
                <key>sourceSize</key>
                <string>{330,191}</string>
            </dict>
            <key>treasure_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,192},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,148}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>treasure_ball_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,42},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,148}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>treasure_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,463},{119,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,173}}</string>
                <key>sourceSize</key>
                <string>{119,173}</string>
            </dict>
            <key>treasure_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,14},{35,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,80}}</string>
                <key>sourceSize</key>
                <string>{35,80}</string>
            </dict>
            <key>treasure_w_fresh.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,117},{76,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,19}}</string>
                <key>sourceSize</key>
                <string>{76,19}</string>
            </dict>
            <key>treasure_w_upgrade.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,96},{76,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,19}}</string>
                <key>sourceSize</key>
                <string>{76,19}</string>
            </dict>
            <key>ui_explore_map_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,708},{296,181}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,5},{296,181}}</string>
                <key>sourceSize</key>
                <string>{330,191}</string>
            </dict>
            <key>ui_explore_map_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,646},{296,181}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,5},{296,181}}</string>
                <key>sourceSize</key>
                <string>{330,191}</string>
            </dict>
            <key>ui_explore_map_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{296,181}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,5},{296,181}}</string>
                <key>sourceSize</key>
                <string>{330,191}</string>
            </dict>
            <key>ui_explore_map_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,581},{296,181}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,5},{296,181}}</string>
                <key>sourceSize</key>
                <string>{330,191}</string>
            </dict>
            <key>ui_explore_map_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,525},{296,181}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,5},{296,181}}</string>
                <key>sourceSize</key>
                <string>{330,191}</string>
            </dict>
            <key>ui_explore_map_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,463},{296,181}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,5},{296,181}}</string>
                <key>sourceSize</key>
                <string>{330,191}</string>
            </dict>
            <key>ui_explore_map_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{296,181}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,5},{296,181}}</string>
                <key>sourceSize</key>
                <string>{330,191}</string>
            </dict>
            <key>ui_explore_map_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,342},{296,181}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,5},{296,181}}</string>
                <key>sourceSize</key>
                <string>{330,191}</string>
            </dict>
            <key>ui_explore_map_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,215},{296,181}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,5},{296,181}}</string>
                <key>sourceSize</key>
                <string>{330,191}</string>
            </dict>
            <key>ui_explore_map_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,280},{296,181}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,5},{296,181}}</string>
                <key>sourceSize</key>
                <string>{330,191}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>treasureexplore.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:647a469841442a22a5b15cb389eb9c52$</string>
            <key>textureFileName</key>
            <string>treasureexplore.pvr.ccz</string>
        </dict>
    </dict>
</plist>
