<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>big_VIP.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,471},{179,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,102}}</string>
                <key>sourceSize</key>
                <string>{179,102}</string>
            </dict>
            <key>big_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,159},{89,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,87}}</string>
                <key>sourceSize</key>
                <string>{89,87}</string>
            </dict>
            <key>button_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,531},{180,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,112}}</string>
                <key>sourceSize</key>
                <string>{180,112}</string>
            </dict>
            <key>charge_first_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,433},{185,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,202}}</string>
                <key>sourceSize</key>
                <string>{185,202}</string>
            </dict>
            <key>charge_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,419},{179,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,206}}</string>
                <key>sourceSize</key>
                <string>{179,206}</string>
            </dict>
            <key>charge_frame_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,73},{223,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,233}}</string>
                <key>sourceSize</key>
                <string>{223,233}</string>
            </dict>
            <key>charge_send_tag.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,424},{145,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,105}}</string>
                <key>sourceSize</key>
                <string>{145,105}</string>
            </dict>
            <key>close.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,225},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>close_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,248},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>common_buton_enable.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,351},{134,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,55}}</string>
                <key>sourceSize</key>
                <string>{134,55}</string>
            </dict>
            <key>common_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,294},{134,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,55}}</string>
                <key>sourceSize</key>
                <string>{134,55}</string>
            </dict>
            <key>empty_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,408},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>inner_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,225},{205,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,119}}</string>
                <key>sourceSize</key>
                <string>{205,119}</string>
            </dict>
            <key>process.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,2},{280,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,29}}</string>
                <key>sourceSize</key>
                <string>{280,29}</string>
            </dict>
            <key>progress_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,112},{120,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,45}}</string>
                <key>sourceSize</key>
                <string>{120,45}</string>
            </dict>
            <key>progress_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,54},{100,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,56}}</string>
                <key>sourceSize</key>
                <string>{100,56}</string>
            </dict>
            <key>spec_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,346},{197,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,123}}</string>
                <key>sourceSize</key>
                <string>{197,123}</string>
            </dict>
            <key>spec_btn_enable.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{197,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,123}}</string>
                <key>sourceSize</key>
                <string>{197,123}</string>
            </dict>
            <key>spec_btn_g.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,308},{197,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,123}}</string>
                <key>sourceSize</key>
                <string>{197,123}</string>
            </dict>
            <key>uc_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,490},{174,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,58}}</string>
                <key>sourceSize</key>
                <string>{174,58}</string>
            </dict>
            <key>uc_vip_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,339},{165,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,83}}</string>
                <key>sourceSize</key>
                <string>{165,83}</string>
            </dict>
            <key>vip_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,418},{29,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,34}}</string>
                <key>sourceSize</key>
                <string>{29,34}</string>
            </dict>
            <key>vip_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,424},{20,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,34}}</string>
                <key>sourceSize</key>
                <string>{20,34}</string>
            </dict>
            <key>vip_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,382},{29,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,34}}</string>
                <key>sourceSize</key>
                <string>{29,34}</string>
            </dict>
            <key>vip_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,346},{29,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,34}}</string>
                <key>sourceSize</key>
                <string>{29,34}</string>
            </dict>
            <key>vip_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,267},{30,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,34}}</string>
                <key>sourceSize</key>
                <string>{30,34}</string>
            </dict>
            <key>vip_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,231},{30,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,34}}</string>
                <key>sourceSize</key>
                <string>{30,34}</string>
            </dict>
            <key>vip_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,195},{30,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,34}}</string>
                <key>sourceSize</key>
                <string>{30,34}</string>
            </dict>
            <key>vip_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,454},{28,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,34}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>vip_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,159},{30,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,34}}</string>
                <key>sourceSize</key>
                <string>{30,34}</string>
            </dict>
            <key>vip_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,303},{29,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,34}}</string>
                <key>sourceSize</key>
                <string>{29,34}</string>
            </dict>
            <key>vip_frame_inner.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,2},{310,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,221}}</string>
                <key>sourceSize</key>
                <string>{310,221}</string>
            </dict>
            <key>vip_frame_out.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{357,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,290}}</string>
                <key>sourceSize</key>
                <string>{357,290}</string>
            </dict>
            <key>vip_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,446},{64,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,50}}</string>
                <key>sourceSize</key>
                <string>{64,50}</string>
            </dict>
            <key>vip_left_enable.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,2},{64,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,50}}</string>
                <key>sourceSize</key>
                <string>{64,50}</string>
            </dict>
            <key>vip_recommend.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,378},{72,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,66}}</string>
                <key>sourceSize</key>
                <string>{72,66}</string>
            </dict>
            <key>vip_sprite_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,33},{242,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,38}}</string>
                <key>sourceSize</key>
                <string>{242,38}</string>
            </dict>
            <key>vip_well_selled.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,310},{72,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,66}}</string>
                <key>sourceSize</key>
                <string>{72,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>vip.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a78728bd05230f3e52ccdc19bdc868f8$</string>
            <key>textureFileName</key>
            <string>vip.pvr.ccz</string>
        </dict>
    </dict>
</plist>
