<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>instance_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,53},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>instance_exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,27},{29,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,24}}</string>
                <key>sourceSize</key>
                <string>{29,24}</string>
            </dict>
            <key>instance_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{317,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,277}}</string>
                <key>sourceSize</key>
                <string>{317,277}</string>
            </dict>
            <key>instance_hun.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{23,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,31}}</string>
                <key>sourceSize</key>
                <string>{23,31}</string>
            </dict>
            <key>instance_icon_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,77},{90,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,91}}</string>
                <key>sourceSize</key>
                <string>{90,91}</string>
            </dict>
            <key>instance_icon_frame_g.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,69},{90,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,91}}</string>
                <key>sourceSize</key>
                <string>{90,91}</string>
            </dict>
            <key>instance_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,161},{522,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{522,9}}</string>
                <key>sourceSize</key>
                <string>{522,9}</string>
            </dict>
            <key>instance_power.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,161},{229,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,73}}</string>
                <key>sourceSize</key>
                <string>{229,73}</string>
            </dict>
            <key>instance_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,169},{52,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,53}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>instance_star_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,169},{51,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,48}}</string>
                <key>sourceSize</key>
                <string>{51,48}</string>
            </dict>
            <key>instance_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,2},{155,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,65}}</string>
                <key>sourceSize</key>
                <string>{155,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>instance.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:775037a664f0137cece973e4dd83bc2f$</string>
            <key>textureFileName</key>
            <string>instance.pvr.ccz</string>
        </dict>
    </dict>
</plist>
