<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>UILayout</string>
		<key>tag</key>
		<integer>0</integer>
		<key>name</key>
		<string>alchemyLayout</string>
		<key>bModelLayer</key>
		<integer>1</integer>
		<key>luaScript</key>              
		<string></string>
		<key>isVisible</key>              
		<integer>1</integer>
		<key>transform</key>             
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>z</key>
			<integer>0</integer>
		</dict>
		<key>children</key> 
		<array>
 			<dict>
			  <key>type</key>
			  <string>UIContainer</string>
			  <key>tag</key>
			  <integer>0</integer>
			  <key>name</key>
			  <string>alchemyContainer</string>
			  <key>luaScript</key>              
 			  <string></string>
			  <key>isVisible</key>              
			  <integer>1</integer>
			  <key>transform</key>              
			  <dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>z</key>
				<integer>0</integer>
			  </dict>
			  <key>refMode</key>                
			  <integer>1</integer>
			  <key>refPointMode</key>           
			  <integer>5</integer>
			  <key>widthScale</key>             
			  <integer>5000</integer>
			  <key>widthOffset</key>            
			  <integer>0</integer>
			  <key>heightScale</key>            
			  <integer>5000</integer>
			  <key>heightOffset</key>          
			  <integer>0</integer>
			  <key>width</key>                  
			  <integer>0</integer>
			  <key>height</key>                 
			  <integer>0</integer>
			  <key>refObjName</key>             
			  <string></string>
			  <key>children</key>               
			  <array> 
				<dict>
					<key>type</key>
					<string>UIPicture</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>alchemyBackPic</string>
					<key>resourceName</key>
					<string>map_ui_FRAME_ALCHEMY_BACKGROUND</string>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>	
				<dict>
					<key>type</key>
					<string>UIPicture</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>alchemyDecoration</string>
					<key>resourceName</key>
					<string>map_ui_FRAME_ALCHEMY_BACKGROUND_DECORATION</string>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>	
				<dict>
					<key>type</key>
					<string>UIPicture</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>alchemyDecoration1</string>
					<key>resourceName</key>
					<string>map_ui_FRAME_ALCHEMY_BACKGROUND_DECORATION1</string>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>	
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>alchemyTitleLable</string>
					<key>color</key>
					<dict>
						<key>red</key>
						<integer>255</integer>
						<key>green</key>
						<integer>255</integer>
						<key>blue</key>
						<integer>0</integer>
					</dict>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_ALCHEMY_TEXT_TITLE</string>
						<key>alignment</key>
						<integer>1</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string>寻灵</string>
					<key>fontSize</key>
					<integer>32</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UIButton</string>
					<key>tag</key>
					<integer>3</integer>
					<key>name</key>
					<string>closeBt</string>
					<key>isVisible</key>            
					<integer>1</integer>
					<key>clickedCallback</key>        
					<string>AlchemyUILayer::onClosedBtClicked</string>
					<key>texture</key>               
					<dict>
						<key>normalTexture</key>      
						<string>map_ui_FRAME_ALCHEMY_BUTTON_CLOSE</string>
						<key>clickedTexture</key>     
						<string>map_ui_FRAME_ALCHEMY_BUTTON_CLOSE_CLICKED</string>
					</dict>
					<key>useASposition</key>         
					<integer>1</integer>
					<key>drag</key>
					  <dict>
						<key>priority</key>
						<integer>-130</integer>
					  </dict>
				</dict>
				<dict>
					<key>type</key>
					<string>UIPicture</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>alchemyNpcBackPic</string>
					<key>resourceName</key>
					<string>map_ui_FRAME_ALCHEMY_CHARACTER_BACKGROUND</string>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UIButton</string>
					<key>tag</key>
					<integer>3</integer>
					<key>name</key>
					<string>alchemyNpcPic1</string>
					<key>isVisible</key>            
					<integer>1</integer>
					<key>clickedCallback</key>        
					<string></string>
					<key>texture</key>               
					<dict>
						<key>normalTexture</key>      
						<string>map_ui_FRAME_ALCHEMY_CHARACTER_ICON1</string>
						<key>clickedTexture</key>     
						<string>map_ui_FRAME_ALCHEMY_CHARACTER_ICON1</string>
						<key>iconTexture</key>
						<string></string>
						<key>iconOrder</key>
						<integer>0</integer>
					</dict>
					<key>useASposition</key>         
					<integer>1</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UIButton</string>
					<key>tag</key>
					<integer>3</integer>
					<key>name</key>
					<string>alchemyNpcPic2</string>
					<key>isVisible</key>            
					<integer>1</integer>
					<key>clickedCallback</key>        
					<string></string>
					<key>texture</key>               
					<dict>
						<key>normalTexture</key>      
						<string>map_ui_FRAME_ALCHEMY_CHARACTER_ICON2</string>
						<key>clickedTexture</key>     
						<string>map_ui_FRAME_ALCHEMY_CHARACTER_ICON2</string>
						<key>iconTexture</key>
						<string></string>
						<key>iconOrder</key>
						<integer>0</integer>
					</dict>
					<key>useASposition</key>         
					<integer>1</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UIButton</string>
					<key>tag</key>
					<integer>3</integer>
					<key>name</key>
					<string>alchemyNpcPic3</string>
					<key>isVisible</key>            
					<integer>1</integer>
					<key>clickedCallback</key>        
					<string></string>
					<key>texture</key>               
					<dict>
						<key>normalTexture</key>      
						<string>map_ui_FRAME_ALCHEMY_CHARACTER_ICON3</string>
						<key>clickedTexture</key>     
						<string>map_ui_FRAME_ALCHEMY_CHARACTER_ICON3</string>
						<key>iconTexture</key>
						<string></string>
						<key>iconOrder</key>
						<integer>0</integer>
					</dict>
					<key>useASposition</key>         
					<integer>1</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UIButton</string>
					<key>tag</key>
					<integer>3</integer>
					<key>name</key>
					<string>alchemyNpcPic4</string>
					<key>isVisible</key>            
					<integer>1</integer>
					<key>clickedCallback</key>        
					<string></string>
					<key>texture</key>               
					<dict>
						<key>normalTexture</key>      
						<string>map_ui_FRAME_ALCHEMY_CHARACTER_ICON4</string>
						<key>clickedTexture</key>     
						<string>map_ui_FRAME_ALCHEMY_CHARACTER_ICON4</string>
						<key>iconTexture</key>
						<string></string>
						<key>iconOrder</key>
						<integer>0</integer>
					</dict>
					<key>useASposition</key>         
					<integer>1</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UIButton</string>
					<key>tag</key>
					<integer>3</integer>
					<key>name</key>
					<string>alchemyNpcPic5</string>
					<key>isVisible</key>            
					<integer>1</integer>
					<key>clickedCallback</key>        
					<string></string>
					<key>texture</key>               
					<dict>
						<key>normalTexture</key>      
						<string>map_ui_FRAME_ALCHEMY_CHARACTER_ICON5</string>
						<key>clickedTexture</key>     
						<string>map_ui_FRAME_ALCHEMY_CHARACTER_ICON5</string>
						<key>iconTexture</key>
						<string></string>
						<key>iconOrder</key>
						<integer>0</integer>
					</dict>
					<key>useASposition</key>         
					<integer>1</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>alchemyNpcLable1</string>
					<key>color</key>
					<dict>
						<key>red</key>
						<integer>255</integer>
						<key>green</key>
						<integer>255</integer>
						<key>blue</key>
						<integer>255</integer>
					</dict>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_ALCHEMY_CHARACTER_ICON1LEVEL</string>
						<key>alignment</key>
						<integer>1</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string>初级</string>
					<key>fontSize</key>
					<integer>20</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>alchemyNpcLable2</string>
					<key>color</key>
					<dict>
						<key>red</key>
						<integer>0</integer>
						<key>green</key>
						<integer>255</integer>
						<key>blue</key>
						<integer>0</integer>
					</dict>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_ALCHEMY_CHARACTER_ICON2LEVEL</string>
						<key>alignment</key>
						<integer>1</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string>中级</string>
					<key>fontSize</key>
					<integer>20</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>alchemyNpcLable3</string>
					<key>color</key>
					<dict>
						<key>red</key>
						<integer>17</integer>
						<key>green</key>
						<integer>179</integer>
						<key>blue</key>
						<integer>255</integer>
					</dict>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_ALCHEMY_CHARACTER_ICON3LEVEL</string>
						<key>alignment</key>
						<integer>1</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string>高级</string>
					<key>fontSize</key>
					<integer>20</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>alchemyNpcLable4</string>
					<key>color</key>
					<dict>
						<key>red</key>
						<integer>170</integer>
						<key>green</key>
						<integer>45</integer>
						<key>blue</key>
						<integer>255</integer>
					</dict>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_ALCHEMY_CHARACTER_ICON4LEVEL</string>
						<key>alignment</key>
						<integer>1</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string>顶级</string>
					<key>fontSize</key>
					<integer>20</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>alchemyNpcLable5</string>
					<key>color</key>
					<dict>
						<key>red</key>
						<integer>255</integer>
						<key>green</key>
						<integer>90</integer>
						<key>blue</key>
						<integer>40</integer>
					</dict>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_ALCHEMY_CHARACTER_ICON5LEVEL</string>
						<key>alignment</key>
						<integer>1</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string>神级</string>
					<key>fontSize</key>
					<integer>20</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UIPicture</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>alchemyNpcFrame</string>
					<key>resourceName</key>
					<string>map_ui_FRAME_ALCHEMY_CHARACTER_FRAME</string>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UIPicture</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>costDiamondFrame</string>
					<key>resourceName</key>
					<string>map_ui_FRAME_ALCHEMY_ICON_COST1</string>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>costDiamondLable</string>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_ALCHEMY_NUM_COST1</string>
						<key>alignment</key>
						<integer>1</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string></string>
					<key>fontSize</key>
					<integer>24</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UIPicture</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>costCoinFrame</string>
					<key>resourceName</key>
					<string>map_ui_FRAME_ALCHEMY_ICON_COST3</string>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>costNumberLable</string>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_ALCHEMY_NUM_COST3</string>
						<key>alignment</key>
						<integer>1</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string></string>
					<key>fontSize</key>
					<integer>24</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UIPicture</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>alchemyGridBg</string>
					<key>resourceName</key>
					<string>map_ui_FRAME_ALCHEMY_GRID_BACKGROUND</string>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UIButton</string>
					<key>tag</key>
					<integer>3</integer>
					<key>name</key>
					<string>draginBagBt</string>
					<key>isVisible</key>            
					<integer>1</integer>
					<key>clickedCallback</key>        
					<string></string>
					<key>texture</key>               
					<dict>
						<key>normalTexture</key>      
						<string>map_ui_FRAME_ALCHEMY_BUTTON_DRAGINBAG</string>
						<key>clickedTexture</key>     
						<string>map_ui_FRAME_ALCHEMY_BUTTON_DRAGINBAG</string>
						<key>iconTexture</key>
						<string>map_ui_system_icon_FRAME_ICON_DRAGINBAG</string>
					</dict>
					<key>useASposition</key>         
					<integer>1</integer>
					<key>drag</key>
					  <dict>
						<key>priority</key>
						<integer>-130</integer>
						<key>itemType</key>
						<integer>10</integer>
						<key>itemIndex</key>
						<integer>0</integer>
					  </dict>
				</dict>
				<dict>
					<key>type</key>
					<string>UIButton</string>
					<key>tag</key>
					<integer>3</integer>
					<key>name</key>
					<string>transformBt</string>
					<key>isVisible</key>            
					<integer>1</integer>
					<key>clickedCallback</key>        
					<string>AlchemyUILayer::onClickTransAllStoneEnergy</string>
					<key>texture</key>               
					<dict>
						<key>normalTexture</key>      
						<string>map_ui_FRAME_ALCHEMY_BUTTON_TRANSFORM</string>
						<key>clickedTexture</key>
						<string>map_ui_FRAME_ALCHEMY_BUTTON_TRANSFORM</string>
						<key>iconTexture</key>
						<string>map_ui_system_icon_FRAME_ICON_TRANFORM</string>
					</dict>
					<key>useASposition</key>         
					<integer>1</integer>
					<key>drag</key>
					  <dict>
						<key>priority</key>
						<integer>-130</integer>
					  </dict>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>draginBagLable</string>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_ALCHEMY_TEXT_DRAGINBAG</string>
						<key>alignment</key>
						<integer>1</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string>拖入背包</string>
					<key>fontSize</key>
					<integer>30</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>transFormLable</string>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_ALCHEMY_TEXT_TRANSFORM</string>
						<key>alignment</key>
						<integer>1</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string>全部转化</string>
					<key>fontSize</key>
					<integer>30</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UIButton</string>
					<key>tag</key>
					<integer>3</integer>
					<key>name</key>
					<string>findSoulBt</string>
					<key>isVisible</key>            
					<integer>1</integer>
					<key>clickedCallback</key>        
					<string>AlchemyUILayer::onClickFindSoul</string>
					<key>texture</key>               
					<dict>
						<key>normalTexture</key>      
						<string>map_ui_FRAME_ALCHEMY_BUTTON_FINDSOUL</string>
						<key>clickedTexture</key>     
						<string>map_ui_FRAME_ALCHEMY_BUTTON_FINDSOUL_CLICKED</string>
					</dict>
					<key>useASposition</key>         
					<integer>1</integer>
					<key>drag</key>
					  <dict>
						<key>priority</key>
						<integer>-130</integer>
					  </dict>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>findSoulLable</string>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_ALCHEMY_TEXT_FINDSOUL</string>
						<key>alignment</key>
						<integer>1</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string>寻灵</string>
					<key>fontSize</key>
					<integer>28</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UIButton</string>
					<key>tag</key>
					<integer>3</integer>
					<key>name</key>
					<string>topFindBt</string>
					<key>isVisible</key>            
					<integer>1</integer>
					<key>clickedCallback</key>        
					<string>AlchemyUILayer::onClickTopFind</string>
					<key>texture</key>               
					<dict>
						<key>normalTexture</key>      
						<string>map_ui_FRAME_ALCHEMY_BUTTON_TOPFIND</string>
						<key>clickedTexture</key>     
						<string>map_ui_FRAME_ALCHEMY_BUTTON_TOPFIND_CLICKED</string>
					</dict>
					<key>useASposition</key>         
					<integer>1</integer>
					<key>drag</key>
					  <dict>
						<key>priority</key>
						<integer>-130</integer>
					  </dict>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>topFindLable</string>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_ALCHEMY_TEXT_TOPFIND</string>
						<key>alignment</key>
						<integer>1</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string>一键顶级</string>
					<key>fontSize</key>
					<integer>24</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UIButton</string>
					<key>tag</key>
					<integer>3</integer>
					<key>name</key>
					<string>autoFindBt</string>
					<key>isVisible</key>            
					<integer>1</integer>
					<key>clickedCallback</key>        
					<string>AlchemyUILayer::onClickAutoFind</string>
					<key>texture</key>               
					<dict>
						<key>normalTexture</key>      
						<string>map_ui_FRAME_ALCHEMY_BUTTON_FASTFIND</string>
						<key>clickedTexture</key>     
						<string>map_ui_FRAME_ALCHEMY_BUTTON_FASTFIND_CLICKED</string>
					</dict>
					<key>useASposition</key>         
					<integer>1</integer>
					<key>drag</key>
					  <dict>
						<key>priority</key>
						<integer>-130</integer>
					  </dict>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>autoFindLable</string>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_ALCHEMY_TEXT_FASTFIND</string>
						<key>alignment</key>
						<integer>1</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>bLocalizeString</key>
					<integer>1</integer>
					<key>content</key>
					<string>M_ALCHEMY_AUTOFIND</string>
					<key>fontSize</key>
					<integer>24</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UIButton</string>
					<key>tag</key>
					<integer>3</integer>
					<key>name</key>
					<string>helpBt</string>
					<key>isVisible</key>            
					<integer>1</integer>
					<key>clickedCallback</key>        
					<string>AlchemyUILayer::onHelpButtonClicked</string>
					<key>texture</key>               
					<dict>
						<key>normalTexture</key>      
						<string>map_ui_FRAME_ALCHEMY_BUTTON_HELP</string>
						<key>clickedTexture</key>     
						<string>map_ui_FRAME_ALCHEMY_BUTTON_HELP_CLICKED</string>
						<key>iconTexture</key>     
						<string>map_ui_system_icon_FRAME_ICON_HELPHINT</string>
					</dict>
					<key>useASposition</key>         
					<integer>1</integer>
					<key>drag</key>
					  <dict>
						<key>priority</key>
						<integer>-130</integer>
					  </dict>
				</dict>
				<dict>
					<key>type</key>
					<string>UIButton</string>
					<key>tag</key>
					<integer>3</integer>
					<key>name</key>
					<string>enterBagBt</string>
					<key>isVisible</key>            
					<integer>1</integer>
					<key>clickedCallback</key>        
					<string>AlchemyUILayer::onEnterAlchemyBagClicked</string>
					<key>texture</key>               
					<dict>
						<key>normalTexture</key>      
						<string>map_ui_FRAME_ALCHEMY_BUTTON_ENTERBAG</string>
						<key>clickedTexture</key>     
						<string>map_ui_FRAME_ALCHEMY_BUTTON_ENTERBAG_CLICKED</string>
						<key>iconTexture</key>     
						<string>map_ui_system_icon_FRAME_ICON_ALCHEMYBAG</string>
					</dict>
					<key>useASposition</key>         
					<integer>1</integer>
					<key>drag</key>
					  <dict>
						<key>priority</key>
						<integer>-130</integer>
					  </dict>
				</dict>
				<dict>
					<key>type</key>
					<string>UIButton</string>
					<key>tag</key>
					<integer>3</integer>
					<key>name</key>
					<string>exchangeBt</string>
					<key>isVisible</key>            
					<integer>1</integer>
					<key>clickedCallback</key>        
					<string>AlchemyUILayer::onAlchemyExchangeClicked</string>
					<key>texture</key>               
					<dict>
						<key>normalTexture</key>      
						<string>map_ui_FRAME_ALCHEMY_BUTTON_EXCHANGE</string>
						<key>clickedTexture</key>     
						<string>map_ui_FRAME_ALCHEMY_BUTTON_EXCHANGE_CLICKED</string>
						<key>iconTexture</key>     
						<string>map_ui_system_icon_FRAME_ICON_ALCHEMY_EXCHANGE</string>
					</dict>
					<key>useASposition</key>         
					<integer>1</integer>
					<key>drag</key>
					  <dict>
						<key>priority</key>
						<integer>-130</integer>
					  </dict>
				</dict>
				<dict>
					<key>type</key>
					<string>UIPicture</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>diamondPic</string>
					<key>resourceName</key>
					<string>map_ui_FRAME_ALCHEMY_ICON_DIAMOND_INALL</string>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>	
				<dict>
					<key>type</key>
					<string>UIPicture</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>soulPic</string>
					<key>resourceName</key>
					<string>map_ui_FRAME_ALCHEMY_ICON_SOUL_INALL</string>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>	
				<dict>
					<key>type</key>
					<string>UIPicture</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>coinPic</string>
					<key>resourceName</key>
					<string>map_ui_FRAME_ALCHEMY_ICON_COIN_INALL</string>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>	
				<dict>
					<key>type</key>
					<string>UIPicture</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>piecePic</string>
					<key>resourceName</key>
					<string>map_ui_FRAME_ALCHEMY_ICON_PIECE_INALL</string>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>	
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>bottomDiamondLable</string>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_ALCHEMY_NUMBER_DIAMOND_INALL</string>
						<key>alignment</key>
						<integer>0</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string></string>
					<key>fontSize</key>
					<integer>20</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>bottomSoulLable</string>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_ALCHEMY_NUMBER_SOUL_INALL</string>
						<key>alignment</key>
						<integer>0</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string></string>
					<key>fontSize</key>
					<integer>20</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>bottomCoinLable</string>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_ALCHEMY_NUMBER_COIN_INALL</string>
						<key>alignment</key>
						<integer>0</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string></string>
					<key>fontSize</key>
					<integer>20</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>bottomPieceLable</string>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_ALCHEMY_NUMBER_PIECE_INALL</string>
						<key>alignment</key>
						<integer>0</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string></string>
					<key>fontSize</key>
					<integer>20</integer>
				</dict>
			   </array>
			</dict>	 
		</array>
	</dict>
</array>
</plist>