<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>UILayout</string>
		<key>tag</key>
		<integer>0</integer>
		<key>name</key>
		<string>alchemyEquipLayout</string>
		<key>bModelLayer</key>
		<integer>1</integer>
		<key>luaScript</key>              
		<string></string>
		<key>isVisible</key>              
		<integer>1</integer>
		<key>transform</key>             
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>z</key>
			<integer>0</integer>
		</dict>
		<key>children</key> 
		<array>
 			<dict>
			  <key>type</key>
			  <string>UIContainer</string>
			  <key>tag</key>
			  <integer>0</integer>
			  <key>name</key>
			  <string>alchemyEquipContainer</string>
			  <key>luaScript</key>              
 			  <string></string>
			  <key>isVisible</key>              
			  <integer>1</integer>
			  <key>transform</key>              
			  <dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>z</key>
				<integer>0</integer>
			  </dict>
			  <key>refMode</key>                
			  <integer>1</integer>
			  <key>refPointMode</key>           
			  <integer>5</integer>
			  <key>widthScale</key>             
			  <integer>5000</integer>
			  <key>widthOffset</key>            
			  <integer>0</integer>
			  <key>heightScale</key>            
			  <integer>5000</integer>
			  <key>heightOffset</key>          
			  <integer>0</integer>
			  <key>width</key>                  
			  <integer>0</integer>
			  <key>height</key>                 
			  <integer>0</integer>
			  <key>refObjName</key>             
			  <string></string>
			  <key>children</key>               
			  <array> 
				<dict>
					<key>type</key>
					<string>UIPicture</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>alchemyBackPic</string>
					<key>resourceName</key>
					<string>map_ui_FRAME_ALCHEMY_BACKGROUND</string>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>	
				<dict>
					<key>type</key>
					<string>UIPicture</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>alchemyDecoration</string>
					<key>resourceName</key>
					<string>map_ui_FRAME_ALCHEMY_BACKGROUND_DECORATION</string>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>	
				<dict>
					<key>type</key>
					<string>UIPicture</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>alchemySoulBg</string>
					<key>resourceName</key>
					<string>map_ui_FRAME_ALCHEMY_SOUL_BACKGROUND</string>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UIPicture</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>alchemyDecoration1</string>
					<key>resourceName</key>
					<string>map_ui_FRAME_ALCHEMY_BACKGROUND_DECORATION1</string>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>	
				<dict>
					<key>type</key>
					<string>UIPicture</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>alchemyEquipGridBg</string>
					<key>resourceName</key>
					<string>map_ui_FRAME_ALCHEMY_GRID_BACKGROUND2</string>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>alchemyTitleLable</string>
					<key>color</key>
					<dict>
						<key>red</key>
						<integer>255</integer>
						<key>green</key>
						<integer>255</integer>
						<key>blue</key>
						<integer>0</integer>
					</dict>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_ALCHEMY_TEXT_TITLE</string>
						<key>alignment</key>
						<integer>1</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string>灵石背包</string>
					<key>fontSize</key>
					<integer>28</integer>
				</dict>		
				<dict>
					<key>type</key>
					<string>UIPicture</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>alchemyDecorationHero</string>
					<key>resourceName</key>
					<string>map_ui_FRAME_ALCHEMY_DECORATION_MC</string>
					<key>useASposition</key>
					<integer>1</integer>
					<key>AspriteManager</key>
					<dict>
						<key>images</key>
						<dict>
							<key>0</key>
							<string>UI/ui.png</string>
							<key>1</key>
							<string>UI/ui_Alchemy.png</string>
							<key>imagecount</key>
							<integer>2</integer>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>type</key>
					<string>UIButton</string>
					<key>tag</key>
					<integer>3</integer>
					<key>name</key>
					<string>helpBt</string>
					<key>isVisible</key>            
					<integer>1</integer>
					<key>clickedCallback</key>        
					<string>AlchemyUILayer::onHelpButtonClicked2</string>
					<key>texture</key>               
					<dict>
						<key>normalTexture</key>      
						<string>map_ui_FRAME_ALCHEMY_BUTTON_HELP2</string>
						<key>clickedTexture</key>     
						<string>map_ui_FRAME_ALCHEMY_BUTTON_HELP2_CLICKED</string>
						<key>iconTexture</key>     
						<string>map_ui_system_icon_FRAME_ICON_HELPHINT</string>
					</dict>
					<key>useASposition</key>         
					<integer>1</integer>
					<key>drag</key>
					  <dict>
						<key>priority</key>
						<integer>-130</integer>
					  </dict>
				</dict>
				<dict>
					<key>type</key>
					<string>UIPicture</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>alchemyDecorationFairy</string>
					<key>resourceName</key>
					<string>map_ui_FRAME_ALCHEMY_DECORATION_FAIRY</string>
					<key>useASposition</key>
					<integer>1</integer>
					<key>AspriteManager</key>
					<dict>
						<key>images</key>
						<dict>
							<key>0</key>
							<string>UI/ui.png</string>
							<key>1</key>
							<string>UI/ui_Alchemy.png</string>
							<key>imagecount</key>
							<integer>2</integer>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>type</key>
					<string>UIPicture</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>alchemyEquipGridSoulPlace</string>
					<key>resourceName</key>
					<string>map_ui_FRAME_ALCHEMY_GRID_SOULPLACE</string>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UIButton</string>
					<key>tag</key>
					<integer>3</integer>
					<key>name</key>
					<string>equipCloseBt</string>
					<key>isVisible</key>            
					<integer>1</integer>
					<key>clickedCallback</key>        
					<string>AlchemyUILayer::onClosedBtClicked</string>
					<key>texture</key>               
					<dict>
						<key>normalTexture</key>      
						<string>map_ui_FRAME_ALCHEMY_BUTTON_CLOSE</string>
						<key>clickedTexture</key>     
						<string>map_ui_FRAME_ALCHEMY_BUTTON_CLOSE_CLICKED</string>
					</dict>
					<key>useASposition</key>         
					<integer>1</integer>
					<key>drag</key>
					  <dict>
						<key>priority</key>
						<integer>-130</integer>
					  </dict>
				</dict>
				<dict>
					<key>type</key>
					<string>UIButton</string>
					<key>tag</key>
					<integer>3</integer>
					<key>name</key>
					<string>alchemyEquipGrid1</string>
					<key>isVisible</key>
					<integer>1</integer>
					<key>clickedCallback</key>
					<string>AlchemyUILayer::onEquipClicked</string>
					<key>drag</key>
					<dict>
						<key>priority</key>
						<integer>-130</integer>
						<key>itemType</key>
						<integer>9</integer>
						<key>itemIndex</key>
						<integer>1</integer>
					</dict>
					<key>texture</key>
					<dict>
						<key>normalTexture</key>
						<string>map_ui_FRAME_ALCHEMY_ICON_GRID3</string>
						<key>clickedTexture</key>
						<string>map_ui_FRAME_ALCHEMY_ICON_GRID3</string>
					</dict>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UIButton</string>
					<key>tag</key>
					<integer>3</integer>
					<key>name</key>
					<string>alchemyEquipGrid2</string>
					<key>isVisible</key>
					<integer>1</integer>
					<key>clickedCallback</key>
					<string>AlchemyUILayer::onEquipClicked</string>
					<key>drag</key>
					<dict>
						<key>priority</key>
						<integer>-130</integer>
						<key>itemType</key>
						<integer>9</integer>
						<key>itemIndex</key>
						<integer>2</integer>
					</dict>
					<key>texture</key>
					<dict>
						<key>normalTexture</key>
						<string>map_ui_FRAME_ALCHEMY_ICON_GRID4</string>
						<key>clickedTexture</key>
						<string>map_ui_FRAME_ALCHEMY_ICON_GRID4</string>
					</dict>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UIButton</string>
					<key>tag</key>
					<integer>3</integer>
					<key>name</key>
					<string>alchemyEquipGrid3</string>
					<key>isVisible</key>
					<integer>1</integer>
					<key>clickedCallback</key>
					<string>AlchemyUILayer::onEquipClicked</string>
					<key>drag</key>
					<dict>
						<key>priority</key>
						<integer>-130</integer>
						<key>itemType</key>
						<integer>9</integer>
						<key>itemIndex</key>
						<integer>3</integer>
					</dict>
					<key>texture</key>
					<dict>
						<key>normalTexture</key>
						<string>map_ui_FRAME_ALCHEMY_ICON_GRID5</string>
						<key>clickedTexture</key>
						<string>map_ui_FRAME_ALCHEMY_ICON_GRID5</string>
					</dict>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UIButton</string>
					<key>tag</key>
					<integer>3</integer>
					<key>name</key>
					<string>alchemyEquipGrid4</string>
					<key>isVisible</key>
					<integer>1</integer>
					<key>clickedCallback</key>
					<string>AlchemyUILayer::onEquipClicked</string>
					<key>drag</key>
					<dict>
						<key>priority</key>
						<integer>-130</integer>
						<key>itemType</key>
						<integer>9</integer>
						<key>itemIndex</key>
						<integer>4</integer>
					</dict>
					<key>texture</key>
					<dict>
						<key>normalTexture</key>
						<string>map_ui_FRAME_ALCHEMY_ICON_GRID6</string>
						<key>clickedTexture</key>
						<string>map_ui_FRAME_ALCHEMY_ICON_GRID6</string>
					</dict>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UIButton</string>
					<key>tag</key>
					<integer>3</integer>
					<key>name</key>
					<string>alchemyEquipGrid5</string>
					<key>isVisible</key>
					<integer>1</integer>
					<key>clickedCallback</key>
					<string>AlchemyUILayer::onEquipClicked</string>
					<key>drag</key>
					<dict>
						<key>priority</key>
						<integer>-130</integer>
						<key>itemType</key>
						<integer>9</integer>
						<key>itemIndex</key>
						<integer>5</integer>
					</dict>
					<key>texture</key>
					<dict>
						<key>normalTexture</key>
						<string>map_ui_FRAME_ALCHEMY_ICON_GRID7</string>
						<key>clickedTexture</key>
						<string>map_ui_FRAME_ALCHEMY_ICON_GRID7</string>
					</dict>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UIButton</string>
					<key>tag</key>
					<integer>3</integer>
					<key>name</key>
					<string>alchemyEquipGrid6</string>
					<key>isVisible</key>
					<integer>1</integer>
					<key>clickedCallback</key>
					<string>AlchemyUILayer::onEquipClicked</string>
					<key>drag</key>
					<dict>
						<key>priority</key>
						<integer>-130</integer>
						<key>itemType</key>
						<integer>9</integer>
						<key>itemIndex</key>
						<integer>6</integer>
					</dict>
					<key>texture</key>
					<dict>
						<key>normalTexture</key>
						<string>map_ui_FRAME_ALCHEMY_ICON_GRID8</string>
						<key>clickedTexture</key>
						<string>map_ui_FRAME_ALCHEMY_ICON_GRID8</string>
					</dict>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UIButton</string>
					<key>tag</key>
					<integer>3</integer>
					<key>name</key>
					<string>alchemyEquipGrid7</string>
					<key>isVisible</key>
					<integer>1</integer>
					<key>clickedCallback</key>
					<string>AlchemyUILayer::onEquipClicked</string>
					<key>drag</key>
					<dict>
						<key>priority</key>
						<integer>-130</integer>
						<key>itemType</key>
						<integer>9</integer>
						<key>itemIndex</key>
						<integer>7</integer>
					</dict>
					<key>texture</key>
					<dict>
						<key>normalTexture</key>
						<string>map_ui_FRAME_ALCHEMY_ICON_GRID1</string>
						<key>clickedTexture</key>
						<string>map_ui_FRAME_ALCHEMY_ICON_GRID1</string>
					</dict>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UIButton</string>
					<key>tag</key>
					<integer>3</integer>
					<key>name</key>
					<string>alchemyEquipGrid8</string>
					<key>isVisible</key>
					<integer>1</integer>
					<key>clickedCallback</key>
					<string>AlchemyUILayer::onEquipClicked</string>
					<key>drag</key>
					<dict>
						<key>priority</key>
						<integer>-130</integer>
						<key>itemType</key>
						<integer>9</integer>
						<key>itemIndex</key>
						<integer>8</integer>
					</dict>
					<key>texture</key>
					<dict>
						<key>normalTexture</key>
						<string>map_ui_FRAME_ALCHEMY_ICON_GRID2</string>
						<key>clickedTexture</key>
						<string>map_ui_FRAME_ALCHEMY_ICON_GRID2</string>
					</dict>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>alchemyEquipGridLabel1</string>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_ALCHEMY_TEXT_GRID3LEVEL</string>
						<key>alignment</key>
						<integer>1</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string>Lv45</string>
					<key>fontSize</key>
					<integer>24</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>alchemyEquipGridLabel2</string>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_ALCHEMY_TEXT_GRID4LEVEL</string>
						<key>alignment</key>
						<integer>1</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string>Lv50</string>
					<key>fontSize</key>
					<integer>24</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>alchemyEquipGridLabel3</string>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_ALCHEMY_TEXT_GRID5LEVEL</string>
						<key>alignment</key>
						<integer>1</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string>Lv55</string>
					<key>fontSize</key>
					<integer>24</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>alchemyEquipGridLabel4</string>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_ALCHEMY_TEXT_GRID6LEVEL</string>
						<key>alignment</key>
						<integer>1</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string>Lv60</string>
					<key>fontSize</key>
					<integer>24</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>alchemyEquipGridLabel5</string>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_ALCHEMY_TEXT_GRID7LEVEL</string>
						<key>alignment</key>
						<integer>1</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string>Lv65</string>
					<key>fontSize</key>
					<integer>24</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>alchemyEquipGridLabel6</string>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_ALCHEMY_TEXT_GRID8LEVEL</string>
						<key>alignment</key>
						<integer>1</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string>Lv70</string>
					<key>fontSize</key>
					<integer>24</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>alchemyEquipGridLabel7</string>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_ALCHEMY_TEXT_GRID1LEVEL</string>
						<key>alignment</key>
						<integer>1</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string>Lv75</string>
					<key>fontSize</key>
					<integer>24</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>alchemyEquipGridLabel8</string>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_ALCHEMY_TEXT_GRID2LEVEL</string>
						<key>alignment</key>
						<integer>1</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string>Lv80</string>
					<key>fontSize</key>
					<integer>24</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UIButton</string>
					<key>tag</key>
					<integer>3</integer>
					<key>name</key>
					<string>transformBt</string>
					<key>isVisible</key>            
					<integer>1</integer>
					<key>clickedCallback</key>        
					<string></string>
					<key>texture</key>               
					<dict>
						<key>normalTexture</key>      
						<string>map_ui_FRAME_ALCHEMY_BUTTON_TRANSFORM2</string>
						<key>clickedTexture</key>
						<string>map_ui_FRAME_ALCHEMY_BUTTON_TRANSFORM2</string>
						<key>iconTexture</key>
						<string>map_ui_system_icon_FRAME_ICON_TRANFORM</string>
					</dict>
					<key>useASposition</key>         
					<integer>1</integer>
					<key>drag</key>
					  <dict>
						<key>priority</key>
						<integer>-130</integer>
						<key>itemType</key>
						<integer>5</integer>
						<key>itemIndex</key>
						<integer>0</integer>
					  </dict>
					<key>lable</key>                  
					<dict>
						<key>content</key>             
						<string>拖入转化</string>
						<key>fontSize</key>             
						<integer>28</integer>
						<key>offsetX</key>
						<integer>0</integer>
						<key>offsetY</key>
						<integer>-40</integer>
					</dict>
				</dict>
				<dict>
					<key>type</key>
					<string>UIPicture</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>alchemyEnergyInally</string>
					<key>resourceName</key>
					<string>map_ui_FRAME_ALCHEMY_ICON_ENERGYINALL</string>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>alchemyEnergyInallLabel</string>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_ALCHEMY_NUMBER_ENERGYINALL</string>
						<key>alignment</key>
						<integer>1</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string>998</string>
					<key>fontSize</key>
					<integer>20</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UIButton</string>
					<key>tag</key>
					<integer>3</integer>
					<key>name</key>
					<string>upgradeBt</string>
					<key>isVisible</key>            
					<integer>1</integer>
					<key>clickedCallback</key>        
					<string>AlchemyUILayer::onClickUpgradeStone</string>
					<key>texture</key>               
					<dict>
						<key>normalTexture</key>      
						<string>map_ui_FRAME_ALCHEMY_BUTTON_UPGRADE</string>
						<key>clickedTexture</key>
						<string>map_ui_FRAME_ALCHEMY_BUTTON_UPGRADE_CLICKED</string>
					</dict>
					<key>useASposition</key>         
					<integer>1</integer>
					<key>drag</key>
					  <dict>
						<key>priority</key>
						<integer>-130</integer>
					  </dict>
					<key>lable</key>                  
					<dict>
						<key>content</key>             
						<string>升级</string>
						<key>fontSize</key>             
						<integer>28</integer>
					</dict>
				</dict>
				<dict>
					<key>type</key>
					<string>UIPicture</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>alchemyFrameDragInSoul</string>
					<key>resourceName</key>
					<string>map_ui_FRAME_ALCHEMY_FRAME_DRAGINSOUL</string>
					<key>useASposition</key>
					<integer>1</integer>
					<key>AspriteManager</key>
					<dict>
						<key>images</key>
						<dict>
							<key>0</key>
							<string>UI/ui.png</string>
							<key>1</key>
							<string>UI/ui_Alchemy.png</string>
							<key>imagecount</key>
							<integer>2</integer>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>alchemyEnergyInallLabel</string>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_ALCHEMY_TEXT_DRAGINSOUL</string>
						<key>alignment</key>
						<integer>1</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string>拖入</string>
					<key>fontSize</key>
					<integer>26</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UIButton</string>
					<key>tag</key>
					<integer>3</integer>
					<key>name</key>
					<string>alchemyDragInSoulIcon</string>
					<key>isVisible</key>            
					<integer>1</integer>
					<key>clickedCallback</key>        
					<string>AlchemyUILayer::onDragInAlchemyBtClicked</string>
					<key>texture</key>               
					<dict>
						<key>normalTexture</key>      
						<string>map_ui_FRAME_ALCHEMY_ICON_DRAGINSOUL</string>
						<key>clickedTexture</key>
						<string>map_ui_FRAME_ALCHEMY_ICON_DRAGINSOUL</string>
					</dict>
					<key>useASposition</key>         
					<integer>1</integer>
					<key>drag</key>
					  <dict>
						<key>priority</key>
						<integer>-130</integer>
						<key>itemType</key>
						<integer>6</integer>
						<key>itemIndex</key>
						<integer>0</integer>
						<key>selectTime</key>
						<integer>1</integer>
					  </dict>
				</dict>
				<dict>
					<key>type</key>
					<string>UIPicture</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>alchemyFrameDragInSoul1</string>
					<key>resourceName</key>
					<string>map_ui_FRAME_ALCHEMY_ICON_DRAGINSOUL1</string>
					<key>useASposition</key>
					<integer>1</integer>
					<key>isVisible</key>            
					<integer>0</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>alchemyEnergyNeedLabel</string>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_ALCHEMY_NUMBER_ENERGYNEED</string>
						<key>alignment</key>
						<integer>1</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string></string>
					<key>fontSize</key>
					<integer>20</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UIScrollPage</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>modelScrollPage</string>
					<key>isVisible</key>
					<integer>1</integer>
					<key>transform</key>
					<dict>
						<key>x</key>
						<integer>0</integer>
						<key>y</key>
						<integer>0</integer>
						<key>z</key>
						<integer>0</integer>
					</dict>
					<key>contentWidth</key>
					<integer>1024</integer>
					<key>contentHeight</key>
					<integer>768</integer>
					<key>direction</key>
					<integer>0</integer>
					<key>indicatorOffsetX</key>
					<integer>0</integer>
					<key>indicatorOffsetY</key>
					<integer>10</integer>
					<key>frameRect</key>
					<dict>
						<key>useAscontentRect</key>
						<integer>1</integer>
						<key>rectAsIndex</key>
						<string>map_ui_FRAME_ALCHEMY_FRAME_ROLEAREA</string>
					</dict>
					<key>page</key>
					<dict>
						<key>count</key>
						<integer>0</integer>
						<key>row</key>
						<integer>0</integer>
						<key>column</key>
						<integer>0</integer>
						<key>cellOffsetX</key>
						<integer>0</integer>
						<key>cellOffsetY</key>
						<integer>0</integer>
					</dict>
				</dict>
				<dict>
					<key>type</key>
					<string>UIScrollList</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>fairyList</string>
					<key>isVisible</key>
					<integer>1</integer>
					<key>transform</key>
					<dict>
						<key>x</key>
						<integer>0</integer>
						<key>y</key>
						<integer>0</integer>
						<key>z</key>
						<integer>0</integer>
					</dict>
					<key>viewWidth</key>
					<integer>1024</integer>
					<key>viewHeight</key>
					<integer>768</integer>
					<key>contentOffsetX</key>
					<integer>0</integer>
					<key>contentOffsetY</key>
					<integer>0</integer>
					<key>contentWidth</key>
					<integer>1024</integer>
					<key>contentHeight</key>
					<integer>768</integer>
					<key>direction</key>
					<integer>0</integer>
					<key>startX</key>
					<integer>0</integer>
					<key>startY</key>
					<integer>0</integer>
					<key>background</key>
					<dict>
						<key>name</key>
						<string>map_ui_FRAME_ALCHEMY_FRAME_ICONAREA</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>roleHintLabel</string>
					<key>color</key>
						<dict>
							<key>red</key>
							<integer>0</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_ALCHEMY_TEXT_ROLEHINT</string>
						<key>alignment</key>
						<integer>1</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string></string>
					<key>fontSize</key>
					<integer>20</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UIButton</string>
					<key>tag</key>
					<integer>3</integer>
					<key>name</key>
					<string>equipToBagBt</string>
					<key>isVisible</key>            
					<integer>1</integer>
					<key>clickedCallback</key>        
					<string>AlchemyUILayer::onClosedEquipBtClicked</string>
					<key>texture</key>               
					<dict>
						<key>normalTexture</key>      
						<string>map_ui_FRAME_ALCHEMY_BUTTON_ENTERBAG</string>
						<key>clickedTexture</key>     
						<string>map_ui_FRAME_ALCHEMY_BUTTON_ENTERBAG_CLICKED</string>
						<key>iconTexture</key>     
						<string>map_ui_system_icon_FRAME_ICON_ALCHEMY</string>
					</dict>
					<key>useASposition</key>         
					<integer>1</integer>
					<key>drag</key>
					  <dict>
						<key>priority</key>
						<integer>-130</integer>
					  </dict>
				</dict>
				</array>
			</dict>	 
			
		</array>
	</dict>
</array>
</plist>