<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>UILayout</string>
		<key>tag</key>
		<integer>0</integer>
		<key>name</key>
		<string>alchemyExchangeLayout</string>
		<key>bModelLayer</key>
		<integer>1</integer>
		<key>luaScript</key>              
		<string></string>
		<key>isVisible</key>              
		<integer>1</integer>
		<key>transform</key>             
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>z</key>
			<integer>0</integer>
		</dict>
		<key>children</key> 
		<array>
 			<dict>
			  <key>type</key>
			  <string>UIContainer</string>
			  <key>tag</key>
			  <integer>0</integer>
			  <key>name</key>
			  <string>alchemyExchangeContainer</string>
			  <key>luaScript</key>              
 			  <string></string>
			  <key>isVisible</key>              
			  <integer>1</integer>
			  <key>transform</key>              
			  <dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>z</key>
				<integer>0</integer>
			  </dict>
			  <key>refMode</key>                
			  <integer>1</integer>
			  <key>refPointMode</key>           
			  <integer>5</integer>
			  <key>widthScale</key>             
			  <integer>5000</integer>
			  <key>widthOffset</key>            
			  <integer>0</integer>
			  <key>heightScale</key>            
			  <integer>5000</integer>
			  <key>heightOffset</key>          
			  <integer>0</integer>
			  <key>width</key>                  
			  <integer>0</integer>
			  <key>height</key>                 
			  <integer>0</integer>
			  <key>refObjName</key>             
			  <string></string>
			  <key>children</key>               
			  <array> 
				<dict>
					<key>type</key>
					<string>UIPicture</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>alchemyBackPic</string>
					<key>resourceName</key>
					<string>map_ui_FRAME_ALCHEMY_BACKGROUND</string>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>	
				<dict>
					<key>type</key>
					<string>UIPicture</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>alchemyDecoration</string>
					<key>resourceName</key>
					<string>map_ui_FRAME_ALCHEMY_BACKGROUND_DECORATION</string>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>	
				<dict>
					<key>type</key>
					<string>UIPicture</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>alchemyDecoration1</string>
					<key>resourceName</key>
					<string>map_ui_FRAME_ALCHEMY_BACKGROUND_DECORATION1</string>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>	
				<dict>
					<key>type</key>
					<string>UIPicture</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>alchemyExchangeBg</string>
					<key>resourceName</key>
					<string>map_ui_FRAME_ALCHEMY_EXCHANGE_BACKGROUND</string>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UIButton</string>
					<key>tag</key>
					<integer>3</integer>
					<key>name</key>
					<string>helpBt</string>
					<key>isVisible</key>            
					<integer>1</integer>
					<key>clickedCallback</key>        
					<string>AlchemyUILayer::onHelpButtonExchangeClicked</string>
					<key>texture</key>               
					<dict>
						<key>normalTexture</key>      
						<string>map_ui_FRAME_ALCHEMY_EXCHANGE_BUTTON_HELP</string>
						<key>clickedTexture</key>     
						<string>map_ui_FRAME_ALCHEMY_EXCHANGE_BUTTON_HELP_CLICKED</string>
						<key>iconTexture</key>     
						<string>map_ui_system_icon_FRAME_ICON_HELPHINT</string>
					</dict>
					<key>useASposition</key>         
					<integer>1</integer>
					<key>drag</key>
					  <dict>
						<key>priority</key>
						<integer>-130</integer>
					  </dict>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>alchemyTitleLable</string>
					<key>color</key>
					<dict>
						<key>red</key>
						<integer>255</integer>
						<key>green</key>
						<integer>255</integer>
						<key>blue</key>
						<integer>0</integer>
					</dict>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_ALCHEMY_TEXT_TITLE</string>
						<key>alignment</key>
						<integer>1</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string>灵石兑换</string>
					<key>fontSize</key>
					<integer>28</integer>
				</dict>		
				<dict>
					<key>type</key>
					<string>UIScrollList</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>clchemyList</string>
					<key>isVisible</key>
					<integer>1</integer>
					<key>transform</key>
					<dict>
						<key>x</key>
						<integer>0</integer>
						<key>y</key>
						<integer>0</integer>
						<key>z</key>
						<integer>0</integer>
					</dict>
					<key>viewWidth</key>
					<integer>1024</integer>
					<key>viewHeight</key>
					<integer>768</integer>
					<key>contentOffsetX</key>
					<integer>0</integer>
					<key>contentOffsetY</key>
					<integer>0</integer>
					<key>contentWidth</key>
					<integer>1024</integer>
					<key>contentHeight</key>
					<integer>768</integer>
					<key>direction</key>
					<integer>1</integer>
					<key>startX</key>
					<integer>0</integer>
					<key>startY</key>
					<integer>0</integer>
					<key>background</key>
					<dict>
						<key>name</key>
						<string>map_ui_FRAME_ALCHEMY_EXCHANGE_SLIDEAREA</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
				</dict>
				<dict>
					<key>type</key>
					<string>UIPicture</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>alchemyExchangeEnergyBg</string>
					<key>resourceName</key>
					<string>map_ui_FRAME_ALCHEMY_EXCHANGE_GRID_ENERGY</string>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>alchemyExchangeEnergyLabel</string>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_ALCHEMY_EXCHANGE_NUMBER_ENERGY</string>
						<key>alignment</key>
						<integer>1</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string>998</string>
					<key>fontSize</key>
					<integer>20</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UIPicture</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>alchemyExchangePieceBg</string>
					<key>resourceName</key>
					<string>map_ui_FRAME_ALCHEMY_EXCHANGE_GRID_PIECE</string>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>alchemyExchangePieceLabel</string>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_ALCHEMY_EXCHANGE_NUMBER_PIECE</string>
						<key>alignment</key>
						<integer>1</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string>666</string>
					<key>fontSize</key>
					<integer>20</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UIPicture</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>alchemyExchangeSoulPic</string>
					<key>resourceName</key>
					<string>map_ui_FRAME_ALCHEMY_EXCHANGE_SOUL_SELECTED</string>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>alchemyExchangeSelectedLabel</string>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_ALCHEMY_EXCHANGE_TEXT_SELECTSOULNAME</string>
						<key>alignment</key>
						<integer>1</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string>生命宝石</string>
					<key>fontSize</key>
					<integer>28</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>alchemyExchangeSelectedNumLabel</string>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_ALCHEMY_EXCHANGE_TEXT_SELECTSOULADD</string>
						<key>alignment</key>
						<integer>1</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string></string>
					<key>fontSize</key>
					<integer>24</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UIPicture</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>alchemyExchangeSelectedIcon</string>
					<key>resourceName</key>
					<string>map_ui_FRAME_ALCHEMY_EXCHANGE_ICON_SELECTSOULADD</string>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UIButton</string>
					<key>tag</key>
					<integer>3</integer>
					<key>name</key>
					<string>exchangeCloseBt</string>
					<key>isVisible</key>            
					<integer>1</integer>
					<key>clickedCallback</key>        
					<string>AlchemyUILayer::onClosedBtClicked</string>
					<key>texture</key>               
					<dict>
						<key>normalTexture</key>      
						<string>map_ui_FRAME_ALCHEMY_BUTTON_CLOSE</string>
						<key>clickedTexture</key>     
						<string>map_ui_FRAME_ALCHEMY_BUTTON_CLOSE_CLICKED</string>
					</dict>
					<key>useASposition</key>         
					<integer>1</integer>
					<key>drag</key>
					  <dict>
						<key>priority</key>
						<integer>-130</integer>
					  </dict>
				</dict>
				<dict>
					<key>type</key>
					<string>UIButton</string>
					<key>tag</key>
					<integer>3</integer>
					<key>name</key>
					<string>exchangeChooseBt</string>
					<key>isVisible</key>            
					<integer>1</integer>
					<key>clickedCallback</key>        
					<string>AlchemyUILayer::onClickExchangeBt</string>
					<key>texture</key>               
					<dict>
						<key>normalTexture</key>      
						<string>map_ui_FRAME_ALCHEMY_EXCHANGE_BUTTON</string>
						<key>clickedTexture</key>     
						<string>map_ui_FRAME_ALCHEMY_EXCHANGE_BUTTON_CLICKED</string>
					</dict>
					<key>useASposition</key>         
					<integer>1</integer>
					<key>drag</key>
					  <dict>
						<key>priority</key>
						<integer>-130</integer>
					  </dict>
					<key>lable</key>                  
					<dict>
						<key>content</key>             
						<string>兑换</string>
						<key>fontSize</key>             
						<integer>28</integer>
					</dict>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>alchemyExchangeUpgradeNeedLabel</string>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_ALCHEMY_EXCHANGE_TEXT_UPGRADENEED</string>
						<key>alignment</key>
						<integer>1</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string>升级需要</string>
					<key>fontSize</key>
					<integer>28</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UIPicture</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>alchemyExchangeEnergy2Icon</string>
					<key>resourceName</key>
					<string>map_ui_FRAME_ALCHEMY_EXCHANGE_ICON_ENERGY2</string>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>alchemyExchangeEnergy2Label</string>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_ALCHEMY_EXCHANGE_NUMBER_ENERGY2</string>
						<key>alignment</key>
						<integer>0</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string>0/1000</string>
					<key>fontSize</key>
					<integer>24</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>alchemyExchangeExNeedLabel</string>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_ALCHEMY_EXCHANGE_TEXT_EXNEED</string>
						<key>alignment</key>
						<integer>1</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string>兑换需要</string>
					<key>fontSize</key>
					<integer>28</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UIPicture</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>alchemyExchangePiece2Icon</string>
					<key>resourceName</key>
					<string>map_ui_FRAME_ALCHEMY_EXCHANGE_ICON_PIECE2</string>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>alchemyExchangePiece2NumberLabel</string>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_ALCHEMY_EXCHANGE_NUMBER_PIECE2</string>
						<key>alignment</key>
						<integer>0</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string></string>
					<key>fontSize</key>
					<integer>24</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UIButton</string>
					<key>tag</key>
					<integer>3</integer>
					<key>name</key>
					<string>exchangeToBagBt</string>
					<key>isVisible</key>            
					<integer>1</integer>
					<key>clickedCallback</key>        
					<string>AlchemyUILayer::onClosedExchangeBtClicked</string>
					<key>texture</key>               
					<dict>
						<key>normalTexture</key>      
						<string>map_ui_FRAME_ALCHEMY_BUTTON_ENTERBAG</string>
						<key>clickedTexture</key>     
						<string>map_ui_FRAME_ALCHEMY_BUTTON_ENTERBAG_CLICKED</string>
						<key>iconTexture</key>     
						<string>map_ui_system_icon_FRAME_ICON_ALCHEMY</string>
					</dict>
					<key>useASposition</key>         
					<integer>1</integer>
					<key>drag</key>
					  <dict>
						<key>priority</key>
						<integer>-130</integer>
					  </dict>
				</dict>
				</array>
			</dict>	 
		</array>
	</dict>
</array>
</plist>