<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>children</key>
		<array>
			<dict>
				<key>children</key>
				<array>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>imagecount</key>
								<integer>1</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
						</dict>
						<key>name</key>
						<string>BackgroundPic</string>
						<key>resourceName</key>
						<string>map_ui2_FRAME_AUTOFIGHT_BACKGROUND</string>
						<key>tag</key>
						<integer>0</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>imagecount</key>
								<integer>1</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
						</dict>
						<key>name</key>
						<string>BackgroundPic</string>
						<key>resourceName</key>
						<string>map_ui2_FRAME_AUTOFIGHT_BACKGROUND_DECORATION</string>
						<key>tag</key>
						<integer>0</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>imagecount</key>
								<integer>1</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
						</dict>
						<key>name</key>
						<string>BackgroundPic</string>
						<key>resourceName</key>
						<string>map_ui2_FRAME_AUTOFIGHT_BACKGROUND2</string>
						<key>tag</key>
						<integer>0</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>clickedCallback</key>
						<string>AutoOnHook::OnClose</string>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
						<key>isVisible</key>
						<integer>1</integer>
						<key>luaScript</key>
						<string></string>
						<key>name</key>
						<string>hook_close</string>
						<key>tag</key>
						<integer>3</integer>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>clickedTexture</key>
							<string>map_ui2_FRAME_AUTOFIGHT_BUTTON_CLOSE_CLICKED</string>
							<key>normalTexture</key>
							<string>map_ui2_FRAME_AUTOFIGHT_BUTTON_CLOSE</string>
						</dict>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>imagecount</key>
								<integer>1</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
						</dict>
						<key>name</key>
						<string>autohook_frameIcon</string>
						<key>resourceName</key>
						<string>map_ui2_FRAME_AUTOFIGHT_BACKGROUND_DECORATION1</string>
						<key>tag</key>
						<integer>0</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>第一章</string>
						<key>fontSize</key>
						<integer>24</integer>
						<key>name</key>
						<string>autohook_chapter</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_AUTOFIGHT_TEXT_CHAPTER</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>imagecount</key>
								<integer>1</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
						</dict>
						<key>name</key>
						<string>autohook_frame_instance</string>
						<key>resourceName</key>
						<string>map_ui2_FRAME_AUTOFIGHT_FRAME_INSTANCE</string>
						<key>tag</key>
						<integer>0</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>imagecount</key>
								<integer>1</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
						</dict>
						<key>name</key>
						<string>autohook_icon_instance</string>
						<key>resourceName</key>
						<string>map_ui2_FRAME_AUTOFIGHT_ICON_INSTANCE</string>
						<key>tag</key>
						<integer>0</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>迷雾森林</string>
						<key>fontSize</key>
						<integer>24</integer>
						<key>name</key>
						<string>autohook_text_instance</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_AUTOFIGHT_TEXT_INSTANCE</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>imagecount</key>
								<integer>1</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
						</dict>
						<key>name</key>
						<string>autohook_list_area</string>
						<key>resourceName</key>
						<string>map_ui2_FRAME_AUTOFIGHT_LIST_AREA</string>
						<key>tag</key>
						<integer>0</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>imagecount</key>
								<integer>1</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
						</dict>
						<key>name</key>
						<string>autohook_turn_background</string>
						<key>resourceName</key>
						<string>map_ui2_FRAME_AUTOFIGHT_TURN_BACKGROUND</string>
						<key>tag</key>
						<integer>0</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>clickedCallback</key>
						<string>AutoOnHook::OnClickTurn1</string>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
						<key>isVisible</key>
						<integer>1</integer>
						<key>luaScript</key>
						<string></string>
						<key>name</key>
						<string>hook_turn1</string>
						<key>tag</key>
						<integer>3</integer>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>clickedTexture</key>
							<string>map_ui2_FRAME_AUTOFIGHT_TURN1_SELECT</string>
							<key>normalTexture</key>
							<string>map_ui2_FRAME_AUTOFIGHT_TURN1_UNSELECT</string>
						</dict>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>clickedCallback</key>
						<string>AutoOnHook::OnClickTurn2</string>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
						<key>isVisible</key>
						<integer>1</integer>
						<key>luaScript</key>
						<string></string>
						<key>name</key>
						<string>hook_turn2</string>
						<key>tag</key>
						<integer>3</integer>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>clickedTexture</key>
							<string>map_ui2_FRAME_AUTOFIGHT_TURN2_SELECT</string>
							<key>normalTexture</key>
							<string>map_ui2_FRAME_AUTOFIGHT_TURN2_UNSELECT</string>
						</dict>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>clickedCallback</key>
						<string>AutoOnHook::OnClickTurn3</string>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
						<key>isVisible</key>
						<integer>1</integer>
						<key>luaScript</key>
						<string></string>
						<key>name</key>
						<string>hook_turn3</string>
						<key>tag</key>
						<integer>3</integer>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>clickedTexture</key>
							<string>map_ui2_FRAME_AUTOFIGHT_TURN3_SELECT</string>
							<key>normalTexture</key>
							<string>map_ui2_FRAME_AUTOFIGHT_TURN3_UNSELECT</string>
						</dict>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>turn1</string>
						<key>fontSize</key>
						<integer>24</integer>
						<key>name</key>
						<string>autohook_text_turn1</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_AUTOFIGHT_TEXT_TURN1</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>stamina1</string>
						<key>fontSize</key>
						<integer>24</integer>
						<key>name</key>
						<string>autohook_text_stamina1</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_AUTOFIGHT_TEXT_STAMINA1</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>turn2</string>
						<key>fontSize</key>
						<integer>24</integer>
						<key>name</key>
						<string>autohook_text_turn2</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_AUTOFIGHT_TEXT_TURN2</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>turn2</string>
						<key>fontSize</key>
						<integer>24</integer>
						<key>name</key>
						<string>autohook_text_stamina2</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_AUTOFIGHT_TEXT_STAMINA2</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>turn2</string>
						<key>fontSize</key>
						<integer>24</integer>
						<key>name</key>
						<string>autohook_text_stamina3</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_AUTOFIGHT_TEXT_STAMINA3</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>imagecount</key>
								<integer>1</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
						</dict>
						<key>name</key>
						<string>autohook_grid_background</string>
						<key>resourceName</key>
						<string>map_ui2_FRAME_AUTOFIGHT_GRID_BACKGROUND</string>
						<key>tag</key>
						<integer>0</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>imagecount</key>
								<integer>1</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
						</dict>
						<key>name</key>
						<string>autohook_grid_area</string>
						<key>resourceName</key>
						<string>map_ui2_FRAME_AUTOFIGHT_GRID_AREA</string>
						<key>tag</key>
						<integer>0</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>imagecount</key>
								<integer>1</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
						</dict>
						<key>name</key>
						<string>autohook_list_chapterarea</string>
						<key>resourceName</key>
						<string>map_ui2_FRAME_AUTOFIGHT_LIST_CHAPTERAREA</string>
						<key>tag</key>
						<integer>0</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>imagecount</key>
								<integer>1</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
						</dict>
						<key>name</key>
						<string>autohook_frame_countdown</string>
						<key>resourceName</key>
						<string>map_ui2_FRAME_AUTOFIGHT_FRAME_COUNTDOWN</string>
						<key>tag</key>
						<integer>0</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<!--<dict>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>倒计时：</string>
						<key>fontSize</key>
						<integer>24</integer>
						<key>name</key>
						<string>autohook_text_countdown</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_AUTOFIGHT_TEXT_COUNTDOWN</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>-->
					<dict>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>24</integer>
						<key>name</key>
						<string>auto_number_countdown</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_AUTOFIGHT_NUMBER_COUNTDOWN</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>clickedCallback</key>
						<string>AutoOnHook::OnStartAutoHook</string>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
						<key>isVisible</key>
						<integer>1</integer>
						<key>luaScript</key>
						<string></string>
						<key>name</key>
						<string>hook_start</string>
						<key>tag</key>
						<integer>3</integer>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>clickedTexture</key>
							<string>map_ui2_FRAME_AUTOFIGHT_BUTTON_START_CLICKED</string>
							<key>normalTexture</key>
							<string>map_ui2_FRAME_AUTOFIGHT_BUTTON_START</string>
						</dict>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>start</string>
						<key>fontSize</key>
						<integer>24</integer>
						<key>name</key>
						<string>auto_text_start</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_AUTOFIGHT_TEXT_START</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>clickedCallback</key>
						<string>AutoOnHook::OnSpeedUpHook</string>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
						<key>isVisible</key>
						<integer>1</integer>
						<key>luaScript</key>
						<string></string>
						<key>name</key>
						<string>hook_speedup</string>
						<key>tag</key>
						<integer>3</integer>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>clickedTexture</key>
							<string>map_ui2_FRAME_AUTOFIGHT_BUTTON_SPEEDUP_CLICKED</string>
							<key>normalTexture</key>
							<string>map_ui2_FRAME_AUTOFIGHT_BUTTON_SPEEDUP</string>
						</dict>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>speedup</string>
						<key>fontSize</key>
						<integer>24</integer>
						<key>name</key>
						<string>auto_text_speedup</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_AUTOFIGHT_TEXT_SPEEDUP</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>clickedCallback</key>
						<string>AutoOnHook::OnStopHook</string>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
						<key>isVisible</key>
						<integer>1</integer>
						<key>luaScript</key>
						<string></string>
						<key>name</key>
						<string>hook_stop</string>
						<key>tag</key>
						<integer>3</integer>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>clickedTexture</key>
							<string>map_ui2_FRAME_AUTOFIGHT_BUTTON_STOP_CLICKED</string>
							<key>normalTexture</key>
							<string>map_ui2_FRAME_AUTOFIGHT_BUTTON_STOP</string>
						</dict>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>stop</string>
						<key>fontSize</key>
						<integer>24</integer>
						<key>name</key>
						<string>auto_text_stop</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_AUTOFIGHT_TEXT_STOP</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>type</key>
						<string>UIScrollList</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>hook_characterScrollList_V</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>viewWidth</key>
						<integer>1024</integer>
						<key>viewHeight</key>
						<integer>768</integer>
						<key>contentOffsetX</key>
						<integer>0</integer>
						<key>contentOffsetY</key>
						<integer>0</integer>
						<key>contentWidth</key>
						<integer>1024</integer>
						<key>contentHeight</key>
						<integer>768</integer>
						<key>direction</key>
						<integer>1</integer>
						<key>startX</key>
						<integer>0</integer>
						<key>startY</key>
						<integer>0</integer>
						<key>background</key>
						<dict>
							<key>name</key>
							<string>map_ui2_FRAME_AUTOFIGHT_LIST_AREA</string>
							<key>useASposition</key>
							<integer>1</integer>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
						</dict>
						<key>children</key>
						<array/>
					</dict>
					<dict>
						<key>type</key>
						<string>UIScrollList</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>hook_characterScrollList_H</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>viewWidth</key>
						<integer>1024</integer>
						<key>viewHeight</key>
						<integer>768</integer>
						<key>contentOffsetX</key>
						<integer>0</integer>
						<key>contentOffsetY</key>
						<integer>0</integer>
						<key>contentWidth</key>
						<integer>1024</integer>
						<key>contentHeight</key>
						<integer>768</integer>
						<key>direction</key>
						<integer>1</integer>
						<key>startX</key>
						<integer>0</integer>
						<key>startY</key>
						<integer>0</integer>
						<key>background</key>
						<dict>
							<key>name</key>
							<string>map_ui2_FRAME_AUTOFIGHT_LIST_CHAPTERAREA</string>
							<key>useASposition</key>
							<integer>1</integer>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
						</dict>
						<key>children</key>
						<array/>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>0</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_AUTOFIGHT_AUTOFIGHT</string>
						<key>fontSize</key>
						<integer>30</integer>
						<key>name</key>
						<string>autohook_tile</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_AUTOFIGHT_TEXT_TITLE</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>11</string>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>AUTOFIGHT_NUMBER_DIAMOND_INALL</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_AUTOFIGHT_NUMBER_DIAMOND_INALL</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>imagecount</key>
								<integer>1</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
						</dict>
						<key>name</key>
						<string>AUTOFIGHT_ICON_DIAMOND_INALL</string>
						<key>resourceName</key>
						<string>map_ui2_FRAME_AUTOFIGHT_ICON_DIAMOND_INALL</string>
						<key>tag</key>
						<integer>0</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>11</string>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>AUTOFIGHT_NUMBER_COIN_INALL</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_AUTOFIGHT_NUMBER_COIN_INALL</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>imagecount</key>
								<integer>1</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
						</dict>
						<key>name</key>
						<string>AUTOFIGHT_ICON_COIN_INALL</string>
						<key>resourceName</key>
						<string>map_ui2_FRAME_AUTOFIGHT_ICON_COIN_INALL</string>
						<key>tag</key>
						<integer>0</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>imagecount</key>
								<integer>1</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
						</dict>
						<key>name</key>
						<string>AUTOFIGHT_GRID_TUBE</string>
						<key>resourceName</key>
						<string>map_ui2_FRAME_AUTOFIGHT_GRID_TUBE</string>
						<key>tag</key>
						<integer>0</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>11</string>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>AUTOFIGHT_GRID_SWEEP_TEXT</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_AUTOFIGHT_GRID_SWEEP_TEXT</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>7</integer>
							<key>green</key>
							<integer>221</integer>
							<key>red</key>
							<integer>56</integer>
						</dict>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>AUTOFIGHT_TEXT_CUE</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_AUTOFIGHT_TEXT_CUE</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>
				</array>
				<key>height</key>
				<integer>0</integer>
				<key>heightOffset</key>
				<integer>0</integer>
				<key>heightScale</key>
				<integer>5000</integer>
				<key>isVisible</key>
				<integer>1</integer>
				<key>luaScript</key>
				<string></string>
				<key>name</key>
				<string>winContainer</string>
				<key>refMode</key>
				<integer>1</integer>
				<key>refObjName</key>
				<string></string>
				<key>refPointMode</key>
				<integer>5</integer>
				<key>tag</key>
				<integer>0</integer>
				<key>transform</key>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>0</integer>
				</dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>width</key>
				<integer>0</integer>
				<key>widthOffset</key>
				<integer>0</integer>
				<key>widthScale</key>
				<integer>5000</integer>
			</dict>
		</array>
		<key>color</key>
		<dict>
			<key>alpha</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
			<key>green</key>
			<integer>0</integer>
			<key>red</key>
			<integer>0</integer>
		</dict>
		<key>isVisible</key>
		<integer>1</integer>
		<key>luaScript</key>
		<string></string>
		<key>name</key>
		<string>AutoOnHookUI</string>
		<key>tag</key>
		<integer>0</integer>
		<key>bModelLayer</key>
		<integer>1</integer>
		<key>transform</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>z</key>
			<integer>0</integer>
		</dict>
		<key>type</key>
		<string>UILayout</string>
	</dict>
</array>
</plist>
