<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>UILayout</string>
		<key>tag</key>
		<integer>0</integer>
		<key>name</key>
		<string>BattleWin</string>
		<key>bModelLayer</key>
		<integer>1</integer>
		<key>luaScript</key>              
		<string>Script/UILayer/battleWinLayer.lua</string>
		<key>isVisible</key>              
		<integer>1</integer>
		<key>transform</key>             
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>z</key>
			<integer>0</integer>
		</dict>
		<key>color</key>                 
		<dict>
			<key>red</key>
			<integer>0</integer>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
			<key>alpha</key>
			<integer>0</integer>
		</dict>
		<key>children</key>               <!--子控件，可使用所有类型的控件，需要按照各个控件的格式填写，数量不限，显示时靠上的控件会被靠下的控件遮挡-->
		<array>
 			<dict>
			  <key>type</key>
			  <string>UIContainer</string>
			  <key>tag</key>
			  <integer>0</integer>
			  <key>name</key>
			  <string>winContainer</string>
			  <key>luaScript</key>              
 			  <string></string>
			  <key>isVisible</key>              
			  <integer>1</integer>
			  <key>transform</key>              
			  <dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>z</key>
				<integer>0</integer>
			  </dict>
			  <key>refMode</key>                
			  <integer>1</integer>
			  <key>refPointMode</key>           
			  <integer>5</integer>
			  <key>widthScale</key>             
			  <integer>5000</integer>
			  <key>widthOffset</key>            
			  <integer>0</integer>
			  <key>heightScale</key>            
			  <integer>5000</integer>
			  <key>heightOffset</key>          
			  <integer>0</integer>
			  <key>width</key>                  
			  <integer>0</integer>
			  <key>height</key>                 
			  <integer>0</integer>
			  <key>refObjName</key>             
			  <string></string>
			  <key>children</key>               
			  <array> 
 				<dict>
					<key>type</key>
					<string>UIPicture</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>winBackPic</string>
					<key>transform</key>
					<dict>
					  <key>x</key>
					  <integer>0</integer>
					  <key>y</key>
					  <integer>-17</integer>
					  <key>z</key>
					  <integer>0</integer>
					</dict>
					<key>resourceName</key>
					<string>map_ui_win_FRAME_UI_WIN</string>
					<key>useASposition</key>
					<integer>1</integer>
					<key>AspriteManager</key>
					<dict>
						<key>ipad</key>
						<string>UI/ui_win.bin</string>
						<key>iphone</key>
						<string>UI/ui_win.bin</string>
					</dict>
				 </dict>	
				 <dict>
				  <key>type</key>
				  <string>UIButton</string>
				  <key>tag</key>
				  <integer>3</integer>
				  <key>name</key>
				  <string>backToTown</string>
				  <key>luaScript</key>              <!--lua脚本文件，需要使用相对路径，此条可省略-->
				  <string></string>
				  <key>isVisible</key>              <!--初始时是否可见，1为可见，0为不可见，默认为1-->
				  <integer>1</integer>
				  <key>transform</key>              <!--相对于父控件的位置，支持负数-->
				  <dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>0</integer>
				  </dict>
				  <key>clickedCallback</key>        <!--回调函数名，如"MainGameLayer::StartGame"，需要在代码中向父UILayout注册此函数才能起作用，此条可省略-->												<!--省略时如果lua脚本文件不为空，点击按钮后自动调用lua脚本；不省略时点击后只调用回调函数-->
				  <string>BattleWinLayer::clickOk</string>
				  <key>texture</key>                <!--按钮的背景框-->
				  <dict>
					<key>normalTexture</key>        <!--未被选中时的贴图名，需要使用宏定义中的贴图名-->
					<string>map_ui_win_FRAME_BUTTON_BACKTOTOWN</string>
					<key>clickedTexture</key>       <!--选中时的贴图名，需要使用宏定义中的贴图名-->
					<string>map_ui_win_FRAME_BUTTON_BACKTOTOWN_CLICKED</string>
				    <key>AspriteManager</key>
				    <dict>
					  <key>ipad</key>
					  <string>UI/ui_win.bin</string>
					  <key>iphone</key>
					  <string>UI/ui_win.bin</string>
				    </dict>
				  </dict>
				  <key>useASposition</key>          <!--是否使用Asprite中的坐标，默认为0，使用的坐标为clickedTexture的坐标-->
				  <integer>1</integer>
				  <key>drag</key>
					  <dict>
						<key>priority</key>
						<integer>-130</integer>
					  </dict>
				 </dict>	
 				</array>
			</dict>	 
		</array>
	</dict>
</array>
</plist>