<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>UILayout</string>
		<key>name</key>
		<string>BestFighterOverRewardUI</string>
		<key>isVisible</key>
		<integer>1</integer>
		<key>bModelLayer</key>
		<integer>1</integer>
		<key>children</key>
		<array>
			<dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>name</key>
				<string>BestFighterOverRewardContainer</string>
				<key>refMode</key>
				<integer>1</integer>
				<key>refPointMode</key>
				<integer>5</integer>
				<key>widthScale</key>
				<integer>5000</integer>
				<key>widthOffset</key>
				<integer>0</integer>
				<key>heightScale</key>
				<integer>5000</integer>
				<key>heightOffset</key>
				<integer>0</integer>
				<key>width</key>
				<integer>0</integer>
				<key>height</key>
				<integer>0</integer>
				<key>children</key>
				<array>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui_inbattle.png</string>
								<key>1</key>
								<string>UI/ui2.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui_inbattle.bin</string>
							<key>iphone</key>
							<string>UI/ui_inbattle.bin</string>
						</dict>
						<key>name</key>
						<string>background</string>
						<key>resourceName</key>
						<string>map_ui_inbattle_FRAME_PVPTOP_FIGHTREWARD_BACKGROUND</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui_inbattle.png</string>
								<key>1</key>
								<string>UI/ui2.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui_inbattle.bin</string>
							<key>iphone</key>
							<string>UI/ui_inbattle.bin</string>
						</dict>
						<key>name</key>
						<string>winPic</string>
						<key>resourceName</key>
						<string>map_ui_inbattle_FRAME_PVPTOP_FIGHTREWARD_DEC_WIN</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui_inbattle.png</string>
								<key>1</key>
								<string>UI/ui2.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui_inbattle.bin</string>
							<key>iphone</key>
							<string>UI/ui_inbattle.bin</string>
						</dict>
						<key>name</key>
						<string>commonCoinIcon</string>
						<key>resourceName</key>
						<string>map_ui_inbattle_FRAME_PVPTOP_FIGHTREWARD_ICON_COIN</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui_inbattle.png</string>
								<key>1</key>
								<string>UI/ui2.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui_inbattle.bin</string>
							<key>iphone</key>
							<string>UI/ui_inbattle.bin</string>
						</dict>
						<key>name</key>
						<string>commonPointIcon</string>
						<key>resourceName</key>
						<string>map_ui_inbattle_FRAME_PVPTOP_FIGHTREWARD_ICON_POINT</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui_inbattle.png</string>
								<key>1</key>
								<string>UI/ui2.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui_inbattle.bin</string>
							<key>iphone</key>
							<string>UI/ui_inbattle.bin</string>
						</dict>
						<key>name</key>
						<string>winCoinIcon</string>
						<key>resourceName</key>
						<string>map_ui_inbattle_FRAME_PVPTOP_FIGHTREWARD_ICON_COIN2</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui_inbattle.png</string>
								<key>1</key>
								<string>UI/ui2.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui_inbattle.bin</string>
							<key>iphone</key>
							<string>UI/ui_inbattle.bin</string>
						</dict>
						<key>name</key>
						<string>winPointIcon</string>
						<key>resourceName</key>
						<string>map_ui_inbattle_FRAME_PVPTOP_FIGHTREWARD_ICON_POINT2</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>109</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>fontSize</key>
						<integer>24</integer>
						<key>name</key>
						<string>fightRewardText</string>
						<key>content</key>
						<string>M_PVPTOP_FIGHTREWARD</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_inbattle.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>ASRectName</key>
							<string>map_ui_inbattle_FRAME_PVPTOP_FIGHTREWARD_AWARD_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>163</integer>
							<key>blue</key>
							<integer>64</integer>
						</dict>
						<key>fontSize</key>
						<integer>24</integer>
						<key>name</key>
						<string>commonRewardText</string>
						<key>content</key>
						<string>M_PVPTOP_COMMONREWARD</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_inbattle.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>ASRectName</key>
							<string>map_ui_inbattle_FRAME_PVPTOP_FIGHTREWARD_TEXT_COMMONREWARD</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>163</integer>
							<key>blue</key>
							<integer>64</integer>
						</dict>
						<key>fontSize</key>
						<integer>24</integer>
						<key>name</key>
						<string>winRewardText</string>
						<key>content</key>
						<string>M_PVPTOP_WINREWARD</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_inbattle.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>ASRectName</key>
							<string>map_ui_inbattle_FRAME_PVPTOP_FIGHTREWARD_TEXT_WINREWARD</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>163</integer>
							<key>blue</key>
							<integer>64</integer>
						</dict>
						<key>fontSize</key>
						<integer>24</integer>
						<key>name</key>
						<string>win_special_reward1_text</string>
						<key>content</key>
						<string>M_PVPTOP_SPECIALREWARD</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_inbattle.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>ASRectName</key>
							<string>map_ui_inbattle_FRAME_PVPTOP_FIGHTREWARD_TEXT_SPECIALREWARD</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>commonCoinNum</string>
						<key>content</key>
						<string>8888</string>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_inbattle.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>ASRectName</key>
							<string>map_ui_inbattle_FRAME_PVPTOP_FIGHTREWARD_NUM_COIN</string>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>commonPointNum</string>
						<key>content</key>
						<string>8888</string>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_inbattle.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>ASRectName</key>
							<string>map_ui_inbattle_FRAME_PVPTOP_FIGHTREWARD_NUM_POINT</string>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>winCoinNum</string>
						<key>content</key>
						<string>8888</string>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_inbattle.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>ASRectName</key>
							<string>map_ui_inbattle_FRAME_PVPTOP_FIGHTREWARD_NUM_COIN2</string>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>winPointNum</string>
						<key>content</key>
						<string>8888</string>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_inbattle.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>ASRectName</key>
							<string>map_ui_inbattle_FRAME_PVPTOP_FIGHTREWARD_NUM_POINT2</string>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui_inbattle.png</string>
								<key>1</key>
								<string>UI/ui2.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui_inbattle.bin</string>
							<key>iphone</key>
							<string>UI/ui_inbattle.bin</string>
						</dict>
						<key>name</key>
						<string>win_icon_special_reward1</string>
						<key>resourceName</key>
						<string>map_ui_inbattle_FRAME_PVPTOP_FIGHTREWARD_ICON_SPECIALREWARD1</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui_inbattle.png</string>
								<key>1</key>
								<string>UI/ui2.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui_inbattle.bin</string>
							<key>iphone</key>
							<string>UI/ui_inbattle.bin</string>
						</dict>
						<key>name</key>
						<string>win_icon_special_reward2</string>
						<key>resourceName</key>
						<string>map_ui_inbattle_FRAME_PVPTOP_FIGHTREWARD_ICON_SPECIALREWARD2</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui_inbattle.png</string>
								<key>1</key>
								<string>UI/ui2.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui_inbattle.bin</string>
							<key>iphone</key>
							<string>UI/ui_inbattle.bin</string>
						</dict>
						<key>name</key>
						<string>win_icon_special_reward3</string>
						<key>resourceName</key>
						<string>map_ui_inbattle_FRAME_PVPTOP_FIGHTREWARD_ICON_SPECIALREWARD3</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>clickedCallback</key>
						<string>AccountsLayer::OnBack</string>
						<key>name</key>
						<string>win_onback</string>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_inbattle.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>normalTexture</key>
							<string>map_ui_inbattle_FRAME_PVPTOP_BUTTON_BACK</string>
							<key>clickedTexture</key>
							<string>map_ui_inbattle_FRAME_PVPTOP_BUTTON_BACK_CLICKED</string>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>24</integer>
						<key>name</key>
						<string>win_text_backToTown</string>
						<key>content</key>
						<string>回城</string>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_inbattle.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>ASRectName</key>
							<string>map_ui_inbattle_FRAME_PVPTOP_TEXT_BACK</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
