<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>UILayout</string>
		<key>name</key>
		<string>BestFighterMatchEmptyUI</string>
		<key>isVisible</key>
		<integer>1</integer>
		<key>bModelLayer</key>
		<integer>1</integer>
		<key>bModelPriorty</key>
		<integer>-131</integer>
		<key>children</key>
		<array>
			<dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>name</key>
				<string>BestFighterMatchEmptyContainer</string>
				<key>refMode</key>
				<integer>1</integer>
				<key>refPointMode</key>
				<integer>5</integer>
				<key>widthScale</key>
				<integer>5000</integer>
				<key>widthOffset</key>
				<integer>0</integer>
				<key>heightScale</key>
				<integer>5000</integer>
				<key>heightOffset</key>
				<integer>0</integer>
				<key>width</key>
				<integer>0</integer>
				<key>height</key>
				<integer>0</integer>
				<key>children</key>
				<array>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui_inbattle.png</string>
								<key>1</key>
								<string>UI/ui2.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui_inbattle.bin</string>
							<key>iphone</key>
							<string>UI/ui_inbattle.bin</string>
						</dict>
						<key>name</key>
						<string>background</string>
						<key>resourceName</key>
						<string>map_ui_inbattle_FRAME_PVPTOP_SKIPREWARD_BACKGROUND</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui_inbattle.png</string>
								<key>1</key>
								<string>UI/ui2.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui_inbattle.bin</string>
							<key>iphone</key>
							<string>UI/ui_inbattle.bin</string>
						</dict>
						<key>name</key>
						<string>iconCoin</string>
						<key>resourceName</key>
						<string>map_ui_inbattle_FRAME_PVPTOP_SKIPREWARD_ICON_COIN</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui_inbattle.png</string>
								<key>1</key>
								<string>UI/ui2.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui_inbattle.bin</string>
							<key>iphone</key>
							<string>UI/ui_inbattle.bin</string>
						</dict>
						<key>name</key>
						<string>iconPoint</string>
						<key>resourceName</key>
						<string>map_ui_inbattle_FRAME_PVPTOP_SKIPREWARD_ICON_POINT</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>84</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>fontSize</key>
						<integer>24</integer>
						<key>name</key>
						<string>title1</string>
						<key>content</key>
						<string>M_PVPTOP_SKIPHINT</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_inbattle.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>ASRectName</key>
							<string>map_ui_inbattle_FRAME_PVPTOP_SKIPREWARD_TEXT_DESCRIPTION</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>163</integer>
							<key>blue</key>
							<integer>64</integer>
						</dict>
						<key>fontSize</key>
						<integer>24</integer>
						<key>name</key>
						<string>rewardText</string>
						<key>content</key>
						<string>M_PVPTOP_SKIPREWARD</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_inbattle.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>ASRectName</key>
							<string>map_ui_inbattle_FRAME_PVPTOP_SKIPREWARD_TEXT_REWARD</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>coinNum</string>
						<key>content</key>
						<string>8888</string>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_inbattle.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>ASRectName</key>
							<string>map_ui_inbattle_FRAME_PVPTOP_SKIPREWARD_NUM_COIN</string>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>pointNum</string>
						<key>content</key>
						<string>100</string>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_inbattle.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>ASRectName</key>
							<string>map_ui_inbattle_FRAME_PVPTOP_SKIPREWARD_NUM_POINT</string>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>name</key>
						<string>confirmBtn</string>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_inbattle.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>normalTexture</key>
							<string>map_ui_inbattle_FRAME_PVPTOP_SKIPREWARD_CONFIRM</string>
							<key>clickedTexture</key>
							<string>map_ui_inbattle_FRAME_PVPTOP_SKIPREWARD_CONFIRM_CLICKED</string>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-132</integer>
						</dict>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>24</integer>
						<key>name</key>
						<string>confirmText</string>
						<key>content</key>
						<string>确定</string>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_inbattle.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>ASRectName</key>
							<string>map_ui_inbattle_FRAME_PVPTOP_SKIPREWARD_CONFIRM</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
