<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>UILayout</string>
		<key>tag</key>
		<integer>0</integer>
		<key>name</key>
		<string>cardUILayout</string>
		<key>bModelLayer</key>
		<integer>1</integer>
		<key>isVisible</key>              
		<integer>1</integer>
		<key>transform</key>             
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>z</key>
			<integer>1</integer>
		</dict>
		<key>color</key>                 
		<dict>
			<key>red</key>
			<integer>0</integer>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
			<key>alpha</key>
			<integer>0</integer>
		</dict>
		<key>children</key> 
		<array>
			<dict>
	     		<key>type</key>
	     	    <string>UIContainer</string>
	     	    <key>tag</key>
	     	    <integer>0</integer>
	     	    <key>name</key>
	     	    <string>cardBgContainer</string>
	     	    <key>isVisible</key>              
	     	    <integer>1</integer>
	     	    <key>transform</key>              
	     	    <dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>0</integer>
	     	    </dict>
	     	    <key>refMode</key>                
	     	    <integer>1</integer>
	     	    <key>refPointMode</key>           
	     	    <integer>5</integer>
	     	    <key>widthScale</key>             
	     	    <integer>5000</integer>
	     	    <key>widthOffset</key>            
	     	    <integer>0</integer>
	     	    <key>heightScale</key>            
	     	    <integer>5000</integer>
	     	    <key>heightOffset</key>          
	     	    <integer>0</integer>
	     	    <key>width</key>                  
	     	    <integer>0</integer>
	     	    <key>height</key>                 
	     	    <integer>0</integer>
	     	    <key>refObjName</key>             
	     	    <string></string>
	     	    <key>children</key>  
	     	    <array>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>backPic</string>
						<key>resourceName</key>
						<string>map_ui_card_FRAME_CARD_BACKGROUND</string>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui_card.bin</string>
							<key>iphone</key>
							<string>UI/ui_card.bin</string>
							<key>images</key>
							<dict>
								<key>2</key>
								<string>UI/ui_card_attribute.png</string>
								<key>1</key>
								<string>UI/ui.png</string>
								<key>0</key>
								<string>UI/ui_card.png</string>
								<key>imagecount</key>
								<integer>3</integer>
							</dict>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>	
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>starPic</string>
						<key>resourceName</key>
						<string>map_ui_card_FRAME_CARD_PIC_BACKGROUND</string>
						<key>transform</key>              
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>1</integer>
						</dict>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui_card.bin</string>
							<key>iphone</key>
							<string>UI/ui_card.bin</string>
							<key>images</key>
							<dict>
								<key>1</key>
								<string>UI/ui.png</string>
								<key>0</key>
								<string>UI/ui_card.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>	
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>backPicDecoration</string>
						<key>resourceName</key>
						<string>map_ui_card_FRAME_CARD_BACKGROUND_DECORATION</string>
						<key>transform</key>              
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>2</integer>
						</dict>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui_card.bin</string>
							<key>iphone</key>
							<string>UI/ui_card.bin</string>
							<key>images</key>
							<dict>
								<key>1</key>
								<string>UI/ui.png</string>
								<key>0</key>
								<string>UI/ui_card.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>backPic2</string>
						<key>resourceName</key>
						<string>map_ui_card_FRAME_CARD_BACKGROUND2</string>
						<key>transform</key>              
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>3</integer>
						</dict>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui_card.bin</string>
							<key>iphone</key>
							<string>UI/ui_card.bin</string>
							<key>images</key>
							<dict>
								<key>1</key>
								<string>UI/ui.png</string>
								<key>0</key>
								<string>UI/ui_card.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>	
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>backTitleDecoration</string>
						<key>resourceName</key>
						<string>map_ui_card_FRAME_CARD_BACKGROUND_DECORATION2</string>
						<key>transform</key>              
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>4</integer>
						</dict>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui_card.bin</string>
							<key>iphone</key>
							<string>UI/ui_card.bin</string>
							<key>images</key>
							<dict>
								<key>1</key>
								<string>UI/ui.png</string>
								<key>0</key>
								<string>UI/ui_card.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>closeBt</string>
						<key>isVisible</key>            
						<integer>1</integer>
						<key>transform</key>              
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>4</integer>
						</dict>
						<key>clickedCallback</key>        
						<string>CardUILayer::onCloseBtClicked</string>
						<key>texture</key>               
						<dict>
							<key>normalTexture</key>      
							<string>map_ui_card_FRAME_CARD_BUTTON_CLOSE</string>
							<key>clickedTexture</key>     
							<string>map_ui_card_FRAME_CARD_BUTTON_CLOSE_CLICKED</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_card.bin</string>
								<key>iphone</key>
								<string>UI/ui_card.bin</string>
								<key>images</key>
								<dict>
									<key>1</key>
									<string>UI/ui.png</string>
									<key>0</key>
									<string>UI/ui_card.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
							</dict>
						</dict>
						<key>useASposition</key>         
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
				</array>
			</dict>
			<dict>
	     		<key>type</key>
	     	    <string>UIContainer</string>
	     	    <key>tag</key>
	     	    <integer>0</integer>
	     	    <key>name</key>
	     	    <string>cardBagContainer</string>
	     	    <key>isVisible</key>              
	     	    <integer>1</integer>
	     	    <key>transform</key>              
	     	    <dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>1</integer>
	     	    </dict>
	     	    <key>refMode</key>                
	     	    <integer>1</integer>
	     	    <key>refPointMode</key>           
	     	    <integer>5</integer>
	     	    <key>widthScale</key>             
	     	    <integer>5000</integer>
	     	    <key>widthOffset</key>            
	     	    <integer>0</integer>
	     	    <key>heightScale</key>            
	     	    <integer>5000</integer>
	     	    <key>heightOffset</key>          
	     	    <integer>0</integer>
	     	    <key>width</key>                  
	     	    <integer>0</integer>
	     	    <key>height</key>                 
	     	    <integer>0</integer>
	     	    <key>refObjName</key>             
	     	    <string></string>
	     	    <key>children</key>  
	     	    <array>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>bgTitleLable</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_card_FRAME_CARD_TEXT_TITLE2</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_card.bin</string>
								<key>iphone</key>
								<string>UI/ui_card.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_CARD_BAG</string>
						<key>fontSize</key>
						<integer>28</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIScrollPage</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>bagScrollPage</string>
						<key>luaScript</key>
						<string></string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>itemClickedCallback</key>
						<string>CardUILayer::onBagItemClicked</string>
						<key>itemType</key>
						<integer>13</integer>
						<key>contentWidth</key>
						<integer>1024</integer>
						<key>contentHeight</key>
						<integer>768</integer>
						<key>direction</key>
						<integer>0</integer>
						<key>indicatorOffsetX</key>
						<integer>0</integer>
						<key>indicatorOffsetY</key>
						<integer>-5</integer>
						<key>frameRect</key>
						<dict>
							<key>useAscontentRect</key>
							<integer>1</integer>
							<key>rectAsIndex</key>
							<string>map_ui_card_FRAME_CARD_BAG_AREA</string>
							<key>binFile</key>
							<string>UI/ui_card.bin</string>
						</dict>
						<key>page</key>
						<dict>
							<key>count</key>
							<integer>12</integer>
							<key>row</key>
							<integer>2</integer>
							<key>column</key>
							<integer>3</integer>
							<key>cellOffsetX</key>
							<integer>7</integer>
							<key>cellOffsetY</key>
							<integer>10</integer>
						</dict>
						<key>cellAsIndex</key>
						<string>map_ui_card_FRAME_CARD_ALL1</string>
						<key>cellSelectedAsIndex</key>
						<string>map_ui_card_FRAME_CARD_ALL1</string>
						<key>binFile</key>
						<string>UI/ui_card.bin</string>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>3</integer>
						<key>name</key>
						<string>bagReorderBt</string>
						<key>luaScript</key>
						<string></string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>clickedCallback</key>
						<string>CardUILayer::reOrderBagItems</string>
						<key>lable</key>
						<dict>
							<key>color</key>
							<dict>
								<key>red</key>
								<integer>255</integer>
								<key>green</key>
								<integer>255</integer>
								<key>blue</key>
								<integer>255</integer>
							</dict>
							<key>bLocalizeString</key>
							<integer>0</integer>
							<key>content</key>
							<string>整理</string>
							<key>fontSize</key>
							<integer>28</integer>
						</dict>
						<key>texture</key>
						<dict>
							<key>normalTexture</key>
							<string>map_ui_card_FRAME_CARD_BUTTON_SORT</string>
							<key>clickedTexture</key>
							<string>map_ui_card_FRAME_CARD_BUTTON_SORT_CLICKED</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_card.bin</string>
								<key>iphone</key>
								<string>UI/ui_card.bin</string>
								<key>images</key>
								<dict>
									<key>1</key>
									<string>UI/ui.png</string>
									<key>0</key>
									<string>UI/ui_card.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
							</dict>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
				</array>
			</dict>
			<dict>
	     		<key>type</key>
	     	    <string>UIContainer</string>
	     	    <key>tag</key>
	     	    <integer>0</integer>
	     	    <key>name</key>
	     	    <string>cardEquipContainer</string>
	     	    <key>isVisible</key>              
	     	    <integer>1</integer>
	     	    <key>transform</key>              
	     	    <dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>1</integer>
	     	    </dict>
	     	    <key>refMode</key>                
	     	    <integer>1</integer>
	     	    <key>refPointMode</key>           
	     	    <integer>5</integer>
	     	    <key>widthScale</key>             
	     	    <integer>5000</integer>
	     	    <key>widthOffset</key>            
	     	    <integer>0</integer>
	     	    <key>heightScale</key>            
	     	    <integer>5000</integer>
	     	    <key>heightOffset</key>          
	     	    <integer>0</integer>
	     	    <key>width</key>                  
	     	    <integer>0</integer>
	     	    <key>height</key>                 
	     	    <integer>0</integer>
	     	    <key>refObjName</key>             
	     	    <string></string>
	     	    <key>children</key>  
	     	    <array>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>backPicDecoration2</string>
						<key>resourceName</key>
						<string>map_ui_card_FRAME_CARD_BACKGROUND2_DECORATION</string>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui_card.bin</string>
							<key>iphone</key>
							<string>UI/ui_card.bin</string>
							<key>images</key>
							<dict>
								<key>1</key>
								<string>UI/ui.png</string>
								<key>0</key>
								<string>UI/ui_card.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>	
					<dict>
						<key>type</key>
						<string>UIScrollList</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>constellationList</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>viewWidth</key>
						<integer>1024</integer>
						<key>viewHeight</key>
						<integer>768</integer>
						<key>contentOffsetX</key>
						<integer>0</integer>
						<key>contentOffsetY</key>
						<integer>0</integer>
						<key>contentWidth</key>
						<integer>1024</integer>
						<key>contentHeight</key>
						<integer>768</integer>
						<key>direction</key>
						<integer>0</integer>
						<key>startX</key>
						<integer>0</integer>
						<key>startY</key>
						<integer>0</integer>
						<key>background</key>
						<dict>
							<key>name</key>
							<string>map_ui_card_FRAME_CARD_LIST_SHEET</string>
							<key>useASposition</key>
							<integer>1</integer>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_card.bin</string>
								<key>iphone</key>
								<string>UI/ui_card.bin</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>listFrontPic</string>
						<key>resourceName</key>
						<string>map_ui_card_FRAME_CARD_BACKGROUND2_DECORATION2</string>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui_card.bin</string>
							<key>iphone</key>
							<string>UI/ui_card.bin</string>
							<key>images</key>
							<dict>
								<key>1</key>
								<string>UI/ui.png</string>
								<key>0</key>
								<string>UI/ui_card.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>equipTitleLable</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_card_FRAME_CARD_TEXT_TITLE1</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_card.bin</string>
								<key>iphone</key>
								<string>UI/ui_card.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_CARD_TITLE</string>
						<key>fontSize</key>
						<integer>28</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>cardEquipBt1</string>
						<key>isVisible</key>            
						<integer>1</integer>
						<key>clickedCallback</key>        
						<string>CardUILayer::onEquipCardBtClicked</string>
						<key>texture</key>               
						<dict>
							<key>normalTexture</key>      
							<string>map_ui_card_FRAME_CARD_FRAME_CARD1</string>
							<key>clickedTexture</key>     
							<string>map_ui_card_FRAME_CARD_FRAME_CARD1</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_card.bin</string>
								<key>iphone</key>
								<string>UI/ui_card.bin</string>
								<key>images</key>
								<dict>
									<key>1</key>
									<string>UI/ui.png</string>
									<key>0</key>
									<string>UI/ui_card.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
							</dict>
						</dict>
						<key>useASposition</key>         
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
							<key>itemType</key>
							<integer>14</integer>
							<key>itemIndex</key>
							<integer>1</integer>
							<key>tappedCallback</key>
							<string>CardUILayer::onEquipmentTapped</string>
							<key>tapCancelCallback</key>
							<string>CardUILayer::onBagItemTapCancell</string>
						</dict>
					</dict>	
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>cardAttributeType1</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_card_FRAME_CARD_CARD1_ATTRIBUTE1</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_card.bin</string>
								<key>iphone</key>
								<string>UI/ui_card.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>18</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>cardEquipBt2</string>
						<key>isVisible</key>            
						<integer>1</integer>
						<key>clickedCallback</key>        
						<string>CardUILayer::onEquipCardBtClicked</string>
						<key>texture</key>               
						<dict>
							<key>normalTexture</key>      
							<string>map_ui_card_FRAME_CARD_FRAME_CARD2</string>
							<key>clickedTexture</key>     
							<string>map_ui_card_FRAME_CARD_FRAME_CARD2</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_card.bin</string>
								<key>iphone</key>
								<string>UI/ui_card.bin</string>
								<key>images</key>
								<dict>
									<key>1</key>
									<string>UI/ui.png</string>
									<key>0</key>
									<string>UI/ui_card.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
							</dict>
						</dict>
						<key>useASposition</key>         
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
							<key>itemType</key>
							<integer>14</integer>
							<key>itemIndex</key>
							<integer>2</integer>
							<key>tappedCallback</key>
							<string>CardUILayer::onEquipmentTapped</string>
							<key>tapCancelCallback</key>
							<string>CardUILayer::onBagItemTapCancell</string>
						</dict>
					</dict>	
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>cardAttributeType2</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_card_FRAME_CARD_CARD2_ATTRIBUTE1</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_card.bin</string>
								<key>iphone</key>
								<string>UI/ui_card.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>18</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>cardEquipBt3</string>
						<key>isVisible</key>            
						<integer>1</integer>
						<key>clickedCallback</key>        
						<string>CardUILayer::onEquipCardBtClicked</string>
						<key>texture</key>               
						<dict>
							<key>normalTexture</key>      
							<string>map_ui_card_FRAME_CARD_FRAME_CARD3</string>
							<key>clickedTexture</key>     
							<string>map_ui_card_FRAME_CARD_FRAME_CARD3</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_card.bin</string>
								<key>iphone</key>
								<string>UI/ui_card.bin</string>
								<key>images</key>
								<dict>
									<key>1</key>
									<string>UI/ui.png</string>
									<key>0</key>
									<string>UI/ui_card.png</string>
									<key>imagecount</key>
									<integer>2</integer>
									<key>tappedCallback</key>
								<string>CardUILayer::onEquipmentTapped</string>
								<key>tapCancelCallback</key>
								<string>CardUILayer::onBagItemTapCancell</string>
								</dict>
							</dict>
						</dict>
						<key>useASposition</key>         
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
							<key>itemType</key>
							<integer>14</integer>
							<key>itemIndex</key>
							<integer>3</integer>
						</dict>
					</dict>	
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>cardAttributeType3</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_card_FRAME_CARD_CARD3_ATTRIBUTE1</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_card.bin</string>
								<key>iphone</key>
								<string>UI/ui_card.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>18</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>carEquipLock1</string>
						<key>resourceName</key>
						<string>map_ui_card_FRAME_CARD_LOCK_CARD1</string>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui_card.bin</string>
							<key>iphone</key>
							<string>UI/ui_card.bin</string>
							<key>images</key>
							<dict>
								<key>1</key>
								<string>UI/ui.png</string>
								<key>0</key>
								<string>UI/ui_card.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>carEquipLock2</string>
						<key>resourceName</key>
						<string>map_ui_card_FRAME_CARD_LOCK_CARD2</string>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui_card.bin</string>
							<key>iphone</key>
							<string>UI/ui_card.bin</string>
							<key>images</key>
							<dict>
								<key>1</key>
								<string>UI/ui.png</string>
								<key>0</key>
								<string>UI/ui_card.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>carEquipLock3</string>
						<key>resourceName</key>
						<string>map_ui_card_FRAME_CARD_LOCK_CARD3</string>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui_card.bin</string>
							<key>iphone</key>
							<string>UI/ui_card.bin</string>
							<key>images</key>
							<dict>
								<key>1</key>
								<string>UI/ui.png</string>
								<key>0</key>
								<string>UI/ui_card.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>decoration2Lable</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_card_FRAME_CARD_TEXT_DECORATION2_TITLE</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_card.bin</string>
								<key>iphone</key>
								<string>UI/ui_card.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>28</integer>
					</dict>
				</array>
			</dict>
			<dict>
	     		<key>type</key>
	     	    <string>UIContainer</string>
	     	    <key>tag</key>
	     	    <integer>0</integer>
	     	    <key>name</key>
	     	    <string>cardShopContainer</string>
	     	    <key>isVisible</key>              
	     	    <integer>0</integer>
	     	    <key>transform</key>              
	     	    <dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>1</integer>
	     	    </dict>
	     	    <key>refMode</key>                
	     	    <integer>1</integer>
	     	    <key>refPointMode</key>           
	     	    <integer>5</integer>
	     	    <key>widthScale</key>             
	     	    <integer>5000</integer>
	     	    <key>widthOffset</key>            
	     	    <integer>0</integer>
	     	    <key>heightScale</key>            
	     	    <integer>5000</integer>
	     	    <key>heightOffset</key>          
	     	    <integer>0</integer>
	     	    <key>width</key>                  
	     	    <integer>0</integer>
	     	    <key>height</key>                 
	     	    <integer>0</integer>
	     	    <key>refObjName</key>             
	     	    <string></string>
	     	    <key>children</key>  
	     	    <array>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>shopTitle</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_card_FRAME_CARD_TEXT_TITLE1</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_card.bin</string>
								<key>iphone</key>
								<string>UI/ui_card.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_CARD_SHOP</string>
						<key>fontSize</key>
						<integer>28</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIScrollPage</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>shopPage</string>
						<key>luaScript</key>
						<string></string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>itemClickedCallback</key>
						<string>CardUILayer::onShopItemCLicked</string>
						<key>contentWidth</key>
						<integer>1024</integer>
						<key>contentHeight</key>
						<integer>768</integer>
						<key>direction</key>
						<integer>0</integer>
						<key>indicatorOffsetX</key>
						<integer>0</integer>
						<key>indicatorOffsetY</key>
						<integer>-10</integer>
						<key>page</key>
						<dict>
							<key>cellOffsetX</key>
							<integer>30</integer>
							<key>cellOffsetY</key>
							<integer>30</integer>
							<key>column</key>
							<integer>4</integer>
							<key>count</key>
							<integer>0</integer>
							<key>row</key>
							<integer>2</integer>
						</dict>
						<key>frameRect</key>
						<dict>
							<key>useAscontentRect</key>
							<integer>1</integer>
							<key>rectAsIndex</key>
							<string>map_ui_card_FRAME_CARDSHOP_AREA</string>
							<key>binFile</key>
							<string>UI/ui_card.bin</string>
						</dict>
					</dict>
				</array>
			</dict>
			<dict>
	     		<key>type</key>
	     	    <string>UIContainer</string>
	     	    <key>tag</key>
	     	    <integer>0</integer>
	     	    <key>name</key>
	     	    <string>cardButtomContainer</string>
	     	    <key>isVisible</key>              
	     	    <integer>1</integer>
	     	    <key>transform</key>              
	     	    <dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>1</integer>
	     	    </dict>
	     	    <key>refMode</key>                
	     	    <integer>1</integer>
	     	    <key>refPointMode</key>           
	     	    <integer>5</integer>
	     	    <key>widthScale</key>             
	     	    <integer>5000</integer>
	     	    <key>widthOffset</key>            
	     	    <integer>0</integer>
	     	    <key>heightScale</key>            
	     	    <integer>0</integer>
	     	    <key>heightOffset</key>          
	     	    <integer>0</integer>
	     	    <key>width</key>                  
	     	    <integer>0</integer>
	     	    <key>height</key>                 
	     	    <integer>0</integer>
	     	    <key>refObjName</key>             
	     	    <string></string>
	     	    <key>children</key>  
	     	    <array>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>cardShopBt</string>
						<key>isVisible</key>            
						<integer>1</integer>
						<key>clickedCallback</key>        
						<string>CardUILayer::onShopBtClicked</string>
						<key>texture</key>               
						<dict>
							<key>normalTexture</key>      
							<string>map_ui_card_FRAME_CARD_BUTTON_CARDSHOP</string>
							<key>clickedTexture</key>     
							<string>map_ui_card_FRAME_CARD_BUTTON_CARDSHOP_CLICKED</string>
							<key>iconTexture</key>     
							<string>map_ui_system_icon_FRAME_ICON_CARD_STORE</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_card.bin</string>
								<key>iphone</key>
								<string>UI/ui_card.bin</string>
								<key>images</key>
								<dict>
									<key>1</key>
									<string>UI/ui.png</string>
									<key>0</key>
									<string>UI/ui_card.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
							</dict>
						</dict>
						<key>useASposition</key>         
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>	
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>cardEquipEntrance</string>
						<key>isVisible</key>            
						<integer>1</integer>
						<key>clickedCallback</key>        
						<string>CardUILayer::onCardAttrPanelBtClicked</string>
						<key>texture</key>               
						<dict>
							<key>normalTexture</key>      
							<string>map_ui_card_FRAME_CARD_LOOKATTRIBUTE_BUTTON_ENTRANCE</string>
							<key>clickedTexture</key>     
							<string>map_ui_card_FRAME_CARD_LOOKATTRIBUTE_BUTTON_ENTRANCE</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_card.bin</string>
								<key>iphone</key>
								<string>UI/ui_card.bin</string>
								<key>images</key>
								<dict>
									<key>1</key>
									<string>UI/ui.png</string>
									<key>0</key>
									<string>UI/ui_card.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
							</dict>
						</dict>
						<key>useASposition</key>         
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>	
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>cardLookLabel</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_card_FRAME_CARD_LOOKATTRIBUTE_TEXT_ENTRANCE</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_card.bin</string>
								<key>iphone</key>
								<string>UI/ui_card.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_LOOK_ALLATTRIBUTES</string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>3</integer>
						<key>name</key>
						<string>helpBt</string>
						<key>isVisible</key>            
						<integer>1</integer>
						<key>clickedCallback</key>        
						<string>CardUILayer::onHelpButtonClicked</string>
						<key>texture</key>               
						<dict>
							<key>normalTexture</key>      
							<string>map_ui_card_FRAME_CARD_BUTTON_HELP</string>
							<key>clickedTexture</key>     
							<string>map_ui_card_FRAME_CARD_BUTTON_HELP_CLICKED</string>
							<key>iconTexture</key>     
							<string>map_ui_system_icon_FRAME_ICON_HELPHINT</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_card.bin</string>
								<key>iphone</key>
								<string>UI/ui_card.bin</string>
								<key>images</key>
								<dict>
									<key>1</key>
									<string>UI/ui.png</string>
									<key>0</key>
									<string>UI/ui_card.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
							</dict>
						</dict>
						<key>useASposition</key>         
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>cardShopLabel</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_card_FRAME_CARD_TEXT_CARDSHOP</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_card.bin</string>
								<key>iphone</key>
								<string>UI/ui_card.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_CARD_SHOP</string>
						<key>fontSize</key>
						<integer>26</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>cardBagBt</string>
						<key>isVisible</key>            
						<integer>0</integer>
						<key>clickedCallback</key>        
						<string>CardUILayer::onShopBtClicked</string>
						<key>texture</key>               
						<dict>
							<key>normalTexture</key>      
							<string>map_ui_card_FRAME_CARD_BUTTON_CARDSHOP</string>
							<key>clickedTexture</key>     
							<string>map_ui_card_FRAME_CARD_BUTTON_CARDSHOP_CLICKED</string>
							<key>iconTexture</key>     
							<string>map_ui_system_icon_FRAME_ICON_CARD</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_card.bin</string>
								<key>iphone</key>
								<string>UI/ui_card.bin</string>
								<key>images</key>
								<dict>
									<key>1</key>
									<string>UI/ui.png</string>
									<key>0</key>
									<string>UI/ui_card.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
							</dict>
						</dict>
						<key>useASposition</key>         
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>isVisible</key>              
						<integer>0</integer>
						<key>name</key>
						<string>cardBagLabel</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_card_FRAME_CARD_TEXT_CARDSHOP</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_card.bin</string>
								<key>iphone</key>
								<string>UI/ui_card.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_CARD_BAG</string>
						<key>fontSize</key>
						<integer>26</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>diamondPic</string>
						<key>resourceName</key>
						<string>map_ui_card_FRAME_CARD_ICON_DIAMOND_INALL</string>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui_card.bin</string>
							<key>iphone</key>
							<string>UI/ui_card.bin</string>
							<key>images</key>
							<dict>
								<key>1</key>
								<string>UI/ui.png</string>
								<key>0</key>
								<string>UI/ui_card.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>coinPic</string>
						<key>resourceName</key>
						<string>map_ui_card_FRAME_CARD_ICON_COIN_INALL</string>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui_card.bin</string>
							<key>iphone</key>
							<string>UI/ui_card.bin</string>
							<key>images</key>
							<dict>
								<key>1</key>
								<string>UI/ui.png</string>
								<key>0</key>
								<string>UI/ui_card.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>diamondLabel</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_card_FRAME_CARD_NUMBER_DIAMOND_INALL</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_card.bin</string>
								<key>iphone</key>
								<string>UI/ui_card.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>coinLabel</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_card_FRAME_CARD_NUMBER_COIN_INALL</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_card.bin</string>
								<key>iphone</key>
								<string>UI/ui_card.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
				</array>
			</dict>	
		</array>
	</dict>
</array>
</plist>