<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>UILayout</string>
		<key>tag</key>
		<integer>0</integer>
		<key>name</key>
		<string>cardAttrLayout</string>
		<key>isVisible</key>              
		<integer>1</integer>
		<key>bModelLayer</key>
		<integer>1</integer>
		<key>bModelPriorty</key>
		<integer>-131</integer>
		<key>transform</key>             
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>z</key>
			<integer>0</integer>
		</dict>
		<key>children</key> 
		<array>
 			<dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>tag</key>
				<integer>0</integer>
				<key>name</key>
				<string>attrContainer</string>
				<key>luaScript</key>              
				<string></string>
				<key>isVisible</key>              
				<integer>1</integer>
				<key>transform</key>              
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>0</integer>
				</dict>
				<key>refMode</key>                
				<integer>1</integer>
				<key>refPointMode</key>           
				<integer>5</integer>
				<key>widthScale</key>             
				<integer>5000</integer>
				<key>widthOffset</key>            
				<integer>0</integer>
				<key>heightScale</key>            
				<integer>5000</integer>
				<key>heightOffset</key>          
				<integer>0</integer>
				<key>width</key>                  
				<integer>0</integer>
				<key>height</key>                 
				<integer>0</integer>
				<key>children</key>               
				<array> 
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>backPic</string>
						<key>resourceName</key>
						<string>map_ui_card_FRAME_CARD_LOOKATTRIBUTE_BACKGROUND</string>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui_card.bin</string>
							<key>iphone</key>
							<string>UI/ui_card.bin</string>
							<key>images</key>
							<dict>
								<key>2</key>
								<string>UI/ui_card_attribute.png</string>
								<key>1</key>
								<string>UI/ui.png</string>
								<key>0</key>
								<string>UI/ui_card.png</string>
								<key>imagecount</key>
								<integer>3</integer>
							</dict>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>	
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>decordrationPic</string>
						<key>resourceName</key>
						<string>map_ui_card_FRAME_CARD_LOOKATTRIBUTE_DECORATION</string>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui_card.bin</string>
							<key>iphone</key>
							<string>UI/ui_card.bin</string>
							<key>images</key>
							<dict>
								<key>2</key>
								<string>UI/ui_card_attribute.png</string>
								<key>1</key>
								<string>UI/ui.png</string>
								<key>0</key>
								<string>UI/ui_card.png</string>
								<key>imagecount</key>
								<integer>3</integer>
							</dict>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>	
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>titleLable</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_card_FRAME_CARD_LOOKATTRIBUTE_TEXT_TITLE</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_card.bin</string>
								<key>iphone</key>
								<string>UI/ui_card.bin</string>
								<key>images</key>
								<dict>
									<key>2</key>
									<string>UI/ui_card_attribute.png</string>
									<key>1</key>
									<string>UI/ui.png</string>
									<key>0</key>
									<string>UI/ui_card.png</string>
									<key>imagecount</key>
									<integer>3</integer>
								</dict>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_CARD_ALLATTRIBUTE</string>
						<key>fontSize</key>
						<integer>28</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>okBt</string>
						<key>isVisible</key>            
						<integer>1</integer>
						<key>clickedCallback</key>        
						<string>CardAttributionLayer::onCloseBtClicked</string>
						<key>texture</key>               
						<dict>
							<key>normalTexture</key>      
							<string>map_ui_card_FRAME_CARD_LOOKATTRIBUTE_BUTTON</string>
							<key>clickedTexture</key>     
							<string>map_ui_card_FRAME_CARD_LOOKATTRIBUTE_BUTTON_CLICKED</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_card.bin</string>
								<key>iphone</key>
								<string>UI/ui_card.bin</string>
								<key>images</key>
								<dict>
									<key>2</key>
									<string>UI/ui_card_attribute.png</string>
									<key>1</key>
									<string>UI/ui.png</string>
									<key>0</key>
									<string>UI/ui_card.png</string>
									<key>imagecount</key>
									<integer>3</integer>
								</dict>
							</dict>
						</dict>
						<key>useASposition</key>         
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-132</integer>
						</dict>
					</dict>	
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>confirmLabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_card_FRAME_CARD_LOOKATTRIBUTE_TEXT_BUTTON</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_card.bin</string>
								<key>iphone</key>
								<string>UI/ui_card.bin</string>
								<key>images</key>
								<dict>
									<key>2</key>
									<string>UI/ui_card_attribute.png</string>
									<key>1</key>
									<string>UI/ui.png</string>
									<key>0</key>
									<string>UI/ui_card.png</string>
									<key>imagecount</key>
									<integer>3</integer>
								</dict>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_CONFIRM</string>
						<key>fontSize</key>
						<integer>28</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>AttrLabel3</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>238</integer>
							<key>green</key>
							<integer>166</integer>
							<key>blue</key>
							<integer>26</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_card_FRAME_CARD_LOOKATTRIBUTE_TEXT_ATTRIBUTE2</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_card.bin</string>
								<key>iphone</key>
								<string>UI/ui_card.bin</string>
								<key>images</key>
								<dict>
									<key>2</key>
									<string>UI/ui_card_attribute.png</string>
									<key>1</key>
									<string>UI/ui.png</string>
									<key>0</key>
									<string>UI/ui_card.png</string>
									<key>imagecount</key>
									<integer>3</integer>
								</dict>
							</dict>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>AttrLabel6</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>238</integer>
							<key>green</key>
							<integer>166</integer>
							<key>blue</key>
							<integer>26</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_card_FRAME_CARD_LOOKATTRIBUTE_TEXT_ATTRIBUTE3</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_card.bin</string>
								<key>iphone</key>
								<string>UI/ui_card.bin</string>
								<key>images</key>
								<dict>
									<key>2</key>
									<string>UI/ui_card_attribute.png</string>
									<key>1</key>
									<string>UI/ui.png</string>
									<key>0</key>
									<string>UI/ui_card.png</string>
									<key>imagecount</key>
									<integer>3</integer>
								</dict>
							</dict>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>AttrLabel1</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>238</integer>
							<key>green</key>
							<integer>166</integer>
							<key>blue</key>
							<integer>26</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_card_FRAME_CARD_LOOKATTRIBUTE_TEXT_ATTRIBUTE4</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_card.bin</string>
								<key>iphone</key>
								<string>UI/ui_card.bin</string>
								<key>images</key>
								<dict>
									<key>2</key>
									<string>UI/ui_card_attribute.png</string>
									<key>1</key>
									<string>UI/ui.png</string>
									<key>0</key>
									<string>UI/ui_card.png</string>
									<key>imagecount</key>
									<integer>3</integer>
								</dict>
							</dict>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>AttrLabel4</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>238</integer>
							<key>green</key>
							<integer>166</integer>
							<key>blue</key>
							<integer>26</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_card_FRAME_CARD_LOOKATTRIBUTE_TEXT_ATTRIBUTE5</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_card.bin</string>
								<key>iphone</key>
								<string>UI/ui_card.bin</string>
								<key>images</key>
								<dict>
									<key>2</key>
									<string>UI/ui_card_attribute.png</string>
									<key>1</key>
									<string>UI/ui.png</string>
									<key>0</key>
									<string>UI/ui_card.png</string>
									<key>imagecount</key>
									<integer>3</integer>
								</dict>
							</dict>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>AttrLabel2</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>238</integer>
							<key>green</key>
							<integer>166</integer>
							<key>blue</key>
							<integer>26</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_card_FRAME_CARD_LOOKATTRIBUTE_TEXT_ATTRIBUTE6</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_card.bin</string>
								<key>iphone</key>
								<string>UI/ui_card.bin</string>
								<key>images</key>
								<dict>
									<key>2</key>
									<string>UI/ui_card_attribute.png</string>
									<key>1</key>
									<string>UI/ui.png</string>
									<key>0</key>
									<string>UI/ui_card.png</string>
									<key>imagecount</key>
									<integer>3</integer>
								</dict>
							</dict>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>AttrLabel5</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>238</integer>
							<key>green</key>
							<integer>166</integer>
							<key>blue</key>
							<integer>26</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_card_FRAME_CARD_LOOKATTRIBUTE_TEXT_ATTRIBUTE7</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_card.bin</string>
								<key>iphone</key>
								<string>UI/ui_card.bin</string>
								<key>images</key>
								<dict>
									<key>2</key>
									<string>UI/ui_card_attribute.png</string>
									<key>1</key>
									<string>UI/ui.png</string>
									<key>0</key>
									<string>UI/ui_card.png</string>
									<key>imagecount</key>
									<integer>3</integer>
								</dict>
							</dict>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>AttrLabel7</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>238</integer>
							<key>green</key>
							<integer>166</integer>
							<key>blue</key>
							<integer>26</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_card_FRAME_CARD_LOOKATTRIBUTE_TEXT_ATTRIBUTE1</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_card.bin</string>
								<key>iphone</key>
								<string>UI/ui_card.bin</string>
								<key>images</key>
								<dict>
									<key>2</key>
									<string>UI/ui_card_attribute.png</string>
									<key>1</key>
									<string>UI/ui.png</string>
									<key>0</key>
									<string>UI/ui_card.png</string>
									<key>imagecount</key>
									<integer>3</integer>
								</dict>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>