<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>children</key>
		<array>
		 	<dict>
		        <key>type</key>
		        <string>UIContainer</string>
		        <key>tag</key>
		        <integer>0</integer>
		        <key>name</key>
		        <string>chatContainer</string>
		        <key>luaScript</key>              
 		        <string></string>
		        <key>isVisible</key>              
		        <integer>1</integer>
		        <key>transform</key>              
		        <dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>1</integer>
		        </dict>
		        <key>refMode</key>                
		        <integer>1</integer>
		        <key>refPointMode</key>           
		        <integer>6</integer>
		        <key>widthScale</key>             
		        <integer>5000</integer>
		        <key>widthOffset</key>            
		        <integer>0</integer>
		        <key>heightScale</key>            
		        <integer>0</integer>
		        <key>heightOffset</key>          
		        <integer>0</integer>
		        <key>width</key>                  
		        <integer>0</integer>
		        <key>height</key>                 
		        <integer>0</integer>
		        <key>refObjName</key>             
		        <string></string>
		        <key>children</key>  
		        <array> 
					<!-- <dict>
						<key>name</key>
						<string>BackgroundPic</string>
						<key>resourceName</key>
						<string>map_ui2_FRAME_FRAME_CHATAREA</string>
						<key>tag</key>
						<integer>0</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
						</dict>
					</dict> -->
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>name</key>
						<string>chatBt2</string>
						<key>clickedCallback</key>
						<string></string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>luaScript</key>
						<string></string>
						<key>tag</key>
						<integer>3</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>normalTexture</key>
							<string>map_ui2_FRAME_FRAME_CHATAREA</string>
							<key>clickedTexture</key>
							<string>map_ui2_FRAME_FRAME_CHATAREA</string>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>name</key>
						<string>chatBt</string>
						<key>clickedCallback</key>
						<string></string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>luaScript</key>
						<string></string>
						<key>tag</key>
						<integer>3</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>normalTexture</key>
							<string>map_ui2_FRAME_BUTTON_CHAT</string>
							<key>clickedTexture</key>
							<string>map_ui2_FRAME_BUTTON_CHAT_CLICKED</string>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UIScrollList</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>chatList</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>viewWidth</key>
						<integer>1024</integer>
						<key>viewHeight</key>
						<integer>768</integer>
						<key>contentOffsetX</key>
						<integer>0</integer>
						<key>contentOffsetY</key>
						<integer>0</integer>
						<key>contentWidth</key>
						<integer>1024</integer>
						<key>contentHeight</key>
						<integer>768</integer>
						<key>direction</key>
						<integer>1</integer>
						<key>startX</key>
						<integer>0</integer>
						<key>startY</key>
						<integer>0</integer>
						<key>priority</key>
						<integer>-128</integer>
						<key>deltaDistance</key>
						<integer>3</integer>
						<key>background</key>
						<dict>
							<key>name</key>
							<string>map_ui2_FRAME_TEXT_CHATAREA</string>
							<key>useASposition</key>
							<integer>1</integer>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
						</dict>
					</dict>
				</array>
			</dict>	
			<dict>
		        <key>type</key>
		        <string>UIContainer</string>
		        <key>tag</key>
		        <integer>0</integer>
		        <key>name</key>
		        <string>functionContainer</string>
		        <key>luaScript</key>              
 		        <string></string>
		        <key>isVisible</key>              
		        <integer>1</integer>
		        <key>transform</key>              
		        <dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>1</integer>
		        </dict>
		        <key>refMode</key>                
		        <integer>1</integer>
		        <key>refPointMode</key>           
		        <integer>6</integer>
		        <key>widthScale</key>             
		        <integer>5000</integer>
		        <key>widthOffset</key>            
		        <integer>0</integer>
		        <key>heightScale</key>            
		        <integer>0</integer>
		        <key>heightOffset</key>          
		        <integer>0</integer>
		        <key>width</key>                  
		        <integer>0</integer>
		        <key>height</key>                 
		        <integer>0</integer>
		        <key>refObjName</key>             
		        <string></string>
		        <key>children</key>  
		        <array> 
					<dict>
						<key>name</key>
						<string>place1</string>
						<key>resourceName</key>
						<string>map_ui2_FRAME_FRAME_COMMONFUNCTION</string>
						<key>tag</key>
						<integer>0</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>1</key>
								<string>UI/ui_ppve.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
						</dict>
					</dict>
				</array>
			</dict>	
			<dict>
				<key>children</key>
				<array>
					<dict>
						<key>clickedCallback</key>
						<string></string>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
						<key>isVisible</key>
						<integer>0</integer>
						<key>luaScript</key>
						<string></string>
						<key>name</key>
						<string>createButton</string>
						<key>tag</key>
						<integer>3</integer>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_ppve.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>clickedTexture</key>
							<string>map_ui2_FRAME_MS_BUTTON_CREATEROOM_CLICKED</string>
							<key>normalTexture</key>
							<string>map_ui2_FRAME_MS_BUTTON_CREATEROOM</string>
						</dict>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>clickedCallback</key>
						<string></string>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
						<key>isVisible</key>
						<integer>0</integer>
						<key>luaScript</key>
						<string></string>
						<key>name</key>
						<string>ppveChatButton</string>
						<key>tag</key>
						<integer>3</integer>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_ppve.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>clickedTexture</key>
							<string>map_ui2_FRAME_FRAME_CHATAREA_PPVE</string>
							<key>normalTexture</key>
							<string>map_ui2_FRAME_FRAME_CHATAREA_PPVE</string>
						</dict>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>clickedCallback</key>
						<string></string>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
						<key>isVisible</key>
						<integer>0</integer>
						<key>luaScript</key>
						<string></string>
						<key>name</key>
						<string>EnterButton</string>
						<key>tag</key>
						<integer>3</integer>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_ppve.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>clickedTexture</key>
							<string>map_ui2_FRAME_MS_BUTTON_ENTERROOM_CLICKED</string>
							<key>normalTexture</key>
							<string>map_ui2_FRAME_MS_BUTTON_ENTERROOM</string>
						</dict>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>isVisible</key>
						<integer>0</integer>
						<key>name</key>
						<string>joinLabel</string>
						<key>luaScript</key>
						<string></string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_ppve.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_MS_TEXT_ENTERROOM</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string>快速加入</string>
						<key>fontSize</key>
						<integer>28</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>name</key>
						<string>autoChatBtn</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>tag</key>
						<integer>3</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
						<key>clickedCallback</key>
						<string>PPVELayer::OnAutoChatBtnClicked</string>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_ppve.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_ppve.bin</string>
								<key>iphone</key>
								<string>UI/ui_ppve.bin</string>
							</dict>
							<key>clickedTexture</key>
							<string>map_ui_ppve_FRAME_MSROOM_BUTTON_AUTOCHAT</string>
							<key>normalTexture</key>
							<string>map_ui_ppve_FRAME_MSROOM_BUTTON_AUTOCHAT_CLICKED</string>
						</dict>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>isVisible</key>
						<integer>0</integer>
						<key>name</key>
						<string>autoChatLabel</string>
						<key>luaScript</key>
						<string></string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_ppve.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_ppve.bin</string>
								<key>iphone</key>
								<string>UI/ui_ppve.bin</string>
							</dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_ppve_FRAME_MSROOM_TEXT_AUTOCHAT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_AUTO_SPEAK</string>
						<key>fontSize</key>
						<integer>28</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>isVisible</key>
						<integer>0</integer>
						<key>name</key>
						<string>createLabel</string>
						<key>luaScript</key>
						<string></string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_ppve.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_MS_TEXT_CREATEROOM</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string>创建房间</string>
						<key>fontSize</key>
						<integer>28</integer>
					</dict>
				</array>
				<key>height</key>
				<integer>0</integer>
				<key>heightOffset</key>
				<integer>0</integer>
				<key>heightScale</key>
				<integer>0</integer>
				<key>isVisible</key>
				<integer>1</integer>
				<key>luaScript</key>
				<string></string>
				<key>name</key>
				<string>extraContainer</string>
				<key>refMode</key>
				<integer>1</integer>
				<key>refObjName</key>
				<string></string>
				<key>refPointMode</key>
				<integer>6</integer>
				<key>tag</key>
				<integer>0</integer>
				<key>transform</key>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>1</integer>
				</dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>width</key>
				<integer>0</integer>
				<key>widthOffset</key>
				<integer>0</integer>
				<key>widthScale</key>
				<integer>5000</integer>
			</dict>
		</array>
		<key>color</key>
		<dict>
			<key>alpha</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
			<key>green</key>
			<integer>0</integer>
			<key>red</key>
			<integer>0</integer>
		</dict>
		<key>isVisible</key>
		<integer>1</integer>
		<key>luaScript</key>
		<string></string>
		<key>name</key>
		<string>chatToolbar</string>
		<key>tag</key>
		<integer>0</integer>
		<key>transform</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>z</key>
			<integer>0</integer>
		</dict>
		<key>type</key>
		<string>UILayout</string>
	</dict>
</array>
</plist>
