<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>UILayout</string>
		<key>tag</key>
		<integer>0</integer>
		<key>name</key>
		<string>chatUILayout</string>
		<key>bModelLayer</key>
		<integer>1</integer>
		<key>bModelPriorty</key>
		<integer>-134</integer>
		<key>isVisible</key>              
		<integer>1</integer>
		<key>transform</key>             
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>z</key>
			<integer>3</integer>
		</dict>
		<key>color</key>                 
		<dict>
			<key>red</key>
			<integer>0</integer>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
			<key>alpha</key>
			<integer>0</integer>
		</dict>
		<key>children</key> 
		<array>
 			<dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>tag</key>
				<integer>0</integer>
				<key>name</key>
				<string>basicContainer</string>
				<key>luaScript</key>              
				<string></string>
				<key>isVisible</key>              
				<integer>1</integer>
				<key>transform</key>              
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>0</integer>
				</dict>
				<key>refMode</key>                
				<integer>1</integer>
				<key>refPointMode</key>           
				<integer>5</integer>
				<key>widthScale</key>             
				<integer>5000</integer>
				<key>widthOffset</key>            
				<integer>0</integer>
				<key>heightScale</key>            
				<integer>5000</integer>
				<key>heightOffset</key>          
				<integer>0</integer>
				<key>width</key>                  
				<integer>0</integer>
				<key>height</key>                 
				<integer>0</integer>
				<key>refObjName</key>             
				<string></string>
				<key>children</key>               
				<array> 
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>backPic</string>
						<key>resourceName</key>
						<string>map_ui2_FRAME_CHAT_BACKGROUND</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>backPic2</string>
						<key>resourceName</key>
						<string>map_ui2_FRAME_CHAT_BACKGROUND2</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>backPicDecoration</string>
						<key>resourceName</key>
						<string>map_ui2_FRAME_CHAT_BACKGROUND_DECORATION</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>closeBt</string>
						<key>isVisible</key>            
						<integer>1</integer>
						<key>clickedCallback</key>        
						<string></string>
						<key>texture</key>               
						<dict>
							<key>normalTexture</key>      
							<string>map_ui2_FRAME_CHAT_BUTTON_CLOSE</string>
							<key>clickedTexture</key>     
							<string>map_ui2_FRAME_CHAT_BUTTON_CLOSE_CLICKED</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
						</dict>
						<key>useASposition</key>         
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-135</integer>
						</dict>
					</dict>	
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>inputBackFrame</string>
						<key>resourceName</key>
						<string>map_ui2_FRAME_CHAT_FRAME_INPUTAREA</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>chatBackFrame</string>
						<key>resourceName</key>
						<string>map_ui2_FRAME_CHAT_BUTTON_INPUTCHANEL</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UIEditBox</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>chatInput</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>placeholder</key>
						<string></string>
						<key>lengthLimit</key>
						<integer>40</integer>
						<key>isPassword</key>
						<integer>0</integer>
						<key>dimensionWidth</key>
						<integer>0</integer>
						<key>dimensionHeight</key>
						<integer>0</integer>
						<key>priority</key>
						<integer>-135</integer>
						<key>fileName</key>
						<string>UI/chatEditFrame.png</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_CHAT_TEXT_INPUTAREA</string>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
						</dict>
						<key>alignment</key>
						<integer>0</integer>
						<key>fontsize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>sendChatBt</string>
						<key>isVisible</key>            
						<integer>1</integer>
						<key>clickedCallback</key>        
						<string></string>
						<key>texture</key>               
						<dict>
							<key>normalTexture</key>      
							<string>map_ui2_FRAME_CHAT_BUTTON_INPUT</string>
							<key>clickedTexture</key>     
							<string>map_ui2_FRAME_CHAT_BUTTON_INPUT_CLICKED</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
						</dict>
						<key>useASposition</key>         
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-135</integer>
						</dict>
					</dict>	
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>sendLabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_CHAT_TEXT_INPUT</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string>发送</string>
						<key>fontSize</key>
						<integer>28</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>chatArea1</string>
						<key>resourceName</key>
						<string>map_ui2_FRAME_CHAT_BACKGROUND_CHATAREA1</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>chatArea2</string>
						<key>resourceName</key>
						<string>map_ui2_FRAME_CHAT_BACKGROUND_CHATAREA2</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>chatArea3</string>
						<key>resourceName</key>
						<string>map_ui2_FRAME_CHAT_BACKGROUND_CHATAREA3</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>chatArea4</string>
						<key>resourceName</key>
						<string>map_ui2_FRAME_CHAT_BACKGROUND_CHATAREA4</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>chatArea5</string>
						<key>resourceName</key>
						<string>map_ui2_FRAME_CHAT_BACKGROUND_CHATAREA5</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>chatArea6</string>
						<key>resourceName</key>
						<string>map_ui2_FRAME_CHAT_BACKGROUND_CHATAREA6</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButtonToggle</string>
						<key>tag</key>
						<integer>1</integer>
						<key>name</key>
						<string>channelBt1</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>clickedCallback</key>
						<string></string>
						<key>toggleButtons</key>
						<array>
							<dict>
								<key>normalTexture</key>
								<string>map_ui2_FRAME_CHAT_BUTTON_CHANEL1</string>
								<key>clickedTexture</key>
								<string>map_ui2_FRAME_CHAT_BUTTON_CHANEL1</string>
								<key>AspriteManager</key>
								<dict>
									<key>ipad</key>
									<string>UI/ui2.bin</string>
									<key>iphone</key>
									<string>UI/ui2.bin</string>
								</dict>
							</dict>
							<dict>
								<key>normalTexture</key>
								<string>map_ui2_FRAME_CHAT_BUTTON_CHANEL1_SELECT</string>
								<key>clickedTexture</key>
								<string>map_ui2_FRAME_CHAT_BUTTON_CHANEL1_SELECT</string>
								<key>AspriteManager</key>
								<dict>
									<key>ipad</key>
									<string>UI/ui2.bin</string>
									<key>iphone</key>
									<string>UI/ui2.bin</string>
								</dict>
							</dict>
						</array>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-135</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButtonToggle</string>
						<key>tag</key>
						<integer>1</integer>
						<key>name</key>
						<string>channelBt2</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>clickedCallback</key>
						<string></string>
						<key>toggleButtons</key>
						<array>
							<dict>
								<key>normalTexture</key>
								<string>map_ui2_FRAME_CHAT_BUTTON_CHANEL2</string>
								<key>clickedTexture</key>
								<string>map_ui2_FRAME_CHAT_BUTTON_CHANEL2</string>
								<key>AspriteManager</key>
								<dict>
									<key>ipad</key>
									<string>UI/ui2.bin</string>
									<key>iphone</key>
									<string>UI/ui2.bin</string>
								</dict>
							</dict>
							<dict>
								<key>normalTexture</key>
								<string>map_ui2_FRAME_CHAT_BUTTON_CHANEL2_SELECT</string>
								<key>clickedTexture</key>
								<string>map_ui2_FRAME_CHAT_BUTTON_CHANEL2_SELECT</string>
								<key>AspriteManager</key>
								<dict>
									<key>ipad</key>
									<string>UI/ui2.bin</string>
									<key>iphone</key>
									<string>UI/ui2.bin</string>
								</dict>
							</dict>
						</array>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-135</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButtonToggle</string>
						<key>tag</key>
						<integer>1</integer>
						<key>name</key>
						<string>channelBt3</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>clickedCallback</key>
						<string></string>
						<key>toggleButtons</key>
						<array>
							<dict>
								<key>normalTexture</key>
								<string>map_ui2_FRAME_CHAT_BUTTON_CHANEL3</string>
								<key>clickedTexture</key>
								<string>map_ui2_FRAME_CHAT_BUTTON_CHANEL3</string>
								<key>AspriteManager</key>
								<dict>
									<key>ipad</key>
									<string>UI/ui2.bin</string>
									<key>iphone</key>
									<string>UI/ui2.bin</string>
								</dict>
							</dict>
							<dict>
								<key>normalTexture</key>
								<string>map_ui2_FRAME_CHAT_BUTTON_CHANEL3_SELECT</string>
								<key>clickedTexture</key>
								<string>map_ui2_FRAME_CHAT_BUTTON_CHANEL3_SELECT</string>
								<key>AspriteManager</key>
								<dict>
									<key>ipad</key>
									<string>UI/ui2.bin</string>
									<key>iphone</key>
									<string>UI/ui2.bin</string>
								</dict>
							</dict>
						</array>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-135</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>channelLabel1</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_CHAT_TEXT_CHANEL1</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string>世界频道</string>
						<key>fontSize</key>
						<integer>28</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>channelLabel2</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_CHAT_TEXT_CHANEL2</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string>私聊频道</string>
						<key>fontSize</key>
						<integer>28</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>channelLabel3</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_CHAT_TEXT_CHANEL3</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string>公会频道</string>
						<key>fontSize</key>
						<integer>28</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>shieldListBt</string>
						<key>isVisible</key>            
						<integer>1</integer>
						<key>clickedCallback</key>        
						<string></string>
						<key>texture</key>               
						<dict>
							<key>normalTexture</key>      
							<string>map_ui2_FRAME_CHAT_BUTTON_SHIELDLIST</string>
							<key>clickedTexture</key>     
							<string>map_ui2_FRAME_CHAT_BUTTON_SHIELDLIST_CLICKED</string>
							<key>iconTexture</key>     
							<string>map_ui_system_icon_FRAME_ICON_SHIELDLIST</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
						</dict>
						<key>useASposition</key>         
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-135</integer>
						</dict>
					</dict>	
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>shieldListLabel</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_CHAT_TEXT_SHIELDLIST</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string>屏蔽列表</string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>backPic</string>
						<key>resourceName</key>
						<string>map_ui2_FRAME_CHAT_FRAME_CHATSELECT</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButtonToggle</string>
						<key>tag</key>
						<integer>1</integer>
						<key>name</key>
						<string>chatChannelBt1</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>clickedCallback</key>
						<string></string>
						<key>toggleButtons</key>
						<array>
							<dict>
								<key>normalTexture</key>
								<string>map_ui2_FRAME_CHAT_BUTTON_INPUTCHANEL1</string>
								<key>clickedTexture</key>
								<string>map_ui2_FRAME_CHAT_BUTTON_INPUTCHANEL1</string>
								<key>AspriteManager</key>
								<dict>
									<key>ipad</key>
									<string>UI/ui2.bin</string>
									<key>iphone</key>
									<string>UI/ui2.bin</string>
								</dict>
							</dict>
							<dict>
								<key>normalTexture</key>
								<string>map_ui2_FRAME_CHAT_BUTTON_INPUTCHANEL1_SELECTED</string>
								<key>clickedTexture</key>
								<string>map_ui2_FRAME_CHAT_BUTTON_INPUTCHANEL1_SELECTED</string>
								<key>AspriteManager</key>
								<dict>
									<key>ipad</key>
									<string>UI/ui2.bin</string>
									<key>iphone</key>
									<string>UI/ui2.bin</string>
								</dict>
							</dict>
						</array>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-135</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButtonToggle</string>
						<key>tag</key>
						<integer>1</integer>
						<key>name</key>
						<string>chatChannelBt2</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>clickedCallback</key>
						<string></string>
						<key>toggleButtons</key>
						<array>
							<dict>
								<key>normalTexture</key>
								<string>map_ui2_FRAME_CHAT_BUTTON_INPUTCHANEL2</string>
								<key>clickedTexture</key>
								<string>map_ui2_FRAME_CHAT_BUTTON_INPUTCHANEL2</string>
								<key>AspriteManager</key>
								<dict>
									<key>ipad</key>
									<string>UI/ui2.bin</string>
									<key>iphone</key>
									<string>UI/ui2.bin</string>
								</dict>
							</dict>
							<dict>
								<key>normalTexture</key>
								<string>map_ui2_FRAME_CHAT_BUTTON_INPUTCHANEL2_SELECTED</string>
								<key>clickedTexture</key>
								<string>map_ui2_FRAME_CHAT_BUTTON_INPUTCHANEL2_SELECTED</string>
								<key>AspriteManager</key>
								<dict>
									<key>ipad</key>
									<string>UI/ui2.bin</string>
									<key>iphone</key>
									<string>UI/ui2.bin</string>
								</dict>
							</dict>
						</array>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-135</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButtonToggle</string>
						<key>tag</key>
						<integer>1</integer>
						<key>name</key>
						<string>chatChannelBt3</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>clickedCallback</key>
						<string></string>
						<key>toggleButtons</key>
						<array>
							<dict>
								<key>normalTexture</key>
								<string>map_ui2_FRAME_CHAT_BUTTON_INPUTCHANEL3</string>
								<key>clickedTexture</key>
								<string>map_ui2_FRAME_CHAT_BUTTON_INPUTCHANEL3</string>
								<key>AspriteManager</key>
								<dict>
									<key>ipad</key>
									<string>UI/ui2.bin</string>
									<key>iphone</key>
									<string>UI/ui2.bin</string>
								</dict>
							</dict>
							<dict>
								<key>normalTexture</key>
								<string>map_ui2_FRAME_CHAT_BUTTON_INPUTCHANEL3_SELECTED</string>
								<key>clickedTexture</key>
								<string>map_ui2_FRAME_CHAT_BUTTON_INPUTCHANEL3_SELECTED</string>
								<key>AspriteManager</key>
								<dict>
									<key>ipad</key>
									<string>UI/ui2.bin</string>
									<key>iphone</key>
									<string>UI/ui2.bin</string>
								</dict>
							</dict>
						</array>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-135</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>chatChannelLabel1</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_CHAT_TEXT_INPUTCHANEL1</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_CHAT_WORLDCHAT</string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>chatChannelLabel2</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_CHAT_TEXT_INPUTCHANEL2</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_CHAT_PRIVATECHAT</string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>chatChannelLabel3</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_CHAT_TEXT_INPUTCHANEL3</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_CHAT_CONFERENCECHAT</string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>chatLabel</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_CHAT_TEXT_INPUTCHANEL</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>tag</key>
				<integer>0</integer>
				<key>name</key>
				<string>worldChatContainer</string>
				<key>luaScript</key>              
				<string></string>
				<key>isVisible</key>              
				<integer>0</integer>
				<key>transform</key>              
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>0</integer>
				</dict>
				<key>refMode</key>                
				<integer>1</integer>
				<key>refPointMode</key>           
				<integer>5</integer>
				<key>widthScale</key>             
				<integer>5000</integer>
				<key>widthOffset</key>            
				<integer>0</integer>
				<key>heightScale</key>            
				<integer>5000</integer>
				<key>heightOffset</key>          
				<integer>0</integer>
				<key>width</key>                  
				<integer>0</integer>
				<key>height</key>                 
				<integer>0</integer>
				<key>refObjName</key>             
				<string></string>
				<key>children</key>               
				<array> 
					<dict>
						<key>type</key>
						<string>UIScrollList</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>worldChatList</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>viewWidth</key>
						<integer>1024</integer>
						<key>viewHeight</key>
						<integer>768</integer>
						<key>contentOffsetX</key>
						<integer>0</integer>
						<key>contentOffsetY</key>
						<integer>0</integer>
						<key>contentWidth</key>
						<integer>1024</integer>
						<key>contentHeight</key>
						<integer>768</integer>
						<key>direction</key>
						<integer>1</integer>
						<key>startX</key>
						<integer>0</integer>
						<key>startY</key>
						<integer>0</integer>
						<key>priority</key>
						<integer>-136</integer>
						<key>background</key>
						<dict>
							<key>name</key>
							<string>map_ui2_FRAME_CHAT_TEXT_CHATAREA</string>
							<key>useASposition</key>
							<integer>1</integer>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
						</dict>
					</dict>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>tag</key>
				<integer>0</integer>
				<key>name</key>
				<string>guildChatContainer</string>
				<key>luaScript</key>              
				<string></string>
				<key>isVisible</key>              
				<integer>0</integer>
				<key>transform</key>              
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>0</integer>
				</dict>
				<key>refMode</key>                
				<integer>1</integer>
				<key>refPointMode</key>           
				<integer>5</integer>
				<key>widthScale</key>             
				<integer>5000</integer>
				<key>widthOffset</key>            
				<integer>0</integer>
				<key>heightScale</key>            
				<integer>5000</integer>
				<key>heightOffset</key>          
				<integer>0</integer>
				<key>width</key>                  
				<integer>0</integer>
				<key>height</key>                 
				<integer>0</integer>
				<key>refObjName</key>             
				<string></string>
				<key>children</key>               
				<array> 
					<dict>
						<key>type</key>
						<string>UIScrollList</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>guildChatList</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>viewWidth</key>
						<integer>1024</integer>
						<key>viewHeight</key>
						<integer>768</integer>
						<key>contentOffsetX</key>
						<integer>0</integer>
						<key>contentOffsetY</key>
						<integer>0</integer>
						<key>contentWidth</key>
						<integer>1024</integer>
						<key>contentHeight</key>
						<integer>768</integer>
						<key>direction</key>
						<integer>1</integer>
						<key>startX</key>
						<integer>0</integer>
						<key>startY</key>
						<integer>0</integer>
						<key>priority</key>
						<integer>-136</integer>
						<key>background</key>
						<dict>
							<key>name</key>
							<string>map_ui2_FRAME_CHAT_TEXT_CHATAREA</string>
							<key>useASposition</key>
							<integer>1</integer>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
						</dict>
					</dict>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>tag</key>
				<integer>0</integer>
				<key>name</key>
				<string>personChatContainer</string>
				<key>luaScript</key>              
				<string></string>
				<key>isVisible</key>              
				<integer>0</integer>
				<key>transform</key>              
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>0</integer>
				</dict>
				<key>refMode</key>                
				<integer>1</integer>
				<key>refPointMode</key>           
				<integer>5</integer>
				<key>widthScale</key>             
				<integer>5000</integer>
				<key>widthOffset</key>            
				<integer>0</integer>
				<key>heightScale</key>            
				<integer>5000</integer>
				<key>heightOffset</key>          
				<integer>0</integer>
				<key>width</key>                  
				<integer>0</integer>
				<key>height</key>                 
				<integer>0</integer>
				<key>refObjName</key>             
				<string></string>
				<key>children</key>               
				<array> 
					<dict>
						<key>type</key>
						<string>UIScrollList</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>personChatList</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>viewWidth</key>
						<integer>1024</integer>
						<key>viewHeight</key>
						<integer>768</integer>
						<key>contentOffsetX</key>
						<integer>0</integer>
						<key>contentOffsetY</key>
						<integer>0</integer>
						<key>contentWidth</key>
						<integer>1024</integer>
						<key>contentHeight</key>
						<integer>768</integer>
						<key>direction</key>
						<integer>1</integer>
						<key>startX</key>
						<integer>0</integer>
						<key>startY</key>
						<integer>0</integer>
						<key>priority</key>
						<integer>-136</integer>
						<key>background</key>
						<dict>
							<key>name</key>
							<string>map_ui2_FRAME_CHAT_TEXT_CHATAREA</string>
							<key>useASposition</key>
							<integer>1</integer>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
						</dict>
					</dict>
				</array>
			</dict>
			<!-- <dict>
	     		<key>type</key>
	     	    <string>UIContainer</string>
	     	    <key>tag</key>
	     	    <integer>0</integer>
	     	    <key>name</key>
	     	    <string>chatButtomContainer</string>
	     	    <key>isVisible</key>              
	     	    <integer>1</integer>
	     	    <key>transform</key>              
	     	    <dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>0</integer>
	     	    </dict>
	     	    <key>refMode</key>                
	     	    <integer>1</integer>
	     	    <key>refPointMode</key>           
	     	    <integer>6</integer>
	     	    <key>widthScale</key>             
	     	    <integer>5000</integer>
	     	    <key>widthOffset</key>            
	     	    <integer>0</integer>
	     	    <key>heightScale</key>            
	     	    <integer>0</integer>
	     	    <key>heightOffset</key>          
	     	    <integer>0</integer>
	     	    <key>width</key>                  
	     	    <integer>0</integer>
	     	    <key>height</key>                 
	     	    <integer>0</integer>
	     	    <key>refObjName</key>             
	     	    <string></string>
	     	    <key>children</key>  
	     	    <array>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>friendBt</string>
						<key>isVisible</key>            
						<integer>1</integer>
						<key>clickedCallback</key>        
						<string></string>
						<key>texture</key>               
						<dict>
							<key>normalTexture</key>      
							<string>map_ui2_FRAME_CHAT_BUTTON_FRIEND</string>
							<key>clickedTexture</key>     
							<string>map_ui2_FRAME_CHAT_BUTTON_FRIEND_CLICKED</string>
							<key>iconTexture</key>     
							<string>map_ui_system_icon_FRAME_ICON_FRIENDSHIP</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
						</dict>
						<key>useASposition</key>         
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-135</integer>
						</dict>
					</dict>	
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>friendLabel</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_CHAT_TEXT_FRIEND</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_FRIEND_TITLE1</string>
						<key>fontSize</key>
						<integer>22</integer>
					</dict>
				</array>
			</dict>	 -->
		</array>
	</dict>
</array>
</plist>