<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>UILayout</string>
		<key>name</key>
		<string>CityDefendRoomListUI</string>
		<key>bModelLayer</key>
		<integer>1</integer>
		<key>isVisible</key>
		<integer>1</integer>
		<key>children</key>
		<array>
			<dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>tag</key>
				<integer>0</integer>
				<key>name</key>
				<string>CityDefendRoomListContainer</string>
				<key>isVisible</key>
				<integer>1</integer>
				<key>transform</key>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>0</integer>
				</dict>
				<key>refMode</key>
				<integer>1</integer>
				<key>refPointMode</key>
				<integer>5</integer>
				<key>widthScale</key>
				<integer>5000</integer>
				<key>widthOffset</key>
				<integer>0</integer>
				<key>heightScale</key>
				<integer>5000</integer>
				<key>heightOffset</key>
				<integer>0</integer>
				<key>width</key>
				<integer>0</integer>
				<key>height</key>
				<integer>0</integer>
				<key>refObjName</key>
				<string></string>
				<key>children</key>
				<array>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>1</key>
								<string>UI/ui_ppve.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui_ppve.bin</string>
							<key>iphone</key>
							<string>UI/ui_ppve.bin</string>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>name</key>
						<string>bgPic</string>
						<key>resourceName</key>
						<string>map_ui_ppve_FRAME_CITYDEFEND_BACKGROUND</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>refPointMode</key>
						<integer>3</integer>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>1</key>
								<string>UI/ui_ppve.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui_ppve.bin</string>
							<key>iphone</key>
							<string>UI/ui_ppve.bin</string>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>name</key>
						<string>bgPic2</string>
						<key>resourceName</key>
						<string>map_ui_ppve_FRAME_CITYDEFEND_BACKGROUND2</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>refPointMode</key>
						<integer>3</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>name</key>
						<string>closeBt</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_ppve.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_ppve.bin</string>
								<key>iphone</key>
								<string>UI/ui_ppve.bin</string>
							</dict>
							<key>normalTexture</key>
							<string>map_ui_ppve_FRAME_CITYDEFEND_BUTTON_CLOSED</string>
							<key>clickedTexture</key>
							<string>map_ui_ppve_FRAME_CITYDEFEND_BUTTON_CLOSED_CLICKED</string>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>name</key>
						<string>exchangeBt</string>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_ppve.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_ppve.bin</string>
								<key>iphone</key>
								<string>UI/ui_ppve.bin</string>
							</dict>
							<key>normalTexture</key>
							<string>map_ui_ppve_FRAME_CITYDEFEND_BUTTON_EXCHANGE</string>
							<key>clickedTexture</key>
							<string>map_ui_ppve_FRAME_CITYDEFEND_BUTTON_EXCHANGE_CLICKED</string>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>M_EXCHANGESHOP_TITLE</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>fontSize</key>
						<integer>22</integer>
						<key>name</key>
						<string>exchangeTxt</string>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_ppve.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_ppve.bin</string>
								<key>iphone</key>
								<string>UI/ui_ppve.bin</string>
							</dict>
							<key>ASRectName</key>
							<string>map_ui_ppve_FRAME_CITYDEFEND_TEXT_EXCHANGE</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>0</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>M_CITYDEFEND_TITLE</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>fontSize</key>
						<integer>24</integer>
						<key>name</key>
						<string>titleTxt</string>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_ppve.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_ppve.bin</string>
								<key>iphone</key>
								<string>UI/ui_ppve.bin</string>
							</dict>
							<key>ASRectName</key>
							<string>map_ui_ppve_FRAME_CITYDEFEND_TEXT_TITLE</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>56</integer>
							<key>green</key>
							<integer>221</integer>
							<key>red</key>
							<integer>7</integer>
						</dict>
						<key>content</key>
						<string>M_CITYDEFEND_REWARD</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>fontSize</key>
						<integer>22</integer>
						<key>name</key>
						<string>rewardTxt1</string>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_ppve.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_ppve.bin</string>
								<key>iphone</key>
								<string>UI/ui_ppve.bin</string>
							</dict>
							<key>ASRectName</key>
							<string>map_ui_ppve_FRAME_CITYDEFEND_TEXT_REWARD</string>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>255</integer>
							<key>green</key>
							<integer>184</integer>
							<key>red</key>
							<integer>0</integer>
						</dict>
						<key>content</key>
						<string>M_CITYDEFEND_REWARD1</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>fontSize</key>
						<integer>22</integer>
						<key>name</key>
						<string>rewardTxt2</string>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_ppve.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_ppve.bin</string>
								<key>iphone</key>
								<string>UI/ui_ppve.bin</string>
							</dict>
							<key>ASRectName</key>
							<string>map_ui_ppve_FRAME_CITYDEFEND_TEXT_REWARD1</string>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>56</integer>
							<key>green</key>
							<integer>221</integer>
							<key>blue</key>
							<integer>7</integer>
						</dict>
						<key>content</key>
						<string>今日剩余次数</string>
						<key>fontSize</key>
						<integer>24</integer>
						<key>name</key>
						<string>todayTimeTxt</string>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_ppve.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_ppve.bin</string>
								<key>iphone</key>
								<string>UI/ui_ppve.bin</string>
							</dict>
							<key>ASRectName</key>
							<string>map_ui_ppve_FRAME_CITYDEFEND_TEXT_REMAINTIME</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>0/0</string>
						<key>fontSize</key>
						<integer>24</integer>
						<key>name</key>
						<string>todayTimeNum</string>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_ppve.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_ppve.bin</string>
								<key>iphone</key>
								<string>UI/ui_ppve.bin</string>
							</dict>
							<key>ASRectName</key>
							<string>map_ui_ppve_FRAME_CITYDEFEND_NUMBER_REMAINTIME</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>251</integer>
							<key>green</key>
							<integer>158</integer>
							<key>blue</key>
							<integer>38</integer>
						</dict>
						<key>content</key>
						<string>房间</string>
						<key>fontSize</key>
						<integer>24</integer>
						<key>name</key>
						<string>roomTxt</string>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_ppve.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_ppve.bin</string>
								<key>iphone</key>
								<string>UI/ui_ppve.bin</string>
							</dict>
							<key>ASRectName</key>
							<string>map_ui_ppve_FRAME_CITYDEFEND_TEXT_ROOMNUMBER</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>content</key>
						<string>战斗力要求</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>251</integer>
							<key>green</key>
							<integer>158</integer>
							<key>blue</key>
							<integer>38</integer>
						</dict>
						<key>fontSize</key>
						<integer>24</integer>
						<key>name</key>
						<string>fightTxt</string>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_ppve.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_ppve.bin</string>
								<key>iphone</key>
								<string>UI/ui_ppve.bin</string>
							</dict>
							<key>ASRectName</key>
							<string>map_ui_ppve_FRAME_CITYDEFEND_TEXT_ROOMFIGHT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>content</key>
						<string>人数</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>251</integer>
							<key>green</key>
							<integer>158</integer>
							<key>blue</key>
							<integer>38</integer>
						</dict>
						<key>fontSize</key>
						<integer>24</integer>
						<key>name</key>
						<string>numTxt</string>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_ppve.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_ppve.bin</string>
								<key>iphone</key>
								<string>UI/ui_ppve.bin</string>
							</dict>
							<key>ASRectName</key>
							<string>map_ui_ppve_FRAME_CITYDEFEND_TEXT_HEADCOUNT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UIScrollList</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>roomScrollList</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>viewWidth</key>
						<integer>1024</integer>
						<key>viewHeight</key>
						<integer>768</integer>
						<key>contentOffsetX</key>
						<integer>0</integer>
						<key>contentOffsetY</key>
						<integer>0</integer>
						<key>contentWidth</key>
						<integer>1024</integer>
						<key>contentHeight</key>
						<integer>768</integer>
						<key>direction</key>
						<integer>1</integer>
						<key>startX</key>
						<integer>0</integer>
						<key>startY</key>
						<integer>0</integer>
						<key>background</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_ppve.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_ppve.bin</string>
								<key>iphone</key>
								<string>UI/ui_ppve.bin</string>
							</dict>
							<key>name</key>
							<string>map_ui_ppve_FRAME_CITYDEFEND_GRID_CONTENT</string>
							<key>useASposition</key>
							<integer>1</integer>
						</dict>
						<key>children</key>
						<array/>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
