<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>UILayout</string>
		<key>bModelLayer</key>
		<integer>1</integer>
		<key>bModelPriorty</key>
		<integer>-131</integer>
		<key>children</key>
		<array>
			<dict>
				<key>children</key>
				<array>
					<dict>
						<key>name</key>
						<string>cityListBg</string>
						<key>resourceName</key>
						<string>map_ui_worldmap_FRAME_WORLD_MAP</string>
						<key>tag</key>
						<integer>1</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>-17</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui_worldmap.bin</string>
							<key>iphone</key>
							<string>UI/ui_worldmap.bin</string>
						</dict>
					</dict>
					<dict>
						<key>clickedCallback</key>
						<string>closeCityList</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>luaScript</key>
						<string></string>
						<key>name</key>
						<string>cityListCloseBtn</string>
						<key>tag</key>
						<integer>11</integer>
						<key>texture</key>
						<dict>
							<key>clickedTexture</key>
							<string>map_ui_worldmap_FRAME_BUTTON_EXIT</string>
							<key>normalTexture</key>
							<string>map_ui_worldmap_FRAME_BUTTON_EXIT</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_worldmap.bin</string>
								<key>iphone</key>
								<string>UI/ui_worldmap.bin</string>
							</dict>
						</dict>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-132</integer>
						</dict>
					</dict>
					<dict>
						<key>clickedCallback</key>
						<string>cityClick1</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>luaScript</key>
						<string></string>
						<key>name</key>
						<string>cityBtn1</string>
						<key>tag</key>
						<integer>3</integer>
						<key>texture</key>
						<dict>
							<key>clickedTexture</key>
							<string>map_ui_worldmap_FRAME_ICON_CITY1</string>
							<key>normalTexture</key>
							<string>map_ui_worldmap_FRAME_ICON_CITY1</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_worldmap.bin</string>
								<key>iphone</key>
								<string>UI/ui_worldmap.bin</string>
							</dict>
						</dict>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-132</integer>
						</dict>
					</dict>
					<dict>
						<key>clickedCallback</key>
						<string>cityClick2</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>luaScript</key>
						<string></string>
						<key>name</key>
						<string>cityBtn2</string>
						<key>tag</key>
						<integer>3</integer>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_worldmap.bin</string>
								<key>iphone</key>
								<string>UI/ui_worldmap.bin</string>
							</dict>
							<key>clickedTexture</key>
							<string>map_ui_worldmap_FRAME_ICON_CITY2</string>
							<key>normalTexture</key>
							<string>map_ui_worldmap_FRAME_ICON_CITY2</string>
						</dict>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-132</integer>
						</dict>
					</dict>
					<dict>
						<key>clickedCallback</key>
						<string>cityClick3</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>luaScript</key>
						<string></string>
						<key>name</key>
						<string>cityBtn3</string>
						<key>tag</key>
						<integer>3</integer>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_worldmap.bin</string>
								<key>iphone</key>
								<string>UI/ui_worldmap.bin</string>
							</dict>
							<key>clickedTexture</key>
							<string>map_ui_worldmap_FRAME_ICON_CITY3</string>
							<key>normalTexture</key>
							<string>map_ui_worldmap_FRAME_ICON_CITY3</string>
						</dict>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-132</integer>
						</dict>
					</dict>
					<dict>
						<key>clickedCallback</key>
						<string>cityClick4</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>luaScript</key>
						<string></string>
						<key>name</key>
						<string>cityBtn4</string>
						<key>tag</key>
						<integer>3</integer>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_worldmap.bin</string>
								<key>iphone</key>
								<string>UI/ui_worldmap.bin</string>
							</dict>
							<key>clickedTexture</key>
							<string>map_ui_worldmap_FRAME_ICON_CITY4</string>
							<key>normalTexture</key>
							<string>map_ui_worldmap_FRAME_ICON_CITY4</string>
						</dict>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-132</integer>
						</dict>
					</dict>
					<dict>
						<key>clickedCallback</key>
						<string>cityClick5</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>luaScript</key>
						<string></string>
						<key>name</key>
						<string>cityBtn5</string>
						<key>tag</key>
						<integer>3</integer>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_worldmap.bin</string>
								<key>iphone</key>
								<string>UI/ui_worldmap.bin</string>
							</dict>
							<key>clickedTexture</key>
							<string>map_ui_worldmap_FRAME_ICON_CITY5</string>
							<key>normalTexture</key>
							<string>map_ui_worldmap_FRAME_ICON_CITY5</string>
						</dict>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-132</integer>
						</dict>
					</dict>
					<dict>
						<key>clickedCallback</key>
						<string>cityClick6</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>luaScript</key>
						<string></string>
						<key>name</key>
						<string>cityBtn6</string>
						<key>tag</key>
						<integer>3</integer>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_worldmap.bin</string>
								<key>iphone</key>
								<string>UI/ui_worldmap.bin</string>
							</dict>
							<key>clickedTexture</key>
							<string>map_ui_worldmap_FRAME_ICON_CITY6</string>
							<key>normalTexture</key>
							<string>map_ui_worldmap_FRAME_ICON_CITY6</string>
						</dict>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-132</integer>
						</dict>
					</dict>
				</array>
				<key>height</key>
				<integer>0</integer>
				<key>heightOffset</key>
				<integer>0</integer>
				<key>heightScale</key>
				<integer>5000</integer>
				<key>isVisible</key>
				<integer>1</integer>
				<key>luaScript</key>
				<string></string>
				<key>name</key>
				<string>cityListContainer</string>
				<key>refMode</key>
				<integer>1</integer>
				<key>refObjName</key>
				<string></string>
				<key>refPointMode</key>
				<integer>5</integer>
				<key>tag</key>
				<integer>0</integer>
				<key>transform</key>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>0</integer>
				</dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>width</key>
				<integer>0</integer>
				<key>widthOffset</key>
				<integer>0</integer>
				<key>widthScale</key>
				<integer>5000</integer>
			</dict>
		</array>
		<key>color</key>
		<dict>
			<key>alpha</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
			<key>green</key>
			<integer>0</integer>
			<key>red</key>
			<integer>0</integer>
		</dict>
		<key>isVisible</key>
		<integer>1</integer>
		<key>luaScript</key>
		<string></string>
		<key>name</key>
		<string>CityList</string>
		<key>tag</key>
		<integer>0</integer>
		<key>transform</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>z</key>
			<integer>0</integer>
		</dict>
	</dict>
</array>
</plist>
