<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>UILayout</string>
		<key>name</key>
		<string>CityDefendRoomUI</string>
		<key>bModelLayer</key>
		<integer>1</integer>
		<key>isVisible</key>
		<integer>1</integer>
		<key>children</key>
		<array>
			<dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>tag</key>
				<integer>0</integer>
				<key>name</key>
				<string>CityDefendRoomContainer</string>
				<key>isVisible</key>
				<integer>1</integer>
				<key>transform</key>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>0</integer>
				</dict>
				<key>refMode</key>
				<integer>1</integer>
				<key>refPointMode</key>
				<integer>5</integer>
				<key>widthScale</key>
				<integer>5000</integer>
				<key>widthOffset</key>
				<integer>0</integer>
				<key>heightScale</key>
				<integer>5000</integer>
				<key>heightOffset</key>
				<integer>0</integer>
				<key>width</key>
				<integer>0</integer>
				<key>height</key>
				<integer>0</integer>
				<key>refObjName</key>
				<string></string>
				<key>children</key>
				<array>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>1</key>
								<string>UI/ui_ppve.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui_ppve.bin</string>
							<key>iphone</key>
							<string>UI/ui_ppve.bin</string>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>name</key>
						<string>bgPic</string>
						<key>resourceName</key>
						<string>map_ui_ppve_FRAME_CITYROOM_BACKGROUND</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>0</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>房间01</string>
						<key>fontSize</key>
						<integer>24</integer>
						<key>name</key>
						<string>titleTxt</string>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_ppve.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_ppve.bin</string>
								<key>iphone</key>
								<string>UI/ui_ppve.bin</string>
							</dict>
							<key>ASRectName</key>
							<string>map_ui_ppve_FRAME_CITYROOM_TEXT_TITLE</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>0</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>房间名称</string>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>roomNameTxt</string>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_ppve.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_ppve.bin</string>
								<key>iphone</key>
								<string>UI/ui_ppve.bin</string>
							</dict>
							<key>ASRectName</key>
							<string>map_ui_ppve_FRAME_CITYROOM_TEXT_ROOMNAME</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>name</key>
						<string>closeBt</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_ppve.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_ppve.bin</string>
								<key>iphone</key>
								<string>UI/ui_ppve.bin</string>
							</dict>
							<key>normalTexture</key>
							<string>map_ui_ppve_FRAME_CITYROOM_BUTTON_CLOSED</string>
							<key>clickedTexture</key>
							<string>map_ui_ppve_FRAME_CITYROOM_BUTTON_CLOSED_CLICKED</string>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>name</key>
						<string>goBt</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_ppve.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_ppve.bin</string>
								<key>iphone</key>
								<string>UI/ui_ppve.bin</string>
							</dict>
							<key>normalTexture</key>
							<string>map_ui_ppve_FRAME_CITYROOM_BUTTON_GO_READY</string>
							<key>clickedTexture</key>
							<string>map_ui_ppve_FRAME_CITYROOM_BUTTON_GO_READYCLICKED</string>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>name</key>
						<string>readyBt</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_ppve.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_ppve.bin</string>
								<key>iphone</key>
								<string>UI/ui_ppve.bin</string>
							</dict>
							<key>normalTexture</key>
							<string>map_ui_ppve_FRAME_CITYROOM_BUTTON_READY_READY</string>
							<key>clickedTexture</key>
							<string>map_ui_ppve_FRAME_CITYROOM_BUTTON_READY_UNREADY</string>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>1</key>
								<string>UI/ui_ppve.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui_ppve.bin</string>
							<key>iphone</key>
							<string>UI/ui_ppve.bin</string>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>name</key>
						<string>hostPic</string>
						<key>resourceName</key>
						<string>map_ui_ppve_FRAME_CITYROOM_FRAME_HOST</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>1</key>
								<string>UI/ui_ppve.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui_ppve.bin</string>
							<key>iphone</key>
							<string>UI/ui_ppve.bin</string>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>name</key>
						<string>hostHeadIcon</string>
						<key>resourceName</key>
						<string>map_ui_ppve_FRAME_CITYROOM_ICON_OCCUPATION</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>lv52</string>
						<key>fontSize</key>
						<integer>15</integer>
						<key>name</key>
						<string>hostPlayerLevel</string>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_ppve.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_ppve.bin</string>
								<key>iphone</key>
								<string>UI/ui_ppve.bin</string>
							</dict>
							<key>ASRectName</key>
							<string>map_ui_ppve_FRAME_CITYROOM_TEXT_PLAYERLEVEL</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>0</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>0</integer>
						</dict>
						<key>content</key>
						<string>hostPlayerName</string>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>hostPlayerName</string>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_ppve.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_ppve.bin</string>
								<key>iphone</key>
								<string>UI/ui_ppve.bin</string>
							</dict>
							<key>ASRectName</key>
							<string>map_ui_ppve_FRAME_CITYROOM_TEXT_PLAYERNAME</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>255</integer>
							<key>green</key>
							<integer>184</integer>
							<key>red</key>
							<integer>0</integer>
						</dict>
						<key>content</key>
						<string>fight : 999</string>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>hostFightNum</string>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_ppve.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_ppve.bin</string>
								<key>iphone</key>
								<string>UI/ui_ppve.bin</string>
							</dict>
							<key>ASRectName</key>
							<string>map_ui_ppve_FRAME_CITYROOM_TEXT_FIGHT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>1</key>
								<string>UI/ui_ppve.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui_ppve.bin</string>
							<key>iphone</key>
							<string>UI/ui_ppve.bin</string>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>name</key>
						<string>hostIcon</string>
						<key>resourceName</key>
						<string>map_ui_ppve_FRAME_CITYROOM_ICON_HOST</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>1</key>
								<string>UI/ui_ppve.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui_ppve.bin</string>
							<key>iphone</key>
							<string>UI/ui_ppve.bin</string>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>name</key>
						<string>guestPic1</string>
						<key>resourceName</key>
						<string>map_ui_ppve_FRAME_CITYROOM_FRAME_GUEST1</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>1</key>
								<string>UI/ui_ppve.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui_ppve.bin</string>
							<key>iphone</key>
							<string>UI/ui_ppve.bin</string>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>name</key>
						<string>guestPic2</string>
						<key>resourceName</key>
						<string>map_ui_ppve_FRAME_CITYROOM_FRAME_GUEST2</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>1</key>
								<string>UI/ui_ppve.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui_ppve.bin</string>
							<key>iphone</key>
							<string>UI/ui_ppve.bin</string>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>name</key>
						<string>guestPic3</string>
						<key>resourceName</key>
						<string>map_ui_ppve_FRAME_CITYROOM_FRAME_GUEST3</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>1</key>
								<string>UI/ui_ppve.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui_ppve.bin</string>
							<key>iphone</key>
							<string>UI/ui_ppve.bin</string>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>name</key>
						<string>guestHeadIcon1</string>
						<key>resourceName</key>
						<string>map_ui_ppve_FRAME_CITYROOM_ICON_OCCUPATION1</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>1</key>
								<string>UI/ui_ppve.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui_ppve.bin</string>
							<key>iphone</key>
							<string>UI/ui_ppve.bin</string>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>name</key>
						<string>guestHeadIcon2</string>
						<key>resourceName</key>
						<string>map_ui_ppve_FRAME_CITYROOM_ICON_OCCUPATION2</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>1</key>
								<string>UI/ui_ppve.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui_ppve.bin</string>
							<key>iphone</key>
							<string>UI/ui_ppve.bin</string>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>name</key>
						<string>guestHeadIcon3</string>
						<key>resourceName</key>
						<string>map_ui_ppve_FRAME_CITYROOM_ICON_OCCUPATION3</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>1</key>
								<string>UI/ui_ppve.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui_ppve.bin</string>
							<key>iphone</key>
							<string>UI/ui_ppve.bin</string>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>name</key>
						<string>guestIconReady1</string>
						<key>resourceName</key>
						<string>map_ui_ppve_FRAME_CITYROOM_ICON_READY1</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>10</integer>
						</dict>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>1</key>
								<string>UI/ui_ppve.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui_ppve.bin</string>
							<key>iphone</key>
							<string>UI/ui_ppve.bin</string>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>name</key>
						<string>guestIconReady2</string>
						<key>resourceName</key>
						<string>map_ui_ppve_FRAME_CITYROOM_ICON_READY2</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>10</integer>
						</dict>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>1</key>
								<string>UI/ui_ppve.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui_ppve.bin</string>
							<key>iphone</key>
							<string>UI/ui_ppve.bin</string>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>name</key>
						<string>guestIconReady3</string>
						<key>resourceName</key>
						<string>map_ui_ppve_FRAME_CITYROOM_ICON_READY3</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>10</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>lv52</string>
						<key>fontSize</key>
						<integer>15</integer>
						<key>name</key>
						<string>guestPlayerLevel1</string>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_ppve.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_ppve.bin</string>
								<key>iphone</key>
								<string>UI/ui_ppve.bin</string>
							</dict>
							<key>ASRectName</key>
							<string>map_ui_ppve_FRAME_CITYROOM_TEXT_PLAYERLEVEL1</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>lv52</string>
						<key>fontSize</key>
						<integer>15</integer>
						<key>name</key>
						<string>guestPlayerLevel2</string>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_ppve.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_ppve.bin</string>
								<key>iphone</key>
								<string>UI/ui_ppve.bin</string>
							</dict>
							<key>ASRectName</key>
							<string>map_ui_ppve_FRAME_CITYROOM_TEXT_PLAYERLEVEL2</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>lv52</string>
						<key>fontSize</key>
						<integer>15</integer>
						<key>name</key>
						<string>guestPlayerLevel3</string>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_ppve.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_ppve.bin</string>
								<key>iphone</key>
								<string>UI/ui_ppve.bin</string>
							</dict>
							<key>ASRectName</key>
							<string>map_ui_ppve_FRAME_CITYROOM_TEXT_PLAYERLEVEL3</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>0</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>0</integer>
						</dict>
						<key>content</key>
						<string>playerName1</string>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>guestPlayerName1</string>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_ppve.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_ppve.bin</string>
								<key>iphone</key>
								<string>UI/ui_ppve.bin</string>
							</dict>
							<key>ASRectName</key>
							<string>map_ui_ppve_FRAME_CITYROOM_TEXT_PLAYERNAME1</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>255</integer>
							<key>green</key>
							<integer>184</integer>
							<key>red</key>
							<integer>0</integer>
						</dict>
						<key>content</key>
						<string>fight : 999</string>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>guestFightNum1</string>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_ppve.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_ppve.bin</string>
								<key>iphone</key>
								<string>UI/ui_ppve.bin</string>
							</dict>
							<key>ASRectName</key>
							<string>map_ui_ppve_FRAME_CITYROOM_TEXT_FIGHT1</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>0</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>0</integer>
						</dict>
						<key>content</key>
						<string>playerName2</string>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>guestPlayerName2</string>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_ppve.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_ppve.bin</string>
								<key>iphone</key>
								<string>UI/ui_ppve.bin</string>
							</dict>
							<key>ASRectName</key>
							<string>map_ui_ppve_FRAME_CITYROOM_TEXT_PLAYERNAME2</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>255</integer>
							<key>green</key>
							<integer>184</integer>
							<key>red</key>
							<integer>0</integer>
						</dict>
						<key>content</key>
						<string>fight : 999</string>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>guestFightNum2</string>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_ppve.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_ppve.bin</string>
								<key>iphone</key>
								<string>UI/ui_ppve.bin</string>
							</dict>
							<key>ASRectName</key>
							<string>map_ui_ppve_FRAME_CITYROOM_TEXT_FIGHT2</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>0</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>0</integer>
						</dict>
						<key>content</key>
						<string>playerName3</string>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>guestPlayerName3</string>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_ppve.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_ppve.bin</string>
								<key>iphone</key>
								<string>UI/ui_ppve.bin</string>
							</dict>
							<key>ASRectName</key>
							<string>map_ui_ppve_FRAME_CITYROOM_TEXT_PLAYERNAME3</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>255</integer>
							<key>green</key>
							<integer>184</integer>
							<key>red</key>
							<integer>0</integer>
						</dict>
						<key>content</key>
						<string>fight : 999</string>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>guestFightNum3</string>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_ppve.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_ppve.bin</string>
								<key>iphone</key>
								<string>UI/ui_ppve.bin</string>
							</dict>
							<key>ASRectName</key>
							<string>map_ui_ppve_FRAME_CITYROOM_TEXT_FIGHT3</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>等待加入</string>
						<key>fontSize</key>
						<integer>24</integer>
						<key>name</key>
						<string>guestWaitTxt1</string>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_ppve.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_ppve.bin</string>
								<key>iphone</key>
								<string>UI/ui_ppve.bin</string>
							</dict>
							<key>ASRectName</key>
							<string>map_ui_ppve_FRAME_CITYROOM_TEXT_WAIT1</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>等待加入</string>
						<key>fontSize</key>
						<integer>24</integer>
						<key>name</key>
						<string>guestWaitTxt2</string>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_ppve.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_ppve.bin</string>
								<key>iphone</key>
								<string>UI/ui_ppve.bin</string>
							</dict>
							<key>ASRectName</key>
							<string>map_ui_ppve_FRAME_CITYROOM_TEXT_WAIT2</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>等待加入</string>
						<key>fontSize</key>
						<integer>24</integer>
						<key>name</key>
						<string>guestWaitTxt3</string>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_ppve.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_ppve.bin</string>
								<key>iphone</key>
								<string>UI/ui_ppve.bin</string>
							</dict>
							<key>ASRectName</key>
							<string>map_ui_ppve_FRAME_CITYROOM_TEXT_WAIT3</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>name</key>
						<string>guestKickBt1</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_ppve.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_ppve.bin</string>
								<key>iphone</key>
								<string>UI/ui_ppve.bin</string>
							</dict>
							<key>normalTexture</key>
							<string>map_ui_ppve_FRAME_CITYROOM_ICON_KICKGUEST1</string>
							<key>clickedTexture</key>
							<string>map_ui_ppve_FRAME_CITYROOM_ICON_KICKGUEST_CLICKED1</string>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>name</key>
						<string>guestKickBt2</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_ppve.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_ppve.bin</string>
								<key>iphone</key>
								<string>UI/ui_ppve.bin</string>
							</dict>
							<key>normalTexture</key>
							<string>map_ui_ppve_FRAME_CITYROOM_ICON_KICKGUEST2</string>
							<key>clickedTexture</key>
							<string>map_ui_ppve_FRAME_CITYROOM_ICON_KICKGUEST_CLICKED2</string>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>name</key>
						<string>guestKickBt3</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_ppve.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_ppve.bin</string>
								<key>iphone</key>
								<string>UI/ui_ppve.bin</string>
							</dict>
							<key>normalTexture</key>
							<string>map_ui_ppve_FRAME_CITYROOM_ICON_KICKGUEST3</string>
							<key>clickedTexture</key>
							<string>map_ui_ppve_FRAME_CITYROOM_ICON_KICKGUEST_CLICKED3</string>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
