<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>UILayout</string>
		<key>name</key>
		<string>CoinBossWinUI</string>
		<key>bModelLayer</key>
		<integer>1</integer>
		<key>children</key>
		<array>
			<dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>name</key>
				<string>CoinBossWinContainer</string>
				<key>refMode</key>
				<integer>1</integer>
				<key>refPointMode</key>
				<integer>5</integer>
				<key>widthScale</key>
				<integer>5000</integer>
				<key>widthOffset</key>
				<integer>0</integer>
				<key>heightScale</key>
				<integer>5000</integer>
				<key>heightOffset</key>
				<integer>0</integer>
				<key>width</key>
				<integer>0</integer>
				<key>height</key>
				<integer>0</integer>
				<key>children</key>
				<array>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui_inbattle.png</string>
								<key>1</key>
								<string>UI/ui2.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui_inbattle.bin</string>
							<key>iphone</key>
							<string>UI/ui_inbattle.bin</string>
						</dict>
						<key>name</key>
						<string>winBack</string>
						<key>resourceName</key>
						<string>map_ui_inbattle_FRAME_WORLDBOSS_GOLD_BACKGROUND</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui_inbattle.png</string>
								<key>1</key>
								<string>UI/ui2.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui_inbattle.bin</string>
							<key>iphone</key>
							<string>UI/ui_inbattle.bin</string>
						</dict>
						<key>name</key>
						<string>winBack1</string>
						<key>resourceName</key>
						<string>map_ui_inbattle_FRAME_WORLDBOSS_GOLD_BACKGROUND_TITLE</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui_inbattle.png</string>
								<key>1</key>
								<string>UI/ui2.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui_inbattle.bin</string>
							<key>iphone</key>
							<string>UI/ui_inbattle.bin</string>
						</dict>
						<key>name</key>
						<string>winBack2</string>
						<key>resourceName</key>
						<string>map_ui_inbattle_FRAME_WORLDBOSS_GOLD_BACKGROUND_TITLE_WIN</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui_inbattle.png</string>
								<key>1</key>
								<string>UI/ui2.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui_inbattle.bin</string>
							<key>iphone</key>
							<string>UI/ui_inbattle.bin</string>
						</dict>
						<key>name</key>
						<string>newrecordPic</string>
						<key>resourceName</key>
						<string>map_ui_inbattle_FRAME_WORLDBOSS_GOLD_END_MAXHURT_NEWCORD</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui_inbattle.png</string>
								<key>1</key>
								<string>UI/ui2.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui_inbattle.bin</string>
							<key>iphone</key>
							<string>UI/ui_inbattle.bin</string>
						</dict>
						<key>name</key>
						<string>changeIcon</string>
						<key>resourceName</key>
						<string>map_ui_inbattle_FRAME_WORLDBOSS_GOLD_END_RANK_CHANGE_ICON</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui_inbattle.png</string>
								<key>1</key>
								<string>UI/ui2.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui_inbattle.bin</string>
							<key>iphone</key>
							<string>UI/ui_inbattle.bin</string>
						</dict>
						<key>name</key>
						<string>rewardIcon</string>
						<key>resourceName</key>
						<string>map_ui_inbattle_FRAME_WORLDBOSS_GOLD_END_REWARD_ICON</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui_inbattle.png</string>
								<key>1</key>
								<string>UI/ui2.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui_inbattle.bin</string>
							<key>iphone</key>
							<string>UI/ui_inbattle.bin</string>
						</dict>
						<key>name</key>
						<string>rideIcon</string>
						<key>resourceName</key>
						<string>map_ui_inbattle_FRAME_WORLDBOSS_GOLD_END_REWARD_RIDE</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui_inbattle.png</string>
								<key>1</key>
								<string>UI/ui2.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui_inbattle.bin</string>
							<key>iphone</key>
							<string>UI/ui_inbattle.bin</string>
						</dict>
						<key>name</key>
						<string>numberIcon1</string>
						<key>resourceName</key>
						<string>map_ui_inbattle_FRAME_WORLDBOSS_GOLD_END_REWARD_NUMBER</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui_inbattle.png</string>
								<key>1</key>
								<string>UI/ui2.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui_inbattle.bin</string>
							<key>iphone</key>
							<string>UI/ui_inbattle.bin</string>
						</dict>
						<key>name</key>
						<string>numberIcon2</string>
						<key>resourceName</key>
						<string>map_ui_inbattle_FRAME_WORLDBOSS_GOLD_END_REWARD_NUMBER1</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui_inbattle.png</string>
								<key>1</key>
								<string>UI/ui2.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui_inbattle.bin</string>
							<key>iphone</key>
							<string>UI/ui_inbattle.bin</string>
						</dict>
						<key>name</key>
						<string>diaIcon</string>
						<key>resourceName</key>
						<string>map_ui_inbattle_FRAME_WORLDBOSS_GOLD_END_DIAMONDS_ICON</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>rewardFrameBtn</string>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_inbattle.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>normalTexture</key>
							<string>map_ui_inbattle_FRAME_WORLDBOSS_GOLD_END_REWARD_ICON_FRAME</string>
							<key>clickedTexture</key>
							<string>map_ui_inbattle_FRAME_WORLDBOSS_GOLD_END_REWARD_ICON_FRAME</string>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
					<dict>
						<key>name</key>
						<string>leaveBtn</string>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_inbattle.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>normalTexture</key>
							<string>map_ui_inbattle_FRAME_WORLDBOSS_GOLD_END_GOOUT</string>
							<key>clickedTexture</key>
							<string>map_ui_inbattle_FRAME_WORLDBOSS_GOLD_END_GOOUT_ON</string>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
					<dict>
						<key>name</key>
						<string>againBtn</string>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_inbattle.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>normalTexture</key>
							<string>map_ui_inbattle_FRAME_WORLDBOSS_GOLD_END_BUY</string>
							<key>clickedTexture</key>
							<string>map_ui_inbattle_FRAME_WORLDBOSS_GOLD_END_BUY_ON</string>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>name</key>
						<string>winText</string>
						<key>content</key>
						<string>M_ESTIMATE_ESTIMATE</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>251</integer>
							<key>green</key>
							<integer>158</integer>
							<key>blue</key>
							<integer>38</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_inbattle.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>ASRectName</key>
							<string>map_ui_inbattle_FRAME_WORLDBOSS_GOLD_END_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>name</key>
						<string>rewardText</string>
						<key>content</key>
						<string>M_GET_REWARD</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>251</integer>
							<key>green</key>
							<integer>158</integer>
							<key>blue</key>
							<integer>38</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_inbattle.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>ASRectName</key>
							<string>map_ui_inbattle_FRAME_WORLDBOSS_GOLD_END_REWARD_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>name</key>
						<string>maxHurtText</string>
						<key>content</key>
						<string>M_WEEK_MAX_HURT_NUMBER1</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>195</integer>
							<key>blue</key>
							<integer>118</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_inbattle.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>ASRectName</key>
							<string>map_ui_inbattle_FRAME_WORLDBOSS_GOLD_END_MAXHURT_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>name</key>
						<string>nowHurtText</string>
						<key>content</key>
						<string>M_THISTIME_HURT</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>195</integer>
							<key>blue</key>
							<integer>118</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_inbattle.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>ASRectName</key>
							<string>map_ui_inbattle_FRAME_WORLDBOSS_GOLD_END_THISHURT_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>name</key>
						<string>nowRankText</string>
						<key>content</key>
						<string>M_PVAI_RANKNOW</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>195</integer>
							<key>blue</key>
							<integer>118</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_inbattle.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>ASRectName</key>
							<string>map_ui_inbattle_FRAME_WORLDBOSS_GOLD_END_RANK_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>name</key>
						<string>maxHurtNum</string>
						<key>content</key>
						<string>1000</string>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>56</integer>
							<key>green</key>
							<integer>221</integer>
							<key>blue</key>
							<integer>7</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_inbattle.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>ASRectName</key>
							<string>map_ui_inbattle_FRAME_WORLDBOSS_GOLD_END_MAXHURT_NUMBER</string>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>name</key>
						<string>nowHurtNum</string>
						<key>content</key>
						<string>100</string>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>56</integer>
							<key>green</key>
							<integer>221</integer>
							<key>blue</key>
							<integer>7</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_inbattle.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>ASRectName</key>
							<string>map_ui_inbattle_FRAME_WORLDBOSS_GOLD_END_THISHURT_NUMBER</string>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>name</key>
						<string>rankNum</string>
						<key>content</key>
						<string>2</string>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>56</integer>
							<key>green</key>
							<integer>221</integer>
							<key>blue</key>
							<integer>7</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_inbattle.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>ASRectName</key>
							<string>map_ui_inbattle_FRAME_WORLDBOSS_GOLD_END_RANK_NUMBER</string>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>name</key>
						<string>rankChangeNum</string>
						<key>content</key>
						<string>20</string>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>56</integer>
							<key>green</key>
							<integer>221</integer>
							<key>blue</key>
							<integer>7</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_inbattle.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>ASRectName</key>
							<string>map_ui_inbattle_FRAME_WORLDBOSS_GOLD_END_RANK_CHANGE_NUMBER</string>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>name</key>
						<string>leaveText</string>
						<key>content</key>
						<string>M_GET_LEAVE</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_inbattle.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>ASRectName</key>
							<string>map_ui_inbattle_FRAME_WORLDBOSS_GOLD_END_GOOUT_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>name</key>
						<string>againText</string>
						<key>content</key>
						<string>M_AGAIN_GET</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_inbattle.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>ASRectName</key>
							<string>map_ui_inbattle_FRAME_WORLDBOSS_GOLD_END_BUY_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>name</key>
						<string>infoText</string>
						<key>content</key>
						<string>M_WORLDBOSS_END_PROMPT</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>251</integer>
							<key>green</key>
							<integer>158</integer>
							<key>blue</key>
							<integer>28</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_inbattle.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>ASRectName</key>
							<string>map_ui_inbattle_FRAME_WORLDBOSS_GOLD_END_TEXT1</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>fontSize</key>
						<integer>18</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>name</key>
						<string>diaNum</string>
						<key>content</key>
						<string>20</string>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_inbattle.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>ASRectName</key>
							<string>map_ui_inbattle_FRAME_WORLDBOSS_GOLD_END_DIAMONDS_NUMBER</string>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>fontSize</key>
						<integer>22</integer>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
