<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>bModelLayer</key>
		<integer>1</integer>
		<key>bModelPriorty</key>
		<integer>-131</integer>
		<key>name</key>
		<string>CoinBossRankUI</string>
		<key>type</key>
		<string>UILayout</string>
		<key>children</key>
		<array>
			<dict>
				<key>children</key>
				<array>
					<dict>
						<key>name</key>
						<string>backgroud</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_WORLDBOSS_GOLD_BACKGROUND</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>1</key>
								<string>UI/ui_Alchemy.png</string>
								<key>2</key>
								<string>UI/ui2.png</string>
								<key>imagecount</key>
								<integer>3</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui.bin</string>
							<key>iphone</key>
							<string>UI/ui.bin</string>
						</dict>
					</dict>
					<dict>
						<key>name</key>
						<string>backgroud1</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_WORLDBOSS_GOLD_BACKGROUND_DECORATION</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>rankBack</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_WORLDBOSS_GOLD_RANK_BACKGROUND</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>sepPic</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_WORLDBOSS_GOLD_RANK_SEPARATE</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>selfFrame</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_WORLDBOSS_GOLD_RANK_FRAME_ME</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>rewardBack</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_WORLDBOSS_GOLD_REWARD_BACKGROUND</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>closeBtn</string>
						<key>texture</key>
						<dict>
							<key>clickedTexture</key>
							<string>map_ui_FRAME_WORLDBOSS_GOLD_CLOSE_CLICKED</string>
							<key>normalTexture</key>
							<string>map_ui_FRAME_WORLDBOSS_GOLD_CLOSE</string>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-133</integer>
						</dict>
					</dict>
					<dict>
						<key>name</key>
						<string>rankRewardBtn</string>
						<key>texture</key>
						<dict>
							<key>clickedTexture</key>
							<string>map_ui_FRAME_WORLDBOSS_GOLD_BUTTON_RANKREWARD_ON</string>
							<key>normalTexture</key>
							<string>map_ui_FRAME_WORLDBOSS_GOLD_BUTTON_RANKREWARD</string>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-132</integer>
						</dict>
					</dict>
					<dict>
						<key>name</key>
						<string>enterBtn</string>
						<key>texture</key>
						<dict>
							<key>clickedTexture</key>
							<string>map_ui_FRAME_WORLDBOSS_GOLD_BUTTON_ENTER_ON</string>
							<key>normalTexture</key>
							<string>map_ui_FRAME_WORLDBOSS_GOLD_BUTTON_ENTER</string>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-132</integer>
						</dict>
					</dict>
					<dict>
						<key>name</key>
						<string>titleText</string>
						<key>type</key>
						<string>UILabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>163</integer>
							<key>blue</key>
							<integer>4</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_WORLDBOSS_GOLD_TITLE</string>
							<key>useASRect</key>
							<integer>1</integer>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>content</key>
						<string>M_DAILYTARGET_5130_NAME</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>fontSize</key>
						<integer>28</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>titleInfoText</string>
						<key>type</key>
						<string>UILabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>84</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_WORLDBOSS_GOLD_RANK_TEXT</string>
							<key>useASRect</key>
							<integer>1</integer>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>content</key>
						<string>M_WEEK_MAX_HURT_TEXT</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>titleRankText</string>
						<key>type</key>
						<string>UILabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>251</integer>
							<key>green</key>
							<integer>158</integer>
							<key>blue</key>
							<integer>38</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_WORLDBOSS_GOLD_RANK_RANK</string>
							<key>useASRect</key>
							<integer>1</integer>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>content</key>
						<string>M_PVAI_RANK2</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>titlePlayerText</string>
						<key>type</key>
						<string>UILabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>251</integer>
							<key>green</key>
							<integer>158</integer>
							<key>blue</key>
							<integer>38</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_WORLDBOSS_GOLD_RANK_PLAYER</string>
							<key>useASRect</key>
							<integer>1</integer>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>content</key>
						<string>M_PLAYER</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>titleHurtText</string>
						<key>type</key>
						<string>UILabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>251</integer>
							<key>green</key>
							<integer>158</integer>
							<key>blue</key>
							<integer>38</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_WORLDBOSS_GOLD_RANK_MAXHURT</string>
							<key>useASRect</key>
							<integer>1</integer>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>content</key>
						<string>M_WEEK_MAX_HURT_NUMBER</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>titleFindText</string>
						<key>type</key>
						<string>UILabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>251</integer>
							<key>green</key>
							<integer>158</integer>
							<key>blue</key>
							<integer>38</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_WORLDBOSS_GOLD_RANK_LOOK</string>
							<key>useASRect</key>
							<integer>1</integer>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>content</key>
						<string>M_FIND</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>selfRankNum</string>
						<key>type</key>
						<string>UILabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>56</integer>
							<key>green</key>
							<integer>221</integer>
							<key>blue</key>
							<integer>7</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_WORLDBOSS_GOLD_RANK_RANK_ME</string>
							<key>useASRect</key>
							<integer>1</integer>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>content</key>
						<string>100</string>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>					
					<dict>
						<key>name</key>
						<string>selfNameText</string>
						<key>type</key>
						<string>UILabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>56</integer>
							<key>green</key>
							<integer>221</integer>
							<key>blue</key>
							<integer>7</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_WORLDBOSS_GOLD_RANK_PLAYER_ME</string>
							<key>useASRect</key>
							<integer>1</integer>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>content</key>
						<string></string>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>selfHurtNum</string>
						<key>type</key>
						<string>UILabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>56</integer>
							<key>green</key>
							<integer>221</integer>
							<key>blue</key>
							<integer>7</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_WORLDBOSS_GOLD_RANK_MAXHURT_ME</string>
							<key>useASRect</key>
							<integer>1</integer>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>content</key>
						<string>500K</string>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>rewardTitle</string>
						<key>type</key>
						<string>UILabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>251</integer>
							<key>green</key>
							<integer>158</integer>
							<key>blue</key>
							<integer>38</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_WORLDBOSS_GOLD_REWARD_TITLE</string>
							<key>useASRect</key>
							<integer>1</integer>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>content</key>
						<string>M_HURT_REWARD</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>rankRewardText</string>
						<key>type</key>
						<string>UILabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_WORLDBOSS_GOLD_BUTTON_RANKREWARD_TEXT</string>
							<key>useASRect</key>
							<integer>1</integer>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>content</key>
						<string>M_RANK_REWARD</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>enterText</string>
						<key>type</key>
						<string>UILabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_WORLDBOSS_GOLD_BUTTON_ENTER_TEXT</string>
							<key>useASRect</key>
							<integer>1</integer>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>content</key>
						<string>M_WORLDBOSS_JOIN</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>					
					<dict>
						<key>name</key>
						<string>remainText</string>
						<key>type</key>
						<string>UILabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>56</integer>
							<key>green</key>
							<integer>221</integer>
							<key>blue</key>
							<integer>7</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_WORLDBOSS_GOLD_REWARD_TEXT3</string>
							<key>useASRect</key>
							<integer>1</integer>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>content</key>
						<string>todaytime : 2</string>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIScrollList</string>
						<key>name</key>
						<string>rankScrollList</string>
						<key>viewWidth</key>
						<integer>1024</integer>
						<key>viewHeight</key>
						<integer>768</integer>
						<key>contentOffsetX</key>
						<integer>0</integer>
						<key>contentOffsetY</key>
						<integer>0</integer>
						<key>contentWidth</key>
						<integer>1024</integer>
						<key>contentHeight</key>
						<integer>768</integer>
						<key>direction</key>
						<integer>1</integer>
						<key>startX</key>
						<integer>0</integer>
						<key>startY</key>
						<integer>0</integer>
						<key>priority</key>
						<string>-132</string>
						<key>background</key>
						<dict>
							<key>name</key>
							<string>map_ui_FRAME_WORLDBOSS_GOLD_RANK_SLIDEFRAME</string>
							<key>useASposition</key>
							<integer>1</integer>
						</dict>
						<key>children</key>
						<array/>
					</dict>
					<dict>
						<key>type</key>
						<string>UIScrollList</string>
						<key>name</key>
						<string>rewardScrollList</string>
						<key>viewWidth</key>
						<integer>1024</integer>
						<key>viewHeight</key>
						<integer>768</integer>
						<key>contentOffsetX</key>
						<integer>0</integer>
						<key>contentOffsetY</key>
						<integer>0</integer>
						<key>contentWidth</key>
						<integer>1024</integer>
						<key>contentHeight</key>
						<integer>768</integer>
						<key>direction</key>
						<integer>1</integer>
						<key>startX</key>
						<integer>0</integer>
						<key>startY</key>
						<integer>0</integer>
						<key>priority</key>
						<string>-132</string>
						<key>background</key>
						<dict>
							<key>name</key>
							<string>map_ui_FRAME_WORLDBOSS_GOLD_REWARD_FRAME</string>
							<key>useASposition</key>
							<integer>1</integer>
						</dict>
						<key>children</key>
						<array/>
					</dict>
					<dict>
						<key>type</key>
						<string>UILayout</string>
						<key>name</key>
						<string>rewardDetailLayer</string>
						<key>bModelLayer</key>
						<integer>1</integer>
						<key>bModelPriorty</key>
						<integer>-134</integer>
						<key>children</key>
						<array>
							<dict>
								<key>children</key>
								<array>
									<dict>
										<key>name</key>
										<string>backgroud</string>
										<key>resourceName</key>
										<string>map_ui_FRAME_WORLDBOSS_RANKREWARD_BACKGROUND</string>
										<key>type</key>
										<string>UIPicture</string>
										<key>useASposition</key>
										<integer>1</integer>
									</dict>
									<dict>
										<key>name</key>
										<string>backgroud1</string>
										<key>resourceName</key>
										<string>map_ui_FRAME_WORLDBOSS_RANKREWARD_BACKGROUND1</string>
										<key>type</key>
										<string>UIPicture</string>
										<key>useASposition</key>
										<integer>1</integer>
									</dict>
									<dict>
										<key>name</key>
										<string>hideBtn</string>
										<key>texture</key>
										<dict>
											<key>clickedTexture</key>
											<string>map_ui_FRAME_WORLDBOSS_RANKREWARD_CLOSE_ON</string>
											<key>normalTexture</key>
											<string>map_ui_FRAME_WORLDBOSS_RANKREWARD_CLOSE</string>
										</dict>
										<key>type</key>
										<string>UIButton</string>
										<key>useASposition</key>
										<integer>1</integer>
										<key>drag</key>
										<dict>
											<key>priority</key>
											<integer>-137</integer>
										</dict>
									</dict>
									<dict>
										<key>name</key>
										<string>rewardTitleText</string>
										<key>type</key>
										<string>UILabel</string>
										<key>color</key>
										<dict>
											<key>red</key>
											<integer>255</integer>
											<key>green</key>
											<integer>195</integer>
											<key>blue</key>
											<integer>118</integer>
										</dict>
										<key>rect</key>
										<dict>
											<key>ASRectName</key>
											<string>map_ui_FRAME_WORLDBOSS_RANKREWARD_TITLE</string>
											<key>useASRect</key>
											<integer>1</integer>
											<key>alignment</key>
											<integer>1</integer>
											<key>anchorPoint</key>
											<integer>1</integer>
										</dict>
										<key>content</key>
										<string>M_RANK_REWARD</string>
										<key>bLocalizeString</key>
										<integer>1</integer>
										<key>fontSize</key>
										<integer>28</integer>
									</dict>
									<dict>
										<key>name</key>
										<string>rewardRankText</string>
										<key>type</key>
										<string>UILabel</string>
										<key>color</key>
										<dict>
											<key>red</key>
											<integer>255</integer>
											<key>green</key>
											<integer>84</integer>
											<key>blue</key>
											<integer>0</integer>
										</dict>
										<key>rect</key>
										<dict>
											<key>ASRectName</key>
											<string>map_ui_FRAME_WORLDBOSS_RANKREWARD_RANK_TEXT</string>
											<key>useASRect</key>
											<integer>1</integer>
											<key>alignment</key>
											<integer>1</integer>
											<key>anchorPoint</key>
											<integer>1</integer>
										</dict>
										<key>content</key>
										<string>M_PVAI_RANK2</string>
										<key>bLocalizeString</key>
										<integer>1</integer>
										<key>fontSize</key>
										<integer>28</integer>
									</dict>
									<dict>
										<key>name</key>
										<string>rewardRewardText</string>
										<key>type</key>
										<string>UILabel</string>
										<key>color</key>
										<dict>
											<key>red</key>
											<integer>255</integer>
											<key>green</key>
											<integer>84</integer>
											<key>blue</key>
											<integer>0</integer>
										</dict>
										<key>rect</key>
										<dict>
											<key>ASRectName</key>
											<string>map_ui_FRAME_WORLDBOSS_RANKREWARD_REWARD_TEXT</string>
											<key>useASRect</key>
											<integer>1</integer>
											<key>alignment</key>
											<integer>1</integer>
											<key>anchorPoint</key>
											<integer>1</integer>
										</dict>
										<key>content</key>
										<string>M_PVAI_REWARD</string>
										<key>bLocalizeString</key>
										<integer>1</integer>
										<key>fontSize</key>
										<integer>28</integer>
									</dict>
									<dict>
										<key>name</key>
										<string>tipText</string>
										<key>type</key>
										<string>UILabel</string>
										<key>color</key>
										<dict>
											<key>red</key>
											<integer>56</integer>
											<key>green</key>
											<integer>221</integer>
											<key>blue</key>
											<integer>7</integer>
										</dict>
										<key>rect</key>
										<dict>
											<key>ASRectName</key>
											<string>map_ui_FRAME_WORLDBOSS_RANKREWARD_TIME_TEXT</string>
											<key>useASRect</key>
											<integer>1</integer>
											<key>alignment</key>
											<integer>1</integer>
											<key>anchorPoint</key>
											<integer>1</integer>
										</dict>
										<key>content</key>
										<string>M_WORLDBOSS_REWARD_TIME</string>
										<key>bLocalizeString</key>
										<integer>1</integer>
										<key>fontSize</key>
										<integer>20</integer>
									</dict>
									<dict>
										<key>type</key>
										<string>UIScrollList</string>
										<key>name</key>
										<string>rewardDetailScrollList</string>
										<key>viewWidth</key>
										<integer>1024</integer>
										<key>viewHeight</key>
										<integer>768</integer>
										<key>contentOffsetX</key>
										<integer>0</integer>
										<key>contentOffsetY</key>
										<integer>0</integer>
										<key>contentWidth</key>
										<integer>1024</integer>
										<key>contentHeight</key>
										<integer>768</integer>
										<key>direction</key>
										<integer>1</integer>
										<key>startX</key>
										<integer>0</integer>
										<key>startY</key>
										<integer>0</integer>
										<key>priority</key>
										<string>-135</string>
										<key>background</key>
										<dict>
											<key>name</key>
											<string>map_ui_FRAME_WORLDBOSS_RANKREWARD_SLIDEFRAME</string>
											<key>useASposition</key>
											<integer>1</integer>
										</dict>
										<key>children</key>
										<array/>
									</dict>
								</array>
								<key>height</key>
								<integer>0</integer>
								<key>heightOffset</key>
								<integer>0</integer>
								<key>heightScale</key>
								<integer>5000</integer>
								<key>name</key>
								<string>rewardDetailContainer</string>
								<key>refMode</key>
								<integer>1</integer>
								<key>refPointMode</key>
								<integer>5</integer>
								<key>type</key>
								<string>UIContainer</string>
								<key>width</key>
								<integer>0</integer>
								<key>widthOffset</key>
								<integer>0</integer>
								<key>widthScale</key>
								<integer>5000</integer>
							</dict>
						</array>
					</dict>
				</array>
				<key>height</key>
				<integer>0</integer>
				<key>heightOffset</key>
				<integer>0</integer>
				<key>heightScale</key>
				<integer>5000</integer>
				<key>name</key>
				<string>CoinBossRankContainer</string>
				<key>refMode</key>
				<integer>1</integer>
				<key>refPointMode</key>
				<integer>5</integer>
				<key>transform</key>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>0</integer>
				</dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>width</key>
				<integer>0</integer>
				<key>widthOffset</key>
				<integer>0</integer>
				<key>widthScale</key>
				<integer>5000</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
