<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>UILayout</string>
		<key>tag</key>
		<integer>1</integer>
		<key>name</key>
		<string>dailyTaskPanel</string>
		<key>bModelLayer</key>
		<integer>1</integer>
		<key>luaScript</key>
		<string></string>
		<key>isVisible</key>
		<integer>1</integer>
		<key>children</key>
		<array>
			<dict>
				<key>children</key>
				<array>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>1</key>
								<string>UI/ui_ppve.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>1</integer>
						<key>name</key>
						<string>backGround</string>
						<key>resourceName</key>
						<string>map_ui2_FRAME_DAILYTASK_BACKGROUND</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>1</key>
								<string>UI/ui_ppve.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>1</integer>
						<key>name</key>
						<string>backGround2</string>
						<key>resourceName</key>
						<string>map_ui2_FRAME_DAILYTASK_BACKGROUND2</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>1</key>
								<string>UI/ui_ppve.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>1</integer>
						<key>name</key>
						<string>backDecPic</string>
						<key>resourceName</key>
						<string>map_ui2_FRAME_DAILYTASK_BACKGROUND_DECORATION</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>1</key>
								<string>UI/ui_ppve.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>1</integer>
						<key>name</key>
						<string>backDecPic2</string>
						<key>resourceName</key>
						<string>map_ui2_FRAME_DAILYTASK_BACKGROUND_DECORATION1</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIScrollList</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>leftScrollList</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>viewWidth</key>
						<integer>1024</integer>
						<key>viewHeight</key>
						<integer>768</integer>
						<key>contentOffsetX</key>
						<integer>0</integer>
						<key>contentOffsetY</key>
						<integer>0</integer>
						<key>contentWidth</key>
						<integer>1024</integer>
						<key>contentHeight</key>
						<integer>768</integer>
						<key>direction</key>
						<integer>1</integer>
						<key>startX</key>
						<integer>0</integer>
						<key>startY</key>
						<integer>0</integer>
						<key>background</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>name</key>
							<string>map_ui2_FRAME_DAILYTASK_LIST_AREA</string>
							<key>useASposition</key>
							<integer>1</integer>
						</dict>
						<key>children</key>
						<array/>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>PanelTitle</string>
						<key>luaScript</key>
						<string></string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_DAILYTASK_TEXT_TITLE</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string>每日任务</string>
						<key>fontSize</key>
						<integer>32</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>TaskCompelteTimesLabel</string>
						<key>luaScript</key>
						<string></string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>250</integer>
							<key>green</key>
							<integer>132</integer>
							<key>blue</key>
							<integer>36</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_DAILYTASK_TEXT_REMAINTIME</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string>剩余次数：0</string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>taskNameLabel</string>
						<key>luaScript</key>
						<string></string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>250</integer>
							<key>green</key>
							<integer>132</integer>
							<key>blue</key>
							<integer>36</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_DAILYTASK_TEXT_TASKTITLE</string>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string>任务名称</string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>taskConditionCommonLabel</string>
						<key>luaScript</key>
						<string></string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>106</integer>
							<key>green</key>
							<integer>197</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_DAILYTASK_TEXT_TASKCONDITION</string>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string>任务条件：</string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>taskConditionLabel</string>
						<key>luaScript</key>
						<string></string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_DAILYTASK_TEXT_TASKCONDITION2</string>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string>任务条件内容</string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>taskRewardCommonLabel</string>
						<key>luaScript</key>
						<string></string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>106</integer>
							<key>green</key>
							<integer>197</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_DAILYTASK_TEXT_TASKREWARD</string>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string>任务奖励</string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>1</key>
								<string>UI/ui_ppve.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>1</integer>
						<key>name</key>
						<string>taskCoinPic</string>
						<key>resourceName</key>
						<string>map_ui2_FRAME_DAILYTASK_ICON_COIN</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>taskIconNumLabel</string>
						<key>luaScript</key>
						<string></string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_DAILYTASK_TEXT_COIN</string>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string>100</string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>1</key>
								<string>UI/ui_ppve.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>1</integer>
						<key>name</key>
						<string>taskExploitPic</string>
						<key>resourceName</key>
						<string>map_ui2_FRAME_DAILYTASK_ICON_EXPLOIT</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>taskExpolitNumLabel</string>
						<key>luaScript</key>
						<string></string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_DAILYTASK_TEXT_EXPLOIT</string>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string>100</string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>1</key>
								<string>UI/ui_ppve.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>1</integer>
						<key>name</key>
						<string>taskMedalPic</string>
						<key>resourceName</key>
						<string>map_ui2_FRAME_DAILYTASK_ICON_MEDAL</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>taskMedalNumLabel</string>
						<key>luaScript</key>
						<string></string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_DAILYTASK_TEXT_MEDAL</string>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string>100</string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>3</integer>
						<key>name</key>
						<string>acceptAndRewardBtn</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>clickedCallback</key>
						<string></string>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_ppve.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>normalTexture</key>
							<string>map_ui2_FRAME_DAILYTASK_BUTTON_ACCEPTTASK</string>
							<key>clickedTexture</key>
							<string>map_ui2_FRAME_DAILYTASK_BUTTON_ACCEPTTASK_CLICKED</string>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>taskAccpetAndRewardBtnLabel</string>
						<key>luaScript</key>
						<string></string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_DAILYTASK_TEXT_ACCEPTTASK</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string>接受任务</string>
						<key>fontSize</key>
						<integer>28</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>3</integer>
						<key>name</key>
						<string>completeRightNowBtn</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>clickedCallback</key>
						<string></string>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_ppve.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>normalTexture</key>
							<string>map_ui2_FRAME_DAILYTASK_BUTTON_COMPLETENOW</string>
							<key>clickedTexture</key>
							<string>map_ui2_FRAME_DAILYTASK_BUTTON_COMPLETENOW_CLICKED</string>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>compelteRightNowBtnLabel</string>
						<key>luaScript</key>
						<string></string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_DAILYTASK_TEXT_COMPLETENOW</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string>立即完成</string>
						<key>fontSize</key>
						<integer>28</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>3</integer>
						<key>name</key>
						<string>giveUpBtn</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>clickedCallback</key>
						<string></string>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_ppve.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>normalTexture</key>
							<string>map_ui2_FRAME_DAILYTASK_BUTTON_GIVEUP</string>
							<key>clickedTexture</key>
							<string>map_ui2_FRAME_DAILYTASK_BUTTON_GIVEUP_CLICKED</string>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>giveUpBtnLabel</string>
						<key>luaScript</key>
						<string></string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_DAILYTASK_TEXT_GIVEUP</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string>放弃任务</string>
						<key>fontSize</key>
						<integer>28</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>3</integer>
						<key>name</key>
						<string>freshBtn</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>clickedCallback</key>
						<string></string>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_ppve.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>normalTexture</key>
							<string>map_ui2_FRAME_DAILYTASK_BUTTON_UPDATE</string>
							<key>clickedTexture</key>
							<string>map_ui2_FRAME_DAILYTASK_BUTTON_UPDATE_CLICKED</string>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>freshBtnLabel</string>
						<key>luaScript</key>
						<string></string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_DAILYTASK_TEXT_UPDATE</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string>刷新任务</string>
						<key>fontSize</key>
						<integer>28</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>3</integer>
						<key>name</key>
						<string>fullStarBtn</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>clickedCallback</key>
						<string></string>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_ppve.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>normalTexture</key>
							<string>map_ui2_FRAME_DAILYTASK_BUTTON_FULLSTAR</string>
							<key>clickedTexture</key>
							<string>map_ui2_FRAME_DAILYTASK_BUTTON_FULLSTAR_CLICKED</string>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>fullStarBtnLabel</string>
						<key>luaScript</key>
						<string></string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_DAILYTASK_TEXT_FULLSTAR</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string>满星任务</string>
						<key>fontSize</key>
						<integer>28</integer>
					</dict>
					<dict>
						<key>children</key>
						<array>
							<dict>
								<key>AspriteManager</key>
								<dict>
									<key>images</key>
									<dict>
										<key>0</key>
										<string>UI/ui.png</string>
										<key>1</key>
										<string>UI/ui_ppve.png</string>
										<key>imagecount</key>
										<integer>2</integer>
									</dict>
									<key>ipad</key>
									<string>UI/ui2.bin</string>
									<key>iphone</key>
									<string>UI/ui2.bin</string>
								</dict>
								<key>type</key>
								<string>UIPicture</string>
								<key>tag</key>
								<integer>1</integer>
								<key>name</key>
								<string>coinIcon</string>
								<key>resourceName</key>
								<string>map_ui2_FRAME_DAILYTASK_ICON_COIN_INALL</string>
								<key>useASposition</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>AspriteManager</key>
								<dict>
									<key>images</key>
									<dict>
										<key>0</key>
										<string>UI/ui.png</string>
										<key>1</key>
										<string>UI/ui_ppve.png</string>
										<key>imagecount</key>
										<integer>2</integer>
									</dict>
									<key>ipad</key>
									<string>UI/ui2.bin</string>
									<key>iphone</key>
									<string>UI/ui2.bin</string>
								</dict>
								<key>type</key>
								<string>UIPicture</string>
								<key>tag</key>
								<integer>1</integer>
								<key>name</key>
								<string>expolitIcon</string>
								<key>resourceName</key>
								<string>map_ui2_FRAME_DAILYTASK_ICON_EXPLOIT_INALL</string>
								<key>useASposition</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>type</key>
								<string>UILabel</string>
								<key>tag</key>
								<integer>0</integer>
								<key>name</key>
								<string>coinLabel</string>
								<key>luaScript</key>
								<string></string>
								<key>color</key>
								<dict>
									<key>red</key>
									<integer>255</integer>
									<key>green</key>
									<integer>255</integer>
									<key>blue</key>
									<integer>255</integer>
								</dict>
								<key>rect</key>
								<dict>
									<key>AspriteManager</key>
									<dict>
										<key>ipad</key>
										<string>UI/ui2.bin</string>
										<key>iphone</key>
										<string>UI/ui2.bin</string>
									</dict>
									<key>useASRect</key>
									<integer>1</integer>
									<key>ASRectName</key>
									<string>map_ui2_FRAME_DAILYTASK_NUMBER_COIN_INALL</string>
									<key>alignment</key>
									<integer>0</integer>
									<key>anchorPoint</key>
									<integer>1</integer>
								</dict>
								<key>bLocalizeString</key>
								<integer>0</integer>
								<key>content</key>
								<string>0</string>
								<key>fontSize</key>
								<integer>24</integer>
							</dict>
							<dict>
								<key>type</key>
								<string>UILabel</string>
								<key>tag</key>
								<integer>0</integer>
								<key>name</key>
								<string>expolitLabel</string>
								<key>luaScript</key>
								<string></string>
								<key>color</key>
								<dict>
									<key>red</key>
									<integer>255</integer>
									<key>green</key>
									<integer>255</integer>
									<key>blue</key>
									<integer>255</integer>
								</dict>
								<key>rect</key>
								<dict>
									<key>AspriteManager</key>
									<dict>
										<key>ipad</key>
										<string>UI/ui2.bin</string>
										<key>iphone</key>
										<string>UI/ui2.bin</string>
									</dict>
									<key>useASRect</key>
									<integer>1</integer>
									<key>ASRectName</key>
									<string>map_ui2_FRAME_DAILYTASK_NUMBER_EXPLOIT_INALL</string>
									<key>alignment</key>
									<integer>0</integer>
									<key>anchorPoint</key>
									<integer>1</integer>
								</dict>
								<key>bLocalizeString</key>
								<integer>0</integer>
								<key>content</key>
								<string>0</string>
								<key>fontSize</key>
								<integer>24</integer>
							</dict>
						</array>
						<key>refMode</key>
						<integer>1</integer>
						<key>refObjName</key>
						<string></string>
						<key>refPointMode</key>
						<integer>5</integer>
						<key>tag</key>
						<integer>1</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIContainer</string>
						<key>name</key>
						<string>commonPanelContainer</string>
						<key>width</key>
						<integer>0</integer>
						<key>widthOffset</key>
						<integer>0</integer>
						<key>heightOffset</key>
						<integer>0</integer>
						<key>widthScale</key>
						<integer>5000</integer>
						<key>heightScale</key>
						<integer>0</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>3</integer>
						<key>name</key>
						<string>closeBtn</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>clickedCallback</key>
						<string></string>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_ppve.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>normalTexture</key>
							<string>map_ui2_FRAME_DAILYTASK_BUTTON_CLOSE</string>
							<key>clickedTexture</key>
							<string>map_ui2_FRAME_DAILYTASK_BUTTON_CLOSE_CLICKED</string>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
				</array>
				<key>refMode</key>
				<integer>1</integer>
				<key>refObjName</key>
				<string></string>
				<key>refPointMode</key>
				<integer>5</integer>
				<key>tag</key>
				<integer>1</integer>
				<key>transform</key>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>0</integer>
				</dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>name</key>
				<string>dailyTaskContainer</string>
				<key>width</key>
				<integer>0</integer>
				<key>widthOffset</key>
				<integer>0</integer>
				<key>heightOffset</key>
				<integer>0</integer>
				<key>widthScale</key>
				<integer>5000</integer>
				<key>heightScale</key>
				<integer>5000</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
