<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>UILayout</string>
		<key>tag</key>
		<integer>1</integer>
		<key>name</key>
		<string>ElfExploerPanel</string>
		<key>bModelLayer</key>
		<integer>1</integer>
		<key>luaScript</key>
		<string></string>
		<key>isVisible</key>
		<integer>1</integer>
		<key>children</key>
		<array>
			<dict>
				<key>children</key>
				<array>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>1</integer>
						<key>name</key>
						<string>bgElfPic</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_EXPLORE_BACKGROUND</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>1</integer>
						<key>name</key>
						<string>bgDecoration</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_EXPLORE_BACKGROUND_DECORATION</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>1</integer>
						<key>name</key>
						<string>bgElfList</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_EXPLORE_LIST_BACKGROUND</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>1</integer>
						<key>name</key>
						<string>mapNameBg</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_EXPLORE_FRAME_MAPNAME</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>exploer_map_name</string>
						<key>luaScript</key>
						<string></string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_EXPLORE_TEXT_MAPNAME</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string>Map Name</string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>1</integer>
						<key>name</key>
						<string>exploer_map_frame_icon</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_EXPLORE_FRAME_MAPPIC</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>1</integer>
						<key>name</key>
						<string>exploer_map_icon</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_EXPLORE_FRAME_MAPPIC</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>exploer_tip_txt_info</string>
						<key>luaScript</key>
						<string></string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_EXPLORE_TEXT_TODAYTIME</string>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string>今天还能云游的次数：</string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>exploer_tip_info</string>
						<key>luaScript</key>
						<string></string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_EXPLORE_NUMBER_TODAYTIME</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string>5</string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>3</integer>
						<key>name</key>
						<string>freshBtn</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>clickedCallback</key>
						<string></string>
						<key>texture</key>
						<dict>
							<key>normalTexture</key>
							<string>map_ui_FRAME_EXPLORE_BUTTON_UPDATE</string>
							<key>clickedTexture</key>
							<string>map_ui_FRAME_EXPLORE_BUTTON_UPDATE_CLICKED</string>
							<key>disableTexture</key>
                            <string>map_ui_FRAME_EXPLORE_BUTTON_UPDATE_CANTCLICK</string>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>3</integer>
						<key>name</key>
						<string>exploerBtn</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>clickedCallback</key>
						<string></string>
						<key>texture</key>
						<dict>
							<key>normalTexture</key>
							<string>map_ui_FRAME_EXPLORE_BUTTON_EXPLORE</string>
							<key>clickedTexture</key>
							<string>map_ui_FRAME_EXPLORE_BUTTON_EXPLORE_CLICKED</string>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>exploer_fresh_btn_txt</string>
						<key>luaScript</key>
						<string></string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_EXPLORE_TEXT_UPDATE_CLICKED</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string>刷新</string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>exploer_go_btn_txt</string>
						<key>luaScript</key>
						<string></string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_EXPLORE_TEXT_EXPLORE</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string>云游</string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>3</integer>
						<key>name</key>
						<string>closeBtn</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>clickedCallback</key>
						<string></string>
						<key>texture</key>
						<dict>
							<key>normalTexture</key>
							<string>map_ui_FRAME_EXPLORE_BUTTON_CLOSE</string>
							<key>clickedTexture</key>
							<string>map_ui_FRAME_EXPLORE_BUTTON_CLOSE_CLICKED</string>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>1</integer>
						<key>name</key>
						<string>bgDecoration1</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_EXPLORE_BACKGROUND_DECORATION1</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>title</string>
						<key>luaScript</key>
						<string></string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_EXPLORE_TEXT_TITLE</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string>云游</string>
						<key>fontSize</key>
						<integer>32</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>fairyEncountContent</string>
						<key>luaScript</key>
						<string></string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_EXPLORE_TEXT_FAIRYCANGET</string>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string>Fairy Get</string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIScrollList</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>elfScrollList</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>viewWidth</key>
						<integer>1024</integer>
						<key>viewHeight</key>
						<integer>768</integer>
						<key>contentOffsetX</key>
						<integer>0</integer>
						<key>contentOffsetY</key>
						<integer>0</integer>
						<key>contentWidth</key>
						<integer>1024</integer>
						<key>contentHeight</key>
						<integer>768</integer>
						<key>direction</key>
						<integer>1</integer>
						<key>startX</key>
						<integer>0</integer>
						<key>startY</key>
						<integer>0</integer>
						<key>background</key>
						<dict>
							<key>name</key>
							<string>map_ui_FRAME_EXPLORE_FRAME_LISTAREA</string>
							<key>useASposition</key>
							<integer>1</integer>
						</dict>
						<key>children</key>
						<array/>
					</dict>
					<dict>
						<key>children</key>
						<array>
							<dict>
								<key>type</key>
								<string>UIButton</string>
								<key>tag</key>
								<integer>3</integer>
								<key>name</key>
								<string>bgBtn</string>
								<key>isVisible</key>
								<integer>1</integer>
								<key>clickedCallback</key>
								<string></string>
								<key>texture</key>
								<dict>
									<key>normalTexture</key>
									<string>map_ui_FRAME_EXPLORE_CHOICE_BACKGROUND</string>
									<key>clickedTexture</key>
									<string>map_ui_FRAME_EXPLORE_CHOICE_BACKGROUND</string>
								</dict>
								<key>useASposition</key>
								<integer>1</integer>
								<key>drag</key>
								<dict>
									<key>priority</key>
									<integer>-130</integer>
								</dict>
							</dict>
							<dict>
								<key>type</key>
								<string>UILabel</string>
								<key>tag</key>
								<integer>0</integer>
								<key>name</key>
								<string>exploer_event_content_label</string>
								<key>luaScript</key>
								<string></string>
								<key>color</key>
								<dict>
									<key>red</key>
									<integer>255</integer>
									<key>green</key>
									<integer>255</integer>
									<key>blue</key>
									<integer>255</integer>
								</dict>
								<key>rect</key>
								<dict>
									<key>useASRect</key>
									<integer>1</integer>
									<key>ASRectName</key>
									<string>map_ui_FRAME_EXPLORE_TEXT_EVENT</string>
									<key>alignment</key>
									<integer>1</integer>
									<key>anchorPoint</key>
									<integer>1</integer>
								</dict>
								<key>bLocalizeString</key>
								<integer>0</integer>
								<key>content</key>
								<string>Event Content</string>
								<key>fontSize</key>
								<integer>24</integer>
							</dict>
							<dict>
								<key>type</key>
								<string>UIButton</string>
								<key>tag</key>
								<integer>3</integer>
								<key>name</key>
								<string>choice_Btn_2</string>
								<key>isVisible</key>
								<integer>1</integer>
								<key>clickedCallback</key>
								<string></string>
								<key>texture</key>
								<dict>
									<key>normalTexture</key>
									<string>map_ui_FRAME_EXPLORE_BUTTON_CHOICE2</string>
									<key>clickedTexture</key>
									<string>map_ui_FRAME_EXPLORE_BUTTON_CHOICE2_CLICKED</string>
								</dict>
								<key>useASposition</key>
								<integer>1</integer>
								<key>drag</key>
								<dict>
									<key>priority</key>
									<integer>-130</integer>
								</dict>
							</dict>
							<dict>
								<key>type</key>
								<string>UILabel</string>
								<key>tag</key>
								<integer>0</integer>
								<key>name</key>
								<string>exploer_choice_content_2</string>
								<key>luaScript</key>
								<string></string>
								<key>color</key>
								<dict>
									<key>red</key>
									<integer>255</integer>
									<key>green</key>
									<integer>255</integer>
									<key>blue</key>
									<integer>255</integer>
								</dict>
								<key>rect</key>
								<dict>
									<key>useASRect</key>
									<integer>1</integer>
									<key>ASRectName</key>
									<string>map_ui_FRAME_EXPLORE_TEXT_CHOICE2</string>
									<key>alignment</key>
									<integer>1</integer>
									<key>anchorPoint</key>
									<integer>1</integer>
								</dict>
								<key>bLocalizeString</key>
								<integer>0</integer>
								<key>content</key>
								<string>exploer_choice_content_2</string>
								<key>fontSize</key>
								<integer>24</integer>
							</dict>
							<dict>
								<key>type</key>
								<string>UIButton</string>
								<key>tag</key>
								<integer>3</integer>
								<key>name</key>
								<string>choice_Btn_1</string>
								<key>isVisible</key>
								<integer>1</integer>
								<key>clickedCallback</key>
								<string></string>
								<key>texture</key>
								<dict>
									<key>normalTexture</key>
									<string>map_ui_FRAME_EXPLORE_BUTTON_CHOICE1</string>
									<key>clickedTexture</key>
									<string>map_ui_FRAME_EXPLORE_BUTTON_CHOICE1_CLICKED</string>
								</dict>
								<key>useASposition</key>
								<integer>1</integer>
								<key>drag</key>
								<dict>
									<key>priority</key>
									<integer>-130</integer>
								</dict>
							</dict>
							<dict>
								<key>type</key>
								<string>UIPicture</string>
								<key>tag</key>
								<integer>1</integer>
								<key>name</key>
								<string>goldPacker_1</string>
								<key>resourceName</key>
								<string>map_ui_FRAME_EXPLORE_ICON_CHOICE1</string>
								<key>useASposition</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>type</key>
								<string>UIPicture</string>
								<key>tag</key>
								<integer>1</integer>
								<key>name</key>
								<string>goldPacker_2</string>
								<key>resourceName</key>
								<string>map_ui_FRAME_EXPLORE_ICON_CHOICE2</string>
								<key>useASposition</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>type</key>
								<string>UILabel</string>
								<key>tag</key>
								<integer>0</integer>
								<key>name</key>
								<string>exploer_choice_content_1</string>
								<key>luaScript</key>
								<string></string>
								<key>color</key>
								<dict>
									<key>red</key>
									<integer>255</integer>
									<key>green</key>
									<integer>255</integer>
									<key>blue</key>
									<integer>255</integer>
								</dict>
								<key>rect</key>
								<dict>
									<key>useASRect</key>
									<integer>1</integer>
									<key>ASRectName</key>
									<string>map_ui_FRAME_EXPLORE_TEXT_CHOICE1</string>
									<key>alignment</key>
									<integer>1</integer>
									<key>anchorPoint</key>
									<integer>1</integer>
								</dict>
								<key>bLocalizeString</key>
								<integer>0</integer>
								<key>content</key>
								<string>exploer_choice_content_1</string>
								<key>fontSize</key>
								<integer>24</integer>
							</dict>
						</array>
						<key>refMode</key>
						<integer>1</integer>
						<key>refObjName</key>
						<string></string>
						<key>refPointMode</key>
						<integer>5</integer>
						<key>tag</key>
						<integer>1</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>100</integer>
						</dict>
						<key>type</key>
						<string>UIContainer</string>
						<key>name</key>
						<string>eventPanelContainer</string>
						<key>width</key>
						<integer>0</integer>
						<key>widthOffset</key>
						<integer>0</integer>
						<key>heightOffset</key>
						<integer>0</integer>
						<key>widthScale</key>
						<integer>5000</integer>
						<key>heightScale</key>
						<integer>5000</integer>
					</dict>
					<dict>
						<key>children</key>
						<array>
							<dict>
								<key>type</key>
								<string>UIPicture</string>
								<key>tag</key>
								<integer>1</integer>
								<key>name</key>
								<string>money_icon</string>
								<key>resourceName</key>
								<string>map_ui_FRAME_EXPLORE_ICON_COIN_INALL</string>
								<key>useASposition</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>type</key>
								<string>UILabel</string>
								<key>tag</key>
								<integer>0</integer>
								<key>name</key>
								<string>money_num</string>
								<key>luaScript</key>
								<string></string>
								<key>color</key>
								<dict>
									<key>red</key>
									<integer>255</integer>
									<key>green</key>
									<integer>255</integer>
									<key>blue</key>
									<integer>255</integer>
								</dict>
								<key>rect</key>
								<dict>
									<key>useASRect</key>
									<integer>1</integer>
									<key>ASRectName</key>
									<string>map_ui_FRAME_EXPLORE_NUMBER_COIN_INALL</string>
									<key>alignment</key>
									<integer>1</integer>
									<key>anchorPoint</key>
									<integer>1</integer>
								</dict>
								<key>bLocalizeString</key>
								<integer>0</integer>
								<key>content</key>
								<string></string>
								<key>fontSize</key>
								<integer>20</integer>
							</dict>
							<dict>
								<key>type</key>
								<string>UIPicture</string>
								<key>tag</key>
								<integer>1</integer>
								<key>name</key>
								<string>diamond_icon</string>
								<key>resourceName</key>
								<string>map_ui_FRAME_EXPLORE_ICON_DIAMOND_INALL</string>
								<key>useASposition</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>type</key>
								<string>UILabel</string>
								<key>tag</key>
								<integer>0</integer>
								<key>name</key>
								<string>diamond_num</string>
								<key>luaScript</key>
								<string></string>
								<key>color</key>
								<dict>
									<key>red</key>
									<integer>255</integer>
									<key>green</key>
									<integer>255</integer>
									<key>blue</key>
									<integer>255</integer>
								</dict>
								<key>rect</key>
								<dict>
									<key>useASRect</key>
									<integer>1</integer>
									<key>ASRectName</key>
									<string>map_ui_FRAME_EXPLORE_NUMBER_DIAMOND_INALL</string>
									<key>alignment</key>
									<integer>1</integer>
									<key>anchorPoint</key>
									<integer>1</integer>
								</dict>
								<key>bLocalizeString</key>
								<integer>0</integer>
								<key>content</key>
								<string></string>
								<key>fontSize</key>
								<integer>20</integer>
							</dict>
						</array>
						<key>refMode</key>
						<integer>1</integer>
						<key>refObjName</key>
						<string></string>
						<key>refPointMode</key>
						<integer>5</integer>
						<key>tag</key>
						<integer>1</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIContainer</string>
						<key>name</key>
						<string>commonDownContainer</string>
						<key>width</key>
						<integer>0</integer>
						<key>widthOffset</key>
						<integer>0</integer>
						<key>heightOffset</key>
						<integer>0</integer>
						<key>widthScale</key>
						<integer>5000</integer>
						<key>heightScale</key>
						<integer>0</integer>
					</dict>
				</array>
				<key>refMode</key>
				<integer>1</integer>
				<key>refObjName</key>
				<string></string>
				<key>refPointMode</key>
				<integer>5</integer>
				<key>tag</key>
				<integer>1</integer>
				<key>transform</key>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>0</integer>
				</dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>name</key>
				<string>ElfExploerContainer</string>
				<key>width</key>
				<integer>0</integer>
				<key>widthOffset</key>
				<integer>0</integer>
				<key>heightOffset</key>
				<integer>0</integer>
				<key>widthScale</key>
				<integer>5000</integer>
				<key>heightScale</key>
				<integer>5000</integer>
			</dict>
			<dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>tag</key>
				<integer>0</integer>
				<key>name</key>
				<string>buttomContainer</string>
				<key>isVisible</key>
				<integer>1</integer>
				<key>transform</key>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>0</integer>
				</dict>
				<key>refMode</key>
				<integer>1</integer>
				<key>refPointMode</key>
				<integer>5</integer>
				<key>widthScale</key>
				<integer>5000</integer>
				<key>widthOffset</key>
				<integer>0</integer>
				<key>heightScale</key>
				<integer>0</integer>
				<key>heightOffset</key>
				<integer>0</integer>
				<key>width</key>
				<integer>0</integer>
				<key>height</key>
				<integer>0</integer>
				<key>refObjName</key>
				<string></string>
				<key>children</key>
				<array>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>3</integer>
						<key>name</key>
						<string>helpBt</string>
						<key>isVisible</key>            
						<integer>1</integer>
						<key>clickedCallback</key>        
						<string></string>
						<key>texture</key>               
						<dict>
							<key>normalTexture</key>      
							<string>map_ui_FRAME_EXPLORE_BUTTON_HELP</string>
							<key>clickedTexture</key>     
							<string>map_ui_FRAME_EXPLORE_BUTTON_HELP_CLICKED</string>
							<key>iconTexture</key>     
							<string>map_ui_system_icon_FRAME_ICON_HELPHINT</string>
						</dict>
						<key>useASposition</key>         
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
