<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>UILayout</string>
		<key>tag</key>
		<integer>0</integer>
		<key>name</key>
		<string>equipBreakLayout</string>
		<key>bModelLayer</key>
		<integer>1</integer>
		<key>bModelPriorty</key>
		<integer>-132</integer>
		<key>isVisible</key>              
		<integer>1</integer>
		<key>transform</key>             
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>z</key>
			<integer>3</integer>
		</dict>
		<key>color</key>                 
		<dict>
			<key>red</key>
			<integer>0</integer>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
			<key>alpha</key>
			<integer>0</integer>
		</dict>
		<key>children</key> 
		<array>
 			<dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>tag</key>
				<integer>0</integer>
				<key>name</key>
				<string>EquipBreakContainer</string>
				<key>luaScript</key>              
				<string></string>
				<key>isVisible</key>              
				<integer>1</integer>
				<key>transform</key>              
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>0</integer>
				</dict>
				<key>refMode</key>                
				<integer>1</integer>
				<key>refPointMode</key>           
				<integer>5</integer>
				<key>widthScale</key>             
				<integer>5000</integer>
				<key>widthOffset</key>            
				<integer>0</integer>
				<key>heightScale</key>            
				<integer>5000</integer>
				<key>heightOffset</key>          
				<integer>0</integer>
				<key>width</key>                  
				<integer>0</integer>
				<key>height</key>                 
				<integer>0</integer>
				<key>children</key>               
				<array> 
					<dict>
	            		<key>type</key>
	            		<string>UIPicture</string>
	            		<key>tag</key>
	            		<integer>0</integer>
	            		<key>name</key>
	            		<string>frameBG</string>
	            		<key>resourceName</key>
	            		<string>map_ui_FRAME_DECOMPOSITION_BACKGROUND</string>
	            		<key>useASposition</key>
	            		<integer>1</integer>
	            	</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>titleLabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_DECOMPOSITION_BACKGROUND_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_DECOMPOSITION</string>
						<key>fontSize</key>
						<integer>28</integer>
					</dict>
					<!-- <dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>requestLabel</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_DECOMPOSITION_TEXT1</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict> -->
					<dict>
	            		<key>type</key>
	            		<string>UIPicture</string>
	            		<key>tag</key>
	            		<integer>0</integer>
	            		<key>name</key>
	            		<string>requestLabel</string>
	            		<key>resourceName</key>
	            		<string>map_ui_FRAME_DECOMPOSITION_TEXT1</string>
	            		<key>useASposition</key>
	            		<integer>1</integer>
	            	</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>returnLabel</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_DECOMPOSITION_TEXT2</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_DECOMPOSITION_TEXT2</string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>goldPic</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_DECOMPOSITION_COIN</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>fragPic</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_DECOMPOSITION_FRAGMENT</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>coinLabel</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_DECOMPOSITION_COIN_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>fragLabel</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_DECOMPOSITION_FRAGMENT_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>confirmBt</string>
						<key>isVisible</key>            
						<integer>1</integer>
						<key>texture</key>               
						<dict>
							<key>normalTexture</key>
							<string>map_ui_FRAME_DECOMPOSITION_BUTTON_DEFINE</string>
							<key>clickedTexture</key>     
							<string>map_ui_FRAME_DECOMPOSITION_BUTTON_DEFINE_CLICKED</string>
						</dict>
						<key>useASposition</key>         
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-133</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>cancellBt</string>
						<key>isVisible</key>            
						<integer>1</integer>
						<key>texture</key>               
						<dict>
							<key>normalTexture</key>
							<string>map_ui_FRAME_DECOMPOSITION_BUTTON_CANCEL</string>
							<key>clickedTexture</key>     
							<string>map_ui_FRAME_DECOMPOSITION_BUTTON_CANCEL_CLICKED</string>
						</dict>
						<key>useASposition</key>         
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-133</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>confirmLabel</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_DECOMPOSITION_BUTTON_DEFINE_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>S_OK</string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>cancellLabel</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_DECOMPOSITION_BUTTON_CANCEL_CLICKED</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>S_CANCEL</string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>