<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>UILayout</string>
		<key>tag</key>
		<integer>0</integer>
		<key>bModelLayer</key>
		<integer>1</integer>
		<key>name</key>
		<string>equipUpgradeLayout</string>
		<key>bModelPriorty</key>
		<integer>-132</integer>
		<key>isVisible</key>              
		<integer>1</integer>
		<key>children</key>             
		<array>
 			<dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>tag</key>
				<integer>0</integer>
				<key>name</key>
				<string>equipUpgradeContainer</string>
				<key>isVisible</key>              
				<integer>1</integer>
				<key>refMode</key>                
				<integer>1</integer>
				<key>refPointMode</key>           
				<integer>5</integer>
				<key>widthScale</key>             
				<integer>5000</integer>
				<key>heightScale</key>            
				<integer>5000</integer>
				<key>children</key>               
				<array> 
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>backPic</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_STRENGTHENEQUIPAGE_BACKGROUND</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>	
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>titleLable</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_STRENGTHENEQUIPAGE_BACKGROUND_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>content</key>
						<string>装备强化</string>
						<key>fontSize</key>
						<integer>28</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>equipPic</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_STRENGTHENEQUIPAGE_ICON</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>	
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>equipName</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_STRENGTHENEQUIPAGE_ICON_NAME</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>qualityLabel</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_STRENGTHENEQUIPAGE_ICON_QUALITY</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>equipLevel</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_STRENGTHENEQUIPAGE_ICON_LV</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>attrLabel1</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_STRENGTHENEQUIPAGE_ICON_ATTRIBUTE1</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>attrNum1</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_STRENGTHENEQUIPAGE_ICON_ATTRIBUTE1_ORIGINAL</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>attrNextNum1</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>0</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_STRENGTHENEQUIPAGE_ICON_ATTRIBUTE1_UP</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>attrArrow1</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_STRENGTHENEQUIPAGE_ICON_ATTRIBUTE1_ARROW</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>	
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>attrLabel2</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_STRENGTHENEQUIPAGE_ICON_ATTRIBUTE2</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>attrNum2</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_STRENGTHENEQUIPAGE_ICON_ATTRIBUTE2_ORIGINAL</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>attrNextNum2</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>0</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_STRENGTHENEQUIPAGE_ICON_ATTRIBUTE2_UP</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>attrArrow2</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_STRENGTHENEQUIPAGE_ICON_ATTRIBUTE2_ARROW</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>	
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>attrNum3</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_STRENGTHENEQUIPAGE_ICON_ATTRIBUTE3_ORIGINAL</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>attrNextNum3</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>0</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_STRENGTHENEQUIPAGE_ICON_ATTRIBUTE3_UP</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>attrArrow3</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_STRENGTHENEQUIPAGE_ICON_ATTRIBUTE3_ARROW</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>	
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>attrLabel3</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_STRENGTHENEQUIPAGE_ICON_ATTRIBUTE3</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>attrLabel4</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_STRENGTHENEQUIPAGE_ICON_ATTRIBUTE4</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>attrNum4</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_STRENGTHENEQUIPAGE_ICON_ATTRIBUTE4_ORIGINAL</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>attrNextNum4</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>0</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_STRENGTHENEQUIPAGE_ICON_ATTRIBUTE4_UP</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>attrArrow4</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_STRENGTHENEQUIPAGE_ICON_ATTRIBUTE4_ARROW</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>	
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>attrLabel5</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_STRENGTHENEQUIPAGE_ICON_ATTRIBUTE5</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>attrNum5</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_STRENGTHENEQUIPAGE_ICON_ATTRIBUTE5_ORIGINAL</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>attrNextNum5</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_STRENGTHENEQUIPAGE_ICON_ATTRIBUTE5_UP</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>attrLock5</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_STRENGTHENEQUIPAGE_ICON_ATTRIBUTE5_LOCK</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>	
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>attrLabel6</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_STRENGTHENEQUIPAGE_ICON_ATTRIBUTE6</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>attrNum6</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_STRENGTHENEQUIPAGE_ICON_ATTRIBUTE6_ORIGINAL</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>attrNextNum6</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_STRENGTHENEQUIPAGE_ICON_ATTRIBUTE6_UP</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>attrLock6</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_STRENGTHENEQUIPAGE_ICON_ATTRIBUTE6_LOCK</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>	
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>costLabel</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_STRENGTHENEQUIPAGE_COST_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>content</key>
						<string>强化消耗</string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>costGoldLabel</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_STRENGTHENEQUIPAGE_COST_GOLD_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>costFragStoneLabel</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_STRENGTHENEQUIPAGE_COST_FRAGMENT_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>costGoldPic</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_STRENGTHENEQUIPAGE_COST_GOLD</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>costFragPic</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_STRENGTHENEQUIPAGE_COST_FRAGMENT</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>3</integer>
						<key>name</key>
						<string>allStrenghBt</string>
						<key>isVisible</key>            
						<integer>1</integer>
						<key>texture</key>               
						<dict>
							<key>normalTexture</key>      
							<string>map_ui_FRAME_STRENGTHENEQUIPAGE_BUTTON_AKEYSTRENGTHEN</string>
							<key>clickedTexture</key>     
							<string>map_ui_FRAME_STRENGTHENEQUIPAGE_BUTTON_AKEYSTRENGTHEN_CLICKED</string>
						</dict>
						<key>useASposition</key>         
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-133</integer>
						</dict>
					</dict>	
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>3</integer>
						<key>name</key>
						<string>strenghBt</string>
						<key>isVisible</key>            
						<integer>1</integer>
						<key>texture</key>               
						<dict>
							<key>normalTexture</key>      
							<string>map_ui_FRAME_STRENGTHENEQUIPAGE_BUTTON_STRENGTHEN</string>
							<key>clickedTexture</key>     
							<string>map_ui_FRAME_STRENGTHENEQUIPAGE_BUTTON_STRENGTHEN_CLICKED</string>
						</dict>
						<key>useASposition</key>         
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-133</integer>
						</dict>
					</dict>	
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>allStrengthLabel</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_STRENGTHENEQUIPAGE_BUTTON_AKEYSTRENGTHEN_CLICKED_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<string>1</string>
						<key>content</key>
						<string>M_STRENGTHENEQUIPAGE_AKEY</string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>strengthLabel</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_STRENGTHENEQUIPAGE_BUTTON_STRENGTHEN_CLICKED_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<string>1</string>
						<key>content</key>
						<string>M_UPGRADE</string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>owerLabel</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_STRENGTHENEQUIPAGE_SELF_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>content</key>
						<string>当前所有</string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>owerGoldPic</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_STRENGTHENEQUIPAGE_SELF_GOLD</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>owerGoldLabel</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_STRENGTHENEQUIPAGE_SELF_GOLD_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>owerFragPic</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_STRENGTHENEQUIPAGE_SELF_FRAGMENT</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>owerFragLabel</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_STRENGTHENEQUIPAGE_SELF_FRAGMENT_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>3</integer>
						<key>name</key>
						<string>closeBt</string>
						<key>isVisible</key>            
						<integer>1</integer>
						<key>texture</key>               
						<dict>
							<key>normalTexture</key>      
							<string>map_ui_FRAME_STRENGTHENEQUIPAGE_BUTTON_CLOSE</string>
							<key>clickedTexture</key>     
							<string>map_ui_FRAME_STRENGTHENEQUIPAGE_BUTTON_CLOSE_CLICKED</string>
						</dict>
						<key>useASposition</key>         
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-133</integer>
						</dict>
					</dict>	
				</array>
			</dict>	 
		</array>
	</dict>
</array>
</plist>