<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>UILayout</string>
		<key>tag</key>
		<integer>0</integer>
		<key>bModelLayer</key>
		<integer>1</integer>
		<key>name</key>
		<string>equipmentUpgradeLayout</string>
		<key>luaScript</key>              
		<string></string>
		<key>isVisible</key>              
		<integer>1</integer>
		<key>transform</key>             
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>z</key>
			<integer>0</integer>
		</dict>
		<key>color</key>                 
		<dict>
			<key>red</key>
			<integer>0</integer>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
			<key>alpha</key>
			<integer>0</integer>
		</dict>
		<key>children</key>             
		<array>
 			<dict>
			  <key>type</key>
			  <string>UIContainer</string>
			  <key>tag</key>
			  <integer>0</integer>
			  <key>name</key>
			  <string>equipmentUpgradeContainer</string>
			  <key>isVisible</key>              
			  <integer>1</integer>
			  <key>transform</key>              
			  <dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>z</key>
				<integer>0</integer>
			  </dict>
			  <key>refMode</key>                
			  <integer>1</integer>
			  <key>refPointMode</key>           
			  <integer>5</integer>
			  <key>widthScale</key>             
			  <integer>5000</integer>
			  <key>widthOffset</key>            
			  <integer>0</integer>
			  <key>heightScale</key>            
			  <integer>5000</integer>
			  <key>heightOffset</key>          
			  <integer>0</integer>
			  <key>width</key>                  
			  <integer>0</integer>
			  <key>height</key>                 
			  <integer>0</integer>
			  <key>refObjName</key>             
			  <string></string>
			  <key>children</key>               
			  <array> 
				<dict>
					<key>type</key>
					<string>UIPicture</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>equipBackPic</string>
					<key>transform</key>
					<dict>
					  <key>x</key>
					  <integer>0</integer>
					  <key>y</key>
					  <integer>-17</integer>
					  <key>z</key>
					  <integer>0</integer>
					</dict>
					<key>resourceName</key>
					<string>map_ui_FRAME_EQUIPUPGRADE_BACKGROUND</string>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>	
				<dict>
					<key>type</key>
					<string>UIPicture</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>equipBackPicDecorationOne</string>
					<key>resourceName</key>
					<string>map_ui_FRAME_EQUIPUPGRADE_BACKGROUND_DECORATION1</string>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>	
				<dict>
					<key>type</key>
					<string>UIPicture</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>equipBackPicDecorationTwo</string>
					<key>resourceName</key>
					<string>map_ui_FRAME_EQUIPUPGRADE_BACKGROUND_DECORATION2</string>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>	
				<dict>
					<key>type</key>
					<string>UIPicture</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>equipBackPicDecorationThree</string>
					<key>resourceName</key>
					<string>map_ui_FRAME_EQUIPUPGRADE_BACKGROUND_DECORATION3</string>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>	
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>equipUpgradeTitleLable</string>
					<key>color</key>
					<dict>
						<key>red</key>
						<integer>255</integer>
						<key>green</key>
						<integer>255</integer>
						<key>blue</key>
						<integer>0</integer>
					</dict>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_EQUIPUPGRADE_TEXT_TITLE</string>
						<key>alignment</key>
						<integer>1</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string>装备强化</string>
					<key>fontSize</key>
					<integer>28</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UIButtonToggle</string>
					  <key>tag</key>
					  <integer>1</integer>
					  <key>name</key>
					  <string>heroEquipButtonToggle</string>
					  <key>isVisible</key>             
					  <integer>1</integer>
					  <key>clickedCallback</key>
					  <string>EquipmentUpgradeUILayer::onClickHeroEquip</string>
					  <key>lable</key>                  
					  <dict>
						<key>content</key>             
						<string>主角装备</string>
						<key>fontSize</key>             
						<integer>28</integer>
					  </dict>
					  <key>toggleButtons</key>       
						<array>					  
						<dict>                        
						  <key>normalTexture</key>
						  <string>map_ui_FRAME_EQUIPUPGRADE_BUTTON_PLAYER</string>
						  <key>clickedTexture</key>
						  <string>map_ui_FRAME_EQUIPUPGRADE_BUTTON_PLAYER</string>
						</dict>
						<dict>                        
						  <key>normalTexture</key>
						  <string>map_ui_FRAME_EQUIPUPGRADE_BUTTON_PLAYER_CLICKED</string>
						  <key>clickedTexture</key>
						  <string>map_ui_FRAME_EQUIPUPGRADE_BUTTON_PLAYER_CLICKED</string>
						</dict>
						</array>
					  <key>useASposition</key>         
					  <integer>1</integer>
					  <key>drag</key>
					  <dict>
							<key>priority</key>
							<integer>-130</integer>
					  </dict>
				</dict>
				<dict> 
					<key>type</key>
					<string>UIButtonToggle</string>
					  <key>tag</key>
					  <integer>1</integer>
					  <key>name</key>
					  <string>fairyEquipButtonToggle</string>
					  <key>isVisible</key>             
					  <integer>1</integer>
					  <key>clickedCallback</key>       								
					  <string>EquipmentUpgradeUILayer::onClickFairyEquip</string>
					  <key>lable</key>                  
					  <dict>
						<key>content</key>             
						<string>精灵装备</string>
						<key>fontSize</key>             
						<integer>28</integer>
					  </dict>
					  <key>toggleButtons</key>  
						<array>					  
						<dict>                        
						  <key>normalTexture</key>
						  <string>map_ui_FRAME_EQUIPUPGRADE_BUTTON_FAIRY</string>
						  <key>clickedTexture</key>
						  <string>map_ui_FRAME_EQUIPUPGRADE_BUTTON_FAIRY</string>
						</dict>
						<dict>                        
						  <key>normalTexture</key>
						  <string>map_ui_FRAME_EQUIPUPGRADE_BUTTON_FAIRY_CLICKED</string>
						  <key>clickedTexture</key>
						  <string>map_ui_FRAME_EQUIPUPGRADE_BUTTON_FAIRY_CLICKED</string>
						</dict>
						</array>
					  <key>useASposition</key>         
					  <integer>1</integer>
					  <key>drag</key>
					  <dict>
						<key>priority</key>
						<integer>-130</integer>
					  </dict>
				</dict> 
				<dict>
					<key>type</key>
					<string>UIButton</string>
					<key>tag</key>
					<integer>3</integer>
					<key>name</key>
					<string>closeEquipUpgradeBt</string>
					<key>isVisible</key>            
					<integer>1</integer>
					<key>clickedCallback</key>        
					<string>EquipmentUpgradeUILayer::closeEquipUpgradeBt</string>
					<key>texture</key>               
					<dict>
						<key>normalTexture</key>      
						<string>map_ui_FRAME_EQUIPUPGRADE_BUTTON_CLOSE</string>
						<key>clickedTexture</key>     
						<string>map_ui_FRAME_EQUIPUPGRADE_BUTTON_CLOSE_CLICKED</string>
					</dict>
					<key>useASposition</key>         
					<integer>1</integer>
					<key>drag</key>
					  <dict>
						<key>priority</key>
						<integer>-130</integer>
					  </dict>
				</dict>	
				<dict>
					<key>type</key>
					<string>UIButton</string>
					<key>tag</key>
					<integer>3</integer>
					<key>name</key>
					<string>equipUpgradeBt2</string>
					<key>isVisible</key>            
					<integer>1</integer>
					<key>clickedCallback</key>        
					<string>EquipmentUpgradeUILayer::chooseOneEquipmentBt</string>
					<key>drag</key>
					<dict>
						<key>itemIndex</key>
						<integer>2</integer>
						<key>priority</key>
						<integer>-130</integer>
					</dict>
					<key>texture</key>               
					<dict>
						<key>normalTexture</key>      
						<string>map_ui_FRAME_EQUIPUPGRADE_FRAME_EQUIP_NECKLACE</string>
						<key>clickedTexture</key>     
						<string>map_ui_FRAME_EQUIPUPGRADE_FRAME_EQUIP_NECKLACE_SELECTED</string>
					</dict>
					<key>useASposition</key>         
					<integer>1</integer>
				</dict>	
				<dict>
					<key>type</key>
					<string>UIButton</string>
					<key>tag</key>
					<integer>3</integer>
					<key>name</key>
					<string>equipUpgradeBt3</string>
					<key>isVisible</key>            
					<integer>1</integer>
					<key>clickedCallback</key>        
					<string>EquipmentUpgradeUILayer::chooseOneEquipmentBt</string>
					<key>drag</key>
					<dict>
						<key>itemIndex</key>
						<integer>3</integer>
						<key>priority</key>
						<integer>-130</integer>
					</dict>
					<key>texture</key>               
					<dict>
						<key>normalTexture</key>      
						<string>map_ui_FRAME_EQUIPUPGRADE_FRAME_EQUIP_WEAPON</string>
						<key>clickedTexture</key>     
						<string>map_ui_FRAME_EQUIPUPGRADE_FRAME_EQUIP_WEAPON_SELECTED</string>
					</dict>
					<key>useASposition</key>         
					<integer>1</integer>
				</dict>	
				<dict>
					<key>type</key>
					<string>UIButton</string>
					<key>tag</key>
					<integer>3</integer>
					<key>name</key>
					<string>equipUpgradeBt1</string>
					<key>isVisible</key>            
					<integer>1</integer>
					<key>clickedCallback</key> 
					<string>EquipmentUpgradeUILayer::chooseOneEquipmentBt</string>
					<key>drag</key>
					<dict>
						<key>itemIndex</key>
						<integer>1</integer>
						<key>priority</key>
						<integer>-130</integer>
					</dict>
					<key>texture</key>
					<dict>
						<key>normalTexture</key>      
						<string>map_ui_FRAME_EQUIPUPGRADE_FRAME_EQUIP_HELMET</string>
						<key>clickedTexture</key>     
						<string>map_ui_FRAME_EQUIPUPGRADE_FRAME_EQUIP_HELMET_SELECTED</string>
					</dict>
					<key>useASposition</key>         
					<integer>1</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UIButton</string>
					<key>tag</key>
					<integer>3</integer>
					<key>name</key>
					<string>equipUpgradeBt4</string>
					<key>isVisible</key>            
					<integer>1</integer>
					<key>clickedCallback</key>        
					<string>EquipmentUpgradeUILayer::chooseOneEquipmentBt</string>
					<key>drag</key>
					<dict>
						<key>itemIndex</key>
						<integer>4</integer>
						<key>priority</key>
						<integer>-130</integer>
					</dict>
					<key>texture</key>               
					<dict>
						<key>normalTexture</key>      
						<string>map_ui_FRAME_EQUIPUPGRADE_FRAME_EQUIP_ARMOR</string>
						<key>clickedTexture</key>     
						<string>map_ui_FRAME_EQUIPUPGRADE_FRAME_EQUIP_ARMOR_SELECTED</string>
					</dict>
					<key>useASposition</key>         
					<integer>1</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UIButton</string>
					<key>tag</key>
					<integer>3</integer>
					<key>name</key>
					<string>equipUpgradeBt5</string>
					<key>isVisible</key>            
					<integer>1</integer>
					<key>clickedCallback</key> 
					<string>EquipmentUpgradeUILayer::chooseOneEquipmentBt</string>
					<key>drag</key>
					<dict>
						<key>itemIndex</key>
						<integer>5</integer>
						<key>priority</key>
						<integer>-130</integer>
					</dict>
					<key>texture</key>               
					<dict>
						<key>normalTexture</key>      
						<string>map_ui_FRAME_EQUIPUPGRADE_FRAME_EQUIP_RING</string>
						<key>clickedTexture</key>     
						<string>map_ui_FRAME_EQUIPUPGRADE_FRAME_EQUIP_RING_SELECTED</string>
					</dict>
					<key>useASposition</key>         
					<integer>1</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UIButton</string>
					<key>tag</key>
					<integer>3</integer>
					<key>name</key>
					<string>equipUpgradeBt6</string>
					<key>isVisible</key>            
					<integer>1</integer>
					<key>clickedCallback</key>        
					<string>EquipmentUpgradeUILayer::chooseOneEquipmentBt</string>
					<key>drag</key>
					<dict>
						<key>itemIndex</key>
						<integer>6</integer>
						<key>priority</key>
						<integer>-130</integer>
					</dict>
					<key>texture</key>               
					<dict>
						<key>normalTexture</key>      
						<string>map_ui_FRAME_EQUIPUPGRADE_FRAME_EQUIP_SHOE</string>
						<key>clickedTexture</key>     
						<string>map_ui_FRAME_EQUIPUPGRADE_FRAME_EQUIP_SHOE_SELECTED</string>
					</dict>
					<key>useASposition</key>         
					<integer>1</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>equipUpgradeLabel1</string>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_EQUIPUPGRADE_TEXT_HELMET_NAME</string>
						<key>alignment</key>
						<integer>1</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string>头盔</string>
					<key>fontSize</key>
					<integer>24</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>equipUpgradeLabel2</string>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_EQUIPUPGRADE_TEXT_NECKLACE_NAME</string>
						<key>alignment</key>
						<integer>1</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string>项链</string>
					<key>fontSize</key>
					<integer>24</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>equipUpgradeLabel3</string>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_EQUIPUPGRADE_TEXT_WEAPON_NAME</string>
						<key>alignment</key>
						<integer>1</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string>武器</string>
					<key>fontSize</key>
					<integer>24</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>equipUpgradeLabel4</string>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_EQUIPUPGRADE_TEXT_ARMOR_NAME</string>
						<key>alignment</key>
						<integer>1</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string>衣服</string>
					<key>fontSize</key>
					<integer>24</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>equipUpgradeLabel5</string>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_EQUIPUPGRADE_TEXT_RING_NAME</string>
						<key>alignment</key>
						<integer>1</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string>戒指</string>
					<key>fontSize</key>
					<integer>24</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>equipUpgradeLabel6</string>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_EQUIPUPGRADE_TEXT_SHOE_NAME</string>
						<key>alignment</key>
						<integer>1</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string>鞋子</string>
					<key>fontSize</key>
					<integer>24</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>equipUpgradeLevelLabel1</string>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_EQUIPUPGRADE_TEXT_HELMET_LEVEL</string>
						<key>alignment</key>
						<integer>1</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string>Level 1</string>
					<key>fontSize</key>
					<integer>24</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>equipUpgradeLevelLabel2</string>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_EQUIPUPGRADE_TEXT_NECKLACE_LEVEL</string>
						<key>alignment</key>
						<integer>1</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string>Level 1</string>
					<key>fontSize</key>
					<integer>24</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>equipUpgradeLevelLabel3</string>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_EQUIPUPGRADE_TEXT_WEAPON_LEVEL</string>
						<key>alignment</key>
						<integer>1</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string>Level 1</string>
					<key>fontSize</key>
					<integer>24</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>equipUpgradeLevelLabel4</string>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_EQUIPUPGRADE_TEXT_ARMOR_LEVEL</string>
						<key>alignment</key>
						<integer>1</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string>Level 1</string>
					<key>fontSize</key>
					<integer>24</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>equipUpgradeLevelLabel5</string>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_EQUIPUPGRADE_TEXT_RING_LEVEL</string>
						<key>alignment</key>
						<integer>1</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string>Level 1</string>
					<key>fontSize</key>
					<integer>24</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>equipUpgradeLevelLabel6</string>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_EQUIPUPGRADE_TEXT_SHOE_LEVEL</string>
						<key>alignment</key>
						<integer>1</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string>Level 1</string>
					<key>fontSize</key>
					<integer>24</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>equipUpgradeChoosedName</string>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_EQUIPUPGRADE_TEXT_EQUIPCHOOSED_NAME</string>
						<key>alignment</key>
						<integer>0</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string></string>
					<key>fontSize</key>
					<integer>26</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>equipUpgradeChoosedAddSkill</string>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_EQUIPUPGRADE_TEXT_EQUIPCHOOSED_ADDSKILL1</string>
						<key>alignment</key>
						<integer>2</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string></string>
					<key>fontSize</key>
					<integer>26</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>equipUpSkillNum</string>
					<key>color</key>
					<dict>
						<key>red</key>
						<integer>255</integer>
						<key>green</key>
						<integer>255</integer>
						<key>blue</key>
						<integer>255</integer>
					</dict>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_EQUIPUPGRADE_NUM_EQUIPCHOOSED_ADDSKILL1</string>
						<key>alignment</key>
						<integer>0</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string></string>
					<key>fontSize</key>
					<integer>26</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>equipUpgradeChoosedAddSkill2</string>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_EQUIPUPGRADE_TEXT_EQUIPCHOOSED_ADDSKILL2</string>
						<key>alignment</key>
						<integer>2</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string></string>
					<key>fontSize</key>
					<integer>26</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>equipUpSkillNum2</string>
					<key>color</key>
					<dict>
						<key>red</key>
						<integer>255</integer>
						<key>green</key>
						<integer>255</integer>
						<key>blue</key>
						<integer>255</integer>
					</dict>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_EQUIPUPGRADE_NUM_EQUIPCHOOSED_ADDSKILL2</string>
						<key>alignment</key>
						<integer>0</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string></string>
					<key>fontSize</key>
					<integer>26</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>equipUpgradeChoosedLevel</string>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_EQUIPUPGRADE_TEXT_EQUIPCHOOSED_LEVEL</string>
						<key>alignment</key>
						<integer>0</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string></string>
					<key>fontSize</key>
					<integer>24</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>equipUpgradeChoosedcost</string>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_EQUIPUPGRADE_TEXT_EQUIPCHOOSED_COST</string>
						<key>alignment</key>
						<integer>0</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string>升级花费: </string>
					<key>fontSize</key>
					<integer>30</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>equipUpgradeChoosedAddNextLevel</string>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_EQUIPUPGRADE_TEXT_EQUIPCHOOSED_ADDNEXTLEVEL</string>
						<key>alignment</key>
						<integer>2</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string></string>
					<key>fontSize</key>
					<integer>28</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>equipUpNextLevelNum</string>
					<key>color</key>
					<dict>
						<key>red</key>
						<integer>0</integer>
						<key>green</key>
						<integer>255</integer>
						<key>blue</key>
						<integer>0</integer>
					</dict>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_EQUIPUPGRADE_NUM_EQUIPCHOOSED_ADDNEXTLEVEL</string>
						<key>alignment</key>
						<integer>0</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string></string>
					<key>fontSize</key>
					<integer>28</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>equipUpgradeChoosedAddNextLevel2</string>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_EQUIPUPGRADE_TEXT_EQUIPCHOOSED_ADDNEXTLEVEL2</string>
						<key>alignment</key>
						<integer>2</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string></string>
					<key>fontSize</key>
					<integer>28</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>equipUpNextLevelNum2</string>
					<key>color</key>
					<dict>
						<key>red</key>
						<integer>0</integer>
						<key>green</key>
						<integer>255</integer>
						<key>blue</key>
						<integer>0</integer>
					</dict>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_EQUIPUPGRADE_NUM_EQUIPCHOOSED_ADDNEXTLEVEL2</string>
						<key>alignment</key>
						<integer>0</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string></string>
					<key>fontSize</key>
					<integer>28</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>equipUpgradeChoosedCostNumber</string>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_EQUIPUPGRADE_TEXT_EQUIPCHOOSED_COSTNUMBER</string>
						<key>alignment</key>
						<integer>0</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string></string>
					<key>fontSize</key>
					<integer>30</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UIPicture</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>equipIconCoinPic</string>
					<key>transform</key>
					<dict>
					  <key>x</key>
					  <integer>0</integer>
					  <key>y</key>
					  <integer>-17</integer>
					  <key>z</key>
					  <integer>0</integer>
					</dict>
					<key>resourceName</key>
					<string>map_ui_FRAME_EQUIPUPGRADE_ICON_COIN</string>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>	
				<dict>
					<key>type</key>
					<string>UIButton</string>
					<key>tag</key>
					<integer>3</integer>
					<key>name</key>
					<string>strengthEquipBt</string>
					<key>isVisible</key>            
					<integer>1</integer>
					<key>clickedCallback</key>        
					<string>EquipmentUpgradeUILayer::onClickStrength</string>
					<key>texture</key>               
					<dict>
						<key>normalTexture</key>      
						<string>map_ui_FRAME_EQUIPUPGRADE_BUTTON_UPGRADE</string>
						<key>clickedTexture</key>     
						<string>map_ui_FRAME_EQUIPUPGRADE_BUTTON_UPGRADE_CLICKED</string>
					</dict>
					<key>lable</key>
						<dict>
							<key>content</key>
							<string>强化</string>
							<key>fontSize</key>
							<integer>28</integer>
						</dict>
					<key>drag</key>
					<dict>
						<key>priority</key>
						<integer>-130</integer>
					</dict>
					<key>useASposition</key>         
					<integer>1</integer>
				</dict>	
				<dict>
					<key>type</key>
					<string>UIPicture</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>equipUpgradeBarTime</string>
					<key>resourceName</key>
					<string>map_ui_FRAME_EQUIPUPGRADE_BAR_UPGRADETIME</string>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>	
				<dict>
					<key>type</key>
					<string>UIPicture</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>equipUpgradeFrameTime</string>
					<key>resourceName</key>
					<string>map_ui_FRAME_EQUIPUPGRADE_FRAME_UPGRADETIME</string>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>	
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>equipUpgradeCDText</string>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_EQUIPUPGRADE_TEXT_COOLDOWNTIME</string>
						<key>alignment</key>
						<integer>1</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string>冷却时间: 11:20</string>
					<key>fontSize</key>
					<integer>24</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UIPicture</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>equipUpgradeHelmetIcon</string>
					<key>resourceName</key>
					<string>map_ui_FRAME_EQUIPUPGRADE_FRAME_EQUIP_HELMET_ICON</string>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>	
				<dict>
					<key>type</key>
					<string>UIPicture</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>equipUpgradeNicklaceIcon</string>
					<key>resourceName</key>
					<string>map_ui_FRAME_EQUIPUPGRADE_FRAME_EQUIP_NECKLACE_ICON</string>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>	
				<dict>
					<key>type</key>
					<string>UIPicture</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>equipUpgradeWeaponIcon</string>
					<key>resourceName</key>
					<string>map_ui_FRAME_EQUIPUPGRADE_FRAME_EQUIP_WEAPON_ICON</string>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>	
				<dict>
					<key>type</key>
					<string>UIPicture</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>equipUpgradeArmorIcon</string>
					<key>resourceName</key>
					<string>map_ui_FRAME_EQUIPUPGRADE_FRAME_EQUIP_ARMOR_ICON</string>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>	
				<dict>
					<key>type</key>
					<string>UIPicture</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>equipUpgradeRingIcon</string>
					<key>resourceName</key>
					<string>map_ui_FRAME_EQUIPUPGRADE_FRAME_EQUIP_RING_ICON</string>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>	
				<dict>
					<key>type</key>
					<string>UIPicture</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>equipUpgradeShoeIcon</string>
					<key>resourceName</key>
					<string>map_ui_FRAME_EQUIPUPGRADE_FRAME_EQUIP_SHOE_ICON</string>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>	
				<dict>
					<key>type</key>
					<string>UIPicture</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>equipUpgradechoosedIconFrame</string>
					<key>resourceName</key>
					<string>map_ui_FRAME_EQUIPUPGRADE_FRAME_EQUIPCHOOSED</string>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>	
				<dict>
					<key>type</key>
					<string>UIPicture</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>equipUpgradechoosedIcon</string>
					<key>resourceName</key>
					<string>map_ui_FRAME_EQUIPUPGRADE_FRAME_EQUIPCHOOSED</string>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>	
			 </array>
			</dict>	 
			<dict>
				<key>type</key>
		        <string>UIContainer</string>
		        <key>tag</key>
		        <integer>0</integer>
		        <key>name</key>
		        <string>bottomContainer</string>
		        <key>luaScript</key>              
 		        <string></string>
		        <key>isVisible</key>              
		        <integer>1</integer>
		        <key>transform</key>              
		        <dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>1</integer>
		        </dict>
		        <key>refMode</key>                
		        <integer>1</integer>
		        <key>refPointMode</key>           
		        <integer>6</integer>
		        <key>widthScale</key>             
		        <integer>5000</integer>
		        <key>widthOffset</key>            
		        <integer>0</integer>
		        <key>heightScale</key>            
		        <integer>0</integer>
		        <key>heightOffset</key>          
		        <integer>0</integer>
		        <key>width</key>                  
		        <integer>0</integer>
		        <key>height</key>                 
		        <integer>0</integer>
		        <key>refObjName</key>             
		        <string></string>
		        <key>children</key>  
		        <array> 
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>bottomCoinLable</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_EQUIPUPGRADE_NUMBER_COIN_INALL</string>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>bottomDiamondLable</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_EQUIPUPGRADE_NUMBER_DIAMOND_INALL</string>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>diamondPic</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_EQUIPUPGRADE_ICON_DIAMOND_INALL</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>	
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>coinPic</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_EQUIPUPGRADE_ICON_COIN_INALL</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>	
				</array>
			</dict>	
		</array>
	</dict>
</array>
</plist>