<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>UILayout</string>
		<key>tag</key>
		<integer>0</integer>
		<key>bModelLayer</key>
		<integer>1</integer>
		<key>luaScript</key>
		<string>Script/equipMixLayer.lua</string>
		<key>name</key>
		<string>equipmentMixLayout</string>
		<key>luaScript</key>              
		<string></string>
		<key>isVisible</key>              
		<integer>1</integer>
		<key>children</key>             
		<array>
 			<dict>
			  <key>type</key>
			  <string>UIContainer</string>
			  <key>tag</key>
			  <integer>0</integer>
			  <key>name</key>
			  <string>equipmentMixContainer</string>
			  <key>isVisible</key>              
			  <integer>1</integer>
			  <key>refMode</key>                
			  <integer>1</integer>
			  <key>refPointMode</key>           
			  <integer>5</integer>
			  <key>widthScale</key>             
			  <integer>5000</integer>
			  <key>heightScale</key>            
			  <integer>5000</integer>
			  <key>children</key>               
			  <array> 
				<dict>
					<key>type</key>
					<string>UIPicture</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>equipMixBackPic</string>
					<key>resourceName</key>
					<string>map_ui_FRAME_EQUIPMIX_BACKGROUND</string>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>	
				<dict>
					<key>type</key>
					<string>UIPicture</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>equipMixPicDecorationOne</string>
					<key>resourceName</key>
					<string>map_ui_FRAME_EQUIPMIX_BACKGROUND_DECORATION1</string>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>	
				<dict>
					<key>type</key>
					<string>UIPicture</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>equipMixPicDecorationTwo</string>
					<key>resourceName</key>
					<string>map_ui_FRAME_EQUIPMIX_BACKGROUND_DECORATION2</string>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>	
				<dict>
					<key>type</key>
					<string>UIPicture</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>equipMixPicFrame</string>
					<key>resourceName</key>
					<string>map_ui_FRAME_EQUIPMIX_FRAME_EQUIP</string>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>	
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>equipMixTitleLable</string>
					<key>color</key>
					<dict>
						<key>red</key>
						<integer>255</integer>
						<key>green</key>
						<integer>255</integer>
						<key>blue</key>
						<integer>0</integer>
					</dict>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_EQUIPMIX_TEXT_TITLE</string>
						<key>alignment</key>
						<integer>1</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string>装备合成</string>
					<key>fontSize</key>
					<integer>28</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UIButton</string>
					<key>tag</key>
					<integer>3</integer>
					<key>name</key>
					<string>closeBt</string>
					<key>isVisible</key>            
					<integer>1</integer>
					<key>clickedCallback</key>        
					<string>EquipMixLayer::onClickClosed</string>
					<key>texture</key>               
					<dict>
						<key>normalTexture</key>      
						<string>map_ui_FRAME_EQUIPMIX_BUTTON_CLOSE</string>
						<key>clickedTexture</key>     
						<string>map_ui_FRAME_EQUIPMIX_BUTTON_CLOSE_CLICKED</string>
					</dict>
					<key>useASposition</key>         
					<integer>1</integer>
					<key>drag</key>
					  <dict>
						<key>priority</key>
						<integer>-130</integer>
					  </dict>
				</dict>	
				<dict>
					<key>type</key>
					<string>UIPicture</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>mixxedEquipIcon</string>
					<key>resourceName</key>
					<string>map_ui_FRAME_EQUIPMIX_ICON_EQUIP</string>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>	
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>equipMixEquipNameLable</string>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_EQUIPMIX_TEXT_EQUIPNAME</string>
						<key>alignment</key>
						<integer>1</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string>合成的装备</string>
					<key>fontSize</key>
					<integer>28</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UIButton</string>
					<key>tag</key>
					<integer>3</integer>
					<key>name</key>
					<string>mixClickedBt</string>
					<key>isVisible</key>            
					<integer>1</integer>
					<key>clickedCallback</key>        
					<string>EquipMixLayer::onComposeClickd</string>
					<key>texture</key>               
					<dict>
						<key>normalTexture</key>      
						<string>map_ui_FRAME_EQUIPMIX_BUTTON_MIX</string>
						<key>clickedTexture</key>     
						<string>map_ui_FRAME_EQUIPMIX_BUTTON_MIX_CLICKED</string>
					</dict>
					<key>useASposition</key>         
					<integer>1</integer>
					<key>drag</key>
					  <dict>
						<key>priority</key>
						<integer>-130</integer>
					  </dict>
					<key>lable</key>
					<dict>
						<key>content</key>
						<string>合成</string>
						<key>fontSize</key>
						<integer>28</integer>
						</dict>
					</dict>	
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>equipMixEquipAbilityLable</string>
					<key>color</key>
					<dict>
						<key>red</key>
						<integer>0</integer>
						<key>green</key>
						<integer>255</integer>
						<key>blue</key>
						<integer>0</integer>
					</dict>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_EQUIPMIX_TEXT_HINT</string>
						<key>alignment</key>
						<integer>1</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string>M_PVPTOP_GET</string>
					<key>bLocalizeString</key>
					<integer>1</integer>
					<key>fontSize</key>
					<integer>16</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UIButton</string>
					<key>tag</key>
					<integer>3</integer>
					<key>name</key>
					<string>materialGrid1</string>
					<key>isVisible</key>
					<integer>0</integer>
					<key>clickedCallback</key>
					<string>EquipMixLayer::onMatarailIconClicked</string>
					<key>drag</key>
					<dict>
						<key>priority</key>
						<integer>-130</integer>
						<key>itemIndex</key>
						<integer>1</integer>
						<key>doubleClickedCallback</key>
						<string></string>
					</dict>
					<key>texture</key>
					<dict>
						<key>normalTexture</key>
						<string>map_ui_FRAME_EQUIPMIX_FRAME_MATERIAL1</string>
						<key>clickedTexture</key>
						<string>map_ui_FRAME_EQUIPMIX_FRAME_MATERIAL1_CLICKED</string>
					</dict>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UIButton</string>
					<key>tag</key>
					<integer>3</integer>
					<key>name</key>
					<string>materialGrid2</string>
					<key>isVisible</key>
					<integer>0</integer>
					<key>clickedCallback</key>
					<string>EquipMixLayer::onMatarailIconClicked</string>
					<key>drag</key>
					<dict>
						<key>priority</key>
						<integer>-130</integer>
						<key>itemIndex</key>
						<integer>2</integer>
						<key>doubleClickedCallback</key>
						<string></string>
					</dict>
					<key>texture</key>
					<dict>
						<key>normalTexture</key>
						<string>map_ui_FRAME_EQUIPMIX_FRAME_MATERIAL2</string>
						<key>clickedTexture</key>
						<string>map_ui_FRAME_EQUIPMIX_FRAME_MATERIAL2_CLICKED</string>
					</dict>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UIButton</string>
					<key>tag</key>
					<integer>3</integer>
					<key>name</key>
					<string>materialGrid3</string>
					<key>isVisible</key>
					<integer>0</integer>
					<key>clickedCallback</key>
					<string>EquipMixLayer::onMatarailIconClicked</string>
					<key>drag</key>
					<dict>
						<key>priority</key>
						<integer>-130</integer>
						<key>itemIndex</key>
						<integer>3</integer>
						<key>doubleClickedCallback</key>
						<string></string>
					</dict>
					<key>texture</key>
					<dict>
						<key>normalTexture</key>
						<string>map_ui_FRAME_EQUIPMIX_FRAME_MATERIAL3</string>
						<key>clickedTexture</key>
						<string>map_ui_FRAME_EQUIPMIX_FRAME_MATERIAL3_CLICKED</string>
					</dict>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UIButton</string>
					<key>tag</key>
					<integer>3</integer>
					<key>name</key>
					<string>materialGrid4</string>
					<key>isVisible</key>
					<integer>0</integer>
					<key>clickedCallback</key>
					<string>EquipMixLayer::onMatarailIconClicked</string>
					<key>drag</key>
					<dict>
						<key>priority</key>
						<integer>-130</integer>
						<key>itemIndex</key>
						<integer>4</integer>
						<key>doubleClickedCallback</key>
						<string></string>
					</dict>
					<key>texture</key>
					<dict>
						<key>normalTexture</key>
						<string>map_ui_FRAME_EQUIPMIX_FRAME_MATERIAL4</string>
						<key>clickedTexture</key>
						<string>map_ui_FRAME_EQUIPMIX_FRAME_MATERIAL4_CLICKED</string>
					</dict>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UIButton</string>
					<key>tag</key>
					<integer>3</integer>
					<key>name</key>
					<string>materialGrid5</string>
					<key>isVisible</key>
					<integer>0</integer>
					<key>clickedCallback</key>
					<string>EquipMixLayer::onMatarailIconClicked</string>
					<key>drag</key>
					<dict>
						<key>priority</key>
						<integer>-130</integer>
						<key>itemIndex</key>
						<integer>5</integer>
						<key>doubleClickedCallback</key>
						<string></string>
					</dict>
					<key>texture</key>
					<dict>
						<key>normalTexture</key>
						<string>map_ui_FRAME_EQUIPMIX_FRAME_MATERIAL5</string>
						<key>clickedTexture</key>
						<string>map_ui_FRAME_EQUIPMIX_FRAME_MATERIAL5_CLICKED</string>
					</dict>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UIButton</string>
					<key>tag</key>
					<integer>3</integer>
					<key>name</key>
					<string>materialGrid6</string>
					<key>isVisible</key>
					<integer>0</integer>
					<key>clickedCallback</key>
					<string>EquipMixLayer::onMatarailIconClicked</string>
					<key>drag</key>
					<dict>
						<key>priority</key>
						<integer>-130</integer>
						<key>itemIndex</key>
						<integer>5</integer>
						<key>doubleClickedCallback</key>
						<string></string>
					</dict>
					<key>texture</key>
					<dict>
						<key>normalTexture</key>
						<string>map_ui_FRAME_EQUIPMIX_FRAME_MATERIAL6</string>
						<key>clickedTexture</key>
						<string>map_ui_FRAME_EQUIPMIX_FRAME_MATERIAL6_CLICKED</string>
					</dict>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>equipMixMaterialName1</string>
					<key>isVisible</key>              
					<integer>0</integer>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_EQUIPMIX_TEXT_MATERIAL1NAME</string>
						<key>alignment</key>
						<integer>1</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string>材料</string>
					<key>fontSize</key>
					<integer>24</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>equipMixMaterialName2</string>
					<key>isVisible</key>              
					<integer>0</integer>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_EQUIPMIX_TEXT_MATERIAL2NAME</string>
						<key>alignment</key>
						<integer>1</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string>材料</string>
					<key>fontSize</key>
					<integer>24</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>equipMixMaterialName3</string>
					<key>isVisible</key>              
					<integer>0</integer>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_EQUIPMIX_TEXT_MATERIAL3NAME</string>
						<key>alignment</key>
						<integer>1</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string>材料</string>
					<key>fontSize</key>
					<integer>24</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>equipMixMaterialName4</string>
					<key>isVisible</key>              
					<integer>0</integer>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_EQUIPMIX_TEXT_MATERIAL4NAME</string>
						<key>alignment</key>
						<integer>1</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string>材料</string>
					<key>fontSize</key>
					<integer>24</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>equipMixMaterialName5</string>
					<key>isVisible</key>              
					<integer>0</integer>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_EQUIPMIX_TEXT_MATERIAL5NAME</string>
						<key>alignment</key>
						<integer>1</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string>材料</string>
					<key>fontSize</key>
					<integer>24</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>equipMixMaterialName6</string>
					<key>isVisible</key>              
					<integer>0</integer>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_EQUIPMIX_TEXT_MATERIAL6NAME</string>
						<key>alignment</key>
						<integer>1</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string>""</string>
					<key>fontSize</key>
					<integer>24</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>equipMixMaterialNo1</string>
					<key>isVisible</key>              
					<integer>0</integer>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_EQUIPMIX_TEXT_MATERIAL1NUMBER</string>
						<key>alignment</key>
						<integer>1</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string>0/10</string>
					<key>fontSize</key>
					<integer>24</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>equipMixMaterialNo2</string>
					<key>isVisible</key>              
					<integer>0</integer>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_EQUIPMIX_TEXT_MATERIAL2NUMBER</string>
						<key>alignment</key>
						<integer>1</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string>0/10</string>
					<key>fontSize</key>
					<integer>24</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>equipMixMaterialNo3</string>
					<key>isVisible</key>              
					<integer>0</integer>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_EQUIPMIX_TEXT_MATERIAL3NUMBER</string>
						<key>alignment</key>
						<integer>1</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string>0/10</string>
					<key>fontSize</key>
					<integer>24</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>equipMixMaterialNo4</string>
					<key>isVisible</key>              
					<integer>0</integer>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_EQUIPMIX_TEXT_MATERIAL4NUMBER</string>
						<key>alignment</key>
						<integer>1</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string>0/10</string>
					<key>fontSize</key>
					<integer>24</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>equipMixMaterialNo5</string>
					<key>isVisible</key>              
					<integer>0</integer>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_EQUIPMIX_TEXT_MATERIAL5NUMBER</string>
						<key>alignment</key>
						<integer>1</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string>0/10</string>
					<key>fontSize</key>
					<integer>24</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>equipMixMaterialNo6</string>
					<key>isVisible</key>              
					<integer>0</integer>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_EQUIPMIX_TEXT_MATERIAL6NUMBER</string>
						<key>alignment</key>
						<integer>1</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string>0/10</string>
					<key>fontSize</key>
					<integer>24</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UIPicture</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>mixEquipMaterial1Icon</string>
					<key>isVisible</key>              
					<integer>0</integer>
					<key>resourceName</key>
					<string>map_ui_FRAME_EQUIPMIX_ICON_MATERIAL1</string>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>	
				<dict>
					<key>type</key>
					<string>UIPicture</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>mixEquipMaterial2Icon</string>
					<key>resourceName</key>
					<string>map_ui_FRAME_EQUIPMIX_ICON_MATERIAL2</string>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>	
				<dict>
					<key>type</key>
					<string>UIPicture</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>mixEquipMaterial3Icon</string>
					<key>isVisible</key>              
					<integer>0</integer>
					<key>resourceName</key>
					<string>map_ui_FRAME_EQUIPMIX_ICON_MATERIAL3</string>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>	
				<dict>
					<key>type</key>
					<string>UIPicture</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>mixEquipMaterial4Icon</string>
					<key>isVisible</key>              
					<integer>0</integer>
					<key>resourceName</key>
					<string>map_ui_FRAME_EQUIPMIX_ICON_MATERIAL4</string>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>	
				<dict>
					<key>type</key>
					<string>UIPicture</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>mixEquipMaterial5Icon</string>
					<key>isVisible</key>              
					<integer>0</integer>
					<key>resourceName</key>
					<string>map_ui_FRAME_EQUIPMIX_ICON_MATERIAL5</string>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>	
				<dict>
					<key>type</key>
					<string>UIPicture</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>mixEquipMaterial6Icon</string>
					<key>isVisible</key>              
					<integer>0</integer>
					<key>resourceName</key>
					<string>map_ui_FRAME_EQUIPMIX_ICON_MATERIAL6</string>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>	
				</array>
			</dict>	 
		</array>
	</dict>
</array>
</plist>