<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>UILayout</string>
		<key>name</key>
		<string>FairyAdvanceUI</string>
		<key>bModelLayer</key>
		<integer>1</integer>
		<key>bModelPriorty</key>
		<integer>-137</integer>
		<key>children</key>
		<array>
			<dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>name</key>
				<string>FairyAdvanceContainer</string>
				<key>refMode</key>
				<integer>1</integer>
				<key>refPointMode</key>
				<integer>5</integer>
				<key>widthScale</key>
				<integer>5000</integer>
				<key>widthOffset</key>
				<integer>0</integer>
				<key>heightScale</key>
				<integer>5000</integer>
				<key>heightOffset</key>
				<integer>0</integer>
				<key>width</key>
				<integer>0</integer>
				<key>height</key>
				<integer>0</integer>
				<key>children</key>
				<array>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>1</key>
								<string>UI/ui_Alchemy.png</string>
								<key>2</key>
								<string>UI/ui2.png</string>
								<key>3</key>
								<string>UI/ui_fairy.png</string>
								<key>imagecount</key>
								<integer>4</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui.bin</string>
							<key>iphone</key>
							<string>UI/ui.bin</string>
						</dict>
						<key>name</key>
						<string>background1</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_FAIRY_INFO_BACKGROUND</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>background2</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_FAIRY_INFO_BACKGROUND_BACKGROUND1</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>background3</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_FAIRY_INFO_BACKGROUND_BACKGROUND2</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>background4</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_FAIRY_INFO_BACKGROUND_BACKGROUND3</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>background5</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_FAIRY_INFO_BACKGROUND_BACKGROUND4</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>background6</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_FAIRY_INFO_BACKGROUND_BACKGROUND5</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>iconSkill1</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_FAIRY_INFO_ICON_SKILL1</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>iconSkill2</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_FAIRY_INFO_ICON_SKILL2</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>iconSkill3</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_FAIRY_INFO_ICON_SKILL3</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>fairyFrame</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_FAIRY_INFO_ANIMATION_FRAME</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>fairyReplaceBtn</string>
						<key>texture</key>
						<dict>
							<key>normalTexture</key>
							<string>map_ui_FRAME_FAIRY_INFO_BUTTON_CHOOSE</string>
							<key>clickedTexture</key>
							<string>map_ui_FRAME_FAIRY_INFO_BUTTON_CHOOSE_CLICKED</string>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-138</integer>
						</dict>
					</dict>
					<dict>
						<key>name</key>
						<string>fairyLevelupBtn</string>
						<key>texture</key>
						<dict>
							<key>normalTexture</key>
							<string>map_ui_FRAME_FAIRY_INFO_BUTTON_LU</string>
							<key>clickedTexture</key>
							<string>map_ui_FRAME_FAIRY_INFO_BUTTON_LU_CLICKED</string>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-138</integer>
						</dict>
					</dict>
					<dict>
						<key>name</key>
						<string>fairyTrainBtn</string>
						<key>texture</key>
						<dict>
							<key>normalTexture</key>
							<string>map_ui_FRAME_FAIRY_INFO_BUTTON_PTT</string>
							<key>clickedTexture</key>
							<string>map_ui_FRAME_FAIRY_INFO_BUTTON_PTT_CLICKED</string>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-138</integer>
						</dict>
					</dict>
					<dict>
						<key>name</key>
						<string>fairyAdvanceBtn</string>
						<key>texture</key>
						<dict>
							<key>normalTexture</key>
							<string>map_ui_FRAME_FAIRY_INFO_BUTTON_AD</string>
							<key>clickedTexture</key>
							<string>map_ui_FRAME_FAIRY_INFO_BUTTON_AD_CLICKED</string>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-138</integer>
						</dict>
					</dict>
					<dict>
						<key>name</key>
						<string>fairyReplaceBtn2</string>
						<key>texture</key>
						<dict>
							<key>normalTexture</key>
							<string>map_ui_FRAME_FAIRY_INFO_BUTTON_CHOOSE2</string>
							<key>clickedTexture</key>
							<string>map_ui_FRAME_FAIRY_INFO_BUTTON_CHOOSE2_CLICKED</string>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-138</integer>
						</dict>
					</dict>
				    <dict>
						<key>name</key>
						<string>fairyDropBtn</string>
						<key>texture</key>
						<dict>
							<key>normalTexture</key>
							<string>map_ui_FRAME_FAIRY_INFO_BUTTON_GETWAY</string>
							<key>clickedTexture</key>
							<string>map_ui_FRAME_FAIRY_INFO_BUTTON_GETWAY_CLICKED</string>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-138</integer>
						</dict>
					</dict>
					<dict>
						<key>name</key>
						<string>fairyUnloadBtn</string>
						<key>texture</key>
						<dict>
							<key>normalTexture</key>
							<string>map_ui_FRAME_FAIRY_INFO_BUTTON_UNLOAD</string>
							<key>clickedTexture</key>
							<string>map_ui_FRAME_FAIRY_INFO_BUTTON_UNLOAD_CLICKED</string>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-138</integer>
						</dict>
					</dict>
					<dict>
						<key>name</key>
						<string>closeBtn</string>
						<key>texture</key>
						<dict>
							<key>normalTexture</key>
							<string>map_ui_FRAME_FAIRY_INFO_CLOSE</string>
							<key>clickedTexture</key>
							<string>map_ui_FRAME_FAIRY_INFO_CLOSE_CLICKED</string>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-138</integer>
						</dict>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>skillTitle</string>
						<key>content</key>
						<string>M_FAIRY_INFO_TITLE3</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_INFO_TEXT_SKILL</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>195</integer>
							<key>blue</key>
							<integer>118</integer>
						</dict>
						<key>fontSize</key>
						<integer>16</integer>
						<key>name</key>
						<string>rageText</string>
						<key>content</key>
						<string>FAIRY_RAGE</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_INFO_TEXT_RAGE</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>16</integer>
						<key>name</key>
						<string>rageNum</string>
						<key>content</key>
						<string>0</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_INFO_NUM_RAGE</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>195</integer>
							<key>blue</key>
							<integer>118</integer>
						</dict>
						<key>fontSize</key>
						<integer>16</integer>
						<key>name</key>
						<string>rageSpeedText</string>
						<key>content</key>
						<string>FAIRY_RAGESPEED</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_INFO_TEXT_RAGESPEED</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>16</integer>
						<key>name</key>
						<string>rageSpeedNum</string>
						<key>content</key>
						<string>0</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_INFO_NUM_RAGESPEED</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>talentTitle</string>
						<key>content</key>
						<string>M_FAIRY_INFO_TITLE4</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_INFO_TEXT_TALENT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>contactTitle</string>
						<key>content</key>
						<string>M_FAIRY_INFO_TITLE2</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_INFO_TEXT_CONTACT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>attrTitle</string>
						<key>content</key>
						<string>M_FAIRY_INFO_TITLE1</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_INFO_TEXT_ATTRIBUTE</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>fairyReplaceText</string>
						<key>content</key>
						<string>M_FAIRY_INFO_BUTTON1</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_INFO_BUTTON_CHOOSE_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>fairyLevelupText</string>
						<key>content</key>
						<string>M_FAIRY_INFO_BUTTON2</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_INFO_BUTTON_LU_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
				    <dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>fairyDropText</string>
						<key>content</key>
						<string>M_FAIRY_GET_WAY</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_INFO_BUTTON_GETWAY_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>fairyTrainText</string>
						<key>content</key>
						<string>M_FAIRY_INFO_BUTTON3</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_INFO_BUTTON_PTT_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>fairyAdvanceText</string>
						<key>content</key>
						<string>M_FAIRY_INFO_BUTTON4</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_INFO_BUTTON_AD_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>fairyReplaceText2</string>
						<key>content</key>
						<string>M_FAIRY_INFO_BUTTON1</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_INFO_BUTTON_CHOOSE2_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>fairyUnloadText</string>
						<key>content</key>
						<string>M_FAIRY_INFO_BUTTON5</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_INFO_BUTTON_UNLOAD_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>16</integer>
						<key>name</key>
						<string>skillText1</string>
						<key>content</key>
						<string>skill description1</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_INFO_TEXT_SKILL1</string>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>16</integer>
						<key>name</key>
						<string>skillText2</string>
						<key>content</key>
						<string>skill description2</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_INFO_TEXT_SKILL2</string>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>16</integer>
						<key>name</key>
						<string>skillText3</string>
						<key>content</key>
						<string>skill description3</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_INFO_TEXT_SKILL3</string>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>17</integer>
							<key>green</key>
							<integer>179</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>fairyName</string>
						<key>content</key>
						<string>fairyName</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_INFO_NAME_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>fairyLevel</string>
						<key>content</key>
						<string>fairyLevel</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_INFO_LV</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>fairyQuality</string>
						<key>content</key>
						<string>fairyQuality</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_INFO_QUALITY</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>attrName1</string>
						<key>content</key>
						<string>M_FAIRY_LU_ATTRIBUTE1</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_INFO_ATTRIBUTE1_NAME</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>attrName2</string>
						<key>content</key>
						<string>M_FAIRY_LU_ATTRIBUTE2</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_INFO_ATTRIBUTE2_NAME</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>attrName3</string>
						<key>content</key>
						<string>M_FAIRY_LU_ATTRIBUTE3</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_INFO_ATTRIBUTE3_NAME</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>attrName4</string>
						<key>content</key>
						<string>M_FAIRY_LU_ATTRIBUTE4</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_INFO_ATTRIBUTE4_NAME</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>attrName5</string>
						<key>content</key>
						<string>M_FAIRY_LU_ATTRIBUTE5</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_INFO_ATTRIBUTE5_NAME</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>attrName6</string>
						<key>content</key>
						<string>M_FAIRY_LU_ATTRIBUTE6</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_INFO_ATTRIBUTE6_NAME</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>attrNum1</string>
						<key>content</key>
						<string>100</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_INFO_ATTRIBUTE1_NUMBER</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>attrNum2</string>
						<key>content</key>
						<string>100</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_INFO_ATTRIBUTE2_NUMBER</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>attrNum3</string>
						<key>content</key>
						<string>100</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_INFO_ATTRIBUTE3_NUMBER</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>attrNum4</string>
						<key>content</key>
						<string>100</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_INFO_ATTRIBUTE4_NUMBER</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>attrNum5</string>
						<key>content</key>
						<string>100</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_INFO_ATTRIBUTE5_NUMBER</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>attrNum6</string>
						<key>content</key>
						<string>100</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_INFO_ATTRIBUTE6_NUMBER</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>type</key>
						<string>UIScrollList</string>
						<key>name</key>
						<string>contactScrollList</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>viewWidth</key>
						<integer>1024</integer>
						<key>viewHeight</key>
						<integer>768</integer>
						<key>contentOffsetX</key>
						<integer>0</integer>
						<key>contentOffsetY</key>
						<integer>0</integer>
						<key>contentWidth</key>
						<integer>1024</integer>
						<key>contentHeight</key>
						<integer>768</integer>
						<key>direction</key>
						<integer>1</integer>
						<key>startX</key>
						<integer>0</integer>
						<key>startY</key>
						<integer>0</integer>
						<key>priority</key>
						<integer>-138</integer>
						<key>background</key>
						<dict>
							<key>name</key>
							<string>map_ui_FRAME_FAIRY_INFO_TEXT_CONTACT1_FRAME</string>
							<key>useASposition</key>
							<integer>1</integer>
						</dict>
						<key>children</key>
						<array/>
					</dict>
					<dict>
						<key>type</key>
						<string>UIScrollList</string>
						<key>name</key>
						<string>talentScrollList</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>viewWidth</key>
						<integer>1024</integer>
						<key>viewHeight</key>
						<integer>768</integer>
						<key>contentOffsetX</key>
						<integer>0</integer>
						<key>contentOffsetY</key>
						<integer>0</integer>
						<key>contentWidth</key>
						<integer>1024</integer>
						<key>contentHeight</key>
						<integer>768</integer>
						<key>direction</key>
						<integer>1</integer>
						<key>startX</key>
						<integer>0</integer>
						<key>startY</key>
						<integer>0</integer>
						<key>priority</key>
						<integer>-138</integer>
						<key>background</key>
						<dict>
							<key>name</key>
							<string>map_ui_FRAME_FAIRY_INFO_TEXT_TALENT1_FRAME</string>
							<key>useASposition</key>
							<integer>1</integer>
						</dict>
						<key>children</key>
						<array/>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
