<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>UILayout</string>
		<key>name</key>
		<string>FairyCollectionUI</string>
		<key>bModelLayer</key>
		<integer>1</integer>
		<key>bModelPriorty</key>
		<integer>-132</integer>
		<key>children</key>
		<array>
			<dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>name</key>
				<string>FairyCollectionContainer</string>
				<key>refMode</key>
				<integer>1</integer>
				<key>refPointMode</key>
				<integer>5</integer>
				<key>widthScale</key>
				<integer>5000</integer>
				<key>widthOffset</key>
				<integer>0</integer>
				<key>heightScale</key>
				<integer>5000</integer>
				<key>heightOffset</key>
				<integer>0</integer>
				<key>width</key>
				<integer>0</integer>
				<key>height</key>
				<integer>0</integer>
				<key>children</key>
				<array>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>1</key>
								<string>UI/ui_Alchemy.png</string>
								<key>2</key>
								<string>UI/ui2.png</string>
								<key>3</key>
								<string>UI/ui_fairy.png</string>
								<key>imagecount</key>
								<integer>4</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui.bin</string>
							<key>iphone</key>
							<string>UI/ui.bin</string>
						</dict>
						<key>name</key>
						<string>background1</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_FAIRY_DATABASE_BACKGROUND</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>background2</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_FAIRY_DATABASE_BACKGROUND_DECORATION</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>background3</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_FAIRY_DATABASE_BACKGROUND_DECORATION1</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>background4</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_FAIRY_DATABASE_BACKGROUND_DECORATION2</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>sheetBtn1</string>
						<key>texture</key>
						<dict>
							<key>normalTexture</key>
							<string>map_ui_FRAME_FAIRY_DATABASE_SHEET1</string>
							<key>clickedTexture</key>
							<string>map_ui_FRAME_FAIRY_DATABASE_SHEET1_CLICKED</string>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-134</integer>
						</dict>
					</dict>
					<dict>
						<key>name</key>
						<string>sheetBtn2</string>
						<key>texture</key>
						<dict>
							<key>normalTexture</key>
							<string>map_ui_FRAME_FAIRY_DATABASE_SHEET2</string>
							<key>clickedTexture</key>
							<string>map_ui_FRAME_FAIRY_DATABASE_SHEET2_CLICKED</string>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-134</integer>
						</dict>
					</dict>
					<dict>
						<key>name</key>
						<string>sheetBtn3</string>
						<key>texture</key>
						<dict>
							<key>normalTexture</key>
							<string>map_ui_FRAME_FAIRY_DATABASE_SHEET3</string>
							<key>clickedTexture</key>
							<string>map_ui_FRAME_FAIRY_DATABASE_SHEET3_CLICKED</string>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-134</integer>
						</dict>
					</dict>
					<dict>
						<key>name</key>
						<string>sheetBtn4</string>
						<key>texture</key>
						<dict>
							<key>normalTexture</key>
							<string>map_ui_FRAME_FAIRY_DATABASE_SHEET4</string>
							<key>clickedTexture</key>
							<string>map_ui_FRAME_FAIRY_DATABASE_SHEET4_CLICKED</string>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-134</integer>
						</dict>
					</dict>
					<dict>
						<key>name</key>
						<string>closeBtn</string>
						<key>texture</key>
						<dict>
							<key>normalTexture</key>
							<string>map_ui_FRAME_FAIRY_DATABASE_CLOSE</string>
							<key>clickedTexture</key>
							<string>map_ui_FRAME_FAIRY_DATABASE_CLOSE_CLICKED</string>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-134</integer>
						</dict>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>fontSize</key>
						<integer>24</integer>
						<key>name</key>
						<string>fairyTitle</string>
						<key>content</key>
						<string>M_FAIRY_DATABASE_TITLE1</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_DATABASE_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>sheetText1</string>
						<key>content</key>
						<string>M_FAIRY_DATABASE_TITLE2</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_DATABASE_SHEET1_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>sheetText2</string>
						<key>content</key>
						<string>M_FAIRY_DATABASE_TITLE3</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_DATABASE_SHEET2_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>sheetText3</string>
						<key>content</key>
						<string>M_FAIRY_DATABASE_TITLE4</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_DATABASE_SHEET3_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>sheetText4</string>
						<key>content</key>
						<string>M_FAIRY_DATABASE_TITLE5</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_DATABASE_SHEET4_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>type</key>
						<string>UIScrollList</string>
						<key>name</key>
						<string>contentScrollList</string>
						<key>priority</key>
						<string>-134</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>viewWidth</key>
						<integer>1024</integer>
						<key>viewHeight</key>
						<integer>768</integer>
						<key>contentOffsetX</key>
						<integer>0</integer>
						<key>contentOffsetY</key>
						<integer>0</integer>
						<key>contentWidth</key>
						<integer>1024</integer>
						<key>contentHeight</key>
						<integer>768</integer>
						<key>direction</key>
						<integer>1</integer>
						<key>startX</key>
						<integer>0</integer>
						<key>startY</key>
						<integer>0</integer>
						<key>background</key>
						<dict>
							<key>name</key>
							<string>map_ui_FRAME_FAIRY_DATABASE_FRAME_MOVE</string>
							<key>useASposition</key>
							<integer>1</integer>
						</dict>
						<key>children</key>
						<array/>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
