<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>UILayout</string>
		<key>name</key>
		<string>FairyLevelUpUI</string>
		<key>isVisible</key>
		<integer>1</integer>
		<key>bModelLayer</key>
		<integer>1</integer>
		<key>children</key>
		<array>
			<dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>name</key>
				<string>FairyLevelUpContainer</string>
				<key>refMode</key>
				<integer>1</integer>
				<key>refPointMode</key>
				<integer>5</integer>
				<key>widthScale</key>
				<integer>5000</integer>
				<key>widthOffset</key>
				<integer>0</integer>
				<key>heightScale</key>
				<integer>5000</integer>
				<key>heightOffset</key>
				<integer>0</integer>
				<key>width</key>
				<integer>0</integer>
				<key>height</key>
				<integer>0</integer>
				<key>children</key>
				<array>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>1</key>
								<string>UI/ui_Alchemy.png</string>
								<key>2</key>
								<string>UI/ui2.png</string>
								<key>3</key>
								<string>UI/ui_fairy.png</string>
								<key>imagecount</key>
								<integer>4</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui.bin</string>
							<key>iphone</key>
							<string>UI/ui.bin</string>
						</dict>
						<key>name</key>
						<string>background1</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_FAIRY_LU_BACKGROUND</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>background2</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_FAIRY_LU_BACKGROUND_DECORATION</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>background3</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_FAIRY_LU_LIST1_BACKGROUND</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>background4</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_FAIRY_LU_LIST2_BACKGROUND</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>background5</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_FAIRY_LU_LIST3_BACKGROUND</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>background6</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_FAIRY_LU_LIST4_BACKGROUND</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>background7</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_FAIRY_LU_BACKGROUND_DECORATION1</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>fairyMasterBack</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_FAIRY_LU_MASTER</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>fairyMasterIcon</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_FAIRY_LU_MASTER_FRAME</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>fairyExpBack</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_FAIRY_LU_EXPERIENCE3</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>fairyExpNext</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_FAIRY_LU_EXPERIENCE1</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>fairyExpNow</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_FAIRY_LU_EXPERIENCE2</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>attrIcon1</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_FAIRY_LU_ATTRIBUTE1_ICON</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>attrIcon2</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_FAIRY_LU_ATTRIBUTE2_ICON</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>attrIcon3</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_FAIRY_LU_ATTRIBUTE3_ICON</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>attrIcon4</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_FAIRY_LU_ATTRIBUTE4_ICON</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>attrIcon5</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_FAIRY_LU_ATTRIBUTE5_ICON</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>attrIcon6</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_FAIRY_LU_ATTRIBUTE6_ICON</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>coinIcon</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_FAIRY_LU_COIN_ICON</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>midEatFrame</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_FAIRY_LU_BUTTON_EAT_FRAME</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>fairyFrame</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_FAIRY_LU_ANIMATION_FRAME</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>useFairyBtn</string>
						<key>texture</key>
						<dict>
							<key>normalTexture</key>
							<string>map_ui_FRAME_FAIRY_LU_BUTTON_FAIRY</string>
							<key>clickedTexture</key>
							<string>map_ui_FRAME_FAIRY_LU_BUTTON_FAIRY_CLICKED</string>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
					<dict>
						<key>name</key>
						<string>useMarrowBtn</string>
						<key>texture</key>
						<dict>
							<key>normalTexture</key>
							<string>map_ui_FRAME_FAIRY_LU_BUTTON_MARROW</string>
							<key>clickedTexture</key>
							<string>map_ui_FRAME_FAIRY_LU_BUTTON_MARROW_CLICKED</string>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
					<dict>
						<key>name</key>
						<string>eatBtn</string>
						<key>texture</key>
						<dict>
							<key>normalTexture</key>
							<string>map_ui_FRAME_FAIRY_LU_BUTTON_EAT</string>
							<key>clickedTexture</key>
							<string>map_ui_FRAME_FAIRY_LU_BUTTON_EAT_CLICKED</string>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
					<dict>
						<key>name</key>
						<string>closeBtn</string>
						<key>texture</key>
						<dict>
							<key>normalTexture</key>
							<string>map_ui_FRAME_FAIRY_LU_CLOSE</string>
							<key>clickedTexture</key>
							<string>map_ui_FRAME_FAIRY_LU_CLOSE_CLICKED</string>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>fontSize</key>
						<integer>24</integer>
						<key>name</key>
						<string>fairyTitle</string>
						<key>content</key>
						<string>M_FAIRY_LU_TEXT</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_LU_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>masterLevelText</string>
						<key>content</key>
						<string>LV.0</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_LU_MASTER_LV</string>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>masterExpText</string>
						<key>content</key>
						<string>M_FAIRY_LU_EXP</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_LU_MASTER_EXPERIENCE_TEXT</string>
							<key>alignment</key>
							<integer>2</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>masterExpNum</string>
						<key>content</key>
						<string>888</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_LU_MASTER_EXPERIENCE_NUMBER</string>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>0</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>masterLevelUpText</string>
						<key>content</key>
						<string>LV.1</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_LU_MASTER_LVUP</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>attrUpText</string>
						<key>content</key>
						<string>M_FAIRY_LU_GROWING</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_LU_ATTRIBUTE_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>attrName1</string>
						<key>content</key>
						<string>M_FAIRY_LU_ATTRIBUTE1</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_LU_ATTRIBUTE1_NAME</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>attrName2</string>
						<key>content</key>
						<string>M_FAIRY_LU_ATTRIBUTE2</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_LU_ATTRIBUTE2_NAME</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>attrName3</string>
						<key>content</key>
						<string>M_FAIRY_LU_ATTRIBUTE3</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_LU_ATTRIBUTE3_NAME</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>attrName4</string>
						<key>content</key>
						<string>M_FAIRY_LU_ATTRIBUTE4</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_LU_ATTRIBUTE4_NAME</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>attrName5</string>
						<key>content</key>
						<string>M_FAIRY_LU_ATTRIBUTE5</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_LU_ATTRIBUTE5_NAME</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>attrName6</string>
						<key>content</key>
						<string>M_FAIRY_LU_ATTRIBUTE6</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_LU_ATTRIBUTE6_NAME</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>attrNum1</string>
						<key>content</key>
						<string>100</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_LU_ATTRIBUTE1_NUMBER</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>attrNum2</string>
						<key>content</key>
						<string>100</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_LU_ATTRIBUTE2_NUMBER</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>attrNum3</string>
						<key>content</key>
						<string>100</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_LU_ATTRIBUTE3_NUMBER</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>attrNum4</string>
						<key>content</key>
						<string>100</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_LU_ATTRIBUTE4_NUMBER</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>attrNum5</string>
						<key>content</key>
						<string>100</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_LU_ATTRIBUTE5_NUMBER</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>attrNum6</string>
						<key>content</key>
						<string>100</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_LU_ATTRIBUTE6_NUMBER</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>0</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>attrUpNum1</string>
						<key>content</key>
						<string>110</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_LU_ATTRIBUTE1_UPNUMBER</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>0</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>attrUpNum2</string>
						<key>content</key>
						<string>110</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_LU_ATTRIBUTE2_UPNUMBER</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>0</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>attrUpNum3</string>
						<key>content</key>
						<string>110</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_LU_ATTRIBUTE3_UPNUMBER</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>0</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>attrUpNum4</string>
						<key>content</key>
						<string>110</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_LU_ATTRIBUTE4_UPNUMBER</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>0</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>attrUpNum5</string>
						<key>content</key>
						<string>110</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_LU_ATTRIBUTE5_UPNUMBER</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>0</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>attrUpNum6</string>
						<key>content</key>
						<string>110</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_LU_ATTRIBUTE6_UPNUMBER</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>coinText</string>
						<key>content</key>
						<string>M_FAIRY_LU_UPCOST</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_LU_COIN_TEXT</string>
							<key>alignment</key>
							<integer>2</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>coinNum</string>
						<key>content</key>
						<string>666</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_LU_COIN_NUMBER</string>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>useFairyText</string>
						<key>content</key>
						<string>M_FAIRY_LU_USE1</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_LU_BUTTON_FAIRY_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>useMarrowText</string>
						<key>content</key>
						<string>M_FAIRY_LU_USE2</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_LU_BUTTON_MARROW_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>24</integer>
						<key>name</key>
						<string>eatText</string>
						<key>content</key>
						<string>M_FAIRY_LU_EAT</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_LU_BUTTON_EAT_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>17</integer>
							<key>green</key>
							<integer>179</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>fairyName</string>
						<key>content</key>
						<string>精灵名称</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_LU_NAME_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>fairyLevel</string>
						<key>content</key>
						<string>Lv.1</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_LU_LV</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>children</key>
						<array>
							<dict>
								<key>name</key>
								<string>fairyBtn1</string>
								<key>texture</key>
								<dict>
									<key>normalTexture</key>
									<string>map_ui_FRAME_FAIRY_LU_SERVITOR1</string>
									<key>clickedTexture</key>
									<string>map_ui_FRAME_FAIRY_LU_SERVITOR1_CLICKED</string>
								</dict>
								<key>type</key>
								<string>UIButton</string>
								<key>useASposition</key>
								<integer>1</integer>
								<key>drag</key>
								<dict>
									<key>priority</key>
									<integer>-130</integer>
								</dict>
							</dict>
							<dict>
								<key>name</key>
								<string>fairyBtn2</string>
								<key>texture</key>
								<dict>
									<key>normalTexture</key>
									<string>map_ui_FRAME_FAIRY_LU_SERVITOR2</string>
									<key>clickedTexture</key>
									<string>map_ui_FRAME_FAIRY_LU_SERVITOR2_CLICKED</string>
								</dict>
								<key>type</key>
								<string>UIButton</string>
								<key>useASposition</key>
								<integer>1</integer>
								<key>drag</key>
								<dict>
									<key>priority</key>
									<integer>-130</integer>
								</dict>
							</dict>
							<dict>
								<key>name</key>
								<string>fairyBtn3</string>
								<key>texture</key>
								<dict>
									<key>normalTexture</key>
									<string>map_ui_FRAME_FAIRY_LU_SERVITOR3</string>
									<key>clickedTexture</key>
									<string>map_ui_FRAME_FAIRY_LU_SERVITOR3_CLICKED</string>
								</dict>
								<key>type</key>
								<string>UIButton</string>
								<key>useASposition</key>
								<integer>1</integer>
								<key>drag</key>
								<dict>
									<key>priority</key>
									<integer>-130</integer>
								</dict>
							</dict>
							<dict>
								<key>name</key>
								<string>fairyBtn4</string>
								<key>texture</key>
								<dict>
									<key>normalTexture</key>
									<string>map_ui_FRAME_FAIRY_LU_SERVITOR4</string>
									<key>clickedTexture</key>
									<string>map_ui_FRAME_FAIRY_LU_SERVITOR4_CLICKED</string>
								</dict>
								<key>type</key>
								<string>UIButton</string>
								<key>useASposition</key>
								<integer>1</integer>
								<key>drag</key>
								<dict>
									<key>priority</key>
									<integer>-130</integer>
								</dict>
							</dict>
							<dict>
								<key>name</key>
								<string>fairyBtn5</string>
								<key>texture</key>
								<dict>
									<key>normalTexture</key>
									<string>map_ui_FRAME_FAIRY_LU_SERVITOR5</string>
									<key>clickedTexture</key>
									<string>map_ui_FRAME_FAIRY_LU_SERVITOR5_CLICKED</string>
								</dict>
								<key>type</key>
								<string>UIButton</string>
								<key>useASposition</key>
								<integer>1</integer>
								<key>drag</key>
								<dict>
									<key>priority</key>
									<integer>-130</integer>
								</dict>
							</dict>
							<dict>
								<key>name</key>
								<string>fairyBtn6</string>
								<key>texture</key>
								<dict>
									<key>normalTexture</key>
									<string>map_ui_FRAME_FAIRY_LU_SERVITOR6</string>
									<key>clickedTexture</key>
									<string>map_ui_FRAME_FAIRY_LU_SERVITOR6_CLICKED</string>
								</dict>
								<key>type</key>
								<string>UIButton</string>
								<key>useASposition</key>
								<integer>1</integer>
								<key>drag</key>
								<dict>
									<key>priority</key>
									<integer>-130</integer>
								</dict>
							</dict>
							<dict>
								<key>name</key>
								<string>quickAddBtn</string>
								<key>texture</key>
								<dict>
									<key>normalTexture</key>
									<string>map_ui_FRAME_FAIRY_LU_BUTTON_QUICK</string>
									<key>clickedTexture</key>
									<string>map_ui_FRAME_FAIRY_LU_BUTTON_QUICK_CLICKED</string>
								</dict>
								<key>type</key>
								<string>UIButton</string>
								<key>useASposition</key>
								<integer>1</integer>
								<key>drag</key>
								<dict>
									<key>priority</key>
									<integer>-130</integer>
								</dict>
							</dict>
							<dict>
								<key>name</key>
								<string>fairySerIcon1</string>
								<key>resourceName</key>
								<string>map_ui_FRAME_FAIRY_LU_SERVITOR1_FRAME</string>
								<key>type</key>
								<string>UIPicture</string>
								<key>useASposition</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>name</key>
								<string>fairySerIcon2</string>
								<key>resourceName</key>
								<string>map_ui_FRAME_FAIRY_LU_SERVITOR2_FRAME</string>
								<key>type</key>
								<string>UIPicture</string>
								<key>useASposition</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>name</key>
								<string>fairySerIcon3</string>
								<key>resourceName</key>
								<string>map_ui_FRAME_FAIRY_LU_SERVITOR3_FRAME</string>
								<key>type</key>
								<string>UIPicture</string>
								<key>useASposition</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>name</key>
								<string>fairySerIcon4</string>
								<key>resourceName</key>
								<string>map_ui_FRAME_FAIRY_LU_SERVITOR4_FRAME</string>
								<key>type</key>
								<string>UIPicture</string>
								<key>useASposition</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>name</key>
								<string>fairySerIcon5</string>
								<key>resourceName</key>
								<string>map_ui_FRAME_FAIRY_LU_SERVITOR5_FRAME</string>
								<key>type</key>
								<string>UIPicture</string>
								<key>useASposition</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>name</key>
								<string>fairySerIcon6</string>
								<key>resourceName</key>
								<string>map_ui_FRAME_FAIRY_LU_SERVITOR6_FRAME</string>
								<key>type</key>
								<string>UIPicture</string>
								<key>useASposition</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>color</key>
								<dict>
									<key>red</key>
									<integer>255</integer>
									<key>green</key>
									<integer>255</integer>
									<key>blue</key>
									<integer>255</integer>
								</dict>
								<key>fontSize</key>
								<integer>24</integer>
								<key>name</key>
								<string>quickAddText</string>
								<key>content</key>
								<string>M_FAIRY_LU_QUICK</string>
								<key>bLocalizeString</key>
								<integer>1</integer>
								<key>rect</key>
								<dict>
									<key>ASRectName</key>
									<string>map_ui_FRAME_FAIRY_LU_BUTTON_QUICK_TEXT</string>
									<key>alignment</key>
									<integer>1</integer>
									<key>anchorPoint</key>
									<integer>1</integer>
									<key>useASRect</key>
									<integer>1</integer>
								</dict>
								<key>type</key>
								<string>UILabel</string>
							</dict>
						</array>
						<key>refMode</key>
						<integer>1</integer>
						<key>refObjName</key>
						<string></string>
						<key>refPointMode</key>
						<integer>5</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIContainer</string>
						<key>name</key>
						<string>fairyContainer</string>
						<key>width</key>
						<integer>0</integer>
						<key>widthOffset</key>
						<integer>0</integer>
						<key>heightOffset</key>
						<integer>0</integer>
						<key>widthScale</key>
						<integer>5000</integer>
						<key>heightScale</key>
						<integer>5000</integer>
					</dict>
					<dict>
						<key>children</key>
						<array>
							<dict>
								<key>name</key>
								<string>eatFiveBtn</string>
								<key>texture</key>
								<dict>
									<key>normalTexture</key>
									<string>map_ui_FRAME_FAIRY_LU_BUTTON_EATFIVE</string>
									<key>clickedTexture</key>
									<string>map_ui_FRAME_FAIRY_LU_BUTTON_EATFIVE_CLICKED</string>
								</dict>
								<key>type</key>
								<string>UIButton</string>
								<key>useASposition</key>
								<integer>1</integer>
								<key>drag</key>
								<dict>
									<key>priority</key>
									<integer>-130</integer>
								</dict>
							</dict>
							<dict>
								<key>name</key>
								<string>nowMarrowIcon</string>
								<key>resourceName</key>
								<string>map_ui_FRAME_FAIRY_LU_NOW_MARROW_ICON</string>
								<key>type</key>
								<string>UIPicture</string>
								<key>useASposition</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>name</key>
								<string>costMarrowIcon</string>
								<key>resourceName</key>
								<string>map_ui_FRAME_FAIRY_LU_COST_MARROW_ICON</string>
								<key>type</key>
								<string>UIPicture</string>
								<key>useASposition</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>color</key>
								<dict>
									<key>red</key>
									<integer>255</integer>
									<key>green</key>
									<integer>255</integer>
									<key>blue</key>
									<integer>0</integer>
								</dict>
								<key>fontSize</key>
								<integer>20</integer>
								<key>name</key>
								<string>nowMarrowText</string>
								<key>content</key>
								<string>M_FAIRY_LU_NOW</string>
								<key>bLocalizeString</key>
								<integer>1</integer>
								<key>rect</key>
								<dict>
									<key>ASRectName</key>
									<string>map_ui_FRAME_FAIRY_LU_NOW_MARROW_TEXT</string>
									<key>alignment</key>
									<integer>2</integer>
									<key>anchorPoint</key>
									<integer>1</integer>
									<key>useASRect</key>
									<integer>1</integer>
								</dict>
								<key>type</key>
								<string>UILabel</string>
							</dict>
							<dict>
								<key>color</key>
								<dict>
									<key>red</key>
									<integer>255</integer>
									<key>green</key>
									<integer>255</integer>
									<key>blue</key>
									<integer>0</integer>
								</dict>
								<key>fontSize</key>
								<integer>20</integer>
								<key>name</key>
								<string>costMarrowText</string>
								<key>content</key>
								<string>M_FAIRY_LU_COST</string>
								<key>bLocalizeString</key>
								<integer>1</integer>
								<key>rect</key>
								<dict>
									<key>ASRectName</key>
									<string>map_ui_FRAME_FAIRY_LU_COST_MARROW_TEXT</string>
									<key>alignment</key>
									<integer>2</integer>
									<key>anchorPoint</key>
									<integer>1</integer>
									<key>useASRect</key>
									<integer>1</integer>
								</dict>
								<key>type</key>
								<string>UILabel</string>
							</dict>
							<dict>
								<key>color</key>
								<dict>
									<key>red</key>
									<integer>255</integer>
									<key>green</key>
									<integer>255</integer>
									<key>blue</key>
									<integer>255</integer>
								</dict>
								<key>fontSize</key>
								<integer>20</integer>
								<key>name</key>
								<string>nowMarrowNum</string>
								<key>content</key>
								<string>5000</string>
								<key>rect</key>
								<dict>
									<key>ASRectName</key>
									<string>map_ui_FRAME_FAIRY_LU_NOW_MARROW_NUMBER</string>
									<key>alignment</key>
									<integer>0</integer>
									<key>anchorPoint</key>
									<integer>1</integer>
									<key>useASRect</key>
									<integer>1</integer>
								</dict>
								<key>type</key>
								<string>UILabel</string>
							</dict>
							<dict>
								<key>color</key>
								<dict>
									<key>red</key>
									<integer>255</integer>
									<key>green</key>
									<integer>255</integer>
									<key>blue</key>
									<integer>255</integer>
								</dict>
								<key>fontSize</key>
								<integer>20</integer>
								<key>name</key>
								<string>costMarrowNum</string>
								<key>content</key>
								<string>300</string>
								<key>rect</key>
								<dict>
									<key>ASRectName</key>
									<string>map_ui_FRAME_FAIRY_LU_COST_MARROW_NUMBER</string>
									<key>alignment</key>
									<integer>0</integer>
									<key>anchorPoint</key>
									<integer>1</integer>
									<key>useASRect</key>
									<integer>1</integer>
								</dict>
								<key>type</key>
								<string>UILabel</string>
							</dict>
							<dict>
								<key>color</key>
								<dict>
									<key>red</key>
									<integer>56</integer>
									<key>green</key>
									<integer>221</integer>
									<key>blue</key>
									<integer>7</integer>
								</dict>
								<key>fontSize</key>
								<integer>20</integer>
								<key>name</key>
								<string>marrowText</string>
								<key>content</key>
								<string>M_FAIRY_LU_EXPLANATION</string>
								<key>bLocalizeString</key>
								<integer>1</integer>
								<key>rect</key>
								<dict>
									<key>ASRectName</key>
									<string>map_ui_FRAME_FAIRY_LU_MARROW_EXPLANATION_TEXT</string>
									<key>alignment</key>
									<integer>0</integer>
									<key>anchorPoint</key>
									<integer>1</integer>
									<key>useASRect</key>
									<integer>1</integer>
								</dict>
								<key>type</key>
								<string>UILabel</string>
							</dict>
							<dict>
								<key>color</key>
								<dict>
									<key>red</key>
									<integer>255</integer>
									<key>green</key>
									<integer>255</integer>
									<key>blue</key>
									<integer>255</integer>
								</dict>
								<key>fontSize</key>
								<integer>24</integer>
								<key>name</key>
								<string>eatFiveText</string>
								<key>content</key>
								<string>M_FAIRY_LU_EATFIVE</string>
								<key>bLocalizeString</key>
								<integer>1</integer>
								<key>rect</key>
								<dict>
									<key>ASRectName</key>
									<string>map_ui_FRAME_FAIRY_LU_BUTTON_EATFIVE_TEXT</string>
									<key>alignment</key>
									<integer>1</integer>
									<key>anchorPoint</key>
									<integer>1</integer>
									<key>useASRect</key>
									<integer>1</integer>
								</dict>
								<key>type</key>
								<string>UILabel</string>
							</dict>
						</array>
						<key>refMode</key>
						<integer>1</integer>
						<key>refPointMode</key>
						<integer>5</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIContainer</string>
						<key>name</key>
						<string>marrowContainer</string>
						<key>width</key>
						<integer>0</integer>
						<key>widthOffset</key>
						<integer>0</integer>
						<key>heightOffset</key>
						<integer>0</integer>
						<key>widthScale</key>
						<integer>5000</integer>
						<key>heightScale</key>
						<integer>5000</integer>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
