<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>UILayout</string>
		<key>tag</key>
		<integer>0</integer>
		<key>name</key>
		<string>FairySelectLayout</string>
		<key>bModelLayer</key>
		<integer>1</integer>
		<key>bModelPriorty</key>
		<integer>-133</integer>
		<key>isVisible</key>              
		<integer>1</integer>
		<key>transform</key>             
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>z</key>
			<integer>3</integer>
		</dict>
		<key>color</key>                 
		<dict>
			<key>red</key>
			<integer>0</integer>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
			<key>alpha</key>
			<integer>0</integer>
		</dict>
		<key>children</key> 
		<array>
 			<dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>tag</key>
				<integer>0</integer>
				<key>name</key>
				<string>backContainer</string>
				<key>luaScript</key>              
				<string></string>
				<key>isVisible</key>              
				<integer>1</integer>
				<key>transform</key>              
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>0</integer>
				</dict>
				<key>refMode</key>                
				<integer>1</integer>
				<key>refPointMode</key>           
				<integer>5</integer>
				<key>widthScale</key>             
				<integer>5000</integer>
				<key>widthOffset</key>            
				<integer>0</integer>
				<key>heightScale</key>            
				<integer>5000</integer>
				<key>heightOffset</key>          
				<integer>0</integer>
				<key>width</key>                  
				<integer>0</integer>
				<key>height</key>                 
				<integer>0</integer>
				<key>children</key>               
				<array> 
					<dict>
	            		<key>type</key>
	            		<string>UIPicture</string>
	            		<key>tag</key>
	            		<integer>0</integer>
	            		<key>name</key>
	            		<string>frameBG</string>
	            		<key>resourceName</key>
	            		<string>map_ui_FRAME_FAIRY_CHOOSE_BACKGROUND</string>
	            		<key>useASposition</key>
	            		<integer>1</integer>
	            	</dict>
					<dict>
	            		<key>type</key>
	            		<string>UIPicture</string>
	            		<key>tag</key>
	            		<integer>0</integer>
	            		<key>name</key>
	            		<string>decorationPic1</string>
	            		<key>resourceName</key>
	            		<string>map_ui_FRAME_FAIRY_CHOOSE_BACKGROUND_DECORATION</string>
	            		<key>useASposition</key>
	            		<integer>1</integer>
	            	</dict>
					<dict>
	            		<key>type</key>
	            		<string>UIPicture</string>
	            		<key>tag</key>
	            		<integer>0</integer>
	            		<key>name</key>
	            		<string>decorationPic2</string>
	            		<key>resourceName</key>
	            		<string>map_ui_FRAME_FAIRY_CHOOSE_LIST1_BACKGROUND</string>
	            		<key>useASposition</key>
	            		<integer>1</integer>
	            	</dict>
					<dict>
	            		<key>type</key>
	            		<string>UIPicture</string>
	            		<key>tag</key>
	            		<integer>0</integer>
	            		<key>name</key>
	            		<string>decorationPic3</string>
	            		<key>resourceName</key>
	            		<string>map_ui_FRAME_FAIRY_CHOOSE_BACKGROUND_DECORATION1</string>
	            		<key>useASposition</key>
	            		<integer>1</integer>
	            	</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>titleLabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_CHOOSE_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string>精灵选择</string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>chooseBt</string>
						<key>isVisible</key>            
						<integer>1</integer>
						<key>texture</key>               
						<dict>
							<key>normalTexture</key>
							<string>map_ui_FRAME_FAIRY_CHOOSE_BUTTON</string>
							<key>clickedTexture</key>     
							<string>map_ui_FRAME_FAIRY_CHOOSE_BUTTON_CLICKED</string>
						</dict>
						<key>useASposition</key>         
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-136</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>chooseLabel</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_CHOOSE_BUTTON_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_FAIRY_SURE</string>
						<key>fontSize</key>
						<integer>28</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>closeBt</string>
						<key>isVisible</key>            
						<integer>1</integer>
						<key>texture</key>               
						<dict>
							<key>normalTexture</key>
							<string>map_ui_FRAME_FAIRY_CHOOSE_CLOSE</string>
							<key>clickedTexture</key>     
							<string>map_ui_FRAME_FAIRY_CHOOSE_CLOSE_CLICKED</string>
						</dict>
						<key>useASposition</key>         
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-134</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UIScrollList</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>fairyItemList</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>viewWidth</key>
						<integer>1024</integer>
						<key>viewHeight</key>
						<integer>768</integer>
						<key>contentOffsetX</key>
						<integer>0</integer>
						<key>contentOffsetY</key>
						<integer>0</integer>
						<key>contentWidth</key>
						<integer>1024</integer>
						<key>contentHeight</key>
						<integer>768</integer>
						<key>direction</key>
						<integer>1</integer>
						<key>startX</key>
						<integer>0</integer>
						<key>startY</key>
						<integer>0</integer>
						<key>priority</key>
						<integer>-136</integer>
						<key>background</key>
						<dict>
							<key>name</key>
							<string>map_ui_FRAME_FAIRY_CHOOSE_FRAME_ALL</string>
							<key>useASposition</key>
							<integer>1</integer>
						</dict>
					</dict>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>tag</key>
				<integer>0</integer>
				<key>name</key>
				<string>decomposeContainer</string>
				<key>isVisible</key>              
				<integer>0</integer>
				<key>transform</key>              
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>0</integer>
				</dict>
				<key>refMode</key>                
				<integer>1</integer>
				<key>refPointMode</key>           
				<integer>5</integer>
				<key>widthScale</key>             
				<integer>5000</integer>
				<key>widthOffset</key>            
				<integer>0</integer>
				<key>heightScale</key>            
				<integer>5000</integer>
				<key>heightOffset</key>          
				<integer>0</integer>
				<key>width</key>                  
				<integer>0</integer>
				<key>height</key>                 
				<integer>0</integer>
				<key>children</key>               
				<array> 
					<dict>
						<key>type</key>
						<string>UIButtonToggle</string>
						<key>tag</key>
						<integer>1</integer>
						<key>name</key>
						<string>decomposeBlueBt</string>
						<key>isVisible</key>             
						<integer>1</integer>
						<key>toggleButtons</key>       
						<array>					  
						<dict>                        
							<key>normalTexture</key>
							<string>map_ui_FRAME_FAIRY_SEVER_CHOOSE1_FRAME</string>
							<key>clickedTexture</key>
							<string>map_ui_FRAME_FAIRY_SEVER_CHOOSE1_FRAME</string>
						</dict>
						<dict>                        
							<key>normalTexture</key>
							<string>map_ui_FRAME_FAIRY_SEVER_CHOOSE1</string>
							<key>clickedTexture</key>
							<string>map_ui_FRAME_FAIRY_SEVER_CHOOSE1</string>
						</dict>
						</array>
						<key>useASposition</key>         
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-136</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>decomposeBlueLabel</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_SEVER_BUTTON_ALLBLUE_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_FAIRY_ALLBLUE</string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButtonToggle</string>
						<key>tag</key>
						<integer>1</integer>
						<key>name</key>
						<string>decomposePurpleBt</string>
						<key>isVisible</key>             
						<integer>1</integer>
						<key>toggleButtons</key>       
						<array>					  
						<dict>                        
							<key>normalTexture</key>
							<string>map_ui_FRAME_FAIRY_SEVER_CHOOSE2_FRAME</string>
							<key>clickedTexture</key>
							<string>map_ui_FRAME_FAIRY_SEVER_CHOOSE2_FRAME</string>
						</dict>
						<dict>                        
							<key>normalTexture</key>
							<string>map_ui_FRAME_FAIRY_SEVER_CHOOSE2</string>
							<key>clickedTexture</key>
							<string>map_ui_FRAME_FAIRY_SEVER_CHOOSE2</string>
						</dict>
						</array>
						<key>useASposition</key>         
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-136</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>decomposePurpleLabel</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_SEVER_BUTTON_ALLPURPLE_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_FAIRY_ALLPURPLE</string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButtonToggle</string>
						<key>tag</key>
						<integer>1</integer>
						<key>name</key>
						<string>decomposeFiveBt</string>
						<key>isVisible</key>             
						<integer>1</integer>
						<key>toggleButtons</key>       
						<array>					  
						<dict>                        
							<key>normalTexture</key>
							<string>map_ui_FRAME_FAIRY_SEVER_CHOOSE3_FRAME</string>
							<key>clickedTexture</key>
							<string>map_ui_FRAME_FAIRY_SEVER_CHOOSE3_FRAME</string>
						</dict>
						<dict>                        
							<key>normalTexture</key>
							<string>map_ui_FRAME_FAIRY_SEVER_CHOOSE3</string>
							<key>clickedTexture</key>
							<string>map_ui_FRAME_FAIRY_SEVER_CHOOSE3</string>
						</dict>
						</array>
						<key>useASposition</key>         
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-136</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>decomposeFiveLabel</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_SEVER_BUTTON_ALLPURPLE1_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_FAIRY_PURPLE5</string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>decomposeBt</string>
						<key>isVisible</key>            
						<integer>1</integer>
						<key>texture</key>               
						<dict>
							<key>normalTexture</key>
							<string>map_ui_FRAME_FAIRY_SEVER_BUTTON</string>
							<key>clickedTexture</key>     
							<string>map_ui_FRAME_FAIRY_SEVER_BUTTON_CLICKED</string>
						</dict>
						<key>useASposition</key>         
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-136</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>decomposeLabel</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_SEVER_BUTTON_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_FAIRY_BAG_DECOMPOSE</string>
						<key>fontSize</key>
						<integer>28</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>decomposeHitLabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>0</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_REBIRTH_TEXT_HINT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>tag</key>
				<integer>0</integer>
				<key>name</key>
				<string>rebirthContainer</string>
				<key>isVisible</key>              
				<integer>0</integer>
				<key>transform</key>              
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>0</integer>
				</dict>
				<key>refMode</key>                
				<integer>1</integer>
				<key>refPointMode</key>           
				<integer>5</integer>
				<key>widthScale</key>             
				<integer>5000</integer>
				<key>widthOffset</key>            
				<integer>0</integer>
				<key>heightScale</key>            
				<integer>5000</integer>
				<key>heightOffset</key>          
				<integer>0</integer>
				<key>width</key>                  
				<integer>0</integer>
				<key>height</key>                 
				<integer>0</integer>
				<key>children</key>               
				<array> 
					<dict>
						<key>type</key>
						<string>UIButtonToggle</string>
						<key>tag</key>
						<integer>1</integer>
						<key>name</key>
						<string>rebirthAllBt</string>
						<key>isVisible</key>             
						<integer>1</integer>
						<key>toggleButtons</key>       
						<array>					  
						<dict>                        
							<key>normalTexture</key>
							<string>map_ui_FRAME_FAIRY_REBIRTH_ALL_FRAME</string>
							<key>clickedTexture</key>
							<string>map_ui_FRAME_FAIRY_REBIRTH_ALL_FRAME</string>
						</dict>
						<dict>                        
							<key>normalTexture</key>
							<string>map_ui_FRAME_FAIRY_REBIRTH_ALL</string>
							<key>clickedTexture</key>
							<string>map_ui_FRAME_FAIRY_REBIRTH_ALL</string>
						</dict>
						</array>
						<key>useASposition</key>         
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-136</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>rebirthAllLabel</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_REBIRTH_ALL_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_FAIRY_ALL</string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>rebirthBt</string>
						<key>isVisible</key>            
						<integer>1</integer>
						<key>texture</key>               
						<dict>
							<key>normalTexture</key>
							<string>map_ui_FRAME_FAIRY_REBIRTH_BUTTON_REBIRTH</string>
							<key>clickedTexture</key>     
							<string>map_ui_FRAME_FAIRY_REBIRTH_BUTTON_REBIRTH_CLICKED</string>
						</dict>
						<key>useASposition</key>         
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-136</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>rebirthLabel</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_REBIRTH_BUTTON_REBIRTH_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_FAIRY_BAG_REVIVE</string>
						<key>fontSize</key>
						<integer>28</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>rebithHitLabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>0</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_REBIRTH_TEXT_HINT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_FAIRY_REBIRTH_EXPLANATION1</string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>