<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>UILayout</string>
		<key>tag</key>
		<integer>0</integer>
		<key>name</key>
		<string>FairyGetwayLayout</string>
		<key>bModelLayer</key>
		<integer>1</integer>
		<key>bModelPriorty</key>
		<integer>-137</integer>
		<key>isVisible</key>              
		<integer>1</integer>
		<key>transform</key>             
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>z</key>
			<integer>0</integer>
		</dict>
		<key>children</key>
		<array>
 			<dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>tag</key>
				<integer>0</integer>
				<key>name</key>
				<string>CenterContainer</string>
				<key>isVisible</key>              
				<integer>1</integer>
				<key>transform</key>              
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>0</integer>
				</dict>
				<key>refMode</key>                
				<integer>1</integer>
				<key>refPointMode</key>           
				<integer>5</integer>
				<key>widthScale</key>             
				<integer>5000</integer>
				<key>widthOffset</key>            
				<integer>0</integer>
				<key>heightScale</key>            
				<integer>5000</integer>
				<key>heightOffset</key>          
				<integer>0</integer>
				<key>width</key>                  
				<integer>0</integer>
				<key>height</key>                 
				<integer>0</integer>
				<key>children</key>               
				<array> 
					<dict>
	            		<key>type</key>
	            		<string>UIPicture</string>
	            		<key>tag</key>
	            		<integer>0</integer>
	            		<key>name</key>
	            		<string>frameBG</string>
	            		<key>resourceName</key>
	            		<string>map_ui_FRAME_SPIRIT_GET_BACKGROUND</string>
	            		<key>useASposition</key>
	            		<integer>1</integer>
	            	</dict>
					<dict>
	            		<key>type</key>
	            		<string>UIPicture</string>
	            		<key>tag</key>
	            		<integer>0</integer>
	            		<key>name</key>
	            		<string>frameBG1</string>
	            		<key>resourceName</key>
	            		<string>map_ui_FRAME_SPIRIT_GET_COPY_BACKGROUND</string>
	            		<key>useASposition</key>
	            		<integer>1</integer>
	            	</dict>
					<dict>
	            		<key>type</key>
	            		<string>UIPicture</string>
	            		<key>tag</key>
	            		<integer>0</integer>
	            		<key>name</key>
	            		<string>frameBG2</string>
	            		<key>resourceName</key>
	            		<string>map_ui_FRAME_SPIRIT_GET_COPY_BACKGROUND1</string>
	            		<key>useASposition</key>
	            		<integer>1</integer>
	            	</dict>
					<dict>
	            		<key>type</key>
	            		<string>UIPicture</string>
	            		<key>tag</key>
	            		<integer>0</integer>
	            		<key>name</key>
	            		<string>frameBG3</string>
	            		<key>resourceName</key>
	            		<string>map_ui_FRAME_SPIRIT_GET_COPY_BACKGROUND2</string>
	            		<key>useASposition</key>
	            		<integer>1</integer>
	            	</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>titleLabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>163</integer>
							<key>blue</key>
							<integer>4</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_SPIRIT_GET_BACKGROUND_TITLE</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_FAIRY_GET_WAY</string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>textLabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>84</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_SPIRIT_GET_SYSTEM_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_GET_FAIRY_TEXT</string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>					
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>closeBt</string>
						<key>isVisible</key>            
						<integer>1</integer>
						<key>texture</key>               
						<dict>
							<key>normalTexture</key>      
							<string>map_ui_FRAME_SPIRIT_GET_CLOSE</string>
							<key>clickedTexture</key>     
							<string>map_ui_FRAME_SPIRIT_GET_CLOSED</string>
						</dict>
						<key>useASposition</key>         
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-139</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>instanceTitleLabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>195</integer>
							<key>blue</key>
							<integer>118</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_SPIRIT_GET_COPY_TITLE</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_FAIRY_DROP_RAID</string>
						<key>fontSize</key>
						<integer>18</integer>
					</dict>
					<dict>
	            		<key>type</key>
	            		<string>UIPicture</string>
	            		<key>tag</key>
	            		<integer>0</integer>
	            		<key>name</key>
	            		<string>systemBG1</string>
	            		<key>resourceName</key>
	            		<string>map_ui_FRAME_SPIRIT_GET_SYSTEM_BACKGROUND</string>
	            		<key>useASposition</key>
	            		<integer>1</integer>
	            	</dict>
					<dict>
	            		<key>type</key>
	            		<string>UIPicture</string>
	            		<key>tag</key>
	            		<integer>0</integer>
	            		<key>name</key>
	            		<string>systemBG2</string>
	            		<key>resourceName</key>
	            		<string>map_ui_FRAME_SPIRIT_GET_SYSTEM_BACKGROUND1</string>
	            		<key>useASposition</key>
	            		<integer>1</integer>
	            	</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>systemTitleLabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>195</integer>
							<key>blue</key>
							<integer>118</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_SPIRIT_GET_SYSTEM_TITLE</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_FAIRY_DROP_SYSTEM</string>
						<key>fontSize</key>
						<integer>18</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIScrollPage</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>instanceScrollPage</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>contentWidth</key>
						<integer>1024</integer>
						<key>contentHeight</key>
						<integer>768</integer>
						<key>direction</key>
						<integer>0</integer>
						<key>indicatorOffsetX</key>
						<integer>0</integer>
						<key>indicatorOffsetY</key>
						<integer>10</integer>
						<key>priority</key>
						<integer>-139</integer>
						<key>frameRect</key>
						<dict>
							<key>useAscontentRect</key>
							<integer>1</integer>
							<key>rectAsIndex</key>
							<string>map_ui_FRAME_SPIRIT_GET_COPY_SLIDE_FRAME</string>
						</dict>
						<key>page</key>
						<dict>
							<key>count</key>
							<integer>0</integer>
							<key>row</key>
							<integer>0</integer>
							<key>column</key>
							<integer>0</integer>
							<key>cellOffsetX</key>
							<integer>0</integer>
							<key>cellOffsetY</key>
							<integer>0</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UIScrollPage</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>systemScrollPage</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>contentWidth</key>
						<integer>1024</integer>
						<key>contentHeight</key>
						<integer>768</integer>
						<key>direction</key>
						<integer>0</integer>
						<key>indicatorOffsetX</key>
						<integer>0</integer>
						<key>indicatorOffsetY</key>
						<integer>10</integer>
						<key>priority</key>
						<integer>-139</integer>
						<key>frameRect</key>
						<dict>
							<key>useAscontentRect</key>
							<integer>1</integer>
							<key>rectAsIndex</key>
							<string>map_ui_FRAME_SPIRIT_GET_SYSTEM_SLIDE_FRAME</string>
						</dict>
						<key>page</key>
						<dict>
							<key>count</key>
							<integer>0</integer>
							<key>row</key>
							<integer>0</integer>
							<key>column</key>
							<integer>0</integer>
							<key>cellOffsetX</key>
							<integer>0</integer>
							<key>cellOffsetY</key>
							<integer>0</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>instanceNoneLabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>56</integer>
							<key>green</key>
							<integer>221</integer>
							<key>blue</key>
							<integer>7</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_SPIRIT_GET_COPY_NO</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_FAIRY_DROP_RAID_NO</string>
						<key>fontSize</key>
						<integer>22</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>systemNoneLabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>56</integer>
							<key>green</key>
							<integer>221</integer>
							<key>blue</key>
							<integer>7</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_SPIRIT_GET_SYSTEM_NO</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_FAIRY_DROP_SYSTEM_NO</string>
						<key>fontSize</key>
						<integer>22</integer>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>