<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>UILayout</string>
		<key>name</key>
		<string>FairyAdvanceUI</string>
		<key>bModelLayer</key>
		<integer>1</integer>
		<key>children</key>
		<array>
			<dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>name</key>
				<string>FairyAdvanceContainer</string>
				<key>refMode</key>
				<integer>1</integer>
				<key>refPointMode</key>
				<integer>5</integer>
				<key>widthScale</key>
				<integer>5000</integer>
				<key>widthOffset</key>
				<integer>0</integer>
				<key>heightScale</key>
				<integer>5000</integer>
				<key>heightOffset</key>
				<integer>0</integer>
				<key>width</key>
				<integer>0</integer>
				<key>height</key>
				<integer>0</integer>
				<key>children</key>
				<array>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>1</key>
								<string>UI/ui_Alchemy.png</string>
								<key>2</key>
								<string>UI/ui2.png</string>
								<key>3</key>
								<string>UI/ui_fairy.png</string>
								<key>imagecount</key>
								<integer>4</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui.bin</string>
							<key>iphone</key>
							<string>UI/ui.bin</string>
						</dict>
						<key>name</key>
						<string>background1</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_FAIRY_AD_BACKGROUND</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>background2</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_FAIRY_AD_BACKGROUND_DECORATION</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>background3</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_FAIRY_AD_LIST1_BACKGROUND</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>background4</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_FAIRY_AD_BACKGROUND_DECORATION1</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>itemBtn1</string>
						<key>texture</key>
						<dict>
							<key>normalTexture</key>
							<string>map_ui_FRAME_FAIRY_AD_MATERIAL1</string>
							<key>clickedTexture</key>
							<string>map_ui_FRAME_FAIRY_AD_MATERIAL1_CLICKED</string>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
					<dict>
						<key>name</key>
						<string>itemBtn2</string>
						<key>texture</key>
						<dict>
							<key>normalTexture</key>
							<string>map_ui_FRAME_FAIRY_AD_MATERIAL2</string>
							<key>clickedTexture</key>
							<string>map_ui_FRAME_FAIRY_AD_MATERIAL2_CLICKED</string>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
					<dict>
						<key>name</key>
						<string>itemBtn3</string>
						<key>texture</key>
						<dict>
							<key>normalTexture</key>
							<string>map_ui_FRAME_FAIRY_AD_MATERIAL3</string>
							<key>clickedTexture</key>
							<string>map_ui_FRAME_FAIRY_AD_MATERIAL3_CLICKED</string>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
					<dict>
						<key>name</key>
						<string>itemBtn4</string>
						<key>texture</key>
						<dict>
							<key>normalTexture</key>
							<string>map_ui_FRAME_FAIRY_AD_MATERIAL4</string>
							<key>clickedTexture</key>
							<string>map_ui_FRAME_FAIRY_AD_MATERIAL4_CLICKED</string>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
					<dict>
						<key>name</key>
						<string>advanceBtn</string>
						<key>texture</key>
						<dict>
							<key>normalTexture</key>
							<string>map_ui_FRAME_FAIRY_AD_BUTTON_AD</string>
							<key>clickedTexture</key>
							<string>map_ui_FRAME_FAIRY_AD_BUTTON_AD_CLICKED</string>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
					<dict>
						<key>name</key>
						<string>closeBtn</string>
						<key>texture</key>
						<dict>
							<key>normalTexture</key>
							<string>map_ui_FRAME_FAIRY_AD_CLOSE</string>
							<key>clickedTexture</key>
							<string>map_ui_FRAME_FAIRY_AD_CLOSE_CLICKED</string>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
					<dict>
						<key>name</key>
						<string>itemIcon1</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_FAIRY_AD_MATERIAL1_FRAME</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>itemIcon2</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_FAIRY_AD_MATERIAL2_FRAME</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>itemIcon3</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_FAIRY_AD_MATERIAL3_FRAME</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>itemIcon4</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_FAIRY_AD_MATERIAL4_FRAME</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>attrIcon1</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_FAIRY_AD_ATTRIBUTE1_ICON</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>attrIcon2</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_FAIRY_AD_ATTRIBUTE2_ICON</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>attrIcon3</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_FAIRY_AD_ATTRIBUTE3_ICON</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>attrIcon4</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_FAIRY_AD_ATTRIBUTE4_ICON</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>attrIcon5</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_FAIRY_AD_ATTRIBUTE5_ICON</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>attrIcon6</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_FAIRY_AD_ATTRIBUTE6_ICON</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>adCoinIcon</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_FAIRY_AD_COIN_ICON</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>fairyFrame1</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_FAIRY_AD1_ANIMATION_FRAME</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>fairyFrame2</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_FAIRY_AD2_ANIMATION_FRAME</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>adArrowPic</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_FAIRY_AD_ARROW</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>fontSize</key>
						<integer>24</integer>
						<key>name</key>
						<string>fairyTitle</string>
						<key>content</key>
						<string>M_AD_TEXT1</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_AD_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>itemText</string>
						<key>content</key>
						<string>M_AD_MATERIAL</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_AD_MATERIAL_TEXT</string>
							<key>alignment</key>
							<integer>2</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>0</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>fontSize</key>
						<integer>18</integer>
						<key>name</key>
						<string>itemNum1</string>
						<key>content</key>
						<string>1/1</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_AD_MATERIAL1_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>0</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>fontSize</key>
						<integer>18</integer>
						<key>name</key>
						<string>itemNum2</string>
						<key>content</key>
						<string>2/2</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_AD_MATERIAL2_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>0</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>fontSize</key>
						<integer>18</integer>
						<key>name</key>
						<string>itemNum3</string>
						<key>content</key>
						<string>2/2</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_AD_MATERIAL3_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>0</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>fontSize</key>
						<integer>18</integer>
						<key>name</key>
						<string>itemNum4</string>
						<key>content</key>
						<string>2/2</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_AD_MATERIAL4_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>attrUpText</string>
						<key>content</key>
						<string>M_FAIRY_LU_GROWING</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_AD_ATTRIBUTE_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>24</integer>
						<key>name</key>
						<string>advanceText</string>
						<key>content</key>
						<string>M_FAIRY_BAG_AD</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_AD_BUTTON_EAT_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>attrName1</string>
						<key>content</key>
						<string>M_FAIRY_LU_ATTRIBUTE1</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_AD_ATTRIBUTE1_NAME</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>attrName2</string>
						<key>content</key>
						<string>M_FAIRY_LU_ATTRIBUTE2</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_AD_ATTRIBUTE2_NAME</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>attrName3</string>
						<key>content</key>
						<string>M_FAIRY_LU_ATTRIBUTE3</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_AD_ATTRIBUTE3_NAME</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>attrName4</string>
						<key>content</key>
						<string>M_FAIRY_LU_ATTRIBUTE4</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_AD_ATTRIBUTE4_NAME</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>attrName5</string>
						<key>content</key>
						<string>M_FAIRY_LU_ATTRIBUTE5</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_AD_ATTRIBUTE5_NAME</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>attrName6</string>
						<key>content</key>
						<string>M_FAIRY_LU_ATTRIBUTE6</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_AD_ATTRIBUTE6_NAME</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>attrNum1</string>
						<key>content</key>
						<string>100</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_AD_ATTRIBUTE1_NUMBER</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>attrNum2</string>
						<key>content</key>
						<string>100</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_AD_ATTRIBUTE2_NUMBER</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>attrNum3</string>
						<key>content</key>
						<string>100</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_AD_ATTRIBUTE3_NUMBER</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>attrNum4</string>
						<key>content</key>
						<string>100</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_AD_ATTRIBUTE4_NUMBER</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>attrNum5</string>
						<key>content</key>
						<string>100</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_AD_ATTRIBUTE5_NUMBER</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>attrNum6</string>
						<key>content</key>
						<string>100</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_AD_ATTRIBUTE6_NUMBER</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>0</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>attrUpNum1</string>
						<key>content</key>
						<string>110</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_AD_ATTRIBUTE1_UPNUMBER</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>0</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>attrUpNum2</string>
						<key>content</key>
						<string>110</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_AD_ATTRIBUTE2_UPNUMBER</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>0</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>attrUpNum3</string>
						<key>content</key>
						<string>110</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_AD_ATTRIBUTE3_UPNUMBER</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>0</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>attrUpNum4</string>
						<key>content</key>
						<string>110</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_AD_ATTRIBUTE4_UPNUMBER</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>0</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>attrUpNum5</string>
						<key>content</key>
						<string>110</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_AD_ATTRIBUTE5_UPNUMBER</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>0</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>attrUpNum6</string>
						<key>content</key>
						<string>110</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_AD_ATTRIBUTE6_UPNUMBER</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>coinText</string>
						<key>content</key>
						<string>M_AD_COST</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_AD_COIN_TEXT</string>
							<key>alignment</key>
							<integer>2</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>coinNum</string>
						<key>content</key>
						<string>200</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_AD_COIN_NUMBER</string>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>17</integer>
							<key>green</key>
							<integer>179</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>fairyName1</string>
						<key>content</key>
						<string>精灵名称</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_AD1_NAME_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>17</integer>
							<key>green</key>
							<integer>179</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>fairyName2</string>
						<key>content</key>
						<string>精灵名称</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_AD2_NAME_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>fairyLevel1</string>
						<key>content</key>
						<string>Lv.1</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_AD1_LV</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>fairyLevel2</string>
						<key>content</key>
						<string>Lv.2</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_AD2_LV</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>184</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>fairyExplainText</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_FAIRY_AD_TEXT</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_AD_EXPLANATION_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
