<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>UILayout</string>
		<key>name</key>
		<string>FightFailure</string>
		<key>bModelLayer</key>
		<integer>1</integer>
		<key>transform</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>z</key>
			<integer>0</integer>
		</dict>
		<key>children</key>
		<array>
			<dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>name</key>
				<string>winContainer</string>
				<key>height</key>
				<integer>0</integer>
				<key>heightOffset</key>
				<integer>0</integer>
				<key>heightScale</key>
				<integer>5000</integer>
				<key>refMode</key>
				<integer>1</integer>
				<key>refPointMode</key>
				<integer>5</integer>
				<key>width</key>
				<integer>0</integer>
				<key>widthOffset</key>
				<integer>0</integer>
				<key>widthScale</key>
				<integer>5000</integer>
				<key>children</key>
				<array>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>name</key>
						<string>bgPic</string>
						<key>resourceName</key>
						<string>map_ui_inbattle_FRAME_FAILSPECIAL_BACKGROUND</string>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui_inbattle.png</string>
								<key>1</key>
								<string>UI/ui2.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui_inbattle.bin</string>
							<key>iphone</key>
							<string>UI/ui_inbattle.bin</string>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>name</key>
						<string>bgDecoration</string>
						<key>resourceName</key>
						<string>map_ui_inbattle_FRAME_FAILSPECIAL_BACKGROUND_DECORATION</string>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui_inbattle.bin</string>
							<key>iphone</key>
							<string>UI/ui_inbattle.bin</string>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>attackText</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_inbattle_FRAME_FAILSPECIAL_TEXT_ATTACK</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_DEAD_SYSTEM1</string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>name</key>
						<string>attackFrame</string>
						<key>resourceName</key>
						<string>map_ui_inbattle_FRAME_FAILSPECIAL_FRAME_ATTACK</string>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui_inbattle.bin</string>
							<key>iphone</key>
							<string>UI/ui_inbattle.bin</string>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>name</key>
						<string>attackBar</string>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>resourceName</key>
						<string>map_ui_inbattle_FRAME_FAILSPECIAL_BAR_SYSTEM1</string>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui_inbattle.bin</string>
							<key>iphone</key>
							<string>UI/ui_inbattle.bin</string>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>attackPercent</string>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>1</integer>
						</dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_inbattle_FRAME_FAILSPECIAL_TEXT_ATTACKPERCENT</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>attackLevel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_inbattle_FRAME_FAILSPECIAL_TEXT_ATTACKLEVEL</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>name</key>
						<string>attackBt</string>
						<key>clickedCallback</key>
						<string>AccountsLayer::onGetFairy</string>
						<key>texture</key>               
						<dict>
							<key>normalTexture</key>      
							<string>map_ui_inbattle_FRAME_FAILSPECIAL_BUTTON_GO1</string>
							<key>clickedTexture</key>     
							<string>map_ui_inbattle_FRAME_FAILSPECIAL_BUTTON_GO1</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
						</dict>
						<key>useASposition</key>         
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>attackBtText</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_inbattle_FRAME_FAILSPECIAL_TEXT_GO1</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_DEAD_GO1</string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>defenceText</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_inbattle_FRAME_FAILSPECIAL_TEXT_DEFENCE</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_DEAD_SYSTEM2</string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>name</key>
						<string>defenceFrame</string>
						<key>resourceName</key>
						<string>map_ui_inbattle_FRAME_FAILSPECIAL_FRAME_DEFENCE</string>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui_inbattle.bin</string>
							<key>iphone</key>
							<string>UI/ui_inbattle.bin</string>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>name</key>
						<string>defenceBar</string>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>resourceName</key>
						<string>map_ui_inbattle_FRAME_FAILSPECIAL_BAR_SYSTEM2</string>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui_inbattle.bin</string>
							<key>iphone</key>
							<string>UI/ui_inbattle.bin</string>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>defencePercent</string>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>1</integer>
						</dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_inbattle_FRAME_FAILSPECIAL_TEXT_DEFENCEPERCENT</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>defenceLevel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_inbattle_FRAME_FAILSPECIAL_TEXT_DEFENCELEVEL</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>name</key>
						<string>defenceBt</string>
						<key>clickedCallback</key>
						<string>AccountsLayer::onTrainFairy</string>
						<key>texture</key>               
						<dict>
							<key>normalTexture</key>      
							<string>map_ui_inbattle_FRAME_FAILSPECIAL_BUTTON_GO2</string>
							<key>clickedTexture</key>     
							<string>map_ui_inbattle_FRAME_FAILSPECIAL_BUTTON_GO2</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
						</dict>
						<key>useASposition</key>         
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>defenceBtText</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_inbattle_FRAME_FAILSPECIAL_TEXT_GO2</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_DEAD_GO2</string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>lifeText</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_inbattle_FRAME_FAILSPECIAL_TEXT_LIFE</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_DEAD_SYSTEM3</string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>name</key>
						<string>lifeFrame</string>
						<key>resourceName</key>
						<string>map_ui_inbattle_FRAME_FAILSPECIAL_FRAME_LIFE</string>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui_inbattle.bin</string>
							<key>iphone</key>
							<string>UI/ui_inbattle.bin</string>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>name</key>
						<string>lifeBar</string>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>resourceName</key>
						<string>map_ui_inbattle_FRAME_FAILSPECIAL_BAR_SYSTEM3</string>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui_inbattle.bin</string>
							<key>iphone</key>
							<string>UI/ui_inbattle.bin</string>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>lifePercent</string>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>1</integer>
						</dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_inbattle_FRAME_FAILSPECIAL_TEXT_LIFEPERCENT</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>lifeLevel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_inbattle_FRAME_FAILSPECIAL_TEXT_LIFELEVEL</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>name</key>
						<string>lifeBt</string>
						<key>clickedCallback</key>
						<string>AccountsLayer::onStrenthEquip</string>
						<key>texture</key>               
						<dict>
							<key>normalTexture</key>      
							<string>map_ui_inbattle_FRAME_FAILSPECIAL_BUTTON_GO3</string>
							<key>clickedTexture</key>     
							<string>map_ui_inbattle_FRAME_FAILSPECIAL_BUTTON_GO3</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
						</dict>
						<key>useASposition</key>         
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>lifeBtText</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_inbattle_FRAME_FAILSPECIAL_TEXT_GO3</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_DEAD_GO3</string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>name</key>
						<string>backBt</string>
						<key>clickedCallback</key>
						<string>AccountsLayer::OnBack</string>
						<key>texture</key>               
						<dict>
							<key>normalTexture</key>      
							<string>map_ui_inbattle_FRAME_FAILSPECIAL_BUTTON_BACKTOTOWN</string>
							<key>clickedTexture</key>     
							<string>map_ui_inbattle_FRAME_FAILSPECIAL_BUTTON_BACKTOTOWN_CLICKED</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
						</dict>
						<key>useASposition</key>         
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>BackText</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_inbattle_FRAME_FAILSPECIAL_TEXT_BACKTOTOWN</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_ESTIMATE_BACKTOTOWN</string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>name</key>
						<string>payBt</string>
						<key>clickedCallback</key>
						<string>AccountsLayer::onBuyDiamond</string>
						<key>texture</key>               
						<dict>
							<key>normalTexture</key>      
							<string>map_ui_inbattle_FRAME_FAILSPECIAL_BUTTON_PAY</string>
							<key>clickedTexture</key>     
							<string>map_ui_inbattle_FRAME_FAILSPECIAL_BUTTON_PAY_CLICKED</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
						</dict>
						<key>useASposition</key>         
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>payText</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_inbattle_FRAME_FAILSPECIAL_TEXT_PAY</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_DEAD_BUY</string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>name</key>
						<string>hint2Label</string>
						<key>isVisible</key>            
						<integer>1</integer>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>131</integer>
							<key>green</key>
							<integer>227</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_inbattle_FRAME_FAILSPECIAL_TEXT_PAYHINT2</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>18</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>name</key>
						<string>hint1Label</string>
						<key>isVisible</key>            
						<integer>0</integer>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>131</integer>
							<key>green</key>
							<integer>227</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_inbattle_FRAME_FAILSPECIAL_TEXT_PAYHINT1</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>name</key>
						<string>hintVipLabel</string>
						<key>isVisible</key>            
						<integer>0</integer>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>180</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_inbattle_FRAME_FAILSPECIAL_TEXT_PAYHINT1VIP</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>name</key>
						<string>hit0Label</string>
						<key>isVisible</key>            
						<integer>0</integer>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>131</integer>
							<key>green</key>
							<integer>227</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_inbattle_FRAME_FAILSPECIAL_TEXT_PAYHINT0</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_DEAD_VIP0</string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
