<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>UILayout</string>
		<key>isVisible</key>
		<integer>1</integer>
		<key>luaScript</key>
		<string></string>
		<key>name</key>
		<string>ForcePKAnimPanel</string>
		<key>tag</key>
		<integer>0</integer>
		<key>bModelLayer</key>
		<integer>1</integer>
		<key>children</key>
		<array>
			<dict>
				<key>children</key>
				<array>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>imagecount</key>
								<integer>1</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui.bin</string>
							<key>iphone</key>
							<string>UI/ui.bin</string>
						</dict>					
						<key>name</key>
						<string>BackgroundPic</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_PK_QIANGPK_BACKGROUND</string>
						<key>tag</key>
						<integer>0</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
				</array>
				<key>height</key>
				<integer>0</integer>
				<key>heightOffset</key>
				<integer>0</integer>
				<key>heightScale</key>
				<integer>5000</integer>
				<key>isVisible</key>
				<integer>1</integer>
				<key>luaScript</key>
				<string></string>
				<key>name</key>
				<string>ForcePKAnimContainer</string>
				<key>refMode</key>
				<integer>1</integer>
				<key>refObjName</key>
				<string></string>
				<key>refPointMode</key>
				<integer>5</integer>
				<key>tag</key>
				<integer>0</integer>
				<key>transform</key>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>0</integer>
				</dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>width</key>
				<integer>0</integer>
				<key>widthOffset</key>
				<integer>0</integer>
				<key>widthScale</key>
				<integer>5000</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
