<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>UILayout</string>
		<key>tag</key>
		<integer>0</integer>
		<key>name</key>
		<string>friendLayout</string>
		<key>bModelLayer</key>
		<integer>1</integer>
		<key>luaScript</key>              
		<string></string>
		<key>isVisible</key>              
		<integer>1</integer>
		<key>transform</key>             
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>z</key>
			<integer>0</integer>
		</dict>
		<key>color</key>                 
		<dict>
			<key>red</key>
			<integer>0</integer>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
			<key>alpha</key>
			<integer>0</integer>
		</dict>
		<key>children</key> 
		<array>
 			<dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>tag</key>
				<integer>0</integer>
				<key>name</key>
				<string>friendContainer</string>
				<key>luaScript</key>              
				<string></string>
				<key>isVisible</key>              
				<integer>1</integer>
				<key>transform</key>              
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>0</integer>
				</dict>
				<key>refMode</key>                
				<integer>1</integer>
				<key>refPointMode</key>           
				<integer>5</integer>
				<key>widthScale</key>             
				<integer>5000</integer>
				<key>widthOffset</key>            
				<integer>0</integer>
				<key>heightScale</key>            
				<integer>5000</integer>
				<key>heightOffset</key>          
				<integer>0</integer>
				<key>width</key>                  
				<integer>0</integer>
				<key>height</key>                 
				<integer>0</integer>
				<key>refObjName</key>             
				<string></string>
				<key>children</key>               
				<array> 
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>backPic</string>
						<key>resourceName</key>
						<string>map_ui2_FRAME_FRIEND_BACKGROUND</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>bgDecoration</string>
						<key>resourceName</key>
						<string>map_ui2_FRAME_FRIEND_BACKGROUND_DECORATION</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>bg2</string>
						<key>resourceName</key>
						<string>map_ui2_FRAME_FRIEND_BACKGROUND2</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>3</integer>
						<key>name</key>
						<string>closeBt</string>
						<key>isVisible</key>            
						<integer>1</integer>
						<key>clickedCallback</key>        
						<string></string>
						<key>texture</key>               
						<dict>
							<key>normalTexture</key>      
							<string>map_ui2_FRAME_FRIEND_BUTTON_CLOSE</string>
							<key>clickedTexture</key>
							<string>map_ui2_FRAME_FRIEND_BUTTON_CLOSE_CLICKED</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
						</dict>
						<key>useASposition</key>         
						<integer>1</integer>
						<key>drag</key>
						  <dict>
							<key>priority</key>
							<integer>-130</integer>
						  </dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>bgDecoration2</string>
						<key>resourceName</key>
						<string>map_ui2_FRAME_FRIEND_BACKGROUND_DECORATION1</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>leftPKLabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_FRIEND_TEXT_DEFENSETIME</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_FRIEND_DEFENSE</string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>		
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>leftPKNumLabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_FRIEND_NUMBER_DEFENSETIME</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string>0</string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>	
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>sociatyText</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_FRIEND_TEXT_SOCIATY</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_FRIEND_SOCIATY</string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>	
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>guildLabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>0</integer>
							<key>green</key>
							<integer>162</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_FRIEND_TEXT_FRIENDSOCIATY</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>					
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>nearByFriendBtn</string>
						<key>isVisible</key>            
						<integer>1</integer>
						<key>clickedCallback</key>        
						<string></string>
						<key>texture</key>               
						<dict>
							<key>normalTexture</key>      
							<string>map_ui2_FRAME_FRIEND_BUTTON_PLAYERNEARBY</string>
							<key>clickedTexture</key>
							<string>map_ui2_FRAME_FRIEND_BUTTON_PLAYERNEARBY_CLICKED</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
						</dict>
						<key>useASposition</key>         
						<integer>1</integer>
						<key>drag</key>
						  <dict>
							<key>priority</key>
							<integer>-130</integer>
						  </dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>nearByFriendBtnLable</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_FRIEND_BUTTON_PLAYERNEARBY_TEXT</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_FRIEND_NEARBY</string>
						<key>fontSize</key>
						<integer>28</integer>
					</dict>		
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>friendListBtn</string>
						<key>isVisible</key>            
						<integer>1</integer>
						<key>clickedCallback</key>        
						<string></string>
						<key>texture</key>               
						<dict>
							<key>normalTexture</key>      
							<string>map_ui2_FRAME_FRIEND_BUTTON_FRIENDLIST_CLICKED</string>
							<key>clickedTexture</key>
							<string>map_ui2_FRAME_FRIEND_BUTTON_FRIENDLIST_CLICKED</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
						</dict>
						<key>useASposition</key>         
						<integer>1</integer>
						<key>drag</key>
						  <dict>
							<key>priority</key>
							<integer>-130</integer>
						  </dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>friendListBtnLable</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_FRIEND_BUTTON_FRIENDLIST_TEXT</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_FRIEND</string>
						<key>fontSize</key>
						<integer>28</integer>
					</dict>				
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>redFriendBtn</string>
						<key>isVisible</key>            
						<integer>1</integer>
						<key>clickedCallback</key>        
						<string></string>
						<key>texture</key>               
						<dict>
							<key>normalTexture</key>      
							<string>map_ui2_FRAME_FRIEND_BUTTON_REDNAME</string>
							<key>clickedTexture</key>
							<string>map_ui2_FRAME_FRIEND_BUTTON_REDNAME_CLICKED</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
						</dict>
						<key>useASposition</key>         
						<integer>1</integer>
						<key>drag</key>
						  <dict>
							<key>priority</key>
							<integer>-130</integer>
						  </dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>redFriendBtnLable</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_FRIEND_BUTTON_REDNAME_TEXT</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_FRIEND_REDNAME</string>
						<key>fontSize</key>
						<integer>28</integer>
					</dict>		
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>enemiesBtn</string>
						<key>isVisible</key>            
						<integer>1</integer>
						<key>clickedCallback</key>        
						<string></string>
						<key>texture</key>               
						<dict>
							<key>normalTexture</key>      
							<string>map_ui2_FRAME_FRIEND_BUTTON_ENEMIES</string>
							<key>clickedTexture</key>
							<string>map_ui2_FRAME_FRIEND_BUTTON_ENEMIES_CLICKED</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
						</dict>
						<key>useASposition</key>         
						<integer>1</integer>
						<key>drag</key>
						  <dict>
							<key>priority</key>
							<integer>-130</integer>
						  </dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>enemiesBtnLable</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_FRIEND_BUTTON_ENEMIES_TEXT</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_FRIEND_ENEMIES</string>
						<key>fontSize</key>
						<integer>28</integer>
					</dict>									
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>titleLable</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>163</integer>
							<key>blue</key>
							<integer>4</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_FRIEND_TEXT_TITLE</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_FRIEND</string>
						<key>fontSize</key>
						<integer>28</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIScrollList</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>friendList</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>viewWidth</key>
						<integer>1024</integer>
						<key>viewHeight</key>
						<integer>768</integer>
						<key>contentOffsetX</key>
						<integer>0</integer>
						<key>contentOffsetY</key>
						<integer>0</integer>
						<key>contentWidth</key>
						<integer>1024</integer>
						<key>contentHeight</key>
						<integer>768</integer>
						<key>direction</key>
						<integer>1</integer>
						<key>startX</key>
						<integer>0</integer>
						<key>startY</key>
						<integer>0</integer>
						<key>background</key>
						<dict>
							<key>name</key>
							<string>map_ui2_FRAME_FRIEND_LIST_AREA</string>
							<key>useASposition</key>
							<integer>1</integer>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>pvpDuelTimesLable</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>0</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_FRIEND_TEXT_OWNATTACK</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>alignment</key>
							<integer>2</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_FRIEND_OWNATTACK</string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>		
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>pvpDuelTimesNumLable</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>0</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_FRIEND_NUMBER_OWNATTACK</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string>0</string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>							
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>pvpDueledTimesLable</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>0</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_FRIEND_TEXT_OWNDEFENSE</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>alignment</key>
							<integer>2</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_FRIEND_OWNDEFENSE</string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>		
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>pvpDueledTimesNumLable</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>0</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_FRIEND_NUMBER_OWNDEFENSE</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string>0</string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>							
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>headIcon</string>
						<key>resourceName</key>
						<string>map_ui2_FRAME_FRIEND_ICON_FRIENDPIC</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>friendName</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>152</integer>
							<key>blue</key>
							<integer>6</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_FRIEND_TEXT_FRIENDNAME</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>friendLevel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_FRIEND_TEXT_FRIENDLEVEL</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>26</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>friendOccupation</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_FRIEND_TEXT_FRIENDOCCUPATION</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>26</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>friendReputation</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_FRIEND_TEXT_FRIENDREPUTATION</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>26</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>friendRankText</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_FRIEND_TEXT_FRIENDRANK</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_FRIEND_PVAI_RANK</string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>friendRankNo</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_FRIEND_NUMBER_FRIENDRANK</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>3</integer>
						<key>name</key>
						<string>deleteFriendBt</string>
						<key>isVisible</key>            
						<integer>1</integer>
						<key>clickedCallback</key>        
						<string></string>
						<key>texture</key>               
						<dict>
							<key>normalTexture</key>      
							<string>map_ui2_FRAME_FRIEND_BUTTON_DELETEFRIEND</string>
							<key>clickedTexture</key>
							<string>map_ui2_FRAME_FRIEND_BUTTON_DELETEFRIEND_CLICKED</string>
							<key>iconTexture</key>     
							<string>map_ui_system_icon_FRAME_ICON_DELETEFRIEND</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
						</dict>
						<key>useASposition</key>         
						<integer>1</integer>
						<key>drag</key>
						  <dict>
							<key>priority</key>
							<integer>-130</integer>
						  </dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>deleteFriendText</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_FRIEND_TEXT_DELETEFRIEND</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_FRIEND_DELETE</string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>3</integer>
						<key>name</key>
						<string>addFriendBt</string>
						<key>isVisible</key>            
						<integer>1</integer>
						<key>clickedCallback</key>        
						<string></string>
						<key>texture</key>               
						<dict>
							<key>normalTexture</key>      
							<string>map_ui2_FRAME_FRIEND_BUTTON_ADDFRIEND</string>
							<key>clickedTexture</key>
							<string>map_ui2_FRAME_FRIEND_BUTTON_ADDFRIEND_CLICKED</string>
							<key>iconTexture</key>     
							<string>map_ui_system_icon_FRAME_ICON_ADDFRIEND</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
						</dict>
						<key>useASposition</key>         
						<integer>1</integer>
						<key>drag</key>
						  <dict>
							<key>priority</key>
							<integer>-130</integer>
						  </dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>addFriendText</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_FRIEND_TEXT_ADDFRIEND</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_FRIEND_ADDFRIEND</string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>					
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>3</integer>
						<key>name</key>
						<string>detailBt</string>
						<key>isVisible</key>            
						<integer>1</integer>
						<key>clickedCallback</key>        
						<string></string>
						<key>texture</key>               
						<dict>
							<key>normalTexture</key>      
							<string>map_ui2_FRAME_FRIEND_BUTTON_DETAIL</string>
							<key>clickedTexture</key>
							<string>map_ui2_FRAME_FRIEND_BUTTON_DETAIL_CLICKED</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
						</dict>
						<key>useASposition</key>         
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
				</array>
			</dict>
			<dict>
	     		<key>type</key>
	     	    <string>UIContainer</string>
	     	    <key>tag</key>
	     	    <integer>0</integer>
	     	    <key>name</key>
	     	    <string>friendButtomContainer</string>
	     	    <key>isVisible</key>              
	     	    <integer>1</integer>
	     	    <key>transform</key>              
	     	    <dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>0</integer>
	     	    </dict>
	     	    <key>refMode</key>                
	     	    <integer>1</integer>
	     	    <key>refPointMode</key>           
	     	    <integer>6</integer>
	     	    <key>widthScale</key>             
	     	    <integer>5000</integer>
	     	    <key>widthOffset</key>            
	     	    <integer>0</integer>
	     	    <key>heightScale</key>            
	     	    <integer>0</integer>
	     	    <key>heightOffset</key>          
	     	    <integer>0</integer>
	     	    <key>width</key>                  
	     	    <integer>0</integer>
	     	    <key>height</key>                 
	     	    <integer>0</integer>
	     	    <key>refObjName</key>             
	     	    <string></string>
	     	    <key>children</key>  
	     	    <array>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>friendUpdateBt</string>
						<key>isVisible</key>            
						<integer>1</integer>
						<key>clickedCallback</key>        
						<string></string>
						<key>texture</key>               
						<dict>
							<key>normalTexture</key>      
							<string>map_ui2_FRAME_FRIENDNEARBY_BUTTON_UPDATE</string>
							<key>clickedTexture</key>     
							<string>map_ui2_FRAME_FRIENDNEARBY_BUTTON_UPDATE_CLICKED</string>
							<key>iconTexture</key>     
							<string>map_ui_system_icon_FRAME_ICON_UPDATENEARBY</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
						</dict>
						<key>useASposition</key>         
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>	
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>friendUpdateLabel</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_FRIENDNEARBY_TEXT_UPDATE</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_FRIEND_UPDATE</string>
						<key>fontSize</key>
						<integer>34</integer>
					</dict>
				</array>
			</dict>	
		</array>
	</dict>
</array>
</plist>