<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>bModelLayer</key>
		<integer>1</integer>
		<key>children</key>
		<array>
			<dict>
				<key>children</key>
				<array>
					<dict>
						<key>name</key>
						<string>instanceListBg</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_UNDERGROUND_BACKGROUND</string>
						<key>tag</key>
						<integer>1</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>instanceListBackDecoration</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_UNDERGROUND_BACKGROUND_DECORATION</string>
						<key>tag</key>
						<integer>1</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>instanceListDecoration</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_UNDERGROUND_DECORATION</string>
						<key>tag</key>
						<integer>1</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>instanceListDecoration2</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_UNDERGROUND_DECORATION2</string>
						<key>tag</key>
						<integer>1</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>clickedCallback</key>
						<string>closeInstanceList</string>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
						<key>isVisible</key>
						<integer>1</integer>
						<key>luaScript</key>
						<string></string>
						<key>name</key>
						<string>closeBtn</string>
						<key>tag</key>
						<integer>3</integer>
						<key>texture</key>
						<dict>
							<key>clickedTexture</key>
							<string>map_ui_FRAME_UNDERGROUND_CLOSE_CLICKED</string>
							<key>normalTexture</key>
							<string>map_ui_FRAME_UNDERGROUND_CLOSE</string>
						</dict>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>0</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>M_DAILYTARGET_5160_NAME</string>
						<key>fontSize</key>
						<integer>28</integer>
						<key>luaScript</key>
						<string></string>
						<key>name</key>
						<string>titleLabel</string>
						<key>tag</key>
						<integer>5</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>250</integer>
							<key>z</key>
							<integer>5</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>cellAsIndex</key>
						<string>map_ui_FRAME_UNDERGROUND_GRID1</string>
						<key>cellSelectedAsIndex</key>
						<string>map_ui_FRAME_UNDERGROUND_GRID1_CLICKED</string>
						<key>direction</key>
						<integer>0</integer>
						<key>frameRect</key>
						<dict>
							<key>rectAsIndex</key>
							<string>map_ui_FRAME_UNDERGROUND_BACKGROUND</string>
							<key>useAscontentRect</key>
							<integer>1</integer>
						</dict>
						<key>indicatorOffsetX</key>
						<integer>0</integer>
						<key>indicatorOffsetY</key>
						<integer>-50</integer>
						<key>isVisible</key>
						<integer>1</integer>
						<key>itemClickedCallback</key>
						<string>onInstanceClicked</string>
						<key>itemType</key>
						<integer>1</integer>
						<key>luaScript</key>
						<string></string>
						<key>name</key>
						<string>instanceListScrollPage</string>
						<key>page</key>
						<dict>
							<key>cellOffsetX</key>
							<integer>100</integer>
							<key>cellOffsetY</key>
							<integer>100</integer>
							<key>column</key>
							<integer>4</integer>
							<key>count</key>
							<integer>0</integer>
							<key>row</key>
							<integer>1</integer>
						</dict>
						<key>tag</key>
						<integer>0</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIScrollPage</string>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>3</integer>
						<key>name</key>
						<string>autofight</string>
						<key>luaScript</key>
						<string></string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>clickedCallback</key>
						<string>clickAutoFight</string>
						<key>texture</key>
						<dict>
							<key>normalTexture</key>
							<string>map_ui_FRAME_UNDERGROUND_BUTTON_AUTOFIGHT</string>
							<key>clickedTexture</key>
							<string>map_ui_FRAME_UNDERGROUND_BUTTON_AUTOFIGHT_CLICKED</string>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-132</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>4</integer>
						<key>name</key>
						<string>resetgame</string>
						<key>luaScript</key>
						<string></string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>clickedCallback</key>
						<string>clickResetJingYingFuBen</string>
						<key>texture</key>
						<dict>
							<key>normalTexture</key>
							<string>map_ui_FRAME_UNDERGROUND_BUTTON_RESET</string>
							<key>clickedTexture</key>
							<string>map_ui_FRAME_UNDERGROUND_BUTTON_RESET_CLICKED</string>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-132</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>alchemyTitleLable</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_UNDERGROUND_TEXT_AUTOFIGHT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>content</key>
						<string>自动战斗</string>
						<key>fontSize</key>
						<integer>28</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>alchemyTitleLable</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_UNDERGROUND_TEXT_RESET</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>content</key>
						<string>重置副本</string>
						<key>fontSize</key>
						<integer>28</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>bottomCoinLable</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_UNDERGROUND_NUMBER_COIN_INALL</string>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>bottomDiamondLable</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_UNDERGROUND_NUMBER_DIAMOND_INALL</string>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>diamondPic</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_UNDERGROUND_ICON_DIAMOND_INALL</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>coinPic</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_UNDERGROUND_ICON_COIN_INALL</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
				</array>
				<key>height</key>
				<integer>0</integer>
				<key>heightOffset</key>
				<integer>0</integer>
				<key>heightScale</key>
				<integer>5000</integer>
				<key>isVisible</key>
				<integer>1</integer>
				<key>luaScript</key>
				<string></string>
				<key>name</key>
				<string>instanceListContainer</string>
				<key>refMode</key>
				<integer>1</integer>
				<key>refObjName</key>
				<string></string>
				<key>refPointMode</key>
				<integer>5</integer>
				<key>tag</key>
				<integer>0</integer>
				<key>transform</key>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>0</integer>
				</dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>width</key>
				<integer>0</integer>
				<key>widthOffset</key>
				<integer>0</integer>
				<key>widthScale</key>
				<integer>5000</integer>
			</dict>
		</array>
		<key>color</key>
		<dict>
			<key>alpha</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
			<key>green</key>
			<integer>0</integer>
			<key>red</key>
			<integer>0</integer>
		</dict>
		<key>isVisible</key>
		<integer>1</integer>
		<key>luaScript</key>
		<string></string>
		<key>name</key>
		<string>InstanceDungeon</string>
		<key>tag</key>
		<integer>0</integer>
		<key>transform</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>z</key>
			<integer>0</integer>
		</dict>
		<key>type</key>
		<string>UILayout</string>
	</dict>
</array>
</plist>
