<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>children</key>
		<array>
			<dict>
				<key>children</key>
				<array>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>imagecount</key>
								<integer>1</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
						</dict>
						<key>name</key>
						<string>backPic1</string>
						<key>resourceName</key>
						<string>map_ui2_FRAME_MAIL_BACKGROUND</string>
						<key>tag</key>
						<integer>0</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>name</key>
						<string>backPic2</string>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>imagecount</key>
								<integer>1</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
						</dict>
						<key>resourceName</key>
						<string>map_ui2_FRAME_MAIL_BACKGROUND2</string>
						<key>tag</key>
						<integer>0</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>name</key>
						<string>backPic2</string>
						<key>tag</key>
						<integer>0</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>resourceName</key>
						<string>map_ui2_FRAME_MAIL_BACKGROUND3</string>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>imagecount</key>
								<integer>1</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>name</key>
						<string>decorationPic</string>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>imagecount</key>
								<integer>1</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
						</dict>
						<key>resourceName</key>
						<string>map_ui2_FRAME_MAIL_BACKGROUND_DECORATION</string>
						<key>tag</key>
						<integer>0</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>name</key>
						<string>decoratioinPic2</string>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>imagecount</key>
								<integer>1</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
						</dict>
						<key>resourceName</key>
						<string>map_ui2_FRAME_MAIL_BACKGROUND_DECORATION1</string>
						<key>tag</key>
						<integer>0</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>name</key>
						<string>MAIL_TEXT_TITLE</string>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>0</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>邮件</string>
						<key>fontSize</key>
						<integer>30</integer>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_MAIL_TEXT_TITLE</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>tag</key>
						<integer>0</integer>
						
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>name</key>
						<string>mailTitle</string>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>63</integer>
							<key>green</key>
							<integer>171</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>28</integer>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_MAIL_TEXT_MAILTITLE</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>tag</key>
						<integer>0</integer>
						
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>name</key>
						<string>mailTimeLable</string>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>20</integer>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_MAIL_TEXT_MAILSENDTIME</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>name</key>
						<string>mailSenderLable</string>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>155</integer>
							<key>green</key>
							<integer>228</integer>
							<key>red</key>
							<integer>190</integer>
						</dict>
						<key>content</key>
						<string>发件人:</string>
						<key>fontSize</key>
						<integer>20</integer>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_MAIL_TEXT_MAILSENDER</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>name</key>
						<string>mailSender2Lable</string>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>25</integer>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_MAIL_TEXT_MAILSENDER2</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>tag</key>
						<integer>0</integer>
						
					</dict>
					<dict>
						<key>type</key>
						<string>UIScrollList</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>mailContentList</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>viewWidth</key>
						<integer>1024</integer>
						<key>viewHeight</key>
						<integer>768</integer>
						<key>contentOffsetX</key>
						<integer>0</integer>
						<key>contentOffsetY</key>
						<integer>0</integer>
						<key>contentWidth</key>
						<integer>1024</integer>
						<key>contentHeight</key>
						<integer>768</integer>
						<key>direction</key>
						<integer>1</integer>
						<key>deltaDistance</key>
						<integer>0</integer>
						<key>startX</key>
						<integer>0</integer>
						<key>startY</key>
						<integer>0</integer>
						<key>background</key>
						<dict>
							<key>name</key>
							<string>map_ui2_FRAME_MAIL_TEXT_MAILCONTENT</string>
							<key>useASposition</key>
							<integer>1</integer>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>name</key>
						<string>attachmentLable</string>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>155</integer>
							<key>green</key>
							<integer>228</integer>
							<key>red</key>
							<integer>190</integer>
						</dict>
						<key>content</key>
						<string>附件</string>
						<key>fontSize</key>
						<integer>26</integer>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_MAIL_TEXT_ATTACHMENT</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UIScrollList</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>mailAttachmentList</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>5</integer>
						</dict>
						<key>viewWidth</key>
						<integer>1024</integer>
						<key>viewHeight</key>
						<integer>768</integer>
						<key>contentOffsetX</key>
						<integer>0</integer>
						<key>contentOffsetY</key>
						<integer>0</integer>
						<key>contentWidth</key>
						<integer>1024</integer>
						<key>contentHeight</key>
						<integer>768</integer>
						<key>direction</key>
						<integer>0</integer>
						<key>deltaDistance</key>
						<integer>0</integer>
						<key>startX</key>
						<integer>0</integer>
						<key>startY</key>
						<integer>0</integer>
						<key>priority</key>
						<integer>-133</integer>
						<key>background</key>
						<dict>
							<key>name</key>
							<string>map_ui2_FRAME_MAIL_FRAME_ATTACHMENTAREA</string>
							<key>useASposition</key>
							<integer>1</integer>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>name</key>
						<string>alreadyGotPic</string>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>10</integer>
						</dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>1</key>
								<string>UI/ui2.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
						</dict>
						<key>resourceName</key>
						<string>map_ui2_FRAME_MAIL_ICON_ALREADYGOT</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>name</key>
						<string>getBt</string>
						<key>texture</key>
						<dict>
							<key>normalTexture</key>
							<string>map_ui2_FRAME_MAIL_BUTTON_1</string>
							<key>clickedTexture</key>
							<string>map_ui2_FRAME_MAIL_BUTTON_1_CLICKED</string>
							<key>disableTexture</key>
							<string>map_ui2_FRAME_MAIL_BUTTON_1_CANTCLICK</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
							</dict>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
						<key>lable</key>
						<dict>
							<key>content</key>
							<string>领取</string>
							<key>fontSize</key>
							<integer>25</integer>
						</dict>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-132</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>name</key>
						<string>deleteBt</string>
						<key>texture</key>
						<dict>
							<key>normalTexture</key>
							<string>map_ui2_FRAME_MAIL_BUTTON_3</string>
							<key>clickedTexture</key>
							<string>map_ui2_FRAME_MAIL_BUTTON_3_CLICKED</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
							</dict>
						</dict>
						<key>lable</key>
						<dict>
							<key>content</key>
							<string>删除</string>
							<key>fontSize</key>
							<integer>25</integer>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-132</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>name</key>
						<string>closeBt</string>
						<key>tag</key>
						<integer>3</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-132</integer>
						</dict>
						<key>isVisible</key>
						<integer>1</integer>
						<key>useASposition</key>
						<integer>1</integer>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>imagecount</key>
									<integer>1</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>clickedTexture</key>
							<string>map_ui2_FRAME_MAIL_BUTTON_CLOSE_CLICKED</string>
							<key>normalTexture</key>
							<string>map_ui2_FRAME_MAIL_BUTTON_CLOSE</string>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>name</key>
						<string>mailBt1</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>tag</key>
						<integer>1</integer>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>normalTexture</key>
							<string>map_ui2_FRAME_MAIL_BUTTON_MAIL1</string>
							<key>clickedTexture</key>
							<string>map_ui2_FRAME_MAIL_BUTTON_MAIL1_SELECTED</string>
						</dict>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-132</integer>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>name</key>
						<string>mailBt2</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>tag</key>
						<integer>2</integer>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>normalTexture</key>
							<string>map_ui2_FRAME_MAIL_BUTTON_MAIL2</string>
							<key>clickedTexture</key>
							<string>map_ui2_FRAME_MAIL_BUTTON_MAIL2_SELECTED</string>
						</dict>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-132</integer>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>name</key>
						<string>mailBt3</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>tag</key>
						<integer>3</integer>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>normalTexture</key>
							<string>map_ui2_FRAME_MAIL_BUTTON_MAIL3</string>
							<key>clickedTexture</key>
							<string>map_ui2_FRAME_MAIL_BUTTON_MAIL3_SELECTED</string>
						</dict>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-132</integer>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>name</key>
						<string>mailBt4</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>tag</key>
						<integer>4</integer>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>normalTexture</key>
							<string>map_ui2_FRAME_MAIL_BUTTON_MAIL4</string>
							<key>clickedTexture</key>
							<string>map_ui2_FRAME_MAIL_BUTTON_MAIL4_SELECTED</string>
						</dict>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-132</integer>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>name</key>
						<string>mailText1</string>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>20</integer>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_MAIL_TEXT_MAIL1</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>					
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>name</key>
						<string>mailText2</string>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>20</integer>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_MAIL_TEXT_MAIL2</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>					
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>name</key>
						<string>mailText3</string>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>20</integer>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_MAIL_TEXT_MAIL3</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>					
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>name</key>
						<string>mailText4</string>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>20</integer>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_MAIL_TEXT_MAIL4</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>					
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>name</key>
						<string>mailIcon1</string>
						<key>resourceName</key>
						<string>map_ui2_FRAME_MAIL_ICON_MAIL1</string>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
							<key>images</key>
							<dict>
								<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>2</integer>
							</dict>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>name</key>
						<string>mailIcon3</string>
						<key>resourceName</key>
						<string>map_ui2_FRAME_MAIL_ICON_MAIL3</string>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
							<key>images</key>
							<dict>
								<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>2</integer>
							</dict>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>name</key>
						<string>mailIcon2</string>
						<key>resourceName</key>
						<string>map_ui2_FRAME_MAIL_ICON_MAIL2</string>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
							<key>images</key>
							<dict>
								<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>2</integer>
							</dict>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>name</key>
						<string>mailIcon4</string>
						<key>resourceName</key>
						<string>map_ui2_FRAME_MAIL_ICON_MAIL4</string>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
							<key>images</key>
							<dict>
								<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>2</integer>
							</dict>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>name</key>
						<string>LastPageBt</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>tag</key>
						<integer>3</integer>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>normalTexture</key>
							<string>map_ui2_FRAME_MAIL_BUTTON_PREVIOUSPAGE</string>
							<key>clickedTexture</key>
							<string>map_ui2_FRAME_MAIL_BUTTON_PREVIOUSPAGE_CLICKED</string>
						</dict>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-132</integer>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>name</key>
						<string>NextPageBt</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>tag</key>
						<integer>3</integer>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>normalTexture</key>
							<string>map_ui2_FRAME_MAIL_BUTTON_NEXTPAGE</string>
							<key>clickedTexture</key>
							<string>map_ui2_FRAME_MAIL_BUTTON_NEXTPAGE_CLICKED</string>
						</dict>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-132</integer>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>name</key>
						<string>pageNumLabel</string>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>40</integer>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_MAIL_TEXT_PAGE</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>					
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>name</key>
						<string>getALLBt</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>tag</key>
						<integer>3</integer>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>normalTexture</key>
							<string>map_ui2_FRAME_MAIL_BUTTON_AKEY</string>
							<key>clickedTexture</key>
							<string>map_ui2_FRAME_MAIL_BUTTON_AKEY_CLICKED</string>
						</dict>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-132</integer>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>name</key>
						<string>getAllLabel</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_MAIL_AKEY</string>
						<key>fontSize</key>
						<integer>24</integer>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_MAIL_TEXT_AKEY</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>					
					</dict>
				</array>
				<key>height</key>
				<integer>0</integer>
				<key>heightOffset</key>
				<integer>0</integer>
				<key>heightScale</key>
				<integer>5000</integer>
				<key>isVisible</key>
				<integer>1</integer>
				<key>luaScript</key>
				<string></string>
				<key>name</key>
				<string>winContainer</string>
				<key>refMode</key>
				<integer>1</integer>
				<key>refObjName</key>
				<string></string>
				<key>refPointMode</key>
				<integer>5</integer>
				<key>tag</key>
				<integer>0</integer>
				<key>transform</key>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>0</integer>
				</dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>width</key>
				<integer>0</integer>
				<key>widthOffset</key>
				<integer>0</integer>
				<key>widthScale</key>
				<integer>5000</integer>
			</dict>
		</array>
		<key>color</key>
		<dict>
			<key>alpha</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
			<key>green</key>
			<integer>0</integer>
			<key>red</key>
			<integer>0</integer>
		</dict>
		<key>isVisible</key>
		<integer>1</integer>
		<key>luaScript</key>
		<string></string>
		<key>name</key>
		<string>MailUI</string>
		<key>tag</key>
		<integer>0</integer>
		<key>bModelLayer</key>
		<integer>1</integer>
		<key>bModelPriorty</key>
		<integer>-131</integer>
		<key>transform</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>z</key>
			<integer>0</integer>
		</dict>
		<key>type</key>
		<string>UILayout</string>
	</dict>
</array>
</plist>
