<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>UILayout</string>
		<key>tag</key>
		<integer>0</integer>
		<key>name</key>
		<string>MarqueeLayout</string>
		<key>luaScript</key>              
		<string></string>
		<key>isVisible</key>              
		<integer>1</integer>
		<key>transform</key>             
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>z</key>
			<integer>3</integer>
		</dict>
		<key>color</key>                 
		<dict>
			<key>red</key>
			<integer>0</integer>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
			<key>alpha</key>
			<integer>0</integer>
		</dict>
		<key>children</key> 
		<array>
 			<dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>tag</key>
				<integer>0</integer>
				<key>name</key>
				<string>bgContainer</string>
				<key>luaScript</key>              
				<string></string>
				<key>isVisible</key>              
				<integer>1</integer>
				<key>transform</key>              
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>0</integer>
				</dict>
				<key>refMode</key>                
				<integer>1</integer>
				<key>refPointMode</key>           
				<integer>4</integer>
				<key>widthScale</key>             
				<integer>0</integer>
				<key>widthOffset</key>            
				<integer>0</integer>
				<key>heightScale</key>            
				<integer>0</integer>
				<key>heightOffset</key>          
				<integer>0</integer>
				<key>width</key>                  
				<integer>0</integer>
				<key>height</key>                 
				<integer>0</integer>
				<key>children</key>               
				<array> 
					<dict>
	            		<key>type</key>
	            		<string>UIPicture</string>
	            		<key>tag</key>
	            		<integer>0</integer>
	            		<key>name</key>
	            		<string>frameBG</string>
	            		<key>resourceName</key>
	            		<string>map_ui_FRAME_FRAME_REVOLVELAMP</string>
	            		<key>useASposition</key>
	            		<integer>1</integer>
	            		<key>AspriteManager</key>
	            	    <dict>
	            		  <key>ipad</key>
	            		  <string>UI/ui.bin</string>
	            		  <key>iphone</key>
	            		  <string>UI/ui.bin</string>
						  <key>images</key>
							<dict>
								<key>2</key>
								<string>UI/ui2.png</string>
								<key>1</key>
								<string>UI/ui_Alchemy.png</string>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>imagecount</key>
								<integer>3</integer>
							</dict>
	            	    </dict>
	            	</dict>
					<dict>
	            		<key>type</key>
	            		<string>UIPicture</string>
	            		<key>tag</key>
	            		<integer>0</integer>
	            		<key>name</key>
	            		<string>marqueeBG</string>
	            		<key>resourceName</key>
	            		<string>map_ui_FRAME_TEXT_REVOLVELAMP</string>
	            		<key>useASposition</key>
	            		<integer>1</integer>
	            		<key>AspriteManager</key>
	            	    <dict>
	            		  <key>ipad</key>
	            		  <string>UI/ui.bin</string>
	            		  <key>iphone</key>
	            		  <string>UI/ui.bin</string>
						  <key>images</key>
							<dict>
								<key>2</key>
								<string>UI/ui2.png</string>
								<key>1</key>
								<string>UI/ui_Alchemy.png</string>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>imagecount</key>
								<integer>3</integer>
							</dict>
	            	    </dict>
	            	</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>