<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>bModelLayer</key>
		<integer>1</integer>
		<key>children</key>
		<array>
			<dict>
				<key>children</key>
				<array>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui_dailyreward.png</string>
								<key>1</key>
								<string>UI/ui.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui_dailyreward.bin</string>
							<key>iphone</key>
							<string>UI/ui_dailyreward.bin</string>
						</dict>
						<key>name</key>
						<string>feedBg</string>
						<key>resourceName</key>
						<string>map_ui_dailyreward_FRAME_OFFLINEEXP_BACKGROUND</string>
						<key>tag</key>
						<integer>1</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>0</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>离线经验</string>
						<key>fontSize</key>
						<integer>32</integer>
						<key>name</key>
						<string>TEXT_TITLE</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_dailyreward_FRAME_OFFLINEEXP_TEXT_TITLE</string>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_dailyreward.png</string>
									<key>1</key>
									<string>UI/ui.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_dailyreward.bin</string>
								<key>iphone</key>
								<string>UI/ui_dailyreward.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>34</integer>
							<key>green</key>
							<integer>101</integer>
							<key>red</key>
							<integer>224</integer>
						</dict>
						<key>content</key>
						<string>可挂机时间:</string>
						<key>fontSize</key>
						<integer>22</integer>
						<key>luaScript</key>
						<string></string>
						<key>name</key>
						<string>TEXT_REMAINONHOOKTIME</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_dailyreward_FRAME_OFFLINEEXP_TEXT_REMAINONHOOKTIME</string>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_dailyreward.png</string>
									<key>1</key>
									<string>UI/ui.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_dailyreward.bin</string>
								<key>iphone</key>
								<string>UI/ui_dailyreward.bin</string>
							</dict>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>tag</key>
						<integer>5</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>250</integer>
							<key>z</key>
							<integer>5</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>34</integer>
							<key>green</key>
							<integer>101</integer>
							<key>red</key>
							<integer>224</integer>
						</dict>
						<key>content</key>
						<string>8H</string>
						<key>fontSize</key>
						<integer>22</integer>
						<key>luaScript</key>
						<string></string>
						<key>name</key>
						<string>NUM_REMAINONHOOKTIME</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_dailyreward_FRAME_OFFLINEEXP_NUM_REMAINONHOOKTIME</string>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_dailyreward.png</string>
									<key>1</key>
									<string>UI/ui.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_dailyreward.bin</string>
								<key>iphone</key>
								<string>UI/ui_dailyreward.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>tag</key>
						<integer>5</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>250</integer>
							<key>z</key>
							<integer>5</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>21</integer>
							<key>green</key>
							<integer>219</integer>
							<key>red</key>
							<integer>123</integer>
						</dict>
						<key>content</key>
						<string>剩余挂机时间</string>
						<key>fontSize</key>
						<integer>22</integer>
						<key>luaScript</key>
						<string></string>
						<key>name</key>
						<string>TEXT_CANONHOOKTIME</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_dailyreward_FRAME_OFFLINEEXP_TEXT_CANONHOOKTIME</string>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_dailyreward.png</string>
									<key>1</key>
									<string>UI/ui.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_dailyreward.bin</string>
								<key>iphone</key>
								<string>UI/ui_dailyreward.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>tag</key>
						<integer>5</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>250</integer>
							<key>z</key>
							<integer>5</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>21</integer>
							<key>green</key>
							<integer>219</integer>
							<key>red</key>
							<integer>123</integer>
						</dict>
						<key>content</key>
						<string>00 : 23 : 21</string>
						<key>fontSize</key>
						<integer>22</integer>
						<key>luaScript</key>
						<string></string>
						<key>name</key>
						<string>NUM_CANONHOOKTIME</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_dailyreward_FRAME_OFFLINEEXP_NUM_CANONHOOKTIME</string>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_dailyreward.png</string>
									<key>1</key>
									<string>UI/ui.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_dailyreward.bin</string>
								<key>iphone</key>
								<string>UI/ui_dailyreward.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>tag</key>
						<integer>5</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>250</integer>
							<key>z</key>
							<integer>5</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>12345</string>
						<key>fontSize</key>
						<integer>22</integer>
						<key>luaScript</key>
						<string></string>
						<key>name</key>
						<string>NUM_ALLEXP</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_dailyreward_FRAME_OFFLINEEXP_NUM_ALLEXP</string>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_dailyreward.png</string>
									<key>1</key>
									<string>UI/ui.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_dailyreward.bin</string>
								<key>iphone</key>
								<string>UI/ui_dailyreward.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>tag</key>
						<integer>5</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>250</integer>
							<key>z</key>
							<integer>5</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui_dailyreward.png</string>
								<key>1</key>
								<string>UI/ui.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui_dailyreward.bin</string>
							<key>iphone</key>
							<string>UI/ui_dailyreward.bin</string>
						</dict>
						<key>name</key>
						<string>BAR_EXP</string>
						<key>resourceName</key>
						<string>map_ui_dailyreward_FRAME_OFFLINEEXP_BAR_EXP</string>
						<key>tag</key>
						<integer>1</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui_dailyreward.png</string>
								<key>1</key>
								<string>UI/ui.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui_dailyreward.bin</string>
							<key>iphone</key>
							<string>UI/ui_dailyreward.bin</string>
						</dict>
						<key>name</key>
						<string>FRAME_EXP</string>
						<key>resourceName</key>
						<string>map_ui_dailyreward_FRAME_OFFLINEEXP_FRAME_EXP</string>
						<key>tag</key>
						<integer>1</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>clickedCallback</key>
						<string>callbackBUTTON_GOT1</string>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
						<key>isVisible</key>
						<integer>1</integer>
						<key>luaScript</key>
						<string></string>
						<key>name</key>
						<string>BUTTON_GOT1</string>
						<key>tag</key>
						<integer>3</integer>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_dailyreward.png</string>
									<key>1</key>
									<string>UI/ui.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_dailyreward.bin</string>
								<key>iphone</key>
								<string>UI/ui_dailyreward.bin</string>
							</dict>
							<key>clickedTexture</key>
							<string>map_ui_dailyreward_FRAME_OFFLINEEXP_BUTTON_GOT1_CLICKED</string>
							<key>normalTexture</key>
							<string>map_ui_dailyreward_FRAME_OFFLINEEXP_BUTTON_GOT1</string>
						</dict>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>领取</string>
						<key>fontSize</key>
						<integer>32</integer>
						<key>luaScript</key>
						<string></string>
						<key>name</key>
						<string>TEXT_GOT1</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_dailyreward_FRAME_OFFLINEEXP_TEXT_GOT1</string>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_dailyreward.png</string>
									<key>1</key>
									<string>UI/ui.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_dailyreward.bin</string>
								<key>iphone</key>
								<string>UI/ui_dailyreward.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>tag</key>
						<integer>5</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>34</integer>
							<key>green</key>
							<integer>101</integer>
							<key>red</key>
							<integer>224</integer>
						</dict>
						<key>content</key>
						<string>当前已获得经验：</string>
						<key>fontSize</key>
						<integer>22</integer>
						<key>luaScript</key>
						<string></string>
						<key>name</key>
						<string>TEXT_EXPGOTNOW</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_dailyreward_FRAME_OFFLINEEXP_TEXT_EXPGOTNOW</string>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_dailyreward.png</string>
									<key>1</key>
									<string>UI/ui.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_dailyreward.bin</string>
								<key>iphone</key>
								<string>UI/ui_dailyreward.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>tag</key>
						<integer>5</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>250</integer>
							<key>z</key>
							<integer>5</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>23321</string>
						<key>fontSize</key>
						<integer>22</integer>
						<key>luaScript</key>
						<string></string>
						<key>name</key>
						<string>NUM_EXPGOTNOW</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_dailyreward_FRAME_OFFLINEEXP_NUM_EXPGOTNOW</string>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_dailyreward.png</string>
									<key>1</key>
									<string>UI/ui.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_dailyreward.bin</string>
								<key>iphone</key>
								<string>UI/ui_dailyreward.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>tag</key>
						<integer>5</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>250</integer>
							<key>z</key>
							<integer>5</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>clickedCallback</key>
						<string>callbackBUTTON_EXCHANGE</string>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
						<key>isVisible</key>
						<integer>1</integer>
						<key>luaScript</key>
						<string></string>
						<key>name</key>
						<string>BUTTON_EXCHANGE</string>
						<key>tag</key>
						<integer>3</integer>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_dailyreward.png</string>
									<key>1</key>
									<string>UI/ui.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_dailyreward.bin</string>
								<key>iphone</key>
								<string>UI/ui_dailyreward.bin</string>
							</dict>
							<key>clickedTexture</key>
							<string>map_ui_dailyreward_FRAME_OFFLINEEXP_BUTTON_EXCHANGE_CLICKED</string>
							<key>normalTexture</key>
							<string>map_ui_dailyreward_FRAME_OFFLINEEXP_BUTTON_EXCHANGE</string>
						</dict>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui_dailyreward.png</string>
								<key>1</key>
								<string>UI/ui.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui_dailyreward.bin</string>
							<key>iphone</key>
							<string>UI/ui_dailyreward.bin</string>
						</dict>
						<key>name</key>
						<string>PIC_EXP</string>
						<key>resourceName</key>
						<string>map_ui_dailyreward_FRAME_OFFLINEEXP_PIC_EXP</string>
						<key>tag</key>
						<integer>1</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>34</integer>
							<key>green</key>
							<integer>101</integer>
							<key>red</key>
							<integer>224</integer>
						</dict>
						<key>content</key>
						<string>已存储的经验：</string>
						<key>fontSize</key>
						<integer>22</integer>
						<key>luaScript</key>
						<string></string>
						<key>name</key>
						<string>TEXT_EXPSAVE</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_dailyreward_FRAME_OFFLINEEXP_TEXT_EXPSAVE</string>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_dailyreward.png</string>
									<key>1</key>
									<string>UI/ui.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_dailyreward.bin</string>
								<key>iphone</key>
								<string>UI/ui_dailyreward.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>tag</key>
						<integer>5</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>250</integer>
							<key>z</key>
							<integer>5</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>clickedCallback</key>
						<string>callbackBUTTON_GOT2</string>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
						<key>isVisible</key>
						<integer>1</integer>
						<key>luaScript</key>
						<string></string>
						<key>name</key>
						<string>BUTTON_GOT2</string>
						<key>tag</key>
						<integer>3</integer>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_dailyreward.png</string>
									<key>1</key>
									<string>UI/ui.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_dailyreward.bin</string>
								<key>iphone</key>
								<string>UI/ui_dailyreward.bin</string>
							</dict>
							<key>clickedTexture</key>
							<string>map_ui_dailyreward_FRAME_OFFLINEEXP_BUTTON_GOT2_CLICKED</string>
							<key>normalTexture</key>
							<string>map_ui_dailyreward_FRAME_OFFLINEEXP_BUTTON_GOT2</string>
						</dict>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>领取</string>
						<key>fontSize</key>
						<integer>32</integer>
						<key>luaScript</key>
						<string></string>
						<key>name</key>
						<string>TEXT_GOT2</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_dailyreward_FRAME_OFFLINEEXP_TEXT_GOT2</string>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_dailyreward.png</string>
									<key>1</key>
									<string>UI/ui.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_dailyreward.bin</string>
								<key>iphone</key>
								<string>UI/ui_dailyreward.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>tag</key>
						<integer>5</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>clickedCallback</key>
						<string>callbackBUTTON_CLOSE</string>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
						<key>isVisible</key>
						<integer>1</integer>
						<key>luaScript</key>
						<string></string>
						<key>name</key>
						<string>BUTTON_CLOSE</string>
						<key>tag</key>
						<integer>3</integer>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_dailyreward.png</string>
									<key>1</key>
									<string>UI/ui.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_dailyreward.bin</string>
								<key>iphone</key>
								<string>UI/ui_dailyreward.bin</string>
							</dict>
							<key>clickedTexture</key>
							<string>map_ui_dailyreward_FRAME_OFFLINEEXP_BUTTON_CLOSE_CLICKED</string>
							<key>normalTexture</key>
							<string>map_ui_dailyreward_FRAME_OFFLINEEXP_BUTTON_CLOSE</string>
						</dict>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
				</array>
				<key>height</key>
				<integer>0</integer>
				<key>heightOffset</key>
				<integer>0</integer>
				<key>heightScale</key>
				<integer>5000</integer>
				<key>isVisible</key>
				<integer>1</integer>
				<key>luaScript</key>
				<string></string>
				<key>name</key>
				<string>instanceListContainer</string>
				<key>refMode</key>
				<integer>1</integer>
				<key>refObjName</key>
				<string></string>
				<key>refPointMode</key>
				<integer>5</integer>
				<key>tag</key>
				<integer>0</integer>
				<key>transform</key>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>0</integer>
				</dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>width</key>
				<integer>0</integer>
				<key>widthOffset</key>
				<integer>0</integer>
				<key>widthScale</key>
				<integer>5000</integer>
			</dict>
		</array>
		<key>color</key>
		<dict>
			<key>alpha</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
			<key>green</key>
			<integer>0</integer>
			<key>red</key>
			<integer>0</integer>
		</dict>
		<key>isVisible</key>
		<integer>1</integer>
		<key>luaScript</key>
		<string></string>
		<key>name</key>
		<string>offlineExp</string>
		<key>tag</key>
		<integer>0</integer>
		<key>transform</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>z</key>
			<integer>0</integer>
		</dict>
		<key>type</key>
		<string>UILayout</string>
	</dict>
</array>
</plist>
