<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>bModelLayer</key>
		<integer>1</integer>
		<key>bModelPriorty</key>
		<integer>-131</integer>
		<key>children</key>
		<array>
			<dict>
				<key>children</key>
				<array>
						<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui_dailyreward.png</string>
								<key>1</key>
								<string>UI/ui.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui_dailyreward.bin</string>
							<key>iphone</key>
							<string>UI/ui_dailyreward.bin</string>
						</dict>
						<key>name</key>
						<string></string>
						<key>resourceName</key>
						<string>map_ui_dailyreward_FRAME_OLREWARD_BACKGROUND</string>
						<key>tag</key>
						<integer>0</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui_dailyreward.png</string>
								<key>1</key>
								<string>UI/ui.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui_dailyreward.bin</string>
							<key>iphone</key>
							<string>UI/ui_dailyreward.bin</string>
						</dict>
						<key>name</key>
						<string></string>
						<key>resourceName</key>
						<string>map_ui_dailyreward_FRAME_OLREWARD_BACKGROUND_DECORATION1</string>
						<key>tag</key>
						<integer>0</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui_dailyreward.png</string>
								<key>1</key>
								<string>UI/ui.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui_dailyreward.bin</string>
							<key>iphone</key>
							<string>UI/ui_dailyreward.bin</string>
						</dict>
						<key>name</key>
						<string></string>
						<key>resourceName</key>
						<string>map_ui_dailyreward_FRAME_OLREWARD_BACKGROUND_DECORATION2</string>
						<key>tag</key>
						<integer>0</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>clickedCallback</key>
						<string></string>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-132</integer>
						</dict>
						<key>isVisible</key>
						<integer>1</integer>
						<key>luaScript</key>
						<string></string>
						<key>name</key>
						<string>closeBtn</string>
						<key>tag</key>
						<integer>3</integer>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_dailyreward.png</string>
									<key>1</key>
									<string>UI/ui.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_dailyreward.bin</string>
								<key>iphone</key>
								<string>UI/ui_dailyreward.bin</string>
							</dict>
							<key>clickedTexture</key>
							<string>map_ui_dailyreward_FRAME_OLREWARD_CLOSE_CLICKED</string>
							<key>normalTexture</key>
							<string>map_ui_dailyreward_FRAME_OLREWARD_CLOSE</string>
						</dict>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>

					<dict>
						<key>clickedCallback</key>
						<string></string>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-132</integer>
						</dict>
						<key>isVisible</key>
						<integer>1</integer>
						<key>luaScript</key>
						<string></string>
						<key>name</key>
						<string>getBtn</string>
						<key>tag</key>
						<integer>3</integer>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_dailyreward.png</string>
									<key>1</key>
									<string>UI/ui.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_dailyreward.bin</string>
								<key>iphone</key>
								<string>UI/ui_dailyreward.bin</string>
							</dict>
							<key>clickedTexture</key>
							<string>map_ui_dailyreward_FRAME_OLREWARD_BUTTON_GET_CLICKED</string>
							<key>normalTexture</key>
							<string>map_ui_dailyreward_FRAME_OLREWARD_BUTTON_GET</string>
						</dict>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>Title</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>fontSize</key>
						<integer>24</integer>
						<key>name</key>
						<string>getText</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_dailyreward_FRAME_OLREWARD_TEXT_GET</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_dailyreward.bin</string>
								<key>iphone</key>
								<string>UI/ui_dailyreward.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_UNDERGROUND_GETREWARD</string>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>0</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>Title</string>
						<key>fontSize</key>
						<integer>32</integer>
						<key>name</key>
						<string>reward_text_tile</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_dailyreward_FRAME_OLREWARD_TEXT_TITLE</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_dailyreward.bin</string>
								<key>iphone</key>
								<string>UI/ui_dailyreward.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_ONLINE_AWARD_TITLE</string>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>0</integer>
							<key>green</key>
							<integer>127</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>Title</string>
						<key>fontSize</key>
						<integer>24</integer>
						<key>name</key>
						<string>reward1_text</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_dailyreward_FRAME_OLREWARD_TEXT_REWARDNUM</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_dailyreward.bin</string>
								<key>iphone</key>
								<string>UI/ui_dailyreward.bin</string>
							</dict>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_ONLINE_AWARD_1</string>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>Title</string>
						<key>fontSize</key>
						<integer>24</integer>
						<key>name</key>
						<string>reward_text_tile</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_dailyreward_FRAME_OLREWARD_TEXT_COUNTDOWN1</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_dailyreward.bin</string>
								<key>iphone</key>
								<string>UI/ui_dailyreward.bin</string>
							</dict>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_COUNTDOWN</string>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>0</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>0</integer>
						</dict>
						<key>content</key>
						<string>Title</string>
						<key>fontSize</key>
						<integer>24</integer>
						<key>name</key>
						<string>reward_num_countdown</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_dailyreward_FRAME_OLREWARD_NUM_COUNTDOWN1</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_dailyreward.bin</string>
								<key>iphone</key>
								<string>UI/ui_dailyreward.bin</string>
							</dict>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string>00:00</string>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>Title</string>
						<key>isVisible</key>
						<integer>0</integer>
						<key>fontSize</key>
						<integer>24</integer>
						<key>name</key>
						<string>rewardpreview_text</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_dailyreward_FRAME_OLREWARD_TEXT_REWARDPREVIEW</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_dailyreward.bin</string>
								<key>iphone</key>
								<string>UI/ui_dailyreward.bin</string>
							</dict>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_ONLINE_AWARD_NEXT</string>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>Title</string>
						<key>isVisible</key>
						<integer>0</integer>
						<key>fontSize</key>
						<integer>24</integer>
						<key>name</key>
						<string>reward_text_tile</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_dailyreward_FRAME_OLREWARD_TEXT_COUNTDOWN2</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_dailyreward.bin</string>
								<key>iphone</key>
								<string>UI/ui_dailyreward.bin</string>
							</dict>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_COUNTDOWN</string>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>Title</string>
						<key>isVisible</key>
						<integer>0</integer>
						<key>fontSize</key>
						<integer>24</integer>
						<key>name</key>
						<string>countdown2</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_dailyreward_FRAME_OLREWARD_NUM_COUNTDOWN2</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_dailyreward.bin</string>
								<key>iphone</key>
								<string>UI/ui_dailyreward.bin</string>
							</dict>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string>00:00:00</string>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					
					<dict>
						<key>clickedCallback</key>
						<string></string>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-132</integer>
						</dict>
						<key>isVisible</key>
						<integer>0</integer>
						<key>luaScript</key>
						<string></string>
						<key>name</key>
						<string>reward_btn1</string>
						<key>tag</key>
						<integer>3</integer>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_dailyreward.png</string>
									<key>1</key>
									<string>UI/ui.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_dailyreward.bin</string>
								<key>iphone</key>
								<string>UI/ui_dailyreward.bin</string>
							</dict>
							<key>clickedTexture</key>
							<string>map_ui_dailyreward_FRAME_OLREWARD_FRAME_REWARD1</string>
							<key>normalTexture</key>
							<string>map_ui_dailyreward_FRAME_OLREWARD_FRAME_REWARD1</string>
							<key>iconTexture</key>
							<string>map_ui_dailyreward_FRAME_OLREWARD_ICON_REWARD1</string>
						</dict>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>Title</string>
						<key>isVisible</key>
						<integer>0</integer>
						<key>fontSize</key>
						<integer>22</integer>
						<key>name</key>
						<string>reward_num1</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_dailyreward_FRAME_OLREWARD_NUM_REWARD1</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_dailyreward.bin</string>
								<key>iphone</key>
								<string>UI/ui_dailyreward.bin</string>
							</dict>
							<key>alignment</key>
							<integer>2</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string>8</string>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>

					<dict>
						<key>clickedCallback</key>
						<string></string>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-132</integer>
						</dict>
						<key>isVisible</key>
						<integer>0</integer>
						<key>luaScript</key>
						<string></string>
						<key>name</key>
						<string>reward_btn2</string>
						<key>tag</key>
						<integer>3</integer>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_dailyreward.png</string>
									<key>1</key>
									<string>UI/ui.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_dailyreward.bin</string>
								<key>iphone</key>
								<string>UI/ui_dailyreward.bin</string>
							</dict>
							<key>clickedTexture</key>
							<string>map_ui_dailyreward_FRAME_OLREWARD_FRAME_REWARD2</string>
							<key>normalTexture</key>
							<string>map_ui_dailyreward_FRAME_OLREWARD_FRAME_REWARD2</string>
							<key>iconTexture</key>
							<string>map_ui_dailyreward_FRAME_OLREWARD_ICON_REWARD2</string>
						</dict>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>Title</string>
						<key>isVisible</key>
						<integer>0</integer>
						<key>fontSize</key>
						<integer>22</integer>
						<key>name</key>
						<string>reward_num2</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_dailyreward_FRAME_OLREWARD_NUM_REWARD2</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_dailyreward.bin</string>
								<key>iphone</key>
								<string>UI/ui_dailyreward.bin</string>
							</dict>
							<key>alignment</key>
							<integer>2</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string>8</string>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>

										<dict>
						<key>clickedCallback</key>
						<string></string>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-132</integer>
						</dict>
						<key>isVisible</key>
						<integer>0</integer>
						<key>luaScript</key>
						<string></string>
						<key>name</key>
						<string>reward_btn3</string>
						<key>tag</key>
						<integer>3</integer>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_dailyreward.png</string>
									<key>1</key>
									<string>UI/ui.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_dailyreward.bin</string>
								<key>iphone</key>
								<string>UI/ui_dailyreward.bin</string>
							</dict>
							<key>clickedTexture</key>
							<string>map_ui_dailyreward_FRAME_OLREWARD_FRAME_REWARD3</string>
							<key>normalTexture</key>
							<string>map_ui_dailyreward_FRAME_OLREWARD_FRAME_REWARD3</string>
							<key>iconTexture</key>
							<string>map_ui_dailyreward_FRAME_OLREWARD_ICON_REWARD3</string>
						</dict>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>Title</string>
						<key>isVisible</key>
						<integer>0</integer>
						<key>fontSize</key>
						<integer>22</integer>
						<key>name</key>
						<string>reward_num3</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_dailyreward_FRAME_OLREWARD_NUM_REWARD3</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_dailyreward.bin</string>
								<key>iphone</key>
								<string>UI/ui_dailyreward.bin</string>
							</dict>
							<key>alignment</key>
							<integer>2</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string>8</string>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					
										<dict>
						<key>clickedCallback</key>
						<string></string>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-132</integer>
						</dict>
						<key>isVisible</key>
						<integer>0</integer>
						<key>luaScript</key>
						<string></string>
						<key>name</key>
						<string>reward_btn4</string>
						<key>tag</key>
						<integer>3</integer>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_dailyreward.png</string>
									<key>1</key>
									<string>UI/ui.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_dailyreward.bin</string>
								<key>iphone</key>
								<string>UI/ui_dailyreward.bin</string>
							</dict>
							<key>clickedTexture</key>
							<string>map_ui_dailyreward_FRAME_OLREWARD_FRAME_REWARD4</string>
							<key>normalTexture</key>
							<string>map_ui_dailyreward_FRAME_OLREWARD_FRAME_REWARD4</string>
							<key>iconTexture</key>
							<string>map_ui_dailyreward_FRAME_OLREWARD_ICON_REWARD4</string>
						</dict>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>Title</string>
						<key>isVisible</key>
						<integer>0</integer>
						<key>fontSize</key>
						<integer>22</integer>
						<key>name</key>
						<string>reward_num4</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_dailyreward_FRAME_OLREWARD_NUM_REWARD4</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_dailyreward.bin</string>
								<key>iphone</key>
								<string>UI/ui_dailyreward.bin</string>
							</dict>
							<key>alignment</key>
							<integer>2</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string>8</string>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>clickedCallback</key>
						<string></string>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-132</integer>
						</dict>
						<key>isVisible</key>
						<integer>0</integer>
						<key>luaScript</key>
						<string></string>
						<key>name</key>
						<string>reward_btn5</string>
						<key>tag</key>
						<integer>3</integer>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_dailyreward.png</string>
									<key>1</key>
									<string>UI/ui.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_dailyreward.bin</string>
								<key>iphone</key>
								<string>UI/ui_dailyreward.bin</string>
							</dict>
							<key>clickedTexture</key>
							<string>map_ui_dailyreward_FRAME_OLREWARD_FRAME_REWARD5</string>
							<key>normalTexture</key>
							<string>map_ui_dailyreward_FRAME_OLREWARD_FRAME_REWARD5</string>
							<key>iconTexture</key>
							<string>map_ui_dailyreward_FRAME_OLREWARD_ICON_REWARD5</string>
						</dict>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>Title</string>
						<key>isVisible</key>
						<integer>0</integer>
						<key>fontSize</key>
						<integer>22</integer>
						<key>name</key>
						<string>reward_num5</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_dailyreward_FRAME_OLREWARD_NUM_REWARD5</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_dailyreward.bin</string>
								<key>iphone</key>
								<string>UI/ui_dailyreward.bin</string>
							</dict>
							<key>alignment</key>
							<integer>2</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string>8</string>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>
										<dict>
						<key>clickedCallback</key>
						<string></string>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-132</integer>
						</dict>
						<key>isVisible</key>
						<integer>0</integer>
						<key>luaScript</key>
						<string></string>
						<key>name</key>
						<string>reward_btn6</string>
						<key>tag</key>
						<integer>3</integer>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_dailyreward.png</string>
									<key>1</key>
									<string>UI/ui.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_dailyreward.bin</string>
								<key>iphone</key>
								<string>UI/ui_dailyreward.bin</string>
							</dict>
							<key>clickedTexture</key>
							<string>map_ui_dailyreward_FRAME_OLREWARD_FRAME_REWARD6</string>
							<key>normalTexture</key>
							<string>map_ui_dailyreward_FRAME_OLREWARD_FRAME_REWARD6</string>
							<key>iconTexture</key>
							<string>map_ui_dailyreward_FRAME_OLREWARD_ICON_REWARD6</string>
						</dict>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>Title</string>
						<key>isVisible</key>
						<integer>0</integer>
						<key>fontSize</key>
						<integer>22</integer>
						<key>name</key>
						<string>reward_num6</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_dailyreward_FRAME_OLREWARD_NUM_REWARD6</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_dailyreward.bin</string>
								<key>iphone</key>
								<string>UI/ui_dailyreward.bin</string>
							</dict>
							<key>alignment</key>
							<integer>2</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string>8</string>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>clickedCallback</key>
						<string></string>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-132</integer>
						</dict>
						<key>isVisible</key>
						<integer>0</integer>
						<key>luaScript</key>
						<string></string>
						<key>name</key>
						<string>reward_btn7</string>
						<key>tag</key>
						<integer>3</integer>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_dailyreward.png</string>
									<key>1</key>
									<string>UI/ui.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_dailyreward.bin</string>
								<key>iphone</key>
								<string>UI/ui_dailyreward.bin</string>
							</dict>
							<key>clickedTexture</key>
							<string>map_ui_dailyreward_FRAME_OLREWARD_FRAME_REWARD7</string>
							<key>normalTexture</key>
							<string>map_ui_dailyreward_FRAME_OLREWARD_FRAME_REWARD7</string>
							<key>iconTexture</key>
							<string>map_ui_dailyreward_FRAME_OLREWARD_ICON_REWARD7</string>
						</dict>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>Title</string>
						<key>isVisible</key>
						<integer>0</integer>
						<key>fontSize</key>
						<integer>22</integer>
						<key>name</key>
						<string>reward_num7</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_dailyreward_FRAME_OLREWARD_NUM_REWARD7</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_dailyreward.bin</string>
								<key>iphone</key>
								<string>UI/ui_dailyreward.bin</string>
							</dict>
							<key>alignment</key>
							<integer>2</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string>8</string>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>clickedCallback</key>
						<string></string>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-132</integer>
						</dict>
						<key>isVisible</key>
						<integer>0</integer>
						<key>luaScript</key>
						<string></string>
						<key>name</key>
						<string>reward_btn8</string>
						<key>tag</key>
						<integer>3</integer>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_dailyreward.png</string>
									<key>1</key>
									<string>UI/ui.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_dailyreward.bin</string>
								<key>iphone</key>
								<string>UI/ui_dailyreward.bin</string>
							</dict>
							<key>clickedTexture</key>
							<string>map_ui_dailyreward_FRAME_OLREWARD_FRAME_REWARD8</string>
							<key>normalTexture</key>
							<string>map_ui_dailyreward_FRAME_OLREWARD_FRAME_REWARD8</string>
							<key>iconTexture</key>
							<string>map_ui_dailyreward_FRAME_OLREWARD_ICON_REWARD8</string>
						</dict>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>Title</string>
						<key>isVisible</key>
						<integer>0</integer>
						<key>fontSize</key>
						<integer>22</integer>
						<key>name</key>
						<string>reward_num8</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_dailyreward_FRAME_OLREWARD_NUM_REWARD8</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_dailyreward.bin</string>
								<key>iphone</key>
								<string>UI/ui_dailyreward.bin</string>
							</dict>
							<key>alignment</key>
							<integer>2</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string>8</string>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>
										<dict>
						<key>clickedCallback</key>
						<string></string>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-132</integer>
						</dict>
						<key>isVisible</key>
						<integer>0</integer>
						<key>luaScript</key>
						<string></string>
						<key>name</key>
						<string>reward_btn9</string>
						<key>tag</key>
						<integer>3</integer>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_dailyreward.png</string>
									<key>1</key>
									<string>UI/ui.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_dailyreward.bin</string>
								<key>iphone</key>
								<string>UI/ui_dailyreward.bin</string>
							</dict>
							<key>clickedTexture</key>
							<string>map_ui_dailyreward_FRAME_OLREWARD_FRAME_REWARD9</string>
							<key>normalTexture</key>
							<string>map_ui_dailyreward_FRAME_OLREWARD_FRAME_REWARD9</string>
							<key>iconTexture</key>
							<string>map_ui_dailyreward_FRAME_OLREWARD_ICON_REWARD9</string>
						</dict>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>Title</string>
						<key>isVisible</key>
						<integer>0</integer>
						<key>fontSize</key>
						<integer>22</integer>
						<key>name</key>
						<string>reward_num9</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_dailyreward_FRAME_OLREWARD_NUM_REWARD9</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_dailyreward.bin</string>
								<key>iphone</key>
								<string>UI/ui_dailyreward.bin</string>
							</dict>
							<key>alignment</key>
							<integer>2</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string>8</string>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>
										<dict>
						<key>clickedCallback</key>
						<string></string>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-132</integer>
						</dict>
						<key>isVisible</key>
						<integer>0</integer>
						<key>luaScript</key>
						<string></string>
						<key>name</key>
						<string>reward_btn10</string>
						<key>tag</key>
						<integer>3</integer>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_dailyreward.png</string>
									<key>1</key>
									<string>UI/ui.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_dailyreward.bin</string>
								<key>iphone</key>
								<string>UI/ui_dailyreward.bin</string>
							</dict>
							<key>clickedTexture</key>
							<string>map_ui_dailyreward_FRAME_OLREWARD_FRAME_REWARD10</string>
							<key>normalTexture</key>
							<string>map_ui_dailyreward_FRAME_OLREWARD_FRAME_REWARD10</string>
							<key>iconTexture</key>
							<string>map_ui_dailyreward_FRAME_OLREWARD_ICON_REWARD10</string>
						</dict>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>Title</string>
						<key>isVisible</key>
						<integer>0</integer>
						<key>fontSize</key>
						<integer>22</integer>
						<key>name</key>
						<string>reward_num10</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_dailyreward_FRAME_OLREWARD_NUM_REWARD10</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_dailyreward.bin</string>
								<key>iphone</key>
								<string>UI/ui_dailyreward.bin</string>
							</dict>
							<key>alignment</key>
							<integer>2</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string>8</string>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>
										<dict>
						<key>clickedCallback</key>
						<string></string>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-132</integer>
						</dict>
						<key>isVisible</key>
						<integer>0</integer>
						<key>luaScript</key>
						<string></string>
						<key>name</key>
						<string>reward_btn11</string>
						<key>tag</key>
						<integer>3</integer>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_dailyreward.png</string>
									<key>1</key>
									<string>UI/ui.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_dailyreward.bin</string>
								<key>iphone</key>
								<string>UI/ui_dailyreward.bin</string>
							</dict>
							<key>clickedTexture</key>
							<string>map_ui_dailyreward_FRAME_OLREWARD_FRAME_REWARD11</string>
							<key>normalTexture</key>
							<string>map_ui_dailyreward_FRAME_OLREWARD_FRAME_REWARD11</string>
							<key>iconTexture</key>
							<string>map_ui_dailyreward_FRAME_OLREWARD_ICON_REWARD11</string>
						</dict>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>Title</string>
						<key>isVisible</key>
						<integer>0</integer>
						<key>fontSize</key>
						<integer>22</integer>
						<key>name</key>
						<string>reward_num11</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_dailyreward_FRAME_OLREWARD_NUM_REWARD11</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_dailyreward.bin</string>
								<key>iphone</key>
								<string>UI/ui_dailyreward.bin</string>
							</dict>
							<key>alignment</key>
							<integer>2</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string>8</string>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>
				</array>
				<key>height</key>
				<integer>0</integer>
				<key>heightOffset</key>
				<integer>0</integer>
				<key>heightScale</key>
				<integer>5000</integer>
				<key>isVisible</key>
				<integer>1</integer>
				<key>luaScript</key>
				<string></string>
				<key>name</key>
				<string>instanceListContainer</string>
				<key>refMode</key>
				<integer>1</integer>
				<key>refObjName</key>
				<string></string>
				<key>refPointMode</key>
				<integer>5</integer>
				<key>tag</key>
				<integer>0</integer>
				<key>transform</key>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>0</integer>
				</dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>width</key>
				<integer>0</integer>
				<key>widthOffset</key>
				<integer>0</integer>
				<key>widthScale</key>
				<integer>5000</integer>
			</dict>
		</array>
		<key>color</key>
		<dict>
			<key>alpha</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
			<key>green</key>
			<integer>0</integer>
			<key>red</key>
			<integer>0</integer>
		</dict>
		<key>isVisible</key>
		<integer>1</integer>
		<key>luaScript</key>
		<string></string>
		<key>name</key>
		<string>OnlineRewardUI</string>
		<key>tag</key>
		<integer>0</integer>
		<key>transform</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>z</key>
			<integer>0</integer>
		</dict>
		<key>type</key>
		<string>UILayout</string>
	</dict>
</array>
</plist>

