<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>children</key>
		<array>
			<dict>
				<key>children</key>
				<array>
					<dict>
						<key>name</key>
						<string>instanceListBg</string>
						<key>resourceName</key>
						<string>map_ui_ppve_FRAME_CMS_BACKGROUND</string>
						<key>tag</key>
						<integer>1</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>-17</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>1</key>
								<string>UI/ui_ppve.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui_ppve.bin</string>
							<key>iphone</key>
							<string>UI/ui_ppve.bin</string>
						</dict>
					</dict>
					<dict>
						<key>clickedCallback</key>
						<string></string>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
						<key>isVisible</key>
						<integer>1</integer>
						<key>luaScript</key>
						<string></string>
						<key>name</key>
						<string>closeBtn</string>
						<key>tag</key>
						<integer>3</integer>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_ppve.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_ppve.bin</string>
								<key>iphone</key>
								<string>UI/ui_ppve.bin</string>
							</dict>
							<key>clickedTexture</key>
							<string>map_ui_ppve_FRAME_CMS_BUTTON_CLOSED_CLICKED</string>
							<key>normalTexture</key>
							<string>map_ui_ppve_FRAME_CMS_BUTTON_CLOSED</string>
						</dict>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>0</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>建立多人副本</string>
						<key>fontSize</key>
						<integer>22</integer>
						<key>name</key>
						<string>title</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_ppve_FRAME_CMS_TEXT_TITLE</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_ppve.bin</string>
								<key>iphone</key>
								<string>UI/ui_ppve.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>cellAsIndex</key>
						<string>map_ui_ppve_FRAME_CMS_BUTTON_INSTANCE</string>
						<key>cellSelectedAsIndex</key>
						<string>map_ui_ppve_FRAME_CMS_BUTTON_INSTANCE_CLICKED</string>
						<key>direction</key>
						<integer>0</integer>
						<key>frameRect</key>
						<dict>
							<key>rectAsIndex</key>
							<string>map_ui_ppve_FRAME_CMS_GRID_LISTCONTENT</string>
							<key>useAscontentRect</key>
							<integer>1</integer>
							<key>binFile</key>
							<string>UI/ui_ppve.bin</string>
						</dict>
						<key>indicatorOffsetX</key>
						<integer>0</integer>
						<key>indicatorOffsetY</key>
						<integer>-30</integer>
						<key>isVisible</key>
						<integer>1</integer>
						<key>itemClickedCallback</key>
						<string>onInstanceClicked</string>
						<key>itemType</key>
						<integer>1</integer>
						<key>luaScript</key>
						<string></string>
						<key>name</key>
						<string>instanceListScrollPage</string>
						<key>page</key>
						<dict>
							<key>cellOffsetX</key>
							<integer>100</integer>
							<key>cellOffsetY</key>
							<integer>100</integer>
							<key>column</key>
							<integer>4</integer>
							<key>count</key>
							<integer>0</integer>
							<key>row</key>
							<integer>2</integer>
						</dict>
						<key>tag</key>
						<integer>0</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIScrollPage</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>0</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>0</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_RINGANDNECKLACE</string>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>hintLabel</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_ppve_FRAME_CMS_TEXT_REWARDHINT</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_ppve.bin</string>
								<key>iphone</key>
								<string>UI/ui_ppve.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>
				</array>
				<key>height</key>
				<integer>0</integer>
				<key>heightOffset</key>
				<integer>0</integer>
				<key>heightScale</key>
				<integer>5000</integer>
				<key>isVisible</key>
				<integer>1</integer>
				<key>luaScript</key>
				<string></string>
				<key>name</key>
				<string>instanceListContainer</string>
				<key>refMode</key>
				<integer>1</integer>
				<key>refObjName</key>
				<string></string>
				<key>refPointMode</key>
				<integer>5</integer>
				<key>tag</key>
				<integer>0</integer>
				<key>transform</key>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>0</integer>
				</dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>width</key>
				<integer>0</integer>
				<key>widthOffset</key>
				<integer>0</integer>
				<key>widthScale</key>
				<integer>5000</integer>
			</dict>
		</array>
		<key>color</key>
		<dict>
			<key>alpha</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
			<key>green</key>
			<integer>0</integer>
			<key>red</key>
			<integer>0</integer>
		</dict>
		<key>isVisible</key>
		<integer>1</integer>
		<key>luaScript</key>
		<string></string>
		<key>name</key>
		<string>ppveMapListUI</string>
		<key>bModelLayer</key>
		<integer>1</integer>
		<key>tag</key>
		<integer>0</integer>
		<key>transform</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>z</key>
			<integer>0</integer>
		</dict>
		<key>type</key>
		<string>UILayout</string>
	</dict>
</array>
</plist>
