<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>bModelLayer</key>
		<integer>1</integer>
		<key>bModelPriorty</key>
		<integer>-131</integer>
		<key>children</key>
		<array>
			<dict>
				<key>children</key>
				<array>
					<dict>
						<key>type</key>
						<string>UIContainer</string>
						<key>tag</key>
						<integer>2</integer>
						<key>name</key>
						<string>pvaiLogContainer</string>
						<key>luaScript</key>
						<string></string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>refMode</key>
						<integer>0</integer>
						<key>refPointMode</key>
						<integer>0</integer>
						<key>widthScale</key>
						<integer>0</integer>
						<key>widthOffset</key>
						<integer>0</integer>
						<key>heightScale</key>
						<integer>0</integer>
						<key>heightOffset</key>
						<integer>0</integer>
						<key>width</key>
						<integer>0</integer>
						<key>height</key>
						<integer>0</integer>
						<key>refObjName</key>
						<string></string>
						<key>children</key>
						<array/>
					</dict>
					<dict>
						<key>name</key>
						<string>pvaiLayerBg</string>
						<key>resourceName</key>
						<string>map_ui2_FRAME_PVAI_BACKGROUND</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
						</dict>
					</dict>
					<dict>
						<key>name</key>
						<string>pvaiLayerBg2</string>
						<key>resourceName</key>
						<string>map_ui2_FRAME_PVAI_BACKGROUND2</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
						</dict>
					</dict>
					<dict>
						<key>name</key>
						<string>decoration</string>
						<key>resourceName</key>
						<string>map_ui2_FRAME_PVAI_BACKGROUND_DECORATION</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
						</dict>
					</dict>
					<dict>
						<key>name</key>
						<string>decoration1</string>
						<key>resourceName</key>
						<string>map_ui2_FRAME_PVAI_BACKGROUND_DECORATION1</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
						</dict>
					</dict>
					<dict>
						<key>name</key>
						<string>playerBg</string>
						<key>resourceName</key>
						<string>map_ui2_FRAME_PVAI_PLAYER_BACKGROUND</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
						</dict>
					</dict>
					<dict>
						<key>name</key>
						<string>iconCharacter</string>
						<key>resourceName</key>
						<string>map_ui2_FRAME_PVAI_ICON_CHARACTER</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
						</dict>
					</dict>
					<dict>
						<key>name</key>
						<string>iconRewardCoin1</string>
						<key>resourceName</key>
						<string>map_ui2_FRAME_PVAI_ICON_REWARD_COIN1</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
						</dict>
					</dict>
					<dict>
						<key>name</key>
						<string>iconRewardCoin2</string>
						<key>resourceName</key>
						<string>map_ui2_FRAME_PVAI_ICON_REWARD_COIN2</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
						</dict>
					</dict>
					<dict>
						<key>name</key>
						<string>iconRewardReputation1</string>
						<key>resourceName</key>
						<string>map_ui2_FRAME_PVAI_ICON_REWARD_REPUTATION1</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
						</dict>
					</dict>
					<dict>
						<key>name</key>
						<string>iconRewardReputation2</string>
						<key>resourceName</key>
						<string>map_ui2_FRAME_PVAI_ICON_REWARD_REPUTATION2</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
						</dict>
					</dict>
					<dict>
						<key>name</key>
						<string>closeBtn</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>texture</key>
						<dict>
							<key>clickedTexture</key>
							<string>map_ui2_FRAME_PVAI_BUTTON_CLOSE_CLICKED</string>
							<key>normalTexture</key>
							<string>map_ui2_FRAME_PVAI_BUTTON_CLOSE</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-133</integer>
						</dict>
					</dict>
					<dict>
						<key>name</key>
						<string>pvaiTitle</string>
						<key>type</key>
						<string>UILabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_PVAI_TEXT_TITLE</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
						</dict>
						<key>content</key>
						<string>竞技场</string>
						<key>fontSize</key>
						<integer>28</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>pvaiMcName</string>
						<key>type</key>
						<string>UILabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>118</integer>
							<key>blue</key>
							<integer>36</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_PVAI_TEXT_MCNAME</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
						</dict>
						<key>content</key>
						<string>Brandon</string>
						<key>fontSize</key>
						<integer>28</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>pvaiMcRank</string>
						<key>type</key>
						<string>UILabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_PVAI_TEXT_MCRANK</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
						</dict>
						<key>content</key>
						<string>排名： 1290</string>
						<key>fontSize</key>
						<integer>26</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>pvaiMcReputation</string>
						<key>type</key>
						<string>UILabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_PVAI_TEXT_MCREPUTATION</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
						</dict>
						<key>content</key>
						<string>声望： 3330</string>
						<key>fontSize</key>
						<integer>26</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>pvaiTodayLastTime</string>
						<key>type</key>
						<string>UILabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>0</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_PVAI_TEXT_TODAYLASTTIME</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
						</dict>
						<key>content</key>
						<string>今日挑战次数 20</string>
						<key>fontSize</key>
						<integer>26</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>pvaiCoolDownTime</string>
						<key>type</key>
						<string>UILabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>0</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_PVAI_TEXT_COOLDOWNTIME</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
						</dict>
						<key>content</key>
						<string>冷却时间  1:00:00</string>
						<key>fontSize</key>
						<integer>22</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>playerNameTitle</string>
						<key>type</key>
						<string>UILabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>162</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_PVAI_TEXT_PLAYERNAME</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
						</dict>
						<key>content</key>
						<string>角色名</string>
						<key>fontSize</key>
						<integer>22</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>playerRankTitle</string>
						<key>type</key>
						<string>UILabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>162</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_PVAI_TEXT_PLAYERRANK</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
						</dict>
						<key>content</key>
						<string>排名</string>
						<key>fontSize</key>
						<integer>22</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>pvaiNowRankTxt</string>
						<key>type</key>
						<string>UILabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>202</integer>
							<key>green</key>
							<integer>65</integer>
							<key>blue</key>
							<integer>17</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_PVAI_TEXT_RANKNOW</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_PVAI_RANKNOW</string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>pvaiOneRewardTxt</string>
						<key>type</key>
						<string>UILabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>202</integer>
							<key>green</key>
							<integer>65</integer>
							<key>blue</key>
							<integer>17</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_PVAI_TEXT_REWARDEACHHOUR</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_PVAI_REWARD_EACHHOUR</string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>pvaiTotalRewardTxt</string>
						<key>type</key>
						<string>UILabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>202</integer>
							<key>green</key>
							<integer>65</integer>
							<key>blue</key>
							<integer>17</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_PVAI_TEXT_REWARDINALL</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
						</dict>
						<key>content</key>
						<string>M_PVAI_REWARD_INALL</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>pvaiNowRankNum</string>
						<key>type</key>
						<string>UILabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>144</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_PVAI_NUMBER_RANKNOW</string>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
						</dict>
						<key>content</key>
						<string>100</string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>pvaiRewardCoin1</string>
						<key>type</key>
						<string>UILabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>144</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_PVAI_TEXT_REWARD_COIN1</string>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
						</dict>
						<key>content</key>
						<string>8888</string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>pvaiRewardCoin2</string>
						<key>type</key>
						<string>UILabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>144</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_PVAI_TEXT_REWARD_COIN2</string>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
						</dict>
						<key>content</key>
						<string>8888</string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>pvaiRewardReputation1</string>
						<key>type</key>
						<string>UILabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>144</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_PVAI_TEXT_REWARD_REPUTATION1</string>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
						</dict>
						<key>content</key>
						<string>2000</string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>pvaiRewardReputation2</string>
						<key>type</key>
						<string>UILabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>144</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_PVAI_TEXT_REWARD_REPUTATION2</string>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
						</dict>
						<key>content</key>
						<string>2000</string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>buyTimeBtn</string>
						<key>texture</key>
						<dict>
							<key>normalTexture</key>
							<string>map_ui2_FRAME_PVAI_BUTTON_BUYTIME</string>
							<key>clickedTexture</key>
							<string>map_ui2_FRAME_PVAI_BUTTON_BUYTIME_CLICKED</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-132</integer>
						</dict>
					</dict>
					<dict>
						<key>name</key>
						<string>buyTimeTxt</string>
						<key>type</key>
						<string>UILabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_PVAI_TEXT_BUYTIME</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
						</dict>
						<key>content</key>
						<string>购买次数</string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>repuShopBtn</string>
						<key>texture</key>
						<dict>
							<key>normalTexture</key>
							<string>map_ui2_FRAME_PVAI_BUTTON_EXCHANGE</string>
							<key>clickedTexture</key>
							<string>map_ui2_FRAME_PVAI_BUTTON_EXCHANGE_CLICKED</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-132</integer>
						</dict>
					</dict>
					<dict>
						<key>name</key>
						<string>repuShopTxt</string>
						<key>type</key>
						<string>UILabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_PVAI_TEXT_EXCHANGE</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
						</dict>
						<key>content</key>
						<string>M_REPUTATION_SHOP</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>pvaiChallenge1</string>
						<key>type</key>
						<string>UILabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_PVAI_TEXT_CHALLENGE1</string>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
						</dict>
						<key>content</key>
						<string>你挑战Player01</string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>pvaiChallenge2</string>
						<key>type</key>
						<string>UILabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_PVAI_TEXT_CHALLENGE2</string>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
						</dict>
						<key>content</key>
						<string>你挑战Player02</string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>pvaiChallenge3</string>
						<key>type</key>
						<string>UILabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_PVAI_TEXT_CHALLENGE3</string>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
						</dict>
						<key>content</key>
						<string>你挑战Player03</string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>pvaiChallenge4</string>
						<key>type</key>
						<string>UILabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_PVAI_TEXT_CHALLENGE4</string>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
						</dict>
						<key>content</key>
						<string>你挑战Player04</string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>pvaiChallengeResult1</string>
						<key>type</key>
						<string>UILabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_PVAI_TEXT_CHALLENGE1_RESULT</string>
							<key>alignment</key>
							<integer>2</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
						</dict>
						<key>content</key>
						<string>你胜利</string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>pvaiChallengeResult2</string>
						<key>type</key>
						<string>UILabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_PVAI_TEXT_CHALLENGE2_RESULT</string>
							<key>alignment</key>
							<integer>2</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
						</dict>
						<key>content</key>
						<string>你胜利</string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>pvaiChallengeResult3</string>
						<key>type</key>
						<string>UILabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_PVAI_TEXT_CHALLENGE3_RESULT</string>
							<key>alignment</key>
							<integer>2</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
						</dict>
						<key>content</key>
						<string>你胜利</string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>pvaiChallengeResult4</string>
						<key>type</key>
						<string>UILabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_PVAI_TEXT_CHALLENGE4_RESULT</string>
							<key>alignment</key>
							<integer>2</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
						</dict>
						<key>content</key>
						<string>你胜利</string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIScrollList</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>playerScrollList</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>viewWidth</key>
						<integer>1024</integer>
						<key>viewHeight</key>
						<integer>768</integer>
						<key>contentOffsetX</key>
						<integer>0</integer>
						<key>contentOffsetY</key>
						<integer>0</integer>
						<key>contentWidth</key>
						<integer>1024</integer>
						<key>contentHeight</key>
						<integer>768</integer>
						<key>direction</key>
						<integer>1</integer>
						<key>startX</key>
						<integer>0</integer>
						<key>startY</key>
						<integer>0</integer>
						<key>background</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>name</key>
							<string>map_ui2_FRAME_PVAI_AREA_PLAYER</string>
							<key>useASposition</key>
							<integer>1</integer>
						</dict>
						<key>children</key>
						<array/>
					</dict>
				</array>
				<key>height</key>
				<integer>0</integer>
				<key>heightOffset</key>
				<integer>0</integer>
				<key>heightScale</key>
				<integer>5000</integer>
				<key>isVisible</key>
				<integer>1</integer>
				<key>luaScript</key>
				<string></string>
				<key>name</key>
				<string>pvaiLayerContainer</string>
				<key>refMode</key>
				<integer>1</integer>
				<key>refObjName</key>
				<string></string>
				<key>refPointMode</key>
				<integer>5</integer>
				<key>tag</key>
				<integer>0</integer>
				<key>transform</key>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>0</integer>
				</dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>width</key>
				<integer>0</integer>
				<key>widthOffset</key>
				<integer>0</integer>
				<key>widthScale</key>
				<integer>5000</integer>
			</dict>
		</array>
		<key>color</key>
		<dict>
			<key>alpha</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
			<key>green</key>
			<integer>0</integer>
			<key>red</key>
			<integer>0</integer>
		</dict>
		<key>isVisible</key>
		<integer>1</integer>
		<key>luaScript</key>
		<string></string>
		<key>name</key>
		<string>PvAILayout</string>
		<key>tag</key>
		<integer>0</integer>
		<key>transform</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>z</key>
			<integer>0</integer>
		</dict>
		<key>type</key>
		<string>UILayout</string>
	</dict>
</array>
</plist>
