<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>children</key>
		<array>
			<dict>
				<key>children</key>
				<array>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>1</key>
								<string>UI/ui_ppve.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui_ppve.bin</string>
							<key>iphone</key>
							<string>UI/ui_ppve.bin</string>
						</dict>
						<key>name</key>
						<string>BackgroundPic</string>
						<key>resourceName</key>
						<string>map_ui_ppve_FRAME_PVP_OPTION_BACKGROUND</string>
						<key>tag</key>
						<integer>0</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>1</key>
								<string>UI/ui_ppve.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui_ppve.bin</string>
							<key>iphone</key>
							<string>UI/ui_ppve.bin</string>
						</dict>
						<key>name</key>
						<string>FrameNumber</string>
						<key>resourceName</key>
						<string>map_ui_ppve_FRAME_PVP_OPTION_FRAME_NUMBER</string>
						<key>tag</key>
						<integer>0</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>人数</string>
						<key>fontSize</key>
						<integer>30</integer>
						<key>name</key>
						<string>title</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_ppve_FRAME_PVP_OPTION_TEXT_NUMBER</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_ppve.bin</string>
								<key>iphone</key>
								<string>UI/ui_ppve.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButtonToggle</string>
						<key>tag</key>
						<integer>1</integer>
						<key>name</key>
						<string>1vs1_btn</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>clickedCallback</key>
						<string>PVPLayer::onSel_1vs1</string>
						<key>toggleButtons</key>
						<array>
							<dict>
								<key>AspriteManager</key>
								<dict>
									<key>images</key>
									<dict>
										<key>0</key>
										<string>UI/ui.png</string>
										<key>1</key>
										<string>UI/ui_ppve.png</string>
										<key>imagecount</key>
										<integer>2</integer>
									</dict>
									<key>ipad</key>
									<string>UI/ui_ppve.bin</string>
									<key>iphone</key>
									<string>UI/ui_ppve.bin</string>
								</dict>
								<key>normalTexture</key>
								<string>map_ui_ppve_FRAME_PVP_OPTION_BUTTON_1V1</string>
								<key>clickedTexture</key>
								<string>map_ui_ppve_FRAME_PVP_OPTION_BUTTON_1V1</string>
							</dict>
							<dict>
								<key>AspriteManager</key>
								<dict>
									<key>images</key>
									<dict>
										<key>0</key>
										<string>UI/ui.png</string>
										<key>1</key>
										<string>UI/ui_ppve.png</string>
										<key>imagecount</key>
										<integer>2</integer>
									</dict>
									<key>ipad</key>
									<string>UI/ui_ppve.bin</string>
									<key>iphone</key>
									<string>UI/ui_ppve.bin</string>
								</dict>
								<key>normalTexture</key>
								<string>map_ui_ppve_FRAME_PVP_OPTION_BUTTON_1V1_UNSELECT</string>
								<key>clickedTexture</key>
								<string>map_ui_ppve_FRAME_PVP_OPTION_BUTTON_1V1_UNSELECT</string>
							</dict>
						</array>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>1v1</string>
						<key>fontSize</key>
						<integer>30</integer>
						<key>name</key>
						<string>title</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_ppve_FRAME_PVP_OPTION_TEXT_1V1</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_ppve.bin</string>
								<key>iphone</key>
								<string>UI/ui_ppve.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButtonToggle</string>
						<key>tag</key>
						<integer>1</integer>
						<key>name</key>
						<string>2vs2_btn</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>clickedCallback</key>
						<string>PVPLayer::onSel_2vs2</string>
						<key>toggleButtons</key>
						<array>
							<dict>
								<key>AspriteManager</key>
								<dict>
									<key>images</key>
									<dict>
										<key>0</key>
										<string>UI/ui.png</string>
										<key>1</key>
										<string>UI/ui_ppve.png</string>
										<key>imagecount</key>
										<integer>2</integer>
									</dict>
									<key>ipad</key>
									<string>UI/ui_ppve.bin</string>
									<key>iphone</key>
									<string>UI/ui_ppve.bin</string>
								</dict>
								<key>normalTexture</key>
								<string>map_ui_ppve_FRAME_PVP_OPTION_BUTTON_2V2</string>
								<key>clickedTexture</key>
								<string>map_ui_ppve_FRAME_PVP_OPTION_BUTTON_2V2</string>
							</dict>
							<dict>
								<key>AspriteManager</key>
								<dict>
									<key>images</key>
									<dict>
										<key>0</key>
										<string>UI/ui.png</string>
										<key>1</key>
										<string>UI/ui_ppve.png</string>
										<key>imagecount</key>
										<integer>2</integer>
									</dict>
									<key>ipad</key>
									<string>UI/ui_ppve.bin</string>
									<key>iphone</key>
									<string>UI/ui_ppve.bin</string>
								</dict>
								<key>normalTexture</key>
								<string>map_ui_ppve_FRAME_PVP_OPTION_BUTTON_2V2_UNSELECT</string>
								<key>clickedTexture</key>
								<string>map_ui_ppve_FRAME_PVP_OPTION_BUTTON_2V2_UNSELECT</string>
							</dict>
						</array>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>2v2</string>
						<key>fontSize</key>
						<integer>30</integer>
						<key>name</key>
						<string>title</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_ppve_FRAME_PVP_OPTION_TEXT_2V2</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_ppve.bin</string>
								<key>iphone</key>
								<string>UI/ui_ppve.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>1</key>
								<string>UI/ui_ppve.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui_ppve.bin</string>
							<key>iphone</key>
							<string>UI/ui_ppve.bin</string>
						</dict>
						<key>name</key>
						<string></string>
						<key>resourceName</key>
						<string>map_ui_ppve_FRAME_PVP_OPTION_FRAME_LEVEL</string>
						<key>tag</key>
						<integer>0</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>模式</string>
						<key>fontSize</key>
						<integer>30</integer>
						<key>name</key>
						<string>title</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_ppve_FRAME_PVP_OPTION_TEXT_LEVEL</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_ppve.bin</string>
								<key>iphone</key>
								<string>UI/ui_ppve.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButtonToggle</string>
						<key>tag</key>
						<integer>1</integer>
						<key>name</key>
						<string>protect_btn</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>clickedCallback</key>
						<string>PVPLayer::onSel_protect</string>
						<key>toggleButtons</key>
						<array>
							<dict>
								<key>AspriteManager</key>
								<dict>
									<key>images</key>
									<dict>
										<key>0</key>
										<string>UI/ui.png</string>
										<key>1</key>
										<string>UI/ui_ppve.png</string>
										<key>imagecount</key>
										<integer>2</integer>
									</dict>
									<key>ipad</key>
									<string>UI/ui_ppve.bin</string>
									<key>iphone</key>
									<string>UI/ui_ppve.bin</string>
								</dict>
								<key>normalTexture</key>
								<string>map_ui_ppve_FRAME_PVP_OPTION_BUTTON_PROTECT</string>
								<key>clickedTexture</key>
								<string>map_ui_ppve_FRAME_PVP_OPTION_BUTTON_PROTECT</string>
							</dict>
							<dict>
								<key>AspriteManager</key>
								<dict>
									<key>images</key>
									<dict>
										<key>0</key>
										<string>UI/ui.png</string>
										<key>1</key>
										<string>UI/ui_ppve.png</string>
										<key>imagecount</key>
										<integer>2</integer>
									</dict>
									<key>ipad</key>
									<string>UI/ui_ppve.bin</string>
									<key>iphone</key>
									<string>UI/ui_ppve.bin</string>
								</dict>
								<key>normalTexture</key>
								<string>map_ui_ppve_FRAME_PVP_OPTION_BUTTON_PROTECT_UNSELECT</string>
								<key>clickedTexture</key>
								<string>map_ui_ppve_FRAME_PVP_OPTION_BUTTON_PROTECT_UNSELECT</string>
							</dict>
						</array>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>保护</string>
						<key>fontSize</key>
						<integer>30</integer>
						<key>name</key>
						<string>title</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_ppve_FRAME_PVP_OPTION_TEXT_PROTECT</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_ppve.bin</string>
								<key>iphone</key>
								<string>UI/ui_ppve.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButtonToggle</string>
						<key>tag</key>
						<integer>1</integer>
						<key>name</key>
						<string>free_btn</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>clickedCallback</key>
						<string>PVPLayer::onSel_free</string>
						<key>toggleButtons</key>
						<array>
							<dict>
								<key>AspriteManager</key>
								<dict>
									<key>images</key>
									<dict>
										<key>0</key>
										<string>UI/ui.png</string>
										<key>1</key>
										<string>UI/ui_ppve.png</string>
										<key>imagecount</key>
										<integer>2</integer>
									</dict>
									<key>ipad</key>
									<string>UI/ui_ppve.bin</string>
									<key>iphone</key>
									<string>UI/ui_ppve.bin</string>
								</dict>
								<key>normalTexture</key>
								<string>map_ui_ppve_FRAME_PVP_OPTION_BUTTON_FREE</string>
								<key>clickedTexture</key>
								<string>map_ui_ppve_FRAME_PVP_OPTION_BUTTON_FREE</string>
							</dict>
							<dict>
								<key>AspriteManager</key>
								<dict>
									<key>images</key>
									<dict>
										<key>0</key>
										<string>UI/ui.png</string>
										<key>1</key>
										<string>UI/ui_ppve.png</string>
										<key>imagecount</key>
										<integer>2</integer>
									</dict>
									<key>ipad</key>
									<string>UI/ui_ppve.bin</string>
									<key>iphone</key>
									<string>UI/ui_ppve.bin</string>
								</dict>
								<key>normalTexture</key>
								<string>map_ui_ppve_FRAME_PVP_OPTION_BUTTON_FREE_UNSELECT</string>
								<key>clickedTexture</key>
								<string>map_ui_ppve_FRAME_PVP_OPTION_BUTTON_FREE_UNSELECT</string>
							</dict>
						</array>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>自由</string>
						<key>fontSize</key>
						<integer>30</integer>
						<key>name</key>
						<string>title</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_ppve_FRAME_PVP_OPTION_TEXT_FREE</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_ppve.bin</string>
								<key>iphone</key>
								<string>UI/ui_ppve.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>clickedCallback</key>
						<string></string>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
						<key>isVisible</key>
						<integer>1</integer>
						<key>luaScript</key>
						<string></string>
						<key>name</key>
						<string>ok_btn</string>
						<key>tag</key>
						<integer>3</integer>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_ppve.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_ppve.bin</string>
								<key>iphone</key>
								<string>UI/ui_ppve.bin</string>
							</dict>
							<key>clickedTexture</key>
							<string>map_ui_ppve_FRAME_PVP_OPTION_BUTTON_CONFIRM</string>
							<key>normalTexture</key>
							<string>map_ui_ppve_FRAME_PVP_OPTION_BUTTON_CONFIRM</string>
						</dict>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>确定</string>
						<key>fontSize</key>
						<integer>30</integer>
						<key>name</key>
						<string>title</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_ppve_FRAME_PVP_OPTION_TEXT_CONFIRM</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_ppve.bin</string>
								<key>iphone</key>
								<string>UI/ui_ppve.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>clickedCallback</key>
						<string></string>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
						<key>isVisible</key>
						<integer>1</integer>
						<key>luaScript</key>
						<string></string>
						<key>name</key>
						<string>cancle_btn</string>
						<key>tag</key>
						<integer>3</integer>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_ppve.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_ppve.bin</string>
								<key>iphone</key>
								<string>UI/ui_ppve.bin</string>
							</dict>
							<key>clickedTexture</key>
							<string>map_ui_ppve_FRAME_PVP_OPTION_BUTTON_CANCEL</string>
							<key>normalTexture</key>
							<string>map_ui_ppve_FRAME_PVP_OPTION_BUTTON_CANCEL</string>
						</dict>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>取消</string>
						<key>fontSize</key>
						<integer>30</integer>
						<key>name</key>
						<string>title</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_ppve_FRAME_PVP_OPTION_TEXT_CANCEL</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_ppve.bin</string>
								<key>iphone</key>
								<string>UI/ui_ppve.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>
				</array>
				<key>height</key>
				<integer>0</integer>
				<key>heightOffset</key>
				<integer>0</integer>
				<key>heightScale</key>
				<integer>5000</integer>
				<key>isVisible</key>
				<integer>1</integer>
				<key>luaScript</key>
				<string></string>
				<key>name</key>
				<string>winContainer</string>
				<key>refMode</key>
				<integer>1</integer>
				<key>refObjName</key>
				<string></string>
				<key>refPointMode</key>
				<integer>5</integer>
				<key>tag</key>
				<integer>0</integer>
				<key>transform</key>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>0</integer>
				</dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>width</key>
				<integer>0</integer>
				<key>widthOffset</key>
				<integer>0</integer>
				<key>widthScale</key>
				<integer>5000</integer>
			</dict>
		</array>
		<key>color</key>
		<dict>
			<key>alpha</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
			<key>green</key>
			<integer>0</integer>
			<key>red</key>
			<integer>0</integer>
		</dict>
		<key>isVisible</key>
		<integer>1</integer>
		<key>luaScript</key>
		<string>Script/pvp_s1.lua</string>
		<key>name</key>
		<string>pvp_s1</string>
		<key>tag</key>
		<integer>0</integer>
		<key>bModelLayer</key>
		<integer>1</integer>
		<key>transform</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>z</key>
			<integer>0</integer>
		</dict>
		<key>type</key>
		<string>UILayout</string>
	</dict>
</array>
</plist>
