<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>UILayout</string>
		<key>tag</key>
		<integer>1</integer>
		<key>name</key>
		<string>SkillEquipPanel</string>
		<key>bModelLayer</key>
		<integer>1</integer>
		<key>luaScript</key>
		<string></string>
		<key>isVisible</key>
		<integer>1</integer>
		<key>children</key>
		<array>
			<dict>
				<key>children</key>
				<array>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>1</key>
								<string>UI/ui_ppve.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>1</integer>
						<key>name</key>
						<string>backGround</string>
						<key>resourceName</key>
						<string>map_ui2_FRAME_SKILLEQUIP_BACKGROUND</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>1</key>
								<string>UI/ui_ppve.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>1</integer>
						<key>name</key>
						<string>backGroundDec</string>
						<key>resourceName</key>
						<string>map_ui2_FRAME_SKILLEQUIP_BACKGROUND_DECORATION</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>1</key>
								<string>UI/ui_ppve.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>1</integer>
						<key>name</key>
						<string>backGround2</string>
						<key>resourceName</key>
						<string>map_ui2_FRAME_SKILLEQUIP_BACKGROUND2</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>1</key>
								<string>UI/ui_ppve.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>1</integer>
						<key>name</key>
						<string>backGroundDec1</string>
						<key>resourceName</key>
						<string>map_ui2_FRAME_SKILLEQUIP_BACKGROUND_DECORATION1</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>titleLabel</string>
						<key>luaScript</key>
						<string></string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_ppve.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_SKILLEQUIP_TEXT_TITLE</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string>技能</string>
						<key>fontSize</key>
						<integer>32</integer>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>1</key>
								<string>UI/ui_ppve.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>1</integer>
						<key>name</key>
						<string>equipFrameRect</string>
						<key>resourceName</key>
						<string>map_ui2_FRAME_SKILLEQUIP_BACKGROUND3</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>1</key>
								<string>UI/ui_ppve.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>1</integer>
						<key>name</key>
						<string>skillIconAttack</string>
						<key>resourceName</key>
						<string>map_ui2_FRAME_SKILLEQUIP_ICON_ATTACK</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>equipCommonLabel</string>
						<key>luaScript</key>
						<string></string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_ppve.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_SKILLEQUIP_TEXT_EQUIP</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string>装备</string>
						<key>fontSize</key>
						<integer>38</integer>
					</dict>					
					<dict>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
							<key>itemType</key>
							<integer>12</integer>
							<key>itemIndex</key>
							<integer>5</integer>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>1</integer>
						<key>name</key>
						<string>skillIconBtn_5</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>clickedCallback</key>
						<string></string>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_ppve.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>normalTexture</key>
							<string>map_ui2_FRAME_SKILLEQUIP_EQUIPICON_SKILL1</string>
							<key>clickedTexture</key>
							<string>map_ui2_FRAME_SKILLEQUIP_EQUIPICON_SKILL1</string>
							<key>iconOrder</key>
							<integer>0</integer>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
							<key>itemType</key>
							<integer>12</integer>
							<key>itemIndex</key>
							<integer>4</integer>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>2</integer>
						<key>name</key>
						<string>skillIconBtn_4</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>clickedCallback</key>
						<string></string>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_ppve.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>normalTexture</key>
							<string>map_ui2_FRAME_SKILLEQUIP_EQUIPICON_SKILL2</string>
							<key>clickedTexture</key>
							<string>map_ui2_FRAME_SKILLEQUIP_EQUIPICON_SKILL2</string>
							<key>iconOrder</key>
							<integer>0</integer>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
							<key>itemType</key>
							<integer>12</integer>
							<key>itemIndex</key>
							<integer>2</integer>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>3</integer>
						<key>name</key>
						<string>skillIconBtn_2</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>clickedCallback</key>
						<string></string>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_ppve.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>normalTexture</key>
							<string>map_ui2_FRAME_SKILLEQUIP_EQUIPICON_SKILL3</string>
							<key>clickedTexture</key>
							<string>map_ui2_FRAME_SKILLEQUIP_EQUIPICON_SKILL3</string>
							<key>iconOrder</key>
							<integer>0</integer>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
							<key>itemType</key>
							<integer>12</integer>
							<key>itemIndex</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>4</integer>
						<key>name</key>
						<string>skillIconBtn_1</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>clickedCallback</key>
						<string></string>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_ppve.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>normalTexture</key>
							<string>map_ui2_FRAME_SKILLEQUIP_EQUIPICON_SKILL4</string>
							<key>clickedTexture</key>
							<string>map_ui2_FRAME_SKILLEQUIP_EQUIPICON_SKILL4</string>
							<key>iconOrder</key>
							<integer>0</integer>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
							<key>itemType</key>
							<integer>12</integer>
							<key>itemIndex</key>
							<integer>3</integer>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>5</integer>
						<key>name</key>
						<string>skillIconBtn_3</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>clickedCallback</key>
						<string></string>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_ppve.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>normalTexture</key>
							<string>map_ui2_FRAME_SKILLEQUIP_EQUIPICON_SKILL5</string>
							<key>clickedTexture</key>
							<string>map_ui2_FRAME_SKILLEQUIP_EQUIPICON_SKILL5</string>
							<key>iconOrder</key>
							<integer>0</integer>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>children</key>
						<array>
							<dict>
								<key>AspriteManager</key>
								<dict>
									<key>images</key>
									<dict>
										<key>0</key>
										<string>UI/ui.png</string>
										<key>1</key>
										<string>UI/ui_ppve.png</string>
										<key>imagecount</key>
										<integer>2</integer>
									</dict>
									<key>ipad</key>
									<string>UI/ui2.bin</string>
									<key>iphone</key>
									<string>UI/ui2.bin</string>
								</dict>
								<key>type</key>
								<string>UIPicture</string>
								<key>tag</key>
								<integer>1</integer>
								<key>name</key>
								<string>expolitPic</string>
								<key>resourceName</key>
								<string>map_ui2_FRAME_SKILLLEARN_ICON_EXPLOIT_INALL</string>
								<key>useASposition</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>AspriteManager</key>
								<dict>
									<key>images</key>
									<dict>
										<key>0</key>
										<string>UI/ui.png</string>
										<key>1</key>
										<string>UI/ui_ppve.png</string>
										<key>imagecount</key>
										<integer>2</integer>
									</dict>
									<key>ipad</key>
									<string>UI/ui2.bin</string>
									<key>iphone</key>
									<string>UI/ui2.bin</string>
								</dict>
								<key>type</key>
								<string>UIPicture</string>
								<key>tag</key>
								<integer>1</integer>
								<key>name</key>
								<string>iconPic</string>
								<key>resourceName</key>
								<string>map_ui2_FRAME_SKILLLEARN_ICON_COIN_INALL</string>
								<key>useASposition</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>type</key>
								<string>UILabel</string>
								<key>tag</key>
								<integer>0</integer>
								<key>name</key>
								<string>MoneyLabel</string>
								<key>luaScript</key>
								<string></string>
								<key>color</key>
								<dict>
									<key>red</key>
									<integer>255</integer>
									<key>green</key>
									<integer>255</integer>
									<key>blue</key>
									<integer>255</integer>
								</dict>
								<key>rect</key>
								<dict>
									<key>AspriteManager</key>
									<dict>
										<key>ipad</key>
										<string>UI/ui2.bin</string>
										<key>iphone</key>
										<string>UI/ui2.bin</string>
									</dict>
									<key>useASRect</key>
									<integer>1</integer>
									<key>ASRectName</key>
									<string>map_ui2_FRAME_SKILLLEARN_NUMBER_COIN_INALL</string>
									<key>alignment</key>
									<integer>0</integer>
									<key>anchorPoint</key>
									<integer>1</integer>
								</dict>
								<key>bLocalizeString</key>
								<integer>0</integer>
								<key>content</key>
								<string>0</string>
								<key>fontSize</key>
								<integer>20</integer>
							</dict>
							<dict>
								<key>type</key>
								<string>UILabel</string>
								<key>tag</key>
								<integer>0</integer>
								<key>name</key>
								<string>ExpolitLabel</string>
								<key>luaScript</key>
								<string></string>
								<key>color</key>
								<dict>
									<key>red</key>
									<integer>255</integer>
									<key>green</key>
									<integer>255</integer>
									<key>blue</key>
									<integer>255</integer>
								</dict>
								<key>rect</key>
								<dict>
									<key>AspriteManager</key>
									<dict>
										<key>ipad</key>
										<string>UI/ui2.bin</string>
										<key>iphone</key>
										<string>UI/ui2.bin</string>
									</dict>
									<key>useASRect</key>
									<integer>1</integer>
									<key>ASRectName</key>
									<string>map_ui2_FRAME_SKILLLEARN_NUMBER_EXPLOIT_INALL</string>
									<key>alignment</key>
									<integer>0</integer>
									<key>anchorPoint</key>
									<integer>1</integer>
								</dict>
								<key>bLocalizeString</key>
								<integer>0</integer>
								<key>content</key>
								<string>0</string>
								<key>fontSize</key>
								<integer>20</integer>
							</dict>
						</array>
						<key>refMode</key>
						<integer>1</integer>
						<key>refObjName</key>
						<string></string>
						<key>refPointMode</key>
						<integer>5</integer>
						<key>tag</key>
						<integer>1</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIContainer</string>
						<key>name</key>
						<string>commonPanelContainer</string>
						<key>width</key>
						<integer>0</integer>
						<key>widthOffset</key>
						<integer>0</integer>
						<key>heightOffset</key>
						<integer>0</integer>
						<key>widthScale</key>
						<integer>5000</integer>
						<key>heightScale</key>
						<integer>0</integer>
					</dict>
					<dict>
						<key>cellAsIndex</key>
						<string>map_ui2_FRAME_SKILLEQUIP_FRAME_SKILL1</string>
						<key>cellSelectedAsIndex</key>
						<string>map_ui2_FRAME_SKILLEQUIP_FRAME_SKILL1</string>
						<key>binFile</key>
						<string>UI/ui2.bin</string>
						<key>direction</key>
						<integer>0</integer>
						<key>frameRect</key>
						<dict>
							<key>binFile</key>
							<string>UI/ui2.bin</string>
							<key>rectAsIndex</key>
							<string>map_ui2_FRAME_SKILLEQUIP_LISTAREA</string>
							<key>useAscontentRect</key>
							<integer>1</integer>
						</dict>
						<key>indicatorOffsetX</key>
						<integer>10</integer>
						<key>indicatorOffsetY</key>
						<integer>-10</integer>
						<key>isVisible</key>
						<integer>1</integer>
						<key>itemClickedCallback</key>
						<string>onOneSkillItemClicked</string>
						<key>itemType</key>
						<integer>1</integer>
						<key>name</key>
						<string>skillItemsScrollPage</string>
						<key>page</key>
						<dict>
							<key>cellOffsetX</key>
							<integer>0</integer>
							<key>cellOffsetY</key>
							<integer>0</integer>
							<key>column</key>
							<integer>2</integer>
							<key>count</key>
							<integer>0</integer>
							<key>row</key>
							<integer>3</integer>
						</dict>
						<key>type</key>
						<string>UIScrollPage</string>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>name</key>
						<string>skillExplainText</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>184</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_ppve.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_SKILLEQUIP_EXPLANATION_NAME</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>SKILLEQUIP_EXPLANATION</string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>name</key>
						<string>skillExplainContent</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_ppve.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_SKILLEQUIP_EXPLANATION_TEXT</string>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>content</key>
						<string>详情</string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>3</integer>
						<key>name</key>
						<string>closeBtn</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>clickedCallback</key>
						<string></string>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_ppve.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>normalTexture</key>
							<string>map_ui2_FRAME_SKILLEQUIP_BUTTON_CLOSE</string>
							<key>clickedTexture</key>
							<string>map_ui2_FRAME_SKILLEQUIP_BUTTON_CLOSE_CLICKED</string>
							<key>iconOrder</key>
							<integer>0</integer>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
				</array>
				<key>refMode</key>
				<integer>1</integer>
				<key>refObjName</key>
				<string></string>
				<key>refPointMode</key>
				<integer>5</integer>
				<key>tag</key>
				<integer>1</integer>
				<key>transform</key>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>0</integer>
				</dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>name</key>
				<string>SkillEquipContainer</string>
				<key>width</key>
				<integer>0</integer>
				<key>widthOffset</key>
				<integer>0</integer>
				<key>heightOffset</key>
				<integer>0</integer>
				<key>widthScale</key>
				<integer>5000</integer>
				<key>heightScale</key>
				<integer>5000</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
