<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>UILayout</string>
		<key>tag</key>
		<integer>0</integer>
		<key>name</key>
		<string>SplashLayout</string>
		<key>bModelLayer</key>
		<integer>1</integer>
		<key>luaScript</key>              
		<string></string>
		<key>isVisible</key>              
		<integer>1</integer>
		<key>transform</key>             
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>z</key>
			<integer>10</integer>
		</dict>
		<key>color</key>                 
		<dict>
			<key>red</key>
			<integer>0</integer>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
			<key>alpha</key>
			<integer>0</integer>
		</dict>
		<key>children</key> 
		<array>
 			<dict>
			  <key>type</key>
			  <string>UIContainer</string>
			  <key>tag</key>
			  <integer>0</integer>
			  <key>name</key>
			  <string>splashContainer</string>
			  <key>luaScript</key>              
 			  <string></string>
			  <key>isVisible</key>              
			  <integer>1</integer>
			  <key>transform</key>              
			  <dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>z</key>
				<integer>0</integer>
			  </dict>
			  <key>refMode</key>                
			  <integer>1</integer>
			  <key>refPointMode</key>           
			  <integer>5</integer>
			  <key>widthScale</key>             
			  <integer>5000</integer>
			  <key>widthOffset</key>            
			  <integer>0</integer>
			  <key>heightScale</key>            
			  <integer>5000</integer>
			  <key>heightOffset</key>          
			  <integer>0</integer>
			  <key>width</key>                  
			  <integer>0</integer>
			  <key>height</key>                 
			  <integer>0</integer>
			  <key>refObjName</key>             
			  <string></string>
			  <key>children</key>               
			  <array> 
				<dict>
					<key>type</key>
					<string>UIPicture</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>splashTitlePic</string>
					<key>resourceName</key>
					<string>map_ui_login_FRAME_SPLASH_TITLE</string>
					<key>useASposition</key>
					<integer>1</integer>
					<key>AspriteManager</key>
				    <dict>
					  <key>ipad</key>
					  <string>UI/ui_login.bin</string>
					  <key>iphone</key>
					  <string>UI/ui_login.bin</string>
				    </dict>
				</dict>
				<dict>
					<key>type</key>
					<string>UIPicture</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>splashButtonBg</string>
					<key>resourceName</key>
					<string>map_ui_login_FRAME_SPLASH_BUTTON_DECORATION</string>
					<key>useASposition</key>
					<integer>1</integer>
					<key>AspriteManager</key>
				    <dict>
					  <key>ipad</key>
					  <string>UI/ui_login.bin</string>
					  <key>iphone</key>
					  <string>UI/ui_login.bin</string>
				    </dict>
				</dict>
				<dict>
					<key>type</key>
					<string>UIButton</string>
					<key>tag</key>
					<integer>3</integer>
					<key>name</key>
					<string>splashEnterGame</string>
					<key>isVisible</key>            
					<integer>1</integer>
					<key>clickedCallback</key>        
					<string>FrontCoverLayer::menuLoginGameCallback</string>
					<key>texture</key>               
					<dict>
						<key>normalTexture</key>      
						<string>map_ui_FRAME_SPLASH_BUTTON_ENTERGAME</string>
						<key>clickedTexture</key>
						<string>map_ui_FRAME_SPLASH_BUTTON_ENTERGAME_CLICKED</string>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui.bin</string>
							<key>iphone</key>
							<string>UI/ui.bin</string>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>1</key>
								<string>UI/ui_Alchemy.png</string>
								<key>2</key>
								<string>UI/ui2.png</string>
								<key>imagecount</key>
								<integer>3</integer>
							</dict>
						</dict>
					</dict>
					<key>lable</key>
						<dict>
							<key>color</key>
							<dict>
								<key>red</key>
								<integer>255</integer>
								<key>green</key>
								<integer>255</integer>
								<key>blue</key>
								<integer>255</integer>
							</dict>
							<key>bLocalizeString</key>
							<integer>0</integer>
							<key>content</key>
							<string>进入游戏</string>
							<key>fontSize</key>
							<integer>44</integer>
						</dict>
					<key>useASposition</key>         
					<integer>1</integer>
					<key>drag</key>
					  <dict>
						<key>priority</key>
						<integer>-130</integer>
					  </dict>
				</dict>
				<dict>
					<key>type</key>
					<string>UIButton</string>
					<key>tag</key>
					<integer>3</integer>
					<key>name</key>
					<string>splashMoreSever</string>
					<key>isVisible</key>            
					<integer>1</integer>
					<key>clickedCallback</key>        
					<string>FrontCoverLayer::onClickedMoreSever</string>
					<key>texture</key>               
					<dict>
						<key>normalTexture</key>      
						<string>map_ui_FRAME_SPLASH_BUTTON_MORE</string>
						<key>clickedTexture</key>
						<string>map_ui_FRAME_SPLASH_BUTTON_MORE_CLICKED</string>
					</dict>
					<key>lable</key>
						<dict>
							<key>color</key>
							<dict>
								<key>red</key>
								<integer>255</integer>
								<key>green</key>
								<integer>255</integer>
								<key>blue</key>
								<integer>255</integer>
							</dict>
							<key>bLocalizeString</key>
							<integer>0</integer>
							<key>content</key>
							<string>更多服务器</string>
							<key>fontSize</key>
							<integer>24</integer>
						</dict>
					<key>useASposition</key>         
					<integer>1</integer>
					<key>drag</key>
					  <dict>
						<key>priority</key>
						<integer>-130</integer>
					  </dict>
				</dict>
				<dict>
					<key>type</key>
					<string>UIButton</string>
					<key>tag</key>
					<integer>3</integer>
					<key>name</key>
					<string>splashMoreRole</string>
					<key>isVisible</key>            
					<integer>1</integer>
					<key>clickedCallback</key>        
					<string>FrontCoverLayer::onClickedMoreRole</string>
					<key>texture</key>               
					<dict>
						<key>normalTexture</key>      
						<string>map_ui_FRAME_SPLASH_BUTTON_MOREROLE</string>
						<key>clickedTexture</key>
						<string>map_ui_FRAME_SPLASH_BUTTON_MOREROLE_CLICKED</string>
					</dict>
					<key>lable</key>
						<dict>
							<key>color</key>
							<dict>
								<key>red</key>
								<integer>255</integer>
								<key>green</key>
								<integer>255</integer>
								<key>blue</key>
								<integer>255</integer>
							</dict>
							<key>bLocalizeString</key>
							<integer>0</integer>
							<key>content</key>
							<string>角色选择</string>
							<key>fontSize</key>
							<integer>24</integer>
						</dict>
					<key>useASposition</key>         
					<integer>1</integer>
					<key>drag</key>
					  <dict>
						<key>priority</key>
						<integer>-130</integer>
					  </dict>
				</dict>				
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>latestLoginLabel</string>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_SPLASH_TEXT_LATESTSERVE</string>
						<key>alignment</key>
						<integer>1</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string>当前登录</string>
					<key>fontSize</key>
					<integer>24</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>serverLabel</string>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_SPLASH_TEXT_LATESTSERVE2</string>
						<key>alignment</key>
						<integer>0</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string>无</string>
					<key>fontSize</key>
					<integer>24</integer>
				</dict>
			  </array>
			</dict>	 
			<dict>
			  <key>type</key>
			  <string>UIContainer</string>
			  <key>tag</key>
			  <integer>0</integer>
			  <key>name</key>
			  <string>selectServeContainer</string>
			  <key>luaScript</key>              
 			  <string></string>
			  <key>isVisible</key>              
			  <integer>0</integer>
			  <key>transform</key>              
			  <dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>z</key>
				<integer>0</integer>
			  </dict>
			  <key>refMode</key>                
			  <integer>1</integer>
			  <key>refPointMode</key>           
			  <integer>5</integer>
			  <key>widthScale</key>             
			  <integer>5000</integer>
			  <key>widthOffset</key>            
			  <integer>0</integer>
			  <key>heightScale</key>            
			  <integer>5000</integer>
			  <key>heightOffset</key>          
			  <integer>0</integer>
			  <key>width</key>                  
			  <integer>0</integer>
			  <key>height</key>                 
			  <integer>0</integer>
			  <key>refObjName</key>             
			  <string></string>
			  <key>children</key>               
			  <array> 
				<dict>
					<key>type</key>
					<string>UIPicture</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>selectSeverBg1</string>
					<key>resourceName</key>
					<string>map_ui_FRAME_SELECTSERVE_BACKGROUND1</string>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UIPicture</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>selectSeverBg2</string>
					<key>resourceName</key>
					<string>map_ui_FRAME_SELECTSERVE_BACKGROUND2</string>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UIPicture</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>selectSeverDecoration</string>
					<key>resourceName</key>
					<string>map_ui_FRAME_SELECTSERVE_BACKGROUND_DECORATION</string>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UIPicture</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>selectSeverBgSelect</string>
					<key>resourceName</key>
					<string>map_ui_FRAME_SELECTSERVE_BACKGROUND_SELECT</string>
					<key>useASposition</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>UIScrollPage</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>severScrollPage</string>
					<key>luaScript</key>
					<string></string>
					<key>isVisible</key>
					<integer>1</integer>
					<key>itemClickedCallback</key>
					<string></string>
					<key>contentWidth</key>
					<integer>1024</integer>
					<key>contentHeight</key>
					<integer>768</integer>
					<key>direction</key>
					<integer>1</integer>
					<key>indicatorOffsetX</key>
					<integer>0</integer>
					<key>indicatorOffsetY</key>
					<integer>0</integer>
					<key>page</key>
					<dict>
						<key>cellOffsetX</key>
						<integer>30</integer>
						<key>cellOffsetY</key>
						<integer>30</integer>
						<key>column</key>
						<integer>3</integer>
						<key>count</key>
						<integer>0</integer>
						<key>row</key>
						<integer>3</integer>
					</dict>
					<key>frameRect</key>
					<dict>
						<key>useAscontentRect</key>
						<integer>1</integer>
						<key>rectAsIndex</key>
						<string>map_ui_FRAME_SELECTSERVE_FRAME_LISTAREA</string>
					</dict>
				</dict>
				<dict>
					<key>type</key>
					<string>UIButton</string>
					<key>tag</key>
					<integer>3</integer>
					<key>name</key>
					<string>latestSeverBt</string>
					<key>isVisible</key>            
					<integer>1</integer>
					<key>clickedCallback</key>        
					<string>FrontCoverLayer::onClickedLatestSever</string>
					<key>texture</key>               
					<dict>
						<key>normalTexture</key>      
						<string>map_ui_FRAME_SELECTSERVE_BUTTON_LATEST</string>
						<key>clickedTexture</key>
						<string>map_ui_FRAME_SELECTSERVE_BUTTON_LATEST_CLICKED</string>
						<key>disableTexture</key>
						<string>map_ui_FRAME_SELECTSERVE_BUTTON_LATEST</string>
						<key>isGray</key>            
						<integer>1</integer>
					</dict>
					<key>lable</key>
						<dict>
							<key>color</key>
							<dict>
								<key>red</key>
								<integer>255</integer>
								<key>green</key>
								<integer>255</integer>
								<key>blue</key>
								<integer>255</integer>
							</dict>
							<key>bLocalizeString</key>
							<integer>0</integer>
							<key>content</key>
							<string>无</string>
							<key>fontSize</key>
							<integer>44</integer>
						</dict>
					<key>useASposition</key>         
					<integer>1</integer>
					<key>drag</key>
					  <dict>
						<key>priority</key>
						<integer>-130</integer>
					  </dict>
				</dict>
				<dict>
					<key>type</key>
					<string>UIButton</string>
					<key>tag</key>
					<integer>3</integer>
					<key>name</key>
					<string>recommondSeverBt</string>
					<key>isVisible</key>            
					<integer>1</integer>
					<key>clickedCallback</key>        
					<string>FrontCoverLayer::onClickedRecommendServer</string>
					<key>texture</key>               
					<dict>
						<key>normalTexture</key>      
						<string>map_ui_FRAME_SELECTSERVE_BUTTON_COMMEND</string>
						<key>clickedTexture</key>
						<string>map_ui_FRAME_SELECTSERVE_BUTTON_COMMEND_CLICKED</string>
						<key>disableTexture</key>
						<string>map_ui_FRAME_SELECTSERVE_BUTTON_COMMEND</string>
						<key>isGray</key>            
						<integer>1</integer>
					</dict>
					<key>lable</key>
						<dict>
							<key>color</key>
							<dict>
								<key>red</key>
								<integer>255</integer>
								<key>green</key>
								<integer>255</integer>
								<key>blue</key>
								<integer>255</integer>
							</dict>
							<key>bLocalizeString</key>
							<integer>0</integer>
							<key>content</key>
							<string>无</string>
							<key>fontSize</key>
							<integer>44</integer>
						</dict>
					<key>useASposition</key>         
					<integer>1</integer>
					<key>drag</key>
					  <dict>
						<key>priority</key>
						<integer>-130</integer>
					  </dict>
				</dict>
				<dict>
					<key>type</key>
					<string>UIButton</string>
					<key>tag</key>
					<integer>3</integer>
					<key>name</key>
					<string>closeBt</string>
					<key>isVisible</key>            
					<integer>1</integer>
					<key>clickedCallback</key>        
					<string>FrontCoverLayer::onCLickedSeverCloseBt</string>
					<key>texture</key>               
					<dict>
						<key>normalTexture</key>      
						<string>map_ui_FRAME_SELECTSERVE_BUTTON_CLOSE</string>
						<key>clickedTexture</key>
						<string>map_ui_FRAME_SELECTSERVE_BUTTON_CLOSE_CLICKED</string>
					</dict>
					<key>useASposition</key>         
					<integer>1</integer>
					<key>drag</key>
					  <dict>
						<key>priority</key>
						<integer>-130</integer>
					  </dict>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>titleLabel</string>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_SELECTSERVE_TEXT_TITLE</string>
						<key>alignment</key>
						<integer>1</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>content</key>
					<string>选择服务器</string>
					<key>fontSize</key>
					<integer>26</integer>
					<key>color</key>
						<dict>
							<key>blue</key>
							<integer>4</integer>
							<key>green</key>
							<integer>163</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>LatestLoginLabel</string>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_SELECTSERVE_TEXT_LATEST</string>
						<key>alignment</key>
						<integer>1</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>bLocalizeString</key>
					<integer>1</integer>
					<key>content</key>
					<string>M_SERVER_RECENT</string>
					<key>fontSize</key>
					<integer>20</integer>
					<key>color</key>
						<dict>
							<key>blue</key>
							<integer>118</integer>
							<key>green</key>
							<integer>195</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
				</dict>
				<dict>
					<key>type</key>
					<string>UILabel</string>
					<key>tag</key>
					<integer>0</integer>
					<key>name</key>
					<string>LatestCommendLabel</string>
					<key>rect</key>
					<dict>
						<key>useASRect</key>
						<integer>1</integer>
						<key>ASRectName</key>
						<string>map_ui_FRAME_SELECTSERVE_TEXT_COMMEND</string>
						<key>alignment</key>
						<integer>1</integer>
						<key>anchorPoint</key>
						<integer>1</integer>
					</dict>
					<key>bLocalizeString</key>
					<integer>1</integer>
					<key>content</key>
					<string>M_SERVER_RECOMMEND</string>
					<key>fontSize</key>
					<integer>20</integer>
					<key>color</key>
						<dict>
							<key>blue</key>
							<integer>118</integer>
							<key>green</key>
							<integer>195</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
				</dict>
			  </array>
			</dict>	 
			<dict>
			  <key>type</key>
			  <string>UIContainer</string>
			  <key>tag</key>
			  <integer>0</integer>
			  <key>name</key>
			  <string>loginContainer</string>
			  <key>luaScript</key>              
 			  <string></string>
			  <key>isVisible</key>              
			  <integer>1</integer>
			  <key>transform</key>              
			  <dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>z</key>
				<integer>0</integer>
			  </dict>
			  <key>refMode</key>                
			  <integer>1</integer>
			  <key>refPointMode</key>           
			  <integer>1</integer>
			  <key>widthScale</key>             
			  <integer>0</integer>
			  <key>widthOffset</key>            
			  <integer>0</integer>
			  <key>heightScale</key>            
			  <integer>0</integer>
			  <key>heightOffset</key>          
			  <integer>0</integer>
			  <key>width</key>                  
			  <integer>0</integer>
			  <key>height</key>                 
			  <integer>0</integer>
			  <key>refObjName</key>             
			  <string></string>
			  <key>children</key>               
			  <array>
				<dict>
					<key>type</key>
					<string>UIButton</string>
					<key>tag</key>
					<integer>3</integer>
					<key>name</key>
					<string>returnBt</string>
					<key>isVisible</key>            
					<integer>1</integer>
					<key>clickedCallback</key>        
					<string>FrontCoverLayer::onClickedReturnToLogin</string>
					<key>texture</key>               
					<dict>
						<key>normalTexture</key>      
						<string>map_ui_login_FRAME_BUTTON_BACK</string>
						<key>clickedTexture</key>
						<string>map_ui_login_FRAME_BUTTON_BACK</string>
						<key>AspriteManager</key>
						<dict>
							<key>ipad</key>
							<string>UI/ui_login.bin</string>
							<key>iphone</key>
							<string>UI/ui_login.bin</string>
						</dict>
					</dict>
					<key>useASposition</key>         
					<integer>1</integer>
					<key>drag</key>
					  <dict>
						<key>priority</key>
						<integer>-130</integer>
					  </dict>
				</dict>
			  </array>
			</dict>	 
			<dict>
			  <key>type</key>
			  <string>UIContainer</string>
			  <key>tag</key>
			  <integer>0</integer>
			  <key>name</key>
			  <string>noticeContainer</string>
			  <key>luaScript</key>              
 			  <string></string>
			  <key>isVisible</key>              
			  <integer>1</integer>
			  <key>transform</key>              
			  <dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>z</key>
				<integer>0</integer>
			  </dict>
			  <key>refMode</key>                
			  <integer>1</integer>
			  <key>refPointMode</key>           
			  <integer>5</integer>
			  <key>widthScale</key>             
			  <integer>5000</integer>
			  <key>widthOffset</key>            
			  <integer>0</integer>
			  <key>heightScale</key>            
			  <integer>0</integer>
			  <key>heightOffset</key>          
			  <integer>0</integer>
			  <key>width</key>                  
			  <integer>0</integer>
			  <key>height</key>                 
			  <integer>0</integer>
			  <key>refObjName</key>             
			  <string></string>
			  <key>children</key>               
			  <array>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>3</integer>
						<key>name</key>
						<string>noticeBt</string>
						<key>isVisible</key>            
						<integer>1</integer>
						<key>clickedCallback</key>        
						<string>FrontCoverLayer::onClickedNoticeBt</string>
						<key>texture</key>               
						<dict>
							<key>normalTexture</key>      
							<string>map_ui_login_FRAME_BUTTON_NOTICE</string>
							<key>clickedTexture</key>
							<string>map_ui_login_FRAME_BUTTON_NOTICE</string>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_login.bin</string>
								<key>iphone</key>
								<string>UI/ui_login.bin</string>
							</dict>
						</dict>
						<key>useASposition</key>         
						<integer>1</integer>
						<key>drag</key>
						  <dict>
							<key>priority</key>
							<integer>-130</integer>
						  </dict>
					</dict>
			   </array>
			</dict>
		</array>
	</dict>
</array>
</plist>