<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>UILayout</string>
		<key>tag</key>
		<integer>1</integer>
		<key>name</key>
		<string>SpriteElfPanel</string>
		<key>bModelLayer</key>
		<integer>1</integer>
		<key>luaScript</key>
		<string></string>
		<key>isVisible</key>
		<integer>1</integer>
		<key>children</key>
		<array>
			<dict>
				<key>children</key>
				<array>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>1</integer>
						<key>name</key>
						<string>bgElfPic</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_FAIRY_BACKGROUND</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>1</integer>
						<key>name</key>
						<string>bgDecoration</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_FAIRY_BACKGROUND_DECORATION</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>1</integer>
						<key>name</key>
						<string>bgElfList</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_FAIRY_LIST_BACKGROUND</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>1</integer>
						<key>name</key>
						<string>bgDecoration1</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_FAIRY_BACKGROUND_DECORATION1</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>1</integer>
						<key>name</key>
						<string>frameDecoration</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_FAIRY_FRAME_DECORATION</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>10</integer>
						</dict>					
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>1</integer>
						<key>name</key>
						<string>frameShowFairy</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_FAIRY_FRAME_DECORATION</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>1</integer>
						<key>name</key>
						<string>frameFairySkill</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_FAIRY_FRAME_FAIRYSKILL</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>1</integer>
						<key>name</key>
						<string>iconFairySkill</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_FAIRY_ICON_FAIRYSKILL</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>26</integer>
							<key>green</key>
							<integer>166</integer>
							<key>red</key>
							<integer>238</integer>
						</dict>
						<key>content</key>
						<string>技能名称</string>
						<key>fontSize</key>
						<integer>18</integer>
						<key>name</key>
						<string>skill_name_text</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_TEXT_FAIRYSKILLNAME</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>0</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>0</integer>
						</dict>
						<key>content</key>
						<string>技能描述</string>
						<key>fontSize</key>
						<integer>14</integer>
						<key>name</key>
						<string>skill_description_text</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_TEXT_FAIRYSKILLDESCRIPTION</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>0</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>精灵</string>
						<key>fontSize</key>
						<integer>32</integer>
						<key>name</key>
						<string>panel_text</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_TEXT_TITLE</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>4</integer>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>3</integer>
						<key>name</key>
						<string>battleBtn</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>clickedCallback</key>
						<string>SpriteElfLayer::battleBtnClick</string>
						<key>texture</key>
						<dict>
							<key>normalTexture</key>
							<string>map_ui_FRAME_FAIRY_BUTTON_BATTLE</string>
							<key>clickedTexture</key>
							<string>map_ui_FRAME_FAIRY_BUTTON_BATTLE_CLICKED</string>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
					<dict>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>5</integer>
						</dict>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>出战</string>
						<key>fontSize</key>
						<integer>32</integer>
						<key>name</key>
						<string>battle_text</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_TEXT_BATTLE</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>3</integer>
						<key>name</key>
						<string>closeBtn</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>clickedCallback</key>
						<string>SpriteElfLayer::OnClose</string>
						<key>texture</key>
						<dict>
							<key>normalTexture</key>
							<string>map_ui_FRAME_FAIRY_BUTTON_CLOSE</string>
							<key>clickedTexture</key>
							<string>map_ui_FRAME_FAIRY_BUTTON_CLOSE_CLICKED</string>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>1</integer>
						<key>name</key>
						<string>attributeBgIcon</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_FAIRY_FRAME_ADDATTRIBUTE</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>33</integer>
							<key>green</key>
							<integer>128</integer>
							<key>red</key>
							<integer>244</integer>
						</dict>
						<key>content</key>
						<string>attribute_title_txt</string>
						<key>fontSize</key>
						<integer>16</integer>
						<key>name</key>
						<string>attribute_title_txt</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_TEXT_ADDATTRIBUTE</string>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>0</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>36</integer>
						</dict>
						<key>content</key>
						<string>attribute_txt_1</string>
						<key>fontSize</key>
						<integer>18</integer>
						<key>name</key>
						<string>attribute_txt_1</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_TEXT_ADDATTRIBUTE1</string>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>0</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>36</integer>
						</dict>
						<key>content</key>
						<string>attribute_txt_2</string>
						<key>fontSize</key>
						<integer>18</integer>
						<key>name</key>
						<string>attribute_txt_2</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_TEXT_ADDATTRIBUTE2</string>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>0</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>36</integer>
						</dict>
						<key>content</key>
						<string>attribute_txt_3</string>
						<key>fontSize</key>
						<integer>18</integer>
						<key>name</key>
						<string>attribute_txt_3</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_TEXT_ADDATTRIBUTE3</string>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>0</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>36</integer>
						</dict>
						<key>content</key>
						<string>attribute_txt_4</string>
						<key>fontSize</key>
						<integer>18</integer>
						<key>name</key>
						<string>attribute_txt_4</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_TEXT_ADDATTRIBUTE4</string>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>0</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>36</integer>
						</dict>
						<key>content</key>
						<string>attribute_txt_5</string>
						<key>fontSize</key>
						<integer>18</integer>
						<key>name</key>
						<string>attribute_txt_5</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_FAIRY_TEXT_ADDATTRIBUTE5</string>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>children</key>
						<array>
							<dict>
								<key>type</key>
								<string>UIButton</string>
								<key>tag</key>
								<integer>3</integer>
								<key>name</key>
								<string>attributeBtn</string>
								<key>isVisible</key>
								<integer>1</integer>
								<key>clickedCallback</key>
								<string></string>
								<key>texture</key>
								<dict>
									<key>normalTexture</key>
									<string>map_ui_FRAME_FAIRY_BUTTON_ALLATTRIBUTES</string>
									<key>clickedTexture</key>
									<string>map_ui_FRAME_FAIRY_BUTTON_ALLATTRIBUTES_CLICKED</string>
								</dict>
								<key>useASposition</key>
								<integer>1</integer>
								<key>drag</key>
								<dict>
									<key>priority</key>
									<integer>-130</integer>
								</dict>
							</dict>
							<dict>
								<key>color</key>
								<dict>
									<key>blue</key>
									<integer>255</integer>
									<key>green</key>
									<integer>255</integer>
									<key>red</key>
									<integer>255</integer>
								</dict>
								<key>content</key>
								<string>attribute_btn_text</string>
								<key>fontSize</key>
								<integer>24</integer>
								<key>name</key>
								<string>attribute_btn_text</string>
								<key>rect</key>
								<dict>
									<key>ASRectName</key>
									<string>map_ui_FRAME_FAIRY_TEXT_ALLATTRIBUTES</string>
									<key>alignment</key>
									<integer>1</integer>
									<key>anchorPoint</key>
									<integer>1</integer>
									<key>useASRect</key>
									<integer>1</integer>
								</dict>
								<key>tag</key>
								<integer>0</integer>
								<key>type</key>
								<string>UILabel</string>
							</dict>
						</array>
						<key>refMode</key>
						<integer>1</integer>
						<key>refObjName</key>
						<string></string>
						<key>refPointMode</key>
						<integer>5</integer>
						<key>tag</key>
						<integer>1</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIContainer</string>
						<key>name</key>
						<string>commonPanelContainer</string>
						<key>width</key>
						<integer>0</integer>
						<key>widthOffset</key>
						<integer>0</integer>
						<key>heightOffset</key>
						<integer>0</integer>
						<key>widthScale</key>
						<integer>5000</integer>
						<key>heightScale</key>
						<integer>0</integer>
					</dict>
					<dict>
						<key>children</key>
						<array>
							<dict>
								<key>type</key>
								<string>UIPicture</string>
								<key>tag</key>
								<integer>1</integer>
								<key>name</key>
								<string>lookUpBg</string>
								<key>resourceName</key>
								<string>map_ui_FRAME_FAIRY_LOOKATTRIBUTE_BACKGROUND</string>
								<key>useASposition</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>transform</key>
								<dict>
									<key>x</key>
									<integer>0</integer>
									<key>y</key>
									<integer>0</integer>
									<key>z</key>
									<integer>4</integer>
								</dict>							
								<key>type</key>
								<string>UIPicture</string>
								<key>tag</key>
								<integer>1</integer>
								<key>name</key>
								<string>lookUpBgDec</string>
								<key>resourceName</key>
								<string>map_ui_FRAME_FAIRY_LOOKATTRIBUTE_DECORATION</string>
								<key>useASposition</key>
								<integer>1</integer>
							</dict>						
							<dict>
								<key>transform</key>
								<dict>
									<key>x</key>
									<integer>0</integer>
									<key>y</key>
									<integer>0</integer>
									<key>z</key>
									<integer>4</integer>
								</dict>														
								<key>color</key>
								<dict>
									<key>blue</key>
									<integer>255</integer>
									<key>green</key>
									<integer>255</integer>
									<key>red</key>
									<integer>255</integer>
								</dict>
								<key>content</key>
								<string>lookUpAtt_1</string>
								<key>fontSize</key>
								<integer>24</integer>
								<key>name</key>
								<string>lookUpAtt_1</string>
								<key>rect</key>
								<dict>
									<key>ASRectName</key>
									<string>map_ui_FRAME_FAIRY_LOOKATTRIBUTE_TEXT_ATTRIBUTE1</string>
									<key>alignment</key>
									<integer>1</integer>
									<key>anchorPoint</key>
									<integer>1</integer>
									<key>useASRect</key>
									<integer>1</integer>
								</dict>
								<key>tag</key>
								<integer>0</integer>
								<key>type</key>
								<string>UILabel</string>
							</dict>
							<dict>
								<key>transform</key>
								<dict>
									<key>x</key>
									<integer>0</integer>
									<key>y</key>
									<integer>0</integer>
									<key>z</key>
									<integer>4</integer>
								</dict>														
								<key>color</key>
								<dict>
									<key>blue</key>
									<integer>255</integer>
									<key>green</key>
									<integer>255</integer>
									<key>red</key>
									<integer>255</integer>
								</dict>
								<key>content</key>
								<string>lookUpAtt_2</string>
								<key>fontSize</key>
								<integer>24</integer>
								<key>name</key>
								<string>lookUpAtt_2</string>
								<key>rect</key>
								<dict>
									<key>ASRectName</key>
									<string>map_ui_FRAME_FAIRY_LOOKATTRIBUTE_TEXT_ATTRIBUTE2</string>
									<key>alignment</key>
									<integer>1</integer>
									<key>anchorPoint</key>
									<integer>1</integer>
									<key>useASRect</key>
									<integer>1</integer>
								</dict>
								<key>tag</key>
								<integer>0</integer>
								<key>type</key>
								<string>UILabel</string>
							</dict>
							<dict>
								<key>transform</key>
								<dict>
									<key>x</key>
									<integer>0</integer>
									<key>y</key>
									<integer>0</integer>
									<key>z</key>
									<integer>4</integer>
								</dict>														
								<key>color</key>
								<dict>
									<key>blue</key>
									<integer>255</integer>
									<key>green</key>
									<integer>255</integer>
									<key>red</key>
									<integer>255</integer>
								</dict>
								<key>content</key>
								<string>lookUpAtt_3</string>
								<key>fontSize</key>
								<integer>24</integer>
								<key>name</key>
								<string>lookUpAtt_3</string>
								<key>rect</key>
								<dict>
									<key>ASRectName</key>
									<string>map_ui_FRAME_FAIRY_LOOKATTRIBUTE_TEXT_ATTRIBUTE3</string>
									<key>alignment</key>
									<integer>1</integer>
									<key>anchorPoint</key>
									<integer>1</integer>
									<key>useASRect</key>
									<integer>1</integer>
								</dict>
								<key>tag</key>
								<integer>0</integer>
								<key>type</key>
								<string>UILabel</string>
							</dict>
							<dict>
								<key>transform</key>
								<dict>
									<key>x</key>
									<integer>0</integer>
									<key>y</key>
									<integer>0</integer>
									<key>z</key>
									<integer>4</integer>
								</dict>														
								<key>color</key>
								<dict>
									<key>blue</key>
									<integer>255</integer>
									<key>green</key>
									<integer>255</integer>
									<key>red</key>
									<integer>255</integer>
								</dict>
								<key>content</key>
								<string>lookUpAtt_4</string>
								<key>fontSize</key>
								<integer>24</integer>
								<key>name</key>
								<string>lookUpAtt_4</string>
								<key>rect</key>
								<dict>
									<key>ASRectName</key>
									<string>map_ui_FRAME_FAIRY_LOOKATTRIBUTE_TEXT_ATTRIBUTE4</string>
									<key>alignment</key>
									<integer>1</integer>
									<key>anchorPoint</key>
									<integer>1</integer>
									<key>useASRect</key>
									<integer>1</integer>
								</dict>
								<key>tag</key>
								<integer>0</integer>
								<key>type</key>
								<string>UILabel</string>
							</dict>
							<dict>
								<key>transform</key>
								<dict>
									<key>x</key>
									<integer>0</integer>
									<key>y</key>
									<integer>0</integer>
									<key>z</key>
									<integer>4</integer>
								</dict>														
								<key>color</key>
								<dict>
									<key>blue</key>
									<integer>255</integer>
									<key>green</key>
									<integer>255</integer>
									<key>red</key>
									<integer>255</integer>
								</dict>
								<key>content</key>
								<string>lookUpAtt_5</string>
								<key>fontSize</key>
								<integer>24</integer>
								<key>name</key>
								<string>lookUpAtt_5</string>
								<key>rect</key>
								<dict>
									<key>ASRectName</key>
									<string>map_ui_FRAME_FAIRY_LOOKATTRIBUTE_TEXT_ATTRIBUTE5</string>
									<key>alignment</key>
									<integer>1</integer>
									<key>anchorPoint</key>
									<integer>1</integer>
									<key>useASRect</key>
									<integer>1</integer>
								</dict>
								<key>tag</key>
								<integer>0</integer>
								<key>type</key>
								<string>UILabel</string>
							</dict>
							<dict>
								<key>transform</key>
								<dict>
									<key>x</key>
									<integer>0</integer>
									<key>y</key>
									<integer>0</integer>
									<key>z</key>
									<integer>4</integer>
								</dict>														
								<key>color</key>
								<dict>
									<key>blue</key>
									<integer>255</integer>
									<key>green</key>
									<integer>255</integer>
									<key>red</key>
									<integer>255</integer>
								</dict>
								<key>content</key>
								<string>lookUpAtt_6</string>
								<key>fontSize</key>
								<integer>24</integer>
								<key>name</key>
								<string>lookUpAtt_6</string>
								<key>rect</key>
								<dict>
									<key>ASRectName</key>
									<string>map_ui_FRAME_FAIRY_LOOKATTRIBUTE_TEXT_ATTRIBUTE6</string>
									<key>alignment</key>
									<integer>1</integer>
									<key>anchorPoint</key>
									<integer>1</integer>
									<key>useASRect</key>
									<integer>1</integer>
								</dict>
								<key>tag</key>
								<integer>0</integer>
								<key>type</key>
								<string>UILabel</string>
							</dict>
							<dict>
								<key>transform</key>
								<dict>
									<key>x</key>
									<integer>0</integer>
									<key>y</key>
									<integer>0</integer>
									<key>z</key>
									<integer>4</integer>
								</dict>														
								<key>color</key>
								<dict>
									<key>blue</key>
									<integer>255</integer>
									<key>green</key>
									<integer>255</integer>
									<key>red</key>
									<integer>255</integer>
								</dict>
								<key>content</key>
								<string>lookUpAtt_7</string>
								<key>fontSize</key>
								<integer>24</integer>
								<key>name</key>
								<string>lookUpAtt_7</string>
								<key>rect</key>
								<dict>
									<key>ASRectName</key>
									<string>map_ui_FRAME_FAIRY_LOOKATTRIBUTE_TEXT_ATTRIBUTE7</string>
									<key>alignment</key>
									<integer>1</integer>
									<key>anchorPoint</key>
									<integer>1</integer>
									<key>useASRect</key>
									<integer>1</integer>
								</dict>
								<key>tag</key>
								<integer>0</integer>
								<key>type</key>
								<string>UILabel</string>
							</dict>
							<dict>
								<key>transform</key>
								<dict>
									<key>x</key>
									<integer>0</integer>
									<key>y</key>
									<integer>0</integer>
									<key>z</key>
									<integer>4</integer>
								</dict>														
								<key>type</key>
								<string>UIButton</string>
								<key>tag</key>
								<integer>3</integer>
								<key>name</key>
								<string>lookUpOkBtn</string>
								<key>isVisible</key>
								<integer>1</integer>
								<key>clickedCallback</key>
								<string></string>
								<key>texture</key>
								<dict>
									<key>normalTexture</key>
									<string>map_ui_FRAME_FAIRY_LOOKATTRIBUTE_BUTTON</string>
									<key>clickedTexture</key>
									<string>map_ui_FRAME_FAIRY_LOOKATTRIBUTE_BUTTON_CLICKED</string>
								</dict>
								<key>useASposition</key>
								<integer>1</integer>
								<key>drag</key>
								<dict>
									<key>priority</key>
									<integer>-130</integer>
								</dict>
							</dict>
							<dict>
								<key>transform</key>
								<dict>
									<key>x</key>
									<integer>0</integer>
									<key>y</key>
									<integer>0</integer>
									<key>z</key>
									<integer>4</integer>
								</dict>														
								<key>color</key>
								<dict>
									<key>blue</key>
									<integer>255</integer>
									<key>green</key>
									<integer>255</integer>
									<key>red</key>
									<integer>255</integer>
								</dict>
								<key>content</key>
								<string>lookUpBtnLabel</string>
								<key>fontSize</key>
								<integer>24</integer>
								<key>name</key>
								<string>lookUpBtnLabel</string>
								<key>rect</key>
								<dict>
									<key>ASRectName</key>
									<string>map_ui_FRAME_FAIRY_LOOKATTRIBUTE_TEXT_BUTTON</string>
									<key>alignment</key>
									<integer>1</integer>
									<key>anchorPoint</key>
									<integer>1</integer>
									<key>useASRect</key>
									<integer>1</integer>
								</dict>
								<key>tag</key>
								<integer>0</integer>
								<key>type</key>
								<string>UILabel</string>
							</dict>
							<dict>
								<key>transform</key>
								<dict>
									<key>x</key>
									<integer>0</integer>
									<key>y</key>
									<integer>0</integer>
									<key>z</key>
									<integer>4</integer>
								</dict>														
								<key>color</key>
								<dict>
									<key>blue</key>
									<integer>0</integer>
									<key>green</key>
									<integer>255</integer>
									<key>red</key>
									<integer>255</integer>
								</dict>
								<key>content</key>
								<string>lookUpTitleLabel</string>
								<key>fontSize</key>
								<integer>24</integer>
								<key>name</key>
								<string>lookUpTitleLabel</string>
								<key>rect</key>
								<dict>
									<key>ASRectName</key>
									<string>map_ui_FRAME_FAIRY_LOOKATTRIBUTE_TEXT_TITLE</string>
									<key>alignment</key>
									<integer>1</integer>
									<key>anchorPoint</key>
									<integer>1</integer>
									<key>useASRect</key>
									<integer>1</integer>
								</dict>
								<key>tag</key>
								<integer>0</integer>
								<key>type</key>
								<string>UILabel</string>
							</dict>
						</array>
						<key>refMode</key>
						<integer>1</integer>
						<key>refObjName</key>
						<string></string>
						<key>refPointMode</key>
						<integer>5</integer>
						<key>tag</key>
						<integer>1</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>10</integer>
						</dict>
						<key>type</key>
						<string>UIContainer</string>
						<key>name</key>
						<string>attributePanelContainer</string>
						<key>width</key>
						<integer>0</integer>
						<key>widthOffset</key>
						<integer>0</integer>
						<key>heightOffset</key>
						<integer>0</integer>
						<key>widthScale</key>
						<integer>5000</integer>
						<key>heightScale</key>
						<integer>5000</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-133</integer>
						</dict>						
					</dict>
					<dict>
						<key>type</key>
						<string>UIScrollList</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>elfScrollList</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>viewWidth</key>
						<integer>1024</integer>
						<key>viewHeight</key>
						<integer>768</integer>
						<key>contentOffsetX</key>
						<integer>0</integer>
						<key>contentOffsetY</key>
						<integer>0</integer>
						<key>contentWidth</key>
						<integer>1024</integer>
						<key>contentHeight</key>
						<integer>768</integer>
						<key>direction</key>
						<integer>1</integer>
						<key>startX</key>
						<integer>0</integer>
						<key>startY</key>
						<integer>0</integer>
						<key>background</key>
						<dict>
							<key>name</key>
							<string>map_ui_FRAME_FAIRY_FRAME_LISTAREA</string>
							<key>useASposition</key>
							<integer>1</integer>
						</dict>
						<key>children</key>
						<array/>
					</dict>
				</array>
				<key>refMode</key>
				<integer>1</integer>
				<key>refObjName</key>
				<string></string>
				<key>refPointMode</key>
				<integer>5</integer>
				<key>tag</key>
				<integer>1</integer>
				<key>transform</key>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>0</integer>
				</dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>name</key>
				<string>SpriteElfContainer</string>
				<key>width</key>
				<integer>0</integer>
				<key>widthOffset</key>
				<integer>0</integer>
				<key>heightOffset</key>
				<integer>0</integer>
				<key>widthScale</key>
				<integer>5000</integer>
				<key>heightScale</key>
				<integer>5000</integer>
			</dict>
			<dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>tag</key>
				<integer>0</integer>
				<key>name</key>
				<string>buttomContainer</string>
				<key>isVisible</key>
				<integer>1</integer>
				<key>transform</key>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>0</integer>
				</dict>
				<key>refMode</key>
				<integer>1</integer>
				<key>refPointMode</key>
				<integer>5</integer>
				<key>widthScale</key>
				<integer>5000</integer>
				<key>widthOffset</key>
				<integer>0</integer>
				<key>heightScale</key>
				<integer>0</integer>
				<key>heightOffset</key>
				<integer>0</integer>
				<key>width</key>
				<integer>0</integer>
				<key>height</key>
				<integer>0</integer>
				<key>refObjName</key>
				<string></string>
				<key>children</key>
				<array>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>3</integer>
						<key>name</key>
						<string>helpBt</string>
						<key>isVisible</key>            
						<integer>1</integer>
						<key>clickedCallback</key>        
						<string></string>
						<key>texture</key>               
						<dict>
							<key>normalTexture</key>      
							<string>map_ui_FRAME_FAIRY_BUTTON_HELP</string>
							<key>clickedTexture</key>     
							<string>map_ui_FRAME_FAIRY_BUTTON_HELP_CLICKED</string>
							<key>iconTexture</key>     
							<string>map_ui_system_icon_FRAME_ICON_HELPHINT</string>
						</dict>
						<key>useASposition</key>         
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>3</integer>
						<key>name</key>
						<string>exploerElfBt</string>
						<key>isVisible</key>            
						<integer>1</integer>
						<key>clickedCallback</key>        
						<string></string>
						<key>texture</key>               
						<dict>
							<key>normalTexture</key>      
							<string>map_ui_FRAME_TRAIN_BUTTON_EXPLORE</string>
							<key>clickedTexture</key>     
							<string>map_ui_FRAME_TRAIN_BUTTON_EXPLORE_CLICKED</string>
							<key>iconTexture</key>     
							<string>map_ui_system_icon_FRAME_ICON_EXPLORE</string>
						</dict>
						<key>useASposition</key>         
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>		
					<dict>
						<key>clickedCallback</key>
						<string></string>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
						<key>isVisible</key>
						<integer>1</integer>
						<key>luaScript</key>
						<string></string>
						<key>name</key>
						<string>trainButton</string>
						<key>tag</key>
						<integer>3</integer>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_ppve.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>clickedTexture</key>
							<string>map_ui2_FRAME_TRAIN_BUTTON_TRAINICON_CLICKED</string>
							<key>normalTexture</key>
							<string>map_ui2_FRAME_TRAIN_BUTTON_TRAINICON</string>
							<key>iconTexture</key>     
							<string>map_ui_system_icon_FRAME_ICON_TRAIN</string>							
						</dict>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>		
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>trainNumPotentialLabel</string>
						<key>luaScript</key>
						<string></string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_TRAIN_NUMBER_ALLPOTENTIAL</string>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string>000</string>
						<key>fontSize</key>
						<integer>28</integer>
					</dict>		
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>isVisible</key>
						<integer>1</integer>
						<key>name</key>
						<string>trainTextAllPotentialLabel</string>
						<key>luaScript</key>
						<string></string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_TRAIN_TEXT_ALLPOTENTIAL</string>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string>总潜能</string>
						<key>fontSize</key>
						<integer>28</integer>
					</dict>					
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
