<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>UILayout</string>
		<key>isVisible</key>
		<integer>1</integer>
		<key>luaScript</key>
		<string></string>
		<key>name</key>
		<string>taskListPanel</string>
		<key>tag</key>
		<integer>0</integer>
		<key>bModelLayer</key>
		<integer>1</integer>
		<key>children</key>
		<array>
			<dict>
				<key>children</key>
				<array>
					<dict>
						<key>name</key>
						<string>BackgroundPic</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_TASK_BACKGROUND</string>
						<key>tag</key>
						<integer>0</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>BackgroundPicDec_1</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_TASK_BACKGROUND_DECORATION1</string>
						<key>tag</key>
						<integer>0</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>BackgroundPicDec_2</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_TASK_BACKGROUND_DECORATION2</string>
						<key>tag</key>
						<integer>0</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>26</integer>
							<key>green</key>
							<integer>166</integer>
							<key>red</key>
							<integer>238</integer>
						</dict>
						<key>content</key>
						<string>任务</string>
						<key>fontSize</key>
						<integer>32</integer>
						<key>name</key>
						<string>task_title</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_TASK_TEXT_TITLE</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>3</integer>
						<key>name</key>
						<string>closeBtn</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>clickedCallback</key>
						<string>TaskListLayer::closeBtnClick</string>
						<key>texture</key>
						<dict>
							<key>normalTexture</key>
							<string>map_ui_FRAME_TASK_BUTTON_CLOSE</string>
							<key>clickedTexture</key>
							<string>map_ui_FRAME_TASK_BUTTON_CLOSE_CLICKED</string>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButtonToggle</string>
						  <key>tag</key>
						  <integer>1</integer>
						  <key>name</key>
						  <string>tabAcceptedBtn</string>
						  <key>isVisible</key>             
						  <integer>1</integer>
						  <key>clickedCallback</key>       								
						  <string>TaskListLayer::tabAcceptedTaskBtnClick</string>
						  <key>toggleButtons</key>       
							<array>					  
							<dict>                        
							  <key>normalTexture</key>
							  <string>map_ui_FRAME_TASK_BUTTON_RECIEVEDTASK</string>
							  <key>clickedTexture</key>
							  <string>map_ui_FRAME_TASK_BUTTON_RECIEVEDTASK</string>
							</dict>
							<dict>                        
							  <key>normalTexture</key>
							  <string>map_ui_FRAME_TASK_BUTTON_RECIEVEDTASK_SELECTED</string>
							  <key>clickedTexture</key>
							  <string>map_ui_FRAME_TASK_BUTTON_RECIEVEDTASK_SELECTED</string>
							</dict>
							</array>
						  <key>useASposition</key>         
						  <integer>1</integer>
						  <key>drag</key>
						  <dict>
								<key>priority</key>
								<integer>-130</integer>
						  </dict>
					</dict>
					<dict> 
						<key>type</key>
						<string>UIButtonToggle</string>
						  <key>tag</key>
						  <integer>1</integer>
						  <key>name</key>
						  <string>tabAcceptableBtn</string>
						  <key>isVisible</key>             
						  <integer>1</integer>
						  <key>clickedCallback</key>       								
						  <string>TaskListLayer::tabAcceptableTaskBtnClick</string>             
						  <key>toggleButtons</key>  
							<array>					  
							<dict>                        
							  <key>normalTexture</key>
							  <string>map_ui_FRAME_TASK_BUTTON_CANRECIEVETASK</string>
							  <key>clickedTexture</key>
							  <string>map_ui_FRAME_TASK_BUTTON_CANRECIEVETASK</string>
							</dict>
							<dict>                        
							  <key>normalTexture</key>
							  <string>map_ui_FRAME_TASK_BUTTON_CANRECIEVETASK_SELECTED</string>
							  <key>clickedTexture</key>
							  <string>map_ui_FRAME_TASK_BUTTON_CANRECIEVETASK_SELECTED</string>
							</dict>
							</array>
						  <key>useASposition</key>         
						  <integer>1</integer>
						  <key>drag</key>
						  <dict>
							<key>priority</key>
							<integer>-130</integer>
						  </dict>
					</dict> 					
					<dict>
						<key>content</key>
						<string>已接任务</string>
						<key>fontSize</key>
						<integer>28</integer>
						<key>name</key>
						<string>accept_task_label</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_TASK_TEXT_RECIEVEDTASK</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>content</key>
						<string>可接任务</string>
						<key>fontSize</key>
						<integer>28</integer>
						<key>name</key>
						<string>acceptable_task_label</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_TASK_TEXT_CANRECIEVETASK</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>type</key>
						<string>UIScrollList</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>taskAcceptedScrollList</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>viewWidth</key>
						<integer>1024</integer>
						<key>viewHeight</key>
						<integer>768</integer>
						<key>contentOffsetX</key>
						<integer>0</integer>
						<key>contentOffsetY</key>
						<integer>0</integer>
						<key>contentWidth</key>
						<integer>1024</integer>
						<key>contentHeight</key>
						<integer>768</integer>
						<key>direction</key>
						<integer>1</integer>
						<key>startX</key>
						<integer>0</integer>
						<key>startY</key>
						<integer>0</integer>
						<key>background</key>
						<dict>
							<key>name</key>
							<string>map_ui_FRAME_TASK_FRAME_TASKLIST</string>
							<key>useASposition</key>
							<integer>1</integer>
						</dict>
						<key>children</key>
						<array/>
					</dict>
					<dict>
						<key>type</key>
						<string>UIScrollList</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>taskAcceptableScrollList</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>viewWidth</key>
						<integer>1024</integer>
						<key>viewHeight</key>
						<integer>768</integer>
						<key>contentOffsetX</key>
						<integer>0</integer>
						<key>contentOffsetY</key>
						<integer>0</integer>
						<key>contentWidth</key>
						<integer>1024</integer>
						<key>contentHeight</key>
						<integer>768</integer>
						<key>direction</key>
						<integer>1</integer>
						<key>startX</key>
						<integer>0</integer>
						<key>startY</key>
						<integer>0</integer>
						<key>background</key>
						<dict>
							<key>name</key>
							<string>map_ui_FRAME_TASK_FRAME_TASKLIST</string>
							<key>useASposition</key>
							<integer>1</integer>
						</dict>
						<key>children</key>
						<array/>
					</dict>					
				</array>
				<key>height</key>
				<integer>0</integer>
				<key>heightOffset</key>
				<integer>0</integer>
				<key>heightScale</key>
				<integer>5000</integer>
				<key>isVisible</key>
				<integer>1</integer>
				<key>luaScript</key>
				<string></string>
				<key>name</key>
				<string>taskFormContainer</string>
				<key>refMode</key>
				<integer>1</integer>
				<key>refObjName</key>
				<string></string>
				<key>refPointMode</key>
				<integer>5</integer>
				<key>tag</key>
				<integer>0</integer>
				<key>transform</key>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>0</integer>
				</dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>width</key>
				<integer>0</integer>
				<key>widthOffset</key>
				<integer>0</integer>
				<key>widthScale</key>
				<integer>5000</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
