<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>UILayout</string>
		<key>tag</key>
		<integer>1</integer>
		<key>name</key>
		<string>TaskChatPanel</string>
		<key>bModelLayer</key>
		<integer>1</integer>
		<key>luaScript</key>
		<string></string>
		<key>isVisible</key>
		<integer>1</integer>
		<key>children</key>
		<array>
			<dict>
				<key>children</key>
				<array>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>1</integer>
						<key>name</key>
						<string>backTaskPic</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_TASKCHAT_BACKGROUND</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>1</integer>
						<key>name</key>
						<string>backTaskDecPic</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_TASKCHAT_BACKGROUND_DECORATION</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>1</integer>
						<key>name</key>
						<string>backTaskPic2</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_TASKCHAT_BACKGROUND2</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>children</key>
						<array>
							<dict>
								<key>type</key>
								<string>UIButton</string>
								<key>tag</key>
								<integer>3</integer>
								<key>name</key>
								<string>TaskAnswerBtn_01</string>
								<key>isVisible</key>
								<integer>1</integer>
								<key>clickedCallback</key>
								<string>TaskChatLayer::OnTaskItemClickEvent_01</string>
								<key>texture</key>
								<dict>
									<key>normalTexture</key>
									<string>map_ui_FRAME_TASKCHAT_BUTTON_ANSWER1</string>
									<key>clickedTexture</key>
									<string>map_ui_FRAME_TASKCHAT_BUTTON_ANSWER1_CLICKED</string>
								</dict>
								<key>useASposition</key>
								<integer>1</integer>
								<key>drag</key>
								<dict>
									<key>priority</key>
									<integer>-130</integer>
								</dict>
							</dict>
							<dict>
								<key>type</key>
								<string>UILabel</string>
								<key>tag</key>
								<integer>0</integer>
								<key>name</key>
								<string>HeroTaskTalkLabel_01</string>
								<key>luaScript</key>
								<string></string>
								<key>color</key>
								<dict>
									<key>red</key>
									<integer>255</integer>
									<key>green</key>
									<integer>255</integer>
									<key>blue</key>
									<integer>255</integer>
								</dict>
								<key>rect</key>
								<dict>
									<key>useASRect</key>
									<integer>1</integer>
									<key>ASRectName</key>
									<string>map_ui_FRAME_TASKCHAT_TEXT_ANSWER1</string>
									<key>alignment</key>
									<integer>0</integer>
									<key>anchorPoint</key>
									<integer>1</integer>
								</dict>
								<key>bLocalizeString</key>
								<integer>0</integer>
								<key>content</key>
								<string></string>
								<key>fontSize</key>
								<integer>24</integer>
							</dict>
							<dict>
								<key>type</key>
								<string>UIPicture</string>
								<key>tag</key>
								<integer>1</integer>
								<key>name</key>
								<string>TaskNewFlagPic_01</string>
								<key>resourceName</key>
								<string>map_ui_FRAME_TASKCHAT_ICON_NEWTASK1</string>
								<key>useASposition</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>type</key>
								<string>UIPicture</string>
								<key>tag</key>
								<integer>1</integer>
								<key>name</key>
								<string>TaskCompleteFlagPic_01</string>
								<key>resourceName</key>
								<string>map_ui_FRAME_TASKCHAT_ICON_COMPLETETASK1</string>
								<key>useASposition</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>type</key>
								<string>UIPicture</string>
								<key>tag</key>
								<integer>1</integer>
								<key>name</key>
								<string>TaskRuningFlagPic_01</string>
								<key>resourceName</key>
								<string>map_ui_FRAME_TASKCHAT_ICON_INTASK1</string>
								<key>useASposition</key>
								<integer>1</integer>
							</dict>
						</array>
						<key>refMode</key>
						<integer>1</integer>
						<key>refObjName</key>
						<string></string>
						<key>refPointMode</key>
						<integer>5</integer>
						<key>tag</key>
						<integer>1</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIContainer</string>
						<key>name</key>
						<string>taskItemContainer_01</string>
						<key>width</key>
						<integer>0</integer>
						<key>widthOffset</key>
						<integer>0</integer>
						<key>heightOffset</key>
						<integer>0</integer>
						<key>widthScale</key>
						<integer>5000</integer>
						<key>heightScale</key>
						<integer>5000</integer>
					</dict>
					<dict>
						<key>children</key>
						<array>
							<dict>
								<key>type</key>
								<string>UIButton</string>
								<key>tag</key>
								<integer>3</integer>
								<key>name</key>
								<string>TaskAnswerBtn_02</string>
								<key>isVisible</key>
								<integer>1</integer>
								<key>clickedCallback</key>
								<string>TaskChatLayer::OnTaskItemClickEvent_02</string>
								<key>texture</key>
								<dict>
									<key>normalTexture</key>
									<string>map_ui_FRAME_TASKCHAT_BUTTON_ANSWER2</string>
									<key>clickedTexture</key>
									<string>map_ui_FRAME_TASKCHAT_BUTTON_ANSWER2_CLICKED</string>
								</dict>
								<key>useASposition</key>
								<integer>1</integer>
								<key>drag</key>
								<dict>
									<key>priority</key>
									<integer>-130</integer>
								</dict>
							</dict>
							<dict>
								<key>type</key>
								<string>UILabel</string>
								<key>tag</key>
								<integer>0</integer>
								<key>name</key>
								<string>HeroTaskTalkLabel_02</string>
								<key>luaScript</key>
								<string></string>
								<key>color</key>
								<dict>
									<key>red</key>
									<integer>255</integer>
									<key>green</key>
									<integer>255</integer>
									<key>blue</key>
									<integer>255</integer>
								</dict>
								<key>rect</key>
								<dict>
									<key>useASRect</key>
									<integer>1</integer>
									<key>ASRectName</key>
									<string>map_ui_FRAME_TASKCHAT_TEXT_ANSWER2</string>
									<key>alignment</key>
									<integer>0</integer>
									<key>anchorPoint</key>
									<integer>1</integer>
								</dict>
								<key>bLocalizeString</key>
								<integer>0</integer>
								<key>content</key>
								<string></string>
								<key>fontSize</key>
								<integer>24</integer>
							</dict>
							<dict>
								<key>type</key>
								<string>UIPicture</string>
								<key>tag</key>
								<integer>1</integer>
								<key>name</key>
								<string>TaskNewFlagPic_02</string>
								<key>resourceName</key>
								<string>map_ui_FRAME_TASKCHAT_ICON_NEWTASK2</string>
								<key>useASposition</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>type</key>
								<string>UIPicture</string>
								<key>tag</key>
								<integer>1</integer>
								<key>name</key>
								<string>TaskCompleteFlagPic_02</string>
								<key>resourceName</key>
								<string>map_ui_FRAME_TASKCHAT_ICON_COMPLETETASK2</string>
								<key>useASposition</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>type</key>
								<string>UIPicture</string>
								<key>tag</key>
								<integer>1</integer>
								<key>name</key>
								<string>TaskRuningFlagPic_02</string>
								<key>resourceName</key>
								<string>map_ui_FRAME_TASKCHAT_ICON_INTASK2</string>
								<key>useASposition</key>
								<integer>1</integer>
							</dict>
						</array>
						<key>refMode</key>
						<integer>1</integer>
						<key>refObjName</key>
						<string></string>
						<key>refPointMode</key>
						<integer>5</integer>
						<key>tag</key>
						<integer>1</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIContainer</string>
						<key>name</key>
						<string>taskItemContainer_02</string>
						<key>width</key>
						<integer>0</integer>
						<key>widthOffset</key>
						<integer>0</integer>
						<key>heightOffset</key>
						<integer>0</integer>
						<key>widthScale</key>
						<integer>5000</integer>
						<key>heightScale</key>
						<integer>5000</integer>
					</dict>
					<dict>
						<key>children</key>
						<array>
							<dict>
								<key>type</key>
								<string>UIButton</string>
								<key>tag</key>
								<integer>3</integer>
								<key>name</key>
								<string>TaskAnswerBtn_03</string>
								<key>isVisible</key>
								<integer>1</integer>
								<key>clickedCallback</key>
								<string>TaskChatLayer::OnTaskItemClickEvent_03</string>
								<key>texture</key>
								<dict>
									<key>normalTexture</key>
									<string>map_ui_FRAME_TASKCHAT_BUTTON_ANSWER3</string>
									<key>clickedTexture</key>
									<string>map_ui_FRAME_TASKCHAT_BUTTON_ANSWER3_CLICKED</string>
								</dict>
								<key>useASposition</key>
								<integer>1</integer>
								<key>drag</key>
								<dict>
									<key>priority</key>
									<integer>-130</integer>
								</dict>
							</dict>
							<dict>
								<key>type</key>
								<string>UILabel</string>
								<key>tag</key>
								<integer>0</integer>
								<key>name</key>
								<string>HeroTaskTalkLabel_03</string>
								<key>luaScript</key>
								<string></string>
								<key>color</key>
								<dict>
									<key>red</key>
									<integer>255</integer>
									<key>green</key>
									<integer>255</integer>
									<key>blue</key>
									<integer>255</integer>
								</dict>
								<key>rect</key>
								<dict>
									<key>useASRect</key>
									<integer>1</integer>
									<key>ASRectName</key>
									<string>map_ui_FRAME_TASKCHAT_TEXT_ANSWER3</string>
									<key>alignment</key>
									<integer>0</integer>
									<key>anchorPoint</key>
									<integer>1</integer>
								</dict>
								<key>bLocalizeString</key>
								<integer>0</integer>
								<key>content</key>
								<string></string>
								<key>fontSize</key>
								<integer>24</integer>
							</dict>
							<dict>
								<key>type</key>
								<string>UIPicture</string>
								<key>tag</key>
								<integer>1</integer>
								<key>name</key>
								<string>TaskNewFlagPic_03</string>
								<key>resourceName</key>
								<string>map_ui_FRAME_TASKCHAT_ICON_NEWTASK3</string>
								<key>useASposition</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>type</key>
								<string>UIPicture</string>
								<key>tag</key>
								<integer>1</integer>
								<key>name</key>
								<string>TaskCompleteFlagPic_03</string>
								<key>resourceName</key>
								<string>map_ui_FRAME_TASKCHAT_ICON_COMPLETETASK3</string>
								<key>useASposition</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>type</key>
								<string>UIPicture</string>
								<key>tag</key>
								<integer>1</integer>
								<key>name</key>
								<string>TaskRuningFlagPic_03</string>
								<key>resourceName</key>
								<string>map_ui_FRAME_TASKCHAT_ICON_INTASK3</string>
								<key>useASposition</key>
								<integer>1</integer>
							</dict>
						</array>
						<key>refMode</key>
						<integer>1</integer>
						<key>refObjName</key>
						<string></string>
						<key>refPointMode</key>
						<integer>5</integer>
						<key>tag</key>
						<integer>1</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIContainer</string>
						<key>name</key>
						<string>taskItemContainer_03</string>
						<key>width</key>
						<integer>0</integer>
						<key>widthOffset</key>
						<integer>0</integer>
						<key>heightOffset</key>
						<integer>0</integer>
						<key>widthScale</key>
						<integer>5000</integer>
						<key>heightScale</key>
						<integer>5000</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>tag</key>
						<integer>1</integer>
						<key>name</key>
						<string>npcLogoIcon</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_TASKCHAT_FRAME_NPCICON</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>refPointMode</key>
						<integer>3</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>3</integer>
						<key>name</key>
						<string>closeBt</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>clickedCallback</key>
						<string>TaskChatLayer::closeBtnClick</string>
						<key>texture</key>
						<dict>
							<key>normalTexture</key>
							<string>map_ui_FRAME_TASKCHAT_BUTTON_CLOSE</string>
							<key>clickedTexture</key>
							<string>map_ui_FRAME_TASKCHAT_BUTTON_CLOSE_CLICKED</string>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>TaskNameLable</string>
						<key>luaScript</key>
						<string></string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_TASKCHAT_TEXT_TASKNAME</string>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>38</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>NpcTaskTalkLabel</string>
						<key>luaScript</key>
						<string></string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_TASKCHAT_TEXT_TALK</string>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>children</key>
						<array>
							<dict>
								<key>type</key>
								<string>UILabel</string>
								<key>tag</key>
								<integer>0</integer>
								<key>name</key>
								<string>TaskRewardMoneyLabel</string>
								<key>luaScript</key>
								<string></string>
								<key>color</key>
								<dict>
									<key>red</key>
									<integer>255</integer>
									<key>green</key>
									<integer>255</integer>
									<key>blue</key>
									<integer>255</integer>
								</dict>
								<key>rect</key>
								<dict>
									<key>useASRect</key>
									<integer>1</integer>
									<key>ASRectName</key>
									<string>map_ui_FRAME_TASKCHAT_TEXT_REWARDMONEY</string>
									<key>alignment</key>
									<integer>0</integer>
									<key>anchorPoint</key>
									<integer>1</integer>
								</dict>
								<key>bLocalizeString</key>
								<integer>0</integer>
								<key>content</key>
								<string>0</string>
								<key>fontSize</key>
								<integer>26</integer>
							</dict>
							<dict>
								<key>type</key>
								<string>UILabel</string>
								<key>tag</key>
								<integer>0</integer>
								<key>name</key>
								<string>TaskRewardExpLabel</string>
								<key>luaScript</key>
								<string></string>
								<key>color</key>
								<dict>
									<key>red</key>
									<integer>255</integer>
									<key>green</key>
									<integer>255</integer>
									<key>blue</key>
									<integer>255</integer>
								</dict>
								<key>rect</key>
								<dict>
									<key>useASRect</key>
									<integer>1</integer>
									<key>ASRectName</key>
									<string>map_ui_FRAME_TASKCHAT_TEXT_REWARDEXP</string>
									<key>alignment</key>
									<integer>0</integer>
									<key>anchorPoint</key>
									<integer>1</integer>
								</dict>
								<key>bLocalizeString</key>
								<integer>0</integer>
								<key>content</key>
								<string>0</string>
								<key>fontSize</key>
								<integer>26</integer>
							</dict>
							<dict>
								<key>type</key>
								<string>UIPicture</string>
								<key>tag</key>
								<integer>1</integer>
								<key>name</key>
								<string>TaskRewardExpIcon</string>
								<key>resourceName</key>
								<string>map_ui_FRAME_TASKCHAT_ICON_REWARDEXP</string>
								<key>useASposition</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>type</key>
								<string>UIPicture</string>
								<key>tag</key>
								<integer>1</integer>
								<key>name</key>
								<string>TaskRewardMoneyIcon</string>
								<key>resourceName</key>
								<string>map_ui_FRAME_TASKCHAT_ICON_REWARDMONEY</string>
								<key>useASposition</key>
								<integer>1</integer>
							</dict>
						</array>
						<key>refMode</key>
						<integer>1</integer>
						<key>refObjName</key>
						<string></string>
						<key>refPointMode</key>
						<integer>5</integer>
						<key>tag</key>
						<integer>1</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIContainer</string>
						<key>name</key>
						<string>RewardContainer</string>
						<key>width</key>
						<integer>0</integer>
						<key>widthOffset</key>
						<integer>0</integer>
						<key>heightOffset</key>
						<integer>0</integer>
						<key>widthScale</key>
						<integer>5000</integer>
						<key>heightScale</key>
						<integer>5000</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>3</integer>
						<key>name</key>
						<string>shopExchangBtn</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>clickedCallback</key>
						<string>TaskChatLayer::OnTaskshopExchangeBtnClick</string>
						<key>texture</key>
						<dict>
							<key>normalTexture</key>
							<string>map_ui_FRAME_TASKCHAT_BUTTON_NPCFUNCTION</string>
							<key>clickedTexture</key>
							<string>map_ui_FRAME_TASKCHAT_BUTTON_NPCFUNCTION_CLICKED</string>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>shopExchangText</string>
            <key>luaScript</key>
            <string></string>
            <key>color</key>
            <dict>
              <key>red</key>
              <integer>255</integer>
              <key>green</key>
              <integer>255</integer>
              <key>blue</key>
              <integer>255</integer>
            </dict>
            <key>rect</key>
            <dict>
              <key>useASRect</key>
              <integer>1</integer>
              <key>ASRectName</key>
              <string>map_ui_FRAME_TASKCHAT_TEXT_NPCFUNCTION</string>
              <key>alignment</key>
              <integer>1</integer>
              <key>anchorPoint</key>
              <integer>1</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>0</integer>
            <key>content</key>
            <string></string>
            <key>fontSize</key>
            <integer>24</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>ItemExchangShopBtn</string>
            <key>isVisible</key>
            <integer>1</integer>
            <key>clickedCallback</key>
            <string>TaskChatLayer::OnTaskItemExchangeBtnClick</string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_TASKCHAT_BUTTON_NPCFUNCTION</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_TASKCHAT_BUTTON_NPCFUNCTION_CLICKED</string>
            </dict>
            <key>useASposition</key>
            <integer>1</integer>
            <key>drag</key>
            <dict>
              <key>priority</key>
              <integer>-130</integer>
            </dict>
          </dict>
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>ItemExchangText</string>
            <key>luaScript</key>
            <string></string>
            <key>color</key>
            <dict>
              <key>red</key>
              <integer>255</integer>
              <key>green</key>
              <integer>255</integer>
              <key>blue</key>
              <integer>255</integer>
            </dict>
            <key>rect</key>
            <dict>
              <key>useASRect</key>
              <integer>1</integer>
              <key>ASRectName</key>
              <string>map_ui_FRAME_TASKCHAT_TEXT_NPCFUNCTION</string>
              <key>alignment</key>
              <integer>1</integer>
              <key>anchorPoint</key>
              <integer>1</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>0</integer>
            <key>content</key>
            <string></string>
            <key>fontSize</key>
            <integer>24</integer>
          </dict>
          <dict>
            <key>type</key>
            <string>UIButton</string>
            <key>tag</key>
            <integer>-1</integer>
            <key>name</key>
            <string>CityDefendBtn</string>
            <key>isVisible</key>
            <integer>1</integer>
            <key>clickedCallback</key>
            <string>TaskChatLayer::OnTaskCityDefendBtnClick</string>
            <key>texture</key>
            <dict>
              <key>normalTexture</key>
              <string>map_ui_FRAME_TASKCHAT_BUTTON_NPCFUNCTION2</string>
              <key>clickedTexture</key>
              <string>map_ui_FRAME_TASKCHAT_BUTTON_NPCFUNCTION_CLICKED2</string>
            </dict>
            <key>useASposition</key>
            <integer>1</integer>
            <key>drag</key>
            <dict>
              <key>priority</key>
              <integer>-130</integer>
            </dict>
          </dict>
          <dict>
            <key>type</key>
            <string>UILabel</string>
            <key>tag</key>
            <integer>0</integer>
            <key>name</key>
            <string>CityDefendText</string>
            <key>luaScript</key>
            <string></string>
            <key>color</key>
            <dict>
              <key>red</key>
              <integer>255</integer>
              <key>green</key>
              <integer>255</integer>
              <key>blue</key>
              <integer>255</integer>
            </dict>
            <key>rect</key>
            <dict>
              <key>useASRect</key>
              <integer>1</integer>
              <key>ASRectName</key>
              <string>map_ui_FRAME_TASKCHAT_TEXT_NPCFUNCTION2</string>
              <key>alignment</key>
              <integer>1</integer>
              <key>anchorPoint</key>
              <integer>1</integer>
            </dict>
            <key>bLocalizeString</key>
            <integer>0</integer>
            <key>content</key>
            <string></string>
            <key>fontSize</key>
            <integer>24</integer>
          </dict>
        </array>
				<key>refMode</key>
				<integer>1</integer>
				<key>refObjName</key>
				<string></string>
				<key>refPointMode</key>
				<integer>5</integer>
				<key>tag</key>
				<integer>1</integer>
				<key>transform</key>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>0</integer>
				</dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>name</key>
				<string>taskChatContainer</string>
				<key>width</key>
				<integer>0</integer>
				<key>widthOffset</key>
				<integer>0</integer>
				<key>heightOffset</key>
				<integer>0</integer>
				<key>widthScale</key>
				<integer>5000</integer>
				<key>heightScale</key>
				<integer>5000</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
