<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>UILayout</string>
		<key>tag</key>
		<integer>0</integer>
		<key>name</key>
		<string>TipLayout</string>
		<key>luaScript</key>              
		<string></string>
		<key>isVisible</key>              
		<integer>1</integer>
		<key>transform</key>             
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>z</key>
			<integer>3</integer>
		</dict>
		<key>children</key> 
		<array>
 			<dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>tag</key>
				<integer>0</integer>
				<key>name</key>
				<string>tipContainer</string>
				<key>luaScript</key>              
				<string></string>
				<key>isVisible</key>              
				<integer>1</integer>
				<key>transform</key>              
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>0</integer>
				</dict>
				<key>refMode</key>                
				<integer>1</integer>
				<key>refPointMode</key>           
				<integer>3</integer>
				<key>widthScale</key>             
				<integer>0</integer>
				<key>widthOffset</key>            
				<integer>0</integer>
				<key>heightScale</key>            
				<integer>0</integer>
				<key>heightOffset</key>          
				<integer>0</integer>
				<key>width</key>                  
				<integer>0</integer>
				<key>height</key>                 
				<integer>0</integer>
				<key>refObjName</key>             
				<string></string>
				<key>children</key>               
				<array> 
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>okBt</string>
						<key>isVisible</key>            
						<integer>1</integer>
						<key>clickedCallback</key>        
						<string>TipMgr::OnOK</string>
						<key>texture</key>               
						<dict>
							<key>normalTexture</key>      
							<string>map_ui_FRAME_TIPS_BUTTON</string>
							<key>clickedTexture</key>     
							<string>map_ui_FRAME_TIPS_BUTTON_CLICKED</string>
						</dict>
						<key>useASposition</key>         
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-144</integer>
						</dict>
					</dict>	
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>cancellBt</string>
						<key>isVisible</key>            
						<integer>1</integer>
						<key>clickedCallback</key>        
						<string>TipMgr::OnCancel</string>
						<key>texture</key>               
						<dict>
							<key>normalTexture</key>      
							<string>map_ui_FRAME_TIPS_BUTTON</string>
							<key>clickedTexture</key>     
							<string>map_ui_FRAME_TIPS_BUTTON_CLICKED</string>
						</dict>
						<key>useASposition</key>         
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-144</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>middleBt</string>
						<key>isVisible</key>            
						<integer>1</integer>
						<key>clickedCallback</key>        
						<string>TipMgr::OnMiddleBtClicked</string>
						<key>texture</key>               
						<dict>
							<key>normalTexture</key>      
							<string>map_ui_FRAME_TIPS_BUTTON</string>
							<key>clickedTexture</key>     
							<string>map_ui_FRAME_TIPS_BUTTON_CLICKED</string>
						</dict>
						<key>useASposition</key>         
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-144</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>MiddleLable</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_TIPS_BUTTON</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>OkLable</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_TIPS_BUTTON</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>CancellLable</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_TIPS_BUTTON</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>