<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>UILayout</string>
		<key>name</key>
		<string>TitleLayer</string>
		<key>bModelLayer</key>
		<integer>1</integer>
		<key>bModelPriorty</key>
		<integer>-135</integer>
		<key>children</key>
		<array>
			<dict>
				<key>children</key>
				<array>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>name</key>
						<string>backPic</string>
						<key>resourceName</key>
						<string>map_ui2_FRAME_TITLE_BACKGROUND</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>1</key>
								<string>UI/ui2.png</string>
								<key>2</key>
								<string>UI/ui_genius_background.png</string>
								<key>3</key>
								<string>UI/ui_genius_deco2.png</string>
								<key>4</key>
								<string>UI/ui_genius_deco1.png</string>
								<key>imagecount</key>
								<integer>5</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>name</key>
						<string>resIcon1</string>
						<key>resourceName</key>
						<string>map_ui2_FRAME_TITLE_ICON_RESOURCE1</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>1</key>
								<string>UI/ui2.png</string>
								<key>2</key>
								<string>UI/ui_genius_background.png</string>
								<key>3</key>
								<string>UI/ui_genius_deco2.png</string>
								<key>4</key>
								<string>UI/ui_genius_deco1.png</string>
								<key>imagecount</key>
								<integer>5</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui2.bin</string>
							<key>iphone</key>
							<string>UI/ui2.bin</string>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>name</key>
						<string>closeBtn</string>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>10</integer>
						</dict>
						<key>texture</key>
						<dict>
							<key>normalTexture</key>
							<string>map_ui2_FRAME_TITLE_BUTTON_CLOSE</string>
							<key>clickedTexture</key>
							<string>map_ui2_FRAME_TITLE_BUTTON_CLOSE_CLICKED</string>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>2</key>
									<string>UI/ui_genius_background.png</string>
									<key>3</key>
									<string>UI/ui_genius_deco2.png</string>
									<key>4</key>
									<string>UI/ui_genius_deco1.png</string>
									<key>imagecount</key>
									<integer>5</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-140</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>name</key>
						<string>sheetBtn1</string>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>10</integer>
						</dict>
						<key>texture</key>
						<dict>
							<key>normalTexture</key>
							<string>map_ui2_FRAME_TITLE_SHEET_GENIUS</string>
							<key>clickedTexture</key>
							<string>map_ui2_FRAME_TITLE_SHEET_GENIUS_SELECT</string>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>2</key>
									<string>UI/ui_genius_background.png</string>
									<key>3</key>
									<string>UI/ui_genius_deco2.png</string>
									<key>4</key>
									<string>UI/ui_genius_deco1.png</string>
									<key>imagecount</key>
									<integer>5</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-140</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>name</key>
						<string>sheetBtn2</string>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>10</integer>
						</dict>
						<key>texture</key>
						<dict>
							<key>normalTexture</key>
							<string>map_ui2_FRAME_TITLE_SHEET_OTHER</string>
							<key>clickedTexture</key>
							<string>map_ui2_FRAME_TITLE_SHEET_OTHER_SELECT</string>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>2</key>
									<string>UI/ui_genius_background.png</string>
									<key>3</key>
									<string>UI/ui_genius_deco2.png</string>
									<key>4</key>
									<string>UI/ui_genius_deco1.png</string>
									<key>imagecount</key>
									<integer>5</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-140</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>name</key>
						<string>checkTotalBtn</string>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>texture</key>
						<dict>
							<key>normalTexture</key>
							<string>map_ui2_FRAME_TITLE_BUTTON_ALLATTRIBUTE</string>
							<key>clickedTexture</key>
							<string>map_ui2_FRAME_TITLE_BUTTON_ALLATTRIBUTE_CLICKED</string>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>2</key>
									<string>UI/ui_genius_background.png</string>
									<key>3</key>
									<string>UI/ui_genius_deco2.png</string>
									<key>4</key>
									<string>UI/ui_genius_deco1.png</string>
									<key>imagecount</key>
									<integer>5</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-140</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>name</key>
						<string>title</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>211</integer>
							<key>blue</key>
							<integer>4</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_TITLE_TEXT_TITLE</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>2</key>
									<string>UI/ui_genius_background.png</string>
									<key>3</key>
									<string>UI/ui_genius_deco2.png</string>
									<key>4</key>
									<string>UI/ui_genius_deco1.png</string>
									<key>imagecount</key>
									<integer>5</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_TITLE_TITLE</string>
						<key>fontSize</key>
						<integer>28</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>name</key>
						<string>resText</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>251</integer>
							<key>green</key>
							<integer>158</integer>
							<key>blue</key>
							<integer>38</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_TITLE_TEXT_RESOURCE</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>2</key>
									<string>UI/ui_genius_background.png</string>
									<key>3</key>
									<string>UI/ui_genius_deco2.png</string>
									<key>4</key>
									<string>UI/ui_genius_deco1.png</string>
									<key>imagecount</key>
									<integer>5</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_GENIUSNEW_REMAIN</string>
						<key>fontSize</key>
						<integer>16</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>name</key>
						<string>resNum1</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_TITLE_NUM_RESOURCE1</string>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>2</key>
									<string>UI/ui_genius_background.png</string>
									<key>3</key>
									<string>UI/ui_genius_deco2.png</string>
									<key>4</key>
									<string>UI/ui_genius_deco1.png</string>
									<key>imagecount</key>
									<integer>5</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
						</dict>
						<key>content</key>
						<string>999</string>
						<key>fontSize</key>
						<integer>18</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>name</key>
						<string>sheetText1</string>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>11</integer>
						</dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_TITLE_SHEET_TEXT_GENIUS</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>2</key>
									<string>UI/ui_genius_background.png</string>
									<key>3</key>
									<string>UI/ui_genius_deco2.png</string>
									<key>4</key>
									<string>UI/ui_genius_deco1.png</string>
									<key>imagecount</key>
									<integer>5</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_GENIUSTITLE</string>
						<key>fontSize</key>
						<integer>22</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>name</key>
						<string>sheetText2</string>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>11</integer>
						</dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_TITLE_SHEET_TEXT_OTHER</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>2</key>
									<string>UI/ui_genius_background.png</string>
									<key>3</key>
									<string>UI/ui_genius_deco2.png</string>
									<key>4</key>
									<string>UI/ui_genius_deco1.png</string>
									<key>imagecount</key>
									<integer>5</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_TITLE_OTHER</string>
						<key>fontSize</key>
						<integer>22</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>name</key>
						<string>checkTotalTip</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>56</integer>
							<key>green</key>
							<integer>221</integer>
							<key>blue</key>
							<integer>7</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_TITLE_TEXT_HINT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>2</key>
									<string>UI/ui_genius_background.png</string>
									<key>3</key>
									<string>UI/ui_genius_deco2.png</string>
									<key>4</key>
									<string>UI/ui_genius_deco1.png</string>
									<key>imagecount</key>
									<integer>5</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_TITLE_HINT</string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>name</key>
						<string>checkText</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui2_FRAME_TITLE_TEXT_ALLATTRIBUTE</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>2</key>
									<string>UI/ui_genius_background.png</string>
									<key>3</key>
									<string>UI/ui_genius_deco2.png</string>
									<key>4</key>
									<string>UI/ui_genius_deco1.png</string>
									<key>imagecount</key>
									<integer>5</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_TITLE_LOOKALL</string>
						<key>fontSize</key>
						<integer>18</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIScrollList</string>
						<key>name</key>
						<string>titleScrollList</string>
						<key>priority</key>
						<integer>-138</integer>
						<key>viewWidth</key>
						<integer>1024</integer>
						<key>viewHeight</key>
						<integer>768</integer>
						<key>contentOffsetX</key>
						<integer>0</integer>
						<key>contentOffsetY</key>
						<integer>0</integer>
						<key>contentWidth</key>
						<integer>1024</integer>
						<key>contentHeight</key>
						<integer>768</integer>
						<key>direction</key>
						<integer>1</integer>
						<key>startX</key>
						<integer>0</integer>
						<key>startY</key>
						<integer>0</integer>
						<key>background</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>2</key>
									<string>UI/ui_genius_background.png</string>
									<key>3</key>
									<string>UI/ui_genius_deco2.png</string>
									<key>4</key>
									<string>UI/ui_genius_deco1.png</string>
									<key>imagecount</key>
									<integer>5</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui2.bin</string>
								<key>iphone</key>
								<string>UI/ui2.bin</string>
							</dict>
							<key>name</key>
							<string>map_ui2_FRAME_TITLE_FRAME_TITLEAREA</string>
							<key>useASposition</key>
							<integer>1</integer>
						</dict>
						<key>children</key>
						<array/>
					</dict>
					<dict>
						<key>type</key>
						<string>UILayout</string>
						<key>name</key>
						<string>detailLayer</string>
						<key>bModelLayer</key>
						<integer>1</integer>
						<key>bModelPriorty</key>
						<integer>-140</integer>
						<key>children</key>
						<array>
							<dict>
								<key>children</key>
								<array>
									<dict>
										<key>type</key>
										<string>UIPicture</string>
										<key>name</key>
										<string>backPic</string>
										<key>resourceName</key>
										<string>map_ui2_FRAME_TITLE_ATTRIBUTE_BACKGROUND</string>
										<key>useASposition</key>
										<integer>1</integer>
										<key>AspriteManager</key>
										<dict>
											<key>images</key>
											<dict>
												<key>0</key>
												<string>UI/ui.png</string>
												<key>1</key>
												<string>UI/ui2.png</string>
												<key>2</key>
												<string>UI/ui_genius_background.png</string>
												<key>3</key>
												<string>UI/ui_genius_deco2.png</string>
												<key>4</key>
												<string>UI/ui_genius_deco1.png</string>
												<key>imagecount</key>
												<integer>5</integer>
											</dict>
											<key>ipad</key>
											<string>UI/ui2.bin</string>
											<key>iphone</key>
											<string>UI/ui2.bin</string>
										</dict>
									</dict>
									<dict>
										<key>type</key>
										<string>UIPicture</string>
										<key>name</key>
										<string>detailTitlePic</string>
										<key>resourceName</key>
										<string>map_ui2_FRAME_TITLE_ATTRIBUTE_TITLE</string>
										<key>useASposition</key>
										<integer>1</integer>
										<key>AspriteManager</key>
										<dict>
											<key>images</key>
											<dict>
												<key>0</key>
												<string>UI/ui.png</string>
												<key>1</key>
												<string>UI/ui2.png</string>
												<key>2</key>
												<string>UI/ui_genius_background.png</string>
												<key>3</key>
												<string>UI/ui_genius_deco2.png</string>
												<key>4</key>
												<string>UI/ui_genius_deco1.png</string>
												<key>imagecount</key>
												<integer>5</integer>
											</dict>
											<key>ipad</key>
											<string>UI/ui2.bin</string>
											<key>iphone</key>
											<string>UI/ui2.bin</string>
										</dict>
									</dict>
									<dict>
										<key>type</key>
										<string>UILabel</string>
										<key>name</key>
										<string>detailText</string>
										<key>color</key>
										<dict>
											<key>red</key>
											<integer>251</integer>
											<key>green</key>
											<integer>158</integer>
											<key>blue</key>
											<integer>38</integer>
										</dict>
										<key>rect</key>
										<dict>
											<key>useASRect</key>
											<integer>1</integer>
											<key>ASRectName</key>
											<string>map_ui2_FRAME_TITLE_ATTRIBUTE_TEXT_ATTRIBUTE</string>
											<key>alignment</key>
											<integer>1</integer>
											<key>anchorPoint</key>
											<integer>1</integer>
											<key>AspriteManager</key>
											<dict>
												<key>images</key>
												<dict>
													<key>0</key>
													<string>UI/ui.png</string>
													<key>1</key>
													<string>UI/ui2.png</string>
													<key>2</key>
													<string>UI/ui_genius_background.png</string>
													<key>3</key>
													<string>UI/ui_genius_deco2.png</string>
													<key>4</key>
													<string>UI/ui_genius_deco1.png</string>
													<key>imagecount</key>
													<integer>5</integer>
												</dict>
												<key>ipad</key>
												<string>UI/ui2.bin</string>
												<key>iphone</key>
												<string>UI/ui2.bin</string>
											</dict>
										</dict>
										<key>bLocalizeString</key>
										<integer>1</integer>
										<key>content</key>
										<string>M_TITLE_ADDATTRIBUTE</string>
										<key>fontSize</key>
										<integer>20</integer>
									</dict>
									<dict>
										<key>type</key>
										<string>UILabel</string>
										<key>name</key>
										<string>detailAttr1</string>
										<key>color</key>
										<dict>
											<key>red</key>
											<integer>56</integer>
											<key>green</key>
											<integer>221</integer>
											<key>blue</key>
											<integer>7</integer>
										</dict>
										<key>rect</key>
										<dict>
											<key>useASRect</key>
											<integer>1</integer>
											<key>ASRectName</key>
											<string>map_ui2_FRAME_TITLE_ATTRIBUTE_TEXT_ATTRIBUTE1</string>
											<key>alignment</key>
											<integer>0</integer>
											<key>anchorPoint</key>
											<integer>1</integer>
											<key>AspriteManager</key>
											<dict>
												<key>images</key>
												<dict>
													<key>0</key>
													<string>UI/ui.png</string>
													<key>1</key>
													<string>UI/ui2.png</string>
													<key>2</key>
													<string>UI/ui_genius_background.png</string>
													<key>3</key>
													<string>UI/ui_genius_deco2.png</string>
													<key>4</key>
													<string>UI/ui_genius_deco1.png</string>
													<key>imagecount</key>
													<integer>5</integer>
												</dict>
												<key>ipad</key>
												<string>UI/ui2.bin</string>
												<key>iphone</key>
												<string>UI/ui2.bin</string>
											</dict>
										</dict>
										<key>content</key>
										<string>attr1</string>
										<key>fontSize</key>
										<integer>20</integer>
									</dict>
									<dict>
										<key>type</key>
										<string>UILabel</string>
										<key>name</key>
										<string>detailAttr2</string>
										<key>color</key>
										<dict>
											<key>red</key>
											<integer>56</integer>
											<key>green</key>
											<integer>221</integer>
											<key>blue</key>
											<integer>7</integer>
										</dict>
										<key>rect</key>
										<dict>
											<key>useASRect</key>
											<integer>1</integer>
											<key>ASRectName</key>
											<string>map_ui2_FRAME_TITLE_ATTRIBUTE_TEXT_ATTRIBUTE2</string>
											<key>alignment</key>
											<integer>0</integer>
											<key>anchorPoint</key>
											<integer>1</integer>
											<key>AspriteManager</key>
											<dict>
												<key>images</key>
												<dict>
													<key>0</key>
													<string>UI/ui.png</string>
													<key>1</key>
													<string>UI/ui2.png</string>
													<key>2</key>
													<string>UI/ui_genius_background.png</string>
													<key>3</key>
													<string>UI/ui_genius_deco2.png</string>
													<key>4</key>
													<string>UI/ui_genius_deco1.png</string>
													<key>imagecount</key>
													<integer>5</integer>
												</dict>
												<key>ipad</key>
												<string>UI/ui2.bin</string>
												<key>iphone</key>
												<string>UI/ui2.bin</string>
											</dict>
										</dict>
										<key>content</key>
										<string>attr2</string>
										<key>fontSize</key>
										<integer>20</integer>
									</dict>
									<dict>
										<key>type</key>
										<string>UILabel</string>
										<key>name</key>
										<string>detailAttr3</string>
										<key>color</key>
										<dict>
											<key>red</key>
											<integer>56</integer>
											<key>green</key>
											<integer>221</integer>
											<key>blue</key>
											<integer>7</integer>
										</dict>
										<key>rect</key>
										<dict>
											<key>useASRect</key>
											<integer>1</integer>
											<key>ASRectName</key>
											<string>map_ui2_FRAME_TITLE_ATTRIBUTE_TEXT_ATTRIBUTE3</string>
											<key>alignment</key>
											<integer>0</integer>
											<key>anchorPoint</key>
											<integer>1</integer>
											<key>AspriteManager</key>
											<dict>
												<key>images</key>
												<dict>
													<key>0</key>
													<string>UI/ui.png</string>
													<key>1</key>
													<string>UI/ui2.png</string>
													<key>2</key>
													<string>UI/ui_genius_background.png</string>
													<key>3</key>
													<string>UI/ui_genius_deco2.png</string>
													<key>4</key>
													<string>UI/ui_genius_deco1.png</string>
													<key>imagecount</key>
													<integer>5</integer>
												</dict>
												<key>ipad</key>
												<string>UI/ui2.bin</string>
												<key>iphone</key>
												<string>UI/ui2.bin</string>
											</dict>
										</dict>
										<key>content</key>
										<string>attr3</string>
										<key>fontSize</key>
										<integer>20</integer>
									</dict>
									<dict>
										<key>type</key>
										<string>UILabel</string>
										<key>name</key>
										<string>detailAttr4</string>
										<key>color</key>
										<dict>
											<key>red</key>
											<integer>56</integer>
											<key>green</key>
											<integer>221</integer>
											<key>blue</key>
											<integer>7</integer>
										</dict>
										<key>rect</key>
										<dict>
											<key>useASRect</key>
											<integer>1</integer>
											<key>ASRectName</key>
											<string>map_ui2_FRAME_TITLE_ATTRIBUTE_TEXT_ATTRIBUTE4</string>
											<key>alignment</key>
											<integer>0</integer>
											<key>anchorPoint</key>
											<integer>1</integer>
											<key>AspriteManager</key>
											<dict>
												<key>images</key>
												<dict>
													<key>0</key>
													<string>UI/ui.png</string>
													<key>1</key>
													<string>UI/ui2.png</string>
													<key>2</key>
													<string>UI/ui_genius_background.png</string>
													<key>3</key>
													<string>UI/ui_genius_deco2.png</string>
													<key>4</key>
													<string>UI/ui_genius_deco1.png</string>
													<key>imagecount</key>
													<integer>5</integer>
												</dict>
												<key>ipad</key>
												<string>UI/ui2.bin</string>
												<key>iphone</key>
												<string>UI/ui2.bin</string>
											</dict>
										</dict>
										<key>content</key>
										<string>attr4</string>
										<key>fontSize</key>
										<integer>20</integer>
									</dict>
									<dict>
										<key>type</key>
										<string>UILabel</string>
										<key>name</key>
										<string>detailAttr5</string>
										<key>color</key>
										<dict>
											<key>red</key>
											<integer>56</integer>
											<key>green</key>
											<integer>221</integer>
											<key>blue</key>
											<integer>7</integer>
										</dict>
										<key>rect</key>
										<dict>
											<key>useASRect</key>
											<integer>1</integer>
											<key>ASRectName</key>
											<string>map_ui2_FRAME_TITLE_ATTRIBUTE_TEXT_ATTRIBUTE5</string>
											<key>alignment</key>
											<integer>0</integer>
											<key>anchorPoint</key>
											<integer>1</integer>
											<key>AspriteManager</key>
											<dict>
												<key>images</key>
												<dict>
													<key>0</key>
													<string>UI/ui.png</string>
													<key>1</key>
													<string>UI/ui2.png</string>
													<key>2</key>
													<string>UI/ui_genius_background.png</string>
													<key>3</key>
													<string>UI/ui_genius_deco2.png</string>
													<key>4</key>
													<string>UI/ui_genius_deco1.png</string>
													<key>imagecount</key>
													<integer>5</integer>
												</dict>
												<key>ipad</key>
												<string>UI/ui2.bin</string>
												<key>iphone</key>
												<string>UI/ui2.bin</string>
											</dict>
										</dict>
										<key>content</key>
										<string>attr5</string>
										<key>fontSize</key>
										<integer>20</integer>
									</dict>
									<dict>
										<key>type</key>
										<string>UILabel</string>
										<key>name</key>
										<string>detailAttr6</string>
										<key>color</key>
										<dict>
											<key>red</key>
											<integer>56</integer>
											<key>green</key>
											<integer>221</integer>
											<key>blue</key>
											<integer>7</integer>
										</dict>
										<key>rect</key>
										<dict>
											<key>useASRect</key>
											<integer>1</integer>
											<key>ASRectName</key>
											<string>map_ui2_FRAME_TITLE_ATTRIBUTE_TEXT_ATTRIBUTE6</string>
											<key>alignment</key>
											<integer>0</integer>
											<key>anchorPoint</key>
											<integer>1</integer>
											<key>AspriteManager</key>
											<dict>
												<key>images</key>
												<dict>
													<key>0</key>
													<string>UI/ui.png</string>
													<key>1</key>
													<string>UI/ui2.png</string>
													<key>2</key>
													<string>UI/ui_genius_background.png</string>
													<key>3</key>
													<string>UI/ui_genius_deco2.png</string>
													<key>4</key>
													<string>UI/ui_genius_deco1.png</string>
													<key>imagecount</key>
													<integer>5</integer>
												</dict>
												<key>ipad</key>
												<string>UI/ui2.bin</string>
												<key>iphone</key>
												<string>UI/ui2.bin</string>
											</dict>
										</dict>
										<key>content</key>
										<string>attr6</string>
										<key>fontSize</key>
										<integer>20</integer>
									</dict>
									<dict>
										<key>type</key>
										<string>UIButton</string>
										<key>name</key>
										<string>hideBtn</string>
										<key>texture</key>
										<dict>
											<key>normalTexture</key>
											<string>map_ui2_FRAME_TITLE_ATTRIBUTE_BUTTON_CLOSE</string>
											<key>clickedTexture</key>
											<string>map_ui2_FRAME_TITLE_ATTRIBUTE_BUTTON_CLOSE_CLICKED</string>
											<key>AspriteManager</key>
											<dict>
												<key>images</key>
												<dict>
													<key>0</key>
													<string>UI/ui.png</string>
													<key>1</key>
													<string>UI/ui2.png</string>
													<key>2</key>
													<string>UI/ui_genius_background.png</string>
													<key>3</key>
													<string>UI/ui_genius_deco2.png</string>
													<key>4</key>
													<string>UI/ui_genius_deco1.png</string>
													<key>imagecount</key>
													<integer>5</integer>
												</dict>
												<key>ipad</key>
												<string>UI/ui2.bin</string>
												<key>iphone</key>
												<string>UI/ui2.bin</string>
											</dict>
										</dict>
										<key>useASposition</key>
										<integer>1</integer>
										<key>drag</key>
										<dict>
											<key>priority</key>
											<integer>-141</integer>
										</dict>
									</dict>
								</array>
								<key>height</key>
								<integer>0</integer>
								<key>heightOffset</key>
								<integer>0</integer>
								<key>heightScale</key>
								<integer>5000</integer>
								<key>name</key>
								<string>TitleDetailContainer</string>
								<key>refMode</key>
								<integer>1</integer>
								<key>refPointMode</key>
								<integer>5</integer>
								<key>transform</key>
								<dict>
									<key>x</key>
									<integer>0</integer>
									<key>y</key>
									<integer>0</integer>
									<key>z</key>
									<integer>0</integer>
								</dict>
								<key>type</key>
								<string>UIContainer</string>
								<key>width</key>
								<integer>0</integer>
								<key>widthOffset</key>
								<integer>0</integer>
								<key>widthScale</key>
								<integer>5000</integer>
							</dict>
						</array>
					</dict>
				</array>
				<key>height</key>
				<integer>0</integer>
				<key>heightOffset</key>
				<integer>0</integer>
				<key>heightScale</key>
				<integer>5000</integer>
				<key>name</key>
				<string>TitleContainer</string>
				<key>refMode</key>
				<integer>1</integer>
				<key>refPointMode</key>
				<integer>5</integer>
				<key>transform</key>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>0</integer>
				</dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>width</key>
				<integer>0</integer>
				<key>widthOffset</key>
				<integer>0</integer>
				<key>widthScale</key>
				<integer>5000</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
