<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>UILayout</string>
		<key>tag</key>
		<integer>0</integer>
		<key>name</key>
		<string>UserInfoLayout</string>
		<key>bModelLayer</key>
		<integer>1</integer>
		<key>isVisible</key>              
		<integer>1</integer>
		<key>transform</key>             
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>z</key>
			<integer>0</integer>
		</dict>
		<key>children</key>
		<array>
 			<dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>tag</key>
				<integer>0</integer>
				<key>name</key>
				<string>CenterContainer</string>
				<key>isVisible</key>              
				<integer>1</integer>
				<key>transform</key>              
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>0</integer>
				</dict>
				<key>refMode</key>                
				<integer>1</integer>
				<key>refPointMode</key>           
				<integer>5</integer>
				<key>widthScale</key>             
				<integer>5000</integer>
				<key>widthOffset</key>            
				<integer>0</integer>
				<key>heightScale</key>            
				<integer>5000</integer>
				<key>heightOffset</key>          
				<integer>0</integer>
				<key>width</key>                  
				<integer>0</integer>
				<key>height</key>                 
				<integer>0</integer>
				<key>children</key>               
				<array> 
					<dict>
	            		<key>type</key>
	            		<string>UIPicture</string>
	            		<key>tag</key>
	            		<integer>0</integer>
	            		<key>name</key>
	            		<string>backBG</string>
	            		<key>resourceName</key>
	            		<string>map_ui_FRAME_ROLE_INFOR_BACKGROUND_K</string>
	            		<key>useASposition</key>
	            		<integer>1</integer>
	            	</dict>
					<dict>
	            		<key>type</key>
	            		<string>UIPicture</string>
	            		<key>tag</key>
	            		<integer>0</integer>
	            		<key>name</key>
	            		<string>backBG1</string>
	            		<key>resourceName</key>
	            		<string>map_ui_FRAME_ROLE_INFOR_BACKGROUND</string>
	            		<key>useASposition</key>
	            		<integer>1</integer>
	            	</dict>
					<dict>
	            		<key>type</key>
	            		<string>UIPicture</string>
	            		<key>tag</key>
	            		<integer>0</integer>
	            		<key>name</key>
	            		<string>backBG2</string>
	            		<key>resourceName</key>
	            		<string>map_ui_FRAME_ROLE_INFOR_BACKGROUND1</string>
	            		<key>useASposition</key>
	            		<integer>1</integer>
	            	</dict>
					<dict>
	            		<key>type</key>
	            		<string>UIPicture</string>
	            		<key>tag</key>
	            		<integer>0</integer>
	            		<key>name</key>
	            		<string>HeadFrame</string>
	            		<key>resourceName</key>
	            		<string>map_ui_FRAME_ROLE_INFOR_ICON_FRAME</string>
	            		<key>useASposition</key>
	            		<integer>1</integer>
	            	</dict>
					<dict>
	            		<key>type</key>
	            		<string>UIPicture</string>
	            		<key>tag</key>
	            		<integer>0</integer>
	            		<key>name</key>
	            		<string>HeadIcon</string>
	            		<key>resourceName</key>
	            		<string>map_ui_FRAME_ROLE_INFOR_ICON</string>
	            		<key>useASposition</key>
	            		<integer>1</integer>
	            	</dict>
					<dict>
	            		<key>type</key>
	            		<string>UIPicture</string>
	            		<key>tag</key>
	            		<integer>0</integer>
	            		<key>name</key>
	            		<string>VipPic</string>
	            		<key>resourceName</key>
	            		<string>map_ui_FRAME_ROLE_INFOR_VIP_TEXT</string>
	            		<key>useASposition</key>
	            		<integer>1</integer>
	            	</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>userLevelLabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>17</integer>
							<key>green</key>
							<integer>179</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_ROLE_INFOR_TEXT_LV</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>18</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>userNameLabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>180</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_ROLE_INFOR_NAME_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>attributeLabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>222</integer>
							<key>green</key>
							<integer>53</integer>
							<key>blue</key>
							<integer>3</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_ROLE_INFOR_ATTRIBUTE_TEXT</string>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>expTextLabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>134</integer>
							<key>green</key>
							<integer>193</integer>
							<key>blue</key>
							<integer>226</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_ROLE_INFOR_EXP_TEXT</string>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string>经验值:</string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>expLabel</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_ROLE_INFOR_EXP_NUMBER</string>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>fairyTextLabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>134</integer>
							<key>green</key>
							<integer>193</integer>
							<key>blue</key>
							<integer>226</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_ROLE_INFOR_FIGHT_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string>出战/助战精灵:</string>
						<key>fontSize</key>
						<integer>18</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>fairyNumLabel</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_ROLE_INFOR_FIGHTNUM_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
	            		<key>type</key>
	            		<string>UIPicture</string>
	            		<key>tag</key>
	            		<integer>0</integer>
	            		<key>name</key>
	            		<string>coinPic</string>
	            		<key>resourceName</key>
	            		<string>map_ui_FRAME_ROLE_INFOR_COIN_ICON</string>
	            		<key>useASposition</key>
	            		<integer>1</integer>
	            	</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>coinLabel</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_ROLE_INFOR_COIN_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
	            		<key>type</key>
	            		<string>UIPicture</string>
	            		<key>tag</key>
	            		<integer>0</integer>
	            		<key>name</key>
	            		<string>diamondPic</string>
	            		<key>resourceName</key>
	            		<string>map_ui_FRAME_ROLE_INFOR_DIAMOND_ICON</string>
	            		<key>useASposition</key>
	            		<integer>1</integer>
	            	</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>diamondLabel</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_ROLE_INFOR_DIAMOND_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
	            		<key>type</key>
	            		<string>UIPicture</string>
	            		<key>tag</key>
	            		<integer>0</integer>
	            		<key>name</key>
	            		<string>stonePic</string>
	            		<key>resourceName</key>
	            		<string>map_ui_FRAME_ROLE_INFOR_STONE_ICON</string>
	            		<key>useASposition</key>
	            		<integer>1</integer>
	            	</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>stoneLabel</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_ROLE_INFOR_STONE_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
	            		<key>type</key>
	            		<string>UIPicture</string>
	            		<key>tag</key>
	            		<integer>0</integer>
	            		<key>name</key>
	            		<string>reputationPic</string>
	            		<key>resourceName</key>
	            		<string>map_ui_FRAME_ROLE_INFOR_REPUTATION_ICON</string>
	            		<key>useASposition</key>
	            		<integer>1</integer>
	            	</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>reputationLabel</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_ROLE_INFOR_REPUTATION_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>staminaLabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>134</integer>
							<key>green</key>
							<integer>193</integer>
							<key>blue</key>
							<integer>226</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_ROLE_INFOR_ACTION_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string>体力:</string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>staminaNumLabel</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_ROLE_INFOR_ACTION_NUMBER</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>timeTextLabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>134</integer>
							<key>green</key>
							<integer>193</integer>
							<key>blue</key>
							<integer>226</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_ROLE_INFOR_TIME_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string>体力恢复时间:</string>
						<key>fontSize</key>
						<integer>16</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>timeNumLabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>222</integer>
							<key>green</key>
							<integer>53</integer>
							<key>blue</key>
							<integer>3</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_ROLE_INFOR_TIME_NUMBER</string>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>allTimeTextLabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>134</integer>
							<key>green</key>
							<integer>193</integer>
							<key>blue</key>
							<integer>226</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_ROLE_INFOR_ALLTIME_TEXT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string>体力回满时间:</string>
						<key>fontSize</key>
						<integer>16</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>allTimeNumLabel</string>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>222</integer>
							<key>green</key>
							<integer>53</integer>
							<key>blue</key>
							<integer>3</integer>
						</dict>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_ROLE_INFOR_ALLTIME_NUMBER</string>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>0</integer>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>20</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>changeBt</string>
						<key>isVisible</key>            
						<integer>1</integer>
						<key>clickedCallback</key>        
						<string></string>
						<key>texture</key>               
						<dict>
							<key>normalTexture</key>      
							<string>map_ui_FRAME_ROLE_INFOR_BUTTON_CHANGE</string>
							<key>clickedTexture</key>     
							<string>map_ui_FRAME_ROLE_INFOR_BUTTON_CHANGE_CLICKED</string>
						</dict>
						<key>useASposition</key>         
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>changeLabel</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_ROLE_INFOR_TEXT_CHANGE</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_CHANGENAME_CHANGE</string>
						<key>fontSize</key>
						<integer>24</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>bagBt</string>
						<key>isVisible</key>            
						<integer>1</integer>
						<key>clickedCallback</key>        
						<string></string>
						<key>texture</key>               
						<dict>
							<key>normalTexture</key>      
							<string>map_ui_FRAME_ROLE_INFOR_BUTTON_BAG</string>
							<key>clickedTexture</key>     
							<string>map_ui_FRAME_ROLE_INFOR_BUTTON_BAG_CLICKED</string>
						</dict>
						<key>useASposition</key>         
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>bagLabel</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_ROLE_INFOR_TEXT_BAG</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_BUTTON_READYFIGHT</string>
						<key>fontSize</key>
						<integer>28</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>mapBt</string>
						<key>isVisible</key>            
						<integer>1</integer>
						<key>clickedCallback</key>        
						<string></string>
						<key>texture</key>               
						<dict>
							<key>normalTexture</key>      
							<string>map_ui_FRAME_ROLE_INFOR_BUTTON_WORLDMAP</string>
							<key>clickedTexture</key>     
							<string>map_ui_FRAME_ROLE_INFOR_BUTTON_WORLDMAP_CLICKED</string>
						</dict>
						<key>useASposition</key>         
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>mapLabel</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_ROLE_INFOR_TEXT_WORLDMAP</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_ROLEINFO_WORLDMAP</string>
						<key>fontSize</key>
						<integer>28</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>skillBt</string>
						<key>isVisible</key>            
						<integer>1</integer>
						<key>clickedCallback</key>        
						<string></string>
						<key>texture</key>               
						<dict>
							<key>normalTexture</key>      
							<string>map_ui_FRAME_ROLE_INFOR_BUTTON_SKILL</string>
							<key>clickedTexture</key>     
							<string>map_ui_FRAME_ROLE_INFOR_BUTTON_SKILL_CLICKED</string>
						</dict>
						<key>useASposition</key>         
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UILabel</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>skillLabel</string>
						<key>rect</key>
						<dict>
							<key>useASRect</key>
							<integer>1</integer>
							<key>ASRectName</key>
							<string>map_ui_FRAME_ROLE_INFOR_TEXT_SKILL</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
						</dict>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>content</key>
						<string>M_FAIRY_INFO_TITLE3</string>
						<key>fontSize</key>
						<integer>28</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>closeBt</string>
						<key>isVisible</key>            
						<integer>1</integer>
						<key>clickedCallback</key>        
						<string></string>
						<key>texture</key>               
						<dict>
							<key>normalTexture</key>      
							<string>map_ui_FRAME_FAIRY_CONTACT_CLOSE</string>
							<key>clickedTexture</key>     
							<string>map_ui_FRAME_FAIRY_CONTACT_CLOSE_CLICKED</string>
						</dict>
						<key>useASposition</key>         
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>