<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>bModelLayer</key>
		<integer>1</integer>
		<key>children</key>
		<array>
			<dict>
				<key>children</key>
				<array>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui_dailyreward.png</string>
								<key>1</key>
								<string>UI/ui.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui_dailyreward.bin</string>
							<key>iphone</key>
							<string>UI/ui_dailyreward.bin</string>
						</dict>
						<key>name</key>
						<string>feedBg</string>
						<key>resourceName</key>
						<string>map_ui_dailyreward_FRAME_VIPREWARD_BACKGROUND</string>
						<key>tag</key>
						<integer>1</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui_dailyreward.png</string>
								<key>1</key>
								<string>UI/ui.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui_dailyreward.bin</string>
							<key>iphone</key>
							<string>UI/ui_dailyreward.bin</string>
						</dict>
						<key>name</key>
						<string>feeddeco</string>
						<key>resourceName</key>
						<string>map_ui_dailyreward_FRAME_VIPREWARD_BACKGROUND_DECORATION1</string>
						<key>tag</key>
						<integer>1</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>0</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>VIP专属奖励</string>
						<key>fontSize</key>
						<integer>30</integer>
						<key>name</key>
						<string>TEXT_TITLE</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_dailyreward_FRAME_VIPREWARD_TEXT_TITLE</string>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_dailyreward.png</string>
									<key>1</key>
									<string>UI/ui.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_dailyreward.bin</string>
								<key>iphone</key>
								<string>UI/ui_dailyreward.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>16</integer>
							<key>green</key>
							<integer>109</integer>
							<key>red</key>
							<integer>195</integer>
						</dict>
						<key>content</key>
						<string>你当前的VIP等级为：</string>
						<key>fontSize</key>
						<integer>30</integer>
						<key>name</key>
						<string>TEXT_viplevel1</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_dailyreward_FRAME_VIPREWARD_TEXT_VIPLEVEL1</string>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_dailyreward.png</string>
									<key>1</key>
									<string>UI/ui.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_dailyreward.bin</string>
								<key>iphone</key>
								<string>UI/ui_dailyreward.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>16</integer>
							<key>green</key>
							<integer>109</integer>
							<key>red</key>
							<integer>195</integer>
						</dict>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>30</integer>
						<key>name</key>
						<string>TEXT_VIPLEVEL2</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_dailyreward_FRAME_VIPREWARD_TEXT_VIPLEVEL2</string>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_dailyreward.png</string>
									<key>1</key>
									<string>UI/ui.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_dailyreward.bin</string>
								<key>iphone</key>
								<string>UI/ui_dailyreward.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
						<key>isVisible</key>
						<integer>1</integer>
						<key>luaScript</key>
						<string></string>
						<key>name</key>
						<string>BUTTON_PAY</string>
						<key>tag</key>
						<integer>3</integer>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_dailyreward.png</string>
									<key>1</key>
									<string>UI/ui.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_dailyreward.bin</string>
								<key>iphone</key>
								<string>UI/ui_dailyreward.bin</string>
							</dict>
							<key>clickedTexture</key>
							<string>map_ui_dailyreward_FRAME_VIPREWARD_BUTTON_PAY</string>
							<key>normalTexture</key>
							<string>map_ui_dailyreward_FRAME_VIPREWARD_BUTTON_PAY</string>
						</dict>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>clickedCallback</key>
						<string>callbackBUTTON_CLOSE</string>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
						<key>isVisible</key>
						<integer>1</integer>
						<key>luaScript</key>
						<string></string>
						<key>name</key>
						<string>BUTTON_CLOSE</string>
						<key>tag</key>
						<integer>3</integer>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_dailyreward.png</string>
									<key>1</key>
									<string>UI/ui.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_dailyreward.bin</string>
								<key>iphone</key>
								<string>UI/ui_dailyreward.bin</string>
							</dict>
							<key>clickedTexture</key>
							<string>map_ui_dailyreward_FRAME_VIPREWARD_CLOSE_CLICKED</string>
							<key>normalTexture</key>
							<string>map_ui_dailyreward_FRAME_VIPREWARD_CLOSE</string>
						</dict>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
				</array>
				<key>height</key>
				<integer>0</integer>
				<key>heightOffset</key>
				<integer>0</integer>
				<key>heightScale</key>
				<integer>5000</integer>
				<key>isVisible</key>
				<integer>1</integer>
				<key>luaScript</key>
				<string></string>
				<key>name</key>
				<string>instanceListContainer</string>
				<key>refMode</key>
				<integer>1</integer>
				<key>refObjName</key>
				<string></string>
				<key>refPointMode</key>
				<integer>5</integer>
				<key>tag</key>
				<integer>0</integer>
				<key>transform</key>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>0</integer>
				</dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>width</key>
				<integer>0</integer>
				<key>widthOffset</key>
				<integer>0</integer>
				<key>widthScale</key>
				<integer>5000</integer>
			</dict>
		</array>
		<key>color</key>
		<dict>
			<key>alpha</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
			<key>green</key>
			<integer>0</integer>
			<key>red</key>
			<integer>0</integer>
		</dict>
		<key>isVisible</key>
		<integer>1</integer>
		<key>luaScript</key>
		<string></string>
		<key>name</key>
		<string>offlineExp</string>
		<key>tag</key>
		<integer>0</integer>
		<key>transform</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>z</key>
			<integer>0</integer>
		</dict>
		<key>type</key>
		<string>UILayout</string>
	</dict>
</array>
</plist>
