<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>children</key>
		<array>
			<dict>
				<key>children</key>
				<array>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui_vip.png</string>
								<key>1</key>
								<string>UI/ui.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui_vip.bin</string>
							<key>iphone</key>
							<string>UI/ui_vip.bin</string>
						</dict>
						<key>name</key>
						<string>BackgroundPic</string>
						<key>resourceName</key>
						<string>map_ui_vip_FRAME_VIP_BACKGROUND</string>
						<key>tag</key>
						<integer>0</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui_vip.png</string>
								<key>1</key>
								<string>UI/ui.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui_vip.bin</string>
							<key>iphone</key>
							<string>UI/ui_vip.bin</string>
						</dict>
						<key>name</key>
						<string>DECORATION</string>
						<key>resourceName</key>
						<string>map_ui_vip_FRAME_VIP_BACKGROUND_DECORATION</string>
						<key>tag</key>
						<integer>0</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui_vip.png</string>
								<key>1</key>
								<string>UI/ui.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui_vip.bin</string>
							<key>iphone</key>
							<string>UI/ui_vip.bin</string>
						</dict>
						<key>name</key>
						<string>BackgroundPic2</string>
						<key>resourceName</key>
						<string>map_ui_vip_FRAME_VIP_BACKGROUND_DECORATION1</string>
						<key>tag</key>
						<integer>0</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui_vip.png</string>
								<key>1</key>
								<string>UI/ui.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui_vip.bin</string>
							<key>iphone</key>
							<string>UI/ui_vip.bin</string>
						</dict>
						<key>name</key>
						<string>BackgroundPic12</string>
						<key>resourceName</key>
						<string>map_ui_vip_FRAME_VIP_BACKGROUND_DECORATION2</string>
						<key>tag</key>
						<integer>0</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui_vip.png</string>
								<key>1</key>
								<string>UI/ui.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui_vip.bin</string>
							<key>iphone</key>
							<string>UI/ui_vip.bin</string>
						</dict>
						<key>name</key>
						<string>BackgroundPic13</string>
						<key>resourceName</key>
						<string>map_ui_vip_FRAME_VIP_BACKGROUND_DECORATION3</string>
						<key>tag</key>
						<integer>0</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>0</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>购买钻石</string>
						<key>fontSize</key>
						<integer>32</integer>
						<key>name</key>
						<string>TEXT_TITLE</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_vip_FRAME_VIP_TEXT_TITLE</string>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_vip.png</string>
									<key>1</key>
									<string>UI/ui.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_vip.bin</string>
								<key>iphone</key>
								<string>UI/ui_vip.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>type</key>
						<string>UIScrollList</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>BUTTONAREA_LIST</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>viewWidth</key>
						<integer>1024</integer>
						<key>viewHeight</key>
						<integer>768</integer>
						<key>contentOffsetX</key>
						<integer>0</integer>
						<key>contentOffsetY</key>
						<integer>0</integer>
						<key>contentWidth</key>
						<integer>1024</integer>
						<key>contentHeight</key>
						<integer>768</integer>
						<key>direction</key>
						<integer>1</integer>
						<key>startX</key>
						<integer>0</integer>
						<key>startY</key>
						<integer>0</integer>
						<key>background</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_vip.bin</string>
								<key>iphone</key>
								<string>UI/ui_vip.bin</string>
							</dict>
							<key>name</key>
							<string>map_ui_vip_FRAME_VIP_BUTTONAREA_LIST</string>
							<key>useASposition</key>
							<integer>1</integer>
						</dict>
						<key>children</key>
						<array/>
					</dict>
					<dict>
						<key>type</key>
						<string>UIScrollList</string>
						<key>tag</key>
						<integer>0</integer>
						<key>name</key>
						<string>storageScrollPage</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>viewWidth</key>
						<integer>1024</integer>
						<key>viewHeight</key>
						<integer>768</integer>
						<key>contentOffsetX</key>
						<integer>0</integer>
						<key>contentOffsetY</key>
						<integer>0</integer>
						<key>contentWidth</key>
						<integer>1024</integer>
						<key>contentHeight</key>
						<integer>768</integer>
						<key>direction</key>
						<integer>1</integer>
						<key>startX</key>
						<integer>0</integer>
						<key>startY</key>
						<integer>0</integer>
						<key>background</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>ipad</key>
								<string>UI/ui_vip.bin</string>
								<key>iphone</key>
								<string>UI/ui_vip.bin</string>
							</dict>
							<key>name</key>
							<string>map_ui_vip_FRAME_VIP_TEXT_NOWLEVEL_DESCRIPTION</string>
							<key>useASposition</key>
							<integer>1</integer>
						</dict>
						<key>children</key>
						<array/>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>viplevelhint</string>
						<key>fontSize</key>
						<integer>22</integer>
						<key>name</key>
						<string>TEXT_VIPLEVELHINT</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_vip_FRAME_VIP_TEXT_VIPLEVELHINT</string>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_vip.png</string>
									<key>1</key>
									<string>UI/ui.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_vip.bin</string>
								<key>iphone</key>
								<string>UI/ui_vip.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui_vip.png</string>
								<key>1</key>
								<string>UI/ui.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui_vip.bin</string>
							<key>iphone</key>
							<string>UI/ui_vip.bin</string>
						</dict>
						<key>name</key>
						<string>FRAME_PROGRESS</string>
						<key>resourceName</key>
						<string>map_ui_vip_FRAME_VIP_FRAME_PROGRESS</string>
						<key>tag</key>
						<integer>0</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui_vip.png</string>
								<key>1</key>
								<string>UI/ui.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui_vip.bin</string>
							<key>iphone</key>
							<string>UI/ui_vip.bin</string>
						</dict>
						<key>name</key>
						<string>BAR_PROGRESS</string>
						<key>resourceName</key>
						<string>map_ui_vip_FRAME_VIP_BAR_PROGRESS</string>
						<key>tag</key>
						<integer>0</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui_vip.png</string>
								<key>1</key>
								<string>UI/ui.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui_vip.bin</string>
							<key>iphone</key>
							<string>UI/ui_vip.bin</string>
						</dict>
						<key>name</key>
						<string>ICON_PROGRESS_DIAMOND</string>
						<key>resourceName</key>
						<string>map_ui_vip_FRAME_VIP_ICON_PROGRESS_DIAMOND</string>
						<key>tag</key>
						<integer>0</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>33/100</string>
						<key>fontSize</key>
						<integer>22</integer>
						<key>name</key>
						<string>NUM_PROGRESS_DIAMOND</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_vip_FRAME_VIP_NUM_PROGRESS_DIAMOND</string>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_vip.png</string>
									<key>1</key>
									<string>UI/ui.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_vip.bin</string>
								<key>iphone</key>
								<string>UI/ui_vip.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>34</integer>
							<key>green</key>
							<integer>180</integer>
							<key>red</key>
							<integer>124</integer>
						</dict>
						<key>content</key>
						<string></string>
						<key>fontSize</key>
						<integer>30</integer>
						<key>name</key>
						<string>TEXT_NOWLEVEL</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_vip_FRAME_VIP_TEXT_NOWLEVEL</string>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_vip.png</string>
									<key>1</key>
									<string>UI/ui.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_vip.bin</string>
								<key>iphone</key>
								<string>UI/ui_vip.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui_vip.png</string>
								<key>1</key>
								<string>UI/ui.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui_vip.bin</string>
							<key>iphone</key>
							<string>UI/ui_vip.bin</string>
						</dict>
						<key>name</key>
						<string>ICON_NOWLEVEL</string>
						<key>resourceName</key>
						<string>map_ui_vip_FRAME_VIP_ICON_NOWLEVEL</string>
						<key>tag</key>
						<integer>0</integer>
						<key>transform</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<integer>0</integer>
							<key>z</key>
							<integer>0</integer>
						</dict>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>3</integer>
						<key>name</key>
						<string>BUTTON_BUY</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>clickedCallback</key>
						<string></string>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_vip.png</string>
									<key>1</key>
									<string>UI/ui.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_vip.bin</string>
								<key>iphone</key>
								<string>UI/ui_vip.bin</string>
							</dict>
							<key>normalTexture</key>
							<string>map_ui_vip_FRAME_VIP_BUTTON_BUY</string>
							<key>clickedTexture</key>
							<string>map_ui_vip_FRAME_VIP_BUTTON_BUY_CLICKED</string>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>3</integer>
						<key>name</key>
						<string>BUTTON_PREVIOUSPAGE</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>clickedCallback</key>
						<string></string>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_vip.png</string>
									<key>1</key>
									<string>UI/ui.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_vip.bin</string>
								<key>iphone</key>
								<string>UI/ui_vip.bin</string>
							</dict>
							<key>normalTexture</key>
							<string>map_ui_vip_FRAME_VIP_BUTTON_PREVIOUSPAGE</string>
							<key>clickedTexture</key>
							<string>map_ui_vip_FRAME_VIP_BUTTON_PREVIOUSPAGE</string>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>3</integer>
						<key>name</key>
						<string>BUTTON_NEXTPAGE</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>clickedCallback</key>
						<string></string>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_vip.png</string>
									<key>1</key>
									<string>UI/ui.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_vip.bin</string>
								<key>iphone</key>
								<string>UI/ui_vip.bin</string>
							</dict>
							<key>normalTexture</key>
							<string>map_ui_vip_FRAME_VIP_BUTTON_NEXTPAGE</string>
							<key>clickedTexture</key>
							<string>map_ui_vip_FRAME_VIP_BUTTON_NEXTPAGE</string>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>blue</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>red</key>
							<integer>255</integer>
						</dict>
						<key>content</key>
						<string>购买</string>
						<key>fontSize</key>
						<integer>32</integer>
						<key>name</key>
						<string>TEXT_BUY</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_vip_FRAME_VIP_TEXT_BUY</string>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_vip.png</string>
									<key>1</key>
									<string>UI/ui.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_vip.bin</string>
								<key>iphone</key>
								<string>UI/ui_vip.bin</string>
							</dict>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>tag</key>
						<integer>0</integer>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>type</key>
						<string>UIButton</string>
						<key>tag</key>
						<integer>3</integer>
						<key>name</key>
						<string>BUTTON_CLOSE</string>
						<key>isVisible</key>
						<integer>1</integer>
						<key>clickedCallback</key>
						<string></string>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_vip.png</string>
									<key>1</key>
									<string>UI/ui.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_vip.bin</string>
								<key>iphone</key>
								<string>UI/ui_vip.bin</string>
							</dict>
							<key>normalTexture</key>
							<string>map_ui_vip_FRAME_VIP_CLOSE</string>
							<key>clickedTexture</key>
							<string>map_ui_vip_FRAME_VIP_CLOSE_CLICKED</string>
						</dict>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
				</array>
				<key>height</key>
				<integer>0</integer>
				<key>heightOffset</key>
				<integer>0</integer>
				<key>heightScale</key>
				<integer>5000</integer>
				<key>isVisible</key>
				<integer>1</integer>
				<key>luaScript</key>
				<string></string>
				<key>name</key>
				<string></string>
				<key>refMode</key>
				<integer>1</integer>
				<key>refObjName</key>
				<string></string>
				<key>refPointMode</key>
				<integer>5</integer>
				<key>tag</key>
				<integer>0</integer>
				<key>transform</key>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>0</integer>
				</dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>width</key>
				<integer>0</integer>
				<key>widthOffset</key>
				<integer>0</integer>
				<key>widthScale</key>
				<integer>5000</integer>
			</dict>
		</array>
		<key>color</key>
		<dict>
			<key>alpha</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
			<key>green</key>
			<integer>0</integer>
			<key>red</key>
			<integer>0</integer>
		</dict>
		<key>isVisible</key>
		<integer>1</integer>
		<key>luaScript</key>
		<string></string>
		<key>name</key>
		<string>vipcontent</string>
		<key>tag</key>
		<integer>0</integer>
		<key>bModelLayer</key>
		<integer>1</integer>
		<key>transform</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>z</key>
			<integer>0</integer>
		</dict>
		<key>type</key>
		<string>UILayout</string>
	</dict>
</array>
</plist>
