<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>UILayout</string>
		<key>name</key>
		<string>WorldBossFailUI</string>
		<key>isVisible</key>
		<integer>1</integer>
		<key>bModelLayer</key>
		<integer>1</integer>
		<key>children</key>
		<array>
			<dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>tag</key>
				<integer>0</integer>
				<key>name</key>
				<string>WorldBossFailContainer</string>
				<key>isVisible</key>
				<integer>1</integer>
				<key>transform</key>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>0</integer>
				</dict>
				<key>refMode</key>
				<integer>1</integer>
				<key>refPointMode</key>
				<integer>5</integer>
				<key>widthScale</key>
				<integer>5000</integer>
				<key>widthOffset</key>
				<integer>0</integer>
				<key>heightScale</key>
				<integer>5000</integer>
				<key>heightOffset</key>
				<integer>0</integer>
				<key>width</key>
				<integer>0</integer>
				<key>height</key>
				<integer>0</integer>
				<key>refObjName</key>
				<string></string>
				<key>children</key>
				<array>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui_inbattle.png</string>
								<key>1</key>
								<string>UI/ui2.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui_inbattle.bin</string>
							<key>iphone</key>
							<string>UI/ui_inbattle.bin</string>
						</dict>
						<key>name</key>
						<string>bossFailBG1</string>
						<key>resourceName</key>
						<string>map_ui_inbattle_FRAME_WORLDBOSS_FAIL_BACKGROUND</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui_inbattle.png</string>
								<key>1</key>
								<string>UI/ui2.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui_inbattle.bin</string>
							<key>iphone</key>
							<string>UI/ui_inbattle.bin</string>
						</dict>
						<key>name</key>
						<string>bossFailBG2</string>
						<key>resourceName</key>
						<string>map_ui_inbattle_FRAME_WORLDBOSS_FAIL_BACKGROUND_DECORATION</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>bossFailReviveNowBtn</string>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_inbattle.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>normalTexture</key>
							<string>map_ui_inbattle_FRAME_WORLDBOSS_FAIL_BUTTON_REVIVENOW</string>
							<key>clickedTexture</key>
							<string>map_ui_inbattle_FRAME_WORLDBOSS_FAIL_BUTTON_REVIVENOW_CLICKED</string>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
					<dict>
						<key>name</key>
						<string>bossFailReviveNowForbidBtn</string>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_inbattle.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>normalTexture</key>
							<string>map_ui_inbattle_FRAME_WORLDBOSS_FAIL_BUTTON_REVIVENOW_FORBID</string>
							<key>clickedTexture</key>
							<string>map_ui_inbattle_FRAME_WORLDBOSS_FAIL_BUTTON_REVIVENOW_FORBID</string>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>24</integer>
						<key>name</key>
						<string>bossFailReviveNowTxt</string>
						<key>content</key>
						<string>立即复活</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_inbattle_FRAME_WORLDBOSS_FAIL_TEXT_REVIVENOW</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_inbattle.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>name</key>
						<string>bossFailReviveBtn</string>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_inbattle.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>normalTexture</key>
							<string>map_ui_inbattle_FRAME_WORLDBOSS_FAIL_BUTTON_REVIVE</string>
							<key>clickedTexture</key>
							<string>map_ui_inbattle_FRAME_WORLDBOSS_FAIL_REVIVE_CLICKED</string>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
					<dict>
						<key>name</key>
						<string>bossFailReviveWaitBtn</string>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_inbattle.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>normalTexture</key>
							<string>map_ui_inbattle_FRAME_WORLDBOSS_FAIL_BUTTON_REVIVE_WAIT</string>
							<key>clickedTexture</key>
							<string>map_ui_inbattle_FRAME_WORLDBOSS_FAIL_BUTTON_REVIVE_WAIT</string>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>24</integer>
						<key>name</key>
						<string>bossFailReviveTxt</string>
						<key>content</key>
						<string>复活</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_inbattle_FRAME_WORLDBOSS_FAIL_TEXT_REVIVE</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_inbattle.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>name</key>
						<string>bossFailBackBtn</string>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_inbattle.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>normalTexture</key>
							<string>map_ui_inbattle_FRAME_WORLDBOSS_FAIL_BUTTON_BACKTOTOWN</string>
							<key>clickedTexture</key>
							<string>map_ui_inbattle_FRAME_WORLDBOSS_FAIL_BUTTON_BACKTOTOWN_CLICKED</string>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
						<key>drag</key>
						<dict>
							<key>priority</key>
							<integer>-130</integer>
						</dict>
					</dict>
					<dict>
						<key>name</key>
						<string>bossFailBackWaitBtn</string>
						<key>texture</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_inbattle.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>normalTexture</key>
							<string>map_ui_inbattle_FRAME_WORLDBOSS_FAIL_BUTTON_BACKTOTOWN_WAIT</string>
							<key>clickedTexture</key>
							<string>map_ui_inbattle_FRAME_WORLDBOSS_FAIL_BUTTON_BACKTOTOWN_WAIT</string>
						</dict>
						<key>type</key>
						<string>UIButton</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>24</integer>
						<key>name</key>
						<string>bossFailBackTxt</string>
						<key>content</key>
						<string>M_WORLDBOSS_QUIT</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_inbattle_FRAME_WORLDBOSS_FAIL_TEXT_BACKTOTOWN</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_inbattle.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>163</integer>
							<key>blue</key>
							<integer>64</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>bossFailRewardTxt</string>
						<key>content</key>
						<string>M_WORLDBOSS_REWARDAROUND</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_inbattle_FRAME_WORLDBOSS_FAIL_TEXT_REWARD</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_inbattle.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>bossFailRewardCoinNum</string>
						<key>content</key>
						<string>999999</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_inbattle_FRAME_WORLDBOSS_FAIL_TEXT_REWARDCOIN</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_inbattle.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>bossFailRewardReputationNum</string>
						<key>content</key>
						<string>999999</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_inbattle_FRAME_WORLDBOSS_FAIL_TEXT_REWARDREPUTATION</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_inbattle.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>163</integer>
							<key>blue</key>
							<integer>64</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>bossFailReviveTimeTxt</string>
						<key>content</key>
						<string>M_WORLDBOSS_REVIVETIME</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_inbattle_FRAME_WORLDBOSS_FAIL_TEXT_REVIVETIME</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_inbattle.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>0</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>bossFailReviveTimeNum</string>
						<key>content</key>
						<string>00:20</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_inbattle_FRAME_WORLDBOSS_FAIL_NUMBER_REVIVETIME</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_inbattle.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>163</integer>
							<key>blue</key>
							<integer>64</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>bossFailDiamondTotalTxt</string>
						<key>content</key>
						<string>M_WORLDBOSS_DIAMONDNOW</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_inbattle_FRAME_WORLDBOSS_FAIL_TEXT_DIAMONDINALL</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_inbattle.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>bossFailDiamondTotalNum</string>
						<key>content</key>
						<string>1024</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_inbattle_FRAME_WORLDBOSS_FAIL_NUMBER_DIAMONDINALL</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_inbattle.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>163</integer>
							<key>blue</key>
							<integer>64</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>bossFailReviveDiamondTxt</string>
						<key>content</key>
						<string>M_WORLDBOSS_REVIVEDIAMOND</string>
						<key>bLocalizeString</key>
						<integer>1</integer>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_inbattle_FRAME_WORLDBOSS_FAIL_TEXT_REVIVEDIAMOND</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_inbattle.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>255</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>255</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>bossFailReviveDiamondNum</string>
						<key>content</key>
						<string>10</string>
						<key>rect</key>
						<dict>
							<key>ASRectName</key>
							<string>map_ui_inbattle_FRAME_WORLDBOSS_FAIL_NUMBER_REVIVEDIAMOND</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui_inbattle.png</string>
									<key>1</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>2</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui_inbattle.bin</string>
								<key>iphone</key>
								<string>UI/ui_inbattle.bin</string>
							</dict>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui_inbattle.png</string>
								<key>1</key>
								<string>UI/ui2.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui_inbattle.bin</string>
							<key>iphone</key>
							<string>UI/ui_inbattle.bin</string>
						</dict>
						<key>name</key>
						<string>bossFailRewardCoinPic</string>
						<key>resourceName</key>
						<string>map_ui_inbattle_FRAME_WORLDBOSS_FAIL_ICON_REWARDCOIN</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui_inbattle.png</string>
								<key>1</key>
								<string>UI/ui2.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui_inbattle.bin</string>
							<key>iphone</key>
							<string>UI/ui_inbattle.bin</string>
						</dict>
						<key>name</key>
						<string>bossFailRewardReputationPic</string>
						<key>resourceName</key>
						<string>map_ui_inbattle_FRAME_WORLDBOSS_FAIL_ICON_REWARDREPUTATION</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui_inbattle.png</string>
								<key>1</key>
								<string>UI/ui2.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui_inbattle.bin</string>
							<key>iphone</key>
							<string>UI/ui_inbattle.bin</string>
						</dict>
						<key>name</key>
						<string>bossFailDiamondTotalPic</string>
						<key>resourceName</key>
						<string>map_ui_inbattle_FRAME_WORLDBOSS_FAIL_ICON_DIAMONDINALL</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui_inbattle.png</string>
								<key>1</key>
								<string>UI/ui2.png</string>
								<key>imagecount</key>
								<integer>2</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui_inbattle.bin</string>
							<key>iphone</key>
							<string>UI/ui_inbattle.bin</string>
						</dict>
						<key>name</key>
						<string>bossFailDiamondRevivePic</string>
						<key>resourceName</key>
						<string>map_ui_inbattle_FRAME_WORLDBOSS_FAIL_ICON_REVIVEDIAMOND</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
