<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>UILayout</string>
		<key>name</key>
		<string>WorldBossDamageUI</string>
		<key>isVisible</key>
		<integer>1</integer>
		<key>children</key>
		<array>
			<dict>
				<key>type</key>
				<string>UIContainer</string>
				<key>tag</key>
				<integer>0</integer>
				<key>name</key>
				<string>WorldBossDamageContainer</string>
				<key>isVisible</key>
				<integer>1</integer>
				<key>transform</key>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>z</key>
					<integer>0</integer>
				</dict>
				<key>refMode</key>
				<integer>1</integer>
				<key>refPointMode</key>
				<integer>1</integer>
				<key>widthScale</key>
				<integer>0</integer>
				<key>widthOffset</key>
				<integer>0</integer>
				<key>heightScale</key>
				<integer>0</integer>
				<key>heightOffset</key>
				<integer>0</integer>
				<key>width</key>
				<integer>0</integer>
				<key>height</key>
				<integer>0</integer>
				<key>refObjName</key>
				<string></string>
				<key>children</key>
				<array>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>1</key>
								<string>UI/ui_Alchemy.png</string>
								<key>2</key>
								<string>UI/ui2.png</string>
								<key>imagecount</key>
								<integer>3</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui.bin</string>
							<key>iphone</key>
							<string>UI/ui.bin</string>
						</dict>
						<key>name</key>
						<string>damageStat1</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_WORLDBOSS_FRAME_DAMAGESTAT1</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>AspriteManager</key>
						<dict>
							<key>images</key>
							<dict>
								<key>0</key>
								<string>UI/ui.png</string>
								<key>1</key>
								<string>UI/ui_Alchemy.png</string>
								<key>2</key>
								<string>UI/ui2.png</string>
								<key>imagecount</key>
								<integer>3</integer>
							</dict>
							<key>ipad</key>
							<string>UI/ui.bin</string>
							<key>iphone</key>
							<string>UI/ui.bin</string>
						</dict>
						<key>name</key>
						<string>damageStat2</string>
						<key>resourceName</key>
						<string>map_ui_FRAME_WORLDBOSS_FRAME_DAMAGESTAT2</string>
						<key>type</key>
						<string>UIPicture</string>
						<key>useASposition</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>80</integer>
							<key>green</key>
							<integer>179</integer>
							<key>blue</key>
							<integer>249</integer>
						</dict>
						<key>fontSize</key>
						<integer>20</integer>
						<key>name</key>
						<string>damageStatText</string>
						<key>content</key>
						<string>伤害统计</string>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_Alchemy.png</string>
									<key>2</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>3</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui.bin</string>
								<key>iphone</key>
								<string>UI/ui.bin</string>
							</dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_WORLDBOSS_TEXT_DAMAGESTAT</string>
							<key>alignment</key>
							<integer>1</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>138</integer>
							<key>green</key>
							<integer>206</integer>
							<key>blue</key>
							<integer>216</integer>
						</dict>
						<key>fontSize</key>
						<integer>18</integer>
						<key>name</key>
						<string>damageName1</string>
						<key>content</key>
						<string>Player1</string>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_Alchemy.png</string>
									<key>2</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>3</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui.bin</string>
								<key>iphone</key>
								<string>UI/ui.bin</string>
							</dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_WORLDBOSS_TEXT_NAME1</string>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>138</integer>
							<key>green</key>
							<integer>206</integer>
							<key>blue</key>
							<integer>216</integer>
						</dict>
						<key>fontSize</key>
						<integer>18</integer>
						<key>name</key>
						<string>damageName2</string>
						<key>content</key>
						<string>Player2</string>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_Alchemy.png</string>
									<key>2</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>3</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui.bin</string>
								<key>iphone</key>
								<string>UI/ui.bin</string>
							</dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_WORLDBOSS_TEXT_NAME2</string>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>138</integer>
							<key>green</key>
							<integer>206</integer>
							<key>blue</key>
							<integer>216</integer>
						</dict>
						<key>fontSize</key>
						<integer>18</integer>
						<key>name</key>
						<string>damageName3</string>
						<key>content</key>
						<string>Player3</string>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_Alchemy.png</string>
									<key>2</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>3</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui.bin</string>
								<key>iphone</key>
								<string>UI/ui.bin</string>
							</dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_WORLDBOSS_TEXT_NAME3</string>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>138</integer>
							<key>green</key>
							<integer>206</integer>
							<key>blue</key>
							<integer>216</integer>
						</dict>
						<key>fontSize</key>
						<integer>18</integer>
						<key>name</key>
						<string>damageName4</string>
						<key>content</key>
						<string>Player4</string>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_Alchemy.png</string>
									<key>2</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>3</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui.bin</string>
								<key>iphone</key>
								<string>UI/ui.bin</string>
							</dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_WORLDBOSS_TEXT_NAME4</string>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>138</integer>
							<key>green</key>
							<integer>206</integer>
							<key>blue</key>
							<integer>216</integer>
						</dict>
						<key>fontSize</key>
						<integer>18</integer>
						<key>name</key>
						<string>damageName5</string>
						<key>content</key>
						<string>Player5</string>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_Alchemy.png</string>
									<key>2</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>3</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui.bin</string>
								<key>iphone</key>
								<string>UI/ui.bin</string>
							</dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_WORLDBOSS_TEXT_NAME5</string>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>138</integer>
							<key>green</key>
							<integer>206</integer>
							<key>blue</key>
							<integer>216</integer>
						</dict>
						<key>fontSize</key>
						<integer>18</integer>
						<key>name</key>
						<string>damageNum1</string>
						<key>content</key>
						<string>10000</string>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_Alchemy.png</string>
									<key>2</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>3</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui.bin</string>
								<key>iphone</key>
								<string>UI/ui.bin</string>
							</dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_WORLDBOSS_TEXT_DAMAGE1</string>
							<key>alignment</key>
							<integer>2</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>138</integer>
							<key>green</key>
							<integer>206</integer>
							<key>blue</key>
							<integer>216</integer>
						</dict>
						<key>fontSize</key>
						<integer>18</integer>
						<key>name</key>
						<string>damageNum2</string>
						<key>content</key>
						<string>10000</string>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_Alchemy.png</string>
									<key>2</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>3</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui.bin</string>
								<key>iphone</key>
								<string>UI/ui.bin</string>
							</dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_WORLDBOSS_TEXT_DAMAGE2</string>
							<key>alignment</key>
							<integer>2</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>138</integer>
							<key>green</key>
							<integer>206</integer>
							<key>blue</key>
							<integer>216</integer>
						</dict>
						<key>fontSize</key>
						<integer>18</integer>
						<key>name</key>
						<string>damageNum3</string>
						<key>content</key>
						<string>10000</string>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_Alchemy.png</string>
									<key>2</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>3</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui.bin</string>
								<key>iphone</key>
								<string>UI/ui.bin</string>
							</dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_WORLDBOSS_TEXT_DAMAGE3</string>
							<key>alignment</key>
							<integer>2</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>138</integer>
							<key>green</key>
							<integer>206</integer>
							<key>blue</key>
							<integer>216</integer>
						</dict>
						<key>fontSize</key>
						<integer>18</integer>
						<key>name</key>
						<string>damageNum4</string>
						<key>content</key>
						<string>10000</string>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_Alchemy.png</string>
									<key>2</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>3</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui.bin</string>
								<key>iphone</key>
								<string>UI/ui.bin</string>
							</dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_WORLDBOSS_TEXT_DAMAGE4</string>
							<key>alignment</key>
							<integer>2</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>138</integer>
							<key>green</key>
							<integer>206</integer>
							<key>blue</key>
							<integer>216</integer>
						</dict>
						<key>fontSize</key>
						<integer>18</integer>
						<key>name</key>
						<string>damageNum5</string>
						<key>content</key>
						<string>10000</string>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_Alchemy.png</string>
									<key>2</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>3</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui.bin</string>
								<key>iphone</key>
								<string>UI/ui.bin</string>
							</dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_WORLDBOSS_TEXT_DAMAGE5</string>
							<key>alignment</key>
							<integer>2</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>0</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>fontSize</key>
						<integer>18</integer>
						<key>name</key>
						<string>damageNameMy</string>
						<key>content</key>
						<string>MyName</string>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_Alchemy.png</string>
									<key>2</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>3</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui.bin</string>
								<key>iphone</key>
								<string>UI/ui.bin</string>
							</dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_WORLDBOSS_TEXT_NAMEMY</string>
							<key>alignment</key>
							<integer>0</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
					<dict>
						<key>color</key>
						<dict>
							<key>red</key>
							<integer>0</integer>
							<key>green</key>
							<integer>255</integer>
							<key>blue</key>
							<integer>0</integer>
						</dict>
						<key>fontSize</key>
						<integer>18</integer>
						<key>name</key>
						<string>damageNumMy</string>
						<key>content</key>
						<string>5000</string>
						<key>rect</key>
						<dict>
							<key>AspriteManager</key>
							<dict>
								<key>images</key>
								<dict>
									<key>0</key>
									<string>UI/ui.png</string>
									<key>1</key>
									<string>UI/ui_Alchemy.png</string>
									<key>2</key>
									<string>UI/ui2.png</string>
									<key>imagecount</key>
									<integer>3</integer>
								</dict>
								<key>ipad</key>
								<string>UI/ui.bin</string>
								<key>iphone</key>
								<string>UI/ui.bin</string>
							</dict>
							<key>ASRectName</key>
							<string>map_ui_FRAME_WORLDBOSS_TEXT_MYDAMAGE</string>
							<key>alignment</key>
							<integer>2</integer>
							<key>anchorPoint</key>
							<integer>1</integer>
							<key>useASRect</key>
							<integer>1</integer>
						</dict>
						<key>type</key>
						<string>UILabel</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
