<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>assassinwoman_intown:B weijin.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{184,106},{32,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,15}}</string>
                <key>sourceSize</key>
                <string>{32,15}</string>
            </dict>
            <key>assassinwoman_intown:Bbu.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{39,87},{16,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,23}}</string>
                <key>sourceSize</key>
                <string>{16,23}</string>
            </dict>
            <key>assassinwoman_intown:Bneik.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{51,138},{20,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,14}}</string>
                <key>sourceSize</key>
                <string>{20,14}</string>
            </dict>
            <key>assassinwoman_intown:Bshenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{184,123},{25,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,17}}</string>
                <key>sourceSize</key>
                <string>{25,17}</string>
            </dict>
            <key>assassinwoman_intown:Btou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{119,0},{65,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{65,44}}</string>
                <key>sourceSize</key>
                <string>{65,44}</string>
            </dict>
            <key>assassinwoman_intown:Bweiqun.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{139,153},{20,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,6}}</string>
                <key>sourceSize</key>
                <string>{20,6}</string>
            </dict>
            <key>assassinwoman_intown:Byoudat.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{87,138},{7,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,10}}</string>
                <key>sourceSize</key>
                <string>{7,10}</string>
            </dict>
            <key>assassinwoman_intown:Byouqianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{24,142},{13,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,8}}</string>
                <key>sourceSize</key>
                <string>{13,8}</string>
            </dict>
            <key>assassinwoman_intown:Byouxiaot.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{247,116},{6,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{6,19}}</string>
                <key>sourceSize</key>
                <string>{6,19}</string>
            </dict>
            <key>assassinwoman_intown:Bzuodat.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{143,116},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>assassinwoman_intown:Bzuojiao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,124},{22,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,20}}</string>
                <key>sourceSize</key>
                <string>{22,20}</string>
            </dict>
            <key>assassinwoman_intown:Bzuoqianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{161,153},{16,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,9}}</string>
                <key>sourceSize</key>
                <string>{16,9}</string>
            </dict>
            <key>assassinwoman_intown:Bzuoshou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{73,138},{12,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,11}}</string>
                <key>sourceSize</key>
                <string>{12,11}</string>
            </dict>
            <key>assassinwoman_intown:Bzyoudat.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{243,137},{11,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,11}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>assassinwoman_intown:Fshenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{218,116},{27,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,16}}</string>
                <key>sourceSize</key>
                <string>{27,16}</string>
            </dict>
            <key>assassinwoman_intown:Ftou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{61,0},{56,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{56,54}}</string>
                <key>sourceSize</key>
                <string>{56,54}</string>
            </dict>
            <key>assassinwoman_intown:asdfq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{243,150},{11,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,9}}</string>
                <key>sourceSize</key>
                <string>{11,9}</string>
            </dict>
            <key>assassinwoman_intown:asvfga.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{96,82},{16,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,29}}</string>
                <key>sourceSize</key>
                <string>{16,29}</string>
            </dict>
            <key>assassinwoman_intown:bfgw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{96,56},{21,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,24}}</string>
                <key>sourceSize</key>
                <string>{21,24}</string>
            </dict>
            <key>assassinwoman_intown:bu.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{225,64},{24,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>assassinwoman_intown:cdv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{232,134},{9,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,15}}</string>
                <key>sourceSize</key>
                <string>{9,15}</string>
            </dict>
            <key>assassinwoman_intown:cvwex.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{87,126},{7,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,10}}</string>
                <key>sourceSize</key>
                <string>{7,10}</string>
            </dict>
            <key>assassinwoman_intown:f DATUI1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{143,136},{9,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,15}}</string>
                <key>sourceSize</key>
                <string>{9,15}</string>
            </dict>
            <key>assassinwoman_intown:hujian.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{211,134},{19,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,18}}</string>
                <key>sourceSize</key>
                <string>{19,18}</string>
            </dict>
            <key>assassinwoman_intown:jiao2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{158,46},{26,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,35}}</string>
                <key>sourceSize</key>
                <string>{26,35}</string>
            </dict>
            <key>assassinwoman_intown:jiao3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{39,54},{16,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,31}}</string>
                <key>sourceSize</key>
                <string>{16,31}</string>
            </dict>
            <key>assassinwoman_intown:jiao5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{116,116},{25,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,19}}</string>
                <key>sourceSize</key>
                <string>{25,19}</string>
            </dict>
            <key>assassinwoman_intown:mcjskd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{116,137},{21,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,15}}</string>
                <key>sourceSize</key>
                <string>{21,15}</string>
            </dict>
            <key>assassinwoman_intown:mkald.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{39,112},{13,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,20}}</string>
                <key>sourceSize</key>
                <string>{13,20}</string>
            </dict>
            <key>assassinwoman_intown:sdou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{39,134},{10,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,14}}</string>
                <key>sourceSize</key>
                <string>{10,14}</string>
            </dict>
            <key>assassinwoman_intown:shenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{158,112},{24,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,18}}</string>
                <key>sourceSize</key>
                <string>{24,18}</string>
            </dict>
            <key>assassinwoman_intown:shoudc2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{39,150},{8,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{8,12}}</string>
                <key>sourceSize</key>
                <string>{8,12}</string>
            </dict>
            <key>assassinwoman_intown:sidai.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{54,126},{31,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,10}}</string>
                <key>sourceSize</key>
                <string>{31,10}</string>
            </dict>
            <key>assassinwoman_intown:tou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{59,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{59,52}}</string>
                <key>sourceSize</key>
                <string>{59,52}</string>
            </dict>
            <key>assassinwoman_intown:vfgwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{96,113},{18,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,23}}</string>
                <key>sourceSize</key>
                <string>{18,23}</string>
            </dict>
            <key>assassinwoman_intown:vsdfg.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{232,151},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>assassinwoman_intown:weiba.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{186,70},{35,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,34}}</string>
                <key>sourceSize</key>
                <string>{35,34}</string>
            </dict>
            <key>assassinwoman_intown:weijin.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{223,94},{26,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,20}}</string>
                <key>sourceSize</key>
                <string>{26,20}</string>
            </dict>
            <key>assassinwoman_intown:wuqi_1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{225,0},{27,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,62}}</string>
                <key>sourceSize</key>
                <string>{27,62}</string>
            </dict>
            <key>assassinwoman_intown:wuqi_20.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{57,56},{37,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,68}}</string>
                <key>sourceSize</key>
                <string>{37,68}</string>
            </dict>
            <key>assassinwoman_intown:wuqi_40.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{119,46},{37,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,68}}</string>
                <key>sourceSize</key>
                <string>{37,68}</string>
            </dict>
            <key>assassinwoman_intown:wuqi_60.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{186,0},{37,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,68}}</string>
                <key>sourceSize</key>
                <string>{37,68}</string>
            </dict>
            <key>assassinwoman_intown:wuqi_80.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,54},{37,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,68}}</string>
                <key>sourceSize</key>
                <string>{37,68}</string>
            </dict>
            <key>assassinwoman_intown:xie55.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{157,132},{22,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,19}}</string>
                <key>sourceSize</key>
                <string>{22,19}</string>
            </dict>
            <key>assassinwoman_intown:youdatui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{96,138},{14,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,18}}</string>
                <key>sourceSize</key>
                <string>{14,18}</string>
            </dict>
            <key>assassinwoman_intown:youhoubi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{49,154},{15,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,10}}</string>
                <key>sourceSize</key>
                <string>{15,10}</string>
            </dict>
            <key>assassinwoman_intown:youqianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{20,152},{15,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,11}}</string>
                <key>sourceSize</key>
                <string>{15,11}</string>
            </dict>
            <key>assassinwoman_intown:youshou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{73,151},{15,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,13}}</string>
                <key>sourceSize</key>
                <string>{15,13}</string>
            </dict>
            <key>assassinwoman_intown:youxiaotui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{112,154},{15,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,8}}</string>
                <key>sourceSize</key>
                <string>{15,8}</string>
            </dict>
            <key>assassinwoman_intown:youxie.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{158,83},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
            <key>assassinwoman_intown:zuodatui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{24,124},{13,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,16}}</string>
                <key>sourceSize</key>
                <string>{13,16}</string>
            </dict>
            <key>assassinwoman_intown:zuojiao34.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{181,142},{19,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,12}}</string>
                <key>sourceSize</key>
                <string>{19,12}</string>
            </dict>
            <key>assassinwoman_intown:zuoxiaotui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,146},{18,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,11}}</string>
                <key>sourceSize</key>
                <string>{18,11}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>assassinwoman_intown.pvr.ccz</string>
            <key>size</key>
            <string>{255,165}</string>
            <key>textureFileName</key>
            <string>assassinwoman_intown.pvr.ccz</string>
        </dict>
    </dict>
</plist>
