<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>assassinwoman_common_move:Bbu.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{348,191},{16,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,23}}</string>
                <key>sourceSize</key>
                <string>{16,23}</string>
            </dict>
            <key>assassinwoman_common_move:Bneik.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{325,256},{20,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,14}}</string>
                <key>sourceSize</key>
                <string>{20,14}</string>
            </dict>
            <key>assassinwoman_common_move:Bshenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{338,328},{25,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,17}}</string>
                <key>sourceSize</key>
                <string>{25,17}</string>
            </dict>
            <key>assassinwoman_common_move:Btou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{84,416},{65,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{65,44}}</string>
                <key>sourceSize</key>
                <string>{65,44}</string>
            </dict>
            <key>assassinwoman_common_move:Bweijin.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{290,371},{32,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,15}}</string>
                <key>sourceSize</key>
                <string>{32,15}</string>
            </dict>
            <key>assassinwoman_common_move:Bweiqun.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{488,320},{20,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,6}}</string>
                <key>sourceSize</key>
                <string>{20,6}</string>
            </dict>
            <key>assassinwoman_common_move:Byoudat.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{502,21},{7,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,10}}</string>
                <key>sourceSize</key>
                <string>{7,10}</string>
            </dict>
            <key>assassinwoman_common_move:Byoudat1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{347,258},{14,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,17}}</string>
                <key>sourceSize</key>
                <string>{14,17}</string>
            </dict>
            <key>assassinwoman_common_move:Byouqianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{170,360},{13,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,8}}</string>
                <key>sourceSize</key>
                <string>{13,8}</string>
            </dict>
            <key>assassinwoman_common_move:Byouxiaot.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{502,0},{6,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{6,19}}</string>
                <key>sourceSize</key>
                <string>{6,19}</string>
            </dict>
            <key>assassinwoman_common_move:Bzuodat.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{325,272},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>assassinwoman_common_move:Bzuojiao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{488,176},{22,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,20}}</string>
                <key>sourceSize</key>
                <string>{22,20}</string>
            </dict>
            <key>assassinwoman_common_move:Bzuoqianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{488,341},{16,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,9}}</string>
                <key>sourceSize</key>
                <string>{16,9}</string>
            </dict>
            <key>assassinwoman_common_move:Bzuoshou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{325,292},{12,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,11}}</string>
                <key>sourceSize</key>
                <string>{12,11}</string>
            </dict>
            <key>assassinwoman_common_move:Bzyoudat.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{325,305},{11,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,11}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>assassinwoman_common_move:Fshenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{422,391},{27,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,16}}</string>
                <key>sourceSize</key>
                <string>{27,16}</string>
            </dict>
            <key>assassinwoman_common_move:Ftou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{364,391},{56,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{56,54}}</string>
                <key>sourceSize</key>
                <string>{56,54}</string>
            </dict>
            <key>assassinwoman_common_move:asdfq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{325,318},{11,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,9}}</string>
                <key>sourceSize</key>
                <string>{11,9}</string>
            </dict>
            <key>assassinwoman_common_move:asvfga.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{348,160},{16,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,29}}</string>
                <key>sourceSize</key>
                <string>{16,29}</string>
            </dict>
            <key>assassinwoman_common_move:bfgw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{488,150},{21,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,24}}</string>
                <key>sourceSize</key>
                <string>{21,24}</string>
            </dict>
            <key>assassinwoman_common_move:bu.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{339,277},{24,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>assassinwoman_common_move:cnjhdwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{196,0},{171,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{171,125}}</string>
                <key>sourceSize</key>
                <string>{171,125}</string>
            </dict>
            <key>assassinwoman_common_move:cvdfs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{462,358},{13,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,10}}</string>
                <key>sourceSize</key>
                <string>{13,10}</string>
            </dict>
            <key>assassinwoman_common_move:f vddv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{141,260},{10,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,15}}</string>
                <key>sourceSize</key>
                <string>{10,15}</string>
            </dict>
            <key>assassinwoman_common_move:hujian.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{488,223},{19,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,18}}</string>
                <key>sourceSize</key>
                <string>{19,18}</string>
            </dict>
            <key>assassinwoman_common_move:iwe9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,260},{139,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{139,88}}</string>
                <key>sourceSize</key>
                <string>{139,88}</string>
            </dict>
            <key>assassinwoman_common_move:jiao2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{479,352},{26,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,35}}</string>
                <key>sourceSize</key>
                <string>{26,35}</string>
            </dict>
            <key>assassinwoman_common_move:jiao3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{348,127},{16,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,31}}</string>
                <key>sourceSize</key>
                <string>{16,31}</string>
            </dict>
            <key>assassinwoman_common_move:jiao5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{338,307},{25,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,19}}</string>
                <key>sourceSize</key>
                <string>{25,19}</string>
            </dict>
            <key>assassinwoman_common_move:mcjskd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{488,243},{21,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,15}}</string>
                <key>sourceSize</key>
                <string>{21,15}</string>
            </dict>
            <key>assassinwoman_common_move:mkald.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{348,216},{13,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,20}}</string>
                <key>sourceSize</key>
                <string>{13,20}</string>
            </dict>
            <key>assassinwoman_common_move:mvcsl.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{194,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{194,138}}</string>
                <key>sourceSize</key>
                <string>{194,138}</string>
            </dict>
            <key>assassinwoman_common_move:nsjdw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{369,0},{131,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{131,148}}</string>
                <key>sourceSize</key>
                <string>{131,148}</string>
            </dict>
            <key>assassinwoman_common_move:ppwnj.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{366,150},{120,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{120,145}}</string>
                <key>sourceSize</key>
                <string>{120,145}</string>
            </dict>
            <key>assassinwoman_common_move:qowpq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,140},{151,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{151,118}}</string>
                <key>sourceSize</key>
                <string>{151,118}</string>
            </dict>
            <key>assassinwoman_common_move:shenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{462,326},{24,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,18}}</string>
                <key>sourceSize</key>
                <string>{24,18}</string>
            </dict>
            <key>assassinwoman_common_move:sidai.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{422,409},{31,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,10}}</string>
                <key>sourceSize</key>
                <string>{31,10}</string>
            </dict>
            <key>assassinwoman_common_move:tou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{229,371},{59,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{59,52}}</string>
                <key>sourceSize</key>
                <string>{59,52}</string>
            </dict>
            <key>assassinwoman_common_move:vdfwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{170,371},{57,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{57,77}}</string>
                <key>sourceSize</key>
                <string>{57,77}</string>
            </dict>
            <key>assassinwoman_common_move:vdfwecs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{365,297},{95,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{95,92}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>assassinwoman_common_move:vfgbcf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{196,127},{150,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{150,127}}</string>
                <key>sourceSize</key>
                <string>{150,127}</string>
            </dict>
            <key>assassinwoman_common_move:vfgbdc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,350},{82,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{82,103}}</string>
                <key>sourceSize</key>
                <string>{82,103}</string>
            </dict>
            <key>assassinwoman_common_move:vfgwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{488,198},{18,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,23}}</string>
                <key>sourceSize</key>
                <string>{18,23}</string>
            </dict>
            <key>assassinwoman_common_move:wecsd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{192,256},{131,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{131,113}}</string>
                <key>sourceSize</key>
                <string>{131,113}</string>
            </dict>
            <key>assassinwoman_common_move:weiba.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{462,389},{35,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,34}}</string>
                <key>sourceSize</key>
                <string>{35,34}</string>
            </dict>
            <key>assassinwoman_common_move:weijin.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{290,388},{26,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,20}}</string>
                <key>sourceSize</key>
                <string>{26,20}</string>
            </dict>
            <key>assassinwoman_common_move:wuqi_1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{141,350},{27,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,62}}</string>
                <key>sourceSize</key>
                <string>{27,62}</string>
            </dict>
            <key>assassinwoman_common_move:wuqi_20.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{325,347},{37,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,68}}</string>
                <key>sourceSize</key>
                <string>{37,68}</string>
            </dict>
            <key>assassinwoman_common_move:wuqi_40.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{153,210},{37,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,68}}</string>
                <key>sourceSize</key>
                <string>{37,68}</string>
            </dict>
            <key>assassinwoman_common_move:wuqi_60.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{153,140},{37,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,68}}</string>
                <key>sourceSize</key>
                <string>{37,68}</string>
            </dict>
            <key>assassinwoman_common_move:wuqi_80.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{141,280},{37,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,68}}</string>
                <key>sourceSize</key>
                <string>{37,68}</string>
            </dict>
            <key>assassinwoman_common_move:youdatui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{348,238},{14,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,18}}</string>
                <key>sourceSize</key>
                <string>{14,18}</string>
            </dict>
            <key>assassinwoman_common_move:youhoubi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{462,346},{15,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,10}}</string>
                <key>sourceSize</key>
                <string>{15,10}</string>
            </dict>
            <key>assassinwoman_common_move:youqianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{488,328},{15,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,11}}</string>
                <key>sourceSize</key>
                <string>{15,11}</string>
            </dict>
            <key>assassinwoman_common_move:youshou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{488,305},{15,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,13}}</string>
                <key>sourceSize</key>
                <string>{15,13}</string>
            </dict>
            <key>assassinwoman_common_move:yout.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{84,350},{55,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,64}}</string>
                <key>sourceSize</key>
                <string>{55,64}</string>
            </dict>
            <key>assassinwoman_common_move:youxiaotui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{170,350},{15,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,8}}</string>
                <key>sourceSize</key>
                <string>{15,8}</string>
            </dict>
            <key>assassinwoman_common_move:youxie.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{462,297},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
            <key>assassinwoman_common_move:zuodatui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{488,287},{13,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,16}}</string>
                <key>sourceSize</key>
                <string>{13,16}</string>
            </dict>
            <key>assassinwoman_common_move:zuojiao34.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{488,260},{19,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,12}}</string>
                <key>sourceSize</key>
                <string>{19,12}</string>
            </dict>
            <key>assassinwoman_common_move:zuoxiaotui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{488,274},{18,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,11}}</string>
                <key>sourceSize</key>
                <string>{18,11}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>assassinwoman_common_move.pvr.ccz</string>
            <key>size</key>
            <string>{511,461}</string>
            <key>textureFileName</key>
            <string>assassinwoman_common_move.pvr.ccz</string>
        </dict>
    </dict>
</plist>
