<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>common_instance_entrance_104:m t1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{690,932},{105,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{105,67}}</string>
                <key>sourceSize</key>
                <string>{105,67}</string>
            </dict>
            <key>common_instance_entrance_104:m t2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{398,932},{143,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{143,104}}</string>
                <key>sourceSize</key>
                <string>{143,104}</string>
            </dict>
            <key>common_instance_entrance_104:m t3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{544,932},{143,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{143,104}}</string>
                <key>sourceSize</key>
                <string>{143,104}</string>
            </dict>
            <key>common_instance_entrance_104:m t4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{146,932},{143,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{143,104}}</string>
                <key>sourceSize</key>
                <string>{143,104}</string>
            </dict>
            <key>common_instance_entrance_104:m t5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1382,932},{143,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{143,104}}</string>
                <key>sourceSize</key>
                <string>{143,104}</string>
            </dict>
            <key>common_instance_entrance_104:m60.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{800,0},{397,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{397,230}}</string>
                <key>sourceSize</key>
                <string>{397,230}</string>
            </dict>
            <key>common_instance_entrance_104:m63.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1200,233},{397,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{397,230}}</string>
                <key>sourceSize</key>
                <string>{397,230}</string>
            </dict>
            <key>common_instance_entrance_104:m64.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1600,466},{397,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{397,230}}</string>
                <key>sourceSize</key>
                <string>{397,230}</string>
            </dict>
            <key>common_instance_entrance_104:m66.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{400,699},{397,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{397,230}}</string>
                <key>sourceSize</key>
                <string>{397,230}</string>
            </dict>
            <key>common_instance_entrance_104:m68.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{800,699},{397,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{397,230}}</string>
                <key>sourceSize</key>
                <string>{397,230}</string>
            </dict>
            <key>common_instance_entrance_104:m69.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{397,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{397,230}}</string>
                <key>sourceSize</key>
                <string>{397,230}</string>
            </dict>
            <key>common_instance_entrance_104:m70.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{800,466},{397,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{397,230}}</string>
                <key>sourceSize</key>
                <string>{397,230}</string>
            </dict>
            <key>common_instance_entrance_104:m71.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,466},{397,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{397,230}}</string>
                <key>sourceSize</key>
                <string>{397,230}</string>
            </dict>
            <key>common_instance_entrance_104:mt10.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1236,932},{143,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{143,104}}</string>
                <key>sourceSize</key>
                <string>{143,104}</string>
            </dict>
            <key>common_instance_entrance_104:mt21.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1528,999},{110,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{110,66}}</string>
                <key>sourceSize</key>
                <string>{110,66}</string>
            </dict>
            <key>common_instance_entrance_104:mt22.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{292,932},{103,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{103,70}}</string>
                <key>sourceSize</key>
                <string>{103,70}</string>
            </dict>
            <key>common_instance_entrance_104:mt23.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1810,932},{132,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{132,71}}</string>
                <key>sourceSize</key>
                <string>{132,71}</string>
            </dict>
            <key>common_instance_entrance_104:mt24.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1673,932},{134,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{134,70}}</string>
                <key>sourceSize</key>
                <string>{134,70}</string>
            </dict>
            <key>common_instance_entrance_104:mt25.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1528,932},{142,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{142,64}}</string>
                <key>sourceSize</key>
                <string>{142,64}</string>
            </dict>
            <key>common_instance_entrance_104:mt51.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1600,699},{397,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{397,230}}</string>
                <key>sourceSize</key>
                <string>{397,230}</string>
            </dict>
            <key>common_instance_entrance_104:mt52.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,233},{397,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{397,230}}</string>
                <key>sourceSize</key>
                <string>{397,230}</string>
            </dict>
            <key>common_instance_entrance_104:mt53.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1200,466},{397,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{397,230}}</string>
                <key>sourceSize</key>
                <string>{397,230}</string>
            </dict>
            <key>common_instance_entrance_104:mt54.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{800,233},{397,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{397,230}}</string>
                <key>sourceSize</key>
                <string>{397,230}</string>
            </dict>
            <key>common_instance_entrance_104:mt55.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1200,699},{397,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{397,230}}</string>
                <key>sourceSize</key>
                <string>{397,230}</string>
            </dict>
            <key>common_instance_entrance_104:mt57.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1600,233},{397,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{397,230}}</string>
                <key>sourceSize</key>
                <string>{397,230}</string>
            </dict>
            <key>common_instance_entrance_104:mt58.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,699},{397,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{397,230}}</string>
                <key>sourceSize</key>
                <string>{397,230}</string>
            </dict>
            <key>common_instance_entrance_104:mt59.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{400,466},{397,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{397,230}}</string>
                <key>sourceSize</key>
                <string>{397,230}</string>
            </dict>
            <key>common_instance_entrance_104:mt6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{798,932},{143,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{143,104}}</string>
                <key>sourceSize</key>
                <string>{143,104}</string>
            </dict>
            <key>common_instance_entrance_104:mt61.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1600,0},{397,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{397,230}}</string>
                <key>sourceSize</key>
                <string>{397,230}</string>
            </dict>
            <key>common_instance_entrance_104:mt62.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{400,233},{397,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{397,230}}</string>
                <key>sourceSize</key>
                <string>{397,230}</string>
            </dict>
            <key>common_instance_entrance_104:mt67.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1200,0},{397,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{397,230}}</string>
                <key>sourceSize</key>
                <string>{397,230}</string>
            </dict>
            <key>common_instance_entrance_104:mt69.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{400,0},{397,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{397,230}}</string>
                <key>sourceSize</key>
                <string>{397,230}</string>
            </dict>
            <key>common_instance_entrance_104:mt7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{944,932},{143,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{143,104}}</string>
                <key>sourceSize</key>
                <string>{143,104}</string>
            </dict>
            <key>common_instance_entrance_104:mt8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1090,932},{143,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{143,104}}</string>
                <key>sourceSize</key>
                <string>{143,104}</string>
            </dict>
            <key>common_instance_entrance_104:mt9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,932},{143,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{143,104}}</string>
                <key>sourceSize</key>
                <string>{143,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>common_instance_entrance_104.pvr.ccz</string>
            <key>size</key>
            <string>{1954,1078}</string>
            <key>textureFileName</key>
            <string>common_instance_entrance_104.pvr.ccz</string>
        </dict>
    </dict>
</plist>
