<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_show_huangsewenzhang_605: asadd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{322,318},{131,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{131,90}}</string>
                <key>sourceSize</key>
                <string>{131,90}</string>
            </dict>
            <key>effect_show_huangsewenzhang_605:casqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{231,381},{70,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,86}}</string>
                <key>sourceSize</key>
                <string>{70,86}</string>
            </dict>
            <key>effect_show_huangsewenzhang_605:casqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{178,0},{144,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{144,115}}</string>
                <key>sourceSize</key>
                <string>{144,115}</string>
            </dict>
            <key>effect_show_huangsewenzhang_605:casqwe5er.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{189,490},{125,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{125,78}}</string>
                <key>sourceSize</key>
                <string>{125,78}</string>
            </dict>
            <key>effect_show_huangsewenzhang_605:casqwertqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{464,0},{42,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{42,51}}</string>
                <key>sourceSize</key>
                <string>{42,51}</string>
            </dict>
            <key>effect_show_huangsewenzhang_605:casqwetq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{303,410},{129,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{129,78}}</string>
                <key>sourceSize</key>
                <string>{129,78}</string>
            </dict>
            <key>effect_show_huangsewenzhang_605:casqwety.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{256,300},{64,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{64,79}}</string>
                <key>sourceSize</key>
                <string>{64,79}</string>
            </dict>
            <key>effect_show_huangsewenzhang_605:casvbtr.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,403},{60,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{60,74}}</string>
                <key>sourceSize</key>
                <string>{60,74}</string>
            </dict>
            <key>effect_show_huangsewenzhang_605:caswqe343.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{178,117},{144,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{144,100}}</string>
                <key>sourceSize</key>
                <string>{144,100}</string>
            </dict>
            <key>effect_show_huangsewenzhang_605:iuyqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,301},{105,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{105,100}}</string>
                <key>sourceSize</key>
                <string>{105,100}</string>
            </dict>
            <key>effect_show_huangsewenzhang_605:jyqwues.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{123,219},{131,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{131,105}}</string>
                <key>sourceSize</key>
                <string>{131,105}</string>
            </dict>
            <key>effect_show_huangsewenzhang_605:kciasqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,178},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>effect_show_huangsewenzhang_605:njmty565.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{324,119},{146,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{146,96}}</string>
                <key>sourceSize</key>
                <string>{146,96}</string>
            </dict>
            <key>effect_show_huangsewenzhang_605:uycasqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{434,410},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>effect_show_huangsewenzhang_605:vaswer.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{256,219},{64,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{64,79}}</string>
                <key>sourceSize</key>
                <string>{64,79}</string>
            </dict>
            <key>effect_show_huangsewenzhang_605:vdsvsbsd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{176,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{176,176}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>effect_show_huangsewenzhang_605:vrt56.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{324,0},{138,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{138,117}}</string>
                <key>sourceSize</key>
                <string>{138,117}</string>
            </dict>
            <key>effect_show_huangsewenzhang_605:xacasqweq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{62,421},{125,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{125,80}}</string>
                <key>sourceSize</key>
                <string>{125,80}</string>
            </dict>
            <key>effect_show_huangsewenzhang_605:xcasqweqqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{324,217},{139,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{139,99}}</string>
                <key>sourceSize</key>
                <string>{139,99}</string>
            </dict>
            <key>effect_show_huangsewenzhang_605:xcscrte.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{107,326},{122,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{122,93}}</string>
                <key>sourceSize</key>
                <string>{122,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_show_huangsewenzhang_605.pvr.ccz</string>
            <key>size</key>
            <string>{498,565}</string>
            <key>textureFileName</key>
            <string>effect_show_huangsewenzhang_605.pvr.ccz</string>
        </dict>
    </dict>
</plist>
