<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_show_niumowang_604:bcvbc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{929,571},{46,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,39}}</string>
                <key>sourceSize</key>
                <string>{46,39}</string>
            </dict>
            <key>effect_show_niumowang_604:bvbcbc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{643,557},{64,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{64,53}}</string>
                <key>sourceSize</key>
                <string>{64,53}</string>
            </dict>
            <key>effect_show_niumowang_604:d1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{996,530},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>effect_show_niumowang_604:d2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{890,601},{29,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,28}}</string>
                <key>sourceSize</key>
                <string>{29,28}</string>
            </dict>
            <key>effect_show_niumowang_604:d3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,589},{38,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,36}}</string>
                <key>sourceSize</key>
                <string>{38,36}</string>
            </dict>
            <key>effect_show_niumowang_604:d4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{80,589},{36,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{36,34}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
            <key>effect_show_niumowang_604:d5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{40,589},{38,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,35}}</string>
                <key>sourceSize</key>
                <string>{38,35}</string>
            </dict>
            <key>effect_show_niumowang_604:d6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{944,271},{66,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{66,75}}</string>
                <key>sourceSize</key>
                <string>{66,75}</string>
            </dict>
            <key>effect_show_niumowang_604:d7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{966,220},{43,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,49}}</string>
                <key>sourceSize</key>
                <string>{43,49}</string>
            </dict>
            <key>effect_show_niumowang_604:d8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{944,348},{62,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{62,70}}</string>
                <key>sourceSize</key>
                <string>{62,70}</string>
            </dict>
            <key>effect_show_niumowang_604:d9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{968,58},{45,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,53}}</string>
                <key>sourceSize</key>
                <string>{45,53}</string>
            </dict>
            <key>effect_show_niumowang_604:dasda/d1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{968,167},{44,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{44,51}}</string>
                <key>sourceSize</key>
                <string>{44,51}</string>
            </dict>
            <key>effect_show_niumowang_604:dasda/d2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{890,555},{37,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,44}}</string>
                <key>sourceSize</key>
                <string>{37,44}</string>
            </dict>
            <key>effect_show_niumowang_604:dasda/d3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{968,0},{46,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{46,56}</string>
            </dict>
            <key>effect_show_niumowang_604:dasda/d4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{968,113},{45,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,52}}</string>
                <key>sourceSize</key>
                <string>{45,52}</string>
            </dict>
            <key>effect_show_niumowang_604:dasda/d5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{933,503},{61,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{61,66}}</string>
                <key>sourceSize</key>
                <string>{61,66}</string>
            </dict>
            <key>effect_show_niumowang_604:jiao1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{559,185},{22,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,31}}</string>
                <key>sourceSize</key>
                <string>{22,31}</string>
            </dict>
            <key>effect_show_niumowang_604:kudang1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{559,218},{23,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,13}}</string>
                <key>sourceSize</key>
                <string>{23,13}</string>
            </dict>
            <key>effect_show_niumowang_604:kuijia1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{944,187},{20,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,25}}</string>
                <key>sourceSize</key>
                <string>{20,25}</string>
            </dict>
            <key>effect_show_niumowang_604:kuijian2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{368,172},{15,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,22}}</string>
                <key>sourceSize</key>
                <string>{15,22}</string>
            </dict>
            <key>effect_show_niumowang_604:nbnvbn.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,676},{243,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{243,38}}</string>
                <key>sourceSize</key>
                <string>{243,38}</string>
            </dict>
            <key>effect_show_niumowang_604:nvbnvn.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{933,420},{83,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{83,81}}</string>
                <key>sourceSize</key>
                <string>{83,81}</string>
            </dict>
            <key>effect_show_niumowang_604:o1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{762,187},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>effect_show_niumowang_604:o10.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{169,518},{191,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{191,156}}</string>
                <key>sourceSize</key>
                <string>{191,156}</string>
            </dict>
            <key>effect_show_niumowang_604:o11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{369,376},{182,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{182,165}}</string>
                <key>sourceSize</key>
                <string>{182,165}</string>
            </dict>
            <key>effect_show_niumowang_604:o12.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{584,183},{176,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{176,185}}</string>
                <key>sourceSize</key>
                <string>{176,185}</string>
            </dict>
            <key>effect_show_niumowang_604:o13.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,221},{168,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{168,187}}</string>
                <key>sourceSize</key>
                <string>{168,187}</string>
            </dict>
            <key>effect_show_niumowang_604:o15.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{559,370},{166,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{166,185}}</string>
                <key>sourceSize</key>
                <string>{166,185}</string>
            </dict>
            <key>effect_show_niumowang_604:o16.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{762,369},{169,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{169,184}}</string>
                <key>sourceSize</key>
                <string>{169,184}</string>
            </dict>
            <key>effect_show_niumowang_604:o19.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{385,185},{172,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{172,189}}</string>
                <key>sourceSize</key>
                <string>{172,189}</string>
            </dict>
            <key>effect_show_niumowang_604:o2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,410},{167,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{167,177}}</string>
                <key>sourceSize</key>
                <string>{167,177}</string>
            </dict>
            <key>effect_show_niumowang_604:o20.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{362,543},{178,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{178,169}}</string>
                <key>sourceSize</key>
                <string>{178,169}</string>
            </dict>
            <key>effect_show_niumowang_604:o3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{178,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{178,219}}</string>
                <key>sourceSize</key>
                <string>{178,219}</string>
            </dict>
            <key>effect_show_niumowang_604:o4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{180,172},{186,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{186,184}}</string>
                <key>sourceSize</key>
                <string>{186,184}</string>
            </dict>
            <key>effect_show_niumowang_604:o5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{778,0},{188,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{188,185}}</string>
                <key>sourceSize</key>
                <string>{188,185}</string>
            </dict>
            <key>effect_show_niumowang_604:o6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{584,0},{192,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{192,181}}</string>
                <key>sourceSize</key>
                <string>{192,181}</string>
            </dict>
            <key>effect_show_niumowang_604:o7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{389,0},{193,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{193,183}}</string>
                <key>sourceSize</key>
                <string>{193,183}</string>
            </dict>
            <key>effect_show_niumowang_604:o8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{180,0},{207,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{207,170}}</string>
                <key>sourceSize</key>
                <string>{207,170}</string>
            </dict>
            <key>effect_show_niumowang_604:o9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{170,358},{197,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{197,158}}</string>
                <key>sourceSize</key>
                <string>{197,158}</string>
            </dict>
            <key>effect_show_niumowang_604:pifeng1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{542,557},{99,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{99,60}}</string>
                <key>sourceSize</key>
                <string>{99,60}</string>
            </dict>
            <key>effect_show_niumowang_604:q1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{996,503},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>effect_show_niumowang_604:q10.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{727,370},{30,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,38}}</string>
                <key>sourceSize</key>
                <string>{30,38}</string>
            </dict>
            <key>effect_show_niumowang_604:q2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{673,612},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>effect_show_niumowang_604:q3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{643,612},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>effect_show_niumowang_604:q4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{118,589},{29,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,28}}</string>
                <key>sourceSize</key>
                <string>{29,28}</string>
            </dict>
            <key>effect_show_niumowang_604:q5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{727,519},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>effect_show_niumowang_604:q7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{727,487},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>effect_show_niumowang_604:q9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{727,410},{30,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,36}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>effect_show_niumowang_604:shenti1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{977,583},{45,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,31}}</string>
                <key>sourceSize</key>
                <string>{45,31}</string>
            </dict>
            <key>effect_show_niumowang_604:shou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{727,551},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,28}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
            <key>effect_show_niumowang_604:shou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{727,448},{24,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,37}}</string>
                <key>sourceSize</key>
                <string>{24,37}</string>
            </dict>
            <key>effect_show_niumowang_604:tou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{709,581},{34,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,44}}</string>
                <key>sourceSize</key>
                <string>{34,44}</string>
            </dict>
            <key>effect_show_niumowang_604:tui1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{996,557},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>effect_show_niumowang_604:tui2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{944,214},{20,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,23}}</string>
                <key>sourceSize</key>
                <string>{20,23}</string>
            </dict>
            <key>effect_show_niumowang_604:vbnvnvn.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{921,612},{28,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,23}}</string>
                <key>sourceSize</key>
                <string>{28,23}</string>
            </dict>
            <key>effect_show_niumowang_604:vvxvxxcx.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{759,555},{129,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{129,131}}</string>
                <key>sourceSize</key>
                <string>{129,131}</string>
            </dict>
            <key>effect_show_niumowang_604:weijing.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{951,616},{30,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,14}}</string>
                <key>sourceSize</key>
                <string>{30,14}</string>
            </dict>
            <key>effect_show_niumowang_604:yaodai1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{983,616},{26,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,14}}</string>
                <key>sourceSize</key>
                <string>{26,14}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_show_niumowang_604.pvr.ccz</string>
            <key>size</key>
            <string>{1023,722}</string>
            <key>textureFileName</key>
            <string>effect_show_niumowang_604.pvr.ccz</string>
        </dict>
    </dict>
</plist>
