<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_whirlstorm2_198:basaw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{373,0},{137,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{137,98}}</string>
                <key>sourceSize</key>
                <string>{137,98}</string>
            </dict>
            <key>effect_whirlstorm2_198:loaws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{197,0},{174,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{174,177}}</string>
                <key>sourceSize</key>
                <string>{174,177}</string>
            </dict>
            <key>effect_whirlstorm2_198:lui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{197,179},{168,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{168,100}}</string>
                <key>sourceSize</key>
                <string>{168,100}</string>
            </dict>
            <key>effect_whirlstorm2_198:mkaws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{373,158},{60,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{60,63}}</string>
                <key>sourceSize</key>
                <string>{60,63}</string>
            </dict>
            <key>effect_whirlstorm2_198:mkvawaq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,205},{181,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{181,98}}</string>
                <key>sourceSize</key>
                <string>{181,98}</string>
            </dict>
            <key>effect_whirlstorm2_198:vase.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{373,100},{136,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{136,56}}</string>
                <key>sourceSize</key>
                <string>{136,56}</string>
            </dict>
            <key>effect_whirlstorm2_198:vaswe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{195,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{195,203}}</string>
                <key>sourceSize</key>
                <string>{195,203}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_whirlstorm2_198.pvr.ccz</string>
            <key>size</key>
            <string>{511,292}</string>
            <key>textureFileName</key>
            <string>effect_whirlstorm2_198.pvr.ccz</string>
        </dict>
    </dict>
</plist>
