<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_halfmoon_183:basdw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{122,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{122,183}}</string>
                <key>sourceSize</key>
                <string>{122,183}</string>
            </dict>
            <key>effect_halfmoon_183:bawse.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{67,207},{184,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{184,110}}</string>
                <key>sourceSize</key>
                <string>{184,110}</string>
            </dict>
            <key>effect_halfmoon_183:ttbbrt.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{191,103},{63,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{63,87}}</string>
                <key>sourceSize</key>
                <string>{63,87}</string>
            </dict>
            <key>effect_halfmoon_183:ttkiws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,285},{65,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{65,96}}</string>
                <key>sourceSize</key>
                <string>{65,96}</string>
            </dict>
            <key>effect_halfmoon_183:ttnmty.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,185},{65,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{65,98}}</string>
                <key>sourceSize</key>
                <string>{65,98}</string>
            </dict>
            <key>effect_halfmoon_183:ttopqwv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{124,103},{65,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{65,102}}</string>
                <key>sourceSize</key>
                <string>{65,102}</string>
            </dict>
            <key>effect_halfmoon_183:ttqwawr.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{67,319},{64,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{64,96}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>effect_halfmoon_183:ttvwtq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{124,0},{68,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,101}}</string>
                <key>sourceSize</key>
                <string>{68,101}</string>
            </dict>
            <key>effect_halfmoon_183:vase67.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{133,319},{66,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{66,90}}</string>
                <key>sourceSize</key>
                <string>{66,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_halfmoon_183.pvr.ccz</string>
            <key>size</key>
            <string>{256,423}</string>
            <key>textureFileName</key>
            <string>effect_halfmoon_183.pvr.ccz</string>
        </dict>
    </dict>
</plist>
