<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_yanqiu_248:cab.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{130,0},{72,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{72,50}}</string>
                <key>sourceSize</key>
                <string>{72,50}</string>
            </dict>
            <key>effect_yanqiu_248:kiueq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{128,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{128,80}}</string>
                <key>sourceSize</key>
                <string>{128,80}</string>
            </dict>
            <key>effect_yanqiu_248:qwj.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{204,0},{36,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{36,33}}</string>
                <key>sourceSize</key>
                <string>{36,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_yanqiu_248.pvr.ccz</string>
            <key>size</key>
            <string>{240,79}</string>
            <key>textureFileName</key>
            <string>effect_yanqiu_248.pvr.ccz</string>
        </dict>
    </dict>
</plist>
