<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_bigfire_234:bbrt.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{161,257},{158,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{158,217}}</string>
                <key>sourceSize</key>
                <string>{158,217}</string>
            </dict>
            <key>effect_bigfire_234:kiws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{335,245},{161,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{161,238}}</string>
                <key>sourceSize</key>
                <string>{161,238}</string>
            </dict>
            <key>effect_bigfire_234:nmty.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{335,0},{163,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{163,243}}</string>
                <key>sourceSize</key>
                <string>{163,243}</string>
            </dict>
            <key>effect_bigfire_234:opqwv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{171,0},{162,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{162,255}}</string>
                <key>sourceSize</key>
                <string>{162,255}</string>
            </dict>
            <key>effect_bigfire_234:qwawr.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,253},{159,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{159,240}}</string>
                <key>sourceSize</key>
                <string>{159,240}</string>
            </dict>
            <key>effect_bigfire_234:vwtq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{169,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{169,251}}</string>
                <key>sourceSize</key>
                <string>{169,251}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_bigfire_234.pvr.ccz</string>
            <key>size</key>
            <string>{495,496}</string>
            <key>textureFileName</key>
            <string>effect_bigfire_234.pvr.ccz</string>
        </dict>
    </dict>
</plist>
