<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_redrock_193:a211.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,271},{166,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{166,85}}</string>
                <key>sourceSize</key>
                <string>{166,85}</string>
            </dict>
            <key>effect_redrock_193:a41.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{289,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{289,164}}</string>
                <key>sourceSize</key>
                <string>{289,164}</string>
            </dict>
            <key>effect_redrock_193:asdjfia.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{480,212},{14,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,23}}</string>
                <key>sourceSize</key>
                <string>{14,23}</string>
            </dict>
            <key>effect_redrock_193:h3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{168,271},{99,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{99,108}}</string>
                <key>sourceSize</key>
                <string>{99,108}</string>
            </dict>
            <key>effect_redrock_193:huo1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,442},{146,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{146,51}}</string>
                <key>sourceSize</key>
                <string>{146,51}</string>
            </dict>
            <key>effect_redrock_193:l1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{129,381},{134,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{134,59}}</string>
                <key>sourceSize</key>
                <string>{134,59}</string>
            </dict>
            <key>effect_redrock_193:l2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,358},{127,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{127,77}}</string>
                <key>sourceSize</key>
                <string>{127,77}</string>
            </dict>
            <key>effect_redrock_193:l3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{269,311},{127,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{127,77}}</string>
                <key>sourceSize</key>
                <string>{127,77}</string>
            </dict>
            <key>effect_redrock_193:n1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{265,390},{104,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{104,72}}</string>
                <key>sourceSize</key>
                <string>{104,72}</string>
            </dict>
            <key>effect_redrock_193:n3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{207,166},{74,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{74,65}}</string>
                <key>sourceSize</key>
                <string>{74,65}</string>
            </dict>
            <key>effect_redrock_193:s1a.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{291,106},{205,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{205,104}}</string>
                <key>sourceSize</key>
                <string>{205,104}</string>
            </dict>
            <key>effect_redrock_193:s2a.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{398,311},{105,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{105,97}}</string>
                <key>sourceSize</key>
                <string>{105,97}</string>
            </dict>
            <key>effect_redrock_193:s3a.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{283,212},{195,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{195,97}}</string>
                <key>sourceSize</key>
                <string>{195,97}</string>
            </dict>
            <key>effect_redrock_193:s41.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,166},{205,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{205,103}}</string>
                <key>sourceSize</key>
                <string>{205,103}</string>
            </dict>
            <key>effect_redrock_193:s51.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{291,0},{205,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{205,104}}</string>
                <key>sourceSize</key>
                <string>{205,104}</string>
            </dict>
            <key>effect_redrock_193:z1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{371,410},{78,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{78,55}}</string>
                <key>sourceSize</key>
                <string>{78,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_redrock_193.pvr.ccz</string>
            <key>size</key>
            <string>{500,511}</string>
            <key>textureFileName</key>
            <string>effect_redrock_193.pvr.ccz</string>
        </dict>
    </dict>
</plist>
