<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_fairy_fengbaojulong_135:s1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{351,366},{105,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{105,57}}</string>
                <key>sourceSize</key>
                <string>{105,57}</string>
            </dict>
            <key>effect_fairy_fengbaojulong_135:s2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,408},{77,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{77,67}}</string>
                <key>sourceSize</key>
                <string>{77,67}</string>
            </dict>
            <key>effect_fairy_fengbaojulong_135:s3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{101,407},{84,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{84,66}}</string>
                <key>sourceSize</key>
                <string>{84,66}</string>
            </dict>
            <key>effect_fairy_fengbaojulong_135:s5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{370,251},{98,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{98,112}}</string>
                <key>sourceSize</key>
                <string>{98,112}</string>
            </dict>
            <key>effect_fairy_fengbaojulong_135:s6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,293},{98,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{98,112}}</string>
                <key>sourceSize</key>
                <string>{98,112}</string>
            </dict>
            <key>effect_fairy_fengbaojulong_135:w1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{210,381},{79,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{79,78}}</string>
                <key>sourceSize</key>
                <string>{79,78}</string>
            </dict>
            <key>effect_fairy_fengbaojulong_135:w10.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{371,127},{133,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{133,121}}</string>
                <key>sourceSize</key>
                <string>{133,121}</string>
            </dict>
            <key>effect_fairy_fengbaojulong_135:w11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,165},{151,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{151,125}}</string>
                <key>sourceSize</key>
                <string>{151,125}</string>
            </dict>
            <key>effect_fairy_fengbaojulong_135:w12.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{191,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{191,162}}</string>
                <key>sourceSize</key>
                <string>{191,162}</string>
            </dict>
            <key>effect_fairy_fengbaojulong_135:w13.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{371,0},{132,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{132,124}}</string>
                <key>sourceSize</key>
                <string>{132,124}</string>
            </dict>
            <key>effect_fairy_fengbaojulong_135:w2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{269,300},{79,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{79,78}}</string>
                <key>sourceSize</key>
                <string>{79,78}</string>
            </dict>
            <key>effect_fairy_fengbaojulong_135:w3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{269,179},{98,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{98,118}}</string>
                <key>sourceSize</key>
                <string>{98,118}</string>
            </dict>
            <key>effect_fairy_fengbaojulong_135:w5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{154,179},{112,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{112,121}}</string>
                <key>sourceSize</key>
                <string>{112,121}</string>
            </dict>
            <key>effect_fairy_fengbaojulong_135:w8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{101,303},{106,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{106,101}}</string>
                <key>sourceSize</key>
                <string>{106,101}</string>
            </dict>
            <key>effect_fairy_fengbaojulong_135:w9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{194,0},{174,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{174,176}}</string>
                <key>sourceSize</key>
                <string>{174,176}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_fairy_fengbaojulong_135.pvr.ccz</string>
            <key>size</key>
            <string>{496,474}</string>
            <key>textureFileName</key>
            <string>effect_fairy_fengbaojulong_135.pvr.ccz</string>
        </dict>
    </dict>
</plist>
