<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_fairy_xuediao_126:23f.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{222,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{222,80}}</string>
                <key>sourceSize</key>
                <string>{222,80}</string>
            </dict>
            <key>effect_fairy_xuediao_126:VFHV.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{151,82},{67,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{67,28}}</string>
                <key>sourceSize</key>
                <string>{67,28}</string>
            </dict>
            <key>effect_fairy_xuediao_126:asdjfia.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{469,0},{31,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,49}}</string>
                <key>sourceSize</key>
                <string>{31,49}</string>
            </dict>
            <key>effect_fairy_xuediao_126:bgnt.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{150,227},{148,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{148,62}}</string>
                <key>sourceSize</key>
                <string>{148,62}</string>
            </dict>
            <key>effect_fairy_xuediao_126:bwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{300,256},{118,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{118,50}}</string>
                <key>sourceSize</key>
                <string>{118,50}</string>
            </dict>
            <key>effect_fairy_xuediao_126:bwes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{138,291},{86,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{86,43}}</string>
                <key>sourceSize</key>
                <string>{86,43}</string>
            </dict>
            <key>effect_fairy_xuediao_126:cawev.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{407,0},{60,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{60,117}}</string>
                <key>sourceSize</key>
                <string>{60,117}</string>
            </dict>
            <key>effect_fairy_xuediao_126:ioy.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,166},{148,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{148,78}}</string>
                <key>sourceSize</key>
                <string>{148,78}</string>
            </dict>
            <key>effect_fairy_xuediao_126:liop.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{224,81},{157,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{157,87}}</string>
                <key>sourceSize</key>
                <string>{157,87}</string>
            </dict>
            <key>effect_fairy_xuediao_126:lopq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,246},{136,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{136,53}}</string>
                <key>sourceSize</key>
                <string>{136,53}</string>
            </dict>
            <key>effect_fairy_xuediao_126:nngy.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{383,119},{117,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{117,55}}</string>
                <key>sourceSize</key>
                <string>{117,55}</string>
            </dict>
            <key>effect_fairy_xuediao_126:oplou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{150,170},{166,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{166,55}}</string>
                <key>sourceSize</key>
                <string>{166,55}</string>
            </dict>
            <key>effect_fairy_xuediao_126:vas.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,82},{149,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{149,82}}</string>
                <key>sourceSize</key>
                <string>{149,82}</string>
            </dict>
            <key>effect_fairy_xuediao_126:vase.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{318,176},{141,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{141,78}}</string>
                <key>sourceSize</key>
                <string>{141,78}</string>
            </dict>
            <key>effect_fairy_xuediao_126:vnb.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{420,256},{82,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{82,54}}</string>
                <key>sourceSize</key>
                <string>{82,54}</string>
            </dict>
            <key>effect_fairy_xuediao_126:vwq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{224,0},{181,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{181,79}}</string>
                <key>sourceSize</key>
                <string>{181,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_fairy_xuediao_126.pvr.ccz</string>
            <key>size</key>
            <string>{506,334}</string>
            <key>textureFileName</key>
            <string>effect_fairy_xuediao_126.pvr.ccz</string>
        </dict>
    </dict>
</plist>
