<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_blackball_156:545.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{133,0},{129,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{129,209}}</string>
                <key>sourceSize</key>
                <string>{129,209}</string>
            </dict>
            <key>effect_blackball_156:basw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{391,0},{110,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{110,198}}</string>
                <key>sourceSize</key>
                <string>{110,198}</string>
            </dict>
            <key>effect_blackball_156:cawwes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{259,215},{121,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{121,185}}</string>
                <key>sourceSize</key>
                <string>{121,185}</string>
            </dict>
            <key>effect_blackball_156:kvaw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,211},{128,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{128,199}}</string>
                <key>sourceSize</key>
                <string>{128,199}</string>
            </dict>
            <key>effect_blackball_156:mvjse.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{265,0},{123,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{123,212}}</string>
                <key>sourceSize</key>
                <string>{123,212}</string>
            </dict>
            <key>effect_blackball_156:qwese.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{130,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{130,208}}</string>
                <key>sourceSize</key>
                <string>{130,208}</string>
            </dict>
            <key>effect_blackball_156:vase.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{391,201},{111,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{111,195}}</string>
                <key>sourceSize</key>
                <string>{111,195}</string>
            </dict>
            <key>effect_blackball_156:vaswb3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{131,212},{125,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{125,188}}</string>
                <key>sourceSize</key>
                <string>{125,188}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_blackball_156.pvr.ccz</string>
            <key>size</key>
            <string>{501,417}</string>
            <key>textureFileName</key>
            <string>effect_blackball_156.pvr.ccz</string>
        </dict>
    </dict>
</plist>
