<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_apocalypse_114:a1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{186,226},{105,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{105,57}}</string>
                <key>sourceSize</key>
                <string>{105,57}</string>
            </dict>
            <key>effect_apocalypse_114:a10.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{300,0},{97,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{97,117}}</string>
                <key>sourceSize</key>
                <string>{97,117}</string>
            </dict>
            <key>effect_apocalypse_114:a11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{200,0},{97,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{97,119}}</string>
                <key>sourceSize</key>
                <string>{97,119}</string>
            </dict>
            <key>effect_apocalypse_114:a12.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{100,0},{97,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{97,123}}</string>
                <key>sourceSize</key>
                <string>{97,123}</string>
            </dict>
            <key>effect_apocalypse_114:a13.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{97,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{97,124}}</string>
                <key>sourceSize</key>
                <string>{97,124}</string>
            </dict>
            <key>effect_apocalypse_114:a14.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{400,0},{98,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{98,112}}</string>
                <key>sourceSize</key>
                <string>{98,112}</string>
            </dict>
            <key>effect_apocalypse_114:a15.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{85,220},{98,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{98,112}}</string>
                <key>sourceSize</key>
                <string>{98,112}</string>
            </dict>
            <key>effect_apocalypse_114:a16.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{400,115},{98,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{98,112}}</string>
                <key>sourceSize</key>
                <string>{98,112}</string>
            </dict>
            <key>effect_apocalypse_114:a2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{384,230},{77,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{77,67}}</string>
                <key>sourceSize</key>
                <string>{77,67}</string>
            </dict>
            <key>effect_apocalypse_114:a3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{297,225},{84,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{84,66}}</string>
                <key>sourceSize</key>
                <string>{84,66}</string>
            </dict>
            <key>effect_apocalypse_114:a4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{186,286},{77,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{77,63}}</string>
                <key>sourceSize</key>
                <string>{77,63}</string>
            </dict>
            <key>effect_apocalypse_114:a5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,222},{79,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{79,78}}</string>
                <key>sourceSize</key>
                <string>{79,78}</string>
            </dict>
            <key>effect_apocalypse_114:a6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{100,126},{92,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{92,91}}</string>
                <key>sourceSize</key>
                <string>{92,91}</string>
            </dict>
            <key>effect_apocalypse_114:a7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,127},{82,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{82,92}}</string>
                <key>sourceSize</key>
                <string>{82,92}</string>
            </dict>
            <key>effect_apocalypse_114:a8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{200,122},{94,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{94,101}}</string>
                <key>sourceSize</key>
                <string>{94,101}</string>
            </dict>
            <key>effect_apocalypse_114:a9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{300,120},{97,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{97,102}}</string>
                <key>sourceSize</key>
                <string>{97,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_apocalypse_114.pvr.ccz</string>
            <key>size</key>
            <string>{494,349}</string>
            <key>textureFileName</key>
            <string>effect_apocalypse_114.pvr.ccz</string>
        </dict>
    </dict>
</plist>
