<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_punch_228:awtq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{44,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{44,41}}</string>
                <key>sourceSize</key>
                <string>{44,41}</string>
            </dict>
            <key>effect_punch_228:bde.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,44},{32,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,52}}</string>
                <key>sourceSize</key>
                <string>{32,52}</string>
            </dict>
            <key>effect_punch_228:kicasw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,99},{32,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,52}}</string>
                <key>sourceSize</key>
                <string>{32,52}</string>
            </dict>
            <key>effect_punch_228:lpqws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{70,55},{32,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,52}}</string>
                <key>sourceSize</key>
                <string>{32,52}</string>
            </dict>
            <key>effect_punch_228:qwsawe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{70,110},{32,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,52}}</string>
                <key>sourceSize</key>
                <string>{32,52}</string>
            </dict>
            <key>effect_punch_228:vawwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{82,0},{32,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,52}}</string>
                <key>sourceSize</key>
                <string>{32,52}</string>
            </dict>
            <key>effect_punch_228:vbawq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{35,55},{32,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,52}}</string>
                <key>sourceSize</key>
                <string>{32,52}</string>
            </dict>
            <key>effect_punch_228:vqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{35,110},{32,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,52}}</string>
                <key>sourceSize</key>
                <string>{32,52}</string>
            </dict>
            <key>effect_punch_228:vsder.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{47,0},{32,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,52}}</string>
                <key>sourceSize</key>
                <string>{32,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_punch_228.pvr.ccz</string>
            <key>size</key>
            <string>{118,162}</string>
            <key>textureFileName</key>
            <string>effect_punch_228.pvr.ccz</string>
        </dict>
    </dict>
</plist>
