<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_show_lvpiren_602:beibao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{866,462},{91,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{91,77}}</string>
                <key>sourceSize</key>
                <string>{91,77}</string>
            </dict>
            <key>effect_show_lvpiren_602:beidai2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2029,0},{11,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,33}}</string>
                <key>sourceSize</key>
                <string>{11,33}</string>
            </dict>
            <key>effect_show_lvpiren_602:beidao1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{444,225},{18,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,38}}</string>
                <key>sourceSize</key>
                <string>{18,38}</string>
            </dict>
            <key>effect_show_lvpiren_602:jiao1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2012,400},{34,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,26}}</string>
                <key>sourceSize</key>
                <string>{34,26}</string>
            </dict>
            <key>effect_show_lvpiren_602:jiao2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{946,230},{29,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,24}}</string>
                <key>sourceSize</key>
                <string>{29,24}</string>
            </dict>
            <key>effect_show_lvpiren_602:kuzi1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1893,489},{66,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{66,43}}</string>
                <key>sourceSize</key>
                <string>{66,43}</string>
            </dict>
            <key>effect_show_lvpiren_602:nbnvnbj.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1413,464},{243,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{243,38}}</string>
                <key>sourceSize</key>
                <string>{243,38}</string>
            </dict>
            <key>effect_show_lvpiren_602:o1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1904,400},{106,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{106,87}}</string>
                <key>sourceSize</key>
                <string>{106,87}</string>
            </dict>
            <key>effect_show_lvpiren_602:o2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1904,311},{126,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{126,87}}</string>
                <key>sourceSize</key>
                <string>{126,87}</string>
            </dict>
            <key>effect_show_lvpiren_602:o3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{713,462},{151,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{151,132}}</string>
                <key>sourceSize</key>
                <string>{151,132}</string>
            </dict>
            <key>effect_show_lvpiren_602:o4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1906,163},{121,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{121,146}}</string>
                <key>sourceSize</key>
                <string>{121,146}</string>
            </dict>
            <key>effect_show_lvpiren_602:o5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1906,0},{121,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{121,161}}</string>
                <key>sourceSize</key>
                <string>{121,161}</string>
            </dict>
            <key>effect_show_lvpiren_602:p1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{959,463},{57,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{57,94}}</string>
                <key>sourceSize</key>
                <string>{57,94}</string>
            </dict>
            <key>effect_show_lvpiren_602:p2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{654,441},{57,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{57,98}}</string>
                <key>sourceSize</key>
                <string>{57,98}</string>
            </dict>
            <key>effect_show_lvpiren_602:p3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1131,463},{55,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,89}}</string>
                <key>sourceSize</key>
                <string>{55,89}</string>
            </dict>
            <key>effect_show_lvpiren_602:p6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1018,463},{54,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{54,93}}</string>
                <key>sourceSize</key>
                <string>{54,93}</string>
            </dict>
            <key>effect_show_lvpiren_602:p9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1074,463},{55,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,90}}</string>
                <key>sourceSize</key>
                <string>{55,90}</string>
            </dict>
            <key>effect_show_lvpiren_602:shenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1961,489},{51,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{51,49}}</string>
                <key>sourceSize</key>
                <string>{51,49}</string>
            </dict>
            <key>effect_show_lvpiren_602:shobi4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{702,214},{30,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,43}}</string>
                <key>sourceSize</key>
                <string>{30,43}</string>
            </dict>
            <key>effect_show_lvpiren_602:shoubi1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{47,499},{49,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{49,41}}</string>
                <key>sourceSize</key>
                <string>{49,41}</string>
            </dict>
            <key>effect_show_lvpiren_602:shoubi2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{98,499},{43,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,47}}</string>
                <key>sourceSize</key>
                <string>{43,47}</string>
            </dict>
            <key>effect_show_lvpiren_602:shoubi3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{702,259},{30,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,34}}</string>
                <key>sourceSize</key>
                <string>{30,34}</string>
            </dict>
            <key>effect_show_lvpiren_602:tou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,499},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>effect_show_lvpiren_602:u1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{475,214},{225,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{225,225}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>effect_show_lvpiren_602:u10.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{475,0},{257,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{257,212}}</string>
                <key>sourceSize</key>
                <string>{257,212}</string>
            </dict>
            <key>effect_show_lvpiren_602:u11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1189,233},{246,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{246,197}}</string>
                <key>sourceSize</key>
                <string>{246,197}</string>
            </dict>
            <key>effect_show_lvpiren_602:u14.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1664,238},{238,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{238,195}}</string>
                <key>sourceSize</key>
                <string>{238,195}</string>
            </dict>
            <key>effect_show_lvpiren_602:u15.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1664,435},{227,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{227,205}}</string>
                <key>sourceSize</key>
                <string>{227,205}</string>
            </dict>
            <key>effect_show_lvpiren_602:u16.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{223,225},{219,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{219,231}}</string>
                <key>sourceSize</key>
                <string>{219,231}</string>
            </dict>
            <key>effect_show_lvpiren_602:u18.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{977,228},{210,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{210,233}}</string>
                <key>sourceSize</key>
                <string>{210,233}</string>
            </dict>
            <key>effect_show_lvpiren_602:u19.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1455,231},{207,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{207,231}}</string>
                <key>sourceSize</key>
                <string>{207,231}</string>
            </dict>
            <key>effect_show_lvpiren_602:u2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{444,441},{208,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{208,221}}</string>
                <key>sourceSize</key>
                <string>{208,221}</string>
            </dict>
            <key>effect_show_lvpiren_602:u20.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{734,230},{210,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{210,230}}</string>
                <key>sourceSize</key>
                <string>{210,230}</string>
            </dict>
            <key>effect_show_lvpiren_602:u21.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1689,0},{215,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{215,236}}</string>
                <key>sourceSize</key>
                <string>{215,236}</string>
            </dict>
            <key>effect_show_lvpiren_602:u22.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1189,432},{222,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{222,211}}</string>
                <key>sourceSize</key>
                <string>{222,211}</string>
            </dict>
            <key>effect_show_lvpiren_602:u24.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{214,458},{214,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{214,206}}</string>
                <key>sourceSize</key>
                <string>{214,206}</string>
            </dict>
            <key>effect_show_lvpiren_602:u3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,276},{212,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{212,221}}</string>
                <key>sourceSize</key>
                <string>{212,221}</string>
            </dict>
            <key>effect_show_lvpiren_602:u4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{221,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{221,274}}</string>
                <key>sourceSize</key>
                <string>{221,274}</string>
            </dict>
            <key>effect_show_lvpiren_602:u5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1455,0},{232,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{232,229}}</string>
                <key>sourceSize</key>
                <string>{232,229}</string>
            </dict>
            <key>effect_show_lvpiren_602:u6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1219,0},{234,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{234,231}}</string>
                <key>sourceSize</key>
                <string>{234,231}</string>
            </dict>
            <key>effect_show_lvpiren_602:u7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{977,0},{240,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{240,226}}</string>
                <key>sourceSize</key>
                <string>{240,226}</string>
            </dict>
            <key>effect_show_lvpiren_602:u8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{734,0},{241,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{241,228}}</string>
                <key>sourceSize</key>
                <string>{241,228}</string>
            </dict>
            <key>effect_show_lvpiren_602:u9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{223,0},{250,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{250,223}}</string>
                <key>sourceSize</key>
                <string>{250,223}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_show_lvpiren_602.pvr.ccz</string>
            <key>size</key>
            <string>{2046,678}</string>
            <key>textureFileName</key>
            <string>effect_show_lvpiren_602.pvr.ccz</string>
        </dict>
    </dict>
</plist>
