<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_fairy_leishen_144:baserr.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{435,0},{73,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{73,232}}</string>
                <key>sourceSize</key>
                <string>{73,232}</string>
            </dict>
            <key>effect_fairy_leishen_144:bfft.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{116,247},{57,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{57,209}}</string>
                <key>sourceSize</key>
                <string>{57,209}</string>
            </dict>
            <key>effect_fairy_leishen_144:cawer.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{435,234},{29,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,253}}</string>
                <key>sourceSize</key>
                <string>{29,253}</string>
            </dict>
            <key>effect_fairy_leishen_144:csewe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{286,0},{75,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{75,246}}</string>
                <key>sourceSize</key>
                <string>{75,246}</string>
            </dict>
            <key>effect_fairy_leishen_144:erte.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{175,278},{201,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{201,62}}</string>
                <key>sourceSize</key>
                <string>{201,62}</string>
            </dict>
            <key>effect_fairy_leishen_144:koqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{205,0},{79,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{79,246}}</string>
                <key>sourceSize</key>
                <string>{79,246}</string>
            </dict>
            <key>effect_fairy_leishen_144:kowe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{363,0},{70,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,247}}</string>
                <key>sourceSize</key>
                <string>{70,247}</string>
            </dict>
            <key>effect_fairy_leishen_144:kowq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{116,0},{87,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{87,245}}</string>
                <key>sourceSize</key>
                <string>{87,245}</string>
            </dict>
            <key>effect_fairy_leishen_144:qwcw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{175,454},{174,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{174,50}}</string>
                <key>sourceSize</key>
                <string>{174,50}</string>
            </dict>
            <key>effect_fairy_leishen_144:vaewe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{281,249},{114,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{114,27}}</string>
                <key>sourceSize</key>
                <string>{114,27}</string>
            </dict>
            <key>effect_fairy_leishen_144:vakiw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,458},{156,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{156,41}}</string>
                <key>sourceSize</key>
                <string>{156,41}</string>
            </dict>
            <key>effect_fairy_leishen_144:vaslv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{175,402},{184,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{184,50}}</string>
                <key>sourceSize</key>
                <string>{184,50}</string>
            </dict>
            <key>effect_fairy_leishen_144:vaswer.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{175,342},{188,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{188,58}}</string>
                <key>sourceSize</key>
                <string>{188,58}</string>
            </dict>
            <key>effect_fairy_leishen_144:vawer.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{175,248},{104,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{104,28}}</string>
                <key>sourceSize</key>
                <string>{104,28}</string>
            </dict>
            <key>effect_fairy_leishen_144:vawrw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{114,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{114,248}}</string>
                <key>sourceSize</key>
                <string>{114,248}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_fairy_leishen_144.pvr.ccz</string>
            <key>size</key>
            <string>{512,509}</string>
            <key>textureFileName</key>
            <string>effect_fairy_leishen_144.pvr.ccz</string>
        </dict>
    </dict>
</plist>
