<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_icepearl_special_422:y1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{256,505},{74,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{74,72}}</string>
                <key>sourceSize</key>
                <string>{74,72}</string>
            </dict>
            <key>effect_icepearl_special_422:y10.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,117},{105,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{105,104}}</string>
                <key>sourceSize</key>
                <string>{105,104}</string>
            </dict>
            <key>effect_icepearl_special_422:y11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{236,113},{109,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{109,108}}</string>
                <key>sourceSize</key>
                <string>{109,108}</string>
            </dict>
            <key>effect_icepearl_special_422:y12.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{236,0},{111,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{111,110}}</string>
                <key>sourceSize</key>
                <string>{111,110}</string>
            </dict>
            <key>effect_icepearl_special_422:y13.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{115,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{115,114}}</string>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>effect_icepearl_special_422:y14.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{118,0},{115,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{115,114}}</string>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>effect_icepearl_special_422:y15.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{350,0},{111,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{111,110}}</string>
                <key>sourceSize</key>
                <string>{111,110}</string>
            </dict>
            <key>effect_icepearl_special_422:y16.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{348,113},{107,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{107,106}}</string>
                <key>sourceSize</key>
                <string>{107,106}</string>
            </dict>
            <key>effect_icepearl_special_422:y17.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{108,117},{105,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{105,104}}</string>
                <key>sourceSize</key>
                <string>{105,104}</string>
            </dict>
            <key>effect_icepearl_special_422:y18.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,224},{101,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{101,100}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>effect_icepearl_special_422:y19.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{206,224},{97,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{97,96}}</string>
                <key>sourceSize</key>
                <string>{97,96}</string>
            </dict>
            <key>effect_icepearl_special_422:y2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{174,505},{79,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{79,78}}</string>
                <key>sourceSize</key>
                <string>{79,78}</string>
            </dict>
            <key>effect_icepearl_special_422:y20.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{206,323},{97,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{97,94}}</string>
                <key>sourceSize</key>
                <string>{97,94}</string>
            </dict>
            <key>effect_icepearl_special_422:y21.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,327},{91,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{91,90}}</string>
                <key>sourceSize</key>
                <string>{91,90}</string>
            </dict>
            <key>effect_icepearl_special_422:y22.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{306,416},{87,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{87,86}}</string>
                <key>sourceSize</key>
                <string>{87,86}</string>
            </dict>
            <key>effect_icepearl_special_422:y23.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{396,418},{85,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{85,84}}</string>
                <key>sourceSize</key>
                <string>{85,84}</string>
            </dict>
            <key>effect_icepearl_special_422:y24.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{88,501},{83,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{83,80}}</string>
                <key>sourceSize</key>
                <string>{83,80}</string>
            </dict>
            <key>effect_icepearl_special_422:y25.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{88,422},{88,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{88,76}}</string>
                <key>sourceSize</key>
                <string>{88,76}</string>
            </dict>
            <key>effect_icepearl_special_422:y3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{202,420},{83,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{83,82}}</string>
                <key>sourceSize</key>
                <string>{83,82}</string>
            </dict>
            <key>effect_icepearl_special_422:y4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,420},{85,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{85,84}}</string>
                <key>sourceSize</key>
                <string>{85,84}</string>
            </dict>
            <key>effect_icepearl_special_422:y5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{306,325},{94,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{94,88}}</string>
                <key>sourceSize</key>
                <string>{94,88}</string>
            </dict>
            <key>effect_icepearl_special_422:y6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{403,325},{91,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{91,90}}</string>
                <key>sourceSize</key>
                <string>{91,90}</string>
            </dict>
            <key>effect_icepearl_special_422:y7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{104,325},{95,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{95,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>effect_icepearl_special_422:y8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{104,224},{99,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{99,98}}</string>
                <key>sourceSize</key>
                <string>{99,98}</string>
            </dict>
            <key>effect_icepearl_special_422:y9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{348,222},{101,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{101,100}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_icepearl_special_422.pvr.ccz</string>
            <key>size</key>
            <string>{484,571}</string>
            <key>textureFileName</key>
            <string>effect_icepearl_special_422.pvr.ccz</string>
        </dict>
    </dict>
</plist>
