<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_staff_401:bfge.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{176,57},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>effect_staff_401:bfkh.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{49,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{49,107}}</string>
                <key>sourceSize</key>
                <string>{49,107}</string>
            </dict>
            <key>effect_staff_401:bgt.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{229,57},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>effect_staff_401:btr.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{176,0},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>effect_staff_401:mty.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{115,0},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>effect_staff_401:opy.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{52,107},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>effect_staff_401:vfgh.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{52,63},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>effect_staff_401:wes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{92,109},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>effect_staff_401:wet.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{115,61},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>effect_staff_401:wqws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{52,0},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_staff_401.pvr.ccz</string>
            <key>size</key>
            <string>{253,145}</string>
            <key>textureFileName</key>
            <string>effect_staff_401.pvr.ccz</string>
        </dict>
    </dict>
</plist>
