<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_mud_165:bvcbc1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{125,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{125,59}}</string>
                <key>sourceSize</key>
                <string>{125,59}</string>
            </dict>
            <key>effect_mud_165:cvbc3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{384,0},{125,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{125,59}}</string>
                <key>sourceSize</key>
                <string>{125,59}</string>
            </dict>
            <key>effect_mud_165:dsada.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{99,152},{87,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{87,42}}</string>
                <key>sourceSize</key>
                <string>{87,42}</string>
            </dict>
            <key>effect_mud_165:dsada 2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,62},{122,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{122,43}}</string>
                <key>sourceSize</key>
                <string>{122,43}</string>
            </dict>
            <key>effect_mud_165:l1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{168,197},{56,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{56,48}}</string>
                <key>sourceSize</key>
                <string>{56,48}</string>
            </dict>
            <key>effect_mud_165:l11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{227,224},{61,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{61,40}}</string>
                <key>sourceSize</key>
                <string>{61,40}</string>
            </dict>
            <key>effect_mud_165:l12.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{96,197},{69,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{69,43}}</string>
                <key>sourceSize</key>
                <string>{69,43}</string>
            </dict>
            <key>effect_mud_165:l13.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{322,192},{80,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{80,43}}</string>
                <key>sourceSize</key>
                <string>{80,43}</string>
            </dict>
            <key>effect_mud_165:l14.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{227,151},{92,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{92,45}}</string>
                <key>sourceSize</key>
                <string>{92,45}</string>
            </dict>
            <key>effect_mud_165:l15.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,108},{96,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{96,44}}</string>
                <key>sourceSize</key>
                <string>{96,44}</string>
            </dict>
            <key>effect_mud_165:l17.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{125,107},{99,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{99,42}}</string>
                <key>sourceSize</key>
                <string>{99,42}</string>
            </dict>
            <key>effect_mud_165:l18.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{255,106},{100,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{100,42}}</string>
                <key>sourceSize</key>
                <string>{100,42}</string>
            </dict>
            <key>effect_mud_165:l19.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{379,103},{111,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{111,36}}</string>
                <key>sourceSize</key>
                <string>{111,36}</string>
            </dict>
            <key>effect_mud_165:l21.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{379,62},{113,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{113,38}}</string>
                <key>sourceSize</key>
                <string>{113,38}</string>
            </dict>
            <key>effect_mud_165:l22.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{255,62},{121,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{121,41}}</string>
                <key>sourceSize</key>
                <string>{121,41}</string>
            </dict>
            <key>effect_mud_165:l23.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{125,62},{127,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{127,42}}</string>
                <key>sourceSize</key>
                <string>{127,42}</string>
            </dict>
            <key>effect_mud_165:l24.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{358,142},{131,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{131,47}}</string>
                <key>sourceSize</key>
                <string>{131,47}</string>
            </dict>
            <key>effect_mud_165:l3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{322,151},{31,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,9}}</string>
                <key>sourceSize</key>
                <string>{31,9}</string>
            </dict>
            <key>effect_mud_165:l4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{372,261},{57,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{57,12}}</string>
                <key>sourceSize</key>
                <string>{57,12}</string>
            </dict>
            <key>effect_mud_165:l5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{134,248},{66,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{66,15}}</string>
                <key>sourceSize</key>
                <string>{66,15}</string>
            </dict>
            <key>effect_mud_165:l6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{61,243},{70,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,17}}</string>
                <key>sourceSize</key>
                <string>{70,17}</string>
            </dict>
            <key>effect_mud_165:l7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{291,238},{78,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{78,21}}</string>
                <key>sourceSize</key>
                <string>{78,21}</string>
            </dict>
            <key>effect_mud_165:l8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{227,199},{84,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{84,22}}</string>
                <key>sourceSize</key>
                <string>{84,22}</string>
            </dict>
            <key>effect_mud_165:l9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,241},{58,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,36}}</string>
                <key>sourceSize</key>
                <string>{58,36}</string>
            </dict>
            <key>effect_mud_165:n41.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{455,192},{46,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,63}}</string>
                <key>sourceSize</key>
                <string>{46,63}</string>
            </dict>
            <key>effect_mud_165:n42.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{44,155},{49,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{49,65}}</string>
                <key>sourceSize</key>
                <string>{49,65}</string>
            </dict>
            <key>effect_mud_165:n43.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{405,192},{47,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{47,66}}</string>
                <key>sourceSize</key>
                <string>{47,66}</string>
            </dict>
            <key>effect_mud_165:n44.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,155},{41,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{41,83}}</string>
                <key>sourceSize</key>
                <string>{41,83}</string>
            </dict>
            <key>effect_mud_165:sdadada.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{128,0},{125,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{125,59}}</string>
                <key>sourceSize</key>
                <string>{125,59}</string>
            </dict>
            <key>effect_mud_165:vcb1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{256,0},{125,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{125,59}}</string>
                <key>sourceSize</key>
                <string>{125,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_mud_165.pvr.ccz</string>
            <key>size</key>
            <string>{509,277}</string>
            <key>textureFileName</key>
            <string>effect_mud_165.pvr.ccz</string>
        </dict>
    </dict>
</plist>
