<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_addhp_196:asdc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{105,111},{12,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,13}}</string>
                <key>sourceSize</key>
                <string>{12,13}</string>
            </dict>
            <key>effect_addhp_196:asdv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{21,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,246}}</string>
                <key>sourceSize</key>
                <string>{21,246}</string>
            </dict>
            <key>effect_addhp_196:asdvf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{105,90},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>effect_addhp_196:asdvgf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{24,0},{88,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{88,87}}</string>
                <key>sourceSize</key>
                <string>{88,87}</string>
            </dict>
            <key>effect_addhp_196:cvawq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{24,90},{78,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{78,67}}</string>
                <key>sourceSize</key>
                <string>{78,67}</string>
            </dict>
            <key>effect_addhp_196:lloai.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{24,160},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_addhp_196.pvr.ccz</string>
            <key>size</key>
            <string>{126,256}</string>
            <key>textureFileName</key>
            <string>effect_addhp_196.pvr.ccz</string>
        </dict>
    </dict>
</plist>
