<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_fairyupgrade_443:q1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,425},{163,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{163,249}}</string>
                <key>sourceSize</key>
                <string>{163,249}</string>
            </dict>
            <key>effect_fairyupgrade_443:q2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{314,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{314,233}}</string>
                <key>sourceSize</key>
                <string>{314,233}</string>
            </dict>
            <key>effect_fairyupgrade_443:q3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{316,0},{310,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{310,230}}</string>
                <key>sourceSize</key>
                <string>{310,230}</string>
            </dict>
            <key>effect_fairyupgrade_443:q4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{628,0},{310,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{310,230}}</string>
                <key>sourceSize</key>
                <string>{310,230}</string>
            </dict>
            <key>effect_fairyupgrade_443:q5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{620,232},{312,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{312,226}}</string>
                <key>sourceSize</key>
                <string>{312,226}</string>
            </dict>
            <key>effect_fairyupgrade_443:q6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{316,232},{302,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{302,216}}</string>
                <key>sourceSize</key>
                <string>{302,216}</string>
            </dict>
            <key>effect_fairyupgrade_443:q7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,235},{227,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{227,188}}</string>
                <key>sourceSize</key>
                <string>{227,188}</string>
            </dict>
            <key>effect_fairyupgrade_443:q8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{165,450},{190,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{190,191}}</string>
                <key>sourceSize</key>
                <string>{190,191}</string>
            </dict>
            <key>effect_fairyupgrade_443:q9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{934,232},{87,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{87,184}}</string>
                <key>sourceSize</key>
                <string>{87,184}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_fairyupgrade_443.pvr.ccz</string>
            <key>size</key>
            <string>{1009,675}</string>
            <key>textureFileName</key>
            <string>effect_fairyupgrade_443.pvr.ccz</string>
        </dict>
    </dict>
</plist>
