<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_lierenzhang_272:asqwrq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{371,82},{45,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,150}}</string>
                <key>sourceSize</key>
                <string>{45,150}</string>
            </dict>
            <key>effect_lierenzhang_272:bsdfrt.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{371,0},{119,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{119,80}}</string>
                <key>sourceSize</key>
                <string>{119,80}</string>
            </dict>
            <key>effect_lierenzhang_272:casqwe5q.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{225,0},{144,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{144,98}}</string>
                <key>sourceSize</key>
                <string>{144,98}</string>
            </dict>
            <key>effect_lierenzhang_272:casvwte.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{108,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{108,249}}</string>
                <key>sourceSize</key>
                <string>{108,249}</string>
            </dict>
            <key>effect_lierenzhang_272:vastqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{110,0},{113,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{113,177}}</string>
                <key>sourceSize</key>
                <string>{113,177}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_lierenzhang_272.pvr.ccz</string>
            <key>size</key>
            <string>{493,248}</string>
            <key>textureFileName</key>
            <string>effect_lierenzhang_272.pvr.ccz</string>
        </dict>
    </dict>
</plist>
