<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_mc_common_attacked_103:s1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{101,111},{70,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,58}}</string>
                <key>sourceSize</key>
                <string>{70,58}</string>
            </dict>
            <key>effect_mc_common_attacked_103:s2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,111},{98,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{98,81}}</string>
                <key>sourceSize</key>
                <string>{98,81}</string>
            </dict>
            <key>effect_mc_common_attacked_103:s3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{342,86},{127,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{127,103}}</string>
                <key>sourceSize</key>
                <string>{127,103}</string>
            </dict>
            <key>effect_mc_common_attacked_103:s4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{198,0},{141,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{141,114}}</string>
                <key>sourceSize</key>
                <string>{141,114}</string>
            </dict>
            <key>effect_mc_common_attacked_103:s6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{342,0},{150,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{150,83}}</string>
                <key>sourceSize</key>
                <string>{150,83}</string>
            </dict>
            <key>effect_mc_common_attacked_103:s7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{195,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{195,108}}</string>
                <key>sourceSize</key>
                <string>{195,108}</string>
            </dict>
            <key>effect_mc_common_attacked_103:s8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{472,86},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_mc_common_attacked_103.pvr.ccz</string>
            <key>size</key>
            <string>{499,166}</string>
            <key>textureFileName</key>
            <string>effect_mc_common_attacked_103.pvr.ccz</string>
        </dict>
    </dict>
</plist>
