<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_pinkcrystal_402:asdc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{362,142},{7,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,7}}</string>
                <key>sourceSize</key>
                <string>{7,7}</string>
            </dict>
            <key>effect_pinkcrystal_402:base.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{130,0},{126,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{126,141}}</string>
                <key>sourceSize</key>
                <string>{126,141}</string>
            </dict>
            <key>effect_pinkcrystal_402:cawq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{130,144},{32,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,24}}</string>
                <key>sourceSize</key>
                <string>{32,24}</string>
            </dict>
            <key>effect_pinkcrystal_402:lloai.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{259,142},{65,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{65,63}}</string>
                <key>sourceSize</key>
                <string>{65,63}</string>
            </dict>
            <key>effect_pinkcrystal_402:lvows.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{386,140},{121,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{121,41}}</string>
                <key>sourceSize</key>
                <string>{121,41}</string>
            </dict>
            <key>effect_pinkcrystal_402:ndfrt.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{127,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{127,143}}</string>
                <key>sourceSize</key>
                <string>{127,143}</string>
            </dict>
            <key>effect_pinkcrystal_402:vawvsw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{327,142},{32,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,24}}</string>
                <key>sourceSize</key>
                <string>{32,24}</string>
            </dict>
            <key>effect_pinkcrystal_402:vdfwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{386,0},{123,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{123,137}}</string>
                <key>sourceSize</key>
                <string>{123,137}</string>
            </dict>
            <key>effect_pinkcrystal_402:vsvd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{259,0},{124,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{124,139}}</string>
                <key>sourceSize</key>
                <string>{124,139}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_pinkcrystal_402.pvr.ccz</string>
            <key>size</key>
            <string>{508,202}</string>
            <key>textureFileName</key>
            <string>effect_pinkcrystal_402.pvr.ccz</string>
        </dict>
    </dict>
</plist>
