<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_enemy_busrt_attacked_102:bvbc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{270,0},{230,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{230,198}}</string>
                <key>sourceSize</key>
                <string>{230,198}</string>
            </dict>
            <key>effect_enemy_busrt_attacked_102:c1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{167,398},{173,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{173,90}}</string>
                <key>sourceSize</key>
                <string>{173,90}</string>
            </dict>
            <key>effect_enemy_busrt_attacked_102:c1 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{343,398},{139,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{139,81}}</string>
                <key>sourceSize</key>
                <string>{139,81}</string>
            </dict>
            <key>effect_enemy_busrt_attacked_102:s1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,239},{164,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{164,164}}</string>
                <key>sourceSize</key>
                <string>{164,164}</string>
            </dict>
            <key>effect_enemy_busrt_attacked_102:s2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{270,201},{225,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{225,194}}</string>
                <key>sourceSize</key>
                <string>{225,194}</string>
            </dict>
            <key>effect_enemy_busrt_attacked_102:s3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{267,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{267,236}}</string>
                <key>sourceSize</key>
                <string>{267,236}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_enemy_busrt_attacked_102.pvr.ccz</string>
            <key>size</key>
            <string>{500,480}</string>
            <key>textureFileName</key>
            <string>effect_enemy_busrt_attacked_102.pvr.ccz</string>
        </dict>
    </dict>
</plist>
