<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_halfmoon2_200:a1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{760,0},{234,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{234,207}}</string>
                <key>sourceSize</key>
                <string>{234,207}</string>
            </dict>
            <key>effect_halfmoon2_200:a10.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{255,0},{259,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{259,206}}</string>
                <key>sourceSize</key>
                <string>{259,206}</string>
            </dict>
            <key>effect_halfmoon2_200:a2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,217},{220,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{220,192}}</string>
                <key>sourceSize</key>
                <string>{220,192}</string>
            </dict>
            <key>effect_halfmoon2_200:a3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{517,205},{230,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{230,208}}</string>
                <key>sourceSize</key>
                <string>{230,208}</string>
            </dict>
            <key>effect_halfmoon2_200:a4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{750,210},{227,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{227,202}}</string>
                <key>sourceSize</key>
                <string>{227,202}</string>
            </dict>
            <key>effect_halfmoon2_200:a5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{517,0},{240,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{240,202}}</string>
                <key>sourceSize</key>
                <string>{240,202}</string>
            </dict>
            <key>effect_halfmoon2_200:a8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{252,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{252,214}}</string>
                <key>sourceSize</key>
                <string>{252,214}</string>
            </dict>
            <key>effect_halfmoon2_200:a9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{255,209},{244,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{244,194}}</string>
                <key>sourceSize</key>
                <string>{244,194}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_halfmoon2_200.pvr.ccz</string>
            <key>size</key>
            <string>{979,392}</string>
            <key>textureFileName</key>
            <string>effect_halfmoon2_200.pvr.ccz</string>
        </dict>
    </dict>
</plist>
