<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_speedup:223bgf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{105,135},{86,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{86,48}}</string>
                <key>sourceSize</key>
                <string>{86,48}</string>
            </dict>
            <key>effect_speedup:23vfg.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{7,183},{77,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{77,51}}</string>
                <key>sourceSize</key>
                <string>{77,51}</string>
            </dict>
            <key>effect_speedup:23vfs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{117,0},{95,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{95,67}}</string>
                <key>sourceSize</key>
                <string>{95,67}</string>
            </dict>
            <key>effect_speedup:34vvf7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{7,63},{95,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{95,61}}</string>
                <key>sourceSize</key>
                <string>{95,61}</string>
            </dict>
            <key>effect_speedup:asdv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{4,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{4,254}}</string>
                <key>sourceSize</key>
                <string>{4,254}</string>
            </dict>
            <key>effect_speedup:bfgfr56.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{105,70},{88,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{88,62}}</string>
                <key>sourceSize</key>
                <string>{88,62}</string>
            </dict>
            <key>effect_speedup:lloai.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{196,70},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>effect_speedup:opdvc56.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{7,127},{95,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{95,53}}</string>
                <key>sourceSize</key>
                <string>{95,53}</string>
            </dict>
            <key>effect_speedup:pozxc77.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{7,0},{107,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{107,60}}</string>
                <key>sourceSize</key>
                <string>{107,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_speedup.pvr.ccz</string>
            <key>size</key>
            <string>{256,252}</string>
            <key>textureFileName</key>
            <string>effect_speedup.pvr.ccz</string>
        </dict>
    </dict>
</plist>
