<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_fairy_yitianjian_262:10kcjasiqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{236,152},{52,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{52,120}}</string>
                <key>sourceSize</key>
                <string>{52,120}</string>
            </dict>
            <key>effect_fairy_yitianjian_262:76qweq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{102,152},{131,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{131,93}}</string>
                <key>sourceSize</key>
                <string>{131,93}</string>
            </dict>
            <key>effect_fairy_yitianjian_262:87cqweva.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{344,236},{147,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{147,76}}</string>
                <key>sourceSize</key>
                <string>{147,76}</string>
            </dict>
            <key>effect_fairy_yitianjian_262:87q9w8eq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{99,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{99,288}}</string>
                <key>sourceSize</key>
                <string>{99,288}</string>
            </dict>
            <key>effect_fairy_yitianjian_262:98c7asqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{216,351},{107,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{107,75}}</string>
                <key>sourceSize</key>
                <string>{107,75}</string>
            </dict>
            <key>effect_fairy_yitianjian_262:casqwer.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{326,388},{77,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{77,99}}</string>
                <key>sourceSize</key>
                <string>{77,99}</string>
            </dict>
            <key>effect_fairy_yitianjian_262:casqwev.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,291},{77,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{77,99}}</string>
                <key>sourceSize</key>
                <string>{77,99}</string>
            </dict>
            <key>effect_fairy_yitianjian_262:iucyasqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{330,315},{113,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{113,70}}</string>
                <key>sourceSize</key>
                <string>{113,70}</string>
            </dict>
            <key>effect_fairy_yitianjian_262:jcyastqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{216,275},{111,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{111,73}}</string>
                <key>sourceSize</key>
                <string>{111,73}</string>
            </dict>
            <key>effect_fairy_yitianjian_262:jucqwv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{161,248},{52,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{52,120}}</string>
                <key>sourceSize</key>
                <string>{52,120}</string>
            </dict>
            <key>effect_fairy_yitianjian_262:kcjasiqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{102,248},{56,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{56,147}}</string>
                <key>sourceSize</key>
                <string>{56,147}</string>
            </dict>
            <key>effect_fairy_yitianjian_262:ucyasqwr.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{102,0},{186,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{186,149}}</string>
                <key>sourceSize</key>
                <string>{186,149}</string>
            </dict>
            <key>effect_fairy_yitianjian_262:uj yasas.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{344,0},{164,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{164,144}}</string>
                <key>sourceSize</key>
                <string>{164,144}</string>
            </dict>
            <key>effect_fairy_yitianjian_262:ujcahsqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{344,147},{141,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{141,86}}</string>
                <key>sourceSize</key>
                <string>{141,86}</string>
            </dict>
            <key>effect_fairy_yitianjian_262:uyxqvqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{291,0},{50,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{50,269}}</string>
                <key>sourceSize</key>
                <string>{50,269}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_fairy_yitianjian_262.pvr.ccz</string>
            <key>size</key>
            <string>{510,487}</string>
            <key>textureFileName</key>
            <string>effect_fairy_yitianjian_262.pvr.ccz</string>
        </dict>
    </dict>
</plist>
