<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_gacha_439:b1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{965,100},{27,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,30}}</string>
                <key>sourceSize</key>
                <string>{27,30}</string>
            </dict>
            <key>effect_gacha_439:b2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{998,0},{13,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,29}}</string>
                <key>sourceSize</key>
                <string>{13,29}</string>
            </dict>
            <key>effect_gacha_439:b3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{965,0},{31,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,34}}</string>
                <key>sourceSize</key>
                <string>{31,34}</string>
            </dict>
            <key>effect_gacha_439:b4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{965,36},{29,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,32}}</string>
                <key>sourceSize</key>
                <string>{29,32}</string>
            </dict>
            <key>effect_gacha_439:bvnvn.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{514,554},{173,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{173,199}}</string>
                <key>sourceSize</key>
                <string>{173,199}</string>
            </dict>
            <key>effect_gacha_439:fdfs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{383,0},{305,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{305,321}}</string>
                <key>sourceSize</key>
                <string>{305,321}</string>
            </dict>
            <key>effect_gacha_439:mbmbm.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{381,401}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{381,401}}</string>
                <key>sourceSize</key>
                <string>{381,401}</string>
            </dict>
            <key>effect_gacha_439:nbvn.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,610},{238,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{238,183}}</string>
                <key>sourceSize</key>
                <string>{238,183}</string>
            </dict>
            <key>effect_gacha_439:shabnke.cn_1_30_547.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1013,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{0,0}</string>
            </dict>
            <key>effect_gacha_439:shankbe.cn_1_27_55646.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{965,70},{31,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>effect_gacha_439:shankbe.cn_1_29_54114.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{994,100},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>effect_gacha_439:vbcbc1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{690,0},{273,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{273,288}}</string>
                <key>sourceSize</key>
                <string>{273,288}</string>
            </dict>
            <key>effect_gacha_439:w1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{383,323},{228,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{228,229}}</string>
                <key>sourceSize</key>
                <string>{228,229}</string>
            </dict>
            <key>effect_gacha_439:w2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,403},{242,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{242,205}}</string>
                <key>sourceSize</key>
                <string>{242,205}</string>
            </dict>
            <key>effect_gacha_439:w3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{689,592},{240,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{240,192}}</string>
                <key>sourceSize</key>
                <string>{240,192}</string>
            </dict>
            <key>effect_gacha_439:w4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{480,755},{205,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{205,191}}</string>
                <key>sourceSize</key>
                <string>{205,191}</string>
            </dict>
            <key>effect_gacha_439:w5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,795},{171,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{171,191}}</string>
                <key>sourceSize</key>
                <string>{171,191}</string>
            </dict>
            <key>effect_gacha_439:w6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{687,786},{184,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{184,179}}</string>
                <key>sourceSize</key>
                <string>{184,179}</string>
            </dict>
            <key>effect_gacha_439:w7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{240,733},{238,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{238,166}}</string>
                <key>sourceSize</key>
                <string>{238,166}</string>
            </dict>
            <key>effect_gacha_439:w8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{244,554},{268,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{268,177}}</string>
                <key>sourceSize</key>
                <string>{268,177}</string>
            </dict>
            <key>effect_gacha_439:xibngxxxx.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{690,290},{261,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{261,300}}</string>
                <key>sourceSize</key>
                <string>{261,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_gacha_439.pvr.ccz</string>
            <key>size</key>
            <string>{1021,972}</string>
            <key>textureFileName</key>
            <string>effect_gacha_439.pvr.ccz</string>
        </dict>
    </dict>
</plist>
