<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_fairyshowup_433:aswer.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,156},{116,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{116,119}}</string>
                <key>sourceSize</key>
                <string>{116,119}</string>
            </dict>
            <key>effect_fairyshowup_433:awse.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{146,153},{115,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{115,131}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>effect_fairyshowup_433:caswer.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{293,139},{124,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{124,135}}</string>
                <key>sourceSize</key>
                <string>{124,135}</string>
            </dict>
            <key>effect_fairyshowup_433:cqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{146,0},{145,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{145,151}}</string>
                <key>sourceSize</key>
                <string>{145,151}</string>
            </dict>
            <key>effect_fairyshowup_433:cqwer.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{376,276},{108,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{108,110}}</string>
                <key>sourceSize</key>
                <string>{108,110}</string>
            </dict>
            <key>effect_fairyshowup_433:cqwerw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{263,276},{111,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{111,115}}</string>
                <key>sourceSize</key>
                <string>{111,115}</string>
            </dict>
            <key>effect_fairyshowup_433:mkvawe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{427,0},{35,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,33}}</string>
                <key>sourceSize</key>
                <string>{35,33}</string>
            </dict>
            <key>effect_fairyshowup_433:qowd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{293,0},{132,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{132,137}}</string>
                <key>sourceSize</key>
                <string>{132,137}</string>
            </dict>
            <key>effect_fairyshowup_433:vaswer.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{144,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{144,154}}</string>
                <key>sourceSize</key>
                <string>{144,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_fairyshowup_433.pvr.ccz</string>
            <key>size</key>
            <string>{484,387}</string>
            <key>textureFileName</key>
            <string>effect_fairyshowup_433.pvr.ccz</string>
        </dict>
    </dict>
</plist>
