<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_dragonrage_185:bdet.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{304,148},{279,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{279,132}}</string>
                <key>sourceSize</key>
                <string>{279,132}</string>
            </dict>
            <key>effect_dragonrage_185:bwqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{586,155},{283,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{283,133}}</string>
                <key>sourceSize</key>
                <string>{283,133}</string>
            </dict>
            <key>effect_dragonrage_185:kjl.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{301,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{301,189}}</string>
                <key>sourceSize</key>
                <string>{301,189}</string>
            </dict>
            <key>effect_dragonrage_185:lwer.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{267,283},{229,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{229,111}}</string>
                <key>sourceSize</key>
                <string>{229,111}</string>
            </dict>
            <key>effect_dragonrage_185:lwqer.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{304,0},{280,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{280,145}}</string>
                <key>sourceSize</key>
                <string>{280,145}</string>
            </dict>
            <key>effect_dragonrage_185:nwer.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,192},{264,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{264,145}}</string>
                <key>sourceSize</key>
                <string>{264,145}</string>
            </dict>
            <key>effect_dragonrage_185:vsd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{587,0},{273,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{273,152}}</string>
                <key>sourceSize</key>
                <string>{273,152}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_dragonrage_185.pvr.ccz</string>
            <key>size</key>
            <string>{871,393}</string>
            <key>textureFileName</key>
            <string>effect_dragonrage_185.pvr.ccz</string>
        </dict>
    </dict>
</plist>
