<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_radar_416:a4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{468,59},{5,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{5,5}}</string>
                <key>sourceSize</key>
                <string>{5,5}</string>
            </dict>
            <key>effect_radar_416:g1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{113,0},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>effect_radar_416:g2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>effect_radar_416:g3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{339,0},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>effect_radar_416:g4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{226,113},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>effect_radar_416:g5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{339,113},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>effect_radar_416:g6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{113,113},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>effect_radar_416:g7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{226,0},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>effect_radar_416:g9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,113},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>effect_radar_416:q1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{460,59},{5,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{5,5}}</string>
                <key>sourceSize</key>
                <string>{5,5}</string>
            </dict>
            <key>effect_radar_416:q2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{452,59},{5,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{5,5}}</string>
                <key>sourceSize</key>
                <string>{5,5}</string>
            </dict>
            <key>effect_radar_416:q3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{476,59},{5,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{5,5}}</string>
                <key>sourceSize</key>
                <string>{5,5}</string>
            </dict>
            <key>effect_radar_416:vxvxcxv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{452,0},{54,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{54,56}}</string>
                <key>sourceSize</key>
                <string>{54,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_radar_416.pvr.ccz</string>
            <key>size</key>
            <string>{506,223}</string>
            <key>textureFileName</key>
            <string>effect_radar_416.pvr.ccz</string>
        </dict>
    </dict>
</plist>
