<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_receptionre_454:dasd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{626,626}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{626,626}}</string>
                <key>sourceSize</key>
                <string>{626,626}</string>
            </dict>
            <key>effect_receptionre_454:e1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1910,495},{52,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{52,48}}</string>
                <key>sourceSize</key>
                <string>{52,48}</string>
            </dict>
            <key>effect_receptionre_454:e2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1910,415},{52,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{52,78}}</string>
                <key>sourceSize</key>
                <string>{52,78}</string>
            </dict>
            <key>effect_receptionre_454:e3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1910,329},{69,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{69,84}}</string>
                <key>sourceSize</key>
                <string>{69,84}</string>
            </dict>
            <key>effect_receptionre_454:e4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1964,477},{70,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,73}}</string>
                <key>sourceSize</key>
                <string>{70,73}</string>
            </dict>
            <key>effect_receptionre_454:e5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1981,329},{64,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{64,76}}</string>
                <key>sourceSize</key>
                <string>{64,76}</string>
            </dict>
            <key>effect_receptionre_454:e6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1981,407},{63,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{63,68}}</string>
                <key>sourceSize</key>
                <string>{63,68}</string>
            </dict>
            <key>effect_receptionre_454:e7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2001,0},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>effect_receptionre_454:h1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{461,1063},{218,355}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{218,355}}</string>
                <key>sourceSize</key>
                <string>{218,355}</string>
            </dict>
            <key>effect_receptionre_454:h2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1802,1021},{218,355}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{218,355}}</string>
                <key>sourceSize</key>
                <string>{218,355}</string>
            </dict>
            <key>effect_receptionre_454:z1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1871,721},{167,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{167,119}}</string>
                <key>sourceSize</key>
                <string>{167,119}</string>
            </dict>
            <key>effect_receptionre_454:z10.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{628,0},{672,401}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{672,401}}</string>
                <key>sourceSize</key>
                <string>{672,401}</string>
            </dict>
            <key>effect_receptionre_454:z11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1302,329},{606,390}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{606,390}}</string>
                <key>sourceSize</key>
                <string>{606,390}</string>
            </dict>
            <key>effect_receptionre_454:z12.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,628},{585,364}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{585,364}}</string>
                <key>sourceSize</key>
                <string>{585,364}</string>
            </dict>
            <key>effect_receptionre_454:z2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{681,1063},{246,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{246,291}}</string>
                <key>sourceSize</key>
                <string>{246,291}</string>
            </dict>
            <key>effect_receptionre_454:z3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1511,1021},{289,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{289,302}}</string>
                <key>sourceSize</key>
                <string>{289,302}</string>
            </dict>
            <key>effect_receptionre_454:z4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1136,1021},{373,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{373,298}}</string>
                <key>sourceSize</key>
                <string>{373,298}</string>
            </dict>
            <key>effect_receptionre_454:z5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,994},{459,347}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{459,347}}</string>
                <key>sourceSize</key>
                <string>{459,347}</string>
            </dict>
            <key>effect_receptionre_454:z6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{587,743},{547,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{547,318}}</string>
                <key>sourceSize</key>
                <string>{547,318}</string>
            </dict>
            <key>effect_receptionre_454:z7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{628,403},{649,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{649,338}}</string>
                <key>sourceSize</key>
                <string>{649,338}</string>
            </dict>
            <key>effect_receptionre_454:z8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1279,721},{590,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{590,298}}</string>
                <key>sourceSize</key>
                <string>{590,298}</string>
            </dict>
            <key>effect_receptionre_454:z9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1302,0},{697,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{697,327}}</string>
                <key>sourceSize</key>
                <string>{697,327}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_receptionre_454.pvr.ccz</string>
            <key>size</key>
            <string>{2045,1418}</string>
            <key>textureFileName</key>
            <string>effect_receptionre_454.pvr.ccz</string>
        </dict>
    </dict>
</plist>
