<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_pay_444:e1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,152},{109,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{109,108}}</string>
                <key>sourceSize</key>
                <string>{109,108}</string>
            </dict>
            <key>effect_pay_444:e2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{304,144},{141,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{141,140}}</string>
                <key>sourceSize</key>
                <string>{141,140}</string>
            </dict>
            <key>effect_pay_444:e3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>effect_pay_444:e4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{152,151},{130,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{130,131}}</string>
                <key>sourceSize</key>
                <string>{130,131}</string>
            </dict>
            <key>effect_pay_444:e5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,262},{85,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{85,98}}</string>
                <key>sourceSize</key>
                <string>{85,98}</string>
            </dict>
            <key>effect_pay_444:e6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{304,0},{141,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{141,142}}</string>
                <key>sourceSize</key>
                <string>{141,142}</string>
            </dict>
            <key>effect_pay_444:e7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{152,0},{150,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{150,149}}</string>
                <key>sourceSize</key>
                <string>{150,149}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_pay_444.pvr.ccz</string>
            <key>size</key>
            <string>{414,351}</string>
            <key>textureFileName</key>
            <string>effect_pay_444.pvr.ccz</string>
        </dict>
    </dict>
</plist>
