<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_ice_163:VFHV.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{186,39},{67,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{67,28}}</string>
                <key>sourceSize</key>
                <string>{67,28}</string>
            </dict>
            <key>effect_ice_163:asdfcvb.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{162,36},{21,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,19}}</string>
                <key>sourceSize</key>
                <string>{21,19}</string>
            </dict>
            <key>effect_ice_163:asdjfia.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{230,0},{22,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,36}}</string>
                <key>sourceSize</key>
                <string>{22,36}</string>
            </dict>
            <key>effect_ice_163:bffgv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{162,0},{65,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{65,33}}</string>
                <key>sourceSize</key>
                <string>{65,33}</string>
            </dict>
            <key>effect_ice_163:bgnt.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,48},{132,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{132,50}}</string>
                <key>sourceSize</key>
                <string>{132,50}</string>
            </dict>
            <key>effect_ice_163:lopq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,101},{126,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{126,39}}</string>
                <key>sourceSize</key>
                <string>{126,39}</string>
            </dict>
            <key>effect_ice_163:nngy.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{135,70},{109,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{109,42}}</string>
                <key>sourceSize</key>
                <string>{109,42}</string>
            </dict>
            <key>effect_ice_163:oplou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{159,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{159,45}}</string>
                <key>sourceSize</key>
                <string>{159,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_ice_163.pvr.ccz</string>
            <key>size</key>
            <string>{256,145}</string>
            <key>textureFileName</key>
            <string>effect_ice_163.pvr.ccz</string>
        </dict>
    </dict>
</plist>
