<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_lightbning_427:aswes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{285,206},{165,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{165,82}}</string>
                <key>sourceSize</key>
                <string>{165,82}</string>
            </dict>
            <key>effect_lightbning_427:awqv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{392,0},{93,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{93,133}}</string>
                <key>sourceSize</key>
                <string>{93,133}</string>
            </dict>
            <key>effect_lightbning_427:ba56.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{214,0},{68,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,284}}</string>
                <key>sourceSize</key>
                <string>{68,284}</string>
            </dict>
            <key>effect_lightbning_427:ba562.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{285,0},{104,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{104,203}}</string>
                <key>sourceSize</key>
                <string>{104,203}</string>
            </dict>
            <key>effect_lightbning_427:baw67.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{80,0},{67,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{67,291}}</string>
                <key>sourceSize</key>
                <string>{67,291}</string>
            </dict>
            <key>effect_lightbning_427:bawe12.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{392,136},{79,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{79,67}}</string>
                <key>sourceSize</key>
                <string>{79,67}</string>
            </dict>
            <key>effect_lightbning_427:bwqw67.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{77,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{77,293}}</string>
                <key>sourceSize</key>
                <string>{77,293}</string>
            </dict>
            <key>effect_lightbning_427:qwvse.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{150,0},{61,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{61,296}}</string>
                <key>sourceSize</key>
                <string>{61,296}</string>
            </dict>
            <key>effect_lightbning_427:vases.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{488,0},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{6,6}}</string>
                <key>sourceSize</key>
                <string>{6,6}</string>
            </dict>
            <key>effect_lightbning_427:vaswes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{214,291},{195,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{195,4}}</string>
                <key>sourceSize</key>
                <string>{195,4}</string>
            </dict>
            <key>effect_lightbning_427:vawe3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{497,0},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{6,6}}</string>
                <key>sourceSize</key>
                <string>{6,6}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_lightbning_427.pvr.ccz</string>
            <key>size</key>
            <string>{506,304}</string>
            <key>textureFileName</key>
            <string>effect_lightbning_427.pvr.ccz</string>
        </dict>
    </dict>
</plist>
