<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_boss_particledisappear_423:q1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{182,226},{86,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{86,98}}</string>
                <key>sourceSize</key>
                <string>{86,98}</string>
            </dict>
            <key>effect_boss_particledisappear_423:q10.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{233,0},{108,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{108,113}}</string>
                <key>sourceSize</key>
                <string>{108,113}</string>
            </dict>
            <key>effect_boss_particledisappear_423:q11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{118,0},{112,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{112,115}}</string>
                <key>sourceSize</key>
                <string>{112,115}</string>
            </dict>
            <key>effect_boss_particledisappear_423:q12.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{115,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{115,118}}</string>
                <key>sourceSize</key>
                <string>{115,118}</string>
            </dict>
            <key>effect_boss_particledisappear_423:q2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{92,226},{87,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{87,99}}</string>
                <key>sourceSize</key>
                <string>{87,99}</string>
            </dict>
            <key>effect_boss_particledisappear_423:q3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,226},{89,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{89,100}}</string>
                <key>sourceSize</key>
                <string>{89,100}</string>
            </dict>
            <key>effect_boss_particledisappear_423:q4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,121},{92,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{92,102}}</string>
                <key>sourceSize</key>
                <string>{92,102}</string>
            </dict>
            <key>effect_boss_particledisappear_423:q5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{118,118},{95,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{95,105}}</string>
                <key>sourceSize</key>
                <string>{95,105}</string>
            </dict>
            <key>effect_boss_particledisappear_423:q6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{233,116},{99,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{99,107}}</string>
                <key>sourceSize</key>
                <string>{99,107}</string>
            </dict>
            <key>effect_boss_particledisappear_423:q8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{344,114},{102,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{102,109}}</string>
                <key>sourceSize</key>
                <string>{102,109}</string>
            </dict>
            <key>effect_boss_particledisappear_423:q9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{344,0},{105,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{105,111}}</string>
                <key>sourceSize</key>
                <string>{105,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_boss_particledisappear_423.pvr.ccz</string>
            <key>size</key>
            <string>{435,322}</string>
            <key>textureFileName</key>
            <string>effect_boss_particledisappear_423.pvr.ccz</string>
        </dict>
    </dict>
</plist>
