<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_show_aboluo_612:b1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2018,192},{27,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,30}}</string>
                <key>sourceSize</key>
                <string>{27,30}</string>
            </dict>
            <key>effect_show_aboluo_612:b2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1504,285},{13,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,29}}</string>
                <key>sourceSize</key>
                <string>{13,29}</string>
            </dict>
            <key>effect_show_aboluo_612:b3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{556,281},{31,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,34}}</string>
                <key>sourceSize</key>
                <string>{31,34}</string>
            </dict>
            <key>effect_show_aboluo_612:b4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{886,267},{29,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,32}}</string>
                <key>sourceSize</key>
                <string>{29,32}</string>
            </dict>
            <key>effect_show_aboluo_612:guanghuan11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1046,814},{171,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{171,145}}</string>
                <key>sourceSize</key>
                <string>{171,145}</string>
            </dict>
            <key>effect_show_aboluo_612:houpi11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1049,739},{61,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{61,71}}</string>
                <key>sourceSize</key>
                <string>{61,71}</string>
            </dict>
            <key>effect_show_aboluo_612:houpi21.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2018,160},{28,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,30}}</string>
                <key>sourceSize</key>
                <string>{28,30}</string>
            </dict>
            <key>effect_show_aboluo_612:hujian11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1993,569},{53,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{53,44}}</string>
                <key>sourceSize</key>
                <string>{53,44}</string>
            </dict>
            <key>effect_show_aboluo_612:hujian21.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2018,290},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>effect_show_aboluo_612:kuzi11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{445,683},{65,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{65,79}}</string>
                <key>sourceSize</key>
                <string>{65,79}</string>
            </dict>
            <key>effect_show_aboluo_612:lian11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2018,224},{26,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,31}}</string>
                <key>sourceSize</key>
                <string>{26,31}</string>
            </dict>
            <key>effect_show_aboluo_612:o21.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1787,516},{204,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{204,172}}</string>
                <key>sourceSize</key>
                <string>{204,172}</string>
            </dict>
            <key>effect_show_aboluo_612:o22.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1818,160},{198,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{198,183}}</string>
                <key>sourceSize</key>
                <string>{198,183}</string>
            </dict>
            <key>effect_show_aboluo_612:o23.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{262,572},{181,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{181,187}}</string>
                <key>sourceSize</key>
                <string>{181,187}</string>
            </dict>
            <key>effect_show_aboluo_612:o24.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{866,582},{181,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{181,180}}</string>
                <key>sourceSize</key>
                <string>{181,180}</string>
            </dict>
            <key>effect_show_aboluo_612:o25.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{866,764},{178,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{178,165}}</string>
                <key>sourceSize</key>
                <string>{178,165}</string>
            </dict>
            <key>effect_show_aboluo_612:o26.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{209,761},{190,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{190,167}}</string>
                <key>sourceSize</key>
                <string>{190,167}</string>
            </dict>
            <key>effect_show_aboluo_612:o28.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,624},{207,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{207,152}}</string>
                <key>sourceSize</key>
                <string>{207,152}</string>
            </dict>
            <key>effect_show_aboluo_612:o29.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,778},{205,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{205,137}}</string>
                <key>sourceSize</key>
                <string>{205,137}</string>
            </dict>
            <key>effect_show_aboluo_612:o31.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{556,804},{180,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{180,144}}</string>
                <key>sourceSize</key>
                <string>{180,144}</string>
            </dict>
            <key>effect_show_aboluo_612:o32.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{401,764},{153,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{153,143}}</string>
                <key>sourceSize</key>
                <string>{153,143}</string>
            </dict>
            <key>effect_show_aboluo_612:o33.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1404,829},{146,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{146,133}}</string>
                <key>sourceSize</key>
                <string>{146,133}</string>
            </dict>
            <key>effect_show_aboluo_612:o34.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1219,814},{183,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{183,118}}</string>
                <key>sourceSize</key>
                <string>{183,118}</string>
            </dict>
            <key>effect_show_aboluo_612:o35.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1768,690},{214,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{214,144}}</string>
                <key>sourceSize</key>
                <string>{214,144}</string>
            </dict>
            <key>effect_show_aboluo_612:o36.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1818,0},{224,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{224,158}}</string>
                <key>sourceSize</key>
                <string>{224,158}</string>
            </dict>
            <key>effect_show_aboluo_612:o39.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1787,345},{208,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{208,169}}</string>
                <key>sourceSize</key>
                <string>{208,169}</string>
            </dict>
            <key>effect_show_aboluo_612:pijian11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{445,572},{62,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{62,109}}</string>
                <key>sourceSize</key>
                <string>{62,109}</string>
            </dict>
            <key>effect_show_aboluo_612:pijian21.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1984,690},{59,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{59,82}}</string>
                <key>sourceSize</key>
                <string>{59,82}</string>
            </dict>
            <key>effect_show_aboluo_612:s1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1221,285},{281,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{281,281}}</string>
                <key>sourceSize</key>
                <string>{281,281}</string>
            </dict>
            <key>effect_show_aboluo_612:s10.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{594,0},{322,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{322,265}}</string>
                <key>sourceSize</key>
                <string>{322,265}</string>
            </dict>
            <key>effect_show_aboluo_612:s11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{556,556},{308,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{308,246}}</string>
                <key>sourceSize</key>
                <string>{308,246}</string>
            </dict>
            <key>effect_show_aboluo_612:s12.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1182,568},{298,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{298,244}}</string>
                <key>sourceSize</key>
                <string>{298,244}</string>
            </dict>
            <key>effect_show_aboluo_612:s13.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1482,570},{284,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{284,257}}</string>
                <key>sourceSize</key>
                <string>{284,257}</string>
            </dict>
            <key>effect_show_aboluo_612:s14.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{279,281},{275,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{275,289}}</string>
                <key>sourceSize</key>
                <string>{275,289}</string>
            </dict>
            <key>effect_show_aboluo_612:s15.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{917,288},{263,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{263,292}}</string>
                <key>sourceSize</key>
                <string>{263,292}</string>
            </dict>
            <key>effect_show_aboluo_612:s2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,345},{260,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{260,277}}</string>
                <key>sourceSize</key>
                <string>{260,277}</string>
            </dict>
            <key>effect_show_aboluo_612:s3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1519,291},{266,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{266,277}}</string>
                <key>sourceSize</key>
                <string>{266,277}</string>
            </dict>
            <key>effect_show_aboluo_612:s4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{277,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{277,343}}</string>
                <key>sourceSize</key>
                <string>{277,343}</string>
            </dict>
            <key>effect_show_aboluo_612:s5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{594,267},{290,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{290,287}}</string>
                <key>sourceSize</key>
                <string>{290,287}</string>
            </dict>
            <key>effect_show_aboluo_612:s6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1523,0},{293,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{293,289}}</string>
                <key>sourceSize</key>
                <string>{293,289}</string>
            </dict>
            <key>effect_show_aboluo_612:s7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1221,0},{300,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{300,283}}</string>
                <key>sourceSize</key>
                <string>{300,283}</string>
            </dict>
            <key>effect_show_aboluo_612:s8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{918,0},{301,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{301,286}}</string>
                <key>sourceSize</key>
                <string>{301,286}</string>
            </dict>
            <key>effect_show_aboluo_612:s9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{279,0},{313,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{313,279}}</string>
                <key>sourceSize</key>
                <string>{313,279}</string>
            </dict>
            <key>effect_show_aboluo_612:shenti11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2018,257},{26,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,31}}</string>
                <key>sourceSize</key>
                <string>{26,31}</string>
            </dict>
            <key>effect_show_aboluo_612:shou11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{886,301},{16,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,12}}</string>
                <key>sourceSize</key>
                <string>{16,12}</string>
            </dict>
            <key>effect_show_aboluo_612:shoubi11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1787,291},{19,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,14}}</string>
                <key>sourceSize</key>
                <string>{19,14}</string>
            </dict>
            <key>effect_show_aboluo_612:shoubi22.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1182,288},{23,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,26}}</string>
                <key>sourceSize</key>
                <string>{23,26}</string>
            </dict>
            <key>effect_show_aboluo_612:toufa11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1993,516},{50,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{50,51}}</string>
                <key>sourceSize</key>
                <string>{50,51}</string>
            </dict>
            <key>effect_show_aboluo_612:weiqun1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1997,345},{42,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{42,34}}</string>
                <key>sourceSize</key>
                <string>{42,34}</string>
            </dict>
            <key>effect_show_aboluo_612:wuqi11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1049,582},{115,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{115,155}}</string>
                <key>sourceSize</key>
                <string>{115,155}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_show_aboluo_612.pvr.ccz</string>
            <key>size</key>
            <string>{2046,957}</string>
            <key>textureFileName</key>
            <string>effect_show_aboluo_612.pvr.ccz</string>
        </dict>
    </dict>
</plist>
