<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_skill_invincible_109:bgtc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{915,205},{83,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{83,38}}</string>
                <key>sourceSize</key>
                <string>{83,38}</string>
            </dict>
            <key>effect_skill_invincible_109:w1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{767,0},{170,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{170,202}}</string>
                <key>sourceSize</key>
                <string>{170,202}</string>
            </dict>
            <key>effect_skill_invincible_109:w10.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{567,198},{171,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{171,177}}</string>
                <key>sourceSize</key>
                <string>{171,177}</string>
            </dict>
            <key>effect_skill_invincible_109:w11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{385,198},{179,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{179,176}}</string>
                <key>sourceSize</key>
                <string>{179,176}</string>
            </dict>
            <key>effect_skill_invincible_109:w3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{182,213},{171,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{171,177}}</string>
                <key>sourceSize</key>
                <string>{171,177}</string>
            </dict>
            <key>effect_skill_invincible_109:w4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{385,0},{188,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{188,195}}</string>
                <key>sourceSize</key>
                <string>{188,195}</string>
            </dict>
            <key>effect_skill_invincible_109:w5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{202,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{202,192}}</string>
                <key>sourceSize</key>
                <string>{202,192}</string>
            </dict>
            <key>effect_skill_invincible_109:w6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{205,0},{177,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{177,210}}</string>
                <key>sourceSize</key>
                <string>{177,210}</string>
            </dict>
            <key>effect_skill_invincible_109:w7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,195},{179,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{179,180}}</string>
                <key>sourceSize</key>
                <string>{179,180}</string>
            </dict>
            <key>effect_skill_invincible_109:w8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{741,205},{171,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{171,177}}</string>
                <key>sourceSize</key>
                <string>{171,177}</string>
            </dict>
            <key>effect_skill_invincible_109:w9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{576,0},{188,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{188,195}}</string>
                <key>sourceSize</key>
                <string>{188,195}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_skill_invincible_109.pvr.ccz</string>
            <key>size</key>
            <string>{1001,392}</string>
            <key>textureFileName</key>
            <string>effect_skill_invincible_109.pvr.ccz</string>
        </dict>
    </dict>
</plist>
