<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_thunder_191:b1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,499},{203,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{203,117}}</string>
                <key>sourceSize</key>
                <string>{203,117}</string>
            </dict>
            <key>effect_thunder_191:b2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{310,489},{211,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{211,181}}</string>
                <key>sourceSize</key>
                <string>{211,181}</string>
            </dict>
            <key>effect_thunder_191:b3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{628,324},{211,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{211,301}}</string>
                <key>sourceSize</key>
                <string>{211,301}</string>
            </dict>
            <key>effect_thunder_191:b4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{636,0},{211,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{211,322}}</string>
                <key>sourceSize</key>
                <string>{211,322}</string>
            </dict>
            <key>effect_thunder_191:b5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{316,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{316,342}}</string>
                <key>sourceSize</key>
                <string>{316,342}</string>
            </dict>
            <key>effect_thunder_191:b6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{318,0},{316,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{316,277}}</string>
                <key>sourceSize</key>
                <string>{316,277}</string>
            </dict>
            <key>effect_thunder_191:b7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{318,279},{308,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{308,208}}</string>
                <key>sourceSize</key>
                <string>{308,208}</string>
            </dict>
            <key>effect_thunder_191:b8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,344},{308,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{308,153}}</string>
                <key>sourceSize</key>
                <string>{308,153}</string>
            </dict>
            <key>effect_thunder_191:b9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{523,627},{318,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{318,156}}</string>
                <key>sourceSize</key>
                <string>{318,156}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_thunder_191.pvr.ccz</string>
            <key>size</key>
            <string>{843,786}</string>
            <key>textureFileName</key>
            <string>effect_thunder_191.pvr.ccz</string>
        </dict>
    </dict>
</plist>
