<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_fairy_jiuwei_264:9c8asqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{85,143},{125,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{125,147}}</string>
                <key>sourceSize</key>
                <string>{125,147}</string>
            </dict>
            <key>effect_fairy_jiuwei_264:casqwer.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{235,395},{77,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{77,99}}</string>
                <key>sourceSize</key>
                <string>{77,99}</string>
            </dict>
            <key>effect_fairy_jiuwei_264:casqwtq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{253,0},{166,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{166,116}}</string>
                <key>sourceSize</key>
                <string>{166,116}</string>
            </dict>
            <key>effect_fairy_jiuwei_264:casrtq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{360,382},{94,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{94,114}}</string>
                <key>sourceSize</key>
                <string>{94,114}</string>
            </dict>
            <key>effect_fairy_jiuwei_264:dasqwefq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,248},{58,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,159}}</string>
                <key>sourceSize</key>
                <string>{58,159}</string>
            </dict>
            <key>effect_fairy_jiuwei_264:dqwrtq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{212,271},{146,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{146,122}}</string>
                <key>sourceSize</key>
                <string>{146,122}</string>
            </dict>
            <key>effect_fairy_jiuwei_264:iuas8qw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{60,292},{94,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{94,114}}</string>
                <key>sourceSize</key>
                <string>{94,114}</string>
            </dict>
            <key>effect_fairy_jiuwei_264:iuczxasdqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{83,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{83,246}}</string>
                <key>sourceSize</key>
                <string>{83,246}</string>
            </dict>
            <key>effect_fairy_jiuwei_264:iuqws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{421,0},{67,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{67,199}}</string>
                <key>sourceSize</key>
                <string>{67,199}</string>
            </dict>
            <key>effect_fairy_jiuwei_264:kiqwsa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{85,0},{166,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{166,141}}</string>
                <key>sourceSize</key>
                <string>{166,141}</string>
            </dict>
            <key>effect_fairy_jiuwei_264:mjshdqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{382,201},{84,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{84,179}}</string>
                <key>sourceSize</key>
                <string>{84,179}</string>
            </dict>
            <key>effect_fairy_jiuwei_264:mkcajsq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{253,118},{127,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{127,151}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>effect_fairy_jiuwei_264:qwerq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{156,395},{77,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{77,99}}</string>
                <key>sourceSize</key>
                <string>{77,99}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_fairy_jiuwei_264.pvr.ccz</string>
            <key>size</key>
            <string>{496,503}</string>
            <key>textureFileName</key>
            <string>effect_fairy_jiuwei_264.pvr.ccz</string>
        </dict>
    </dict>
</plist>
