<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_speedup_115:12mw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{384,0},{160,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{160,194}}</string>
                <key>sourceSize</key>
                <string>{160,194}</string>
            </dict>
            <key>effect_speedup_115:asdv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{898,0},{45,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,267}}</string>
                <key>sourceSize</key>
                <string>{45,267}</string>
            </dict>
            <key>effect_speedup_115:bsd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{723,0},{172,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{172,169}}</string>
                <key>sourceSize</key>
                <string>{172,169}</string>
            </dict>
            <key>effect_speedup_115:cas.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{199,0},{182,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{182,176}}</string>
                <key>sourceSize</key>
                <string>{182,176}</string>
            </dict>
            <key>effect_speedup_115:jqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{547,174},{160,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{160,156}}</string>
                <key>sourceSize</key>
                <string>{160,156}</string>
            </dict>
            <key>effect_speedup_115:kiw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{534,333},{152,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{152,149}}</string>
                <key>sourceSize</key>
                <string>{152,149}</string>
            </dict>
            <key>effect_speedup_115:lloai.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{946,0},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>effect_speedup_115:vasw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{175,179},{176,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{176,159}}</string>
                <key>sourceSize</key>
                <string>{176,159}</string>
            </dict>
            <key>effect_speedup_115:vaswe3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{723,172},{163,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{163,174}}</string>
                <key>sourceSize</key>
                <string>{163,174}</string>
            </dict>
            <key>effect_speedup_115:vawe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{196,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{196,168}}</string>
                <key>sourceSize</key>
                <string>{196,168}</string>
            </dict>
            <key>effect_speedup_115:vawe6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,171},{172,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{172,165}}</string>
                <key>sourceSize</key>
                <string>{172,165}</string>
            </dict>
            <key>effect_speedup_115:vsde.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{547,0},{173,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{173,171}}</string>
                <key>sourceSize</key>
                <string>{173,171}</string>
            </dict>
            <key>effect_speedup_115:vsdw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{354,197},{177,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{177,147}}</string>
                <key>sourceSize</key>
                <string>{177,147}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_speedup_115.pvr.ccz</string>
            <key>size</key>
            <string>{993,477}</string>
            <key>textureFileName</key>
            <string>effect_speedup_115.pvr.ccz</string>
        </dict>
    </dict>
</plist>
