<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_whirlstorm_197:asdbs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{346,319},{158,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{158,94}}</string>
                <key>sourceSize</key>
                <string>{158,94}</string>
            </dict>
            <key>effect_whirlstorm_197:loaws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{218,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{218,221}}</string>
                <key>sourceSize</key>
                <string>{218,221}</string>
            </dict>
            <key>effect_whirlstorm_197:lui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{176,319},{168,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{168,100}}</string>
                <key>sourceSize</key>
                <string>{168,100}</string>
            </dict>
            <key>effect_whirlstorm_197:ma.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,223},{174,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{174,105}}</string>
                <key>sourceSize</key>
                <string>{174,105}</string>
            </dict>
            <key>effect_whirlstorm_197:rwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{220,205},{173,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{173,112}}</string>
                <key>sourceSize</key>
                <string>{173,112}</string>
            </dict>
            <key>effect_whirlstorm_197:vase.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{346,415},{136,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{136,56}}</string>
                <key>sourceSize</key>
                <string>{136,56}</string>
            </dict>
            <key>effect_whirlstorm_197:vaswe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{220,0},{195,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{195,203}}</string>
                <key>sourceSize</key>
                <string>{195,203}</string>
            </dict>
            <key>effect_whirlstorm_197:vvse.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,330},{166,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{166,90}}</string>
                <key>sourceSize</key>
                <string>{166,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_whirlstorm_197.pvr.ccz</string>
            <key>size</key>
            <string>{504,468}</string>
            <key>textureFileName</key>
            <string>effect_whirlstorm_197.pvr.ccz</string>
        </dict>
    </dict>
</plist>
