<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_evilball_240:caswf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{84,125},{82,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{82,123}}</string>
                <key>sourceSize</key>
                <string>{82,123}</string>
            </dict>
            <key>effect_evilball_240:loqwsp.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{168,0},{82,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{82,123}}</string>
                <key>sourceSize</key>
                <string>{82,123}</string>
            </dict>
            <key>effect_evilball_240:mcjsi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{84,0},{82,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{82,123}}</string>
                <key>sourceSize</key>
                <string>{82,123}</string>
            </dict>
            <key>effect_evilball_240:oioq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{82,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{82,125}}</string>
                <key>sourceSize</key>
                <string>{82,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_evilball_240.pvr.ccz</string>
            <key>size</key>
            <string>{249,247}</string>
            <key>textureFileName</key>
            <string>effect_evilball_240.pvr.ccz</string>
        </dict>
    </dict>
</plist>
