<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_crystal_432:asdc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{489,140},{7,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,7}}</string>
                <key>sourceSize</key>
                <string>{7,7}</string>
            </dict>
            <key>effect_crystal_432:base.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{130,0},{126,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{126,141}}</string>
                <key>sourceSize</key>
                <string>{126,141}</string>
            </dict>
            <key>effect_crystal_432:cawq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{259,142},{32,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,24}}</string>
                <key>sourceSize</key>
                <string>{32,24}</string>
            </dict>
            <key>effect_crystal_432:lloai.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{386,140},{65,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{65,63}}</string>
                <key>sourceSize</key>
                <string>{65,63}</string>
            </dict>
            <key>effect_crystal_432:ndfrt.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{127,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{127,143}}</string>
                <key>sourceSize</key>
                <string>{127,143}</string>
            </dict>
            <key>effect_crystal_432:vawvsw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{454,140},{32,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,24}}</string>
                <key>sourceSize</key>
                <string>{32,24}</string>
            </dict>
            <key>effect_crystal_432:vdfwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{386,0},{123,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{123,137}}</string>
                <key>sourceSize</key>
                <string>{123,137}</string>
            </dict>
            <key>effect_crystal_432:vsvd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{259,0},{124,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{124,139}}</string>
                <key>sourceSize</key>
                <string>{124,139}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_crystal_432.pvr.ccz</string>
            <key>size</key>
            <string>{505,200}</string>
            <key>textureFileName</key>
            <string>effect_crystal_432.pvr.ccz</string>
        </dict>
    </dict>
</plist>
