<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_electricshield_429:a1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{158,224},{131,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{131,221}}</string>
                <key>sourceSize</key>
                <string>{131,221}</string>
            </dict>
            <key>effect_electricshield_429:a2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,224},{155,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{155,221}}</string>
                <key>sourceSize</key>
                <string>{155,221}</string>
            </dict>
            <key>effect_electricshield_429:a3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{185,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{185,221}}</string>
                <key>sourceSize</key>
                <string>{185,221}</string>
            </dict>
            <key>effect_electricshield_429:a4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{356,0},{149,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{149,221}}</string>
                <key>sourceSize</key>
                <string>{149,221}</string>
            </dict>
            <key>effect_electricshield_429:a5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{188,0},{165,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{165,221}}</string>
                <key>sourceSize</key>
                <string>{165,221}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_electricshield_429.pvr.ccz</string>
            <key>size</key>
            <string>{495,431}</string>
            <key>textureFileName</key>
            <string>effect_electricshield_429.pvr.ccz</string>
        </dict>
    </dict>
</plist>
