<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_show_sunwukong_609:b1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{936,239},{27,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,30}}</string>
                <key>sourceSize</key>
                <string>{27,30}</string>
            </dict>
            <key>effect_show_sunwukong_609:b2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1001,146},{13,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,29}}</string>
                <key>sourceSize</key>
                <string>{13,29}</string>
            </dict>
            <key>effect_show_sunwukong_609:b3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{936,203},{31,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,34}}</string>
                <key>sourceSize</key>
                <string>{31,34}</string>
            </dict>
            <key>effect_show_sunwukong_609:b4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{969,230},{29,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,32}}</string>
                <key>sourceSize</key>
                <string>{29,32}</string>
            </dict>
            <key>effect_show_sunwukong_609:bcvbcbc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{232,336},{120,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{120,122}}</string>
                <key>sourceSize</key>
                <string>{120,122}</string>
            </dict>
            <key>effect_show_sunwukong_609:c1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{904,203},{30,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,38}}</string>
                <key>sourceSize</key>
                <string>{30,38}</string>
            </dict>
            <key>effect_show_sunwukong_609:c2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{937,119},{30,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>effect_show_sunwukong_609:c3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{969,188},{30,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>effect_show_sunwukong_609:c4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{981,104},{30,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>effect_show_sunwukong_609:c5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{937,161},{30,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>effect_show_sunwukong_609:c6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{905,161},{30,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>effect_show_sunwukong_609:c7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{969,146},{30,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>effect_show_sunwukong_609:c8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{905,119},{30,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>effect_show_sunwukong_609:jiao1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1001,177},{18,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,19}}</string>
                <key>sourceSize</key>
                <string>{18,19}</string>
            </dict>
            <key>effect_show_sunwukong_609:jiao2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{904,243},{25,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,28}}</string>
                <key>sourceSize</key>
                <string>{25,28}</string>
            </dict>
            <key>effect_show_sunwukong_609:kudang1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{956,283},{14,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,10}}</string>
                <key>sourceSize</key>
                <string>{14,10}</string>
            </dict>
            <key>effect_show_sunwukong_609:nnvn.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{354,430},{243,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{243,38}}</string>
                <key>sourceSize</key>
                <string>{243,38}</string>
            </dict>
            <key>effect_show_sunwukong_609:p1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{688,329},{219,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{219,146}}</string>
                <key>sourceSize</key>
                <string>{219,146}</string>
            </dict>
            <key>effect_show_sunwukong_609:p10.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{241,0},{218,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{218,175}}</string>
                <key>sourceSize</key>
                <string>{218,175}</string>
            </dict>
            <key>effect_show_sunwukong_609:p2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{688,177},{214,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{214,150}}</string>
                <key>sourceSize</key>
                <string>{214,150}</string>
            </dict>
            <key>effect_show_sunwukong_609:p3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{236,177},{222,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{222,157}}</string>
                <key>sourceSize</key>
                <string>{222,157}</string>
            </dict>
            <key>effect_show_sunwukong_609:p4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{461,0},{225,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{225,167}}</string>
                <key>sourceSize</key>
                <string>{225,167}</string>
            </dict>
            <key>effect_show_sunwukong_609:p5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,312},{230,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{230,144}}</string>
                <key>sourceSize</key>
                <string>{230,144}</string>
            </dict>
            <key>effect_show_sunwukong_609:p6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{239,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{239,154}}</string>
                <key>sourceSize</key>
                <string>{239,154}</string>
            </dict>
            <key>effect_show_sunwukong_609:p7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,156},{234,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{234,154}}</string>
                <key>sourceSize</key>
                <string>{234,154}</string>
            </dict>
            <key>effect_show_sunwukong_609:p8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{461,169},{225,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{225,159}}</string>
                <key>sourceSize</key>
                <string>{225,159}</string>
            </dict>
            <key>effect_show_sunwukong_609:p9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{688,0},{215,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{215,175}}</string>
                <key>sourceSize</key>
                <string>{215,175}</string>
            </dict>
            <key>effect_show_sunwukong_609:pifen1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{972,283},{41,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{41,19}}</string>
                <key>sourceSize</key>
                <string>{41,19}</string>
            </dict>
            <key>effect_show_sunwukong_609:pifeng1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{905,67},{74,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{74,50}}</string>
                <key>sourceSize</key>
                <string>{74,50}</string>
            </dict>
            <key>effect_show_sunwukong_609:shenti1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{965,264},{23,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,17}}</string>
                <key>sourceSize</key>
                <string>{23,17}</string>
            </dict>
            <key>effect_show_sunwukong_609:shipin1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1001,216},{11,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,23}}</string>
                <key>sourceSize</key>
                <string>{11,23}</string>
            </dict>
            <key>effect_show_sunwukong_609:shou3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{904,273},{15,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,13}}</string>
                <key>sourceSize</key>
                <string>{15,13}</string>
            </dict>
            <key>effect_show_sunwukong_609:shoubi1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1001,198},{18,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,16}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>effect_show_sunwukong_609:shoubi2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1000,263},{22,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,18}}</string>
                <key>sourceSize</key>
                <string>{22,18}</string>
            </dict>
            <key>effect_show_sunwukong_609:tou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{981,67},{38,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,35}}</string>
                <key>sourceSize</key>
                <string>{38,35}</string>
            </dict>
            <key>effect_show_sunwukong_609:tui1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1000,241},{22,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,20}}</string>
                <key>sourceSize</key>
                <string>{22,20}</string>
            </dict>
            <key>effect_show_sunwukong_609:tui2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{931,271},{23,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,16}}</string>
                <key>sourceSize</key>
                <string>{23,16}</string>
            </dict>
            <key>effect_show_sunwukong_609:wuqi1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{460,330},{185,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{185,98}}</string>
                <key>sourceSize</key>
                <string>{185,98}</string>
            </dict>
            <key>effect_show_sunwukong_609:yun.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{905,0},{108,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{108,65}}</string>
                <key>sourceSize</key>
                <string>{108,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_show_sunwukong_609.pvr.ccz</string>
            <key>size</key>
            <string>{1022,474}</string>
            <key>textureFileName</key>
            <string>effect_show_sunwukong_609.pvr.ccz</string>
        </dict>
    </dict>
</plist>
