<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_magicball2_151:x1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{74,178},{55,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,77}}</string>
                <key>sourceSize</key>
                <string>{55,77}</string>
            </dict>
            <key>effect_magicball2_151:x2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{132,179},{68,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,63}}</string>
                <key>sourceSize</key>
                <string>{68,63}</string>
            </dict>
            <key>effect_magicball2_151:x3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{106,0},{92,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{92,93}}</string>
                <key>sourceSize</key>
                <string>{92,93}</string>
            </dict>
            <key>effect_magicball2_151:x4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{103,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{103,104}}</string>
                <key>sourceSize</key>
                <string>{103,104}</string>
            </dict>
            <key>effect_magicball2_151:x5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{106,96},{78,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{78,79}}</string>
                <key>sourceSize</key>
                <string>{78,79}</string>
            </dict>
            <key>effect_magicball2_151:x6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{187,96},{66,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{66,80}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>effect_magicball2_151:x7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,107},{71,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{71,70}}</string>
                <key>sourceSize</key>
                <string>{71,70}</string>
            </dict>
            <key>effect_magicball2_151:x8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,180},{57,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{57,70}}</string>
                <key>sourceSize</key>
                <string>{57,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_magicball2_151.pvr.ccz</string>
            <key>size</key>
            <string>{256,257}</string>
            <key>textureFileName</key>
            <string>effect_magicball2_151.pvr.ccz</string>
        </dict>
    </dict>
</plist>
