<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_sendre_453:dasd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{626,626}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{626,626}}</string>
                <key>sourceSize</key>
                <string>{626,626}</string>
            </dict>
            <key>effect_sendre_453:h1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{848,0},{218,355}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{218,355}}</string>
                <key>sourceSize</key>
                <string>{218,355}</string>
            </dict>
            <key>effect_sendre_453:h2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{628,0},{218,355}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{218,355}}</string>
                <key>sourceSize</key>
                <string>{218,355}</string>
            </dict>
            <key>effect_sendre_453:z1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{832,357},{199,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{199,162}}</string>
                <key>sourceSize</key>
                <string>{199,162}</string>
            </dict>
            <key>effect_sendre_453:z10.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{628,357},{202,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{202,200}}</string>
                <key>sourceSize</key>
                <string>{202,200}</string>
            </dict>
            <key>effect_sendre_453:z11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{832,521},{202,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{202,145}}</string>
                <key>sourceSize</key>
                <string>{202,145}</string>
            </dict>
            <key>effect_sendre_453:z12.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1036,534},{202,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{202,91}}</string>
                <key>sourceSize</key>
                <string>{202,91}</string>
            </dict>
            <key>effect_sendre_453:z13.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1869,0},{174,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{174,36}}</string>
                <key>sourceSize</key>
                <string>{174,36}</string>
            </dict>
            <key>effect_sendre_453:z2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1068,340},{199,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{199,192}}</string>
                <key>sourceSize</key>
                <string>{199,192}</string>
            </dict>
            <key>effect_sendre_453:z3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1473,285},{199,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{199,204}}</string>
                <key>sourceSize</key>
                <string>{199,204}</string>
            </dict>
            <key>effect_sendre_453:z4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1674,278},{199,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{199,269}}</string>
                <key>sourceSize</key>
                <string>{199,269}</string>
            </dict>
            <key>effect_sendre_453:z5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1068,0},{199,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{199,338}}</string>
                <key>sourceSize</key>
                <string>{199,338}</string>
            </dict>
            <key>effect_sendre_453:z6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1473,0},{199,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{199,283}}</string>
                <key>sourceSize</key>
                <string>{199,283}</string>
            </dict>
            <key>effect_sendre_453:z7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1674,0},{193,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{193,276}}</string>
                <key>sourceSize</key>
                <string>{193,276}</string>
            </dict>
            <key>effect_sendre_453:z8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1269,0},{202,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{202,308}}</string>
                <key>sourceSize</key>
                <string>{202,308}</string>
            </dict>
            <key>effect_sendre_453:z9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1269,310},{202,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{202,254}}</string>
                <key>sourceSize</key>
                <string>{202,254}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_sendre_453.pvr.ccz</string>
            <key>size</key>
            <string>{1943,651}</string>
            <key>textureFileName</key>
            <string>effect_sendre_453.pvr.ccz</string>
        </dict>
    </dict>
</plist>
