<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_fireball_111:w1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{609,0},{200,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{200,238}}</string>
                <key>sourceSize</key>
                <string>{200,238}</string>
            </dict>
            <key>effect_fireball_111:w2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{203,259},{171,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{171,237}}</string>
                <key>sourceSize</key>
                <string>{171,237}</string>
            </dict>
            <key>effect_fireball_111:w3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{200,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{200,257}}</string>
                <key>sourceSize</key>
                <string>{200,257}</string>
            </dict>
            <key>effect_fireball_111:w4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{812,0},{171,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{171,264}}</string>
                <key>sourceSize</key>
                <string>{171,264}</string>
            </dict>
            <key>effect_fireball_111:w5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{406,0},{200,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{200,240}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
            <key>effect_fireball_111:w7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{609,241},{172,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{172,260}}</string>
                <key>sourceSize</key>
                <string>{172,260}</string>
            </dict>
            <key>effect_fireball_111:w8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{203,0},{200,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{200,256}}</string>
                <key>sourceSize</key>
                <string>{200,256}</string>
            </dict>
            <key>effect_fireball_111:w9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{406,243},{176,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{176,246}}</string>
                <key>sourceSize</key>
                <string>{176,246}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_fireball_111.pvr.ccz</string>
            <key>size</key>
            <string>{979,511}</string>
            <key>textureFileName</key>
            <string>effect_fireball_111.pvr.ccz</string>
        </dict>
    </dict>
</plist>
