<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_show_xingjihangmu_603:aiskdjua.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1006,91},{10,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,16}}</string>
                <key>sourceSize</key>
                <string>{10,16}</string>
            </dict>
            <key>effect_show_xingjihangmu_603:ajsudqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{999,74},{7,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,14}}</string>
                <key>sourceSize</key>
                <string>{7,14}</string>
            </dict>
            <key>effect_show_xingjihangmu_603:asmcl.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1018,98},{3,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{3,6}}</string>
                <key>sourceSize</key>
                <string>{3,6}</string>
            </dict>
            <key>effect_show_xingjihangmu_603:asodpq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{999,90},{5,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{5,11}}</string>
                <key>sourceSize</key>
                <string>{5,11}</string>
            </dict>
            <key>effect_show_xingjihangmu_603:bfrt6e.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,337},{163,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{163,193}}</string>
                <key>sourceSize</key>
                <string>{163,193}</string>
            </dict>
            <key>effect_show_xingjihangmu_603:caqq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1008,34},{11,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,26}}</string>
                <key>sourceSize</key>
                <string>{11,26}</string>
            </dict>
            <key>effect_show_xingjihangmu_603:casqq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{963,117},{17,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,16}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>effect_show_xingjihangmu_603:casqwerq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{896,428},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>effect_show_xingjihangmu_603:ciuasda.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{985,137},{7,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,7}}</string>
                <key>sourceSize</key>
                <string>{7,7}</string>
            </dict>
            <key>effect_show_xingjihangmu_603:cnajshdy.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1008,62},{14,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,12}}</string>
                <key>sourceSize</key>
                <string>{14,12}</string>
            </dict>
            <key>effect_show_xingjihangmu_603:cnhasyda.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1018,91},{4,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{4,5}}</string>
                <key>sourceSize</key>
                <string>{4,5}</string>
            </dict>
            <key>effect_show_xingjihangmu_603:csdqwetq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{566,0},{209,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{209,224}}</string>
                <key>sourceSize</key>
                <string>{209,224}</string>
            </dict>
            <key>effect_show_xingjihangmu_603:ds3452.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{777,0},{184,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{184,221}}</string>
                <key>sourceSize</key>
                <string>{184,221}</string>
            </dict>
            <key>effect_show_xingjihangmu_603:fdsfwertq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{777,223},{183,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{183,203}}</string>
                <key>sourceSize</key>
                <string>{183,203}</string>
            </dict>
            <key>effect_show_xingjihangmu_603:few557rgbh.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{336,0},{228,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{228,252}}</string>
                <key>sourceSize</key>
                <string>{228,252}</string>
            </dict>
            <key>effect_show_xingjihangmu_603:fewe5w.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{165,337},{144,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{144,179}}</string>
                <key>sourceSize</key>
                <string>{144,179}</string>
            </dict>
            <key>effect_show_xingjihangmu_603:fsadfgs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{741,428},{153,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{153,156}}</string>
                <key>sourceSize</key>
                <string>{153,156}</string>
            </dict>
            <key>effect_show_xingjihangmu_603:fsdfwety.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{566,226},{173,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{173,207}}</string>
                <key>sourceSize</key>
                <string>{173,207}</string>
            </dict>
            <key>effect_show_xingjihangmu_603:fwe34563.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{336,254},{170,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{170,204}}</string>
                <key>sourceSize</key>
                <string>{170,204}</string>
            </dict>
            <key>effect_show_xingjihangmu_603:jaisuqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{963,74},{34,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,41}}</string>
                <key>sourceSize</key>
                <string>{34,41}</string>
            </dict>
            <key>effect_show_xingjihangmu_603:jausq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{448,521},{119,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{119,39}}</string>
                <key>sourceSize</key>
                <string>{119,39}</string>
            </dict>
            <key>effect_show_xingjihangmu_603:jhqwue.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{963,185},{45,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,33}}</string>
                <key>sourceSize</key>
                <string>{45,33}</string>
            </dict>
            <key>effect_show_xingjihangmu_603:jiuqwe4q.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{999,109},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
            <key>effect_show_xingjihangmu_603:juiqw91.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{165,518},{141,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{141,63}}</string>
                <key>sourceSize</key>
                <string>{141,63}</string>
            </dict>
            <key>effect_show_xingjihangmu_603:juqwec.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1008,0},{13,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,32}}</string>
                <key>sourceSize</key>
                <string>{13,32}</string>
            </dict>
            <key>effect_show_xingjihangmu_603:kcjasud.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1008,76},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>effect_show_xingjihangmu_603:kcjmj.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{982,127},{14,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,8}}</string>
                <key>sourceSize</key>
                <string>{14,8}</string>
            </dict>
            <key>effect_show_xingjihangmu_603:kjiqwa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{963,147},{50,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{50,36}}</string>
                <key>sourceSize</key>
                <string>{50,36}</string>
            </dict>
            <key>effect_show_xingjihangmu_603:laosd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{998,135},{19,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,6}}</string>
                <key>sourceSize</key>
                <string>{19,6}</string>
            </dict>
            <key>effect_show_xingjihangmu_603:laosdpa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{982,117},{14,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,8}}</string>
                <key>sourceSize</key>
                <string>{14,8}</string>
            </dict>
            <key>effect_show_xingjihangmu_603:mcjasuqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{334,335}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{334,335}}</string>
                <key>sourceSize</key>
                <string>{334,335}</string>
            </dict>
            <key>effect_show_xingjihangmu_603:nbnvnv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{308,562},{243,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{243,38}}</string>
                <key>sourceSize</key>
                <string>{243,38}</string>
            </dict>
            <key>effect_show_xingjihangmu_603:ncjsha.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{963,135},{11,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,9}}</string>
                <key>sourceSize</key>
                <string>{11,9}</string>
            </dict>
            <key>effect_show_xingjihangmu_603:s90as.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{976,137},{7,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,8}}</string>
                <key>sourceSize</key>
                <string>{7,8}</string>
            </dict>
            <key>effect_show_xingjihangmu_603:ucyqwega.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{569,521},{71,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{71,26}}</string>
                <key>sourceSize</key>
                <string>{71,26}</string>
            </dict>
            <key>effect_show_xingjihangmu_603:uyqwea.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{647,435},{69,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{69,103}}</string>
                <key>sourceSize</key>
                <string>{69,103}</string>
            </dict>
            <key>effect_show_xingjihangmu_603:uyqweqa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{311,460},{135,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{135,78}}</string>
                <key>sourceSize</key>
                <string>{135,78}</string>
            </dict>
            <key>effect_show_xingjihangmu_603:uyqwesc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{963,0},{43,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,72}}</string>
                <key>sourceSize</key>
                <string>{43,72}</string>
            </dict>
            <key>effect_show_xingjihangmu_603:vsdsdf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{508,435},{137,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{137,84}}</string>
                <key>sourceSize</key>
                <string>{137,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_show_xingjihangmu_603.pvr.ccz</string>
            <key>size</key>
            <string>{1024,600}</string>
            <key>textureFileName</key>
            <string>effect_show_xingjihangmu_603.pvr.ccz</string>
        </dict>
    </dict>
</plist>
