<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_show_jinglingdan5_606:aiskdjua.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1004,0},{17,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,21}}</string>
                <key>sourceSize</key>
                <string>{17,21}</string>
            </dict>
            <key>effect_show_jinglingdan5_606:ajsudqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1004,41},{13,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,19}}</string>
                <key>sourceSize</key>
                <string>{13,19}</string>
            </dict>
            <key>effect_show_jinglingdan5_606:asmcl.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{993,108},{9,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,10}}</string>
                <key>sourceSize</key>
                <string>{9,10}</string>
            </dict>
            <key>effect_show_jinglingdan5_606:asodpq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1004,77},{12,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,15}}</string>
                <key>sourceSize</key>
                <string>{12,15}</string>
            </dict>
            <key>effect_show_jinglingdan5_606:casqww.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1019,41},{3,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
            <key>effect_show_jinglingdan5_606:ciuasda.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1004,121},{12,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,10}}</string>
                <key>sourceSize</key>
                <string>{12,10}</string>
            </dict>
            <key>effect_show_jinglingdan5_606:ckiasd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1004,109},{14,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,10}}</string>
                <key>sourceSize</key>
                <string>{14,10}</string>
            </dict>
            <key>effect_show_jinglingdan5_606:cmkasiqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{310,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{310,245}}</string>
                <key>sourceSize</key>
                <string>{310,245}</string>
            </dict>
            <key>effect_show_jinglingdan5_606:cnajshdy.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1004,23},{18,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,16}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>effect_show_jinglingdan5_606:cnhasyda.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{993,120},{9,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,8}}</string>
                <key>sourceSize</key>
                <string>{9,8}</string>
            </dict>
            <key>effect_show_jinglingdan5_606:cplkas.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{924,121},{10,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,9}}</string>
                <key>sourceSize</key>
                <string>{10,9}</string>
            </dict>
            <key>effect_show_jinglingdan5_606:cqwe5q.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1019,46},{3,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
            <key>effect_show_jinglingdan5_606:cqwer.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1019,51},{3,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
            <key>effect_show_jinglingdan5_606:jchaysqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{391,443},{193,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{193,197}}</string>
                <key>sourceSize</key>
                <string>{193,197}</string>
            </dict>
            <key>effect_show_jinglingdan5_606:jfhqywe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{598,0},{290,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{290,233}}</string>
                <key>sourceSize</key>
                <string>{290,233}</string>
            </dict>
            <key>effect_show_jinglingdan5_606:jqywesdasd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,451},{190,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{190,190}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>effect_show_jinglingdan5_606:juqywe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{210,443},{179,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{179,217}}</string>
                <key>sourceSize</key>
                <string>{179,217}</string>
            </dict>
            <key>effect_show_jinglingdan5_606:jvuyqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{210,248},{207,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{207,193}}</string>
                <key>sourceSize</key>
                <string>{207,193}</string>
            </dict>
            <key>effect_show_jinglingdan5_606:kcjasud.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{890,108},{19,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,17}}</string>
                <key>sourceSize</key>
                <string>{19,17}</string>
            </dict>
            <key>effect_show_jinglingdan5_606:kcjmj.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{936,108},{20,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,13}}</string>
                <key>sourceSize</key>
                <string>{20,13}</string>
            </dict>
            <key>effect_show_jinglingdan5_606:laosd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{911,108},{23,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,11}}</string>
                <key>sourceSize</key>
                <string>{23,11}</string>
            </dict>
            <key>effect_show_jinglingdan5_606:laosdpa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{958,108},{19,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,10}}</string>
                <key>sourceSize</key>
                <string>{19,10}</string>
            </dict>
            <key>effect_show_jinglingdan5_606:mkqjwie.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{598,235},{293,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{293,225}}</string>
                <key>sourceSize</key>
                <string>{293,225}</string>
            </dict>
            <key>effect_show_jinglingdan5_606:mvnasyqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{586,462},{201,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{201,177}}</string>
                <key>sourceSize</key>
                <string>{201,177}</string>
            </dict>
            <key>effect_show_jinglingdan5_606:ncjsha.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1004,62},{17,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,13}}</string>
                <key>sourceSize</key>
                <string>{17,13}</string>
            </dict>
            <key>effect_show_jinglingdan5_606:quw7e.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{979,108},{12,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,13}}</string>
                <key>sourceSize</key>
                <string>{12,13}</string>
            </dict>
            <key>effect_show_jinglingdan5_606:qweoiqp.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{312,0},{284,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{284,246}}</string>
                <key>sourceSize</key>
                <string>{284,246}</string>
            </dict>
            <key>effect_show_jinglingdan5_606:qwjysa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{911,121},{11,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,12}}</string>
                <key>sourceSize</key>
                <string>{11,12}</string>
            </dict>
            <key>effect_show_jinglingdan5_606:s90as.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{958,120},{13,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,11}}</string>
                <key>sourceSize</key>
                <string>{13,11}</string>
            </dict>
            <key>effect_show_jinglingdan5_606:uqwsaas.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1004,94},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>effect_show_jinglingdan5_606:uuqweas.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,247},{208,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{208,202}}</string>
                <key>sourceSize</key>
                <string>{208,202}</string>
            </dict>
            <key>effect_show_jinglingdan5_606:uyqwsda.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{890,0},{112,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_show_jinglingdan5_606.pvr.ccz</string>
            <key>size</key>
            <string>{1023,635}</string>
            <key>textureFileName</key>
            <string>effect_show_jinglingdan5_606.pvr.ccz</string>
        </dict>
    </dict>
</plist>
