<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_fairy_juzhanghuwei_134:r1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,249},{151,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{151,115}}</string>
                <key>sourceSize</key>
                <string>{151,115}</string>
            </dict>
            <key>effect_fairy_juzhanghuwei_134:r10.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{166,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{166,130}}</string>
                <key>sourceSize</key>
                <string>{166,130}</string>
            </dict>
            <key>effect_fairy_juzhanghuwei_134:r11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{333,0},{160,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{160,135}}</string>
                <key>sourceSize</key>
                <string>{160,135}</string>
            </dict>
            <key>effect_fairy_juzhanghuwei_134:r12.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{168,0},{163,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{163,133}}</string>
                <key>sourceSize</key>
                <string>{163,133}</string>
            </dict>
            <key>effect_fairy_juzhanghuwei_134:r2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{333,250},{141,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{141,119}}</string>
                <key>sourceSize</key>
                <string>{141,119}</string>
            </dict>
            <key>effect_fairy_juzhanghuwei_134:r3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{153,261},{151,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{151,105}}</string>
                <key>sourceSize</key>
                <string>{151,105}</string>
            </dict>
            <key>effect_fairy_juzhanghuwei_134:r4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,366},{145,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{145,93}}</string>
                <key>sourceSize</key>
                <string>{145,93}</string>
            </dict>
            <key>effect_fairy_juzhanghuwei_134:r5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{289,371},{144,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{144,90}}</string>
                <key>sourceSize</key>
                <string>{144,90}</string>
            </dict>
            <key>effect_fairy_juzhanghuwei_134:r6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{147,368},{140,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{140,98}}</string>
                <key>sourceSize</key>
                <string>{140,98}</string>
            </dict>
            <key>effect_fairy_juzhanghuwei_134:r7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{333,137},{169,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{169,111}}</string>
                <key>sourceSize</key>
                <string>{169,111}</string>
            </dict>
            <key>effect_fairy_juzhanghuwei_134:r8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,132},{160,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{160,115}}</string>
                <key>sourceSize</key>
                <string>{160,115}</string>
            </dict>
            <key>effect_fairy_juzhanghuwei_134:r9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{162,135},{169,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{169,124}}</string>
                <key>sourceSize</key>
                <string>{169,124}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_fairy_juzhanghuwei_134.pvr.ccz</string>
            <key>size</key>
            <string>{475,459}</string>
            <key>textureFileName</key>
            <string>effect_fairy_juzhanghuwei_134.pvr.ccz</string>
        </dict>
    </dict>
</plist>
