<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_rage_179:x1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,271},{140,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{140,55}}</string>
                <key>sourceSize</key>
                <string>{140,55}</string>
            </dict>
            <key>effect_rage_179:x10.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{216,0},{213,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{213,70}}</string>
                <key>sourceSize</key>
                <string>{213,70}</string>
            </dict>
            <key>effect_rage_179:x2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{216,73},{213,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{213,70}}</string>
                <key>sourceSize</key>
                <string>{213,70}</string>
            </dict>
            <key>effect_rage_179:x3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,209},{206,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{206,59}}</string>
                <key>sourceSize</key>
                <string>{206,59}</string>
            </dict>
            <key>effect_rage_179:x4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,146},{206,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{206,60}}</string>
                <key>sourceSize</key>
                <string>{206,60}</string>
            </dict>
            <key>effect_rage_179:x5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{213,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{213,70}}</string>
                <key>sourceSize</key>
                <string>{213,70}</string>
            </dict>
            <key>effect_rage_179:x6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{143,271},{140,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{140,55}}</string>
                <key>sourceSize</key>
                <string>{140,55}</string>
            </dict>
            <key>effect_rage_179:x7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,73},{213,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{213,70}}</string>
                <key>sourceSize</key>
                <string>{213,70}</string>
            </dict>
            <key>effect_rage_179:x8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{209,209},{206,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{206,59}}</string>
                <key>sourceSize</key>
                <string>{206,59}</string>
            </dict>
            <key>effect_rage_179:x9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{209,146},{206,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{206,60}}</string>
                <key>sourceSize</key>
                <string>{206,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_rage_179.pvr.ccz</string>
            <key>size</key>
            <string>{390,325}</string>
            <key>textureFileName</key>
            <string>effect_rage_179.pvr.ccz</string>
        </dict>
    </dict>
</plist>
