<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_pointonmap_204:11/21.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{351,225},{74,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{74,76}}</string>
                <key>sourceSize</key>
                <string>{74,76}</string>
            </dict>
            <key>effect_pointonmap_204:11/22.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,219},{88,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{88,76}}</string>
                <key>sourceSize</key>
                <string>{88,76}</string>
            </dict>
            <key>effect_pointonmap_204:11/23.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{409,0},{100,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{100,75}}</string>
                <key>sourceSize</key>
                <string>{100,75}</string>
            </dict>
            <key>effect_pointonmap_204:11/24.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{117,148},{109,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{109,75}}</string>
                <key>sourceSize</key>
                <string>{109,75}</string>
            </dict>
            <key>effect_pointonmap_204:11/25.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,81},{114,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{114,75}}</string>
                <key>sourceSize</key>
                <string>{114,75}</string>
            </dict>
            <key>effect_pointonmap_204:11/26.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{395,78},{114,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{114,75}}</string>
                <key>sourceSize</key>
                <string>{114,75}</string>
            </dict>
            <key>effect_pointonmap_204:11/27.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{395,156},{106,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{106,66}}</string>
                <key>sourceSize</key>
                <string>{106,66}</string>
            </dict>
            <key>effect_pointonmap_204:11/28.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,159},{110,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{110,57}}</string>
                <key>sourceSize</key>
                <string>{110,57}</string>
            </dict>
            <key>effect_pointonmap_204:11/29.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{229,204},{119,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{119,59}}</string>
                <key>sourceSize</key>
                <string>{119,59}</string>
            </dict>
            <key>effect_pointonmap_204:11/30.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{260,140},{132,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{132,61}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>effect_pointonmap_204:11/31.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{266,0},{140,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{140,63}}</string>
                <key>sourceSize</key>
                <string>{140,63}</string>
            </dict>
            <key>effect_pointonmap_204:11/32.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{134,78},{123,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{123,67}}</string>
                <key>sourceSize</key>
                <string>{123,67}</string>
            </dict>
            <key>effect_pointonmap_204:11/33.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{266,66},{126,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{126,71}}</string>
                <key>sourceSize</key>
                <string>{126,71}</string>
            </dict>
            <key>effect_pointonmap_204:11/34.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{134,0},{129,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{129,75}}</string>
                <key>sourceSize</key>
                <string>{129,75}</string>
            </dict>
            <key>effect_pointonmap_204:11/35.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{131,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{131,78}}</string>
                <key>sourceSize</key>
                <string>{131,78}</string>
            </dict>
            <key>effect_pointonmap_204:11/36.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{91,226},{67,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{67,68}}</string>
                <key>sourceSize</key>
                <string>{67,68}</string>
            </dict>
            <key>effect_pointonmap_204:11/37.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{428,225},{71,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{71,73}}</string>
                <key>sourceSize</key>
                <string>{71,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_pointonmap_204.pvr.ccz</string>
            <key>size</key>
            <string>{499,301}</string>
            <key>textureFileName</key>
            <string>effect_pointonmap_204.pvr.ccz</string>
        </dict>
    </dict>
</plist>
