<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_firerock_237:baq2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{179,50},{41,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{41,52}}</string>
                <key>sourceSize</key>
                <string>{41,52}</string>
            </dict>
            <key>effect_firerock_237:casqwsq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{146,124},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{30,32}</string>
            </dict>
            <key>effect_firerock_237:casweq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{53,50},{47,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{47,55}}</string>
                <key>sourceSize</key>
                <string>{47,55}</string>
            </dict>
            <key>effect_firerock_237:caswq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{221,108},{25,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,42}}</string>
                <key>sourceSize</key>
                <string>{25,42}</string>
            </dict>
            <key>effect_firerock_237:cawes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{222,50},{26,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,56}}</string>
                <key>sourceSize</key>
                <string>{26,56}</string>
            </dict>
            <key>effect_firerock_237:cqwsw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{146,81},{30,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,41}}</string>
                <key>sourceSize</key>
                <string>{30,41}</string>
            </dict>
            <key>effect_firerock_237:cqwswq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{53,107},{40,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,48}}</string>
                <key>sourceSize</key>
                <string>{40,48}</string>
            </dict>
            <key>effect_firerock_237:cqwswq67.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{116,0},{114,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{114,48}}</string>
                <key>sourceSize</key>
                <string>{114,48}</string>
            </dict>
            <key>effect_firerock_237:mger.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{178,104},{41,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{41,49}}</string>
                <key>sourceSize</key>
                <string>{41,49}</string>
            </dict>
            <key>effect_firerock_237:qwaqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{102,81},{42,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{42,50}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>effect_firerock_237:qwdwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{114,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{114,48}}</string>
                <key>sourceSize</key>
                <string>{114,48}</string>
            </dict>
            <key>effect_firerock_237:vasq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{102,50},{75,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{75,29}}</string>
                <key>sourceSize</key>
                <string>{75,29}</string>
            </dict>
            <key>effect_firerock_237:vasqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{95,133},{24,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,37}}</string>
                <key>sourceSize</key>
                <string>{24,37}</string>
            </dict>
            <key>effect_firerock_237:vqwq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,50},{51,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{51,101}}</string>
                <key>sourceSize</key>
                <string>{51,101}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_firerock_237.pvr.ccz</string>
            <key>size</key>
            <string>{249,170}</string>
            <key>textureFileName</key>
            <string>effect_firerock_237.pvr.ccz</string>
        </dict>
    </dict>
</plist>
