<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_vinegrowing_117:asdfc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{281,0},{104,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{104,178}}</string>
                <key>sourceSize</key>
                <string>{104,178}</string>
            </dict>
            <key>effect_vinegrowing_117:asdfxa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{279,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{279,86}}</string>
                <key>sourceSize</key>
                <string>{279,86}</string>
            </dict>
            <key>effect_vinegrowing_117:asdva.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,88},{279,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{279,86}}</string>
                <key>sourceSize</key>
                <string>{279,86}</string>
            </dict>
            <key>effect_vinegrowing_117:ewdx.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{387,0},{118,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{118,51}}</string>
                <key>sourceSize</key>
                <string>{118,51}</string>
            </dict>
            <key>effect_vinegrowing_117:ioerd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{387,53},{107,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{107,56}}</string>
                <key>sourceSize</key>
                <string>{107,56}</string>
            </dict>
            <key>effect_vinegrowing_117:loku.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{387,154},{108,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{108,31}}</string>
                <key>sourceSize</key>
                <string>{108,31}</string>
            </dict>
            <key>effect_vinegrowing_117:shitou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{191,176},{44,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{44,23}}</string>
                <key>sourceSize</key>
                <string>{44,23}</string>
            </dict>
            <key>effect_vinegrowing_117:shitou3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{277,180},{38,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,23}}</string>
                <key>sourceSize</key>
                <string>{38,23}</string>
            </dict>
            <key>effect_vinegrowing_117:shitou4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{317,180},{24,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,19}}</string>
                <key>sourceSize</key>
                <string>{24,19}</string>
            </dict>
            <key>effect_vinegrowing_117:shtou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{237,176},{38,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,29}}</string>
                <key>sourceSize</key>
                <string>{38,29}</string>
            </dict>
            <key>effect_vinegrowing_117:wqscad.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{387,111},{103,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{103,41}}</string>
                <key>sourceSize</key>
                <string>{103,41}</string>
            </dict>
            <key>effect_vinegrowing_117:xcasdx.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,176},{189,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{189,71}}</string>
                <key>sourceSize</key>
                <string>{189,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_vinegrowing_117.pvr.ccz</string>
            <key>size</key>
            <string>{501,247}</string>
            <key>textureFileName</key>
            <string>effect_vinegrowing_117.pvr.ccz</string>
        </dict>
    </dict>
</plist>
