<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_show_aoding_613:b1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{471,364},{27,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,30}}</string>
                <key>sourceSize</key>
                <string>{27,30}</string>
            </dict>
            <key>effect_show_aoding_613:b2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2025,56},{13,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,29}}</string>
                <key>sourceSize</key>
                <string>{13,29}</string>
            </dict>
            <key>effect_show_aoding_613:b3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{227,288},{31,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,34}}</string>
                <key>sourceSize</key>
                <string>{31,34}</string>
            </dict>
            <key>effect_show_aoding_613:b4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{471,330},{29,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,32}}</string>
                <key>sourceSize</key>
                <string>{29,32}</string>
            </dict>
            <key>effect_show_aoding_613:d1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1987,314},{44,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{44,51}}</string>
                <key>sourceSize</key>
                <string>{44,51}</string>
            </dict>
            <key>effect_show_aoding_613:d2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{227,242},{37,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,44}}</string>
                <key>sourceSize</key>
                <string>{37,44}</string>
            </dict>
            <key>effect_show_aoding_613:d3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1987,256},{46,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{46,56}</string>
            </dict>
            <key>effect_show_aoding_613:d4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1244,289},{45,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,52}}</string>
                <key>sourceSize</key>
                <string>{45,52}</string>
            </dict>
            <key>effect_show_aoding_613:d5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{418,545},{61,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{61,66}}</string>
                <key>sourceSize</key>
                <string>{61,66}</string>
            </dict>
            <key>effect_show_aoding_613:d6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{418,468},{66,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{66,75}}</string>
                <key>sourceSize</key>
                <string>{66,75}</string>
            </dict>
            <key>effect_show_aoding_613:d7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{471,249},{43,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,49}}</string>
                <key>sourceSize</key>
                <string>{43,49}</string>
            </dict>
            <key>effect_show_aoding_613:d8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1665,493},{62,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{62,70}}</string>
                <key>sourceSize</key>
                <string>{62,70}</string>
            </dict>
            <key>effect_show_aoding_613:d9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1244,234},{45,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,53}}</string>
                <key>sourceSize</key>
                <string>{45,53}</string>
            </dict>
            <key>effect_show_aoding_613:f1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1291,0},{260,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{260,225}}</string>
                <key>sourceSize</key>
                <string>{260,225}</string>
            </dict>
            <key>effect_show_aoding_613:f10.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{516,0},{249,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{249,243}}</string>
                <key>sourceSize</key>
                <string>{249,243}</string>
            </dict>
            <key>effect_show_aoding_613:f11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1553,0},{241,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{241,243}}</string>
                <key>sourceSize</key>
                <string>{241,243}</string>
            </dict>
            <key>effect_show_aoding_613:f12.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{266,249},{203,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{203,217}}</string>
                <key>sourceSize</key>
                <string>{203,217}</string>
            </dict>
            <key>effect_show_aoding_613:f13.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1530,245},{221,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{221,246}}</string>
                <key>sourceSize</key>
                <string>{221,246}</string>
            </dict>
            <key>effect_show_aoding_613:f14.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,242},{225,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{225,243}}</string>
                <key>sourceSize</key>
                <string>{225,243}</string>
            </dict>
            <key>effect_show_aoding_613:f15.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{266,0},{248,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{248,247}}</string>
                <key>sourceSize</key>
                <string>{248,247}</string>
            </dict>
            <key>effect_show_aoding_613:f2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1033,0},{256,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{256,232}}</string>
                <key>sourceSize</key>
                <string>{256,232}</string>
            </dict>
            <key>effect_show_aoding_613:f3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1291,227},{237,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{237,241}}</string>
                <key>sourceSize</key>
                <string>{237,241}</string>
            </dict>
            <key>effect_show_aoding_613:f4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1010,234},{232,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{232,243}}</string>
                <key>sourceSize</key>
                <string>{232,243}</string>
            </dict>
            <key>effect_show_aoding_613:f5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1796,0},{227,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{227,254}}</string>
                <key>sourceSize</key>
                <string>{227,254}</string>
            </dict>
            <key>effect_show_aoding_613:f6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{516,245},{225,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{225,243}}</string>
                <key>sourceSize</key>
                <string>{225,243}</string>
            </dict>
            <key>effect_show_aoding_613:f7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{767,229},{241,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{241,236}}</string>
                <key>sourceSize</key>
                <string>{241,236}</string>
            </dict>
            <key>effect_show_aoding_613:f8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{767,0},{264,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{264,227}}</string>
                <key>sourceSize</key>
                <string>{264,227}</string>
            </dict>
            <key>effect_show_aoding_613:f9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{264,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{264,240}}</string>
                <key>sourceSize</key>
                <string>{264,240}</string>
            </dict>
            <key>effect_show_aoding_613:houqi21.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1753,245},{24,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,51}}</string>
                <key>sourceSize</key>
                <string>{24,51}</string>
            </dict>
            <key>effect_show_aoding_613:houqun11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1151,479},{72,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{72,63}}</string>
                <key>sourceSize</key>
                <string>{72,63}</string>
            </dict>
            <key>effect_show_aoding_613:jianbang11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1151,544},{62,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{62,65}}</string>
                <key>sourceSize</key>
                <string>{62,65}</string>
            </dict>
            <key>effect_show_aoding_613:jiao11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2025,0},{20,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,27}}</string>
                <key>sourceSize</key>
                <string>{20,27}</string>
            </dict>
            <key>effect_show_aoding_613:jiao21.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2025,29},{17,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,25}}</string>
                <key>sourceSize</key>
                <string>{17,25}</string>
            </dict>
            <key>effect_show_aoding_613:o1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1753,448},{212,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{212,179}}</string>
                <key>sourceSize</key>
                <string>{212,179}</string>
            </dict>
            <key>effect_show_aoding_613:o10.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{686,641},{186,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{186,150}}</string>
                <key>sourceSize</key>
                <string>{186,150}</string>
            </dict>
            <key>effect_show_aoding_613:o12.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1887,629},{159,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{159,149}}</string>
                <key>sourceSize</key>
                <string>{159,149}</string>
            </dict>
            <key>effect_show_aoding_613:o13.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{383,666},{152,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{152,138}}</string>
                <key>sourceSize</key>
                <string>{152,138}</string>
            </dict>
            <key>effect_show_aoding_613:o14.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{191,664},{190,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{190,124}}</string>
                <key>sourceSize</key>
                <string>{190,124}</string>
            </dict>
            <key>effect_show_aoding_613:o15.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1665,629},{220,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{220,119}}</string>
                <key>sourceSize</key>
                <string>{220,119}</string>
            </dict>
            <key>effect_show_aoding_613:o16.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1244,470},{231,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{231,146}}</string>
                <key>sourceSize</key>
                <string>{231,146}</string>
            </dict>
            <key>effect_show_aoding_613:o18.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{743,467},{216,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{216,172}}</string>
                <key>sourceSize</key>
                <string>{216,172}</string>
            </dict>
            <key>effect_show_aoding_613:o2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1779,256},{206,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{206,190}}</string>
                <key>sourceSize</key>
                <string>{206,190}</string>
            </dict>
            <key>effect_show_aoding_613:o3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{227,468},{189,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{189,194}}</string>
                <key>sourceSize</key>
                <string>{189,194}</string>
            </dict>
            <key>effect_show_aoding_613:o4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{961,479},{188,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{188,187}}</string>
                <key>sourceSize</key>
                <string>{188,187}</string>
            </dict>
            <key>effect_show_aoding_613:o5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1477,493},{186,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{186,172}}</string>
                <key>sourceSize</key>
                <string>{186,172}</string>
            </dict>
            <key>effect_show_aoding_613:o6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{486,490},{198,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{198,174}}</string>
                <key>sourceSize</key>
                <string>{198,174}</string>
            </dict>
            <key>effect_show_aoding_613:o7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,487},{214,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{214,159}}</string>
                <key>sourceSize</key>
                <string>{214,159}</string>
            </dict>
            <key>effect_show_aoding_613:o9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1151,618},{212,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{212,145}}</string>
                <key>sourceSize</key>
                <string>{212,145}</string>
            </dict>
            <key>effect_show_aoding_613:qunzi1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1365,618},{100,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{100,67}}</string>
                <key>sourceSize</key>
                <string>{100,67}</string>
            </dict>
            <key>effect_show_aoding_613:shenti1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{227,361},{33,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,27}}</string>
                <key>sourceSize</key>
                <string>{33,27}</string>
            </dict>
            <key>effect_show_aoding_613:shou11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1244,343},{45,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,34}}</string>
                <key>sourceSize</key>
                <string>{45,34}</string>
            </dict>
            <key>effect_show_aoding_613:shou21.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{227,324},{28,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,35}}</string>
                <key>sourceSize</key>
                <string>{28,35}</string>
            </dict>
            <key>effect_show_aoding_613:shoubi21.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1753,298},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>effect_show_aoding_613:tou11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1967,448},{78,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{78,115}}</string>
                <key>sourceSize</key>
                <string>{78,115}</string>
            </dict>
            <key>effect_show_aoding_613:wuqi11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,648},{189,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{189,146}}</string>
                <key>sourceSize</key>
                <string>{189,146}</string>
            </dict>
            <key>effect_show_aoding_613:wuqi21.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{471,300},{42,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{42,28}}</string>
                <key>sourceSize</key>
                <string>{42,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_show_aoding_613.pvr.ccz</string>
            <key>size</key>
            <string>{2045,798}</string>
            <key>textureFileName</key>
            <string>effect_show_aoding_613.pvr.ccz</string>
        </dict>
    </dict>
</plist>
