<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_show_leishen_601:Fbeidai1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{448,290},{34,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,23}}</string>
                <key>sourceSize</key>
                <string>{34,23}</string>
            </dict>
            <key>effect_show_leishen_601:Fbeidai2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{466,231},{14,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,10}}</string>
                <key>sourceSize</key>
                <string>{14,10}</string>
            </dict>
            <key>effect_show_leishen_601:Fkua.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{490,0},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,18}</string>
            </dict>
            <key>effect_show_leishen_601:Fshangshen.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{466,185},{22,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,21}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>effect_show_leishen_601:Ftou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{482,219},{24,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,35}}</string>
                <key>sourceSize</key>
                <string>{24,35}</string>
            </dict>
            <key>effect_show_leishen_601:Fyao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{490,203},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>effect_show_leishen_601:Fyoudatui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{409,285},{37,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,25}}</string>
                <key>sourceSize</key>
                <string>{37,25}</string>
            </dict>
            <key>effect_show_leishen_601:Fyouhoubi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{490,190},{18,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,11}}</string>
                <key>sourceSize</key>
                <string>{18,11}</string>
            </dict>
            <key>effect_show_leishen_601:Fyoujiao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{490,136},{17,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,13}}</string>
                <key>sourceSize</key>
                <string>{17,13}</string>
            </dict>
            <key>effect_show_leishen_601:Fyoujiaozhang.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{490,121},{18,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,13}}</string>
                <key>sourceSize</key>
                <string>{18,13}</string>
            </dict>
            <key>effect_show_leishen_601:Fyouqianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{466,208},{21,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,9}}</string>
                <key>sourceSize</key>
                <string>{21,9}</string>
            </dict>
            <key>effect_show_leishen_601:Fyoushou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{490,62},{11,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,24}}</string>
                <key>sourceSize</key>
                <string>{11,24}</string>
            </dict>
            <key>effect_show_leishen_601:Fyouxiaotui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{454,268},{49,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{49,20}}</string>
                <key>sourceSize</key>
                <string>{49,20}</string>
            </dict>
            <key>effect_show_leishen_601:Fzuohouni.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{490,166},{19,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,10}}</string>
                <key>sourceSize</key>
                <string>{19,10}</string>
            </dict>
            <key>effect_show_leishen_601:Fzuoshou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{290,141},{10,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,19}}</string>
                <key>sourceSize</key>
                <string>{10,19}</string>
            </dict>
            <key>effect_show_leishen_601:aiskdjua.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{490,20},{17,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,21}}</string>
                <key>sourceSize</key>
                <string>{17,21}</string>
            </dict>
            <key>effect_show_leishen_601:ajsudqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{290,120},{13,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,19}}</string>
                <key>sourceSize</key>
                <string>{13,19}</string>
            </dict>
            <key>effect_show_leishen_601:asdfs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{371,234},{36,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{36,60}}</string>
                <key>sourceSize</key>
                <string>{36,60}</string>
            </dict>
            <key>effect_show_leishen_601:asdlkfa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{305,0},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>effect_show_leishen_601:asmcl.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{466,243},{9,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,10}}</string>
                <key>sourceSize</key>
                <string>{9,10}</string>
            </dict>
            <key>effect_show_leishen_601:asodpq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{290,162},{12,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,15}}</string>
                <key>sourceSize</key>
                <string>{12,15}</string>
            </dict>
            <key>effect_show_leishen_601:casqww.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{503,72},{3,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
            <key>effect_show_leishen_601:casvbsdwe4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,234},{286,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{286,113}}</string>
                <key>sourceSize</key>
                <string>{286,113}</string>
            </dict>
            <key>effect_show_leishen_601:ciuasda.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{288,236},{12,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,10}}</string>
                <key>sourceSize</key>
                <string>{12,10}</string>
            </dict>
            <key>effect_show_leishen_601:ckiasd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{466,219},{14,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,10}}</string>
                <key>sourceSize</key>
                <string>{14,10}</string>
            </dict>
            <key>effect_show_leishen_601:cnajshdy.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{490,88},{18,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,16}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>effect_show_leishen_601:cnhasyda.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{454,245},{9,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,8}}</string>
                <key>sourceSize</key>
                <string>{9,8}</string>
            </dict>
            <key>effect_show_leishen_601:cplkas.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{454,234},{10,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,9}}</string>
                <key>sourceSize</key>
                <string>{10,9}</string>
            </dict>
            <key>effect_show_leishen_601:cqwe5q.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{503,62},{3,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
            <key>effect_show_leishen_601:cqwer.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{503,67},{3,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
            <key>effect_show_leishen_601:csdwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{303,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{303,118}}</string>
                <key>sourceSize</key>
                <string>{303,118}</string>
            </dict>
            <key>effect_show_leishen_601:dqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,349},{283,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{283,111}}</string>
                <key>sourceSize</key>
                <string>{283,111}</string>
            </dict>
            <key>effect_show_leishen_601:gu.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{409,234},{43,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,49}}</string>
                <key>sourceSize</key>
                <string>{43,49}</string>
            </dict>
            <key>effect_show_leishen_601:gun.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{305,185},{64,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{64,143}}</string>
                <key>sourceSize</key>
                <string>{64,143}</string>
            </dict>
            <key>effect_show_leishen_601:kcjasud.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{490,43},{19,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,17}}</string>
                <key>sourceSize</key>
                <string>{19,17}</string>
            </dict>
            <key>effect_show_leishen_601:kcjmj.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{490,106},{20,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,13}}</string>
                <key>sourceSize</key>
                <string>{20,13}</string>
            </dict>
            <key>effect_show_leishen_601:laosd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{454,255},{23,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,11}}</string>
                <key>sourceSize</key>
                <string>{23,11}</string>
            </dict>
            <key>effect_show_leishen_601:laosdpa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{490,178},{19,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,10}}</string>
                <key>sourceSize</key>
                <string>{19,10}</string>
            </dict>
            <key>effect_show_leishen_601:ncjsha.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{490,151},{17,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,13}}</string>
                <key>sourceSize</key>
                <string>{17,13}</string>
            </dict>
            <key>effect_show_leishen_601:nvnv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,462},{243,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{243,38}}</string>
                <key>sourceSize</key>
                <string>{243,38}</string>
            </dict>
            <key>effect_show_leishen_601:quw7e.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{290,194},{12,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,13}}</string>
                <key>sourceSize</key>
                <string>{12,13}</string>
            </dict>
            <key>effect_show_leishen_601:qwjysa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{290,222},{11,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,12}}</string>
                <key>sourceSize</key>
                <string>{11,12}</string>
            </dict>
            <key>effect_show_leishen_601:s90as.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{290,209},{13,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,11}}</string>
                <key>sourceSize</key>
                <string>{13,11}</string>
            </dict>
            <key>effect_show_leishen_601:sasd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,120},{288,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{288,112}}</string>
                <key>sourceSize</key>
                <string>{288,112}</string>
            </dict>
            <key>effect_show_leishen_601:uqwsaas.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{290,179},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>effect_show_leishen_601:zuo.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{371,185},{93,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{93,47}}</string>
                <key>sourceSize</key>
                <string>{93,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_show_leishen_601.pvr.ccz</string>
            <key>size</key>
            <string>{512,500}</string>
            <key>textureFileName</key>
            <string>effect_show_leishen_601.pvr.ccz</string>
        </dict>
    </dict>
</plist>
