<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_show_chengsewenzhang_607:7qw6eas.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{753,357},{175,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{175,163}}</string>
                <key>sourceSize</key>
                <string>{175,163}</string>
            </dict>
            <key>effect_show_chengsewenzhang_607:87qwesf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{338,535},{152,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{152,173}}</string>
                <key>sourceSize</key>
                <string>{152,173}</string>
            </dict>
            <key>effect_show_chengsewenzhang_607:aiskdjua.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{955,0},{17,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,21}}</string>
                <key>sourceSize</key>
                <string>{17,21}</string>
            </dict>
            <key>effect_show_chengsewenzhang_607:ajsudqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{974,19},{13,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,19}}</string>
                <key>sourceSize</key>
                <string>{13,19}</string>
            </dict>
            <key>effect_show_chengsewenzhang_607:asmcl.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{969,55},{9,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,10}}</string>
                <key>sourceSize</key>
                <string>{9,10}</string>
            </dict>
            <key>effect_show_chengsewenzhang_607:asodpq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{955,38},{12,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,15}}</string>
                <key>sourceSize</key>
                <string>{12,15}</string>
            </dict>
            <key>effect_show_chengsewenzhang_607:casqww.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1020,8},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>effect_show_chengsewenzhang_607:ciuasda.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{955,55},{12,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,10}}</string>
                <key>sourceSize</key>
                <string>{12,10}</string>
            </dict>
            <key>effect_show_chengsewenzhang_607:ckiasd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1004,56},{14,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,10}}</string>
                <key>sourceSize</key>
                <string>{14,10}</string>
            </dict>
            <key>effect_show_chengsewenzhang_607:cnajshdy.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{995,13},{18,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,16}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>effect_show_chengsewenzhang_607:cnhasyda.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{955,67},{9,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,8}}</string>
                <key>sourceSize</key>
                <string>{9,8}</string>
            </dict>
            <key>effect_show_chengsewenzhang_607:cplkas.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1011,45},{10,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,9}}</string>
                <key>sourceSize</key>
                <string>{10,9}</string>
            </dict>
            <key>effect_show_chengsewenzhang_607:cqwe5q.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1020,4},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>effect_show_chengsewenzhang_607:cqwer.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1020,0},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>effect_show_chengsewenzhang_607:hvyasqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{775,0},{178,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{178,180}}</string>
                <key>sourceSize</key>
                <string>{178,180}</string>
            </dict>
            <key>effect_show_chengsewenzhang_607:hyqtwes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{727,522},{170,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{170,158}}</string>
                <key>sourceSize</key>
                <string>{170,158}</string>
            </dict>
            <key>effect_show_chengsewenzhang_607:hytasqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{655,682},{154,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{154,164}}</string>
                <key>sourceSize</key>
                <string>{154,164}</string>
            </dict>
            <key>effect_show_chengsewenzhang_607:jvhsyaw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{390,188},{169,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{169,175}}</string>
                <key>sourceSize</key>
                <string>{169,175}</string>
            </dict>
            <key>effect_show_chengsewenzhang_607:kcjasud.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{974,0},{19,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,17}}</string>
                <key>sourceSize</key>
                <string>{19,17}</string>
            </dict>
            <key>effect_show_chengsewenzhang_607:kcjmj.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{989,31},{20,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,13}}</string>
                <key>sourceSize</key>
                <string>{20,13}</string>
            </dict>
            <key>effect_show_chengsewenzhang_607:laosd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{995,0},{23,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,11}}</string>
                <key>sourceSize</key>
                <string>{23,11}</string>
            </dict>
            <key>effect_show_chengsewenzhang_607:laosdpa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{983,46},{19,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,10}}</string>
                <key>sourceSize</key>
                <string>{19,10}</string>
            </dict>
            <key>effect_show_chengsewenzhang_607:mcjasuqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{219,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{219,219}}</string>
                <key>sourceSize</key>
                <string>{219,219}</string>
            </dict>
            <key>effect_show_chengsewenzhang_607:mvkasjqwl.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{561,364},{164,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{164,174}}</string>
                <key>sourceSize</key>
                <string>{164,174}</string>
            </dict>
            <key>effect_show_chengsewenzhang_607:ncjsha.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{955,23},{17,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,13}}</string>
                <key>sourceSize</key>
                <string>{17,13}</string>
            </dict>
            <key>effect_show_chengsewenzhang_607:nvhasyqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{221,186},{167,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{167,179}}</string>
                <key>sourceSize</key>
                <string>{167,179}</string>
            </dict>
            <key>effect_show_chengsewenzhang_607:nvhasyqwesa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{586,0},{187,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{187,173}}</string>
                <key>sourceSize</key>
                <string>{187,173}</string>
            </dict>
            <key>effect_show_chengsewenzhang_607:nvhsyqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{407,0},{177,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{177,186}}</string>
                <key>sourceSize</key>
                <string>{177,186}</string>
            </dict>
            <key>effect_show_chengsewenzhang_607:nvhsywe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{586,175},{165,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{165,187}}</string>
                <key>sourceSize</key>
                <string>{165,187}</string>
            </dict>
            <key>effect_show_chengsewenzhang_607:plqwies.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{176,367},{160,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{160,176}}</string>
                <key>sourceSize</key>
                <string>{160,176}</string>
            </dict>
            <key>effect_show_chengsewenzhang_607:quw7e.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{969,40},{12,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,13}}</string>
                <key>sourceSize</key>
                <string>{12,13}</string>
            </dict>
            <key>effect_show_chengsewenzhang_607:qwjysa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1011,31},{11,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,12}}</string>
                <key>sourceSize</key>
                <string>{11,12}</string>
            </dict>
            <key>effect_show_chengsewenzhang_607:s90as.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{980,58},{13,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,11}}</string>
                <key>sourceSize</key>
                <string>{13,11}</string>
            </dict>
            <key>effect_show_chengsewenzhang_607:ucyq6wes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{390,365},{169,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{169,168}}</string>
                <key>sourceSize</key>
                <string>{169,168}</string>
            </dict>
            <key>effect_show_chengsewenzhang_607:uqwsaas.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{966,67},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>effect_show_chengsewenzhang_607:uqywndgas.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{753,182},{178,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{178,173}}</string>
                <key>sourceSize</key>
                <string>{178,173}</string>
            </dict>
            <key>effect_show_chengsewenzhang_607:usyseqwbhas.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,389},{163,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{163,168}}</string>
                <key>sourceSize</key>
                <string>{163,168}</string>
            </dict>
            <key>effect_show_chengsewenzhang_607:uyqwea.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{899,522},{121,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{121,124}}</string>
                <key>sourceSize</key>
                <string>{121,124}</string>
            </dict>
            <key>effect_show_chengsewenzhang_607:uyqwefa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,559},{162,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{162,158}}</string>
                <key>sourceSize</key>
                <string>{162,158}</string>
            </dict>
            <key>effect_show_chengsewenzhang_607:uyqweq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{492,540},{161,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{161,160}}</string>
                <key>sourceSize</key>
                <string>{161,160}</string>
            </dict>
            <key>effect_show_chengsewenzhang_607:uyqwes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{165,545},{158,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{158,163}}</string>
                <key>sourceSize</key>
                <string>{158,163}</string>
            </dict>
            <key>effect_show_chengsewenzhang_607:uyqwesa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{221,0},{184,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{184,184}}</string>
                <key>sourceSize</key>
                <string>{184,184}</string>
            </dict>
            <key>effect_show_chengsewenzhang_607:uytqwecf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,221},{174,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{174,166}}</string>
                <key>sourceSize</key>
                <string>{174,166}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_show_chengsewenzhang_607.pvr.ccz</string>
            <key>size</key>
            <string>{1024,845}</string>
            <key>textureFileName</key>
            <string>effect_show_chengsewenzhang_607.pvr.ccz</string>
        </dict>
    </dict>
</plist>
