<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_zhanglao_273:q3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{223,0},{219,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{219,260}}</string>
                <key>sourceSize</key>
                <string>{219,260}</string>
            </dict>
            <key>effect_zhanglao_273:q7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{221,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{221,268}}</string>
                <key>sourceSize</key>
                <string>{221,268}</string>
            </dict>
            <key>effect_zhanglao_273:q9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{223,262},{210,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{210,239}}</string>
                <key>sourceSize</key>
                <string>{210,239}</string>
            </dict>
            <key>effect_zhanglao_273:twerfg.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{444,0},{49,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{49,273}}</string>
                <key>sourceSize</key>
                <string>{49,273}</string>
            </dict>
            <key>effect_zhanglao_273:z1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,270},{186,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{186,227}}</string>
                <key>sourceSize</key>
                <string>{186,227}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_zhanglao_273.pvr.ccz</string>
            <key>size</key>
            <string>{496,510}</string>
            <key>textureFileName</key>
            <string>effect_zhanglao_273.pvr.ccz</string>
        </dict>
    </dict>
</plist>
