<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_horsefire_244:aswes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{104,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{104,252}}</string>
                <key>sourceSize</key>
                <string>{104,252}</string>
            </dict>
            <key>effect_horsefire_244:casqq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{381,241},{106,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{106,73}}</string>
                <key>sourceSize</key>
                <string>{106,73}</string>
            </dict>
            <key>effect_horsefire_244:casqwes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{106,0},{90,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{90,252}}</string>
                <key>sourceSize</key>
                <string>{90,252}</string>
            </dict>
            <key>effect_horsefire_244:casqwv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{417,0},{91,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{91,239}}</string>
                <key>sourceSize</key>
                <string>{91,239}</string>
            </dict>
            <key>effect_horsefire_244:cavq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{198,238},{181,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{181,99}}</string>
                <key>sourceSize</key>
                <string>{181,99}</string>
            </dict>
            <key>effect_horsefire_244:iquw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{244,409},{163,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{163,72}}</string>
                <key>sourceSize</key>
                <string>{163,72}</string>
            </dict>
            <key>effect_horsefire_244:kicaq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{61,339},{181,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{181,77}}</string>
                <key>sourceSize</key>
                <string>{181,77}</string>
            </dict>
            <key>effect_horsefire_244:kicq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,254},{59,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{59,99}}</string>
                <key>sourceSize</key>
                <string>{59,99}</string>
            </dict>
            <key>effect_horsefire_244:lopqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{198,124},{211,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{211,112}}</string>
                <key>sourceSize</key>
                <string>{211,112}</string>
            </dict>
            <key>effect_horsefire_244:mckaiw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{244,339},{177,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{177,68}}</string>
                <key>sourceSize</key>
                <string>{177,68}</string>
            </dict>
            <key>effect_horsefire_244:vasw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{198,0},{217,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{217,122}}</string>
                <key>sourceSize</key>
                <string>{217,122}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_horsefire_244.pvr.ccz</string>
            <key>size</key>
            <string>{508,479}</string>
            <key>textureFileName</key>
            <string>effect_horsefire_244.pvr.ccz</string>
        </dict>
    </dict>
</plist>
