<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_fivelight_455:b1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{416,298},{59,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{59,153}}</string>
                <key>sourceSize</key>
                <string>{59,153}</string>
            </dict>
            <key>effect_fivelight_455:g1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{514,0},{255,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{255,296}}</string>
                <key>sourceSize</key>
                <string>{255,296}</string>
            </dict>
            <key>effect_fivelight_455:g2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1028,0},{255,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{255,296}}</string>
                <key>sourceSize</key>
                <string>{255,296}</string>
            </dict>
            <key>effect_fivelight_455:g3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{771,0},{255,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{255,296}}</string>
                <key>sourceSize</key>
                <string>{255,296}</string>
            </dict>
            <key>effect_fivelight_455:g4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{255,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{255,296}}</string>
                <key>sourceSize</key>
                <string>{255,296}</string>
            </dict>
            <key>effect_fivelight_455:g5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{257,0},{255,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{255,296}}</string>
                <key>sourceSize</key>
                <string>{255,296}</string>
            </dict>
            <key>effect_fivelight_455:g6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1285,0},{255,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{255,296}}</string>
                <key>sourceSize</key>
                <string>{255,296}</string>
            </dict>
            <key>effect_fivelight_455:h1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1917,394},{50,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{50,32}}</string>
                <key>sourceSize</key>
                <string>{50,32}</string>
            </dict>
            <key>effect_fivelight_455:h11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1917,428},{45,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,30}}</string>
                <key>sourceSize</key>
                <string>{45,30}</string>
            </dict>
            <key>effect_fivelight_455:h12.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{168,446},{80,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{80,51}}</string>
                <key>sourceSize</key>
                <string>{80,51}</string>
            </dict>
            <key>effect_fivelight_455:h13.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,496},{113,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{113,71}}</string>
                <key>sourceSize</key>
                <string>{113,71}</string>
            </dict>
            <key>effect_fivelight_455:h14.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{250,493},{138,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{138,93}}</string>
                <key>sourceSize</key>
                <string>{138,93}</string>
            </dict>
            <key>effect_fivelight_455:h15.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1244,439},{163,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{163,115}}</string>
                <key>sourceSize</key>
                <string>{163,115}</string>
            </dict>
            <key>effect_fivelight_455:h16.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1016,298},{189,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{189,139}}</string>
                <key>sourceSize</key>
                <string>{189,139}</string>
            </dict>
            <key>effect_fivelight_455:h17.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{764,298},{189,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{189,140}}</string>
                <key>sourceSize</key>
                <string>{189,140}</string>
            </dict>
            <key>effect_fivelight_455:h2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1668,469},{85,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{85,53}}</string>
                <key>sourceSize</key>
                <string>{85,53}</string>
            </dict>
            <key>effect_fivelight_455:h3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1917,466},{113,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{113,71}}</string>
                <key>sourceSize</key>
                <string>{113,71}</string>
            </dict>
            <key>effect_fivelight_455:h4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1523,465},{143,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{143,98}}</string>
                <key>sourceSize</key>
                <string>{143,98}</string>
            </dict>
            <key>effect_fivelight_455:h5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1016,439},{173,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{173,125}}</string>
                <key>sourceSize</key>
                <string>{173,125}</string>
            </dict>
            <key>effect_fivelight_455:h6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1272,298},{188,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{188,139}}</string>
                <key>sourceSize</key>
                <string>{188,139}</string>
            </dict>
            <key>effect_fivelight_455:h7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{512,298},{189,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{189,141}}</string>
                <key>sourceSize</key>
                <string>{189,141}</string>
            </dict>
            <key>effect_fivelight_455:l1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1207,424},{35,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,41}}</string>
                <key>sourceSize</key>
                <string>{35,41}</string>
            </dict>
            <key>effect_fivelight_455:l2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1970,388},{61,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{61,76}}</string>
                <key>sourceSize</key>
                <string>{61,76}</string>
            </dict>
            <key>effect_fivelight_455:l3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{865,440},{87,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{87,112}}</string>
                <key>sourceSize</key>
                <string>{87,112}</string>
            </dict>
            <key>effect_fivelight_455:l4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1409,446},{112,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{112,138}}</string>
                <key>sourceSize</key>
                <string>{112,138}</string>
            </dict>
            <key>effect_fivelight_455:l5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1778,394},{137,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{137,165}}</string>
                <key>sourceSize</key>
                <string>{137,165}</string>
            </dict>
            <key>effect_fivelight_455:l6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{250,298},{164,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{164,193}}</string>
                <key>sourceSize</key>
                <string>{164,193}</string>
            </dict>
            <key>effect_fivelight_455:l7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,298},{166,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{166,196}}</string>
                <key>sourceSize</key>
                <string>{166,196}</string>
            </dict>
            <key>effect_fivelight_455:q1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1510,298},{21,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,37}}</string>
                <key>sourceSize</key>
                <string>{21,37}</string>
            </dict>
            <key>effect_fivelight_455:q2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{477,298},{33,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,70}}</string>
                <key>sourceSize</key>
                <string>{33,70}</string>
            </dict>
            <key>effect_fivelight_455:q3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1462,298},{46,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,103}}</string>
                <key>sourceSize</key>
                <string>{46,103}</string>
            </dict>
            <key>effect_fivelight_455:q4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1207,298},{63,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{63,124}}</string>
                <key>sourceSize</key>
                <string>{63,124}</string>
            </dict>
            <key>effect_fivelight_455:q5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{168,298},{80,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{80,146}}</string>
                <key>sourceSize</key>
                <string>{80,146}</string>
            </dict>
            <key>effect_fivelight_455:q6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{764,440},{99,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{99,167}}</string>
                <key>sourceSize</key>
                <string>{99,167}</string>
            </dict>
            <key>effect_fivelight_455:q7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1676,298},{100,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{100,169}}</string>
                <key>sourceSize</key>
                <string>{100,169}</string>
            </dict>
            <key>effect_fivelight_455:s1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{955,298},{59,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{59,153}}</string>
                <key>sourceSize</key>
                <string>{59,153}</string>
            </dict>
            <key>effect_fivelight_455:s2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{703,298},{59,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{59,153}}</string>
                <key>sourceSize</key>
                <string>{59,153}</string>
            </dict>
            <key>effect_fivelight_455:s3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1971,155},{59,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{59,153}}</string>
                <key>sourceSize</key>
                <string>{59,153}</string>
            </dict>
            <key>effect_fivelight_455:s4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1971,0},{59,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{59,153}}</string>
                <key>sourceSize</key>
                <string>{59,153}</string>
            </dict>
            <key>effect_fivelight_455:shizhu.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1542,0},{255,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{255,296}}</string>
                <key>sourceSize</key>
                <string>{255,296}</string>
            </dict>
            <key>effect_fivelight_455:v1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1462,403},{36,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{36,41}}</string>
                <key>sourceSize</key>
                <string>{36,41}</string>
            </dict>
            <key>effect_fivelight_455:v2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1970,310},{63,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{63,76}}</string>
                <key>sourceSize</key>
                <string>{63,76}</string>
            </dict>
            <key>effect_fivelight_455:v3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{594,441},{90,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{90,111}}</string>
                <key>sourceSize</key>
                <string>{90,111}</string>
            </dict>
            <key>effect_fivelight_455:v4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{477,441},{115,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{115,138}}</string>
                <key>sourceSize</key>
                <string>{115,138}</string>
            </dict>
            <key>effect_fivelight_455:v5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1533,298},{141,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{141,165}}</string>
                <key>sourceSize</key>
                <string>{141,165}</string>
            </dict>
            <key>effect_fivelight_455:v6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1799,198},{169,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{169,194}}</string>
                <key>sourceSize</key>
                <string>{169,194}</string>
            </dict>
            <key>effect_fivelight_455:v7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1799,0},{170,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{170,196}}</string>
                <key>sourceSize</key>
                <string>{170,196}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_fivelight_455.pvr.ccz</string>
            <key>size</key>
            <string>{2035,589}</string>
            <key>textureFileName</key>
            <string>effect_fivelight_455.pvr.ccz</string>
        </dict>
    </dict>
</plist>
