<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_fly_447:casq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{138,93},{58,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,90}}</string>
                <key>sourceSize</key>
                <string>{58,90}</string>
            </dict>
            <key>effect_fly_447:casqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{75,93},{61,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{61,91}}</string>
                <key>sourceSize</key>
                <string>{61,91}</string>
            </dict>
            <key>effect_fly_447:casqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{75,0},{69,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{69,91}}</string>
                <key>sourceSize</key>
                <string>{69,91}</string>
            </dict>
            <key>effect_fly_447:casqwq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{146,0},{65,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{65,91}}</string>
                <key>sourceSize</key>
                <string>{65,91}</string>
            </dict>
            <key>effect_fly_447:casqwv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{73,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{73,92}}</string>
                <key>sourceSize</key>
                <string>{73,92}</string>
            </dict>
            <key>effect_fly_447:ciacib.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{213,27},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>effect_fly_447:dacib.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{213,0},{28,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,25}}</string>
                <key>sourceSize</key>
                <string>{28,25}</string>
            </dict>
            <key>effect_fly_447:jduq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{198,93},{54,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{54,90}}</string>
                <key>sourceSize</key>
                <string>{54,90}</string>
            </dict>
            <key>effect_fly_447:renwu.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{234,27},{13,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,17}}</string>
                <key>sourceSize</key>
                <string>{13,17}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_fly_447.pvr.ccz</string>
            <key>size</key>
            <string>{252,184}</string>
            <key>textureFileName</key>
            <string>effect_fly_447.pvr.ccz</string>
        </dict>
    </dict>
</plist>
