<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_light_161:bawes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{318,238},{175,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{175,127}}</string>
                <key>sourceSize</key>
                <string>{175,127}</string>
            </dict>
            <key>effect_light_161:bawsc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{460,0},{36,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{36,83}}</string>
                <key>sourceSize</key>
                <string>{36,83}</string>
            </dict>
            <key>effect_light_161:kiws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{149,370},{70,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,65}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>effect_light_161:lovse.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{93,30},{223,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{223,122}}</string>
                <key>sourceSize</key>
                <string>{223,122}</string>
            </dict>
            <key>effect_light_161:lvowse.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,30},{90,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{90,296}}</string>
                <key>sourceSize</key>
                <string>{90,296}</string>
            </dict>
            <key>effect_light_161:mvjs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{93,155},{222,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{222,117}}</string>
                <key>sourceSize</key>
                <string>{222,117}</string>
            </dict>
            <key>effect_light_161:nrerty.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{457,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{457,27}}</string>
                <key>sourceSize</key>
                <string>{457,27}</string>
            </dict>
            <key>effect_light_161:td1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{451,86},{34,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,84}}</string>
                <key>sourceSize</key>
                <string>{34,84}</string>
            </dict>
            <key>effect_light_161:td2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{81,370},{65,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{65,122}}</string>
                <key>sourceSize</key>
                <string>{65,122}</string>
            </dict>
            <key>effect_light_161:td8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{284,368},{160,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{160,88}}</string>
                <key>sourceSize</key>
                <string>{160,88}</string>
            </dict>
            <key>effect_light_161:td9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{93,275},{188,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{188,92}}</string>
                <key>sourceSize</key>
                <string>{188,92}</string>
            </dict>
            <key>effect_light_161:vaser.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,329},{78,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{78,143}}</string>
                <key>sourceSize</key>
                <string>{78,143}</string>
            </dict>
            <key>effect_light_161:vsamkwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{319,30},{129,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{129,205}}</string>
                <key>sourceSize</key>
                <string>{129,205}</string>
            </dict>
            <key>effect_light_161:vswer.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{451,173},{44,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{44,35}}</string>
                <key>sourceSize</key>
                <string>{44,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_light_161.pvr.ccz</string>
            <key>size</key>
            <string>{499,493}</string>
            <key>textureFileName</key>
            <string>effect_light_161.pvr.ccz</string>
        </dict>
    </dict>
</plist>
