<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_magicclaw_231:d1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{302,163},{68,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,51}}</string>
                <key>sourceSize</key>
                <string>{68,51}</string>
            </dict>
            <key>effect_magicclaw_231:d10.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{829,0},{132,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{132,137}}</string>
                <key>sourceSize</key>
                <string>{132,137}</string>
            </dict>
            <key>effect_magicclaw_231:d11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{522,0},{156,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{156,143}}</string>
                <key>sourceSize</key>
                <string>{156,143}</string>
            </dict>
            <key>effect_magicclaw_231:d12.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{185,0},{187,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{187,161}}</string>
                <key>sourceSize</key>
                <string>{187,161}</string>
            </dict>
            <key>effect_magicclaw_231:d13.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>effect_magicclaw_231:d15.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{829,139},{128,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{128,132}}</string>
                <key>sourceSize</key>
                <string>{128,132}</string>
            </dict>
            <key>effect_magicclaw_231:d16.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{522,145},{114,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{114,140}}</string>
                <key>sourceSize</key>
                <string>{114,140}</string>
            </dict>
            <key>effect_magicclaw_231:d17.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{884,273},{105,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{105,99}}</string>
                <key>sourceSize</key>
                <string>{105,99}</string>
            </dict>
            <key>effect_magicclaw_231:d18.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{302,282},{91,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{91,55}}</string>
                <key>sourceSize</key>
                <string>{91,55}</string>
            </dict>
            <key>effect_magicclaw_231:d2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{763,273},{119,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{119,93}}</string>
                <key>sourceSize</key>
                <string>{119,93}</string>
            </dict>
            <key>effect_magicclaw_231:d3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,185},{115,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{115,101}}</string>
                <key>sourceSize</key>
                <string>{115,101}</string>
            </dict>
            <key>effect_magicclaw_231:d4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{185,163},{115,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{115,133}}</string>
                <key>sourceSize</key>
                <string>{115,133}</string>
            </dict>
            <key>effect_magicclaw_231:d5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{374,0},{146,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{146,163}}</string>
                <key>sourceSize</key>
                <string>{146,163}</string>
            </dict>
            <key>effect_magicclaw_231:d6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{680,0},{147,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{147,151}}</string>
                <key>sourceSize</key>
                <string>{147,151}</string>
            </dict>
            <key>effect_magicclaw_231:d7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{372,165},{113,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{113,115}}</string>
                <key>sourceSize</key>
                <string>{113,115}</string>
            </dict>
            <key>effect_magicclaw_231:d8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{638,153},{123,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{123,127}}</string>
                <key>sourceSize</key>
                <string>{123,127}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_magicclaw_231.pvr.ccz</string>
            <key>size</key>
            <string>{996,385}</string>
            <key>textureFileName</key>
            <string>effect_magicclaw_231.pvr.ccz</string>
        </dict>
    </dict>
</plist>
