<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_lierenzhang_274:casvqwetq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{188,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{188,138}}</string>
                <key>sourceSize</key>
                <string>{188,138}</string>
            </dict>
            <key>effect_lierenzhang_274:cvast5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{353,0},{146,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{146,121}}</string>
                <key>sourceSize</key>
                <string>{146,121}</string>
            </dict>
            <key>effect_lierenzhang_274:nhmqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{190,0},{161,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{161,121}}</string>
                <key>sourceSize</key>
                <string>{161,121}</string>
            </dict>
            <key>effect_lierenzhang_274:vasqr5q.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{190,123},{144,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{144,117}}</string>
                <key>sourceSize</key>
                <string>{144,117}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_lierenzhang_274.pvr.ccz</string>
            <key>size</key>
            <string>{503,244}</string>
            <key>textureFileName</key>
            <string>effect_lierenzhang_274.pvr.ccz</string>
        </dict>
    </dict>
</plist>
