<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_fairy_yanlong_139:y1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{392,205},{78,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{78,116}}</string>
                <key>sourceSize</key>
                <string>{78,116}</string>
            </dict>
            <key>effect_fairy_yanlong_139:y10.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{146,86},{121,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{121,119}}</string>
                <key>sourceSize</key>
                <string>{121,119}</string>
            </dict>
            <key>effect_fairy_yanlong_139:y11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{144,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{144,141}}</string>
                <key>sourceSize</key>
                <string>{144,141}</string>
            </dict>
            <key>effect_fairy_yanlong_139:y12.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{269,106},{121,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{121,117}}</string>
                <key>sourceSize</key>
                <string>{121,117}</string>
            </dict>
            <key>effect_fairy_yanlong_139:y13.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{310,0},{140,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{140,104}}</string>
                <key>sourceSize</key>
                <string>{140,104}</string>
            </dict>
            <key>effect_fairy_yanlong_139:y14.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{146,0},{162,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{162,84}}</string>
                <key>sourceSize</key>
                <string>{162,84}</string>
            </dict>
            <key>effect_fairy_yanlong_139:y2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{307,225},{71,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{71,95}}</string>
                <key>sourceSize</key>
                <string>{71,95}</string>
            </dict>
            <key>effect_fairy_yanlong_139:y3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{234,225},{71,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{71,98}}</string>
                <key>sourceSize</key>
                <string>{71,98}</string>
            </dict>
            <key>effect_fairy_yanlong_139:y4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{452,0},{45,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,25}}</string>
                <key>sourceSize</key>
                <string>{45,25}</string>
            </dict>
            <key>effect_fairy_yanlong_139:y5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{95,282},{68,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,30}}</string>
                <key>sourceSize</key>
                <string>{68,30}</string>
            </dict>
            <key>effect_fairy_yanlong_139:y6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,234},{93,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{93,58}}</string>
                <key>sourceSize</key>
                <string>{93,58}</string>
            </dict>
            <key>effect_fairy_yanlong_139:y7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{123,207},{109,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{109,73}}</string>
                <key>sourceSize</key>
                <string>{109,73}</string>
            </dict>
            <key>effect_fairy_yanlong_139:y8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,143},{121,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{121,89}}</string>
                <key>sourceSize</key>
                <string>{121,89}</string>
            </dict>
            <key>effect_fairy_yanlong_139:y9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{392,106},{106,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{106,97}}</string>
                <key>sourceSize</key>
                <string>{106,97}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_fairy_yanlong_139.pvr.ccz</string>
            <key>size</key>
            <string>{499,345}</string>
            <key>textureFileName</key>
            <string>effect_fairy_yanlong_139.pvr.ccz</string>
        </dict>
    </dict>
</plist>
