<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_fairyicon_hp_253:bcbcbc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{344,145},{86,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{86,92}}</string>
                <key>sourceSize</key>
                <string>{86,92}</string>
            </dict>
            <key>effect_fairyicon_hp_253:bcvbcvbc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{344,0},{145,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{145,143}}</string>
                <key>sourceSize</key>
                <string>{145,143}</string>
            </dict>
            <key>effect_fairyicon_hp_253:eweqq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{172,0},{170,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{170,168}}</string>
                <key>sourceSize</key>
                <string>{170,168}</string>
            </dict>
            <key>effect_fairyicon_hp_253:jhjghj.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,170},{82,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{82,84}}</string>
                <key>sourceSize</key>
                <string>{82,84}</string>
            </dict>
            <key>effect_fairyicon_hp_253:nbnv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{432,145},{75,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{75,79}}</string>
                <key>sourceSize</key>
                <string>{75,79}</string>
            </dict>
            <key>effect_fairyicon_hp_253:nbnvn.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{170,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{170,168}}</string>
                <key>sourceSize</key>
                <string>{170,168}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_fairyicon_hp_253.pvr.ccz</string>
            <key>size</key>
            <string>{503,248}</string>
            <key>textureFileName</key>
            <string>effect_fairyicon_hp_253.pvr.ccz</string>
        </dict>
    </dict>
</plist>
