<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_fairy_tuyuansu_127:ber.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{440,0},{62,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{62,158}}</string>
                <key>sourceSize</key>
                <string>{62,158}</string>
            </dict>
            <key>effect_fairy_tuyuansu_127:cawq4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,394},{84,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{84,43}}</string>
                <key>sourceSize</key>
                <string>{84,43}</string>
            </dict>
            <key>effect_fairy_tuyuansu_127:cqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{98,325},{92,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{92,65}}</string>
                <key>sourceSize</key>
                <string>{92,65}</string>
            </dict>
            <key>effect_fairy_tuyuansu_127:cqwee.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,220},{204,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{204,103}}</string>
                <key>sourceSize</key>
                <string>{204,103}</string>
            </dict>
            <key>effect_fairy_tuyuansu_127:cvawer.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{218,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{218,113}}</string>
                <key>sourceSize</key>
                <string>{218,113}</string>
            </dict>
            <key>effect_fairy_tuyuansu_127:czxcav.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{98,392},{69,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{69,59}}</string>
                <key>sourceSize</key>
                <string>{69,59}</string>
            </dict>
            <key>effect_fairy_tuyuansu_127:czxvs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,325},{96,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{96,67}}</string>
                <key>sourceSize</key>
                <string>{96,67}</string>
            </dict>
            <key>effect_fairy_tuyuansu_127:iowev.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{206,315},{154,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{154,75}}</string>
                <key>sourceSize</key>
                <string>{154,75}</string>
            </dict>
            <key>effect_fairy_tuyuansu_127:kovwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{426,424},{37,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,49}}</string>
                <key>sourceSize</key>
                <string>{37,49}</string>
            </dict>
            <key>effect_fairy_tuyuansu_127:kvoqws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{169,392},{84,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{84,43}}</string>
                <key>sourceSize</key>
                <string>{84,43}</string>
            </dict>
            <key>effect_fairy_tuyuansu_127:mjvwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{362,315},{62,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{62,158}}</string>
                <key>sourceSize</key>
                <string>{62,158}</string>
            </dict>
            <key>effect_fairy_tuyuansu_127:mkqp.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{440,160},{62,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{62,158}}</string>
                <key>sourceSize</key>
                <string>{62,158}</string>
            </dict>
            <key>effect_fairy_tuyuansu_127:mvawe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{426,320},{51,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{51,102}}</string>
                <key>sourceSize</key>
                <string>{51,102}</string>
            </dict>
            <key>effect_fairy_tuyuansu_127:mvjqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{220,0},{218,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{218,108}}</string>
                <key>sourceSize</key>
                <string>{218,108}</string>
            </dict>
            <key>effect_fairy_tuyuansu_127:vawe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,115},{204,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{204,103}}</string>
                <key>sourceSize</key>
                <string>{204,103}</string>
            </dict>
            <key>effect_fairy_tuyuansu_127:vawer.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{206,210},{204,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{204,103}}</string>
                <key>sourceSize</key>
                <string>{204,103}</string>
            </dict>
            <key>effect_fairy_tuyuansu_127:vawert.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{255,392},{84,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{84,43}}</string>
                <key>sourceSize</key>
                <string>{84,43}</string>
            </dict>
            <key>effect_fairy_tuyuansu_127:vawett.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{220,110},{218,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{218,98}}</string>
                <key>sourceSize</key>
                <string>{218,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_fairy_tuyuansu_127.pvr.ccz</string>
            <key>size</key>
            <string>{503,474}</string>
            <key>textureFileName</key>
            <string>effect_fairy_tuyuansu_127.pvr.ccz</string>
        </dict>
    </dict>
</plist>
