<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_mc_levelup_120:a21.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{215,787},{212,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{212,40}}</string>
                <key>sourceSize</key>
                <string>{212,40}</string>
            </dict>
            <key>effect_mc_levelup_120:a22.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{738,788},{212,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{212,40}}</string>
                <key>sourceSize</key>
                <string>{212,40}</string>
            </dict>
            <key>effect_mc_levelup_120:a23.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,781},{212,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{212,40}}</string>
                <key>sourceSize</key>
                <string>{212,40}</string>
            </dict>
            <key>effect_mc_levelup_120:q20.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{630,417},{230,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{230,246}}</string>
                <key>sourceSize</key>
                <string>{230,246}</string>
            </dict>
            <key>effect_mc_levelup_120:s1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{863,417},{83,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{83,128}}</string>
                <key>sourceSize</key>
                <string>{83,128}</string>
            </dict>
            <key>effect_mc_levelup_120:s10.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{630,0},{312,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{312,212}}</string>
                <key>sourceSize</key>
                <string>{312,212}</string>
            </dict>
            <key>effect_mc_levelup_120:s11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{630,215},{312,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{312,199}}</string>
                <key>sourceSize</key>
                <string>{312,199}</string>
            </dict>
            <key>effect_mc_levelup_120:s12.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,220},{312,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{312,191}}</string>
                <key>sourceSize</key>
                <string>{312,191}</string>
            </dict>
            <key>effect_mc_levelup_120:s13.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,414},{312,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{312,189}}</string>
                <key>sourceSize</key>
                <string>{312,189}</string>
            </dict>
            <key>effect_mc_levelup_120:s14.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{315,217},{312,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{312,199}}</string>
                <key>sourceSize</key>
                <string>{312,199}</string>
            </dict>
            <key>effect_mc_levelup_120:s2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{409,656},{163,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{163,128}}</string>
                <key>sourceSize</key>
                <string>{163,128}</string>
            </dict>
            <key>effect_mc_levelup_120:s3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{738,666},{161,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{161,119}}</string>
                <key>sourceSize</key>
                <string>{161,119}</string>
            </dict>
            <key>effect_mc_levelup_120:s4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{575,666},{160,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{160,124}}</string>
                <key>sourceSize</key>
                <string>{160,124}</string>
            </dict>
            <key>effect_mc_levelup_120:s5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{212,656},{194,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{194,122}}</string>
                <key>sourceSize</key>
                <string>{194,122}</string>
            </dict>
            <key>effect_mc_levelup_120:s6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,606},{209,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{209,153}}</string>
                <key>sourceSize</key>
                <string>{209,153}</string>
            </dict>
            <key>effect_mc_levelup_120:s7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{315,419},{215,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{215,234}}</string>
                <key>sourceSize</key>
                <string>{215,234}</string>
            </dict>
            <key>effect_mc_levelup_120:s8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{315,0},{312,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{312,214}}</string>
                <key>sourceSize</key>
                <string>{312,214}</string>
            </dict>
            <key>effect_mc_levelup_120:s9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{312,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{312,217}}</string>
                <key>sourceSize</key>
                <string>{312,217}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_mc_levelup_120.pvr.ccz</string>
            <key>size</key>
            <string>{945,824}</string>
            <key>textureFileName</key>
            <string>effect_mc_levelup_120.pvr.ccz</string>
        </dict>
    </dict>
</plist>
