<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_xingjihuangmu_271:aiskdjua.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{221,14},{10,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,16}}</string>
                <key>sourceSize</key>
                <string>{10,16}</string>
            </dict>
            <key>effect_xingjihuangmu_271:ajsudqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{221,32},{7,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,14}}</string>
                <key>sourceSize</key>
                <string>{7,14}</string>
            </dict>
            <key>effect_xingjihuangmu_271:asmcl.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{251,55},{3,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{3,6}}</string>
                <key>sourceSize</key>
                <string>{3,6}</string>
            </dict>
            <key>effect_xingjihuangmu_271:asodpq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{249,23},{5,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{5,11}}</string>
                <key>sourceSize</key>
                <string>{5,11}</string>
            </dict>
            <key>effect_xingjihuangmu_271:casqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{219,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{219,73}}</string>
                <key>sourceSize</key>
                <string>{219,73}</string>
            </dict>
            <key>effect_xingjihuangmu_271:ciuasda.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{221,48},{7,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,7}}</string>
                <key>sourceSize</key>
                <string>{7,7}</string>
            </dict>
            <key>effect_xingjihuangmu_271:ckiasd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{243,46},{7,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,7}}</string>
                <key>sourceSize</key>
                <string>{7,7}</string>
            </dict>
            <key>effect_xingjihuangmu_271:cnajshdy.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{221,0},{14,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,12}}</string>
                <key>sourceSize</key>
                <string>{14,12}</string>
            </dict>
            <key>effect_xingjihuangmu_271:cnhasyda.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{237,54},{4,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{4,5}}</string>
                <key>sourceSize</key>
                <string>{4,5}</string>
            </dict>
            <key>effect_xingjihuangmu_271:cplkas.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{243,55},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{6,6}}</string>
                <key>sourceSize</key>
                <string>{6,6}</string>
            </dict>
            <key>effect_xingjihuangmu_271:kcjasud.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{237,0},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>effect_xingjihuangmu_271:kcjmj.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{233,23},{14,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,8}}</string>
                <key>sourceSize</key>
                <string>{14,8}</string>
            </dict>
            <key>effect_xingjihuangmu_271:laosd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{233,15},{19,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,6}}</string>
                <key>sourceSize</key>
                <string>{19,6}</string>
            </dict>
            <key>effect_xingjihuangmu_271:laosdpa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{230,33},{14,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,8}}</string>
                <key>sourceSize</key>
                <string>{14,8}</string>
            </dict>
            <key>effect_xingjihuangmu_271:ncjsha.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{230,43},{11,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,9}}</string>
                <key>sourceSize</key>
                <string>{11,9}</string>
            </dict>
            <key>effect_xingjihuangmu_271:quw7e.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{230,54},{5,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{5,8}}</string>
                <key>sourceSize</key>
                <string>{5,8}</string>
            </dict>
            <key>effect_xingjihuangmu_271:qwjysa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{221,57},{5,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{5,7}}</string>
                <key>sourceSize</key>
                <string>{5,7}</string>
            </dict>
            <key>effect_xingjihuangmu_271:s90as.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{246,36},{7,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,8}}</string>
                <key>sourceSize</key>
                <string>{7,8}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_xingjihuangmu_271.pvr.ccz</string>
            <key>size</key>
            <string>{256,81}</string>
            <key>textureFileName</key>
            <string>effect_xingjihuangmu_271.pvr.ccz</string>
        </dict>
    </dict>
</plist>
