<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_rolerevive_190:bse.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{284,217},{276,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{276,199}}</string>
                <key>sourceSize</key>
                <string>{276,199}</string>
            </dict>
            <key>effect_rolerevive_190:kaow.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{845,0},{144,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{144,220}}</string>
                <key>sourceSize</key>
                <string>{144,220}</string>
            </dict>
            <key>effect_rolerevive_190:lwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{564,208},{274,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{274,203}}</string>
                <key>sourceSize</key>
                <string>{274,203}</string>
            </dict>
            <key>effect_rolerevive_190:svs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{841,223},{168,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{168,169}}</string>
                <key>sourceSize</key>
                <string>{168,169}</string>
            </dict>
            <key>effect_rolerevive_190:vaw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{564,0},{278,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{278,205}}</string>
                <key>sourceSize</key>
                <string>{278,205}</string>
            </dict>
            <key>effect_rolerevive_190:vaww.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{563,414},{201,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{201,166}}</string>
                <key>sourceSize</key>
                <string>{201,166}</string>
            </dict>
            <key>effect_rolerevive_190:vwea.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,223},{267,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{267,191}}</string>
                <key>sourceSize</key>
                <string>{267,191}</string>
            </dict>
            <key>effect_rolerevive_190:vwes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{281,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{281,220}}</string>
                <key>sourceSize</key>
                <string>{281,220}</string>
            </dict>
            <key>effect_rolerevive_190:weqc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{284,0},{277,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{277,214}}</string>
                <key>sourceSize</key>
                <string>{277,214}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_rolerevive_190.pvr.ccz</string>
            <key>size</key>
            <string>{1000,580}</string>
            <key>textureFileName</key>
            <string>effect_rolerevive_190.pvr.ccz</string>
        </dict>
    </dict>
</plist>
