<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_collapse_159:a1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{881,167},{139,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{139,84}}</string>
                <key>sourceSize</key>
                <string>{139,84}</string>
            </dict>
            <key>effect_collapse_159:a2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,295},{166,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{166,85}}</string>
                <key>sourceSize</key>
                <string>{166,85}</string>
            </dict>
            <key>effect_collapse_159:a3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{366,164},{223,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{223,114}}</string>
                <key>sourceSize</key>
                <string>{223,114}</string>
            </dict>
            <key>effect_collapse_159:a4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{685,0},{289,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{289,164}}</string>
                <key>sourceSize</key>
                <string>{289,164}</string>
            </dict>
            <key>effect_collapse_159:a5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{363,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{363,185}}</string>
                <key>sourceSize</key>
                <string>{363,185}</string>
            </dict>
            <key>effect_collapse_159:a6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{366,0},{316,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{316,161}}</string>
                <key>sourceSize</key>
                <string>{316,161}</string>
            </dict>
            <key>effect_collapse_159:asdjfia.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{977,0},{14,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,23}}</string>
                <key>sourceSize</key>
                <string>{14,23}</string>
            </dict>
            <key>effect_collapse_159:l1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{800,334},{134,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{134,59}}</string>
                <key>sourceSize</key>
                <string>{134,59}</string>
            </dict>
            <key>effect_collapse_159:l2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{881,254},{127,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{127,77}}</string>
                <key>sourceSize</key>
                <string>{127,77}</string>
            </dict>
            <key>effect_collapse_159:l3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{208,188},{127,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{127,77}}</string>
                <key>sourceSize</key>
                <string>{127,77}</string>
            </dict>
            <key>effect_collapse_159:s1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{673,167},{205,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{205,104}}</string>
                <key>sourceSize</key>
                <string>{205,104}</string>
            </dict>
            <key>effect_collapse_159:s2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{208,268},{105,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{105,97}}</string>
                <key>sourceSize</key>
                <string>{105,97}</string>
            </dict>
            <key>effect_collapse_159:s3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{316,281},{195,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{195,97}}</string>
                <key>sourceSize</key>
                <string>{195,97}</string>
            </dict>
            <key>effect_collapse_159:s4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{592,274},{205,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{205,103}}</string>
                <key>sourceSize</key>
                <string>{205,103}</string>
            </dict>
            <key>effect_collapse_159:s5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,188},{205,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{205,104}}</string>
                <key>sourceSize</key>
                <string>{205,104}</string>
            </dict>
            <key>effect_collapse_159:z1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{592,164},{78,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{78,55}}</string>
                <key>sourceSize</key>
                <string>{78,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_collapse_159.pvr.ccz</string>
            <key>size</key>
            <string>{1014,393}</string>
            <key>textureFileName</key>
            <string>effect_collapse_159.pvr.ccz</string>
        </dict>
    </dict>
</plist>
