<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_flame_426:bascwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{129,109},{59,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{59,94}}</string>
                <key>sourceSize</key>
                <string>{59,94}</string>
            </dict>
            <key>effect_flame_426:case.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{197,0},{55,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,106}}</string>
                <key>sourceSize</key>
                <string>{55,106}</string>
            </dict>
            <key>effect_flame_426:cvaw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{68,0},{64,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{64,102}}</string>
                <key>sourceSize</key>
                <string>{64,102}</string>
            </dict>
            <key>effect_flame_426:laosdf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{65,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{65,103}}</string>
                <key>sourceSize</key>
                <string>{65,103}</string>
            </dict>
            <key>effect_flame_426:oit3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{135,0},{59,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{59,106}}</string>
                <key>sourceSize</key>
                <string>{59,106}</string>
            </dict>
            <key>effect_flame_426:vaew.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{191,109},{60,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{60,91}}</string>
                <key>sourceSize</key>
                <string>{60,91}</string>
            </dict>
            <key>effect_flame_426:vase.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,106},{58,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,98}}</string>
                <key>sourceSize</key>
                <string>{58,98}</string>
            </dict>
            <key>effect_flame_426:vases.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{68,105},{58,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,105}}</string>
                <key>sourceSize</key>
                <string>{58,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_flame_426.pvr.ccz</string>
            <key>size</key>
            <string>{252,215}</string>
            <key>textureFileName</key>
            <string>effect_flame_426.pvr.ccz</string>
        </dict>
    </dict>
</plist>
