<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_fairy_tiejiazhanche_142:baw23.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{133,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{133,151}}</string>
                <key>sourceSize</key>
                <string>{133,151}</string>
            </dict>
            <key>effect_fairy_tiejiazhanche_142:cqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{129,309},{127,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{127,154}}</string>
                <key>sourceSize</key>
                <string>{127,154}</string>
            </dict>
            <key>effect_fairy_tiejiazhanche_142:cvawqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{267,153},{127,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{127,157}}</string>
                <key>sourceSize</key>
                <string>{127,157}</string>
            </dict>
            <key>effect_fairy_tiejiazhanche_142:iuqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{135,153},{130,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{130,154}}</string>
                <key>sourceSize</key>
                <string>{130,154}</string>
            </dict>
            <key>effect_fairy_tiejiazhanche_142:jqa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{270,0},{133,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{133,151}}</string>
                <key>sourceSize</key>
                <string>{133,151}</string>
            </dict>
            <key>effect_fairy_tiejiazhanche_142:kivw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,306},{127,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{127,154}}</string>
                <key>sourceSize</key>
                <string>{127,154}</string>
            </dict>
            <key>effect_fairy_tiejiazhanche_142:vawer.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,153},{133,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{133,151}}</string>
                <key>sourceSize</key>
                <string>{133,151}</string>
            </dict>
            <key>effect_fairy_tiejiazhanche_142:vawer345.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{135,0},{133,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{133,151}}</string>
                <key>sourceSize</key>
                <string>{133,151}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_fairy_tiejiazhanche_142.pvr.ccz</string>
            <key>size</key>
            <string>{403,471}</string>
            <key>textureFileName</key>
            <string>effect_fairy_tiejiazhanche_142.pvr.ccz</string>
        </dict>
    </dict>
</plist>
