<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_missile_226:092fas.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,126},{127,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{127,119}}</string>
                <key>sourceSize</key>
                <string>{127,119}</string>
            </dict>
            <key>effect_missile_226:09wdnh.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{229,337},{152,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{152,38}}</string>
                <key>sourceSize</key>
                <string>{152,38}</string>
            </dict>
            <key>effect_missile_226:9823.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{277,212},{137,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{137,49}}</string>
                <key>sourceSize</key>
                <string>{137,49}</string>
            </dict>
            <key>effect_missile_226:bber.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{418,0},{68,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,171}}</string>
                <key>sourceSize</key>
                <string>{68,171}</string>
            </dict>
            <key>effect_missile_226:bbfg.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{130,126},{43,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,128}}</string>
                <key>sourceSize</key>
                <string>{43,128}</string>
            </dict>
            <key>effect_missile_226:bfges.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{295,0},{120,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{120,209}}</string>
                <key>sourceSize</key>
                <string>{120,209}</string>
            </dict>
            <key>effect_missile_226:caswev.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{232,55},{58,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,140}}</string>
                <key>sourceSize</key>
                <string>{58,140}</string>
            </dict>
            <key>effect_missile_226:fqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,55},{188,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{188,68}}</string>
                <key>sourceSize</key>
                <string>{188,68}</string>
            </dict>
            <key>effect_missile_226:kise.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{418,174},{63,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{63,117}}</string>
                <key>sourceSize</key>
                <string>{63,117}</string>
            </dict>
            <key>effect_missile_226:mjvsa9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{176,229},{50,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{50,106}}</string>
                <key>sourceSize</key>
                <string>{50,106}</string>
            </dict>
            <key>effect_missile_226:mkse.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{277,294},{155,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{155,40}}</string>
                <key>sourceSize</key>
                <string>{155,40}</string>
            </dict>
            <key>effect_missile_226:o923.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,248},{125,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{125,55}}</string>
                <key>sourceSize</key>
                <string>{125,55}</string>
            </dict>
            <key>effect_missile_226:vaswe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,333},{159,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{159,32}}</string>
                <key>sourceSize</key>
                <string>{159,32}</string>
            </dict>
            <key>effect_missile_226:vdfe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{128,257},{30,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,73}}</string>
                <key>sourceSize</key>
                <string>{30,73}</string>
            </dict>
            <key>effect_missile_226:vdw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{191,55},{38,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,171}}</string>
                <key>sourceSize</key>
                <string>{38,171}</string>
            </dict>
            <key>effect_missile_226:vsd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{232,198},{42,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{42,127}}</string>
                <key>sourceSize</key>
                <string>{42,127}</string>
            </dict>
            <key>effect_missile_226:vsdf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{292,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{292,52}}</string>
                <key>sourceSize</key>
                <string>{292,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_missile_226.pvr.ccz</string>
            <key>size</key>
            <string>{485,376}</string>
            <key>textureFileName</key>
            <string>effect_missile_226.pvr.ccz</string>
        </dict>
    </dict>
</plist>
