<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_tanbaolv_446:c1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{364,735},{362,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{362,125}}</string>
                <key>sourceSize</key>
                <string>{362,125}</string>
            </dict>
            <key>effect_tanbaolv_446:c2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{364,608},{362,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{362,125}}</string>
                <key>sourceSize</key>
                <string>{362,125}</string>
            </dict>
            <key>effect_tanbaolv_446:c3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,839},{362,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{362,125}}</string>
                <key>sourceSize</key>
                <string>{362,125}</string>
            </dict>
            <key>effect_tanbaolv_446:c4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,585},{362,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{362,125}}</string>
                <key>sourceSize</key>
                <string>{362,125}</string>
            </dict>
            <key>effect_tanbaolv_446:c5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,712},{362,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{362,125}}</string>
                <key>sourceSize</key>
                <string>{362,125}</string>
            </dict>
            <key>effect_tanbaolv_446:dsada1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{101,476},{153,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{153,26}}</string>
                <key>sourceSize</key>
                <string>{153,26}</string>
            </dict>
            <key>effect_tanbaolv_446:l1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{524,247},{218,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{218,186}}</string>
                <key>sourceSize</key>
                <string>{218,186}</string>
            </dict>
            <key>effect_tanbaolv_446:l2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,264},{257,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{257,210}}</string>
                <key>sourceSize</key>
                <string>{257,210}</string>
            </dict>
            <key>effect_tanbaolv_446:l3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{259,458},{193,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{193,125}}</string>
                <key>sourceSize</key>
                <string>{193,125}</string>
            </dict>
            <key>effect_tanbaolv_446:l4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{751,456},{218,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{218,146}}</string>
                <key>sourceSize</key>
                <string>{218,146}</string>
            </dict>
            <key>effect_tanbaolv_446:p1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{780,0},{234,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{234,226}}</string>
                <key>sourceSize</key>
                <string>{234,226}</string>
            </dict>
            <key>effect_tanbaolv_446:p10.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,476},{99,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{99,91}}</string>
                <key>sourceSize</key>
                <string>{99,91}</string>
            </dict>
            <key>effect_tanbaolv_446:p2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{268,239},{254,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{254,217}}</string>
                <key>sourceSize</key>
                <string>{254,217}</string>
            </dict>
            <key>effect_tanbaolv_446:p3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{524,435},{225,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{225,171}}</string>
                <key>sourceSize</key>
                <string>{225,171}</string>
            </dict>
            <key>effect_tanbaolv_446:p4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{780,228},{213,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{213,226}}</string>
                <key>sourceSize</key>
                <string>{213,226}</string>
            </dict>
            <key>effect_tanbaolv_446:p6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{266,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{266,262}}</string>
                <key>sourceSize</key>
                <string>{266,262}</string>
            </dict>
            <key>effect_tanbaolv_446:p7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{533,0},{245,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{245,245}}</string>
                <key>sourceSize</key>
                <string>{245,245}</string>
            </dict>
            <key>effect_tanbaolv_446:p8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{268,0},{263,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{263,237}}</string>
                <key>sourceSize</key>
                <string>{263,237}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_tanbaolv_446.pvr.ccz</string>
            <key>size</key>
            <string>{1014,946}</string>
            <key>textureFileName</key>
            <string>effect_tanbaolv_446.pvr.ccz</string>
        </dict>
    </dict>
</plist>
