<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairy_bingfengjuren_2042:bbcvbc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{107,197},{24,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,26}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>fairy_bingfengjuren_2042:bcvbc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{73,197},{32,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,19}}</string>
                <key>sourceSize</key>
                <string>{32,19}</string>
            </dict>
            <key>fairy_bingfengjuren_2042:bvbcb.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,160},{45,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,47}}</string>
                <key>sourceSize</key>
                <string>{45,47}</string>
            </dict>
            <key>fairy_bingfengjuren_2042:bvc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{158,0},{76,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{76,61}}</string>
                <key>sourceSize</key>
                <string>{76,61}</string>
            </dict>
            <key>fairy_bingfengjuren_2042:c1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{66,53},{69,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{69,47}}</string>
                <key>sourceSize</key>
                <string>{69,47}</string>
            </dict>
            <key>fairy_bingfengjuren_2042:jianbang3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{62,155},{67,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{67,40}}</string>
                <key>sourceSize</key>
                <string>{67,40}</string>
            </dict>
            <key>fairy_bingfengjuren_2042:jiao5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{236,0},{18,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,32}}</string>
                <key>sourceSize</key>
                <string>{18,32}</string>
            </dict>
            <key>fairy_bingfengjuren_2042:jiao7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{137,53},{16,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,28}}</string>
                <key>sourceSize</key>
                <string>{16,28}</string>
            </dict>
            <key>fairy_bingfengjuren_2042:kudang1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{207,116},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>fairy_bingfengjuren_2042:kudang3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{232,136},{16,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{16,15}</string>
            </dict>
            <key>fairy_bingfengjuren_2042:nvnv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{214,177},{34,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,27}}</string>
                <key>sourceSize</key>
                <string>{34,27}</string>
            </dict>
            <key>fairy_bingfengjuren_2042:q1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{66,102},{64,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{64,51}}</string>
                <key>sourceSize</key>
                <string>{64,51}</string>
            </dict>
            <key>fairy_bingfengjuren_2042:q2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,109},{60,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{60,49}}</string>
                <key>sourceSize</key>
                <string>{60,49}</string>
            </dict>
            <key>fairy_bingfengjuren_2042:q3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{155,63},{65,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{65,51}}</string>
                <key>sourceSize</key>
                <string>{65,51}</string>
            </dict>
            <key>fairy_bingfengjuren_2042:q4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,53},{64,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{64,54}}</string>
                <key>sourceSize</key>
                <string>{64,54}</string>
            </dict>
            <key>fairy_bingfengjuren_2042:s1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{207,161},{10,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,9}}</string>
                <key>sourceSize</key>
                <string>{10,9}</string>
            </dict>
            <key>fairy_bingfengjuren_2042:shenti1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{47,197},{24,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,29}}</string>
                <key>sourceSize</key>
                <string>{24,29}</string>
            </dict>
            <key>fairy_bingfengjuren_2042:shenti3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{132,104},{21,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,23}}</string>
                <key>sourceSize</key>
                <string>{21,23}</string>
            </dict>
            <key>fairy_bingfengjuren_2042:shou3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{230,166},{7,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,9}}</string>
                <key>sourceSize</key>
                <string>{7,9}</string>
            </dict>
            <key>fairy_bingfengjuren_2042:shou5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{220,148},{9,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,12}}</string>
                <key>sourceSize</key>
                <string>{9,12}</string>
            </dict>
            <key>fairy_bingfengjuren_2042:shou8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{207,149},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>fairy_bingfengjuren_2042:shoubi1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{131,155},{13,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,10}}</string>
                <key>sourceSize</key>
                <string>{13,10}</string>
            </dict>
            <key>fairy_bingfengjuren_2042:shoubi3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{207,132},{11,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,15}}</string>
                <key>sourceSize</key>
                <string>{11,15}</string>
            </dict>
            <key>fairy_bingfengjuren_2042:shoubi4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{236,95},{17,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,15}}</string>
                <key>sourceSize</key>
                <string>{17,15}</string>
            </dict>
            <key>fairy_bingfengjuren_2042:shoubi4a.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{219,162},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>fairy_bingfengjuren_2042:shoubi5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{248,153},{5,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{5,11}}</string>
                <key>sourceSize</key>
                <string>{5,11}</string>
            </dict>
            <key>fairy_bingfengjuren_2042:shoubi6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{146,155},{7,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,11}}</string>
                <key>sourceSize</key>
                <string>{7,11}</string>
            </dict>
            <key>fairy_bingfengjuren_2042:shoubi7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{222,92},{12,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,17}}</string>
                <key>sourceSize</key>
                <string>{12,17}</string>
            </dict>
            <key>fairy_bingfengjuren_2042:shoubi8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{220,132},{10,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,14}}</string>
                <key>sourceSize</key>
                <string>{10,14}</string>
            </dict>
            <key>fairy_bingfengjuren_2042:tou3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{186,172},{26,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,30}}</string>
                <key>sourceSize</key>
                <string>{26,30}</string>
            </dict>
            <key>fairy_bingfengjuren_2042:tui1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{222,111},{10,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,19}}</string>
                <key>sourceSize</key>
                <string>{10,19}</string>
            </dict>
            <key>fairy_bingfengjuren_2042:tui2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{137,83},{15,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,19}}</string>
                <key>sourceSize</key>
                <string>{15,19}</string>
            </dict>
            <key>fairy_bingfengjuren_2042:tui3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{236,34},{16,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,31}}</string>
                <key>sourceSize</key>
                <string>{16,31}</string>
            </dict>
            <key>fairy_bingfengjuren_2042:tui4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{234,112},{19,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,22}}</string>
                <key>sourceSize</key>
                <string>{19,22}</string>
            </dict>
            <key>fairy_bingfengjuren_2042:tui5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{222,63},{12,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,27}}</string>
                <key>sourceSize</key>
                <string>{12,27}</string>
            </dict>
            <key>fairy_bingfengjuren_2042:tui6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{236,67},{15,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,26}}</string>
                <key>sourceSize</key>
                <string>{15,26}</string>
            </dict>
            <key>fairy_bingfengjuren_2042:vbcbcb.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{155,167},{29,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,56}}</string>
                <key>sourceSize</key>
                <string>{29,56}</string>
            </dict>
            <key>fairy_bingfengjuren_2042:vcbcb.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{156,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{156,51}}</string>
                <key>sourceSize</key>
                <string>{156,51}</string>
            </dict>
            <key>fairy_bingfengjuren_2042:vcxvxcvxvxc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{47,160},{12,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,10}}</string>
                <key>sourceSize</key>
                <string>{12,10}</string>
            </dict>
            <key>fairy_bingfengjuren_2042:vvxv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{132,129},{18,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,13}}</string>
                <key>sourceSize</key>
                <string>{18,13}</string>
            </dict>
            <key>fairy_bingfengjuren_2042:wuqi2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{231,153},{15,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,11}}</string>
                <key>sourceSize</key>
                <string>{15,11}</string>
            </dict>
            <key>fairy_bingfengjuren_2042:wuqi3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{132,144},{20,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,9}}</string>
                <key>sourceSize</key>
                <string>{20,9}</string>
            </dict>
            <key>fairy_bingfengjuren_2042:wuqi5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{155,116},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>fairy_bingfengjuren_2042.pvr.ccz</string>
            <key>size</key>
            <string>{255,226}</string>
            <key>textureFileName</key>
            <string>fairy_bingfengjuren_2042.pvr.ccz</string>
        </dict>
    </dict>
</plist>
