<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairy_zeus_2116:34123dqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{399,0},{34,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,129}}</string>
                <key>sourceSize</key>
                <string>{34,129}</string>
            </dict>
            <key>fairy_zeus_2116:3498kjuasa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{264,0},{59,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{59,131}}</string>
                <key>sourceSize</key>
                <string>{59,131}</string>
            </dict>
            <key>fairy_zeus_2116:34casqweq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{435,0},{26,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,137}}</string>
                <key>sourceSize</key>
                <string>{26,137}</string>
            </dict>
            <key>fairy_zeus_2116:34qweyq6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{325,0},{35,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,133}}</string>
                <key>sourceSize</key>
                <string>{35,133}</string>
            </dict>
            <key>fairy_zeus_2116:87qwevtq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{435,257},{23,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,15}}</string>
                <key>sourceSize</key>
                <string>{23,15}</string>
            </dict>
            <key>fairy_zeus_2116:898ca9sqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{357,283},{32,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,19}}</string>
                <key>sourceSize</key>
                <string>{32,19}</string>
            </dict>
            <key>fairy_zeus_2116:8d7qwevb.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{89,261},{52,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{52,60}}</string>
                <key>sourceSize</key>
                <string>{52,60}</string>
            </dict>
            <key>fairy_zeus_2116:8kcasqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{398,275},{30,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,25}}</string>
                <key>sourceSize</key>
                <string>{30,25}</string>
            </dict>
            <key>fairy_zeus_2116:98asdqt6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{323,135},{32,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,58}}</string>
                <key>sourceSize</key>
                <string>{32,58}</string>
            </dict>
            <key>fairy_zeus_2116:98asdv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{409,302},{15,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,12}}</string>
                <key>sourceSize</key>
                <string>{15,12}</string>
            </dict>
            <key>fairy_zeus_2116:98asqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{500,87},{10,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,19}}</string>
                <key>sourceSize</key>
                <string>{10,19}</string>
            </dict>
            <key>fairy_zeus_2116:98casnja.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{398,250},{35,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,23}}</string>
                <key>sourceSize</key>
                <string>{35,23}</string>
            </dict>
            <key>fairy_zeus_2116:98casqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,261},{87,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{87,35}}</string>
                <key>sourceSize</key>
                <string>{87,35}</string>
            </dict>
            <key>fairy_zeus_2116:98cnashqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{248,287},{13,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,21}}</string>
                <key>sourceSize</key>
                <string>{13,21}</string>
            </dict>
            <key>fairy_zeus_2116:98cvas.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{435,233},{19,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,22}}</string>
                <key>sourceSize</key>
                <string>{19,22}</string>
            </dict>
            <key>fairy_zeus_2116:9c8asqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{248,261},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>fairy_zeus_2116:9v8asa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{435,198},{14,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,33}}</string>
                <key>sourceSize</key>
                <string>{14,33}</string>
            </dict>
            <key>fairy_zeus_2116:ajscuqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{399,131},{34,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,117}}</string>
                <key>sourceSize</key>
                <string>{34,117}</string>
            </dict>
            <key>fairy_zeus_2116:iausdqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{362,132},{33,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,66}}</string>
                <key>sourceSize</key>
                <string>{33,66}</string>
            </dict>
            <key>fairy_zeus_2116:icsuqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{463,129},{33,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,129}}</string>
                <key>sourceSize</key>
                <string>{33,129}</string>
            </dict>
            <key>fairy_zeus_2116:icuasqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{460,260},{43,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,39}}</string>
                <key>sourceSize</key>
                <string>{43,39}</string>
            </dict>
            <key>fairy_zeus_2116:icuasqwe5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{210,289},{21,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,13}}</string>
                <key>sourceSize</key>
                <string>{21,13}</string>
            </dict>
            <key>fairy_zeus_2116:icuasqwq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{430,288},{28,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,14}}</string>
                <key>sourceSize</key>
                <string>{28,14}</string>
            </dict>
            <key>fairy_zeus_2116:iiuasqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{481,301},{15,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,17}}</string>
                <key>sourceSize</key>
                <string>{15,17}</string>
            </dict>
            <key>fairy_zeus_2116:iuasdqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{264,133},{57,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{57,82}}</string>
                <key>sourceSize</key>
                <string>{57,82}</string>
            </dict>
            <key>fairy_zeus_2116:iucqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{460,301},{19,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,14}}</string>
                <key>sourceSize</key>
                <string>{19,14}</string>
            </dict>
            <key>fairy_zeus_2116:iucqwe55.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{360,200},{32,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,44}}</string>
                <key>sourceSize</key>
                <string>{32,44}</string>
            </dict>
            <key>fairy_zeus_2116:jcsiuqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{362,0},{35,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,130}}</string>
                <key>sourceSize</key>
                <string>{35,130}</string>
            </dict>
            <key>fairy_zeus_2116:kjasudqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{310,250},{45,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,66}}</string>
                <key>sourceSize</key>
                <string>{45,66}</string>
            </dict>
            <key>fairy_zeus_2116:kjvasiqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{323,195},{35,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,53}}</string>
                <key>sourceSize</key>
                <string>{35,53}</string>
            </dict>
            <key>fairy_zeus_2116:kjvuasqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,298},{68,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,18}}</string>
                <key>sourceSize</key>
                <string>{68,18}</string>
            </dict>
            <key>fairy_zeus_2116:kvjasiqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{264,217},{44,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{44,93}}</string>
                <key>sourceSize</key>
                <string>{44,93}</string>
            </dict>
            <key>fairy_zeus_2116:laskdoqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{233,289},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>fairy_zeus_2116:lasoqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{360,246},{36,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{36,35}}</string>
                <key>sourceSize</key>
                <string>{36,35}</string>
            </dict>
            <key>fairy_zeus_2116:majsdqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{143,290},{60,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{60,13}}</string>
                <key>sourceSize</key>
                <string>{60,13}</string>
            </dict>
            <key>fairy_zeus_2116:mcjaksqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{143,261},{65,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{65,27}}</string>
                <key>sourceSize</key>
                <string>{65,27}</string>
            </dict>
            <key>fairy_zeus_2116:mcjasuqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{262,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{262,259}}</string>
                <key>sourceSize</key>
                <string>{262,259}</string>
            </dict>
            <key>fairy_zeus_2116:mjvjasqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{500,123},{9,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,13}}</string>
                <key>sourceSize</key>
                <string>{9,13}</string>
            </dict>
            <key>fairy_zeus_2116:oicas9q.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{500,108},{9,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,13}}</string>
                <key>sourceSize</key>
                <string>{9,13}</string>
            </dict>
            <key>fairy_zeus_2116:qweq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{500,0},{8,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{8,85}}</string>
                <key>sourceSize</key>
                <string>{8,85}</string>
            </dict>
            <key>fairy_zeus_2116:uc7asqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{391,302},{16,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{16,15}</string>
            </dict>
            <key>fairy_zeus_2116:ucyasqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{210,261},{36,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{36,26}}</string>
                <key>sourceSize</key>
                <string>{36,26}</string>
            </dict>
            <key>fairy_zeus_2116:ucyasqwq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{435,274},{23,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,12}}</string>
                <key>sourceSize</key>
                <string>{23,12}</string>
            </dict>
            <key>fairy_zeus_2116:viausa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{435,139},{26,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,57}}</string>
                <key>sourceSize</key>
                <string>{26,57}</string>
            </dict>
            <key>fairy_zeus_2116:vjasi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{70,298},{14,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,19}}</string>
                <key>sourceSize</key>
                <string>{14,19}</string>
            </dict>
            <key>fairy_zeus_2116:vjsjiqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{463,0},{35,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,127}}</string>
                <key>sourceSize</key>
                <string>{35,127}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>fairy_zeus_2116.pvr.ccz</string>
            <key>size</key>
            <string>{512,322}</string>
            <key>textureFileName</key>
            <string>fairy_zeus_2116.pvr.ccz</string>
        </dict>
    </dict>
</plist>
