<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairy_haozhu_2034:6pqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{182,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{182,139}}</string>
                <key>sourceSize</key>
                <string>{182,139}</string>
            </dict>
            <key>fairy_haozhu_2034:6vawe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{330,0},{85,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{85,78}}</string>
                <key>sourceSize</key>
                <string>{85,78}</string>
            </dict>
            <key>fairy_haozhu_2034:6vaweq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{184,0},{144,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{144,129}}</string>
                <key>sourceSize</key>
                <string>{144,129}</string>
            </dict>
            <key>fairy_haozhu_2034:6vwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{330,80},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>fairy_haozhu_2034:acav.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{89,141},{34,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,19}}</string>
                <key>sourceSize</key>
                <string>{34,19}</string>
            </dict>
            <key>fairy_haozhu_2034:ajsuqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{168,165},{13,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,16}}</string>
                <key>sourceSize</key>
                <string>{13,16}</string>
            </dict>
            <key>fairy_haozhu_2034:caqwe41.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{345,167},{15,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,14}}</string>
                <key>sourceSize</key>
                <string>{15,14}</string>
            </dict>
            <key>fairy_haozhu_2034:casqwe31.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{45,168},{14,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,10}}</string>
                <key>sourceSize</key>
                <string>{14,10}</string>
            </dict>
            <key>fairy_haozhu_2034:casqwer.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{448,123},{11,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,19}}</string>
                <key>sourceSize</key>
                <string>{11,19}</string>
            </dict>
            <key>fairy_haozhu_2034:cdx.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{224,131},{58,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,24}}</string>
                <key>sourceSize</key>
                <string>{58,24}</string>
            </dict>
            <key>fairy_haozhu_2034:ciaus.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{150,165},{16,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,17}}</string>
                <key>sourceSize</key>
                <string>{16,17}</string>
            </dict>
            <key>fairy_haozhu_2034:dvfw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{321,137},{50,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{50,28}}</string>
                <key>sourceSize</key>
                <string>{50,28}</string>
            </dict>
            <key>fairy_haozhu_2034:hcuyaq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,141},{28,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,45}}</string>
                <key>sourceSize</key>
                <string>{28,45}</string>
            </dict>
            <key>fairy_haozhu_2034:huqywe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{150,141},{18,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,22}}</string>
                <key>sourceSize</key>
                <string>{18,22}</string>
            </dict>
            <key>fairy_haozhu_2034:iucqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{373,137},{12,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,23}}</string>
                <key>sourceSize</key>
                <string>{12,23}</string>
            </dict>
            <key>fairy_haozhu_2034:jcauqw521.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{184,131},{38,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,45}}</string>
                <key>sourceSize</key>
                <string>{38,45}</string>
            </dict>
            <key>fairy_haozhu_2034:jciauq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{387,80},{17,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,71}}</string>
                <key>sourceSize</key>
                <string>{17,71}</string>
            </dict>
            <key>fairy_haozhu_2034:jcuaq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{417,67},{42,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{42,54}}</string>
                <key>sourceSize</key>
                <string>{42,54}</string>
            </dict>
            <key>fairy_haozhu_2034:juwa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{170,141},{10,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,17}}</string>
                <key>sourceSize</key>
                <string>{10,17}</string>
            </dict>
            <key>fairy_haozhu_2034:loaskqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{224,157},{33,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,9}}</string>
                <key>sourceSize</key>
                <string>{33,9}</string>
            </dict>
            <key>fairy_haozhu_2034:mcjakq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{321,167},{22,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,9}}</string>
                <key>sourceSize</key>
                <string>{22,9}</string>
            </dict>
            <key>fairy_haozhu_2034:mjsiqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{224,168},{14,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,10}}</string>
                <key>sourceSize</key>
                <string>{14,10}</string>
            </dict>
            <key>fairy_haozhu_2034:nhxqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{284,131},{35,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,44}}</string>
                <key>sourceSize</key>
                <string>{35,44}</string>
            </dict>
            <key>fairy_haozhu_2034:qwjsuq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{387,153},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>fairy_haozhu_2034:uaisuq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{471,0},{37,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,68}}</string>
                <key>sourceSize</key>
                <string>{37,68}</string>
            </dict>
            <key>fairy_haozhu_2034:uaysq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{125,141},{23,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,30}}</string>
                <key>sourceSize</key>
                <string>{23,30}</string>
            </dict>
            <key>fairy_haozhu_2034:uciaus.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{89,162},{18,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,17}}</string>
                <key>sourceSize</key>
                <string>{18,17}</string>
            </dict>
            <key>fairy_haozhu_2034:uciausva.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{73,141},{14,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,43}}</string>
                <key>sourceSize</key>
                <string>{14,43}</string>
            </dict>
            <key>fairy_haozhu_2034:uqws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{362,167},{18,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,10}}</string>
                <key>sourceSize</key>
                <string>{18,10}</string>
            </dict>
            <key>fairy_haozhu_2034:uqywe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{109,162},{14,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,18}}</string>
                <key>sourceSize</key>
                <string>{14,18}</string>
            </dict>
            <key>fairy_haozhu_2034:uqyws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{461,120},{38,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,54}}</string>
                <key>sourceSize</key>
                <string>{38,54}</string>
            </dict>
            <key>fairy_haozhu_2034:uyqws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{417,0},{52,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{52,65}}</string>
                <key>sourceSize</key>
                <string>{52,65}</string>
            </dict>
            <key>fairy_haozhu_2034:uyqwsas.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{259,157},{18,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,21}}</string>
                <key>sourceSize</key>
                <string>{18,21}</string>
            </dict>
            <key>fairy_haozhu_2034:vasqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{461,70},{44,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{44,48}}</string>
                <key>sourceSize</key>
                <string>{44,48}</string>
            </dict>
            <key>fairy_haozhu_2034:vaswkq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{30,168},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>fairy_haozhu_2034:vfdb.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{30,141},{41,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{41,25}}</string>
                <key>sourceSize</key>
                <string>{41,25}</string>
            </dict>
            <key>fairy_haozhu_2034:vswe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{406,123},{40,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,46}}</string>
                <key>sourceSize</key>
                <string>{40,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>fairy_haozhu_2034.pvr.ccz</string>
            <key>size</key>
            <string>{510,186}</string>
            <key>textureFileName</key>
            <string>fairy_haozhu_2034.pvr.ccz</string>
        </dict>
    </dict>
</plist>
