<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairy_baihu_2088:0912.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{444,434},{35,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,17}}</string>
                <key>sourceSize</key>
                <string>{35,17}</string>
            </dict>
            <key>fairy_baihu_2088:09pa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{384,397},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>fairy_baihu_2088:1d4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{421,286},{86,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{86,93}}</string>
                <key>sourceSize</key>
                <string>{86,93}</string>
            </dict>
            <key>fairy_baihu_2088:1d5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{63,230},{93,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{93,101}}</string>
                <key>sourceSize</key>
                <string>{93,101}</string>
            </dict>
            <key>fairy_baihu_2088:1d7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{79,0},{98,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{98,108}}</string>
                <key>sourceSize</key>
                <string>{98,108}</string>
            </dict>
            <key>fairy_baihu_2088:1r1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{179,0},{98,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{98,103}}</string>
                <key>sourceSize</key>
                <string>{98,103}</string>
            </dict>
            <key>fairy_baihu_2088:1r2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{272,306},{66,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{66,60}}</string>
                <key>sourceSize</key>
                <string>{66,60}</string>
            </dict>
            <key>fairy_baihu_2088:1r3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{429,129},{80,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{80,85}}</string>
                <key>sourceSize</key>
                <string>{80,85}</string>
            </dict>
            <key>fairy_baihu_2088:87qwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{429,216},{79,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{79,68}}</string>
                <key>sourceSize</key>
                <string>{79,68}</string>
            </dict>
            <key>fairy_baihu_2088:98a2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{404,434},{38,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,25}}</string>
                <key>sourceSize</key>
                <string>{38,25}</string>
            </dict>
            <key>fairy_baihu_2088:98qws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{481,434},{27,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,22}}</string>
                <key>sourceSize</key>
                <string>{27,22}</string>
            </dict>
            <key>fairy_baihu_2088:98qws1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{159,137},{17,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,19}}</string>
                <key>sourceSize</key>
                <string>{17,19}</string>
            </dict>
            <key>fairy_baihu_2088:98qws6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{63,133},{11,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,22}}</string>
                <key>sourceSize</key>
                <string>{11,22}</string>
            </dict>
            <key>fairy_baihu_2088:98qwsq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{345,431},{34,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,24}}</string>
                <key>sourceSize</key>
                <string>{34,24}</string>
            </dict>
            <key>fairy_baihu_2088:9ias.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{406,381},{91,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{91,51}}</string>
                <key>sourceSize</key>
                <string>{91,51}</string>
            </dict>
            <key>fairy_baihu_2088:casq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,341},{45,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,37}}</string>
                <key>sourceSize</key>
                <string>{45,37}</string>
            </dict>
            <key>fairy_baihu_2088:cqw71.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{159,158},{16,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,19}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
            <key>fairy_baihu_2088:ger34ef.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{77,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{77,131}}</string>
                <key>sourceSize</key>
                <string>{77,131}</string>
            </dict>
            <key>fairy_baihu_2088:i812.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{384,418},{19,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,13}}</string>
                <key>sourceSize</key>
                <string>{19,13}</string>
            </dict>
            <key>fairy_baihu_2088:i98qw0.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{209,437},{21,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,24}}</string>
                <key>sourceSize</key>
                <string>{21,24}</string>
            </dict>
            <key>fairy_baihu_2088:ijsa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{132,437},{22,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,27}}</string>
                <key>sourceSize</key>
                <string>{22,27}</string>
            </dict>
            <key>fairy_baihu_2088:ikqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,297},{47,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{47,42}}</string>
                <key>sourceSize</key>
                <string>{47,42}</string>
            </dict>
            <key>fairy_baihu_2088:iop23.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{148,378},{86,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{86,57}}</string>
                <key>sourceSize</key>
                <string>{86,57}</string>
            </dict>
            <key>fairy_baihu_2088:iquws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{256,368},{64,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{64,24}}</string>
                <key>sourceSize</key>
                <string>{64,24}</string>
            </dict>
            <key>fairy_baihu_2088:iuva.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{345,397},{37,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,32}}</string>
                <key>sourceSize</key>
                <string>{37,32}</string>
            </dict>
            <key>fairy_baihu_2088:jaus90.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{321,397},{22,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,50}}</string>
                <key>sourceSize</key>
                <string>{22,50}</string>
            </dict>
            <key>fairy_baihu_2088:jhcaysqwv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{436,0},{71,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{71,127}}</string>
                <key>sourceSize</key>
                <string>{71,127}</string>
            </dict>
            <key>fairy_baihu_2088:juqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{259,145},{11,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,19}}</string>
                <key>sourceSize</key>
                <string>{11,19}</string>
            </dict>
            <key>fairy_baihu_2088:juqws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{272,247},{74,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{74,57}}</string>
                <key>sourceSize</key>
                <string>{74,57}</string>
            </dict>
            <key>fairy_baihu_2088:juqws43.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{340,317},{62,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{62,42}}</string>
                <key>sourceSize</key>
                <string>{62,42}</string>
            </dict>
            <key>fairy_baihu_2088:jy567.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{358,0},{76,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{76,124}}</string>
                <key>sourceSize</key>
                <string>{76,124}</string>
            </dict>
            <key>fairy_baihu_2088:kcijas.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{352,246},{67,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{67,69}}</string>
                <key>sourceSize</key>
                <string>{67,69}</string>
            </dict>
            <key>fairy_baihu_2088:kiq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,133},{61,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{61,101}}</string>
                <key>sourceSize</key>
                <string>{61,101}</string>
            </dict>
            <key>fairy_baihu_2088:kiqws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{381,433},{21,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,29}}</string>
                <key>sourceSize</key>
                <string>{21,29}</string>
            </dict>
            <key>fairy_baihu_2088:mkajs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{159,227},{111,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{111,85}}</string>
                <key>sourceSize</key>
                <string>{111,85}</string>
            </dict>
            <key>fairy_baihu_2088:njvhasa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,421},{25,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,43}}</string>
                <key>sourceSize</key>
                <string>{25,43}</string>
            </dict>
            <key>fairy_baihu_2088:pop05.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{158,314},{96,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{96,62}}</string>
                <key>sourceSize</key>
                <string>{96,62}</string>
            </dict>
            <key>fairy_baihu_2088:qejusq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{180,437},{27,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,19}}</string>
                <key>sourceSize</key>
                <string>{27,19}</string>
            </dict>
            <key>fairy_baihu_2088:qw123.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{49,333},{97,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{97,50}}</string>
                <key>sourceSize</key>
                <string>{97,50}</string>
            </dict>
            <key>fairy_baihu_2088:qwa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,380},{43,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,39}}</string>
                <key>sourceSize</key>
                <string>{43,39}</string>
            </dict>
            <key>fairy_baihu_2088:qws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{259,105},{13,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,38}}</string>
                <key>sourceSize</key>
                <string>{13,38}</string>
            </dict>
            <key>fairy_baihu_2088:qwsq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{159,110},{18,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,25}}</string>
                <key>sourceSize</key>
                <string>{18,25}</string>
            </dict>
            <key>fairy_baihu_2088:qwsq4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{261,423},{29,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,30}}</string>
                <key>sourceSize</key>
                <string>{29,30}</string>
            </dict>
            <key>fairy_baihu_2088:qwuisa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{340,361},{64,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{64,34}}</string>
                <key>sourceSize</key>
                <string>{64,34}</string>
            </dict>
            <key>fairy_baihu_2088:u8qas.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{261,457},{113,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{113,48}}</string>
                <key>sourceSize</key>
                <string>{113,48}</string>
            </dict>
            <key>fairy_baihu_2088:u8wq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{27,438},{22,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,21}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>fairy_baihu_2088:uiq8w.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{236,423},{23,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,44}}</string>
                <key>sourceSize</key>
                <string>{23,44}</string>
            </dict>
            <key>fairy_baihu_2088:uqiwu.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{236,394},{57,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{57,27}}</string>
                <key>sourceSize</key>
                <string>{57,27}</string>
            </dict>
            <key>fairy_baihu_2088:uquws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,236},{51,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{51,59}}</string>
                <key>sourceSize</key>
                <string>{51,59}</string>
            </dict>
            <key>fairy_baihu_2088:uqwi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{63,157},{10,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,11}}</string>
                <key>sourceSize</key>
                <string>{10,11}</string>
            </dict>
            <key>fairy_baihu_2088:uqws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{295,394},{24,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,48}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>fairy_baihu_2088:uqwsa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{45,385},{85,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{85,51}}</string>
                <key>sourceSize</key>
                <string>{85,51}</string>
            </dict>
            <key>fairy_baihu_2088:uyqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{156,437},{22,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,25}}</string>
                <key>sourceSize</key>
                <string>{22,25}</string>
            </dict>
            <key>fairy_baihu_2088:vasbsdwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{352,126},{75,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{75,118}}</string>
                <key>sourceSize</key>
                <string>{75,118}</string>
            </dict>
            <key>fairy_baihu_2088:vasqwhyt.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{274,125},{76,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{76,120}}</string>
                <key>sourceSize</key>
                <string>{76,120}</string>
            </dict>
            <key>fairy_baihu_2088:vbwerw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{179,105},{78,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{78,120}}</string>
                <key>sourceSize</key>
                <string>{78,120}</string>
            </dict>
            <key>fairy_baihu_2088:vdfbwetw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{279,0},{77,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{77,123}}</string>
                <key>sourceSize</key>
                <string>{77,123}</string>
            </dict>
            <key>fairy_baihu_2088:vsdbwetw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{79,110},{78,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{78,118}}</string>
                <key>sourceSize</key>
                <string>{78,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>fairy_baihu_2088.pvr.ccz</string>
            <key>size</key>
            <string>{510,505}</string>
            <key>textureFileName</key>
            <string>fairy_baihu_2088.pvr.ccz</string>
        </dict>
    </dict>
</plist>
