<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairy_gangtiexia_2078:f1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{168,126},{133,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{133,122}}</string>
                <key>sourceSize</key>
                <string>{133,122}</string>
            </dict>
            <key>fairy_gangtiexia_2078:f3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{303,134},{127,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{127,128}}</string>
                <key>sourceSize</key>
                <string>{127,128}</string>
            </dict>
            <key>fairy_gangtiexia_2078:f5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,162},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>fairy_gangtiexia_2078:jianbang2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{470,225},{30,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,22}}</string>
                <key>sourceSize</key>
                <string>{30,22}</string>
            </dict>
            <key>fairy_gangtiexia_2078:jiangbang.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{472,201},{36,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{36,22}}</string>
                <key>sourceSize</key>
                <string>{36,22}</string>
            </dict>
            <key>fairy_gangtiexia_2078:jiao1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{478,70},{30,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,46}}</string>
                <key>sourceSize</key>
                <string>{30,46}</string>
            </dict>
            <key>fairy_gangtiexia_2078:jiao2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{483,0},{26,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,39}}</string>
                <key>sourceSize</key>
                <string>{26,39}</string>
            </dict>
            <key>fairy_gangtiexia_2078:jiao3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{478,118},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>fairy_gangtiexia_2078:kudang1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{432,251},{17,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,14}}</string>
                <key>sourceSize</key>
                <string>{17,14}</string>
            </dict>
            <key>fairy_gangtiexia_2078:kudang2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{156,181},{7,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,12}}</string>
                <key>sourceSize</key>
                <string>{7,12}</string>
            </dict>
            <key>fairy_gangtiexia_2078:q1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{168,0},{138,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{138,124}}</string>
                <key>sourceSize</key>
                <string>{138,124}</string>
            </dict>
            <key>fairy_gangtiexia_2078:q2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{168,250},{98,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{98,90}}</string>
                <key>sourceSize</key>
                <string>{98,90}</string>
            </dict>
            <key>fairy_gangtiexia_2078:q3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{308,0},{124,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{124,132}}</string>
                <key>sourceSize</key>
                <string>{124,132}</string>
            </dict>
            <key>fairy_gangtiexia_2078:q4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{166,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{166,160}}</string>
                <key>sourceSize</key>
                <string>{166,160}</string>
            </dict>
            <key>fairy_gangtiexia_2078:shenti1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{483,41},{26,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,27}}</string>
                <key>sourceSize</key>
                <string>{26,27}</string>
            </dict>
            <key>fairy_gangtiexia_2078:shenti7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{432,218},{22,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,31}}</string>
                <key>sourceSize</key>
                <string>{22,31}</string>
            </dict>
            <key>fairy_gangtiexia_2078:shou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{432,187},{38,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,29}}</string>
                <key>sourceSize</key>
                <string>{38,29}</string>
            </dict>
            <key>fairy_gangtiexia_2078:shou4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{470,249},{25,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,19}}</string>
                <key>sourceSize</key>
                <string>{25,19}</string>
            </dict>
            <key>fairy_gangtiexia_2078:shou4 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{126,232},{25,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,19}}</string>
                <key>sourceSize</key>
                <string>{25,19}</string>
            </dict>
            <key>fairy_gangtiexia_2078:shou5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{126,204},{31,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,26}}</string>
                <key>sourceSize</key>
                <string>{31,26}</string>
            </dict>
            <key>fairy_gangtiexia_2078:shoubi4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{268,250},{22,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,20}}</string>
                <key>sourceSize</key>
                <string>{22,20}</string>
            </dict>
            <key>fairy_gangtiexia_2078:shoubi6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{456,218},{12,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,21}}</string>
                <key>sourceSize</key>
                <string>{12,21}</string>
            </dict>
            <key>fairy_gangtiexia_2078:tou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{478,164},{30,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,35}}</string>
                <key>sourceSize</key>
                <string>{30,35}</string>
            </dict>
            <key>fairy_gangtiexia_2078:tou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{126,162},{28,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,40}}</string>
                <key>sourceSize</key>
                <string>{28,40}</string>
            </dict>
            <key>fairy_gangtiexia_2078:tui1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{497,249},{13,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,16}}</string>
                <key>sourceSize</key>
                <string>{13,16}</string>
            </dict>
            <key>fairy_gangtiexia_2078:tui2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{156,162},{10,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,17}}</string>
                <key>sourceSize</key>
                <string>{10,17}</string>
            </dict>
            <key>fairy_gangtiexia_2078:tui3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{153,232},{13,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,17}}</string>
                <key>sourceSize</key>
                <string>{13,17}</string>
            </dict>
            <key>fairy_gangtiexia_2078:tui4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{456,241},{12,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,17}}</string>
                <key>sourceSize</key>
                <string>{12,17}</string>
            </dict>
            <key>fairy_gangtiexia_2078:v1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{434,61},{42,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{42,63}}</string>
                <key>sourceSize</key>
                <string>{42,63}</string>
            </dict>
            <key>fairy_gangtiexia_2078:v2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{434,0},{47,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{47,59}</string>
            </dict>
            <key>fairy_gangtiexia_2078:v3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{434,126},{42,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{42,59}}</string>
                <key>sourceSize</key>
                <string>{42,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>fairy_gangtiexia_2078.pvr.ccz</string>
            <key>size</key>
            <string>{510,345}</string>
            <key>textureFileName</key>
            <string>fairy_gangtiexia_2078.pvr.ccz</string>
        </dict>
    </dict>
</plist>
