<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairy_shijiu_2077:casvwq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,165},{69,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{69,36}}</string>
                <key>sourceSize</key>
                <string>{69,36}</string>
            </dict>
            <key>fairy_shijiu_2077:jiao11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{220,191},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
            <key>fairy_shijiu_2077:jiao6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{168,205},{16,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,17}}</string>
                <key>sourceSize</key>
                <string>{16,17}</string>
            </dict>
            <key>fairy_shijiu_2077:l3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{131,114},{87,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{87,89}}</string>
                <key>sourceSize</key>
                <string>{87,89}</string>
            </dict>
            <key>fairy_shijiu_2077:l4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{131,0},{114,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{114,112}}</string>
                <key>sourceSize</key>
                <string>{114,112}</string>
            </dict>
            <key>fairy_shijiu_2077:l6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{129,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{129,128}}</string>
                <key>sourceSize</key>
                <string>{129,128}</string>
            </dict>
            <key>fairy_shijiu_2077:qwcwe4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,130},{97,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{97,33}}</string>
                <key>sourceSize</key>
                <string>{97,33}</string>
            </dict>
            <key>fairy_shijiu_2077:shenti1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{71,165},{26,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,21}}</string>
                <key>sourceSize</key>
                <string>{26,21}</string>
            </dict>
            <key>fairy_shijiu_2077:shenti4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,203},{44,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{44,24}}</string>
                <key>sourceSize</key>
                <string>{44,24}</string>
            </dict>
            <key>fairy_shijiu_2077:shou12.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{117,194},{11,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,12}}</string>
                <key>sourceSize</key>
                <string>{11,12}</string>
            </dict>
            <key>fairy_shijiu_2077:shou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{46,203},{17,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,21}}</string>
                <key>sourceSize</key>
                <string>{17,21}</string>
            </dict>
            <key>fairy_shijiu_2077:shou3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{99,168},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
            <key>fairy_shijiu_2077:shou6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{117,208},{8,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{8,13}}</string>
                <key>sourceSize</key>
                <string>{8,13}</string>
            </dict>
            <key>fairy_shijiu_2077:shoubi1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{130,205},{17,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,20}}</string>
                <key>sourceSize</key>
                <string>{17,20}</string>
            </dict>
            <key>fairy_shijiu_2077:shoubi3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{149,205},{17,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,18}}</string>
                <key>sourceSize</key>
                <string>{17,18}</string>
            </dict>
            <key>fairy_shijiu_2077:shouib2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{242,191},{9,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,17}}</string>
                <key>sourceSize</key>
                <string>{9,17}</string>
            </dict>
            <key>fairy_shijiu_2077:tou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{220,114},{31,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,44}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
            <key>fairy_shijiu_2077:tou3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{99,130},{27,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,36}}</string>
                <key>sourceSize</key>
                <string>{27,36}</string>
            </dict>
            <key>fairy_shijiu_2077:tui11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{96,194},{19,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,21}}</string>
                <key>sourceSize</key>
                <string>{19,21}</string>
            </dict>
            <key>fairy_shijiu_2077:tui5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{204,205},{13,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,18}}</string>
                <key>sourceSize</key>
                <string>{13,18}</string>
            </dict>
            <key>fairy_shijiu_2077:tui7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{186,205},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>fairy_shijiu_2077:tui9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{242,210},{8,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{8,11}}</string>
                <key>sourceSize</key>
                <string>{8,11}</string>
            </dict>
            <key>fairy_shijiu_2077:weiba1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{220,160},{30,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,29}}</string>
                <key>sourceSize</key>
                <string>{30,29}</string>
            </dict>
            <key>fairy_shijiu_2077:xiong1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{71,188},{23,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,21}}</string>
                <key>sourceSize</key>
                <string>{23,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>fairy_shijiu_2077.pvr.ccz</string>
            <key>size</key>
            <string>{252,227}</string>
            <key>textureFileName</key>
            <string>fairy_shijiu_2077.pvr.ccz</string>
        </dict>
    </dict>
</plist>
