<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairy_xiaohuangfeng_2003:caseqwwes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{455,0},{55,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,53}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>fairy_xiaohuangfeng_2003:casqrq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{117,0},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>fairy_xiaohuangfeng_2003:casqwa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{455,55},{33,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,48}}</string>
                <key>sourceSize</key>
                <string>{33,48}</string>
            </dict>
            <key>fairy_xiaohuangfeng_2003:casqwe5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{345,107},{91,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{91,77}}</string>
                <key>sourceSize</key>
                <string>{91,77}</string>
            </dict>
            <key>fairy_xiaohuangfeng_2003:casvwq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{104,114},{65,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{65,36}}</string>
                <key>sourceSize</key>
                <string>{65,36}</string>
            </dict>
            <key>fairy_xiaohuangfeng_2003:casw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{438,135},{42,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{42,28}}</string>
                <key>sourceSize</key>
                <string>{42,28}</string>
            </dict>
            <key>fairy_xiaohuangfeng_2003:casweq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{470,109},{39,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,24}}</string>
                <key>sourceSize</key>
                <string>{39,24}</string>
            </dict>
            <key>fairy_xiaohuangfeng_2003:caswq2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{455,105},{13,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,25}}</string>
                <key>sourceSize</key>
                <string>{13,25}</string>
            </dict>
            <key>fairy_xiaohuangfeng_2003:mnhgj.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{115,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{115,110}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>fairy_xiaohuangfeng_2003:pof.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{231,0},{114,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{114,102}}</string>
                <key>sourceSize</key>
                <string>{114,102}</string>
            </dict>
            <key>fairy_xiaohuangfeng_2003:qwcwe4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,112},{102,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{102,32}}</string>
                <key>sourceSize</key>
                <string>{102,32}</string>
            </dict>
            <key>fairy_xiaohuangfeng_2003:vac0.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{490,55},{20,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,52}}</string>
                <key>sourceSize</key>
                <string>{20,52}</string>
            </dict>
            <key>fairy_xiaohuangfeng_2003:vasq23.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{171,114},{45,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,32}}</string>
                <key>sourceSize</key>
                <string>{45,32}</string>
            </dict>
            <key>fairy_xiaohuangfeng_2003:vasqrq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{231,104},{112,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{112,95}}</string>
                <key>sourceSize</key>
                <string>{112,95}</string>
            </dict>
            <key>fairy_xiaohuangfeng_2003:vsdf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{347,0},{106,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{106,105}}</string>
                <key>sourceSize</key>
                <string>{106,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>fairy_xiaohuangfeng_2003.pvr.ccz</string>
            <key>size</key>
            <string>{511,201}</string>
            <key>textureFileName</key>
            <string>fairy_xiaohuangfeng_2003.pvr.ccz</string>
        </dict>
    </dict>
</plist>
