<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairy_fo_2114:bozi1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{494,172},{15,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,17}}</string>
                <key>sourceSize</key>
                <string>{15,17}</string>
            </dict>
            <key>fairy_fo_2114:bvbcceqeq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{203,240},{42,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{42,75}}</string>
                <key>sourceSize</key>
                <string>{42,75}</string>
            </dict>
            <key>fairy_fo_2114:bvnbvnv 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{245,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{245,238}}</string>
                <key>sourceSize</key>
                <string>{245,238}</string>
            </dict>
            <key>fairy_fo_2114:dizuo.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,240},{110,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{110,61}}</string>
                <key>sourceSize</key>
                <string>{110,61}</string>
            </dict>
            <key>fairy_fo_2114:kuzi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{247,301},{77,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{77,29}}</string>
                <key>sourceSize</key>
                <string>{77,29}</string>
            </dict>
            <key>fairy_fo_2114:q2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{389,220},{98,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{98,90}}</string>
                <key>sourceSize</key>
                <string>{98,90}</string>
            </dict>
            <key>fairy_fo_2114:q3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{247,162},{140,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{140,137}}</string>
                <key>sourceSize</key>
                <string>{140,137}</string>
            </dict>
            <key>fairy_fo_2114:q4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{247,0},{166,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{166,160}}</string>
                <key>sourceSize</key>
                <string>{166,160}</string>
            </dict>
            <key>fairy_fo_2114:shenti2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{112,295},{57,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{57,58}}</string>
                <key>sourceSize</key>
                <string>{57,58}</string>
            </dict>
            <key>fairy_fo_2114:shenti3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{415,142},{77,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{77,76}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>fairy_fo_2114:shou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{32,303},{38,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,19}}</string>
                <key>sourceSize</key>
                <string>{38,19}</string>
            </dict>
            <key>fairy_fo_2114:shou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{494,142},{15,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,28}}</string>
                <key>sourceSize</key>
                <string>{15,28}</string>
            </dict>
            <key>fairy_fo_2114:tou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{171,295},{27,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,41}}</string>
                <key>sourceSize</key>
                <string>{27,41}</string>
            </dict>
            <key>fairy_fo_2114:tou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{389,162},{20,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,40}}</string>
                <key>sourceSize</key>
                <string>{20,40}</string>
            </dict>
            <key>fairy_fo_2114:yifu1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{326,301},{33,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,52}}</string>
                <key>sourceSize</key>
                <string>{33,52}</string>
            </dict>
            <key>fairy_fo_2114:zhaungshi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,303},{30,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,35}}</string>
                <key>sourceSize</key>
                <string>{30,35}</string>
            </dict>
            <key>fairy_fo_2114:zhaungshi2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{415,0},{92,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{92,140}}</string>
                <key>sourceSize</key>
                <string>{92,140}</string>
            </dict>
            <key>fairy_fo_2114:zhuangshi1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{112,240},{89,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{89,53}}</string>
                <key>sourceSize</key>
                <string>{89,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>fairy_fo_2114.pvr.ccz</string>
            <key>size</key>
            <string>{510,353}</string>
            <key>textureFileName</key>
            <string>fairy_fo_2114.pvr.ccz</string>
        </dict>
    </dict>
</plist>
