<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairy_xianrenzhang_2038:123ca.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{158,203},{36,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{36,58}}</string>
                <key>sourceSize</key>
                <string>{36,58}</string>
            </dict>
            <key>fairy_xianrenzhang_2038:123gy.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,200},{46,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,50}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>fairy_xianrenzhang_2038:23fe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,89},{70,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,53}}</string>
                <key>sourceSize</key>
                <string>{70,53}</string>
            </dict>
            <key>fairy_xianrenzhang_2038:7qwefa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{201,178},{27,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,12}}</string>
                <key>sourceSize</key>
                <string>{27,12}</string>
            </dict>
            <key>fairy_xianrenzhang_2038:ajsuqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{48,161},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,30}</string>
            </dict>
            <key>fairy_xianrenzhang_2038:hasq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{216,131},{12,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,17}}</string>
                <key>sourceSize</key>
                <string>{12,17}</string>
            </dict>
            <key>fairy_xianrenzhang_2038:icuasq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{72,89},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{18,20}</string>
            </dict>
            <key>fairy_xianrenzhang_2038:ip7y.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,144},{46,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,54}}</string>
                <key>sourceSize</key>
                <string>{46,54}</string>
            </dict>
            <key>fairy_xianrenzhang_2038:iquws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{122,172},{34,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,30}}</string>
                <key>sourceSize</key>
                <string>{34,30}</string>
            </dict>
            <key>fairy_xianrenzhang_2038:iuqws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{82,139},{38,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,70}}</string>
                <key>sourceSize</key>
                <string>{38,70}</string>
            </dict>
            <key>fairy_xianrenzhang_2038:jasudq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{237,30},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,24}}</string>
                <key>sourceSize</key>
                <string>{14,24}</string>
            </dict>
            <key>fairy_xianrenzhang_2038:jchasq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{165,0},{70,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,87}}</string>
                <key>sourceSize</key>
                <string>{70,87}</string>
            </dict>
            <key>fairy_xianrenzhang_2038:jhasuq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{216,111},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>fairy_xianrenzhang_2038:jhasuqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{201,150},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>fairy_xianrenzhang_2038:jiausd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{230,127},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{20,21}</string>
            </dict>
            <key>fairy_xianrenzhang_2038:jiqwus.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{72,111},{10,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,21}}</string>
                <key>sourceSize</key>
                <string>{10,21}</string>
            </dict>
            <key>fairy_xianrenzhang_2038:judqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{93,0},{70,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,87}}</string>
                <key>sourceSize</key>
                <string>{70,87}</string>
            </dict>
            <key>fairy_xianrenzhang_2038:juqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{48,144},{10,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,15}}</string>
                <key>sourceSize</key>
                <string>{10,15}</string>
            </dict>
            <key>fairy_xianrenzhang_2038:juqwes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{236,103},{10,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,22}}</string>
                <key>sourceSize</key>
                <string>{10,22}</string>
            </dict>
            <key>fairy_xianrenzhang_2038:kilq21.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{96,211},{41,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{41,50}}</string>
                <key>sourceSize</key>
                <string>{41,50}</string>
            </dict>
            <key>fairy_xianrenzhang_2038:mkvs34.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{48,211},{46,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,50}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>fairy_xianrenzhang_2038:mncaq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{230,167},{23,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,14}}</string>
                <key>sourceSize</key>
                <string>{23,14}</string>
            </dict>
            <key>fairy_xianrenzhang_2038:nnjfq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{230,150},{23,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,15}}</string>
                <key>sourceSize</key>
                <string>{23,15}</string>
            </dict>
            <key>fairy_xianrenzhang_2038:siqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{48,193},{29,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,16}}</string>
                <key>sourceSize</key>
                <string>{29,16}</string>
            </dict>
            <key>fairy_xianrenzhang_2038:u8qws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{237,81},{12,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,20}}</string>
                <key>sourceSize</key>
                <string>{12,20}</string>
            </dict>
            <key>fairy_xianrenzhang_2038:udiqwuis.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{91,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{91,87}}</string>
                <key>sourceSize</key>
                <string>{91,87}</string>
            </dict>
            <key>fairy_xianrenzhang_2038:uqiwes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{201,192},{40,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,57}}</string>
                <key>sourceSize</key>
                <string>{40,57}</string>
            </dict>
            <key>fairy_xianrenzhang_2038:uqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{237,56},{14,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,23}}</string>
                <key>sourceSize</key>
                <string>{14,23}</string>
            </dict>
            <key>fairy_xianrenzhang_2038:uqwes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{237,0},{12,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,28}</string>
            </dict>
            <key>fairy_xianrenzhang_2038:uqwsla.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{216,89},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{18,20}</string>
            </dict>
            <key>fairy_xianrenzhang_2038:uqywes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{122,139},{34,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,31}}</string>
                <key>sourceSize</key>
                <string>{34,31}</string>
            </dict>
            <key>fairy_xianrenzhang_2038:uqywev.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{72,134},{8,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{8,18}}</string>
                <key>sourceSize</key>
                <string>{8,18}</string>
            </dict>
            <key>fairy_xianrenzhang_2038:vaqw4q.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{158,144},{41,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{41,57}}</string>
                <key>sourceSize</key>
                <string>{41,57}</string>
            </dict>
            <key>fairy_xianrenzhang_2038:vaqw5q.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{196,251},{38,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,52}}</string>
                <key>sourceSize</key>
                <string>{38,52}</string>
            </dict>
            <key>fairy_xianrenzhang_2038:vaw23.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{158,89},{56,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{56,53}}</string>
                <key>sourceSize</key>
                <string>{56,53}</string>
            </dict>
            <key>fairy_xianrenzhang_2038:vawe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{92,89},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>fairy_xianrenzhang_2038.pvr.ccz</string>
            <key>size</key>
            <string>{253,305}</string>
            <key>textureFileName</key>
            <string>fairy_xianrenzhang_2038.pvr.ccz</string>
        </dict>
    </dict>
</plist>
