<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairy_hudie_2028:Bshent.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{233,69},{20,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,16}}</string>
                <key>sourceSize</key>
                <string>{20,16}</string>
            </dict>
            <key>fairy_hudie_2028:F cib2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{151,85},{15,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,10}}</string>
                <key>sourceSize</key>
                <string>{15,10}</string>
            </dict>
            <key>fairy_hudie_2028:F qu.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{247,6},{5,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{5,6}}</string>
                <key>sourceSize</key>
                <string>{5,6}</string>
            </dict>
            <key>fairy_hudie_2028:F tous.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{151,63},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>fairy_hudie_2028:Fcib.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{60,69},{15,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,25}}</string>
                <key>sourceSize</key>
                <string>{15,25}</string>
            </dict>
            <key>fairy_hudie_2028:Fcux.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{247,0},{7,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,4}}</string>
                <key>sourceSize</key>
                <string>{7,4}</string>
            </dict>
            <key>fairy_hudie_2028:bae.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{91,0},{81,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{81,61}}</string>
                <key>sourceSize</key>
                <string>{81,61}</string>
            </dict>
            <key>fairy_hudie_2028:base.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{89,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{89,67}}</string>
                <key>sourceSize</key>
                <string>{89,67}</string>
            </dict>
            <key>fairy_hudie_2028:kcsj.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{173,69},{58,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,63}}</string>
                <key>sourceSize</key>
                <string>{58,63}</string>
            </dict>
            <key>fairy_hudie_2028:kosd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,69},{58,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,63}}</string>
                <key>sourceSize</key>
                <string>{58,63}</string>
            </dict>
            <key>fairy_hudie_2028:nsd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{91,63},{58,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,69}}</string>
                <key>sourceSize</key>
                <string>{58,69}</string>
            </dict>
            <key>fairy_hudie_2028:qwer.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{174,0},{71,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{71,67}}</string>
                <key>sourceSize</key>
                <string>{71,67}</string>
            </dict>
            <key>fairy_hudie_2028:vdgff.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,134},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>fairy_hudie_2028.pvr.ccz</string>
            <key>size</key>
            <string>{256,190}</string>
            <key>textureFileName</key>
            <string>fairy_hudie_2028.pvr.ccz</string>
        </dict>
    </dict>
</plist>
