<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairy_feima_2070:bnvbnv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{253,0},{117,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>fairy_feima_2070:casvwq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{355,205},{67,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{67,43}}</string>
                <key>sourceSize</key>
                <string>{67,43}</string>
            </dict>
            <key>fairy_feima_2070:l1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{482,140},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>fairy_feima_2070:l2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{131,120},{64,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{64,70}}</string>
                <key>sourceSize</key>
                <string>{64,70}</string>
            </dict>
            <key>fairy_feima_2070:l3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{372,114},{87,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{87,89}}</string>
                <key>sourceSize</key>
                <string>{87,89}</string>
            </dict>
            <key>fairy_feima_2070:l4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{372,0},{114,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{114,112}}</string>
                <key>sourceSize</key>
                <string>{114,112}</string>
            </dict>
            <key>fairy_feima_2070:l6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{129,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{129,128}}</string>
                <key>sourceSize</key>
                <string>{129,128}</string>
            </dict>
            <key>fairy_feima_2070:l8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{131,0},{120,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{120,118}}</string>
                <key>sourceSize</key>
                <string>{120,118}</string>
            </dict>
            <key>fairy_feima_2070:qwcwe4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{253,119},{102,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{102,32}}</string>
                <key>sourceSize</key>
                <string>{102,32}</string>
            </dict>
            <key>fairy_feima_2070:s2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{64,195},{57,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{57,61}}</string>
                <key>sourceSize</key>
                <string>{57,61}</string>
            </dict>
            <key>fairy_feima_2070:s3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{127,192},{58,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,61}}</string>
                <key>sourceSize</key>
                <string>{58,61}</string>
            </dict>
            <key>fairy_feima_2070:s4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{294,153},{59,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{59,61}}</string>
                <key>sourceSize</key>
                <string>{59,61}</string>
            </dict>
            <key>fairy_feima_2070:s5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{232,153},{60,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{60,62}}</string>
                <key>sourceSize</key>
                <string>{60,62}</string>
            </dict>
            <key>fairy_feima_2070:s6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{64,130},{61,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{61,63}}</string>
                <key>sourceSize</key>
                <string>{61,63}</string>
            </dict>
            <key>fairy_feima_2070:s7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,130},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{62,64}</string>
            </dict>
            <key>fairy_feima_2070:shenti1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{461,168},{44,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{44,33}}</string>
                <key>sourceSize</key>
                <string>{44,33}</string>
            </dict>
            <key>fairy_feima_2070:shenti2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,196},{44,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{44,32}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>fairy_feima_2070:tou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{197,120},{33,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,55}}</string>
                <key>sourceSize</key>
                <string>{33,55}</string>
            </dict>
            <key>fairy_feima_2070:tou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{197,177},{31,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,41}}</string>
                <key>sourceSize</key>
                <string>{31,41}</string>
            </dict>
            <key>fairy_feima_2070:tui1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{488,38},{17,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,33}}</string>
                <key>sourceSize</key>
                <string>{17,33}</string>
            </dict>
            <key>fairy_feima_2070:tui2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{461,114},{19,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,26}}</string>
                <key>sourceSize</key>
                <string>{19,26}</string>
            </dict>
            <key>fairy_feima_2070:tui3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{488,0},{15,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,36}}</string>
                <key>sourceSize</key>
                <string>{15,36}</string>
            </dict>
            <key>fairy_feima_2070:tui4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{461,142},{15,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,21}}</string>
                <key>sourceSize</key>
                <string>{15,21}</string>
            </dict>
            <key>fairy_feima_2070:tui5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{488,73},{17,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,32}}</string>
                <key>sourceSize</key>
                <string>{17,32}</string>
            </dict>
            <key>fairy_feima_2070:tui6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{232,120},{15,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,26}}</string>
                <key>sourceSize</key>
                <string>{15,26}</string>
            </dict>
            <key>fairy_feima_2070:tui7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{357,119},{13,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,28}}</string>
                <key>sourceSize</key>
                <string>{13,28}</string>
            </dict>
            <key>fairy_feima_2070:tui8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{488,107},{17,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,31}}</string>
                <key>sourceSize</key>
                <string>{17,31}</string>
            </dict>
            <key>fairy_feima_2070:weiba1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{461,203},{39,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,25}}</string>
                <key>sourceSize</key>
                <string>{39,25}</string>
            </dict>
            <key>fairy_feima_2070:weiba2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{424,205},{32,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,31}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>fairy_feima_2070.pvr.ccz</string>
            <key>size</key>
            <string>{508,256}</string>
            <key>textureFileName</key>
            <string>fairy_feima_2070.pvr.ccz</string>
        </dict>
    </dict>
</plist>
