<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairy_yanqiu_2033:s1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{103,15},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>fairy_yanqiu_2033:s2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{89,30},{14,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,11}}</string>
                <key>sourceSize</key>
                <string>{14,11}</string>
            </dict>
            <key>fairy_yanqiu_2033:s3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{105,30},{13,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,11}}</string>
                <key>sourceSize</key>
                <string>{13,11}</string>
            </dict>
            <key>fairy_yanqiu_2033:s4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{77,43},{13,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,10}}</string>
                <key>sourceSize</key>
                <string>{13,10}</string>
            </dict>
            <key>fairy_yanqiu_2033:s6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{89,0},{12,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,15}}</string>
                <key>sourceSize</key>
                <string>{12,15}</string>
            </dict>
            <key>fairy_yanqiu_2033:s7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{103,0},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>fairy_yanqiu_2033:s8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{45,43},{14,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,9}}</string>
                <key>sourceSize</key>
                <string>{14,9}</string>
            </dict>
            <key>fairy_yanqiu_2033:s9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{61,43},{14,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,9}}</string>
                <key>sourceSize</key>
                <string>{14,9}</string>
            </dict>
            <key>fairy_yanqiu_2033:yanqiu shen1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>fairy_yanqiu_2033:yanqiu shen2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{45,0},{42,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{42,41}}</string>
                <key>sourceSize</key>
                <string>{42,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>fairy_yanqiu_2033.pvr.ccz</string>
            <key>size</key>
            <string>{118,53}</string>
            <key>textureFileName</key>
            <string>fairy_yanqiu_2033.pvr.ccz</string>
        </dict>
    </dict>
</plist>
