<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairy_huangfeng_2029:Fjing.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{49,42},{13,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,10}}</string>
                <key>sourceSize</key>
                <string>{13,10}</string>
            </dict>
            <key>fairy_huangfeng_2029:Fshen.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,45},{14,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,19}}</string>
                <key>sourceSize</key>
                <string>{14,19}</string>
            </dict>
            <key>fairy_huangfeng_2029:Ftou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,25},{30,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,18}}</string>
                <key>sourceSize</key>
                <string>{30,18}</string>
            </dict>
            <key>fairy_huangfeng_2029:bnm.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{58,0},{4,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{4,6}}</string>
                <key>sourceSize</key>
                <string>{4,6}</string>
            </dict>
            <key>fairy_huangfeng_2029:casjdkf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{30,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,23}}</string>
                <key>sourceSize</key>
                <string>{30,23}</string>
            </dict>
            <key>fairy_huangfeng_2029:cibang.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,75},{32,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,18}}</string>
                <key>sourceSize</key>
                <string>{32,18}</string>
            </dict>
            <key>fairy_huangfeng_2029:csjadq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{32,27},{25,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,13}}</string>
                <key>sourceSize</key>
                <string>{25,13}</string>
            </dict>
            <key>fairy_huangfeng_2029:duci.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{24,62},{15,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,11}}</string>
                <key>sourceSize</key>
                <string>{15,11}</string>
            </dict>
            <key>fairy_huangfeng_2029:houzi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{16,57},{6,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{6,4}}</string>
                <key>sourceSize</key>
                <string>{6,4}</string>
            </dict>
            <key>fairy_huangfeng_2029:jhjg.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{32,42},{15,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,18}}</string>
                <key>sourceSize</key>
                <string>{15,18}</string>
            </dict>
            <key>fairy_huangfeng_2029:nhjv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{16,45},{11,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,10}}</string>
                <key>sourceSize</key>
                <string>{11,10}</string>
            </dict>
            <key>fairy_huangfeng_2029:qianqzi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{49,54},{5,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{5,11}}</string>
                <key>sourceSize</key>
                <string>{5,11}</string>
            </dict>
            <key>fairy_huangfeng_2029:qianzi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{56,54},{5,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{5,6}}</string>
                <key>sourceSize</key>
                <string>{5,6}</string>
            </dict>
            <key>fairy_huangfeng_2029:vfgsa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{32,0},{24,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,25}}</string>
                <key>sourceSize</key>
                <string>{24,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>fairy_huangfeng_2029.pvr.ccz</string>
            <key>size</key>
            <string>{64,96}</string>
            <key>textureFileName</key>
            <string>fairy_huangfeng_2029.pvr.ccz</string>
        </dict>
    </dict>
</plist>
