<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairy_fengbaojulong_2016:bvbvbc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{321,220},{34,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,40}}</string>
                <key>sourceSize</key>
                <string>{34,40}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:d21.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{240,220},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:d22.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{224,370},{87,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{87,66}}</string>
                <key>sourceSize</key>
                <string>{87,66}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:d23.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{313,381},{67,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{67,70}}</string>
                <key>sourceSize</key>
                <string>{67,70}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:d24.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,382},{67,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{67,70}}</string>
                <key>sourceSize</key>
                <string>{67,70}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:d25.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{240,301},{72,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{72,67}}</string>
                <key>sourceSize</key>
                <string>{72,67}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:d26.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{140,303},{82,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{82,74}}</string>
                <key>sourceSize</key>
                <string>{82,74}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:d27.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,301},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:d28.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{321,300},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:d37.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,115},{121,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{121,84}}</string>
                <key>sourceSize</key>
                <string>{121,84}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:f1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{154,438},{70,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,11}}</string>
                <key>sourceSize</key>
                <string>{70,11}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:f3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{382,384},{117,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{117,28}}</string>
                <key>sourceSize</key>
                <string>{117,28}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:f5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{402,326},{98,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{98,56}}</string>
                <key>sourceSize</key>
                <string>{98,56}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:f7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{363,214},{87,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{87,84}}</string>
                <key>sourceSize</key>
                <string>{87,84}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:f9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{141,204},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:h1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{145,104},{109,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{109,98}}</string>
                <key>sourceSize</key>
                <string>{109,98}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:h2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{256,121},{105,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{105,97}}</string>
                <key>sourceSize</key>
                <string>{105,97}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:h3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{394,110},{101,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{101,102}}</string>
                <key>sourceSize</key>
                <string>{101,102}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:h4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,201},{99,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{99,98}}</string>
                <key>sourceSize</key>
                <string>{99,98}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:long wei.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{69,437},{83,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{83,33}}</string>
                <key>sourceSize</key>
                <string>{83,33}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:longshen.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{81,301},{57,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{57,34}}</string>
                <key>sourceSize</key>
                <string>{57,34}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:longshen2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{452,280},{55,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,44}}</string>
                <key>sourceSize</key>
                <string>{55,44}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:longtou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{452,214},{47,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{47,64}}</string>
                <key>sourceSize</key>
                <string>{47,64}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:longtou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{101,201},{38,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,44}}</string>
                <key>sourceSize</key>
                <string>{38,44}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:nbvnv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{81,337},{52,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{52,18}}</string>
                <key>sourceSize</key>
                <string>{52,18}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:t1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{143,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{143,113}}</string>
                <key>sourceSize</key>
                <string>{143,113}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:t3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{291,0},{101,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{101,119}}</string>
                <key>sourceSize</key>
                <string>{101,119}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:t5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{145,0},{144,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{144,102}}</string>
                <key>sourceSize</key>
                <string>{144,102}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:vcvxvx.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{81,379},{90,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{90,56}}</string>
                <key>sourceSize</key>
                <string>{90,56}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:w1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{382,414},{83,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{83,33}}</string>
                <key>sourceSize</key>
                <string>{83,33}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:xcvxcvxcvxv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{394,0},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>fairy_fengbaojulong_2016.pvr.ccz</string>
            <key>size</key>
            <string>{507,469}</string>
            <key>textureFileName</key>
            <string>fairy_fengbaojulong_2016.pvr.ccz</string>
        </dict>
    </dict>
</plist>
