<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairy_bahamute_2084:chibang1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{150,351},{140,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{140,71}}</string>
                <key>sourceSize</key>
                <string>{140,71}</string>
            </dict>
            <key>fairy_bahamute_2084:chibang2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{414,105},{89,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{89,47}}</string>
                <key>sourceSize</key>
                <string>{89,47}</string>
            </dict>
            <key>fairy_bahamute_2084:g1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{414,0},{89,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{89,103}}</string>
                <key>sourceSize</key>
                <string>{89,103}</string>
            </dict>
            <key>fairy_bahamute_2084:g2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{265,0},{147,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{147,190}}</string>
                <key>sourceSize</key>
                <string>{147,190}</string>
            </dict>
            <key>fairy_bahamute_2084:gfgd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{265,192},{122,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{122,157}}</string>
                <key>sourceSize</key>
                <string>{122,157}</string>
            </dict>
            <key>fairy_bahamute_2084:hujian1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{150,294},{26,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,36}}</string>
                <key>sourceSize</key>
                <string>{26,36}</string>
            </dict>
            <key>fairy_bahamute_2084:jiao1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{412,209},{33,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,63}}</string>
                <key>sourceSize</key>
                <string>{33,63}</string>
            </dict>
            <key>fairy_bahamute_2084:jiao2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{389,192},{21,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,57}}</string>
                <key>sourceSize</key>
                <string>{21,57}</string>
            </dict>
            <key>fairy_bahamute_2084:jiao3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{447,247},{25,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,64}}</string>
                <key>sourceSize</key>
                <string>{25,64}</string>
            </dict>
            <key>fairy_bahamute_2084:shenti1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{412,274},{29,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,34}}</string>
                <key>sourceSize</key>
                <string>{29,34}</string>
            </dict>
            <key>fairy_bahamute_2084:shenti2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{474,247},{29,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,49}}</string>
                <key>sourceSize</key>
                <string>{29,49}</string>
            </dict>
            <key>fairy_bahamute_2084:shobi2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{474,298},{18,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,11}}</string>
                <key>sourceSize</key>
                <string>{18,11}</string>
            </dict>
            <key>fairy_bahamute_2084:shobi3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{494,298},{14,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,13}}</string>
                <key>sourceSize</key>
                <string>{14,13}</string>
            </dict>
            <key>fairy_bahamute_2084:shou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{201,265},{23,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,44}}</string>
                <key>sourceSize</key>
                <string>{23,44}</string>
            </dict>
            <key>fairy_bahamute_2084:shou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{226,265},{28,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,37}}</string>
                <key>sourceSize</key>
                <string>{28,37}</string>
            </dict>
            <key>fairy_bahamute_2084:shou3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{389,251},{21,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,35}}</string>
                <key>sourceSize</key>
                <string>{21,35}</string>
            </dict>
            <key>fairy_bahamute_2084:shoubi1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{178,294},{18,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,13}}</string>
                <key>sourceSize</key>
                <string>{18,13}</string>
            </dict>
            <key>fairy_bahamute_2084:shoubi6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{389,288},{14,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,19}}</string>
                <key>sourceSize</key>
                <string>{14,19}</string>
            </dict>
            <key>fairy_bahamute_2084:tou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{462,154},{41,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{41,55}}</string>
                <key>sourceSize</key>
                <string>{41,55}</string>
            </dict>
            <key>fairy_bahamute_2084:tou4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{414,154},{46,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,53}}</string>
                <key>sourceSize</key>
                <string>{46,53}</string>
            </dict>
            <key>fairy_bahamute_2084:vbcvbcb.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{263,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{263,263}}</string>
                <key>sourceSize</key>
                <string>{263,263}</string>
            </dict>
            <key>fairy_bahamute_2084:vcxvdsda.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,265},{148,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{148,186}}</string>
                <key>sourceSize</key>
                <string>{148,186}</string>
            </dict>
            <key>fairy_bahamute_2084:weiba.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{150,265},{49,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{49,27}}</string>
                <key>sourceSize</key>
                <string>{49,27}</string>
            </dict>
            <key>fairy_bahamute_2084:weiba2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{447,211},{62,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{62,34}}</string>
                <key>sourceSize</key>
                <string>{62,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>fairy_bahamute_2084.pvr.ccz</string>
            <key>size</key>
            <string>{509,433}</string>
            <key>textureFileName</key>
            <string>fairy_bahamute_2084.pvr.ccz</string>
        </dict>
    </dict>
</plist>
