<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairy_huli_2068:e1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{136,273},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>fairy_huli_2068:e2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,271},{81,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{81,86}}</string>
                <key>sourceSize</key>
                <string>{81,86}</string>
            </dict>
            <key>fairy_huli_2068:e3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{396,220},{84,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{84,87}}</string>
                <key>sourceSize</key>
                <string>{84,87}</string>
            </dict>
            <key>fairy_huli_2068:e4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{399,0},{109,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{109,109}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>fairy_huli_2068:e5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{399,111},{110,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{110,107}}</string>
                <key>sourceSize</key>
                <string>{110,107}</string>
            </dict>
            <key>fairy_huli_2068:jiao1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{482,220},{25,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,41}}</string>
                <key>sourceSize</key>
                <string>{25,41}</string>
            </dict>
            <key>fairy_huli_2068:jiao2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{83,271},{18,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,29}}</string>
                <key>sourceSize</key>
                <string>{18,29}</string>
            </dict>
            <key>fairy_huli_2068:jiao3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{114,180},{18,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,34}}</string>
                <key>sourceSize</key>
                <string>{18,34}</string>
            </dict>
            <key>fairy_huli_2068:jiao4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{103,281},{13,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,26}}</string>
                <key>sourceSize</key>
                <string>{13,26}</string>
            </dict>
            <key>fairy_huli_2068:nmbm.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{83,309},{42,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{42,35}}</string>
                <key>sourceSize</key>
                <string>{42,35}</string>
            </dict>
            <key>fairy_huli_2068:s2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,144},{112,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{112,125}}</string>
                <key>sourceSize</key>
                <string>{112,125}</string>
            </dict>
            <key>fairy_huli_2068:s3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{136,141},{118,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{118,130}}</string>
                <key>sourceSize</key>
                <string>{118,130}</string>
            </dict>
            <key>fairy_huli_2068:s4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{269,139},{125,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{125,135}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>fairy_huli_2068:s5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{269,0},{128,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{128,137}}</string>
                <key>sourceSize</key>
                <string>{128,137}</string>
            </dict>
            <key>fairy_huli_2068:s6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{136,0},{131,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{131,139}}</string>
                <key>sourceSize</key>
                <string>{131,139}</string>
            </dict>
            <key>fairy_huli_2068:s7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{134,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{134,142}}</string>
                <key>sourceSize</key>
                <string>{134,142}</string>
            </dict>
            <key>fairy_huli_2068:shenti1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{345,345},{38,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,28}}</string>
                <key>sourceSize</key>
                <string>{38,28}</string>
            </dict>
            <key>fairy_huli_2068:shenti2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{219,338},{40,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,26}}</string>
                <key>sourceSize</key>
                <string>{40,26}</string>
            </dict>
            <key>fairy_huli_2068:tou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{269,276},{74,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{74,78}}</string>
                <key>sourceSize</key>
                <string>{74,78}</string>
            </dict>
            <key>fairy_huli_2068:tou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{454,309},{53,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{53,49}}</string>
                <key>sourceSize</key>
                <string>{53,49}</string>
            </dict>
            <key>fairy_huli_2068:tui1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{482,263},{26,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,39}}</string>
                <key>sourceSize</key>
                <string>{26,39}</string>
            </dict>
            <key>fairy_huli_2068:tui2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{114,216},{18,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,32}}</string>
                <key>sourceSize</key>
                <string>{18,32}</string>
            </dict>
            <key>fairy_huli_2068:tui3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{114,144},{20,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,34}}</string>
                <key>sourceSize</key>
                <string>{20,34}</string>
            </dict>
            <key>fairy_huli_2068:tui4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{114,250},{20,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,29}}</string>
                <key>sourceSize</key>
                <string>{20,29}</string>
            </dict>
            <key>fairy_huli_2068:w1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{219,273},{48,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{48,63}}</string>
                <key>sourceSize</key>
                <string>{48,63}</string>
            </dict>
            <key>fairy_huli_2068:w2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{83,356},{58,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,66}}</string>
                <key>sourceSize</key>
                <string>{58,66}</string>
            </dict>
            <key>fairy_huli_2068:w3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{143,356},{63,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{63,57}}</string>
                <key>sourceSize</key>
                <string>{63,57}</string>
            </dict>
            <key>fairy_huli_2068:w4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{396,309},{56,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{56,76}}</string>
                <key>sourceSize</key>
                <string>{56,76}</string>
            </dict>
            <key>fairy_huli_2068:w5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,359},{63,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{63,51}}</string>
                <key>sourceSize</key>
                <string>{63,51}</string>
            </dict>
            <key>fairy_huli_2068:w6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{261,356},{58,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,59}}</string>
                <key>sourceSize</key>
                <string>{58,59}</string>
            </dict>
            <key>fairy_huli_2068:w7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{345,276},{49,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{49,67}}</string>
                <key>sourceSize</key>
                <string>{49,67}</string>
            </dict>
            <key>fairy_huli_2068:w8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{321,375},{62,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{62,52}}</string>
                <key>sourceSize</key>
                <string>{62,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>fairy_huli_2068.pvr.ccz</string>
            <key>size</key>
            <string>{512,428}</string>
            <key>textureFileName</key>
            <string>fairy_huli_2068.pvr.ccz</string>
        </dict>
    </dict>
</plist>
