<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairy_xuanfengtieqiu_2100:Fzui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{106,0},{95,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{95,67}}</string>
                <key>sourceSize</key>
                <string>{95,67}</string>
            </dict>
            <key>fairy_xuanfengtieqiu_2100:M.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{150,111},{31,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,25}}</string>
                <key>sourceSize</key>
                <string>{31,25}</string>
            </dict>
            <key>fairy_xuanfengtieqiu_2100:bi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{103,111},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>fairy_xuanfengtieqiu_2100:cxzsd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{186,93},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>fairy_xuanfengtieqiu_2100:er.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{203,0},{51,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{51,57}}</string>
                <key>sourceSize</key>
                <string>{51,57}</string>
            </dict>
            <key>fairy_xuanfengtieqiu_2100:iop23.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{62,150},{35,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,46}}</string>
                <key>sourceSize</key>
                <string>{35,46}</string>
            </dict>
            <key>fairy_xuanfengtieqiu_2100:pop05.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{62,98},{39,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,50}}</string>
                <key>sourceSize</key>
                <string>{39,50}</string>
            </dict>
            <key>fairy_xuanfengtieqiu_2100:qw123.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{106,69},{78,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{78,40}}</string>
                <key>sourceSize</key>
                <string>{78,40}</string>
            </dict>
            <key>fairy_xuanfengtieqiu_2100:tou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{104,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{104,96}}</string>
                <key>sourceSize</key>
                <string>{104,96}</string>
            </dict>
            <key>fairy_xuanfengtieqiu_2100:vdfx.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{186,69},{14,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,22}}</string>
                <key>sourceSize</key>
                <string>{14,22}</string>
            </dict>
            <key>fairy_xuanfengtieqiu_2100:ya.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{203,59},{45,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,61}}</string>
                <key>sourceSize</key>
                <string>{45,61}</string>
            </dict>
            <key>fairy_xuanfengtieqiu_2100:youyan.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{183,122},{38,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,45}}</string>
                <key>sourceSize</key>
                <string>{38,45}</string>
            </dict>
            <key>fairy_xuanfengtieqiu_2100:zuoyan.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,98},{60,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{60,52}}</string>
                <key>sourceSize</key>
                <string>{60,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>fairy_xuanfengtieqiu_2100.pvr.ccz</string>
            <key>size</key>
            <string>{256,195}</string>
            <key>textureFileName</key>
            <string>fairy_xuanfengtieqiu_2100.pvr.ccz</string>
        </dict>
    </dict>
</plist>
