<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairy_anheiwukong_2115:b1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{267,403},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>fairy_anheiwukong_2115:b2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{110,346},{32,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,47}}</string>
                <key>sourceSize</key>
                <string>{32,47}</string>
            </dict>
            <key>fairy_anheiwukong_2115:b3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{469,378},{32,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,45}}</string>
                <key>sourceSize</key>
                <string>{32,45}</string>
            </dict>
            <key>fairy_anheiwukong_2115:b4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{235,403},{30,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,45}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>fairy_anheiwukong_2115:b6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{202,400},{31,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,44}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
            <key>fairy_anheiwukong_2115:b7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{109,395},{32,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,45}}</string>
                <key>sourceSize</key>
                <string>{32,45}</string>
            </dict>
            <key>fairy_anheiwukong_2115:b8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{47,395},{32,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,45}}</string>
                <key>sourceSize</key>
                <string>{32,45}</string>
            </dict>
            <key>fairy_anheiwukong_2115:b9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{323,357},{33,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,45}}</string>
                <key>sourceSize</key>
                <string>{33,45}</string>
            </dict>
            <key>fairy_anheiwukong_2115:beishi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{144,355},{56,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{56,71}}</string>
                <key>sourceSize</key>
                <string>{56,71}</string>
            </dict>
            <key>fairy_anheiwukong_2115:bvbbcvb.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{202,355},{44,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{44,43}}</string>
                <key>sourceSize</key>
                <string>{44,43}</string>
            </dict>
            <key>fairy_anheiwukong_2115:jiang1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{370,425},{33,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,28}}</string>
                <key>sourceSize</key>
                <string>{33,28}</string>
            </dict>
            <key>fairy_anheiwukong_2115:longtou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,192},{147,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{147,108}}</string>
                <key>sourceSize</key>
                <string>{147,108}</string>
            </dict>
            <key>fairy_anheiwukong_2115:q3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{388,0},{100,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{100,132}}</string>
                <key>sourceSize</key>
                <string>{100,132}</string>
            </dict>
            <key>fairy_anheiwukong_2115:q4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{254,0},{132,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{132,160}}</string>
                <key>sourceSize</key>
                <string>{132,160}</string>
            </dict>
            <key>fairy_anheiwukong_2115:shenti1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{405,425},{30,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,29}}</string>
                <key>sourceSize</key>
                <string>{30,29}</string>
            </dict>
            <key>fairy_anheiwukong_2115:shenti2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{299,404},{38,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,29}}</string>
                <key>sourceSize</key>
                <string>{38,29}</string>
            </dict>
            <key>fairy_anheiwukong_2115:shobi2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{224,281},{22,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,13}}</string>
                <key>sourceSize</key>
                <string>{22,13}</string>
            </dict>
            <key>fairy_anheiwukong_2115:shou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{339,425},{29,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,36}}</string>
                <key>sourceSize</key>
                <string>{29,36}</string>
            </dict>
            <key>fairy_anheiwukong_2115:shou3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{437,425},{29,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,26}}</string>
                <key>sourceSize</key>
                <string>{29,26}</string>
            </dict>
            <key>fairy_anheiwukong_2115:shou4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{485,234},{25,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,28}}</string>
                <key>sourceSize</key>
                <string>{25,28}</string>
            </dict>
            <key>fairy_anheiwukong_2115:shoubi1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{490,0},{19,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,23}}</string>
                <key>sourceSize</key>
                <string>{19,23}</string>
            </dict>
            <key>fairy_anheiwukong_2115:tou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{469,331},{39,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,45}}</string>
                <key>sourceSize</key>
                <string>{39,45}</string>
            </dict>
            <key>fairy_anheiwukong_2115:tui1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{81,395},{26,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,43}}</string>
                <key>sourceSize</key>
                <string>{26,43}</string>
            </dict>
            <key>fairy_anheiwukong_2115:tui3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,395},{45,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,32}}</string>
                <key>sourceSize</key>
                <string>{45,32}</string>
            </dict>
            <key>fairy_anheiwukong_2115:tui4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{110,302},{37,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,42}}</string>
                <key>sourceSize</key>
                <string>{37,42}</string>
            </dict>
            <key>fairy_anheiwukong_2115:tui5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{485,264},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
            <key>fairy_anheiwukong_2115:weuij.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{248,357},{73,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{73,44}}</string>
                <key>sourceSize</key>
                <string>{73,44}</string>
            </dict>
            <key>fairy_anheiwukong_2115:wuqi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{252,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{252,190}}</string>
                <key>sourceSize</key>
                <string>{252,190}</string>
            </dict>
            <key>fairy_anheiwukong_2115:yun.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,442},{135,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{135,53}}</string>
                <key>sourceSize</key>
                <string>{135,53}</string>
            </dict>
            <key>fairy_anheiwukong_2115:z1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{149,281},{73,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{73,72}}</string>
                <key>sourceSize</key>
                <string>{73,72}</string>
            </dict>
            <key>fairy_anheiwukong_2115:z2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{149,192},{99,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{99,87}}</string>
                <key>sourceSize</key>
                <string>{99,87}</string>
            </dict>
            <key>fairy_anheiwukong_2115:z3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{250,262},{108,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{108,93}}</string>
                <key>sourceSize</key>
                <string>{108,93}</string>
            </dict>
            <key>fairy_anheiwukong_2115:z4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{372,234},{111,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{111,95}}</string>
                <key>sourceSize</key>
                <string>{111,95}</string>
            </dict>
            <key>fairy_anheiwukong_2115:z5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{388,134},{117,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{117,98}}</string>
                <key>sourceSize</key>
                <string>{117,98}</string>
            </dict>
            <key>fairy_anheiwukong_2115:z6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{254,162},{116,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{116,98}}</string>
                <key>sourceSize</key>
                <string>{116,98}</string>
            </dict>
            <key>fairy_anheiwukong_2115:z7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{360,331},{107,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{107,92}}</string>
                <key>sourceSize</key>
                <string>{107,92}</string>
            </dict>
            <key>fairy_anheiwukong_2115:z8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,302},{108,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{108,91}}</string>
                <key>sourceSize</key>
                <string>{108,91}</string>
            </dict>
            <key>fairy_anheiwukong_2115:z9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{490,25},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{0,0}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>fairy_anheiwukong_2115.pvr.ccz</string>
            <key>size</key>
            <string>{511,495}</string>
            <key>textureFileName</key>
            <string>fairy_anheiwukong_2115.pvr.ccz</string>
        </dict>
    </dict>
</plist>
