<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairy_dianciguai_2040:8uqwes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{327,317},{30,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,25}}</string>
                <key>sourceSize</key>
                <string>{30,25}</string>
            </dict>
            <key>fairy_dianciguai_2040:bhfqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{295,306},{30,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,26}}</string>
                <key>sourceSize</key>
                <string>{30,26}</string>
            </dict>
            <key>fairy_dianciguai_2040:casqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{243,272},{50,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{50,44}}</string>
                <key>sourceSize</key>
                <string>{50,44}</string>
            </dict>
            <key>fairy_dianciguai_2040:cqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{491,162},{19,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,45}}</string>
                <key>sourceSize</key>
                <string>{19,45}</string>
            </dict>
            <key>fairy_dianciguai_2040:icuqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{494,0},{14,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,26}}</string>
                <key>sourceSize</key>
                <string>{14,26}</string>
            </dict>
            <key>fairy_dianciguai_2040:ijasq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{491,209},{17,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,47}}</string>
                <key>sourceSize</key>
                <string>{17,47}</string>
            </dict>
            <key>fairy_dianciguai_2040:jciqws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{469,226},{19,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,34}}</string>
                <key>sourceSize</key>
                <string>{19,34}</string>
            </dict>
            <key>fairy_dianciguai_2040:jcuqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{339,141},{32,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,58}}</string>
                <key>sourceSize</key>
                <string>{32,58}</string>
            </dict>
            <key>fairy_dianciguai_2040:jcuqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{494,53},{9,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,24}}</string>
                <key>sourceSize</key>
                <string>{9,24}</string>
            </dict>
            <key>fairy_dianciguai_2040:juqwed.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{494,79},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>fairy_dianciguai_2040:jvuqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{153,318},{29,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,11}}</string>
                <key>sourceSize</key>
                <string>{29,11}</string>
            </dict>
            <key>fairy_dianciguai_2040:mnhgj.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{377,0},{115,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{115,110}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>fairy_dianciguai_2040:pof.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,153},{114,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{114,102}}</string>
                <key>sourceSize</key>
                <string>{114,102}</string>
            </dict>
            <key>fairy_dianciguai_2040:poqw0.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{329,284},{29,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,31}}</string>
                <key>sourceSize</key>
                <string>{29,31}</string>
            </dict>
            <key>fairy_dianciguai_2040:qweec.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{95,317},{32,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,23}}</string>
                <key>sourceSize</key>
                <string>{32,23}</string>
            </dict>
            <key>fairy_dianciguai_2040:ttpqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{193,0},{182,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{182,139}}</string>
                <key>sourceSize</key>
                <string>{182,139}</string>
            </dict>
            <key>fairy_dianciguai_2040:ttpwer.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,257},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>fairy_dianciguai_2040:ttvawe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{116,153},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>fairy_dianciguai_2040:ttvaweq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{193,141},{144,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{144,129}}</string>
                <key>sourceSize</key>
                <string>{144,129}</string>
            </dict>
            <key>fairy_dianciguai_2040:ttvwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{186,272},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>fairy_dianciguai_2040:ttvwey.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{191,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{191,151}}</string>
                <key>sourceSize</key>
                <string>{191,151}</string>
            </dict>
            <key>fairy_dianciguai_2040:ucasq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{243,318},{33,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,18}}</string>
                <key>sourceSize</key>
                <string>{33,18}</string>
            </dict>
            <key>fairy_dianciguai_2040:ucqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{339,201},{23,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,55}}</string>
                <key>sourceSize</key>
                <string>{23,55}</string>
            </dict>
            <key>fairy_dianciguai_2040:ucyyqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{116,218},{64,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{64,47}}</string>
                <key>sourceSize</key>
                <string>{64,47}</string>
            </dict>
            <key>fairy_dianciguai_2040:uiqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{494,28},{14,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,23}}</string>
                <key>sourceSize</key>
                <string>{14,23}</string>
            </dict>
            <key>fairy_dianciguai_2040:uiqwes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{469,305},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,28}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
            <key>fairy_dianciguai_2040:uiuawq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{491,112},{19,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,48}}</string>
                <key>sourceSize</key>
                <string>{19,48}</string>
            </dict>
            <key>fairy_dianciguai_2040:uqwes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{295,272},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>fairy_dianciguai_2040:uqwies.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{469,262},{39,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,41}}</string>
                <key>sourceSize</key>
                <string>{39,41}</string>
            </dict>
            <key>fairy_dianciguai_2040:uuqiwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{95,267},{62,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{62,48}}</string>
                <key>sourceSize</key>
                <string>{62,48}</string>
            </dict>
            <key>fairy_dianciguai_2040:uvqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{129,317},{22,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>fairy_dianciguai_2040:uyqwed.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{339,258},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
            <key>fairy_dianciguai_2040:uyqwes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{159,267},{25,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,49}}</string>
                <key>sourceSize</key>
                <string>{25,49}</string>
            </dict>
            <key>fairy_dianciguai_2040:vdsdf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{377,112},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>fairy_dianciguai_2040:vsdf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{364,226},{103,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{103,99}}</string>
                <key>sourceSize</key>
                <string>{103,99}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>fairy_dianciguai_2040.pvr.ccz</string>
            <key>size</key>
            <string>{510,346}</string>
            <key>textureFileName</key>
            <string>fairy_dianciguai_2040.pvr.ccz</string>
        </dict>
    </dict>
</plist>
