<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairy_jinglingnvhuang_2022:asds.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{491,0},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,24}}</string>
                <key>sourceSize</key>
                <string>{14,24}</string>
            </dict>
            <key>fairy_jinglingnvhuang_2022:asjduf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{137,307},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>fairy_jinglingnvhuang_2022:bdf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{335,0},{153,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{153,153}}</string>
                <key>sourceSize</key>
                <string>{153,153}</string>
            </dict>
            <key>fairy_jinglingnvhuang_2022:cib1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{250,307},{66,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{66,62}}</string>
                <key>sourceSize</key>
                <string>{66,62}</string>
            </dict>
            <key>fairy_jinglingnvhuang_2022:cib2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{227,420},{81,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{81,39}}</string>
                <key>sourceSize</key>
                <string>{81,39}</string>
            </dict>
            <key>fairy_jinglingnvhuang_2022:cib3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{453,305},{43,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,61}}</string>
                <key>sourceSize</key>
                <string>{43,61}</string>
            </dict>
            <key>fairy_jinglingnvhuang_2022:dfc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,158},{143,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{143,143}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>fairy_jinglingnvhuang_2022:fshen.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{498,44},{7,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,8}}</string>
                <key>sourceSize</key>
                <string>{7,8}</string>
            </dict>
            <key>fairy_jinglingnvhuang_2022:ftou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{477,156},{25,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,33}}</string>
                <key>sourceSize</key>
                <string>{25,33}</string>
            </dict>
            <key>fairy_jinglingnvhuang_2022:ftoufa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{146,158},{24,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>fairy_jinglingnvhuang_2022:fyoujiao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{498,27},{4,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{4,14}}</string>
                <key>sourceSize</key>
                <string>{4,14}</string>
            </dict>
            <key>fairy_jinglingnvhuang_2022:fzuohoubi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{505,27},{4,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{4,5}}</string>
                <key>sourceSize</key>
                <string>{4,5}</string>
            </dict>
            <key>fairy_jinglingnvhuang_2022:fzuoqianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{491,55},{6,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{6,7}}</string>
                <key>sourceSize</key>
                <string>{6,7}</string>
            </dict>
            <key>fairy_jinglingnvhuang_2022:gfb.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{177,156},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{148,148}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>fairy_jinglingnvhuang_2022:kjg.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{177,0},{155,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{155,153}}</string>
                <key>sourceSize</key>
                <string>{155,153}</string>
            </dict>
            <key>fairy_jinglingnvhuang_2022:pqwoe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{328,305},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>fairy_jinglingnvhuang_2022:qunzi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{146,189},{23,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,14}}</string>
                <key>sourceSize</key>
                <string>{23,14}</string>
            </dict>
            <key>fairy_jinglingnvhuang_2022:t1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{137,420},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>fairy_jinglingnvhuang_2022:t2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{328,156},{146,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{146,146}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>fairy_jinglingnvhuang_2022:tec.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,304},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>fairy_jinglingnvhuang_2022:vdfb.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{174,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{174,155}}</string>
                <key>sourceSize</key>
                <string>{174,155}</string>
            </dict>
            <key>fairy_jinglingnvhuang_2022:yaodai.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{500,55},{6,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{6,4}}</string>
                <key>sourceSize</key>
                <string>{6,4}</string>
            </dict>
            <key>fairy_jinglingnvhuang_2022:zuojiao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{491,27},{4,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{4,15}}</string>
                <key>sourceSize</key>
                <string>{4,15}</string>
            </dict>
            <key>fairy_jinglingnvhuang_2022:zuoshou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{500,62},{5,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{5,5}}</string>
                <key>sourceSize</key>
                <string>{5,5}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>fairy_jinglingnvhuang_2022.pvr.ccz</string>
            <key>size</key>
            <string>{509,507}</string>
            <key>textureFileName</key>
            <string>fairy_jinglingnvhuang_2022.pvr.ccz</string>
        </dict>
    </dict>
</plist>
