<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairy_fangtianhuaji_2094:09opqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{45,83},{30,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,24}}</string>
                <key>sourceSize</key>
                <string>{30,24}</string>
            </dict>
            <key>fairy_fangtianhuaji_2094:aswcs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{169,0},{71,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{71,67}}</string>
                <key>sourceSize</key>
                <string>{71,67}</string>
            </dict>
            <key>fairy_fangtianhuaji_2094:casqww.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{159,77},{3,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
            <key>fairy_fangtianhuaji_2094:cqwe5q.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{164,72},{3,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
            <key>fairy_fangtianhuaji_2094:cqwer.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{159,72},{3,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
            <key>fairy_fangtianhuaji_2094:i812q.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{240,82},{14,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,20}}</string>
                <key>sourceSize</key>
                <string>{14,20}</string>
            </dict>
            <key>fairy_fangtianhuaji_2094:i87qw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{27,83},{16,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,52}}</string>
                <key>sourceSize</key>
                <string>{16,52}</string>
            </dict>
            <key>fairy_fangtianhuaji_2094:i9q8w1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{242,0},{9,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,33}}</string>
                <key>sourceSize</key>
                <string>{9,33}</string>
            </dict>
            <key>fairy_fangtianhuaji_2094:icusaq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{45,109},{16,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,29}}</string>
                <key>sourceSize</key>
                <string>{16,29}</string>
            </dict>
            <key>fairy_fangtianhuaji_2094:juqwes1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{169,69},{56,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{56,82}}</string>
                <key>sourceSize</key>
                <string>{56,82}</string>
            </dict>
            <key>fairy_fangtianhuaji_2094:juwq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{83,72},{74,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{74,62}}</string>
                <key>sourceSize</key>
                <string>{74,62}</string>
            </dict>
            <key>fairy_fangtianhuaji_2094:klifqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{242,35},{12,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,27}}</string>
                <key>sourceSize</key>
                <string>{12,27}</string>
            </dict>
            <key>fairy_fangtianhuaji_2094:mjqs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{83,0},{84,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{84,70}}</string>
                <key>sourceSize</key>
                <string>{84,70}</string>
            </dict>
            <key>fairy_fangtianhuaji_2094:qwe981.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{242,64},{10,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,16}}</string>
                <key>sourceSize</key>
                <string>{10,16}</string>
            </dict>
            <key>fairy_fangtianhuaji_2094:qweu81.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{227,104},{27,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,23}}</string>
                <key>sourceSize</key>
                <string>{27,23}</string>
            </dict>
            <key>fairy_fangtianhuaji_2094:qwfw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>fairy_fangtianhuaji_2094:u87123.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,83},{25,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,93}}</string>
                <key>sourceSize</key>
                <string>{25,93}</string>
            </dict>
            <key>fairy_fangtianhuaji_2094:uqiwu81.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{227,69},{11,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,14}}</string>
                <key>sourceSize</key>
                <string>{11,14}</string>
            </dict>
            <key>fairy_fangtianhuaji_2094:uqwsaas.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{63,109},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>fairy_fangtianhuaji_2094.pvr.ccz</string>
            <key>size</key>
            <string>{254,176}</string>
            <key>textureFileName</key>
            <string>fairy_fangtianhuaji_2094.pvr.ccz</string>
        </dict>
    </dict>
</plist>
