<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairy_fengshen_2024:Fjiao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{467,119},{23,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,32}}</string>
                <key>sourceSize</key>
                <string>{23,32}</string>
            </dict>
            <key>fairy_fengshen_2024:Fjing.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{502,47},{8,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{8,9}}</string>
                <key>sourceSize</key>
                <string>{8,9}</string>
            </dict>
            <key>fairy_fengshen_2024:Ftou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{427,73},{38,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,46}}</string>
                <key>sourceSize</key>
                <string>{38,46}</string>
            </dict>
            <key>fairy_fengshen_2024:Fyao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{427,158},{10,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,19}}</string>
                <key>sourceSize</key>
                <string>{10,19}</string>
            </dict>
            <key>fairy_fengshen_2024:Fyaodai.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{269,172},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>fairy_fengshen_2024:Fyoudat.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{483,167},{24,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,17}}</string>
                <key>sourceSize</key>
                <string>{24,17}</string>
            </dict>
            <key>fairy_fengshen_2024:Fyouhoubi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{502,35},{8,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{8,10}}</string>
                <key>sourceSize</key>
                <string>{8,10}</string>
            </dict>
            <key>fairy_fengshen_2024:Fyouqianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{462,153},{19,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,28}}</string>
                <key>sourceSize</key>
                <string>{19,28}</string>
            </dict>
            <key>fairy_fengshen_2024:Fyoushou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{448,121},{13,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,23}}</string>
                <key>sourceSize</key>
                <string>{13,23}</string>
            </dict>
            <key>fairy_fengshen_2024:Fyouxiaot.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{492,145},{15,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,20}}</string>
                <key>sourceSize</key>
                <string>{15,20}</string>
            </dict>
            <key>fairy_fengshen_2024:Fzuodatui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{269,147},{10,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,23}}</string>
                <key>sourceSize</key>
                <string>{10,23}</string>
            </dict>
            <key>fairy_fengshen_2024:Fzuoqianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{427,121},{19,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,35}}</string>
                <key>sourceSize</key>
                <string>{19,35}</string>
            </dict>
            <key>fairy_fengshen_2024:Fzuoshou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{269,188},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>fairy_fengshen_2024:Fzuoshouc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{269,119},{16,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,26}}</string>
                <key>sourceSize</key>
                <string>{16,26}</string>
            </dict>
            <key>fairy_fengshen_2024:Fzuoxiaotui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{448,146},{12,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,22}}</string>
                <key>sourceSize</key>
                <string>{12,22}</string>
            </dict>
            <key>fairy_fengshen_2024:asdf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{462,183},{14,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,11}}</string>
                <key>sourceSize</key>
                <string>{14,11}</string>
            </dict>
            <key>fairy_fengshen_2024:asdva.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{467,73},{33,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,44}}</string>
                <key>sourceSize</key>
                <string>{33,44}</string>
            </dict>
            <key>fairy_fengshen_2024:bvbs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{388,231},{97,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{97,32}}</string>
                <key>sourceSize</key>
                <string>{97,32}</string>
            </dict>
            <key>fairy_fengshen_2024:casv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{439,170},{21,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,16}}</string>
                <key>sourceSize</key>
                <string>{21,16}</string>
            </dict>
            <key>fairy_fengshen_2024:cib.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{427,35},{73,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{73,36}}</string>
                <key>sourceSize</key>
                <string>{73,36}</string>
            </dict>
            <key>fairy_fengshen_2024:cvssd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{143,119},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>fairy_fengshen_2024:fshangshen.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{478,186},{24,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,16}}</string>
                <key>sourceSize</key>
                <string>{24,16}</string>
            </dict>
            <key>fairy_fengshen_2024:gfdgr.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{492,119},{16,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,24}</string>
            </dict>
            <key>fairy_fengshen_2024:juyaqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{145,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{145,115}}</string>
                <key>sourceSize</key>
                <string>{145,115}</string>
            </dict>
            <key>fairy_fengshen_2024:jvuasyq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{139,245},{123,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{123,104}}</string>
                <key>sourceSize</key>
                <string>{123,104}</string>
            </dict>
            <key>fairy_fengshen_2024:jvuaysq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{147,0},{138,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{138,117}}</string>
                <key>sourceSize</key>
                <string>{138,117}</string>
            </dict>
            <key>fairy_fengshen_2024:jvuyqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{269,231},{117,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>fairy_fengshen_2024:vcsd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{502,58},{8,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{8,7}}</string>
                <key>sourceSize</key>
                <string>{8,7}</string>
            </dict>
            <key>fairy_fengshen_2024:vdsdfg.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{427,0},{81,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{81,33}}</string>
                <key>sourceSize</key>
                <string>{81,33}</string>
            </dict>
            <key>fairy_fengshen_2024:vjasuyqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,117},{141,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{141,108}}</string>
                <key>sourceSize</key>
                <string>{141,108}</string>
            </dict>
            <key>fairy_fengshen_2024:vjhasyq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{287,0},{138,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{138,116}}</string>
                <key>sourceSize</key>
                <string>{138,116}</string>
            </dict>
            <key>fairy_fengshen_2024:vloiqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,338},{132,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{132,100}}</string>
                <key>sourceSize</key>
                <string>{132,100}</string>
            </dict>
            <key>fairy_fengshen_2024:vuaysq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{287,118},{138,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{138,111}}</string>
                <key>sourceSize</key>
                <string>{138,111}</string>
            </dict>
            <key>fairy_fengshen_2024:vuyqwea.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,227},{137,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{137,109}}</string>
                <key>sourceSize</key>
                <string>{137,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>fairy_fengshen_2024.pvr.ccz</string>
            <key>size</key>
            <string>{510,438}</string>
            <key>textureFileName</key>
            <string>fairy_fengshen_2024.pvr.ccz</string>
        </dict>
    </dict>
</plist>
