<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairy_leishen_2025:Bbeis.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{453,101},{22,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,20}}</string>
                <key>sourceSize</key>
                <string>{22,20}</string>
            </dict>
            <key>fairy_leishen_2025:Btou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{453,62},{25,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,37}}</string>
                <key>sourceSize</key>
                <string>{25,37}</string>
            </dict>
            <key>fairy_leishen_2025:Fbeidai1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{435,229},{34,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,23}}</string>
                <key>sourceSize</key>
                <string>{34,23}</string>
            </dict>
            <key>fairy_leishen_2025:Fbeidai2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{301,151},{14,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,10}}</string>
                <key>sourceSize</key>
                <string>{14,10}</string>
            </dict>
            <key>fairy_leishen_2025:Fkua.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{477,122},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,18}</string>
            </dict>
            <key>fairy_leishen_2025:Fshangshen.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{480,99},{22,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,21}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>fairy_leishen_2025:Ftou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{480,62},{24,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,35}}</string>
                <key>sourceSize</key>
                <string>{24,35}</string>
            </dict>
            <key>fairy_leishen_2025:Fyao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{450,149},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>fairy_leishen_2025:Fyoudatui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{396,226},{37,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,25}}</string>
                <key>sourceSize</key>
                <string>{37,25}</string>
            </dict>
            <key>fairy_leishen_2025:Fyouhoubi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{490,143},{18,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,11}}</string>
                <key>sourceSize</key>
                <string>{18,11}</string>
            </dict>
            <key>fairy_leishen_2025:Fyoujiao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{450,134},{17,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,13}}</string>
                <key>sourceSize</key>
                <string>{17,13}</string>
            </dict>
            <key>fairy_leishen_2025:Fyoujiaozhang.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{491,26},{18,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,13}}</string>
                <key>sourceSize</key>
                <string>{18,13}</string>
            </dict>
            <key>fairy_leishen_2025:Fyouqianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{450,123},{21,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,9}}</string>
                <key>sourceSize</key>
                <string>{21,9}</string>
            </dict>
            <key>fairy_leishen_2025:Fyoushou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{491,0},{11,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,24}}</string>
                <key>sourceSize</key>
                <string>{11,24}</string>
            </dict>
            <key>fairy_leishen_2025:Fyouxiaotui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{450,207},{49,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{49,20}}</string>
                <key>sourceSize</key>
                <string>{49,20}</string>
            </dict>
            <key>fairy_leishen_2025:Fzuohouni.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{469,142},{19,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,10}}</string>
                <key>sourceSize</key>
                <string>{19,10}</string>
            </dict>
            <key>fairy_leishen_2025:Fzuoshou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{499,122},{10,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,19}}</string>
                <key>sourceSize</key>
                <string>{10,19}</string>
            </dict>
            <key>fairy_leishen_2025:asdfs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{453,0},{36,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{36,60}}</string>
                <key>sourceSize</key>
                <string>{36,60}</string>
            </dict>
            <key>fairy_leishen_2025:asdlkfa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>fairy_leishen_2025:casdd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{491,41},{12,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,19}}</string>
                <key>sourceSize</key>
                <string>{12,19}</string>
            </dict>
            <key>fairy_leishen_2025:casva.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{185,0},{149,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{149,149}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>fairy_leishen_2025:gu.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{466,156},{43,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,49}}</string>
                <key>sourceSize</key>
                <string>{43,49}</string>
            </dict>
            <key>fairy_leishen_2025:gun.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,185},{64,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{64,143}}</string>
                <key>sourceSize</key>
                <string>{64,143}</string>
            </dict>
            <key>fairy_leishen_2025:mnhgj.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{336,0},{115,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{115,110}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>fairy_leishen_2025:pof.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{185,151},{114,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{114,102}}</string>
                <key>sourceSize</key>
                <string>{114,102}</string>
            </dict>
            <key>fairy_leishen_2025:vdsdf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{336,112},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>fairy_leishen_2025:vsdf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{66,185},{103,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{103,99}}</string>
                <key>sourceSize</key>
                <string>{103,99}</string>
            </dict>
            <key>fairy_leishen_2025:zuo.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{301,226},{93,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{93,47}}</string>
                <key>sourceSize</key>
                <string>{93,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>fairy_leishen_2025.pvr.ccz</string>
            <key>size</key>
            <string>{512,332}</string>
            <key>textureFileName</key>
            <string>fairy_leishen_2025.pvr.ccz</string>
        </dict>
    </dict>
</plist>
