<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairy_shengtang_2118:bnvnv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{966,239},{26,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,40}}</string>
                <key>sourceSize</key>
                <string>{26,40}</string>
            </dict>
            <key>fairy_shengtang_2118:bnvnveqwq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1001,223},{20,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,27}}</string>
                <key>sourceSize</key>
                <string>{20,27}</string>
            </dict>
            <key>fairy_shengtang_2118:bvcbc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{867,494},{103,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{103,93}}</string>
                <key>sourceSize</key>
                <string>{103,93}</string>
            </dict>
            <key>fairy_shengtang_2118:bvcvbc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{867,339},{150,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{150,153}}</string>
                <key>sourceSize</key>
                <string>{150,153}</string>
            </dict>
            <key>fairy_shengtang_2118:g1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{750,339},{115,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{115,205}}</string>
                <key>sourceSize</key>
                <string>{115,205}</string>
            </dict>
            <key>fairy_shengtang_2118:g12.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,339},{159,307}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{159,307}}</string>
                <key>sourceSize</key>
                <string>{159,307}</string>
            </dict>
            <key>fairy_shengtang_2118:g2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{623,339},{125,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{125,200}}</string>
                <key>sourceSize</key>
                <string>{125,200}</string>
            </dict>
            <key>fairy_shengtang_2118:g6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{483,339},{138,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{138,202}}</string>
                <key>sourceSize</key>
                <string>{138,202}</string>
            </dict>
            <key>fairy_shengtang_2118:gfgdfgd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{994,252},{27,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,20}}</string>
                <key>sourceSize</key>
                <string>{27,20}</string>
            </dict>
            <key>fairy_shengtang_2118:h tui1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{966,0},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>fairy_shengtang_2118:h1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{322,339},{159,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{159,292}}</string>
                <key>sourceSize</key>
                <string>{159,292}</string>
            </dict>
            <key>fairy_shengtang_2118:h10.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{483,0},{159,337}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{159,337}}</string>
                <key>sourceSize</key>
                <string>{159,337}</string>
            </dict>
            <key>fairy_shengtang_2118:h2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{805,0},{159,337}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{159,337}}</string>
                <key>sourceSize</key>
                <string>{159,337}</string>
            </dict>
            <key>fairy_shengtang_2118:h3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{161,0},{159,337}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{159,337}}</string>
                <key>sourceSize</key>
                <string>{159,337}</string>
            </dict>
            <key>fairy_shengtang_2118:h5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{159,337}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{159,337}}</string>
                <key>sourceSize</key>
                <string>{159,337}</string>
            </dict>
            <key>fairy_shengtang_2118:h7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{322,0},{159,337}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{159,337}}</string>
                <key>sourceSize</key>
                <string>{159,337}</string>
            </dict>
            <key>fairy_shengtang_2118:h9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{644,0},{159,337}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{159,337}}</string>
                <key>sourceSize</key>
                <string>{159,337}</string>
            </dict>
            <key>fairy_shengtang_2118:l1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{966,289},{34,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,28}}</string>
                <key>sourceSize</key>
                <string>{34,28}</string>
            </dict>
            <key>fairy_shengtang_2118:l3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{966,50},{48,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{48,42}}</string>
                <key>sourceSize</key>
                <string>{48,42}</string>
            </dict>
            <key>fairy_shengtang_2118:l4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{966,147},{38,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,46}}</string>
                <key>sourceSize</key>
                <string>{38,46}</string>
            </dict>
            <key>fairy_shengtang_2118:l6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{966,94},{38,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,51}}</string>
                <key>sourceSize</key>
                <string>{38,51}</string>
            </dict>
            <key>fairy_shengtang_2118:nbvnvn.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{994,274},{17,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,13}}</string>
                <key>sourceSize</key>
                <string>{17,13}</string>
            </dict>
            <key>fairy_shengtang_2118:nmb.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1001,195},{21,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,26}}</string>
                <key>sourceSize</key>
                <string>{21,26}</string>
            </dict>
            <key>fairy_shengtang_2118:o1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{161,339},{159,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{159,292}}</string>
                <key>sourceSize</key>
                <string>{159,292}</string>
            </dict>
            <key>fairy_shengtang_2118:sdasda.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{623,541},{99,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{99,89}}</string>
                <key>sourceSize</key>
                <string>{99,89}</string>
            </dict>
            <key>fairy_shengtang_2118:vbcc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1006,94},{13,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,29}}</string>
                <key>sourceSize</key>
                <string>{13,29}</string>
            </dict>
            <key>fairy_shengtang_2118:vcxvxv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{966,195},{33,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,42}}</string>
                <key>sourceSize</key>
                <string>{33,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>fairy_shengtang_2118.pvr.ccz</string>
            <key>size</key>
            <string>{1021,628}</string>
            <key>textureFileName</key>
            <string>fairy_shengtang_2118.pvr.ccz</string>
        </dict>
    </dict>
</plist>
