<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairy_qinglongdao_2093:casqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{111,68},{10,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,15}}</string>
                <key>sourceSize</key>
                <string>{10,15}</string>
            </dict>
            <key>fairy_qinglongdao_2093:casqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{58,0},{51,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{51,69}}</string>
                <key>sourceSize</key>
                <string>{51,69}</string>
            </dict>
            <key>fairy_qinglongdao_2093:casqwer.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{111,56},{15,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,10}}</string>
                <key>sourceSize</key>
                <string>{15,10}</string>
            </dict>
            <key>fairy_qinglongdao_2093:iu8qws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{48,141},{22,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,9}}</string>
                <key>sourceSize</key>
                <string>{22,9}</string>
            </dict>
            <key>fairy_qinglongdao_2093:iuqwda.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,149},{23,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,7}}</string>
                <key>sourceSize</key>
                <string>{23,7}</string>
            </dict>
            <key>fairy_qinglongdao_2093:qeqsq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{58,71},{29,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,52}}</string>
                <key>sourceSize</key>
                <string>{29,52}</string>
            </dict>
            <key>fairy_qinglongdao_2093:qwevas.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{51,125},{22,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,14}}</string>
                <key>sourceSize</key>
                <string>{22,14}</string>
            </dict>
            <key>fairy_qinglongdao_2093:qwsjca.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{28,95},{21,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,40}}</string>
                <key>sourceSize</key>
                <string>{21,40}</string>
            </dict>
            <key>fairy_qinglongdao_2093:u7qw1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{89,118},{19,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,42}}</string>
                <key>sourceSize</key>
                <string>{19,42}</string>
            </dict>
            <key>fairy_qinglongdao_2093:u8qwsa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,95},{26,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,52}}</string>
                <key>sourceSize</key>
                <string>{26,52}</string>
            </dict>
            <key>fairy_qinglongdao_2093:uquwesa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{111,0},{10,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,54}}</string>
                <key>sourceSize</key>
                <string>{10,54}</string>
            </dict>
            <key>fairy_qinglongdao_2093:uqwesq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{28,137},{18,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,4}}</string>
                <key>sourceSize</key>
                <string>{18,4}</string>
            </dict>
            <key>fairy_qinglongdao_2093:uqwsaq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{89,71},{18,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,45}}</string>
                <key>sourceSize</key>
                <string>{18,45}</string>
            </dict>
            <key>fairy_qinglongdao_2093:wer52.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{56,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{56,93}}</string>
                <key>sourceSize</key>
                <string>{56,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>fairy_qinglongdao_2093.pvr.ccz</string>
            <key>size</key>
            <string>{126,161}</string>
            <key>textureFileName</key>
            <string>fairy_qinglongdao_2093.pvr.ccz</string>
        </dict>
    </dict>
</plist>
