<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairy_zhangdu_2045:c2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{191,133},{86,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{86,85}}</string>
                <key>sourceSize</key>
                <string>{86,85}</string>
            </dict>
            <key>fairy_zhangdu_2045:c3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{191,0},{134,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{134,131}}</string>
                <key>sourceSize</key>
                <string>{134,131}</string>
            </dict>
            <key>fairy_zhangdu_2045:c4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{189,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{189,174}}</string>
                <key>sourceSize</key>
                <string>{189,174}</string>
            </dict>
            <key>fairy_zhangdu_2045:cvbbc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{371,221},{32,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,33}}</string>
                <key>sourceSize</key>
                <string>{32,33}</string>
            </dict>
            <key>fairy_zhangdu_2045:d1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,176},{75,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{75,95}}</string>
                <key>sourceSize</key>
                <string>{75,95}</string>
            </dict>
            <key>fairy_zhangdu_2045:d2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{435,0},{71,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{71,119}}</string>
                <key>sourceSize</key>
                <string>{71,119}</string>
            </dict>
            <key>fairy_zhangdu_2045:d3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{435,121},{75,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{75,104}}</string>
                <key>sourceSize</key>
                <string>{75,104}</string>
            </dict>
            <key>fairy_zhangdu_2045:d4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{327,123},{76,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{76,96}}</string>
                <key>sourceSize</key>
                <string>{76,96}</string>
            </dict>
            <key>fairy_zhangdu_2045:g4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{51,273},{48,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{48,69}}</string>
                <key>sourceSize</key>
                <string>{48,69}</string>
            </dict>
            <key>fairy_zhangdu_2045:g5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,273},{49,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{49,68}}</string>
                <key>sourceSize</key>
                <string>{49,68}</string>
            </dict>
            <key>fairy_zhangdu_2045:h1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{101,273},{48,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{48,68}}</string>
                <key>sourceSize</key>
                <string>{48,68}</string>
            </dict>
            <key>fairy_zhangdu_2045:h2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{317,221},{52,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{52,70}}</string>
                <key>sourceSize</key>
                <string>{52,70}</string>
            </dict>
            <key>fairy_zhangdu_2045:h3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{429,227},{50,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{50,69}}</string>
                <key>sourceSize</key>
                <string>{50,69}</string>
            </dict>
            <key>fairy_zhangdu_2045:h6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{151,291},{47,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{47,60}}</string>
                <key>sourceSize</key>
                <string>{47,60}</string>
            </dict>
            <key>fairy_zhangdu_2045:h7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{279,133},{43,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,59}}</string>
                <key>sourceSize</key>
                <string>{43,59}</string>
            </dict>
            <key>fairy_zhangdu_2045:h8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{371,256},{50,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{50,68}}</string>
                <key>sourceSize</key>
                <string>{50,68}</string>
            </dict>
            <key>fairy_zhangdu_2045:jiangbang5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{405,163},{21,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,35}}</string>
                <key>sourceSize</key>
                <string>{21,35}</string>
            </dict>
            <key>fairy_zhangdu_2045:kuzi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{423,298},{45,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,30}}</string>
                <key>sourceSize</key>
                <string>{45,30}</string>
            </dict>
            <key>fairy_zhangdu_2045:kuzi1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{341,326},{45,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,26}}</string>
                <key>sourceSize</key>
                <string>{45,26}</string>
            </dict>
            <key>fairy_zhangdu_2045:qielian.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{405,221},{9,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,19}}</string>
                <key>sourceSize</key>
                <string>{9,19}</string>
            </dict>
            <key>fairy_zhangdu_2045:s1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{77,176},{75,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{75,95}}</string>
                <key>sourceSize</key>
                <string>{75,95}</string>
            </dict>
            <key>fairy_zhangdu_2045:shengti4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{251,291},{49,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{49,42}}</string>
                <key>sourceSize</key>
                <string>{49,42}</string>
            </dict>
            <key>fairy_zhangdu_2045:shenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{200,291},{49,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{49,45}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>fairy_zhangdu_2045:shou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{302,293},{37,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,40}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>fairy_zhangdu_2045:shou11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{405,123},{23,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,38}}</string>
                <key>sourceSize</key>
                <string>{23,38}</string>
            </dict>
            <key>fairy_zhangdu_2045:shou8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{470,298},{33,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,31}}</string>
                <key>sourceSize</key>
                <string>{33,31}</string>
            </dict>
            <key>fairy_zhangdu_2045:shoubi2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{154,219},{29,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,44}}</string>
                <key>sourceSize</key>
                <string>{29,44}</string>
            </dict>
            <key>fairy_zhangdu_2045:shoubi4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{405,200},{22,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,19}}</string>
                <key>sourceSize</key>
                <string>{22,19}</string>
            </dict>
            <key>fairy_zhangdu_2045:shoubi6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{154,176},{33,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,41}}</string>
                <key>sourceSize</key>
                <string>{33,41}</string>
            </dict>
            <key>fairy_zhangdu_2045:tou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{279,194},{36,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{36,47}}</string>
                <key>sourceSize</key>
                <string>{36,47}</string>
            </dict>
            <key>fairy_zhangdu_2045:tou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{270,243},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>fairy_zhangdu_2045:vxcvxvxc/v1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{327,0},{106,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{106,121}}</string>
                <key>sourceSize</key>
                <string>{106,121}</string>
            </dict>
            <key>fairy_zhangdu_2045:vxvxv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{185,220},{83,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{83,69}}</string>
                <key>sourceSize</key>
                <string>{83,69}</string>
            </dict>
            <key>fairy_zhangdu_2045:wuqi2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{416,221},{11,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,15}}</string>
                <key>sourceSize</key>
                <string>{11,15}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>fairy_zhangdu_2045.pvr.ccz</string>
            <key>size</key>
            <string>{512,355}</string>
            <key>textureFileName</key>
            <string>fairy_zhangdu_2045.pvr.ccz</string>
        </dict>
    </dict>
</plist>
