<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairy_athena_2111:b1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{140,325},{24,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,29}}</string>
                <key>sourceSize</key>
                <string>{24,29}</string>
            </dict>
            <key>fairy_athena_2111:b2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{467,274},{10,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,29}}</string>
                <key>sourceSize</key>
                <string>{10,29}</string>
            </dict>
            <key>fairy_athena_2111:b3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{479,285},{28,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,33}}</string>
                <key>sourceSize</key>
                <string>{28,33}</string>
            </dict>
            <key>fairy_athena_2111:b4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{361,297},{27,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,32}}</string>
                <key>sourceSize</key>
                <string>{27,32}</string>
            </dict>
            <key>fairy_athena_2111:bvnbvnv 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{265,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{265,269}}</string>
                <key>sourceSize</key>
                <string>{265,269}</string>
            </dict>
            <key>fairy_athena_2111:duenpai11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{416,182},{69,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{69,90}}</string>
                <key>sourceSize</key>
                <string>{69,90}</string>
            </dict>
            <key>fairy_athena_2111:fa21.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{361,331},{12,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,21}}</string>
                <key>sourceSize</key>
                <string>{12,21}</string>
            </dict>
            <key>fairy_athena_2111:fa31.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{487,256},{17,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,27}}</string>
                <key>sourceSize</key>
                <string>{17,27}</string>
            </dict>
            <key>fairy_athena_2111:fa41.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{421,95},{87,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{87,85}}</string>
                <key>sourceSize</key>
                <string>{87,85}</string>
            </dict>
            <key>fairy_athena_2111:jiao11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{393,202},{17,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,34}}</string>
                <key>sourceSize</key>
                <string>{17,34}</string>
            </dict>
            <key>fairy_athena_2111:jiao21.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{487,218},{15,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,36}}</string>
                <key>sourceSize</key>
                <string>{15,36}</string>
            </dict>
            <key>fairy_athena_2111:jiao31.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{487,182},{18,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,34}}</string>
                <key>sourceSize</key>
                <string>{18,34}</string>
            </dict>
            <key>fairy_athena_2111:kuzi1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{196,325},{19,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,15}}</string>
                <key>sourceSize</key>
                <string>{19,15}</string>
            </dict>
            <key>fairy_athena_2111:lian11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{227,309},{27,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,29}}</string>
                <key>sourceSize</key>
                <string>{27,29}</string>
            </dict>
            <key>fairy_athena_2111:nbnvdsd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{267,0},{152,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{152,161}}</string>
                <key>sourceSize</key>
                <string>{152,161}</string>
            </dict>
            <key>fairy_athena_2111:q3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{267,163},{124,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{124,132}}</string>
                <key>sourceSize</key>
                <string>{124,132}</string>
            </dict>
            <key>fairy_athena_2111:qun11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{264,297},{61,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{61,51}}</string>
                <key>sourceSize</key>
                <string>{61,51}</string>
            </dict>
            <key>fairy_athena_2111:qun21.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{393,163},{21,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,37}}</string>
                <key>sourceSize</key>
                <string>{21,37}</string>
            </dict>
            <key>fairy_athena_2111:qun31.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{408,274},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>fairy_athena_2111:qun61.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{140,271},{85,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{85,52}}</string>
                <key>sourceSize</key>
                <string>{85,52}</string>
            </dict>
            <key>fairy_athena_2111:shenti11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{327,297},{32,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,37}}</string>
                <key>sourceSize</key>
                <string>{32,37}</string>
            </dict>
            <key>fairy_athena_2111:shenti61.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{476,320},{25,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,28}}</string>
                <key>sourceSize</key>
                <string>{25,28}</string>
            </dict>
            <key>fairy_athena_2111:shou11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{467,318},{7,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,11}}</string>
                <key>sourceSize</key>
                <string>{7,11}</string>
            </dict>
            <key>fairy_athena_2111:shou71.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{467,305},{8,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{8,11}}</string>
                <key>sourceSize</key>
                <string>{8,11}</string>
            </dict>
            <key>fairy_athena_2111:shoubi21.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{390,300},{14,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,23}}</string>
                <key>sourceSize</key>
                <string>{14,23}</string>
            </dict>
            <key>fairy_athena_2111:shoubi61.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{166,325},{28,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,23}}</string>
                <key>sourceSize</key>
                <string>{28,23}</string>
            </dict>
            <key>fairy_athena_2111:shoubi71.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{390,325},{13,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,20}}</string>
                <key>sourceSize</key>
                <string>{13,20}</string>
            </dict>
            <key>fairy_athena_2111:toufa11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{227,271},{35,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,36}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
            <key>fairy_athena_2111:toufa41.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{421,0},{88,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{88,93}}</string>
                <key>sourceSize</key>
                <string>{88,93}</string>
            </dict>
            <key>fairy_athena_2111:tui11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{393,238},{15,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,30}}</string>
                <key>sourceSize</key>
                <string>{15,30}</string>
            </dict>
            <key>fairy_athena_2111:tui21.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{393,270},{13,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,28}}</string>
                <key>sourceSize</key>
                <string>{13,28}</string>
            </dict>
            <key>fairy_athena_2111:vxcvxv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{405,333},{18,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,8}}</string>
                <key>sourceSize</key>
                <string>{18,8}</string>
            </dict>
            <key>fairy_athena_2111:wuqi11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,271},{138,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{138,98}}</string>
                <key>sourceSize</key>
                <string>{138,98}</string>
            </dict>
            <key>fairy_athena_2111:yaodai1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{425,333},{19,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,5}}</string>
                <key>sourceSize</key>
                <string>{19,5}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>fairy_athena_2111.pvr.ccz</string>
            <key>size</key>
            <string>{510,370}</string>
            <key>textureFileName</key>
            <string>fairy_athena_2111.pvr.ccz</string>
        </dict>
    </dict>
</plist>
