<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairy_hangmu_2081:aiskdjua.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{244,38},{10,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,16}}</string>
                <key>sourceSize</key>
                <string>{10,16}</string>
            </dict>
            <key>fairy_hangmu_2081:ajsudqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{247,0},{7,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,14}}</string>
                <key>sourceSize</key>
                <string>{7,14}</string>
            </dict>
            <key>fairy_hangmu_2081:aksidjq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{142,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{142,77}}</string>
                <key>sourceSize</key>
                <string>{142,77}</string>
            </dict>
            <key>fairy_hangmu_2081:asmcl.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{238,43},{3,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{3,6}}</string>
                <key>sourceSize</key>
                <string>{3,6}</string>
            </dict>
            <key>fairy_hangmu_2081:asodpq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{247,16},{5,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{5,11}}</string>
                <key>sourceSize</key>
                <string>{5,11}</string>
            </dict>
            <key>fairy_hangmu_2081:caqq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{238,56},{11,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,26}}</string>
                <key>sourceSize</key>
                <string>{11,26}</string>
            </dict>
            <key>fairy_hangmu_2081:casqq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{215,60},{17,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,16}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>fairy_hangmu_2081:ciuasda.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{247,29},{7,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,7}}</string>
                <key>sourceSize</key>
                <string>{7,7}</string>
            </dict>
            <key>fairy_hangmu_2081:cnajshdy.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{215,78},{14,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,12}}</string>
                <key>sourceSize</key>
                <string>{14,12}</string>
            </dict>
            <key>fairy_hangmu_2081:cnhasyda.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{238,36},{4,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{4,5}}</string>
                <key>sourceSize</key>
                <string>{4,5}</string>
            </dict>
            <key>fairy_hangmu_2081:iop23.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{144,52},{69,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{69,46}}</string>
                <key>sourceSize</key>
                <string>{69,46}</string>
            </dict>
            <key>fairy_hangmu_2081:jaisuq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,144},{141,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{141,60}}</string>
                <key>sourceSize</key>
                <string>{141,60}</string>
            </dict>
            <key>fairy_hangmu_2081:jaisuqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{195,153},{34,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,41}}</string>
                <key>sourceSize</key>
                <string>{34,41}</string>
            </dict>
            <key>fairy_hangmu_2081:jausq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,206},{119,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{119,39}}</string>
                <key>sourceSize</key>
                <string>{119,39}</string>
            </dict>
            <key>fairy_hangmu_2081:jhqwue.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{208,118},{45,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,33}}</string>
                <key>sourceSize</key>
                <string>{45,33}</string>
            </dict>
            <key>fairy_hangmu_2081:jiuqwe4q.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{223,0},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
            <key>fairy_hangmu_2081:juiqw91.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,79},{141,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{141,63}}</string>
                <key>sourceSize</key>
                <string>{141,63}</string>
            </dict>
            <key>fairy_hangmu_2081:juqwec.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{223,26},{13,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,32}}</string>
                <key>sourceSize</key>
                <string>{13,32}</string>
            </dict>
            <key>fairy_hangmu_2081:kcjasud.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{231,84},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>fairy_hangmu_2081:kcjmj.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{208,102},{14,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,8}}</string>
                <key>sourceSize</key>
                <string>{14,8}</string>
            </dict>
            <key>fairy_hangmu_2081:kjiqwa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{143,153},{50,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{50,36}}</string>
                <key>sourceSize</key>
                <string>{50,36}</string>
            </dict>
            <key>fairy_hangmu_2081:laosd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{231,99},{19,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,6}}</string>
                <key>sourceSize</key>
                <string>{19,6}</string>
            </dict>
            <key>fairy_hangmu_2081:laosdpa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{215,92},{14,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,8}}</string>
                <key>sourceSize</key>
                <string>{14,8}</string>
            </dict>
            <key>fairy_hangmu_2081:ncjsha.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{224,107},{11,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,9}}</string>
                <key>sourceSize</key>
                <string>{11,9}</string>
            </dict>
            <key>fairy_hangmu_2081:pop05.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{144,0},{77,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{77,50}}</string>
                <key>sourceSize</key>
                <string>{77,50}</string>
            </dict>
            <key>fairy_hangmu_2081:qw123.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{143,196},{78,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{78,40}}</string>
                <key>sourceSize</key>
                <string>{78,40}</string>
            </dict>
            <key>fairy_hangmu_2081:s90as.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{238,26},{7,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,8}}</string>
                <key>sourceSize</key>
                <string>{7,8}</string>
            </dict>
            <key>fairy_hangmu_2081:vasweq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{143,100},{63,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{63,51}}</string>
                <key>sourceSize</key>
                <string>{63,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>fairy_hangmu_2081.pvr.ccz</string>
            <key>size</key>
            <string>{256,245}</string>
            <key>textureFileName</key>
            <string>fairy_hangmu_2081.pvr.ccz</string>
        </dict>
    </dict>
</plist>
