<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairy_anheiyouhun_2014:a/bcbcvcb.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{399,383},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>fairy_anheiyouhun_2014:bnvnv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>fairy_anheiyouhun_2014:bv4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{101,361},{60,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{60,50}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>fairy_anheiyouhun_2014:c4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{195,274},{101,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{101,75}}</string>
                <key>sourceSize</key>
                <string>{101,75}</string>
            </dict>
            <key>fairy_anheiyouhun_2014:g1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{336,86},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>fairy_anheiyouhun_2014:nbn6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{101,306},{64,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{64,53}}</string>
                <key>sourceSize</key>
                <string>{64,53}</string>
            </dict>
            <key>fairy_anheiyouhun_2014:vcxv1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{431,256},{65,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{65,54}}</string>
                <key>sourceSize</key>
                <string>{65,54}</string>
            </dict>
            <key>fairy_anheiyouhun_2014:vxc3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,382},{60,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{60,49}}</string>
                <key>sourceSize</key>
                <string>{60,49}</string>
            </dict>
            <key>fairy_anheiyouhun_2014:vxv2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{62,413},{57,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{57,46}}</string>
                <key>sourceSize</key>
                <string>{57,46}</string>
            </dict>
            <key>fairy_anheiyouhun_2014:za/t1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{455,383},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>fairy_anheiyouhun_2014:za/t2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{431,185},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>fairy_anheiyouhun_2014:za/t3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,211},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>fairy_anheiyouhun_2014:za/t4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{115,0},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>fairy_anheiyouhun_2014:zs/y1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{115,114},{104,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{104,93}}</string>
                <key>sourceSize</key>
                <string>{104,93}</string>
            </dict>
            <key>fairy_anheiyouhun_2014:zs/y10.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{229,86},{105,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{105,94}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>fairy_anheiyouhun_2014:zs/y13.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{326,185},{103,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{103,88}}</string>
                <key>sourceSize</key>
                <string>{103,88}</string>
            </dict>
            <key>fairy_anheiyouhun_2014:zs/y21.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,305},{99,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{99,75}}</string>
                <key>sourceSize</key>
                <string>{99,75}</string>
            </dict>
            <key>fairy_anheiyouhun_2014:zs/y25.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{298,350},{99,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{99,69}}</string>
                <key>sourceSize</key>
                <string>{99,69}</string>
            </dict>
            <key>fairy_anheiyouhun_2014:zs/y33.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{401,312},{99,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{99,69}}</string>
                <key>sourceSize</key>
                <string>{99,69}</string>
            </dict>
            <key>fairy_anheiyouhun_2014:zs/y42.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{103,209},{90,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{90,95}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>fairy_anheiyouhun_2014:zs/y44.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,115},{101,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{101,94}}</string>
                <key>sourceSize</key>
                <string>{101,94}</string>
            </dict>
            <key>fairy_anheiyouhun_2014:zs/y45.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{229,0},{138,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{138,84}}</string>
                <key>sourceSize</key>
                <string>{138,84}</string>
            </dict>
            <key>fairy_anheiyouhun_2014:zs/y5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{221,182},{103,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{103,90}}</string>
                <key>sourceSize</key>
                <string>{103,90}</string>
            </dict>
            <key>fairy_anheiyouhun_2014:zs/y54.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{167,351},{94,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{94,64}}</string>
                <key>sourceSize</key>
                <string>{94,64}</string>
            </dict>
            <key>fairy_anheiyouhun_2014:zs/y55.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{298,275},{101,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{101,73}}</string>
                <key>sourceSize</key>
                <string>{101,73}</string>
            </dict>
            <key>fairy_anheiyouhun_2014:zs/y57.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{369,0},{121,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{121,88}}</string>
                <key>sourceSize</key>
                <string>{121,88}</string>
            </dict>
            <key>fairy_anheiyouhun_2014:zs/y9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{361,90},{105,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{105,93}}</string>
                <key>sourceSize</key>
                <string>{105,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>fairy_anheiyouhun_2014.pvr.ccz</string>
            <key>size</key>
            <string>{503,458}</string>
            <key>textureFileName</key>
            <string>fairy_anheiyouhun_2014.pvr.ccz</string>
        </dict>
    </dict>
</plist>
