<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairy_yifu_2058:0oifqwp.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{201,55},{49,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{49,51}}</string>
                <key>sourceSize</key>
                <string>{49,51}</string>
            </dict>
            <key>fairy_yifu_2058:0qw9sa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{70,0},{64,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{64,58}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>fairy_yifu_2058:87qw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{170,155},{27,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,18}}</string>
                <key>sourceSize</key>
                <string>{27,18}</string>
            </dict>
            <key>fairy_yifu_2058:982qw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,63},{49,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{49,48}}</string>
                <key>sourceSize</key>
                <string>{49,48}</string>
            </dict>
            <key>fairy_yifu_2058:98qwer.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{136,56},{54,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{54,49}}</string>
                <key>sourceSize</key>
                <string>{54,49}</string>
            </dict>
            <key>fairy_yifu_2058:cas51.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{40,113},{23,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,28}}</string>
                <key>sourceSize</key>
                <string>{23,28}</string>
            </dict>
            <key>fairy_yifu_2058:casq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{146,158},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,18}</string>
            </dict>
            <key>fairy_yifu_2058:casq42.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{192,56},{7,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,11}}</string>
                <key>sourceSize</key>
                <string>{7,11}</string>
            </dict>
            <key>fairy_yifu_2058:casq4q.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{88,159},{20,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,16}}</string>
                <key>sourceSize</key>
                <string>{20,16}</string>
            </dict>
            <key>fairy_yifu_2058:casqe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{65,143},{47,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{47,14}}</string>
                <key>sourceSize</key>
                <string>{47,14}</string>
            </dict>
            <key>fairy_yifu_2058:casqq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{199,158},{25,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,18}}</string>
                <key>sourceSize</key>
                <string>{25,18}</string>
            </dict>
            <key>fairy_yifu_2058:casqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{200,143},{43,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,13}}</string>
                <key>sourceSize</key>
                <string>{43,13}</string>
            </dict>
            <key>fairy_yifu_2058:casqweq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{200,108},{37,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,33}}</string>
                <key>sourceSize</key>
                <string>{37,33}</string>
            </dict>
            <key>fairy_yifu_2058:casqwerq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{65,106},{58,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,35}}</string>
                <key>sourceSize</key>
                <string>{58,35}</string>
            </dict>
            <key>fairy_yifu_2058:ciasuq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,113},{38,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,31}}</string>
                <key>sourceSize</key>
                <string>{38,31}</string>
            </dict>
            <key>fairy_yifu_2058:dqw13.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{40,143},{23,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,15}}</string>
                <key>sourceSize</key>
                <string>{23,15}</string>
            </dict>
            <key>fairy_yifu_2058:dqwerq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{51,103},{12,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,7}}</string>
                <key>sourceSize</key>
                <string>{12,7}</string>
            </dict>
            <key>fairy_yifu_2058:iop6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{127,60},{6,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{6,12}}</string>
                <key>sourceSize</key>
                <string>{6,12}</string>
            </dict>
            <key>fairy_yifu_2058:iquw8sa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{68,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,61}}</string>
                <key>sourceSize</key>
                <string>{68,61}</string>
            </dict>
            <key>fairy_yifu_2058:kcjasi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{51,63},{14,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,18}}</string>
                <key>sourceSize</key>
                <string>{14,18}</string>
            </dict>
            <key>fairy_yifu_2058:kqjwisa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{136,0},{63,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{63,54}}</string>
                <key>sourceSize</key>
                <string>{63,54}</string>
            </dict>
            <key>fairy_yifu_2058:qjwiusa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{201,0},{52,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{52,53}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>fairy_yifu_2058:qkwjisa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{170,107},{28,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,46}}</string>
                <key>sourceSize</key>
                <string>{28,46}</string>
            </dict>
            <key>fairy_yifu_2058:qwe4q.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{226,158},{26,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,16}}</string>
                <key>sourceSize</key>
                <string>{26,16}</string>
            </dict>
            <key>fairy_yifu_2058:qwois9a.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{135,107},{33,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,49}}</string>
                <key>sourceSize</key>
                <string>{33,49}</string>
            </dict>
            <key>fairy_yifu_2058:qwuiusa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{70,60},{55,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,44}}</string>
                <key>sourceSize</key>
                <string>{55,44}</string>
            </dict>
            <key>fairy_yifu_2058:sacaw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{114,158},{30,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,15}}</string>
                <key>sourceSize</key>
                <string>{30,15}</string>
            </dict>
            <key>fairy_yifu_2058:u8q7we.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{65,159},{21,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,15}}</string>
                <key>sourceSize</key>
                <string>{21,15}</string>
            </dict>
            <key>fairy_yifu_2058:uyq7w2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,146},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>fairy_yifu_2058:wer2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{51,83},{9,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,18}}</string>
                <key>sourceSize</key>
                <string>{9,18}</string>
            </dict>
            <key>fairy_yifu_2058:xascqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{125,106},{8,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{8,10}}</string>
                <key>sourceSize</key>
                <string>{8,10}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>fairy_yifu_2058.pvr.ccz</string>
            <key>size</key>
            <string>{253,178}</string>
            <key>textureFileName</key>
            <string>fairy_yifu_2058.pvr.ccz</string>
        </dict>
    </dict>
</plist>
