<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairy_yitianjian_2092:casq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{151,97},{47,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{47,15}}</string>
                <key>sourceSize</key>
                <string>{47,15}</string>
            </dict>
            <key>fairy_yitianjian_2092:casqerq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,91},{48,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{48,14}}</string>
                <key>sourceSize</key>
                <string>{48,14}</string>
            </dict>
            <key>fairy_yitianjian_2092:casqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{239,0},{10,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,43}}</string>
                <key>sourceSize</key>
                <string>{10,43}</string>
            </dict>
            <key>fairy_yitianjian_2092:casqweq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{151,0},{29,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,95}}</string>
                <key>sourceSize</key>
                <string>{29,95}</string>
            </dict>
            <key>fairy_yitianjian_2092:casqweqe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{200,99},{46,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,14}}</string>
                <key>sourceSize</key>
                <string>{46,14}</string>
            </dict>
            <key>fairy_yitianjian_2092:casqweqq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,76},{49,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{49,13}}</string>
                <key>sourceSize</key>
                <string>{49,13}</string>
            </dict>
            <key>fairy_yitianjian_2092:casqwerq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{76,0},{73,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{73,55}}</string>
                <key>sourceSize</key>
                <string>{73,55}</string>
            </dict>
            <key>fairy_yitianjian_2092:casvatq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{182,33},{48,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{48,15}}</string>
                <key>sourceSize</key>
                <string>{48,15}</string>
            </dict>
            <key>fairy_yitianjian_2092:ciausqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{51,76},{10,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,18}}</string>
                <key>sourceSize</key>
                <string>{10,18}</string>
            </dict>
            <key>fairy_yitianjian_2092:dqwi9eq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{76,57},{73,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{73,48}}</string>
                <key>sourceSize</key>
                <string>{73,48}</string>
            </dict>
            <key>fairy_yitianjian_2092:iuq8ws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{63,76},{6,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{6,16}}</string>
                <key>sourceSize</key>
                <string>{6,16}</string>
            </dict>
            <key>fairy_yitianjian_2092:jucqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{229,77},{7,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,13}}</string>
                <key>sourceSize</key>
                <string>{7,13}</string>
            </dict>
            <key>fairy_yitianjian_2092:judwq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{182,50},{26,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,37}}</string>
                <key>sourceSize</key>
                <string>{26,37}</string>
            </dict>
            <key>fairy_yitianjian_2092:jweqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>fairy_yitianjian_2092:oidqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{182,0},{55,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,31}}</string>
                <key>sourceSize</key>
                <string>{55,31}</string>
            </dict>
            <key>fairy_yitianjian_2092:qjwusa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{238,77},{9,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,7}}</string>
                <key>sourceSize</key>
                <string>{9,7}</string>
            </dict>
            <key>fairy_yitianjian_2092:u8qw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{210,73},{17,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,24}}</string>
                <key>sourceSize</key>
                <string>{17,24}</string>
            </dict>
            <key>fairy_yitianjian_2092:uqws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{210,50},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{20,21}</string>
            </dict>
            <key>fairy_yitianjian_2092:uqwsv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{232,45},{16,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,30}}</string>
                <key>sourceSize</key>
                <string>{16,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>fairy_yitianjian_2092.pvr.ccz</string>
            <key>size</key>
            <string>{251,113}</string>
            <key>textureFileName</key>
            <string>fairy_yitianjian_2092.pvr.ccz</string>
        </dict>
    </dict>
</plist>
