<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairy_zixia_2119:b1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{484,201},{24,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,29}}</string>
                <key>sourceSize</key>
                <string>{24,29}</string>
            </dict>
            <key>fairy_zixia_2119:b2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{348,154},{10,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,29}}</string>
                <key>sourceSize</key>
                <string>{10,29}</string>
            </dict>
            <key>fairy_zixia_2119:b3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{166,201},{28,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,33}}</string>
                <key>sourceSize</key>
                <string>{28,33}</string>
            </dict>
            <key>fairy_zixia_2119:b4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{363,203},{27,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,32}}</string>
                <key>sourceSize</key>
                <string>{27,32}</string>
            </dict>
            <key>fairy_zixia_2119:dsdadada/q2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{365,120},{93,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{93,81}}</string>
                <key>sourceSize</key>
                <string>{93,81}</string>
            </dict>
            <key>fairy_zixia_2119:dsdadada/q3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{365,0},{124,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{124,118}}</string>
                <key>sourceSize</key>
                <string>{124,118}</string>
            </dict>
            <key>fairy_zixia_2119:fa1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{460,166},{22,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,35}}</string>
                <key>sourceSize</key>
                <string>{22,35}</string>
            </dict>
            <key>fairy_zixia_2119:fa2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{491,36},{16,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,31}}</string>
                <key>sourceSize</key>
                <string>{16,31}</string>
            </dict>
            <key>fairy_zixia_2119:fa3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{255,154},{49,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{49,55}}</string>
                <key>sourceSize</key>
                <string>{49,55}</string>
            </dict>
            <key>fairy_zixia_2119:fa4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{306,154},{40,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,57}}</string>
                <key>sourceSize</key>
                <string>{40,57}</string>
            </dict>
            <key>fairy_zixia_2119:jiao3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{491,0},{15,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,34}}</string>
                <key>sourceSize</key>
                <string>{15,34}</string>
            </dict>
            <key>fairy_zixia_2119:kuzi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{348,211},{12,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,11}}</string>
                <key>sourceSize</key>
                <string>{12,11}</string>
            </dict>
            <key>fairy_zixia_2119:nbnvnvn.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{195,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{195,199}}</string>
                <key>sourceSize</key>
                <string>{195,199}</string>
            </dict>
            <key>fairy_zixia_2119:q2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{46,201},{49,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{49,33}}</string>
                <key>sourceSize</key>
                <string>{49,33}</string>
            </dict>
            <key>fairy_zixia_2119:q3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{97,201},{30,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,38}}</string>
                <key>sourceSize</key>
                <string>{30,38}</string>
            </dict>
            <key>fairy_zixia_2119:q4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{197,0},{166,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{166,152}}</string>
                <key>sourceSize</key>
                <string>{166,152}</string>
            </dict>
            <key>fairy_zixia_2119:q5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{484,171},{25,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,28}}</string>
                <key>sourceSize</key>
                <string>{25,28}</string>
            </dict>
            <key>fairy_zixia_2119:q6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{491,69},{18,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,28}}</string>
                <key>sourceSize</key>
                <string>{18,28}</string>
            </dict>
            <key>fairy_zixia_2119:qu1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,201},{44,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{44,52}}</string>
                <key>sourceSize</key>
                <string>{44,52}</string>
            </dict>
            <key>fairy_zixia_2119:qu6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{460,120},{26,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,44}}</string>
                <key>sourceSize</key>
                <string>{26,44}</string>
            </dict>
            <key>fairy_zixia_2119:qu7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{488,128},{21,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,41}}</string>
                <key>sourceSize</key>
                <string>{21,41}</string>
            </dict>
            <key>fairy_zixia_2119:shenti1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{392,203},{22,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,25}}</string>
                <key>sourceSize</key>
                <string>{22,25}</string>
            </dict>
            <key>fairy_zixia_2119:shenti2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{416,203},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
            <key>fairy_zixia_2119:shou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{460,203},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
            <key>fairy_zixia_2119:shou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{196,209},{20,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,16}}</string>
                <key>sourceSize</key>
                <string>{20,16}</string>
            </dict>
            <key>fairy_zixia_2119:shou3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{218,209},{19,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,16}}</string>
                <key>sourceSize</key>
                <string>{19,16}</string>
            </dict>
            <key>fairy_zixia_2119:shoubi1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{239,209},{13,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,16}}</string>
                <key>sourceSize</key>
                <string>{13,16}</string>
            </dict>
            <key>fairy_zixia_2119:shoubi2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{254,211},{17,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,12}}</string>
                <key>sourceSize</key>
                <string>{17,12}</string>
            </dict>
            <key>fairy_zixia_2119:shoubi3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{273,211},{16,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,13}}</string>
                <key>sourceSize</key>
                <string>{16,13}</string>
            </dict>
            <key>fairy_zixia_2119:tou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{129,201},{35,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,30}}</string>
                <key>sourceSize</key>
                <string>{35,30}</string>
            </dict>
            <key>fairy_zixia_2119:tui1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{348,185},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>fairy_zixia_2119:tui2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{291,211},{8,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{8,21}}</string>
                <key>sourceSize</key>
                <string>{8,21}</string>
            </dict>
            <key>fairy_zixia_2119:tui3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{491,99},{14,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,27}}</string>
                <key>sourceSize</key>
                <string>{14,27}</string>
            </dict>
            <key>fairy_zixia_2119:tui4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{438,203},{20,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,23}}</string>
                <key>sourceSize</key>
                <string>{20,23}</string>
            </dict>
            <key>fairy_zixia_2119:wuqi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{197,154},{56,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{56,53}}</string>
                <key>sourceSize</key>
                <string>{56,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>fairy_zixia_2119.pvr.ccz</string>
            <key>size</key>
            <string>{511,253}</string>
            <key>textureFileName</key>
            <string>fairy_zixia_2119.pvr.ccz</string>
        </dict>
    </dict>
</plist>
