<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairy_anheimodaoshi_2107:Btou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{140,31},{36,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{36,54}}</string>
                <key>sourceSize</key>
                <string>{36,54}</string>
            </dict>
            <key>fairy_anheimodaoshi_2107:Byous.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{207,95},{14,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,18}}</string>
                <key>sourceSize</key>
                <string>{14,18}</string>
            </dict>
            <key>fairy_anheimodaoshi_2107:Bzuoshou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{178,84},{16,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,18}}</string>
                <key>sourceSize</key>
                <string>{16,18}</string>
            </dict>
            <key>fairy_anheimodaoshi_2107:Fhoubi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{196,84},{9,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,14}}</string>
                <key>sourceSize</key>
                <string>{9,14}</string>
            </dict>
            <key>fairy_anheimodaoshi_2107:Fjian1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{49,86},{55,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,21}}</string>
                <key>sourceSize</key>
                <string>{55,21}</string>
            </dict>
            <key>fairy_anheimodaoshi_2107:Fjian2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{178,31},{28,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>fairy_anheimodaoshi_2107:Fjian3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{49,55},{57,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{57,29}}</string>
                <key>sourceSize</key>
                <string>{57,29}</string>
            </dict>
            <key>fairy_anheimodaoshi_2107:Fmozhang.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{47,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{47,128}}</string>
                <key>sourceSize</key>
                <string>{47,128}</string>
            </dict>
            <key>fairy_anheimodaoshi_2107:Fpifeng.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{208,54},{37,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,39}}</string>
                <key>sourceSize</key>
                <string>{37,39}</string>
            </dict>
            <key>fairy_anheimodaoshi_2107:Fshangshen.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{178,64},{21,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,18}}</string>
                <key>sourceSize</key>
                <string>{21,18}</string>
            </dict>
            <key>fairy_anheimodaoshi_2107:Ftou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{212,0},{38,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,52}}</string>
                <key>sourceSize</key>
                <string>{38,52}</string>
            </dict>
            <key>fairy_anheimodaoshi_2107:Fyaodai.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{223,95},{18,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,13}}</string>
                <key>sourceSize</key>
                <string>{18,13}</string>
            </dict>
            <key>fairy_anheimodaoshi_2107:Fyouqianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{127,76},{11,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,17}}</string>
                <key>sourceSize</key>
                <string>{11,17}</string>
            </dict>
            <key>fairy_anheimodaoshi_2107:Fyoushou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{106,99},{12,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,15}}</string>
                <key>sourceSize</key>
                <string>{12,15}</string>
            </dict>
            <key>fairy_anheimodaoshi_2107:Fzuoqianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{140,87},{13,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,21}}</string>
                <key>sourceSize</key>
                <string>{13,21}</string>
            </dict>
            <key>fairy_anheimodaoshi_2107:Fzuoshou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{155,87},{15,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,18}}</string>
                <key>sourceSize</key>
                <string>{15,18}</string>
            </dict>
            <key>fairy_anheimodaoshi_2107:bdfj.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{49,109},{48,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{48,17}}</string>
                <key>sourceSize</key>
                <string>{48,17}</string>
            </dict>
            <key>fairy_anheimodaoshi_2107:bfdnh.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{108,76},{17,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,21}}</string>
                <key>sourceSize</key>
                <string>{17,21}</string>
            </dict>
            <key>fairy_anheimodaoshi_2107:bgrsd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{135,110},{13,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,8}}</string>
                <key>sourceSize</key>
                <string>{13,8}</string>
            </dict>
            <key>fairy_anheimodaoshi_2107:bgwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{140,0},{70,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,29}}</string>
                <key>sourceSize</key>
                <string>{70,29}</string>
            </dict>
            <key>fairy_anheimodaoshi_2107:cadf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{127,95},{11,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,12}}</string>
                <key>sourceSize</key>
                <string>{11,12}</string>
            </dict>
            <key>fairy_anheimodaoshi_2107:cvdfe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{188,104},{14,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,9}}</string>
                <key>sourceSize</key>
                <string>{14,9}</string>
            </dict>
            <key>fairy_anheimodaoshi_2107:ger.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{120,109},{13,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,8}}</string>
                <key>sourceSize</key>
                <string>{13,8}</string>
            </dict>
            <key>fairy_anheimodaoshi_2107:mhwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{172,104},{14,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,9}}</string>
                <key>sourceSize</key>
                <string>{14,9}</string>
            </dict>
            <key>fairy_anheimodaoshi_2107:opwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{223,110},{13,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,8}}</string>
                <key>sourceSize</key>
                <string>{13,8}</string>
            </dict>
            <key>fairy_anheimodaoshi_2107:qun.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{49,0},{89,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{89,53}}</string>
                <key>sourceSize</key>
                <string>{89,53}</string>
            </dict>
            <key>fairy_anheimodaoshi_2107:qunhuashi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{108,55},{21,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,19}}</string>
                <key>sourceSize</key>
                <string>{21,19}</string>
            </dict>
            <key>fairy_anheimodaoshi_2107:qwqs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{99,120},{63,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{63,19}}</string>
                <key>sourceSize</key>
                <string>{63,19}</string>
            </dict>
            <key>fairy_anheimodaoshi_2107:vewe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{155,107},{13,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,9}}</string>
                <key>sourceSize</key>
                <string>{13,9}</string>
            </dict>
            <key>fairy_anheimodaoshi_2107:vfbf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{170,115},{49,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{49,15}}</string>
                <key>sourceSize</key>
                <string>{49,15}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>fairy_anheimodaoshi_2107.pvr.ccz</string>
            <key>size</key>
            <string>{252,142}</string>
            <key>textureFileName</key>
            <string>fairy_anheimodaoshi_2107.pvr.ccz</string>
        </dict>
    </dict>
</plist>
