<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairy_captain_2109:duenpai1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{138,107},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>fairy_captain_2109:duenpai2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,135},{90,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{90,39}}</string>
                <key>sourceSize</key>
                <string>{90,39}</string>
            </dict>
            <key>fairy_captain_2109:hujian1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{346,121},{16,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,13}}</string>
                <key>sourceSize</key>
                <string>{16,13}</string>
            </dict>
            <key>fairy_captain_2109:jianb0.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{208,129},{15,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,13}}</string>
                <key>sourceSize</key>
                <string>{15,13}</string>
            </dict>
            <key>fairy_captain_2109:jiang1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{322,127},{22,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,15}}</string>
                <key>sourceSize</key>
                <string>{22,15}</string>
            </dict>
            <key>fairy_captain_2109:jiao1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{364,95},{34,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,31}}</string>
                <key>sourceSize</key>
                <string>{34,31}</string>
            </dict>
            <key>fairy_captain_2109:jiao11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{477,59},{24,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>fairy_captain_2109:jiao2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{245,100},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>fairy_captain_2109:jiao4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{323,100},{21,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,25}}</string>
                <key>sourceSize</key>
                <string>{21,25}</string>
            </dict>
            <key>fairy_captain_2109:k1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{245,0},{58,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,98}}</string>
                <key>sourceSize</key>
                <string>{58,98}</string>
            </dict>
            <key>fairy_captain_2109:k2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{305,0},{57,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{57,98}}</string>
                <key>sourceSize</key>
                <string>{57,98}</string>
            </dict>
            <key>fairy_captain_2109:k3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{420,92},{55,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,89}}</string>
                <key>sourceSize</key>
                <string>{55,89}</string>
            </dict>
            <key>fairy_captain_2109:k4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{364,0},{54,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{54,93}}</string>
                <key>sourceSize</key>
                <string>{54,93}</string>
            </dict>
            <key>fairy_captain_2109:k5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{420,0},{55,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,90}}</string>
                <key>sourceSize</key>
                <string>{55,90}</string>
            </dict>
            <key>fairy_captain_2109:kudang.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{364,128},{20,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,9}}</string>
                <key>sourceSize</key>
                <string>{20,9}</string>
            </dict>
            <key>fairy_captain_2109:kuzi11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{208,107},{24,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,20}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
            <key>fairy_captain_2109:q3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{138,0},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>fairy_captain_2109:q4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{136,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{136,133}}</string>
                <key>sourceSize</key>
                <string>{136,133}</string>
            </dict>
            <key>fairy_captain_2109:shenti1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{477,31},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>fairy_captain_2109:shenti3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{272,100},{21,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,28}}</string>
                <key>sourceSize</key>
                <string>{21,28}</string>
            </dict>
            <key>fairy_captain_2109:shou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{477,0},{27,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,29}}</string>
                <key>sourceSize</key>
                <string>{27,29}</string>
            </dict>
            <key>fairy_captain_2109:shou7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{400,95},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{18,20}</string>
            </dict>
            <key>fairy_captain_2109:shoubi2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{234,126},{20,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,19}}</string>
                <key>sourceSize</key>
                <string>{20,19}</string>
            </dict>
            <key>fairy_captain_2109:shoubi5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{346,100},{14,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,19}}</string>
                <key>sourceSize</key>
                <string>{14,19}</string>
            </dict>
            <key>fairy_captain_2109:shoubi9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{477,115},{22,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,20}}</string>
                <key>sourceSize</key>
                <string>{22,20}</string>
            </dict>
            <key>fairy_captain_2109:tou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{346,139},{69,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{69,56}}</string>
                <key>sourceSize</key>
                <string>{69,56}</string>
            </dict>
            <key>fairy_captain_2109:tou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{256,144},{71,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{71,51}}</string>
                <key>sourceSize</key>
                <string>{71,51}</string>
            </dict>
            <key>fairy_captain_2109:tui11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{295,122},{25,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,16}}</string>
                <key>sourceSize</key>
                <string>{25,16}</string>
            </dict>
            <key>fairy_captain_2109:tui12.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{295,100},{26,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,20}}</string>
                <key>sourceSize</key>
                <string>{26,20}</string>
            </dict>
            <key>fairy_captain_2109:tui21.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{477,89},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>fairy_captain_2109:tui22.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{400,117},{18,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,19}}</string>
                <key>sourceSize</key>
                <string>{18,19}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>fairy_captain_2109.pvr.ccz</string>
            <key>size</key>
            <string>{505,196}</string>
            <key>textureFileName</key>
            <string>fairy_captain_2109.pvr.ccz</string>
        </dict>
    </dict>
</plist>
