<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairy_hulk_2108:bbdf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{281,160},{79,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{79,52}}</string>
                <key>sourceSize</key>
                <string>{79,52}</string>
            </dict>
            <key>fairy_hulk_2108:beibao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{294,81},{91,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{91,77}}</string>
                <key>sourceSize</key>
                <string>{91,77}</string>
            </dict>
            <key>fairy_hulk_2108:beibao2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{294,0},{97,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{97,79}}</string>
                <key>sourceSize</key>
                <string>{97,79}</string>
            </dict>
            <key>fairy_hulk_2108:beidai2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{488,40},{11,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,33}}</string>
                <key>sourceSize</key>
                <string>{11,33}</string>
            </dict>
            <key>fairy_hulk_2108:beidao1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{488,0},{18,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,38}}</string>
                <key>sourceSize</key>
                <string>{18,38}</string>
            </dict>
            <key>fairy_hulk_2108:jiao1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{241,276},{34,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,26}}</string>
                <key>sourceSize</key>
                <string>{34,26}</string>
            </dict>
            <key>fairy_hulk_2108:jiao2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{435,283},{29,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,24}}</string>
                <key>sourceSize</key>
                <string>{29,24}</string>
            </dict>
            <key>fairy_hulk_2108:jiao4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{125,209},{38,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,36}}</string>
                <key>sourceSize</key>
                <string>{38,36}</string>
            </dict>
            <key>fairy_hulk_2108:jiao5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{138,154},{26,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,27}}</string>
                <key>sourceSize</key>
                <string>{26,27}</string>
            </dict>
            <key>fairy_hulk_2108:kuzi1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{57,209},{66,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{66,43}}</string>
                <key>sourceSize</key>
                <string>{66,43}</string>
            </dict>
            <key>fairy_hulk_2108:kuzi4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{281,214},{64,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{64,41}}</string>
                <key>sourceSize</key>
                <string>{64,41}</string>
            </dict>
            <key>fairy_hulk_2108:nnbd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{446,179},{64,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{64,51}}</string>
                <key>sourceSize</key>
                <string>{64,51}</string>
            </dict>
            <key>fairy_hulk_2108:p1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{446,83},{57,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{57,94}}</string>
                <key>sourceSize</key>
                <string>{57,94}</string>
            </dict>
            <key>fairy_hulk_2108:p2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{387,83},{57,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{57,98}}</string>
                <key>sourceSize</key>
                <string>{57,98}</string>
            </dict>
            <key>fairy_hulk_2108:p3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,154},{55,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,89}}</string>
                <key>sourceSize</key>
                <string>{55,89}</string>
            </dict>
            <key>fairy_hulk_2108:p6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{168,129},{54,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{54,93}}</string>
                <key>sourceSize</key>
                <string>{54,93}</string>
            </dict>
            <key>fairy_hulk_2108:p9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{224,129},{55,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,90}}</string>
                <key>sourceSize</key>
                <string>{55,90}</string>
            </dict>
            <key>fairy_hulk_2108:q2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{393,0},{93,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{93,81}}</string>
                <key>sourceSize</key>
                <string>{93,81}</string>
            </dict>
            <key>fairy_hulk_2108:q3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{168,0},{124,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{124,127}}</string>
                <key>sourceSize</key>
                <string>{124,127}</string>
            </dict>
            <key>fairy_hulk_2108:q4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{166,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{166,152}}</string>
                <key>sourceSize</key>
                <string>{166,152}</string>
            </dict>
            <key>fairy_hulk_2108:qwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{57,154},{79,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{79,53}}</string>
                <key>sourceSize</key>
                <string>{79,53}</string>
            </dict>
            <key>fairy_hulk_2108:shenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{435,232},{51,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{51,49}}</string>
                <key>sourceSize</key>
                <string>{51,49}</string>
            </dict>
            <key>fairy_hulk_2108:shenti4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{224,221},{52,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{52,53}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>fairy_hulk_2108:shobi4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{403,241},{30,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,43}}</string>
                <key>sourceSize</key>
                <string>{30,43}</string>
            </dict>
            <key>fairy_hulk_2108:shoubi1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{47,254},{49,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{49,41}}</string>
                <key>sourceSize</key>
                <string>{49,41}</string>
            </dict>
            <key>fairy_hulk_2108:shoubi2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{278,257},{43,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,47}}</string>
                <key>sourceSize</key>
                <string>{43,47}</string>
            </dict>
            <key>fairy_hulk_2108:shoubi3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{209,276},{30,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,34}}</string>
                <key>sourceSize</key>
                <string>{30,34}</string>
            </dict>
            <key>fairy_hulk_2108:shoubi6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{125,247},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>fairy_hulk_2108:shoubi8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{165,224},{42,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{42,62}}</string>
                <key>sourceSize</key>
                <string>{42,62}</string>
            </dict>
            <key>fairy_hulk_2108:tou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,245},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>fairy_hulk_2108:zxcav.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{347,241},{54,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{54,45}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>fairy_hulk_2108:zxvs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{362,183},{71,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{71,56}}</string>
                <key>sourceSize</key>
                <string>{71,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>fairy_hulk_2108.pvr.ccz</string>
            <key>size</key>
            <string>{512,310}</string>
            <key>textureFileName</key>
            <string>fairy_hulk_2108.pvr.ccz</string>
        </dict>
    </dict>
</plist>
