<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairy_tianshiguodong_2004:bolishen1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{224,360},{65,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{65,59}}</string>
                <key>sourceSize</key>
                <string>{65,59}</string>
            </dict>
            <key>fairy_tianshiguodong_2004:bolishen2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{150,360},{71,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{71,53}}</string>
                <key>sourceSize</key>
                <string>{71,53}</string>
            </dict>
            <key>fairy_tianshiguodong_2004:bvnbvnv 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{212,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{212,215}}</string>
                <key>sourceSize</key>
                <string>{212,215}</string>
            </dict>
            <key>fairy_tianshiguodong_2004:c1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{376,203},{23,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,29}}</string>
                <key>sourceSize</key>
                <string>{23,29}</string>
            </dict>
            <key>fairy_tianshiguodong_2004:c2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{150,218},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>fairy_tianshiguodong_2004:c3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{179,218},{26,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,24}}</string>
                <key>sourceSize</key>
                <string>{26,24}</string>
            </dict>
            <key>fairy_tianshiguodong_2004:c4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{376,235},{26,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,23}}</string>
                <key>sourceSize</key>
                <string>{26,23}</string>
            </dict>
            <key>fairy_tianshiguodong_2004:t11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{376,285},{95,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{95,99}}</string>
                <key>sourceSize</key>
                <string>{95,99}</string>
            </dict>
            <key>fairy_tianshiguodong_2004:t13.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,218},{147,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{147,147}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>fairy_tianshiguodong_2004:t15.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{215,0},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>fairy_tianshiguodong_2004:t17.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{215,203},{158,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{158,154}}</string>
                <key>sourceSize</key>
                <string>{158,154}</string>
            </dict>
            <key>fairy_tianshiguodong_2004:t5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{418,100},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>fairy_tianshiguodong_2004:t7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{418,194},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>fairy_tianshiguodong_2004:t9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{418,0},{91,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{91,97}}</string>
                <key>sourceSize</key>
                <string>{91,97}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>fairy_tianshiguodong_2004.pvr.ccz</string>
            <key>size</key>
            <string>{509,417}</string>
            <key>textureFileName</key>
            <string>fairy_tianshiguodong_2004.pvr.ccz</string>
        </dict>
    </dict>
</plist>
