<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairy_zhizhunvhuang_2036:b1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{324,196},{24,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,29}}</string>
                <key>sourceSize</key>
                <string>{24,29}</string>
            </dict>
            <key>fairy_zhizhunvhuang_2036:b2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{496,28},{10,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,29}}</string>
                <key>sourceSize</key>
                <string>{10,29}</string>
            </dict>
            <key>fairy_zhizhunvhuang_2036:b3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{462,105},{28,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,33}}</string>
                <key>sourceSize</key>
                <string>{28,33}</string>
            </dict>
            <key>fairy_zhizhunvhuang_2036:b4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{119,216},{27,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,32}}</string>
                <key>sourceSize</key>
                <string>{27,32}</string>
            </dict>
            <key>fairy_zhizhunvhuang_2036:baoshi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{495,86},{12,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,21}}</string>
                <key>sourceSize</key>
                <string>{12,21}</string>
            </dict>
            <key>fairy_zhizhunvhuang_2036:cib1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{284,147},{59,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{59,47}}</string>
                <key>sourceSize</key>
                <string>{59,47}</string>
            </dict>
            <key>fairy_zhizhunvhuang_2036:cib3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{389,201},{35,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,36}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
            <key>fairy_zhizhunvhuang_2036:dasdasd/fyoujiao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{496,59},{9,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,25}}</string>
                <key>sourceSize</key>
                <string>{9,25}</string>
            </dict>
            <key>fairy_zhizhunvhuang_2036:f1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{350,0},{110,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{110,108}}</string>
                <key>sourceSize</key>
                <string>{110,108}</string>
            </dict>
            <key>fairy_zhizhunvhuang_2036:f2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{200,147},{82,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{82,74}}</string>
                <key>sourceSize</key>
                <string>{82,74}</string>
            </dict>
            <key>fairy_zhizhunvhuang_2036:f3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{350,110},{90,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{90,89}}</string>
                <key>sourceSize</key>
                <string>{90,89}</string>
            </dict>
            <key>fairy_zhizhunvhuang_2036:f4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,176},{75,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{75,62}}</string>
                <key>sourceSize</key>
                <string>{75,62}</string>
            </dict>
            <key>fairy_zhizhunvhuang_2036:f5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{200,0},{148,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{148,145}}</string>
                <key>sourceSize</key>
                <string>{148,145}</string>
            </dict>
            <key>fairy_zhizhunvhuang_2036:f6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{462,0},{32,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,66}}</string>
                <key>sourceSize</key>
                <string>{32,66}</string>
            </dict>
            <key>fairy_zhizhunvhuang_2036:f7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{198,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{198,174}}</string>
                <key>sourceSize</key>
                <string>{198,174}</string>
            </dict>
            <key>fairy_zhizhunvhuang_2036:fyoujiao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{456,125},{4,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{4,12}}</string>
                <key>sourceSize</key>
                <string>{4,12}</string>
            </dict>
            <key>fairy_zhizhunvhuang_2036:qunzi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{442,142},{10,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,11}}</string>
                <key>sourceSize</key>
                <string>{10,11}</string>
            </dict>
            <key>fairy_zhizhunvhuang_2036:r1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{119,176},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>fairy_zhizhunvhuang_2036:r11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{77,217},{33,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,23}}</string>
                <key>sourceSize</key>
                <string>{33,23}</string>
            </dict>
            <key>fairy_zhizhunvhuang_2036:r12.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{222,223},{21,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,25}}</string>
                <key>sourceSize</key>
                <string>{21,25}</string>
            </dict>
            <key>fairy_zhizhunvhuang_2036:r13.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{496,0},{14,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,26}}</string>
                <key>sourceSize</key>
                <string>{14,26}</string>
            </dict>
            <key>fairy_zhizhunvhuang_2036:r14.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{245,223},{21,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,25}}</string>
                <key>sourceSize</key>
                <string>{21,25}</string>
            </dict>
            <key>fairy_zhizhunvhuang_2036:r2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{284,196},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>fairy_zhizhunvhuang_2036:r4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{462,68},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>fairy_zhizhunvhuang_2036:r5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{161,176},{37,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,39}}</string>
                <key>sourceSize</key>
                <string>{37,39}</string>
            </dict>
            <key>fairy_zhizhunvhuang_2036:shenti1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{268,236},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
            <key>fairy_zhizhunvhuang_2036:shenti4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,240},{21,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,17}}</string>
                <key>sourceSize</key>
                <string>{21,17}</string>
            </dict>
            <key>fairy_zhizhunvhuang_2036:shou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{199,223},{21,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,27}}</string>
                <key>sourceSize</key>
                <string>{21,27}</string>
            </dict>
            <key>fairy_zhizhunvhuang_2036:shou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{492,109},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>fairy_zhizhunvhuang_2036:shou4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{324,227},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
            <key>fairy_zhizhunvhuang_2036:shou5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{175,217},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>fairy_zhizhunvhuang_2036:shou6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{442,128},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>fairy_zhizhunvhuang_2036:shoubi2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{492,135},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>fairy_zhizhunvhuang_2036:shoubi4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{442,110},{12,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,16}}</string>
                <key>sourceSize</key>
                <string>{12,16}</string>
            </dict>
            <key>fairy_zhizhunvhuang_2036:tou3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{350,201},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>fairy_zhizhunvhuang_2036:vxvxcvx.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{426,214},{33,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,32}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>fairy_zhizhunvhuang_2036:x1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{389,239},{23,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,16}}</string>
                <key>sourceSize</key>
                <string>{23,16}</string>
            </dict>
            <key>fairy_zhizhunvhuang_2036:x2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{290,236},{23,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,17}}</string>
                <key>sourceSize</key>
                <string>{23,17}</string>
            </dict>
            <key>fairy_zhizhunvhuang_2036:x3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{148,217},{25,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,23}}</string>
                <key>sourceSize</key>
                <string>{25,23}</string>
            </dict>
            <key>fairy_zhizhunvhuang_2036:x4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{461,214},{33,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,31}}</string>
                <key>sourceSize</key>
                <string>{33,31}</string>
            </dict>
            <key>fairy_zhizhunvhuang_2036:x5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{456,140},{34,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,32}}</string>
                <key>sourceSize</key>
                <string>{34,32}</string>
            </dict>
            <key>fairy_zhizhunvhuang_2036:x6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{77,176},{40,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,39}}</string>
                <key>sourceSize</key>
                <string>{40,39}</string>
            </dict>
            <key>fairy_zhizhunvhuang_2036:xvcxvx.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{442,174},{48,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{48,38}}</string>
                <key>sourceSize</key>
                <string>{48,38}</string>
            </dict>
            <key>fairy_zhizhunvhuang_2036:zuojiao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{456,110},{4,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{4,13}}</string>
                <key>sourceSize</key>
                <string>{4,13}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>fairy_zhizhunvhuang_2036.pvr.ccz</string>
            <key>size</key>
            <string>{511,258}</string>
            <key>textureFileName</key>
            <string>fairy_zhizhunvhuang_2036.pvr.ccz</string>
        </dict>
    </dict>
</plist>
