<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairy_odin_2112:b1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{462,732},{27,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,30}}</string>
                <key>sourceSize</key>
                <string>{27,30}</string>
            </dict>
            <key>fairy_odin_2112:b2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1006,245},{13,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,29}}</string>
                <key>sourceSize</key>
                <string>{13,29}</string>
            </dict>
            <key>fairy_odin_2112:b3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{682,825},{31,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,34}}</string>
                <key>sourceSize</key>
                <string>{31,34}</string>
            </dict>
            <key>fairy_odin_2112:b4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{682,861},{29,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,32}}</string>
                <key>sourceSize</key>
                <string>{29,32}</string>
            </dict>
            <key>fairy_odin_2112:d1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{978,1003},{44,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{44,51}}</string>
                <key>sourceSize</key>
                <string>{44,51}</string>
            </dict>
            <key>fairy_odin_2112:d2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{678,895},{37,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,44}}</string>
                <key>sourceSize</key>
                <string>{37,44}</string>
            </dict>
            <key>fairy_odin_2112:d3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{630,894},{46,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{46,56}</string>
            </dict>
            <key>fairy_odin_2112:d4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{630,1007},{45,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,52}}</string>
                <key>sourceSize</key>
                <string>{45,52}</string>
            </dict>
            <key>fairy_odin_2112:d5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{915,1003},{61,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{61,66}}</string>
                <key>sourceSize</key>
                <string>{61,66}</string>
            </dict>
            <key>fairy_odin_2112:d6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{942,926},{66,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{66,75}}</string>
                <key>sourceSize</key>
                <string>{66,75}</string>
            </dict>
            <key>fairy_odin_2112:d7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{329,1020},{43,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,49}}</string>
                <key>sourceSize</key>
                <string>{43,49}</string>
            </dict>
            <key>fairy_odin_2112:d8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{787,963},{62,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{62,70}}</string>
                <key>sourceSize</key>
                <string>{62,70}</string>
            </dict>
            <key>fairy_odin_2112:d9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{630,952},{45,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,53}}</string>
                <key>sourceSize</key>
                <string>{45,53}</string>
            </dict>
            <key>fairy_odin_2112:f1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{745,488},{260,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{260,225}}</string>
                <key>sourceSize</key>
                <string>{260,225}</string>
            </dict>
            <key>fairy_odin_2112:f10.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{516,0},{249,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{249,243}}</string>
                <key>sourceSize</key>
                <string>{249,243}</string>
            </dict>
            <key>fairy_odin_2112:f11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{767,0},{241,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{241,243}}</string>
                <key>sourceSize</key>
                <string>{241,243}</string>
            </dict>
            <key>fairy_odin_2112:f12.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{257,732},{203,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{203,217}}</string>
                <key>sourceSize</key>
                <string>{203,217}</string>
            </dict>
            <key>fairy_odin_2112:f13.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{719,715},{221,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{221,246}}</string>
                <key>sourceSize</key>
                <string>{221,246}</string>
            </dict>
            <key>fairy_odin_2112:f14.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,705},{225,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{225,243}}</string>
                <key>sourceSize</key>
                <string>{225,243}</string>
            </dict>
            <key>fairy_odin_2112:f15.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{266,0},{248,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{248,247}}</string>
                <key>sourceSize</key>
                <string>{248,247}</string>
            </dict>
            <key>fairy_odin_2112:f2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,471},{256,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{256,232}}</string>
                <key>sourceSize</key>
                <string>{256,232}</string>
            </dict>
            <key>fairy_odin_2112:f3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{767,245},{237,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{237,241}}</string>
                <key>sourceSize</key>
                <string>{237,241}</string>
            </dict>
            <key>fairy_odin_2112:f4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{258,487},{232,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{232,243}}</string>
                <key>sourceSize</key>
                <string>{232,243}</string>
            </dict>
            <key>fairy_odin_2112:f5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{516,245},{227,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{227,254}}</string>
                <key>sourceSize</key>
                <string>{227,254}</string>
            </dict>
            <key>fairy_odin_2112:f6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{492,501},{225,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{225,243}}</string>
                <key>sourceSize</key>
                <string>{225,243}</string>
            </dict>
            <key>fairy_odin_2112:f7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{266,249},{241,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{241,236}}</string>
                <key>sourceSize</key>
                <string>{241,236}</string>
            </dict>
            <key>fairy_odin_2112:f8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,242},{264,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{264,227}}</string>
                <key>sourceSize</key>
                <string>{264,227}</string>
            </dict>
            <key>fairy_odin_2112:f9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{264,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{264,240}}</string>
                <key>sourceSize</key>
                <string>{264,240}</string>
            </dict>
            <key>fairy_odin_2112:houqi21.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{719,501},{24,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,51}}</string>
                <key>sourceSize</key>
                <string>{24,51}</string>
            </dict>
            <key>fairy_odin_2112:houqun11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{713,963},{72,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{72,63}}</string>
                <key>sourceSize</key>
                <string>{72,63}</string>
            </dict>
            <key>fairy_odin_2112:jianbang11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{851,963},{62,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{62,65}}</string>
                <key>sourceSize</key>
                <string>{62,65}</string>
            </dict>
            <key>fairy_odin_2112:jianbang51.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{682,785},{33,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,38}}</string>
                <key>sourceSize</key>
                <string>{33,38}</string>
            </dict>
            <key>fairy_odin_2112:jiao11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{745,245},{20,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,27}}</string>
                <key>sourceSize</key>
                <string>{20,27}</string>
            </dict>
            <key>fairy_odin_2112:jiao21.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{745,302},{17,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,25}}</string>
                <key>sourceSize</key>
                <string>{17,25}</string>
            </dict>
            <key>fairy_odin_2112:jiao31.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{745,329},{19,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,22}}</string>
                <key>sourceSize</key>
                <string>{19,22}</string>
            </dict>
            <key>fairy_odin_2112:q2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{126,950},{98,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{98,90}}</string>
                <key>sourceSize</key>
                <string>{98,90}</string>
            </dict>
            <key>fairy_odin_2112:q3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,950},{124,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{124,132}}</string>
                <key>sourceSize</key>
                <string>{124,132}</string>
            </dict>
            <key>fairy_odin_2112:q4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{462,894},{166,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{166,160}}</string>
                <key>sourceSize</key>
                <string>{166,160}</string>
            </dict>
            <key>fairy_odin_2112:qunzi1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{329,951},{100,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{100,67}}</string>
                <key>sourceSize</key>
                <string>{100,67}</string>
            </dict>
            <key>fairy_odin_2112:qunzi21.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{226,951},{101,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{101,70}}</string>
                <key>sourceSize</key>
                <string>{101,70}</string>
            </dict>
            <key>fairy_odin_2112:shenti1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{678,941},{33,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,27}}</string>
                <key>sourceSize</key>
                <string>{33,27}</string>
            </dict>
            <key>fairy_odin_2112:shenti31.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{682,746},{34,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,37}}</string>
                <key>sourceSize</key>
                <string>{34,37}</string>
            </dict>
            <key>fairy_odin_2112:shou11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{374,1020},{45,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,34}}</string>
                <key>sourceSize</key>
                <string>{45,34}</string>
            </dict>
            <key>fairy_odin_2112:shou21.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{227,705},{28,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,35}}</string>
                <key>sourceSize</key>
                <string>{28,35}</string>
            </dict>
            <key>fairy_odin_2112:shou51.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{227,742},{25,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,30}}</string>
                <key>sourceSize</key>
                <string>{25,30}</string>
            </dict>
            <key>fairy_odin_2112:shoubi21.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{719,554},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>fairy_odin_2112:shoubi41.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{745,274},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
            <key>fairy_odin_2112:tou11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{942,715},{78,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{78,115}}</string>
                <key>sourceSize</key>
                <string>{78,115}</string>
            </dict>
            <key>fairy_odin_2112:tou21.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{942,832},{61,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{61,92}}</string>
                <key>sourceSize</key>
                <string>{61,92}</string>
            </dict>
            <key>fairy_odin_2112:wuqi11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{491,746},{189,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{189,146}}</string>
                <key>sourceSize</key>
                <string>{189,146}</string>
            </dict>
            <key>fairy_odin_2112:wuqi21.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{226,1023},{42,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{42,28}}</string>
                <key>sourceSize</key>
                <string>{42,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>fairy_odin_2112.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1086}</string>
            <key>textureFileName</key>
            <string>fairy_odin_2112.pvr.ccz</string>
        </dict>
    </dict>
</plist>
