<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairy_jiangshi_2039:c2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{383,0},{72,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{72,93}}</string>
                <key>sourceSize</key>
                <string>{72,93}</string>
            </dict>
            <key>fairy_jiangshi_2039:c3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{383,95},{72,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{72,92}}</string>
                <key>sourceSize</key>
                <string>{72,92}</string>
            </dict>
            <key>fairy_jiangshi_2039:c4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{150,0},{76,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{76,98}}</string>
                <key>sourceSize</key>
                <string>{76,98}</string>
            </dict>
            <key>fairy_jiangshi_2039:cvbbc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{168,208},{32,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,33}}</string>
                <key>sourceSize</key>
                <string>{32,33}</string>
            </dict>
            <key>fairy_jiangshi_2039:d1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{306,0},{75,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{75,95}}</string>
                <key>sourceSize</key>
                <string>{75,95}</string>
            </dict>
            <key>fairy_jiangshi_2039:d2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{71,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{71,119}}</string>
                <key>sourceSize</key>
                <string>{71,119}</string>
            </dict>
            <key>fairy_jiangshi_2039:d3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{73,0},{75,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{75,104}}</string>
                <key>sourceSize</key>
                <string>{75,104}</string>
            </dict>
            <key>fairy_jiangshi_2039:d4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{228,0},{76,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{76,96}}</string>
                <key>sourceSize</key>
                <string>{76,96}</string>
            </dict>
            <key>fairy_jiangshi_2039:g4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{73,106},{48,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{48,69}}</string>
                <key>sourceSize</key>
                <string>{48,69}</string>
            </dict>
            <key>fairy_jiangshi_2039:g5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{150,100},{49,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{49,68}}</string>
                <key>sourceSize</key>
                <string>{49,68}</string>
            </dict>
            <key>fairy_jiangshi_2039:h1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,121},{48,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{48,68}}</string>
                <key>sourceSize</key>
                <string>{48,68}</string>
            </dict>
            <key>fairy_jiangshi_2039:h2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{457,0},{52,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{52,70}}</string>
                <key>sourceSize</key>
                <string>{52,70}</string>
            </dict>
            <key>fairy_jiangshi_2039:h3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{457,72},{50,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{50,69}}</string>
                <key>sourceSize</key>
                <string>{50,69}</string>
            </dict>
            <key>fairy_jiangshi_2039:h6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{457,143},{47,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{47,60}}</string>
                <key>sourceSize</key>
                <string>{47,60}</string>
            </dict>
            <key>fairy_jiangshi_2039:h7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{123,170},{43,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,59}}</string>
                <key>sourceSize</key>
                <string>{43,59}</string>
            </dict>
            <key>fairy_jiangshi_2039:h8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{228,98},{50,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{50,68}}</string>
                <key>sourceSize</key>
                <string>{50,68}</string>
            </dict>
            <key>fairy_jiangshi_2039:jiangbang5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{201,100},{21,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,34}}</string>
                <key>sourceSize</key>
                <string>{21,34}</string>
            </dict>
            <key>fairy_jiangshi_2039:kuzi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{400,189},{45,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,30}}</string>
                <key>sourceSize</key>
                <string>{45,30}</string>
            </dict>
            <key>fairy_jiangshi_2039:kuzi1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{447,205},{45,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,26}}</string>
                <key>sourceSize</key>
                <string>{45,26}</string>
            </dict>
            <key>fairy_jiangshi_2039:qielian.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{50,121},{9,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,19}}</string>
                <key>sourceSize</key>
                <string>{9,19}</string>
            </dict>
            <key>fairy_jiangshi_2039:shengti4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{305,180},{49,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{49,42}}</string>
                <key>sourceSize</key>
                <string>{49,42}</string>
            </dict>
            <key>fairy_jiangshi_2039:shenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{50,177},{48,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{48,44}}</string>
                <key>sourceSize</key>
                <string>{48,44}</string>
            </dict>
            <key>fairy_jiangshi_2039:shou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,191},{34,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,40}}</string>
                <key>sourceSize</key>
                <string>{34,40}</string>
            </dict>
            <key>fairy_jiangshi_2039:shou11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{280,98},{23,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,38}}</string>
                <key>sourceSize</key>
                <string>{23,38}</string>
            </dict>
            <key>fairy_jiangshi_2039:shou8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{202,208},{33,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,31}}</string>
                <key>sourceSize</key>
                <string>{33,31}</string>
            </dict>
            <key>fairy_jiangshi_2039:shoubi2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{275,168},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>fairy_jiangshi_2039:shoubi4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{123,106},{22,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,19}}</string>
                <key>sourceSize</key>
                <string>{22,19}</string>
            </dict>
            <key>fairy_jiangshi_2039:shoubi6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{168,170},{30,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,20}}</string>
                <key>sourceSize</key>
                <string>{30,20}</string>
            </dict>
            <key>fairy_jiangshi_2039:tou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{356,189},{42,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{42,40}}</string>
                <key>sourceSize</key>
                <string>{42,40}</string>
            </dict>
            <key>fairy_jiangshi_2039:tou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{237,208},{33,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,28}}</string>
                <key>sourceSize</key>
                <string>{33,28}</string>
            </dict>
            <key>fairy_jiangshi_2039:v1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{306,97},{70,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,81}}</string>
                <key>sourceSize</key>
                <string>{70,81}</string>
            </dict>
            <key>fairy_jiangshi_2039:vxvxv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{201,168},{72,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{72,38}}</string>
                <key>sourceSize</key>
                <string>{72,38}</string>
            </dict>
            <key>fairy_jiangshi_2039:wuqi2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{123,127},{11,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,15}}</string>
                <key>sourceSize</key>
                <string>{11,15}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>fairy_jiangshi_2039.pvr.ccz</string>
            <key>size</key>
            <string>{508,241}</string>
            <key>textureFileName</key>
            <string>fairy_jiangshi_2039.pvr.ccz</string>
        </dict>
    </dict>
</plist>
