<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairy_xuanwu_2090:chibang1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{946,717},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{70,72}</string>
            </dict>
            <key>fairy_xuanwu_2090:d6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{946,791},{66,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{66,75}}</string>
                <key>sourceSize</key>
                <string>{66,75}</string>
            </dict>
            <key>fairy_xuanwu_2090:d7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{611,942},{43,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,49}}</string>
                <key>sourceSize</key>
                <string>{43,49}</string>
            </dict>
            <key>fairy_xuanwu_2090:d8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{432,737},{62,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{62,70}}</string>
                <key>sourceSize</key>
                <string>{62,70}</string>
            </dict>
            <key>fairy_xuanwu_2090:d9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{680,884},{37,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,44}}</string>
                <key>sourceSize</key>
                <string>{37,44}</string>
            </dict>
            <key>fairy_xuanwu_2090:dasda/d1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{432,935},{44,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{44,51}}</string>
                <key>sourceSize</key>
                <string>{44,51}</string>
            </dict>
            <key>fairy_xuanwu_2090:dasda/d2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{680,930},{37,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,44}}</string>
                <key>sourceSize</key>
                <string>{37,44}</string>
            </dict>
            <key>fairy_xuanwu_2090:dasda/d3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{432,877},{46,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{46,56}</string>
            </dict>
            <key>fairy_xuanwu_2090:dasda/d4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{946,931},{45,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,52}}</string>
                <key>sourceSize</key>
                <string>{45,52}</string>
            </dict>
            <key>fairy_xuanwu_2090:dasda/d5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{432,809},{61,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{61,66}}</string>
                <key>sourceSize</key>
                <string>{61,66}</string>
            </dict>
            <key>fairy_xuanwu_2090:f1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,471},{260,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{260,225}}</string>
                <key>sourceSize</key>
                <string>{260,225}</string>
            </dict>
            <key>fairy_xuanwu_2090:f10.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{516,0},{249,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{249,243}}</string>
                <key>sourceSize</key>
                <string>{249,243}</string>
            </dict>
            <key>fairy_xuanwu_2090:f11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{767,0},{241,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{241,243}}</string>
                <key>sourceSize</key>
                <string>{241,243}</string>
            </dict>
            <key>fairy_xuanwu_2090:f12.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{227,737},{203,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{203,217}}</string>
                <key>sourceSize</key>
                <string>{203,217}</string>
            </dict>
            <key>fairy_xuanwu_2090:f13.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{723,717},{221,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{221,246}}</string>
                <key>sourceSize</key>
                <string>{221,246}</string>
            </dict>
            <key>fairy_xuanwu_2090:f14.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{496,501},{225,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{225,243}}</string>
                <key>sourceSize</key>
                <string>{225,243}</string>
            </dict>
            <key>fairy_xuanwu_2090:f15.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{266,0},{248,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{248,247}}</string>
                <key>sourceSize</key>
                <string>{248,247}</string>
            </dict>
            <key>fairy_xuanwu_2090:f2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{745,245},{256,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{256,232}}</string>
                <key>sourceSize</key>
                <string>{256,232}</string>
            </dict>
            <key>fairy_xuanwu_2090:f3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{266,249},{237,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{237,241}}</string>
                <key>sourceSize</key>
                <string>{237,241}</string>
            </dict>
            <key>fairy_xuanwu_2090:f4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{262,492},{232,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{232,243}}</string>
                <key>sourceSize</key>
                <string>{232,243}</string>
            </dict>
            <key>fairy_xuanwu_2090:f5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{516,245},{227,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{227,254}}</string>
                <key>sourceSize</key>
                <string>{227,254}</string>
            </dict>
            <key>fairy_xuanwu_2090:f6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,698},{225,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{225,243}}</string>
                <key>sourceSize</key>
                <string>{225,243}</string>
            </dict>
            <key>fairy_xuanwu_2090:f7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{745,479},{241,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{241,236}}</string>
                <key>sourceSize</key>
                <string>{241,236}</string>
            </dict>
            <key>fairy_xuanwu_2090:f8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,242},{264,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{264,227}}</string>
                <key>sourceSize</key>
                <string>{264,227}</string>
            </dict>
            <key>fairy_xuanwu_2090:f9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{264,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{264,240}}</string>
                <key>sourceSize</key>
                <string>{264,240}</string>
            </dict>
            <key>fairy_xuanwu_2090:jhiao1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{988,511},{28,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,35}}</string>
                <key>sourceSize</key>
                <string>{28,35}</string>
            </dict>
            <key>fairy_xuanwu_2090:jiao1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{988,592},{22,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,27}}</string>
                <key>sourceSize</key>
                <string>{22,27}</string>
            </dict>
            <key>fairy_xuanwu_2090:l3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{627,746},{87,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{87,89}}</string>
                <key>sourceSize</key>
                <string>{87,89}</string>
            </dict>
            <key>fairy_xuanwu_2090:l4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{495,876},{114,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{114,112}}</string>
                <key>sourceSize</key>
                <string>{114,112}</string>
            </dict>
            <key>fairy_xuanwu_2090:l6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{496,746},{129,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{129,128}}</string>
                <key>sourceSize</key>
                <string>{129,128}</string>
            </dict>
            <key>fairy_xuanwu_2090:nbvnbvv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,943},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>fairy_xuanwu_2090:nnvnvn1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{946,868},{63,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{63,61}}</string>
                <key>sourceSize</key>
                <string>{63,61}</string>
            </dict>
            <key>fairy_xuanwu_2090:nvbnvds.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{611,884},{67,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{67,56}}</string>
                <key>sourceSize</key>
                <string>{67,56}</string>
            </dict>
            <key>fairy_xuanwu_2090:shoubi1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{988,479},{34,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,30}}</string>
                <key>sourceSize</key>
                <string>{34,30}</string>
            </dict>
            <key>fairy_xuanwu_2090:tou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{38,943},{38,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,31}}</string>
                <key>sourceSize</key>
                <string>{38,31}</string>
            </dict>
            <key>fairy_xuanwu_2090:vbnvbn.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{627,837},{84,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{84,45}}</string>
                <key>sourceSize</key>
                <string>{84,45}</string>
            </dict>
            <key>fairy_xuanwu_2090:weiba.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{988,569},{29,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,21}}</string>
                <key>sourceSize</key>
                <string>{29,21}</string>
            </dict>
            <key>fairy_xuanwu_2090:zui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{988,548},{32,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,19}}</string>
                <key>sourceSize</key>
                <string>{32,19}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>fairy_xuanwu_2090.pvr.ccz</string>
            <key>size</key>
            <string>{1024,991}</string>
            <key>textureFileName</key>
            <string>fairy_xuanwu_2090.pvr.ccz</string>
        </dict>
    </dict>
</plist>
