<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairy_yaohu_2072:a6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,420},{18,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,34}}</string>
                <key>sourceSize</key>
                <string>{18,34}</string>
            </dict>
            <key>fairy_yaohu_2072:bvbcb.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{488,180},{22,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,45}}</string>
                <key>sourceSize</key>
                <string>{22,45}</string>
            </dict>
            <key>fairy_yaohu_2072:bvn vbnv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{71,348},{51,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{51,28}}</string>
                <key>sourceSize</key>
                <string>{51,28}</string>
            </dict>
            <key>fairy_yaohu_2072:d1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{156,331},{44,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{44,51}}</string>
                <key>sourceSize</key>
                <string>{44,51}</string>
            </dict>
            <key>fairy_yaohu_2072:d2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{267,326},{37,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,44}}</string>
                <key>sourceSize</key>
                <string>{37,44}</string>
            </dict>
            <key>fairy_yaohu_2072:d3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{81,290},{46,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{46,56}</string>
            </dict>
            <key>fairy_yaohu_2072:d4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{220,326},{45,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,52}}</string>
                <key>sourceSize</key>
                <string>{45,52}</string>
            </dict>
            <key>fairy_yaohu_2072:d5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{425,159},{61,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{61,66}}</string>
                <key>sourceSize</key>
                <string>{61,66}</string>
            </dict>
            <key>fairy_yaohu_2072:d6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{169,204},{66,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{66,75}}</string>
                <key>sourceSize</key>
                <string>{66,75}</string>
            </dict>
            <key>fairy_yaohu_2072:d7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{411,335},{43,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,49}}</string>
                <key>sourceSize</key>
                <string>{43,49}</string>
            </dict>
            <key>fairy_yaohu_2072:d8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{425,87},{62,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{62,70}}</string>
                <key>sourceSize</key>
                <string>{62,70}</string>
            </dict>
            <key>fairy_yaohu_2072:d9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{464,313},{45,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,53}}</string>
                <key>sourceSize</key>
                <string>{45,53}</string>
            </dict>
            <key>fairy_yaohu_2072:f1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{129,304},{25,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,41}}</string>
                <key>sourceSize</key>
                <string>{25,41}</string>
            </dict>
            <key>fairy_yaohu_2072:f2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{483,227},{25,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,41}}</string>
                <key>sourceSize</key>
                <string>{25,41}</string>
            </dict>
            <key>fairy_yaohu_2072:f3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{44,306},{25,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,41}}</string>
                <key>sourceSize</key>
                <string>{25,41}</string>
            </dict>
            <key>fairy_yaohu_2072:f4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{129,347},{25,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,41}}</string>
                <key>sourceSize</key>
                <string>{25,41}</string>
            </dict>
            <key>fairy_yaohu_2072:f5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{483,270},{25,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,41}}</string>
                <key>sourceSize</key>
                <string>{25,41}</string>
            </dict>
            <key>fairy_yaohu_2072:f6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{44,349},{25,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,41}}</string>
                <key>sourceSize</key>
                <string>{25,41}</string>
            </dict>
            <key>fairy_yaohu_2072:f7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{133,218},{25,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,41}}</string>
                <key>sourceSize</key>
                <string>{25,41}</string>
            </dict>
            <key>fairy_yaohu_2072:f8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{133,261},{25,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,41}}</string>
                <key>sourceSize</key>
                <string>{25,41}</string>
            </dict>
            <key>fairy_yaohu_2072:g1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{491,404},{18,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,34}}</string>
                <key>sourceSize</key>
                <string>{18,34}</string>
            </dict>
            <key>fairy_yaohu_2072:nmbm.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,342},{42,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{42,35}}</string>
                <key>sourceSize</key>
                <string>{42,35}</string>
            </dict>
            <key>fairy_yaohu_2072:q2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{348,409},{18,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,34}}</string>
                <key>sourceSize</key>
                <string>{18,34}</string>
            </dict>
            <key>fairy_yaohu_2072:q3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{388,409},{18,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,34}}</string>
                <key>sourceSize</key>
                <string>{18,34}</string>
            </dict>
            <key>fairy_yaohu_2072:q4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{308,409},{18,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,34}}</string>
                <key>sourceSize</key>
                <string>{18,34}</string>
            </dict>
            <key>fairy_yaohu_2072:q5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{78,408},{18,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,34}}</string>
                <key>sourceSize</key>
                <string>{18,34}</string>
            </dict>
            <key>fairy_yaohu_2072:q7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{328,409},{18,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,34}}</string>
                <key>sourceSize</key>
                <string>{18,34}</string>
            </dict>
            <key>fairy_yaohu_2072:r1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{489,36},{20,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,34}}</string>
                <key>sourceSize</key>
                <string>{20,34}</string>
            </dict>
            <key>fairy_yaohu_2072:r2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{286,400},{20,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,34}}</string>
                <key>sourceSize</key>
                <string>{20,34}</string>
            </dict>
            <key>fairy_yaohu_2072:r3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{489,144},{20,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,34}}</string>
                <key>sourceSize</key>
                <string>{20,34}</string>
            </dict>
            <key>fairy_yaohu_2072:r4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{489,72},{20,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,34}}</string>
                <key>sourceSize</key>
                <string>{20,34}</string>
            </dict>
            <key>fairy_yaohu_2072:r5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{469,404},{20,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,34}}</string>
                <key>sourceSize</key>
                <string>{20,34}</string>
            </dict>
            <key>fairy_yaohu_2072:r6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{489,0},{20,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,34}}</string>
                <key>sourceSize</key>
                <string>{20,34}</string>
            </dict>
            <key>fairy_yaohu_2072:r7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{56,408},{20,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,34}}</string>
                <key>sourceSize</key>
                <string>{20,34}</string>
            </dict>
            <key>fairy_yaohu_2072:r8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{489,108},{20,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,34}}</string>
                <key>sourceSize</key>
                <string>{20,34}</string>
            </dict>
            <key>fairy_yaohu_2072:shenti1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{71,378},{38,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,28}}</string>
                <key>sourceSize</key>
                <string>{38,28}</string>
            </dict>
            <key>fairy_yaohu_2072:shenti2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{267,372},{40,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,26}}</string>
                <key>sourceSize</key>
                <string>{40,26}</string>
            </dict>
            <key>fairy_yaohu_2072:t1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{111,390},{26,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,39}}</string>
                <key>sourceSize</key>
                <string>{26,39}</string>
            </dict>
            <key>fairy_yaohu_2072:t2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{230,380},{26,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,39}}</string>
                <key>sourceSize</key>
                <string>{26,39}</string>
            </dict>
            <key>fairy_yaohu_2072:t3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,379},{26,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,39}}</string>
                <key>sourceSize</key>
                <string>{26,39}</string>
            </dict>
            <key>fairy_yaohu_2072:t4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{28,392},{26,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,39}}</string>
                <key>sourceSize</key>
                <string>{26,39}</string>
            </dict>
            <key>fairy_yaohu_2072:t5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{411,386},{26,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,39}}</string>
                <key>sourceSize</key>
                <string>{26,39}</string>
            </dict>
            <key>fairy_yaohu_2072:t6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{258,400},{26,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,39}}</string>
                <key>sourceSize</key>
                <string>{26,39}</string>
            </dict>
            <key>fairy_yaohu_2072:t7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{202,380},{26,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,39}}</string>
                <key>sourceSize</key>
                <string>{26,39}</string>
            </dict>
            <key>fairy_yaohu_2072:t8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{156,384},{26,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,39}}</string>
                <key>sourceSize</key>
                <string>{26,39}</string>
            </dict>
            <key>fairy_yaohu_2072:tou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{44,268},{35,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,36}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
            <key>fairy_yaohu_2072:tou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{456,368},{36,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{36,34}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
            <key>fairy_yaohu_2072:w1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{411,277},{51,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{51,56}}</string>
                <key>sourceSize</key>
                <string>{51,56}</string>
            </dict>
            <key>fairy_yaohu_2072:w2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{237,265},{55,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,59}}</string>
                <key>sourceSize</key>
                <string>{55,59}</string>
            </dict>
            <key>fairy_yaohu_2072:w3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,218},{80,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{80,48}}</string>
                <key>sourceSize</key>
                <string>{80,48}</string>
            </dict>
            <key>fairy_yaohu_2072:w4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,268},{42,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{42,72}}</string>
                <key>sourceSize</key>
                <string>{42,72}</string>
            </dict>
            <key>fairy_yaohu_2072:w5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{160,281},{58,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,48}}</string>
                <key>sourceSize</key>
                <string>{58,48}</string>
            </dict>
            <key>fairy_yaohu_2072:w6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{237,204},{65,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{65,59}}</string>
                <key>sourceSize</key>
                <string>{65,59}</string>
            </dict>
            <key>fairy_yaohu_2072:w8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{82,218},{49,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{49,70}}</string>
                <key>sourceSize</key>
                <string>{49,70}</string>
            </dict>
            <key>fairy_yaohu_2072:w9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{411,227},{70,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,48}}</string>
                <key>sourceSize</key>
                <string>{70,48}</string>
            </dict>
            <key>fairy_yaohu_2072:y2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{368,409},{18,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,34}}</string>
                <key>sourceSize</key>
                <string>{18,34}</string>
            </dict>
            <key>fairy_yaohu_2072:z1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{439,404},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>fairy_yaohu_2072:z2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{425,0},{62,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{62,85}}</string>
                <key>sourceSize</key>
                <string>{62,85}</string>
            </dict>
            <key>fairy_yaohu_2072:z3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{309,202},{100,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{100,205}}</string>
                <key>sourceSize</key>
                <string>{100,205}</string>
            </dict>
            <key>fairy_yaohu_2072:z4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{309,0},{114,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{114,200}}</string>
                <key>sourceSize</key>
                <string>{114,200}</string>
            </dict>
            <key>fairy_yaohu_2072:z5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{169,0},{138,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{138,202}}</string>
                <key>sourceSize</key>
                <string>{138,202}</string>
            </dict>
            <key>fairy_yaohu_2072:z6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{167,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{167,216}}</string>
                <key>sourceSize</key>
                <string>{167,216}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>fairy_yaohu_2072.pvr.ccz</string>
            <key>size</key>
            <string>{512,455}</string>
            <key>textureFileName</key>
            <string>fairy_yaohu_2072.pvr.ccz</string>
        </dict>
    </dict>
</plist>
