<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairy_spiderman_2110:9a8sq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,235},{18,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,10}}</string>
                <key>sourceSize</key>
                <string>{18,10}</string>
            </dict>
            <key>fairy_spiderman_2110:asiduq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{173,220},{11,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,23}}</string>
                <key>sourceSize</key>
                <string>{11,23}</string>
            </dict>
            <key>fairy_spiderman_2110:asjuqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{174,176},{21,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,25}}</string>
                <key>sourceSize</key>
                <string>{21,25}</string>
            </dict>
            <key>fairy_spiderman_2110:casqwrq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{127,176},{45,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,33}}</string>
                <key>sourceSize</key>
                <string>{45,33}</string>
            </dict>
            <key>fairy_spiderman_2110:casqww.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{249,140},{3,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
            <key>fairy_spiderman_2110:ckasiqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{121,211},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>fairy_spiderman_2110:cqwe5q.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{249,135},{3,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
            <key>fairy_spiderman_2110:cqwer.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{249,130},{3,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
            <key>fairy_spiderman_2110:ia8scq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{103,211},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>fairy_spiderman_2110:iasoiqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{29,218},{25,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,13}}</string>
                <key>sourceSize</key>
                <string>{25,13}</string>
            </dict>
            <key>fairy_spiderman_2110:iasuodq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{189,111},{9,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,12}}</string>
                <key>sourceSize</key>
                <string>{9,12}</string>
            </dict>
            <key>fairy_spiderman_2110:iausdcv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{186,236},{11,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,5}}</string>
                <key>sourceSize</key>
                <string>{11,5}</string>
            </dict>
            <key>fairy_spiderman_2110:iausdq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,149},{45,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,33}}</string>
                <key>sourceSize</key>
                <string>{45,33}</string>
            </dict>
            <key>fairy_spiderman_2110:icuasqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{47,149},{31,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,38}}</string>
                <key>sourceSize</key>
                <string>{31,38}</string>
            </dict>
            <key>fairy_spiderman_2110:icusaqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{213,224},{21,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,12}}</string>
                <key>sourceSize</key>
                <string>{21,12}</string>
            </dict>
            <key>fairy_spiderman_2110:iuc8qw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{103,233},{11,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,11}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>fairy_spiderman_2110:iuc8qwq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{80,176},{45,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,33}}</string>
                <key>sourceSize</key>
                <string>{45,33}</string>
            </dict>
            <key>fairy_spiderman_2110:iucasqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{186,224},{25,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,10}}</string>
                <key>sourceSize</key>
                <string>{25,10}</string>
            </dict>
            <key>fairy_spiderman_2110:iucasqweq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{29,233},{22,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,10}}</string>
                <key>sourceSize</key>
                <string>{22,10}</string>
            </dict>
            <key>fairy_spiderman_2110:iucqweq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{147,211},{24,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,23}}</string>
                <key>sourceSize</key>
                <string>{24,23}</string>
            </dict>
            <key>fairy_spiderman_2110:iuqwerq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{174,203},{21,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,15}}</string>
                <key>sourceSize</key>
                <string>{21,15}</string>
            </dict>
            <key>fairy_spiderman_2110:iuqwes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,184},{35,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,31}}</string>
                <key>sourceSize</key>
                <string>{35,31}</string>
            </dict>
            <key>fairy_spiderman_2110:jcuasq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{236,224},{14,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,19}}</string>
                <key>sourceSize</key>
                <string>{14,19}</string>
            </dict>
            <key>fairy_spiderman_2110:jucasf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{223,195},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
            <key>fairy_spiderman_2110:jucqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{63,189},{12,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,27}}</string>
                <key>sourceSize</key>
                <string>{12,27}</string>
            </dict>
            <key>fairy_spiderman_2110:kciasq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,217},{27,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,16}}</string>
                <key>sourceSize</key>
                <string>{27,16}</string>
            </dict>
            <key>fairy_spiderman_2110:kcjasiq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{77,211},{24,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,26}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>fairy_spiderman_2110:kjaciqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{147,236},{21,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,6}}</string>
                <key>sourceSize</key>
                <string>{21,6}</string>
            </dict>
            <key>fairy_spiderman_2110:kjcaisqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{189,125},{6,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{6,7}}</string>
                <key>sourceSize</key>
                <string>{6,7}</string>
            </dict>
            <key>fairy_spiderman_2110:ucasuqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{37,189},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
            <key>fairy_spiderman_2110:ucays7qw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{85,0},{113,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{113,109}}</string>
                <key>sourceSize</key>
                <string>{113,109}</string>
            </dict>
            <key>fairy_spiderman_2110:uiucqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{197,195},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
            <key>fairy_spiderman_2110:uqwieuq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{56,218},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>fairy_spiderman_2110:uqwsaas.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{189,134},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{6,6}}</string>
                <key>sourceSize</key>
                <string>{6,6}</string>
            </dict>
            <key>fairy_spiderman_2110:uqywec.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{83,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{83,147}}</string>
                <key>sourceSize</key>
                <string>{83,147}</string>
            </dict>
            <key>fairy_spiderman_2110:y123r51.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{137,111},{50,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{50,63}}</string>
                <key>sourceSize</key>
                <string>{50,63}</string>
            </dict>
            <key>fairy_spiderman_2110:ygber73.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{200,0},{50,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{50,63}}</string>
                <key>sourceSize</key>
                <string>{50,63}</string>
            </dict>
            <key>fairy_spiderman_2110:yi9asqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{85,111},{50,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{50,63}}</string>
                <key>sourceSize</key>
                <string>{50,63}</string>
            </dict>
            <key>fairy_spiderman_2110:ymhjyu.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{197,130},{50,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{50,63}}</string>
                <key>sourceSize</key>
                <string>{50,63}</string>
            </dict>
            <key>fairy_spiderman_2110:yqwe41.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{200,65},{50,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{50,63}}</string>
                <key>sourceSize</key>
                <string>{50,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>fairy_spiderman_2110.pvr.ccz</string>
            <key>size</key>
            <string>{253,245}</string>
            <key>textureFileName</key>
            <string>fairy_spiderman_2110.pvr.ccz</string>
        </dict>
    </dict>
</plist>
