<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairy_anyeemo_2104:452.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{222,77},{49,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{49,29}}</string>
                <key>sourceSize</key>
                <string>{49,29}</string>
            </dict>
            <key>fairy_anyeemo_2104:asqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{153,144},{15,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,30}}</string>
                <key>sourceSize</key>
                <string>{15,30}</string>
            </dict>
            <key>fairy_anyeemo_2104:asweq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{351,72},{27,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,43}}</string>
                <key>sourceSize</key>
                <string>{27,43}</string>
            </dict>
            <key>fairy_anyeemo_2104:bawe7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{411,130},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,36}</string>
            </dict>
            <key>fairy_anyeemo_2104:bfsdw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{40,124},{34,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,30}}</string>
                <key>sourceSize</key>
                <string>{34,30}</string>
            </dict>
            <key>fairy_anyeemo_2104:bser.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{472,146},{31,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,20}}</string>
                <key>sourceSize</key>
                <string>{31,20}</string>
            </dict>
            <key>fairy_anyeemo_2104:bwes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{281,53},{101,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{101,17}}</string>
                <key>sourceSize</key>
                <string>{101,17}</string>
            </dict>
            <key>fairy_anyeemo_2104:caqb.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{475,108},{32,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,36}}</string>
                <key>sourceSize</key>
                <string>{32,36}</string>
            </dict>
            <key>fairy_anyeemo_2104:caqtq2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{482,0},{25,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,47}}</string>
                <key>sourceSize</key>
                <string>{25,47}</string>
            </dict>
            <key>fairy_anyeemo_2104:caqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{40,73},{38,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,49}}</string>
                <key>sourceSize</key>
                <string>{38,49}</string>
            </dict>
            <key>fairy_anyeemo_2104:casq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{36,156},{18,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,26}}</string>
                <key>sourceSize</key>
                <string>{18,26}</string>
            </dict>
            <key>fairy_anyeemo_2104:casqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{124,73},{43,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,39}}</string>
                <key>sourceSize</key>
                <string>{43,39}</string>
            </dict>
            <key>fairy_anyeemo_2104:casqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{380,94},{43,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,34}}</string>
                <key>sourceSize</key>
                <string>{43,34}</string>
            </dict>
            <key>fairy_anyeemo_2104:casuo.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{76,149},{38,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,12}}</string>
                <key>sourceSize</key>
                <string>{38,12}</string>
            </dict>
            <key>fairy_anyeemo_2104:caweq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{281,152},{20,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,25}}</string>
                <key>sourceSize</key>
                <string>{20,25}</string>
            </dict>
            <key>fairy_anyeemo_2104:caweqa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{56,156},{15,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,29}}</string>
                <key>sourceSize</key>
                <string>{15,29}</string>
            </dict>
            <key>fairy_anyeemo_2104:cawev.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,134},{34,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,25}}</string>
                <key>sourceSize</key>
                <string>{34,25}</string>
            </dict>
            <key>fairy_anyeemo_2104:cqwerr.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{343,157},{23,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,18}}</string>
                <key>sourceSize</key>
                <string>{23,18}</string>
            </dict>
            <key>fairy_anyeemo_2104:csqwva.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{384,35},{53,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{53,57}}</string>
                <key>sourceSize</key>
                <string>{53,57}</string>
            </dict>
            <key>fairy_anyeemo_2104:cwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{222,0},{57,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{57,75}}</string>
                <key>sourceSize</key>
                <string>{57,75}</string>
            </dict>
            <key>fairy_anyeemo_2104:daqs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{170,147},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
            <key>fairy_anyeemo_2104:fjing.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{221,160},{17,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,11}}</string>
                <key>sourceSize</key>
                <string>{17,11}</string>
            </dict>
            <key>fairy_anyeemo_2104:fkua.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{121,144},{30,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,22}}</string>
                <key>sourceSize</key>
                <string>{30,22}</string>
            </dict>
            <key>fairy_anyeemo_2104:fqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{439,35},{34,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,75}}</string>
                <key>sourceSize</key>
                <string>{34,75}</string>
            </dict>
            <key>fairy_anyeemo_2104:fshen.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{80,117},{39,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,30}}</string>
                <key>sourceSize</key>
                <string>{39,30}</string>
            </dict>
            <key>fairy_anyeemo_2104:ftou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,73},{38,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,59}}</string>
                <key>sourceSize</key>
                <string>{38,59}</string>
            </dict>
            <key>fairy_anyeemo_2104:lovs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{323,131},{18,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,35}}</string>
                <key>sourceSize</key>
                <string>{18,35}</string>
            </dict>
            <key>fairy_anyeemo_2104:mklaow.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{378,130},{31,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,32}}</string>
                <key>sourceSize</key>
                <string>{31,32}</string>
            </dict>
            <key>fairy_anyeemo_2104:mkviw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{258,140},{21,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,30}}</string>
                <key>sourceSize</key>
                <string>{21,30}</string>
            </dict>
            <key>fairy_anyeemo_2104:mwer.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{281,30},{101,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{101,21}}</string>
                <key>sourceSize</key>
                <string>{101,21}</string>
            </dict>
            <key>fairy_anyeemo_2104:n34.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{281,0},{101,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{101,28}}</string>
                <key>sourceSize</key>
                <string>{101,28}</string>
            </dict>
            <key>fairy_anyeemo_2104:nrw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{222,108},{46,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,27}}</string>
                <key>sourceSize</key>
                <string>{46,27}</string>
            </dict>
            <key>fairy_anyeemo_2104:o9qw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{425,94},{11,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,33}}</string>
                <key>sourceSize</key>
                <string>{11,33}</string>
            </dict>
            <key>fairy_anyeemo_2104:op2se.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{222,137},{34,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,21}}</string>
                <key>sourceSize</key>
                <string>{34,21}</string>
            </dict>
            <key>fairy_anyeemo_2104:oqws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{438,112},{32,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,36}}</string>
                <key>sourceSize</key>
                <string>{32,36}</string>
            </dict>
            <key>fairy_anyeemo_2104:qowsw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{80,73},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>fairy_anyeemo_2104:qwc3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{281,131},{40,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,19}}</string>
                <key>sourceSize</key>
                <string>{40,19}</string>
            </dict>
            <key>fairy_anyeemo_2104:qwcaw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{437,150},{27,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,21}}</string>
                <key>sourceSize</key>
                <string>{27,21}</string>
            </dict>
            <key>fairy_anyeemo_2104:qwcaw2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{281,112},{66,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{66,17}}</string>
                <key>sourceSize</key>
                <string>{66,17}</string>
            </dict>
            <key>fairy_anyeemo_2104:uiqc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{303,152},{18,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,27}}</string>
                <key>sourceSize</key>
                <string>{18,27}</string>
            </dict>
            <key>fairy_anyeemo_2104:vastq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{196,147},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>fairy_anyeemo_2104:vaswt.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{270,108},{9,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,30}}</string>
                <key>sourceSize</key>
                <string>{9,30}</string>
            </dict>
            <key>fairy_anyeemo_2104:vv12ds.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{349,117},{27,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,38}}</string>
                <key>sourceSize</key>
                <string>{27,38}</string>
            </dict>
            <key>fairy_anyeemo_2104:vvnvsw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{475,49},{31,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,57}}</string>
                <key>sourceSize</key>
                <string>{31,57}</string>
            </dict>
            <key>fairy_anyeemo_2104:vvvaw34.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{172,0},{48,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{48,145}}</string>
                <key>sourceSize</key>
                <string>{48,145}</string>
            </dict>
            <key>fairy_anyeemo_2104:vvvawesv2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{170,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{170,71}}</string>
                <key>sourceSize</key>
                <string>{170,71}</string>
            </dict>
            <key>fairy_anyeemo_2104:vvvws23.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{281,72},{68,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,38}}</string>
                <key>sourceSize</key>
                <string>{68,38}</string>
            </dict>
            <key>fairy_anyeemo_2104:we54.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{124,114},{44,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{44,28}}</string>
                <key>sourceSize</key>
                <string>{44,28}</string>
            </dict>
            <key>fairy_anyeemo_2104:xaqwswe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{384,0},{96,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{96,33}}</string>
                <key>sourceSize</key>
                <string>{96,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>fairy_anyeemo_2104.pvr.ccz</string>
            <key>size</key>
            <string>{510,187}</string>
            <key>textureFileName</key>
            <string>fairy_anyeemo_2104.pvr.ccz</string>
        </dict>
    </dict>
</plist>
