<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairy_youhun_2064:3/11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{286,275},{102,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{102,83}}</string>
                <key>sourceSize</key>
                <string>{102,83}</string>
            </dict>
            <key>fairy_youhun_2064:3/16.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{104,282},{75,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{75,82}}</string>
                <key>sourceSize</key>
                <string>{75,82}</string>
            </dict>
            <key>fairy_youhun_2064:3/17.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{431,119},{77,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{77,86}}</string>
                <key>sourceSize</key>
                <string>{77,86}</string>
            </dict>
            <key>fairy_youhun_2064:3/18.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{321,99},{108,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{108,85}}</string>
                <key>sourceSize</key>
                <string>{108,85}</string>
            </dict>
            <key>fairy_youhun_2064:3/31.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,194},{102,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{102,84}}</string>
                <key>sourceSize</key>
                <string>{102,84}</string>
            </dict>
            <key>fairy_youhun_2064:3/37.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{104,194},{82,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{82,86}}</string>
                <key>sourceSize</key>
                <string>{82,86}</string>
            </dict>
            <key>fairy_youhun_2064:3/39.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{321,0},{115,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{115,97}}</string>
                <key>sourceSize</key>
                <string>{115,97}</string>
            </dict>
            <key>fairy_youhun_2064:bvnbvnv 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{186,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{186,192}}</string>
                <key>sourceSize</key>
                <string>{186,192}</string>
            </dict>
            <key>fairy_youhun_2064:t1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{486,71},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>fairy_youhun_2064:t2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{438,71},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>fairy_youhun_2064:t3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{438,0},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>fairy_youhun_2064:t6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{188,0},{131,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{131,131}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>fairy_youhun_2064:t7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{188,224},{96,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{96,90}}</string>
                <key>sourceSize</key>
                <string>{96,90}</string>
            </dict>
            <key>fairy_youhun_2064:v1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,280},{102,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{102,83}}</string>
                <key>sourceSize</key>
                <string>{102,83}</string>
            </dict>
            <key>fairy_youhun_2064:v13.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{97,399},{95,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{95,76}}</string>
                <key>sourceSize</key>
                <string>{95,76}</string>
            </dict>
            <key>fairy_youhun_2064:v15.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,365},{95,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{95,80}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>fairy_youhun_2064:v21.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{399,207},{102,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{102,84}}</string>
                <key>sourceSize</key>
                <string>{102,84}</string>
            </dict>
            <key>fairy_youhun_2064:v25.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{390,293},{95,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{95,83}}</string>
                <key>sourceSize</key>
                <string>{95,83}</string>
            </dict>
            <key>fairy_youhun_2064:v30.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{293,186},{104,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{104,87}}</string>
                <key>sourceSize</key>
                <string>{104,87}</string>
            </dict>
            <key>fairy_youhun_2064:v34.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{181,316},{95,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{95,81}}</string>
                <key>sourceSize</key>
                <string>{95,81}</string>
            </dict>
            <key>fairy_youhun_2064:v36.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{278,360},{93,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{93,83}}</string>
                <key>sourceSize</key>
                <string>{93,83}</string>
            </dict>
            <key>fairy_youhun_2064:v5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{373,378},{95,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{95,76}}</string>
                <key>sourceSize</key>
                <string>{95,76}</string>
            </dict>
            <key>fairy_youhun_2064:v9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{188,133},{103,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{103,89}}</string>
                <key>sourceSize</key>
                <string>{103,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>fairy_youhun_2064.pvr.ccz</string>
            <key>size</key>
            <string>{512,479}</string>
            <key>textureFileName</key>
            <string>fairy_youhun_2064.pvr.ccz</string>
        </dict>
    </dict>
</plist>
