<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairy_feilong_2083:1d4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{295,0},{86,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{86,93}}</string>
                <key>sourceSize</key>
                <string>{86,93}</string>
            </dict>
            <key>fairy_feilong_2083:1d5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{200,0},{93,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{93,101}}</string>
                <key>sourceSize</key>
                <string>{93,101}</string>
            </dict>
            <key>fairy_feilong_2083:1d7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{98,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{98,108}}</string>
                <key>sourceSize</key>
                <string>{98,108}</string>
            </dict>
            <key>fairy_feilong_2083:1r1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{100,0},{98,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{98,103}}</string>
                <key>sourceSize</key>
                <string>{98,103}</string>
            </dict>
            <key>fairy_feilong_2083:1r2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{200,103},{66,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{66,60}}</string>
                <key>sourceSize</key>
                <string>{66,60}</string>
            </dict>
            <key>fairy_feilong_2083:1r3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{383,0},{80,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{80,85}}</string>
                <key>sourceSize</key>
                <string>{80,85}</string>
            </dict>
            <key>fairy_feilong_2083:87qwmka.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{465,0},{40,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,62}}</string>
                <key>sourceSize</key>
                <string>{40,62}</string>
            </dict>
            <key>fairy_feilong_2083:89qws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{192,165},{72,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{72,18}}</string>
                <key>sourceSize</key>
                <string>{72,18}</string>
            </dict>
            <key>fairy_feilong_2083:8qiwes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{172,105},{25,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,18}}</string>
                <key>sourceSize</key>
                <string>{25,18}</string>
            </dict>
            <key>fairy_feilong_2083:9812a.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{349,149},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>fairy_feilong_2083:98cas.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{447,87},{11,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,37}}</string>
                <key>sourceSize</key>
                <string>{11,37}</string>
            </dict>
            <key>fairy_feilong_2083:98qwa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{62,137},{32,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,18}}</string>
                <key>sourceSize</key>
                <string>{32,18}</string>
            </dict>
            <key>fairy_feilong_2083:98qwar5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{507,0},{3,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{3,11}}</string>
                <key>sourceSize</key>
                <string>{3,11}</string>
            </dict>
            <key>fairy_feilong_2083:98skvba.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{172,125},{22,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,19}}</string>
                <key>sourceSize</key>
                <string>{22,19}</string>
            </dict>
            <key>fairy_feilong_2083:casqwerq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{172,146},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>fairy_feilong_2083:i8qw1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{504,87},{5,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{5,20}}</string>
                <key>sourceSize</key>
                <string>{5,20}</string>
            </dict>
            <key>fairy_feilong_2083:i8qws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{349,95},{20,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,52}}</string>
                <key>sourceSize</key>
                <string>{20,52}</string>
            </dict>
            <key>fairy_feilong_2083:iquw8s.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{447,126},{11,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,25}}</string>
                <key>sourceSize</key>
                <string>{11,25}</string>
            </dict>
            <key>fairy_feilong_2083:iqwueq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{447,169},{50,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{50,32}}</string>
                <key>sourceSize</key>
                <string>{50,32}</string>
            </dict>
            <key>fairy_feilong_2083:iqwusa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{268,146},{25,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,6}}</string>
                <key>sourceSize</key>
                <string>{25,6}</string>
            </dict>
            <key>fairy_feilong_2083:iu8qwa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{504,64},{5,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{5,21}}</string>
                <key>sourceSize</key>
                <string>{5,21}</string>
            </dict>
            <key>fairy_feilong_2083:iu8wq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{295,95},{52,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{52,79}}</string>
                <key>sourceSize</key>
                <string>{52,79}</string>
            </dict>
            <key>fairy_feilong_2083:iucasdfa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,170},{37,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,30}}</string>
                <key>sourceSize</key>
                <string>{37,30}</string>
            </dict>
            <key>fairy_feilong_2083:iuq8we51.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{62,110},{35,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,25}}</string>
                <key>sourceSize</key>
                <string>{35,25}</string>
            </dict>
            <key>fairy_feilong_2083:iuqweoa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{383,87},{62,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{62,85}}</string>
                <key>sourceSize</key>
                <string>{62,85}</string>
            </dict>
            <key>fairy_feilong_2083:iuqwerq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{465,64},{37,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,47}}</string>
                <key>sourceSize</key>
                <string>{37,47}</string>
            </dict>
            <key>fairy_feilong_2083:iuqwsa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{266,176},{127,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{127,35}}</string>
                <key>sourceSize</key>
                <string>{127,35}</string>
            </dict>
            <key>fairy_feilong_2083:kjdiqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,110},{60,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{60,58}}</string>
                <key>sourceSize</key>
                <string>{60,58}</string>
            </dict>
            <key>fairy_feilong_2083:kqjwisa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{395,203},{110,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{110,46}}</string>
                <key>sourceSize</key>
                <string>{110,46}</string>
            </dict>
            <key>fairy_feilong_2083:o23fe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{100,105},{70,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,53}}</string>
                <key>sourceSize</key>
                <string>{70,53}</string>
            </dict>
            <key>fairy_feilong_2083:oip7y.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{460,113},{46,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,54}}</string>
                <key>sourceSize</key>
                <string>{46,54}</string>
            </dict>
            <key>fairy_feilong_2083:omkvs34.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{120,160},{46,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,50}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>fairy_feilong_2083:opqws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{363,149},{16,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,12}}</string>
                <key>sourceSize</key>
                <string>{16,12}</string>
            </dict>
            <key>fairy_feilong_2083:ovaw23.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{62,160},{56,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{56,53}}</string>
                <key>sourceSize</key>
                <string>{56,53}</string>
            </dict>
            <key>fairy_feilong_2083:pov0asba.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{268,154},{15,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,9}}</string>
                <key>sourceSize</key>
                <string>{15,9}</string>
            </dict>
            <key>fairy_feilong_2083:u87qwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{268,103},{25,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,41}}</string>
                <key>sourceSize</key>
                <string>{25,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>fairy_feilong_2083.pvr.ccz</string>
            <key>size</key>
            <string>{512,251}</string>
            <key>textureFileName</key>
            <string>fairy_feilong_2083.pvr.ccz</string>
        </dict>
    </dict>
</plist>
