<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairy_dianciguai_2066:F1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{265,0},{125,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{125,119}}</string>
                <key>sourceSize</key>
                <string>{125,119}</string>
            </dict>
            <key>fairy_dianciguai_2066:F2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{381,261},{125,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{125,119}}</string>
                <key>sourceSize</key>
                <string>{125,119}</string>
            </dict>
            <key>fairy_dianciguai_2066:F3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{127,174},{125,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{125,119}}</string>
                <key>sourceSize</key>
                <string>{125,119}</string>
            </dict>
            <key>fairy_dianciguai_2066:Y1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{254,242},{125,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{125,119}}</string>
                <key>sourceSize</key>
                <string>{125,119}</string>
            </dict>
            <key>fairy_dianciguai_2066:Y2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,172},{125,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{125,119}}</string>
                <key>sourceSize</key>
                <string>{125,119}</string>
            </dict>
            <key>fairy_dianciguai_2066:Y3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{265,121},{125,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{125,119}}</string>
                <key>sourceSize</key>
                <string>{125,119}</string>
            </dict>
            <key>fairy_dianciguai_2066:dianq shou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{439,198},{19,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,31}}</string>
                <key>sourceSize</key>
                <string>{19,31}</string>
            </dict>
            <key>fairy_dianciguai_2066:dianq shoubi1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{480,242},{17,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,14}}</string>
                <key>sourceSize</key>
                <string>{17,14}</string>
            </dict>
            <key>fairy_dianciguai_2066:dianqiu shen1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{467,119},{41,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{41,47}}</string>
                <key>sourceSize</key>
                <string>{41,47}</string>
            </dict>
            <key>fairy_dianciguai_2066:dianqu shenti2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{467,168},{37,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,42}}</string>
                <key>sourceSize</key>
                <string>{37,42}</string>
            </dict>
            <key>fairy_dianciguai_2066:dianqu shou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{480,212},{18,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,28}}</string>
                <key>sourceSize</key>
                <string>{18,28}</string>
            </dict>
            <key>fairy_dianciguai_2066:dianqu shou3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{460,212},{18,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,29}}</string>
                <key>sourceSize</key>
                <string>{18,29}</string>
            </dict>
            <key>fairy_dianciguai_2066:dianqu shou4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{439,231},{17,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,28}}</string>
                <key>sourceSize</key>
                <string>{17,28}</string>
            </dict>
            <key>fairy_dianciguai_2066:dianqu shoubi2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{458,243},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>fairy_dianciguai_2066:t1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{392,198},{45,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,50}}</string>
                <key>sourceSize</key>
                <string>{45,50}</string>
            </dict>
            <key>fairy_dianciguai_2066:t2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{392,119},{73,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{73,77}}</string>
                <key>sourceSize</key>
                <string>{73,77}</string>
            </dict>
            <key>fairy_dianciguai_2066:t3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{392,0},{105,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{105,117}}</string>
                <key>sourceSize</key>
                <string>{105,117}</string>
            </dict>
            <key>fairy_dianciguai_2066:t4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{137,0},{126,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,172}</string>
            </dict>
            <key>fairy_dianciguai_2066:t5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{135,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{135,170}}</string>
                <key>sourceSize</key>
                <string>{135,170}</string>
            </dict>
            <key>fairy_dianciguai_2066:t6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{499,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{0,0}</string>
            </dict>
            <key>fairy_dianciguai_2066:vvxvxc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{90,295},{82,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{82,62}}</string>
                <key>sourceSize</key>
                <string>{82,62}</string>
            </dict>
            <key>fairy_dianciguai_2066:z1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{174,295},{74,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{74,64}}</string>
                <key>sourceSize</key>
                <string>{74,64}</string>
            </dict>
            <key>fairy_dianciguai_2066:z2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{84,359},{78,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{78,52}}</string>
                <key>sourceSize</key>
                <string>{78,52}</string>
            </dict>
            <key>fairy_dianciguai_2066:z3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{164,361},{75,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{75,55}}</string>
                <key>sourceSize</key>
                <string>{75,55}</string>
            </dict>
            <key>fairy_dianciguai_2066:z5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,356},{82,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{82,62}}</string>
                <key>sourceSize</key>
                <string>{82,62}</string>
            </dict>
            <key>fairy_dianciguai_2066:z6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,293},{88,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{88,61}}</string>
                <key>sourceSize</key>
                <string>{88,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>fairy_dianciguai_2066.pvr.ccz</string>
            <key>size</key>
            <string>{507,413}</string>
            <key>textureFileName</key>
            <string>fairy_dianciguai_2066.pvr.ccz</string>
        </dict>
    </dict>
</plist>
