<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairy_longmaoche_2075:0qw9sa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{153,63},{64,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{64,58}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>fairy_longmaoche_2075:aisud8q.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{54,73},{22,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,27}}</string>
                <key>sourceSize</key>
                <string>{22,27}</string>
            </dict>
            <key>fairy_longmaoche_2075:ajsudva.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{135,162},{15,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,11}}</string>
                <key>sourceSize</key>
                <string>{15,11}</string>
            </dict>
            <key>fairy_longmaoche_2075:askdia.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{218,147},{28,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,14}}</string>
                <key>sourceSize</key>
                <string>{28,14}</string>
            </dict>
            <key>fairy_longmaoche_2075:caskiq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,128},{45,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,43}}</string>
                <key>sourceSize</key>
                <string>{45,43}</string>
            </dict>
            <key>fairy_longmaoche_2075:casqe4q.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{203,123},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>fairy_longmaoche_2075:casqr5q.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{47,150},{19,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,21}}</string>
                <key>sourceSize</key>
                <string>{19,21}</string>
            </dict>
            <key>fairy_longmaoche_2075:casqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{203,139},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>fairy_longmaoche_2075:casqwrq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{68,150},{8,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{8,11}}</string>
                <key>sourceSize</key>
                <string>{8,11}</string>
            </dict>
            <key>fairy_longmaoche_2075:cavqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{203,162},{11,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,7}}</string>
                <key>sourceSize</key>
                <string>{11,7}</string>
            </dict>
            <key>fairy_longmaoche_2075:dasqweq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{135,122},{16,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,23}}</string>
                <key>sourceSize</key>
                <string>{16,23}</string>
            </dict>
            <key>fairy_longmaoche_2075:dqweq51.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{90,168},{14,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,9}}</string>
                <key>sourceSize</key>
                <string>{14,9}</string>
            </dict>
            <key>fairy_longmaoche_2075:iquw8sa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{153,0},{68,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,61}}</string>
                <key>sourceSize</key>
                <string>{68,61}</string>
            </dict>
            <key>fairy_longmaoche_2075:iqwueq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{218,126},{27,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,19}}</string>
                <key>sourceSize</key>
                <string>{27,19}</string>
            </dict>
            <key>fairy_longmaoche_2075:iuasd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{175,167},{19,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,16}}</string>
                <key>sourceSize</key>
                <string>{19,16}</string>
            </dict>
            <key>fairy_longmaoche_2075:iuasvba.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{236,163},{18,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,9}}</string>
                <key>sourceSize</key>
                <string>{18,9}</string>
            </dict>
            <key>fairy_longmaoche_2075:iuva8s.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{47,128},{24,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,20}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
            <key>fairy_longmaoche_2075:jaisuq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{68,168},{20,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,12}}</string>
                <key>sourceSize</key>
                <string>{20,12}</string>
            </dict>
            <key>fairy_longmaoche_2075:jiausda.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{54,102},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
            <key>fairy_longmaoche_2075:juvas.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{223,48},{24,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,25}}</string>
                <key>sourceSize</key>
                <string>{24,25}</string>
            </dict>
            <key>fairy_longmaoche_2075:kaisda.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{79,0},{72,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{72,64}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
            <key>fairy_longmaoche_2075:kaisq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{153,123},{48,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{48,42}}</string>
                <key>sourceSize</key>
                <string>{48,42}</string>
            </dict>
            <key>fairy_longmaoche_2075:kasiuq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{203,154},{13,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,6}}</string>
                <key>sourceSize</key>
                <string>{13,6}</string>
            </dict>
            <key>fairy_longmaoche_2075:kjasq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{77,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{77,71}}</string>
                <key>sourceSize</key>
                <string>{77,71}</string>
            </dict>
            <key>fairy_longmaoche_2075:kqjwisa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{79,66},{63,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{63,54}}</string>
                <key>sourceSize</key>
                <string>{63,54}</string>
            </dict>
            <key>fairy_longmaoche_2075:lasopq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{216,163},{18,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,22}}</string>
                <key>sourceSize</key>
                <string>{18,22}</string>
            </dict>
            <key>fairy_longmaoche_2075:qjwiusa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,73},{52,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{52,53}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>fairy_longmaoche_2075:qkwjisa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{223,0},{28,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,46}}</string>
                <key>sourceSize</key>
                <string>{28,46}</string>
            </dict>
            <key>fairy_longmaoche_2075:qwerq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{106,168},{10,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,6}}</string>
                <key>sourceSize</key>
                <string>{10,6}</string>
            </dict>
            <key>fairy_longmaoche_2075:qwois9a.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{219,75},{33,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,49}}</string>
                <key>sourceSize</key>
                <string>{33,49}</string>
            </dict>
            <key>fairy_longmaoche_2075:qwuiusa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{78,122},{55,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,44}}</string>
                <key>sourceSize</key>
                <string>{55,44}</string>
            </dict>
            <key>fairy_longmaoche_2075:vasqweq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{152,167},{21,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,18}}</string>
                <key>sourceSize</key>
                <string>{21,18}</string>
            </dict>
            <key>fairy_longmaoche_2075:vasqweq5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{135,147},{16,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,13}}</string>
                <key>sourceSize</key>
                <string>{16,13}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>fairy_longmaoche_2075.pvr.ccz</string>
            <key>size</key>
            <string>{254,186}</string>
            <key>textureFileName</key>
            <string>fairy_longmaoche_2075.pvr.ccz</string>
        </dict>
    </dict>
</plist>
