<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairy_yanshijuren_2044:g1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,320},{89,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{89,103}}</string>
                <key>sourceSize</key>
                <string>{89,103}</string>
            </dict>
            <key>fairy_yanshijuren_2044:g2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{147,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{147,190}}</string>
                <key>sourceSize</key>
                <string>{147,190}</string>
            </dict>
            <key>fairy_yanshijuren_2044:gfgd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{299,0},{122,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{122,157}}</string>
                <key>sourceSize</key>
                <string>{122,157}</string>
            </dict>
            <key>fairy_yanshijuren_2044:h1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{423,128},{87,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{87,126}}</string>
                <key>sourceSize</key>
                <string>{87,126}</string>
            </dict>
            <key>fairy_yanshijuren_2044:h2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{149,188},{93,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{93,126}}</string>
                <key>sourceSize</key>
                <string>{93,126}</string>
            </dict>
            <key>fairy_yanshijuren_2044:h3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,192},{92,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{92,126}}</string>
                <key>sourceSize</key>
                <string>{92,126}</string>
            </dict>
            <key>fairy_yanshijuren_2044:h4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{299,159},{95,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{95,127}}</string>
                <key>sourceSize</key>
                <string>{95,127}</string>
            </dict>
            <key>fairy_yanshijuren_2044:h5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{396,256},{90,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{90,128}}</string>
                <key>sourceSize</key>
                <string>{90,128}</string>
            </dict>
            <key>fairy_yanshijuren_2044:h6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{423,0},{87,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{87,126}}</string>
                <key>sourceSize</key>
                <string>{87,126}</string>
            </dict>
            <key>fairy_yanshijuren_2044:h7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{295,288},{87,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{87,126}}</string>
                <key>sourceSize</key>
                <string>{87,126}</string>
            </dict>
            <key>fairy_yanshijuren_2044:h8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{132,316},{87,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{87,126}}</string>
                <key>sourceSize</key>
                <string>{87,126}</string>
            </dict>
            <key>fairy_yanshijuren_2044:s1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{94,295},{36,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{36,39}}</string>
                <key>sourceSize</key>
                <string>{36,39}</string>
            </dict>
            <key>fairy_yanshijuren_2044:s2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{244,188},{39,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,60}}</string>
                <key>sourceSize</key>
                <string>{39,60}</string>
            </dict>
            <key>fairy_yanshijuren_2044:s3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{94,192},{33,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,63}}</string>
                <key>sourceSize</key>
                <string>{33,63}</string>
            </dict>
            <key>fairy_yanshijuren_2044:s4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{257,332},{34,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,38}}</string>
                <key>sourceSize</key>
                <string>{34,38}</string>
            </dict>
            <key>fairy_yanshijuren_2044:s5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{94,257},{47,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{47,36}}</string>
                <key>sourceSize</key>
                <string>{47,36}</string>
            </dict>
            <key>fairy_yanshijuren_2044:s6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{396,183},{24,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,15}}</string>
                <key>sourceSize</key>
                <string>{24,15}</string>
            </dict>
            <key>fairy_yanshijuren_2044:s7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{91,336},{33,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,22}}</string>
                <key>sourceSize</key>
                <string>{33,22}</string>
            </dict>
            <key>fairy_yanshijuren_2044:shenti4345.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{244,250},{49,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{49,38}}</string>
                <key>sourceSize</key>
                <string>{49,38}</string>
            </dict>
            <key>fairy_yanshijuren_2044:shobi2334.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{221,332},{34,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,39}}</string>
                <key>sourceSize</key>
                <string>{34,39}</string>
            </dict>
            <key>fairy_yanshijuren_2044:tou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{396,159},{25,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,22}}</string>
                <key>sourceSize</key>
                <string>{25,22}</string>
            </dict>
            <key>fairy_yanshijuren_2044:tou443.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{91,360},{26,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,23}}</string>
                <key>sourceSize</key>
                <string>{26,23}</string>
            </dict>
            <key>fairy_yanshijuren_2044:vcxvdsda.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{149,0},{148,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{148,186}}</string>
                <key>sourceSize</key>
                <string>{148,186}</string>
            </dict>
            <key>fairy_yanshijuren_2044:vxvxcvxc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{244,290},{36,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{36,40}}</string>
                <key>sourceSize</key>
                <string>{36,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>fairy_yanshijuren_2044.pvr.ccz</string>
            <key>size</key>
            <string>{509,440}</string>
            <key>textureFileName</key>
            <string>fairy_yanshijuren_2044.pvr.ccz</string>
        </dict>
    </dict>
</plist>
