<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairy_shansubianfu_2017:a6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,437},{18,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,34}}</string>
                <key>sourceSize</key>
                <string>{18,34}</string>
            </dict>
            <key>fairy_shansubianfu_2017:bvbcb.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{487,239},{22,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,45}}</string>
                <key>sourceSize</key>
                <string>{22,45}</string>
            </dict>
            <key>fairy_shansubianfu_2017:bvn vbnv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{242,353},{51,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{51,28}}</string>
                <key>sourceSize</key>
                <string>{51,28}</string>
            </dict>
            <key>fairy_shansubianfu_2017:d1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,339},{44,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{44,51}}</string>
                <key>sourceSize</key>
                <string>{44,51}</string>
            </dict>
            <key>fairy_shansubianfu_2017:d2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{414,349},{37,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,44}}</string>
                <key>sourceSize</key>
                <string>{37,44}</string>
            </dict>
            <key>fairy_shansubianfu_2017:d3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{414,290},{46,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{46,56}</string>
            </dict>
            <key>fairy_shansubianfu_2017:d4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{166,318},{45,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,52}}</string>
                <key>sourceSize</key>
                <string>{45,52}</string>
            </dict>
            <key>fairy_shansubianfu_2017:d5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,219},{61,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{61,66}}</string>
                <key>sourceSize</key>
                <string>{61,66}</string>
            </dict>
            <key>fairy_shansubianfu_2017:d6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{428,88},{66,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{66,75}}</string>
                <key>sourceSize</key>
                <string>{66,75}</string>
            </dict>
            <key>fairy_shansubianfu_2017:d7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{47,340},{43,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,49}}</string>
                <key>sourceSize</key>
                <string>{43,49}</string>
            </dict>
            <key>fairy_shansubianfu_2017:d8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{428,166},{62,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{62,70}}</string>
                <key>sourceSize</key>
                <string>{62,70}</string>
            </dict>
            <key>fairy_shansubianfu_2017:d9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{118,302},{45,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,53}}</string>
                <key>sourceSize</key>
                <string>{45,53}</string>
            </dict>
            <key>fairy_shansubianfu_2017:f1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,393},{25,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,41}}</string>
                <key>sourceSize</key>
                <string>{25,41}</string>
            </dict>
            <key>fairy_shansubianfu_2017:f2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{214,330},{25,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,41}}</string>
                <key>sourceSize</key>
                <string>{25,41}</string>
            </dict>
            <key>fairy_shansubianfu_2017:f3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{114,396},{25,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,41}}</string>
                <key>sourceSize</key>
                <string>{25,41}</string>
            </dict>
            <key>fairy_shansubianfu_2017:f4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{414,396},{25,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,41}}</string>
                <key>sourceSize</key>
                <string>{25,41}</string>
            </dict>
            <key>fairy_shansubianfu_2017:f5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{47,392},{25,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,41}}</string>
                <key>sourceSize</key>
                <string>{25,41}</string>
            </dict>
            <key>fairy_shansubianfu_2017:f6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{482,398},{25,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,41}}</string>
                <key>sourceSize</key>
                <string>{25,41}</string>
            </dict>
            <key>fairy_shansubianfu_2017:f7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{132,258},{25,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,41}}</string>
                <key>sourceSize</key>
                <string>{25,41}</string>
            </dict>
            <key>fairy_shansubianfu_2017:f8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{454,364},{25,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,41}}</string>
                <key>sourceSize</key>
                <string>{25,41}</string>
            </dict>
            <key>fairy_shansubianfu_2017:g1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{93,377},{18,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,34}}</string>
                <key>sourceSize</key>
                <string>{18,34}</string>
            </dict>
            <key>fairy_shansubianfu_2017:nmbm.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{116,358},{42,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{42,35}}</string>
                <key>sourceSize</key>
                <string>{42,35}</string>
            </dict>
            <key>fairy_shansubianfu_2017:q2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{279,421},{18,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,34}}</string>
                <key>sourceSize</key>
                <string>{18,34}</string>
            </dict>
            <key>fairy_shansubianfu_2017:q3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{49,436},{18,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,34}}</string>
                <key>sourceSize</key>
                <string>{18,34}</string>
            </dict>
            <key>fairy_shansubianfu_2017:q4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{392,411},{18,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,34}}</string>
                <key>sourceSize</key>
                <string>{18,34}</string>
            </dict>
            <key>fairy_shansubianfu_2017:q5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{284,384},{18,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,34}}</string>
                <key>sourceSize</key>
                <string>{18,34}</string>
            </dict>
            <key>fairy_shansubianfu_2017:q7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{258,413},{18,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,34}}</string>
                <key>sourceSize</key>
                <string>{18,34}</string>
            </dict>
            <key>fairy_shansubianfu_2017:r1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{487,287},{20,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,34}}</string>
                <key>sourceSize</key>
                <string>{20,34}</string>
            </dict>
            <key>fairy_shansubianfu_2017:r2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{463,327},{20,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,34}}</string>
                <key>sourceSize</key>
                <string>{20,34}</string>
            </dict>
            <key>fairy_shansubianfu_2017:r3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{486,324},{20,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,34}}</string>
                <key>sourceSize</key>
                <string>{20,34}</string>
            </dict>
            <key>fairy_shansubianfu_2017:r4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{463,290},{20,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,34}}</string>
                <key>sourceSize</key>
                <string>{20,34}</string>
            </dict>
            <key>fairy_shansubianfu_2017:r5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{93,340},{20,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,34}}</string>
                <key>sourceSize</key>
                <string>{20,34}</string>
            </dict>
            <key>fairy_shansubianfu_2017:r6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{228,256},{20,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,34}}</string>
                <key>sourceSize</key>
                <string>{20,34}</string>
            </dict>
            <key>fairy_shansubianfu_2017:r7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{486,361},{20,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,34}}</string>
                <key>sourceSize</key>
                <string>{20,34}</string>
            </dict>
            <key>fairy_shansubianfu_2017:r8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{228,293},{20,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,34}}</string>
                <key>sourceSize</key>
                <string>{20,34}</string>
            </dict>
            <key>fairy_shansubianfu_2017:shenti1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{200,374},{38,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,28}}</string>
                <key>sourceSize</key>
                <string>{38,28}</string>
            </dict>
            <key>fairy_shansubianfu_2017:shenti2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{241,384},{40,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,26}}</string>
                <key>sourceSize</key>
                <string>{40,26}</string>
            </dict>
            <key>fairy_shansubianfu_2017:t1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{334,411},{26,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,39}}</string>
                <key>sourceSize</key>
                <string>{26,39}</string>
            </dict>
            <key>fairy_shansubianfu_2017:t2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{142,410},{26,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,39}}</string>
                <key>sourceSize</key>
                <string>{26,39}</string>
            </dict>
            <key>fairy_shansubianfu_2017:t3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{200,405},{26,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,39}}</string>
                <key>sourceSize</key>
                <string>{26,39}</string>
            </dict>
            <key>fairy_shansubianfu_2017:t4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{363,411},{26,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,39}}</string>
                <key>sourceSize</key>
                <string>{26,39}</string>
            </dict>
            <key>fairy_shansubianfu_2017:t5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{305,411},{26,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,39}}</string>
                <key>sourceSize</key>
                <string>{26,39}</string>
            </dict>
            <key>fairy_shansubianfu_2017:t6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{229,413},{26,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,39}}</string>
                <key>sourceSize</key>
                <string>{26,39}</string>
            </dict>
            <key>fairy_shansubianfu_2017:t7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{442,408},{26,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,39}}</string>
                <key>sourceSize</key>
                <string>{26,39}</string>
            </dict>
            <key>fairy_shansubianfu_2017:t8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{171,410},{26,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,39}}</string>
                <key>sourceSize</key>
                <string>{26,39}</string>
            </dict>
            <key>fairy_shansubianfu_2017:tou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{132,219},{35,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,36}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
            <key>fairy_shansubianfu_2017:tou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{161,373},{36,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{36,34}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
            <key>fairy_shansubianfu_2017:w1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{64,281},{51,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{51,56}}</string>
                <key>sourceSize</key>
                <string>{51,56}</string>
            </dict>
            <key>fairy_shansubianfu_2017:w2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{170,256},{55,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,59}}</string>
                <key>sourceSize</key>
                <string>{55,59}</string>
            </dict>
            <key>fairy_shansubianfu_2017:w3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{170,205},{80,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{80,48}}</string>
                <key>sourceSize</key>
                <string>{80,48}</string>
            </dict>
            <key>fairy_shansubianfu_2017:w4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{251,278},{42,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{42,72}}</string>
                <key>sourceSize</key>
                <string>{42,72}</string>
            </dict>
            <key>fairy_shansubianfu_2017:w5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,288},{58,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,48}}</string>
                <key>sourceSize</key>
                <string>{58,48}</string>
            </dict>
            <key>fairy_shansubianfu_2017:w6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{64,219},{65,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{65,59}}</string>
                <key>sourceSize</key>
                <string>{65,59}</string>
            </dict>
            <key>fairy_shansubianfu_2017:w8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{253,205},{49,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{49,70}}</string>
                <key>sourceSize</key>
                <string>{49,70}</string>
            </dict>
            <key>fairy_shansubianfu_2017:w9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{414,239},{70,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,48}}</string>
                <key>sourceSize</key>
                <string>{70,48}</string>
            </dict>
            <key>fairy_shansubianfu_2017:y2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{28,436},{18,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,34}}</string>
                <key>sourceSize</key>
                <string>{18,34}</string>
            </dict>
            <key>fairy_shansubianfu_2017:z1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{75,414},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>fairy_shansubianfu_2017:z2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{428,0},{62,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{62,85}}</string>
                <key>sourceSize</key>
                <string>{62,85}</string>
            </dict>
            <key>fairy_shansubianfu_2017:z3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{311,203},{100,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{100,205}}</string>
                <key>sourceSize</key>
                <string>{100,205}</string>
            </dict>
            <key>fairy_shansubianfu_2017:z4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{311,0},{114,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{114,200}}</string>
                <key>sourceSize</key>
                <string>{114,200}</string>
            </dict>
            <key>fairy_shansubianfu_2017:z5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{170,0},{138,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{138,202}}</string>
                <key>sourceSize</key>
                <string>{138,202}</string>
            </dict>
            <key>fairy_shansubianfu_2017:z6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{167,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{167,216}}</string>
                <key>sourceSize</key>
                <string>{167,216}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>fairy_shansubianfu_2017.pvr.ccz</string>
            <key>size</key>
            <string>{511,472}</string>
            <key>textureFileName</key>
            <string>fairy_shansubianfu_2017.pvr.ccz</string>
        </dict>
    </dict>
</plist>
