<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairy_goddess_2026:bcb.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{918,188},{48,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{48,97}}</string>
                <key>sourceSize</key>
                <string>{48,97}</string>
            </dict>
            <key>fairy_goddess_2026:bnv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{979,89},{14,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,36}}</string>
                <key>sourceSize</key>
                <string>{14,36}</string>
            </dict>
            <key>fairy_goddess_2026:bvnbvnv 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{184,0},{212,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{212,215}}</string>
                <key>sourceSize</key>
                <string>{212,215}</string>
            </dict>
            <key>fairy_goddess_2026:casvwq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{509,207},{69,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{69,36}}</string>
                <key>sourceSize</key>
                <string>{69,36}</string>
            </dict>
            <key>fairy_goddess_2026:cvbcvbcv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{929,89},{48,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{48,97}}</string>
                <key>sourceSize</key>
                <string>{48,97}</string>
            </dict>
            <key>fairy_goddess_2026:d1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{283,217},{32,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,33}}</string>
                <key>sourceSize</key>
                <string>{32,33}</string>
            </dict>
            <key>fairy_goddess_2026:d2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{929,0},{80,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{80,87}}</string>
                <key>sourceSize</key>
                <string>{80,87}</string>
            </dict>
            <key>fairy_goddess_2026:d3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{398,207},{109,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{109,111}}</string>
                <key>sourceSize</key>
                <string>{109,111}</string>
            </dict>
            <key>fairy_goddess_2026:d4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{582,178},{142,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{142,140}}</string>
                <key>sourceSize</key>
                <string>{142,140}</string>
            </dict>
            <key>fairy_goddess_2026:d5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{766,0},{161,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{161,160}}</string>
                <key>sourceSize</key>
                <string>{161,160}</string>
            </dict>
            <key>fairy_goddess_2026:d6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{766,162},{150,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{150,147}}</string>
                <key>sourceSize</key>
                <string>{150,147}</string>
            </dict>
            <key>fairy_goddess_2026:jiao1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1011,0},{11,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,35}}</string>
                <key>sourceSize</key>
                <string>{11,35}</string>
            </dict>
            <key>fairy_goddess_2026:jiao2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{979,127},{13,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,33}}</string>
                <key>sourceSize</key>
                <string>{13,33}</string>
            </dict>
            <key>fairy_goddess_2026:jiao3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1011,66},{7,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,27}}</string>
                <key>sourceSize</key>
                <string>{7,27}</string>
            </dict>
            <key>fairy_goddess_2026:jiao4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1011,37},{7,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,27}}</string>
                <key>sourceSize</key>
                <string>{7,27}</string>
            </dict>
            <key>fairy_goddess_2026:kouzhang.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{994,158},{14,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,6}}</string>
                <key>sourceSize</key>
                <string>{14,6}</string>
            </dict>
            <key>fairy_goddess_2026:p1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{582,0},{182,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{182,176}}</string>
                <key>sourceSize</key>
                <string>{182,176}</string>
            </dict>
            <key>fairy_goddess_2026:p2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{398,0},{182,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{182,205}}</string>
                <key>sourceSize</key>
                <string>{182,205}</string>
            </dict>
            <key>fairy_goddess_2026:p3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{182,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{182,317}}</string>
                <key>sourceSize</key>
                <string>{182,317}</string>
            </dict>
            <key>fairy_goddess_2026:pun1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{359,217},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>fairy_goddess_2026:pun2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1011,95},{10,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,20}}</string>
                <key>sourceSize</key>
                <string>{10,20}</string>
            </dict>
            <key>fairy_goddess_2026:pun3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{339,217},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{18,20}</string>
            </dict>
            <key>fairy_goddess_2026:pun4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{968,228},{21,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,12}}</string>
                <key>sourceSize</key>
                <string>{21,12}</string>
            </dict>
            <key>fairy_goddess_2026:pun5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{726,221},{20,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,14}}</string>
                <key>sourceSize</key>
                <string>{20,14}</string>
            </dict>
            <key>fairy_goddess_2026:qwcwe4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{184,217},{97,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{97,33}}</string>
                <key>sourceSize</key>
                <string>{97,33}</string>
            </dict>
            <key>fairy_goddess_2026:roubi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1010,153},{7,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,8}}</string>
                <key>sourceSize</key>
                <string>{7,8}</string>
            </dict>
            <key>fairy_goddess_2026:shenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{994,143},{14,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,13}}</string>
                <key>sourceSize</key>
                <string>{14,13}</string>
            </dict>
            <key>fairy_goddess_2026:shou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1010,130},{11,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,9}}</string>
                <key>sourceSize</key>
                <string>{11,9}</string>
            </dict>
            <key>fairy_goddess_2026:shou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1011,117},{11,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,11}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>fairy_goddess_2026:shoubi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1010,141},{6,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{6,10}}</string>
                <key>sourceSize</key>
                <string>{6,10}</string>
            </dict>
            <key>fairy_goddess_2026:tou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{726,178},{37,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,41}}</string>
                <key>sourceSize</key>
                <string>{37,41}</string>
            </dict>
            <key>fairy_goddess_2026:toufa1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{979,166},{39,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,60}}</string>
                <key>sourceSize</key>
                <string>{39,60}</string>
            </dict>
            <key>fairy_goddess_2026:toushi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{317,217},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,18}</string>
            </dict>
            <key>fairy_goddess_2026:wujian1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{377,217},{16,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,14}}</string>
                <key>sourceSize</key>
                <string>{16,14}</string>
            </dict>
            <key>fairy_goddess_2026:wujian2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{994,127},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>fairy_goddess_2026:wuqi2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{995,89},{14,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,36}}</string>
                <key>sourceSize</key>
                <string>{14,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>fairy_goddess_2026.pvr.ccz</string>
            <key>size</key>
            <string>{1022,319}</string>
            <key>textureFileName</key>
            <string>fairy_goddess_2026.pvr.ccz</string>
        </dict>
    </dict>
</plist>
