<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairy_guodong_2061:bolishen1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{222,358},{65,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{65,59}}</string>
                <key>sourceSize</key>
                <string>{65,59}</string>
            </dict>
            <key>fairy_guodong_2061:bolishen2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{149,358},{71,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{71,53}}</string>
                <key>sourceSize</key>
                <string>{71,53}</string>
            </dict>
            <key>fairy_guodong_2061:bvnbvnv 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{212,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{212,215}}</string>
                <key>sourceSize</key>
                <string>{212,215}</string>
            </dict>
            <key>fairy_guodong_2061:c1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{374,202},{23,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,29}}</string>
                <key>sourceSize</key>
                <string>{23,29}</string>
            </dict>
            <key>fairy_guodong_2061:c2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{149,217},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>fairy_guodong_2061:c3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{177,217},{26,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,24}}</string>
                <key>sourceSize</key>
                <string>{26,24}</string>
            </dict>
            <key>fairy_guodong_2061:c4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{374,233},{26,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,23}}</string>
                <key>sourceSize</key>
                <string>{26,23}</string>
            </dict>
            <key>fairy_guodong_2061:t11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{374,282},{95,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{95,99}}</string>
                <key>sourceSize</key>
                <string>{95,99}</string>
            </dict>
            <key>fairy_guodong_2061:t13.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,217},{147,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{147,147}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>fairy_guodong_2061:t15.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{214,0},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>fairy_guodong_2061:t17.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{214,202},{158,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{158,154}}</string>
                <key>sourceSize</key>
                <string>{158,154}</string>
            </dict>
            <key>fairy_guodong_2061:t5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{416,99},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>fairy_guodong_2061:t7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{416,192},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>fairy_guodong_2061:t9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{416,0},{91,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{91,97}}</string>
                <key>sourceSize</key>
                <string>{91,97}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>fairy_guodong_2061.pvr.ccz</string>
            <key>size</key>
            <string>{507,410}</string>
            <key>textureFileName</key>
            <string>fairy_guodong_2061.pvr.ccz</string>
        </dict>
    </dict>
</plist>
