<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairy_dasheng_2079:bcvbcbc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{168,100},{120,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{120,122}}</string>
                <key>sourceSize</key>
                <string>{120,122}</string>
            </dict>
            <key>fairy_dasheng_2079:c1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{322,219},{30,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,38}}</string>
                <key>sourceSize</key>
                <string>{30,38}</string>
            </dict>
            <key>fairy_dasheng_2079:c2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{290,218},{30,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>fairy_dasheng_2079:c3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{471,191},{30,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>fairy_dasheng_2079:c4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{110,204},{30,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>fairy_dasheng_2079:c5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{322,177},{30,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>fairy_dasheng_2079:c6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{472,149},{30,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>fairy_dasheng_2079:c7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{110,162},{30,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>fairy_dasheng_2079:c8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{290,176},{30,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>fairy_dasheng_2079:jiao1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{481,128},{18,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,19}}</string>
                <key>sourceSize</key>
                <string>{18,19}</string>
            </dict>
            <key>fairy_dasheng_2079:jiao2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{481,0},{25,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,28}}</string>
                <key>sourceSize</key>
                <string>{25,28}</string>
            </dict>
            <key>fairy_dasheng_2079:jiao3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{455,134},{15,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,20}}</string>
                <key>sourceSize</key>
                <string>{15,20}</string>
            </dict>
            <key>fairy_dasheng_2079:kudang1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{455,181},{14,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,10}}</string>
                <key>sourceSize</key>
                <string>{14,10}</string>
            </dict>
            <key>fairy_dasheng_2079:lian.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{501,128},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>fairy_dasheng_2079:pifen1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{400,226},{41,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{41,19}}</string>
                <key>sourceSize</key>
                <string>{41,19}</string>
            </dict>
            <key>fairy_dasheng_2079:pifeng1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{142,224},{74,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{74,50}}</string>
                <key>sourceSize</key>
                <string>{74,50}</string>
            </dict>
            <key>fairy_dasheng_2079:pifeng2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{354,226},{44,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{44,21}}</string>
                <key>sourceSize</key>
                <string>{44,21}</string>
            </dict>
            <key>fairy_dasheng_2079:pifeng3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{218,224},{67,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{67,50}}</string>
                <key>sourceSize</key>
                <string>{67,50}</string>
            </dict>
            <key>fairy_dasheng_2079:q2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{355,134},{98,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{98,90}}</string>
                <key>sourceSize</key>
                <string>{98,90}</string>
            </dict>
            <key>fairy_dasheng_2079:q3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{355,0},{124,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{124,132}}</string>
                <key>sourceSize</key>
                <string>{124,132}</string>
            </dict>
            <key>fairy_dasheng_2079:q4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{166,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{166,160}}</string>
                <key>sourceSize</key>
                <string>{166,160}</string>
            </dict>
            <key>fairy_dasheng_2079:shenti1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{481,52},{23,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,17}}</string>
                <key>sourceSize</key>
                <string>{23,17}</string>
            </dict>
            <key>fairy_dasheng_2079:shipin1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{455,156},{11,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,23}}</string>
                <key>sourceSize</key>
                <string>{11,23}</string>
            </dict>
            <key>fairy_dasheng_2079:shou3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{142,178},{15,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,13}}</string>
                <key>sourceSize</key>
                <string>{15,13}</string>
            </dict>
            <key>fairy_dasheng_2079:shou4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{481,111},{24,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,15}}</string>
                <key>sourceSize</key>
                <string>{24,15}</string>
            </dict>
            <key>fairy_dasheng_2079:shou5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{142,162},{18,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,14}}</string>
                <key>sourceSize</key>
                <string>{18,14}</string>
            </dict>
            <key>fairy_dasheng_2079:shoubi1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{330,139},{18,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,16}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>fairy_dasheng_2079:shoubi2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{481,91},{22,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,18}}</string>
                <key>sourceSize</key>
                <string>{22,18}</string>
            </dict>
            <key>fairy_dasheng_2079:shoubi4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{330,157},{15,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,18}}</string>
                <key>sourceSize</key>
                <string>{15,18}</string>
            </dict>
            <key>fairy_dasheng_2079:tou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{290,139},{38,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,35}}</string>
                <key>sourceSize</key>
                <string>{38,35}</string>
            </dict>
            <key>fairy_dasheng_2079:tou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{290,100},{38,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,37}}</string>
                <key>sourceSize</key>
                <string>{38,37}</string>
            </dict>
            <key>fairy_dasheng_2079:tui1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{481,30},{22,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,20}}</string>
                <key>sourceSize</key>
                <string>{22,20}</string>
            </dict>
            <key>fairy_dasheng_2079:tui2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{330,121},{23,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,16}}</string>
                <key>sourceSize</key>
                <string>{23,16}</string>
            </dict>
            <key>fairy_dasheng_2079:tui4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{330,100},{21,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,19}}</string>
                <key>sourceSize</key>
                <string>{21,19}</string>
            </dict>
            <key>fairy_dasheng_2079:tui5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{481,71},{22,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,18}}</string>
                <key>sourceSize</key>
                <string>{22,18}</string>
            </dict>
            <key>fairy_dasheng_2079:wuqi1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{168,0},{185,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{185,98}}</string>
                <key>sourceSize</key>
                <string>{185,98}</string>
            </dict>
            <key>fairy_dasheng_2079:yun.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,162},{108,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{108,65}}</string>
                <key>sourceSize</key>
                <string>{108,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>fairy_dasheng_2079.pvr.ccz</string>
            <key>size</key>
            <string>{511,275}</string>
            <key>textureFileName</key>
            <string>fairy_dasheng_2079.pvr.ccz</string>
        </dict>
    </dict>
</plist>
