<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairy_jushi_2037:c2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{420,0},{86,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{86,85}}</string>
                <key>sourceSize</key>
                <string>{86,85}</string>
            </dict>
            <key>fairy_jushi_2037:c3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{228,177},{134,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{134,131}}</string>
                <key>sourceSize</key>
                <string>{134,131}</string>
            </dict>
            <key>fairy_jushi_2037:c4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{228,0},{189,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{189,174}}</string>
                <key>sourceSize</key>
                <string>{189,174}</string>
            </dict>
            <key>fairy_jushi_2037:c5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{225,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{225,211}}</string>
                <key>sourceSize</key>
                <string>{225,211}</string>
            </dict>
            <key>fairy_jushi_2037:d1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{417,234},{60,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{60,70}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>fairy_jushi_2037:d2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{109,214},{60,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{60,70}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>fairy_jushi_2037:d3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{420,88},{60,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{60,70}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>fairy_jushi_2037:d4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{406,307},{60,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{60,70}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>fairy_jushi_2037:d5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{420,161},{60,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{60,70}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>fairy_jushi_2037:d6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{212,311},{60,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{60,70}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>fairy_jushi_2037:d7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{275,311},{60,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{60,70}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>fairy_jushi_2037:d8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{109,287},{60,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{60,70}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>fairy_jushi_2037:s6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{483,88},{26,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,16}}</string>
                <key>sourceSize</key>
                <string>{26,16}</string>
            </dict>
            <key>fairy_jushi_2037:s7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{365,256},{45,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,34}}</string>
                <key>sourceSize</key>
                <string>{45,34}</string>
            </dict>
            <key>fairy_jushi_2037:shenti2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,338},{59,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{59,48}}</string>
                <key>sourceSize</key>
                <string>{59,48}</string>
            </dict>
            <key>fairy_jushi_2037:shenti7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{338,337},{61,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{61,49}}</string>
                <key>sourceSize</key>
                <string>{61,49}</string>
            </dict>
            <key>fairy_jushi_2037:shou10.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{62,338},{36,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{36,40}}</string>
                <key>sourceSize</key>
                <string>{36,40}</string>
            </dict>
            <key>fairy_jushi_2037:shou7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{469,307},{36,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{36,41}}</string>
                <key>sourceSize</key>
                <string>{36,41}</string>
            </dict>
            <key>fairy_jushi_2037:shou9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{365,293},{38,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,41}}</string>
                <key>sourceSize</key>
                <string>{38,41}</string>
            </dict>
            <key>fairy_jushi_2037:shoubi3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{365,177},{49,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{49,76}}</string>
                <key>sourceSize</key>
                <string>{49,76}</string>
            </dict>
            <key>fairy_jushi_2037:shoubi4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{172,214},{44,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{44,79}}</string>
                <key>sourceSize</key>
                <string>{44,79}</string>
            </dict>
            <key>fairy_jushi_2037:shu9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{172,296},{37,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,42}}</string>
                <key>sourceSize</key>
                <string>{37,42}</string>
            </dict>
            <key>fairy_jushi_2037:tou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{480,261},{27,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,23}}</string>
                <key>sourceSize</key>
                <string>{27,23}</string>
            </dict>
            <key>fairy_jushi_2037:tou3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{480,234},{27,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>fairy_jushi_2037:v1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,214},{106,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{106,121}}</string>
                <key>sourceSize</key>
                <string>{106,121}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>fairy_jushi_2037.pvr.ccz</string>
            <key>size</key>
            <string>{509,387}</string>
            <key>textureFileName</key>
            <string>fairy_jushi_2037.pvr.ccz</string>
        </dict>
    </dict>
</plist>
