<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairy_sishen_2097:a1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{53,268},{44,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{44,52}}</string>
                <key>sourceSize</key>
                <string>{44,52}</string>
            </dict>
            <key>fairy_sishen_2097:a2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{460,227},{46,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,73}}</string>
                <key>sourceSize</key>
                <string>{46,73}</string>
            </dict>
            <key>fairy_sishen_2097:a3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{252,262},{51,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{51,83}}</string>
                <key>sourceSize</key>
                <string>{51,83}</string>
            </dict>
            <key>fairy_sishen_2097:a4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{199,262},{51,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{51,85}}</string>
                <key>sourceSize</key>
                <string>{51,85}</string>
            </dict>
            <key>fairy_sishen_2097:a5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{306,154},{53,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{53,94}}</string>
                <key>sourceSize</key>
                <string>{53,94}</string>
            </dict>
            <key>fairy_sishen_2097:a6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{101,185},{52,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{52,87}}</string>
                <key>sourceSize</key>
                <string>{52,87}</string>
            </dict>
            <key>fairy_sishen_2097:a7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{306,250},{53,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{53,84}}</string>
                <key>sourceSize</key>
                <string>{53,84}</string>
            </dict>
            <key>fairy_sishen_2097:a8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{460,142},{50,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{50,83}}</string>
                <key>sourceSize</key>
                <string>{50,83}</string>
            </dict>
            <key>fairy_sishen_2097:a9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{155,185},{42,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{42,77}}</string>
                <key>sourceSize</key>
                <string>{42,77}</string>
            </dict>
            <key>fairy_sishen_2097:beici.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{189,280},{8,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{8,7}}</string>
                <key>sourceSize</key>
                <string>{8,7}</string>
            </dict>
            <key>fairy_sishen_2097:cvbcvbc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{189,264},{7,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,14}}</string>
                <key>sourceSize</key>
                <string>{7,14}</string>
            </dict>
            <key>fairy_sishen_2097:huo.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{138,274},{14,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,40}}</string>
                <key>sourceSize</key>
                <string>{14,40}</string>
            </dict>
            <key>fairy_sishen_2097:jiangbang1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{305,336},{30,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,33}}</string>
                <key>sourceSize</key>
                <string>{30,33}</string>
            </dict>
            <key>fairy_sishen_2097:jiangbang2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{148,359},{23,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,18}}</string>
                <key>sourceSize</key>
                <string>{23,18}</string>
            </dict>
            <key>fairy_sishen_2097:q1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{199,154},{105,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{105,106}}</string>
                <key>sourceSize</key>
                <string>{105,106}</string>
            </dict>
            <key>fairy_sishen_2097:q11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{99,274},{37,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,49}}</string>
                <key>sourceSize</key>
                <string>{37,49}</string>
            </dict>
            <key>fairy_sishen_2097:q12.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{361,311},{59,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{59,47}}</string>
                <key>sourceSize</key>
                <string>{59,47}</string>
            </dict>
            <key>fairy_sishen_2097:q13.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{361,278},{75,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{75,31}}</string>
                <key>sourceSize</key>
                <string>{75,31}</string>
            </dict>
            <key>fairy_sishen_2097:q14.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{438,278},{19,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,41}}</string>
                <key>sourceSize</key>
                <string>{19,41}</string>
            </dict>
            <key>fairy_sishen_2097:q15.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{53,322},{25,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,47}}</string>
                <key>sourceSize</key>
                <string>{25,47}</string>
            </dict>
            <key>fairy_sishen_2097:q2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,185},{99,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{99,81}}</string>
                <key>sourceSize</key>
                <string>{99,81}</string>
            </dict>
            <key>fairy_sishen_2097:q3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{367,0},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>fairy_sishen_2097:q4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{199,0},{166,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{166,152}}</string>
                <key>sourceSize</key>
                <string>{166,152}</string>
            </dict>
            <key>fairy_sishen_2097:q5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{197,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{197,183}}</string>
                <key>sourceSize</key>
                <string>{197,183}</string>
            </dict>
            <key>fairy_sishen_2097:qun1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,371},{73,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{73,28}}</string>
                <key>sourceSize</key>
                <string>{73,28}</string>
            </dict>
            <key>fairy_sishen_2097:qun2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{337,360},{57,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{57,45}}</string>
                <key>sourceSize</key>
                <string>{57,45}</string>
            </dict>
            <key>fairy_sishen_2097:qun3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{459,302},{34,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{34,48}</string>
            </dict>
            <key>fairy_sishen_2097:qun4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{92,325},{21,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,43}}</string>
                <key>sourceSize</key>
                <string>{21,43}</string>
            </dict>
            <key>fairy_sishen_2097:qun5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{437,321},{18,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,42}}</string>
                <key>sourceSize</key>
                <string>{18,42}</string>
            </dict>
            <key>fairy_sishen_2097:shenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{199,349},{27,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,23}}</string>
                <key>sourceSize</key>
                <string>{27,23}</string>
            </dict>
            <key>fairy_sishen_2097:shou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{138,334},{11,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,10}}</string>
                <key>sourceSize</key>
                <string>{11,10}</string>
            </dict>
            <key>fairy_sishen_2097:shou3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{80,322},{10,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,15}}</string>
                <key>sourceSize</key>
                <string>{10,15}</string>
            </dict>
            <key>fairy_sishen_2097:shou4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{495,319},{11,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,15}}</string>
                <key>sourceSize</key>
                <string>{11,15}</string>
            </dict>
            <key>fairy_sishen_2097:shoubi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{495,302},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>fairy_sishen_2097:shoubi1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{115,325},{21,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,17}}</string>
                <key>sourceSize</key>
                <string>{21,17}</string>
            </dict>
            <key>fairy_sishen_2097:shoubi3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{422,311},{13,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,15}}</string>
                <key>sourceSize</key>
                <string>{13,15}</string>
            </dict>
            <key>fairy_sishen_2097:tou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,332},{47,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{47,29}}</string>
                <key>sourceSize</key>
                <string>{47,29}</string>
            </dict>
            <key>fairy_sishen_2097:tou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{151,329},{46,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,28}}</string>
                <key>sourceSize</key>
                <string>{46,28}</string>
            </dict>
            <key>fairy_sishen_2097:weiba1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,268},{51,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{51,62}}</string>
                <key>sourceSize</key>
                <string>{51,62}</string>
            </dict>
            <key>fairy_sishen_2097:weiba2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{252,347},{33,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,25}}</string>
                <key>sourceSize</key>
                <string>{33,25}</string>
            </dict>
            <key>fairy_sishen_2097:weiba3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{155,264},{32,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,63}}</string>
                <key>sourceSize</key>
                <string>{32,63}</string>
            </dict>
            <key>fairy_sishen_2097:weiing2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{173,359},{23,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,14}}</string>
                <key>sourceSize</key>
                <string>{23,14}</string>
            </dict>
            <key>fairy_sishen_2097:weiing7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{422,328},{10,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,14}}</string>
                <key>sourceSize</key>
                <string>{10,14}</string>
            </dict>
            <key>fairy_sishen_2097:weijing.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{457,352},{31,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,18}}</string>
                <key>sourceSize</key>
                <string>{31,18}</string>
            </dict>
            <key>fairy_sishen_2097:weijing2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{115,357},{31,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,18}}</string>
                <key>sourceSize</key>
                <string>{31,18}</string>
            </dict>
            <key>fairy_sishen_2097:weijing6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{138,316},{11,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,16}}</string>
                <key>sourceSize</key>
                <string>{11,16}</string>
            </dict>
            <key>fairy_sishen_2097:wuqi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{367,142},{91,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{91,134}}</string>
                <key>sourceSize</key>
                <string>{91,134}</string>
            </dict>
            <key>fairy_sishen_2097:yaojing.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{115,344},{19,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,11}}</string>
                <key>sourceSize</key>
                <string>{19,11}</string>
            </dict>
            <key>fairy_sishen_2097:yaojing4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{337,336},{20,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,13}}</string>
                <key>sourceSize</key>
                <string>{20,13}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>fairy_sishen_2097.pvr.ccz</string>
            <key>size</key>
            <string>{510,405}</string>
            <key>textureFileName</key>
            <string>fairy_sishen_2097.pvr.ccz</string>
        </dict>
    </dict>
</plist>
