<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairy_shiyuansu_2063:Byous.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{120,162},{31,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,34}}</string>
                <key>sourceSize</key>
                <string>{31,34}</string>
            </dict>
            <key>fairy_shiyuansu_2063:Zyan.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{233,40},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>fairy_shiyuansu_2063:asjqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{34,182},{30,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,34}}</string>
                <key>sourceSize</key>
                <string>{30,34}</string>
            </dict>
            <key>fairy_shiyuansu_2063:basew.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,112},{83,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{83,31}}</string>
                <key>sourceSize</key>
                <string>{83,31}</string>
            </dict>
            <key>fairy_shiyuansu_2063:casdfs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{126,0},{105,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{105,61}}</string>
                <key>sourceSize</key>
                <string>{105,61}</string>
            </dict>
            <key>fairy_shiyuansu_2063:casdfv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{124,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{124,76}}</string>
                <key>sourceSize</key>
                <string>{124,76}</string>
            </dict>
            <key>fairy_shiyuansu_2063:casqwq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{69,163},{30,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,35}}</string>
                <key>sourceSize</key>
                <string>{30,35}</string>
            </dict>
            <key>fairy_shiyuansu_2063:cawes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,78},{87,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{87,32}}</string>
                <key>sourceSize</key>
                <string>{87,32}</string>
            </dict>
            <key>fairy_shiyuansu_2063:fshangshen.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{194,63},{52,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{52,47}}</string>
                <key>sourceSize</key>
                <string>{52,47}</string>
            </dict>
            <key>fairy_shiyuansu_2063:fyouhoubi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,145},{32,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,37}}</string>
                <key>sourceSize</key>
                <string>{32,37}</string>
            </dict>
            <key>fairy_shiyuansu_2063:fzuoshou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{199,157},{32,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,34}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>fairy_shiyuansu_2063:koqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{120,120},{45,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,40}}</string>
                <key>sourceSize</key>
                <string>{45,40}</string>
            </dict>
            <key>fairy_shiyuansu_2063:kvsie.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{126,63},{66,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{66,55}}</string>
                <key>sourceSize</key>
                <string>{66,55}</string>
            </dict>
            <key>fairy_shiyuansu_2063:nhmk.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,184},{28,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,34}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>fairy_shiyuansu_2063:qwesq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{167,157},{30,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,38}}</string>
                <key>sourceSize</key>
                <string>{30,38}</string>
            </dict>
            <key>fairy_shiyuansu_2063:sdfa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{89,78},{34,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,40}}</string>
                <key>sourceSize</key>
                <string>{34,40}</string>
            </dict>
            <key>fairy_shiyuansu_2063:tou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{167,120},{22,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,16}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
            <key>fairy_shiyuansu_2063:vfbhb.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{233,0},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>fairy_shiyuansu_2063:vsjie.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{194,112},{46,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,43}}</string>
                <key>sourceSize</key>
                <string>{46,43}</string>
            </dict>
            <key>fairy_shiyuansu_2063:xiashen.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{199,193},{30,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{30,31}</string>
            </dict>
            <key>fairy_shiyuansu_2063:youshou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{85,120},{33,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,41}}</string>
                <key>sourceSize</key>
                <string>{33,41}</string>
            </dict>
            <key>fairy_shiyuansu_2063:zuohoubi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{34,145},{33,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,35}}</string>
                <key>sourceSize</key>
                <string>{33,35}</string>
            </dict>
            <key>fairy_shiyuansu_2063:zuoshuan.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{233,21},{19,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,17}}</string>
                <key>sourceSize</key>
                <string>{19,17}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>fairy_shiyuansu_2063.pvr.ccz</string>
            <key>size</key>
            <string>{253,224}</string>
            <key>textureFileName</key>
            <string>fairy_shiyuansu_2063.pvr.ccz</string>
        </dict>
    </dict>
</plist>
