<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairy_fengxianzi_2001:123gy.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,55},{46,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,50}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>fairy_fengxianzi_2001:23fe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{70,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,53}}</string>
                <key>sourceSize</key>
                <string>{70,53}</string>
            </dict>
            <key>fairy_fengxianzi_2001:ciacib.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{48,55},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>fairy_fengxianzi_2001:dacib.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{187,56},{28,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,25}}</string>
                <key>sourceSize</key>
                <string>{28,25}</string>
            </dict>
            <key>fairy_fengxianzi_2001:ip7y.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{196,0},{46,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,54}}</string>
                <key>sourceSize</key>
                <string>{46,54}</string>
            </dict>
            <key>fairy_fengxianzi_2001:mkvs34.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{72,50},{46,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,50}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>fairy_fengxianzi_2001:renwu.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{120,50},{13,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,17}}</string>
                <key>sourceSize</key>
                <string>{13,17}</string>
            </dict>
            <key>fairy_fengxianzi_2001:shen2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{172,55},{13,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,17}}</string>
                <key>sourceSize</key>
                <string>{13,17}</string>
            </dict>
            <key>fairy_fengxianzi_2001:vaw23.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{138,0},{56,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{56,53}}</string>
                <key>sourceSize</key>
                <string>{56,53}</string>
            </dict>
            <key>fairy_fengxianzi_2001:vawe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{72,0},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>fairy_fengxianzi_2001:vfg.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{135,55},{35,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,36}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
            <key>fairy_fengxianzi_2001:zhongcib.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{217,56},{24,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,15}}</string>
                <key>sourceSize</key>
                <string>{24,15}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>fairy_fengxianzi_2001.pvr.ccz</string>
            <key>size</key>
            <string>{244,102}</string>
            <key>textureFileName</key>
            <string>fairy_fengxianzi_2001.pvr.ccz</string>
        </dict>
    </dict>
</plist>
