<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairy_maocaoqiu_2009:e1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{113,275},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>fairy_maocaoqiu_2009:e2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{402,90},{81,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{81,86}}</string>
                <key>sourceSize</key>
                <string>{81,86}</string>
            </dict>
            <key>fairy_maocaoqiu_2009:e3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{402,0},{84,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{84,87}}</string>
                <key>sourceSize</key>
                <string>{84,87}</string>
            </dict>
            <key>fairy_maocaoqiu_2009:e4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{399,179},{109,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{109,109}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>fairy_maocaoqiu_2009:e5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,273},{110,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{110,107}}</string>
                <key>sourceSize</key>
                <string>{110,107}</string>
            </dict>
            <key>fairy_maocaoqiu_2009:jiao1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{304,359},{25,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,41}}</string>
                <key>sourceSize</key>
                <string>{25,41}</string>
            </dict>
            <key>fairy_maocaoqiu_2009:jiao2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{486,141},{18,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,29}}</string>
                <key>sourceSize</key>
                <string>{18,29}</string>
            </dict>
            <key>fairy_maocaoqiu_2009:jiao3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{489,37},{18,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,34}}</string>
                <key>sourceSize</key>
                <string>{18,34}</string>
            </dict>
            <key>fairy_maocaoqiu_2009:jiao4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{115,145},{13,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,26}}</string>
                <key>sourceSize</key>
                <string>{13,26}</string>
            </dict>
            <key>fairy_maocaoqiu_2009:nmbm.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{460,361},{42,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{42,35}}</string>
                <key>sourceSize</key>
                <string>{42,35}</string>
            </dict>
            <key>fairy_maocaoqiu_2009:s2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,145},{112,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{112,125}}</string>
                <key>sourceSize</key>
                <string>{112,125}</string>
            </dict>
            <key>fairy_maocaoqiu_2009:s3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{137,142},{118,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{118,130}}</string>
                <key>sourceSize</key>
                <string>{118,130}</string>
            </dict>
            <key>fairy_maocaoqiu_2009:s4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{271,140},{125,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{125,135}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>fairy_maocaoqiu_2009:s5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{271,0},{128,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{128,137}}</string>
                <key>sourceSize</key>
                <string>{128,137}</string>
            </dict>
            <key>fairy_maocaoqiu_2009:s6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{137,0},{131,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{131,139}}</string>
                <key>sourceSize</key>
                <string>{131,139}</string>
            </dict>
            <key>fairy_maocaoqiu_2009:s7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{134,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{134,142}}</string>
                <key>sourceSize</key>
                <string>{134,142}</string>
            </dict>
            <key>fairy_maocaoqiu_2009:shenti1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{43,383},{38,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,28}}</string>
                <key>sourceSize</key>
                <string>{38,28}</string>
            </dict>
            <key>fairy_maocaoqiu_2009:shenti2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,383},{40,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,26}}</string>
                <key>sourceSize</key>
                <string>{40,26}</string>
            </dict>
            <key>fairy_maocaoqiu_2009:tou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{256,278},{74,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{74,78}}</string>
                <key>sourceSize</key>
                <string>{74,78}</string>
            </dict>
            <key>fairy_maocaoqiu_2009:tou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{248,359},{53,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{53,49}}</string>
                <key>sourceSize</key>
                <string>{53,49}</string>
            </dict>
            <key>fairy_maocaoqiu_2009:tui1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{84,383},{26,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,39}}</string>
                <key>sourceSize</key>
                <string>{26,39}</string>
            </dict>
            <key>fairy_maocaoqiu_2009:tui2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{489,74},{18,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,32}}</string>
                <key>sourceSize</key>
                <string>{18,32}</string>
            </dict>
            <key>fairy_maocaoqiu_2009:tui3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{489,0},{20,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,34}}</string>
                <key>sourceSize</key>
                <string>{20,34}</string>
            </dict>
            <key>fairy_maocaoqiu_2009:tui4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{486,109},{20,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,29}}</string>
                <key>sourceSize</key>
                <string>{20,29}</string>
            </dict>
            <key>fairy_maocaoqiu_2009:w1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{197,354},{48,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{48,63}}</string>
                <key>sourceSize</key>
                <string>{48,63}</string>
            </dict>
            <key>fairy_maocaoqiu_2009:w2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{333,278},{58,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,66}}</string>
                <key>sourceSize</key>
                <string>{58,66}</string>
            </dict>
            <key>fairy_maocaoqiu_2009:w3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{394,291},{63,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{63,57}}</string>
                <key>sourceSize</key>
                <string>{63,57}</string>
            </dict>
            <key>fairy_maocaoqiu_2009:w4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{197,275},{56,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{56,76}}</string>
                <key>sourceSize</key>
                <string>{56,76}</string>
            </dict>
            <key>fairy_maocaoqiu_2009:w5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{394,351},{63,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{63,51}}</string>
                <key>sourceSize</key>
                <string>{63,51}</string>
            </dict>
            <key>fairy_maocaoqiu_2009:w6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{333,347},{58,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,59}}</string>
                <key>sourceSize</key>
                <string>{58,59}</string>
            </dict>
            <key>fairy_maocaoqiu_2009:w7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{460,291},{49,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{49,67}}</string>
                <key>sourceSize</key>
                <string>{49,67}</string>
            </dict>
            <key>fairy_maocaoqiu_2009:w8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{113,359},{62,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{62,52}}</string>
                <key>sourceSize</key>
                <string>{62,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>fairy_maocaoqiu_2009.pvr.ccz</string>
            <key>size</key>
            <string>{512,421}</string>
            <key>textureFileName</key>
            <string>fairy_maocaoqiu_2009.pvr.ccz</string>
        </dict>
    </dict>
</plist>
