<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairy_hadis_2117:,mkasd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{294,256},{35,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,30}}</string>
                <key>sourceSize</key>
                <string>{35,30}</string>
            </dict>
            <key>fairy_hadis_2117:0qw9sa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{335,133},{64,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{64,58}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>fairy_hadis_2117:87qwa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{400,221},{28,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,35}}</string>
                <key>sourceSize</key>
                <string>{28,35}</string>
            </dict>
            <key>fairy_hadis_2117:87qwas.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{433,207},{12,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,19}}</string>
                <key>sourceSize</key>
                <string>{12,19}</string>
            </dict>
            <key>fairy_hadis_2117:87qwesa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{453,171},{33,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,47}}</string>
                <key>sourceSize</key>
                <string>{33,47}</string>
            </dict>
            <key>fairy_hadis_2117:87qws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{492,245},{9,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,13}}</string>
                <key>sourceSize</key>
                <string>{9,13}</string>
            </dict>
            <key>fairy_hadis_2117:89q8ws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{294,224},{24,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,14}}</string>
                <key>sourceSize</key>
                <string>{24,14}</string>
            </dict>
            <key>fairy_hadis_2117:8cas.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{501,227},{9,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,16}}</string>
                <key>sourceSize</key>
                <string>{9,16}</string>
            </dict>
            <key>fairy_hadis_2117:8kjasas.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{440,130},{16,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,25}}</string>
                <key>sourceSize</key>
                <string>{16,25}</string>
            </dict>
            <key>fairy_hadis_2117:8uqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{324,203},{8,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{8,20}}</string>
                <key>sourceSize</key>
                <string>{8,20}</string>
            </dict>
            <key>fairy_hadis_2117:98asd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{405,70},{33,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,87}}</string>
                <key>sourceSize</key>
                <string>{33,87}</string>
            </dict>
            <key>fairy_hadis_2117:98asda.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{488,208},{11,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,19}}</string>
                <key>sourceSize</key>
                <string>{11,19}</string>
            </dict>
            <key>fairy_hadis_2117:98asdq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{446,259},{42,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{42,18}}</string>
                <key>sourceSize</key>
                <string>{42,18}</string>
            </dict>
            <key>fairy_hadis_2117:98cmasj.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{479,229},{11,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,15}}</string>
                <key>sourceSize</key>
                <string>{11,15}</string>
            </dict>
            <key>fairy_hadis_2117:98mkuq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{173,271},{71,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{71,33}}</string>
                <key>sourceSize</key>
                <string>{71,33}</string>
            </dict>
            <key>fairy_hadis_2117:98qwas.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{320,225},{13,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,15}}</string>
                <key>sourceSize</key>
                <string>{13,15}</string>
            </dict>
            <key>fairy_hadis_2117:98sjhy.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{503,0},{6,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{6,15}}</string>
                <key>sourceSize</key>
                <string>{6,15}</string>
            </dict>
            <key>fairy_hadis_2117:98vas.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{294,70},{39,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,104}}</string>
                <key>sourceSize</key>
                <string>{39,104}</string>
            </dict>
            <key>fairy_hadis_2117:Ftou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{459,110},{34,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,59}}</string>
                <key>sourceSize</key>
                <string>{34,59}</string>
            </dict>
            <key>fairy_hadis_2117:icuasqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{324,176},{9,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,25}}</string>
                <key>sourceSize</key>
                <string>{9,25}</string>
            </dict>
            <key>fairy_hadis_2117:iquw8sa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{335,70},{68,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,61}}</string>
                <key>sourceSize</key>
                <string>{68,61}</string>
            </dict>
            <key>fairy_hadis_2117:iuasd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{430,246},{11,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,10}}</string>
                <key>sourceSize</key>
                <string>{11,10}</string>
            </dict>
            <key>fairy_hadis_2117:iuasda.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{401,159},{30,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,60}}</string>
                <key>sourceSize</key>
                <string>{30,60}</string>
            </dict>
            <key>fairy_hadis_2117:iuasdav.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{430,228},{11,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,16}}</string>
                <key>sourceSize</key>
                <string>{11,16}</string>
            </dict>
            <key>fairy_hadis_2117:iuiuasd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{460,0},{41,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{41,108}}</string>
                <key>sourceSize</key>
                <string>{41,108}</string>
            </dict>
            <key>fairy_hadis_2117:iujsna.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{503,17},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{6,6}}</string>
                <key>sourceSize</key>
                <string>{6,6}</string>
            </dict>
            <key>fairy_hadis_2117:iuqwea.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{99,271},{72,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{72,35}}</string>
                <key>sourceSize</key>
                <string>{72,35}</string>
            </dict>
            <key>fairy_hadis_2117:jhcas.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{495,162},{11,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,24}}</string>
                <key>sourceSize</key>
                <string>{11,24}</string>
            </dict>
            <key>fairy_hadis_2117:jmncas.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,271},{97,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{97,25}}</string>
                <key>sourceSize</key>
                <string>{97,25}</string>
            </dict>
            <key>fairy_hadis_2117:jusqwca.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{294,0},{164,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{164,68}}</string>
                <key>sourceSize</key>
                <string>{164,68}</string>
            </dict>
            <key>fairy_hadis_2117:juvas.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{495,110},{12,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,24}}</string>
                <key>sourceSize</key>
                <string>{12,24}</string>
            </dict>
            <key>fairy_hadis_2117:kqjwisa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{335,193},{63,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{63,54}}</string>
                <key>sourceSize</key>
                <string>{63,54}</string>
            </dict>
            <key>fairy_hadis_2117:mcjasqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{292,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{292,269}}</string>
                <key>sourceSize</key>
                <string>{292,269}</string>
            </dict>
            <key>fairy_hadis_2117:mjcasq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{440,70},{15,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,30}}</string>
                <key>sourceSize</key>
                <string>{15,30}</string>
            </dict>
            <key>fairy_hadis_2117:mjuas.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{294,240},{24,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,13}}</string>
                <key>sourceSize</key>
                <string>{24,13}</string>
            </dict>
            <key>fairy_hadis_2117:nmjsa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{501,208},{9,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,17}}</string>
                <key>sourceSize</key>
                <string>{9,17}</string>
            </dict>
            <key>fairy_hadis_2117:qjwiusa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{335,249},{52,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{52,53}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>fairy_hadis_2117:qkwjisa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{294,176},{28,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,46}}</string>
                <key>sourceSize</key>
                <string>{28,46}</string>
            </dict>
            <key>fairy_hadis_2117:qwuiusa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{389,258},{55,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,44}}</string>
                <key>sourceSize</key>
                <string>{55,44}</string>
            </dict>
            <key>fairy_hadis_2117:u7csas.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{447,220},{30,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,37}}</string>
                <key>sourceSize</key>
                <string>{30,37}</string>
            </dict>
            <key>fairy_hadis_2117:u7qwcas.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{479,246},{8,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{8,11}}</string>
                <key>sourceSize</key>
                <string>{8,11}</string>
            </dict>
            <key>fairy_hadis_2117:u8q7ws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{440,157},{11,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,25}}</string>
                <key>sourceSize</key>
                <string>{11,25}</string>
            </dict>
            <key>fairy_hadis_2117:uijcas.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{320,242},{13,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,12}}</string>
                <key>sourceSize</key>
                <string>{13,12}</string>
            </dict>
            <key>fairy_hadis_2117:uiuq8w.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{440,102},{17,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,26}}</string>
                <key>sourceSize</key>
                <string>{17,26}</string>
            </dict>
            <key>fairy_hadis_2117:ujcas.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{495,136},{12,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,24}}</string>
                <key>sourceSize</key>
                <string>{12,24}</string>
            </dict>
            <key>fairy_hadis_2117:uy7qwsa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{488,188},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,18}</string>
            </dict>
            <key>fairy_hadis_2117:uyasqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{433,184},{12,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,21}}</string>
                <key>sourceSize</key>
                <string>{12,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>fairy_hadis_2117.pvr.ccz</string>
            <key>size</key>
            <string>{510,306}</string>
            <key>textureFileName</key>
            <string>fairy_hadis_2117.pvr.ccz</string>
        </dict>
    </dict>
</plist>
