<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairy_leifenghuang_2021:12w.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{108,176},{53,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{53,41}}</string>
                <key>sourceSize</key>
                <string>{53,41}</string>
            </dict>
            <key>fairy_leifenghuang_2021:12wq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{223,77},{28,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,70}}</string>
                <key>sourceSize</key>
                <string>{28,70}</string>
            </dict>
            <key>fairy_leifenghuang_2021:LBshen.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{208,149},{43,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,38}}</string>
                <key>sourceSize</key>
                <string>{43,38}</string>
            </dict>
            <key>fairy_leifenghuang_2021:LBtou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{49,212},{33,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,30}}</string>
                <key>sourceSize</key>
                <string>{33,30}</string>
            </dict>
            <key>fairy_leifenghuang_2021:LFcib.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{86,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{86,54}}</string>
                <key>sourceSize</key>
                <string>{86,54}</string>
            </dict>
            <key>fairy_leifenghuang_2021:LFshen.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{163,186},{40,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,39}}</string>
                <key>sourceSize</key>
                <string>{40,39}</string>
            </dict>
            <key>fairy_leifenghuang_2021:LFtou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{172,149},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>fairy_leifenghuang_2021:asdavas.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{84,219},{29,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,26}}</string>
                <key>sourceSize</key>
                <string>{29,26}</string>
            </dict>
            <key>fairy_leifenghuang_2021:aswcs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,157},{65,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{65,30}}</string>
                <key>sourceSize</key>
                <string>{65,30}</string>
            </dict>
            <key>fairy_leifenghuang_2021:bert.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{189,0},{32,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,76}}</string>
                <key>sourceSize</key>
                <string>{32,76}</string>
            </dict>
            <key>fairy_leifenghuang_2021:bnwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{223,0},{30,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,75}}</string>
                <key>sourceSize</key>
                <string>{30,75}</string>
            </dict>
            <key>fairy_leifenghuang_2021:bwt.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{85,66},{34,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,72}}</string>
                <key>sourceSize</key>
                <string>{34,72}</string>
            </dict>
            <key>fairy_leifenghuang_2021:casqww.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{79,62},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
            <key>fairy_leifenghuang_2021:cavw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,189},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>fairy_leifenghuang_2021:cib2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{88,0},{57,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{57,64}}</string>
                <key>sourceSize</key>
                <string>{57,64}</string>
            </dict>
            <key>fairy_leifenghuang_2021:cqwe5q.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{79,68},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
            <key>fairy_leifenghuang_2021:cqwer.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{79,56},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
            <key>fairy_leifenghuang_2021:juwq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,125},{77,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{77,30}}</string>
                <key>sourceSize</key>
                <string>{77,30}</string>
            </dict>
            <key>fairy_leifenghuang_2021:mjqs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,56},{77,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{77,31}}</string>
                <key>sourceSize</key>
                <string>{77,31}</string>
            </dict>
            <key>fairy_leifenghuang_2021:oiiqws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{172,78},{34,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,69}}</string>
                <key>sourceSize</key>
                <string>{34,69}</string>
            </dict>
            <key>fairy_leifenghuang_2021:poq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{147,0},{40,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,71}}</string>
                <key>sourceSize</key>
                <string>{40,71}</string>
            </dict>
            <key>fairy_leifenghuang_2021:poqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{142,73},{28,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,76}}</string>
                <key>sourceSize</key>
                <string>{28,76}</string>
            </dict>
            <key>fairy_leifenghuang_2021:qwfw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,89},{74,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{74,34}}</string>
                <key>sourceSize</key>
                <string>{74,34}</string>
            </dict>
            <key>fairy_leifenghuang_2021:tyu.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{205,189},{44,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{44,36}}</string>
                <key>sourceSize</key>
                <string>{44,36}</string>
            </dict>
            <key>fairy_leifenghuang_2021:uqwsaas.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{121,66},{19,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,20}}</string>
                <key>sourceSize</key>
                <string>{19,20}</string>
            </dict>
            <key>fairy_leifenghuang_2021:vbt.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{79,140},{27,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,70}}</string>
                <key>sourceSize</key>
                <string>{27,70}</string>
            </dict>
            <key>fairy_leifenghuang_2021:vsdqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{108,140},{32,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,34}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>fairy_leifenghuang_2021.pvr.ccz</string>
            <key>size</key>
            <string>{253,253}</string>
            <key>textureFileName</key>
            <string>fairy_leifenghuang_2021.pvr.ccz</string>
        </dict>
    </dict>
</plist>
