<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairy_juzhanghuwei_2015:g1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{313,256},{37,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,36}}</string>
                <key>sourceSize</key>
                <string>{37,36}</string>
            </dict>
            <key>fairy_juzhanghuwei_2015:g11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{232,158},{69,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{69,65}}</string>
                <key>sourceSize</key>
                <string>{69,65}</string>
            </dict>
            <key>fairy_juzhanghuwei_2015:g12.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,158},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>fairy_juzhanghuwei_2015:g13.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{316,138},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>fairy_juzhanghuwei_2015:g14.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{316,0},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>fairy_juzhanghuwei_2015:g16.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{155,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{155,155}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>fairy_juzhanghuwei_2015:g17.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{158,0},{155,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{155,155}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>fairy_juzhanghuwei_2015:g22.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{158,158},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>fairy_juzhanghuwei_2015:jnydewbqe/z 43.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{434,198},{50,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{50,56}}</string>
                <key>sourceSize</key>
                <string>{50,56}</string>
            </dict>
            <key>fairy_juzhanghuwei_2015:jnydewbqe/z 60.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{454,78},{55,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,59}}</string>
                <key>sourceSize</key>
                <string>{55,59}</string>
            </dict>
            <key>fairy_juzhanghuwei_2015:jnydewbqe/z 61.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{454,140},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>fairy_juzhanghuwei_2015:jnydewbqe/z 62.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{396,256},{32,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,28}}</string>
                <key>sourceSize</key>
                <string>{32,28}</string>
            </dict>
            <key>fairy_juzhanghuwei_2015:ju jian1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{41,256},{46,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,37}}</string>
                <key>sourceSize</key>
                <string>{46,37}</string>
            </dict>
            <key>fairy_juzhanghuwei_2015:ju jian2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{353,256},{40,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,31}}</string>
                <key>sourceSize</key>
                <string>{40,31}</string>
            </dict>
            <key>fairy_juzhanghuwei_2015:ju qiangguan1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{280,226},{30,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,43}}</string>
                <key>sourceSize</key>
                <string>{30,43}</string>
            </dict>
            <key>fairy_juzhanghuwei_2015:ju shenti1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{98,158},{57,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{57,73}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
            <key>fairy_juzhanghuwei_2015:ju shenti2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{454,0},{54,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{54,75}}</string>
                <key>sourceSize</key>
                <string>{54,75}</string>
            </dict>
            <key>fairy_juzhanghuwei_2015:ju shou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{158,232},{39,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,53}}</string>
                <key>sourceSize</key>
                <string>{39,53}</string>
            </dict>
            <key>fairy_juzhanghuwei_2015:ju shou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{98,234},{38,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,51}}</string>
                <key>sourceSize</key>
                <string>{38,51}</string>
            </dict>
            <key>fairy_juzhanghuwei_2015:ju shou3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{232,226},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>fairy_juzhanghuwei_2015:ju shou4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,256},{38,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,48}}</string>
                <key>sourceSize</key>
                <string>{38,48}</string>
            </dict>
            <key>fairy_juzhanghuwei_2015:ju shoubi1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{487,219},{19,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,16}}</string>
                <key>sourceSize</key>
                <string>{19,16}</string>
            </dict>
            <key>fairy_juzhanghuwei_2015:ju shoubi2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{487,198},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,18}</string>
            </dict>
            <key>fairy_juzhanghuwei_2015:ju shoubi3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{434,138},{17,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,19}}</string>
                <key>sourceSize</key>
                <string>{17,19}</string>
            </dict>
            <key>fairy_juzhanghuwei_2015:ju yanguan1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{200,232},{27,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,31}}</string>
                <key>sourceSize</key>
                <string>{27,31}</string>
            </dict>
            <key>fairy_juzhanghuwei_2015:jushoubi4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{434,160},{14,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,17}}</string>
                <key>sourceSize</key>
                <string>{14,17}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>fairy_juzhanghuwei_2015.pvr.ccz</string>
            <key>size</key>
            <string>{509,304}</string>
            <key>textureFileName</key>
            <string>fairy_juzhanghuwei_2015.pvr.ccz</string>
        </dict>
    </dict>
</plist>
