<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairy_bianfu_2032:7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{157,0},{155,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{155,155}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>fairy_bianfu_2032:chi11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,274},{108,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{108,78}}</string>
                <key>sourceSize</key>
                <string>{108,78}</string>
            </dict>
            <key>fairy_bianfu_2032:chi12.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{311,280},{100,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{100,62}}</string>
                <key>sourceSize</key>
                <string>{100,62}</string>
            </dict>
            <key>fairy_bianfu_2032:chi13.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{214,221},{95,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{95,63}}</string>
                <key>sourceSize</key>
                <string>{95,63}</string>
            </dict>
            <key>fairy_bianfu_2032:chi14.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{214,157},{97,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{97,62}}</string>
                <key>sourceSize</key>
                <string>{97,62}</string>
            </dict>
            <key>fairy_bianfu_2032:fu shen1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{459,80},{39,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,23}}</string>
                <key>sourceSize</key>
                <string>{39,23}</string>
            </dict>
            <key>fairy_bianfu_2032:fu shen2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{459,49},{39,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,29}}</string>
                <key>sourceSize</key>
                <string>{39,29}</string>
            </dict>
            <key>fairy_bianfu_2032:fu tou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{459,130},{36,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{36,23}}</string>
                <key>sourceSize</key>
                <string>{36,23}</string>
            </dict>
            <key>fairy_bianfu_2032:fu tou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{459,105},{36,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{36,23}}</string>
                <key>sourceSize</key>
                <string>{36,23}</string>
            </dict>
            <key>fairy_bianfu_2032:g1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{451,155},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>fairy_bianfu_2032:g29.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{314,0},{143,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{143,141}}</string>
                <key>sourceSize</key>
                <string>{143,141}</string>
            </dict>
            <key>fairy_bianfu_2032:t1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{459,0},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>fairy_bianfu_2032:t2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{117,254},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>fairy_bianfu_2032:t3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{117,157},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>fairy_bianfu_2032:t4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,157},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>fairy_bianfu_2032:t5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{314,143},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>fairy_bianfu_2032:t6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{155,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{155,155}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>fairy_bianfu_2032:weiba.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{500,49},{9,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,10}}</string>
                <key>sourceSize</key>
                <string>{9,10}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>fairy_bianfu_2032.pvr.ccz</string>
            <key>size</key>
            <string>{509,343}</string>
            <key>textureFileName</key>
            <string>fairy_bianfu_2032.pvr.ccz</string>
        </dict>
    </dict>
</plist>
