<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairy_juyan_2052:Bdao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{176,67},{17,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,41}}</string>
                <key>sourceSize</key>
                <string>{17,41}</string>
            </dict>
            <key>fairy_juyan_2052:Byoushou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{231,195},{22,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>fairy_juyan_2052:Bzous.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{72,198},{21,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,24}}</string>
                <key>sourceSize</key>
                <string>{21,24}</string>
            </dict>
            <key>fairy_juyan_2052:Fdao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{190,192},{39,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,31}}</string>
                <key>sourceSize</key>
                <string>{39,31}</string>
            </dict>
            <key>fairy_juyan_2052:Fyoub.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{74,129},{27,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,37}}</string>
                <key>sourceSize</key>
                <string>{27,37}</string>
            </dict>
            <key>fairy_juyan_2052:Fyoushou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{136,223},{24,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,19}}</string>
                <key>sourceSize</key>
                <string>{24,19}</string>
            </dict>
            <key>fairy_juyan_2052:Fzuos.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{39,201},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,28}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
            <key>fairy_juyan_2052:Fzuoshoub.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{103,138},{33,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,45}}</string>
                <key>sourceSize</key>
                <string>{33,45}</string>
            </dict>
            <key>fairy_juyan_2052:IQUWA.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{200,0},{50,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{50,52}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>fairy_juyan_2052:JASUQ.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{72,168},{25,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,28}}</string>
                <key>sourceSize</key>
                <string>{25,28}</string>
            </dict>
            <key>fairy_juyan_2052:JQUW.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{231,220},{19,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,25}}</string>
                <key>sourceSize</key>
                <string>{19,25}</string>
            </dict>
            <key>fairy_juyan_2052:QIWE9Q.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,86},{104,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{104,41}}</string>
                <key>sourceSize</key>
                <string>{104,41}</string>
            </dict>
            <key>fairy_juyan_2052:QWEIUS.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{95,219},{39,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,26}}</string>
                <key>sourceSize</key>
                <string>{39,26}</string>
            </dict>
            <key>fairy_juyan_2052:QWEJAST.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,205},{26,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,18}}</string>
                <key>sourceSize</key>
                <string>{26,18}</string>
            </dict>
            <key>fairy_juyan_2052:QWIEUS.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{106,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{106,84}}</string>
                <key>sourceSize</key>
                <string>{106,84}</string>
            </dict>
            <key>fairy_juyan_2052:QWJAI.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{200,54},{49,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{49,51}}</string>
                <key>sourceSize</key>
                <string>{49,51}</string>
            </dict>
            <key>fairy_juyan_2052:QWJI.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{138,138},{35,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,42}}</string>
                <key>sourceSize</key>
                <string>{35,42}</string>
            </dict>
            <key>fairy_juyan_2052:QWKIS.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{175,141},{18,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,33}}</string>
                <key>sourceSize</key>
                <string>{18,33}</string>
            </dict>
            <key>fairy_juyan_2052:QWSQJU.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{108,0},{90,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{90,65}}</string>
                <key>sourceSize</key>
                <string>{90,65}</string>
            </dict>
            <key>fairy_juyan_2052:QWUS.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{237,175},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>fairy_juyan_2052:ci1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{176,110},{14,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,29}}</string>
                <key>sourceSize</key>
                <string>{14,29}</string>
            </dict>
            <key>fairy_juyan_2052:ci2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{237,153},{17,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,20}}</string>
                <key>sourceSize</key>
                <string>{17,20}</string>
            </dict>
            <key>fairy_juyan_2052:daob.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{175,176},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>fairy_juyan_2052:houbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{175,191},{13,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,9}}</string>
                <key>sourceSize</key>
                <string>{13,9}</string>
            </dict>
            <key>fairy_juyan_2052:kasdqv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,166},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>fairy_juyan_2052:kcjsd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{195,153},{40,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,37}}</string>
                <key>sourceSize</key>
                <string>{40,37}</string>
            </dict>
            <key>fairy_juyan_2052:loqec.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{99,185},{35,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,32}}</string>
                <key>sourceSize</key>
                <string>{35,32}</string>
            </dict>
            <key>fairy_juyan_2052:nhdf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{162,223},{19,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,15}}</string>
                <key>sourceSize</key>
                <string>{19,15}</string>
            </dict>
            <key>fairy_juyan_2052:shangzuic.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{106,112},{67,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{67,24}}</string>
                <key>sourceSize</key>
                <string>{67,24}</string>
            </dict>
            <key>fairy_juyan_2052:shen.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{108,67},{66,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{66,43}}</string>
                <key>sourceSize</key>
                <string>{66,43}</string>
            </dict>
            <key>fairy_juyan_2052:vdvd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{39,166},{31,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,33}}</string>
                <key>sourceSize</key>
                <string>{31,33}</string>
            </dict>
            <key>fairy_juyan_2052:vfgv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{138,182},{35,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,39}}</string>
                <key>sourceSize</key>
                <string>{35,39}</string>
            </dict>
            <key>fairy_juyan_2052:xiazuic.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,129},{72,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{72,35}}</string>
                <key>sourceSize</key>
                <string>{72,35}</string>
            </dict>
            <key>fairy_juyan_2052:yan.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{195,107},{54,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{54,44}}</string>
                <key>sourceSize</key>
                <string>{54,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>fairy_juyan_2052.pvr.ccz</string>
            <key>size</key>
            <string>{256,245}</string>
            <key>textureFileName</key>
            <string>fairy_juyan_2052.pvr.ccz</string>
        </dict>
    </dict>
</plist>
