<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mageman_common_move:1/fs 1tx 1 .pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{376,0},{167,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{167,153}}</string>
                <key>sourceSize</key>
                <string>{167,153}</string>
            </dict>
            <key>mageman_common_move:1/fs 1tx10.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,178},{120,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{120,80}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>mageman_common_move:1/fs 1tx11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{367,155},{121,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{121,91}}</string>
                <key>sourceSize</key>
                <string>{121,91}</string>
            </dict>
            <key>mageman_common_move:1/fs 1tx12.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{198,155},{114,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{114,99}}</string>
                <key>sourceSize</key>
                <string>{114,99}</string>
            </dict>
            <key>mageman_common_move:1/fs 1tx13.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{545,146},{84,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{84,143}}</string>
                <key>sourceSize</key>
                <string>{84,143}</string>
            </dict>
            <key>mageman_common_move:1/fs 1tx2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{857,108},{129,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{129,108}}</string>
                <key>sourceSize</key>
                <string>{129,108}</string>
            </dict>
            <key>mageman_common_move:1/fs 1tx3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{121,308},{33,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,31}}</string>
                <key>sourceSize</key>
                <string>{33,31}</string>
            </dict>
            <key>mageman_common_move:1/fs 1tx4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{367,248},{108,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{108,79}}</string>
                <key>sourceSize</key>
                <string>{108,79}</string>
            </dict>
            <key>mageman_common_move:1/fs 1tx5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{631,272},{71,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{71,64}}</string>
                <key>sourceSize</key>
                <string>{71,64}</string>
            </dict>
            <key>mageman_common_move:1/fs 1tx6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{851,305},{106,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{106,68}}</string>
                <key>sourceSize</key>
                <string>{106,68}</string>
            </dict>
            <key>mageman_common_move:1/fs 1tx7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{196,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{196,176}}</string>
                <key>sourceSize</key>
                <string>{196,176}</string>
            </dict>
            <key>mageman_common_move:1/fs 1tx8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{710,0},{145,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{145,125}}</string>
                <key>sourceSize</key>
                <string>{145,125}</string>
            </dict>
            <key>mageman_common_move:1/fs 1tx9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{855,218},{115,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{115,85}}</string>
                <key>sourceSize</key>
                <string>{115,85}</string>
            </dict>
            <key>mageman_common_move:1/fs fq1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{857,0},{137,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{137,106}}</string>
                <key>sourceSize</key>
                <string>{137,106}</string>
            </dict>
            <key>mageman_common_move:1/t129.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{709,243},{100,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{100,94}}</string>
                <key>sourceSize</key>
                <string>{100,94}</string>
            </dict>
            <key>mageman_common_move:1/t130.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{545,0},{163,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{163,144}}</string>
                <key>sourceSize</key>
                <string>{163,144}</string>
            </dict>
            <key>mageman_common_move:1/t131.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{198,0},{176,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{176,153}}</string>
                <key>sourceSize</key>
                <string>{176,153}</string>
            </dict>
            <key>mageman_common_move:c nvjian shou1 4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{103,288},{16,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,19}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
            <key>mageman_common_move:nanfa beijian.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{159,178},{30,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,57}}</string>
                <key>sourceSize</key>
                <string>{30,57}</string>
            </dict>
            <key>mageman_common_move:nanfa bi1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{103,327},{16,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,14}}</string>
                <key>sourceSize</key>
                <string>{16,14}</string>
            </dict>
            <key>mageman_common_move:nanfa bi2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{103,309},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>mageman_common_move:nanfa bi3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{353,284},{12,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,17}}</string>
                <key>sourceSize</key>
                <string>{12,17}</string>
            </dict>
            <key>mageman_common_move:nanfa bi5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{811,290},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>mageman_common_move:nanfa hujian1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{32,340},{25,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,29}}</string>
                <key>sourceSize</key>
                <string>{25,29}</string>
            </dict>
            <key>mageman_common_move:nanfa hujian2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{972,218},{12,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,25}}</string>
                <key>sourceSize</key>
                <string>{12,25}</string>
            </dict>
            <key>mageman_common_move:nanfa huujian5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{750,339},{41,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{41,26}}</string>
                <key>sourceSize</key>
                <string>{41,26}</string>
            </dict>
            <key>mageman_common_move:nanfa ku1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{280,299},{20,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,41}}</string>
                <key>sourceSize</key>
                <string>{20,41}</string>
            </dict>
            <key>mageman_common_move:nanfa ku1 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{605,291},{20,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,41}}</string>
                <key>sourceSize</key>
                <string>{20,41}</string>
            </dict>
            <key>mageman_common_move:nanfa ku1 111.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{828,314},{19,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,41}}</string>
                <key>sourceSize</key>
                <string>{19,41}</string>
            </dict>
            <key>mageman_common_move:nanfa ku1 2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{159,288},{22,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,43}}</string>
                <key>sourceSize</key>
                <string>{22,43}</string>
            </dict>
            <key>mageman_common_move:nanfa ku2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{311,284},{40,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,51}}</string>
                <key>sourceSize</key>
                <string>{40,51}</string>
            </dict>
            <key>mageman_common_move:nanfa ku3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{156,333},{18,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,41}}</string>
                <key>sourceSize</key>
                <string>{18,41}</string>
            </dict>
            <key>mageman_common_move:nanfa ku4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{996,52},{24,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,45}}</string>
                <key>sourceSize</key>
                <string>{24,45}</string>
            </dict>
            <key>mageman_common_move:nanfa ku4 12.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{996,99},{23,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,46}}</string>
                <key>sourceSize</key>
                <string>{23,46}</string>
            </dict>
            <key>mageman_common_move:nanfa ku4 14.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{996,0},{25,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,50}}</string>
                <key>sourceSize</key>
                <string>{25,50}</string>
            </dict>
            <key>mageman_common_move:nanfa ku4 15.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{829,219},{22,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,46}}</string>
                <key>sourceSize</key>
                <string>{22,46}</string>
            </dict>
            <key>mageman_common_move:nanfa ku5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{984,261},{36,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{36,42}}</string>
                <key>sourceSize</key>
                <string>{36,42}</string>
            </dict>
            <key>mageman_common_move:nanfa lian.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,340},{30,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,26}}</string>
                <key>sourceSize</key>
                <string>{30,26}</string>
            </dict>
            <key>mageman_common_move:nanfa lian 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{537,340},{27,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>mageman_common_move:nanfa lian2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{566,340},{26,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,24}}</string>
                <key>sourceSize</key>
                <string>{26,24}</string>
            </dict>
            <key>mageman_common_move:nanfa p2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{811,243},{15,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,26}}</string>
                <key>sourceSize</key>
                <string>{15,26}</string>
            </dict>
            <key>mageman_common_move:nanfa pao1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{972,245},{10,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,25}}</string>
                <key>sourceSize</key>
                <string>{10,25}</string>
            </dict>
            <key>mageman_common_move:nanfa shenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{121,341},{18,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,22}}</string>
                <key>sourceSize</key>
                <string>{18,22}</string>
            </dict>
            <key>mageman_common_move:nanfa shenti2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{687,338},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{20,21}</string>
            </dict>
            <key>mageman_common_move:nanfa shou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{811,307},{15,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,11}}</string>
                <key>sourceSize</key>
                <string>{15,11}</string>
            </dict>
            <key>mageman_common_move:nanfa shou1 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{811,271},{14,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,17}}</string>
                <key>sourceSize</key>
                <string>{14,17}</string>
            </dict>
            <key>mageman_common_move:nanfa shou1 2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{811,320},{15,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,11}}</string>
                <key>sourceSize</key>
                <string>{15,11}</string>
            </dict>
            <key>mageman_common_move:nanfa shou1 8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{462,329},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>mageman_common_move:nanfa shou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{793,339},{14,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,12}}</string>
                <key>sourceSize</key>
                <string>{14,12}</string>
            </dict>
            <key>mageman_common_move:nanfa shou4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{353,303},{12,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,11}}</string>
                <key>sourceSize</key>
                <string>{12,11}</string>
            </dict>
            <key>mageman_common_move:nanfa shou4 2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{84,343},{19,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,13}}</string>
                <key>sourceSize</key>
                <string>{19,13}</string>
            </dict>
            <key>mageman_common_move:nanfa shou4 3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{811,333},{15,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,11}}</string>
                <key>sourceSize</key>
                <string>{15,11}</string>
            </dict>
            <key>mageman_common_move:nanfa tou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{417,329},{43,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,44}}</string>
                <key>sourceSize</key>
                <string>{43,44}</string>
            </dict>
            <key>mageman_common_move:nanfa tou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{302,337},{41,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{41,44}}</string>
                <key>sourceSize</key>
                <string>{41,44}</string>
            </dict>
            <key>mageman_common_move:nanfa tou3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{709,339},{39,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,44}}</string>
                <key>sourceSize</key>
                <string>{39,44}</string>
            </dict>
            <key>mageman_common_move:nanfa yaodai.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{793,353},{19,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,13}}</string>
                <key>sourceSize</key>
                <string>{19,13}</string>
            </dict>
            <key>mageman_common_move:nanfa yaodai 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{176,333},{16,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,13}}</string>
                <key>sourceSize</key>
                <string>{16,13}</string>
            </dict>
            <key>mageman_common_move:nanfa yaodai2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{280,342},{20,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,12}}</string>
                <key>sourceSize</key>
                <string>{20,12}</string>
            </dict>
            <key>mageman_common_move:nanfa zhangku1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{159,237},{33,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,49}}</string>
                <key>sourceSize</key>
                <string>{33,49}</string>
            </dict>
            <key>mageman_common_move:nanfa zhangku1 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{959,305},{59,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{59,50}}</string>
                <key>sourceSize</key>
                <string>{59,50}</string>
            </dict>
            <key>mageman_common_move:nanfa zhangku1 1 3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{176,359},{124,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{124,51}}</string>
                <key>sourceSize</key>
                <string>{124,51}</string>
            </dict>
            <key>mageman_common_move:nanfa zhangku1 2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{477,327},{58,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,50}}</string>
                <key>sourceSize</key>
                <string>{58,50}</string>
            </dict>
            <key>mageman_common_move:nanfa zhangku1 2 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,260},{101,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{101,78}}</string>
                <key>sourceSize</key>
                <string>{101,78}</string>
            </dict>
            <key>mageman_common_move:nanfa zhangku1 2 3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{710,127},{117,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{117,114}}</string>
                <key>sourceSize</key>
                <string>{117,114}</string>
            </dict>
            <key>mageman_common_move:nanfa zhangku1 2 7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{194,256},{84,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{84,101}}</string>
                <key>sourceSize</key>
                <string>{84,101}</string>
            </dict>
            <key>mageman_common_move:nanfa zhangku2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{829,173},{24,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,44}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>mageman_common_move:nanfa zhangku2 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{280,256},{29,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,41}}</string>
                <key>sourceSize</key>
                <string>{29,41}</string>
            </dict>
            <key>mageman_common_move:nanfa zhangku2 1 3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{59,340},{23,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,31}}</string>
                <key>sourceSize</key>
                <string>{23,31}</string>
            </dict>
            <key>mageman_common_move:nanfa zhangku2 11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{828,267},{21,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,45}}</string>
                <key>sourceSize</key>
                <string>{21,45}</string>
            </dict>
            <key>mageman_common_move:nanfa zhangku2 31314.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{829,127},{24,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,44}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>mageman_common_move:nanfahujian2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{103,260},{17,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,26}}</string>
                <key>sourceSize</key>
                <string>{17,26}</string>
            </dict>
            <key>mageman_common_move:nanfaku6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{353,329},{62,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{62,45}}</string>
                <key>sourceSize</key>
                <string>{62,45}</string>
            </dict>
            <key>mageman_common_move:nanfaku6 21 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{477,278},{62,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{62,47}}</string>
                <key>sourceSize</key>
                <string>{62,47}</string>
            </dict>
            <key>mageman_common_move:nanfaku6 21 1 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{625,338},{60,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{60,47}}</string>
                <key>sourceSize</key>
                <string>{60,47}</string>
            </dict>
            <key>mageman_common_move:nanfaku6 21 1 2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{541,291},{62,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{62,47}}</string>
                <key>sourceSize</key>
                <string>{62,47}</string>
            </dict>
            <key>mageman_common_move:nanfap3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{605,334},{18,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,38}}</string>
                <key>sourceSize</key>
                <string>{18,38}</string>
            </dict>
            <key>mageman_common_move:wuqi_1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{988,147},{33,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,112}}</string>
                <key>sourceSize</key>
                <string>{33,112}</string>
            </dict>
            <key>mageman_common_move:wuqi_20.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{122,178},{35,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,128}}</string>
                <key>sourceSize</key>
                <string>{35,128}</string>
            </dict>
            <key>mageman_common_move:wuqi_40.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{490,155},{50,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{50,121}}</string>
                <key>sourceSize</key>
                <string>{50,121}</string>
            </dict>
            <key>mageman_common_move:wuqi_60.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{314,155},{51,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{51,127}}</string>
                <key>sourceSize</key>
                <string>{51,127}</string>
            </dict>
            <key>mageman_common_move:wuqi_80.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{631,146},{76,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{76,124}}</string>
                <key>sourceSize</key>
                <string>{76,124}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>mageman_common_move.pvr.ccz</string>
            <key>size</key>
            <string>{1021,410}</string>
            <key>textureFileName</key>
            <string>mageman_common_move.pvr.ccz</string>
        </dict>
    </dict>
</plist>
