<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mc_common_attacked_103:t1411.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,208},{65,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{65,66}}</string>
                <key>sourceSize</key>
                <string>{65,66}</string>
            </dict>
            <key>mc_common_attacked_103:t1412.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{129,145},{65,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{65,66}}</string>
                <key>sourceSize</key>
                <string>{65,66}</string>
            </dict>
            <key>mc_common_attacked_103:t1413.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,100},{126,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{126,105}}</string>
                <key>sourceSize</key>
                <string>{126,105}</string>
            </dict>
            <key>mc_common_attacked_103:t1415.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{144,79},{94,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{94,63}}</string>
                <key>sourceSize</key>
                <string>{94,63}</string>
            </dict>
            <key>mc_common_attacked_103:t1416.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{144,0},{101,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{101,76}}</string>
                <key>sourceSize</key>
                <string>{101,76}</string>
            </dict>
            <key>mc_common_attacked_103:t1417.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{141,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{141,97}}</string>
                <key>sourceSize</key>
                <string>{141,97}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>mc_common_attacked_103.pvr.ccz</string>
            <key>size</key>
            <string>{248,246}</string>
            <key>textureFileName</key>
            <string>mc_common_attacked_103.pvr.ccz</string>
        </dict>
    </dict>
</plist>
