<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_xinghongduxie_10082:Bci.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{127,164},{63,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{63,43}}</string>
                <key>sourceSize</key>
                <string>{63,43}</string>
            </dict>
            <key>monster_xinghongduxie_10082:Bduz.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{108,103},{50,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{50,43}}</string>
                <key>sourceSize</key>
                <string>{50,43}</string>
            </dict>
            <key>monster_xinghongduxie_10082:Bshen1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{209,38},{42,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{42,31}}</string>
                <key>sourceSize</key>
                <string>{42,31}</string>
            </dict>
            <key>monster_xinghongduxie_10082:Bshen2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{164,91},{34,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,26}}</string>
                <key>sourceSize</key>
                <string>{34,26}</string>
            </dict>
            <key>monster_xinghongduxie_10082:Btou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{193,172},{57,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{57,43}}</string>
                <key>sourceSize</key>
                <string>{57,43}</string>
            </dict>
            <key>monster_xinghongduxie_10082:Bwei3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{209,72},{23,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,38}}</string>
                <key>sourceSize</key>
                <string>{23,38}</string>
            </dict>
            <key>monster_xinghongduxie_10082:Bweu1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{201,113},{31,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,22}}</string>
                <key>sourceSize</key>
                <string>{31,22}</string>
            </dict>
            <key>monster_xinghongduxie_10082:F youhouz.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{191,138},{27,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,16}}</string>
                <key>sourceSize</key>
                <string>{27,16}</string>
            </dict>
            <key>monster_xinghongduxie_10082:F youhouzi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{235,130},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>monster_xinghongduxie_10082:F yuouqian.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{111,0},{50,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{50,100}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>monster_xinghongduxie_10082:F zuoqian.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{108,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{108,73}}</string>
                <key>sourceSize</key>
                <string>{108,73}</string>
            </dict>
            <key>monster_xinghongduxie_10082:Ftou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{50,76},{55,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,52}}</string>
                <key>sourceSize</key>
                <string>{55,52}</string>
            </dict>
            <key>monster_xinghongduxie_10082:bfdh.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{164,0},{42,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{42,88}}</string>
                <key>sourceSize</key>
                <string>{42,88}</string>
            </dict>
            <key>monster_xinghongduxie_10082:duci1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,159},{67,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{67,48}}</string>
                <key>sourceSize</key>
                <string>{67,48}</string>
            </dict>
            <key>monster_xinghongduxie_10082:jia3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{209,0},{40,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,35}}</string>
                <key>sourceSize</key>
                <string>{40,35}</string>
            </dict>
            <key>monster_xinghongduxie_10082:jia4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{77,131},{24,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,21}}</string>
                <key>sourceSize</key>
                <string>{24,21}</string>
            </dict>
            <key>monster_xinghongduxie_10082:qian34.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,76},{47,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{47,78}}</string>
                <key>sourceSize</key>
                <string>{47,78}</string>
            </dict>
            <key>monster_xinghongduxie_10082:wei1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{50,131},{24,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,25}}</string>
                <key>sourceSize</key>
                <string>{24,25}</string>
            </dict>
            <key>monster_xinghongduxie_10082:weo2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{161,120},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>monster_xinghongduxie_10082:youjiao1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{104,149},{20,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,15}}</string>
                <key>sourceSize</key>
                <string>{20,15}</string>
            </dict>
            <key>monster_xinghongduxie_10082:youjiao2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{235,110},{18,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,17}}</string>
                <key>sourceSize</key>
                <string>{18,17}</string>
            </dict>
            <key>monster_xinghongduxie_10082:youjiao3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{235,72},{18,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,35}}</string>
                <key>sourceSize</key>
                <string>{18,35}</string>
            </dict>
            <key>monster_xinghongduxie_10082:zuojiao1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{127,149},{23,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,10}}</string>
                <key>sourceSize</key>
                <string>{23,10}</string>
            </dict>
            <key>monster_xinghongduxie_10082:zuojiao2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{153,149},{16,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,12}}</string>
                <key>sourceSize</key>
                <string>{16,12}</string>
            </dict>
            <key>monster_xinghongduxie_10082:zuojiao3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{221,148},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_xinghongduxie_10082.pvr.ccz</string>
            <key>size</key>
            <string>{254,216}</string>
            <key>textureFileName</key>
            <string>monster_xinghongduxie_10082.pvr.ccz</string>
        </dict>
    </dict>
</plist>
