<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_bingfengjuren_19009:334f.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,931},{118,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{118,24}}</string>
                <key>sourceSize</key>
                <string>{118,24}</string>
            </dict>
            <key>monster_bingfengjuren_19009:9jomn.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{338,620},{197,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{197,63}}</string>
                <key>sourceSize</key>
                <string>{197,63}</string>
            </dict>
            <key>monster_bingfengjuren_19009:a/fs jn1 11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{532,584},{61,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{61,11}}</string>
                <key>sourceSize</key>
                <string>{61,11}</string>
            </dict>
            <key>monster_bingfengjuren_19009:a/fs jn1 12.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{518,960},{79,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{79,17}}</string>
                <key>sourceSize</key>
                <string>{79,17}</string>
            </dict>
            <key>monster_bingfengjuren_19009:a/fs jn1 13.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,958},{87,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{87,17}}</string>
                <key>sourceSize</key>
                <string>{87,17}</string>
            </dict>
            <key>monster_bingfengjuren_19009:a/fs jn1 14.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{192,945},{98,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{98,17}}</string>
                <key>sourceSize</key>
                <string>{98,17}</string>
            </dict>
            <key>monster_bingfengjuren_19009:a/fs jn1 15.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{404,942},{111,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{111,20}}</string>
                <key>sourceSize</key>
                <string>{111,20}</string>
            </dict>
            <key>monster_bingfengjuren_19009:b1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{219,231},{115,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{115,225}}</string>
                <key>sourceSize</key>
                <string>{115,225}</string>
            </dict>
            <key>monster_bingfengjuren_19009:b11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{207,459},{119,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{119,123}}</string>
                <key>sourceSize</key>
                <string>{119,123}</string>
            </dict>
            <key>monster_bingfengjuren_19009:b12.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,618},{145,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{145,81}}</string>
                <key>sourceSize</key>
                <string>{145,81}</string>
            </dict>
            <key>monster_bingfengjuren_19009:b13.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{591,709},{96,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{96,99}}</string>
                <key>sourceSize</key>
                <string>{96,99}</string>
            </dict>
            <key>monster_bingfengjuren_19009:b14.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{150,585},{185,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{185,104}}</string>
                <key>sourceSize</key>
                <string>{185,104}</string>
            </dict>
            <key>monster_bingfengjuren_19009:b15.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{130,797},{95,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{95,97}}</string>
                <key>sourceSize</key>
                <string>{95,97}</string>
            </dict>
            <key>monster_bingfengjuren_19009:b16.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,297},{174,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{174,161}}</string>
                <key>sourceSize</key>
                <string>{174,161}</string>
            </dict>
            <key>monster_bingfengjuren_19009:b17.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{601,475},{110,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{110,113}}</string>
                <key>sourceSize</key>
                <string>{110,113}</string>
            </dict>
            <key>monster_bingfengjuren_19009:b18.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{404,159},{178,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{178,169}}</string>
                <key>sourceSize</key>
                <string>{178,169}</string>
            </dict>
            <key>monster_bingfengjuren_19009:b2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{623,248},{114,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{114,224}}</string>
                <key>sourceSize</key>
                <string>{114,224}</string>
            </dict>
            <key>monster_bingfengjuren_19009:b3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{244,0},{157,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{157,228}}</string>
                <key>sourceSize</key>
                <string>{157,228}</string>
            </dict>
            <key>monster_bingfengjuren_19009:b4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{631,0},{109,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{109,245}}</string>
                <key>sourceSize</key>
                <string>{109,245}</string>
            </dict>
            <key>monster_bingfengjuren_19009:dangku2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{337,365},{51,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{51,48}}</string>
                <key>sourceSize</key>
                <string>{51,48}</string>
            </dict>
            <key>monster_bingfengjuren_19009:di1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{699,594},{208,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{208,75}}</string>
                <key>sourceSize</key>
                <string>{208,75}</string>
            </dict>
            <key>monster_bingfengjuren_19009:fujian.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{228,864},{98,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{98,78}}</string>
                <key>sourceSize</key>
                <string>{98,78}</string>
            </dict>
            <key>monster_bingfengjuren_19009:g1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{338,686},{148,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{148,76}}</string>
                <key>sourceSize</key>
                <string>{148,76}</string>
            </dict>
            <key>monster_bingfengjuren_19009:g2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{329,834},{129,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{129,66}}</string>
                <key>sourceSize</key>
                <string>{129,66}</string>
            </dict>
            <key>monster_bingfengjuren_19009:g3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{461,883},{110,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{110,56}}</string>
                <key>sourceSize</key>
                <string>{110,56}</string>
            </dict>
            <key>monster_bingfengjuren_19009:g33.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{743,0},{223,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{223,128}}</string>
                <key>sourceSize</key>
                <string>{223,128}</string>
            </dict>
            <key>monster_bingfengjuren_19009:g33 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,170},{216,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{216,124}}</string>
                <key>sourceSize</key>
                <string>{216,124}</string>
            </dict>
            <key>monster_bingfengjuren_19009:g4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{928,936},{91,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{91,47}}</string>
                <key>sourceSize</key>
                <string>{91,47}</string>
            </dict>
            <key>monster_bingfengjuren_19009:g5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{750,932},{68,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,35}}</string>
                <key>sourceSize</key>
                <string>{68,35}</string>
            </dict>
            <key>monster_bingfengjuren_19009:g6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{329,503},{45,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,23}}</string>
                <key>sourceSize</key>
                <string>{45,23}</string>
            </dict>
            <key>monster_bingfengjuren_19009:g7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{219,170},{22,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,12}}</string>
                <key>sourceSize</key>
                <string>{22,12}</string>
            </dict>
            <key>monster_bingfengjuren_19009:h111.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{241,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{241,167}}</string>
                <key>sourceSize</key>
                <string>{241,167}</string>
            </dict>
            <key>monster_bingfengjuren_19009:h2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{699,672},{156,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{156,93}}</string>
                <key>sourceSize</key>
                <string>{156,93}</string>
            </dict>
            <key>monster_bingfengjuren_19009:h211.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{740,311},{150,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{150,180}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>monster_bingfengjuren_19009:h3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{489,686},{99,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{99,108}}</string>
                <key>sourceSize</key>
                <string>{99,108}</string>
            </dict>
            <key>monster_bingfengjuren_19009:h311.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{404,0},{224,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{224,156}}</string>
                <key>sourceSize</key>
                <string>{224,156}</string>
            </dict>
            <key>monster_bingfengjuren_19009:h4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{910,623},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{104,108}</string>
            </dict>
            <key>monster_bingfengjuren_19009:h411.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{395,331},{158,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{158,157}}</string>
                <key>sourceSize</key>
                <string>{158,157}</string>
            </dict>
            <key>monster_bingfengjuren_19009:hujian2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{121,897},{68,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,75}}</string>
                <key>sourceSize</key>
                <string>{68,75}</string>
            </dict>
            <key>monster_bingfengjuren_19009:hujian3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{714,494},{164,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{164,97}}</string>
                <key>sourceSize</key>
                <string>{164,97}</string>
            </dict>
            <key>monster_bingfengjuren_19009:huo1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{822,814},{146,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{146,51}}</string>
                <key>sourceSize</key>
                <string>{146,51}</string>
            </dict>
            <key>monster_bingfengjuren_19009:j wuiq2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{148,692},{103,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{103,102}}</string>
                <key>sourceSize</key>
                <string>{103,102}</string>
            </dict>
            <key>monster_bingfengjuren_19009:j wuqi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,461},{147,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{147,154}}</string>
                <key>sourceSize</key>
                <string>{147,154}</string>
            </dict>
            <key>monster_bingfengjuren_19009:j wuqi 2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{578,811},{103,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{103,77}}</string>
                <key>sourceSize</key>
                <string>{103,77}</string>
            </dict>
            <key>monster_bingfengjuren_19009:j wuqi daobing.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{329,462},{58,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,38}}</string>
                <key>sourceSize</key>
                <string>{58,38}</string>
            </dict>
            <key>monster_bingfengjuren_19009:j1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{177,452},{27,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,32}}</string>
                <key>sourceSize</key>
                <string>{27,32}</string>
            </dict>
            <key>monster_bingfengjuren_19009:j2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{585,381},{32,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,42}}</string>
                <key>sourceSize</key>
                <string>{32,42}</string>
            </dict>
            <key>monster_bingfengjuren_19009:j3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{254,789},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>monster_bingfengjuren_19009:j4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{329,938},{72,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{72,65}}</string>
                <key>sourceSize</key>
                <string>{72,65}</string>
            </dict>
            <key>monster_bingfengjuren_19009:jiao1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{337,231},{55,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,131}}</string>
                <key>sourceSize</key>
                <string>{55,131}</string>
            </dict>
            <key>monster_bingfengjuren_19009:jiao2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{254,692},{75,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{75,94}}</string>
                <key>sourceSize</key>
                <string>{75,94}</string>
            </dict>
            <key>monster_bingfengjuren_19009:jiao4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{945,400},{71,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{71,108}}</string>
                <key>sourceSize</key>
                <string>{71,108}</string>
            </dict>
            <key>monster_bingfengjuren_19009:jiao7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{967,203},{44,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{44,84}}</string>
                <key>sourceSize</key>
                <string>{44,84}</string>
            </dict>
            <key>monster_bingfengjuren_19009:kudang.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{893,355},{49,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{49,51}}</string>
                <key>sourceSize</key>
                <string>{49,51}</string>
            </dict>
            <key>monster_bingfengjuren_19009:l1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{684,841},{134,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{134,59}}</string>
                <key>sourceSize</key>
                <string>{134,59}</string>
            </dict>
            <key>monster_bingfengjuren_19009:l2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{858,734},{127,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{127,77}}</string>
                <key>sourceSize</key>
                <string>{127,77}</string>
            </dict>
            <key>monster_bingfengjuren_19009:l3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,702},{127,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{127,77}}</string>
                <key>sourceSize</key>
                <string>{127,77}</string>
            </dict>
            <key>monster_bingfengjuren_19009:n1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{821,868},{104,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{104,72}}</string>
                <key>sourceSize</key>
                <string>{104,72}</string>
            </dict>
            <key>monster_bingfengjuren_19009:n2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{928,868},{83,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{83,65}}</string>
                <key>sourceSize</key>
                <string>{83,65}</string>
            </dict>
            <key>monster_bingfengjuren_19009:n3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{673,932},{74,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{74,65}}</string>
                <key>sourceSize</key>
                <string>{74,65}</string>
            </dict>
            <key>monster_bingfengjuren_19009:nbvnvbnv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,782},{127,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{127,71}}</string>
                <key>sourceSize</key>
                <string>{127,71}</string>
            </dict>
            <key>monster_bingfengjuren_19009:pifeng1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{743,131},{172,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{172,177}}</string>
                <key>sourceSize</key>
                <string>{172,177}</string>
            </dict>
            <key>monster_bingfengjuren_19009:pifeng1 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{596,591},{100,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{100,115}}</string>
                <key>sourceSize</key>
                <string>{100,115}</string>
            </dict>
            <key>monster_bingfengjuren_19009:qszcs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{673,903},{138,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{138,26}}</string>
                <key>sourceSize</key>
                <string>{138,26}</string>
            </dict>
            <key>monster_bingfengjuren_19009:shenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{936,511},{84,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{84,109}}</string>
                <key>sourceSize</key>
                <string>{84,109}</string>
            </dict>
            <key>monster_bingfengjuren_19009:shenti2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{532,509},{66,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{66,72}}</string>
                <key>sourceSize</key>
                <string>{66,72}</string>
            </dict>
            <key>monster_bingfengjuren_19009:shou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{150,487},{40,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,36}}</string>
                <key>sourceSize</key>
                <string>{40,36}</string>
            </dict>
            <key>monster_bingfengjuren_19009:shou1 2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{893,493},{40,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,36}}</string>
                <key>sourceSize</key>
                <string>{40,36}</string>
            </dict>
            <key>monster_bingfengjuren_19009:shou1 7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{556,385},{25,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,41}}</string>
                <key>sourceSize</key>
                <string>{25,41}</string>
            </dict>
            <key>monster_bingfengjuren_19009:shou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{585,335},{34,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,43}}</string>
                <key>sourceSize</key>
                <string>{34,43}</string>
            </dict>
            <key>monster_bingfengjuren_19009:shou2 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{556,466},{42,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{42,40}}</string>
                <key>sourceSize</key>
                <string>{42,40}</string>
            </dict>
            <key>monster_bingfengjuren_19009:shou4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{584,426},{27,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,37}}</string>
                <key>sourceSize</key>
                <string>{27,37}</string>
            </dict>
            <key>monster_bingfengjuren_19009:shou8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{177,405},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>monster_bingfengjuren_19009:shoubi2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{337,416},{51,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{51,43}}</string>
                <key>sourceSize</key>
                <string>{51,43}</string>
            </dict>
            <key>monster_bingfengjuren_19009:shoubi3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{556,331},{26,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,51}}</string>
                <key>sourceSize</key>
                <string>{26,51}</string>
            </dict>
            <key>monster_bingfengjuren_19009:shoubi4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{893,448},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>monster_bingfengjuren_19009:shoubi6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{957,351},{55,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,46}}</string>
                <key>sourceSize</key>
                <string>{55,46}</string>
            </dict>
            <key>monster_bingfengjuren_19009:shoubi7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{177,297},{38,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,54}}</string>
                <key>sourceSize</key>
                <string>{38,54}</string>
            </dict>
            <key>monster_bingfengjuren_19009:shoubi8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{918,304},{36,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{36,48}}</string>
                <key>sourceSize</key>
                <string>{36,48}</string>
            </dict>
            <key>monster_bingfengjuren_19009:tou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{969,0},{52,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{52,110}}</string>
                <key>sourceSize</key>
                <string>{52,110}</string>
            </dict>
            <key>monster_bingfengjuren_19009:tou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{959,290},{51,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{51,58}}</string>
                <key>sourceSize</key>
                <string>{51,58}</string>
            </dict>
            <key>monster_bingfengjuren_19009:tui1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{969,113},{52,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{52,87}}</string>
                <key>sourceSize</key>
                <string>{52,87}</string>
            </dict>
            <key>monster_bingfengjuren_19009:tui3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{585,159},{38,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,85}}</string>
                <key>sourceSize</key>
                <string>{38,85}</string>
            </dict>
            <key>monster_bingfengjuren_19009:tui3 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{585,247},{35,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,85}}</string>
                <key>sourceSize</key>
                <string>{35,85}</string>
            </dict>
            <key>monster_bingfengjuren_19009:tui6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{918,131},{46,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,82}}</string>
                <key>sourceSize</key>
                <string>{46,82}</string>
            </dict>
            <key>monster_bingfengjuren_19009:tui8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{918,216},{38,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,85}}</string>
                <key>sourceSize</key>
                <string>{38,85}</string>
            </dict>
            <key>monster_bingfengjuren_19009:vcxvxcvxvxc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{893,409},{48,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{48,36}}</string>
                <key>sourceSize</key>
                <string>{48,36}</string>
            </dict>
            <key>monster_bingfengjuren_19009:wecfc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{821,943},{103,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{103,24}}</string>
                <key>sourceSize</key>
                <string>{103,24}</string>
            </dict>
            <key>monster_bingfengjuren_19009:wwdv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{329,903},{120,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{120,32}}</string>
                <key>sourceSize</key>
                <string>{120,32}</string>
            </dict>
            <key>monster_bingfengjuren_19009:y11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{574,891},{96,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{96,66}}</string>
                <key>sourceSize</key>
                <string>{96,66}</string>
            </dict>
            <key>monster_bingfengjuren_19009:y12.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{471,797},{104,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{104,83}}</string>
                <key>sourceSize</key>
                <string>{104,83}</string>
            </dict>
            <key>monster_bingfengjuren_19009:y13.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,856},{118,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{118,72}}</string>
                <key>sourceSize</key>
                <string>{118,72}</string>
            </dict>
            <key>monster_bingfengjuren_19009:y14.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{690,768},{129,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{129,70}}</string>
                <key>sourceSize</key>
                <string>{129,70}</string>
            </dict>
            <key>monster_bingfengjuren_19009:y15.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{332,765},{136,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{136,66}}</string>
                <key>sourceSize</key>
                <string>{136,66}</string>
            </dict>
            <key>monster_bingfengjuren_19009:y16.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{390,491},{139,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{139,126}}</string>
                <key>sourceSize</key>
                <string>{139,126}</string>
            </dict>
            <key>monster_bingfengjuren_19009:youni1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{177,354},{28,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,48}}</string>
                <key>sourceSize</key>
                <string>{28,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_bingfengjuren_19009.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1015}</string>
            <key>textureFileName</key>
            <string>monster_bingfengjuren_19009.pvr.ccz</string>
        </dict>
    </dict>
</plist>
