<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_hongseshijuren_19013:b1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{870,453},{118,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{118,92}}</string>
                <key>sourceSize</key>
                <string>{118,92}</string>
            </dict>
            <key>monster_hongseshijuren_19013:b2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{557,536},{178,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{178,178}}</string>
                <key>sourceSize</key>
                <string>{178,178}</string>
            </dict>
            <key>monster_hongseshijuren_19013:b4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{750,427},{117,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{117,100}}</string>
                <key>sourceSize</key>
                <string>{117,100}</string>
            </dict>
            <key>monster_hongseshijuren_19013:b5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{450,293},{137,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{137,145}}</string>
                <key>sourceSize</key>
                <string>{137,145}</string>
            </dict>
            <key>monster_hongseshijuren_19013:dasdas/dsdasads/shanke.cn_1_9_80022_1_40.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{912,0},{74,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{74,163}}</string>
                <key>sourceSize</key>
                <string>{74,163}</string>
            </dict>
            <key>monster_hongseshijuren_19013:f1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{439,627},{107,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{107,70}}</string>
                <key>sourceSize</key>
                <string>{107,70}</string>
            </dict>
            <key>monster_hongseshijuren_19013:f13.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{750,293},{148,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{148,131}}</string>
                <key>sourceSize</key>
                <string>{148,131}</string>
            </dict>
            <key>monster_hongseshijuren_19013:f8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{989,0},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>monster_hongseshijuren_19013:f9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{267,659},{92,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{92,82}}</string>
                <key>sourceSize</key>
                <string>{92,82}</string>
            </dict>
            <key>monster_hongseshijuren_19013:g1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{732,800},{206,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{206,103}}</string>
                <key>sourceSize</key>
                <string>{206,103}</string>
            </dict>
            <key>monster_hongseshijuren_19013:h1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{760,0},{149,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{149,290}}</string>
                <key>sourceSize</key>
                <string>{149,290}</string>
            </dict>
            <key>monster_hongseshijuren_19013:h2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{590,440},{156,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{156,93}}</string>
                <key>sourceSize</key>
                <string>{156,93}</string>
            </dict>
            <key>monster_hongseshijuren_19013:h3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{301,494},{99,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{99,108}}</string>
                <key>sourceSize</key>
                <string>{99,108}</string>
            </dict>
            <key>monster_hongseshijuren_19013:h4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{450,441},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{104,108}</string>
            </dict>
            <key>monster_hongseshijuren_19013:huo1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{290,605},{146,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{146,51}}</string>
                <key>sourceSize</key>
                <string>{146,51}</string>
            </dict>
            <key>monster_hongseshijuren_19013:l1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{130,607},{134,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{134,59}}</string>
                <key>sourceSize</key>
                <string>{134,59}</string>
            </dict>
            <key>monster_hongseshijuren_19013:l2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{859,548},{127,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{127,77}}</string>
                <key>sourceSize</key>
                <string>{127,77}</string>
            </dict>
            <key>monster_hongseshijuren_19013:l3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,586},{127,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{127,77}}</string>
                <key>sourceSize</key>
                <string>{127,77}</string>
            </dict>
            <key>monster_hongseshijuren_19013:m1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,293},{149,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{149,290}}</string>
                <key>sourceSize</key>
                <string>{149,290}</string>
            </dict>
            <key>monster_hongseshijuren_19013:m3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{152,0},{149,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{149,290}}</string>
                <key>sourceSize</key>
                <string>{149,290}</string>
            </dict>
            <key>monster_hongseshijuren_19013:m4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{149,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{149,290}}</string>
                <key>sourceSize</key>
                <string>{149,290}</string>
            </dict>
            <key>monster_hongseshijuren_19013:m5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{304,0},{149,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{149,290}}</string>
                <key>sourceSize</key>
                <string>{149,290}</string>
            </dict>
            <key>monster_hongseshijuren_19013:m6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{608,0},{149,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{149,290}}</string>
                <key>sourceSize</key>
                <string>{149,290}</string>
            </dict>
            <key>monster_hongseshijuren_19013:m7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{456,0},{149,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{149,290}}</string>
                <key>sourceSize</key>
                <string>{149,290}</string>
            </dict>
            <key>monster_hongseshijuren_19013:n1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{450,552},{104,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{104,72}}</string>
                <key>sourceSize</key>
                <string>{104,72}</string>
            </dict>
            <key>monster_hongseshijuren_19013:n2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{439,700},{83,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{83,65}}</string>
                <key>sourceSize</key>
                <string>{83,65}</string>
            </dict>
            <key>monster_hongseshijuren_19013:n3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{362,659},{74,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{74,65}}</string>
                <key>sourceSize</key>
                <string>{74,65}</string>
            </dict>
            <key>monster_hongseshijuren_19013:nvbnvvn.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{152,293},{146,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{146,239}}</string>
                <key>sourceSize</key>
                <string>{146,239}</string>
            </dict>
            <key>monster_hongseshijuren_19013:s d33.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,790},{221,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{221,188}}</string>
                <key>sourceSize</key>
                <string>{221,188}</string>
            </dict>
            <key>monster_hongseshijuren_19013:s jian1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{912,166},{89,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{89,137}}</string>
                <key>sourceSize</key>
                <string>{89,137}</string>
            </dict>
            <key>monster_hongseshijuren_19013:s jian2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{901,306},{75,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{75,144}}</string>
                <key>sourceSize</key>
                <string>{75,144}</string>
            </dict>
            <key>monster_hongseshijuren_19013:s shenti1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{749,530},{107,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{107,83}}</string>
                <key>sourceSize</key>
                <string>{107,83}</string>
            </dict>
            <key>monster_hongseshijuren_19013:s shenti2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{362,727},{55,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,34}}</string>
                <key>sourceSize</key>
                <string>{55,34}</string>
            </dict>
            <key>monster_hongseshijuren_19013:s shenti3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{260,744},{75,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{75,51}}</string>
                <key>sourceSize</key>
                <string>{75,51}</string>
            </dict>
            <key>monster_hongseshijuren_19013:s sheti6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{738,616},{107,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{107,83}}</string>
                <key>sourceSize</key>
                <string>{107,83}</string>
            </dict>
            <key>monster_hongseshijuren_19013:s shou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{403,494},{44,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{44,34}}</string>
                <key>sourceSize</key>
                <string>{44,34}</string>
            </dict>
            <key>monster_hongseshijuren_19013:s shou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{86,750},{52,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{52,37}}</string>
                <key>sourceSize</key>
                <string>{52,37}</string>
            </dict>
            <key>monster_hongseshijuren_19013:s shou3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{979,306},{41,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{41,37}}</string>
                <key>sourceSize</key>
                <string>{41,37}</string>
            </dict>
            <key>monster_hongseshijuren_19013:s shou4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{338,764},{45,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,36}}</string>
                <key>sourceSize</key>
                <string>{45,36}</string>
            </dict>
            <key>monster_hongseshijuren_19013:s shoubi1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{115,669},{82,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{82,78}}</string>
                <key>sourceSize</key>
                <string>{82,78}</string>
            </dict>
            <key>monster_hongseshijuren_19013:s shoubi2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{738,702},{77,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{77,69}}</string>
                <key>sourceSize</key>
                <string>{77,69}</string>
            </dict>
            <key>monster_hongseshijuren_19013:s tou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{200,722},{57,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{57,50}}</string>
                <key>sourceSize</key>
                <string>{57,50}</string>
            </dict>
            <key>monster_hongseshijuren_19013:s tou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{200,669},{57,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{57,50}}</string>
                <key>sourceSize</key>
                <string>{57,50}</string>
            </dict>
            <key>monster_hongseshijuren_19013:s51.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{224,803},{205,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{205,104}}</string>
                <key>sourceSize</key>
                <string>{205,104}</string>
            </dict>
            <key>monster_hongseshijuren_19013:s6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{432,872},{171,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{171,119}}</string>
                <key>sourceSize</key>
                <string>{171,119}</string>
            </dict>
            <key>monster_hongseshijuren_19013:shitou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{403,531},{44,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{44,23}}</string>
                <key>sourceSize</key>
                <string>{44,23}</string>
            </dict>
            <key>monster_hongseshijuren_19013:t1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{989,27},{27,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,14}}</string>
                <key>sourceSize</key>
                <string>{27,14}</string>
            </dict>
            <key>monster_hongseshijuren_19013:t2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{141,750},{55,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,28}}</string>
                <key>sourceSize</key>
                <string>{55,28}</string>
            </dict>
            <key>monster_hongseshijuren_19013:t3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,726},{83,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{83,43}}</string>
                <key>sourceSize</key>
                <string>{83,43}</string>
            </dict>
            <key>monster_hongseshijuren_19013:t4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,666},{112,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{112,57}}</string>
                <key>sourceSize</key>
                <string>{112,57}</string>
            </dict>
            <key>monster_hongseshijuren_19013:t5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{152,535},{135,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{135,69}}</string>
                <key>sourceSize</key>
                <string>{135,69}</string>
            </dict>
            <key>monster_hongseshijuren_19013:t6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1019,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{0,0}</string>
            </dict>
            <key>monster_hongseshijuren_19013:t8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1016,3},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{0,0}</string>
            </dict>
            <key>monster_hongseshijuren_19013:t9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1016,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{0,0}</string>
            </dict>
            <key>monster_hongseshijuren_19013:tx 62.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{590,293},{157,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{157,144}}</string>
                <key>sourceSize</key>
                <string>{157,144}</string>
            </dict>
            <key>monster_hongseshijuren_19013:tx 63.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{525,717},{204,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{204,152}}</string>
                <key>sourceSize</key>
                <string>{204,152}</string>
            </dict>
            <key>monster_hongseshijuren_19013:v1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{848,628},{169,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{169,169}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
            <key>monster_hongseshijuren_19013:vxcvxvc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{301,293},{146,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{146,198}}</string>
                <key>sourceSize</key>
                <string>{146,198}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_hongseshijuren_19013.pvr.ccz</string>
            <key>size</key>
            <string>{1020,981}</string>
            <key>textureFileName</key>
            <string>monster_hongseshijuren_19013.pvr.ccz</string>
        </dict>
    </dict>
</plist>
