<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_zhanglao_19508:0qw9sa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{678,342},{64,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{64,58}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>monster_zhanglao_19508:baw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{615,0},{284,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{284,95}}</string>
                <key>sourceSize</key>
                <string>{284,95}</string>
            </dict>
            <key>monster_zhanglao_19508:bei.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{602,342},{74,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{74,88}}</string>
                <key>sourceSize</key>
                <string>{74,88}</string>
            </dict>
            <key>monster_zhanglao_19508:beishi1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{292,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{292,191}}</string>
                <key>sourceSize</key>
                <string>{292,191}</string>
            </dict>
            <key>monster_zhanglao_19508:bvbccb.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{755,97},{138,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{138,154}}</string>
                <key>sourceSize</key>
                <string>{138,154}</string>
            </dict>
            <key>monster_zhanglao_19508:bvbccb 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{615,97},{138,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{138,154}}</string>
                <key>sourceSize</key>
                <string>{138,154}</string>
            </dict>
            <key>monster_zhanglao_19508:caseqwwes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{370,336},{55,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,53}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>monster_zhanglao_19508:cxcz.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{90,388},{30,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,38}}</string>
                <key>sourceSize</key>
                <string>{30,38}</string>
            </dict>
            <key>monster_zhanglao_19508:fs 2345.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,193},{131,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{131,151}}</string>
                <key>sourceSize</key>
                <string>{131,151}</string>
            </dict>
            <key>monster_zhanglao_19508:iquw8sa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{429,325},{68,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,61}}</string>
                <key>sourceSize</key>
                <string>{68,61}</string>
            </dict>
            <key>monster_zhanglao_19508:jianjia.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{429,244},{70,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,79}}</string>
                <key>sourceSize</key>
                <string>{70,79}</string>
            </dict>
            <key>monster_zhanglao_19508:jianjia2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{554,280},{46,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,67}}</string>
                <key>sourceSize</key>
                <string>{46,67}</string>
            </dict>
            <key>monster_zhanglao_19508:jiao1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,411},{84,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{84,40}}</string>
                <key>sourceSize</key>
                <string>{84,40}</string>
            </dict>
            <key>monster_zhanglao_19508:jiao2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{550,432},{94,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{94,29}}</string>
                <key>sourceSize</key>
                <string>{94,29}</string>
            </dict>
            <key>monster_zhanglao_19508:kuzi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{122,407},{99,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{99,36}}</string>
                <key>sourceSize</key>
                <string>{99,36}</string>
            </dict>
            <key>monster_zhanglao_19508:kuzi2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{247,387},{99,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{99,46}}</string>
                <key>sourceSize</key>
                <string>{99,46}</string>
            </dict>
            <key>monster_zhanglao_19508:pifeng1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{678,429},{90,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{90,45}}</string>
                <key>sourceSize</key>
                <string>{90,45}</string>
            </dict>
            <key>monster_zhanglao_19508:pifeng2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{744,364},{88,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{88,63}}</string>
                <key>sourceSize</key>
                <string>{88,63}</string>
            </dict>
            <key>monster_zhanglao_19508:pifeng3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,346},{88,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{88,63}}</string>
                <key>sourceSize</key>
                <string>{88,63}</string>
            </dict>
            <key>monster_zhanglao_19508:q1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{133,296},{112,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{112,109}}</string>
                <key>sourceSize</key>
                <string>{112,109}</string>
            </dict>
            <key>monster_zhanglao_19508:q2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{895,111},{112,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{112,109}}</string>
                <key>sourceSize</key>
                <string>{112,109}</string>
            </dict>
            <key>monster_zhanglao_19508:q3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{901,0},{112,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{112,109}}</string>
                <key>sourceSize</key>
                <string>{112,109}</string>
            </dict>
            <key>monster_zhanglao_19508:q4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{895,222},{112,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{112,109}}</string>
                <key>sourceSize</key>
                <string>{112,109}</string>
            </dict>
            <key>monster_zhanglao_19508:q5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{864,333},{112,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{112,109}}</string>
                <key>sourceSize</key>
                <string>{112,109}</string>
            </dict>
            <key>monster_zhanglao_19508:q6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{750,253},{112,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{112,109}}</string>
                <key>sourceSize</key>
                <string>{112,109}</string>
            </dict>
            <key>monster_zhanglao_19508:qjwiusa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{499,341},{52,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{52,53}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>monster_zhanglao_19508:qkwjisa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{585,79},{28,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,46}}</string>
                <key>sourceSize</key>
                <string>{28,46}</string>
            </dict>
            <key>monster_zhanglao_19508:s4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{570,79},{13,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,118}}</string>
                <key>sourceSize</key>
                <string>{13,118}</string>
            </dict>
            <key>monster_zhanglao_19508:shenti1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{427,388},{58,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,62}}</string>
                <key>sourceSize</key>
                <string>{58,62}</string>
            </dict>
            <key>monster_zhanglao_19508:shenti2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{487,396},{61,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{61,41}}</string>
                <key>sourceSize</key>
                <string>{61,41}</string>
            </dict>
            <key>monster_zhanglao_19508:shizi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{562,199},{47,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{47,79}}</string>
                <key>sourceSize</key>
                <string>{47,79}</string>
            </dict>
            <key>monster_zhanglao_19508:shou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{348,391},{66,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{66,40}}</string>
                <key>sourceSize</key>
                <string>{66,40}</string>
            </dict>
            <key>monster_zhanglao_19508:shou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{553,349},{46,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,32}}</string>
                <key>sourceSize</key>
                <string>{46,32}</string>
            </dict>
            <key>monster_zhanglao_19508:tou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{501,269},{51,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{51,70}}</string>
                <key>sourceSize</key>
                <string>{51,70}</string>
            </dict>
            <key>monster_zhanglao_19508:v1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{978,375},{30,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>monster_zhanglao_19508:v12ds.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{503,197},{57,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{57,70}}</string>
                <key>sourceSize</key>
                <string>{57,70}</string>
            </dict>
            <key>monster_zhanglao_19508:v2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{90,346},{30,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>monster_zhanglao_19508:v3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{978,333},{30,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>monster_zhanglao_19508:v5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{553,383},{30,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>monster_zhanglao_19508:vmqw23.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{294,79},{207,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{207,163}}</string>
                <key>sourceSize</key>
                <string>{207,163}</string>
            </dict>
            <key>monster_zhanglao_19508:vnvsw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{503,79},{65,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{65,116}}</string>
                <key>sourceSize</key>
                <string>{65,116}</string>
            </dict>
            <key>monster_zhanglao_19508:vvawesv2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{294,0},{319,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{319,77}}</string>
                <key>sourceSize</key>
                <string>{319,77}</string>
            </dict>
            <key>monster_zhanglao_19508:vvawsww.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{133,193},{130,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{130,101}}</string>
                <key>sourceSize</key>
                <string>{130,101}</string>
            </dict>
            <key>monster_zhanglao_19508:vvws23.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{611,253},{137,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{137,87}}</string>
                <key>sourceSize</key>
                <string>{137,87}</string>
            </dict>
            <key>monster_zhanglao_19508:xiashi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{265,244},{162,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{162,90}}</string>
                <key>sourceSize</key>
                <string>{162,90}</string>
            </dict>
            <key>monster_zhanglao_19508:zuodian.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{247,336},{121,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{121,49}}</string>
                <key>sourceSize</key>
                <string>{121,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_zhanglao_19508.pvr.ccz</string>
            <key>size</key>
            <string>{1008,475}</string>
            <key>textureFileName</key>
            <string>monster_zhanglao_19508.pvr.ccz</string>
        </dict>
    </dict>
</plist>
