<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_necrophage_10098:avaqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{237,0},{17,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,30}}</string>
                <key>sourceSize</key>
                <string>{17,30}</string>
            </dict>
            <key>monster_necrophage_10098:cases.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{209,46},{26,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,34}}</string>
                <key>sourceSize</key>
                <string>{26,34}</string>
            </dict>
            <key>monster_necrophage_10098:casqwev.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{163,82},{24,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,23}}</string>
                <key>sourceSize</key>
                <string>{24,23}</string>
            </dict>
            <key>monster_necrophage_10098:caswes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{189,82},{24,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,23}}</string>
                <key>sourceSize</key>
                <string>{24,23}</string>
            </dict>
            <key>monster_necrophage_10098:caswesq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{129,70},{32,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,27}}</string>
                <key>sourceSize</key>
                <string>{32,27}</string>
            </dict>
            <key>monster_necrophage_10098:cawev45.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{47,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{47,94}}</string>
                <key>sourceSize</key>
                <string>{47,94}</string>
            </dict>
            <key>monster_necrophage_10098:kiwsw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{101,105},{23,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,21}}</string>
                <key>sourceSize</key>
                <string>{23,21}</string>
            </dict>
            <key>monster_necrophage_10098:qws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{209,0},{26,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,44}}</string>
                <key>sourceSize</key>
                <string>{26,44}</string>
            </dict>
            <key>monster_necrophage_10098:qwsw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{131,39},{39,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,29}}</string>
                <key>sourceSize</key>
                <string>{39,29}</string>
            </dict>
            <key>monster_necrophage_10098:sdqwvs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{49,0},{43,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,45}}</string>
                <key>sourceSize</key>
                <string>{43,45}</string>
            </dict>
            <key>monster_necrophage_10098:vaqw43.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,96},{30,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,14}}</string>
                <key>sourceSize</key>
                <string>{30,14}</string>
            </dict>
            <key>monster_necrophage_10098:vase.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{128,99},{26,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,18}}</string>
                <key>sourceSize</key>
                <string>{26,18}</string>
            </dict>
            <key>monster_necrophage_10098:vase6q.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{94,46},{33,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,31}}</string>
                <key>sourceSize</key>
                <string>{33,31}</string>
            </dict>
            <key>monster_necrophage_10098:vases.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{182,107},{18,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,14}}</string>
                <key>sourceSize</key>
                <string>{18,14}</string>
            </dict>
            <key>monster_necrophage_10098:vasesa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{49,76},{26,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,33}}</string>
                <key>sourceSize</key>
                <string>{26,33}</string>
            </dict>
            <key>monster_necrophage_10098:vasesw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{49,47},{35,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,27}}</string>
                <key>sourceSize</key>
                <string>{35,27}</string>
            </dict>
            <key>monster_necrophage_10098:vaswe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{156,107},{24,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,17}}</string>
                <key>sourceSize</key>
                <string>{24,17}</string>
            </dict>
            <key>monster_necrophage_10098:vaswee.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{131,0},{39,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,37}}</string>
                <key>sourceSize</key>
                <string>{39,37}</string>
            </dict>
            <key>monster_necrophage_10098:vaswes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{172,0},{35,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,36}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
            <key>monster_necrophage_10098:vaswqs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{172,38},{24,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,42}}</string>
                <key>sourceSize</key>
                <string>{24,42}</string>
            </dict>
            <key>monster_necrophage_10098:vaswqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{237,32},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,24}}</string>
                <key>sourceSize</key>
                <string>{14,24}</string>
            </dict>
            <key>monster_necrophage_10098:vaswqwrq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{77,79},{22,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,37}}</string>
                <key>sourceSize</key>
                <string>{22,37}</string>
            </dict>
            <key>monster_necrophage_10098:vasws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{94,0},{35,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,44}}</string>
                <key>sourceSize</key>
                <string>{35,44}</string>
            </dict>
            <key>monster_necrophage_10098:vaswsv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{215,82},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
            <key>monster_necrophage_10098:vaswv6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{198,38},{9,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,19}}</string>
                <key>sourceSize</key>
                <string>{9,19}</string>
            </dict>
            <key>monster_necrophage_10098:vasww.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{101,79},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>monster_necrophage_10098:vawes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{237,58},{9,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,17}}</string>
                <key>sourceSize</key>
                <string>{9,17}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_necrophage_10098.pvr.ccz</string>
            <key>size</key>
            <string>{255,126}</string>
            <key>textureFileName</key>
            <string>monster_necrophage_10098.pvr.ccz</string>
        </dict>
    </dict>
</plist>
