<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_hanxuesishen_10038:g31.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{184,40},{89,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{89,91}}</string>
                <key>sourceSize</key>
                <string>{89,91}</string>
            </dict>
            <key>monster_hanxuesishen_10038:g32.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{375,0},{96,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{96,107}}</string>
                <key>sourceSize</key>
                <string>{96,107}</string>
            </dict>
            <key>monster_hanxuesishen_10038:g33.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{181,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{181,101}}</string>
                <key>sourceSize</key>
                <string>{181,101}</string>
            </dict>
            <key>monster_hanxuesishen_10038:g34.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{184,0},{188,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{188,37}}</string>
                <key>sourceSize</key>
                <string>{188,37}</string>
            </dict>
            <key>monster_hanxuesishen_10038:s ku1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{362,110},{53,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{53,50}}</string>
                <key>sourceSize</key>
                <string>{53,50}</string>
            </dict>
            <key>monster_hanxuesishen_10038:s ku2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{474,105},{17,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,15}}</string>
                <key>sourceSize</key>
                <string>{17,15}</string>
            </dict>
            <key>monster_hanxuesishen_10038:s mifeng3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{112,104},{68,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,54}}</string>
                <key>sourceSize</key>
                <string>{68,54}</string>
            </dict>
            <key>monster_hanxuesishen_10038:s pifeng.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{276,40},{64,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{64,63}}</string>
                <key>sourceSize</key>
                <string>{64,63}</string>
            </dict>
            <key>monster_hanxuesishen_10038:s shen1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{343,92},{16,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,19}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
            <key>monster_hanxuesishen_10038:s shenti3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{276,106},{53,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{53,50}}</string>
                <key>sourceSize</key>
                <string>{53,50}</string>
            </dict>
            <key>monster_hanxuesishen_10038:s shou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{474,0},{18,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,32}}</string>
                <key>sourceSize</key>
                <string>{18,32}</string>
            </dict>
            <key>monster_hanxuesishen_10038:s shou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{474,63},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>monster_hanxuesishen_10038:s shou3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{474,35},{23,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,25}}</string>
                <key>sourceSize</key>
                <string>{23,25}</string>
            </dict>
            <key>monster_hanxuesishen_10038:s shou5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{343,40},{17,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,29}}</string>
                <key>sourceSize</key>
                <string>{17,29}</string>
            </dict>
            <key>monster_hanxuesishen_10038:s shoubi1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{343,72},{19,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,17}}</string>
                <key>sourceSize</key>
                <string>{19,17}</string>
            </dict>
            <key>monster_hanxuesishen_10038:s shoubi2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{474,85},{18,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,17}}</string>
                <key>sourceSize</key>
                <string>{18,17}</string>
            </dict>
            <key>monster_hanxuesishen_10038:s tou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{418,110},{43,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,45}}</string>
                <key>sourceSize</key>
                <string>{43,45}</string>
            </dict>
            <key>monster_hanxuesishen_10038:s tou3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{464,123},{43,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,45}}</string>
                <key>sourceSize</key>
                <string>{43,45}</string>
            </dict>
            <key>monster_hanxuesishen_10038:s wuqi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,104},{109,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{109,66}}</string>
                <key>sourceSize</key>
                <string>{109,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_hanxuesishen_10038.pvr.ccz</string>
            <key>size</key>
            <string>{507,171}</string>
            <key>textureFileName</key>
            <string>monster_hanxuesishen_10038.pvr.ccz</string>
        </dict>
    </dict>
</plist>
