<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_tortoise_10099:acksiw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{124,0},{111,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{111,108}}</string>
                <key>sourceSize</key>
                <string>{111,108}</string>
            </dict>
            <key>monster_tortoise_10099:asweq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{230,138},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
            <key>monster_tortoise_10099:casmjq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{75,110},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{38,40}</string>
            </dict>
            <key>monster_tortoise_10099:casowe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{115,110},{41,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{41,36}}</string>
                <key>sourceSize</key>
                <string>{41,36}</string>
            </dict>
            <key>monster_tortoise_10099:casqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,152},{29,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,33}}</string>
                <key>sourceSize</key>
                <string>{29,33}</string>
            </dict>
            <key>monster_tortoise_10099:casqwga.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{158,110},{32,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,41}}</string>
                <key>sourceSize</key>
                <string>{32,41}</string>
            </dict>
            <key>monster_tortoise_10099:caswes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{58,152},{27,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,31}}</string>
                <key>sourceSize</key>
                <string>{27,31}</string>
            </dict>
            <key>monster_tortoise_10099:caswesc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{122,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{122,108}}</string>
                <key>sourceSize</key>
                <string>{122,108}</string>
            </dict>
            <key>monster_tortoise_10099:cawr5q.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{112,184},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>monster_tortoise_10099:csaweqs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{87,152},{23,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,21}}</string>
                <key>sourceSize</key>
                <string>{23,21}</string>
            </dict>
            <key>monster_tortoise_10099:dqwio.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{141,186},{28,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,23}}</string>
                <key>sourceSize</key>
                <string>{28,23}</string>
            </dict>
            <key>monster_tortoise_10099:ioqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{192,110},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>monster_tortoise_10099:kiaws7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{153,153},{27,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,31}}</string>
                <key>sourceSize</key>
                <string>{27,31}</string>
            </dict>
            <key>monster_tortoise_10099:losqws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,110},{73,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{73,40}}</string>
                <key>sourceSize</key>
                <string>{73,40}</string>
            </dict>
            <key>monster_tortoise_10099:mr6q.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{182,177},{31,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,26}}</string>
                <key>sourceSize</key>
                <string>{31,26}</string>
            </dict>
            <key>monster_tortoise_10099:myoy.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{20,190},{33,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,15}}</string>
                <key>sourceSize</key>
                <string>{33,15}</string>
            </dict>
            <key>monster_tortoise_10099:ois8w.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{31,152},{25,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,36}}</string>
                <key>sourceSize</key>
                <string>{25,36}</string>
            </dict>
            <key>monster_tortoise_10099:owpasf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{192,148},{35,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,27}}</string>
                <key>sourceSize</key>
                <string>{35,27}</string>
            </dict>
            <key>monster_tortoise_10099:qwcsw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,187},{18,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,21}}</string>
                <key>sourceSize</key>
                <string>{18,21}</string>
            </dict>
            <key>monster_tortoise_10099:tyoi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{115,148},{36,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{36,34}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
            <key>monster_tortoise_10099:vasq5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{230,110},{24,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,26}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>monster_tortoise_10099:vasqwo0.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{58,185},{27,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,20}}</string>
                <key>sourceSize</key>
                <string>{27,20}</string>
            </dict>
            <key>monster_tortoise_10099:vaw4q.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{87,175},{23,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,19}}</string>
                <key>sourceSize</key>
                <string>{23,19}</string>
            </dict>
            <key>monster_tortoise_10099:vqwt7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{229,164},{23,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,20}}</string>
                <key>sourceSize</key>
                <string>{23,20}</string>
            </dict>
            <key>monster_tortoise_10099:w4qw1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{215,186},{37,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,12}}</string>
                <key>sourceSize</key>
                <string>{37,12}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_tortoise_10099.pvr.ccz</string>
            <key>size</key>
            <string>{254,212}</string>
            <key>textureFileName</key>
            <string>monster_tortoise_10099.pvr.ccz</string>
        </dict>
    </dict>
</plist>
