<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_taliduo_10005:duenpai1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{224,76},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>monster_taliduo_10005:duenpai2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{229,0},{24,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,23}}</string>
                <key>sourceSize</key>
                <string>{24,23}</string>
            </dict>
            <key>monster_taliduo_10005:g tou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,126},{65,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{65,56}}</string>
                <key>sourceSize</key>
                <string>{65,56}</string>
            </dict>
            <key>monster_taliduo_10005:jiao1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{209,111},{11,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,16}}</string>
                <key>sourceSize</key>
                <string>{11,16}</string>
            </dict>
            <key>monster_taliduo_10005:jiao2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{209,93},{12,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,15}}</string>
                <key>sourceSize</key>
                <string>{12,15}</string>
            </dict>
            <key>monster_taliduo_10005:jiao2 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{209,74},{12,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,16}}</string>
                <key>sourceSize</key>
                <string>{12,16}</string>
            </dict>
            <key>monster_taliduo_10005:jiao2 2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{239,133},{14,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,10}}</string>
                <key>sourceSize</key>
                <string>{14,10}</string>
            </dict>
            <key>monster_taliduo_10005:jiao3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{223,123},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>monster_taliduo_10005:jiao3 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{209,145},{10,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,13}}</string>
                <key>sourceSize</key>
                <string>{10,13}</string>
            </dict>
            <key>monster_taliduo_10005:jiao4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{238,159},{11,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,11}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>monster_taliduo_10005:shenti1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{229,26},{19,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,23}}</string>
                <key>sourceSize</key>
                <string>{19,23}</string>
            </dict>
            <key>monster_taliduo_10005:shenti2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{229,52},{18,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,21}}</string>
                <key>sourceSize</key>
                <string>{18,21}</string>
            </dict>
            <key>monster_taliduo_10005:shou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{223,140},{13,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,11}}</string>
                <key>sourceSize</key>
                <string>{13,11}</string>
            </dict>
            <key>monster_taliduo_10005:shou3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{224,106},{18,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,14}}</string>
                <key>sourceSize</key>
                <string>{18,14}</string>
            </dict>
            <key>monster_taliduo_10005:shou4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{245,106},{8,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{8,11}}</string>
                <key>sourceSize</key>
                <string>{8,11}</string>
            </dict>
            <key>monster_taliduo_10005:shou5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{222,154},{13,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,9}}</string>
                <key>sourceSize</key>
                <string>{13,9}</string>
            </dict>
            <key>monster_taliduo_10005:shou7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{209,130},{11,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,12}}</string>
                <key>sourceSize</key>
                <string>{11,12}</string>
            </dict>
            <key>monster_taliduo_10005:shoubi1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{245,120},{8,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{8,10}}</string>
                <key>sourceSize</key>
                <string>{8,10}</string>
            </dict>
            <key>monster_taliduo_10005:shoubi2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{195,167},{11,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,8}}</string>
                <key>sourceSize</key>
                <string>{11,8}</string>
            </dict>
            <key>monster_taliduo_10005:tou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{68,126},{61,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{61,58}}</string>
                <key>sourceSize</key>
                <string>{61,58}</string>
            </dict>
            <key>monster_taliduo_10005:tui1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{209,161},{10,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,9}}</string>
                <key>sourceSize</key>
                <string>{10,9}</string>
            </dict>
            <key>monster_taliduo_10005:tui2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{209,173},{10,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,7}}</string>
                <key>sourceSize</key>
                <string>{10,7}</string>
            </dict>
            <key>monster_taliduo_10005:tui6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{222,166},{12,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,8}}</string>
                <key>sourceSize</key>
                <string>{12,8}</string>
            </dict>
            <key>monster_taliduo_10005:tui7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{239,146},{13,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,10}}</string>
                <key>sourceSize</key>
                <string>{13,10}</string>
            </dict>
            <key>monster_taliduo_10005:w1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{132,167},{60,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{60,54}}</string>
                <key>sourceSize</key>
                <string>{60,54}</string>
            </dict>
            <key>monster_taliduo_10005:w2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{133,74},{73,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{73,90}}</string>
                <key>sourceSize</key>
                <string>{73,90}</string>
            </dict>
            <key>monster_taliduo_10005:w3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{130,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{130,123}}</string>
                <key>sourceSize</key>
                <string>{130,123}</string>
            </dict>
            <key>monster_taliduo_10005:w4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{133,0},{93,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{93,71}}</string>
                <key>sourceSize</key>
                <string>{93,71}</string>
            </dict>
            <key>monster_taliduo_10005:wuqi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{195,183},{40,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,37}}</string>
                <key>sourceSize</key>
                <string>{40,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_taliduo_10005.pvr.ccz</string>
            <key>size</key>
            <string>{254,220}</string>
            <key>textureFileName</key>
            <string>monster_taliduo_10005.pvr.ccz</string>
        </dict>
    </dict>
</plist>
