<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_huolong2_19014:12cso.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{436,672},{238,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{238,141}}</string>
                <key>sourceSize</key>
                <string>{238,141}</string>
            </dict>
            <key>monster_huolong2_19014:Bjing.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{676,668},{110,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{110,85}}</string>
                <key>sourceSize</key>
                <string>{110,85}</string>
            </dict>
            <key>monster_huolong2_19014:Bqi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{933,293},{62,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{62,69}}</string>
                <key>sourceSize</key>
                <string>{62,69}</string>
            </dict>
            <key>monster_huolong2_19014:Bshangshen.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{104,682},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>monster_huolong2_19014:Btou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{194,458},{124,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{124,119}}</string>
                <key>sourceSize</key>
                <string>{124,119}</string>
            </dict>
            <key>monster_huolong2_19014:Btui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{968,181},{38,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,58}}</string>
                <key>sourceSize</key>
                <string>{38,58}</string>
            </dict>
            <key>monster_huolong2_19014:Bweiba.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{506,569},{168,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{168,101}}</string>
                <key>sourceSize</key>
                <string>{168,101}</string>
            </dict>
            <key>monster_huolong2_19014:Bzhua.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{933,241},{81,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{81,50}}</string>
                <key>sourceSize</key>
                <string>{81,50}</string>
            </dict>
            <key>monster_huolong2_19014:Fcibang.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,287},{276,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{276,169}}</string>
                <key>sourceSize</key>
                <string>{276,169}</string>
            </dict>
            <key>monster_huolong2_19014:Fjing.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{788,686},{103,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{103,81}}</string>
                <key>sourceSize</key>
                <string>{103,81}</string>
            </dict>
            <key>monster_huolong2_19014:Ftou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{868,557},{141,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{141,127}}</string>
                <key>sourceSize</key>
                <string>{141,127}</string>
            </dict>
            <key>monster_huolong2_19014:Ftui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{968,122},{45,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,57}}</string>
                <key>sourceSize</key>
                <string>{45,57}</string>
            </dict>
            <key>monster_huolong2_19014:Fweib.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{873,237},{58,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,139}}</string>
                <key>sourceSize</key>
                <string>{58,139}</string>
            </dict>
            <key>monster_huolong2_19014:Fxiashen.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{194,579},{108,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{108,101}}</string>
                <key>sourceSize</key>
                <string>{108,101}</string>
            </dict>
            <key>monster_huolong2_19014:Fzhongshen.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{200,682},{92,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{92,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>monster_huolong2_19014:asdwes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{568,0},{178,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{178,291}}</string>
                <key>sourceSize</key>
                <string>{178,291}</string>
            </dict>
            <key>monster_huolong2_19014:awes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{933,364},{74,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{74,54}}</string>
                <key>sourceSize</key>
                <string>{74,54}</string>
            </dict>
            <key>monster_huolong2_19014:awse.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{321,248},{219,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{219,231}}</string>
                <key>sourceSize</key>
                <string>{219,231}</string>
            </dict>
            <key>monster_huolong2_19014:caswe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,144},{319,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{319,141}}</string>
                <key>sourceSize</key>
                <string>{319,141}</string>
            </dict>
            <key>monster_huolong2_19014:caswec.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{342,0},{224,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{224,246}}</string>
                <key>sourceSize</key>
                <string>{224,246}</string>
            </dict>
            <key>monster_huolong2_19014:caswevw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{340,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{340,142}}</string>
                <key>sourceSize</key>
                <string>{340,142}</string>
            </dict>
            <key>monster_huolong2_19014:caswvd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{542,293},{148,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{148,274}}</string>
                <key>sourceSize</key>
                <string>{148,274}</string>
            </dict>
            <key>monster_huolong2_19014:cawea.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{320,481},{184,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{184,121}}</string>
                <key>sourceSize</key>
                <string>{184,121}</string>
            </dict>
            <key>monster_huolong2_19014:csdwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{968,64},{52,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{52,56}}</string>
                <key>sourceSize</key>
                <string>{52,56}</string>
            </dict>
            <key>monster_huolong2_19014:lseo.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,778},{243,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{243,132}}</string>
                <key>sourceSize</key>
                <string>{243,132}</string>
            </dict>
            <key>monster_huolong2_19014:nger.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{748,0},{218,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{218,235}}</string>
                <key>sourceSize</key>
                <string>{218,235}</string>
            </dict>
            <key>monster_huolong2_19014:oowpeq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{692,540},{174,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{174,126}}</string>
                <key>sourceSize</key>
                <string>{174,126}</string>
            </dict>
            <key>monster_huolong2_19014:pqwes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{488,867},{236,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{236,126}}</string>
                <key>sourceSize</key>
                <string>{236,126}</string>
            </dict>
            <key>monster_huolong2_19014:vaswes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{873,420},{142,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{142,135}}</string>
                <key>sourceSize</key>
                <string>{142,135}</string>
            </dict>
            <key>monster_huolong2_19014:vdfer.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,458},{192,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{192,205}}</string>
                <key>sourceSize</key>
                <string>{192,205}</string>
            </dict>
            <key>monster_huolong2_19014:vmqw23.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{726,867},{254,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{254,88}}</string>
                <key>sourceSize</key>
                <string>{254,88}</string>
            </dict>
            <key>monster_huolong2_19014:vswea.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{968,0},{51,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{51,62}}</string>
                <key>sourceSize</key>
                <string>{51,62}</string>
            </dict>
            <key>monster_huolong2_19014:vvaw34.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{748,237},{123,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{123,301}}</string>
                <key>sourceSize</key>
                <string>{123,301}</string>
            </dict>
            <key>monster_huolong2_19014:vvawesv2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{676,769},{336,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{336,96}}</string>
                <key>sourceSize</key>
                <string>{336,96}</string>
            </dict>
            <key>monster_huolong2_19014:vvawsww.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{304,604},{130,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{130,101}}</string>
                <key>sourceSize</key>
                <string>{130,101}</string>
            </dict>
            <key>monster_huolong2_19014:vwesa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{245,815},{241,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{241,121}}</string>
                <key>sourceSize</key>
                <string>{241,121}</string>
            </dict>
            <key>monster_huolong2_19014:xiashen.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,665},{102,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{102,95}}</string>
                <key>sourceSize</key>
                <string>{102,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_huolong2_19014.pvr.ccz</string>
            <key>size</key>
            <string>{1021,994}</string>
            <key>textureFileName</key>
            <string>monster_huolong2_19014.pvr.ccz</string>
        </dict>
    </dict>
</plist>
