<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_chengbaoshouweidi_19016:09b.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{118,273},{100,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{100,102}}</string>
                <key>sourceSize</key>
                <string>{100,102}</string>
            </dict>
            <key>monster_chengbaoshouweidi_19016:Bshenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{631,265},{105,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{105,104}}</string>
                <key>sourceSize</key>
                <string>{105,104}</string>
            </dict>
            <key>monster_chengbaoshouweidi_19016:Btou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{302,446},{59,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{59,53}}</string>
                <key>sourceSize</key>
                <string>{59,53}</string>
            </dict>
            <key>monster_chengbaoshouweidi_19016:Byoushou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{175,413},{62,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{62,56}}</string>
                <key>sourceSize</key>
                <string>{62,56}</string>
            </dict>
            <key>monster_chengbaoshouweidi_19016:Bzuoshou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{681,432},{54,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{54,57}}</string>
                <key>sourceSize</key>
                <string>{54,57}</string>
            </dict>
            <key>monster_chengbaoshouweidi_19016:Fas.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{478,161},{27,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,15}}</string>
                <key>sourceSize</key>
                <string>{27,15}</string>
            </dict>
            <key>monster_chengbaoshouweidi_19016:Fshenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{478,270},{105,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{105,104}}</string>
                <key>sourceSize</key>
                <string>{105,104}</string>
            </dict>
            <key>monster_chengbaoshouweidi_19016:Ftou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{240,443},{59,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{59,53}}</string>
                <key>sourceSize</key>
                <string>{59,53}</string>
            </dict>
            <key>monster_chengbaoshouweidi_19016:Fyoubi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{293,232},{66,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{66,74}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>monster_chengbaoshouweidi_19016:Fyoujian.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{221,348},{61,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{61,62}}</string>
                <key>sourceSize</key>
                <string>{61,62}</string>
            </dict>
            <key>monster_chengbaoshouweidi_19016:Fyoushou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{802,418},{59,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{59,55}}</string>
                <key>sourceSize</key>
                <string>{59,55}</string>
            </dict>
            <key>monster_chengbaoshouweidi_19016:Fzuojian.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{293,153},{66,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{66,76}}</string>
                <key>sourceSize</key>
                <string>{66,76}</string>
            </dict>
            <key>monster_chengbaoshouweidi_19016:Fzuoshou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{285,380},{61,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{61,60}}</string>
                <key>sourceSize</key>
                <string>{61,60}</string>
            </dict>
            <key>monster_chengbaoshouweidi_19016:Fzuoshoubi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{948,0},{68,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,85}}</string>
                <key>sourceSize</key>
                <string>{68,85}</string>
            </dict>
            <key>monster_chengbaoshouweidi_19016:acaswe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{892,255},{111,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{111,102}}</string>
                <key>sourceSize</key>
                <string>{111,102}</string>
            </dict>
            <key>monster_chengbaoshouweidi_19016:asdfa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{653,142},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>monster_chengbaoshouweidi_19016:aswqa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{285,309},{70,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,68}}</string>
                <key>sourceSize</key>
                <string>{70,68}</string>
            </dict>
            <key>monster_chengbaoshouweidi_19016:aweqa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,386},{60,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{60,59}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
            <key>monster_chengbaoshouweidi_19016:bva.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{358,378},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>monster_chengbaoshouweidi_19016:casd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{681,372},{54,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{54,57}}</string>
                <key>sourceSize</key>
                <string>{54,57}</string>
            </dict>
            <key>monster_chengbaoshouweidi_19016:caswew.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{168,153},{122,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{122,117}}</string>
                <key>sourceSize</key>
                <string>{122,117}</string>
            </dict>
            <key>monster_chengbaoshouweidi_19016:caswex.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{512,156},{116,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{116,111}}</string>
                <key>sourceSize</key>
                <string>{116,111}</string>
            </dict>
            <key>monster_chengbaoshouweidi_19016:cawe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{168,0},{194,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{194,150}}</string>
                <key>sourceSize</key>
                <string>{194,150}</string>
            </dict>
            <key>monster_chengbaoshouweidi_19016:fasdwec.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{934,129},{11,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,5}}</string>
                <key>sourceSize</key>
                <string>{11,5}</string>
            </dict>
            <key>monster_chengbaoshouweidi_19016:fllmdg.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{362,277},{99,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{99,98}}</string>
                <key>sourceSize</key>
                <string>{99,98}</string>
            </dict>
            <key>monster_chengbaoshouweidi_19016:jskd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{934,176},{65,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{65,76}}</string>
                <key>sourceSize</key>
                <string>{65,76}</string>
            </dict>
            <key>monster_chengbaoshouweidi_19016:nwer.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{586,372},{92,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{92,79}}</string>
                <key>sourceSize</key>
                <string>{92,79}</string>
            </dict>
            <key>monster_chengbaoshouweidi_19016:opbnt.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{776,252},{113,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{113,106}}</string>
                <key>sourceSize</key>
                <string>{113,106}</string>
            </dict>
            <key>monster_chengbaoshouweidi_19016:opqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{653,0},{145,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{145,139}}</string>
                <key>sourceSize</key>
                <string>{145,139}</string>
            </dict>
            <key>monster_chengbaoshouweidi_19016:pow.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{801,0},{144,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{144,126}}</string>
                <key>sourceSize</key>
                <string>{144,126}</string>
            </dict>
            <key>monster_chengbaoshouweidi_19016:qvasd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{106,378},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>monster_chengbaoshouweidi_19016:qwas.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{364,446},{70,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,6}}</string>
                <key>sourceSize</key>
                <string>{70,6}</string>
            </dict>
            <key>monster_chengbaoshouweidi_19016:qwaw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{464,377},{93,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{93,77}}</string>
                <key>sourceSize</key>
                <string>{93,77}</string>
            </dict>
            <key>monster_chengbaoshouweidi_19016:qweb.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{365,0},{144,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{144,158}}</string>
                <key>sourceSize</key>
                <string>{144,158}</string>
            </dict>
            <key>monster_chengbaoshouweidi_19016:qwvs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{801,129},{130,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{130,120}}</string>
                <key>sourceSize</key>
                <string>{130,120}</string>
            </dict>
            <key>monster_chengbaoshouweidi_19016:vaswe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,191},{115,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{115,104}}</string>
                <key>sourceSize</key>
                <string>{115,104}</string>
            </dict>
            <key>monster_chengbaoshouweidi_19016:vaswes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,298},{103,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{103,85}}</string>
                <key>sourceSize</key>
                <string>{103,85}</string>
            </dict>
            <key>monster_chengbaoshouweidi_19016:vawe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{948,88},{68,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,85}}</string>
                <key>sourceSize</key>
                <string>{68,85}</string>
            </dict>
            <key>monster_chengbaoshouweidi_19016:vawes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{739,361},{128,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{128,54}}</string>
                <key>sourceSize</key>
                <string>{128,54}</string>
            </dict>
            <key>monster_chengbaoshouweidi_19016:vawesa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{738,418},{61,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{61,56}}</string>
                <key>sourceSize</key>
                <string>{61,56}</string>
            </dict>
            <key>monster_chengbaoshouweidi_19016:vder.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{512,0},{138,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{138,153}}</string>
                <key>sourceSize</key>
                <string>{138,153}</string>
            </dict>
            <key>monster_chengbaoshouweidi_19016:vwqe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{362,161},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>monster_chengbaoshouweidi_19016:wert.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{221,273},{61,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{61,72}}</string>
                <key>sourceSize</key>
                <string>{61,72}</string>
            </dict>
            <key>monster_chengbaoshouweidi_19016:wqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{165,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{165,188}}</string>
                <key>sourceSize</key>
                <string>{165,188}</string>
            </dict>
            <key>monster_chengbaoshouweidi_19016:yue.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{892,360},{99,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{99,88}}</string>
                <key>sourceSize</key>
                <string>{99,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_chengbaoshouweidi_19016.pvr.ccz</string>
            <key>size</key>
            <string>{1017,499}</string>
            <key>textureFileName</key>
            <string>monster_chengbaoshouweidi_19016.pvr.ccz</string>
        </dict>
    </dict>
</plist>
