<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_xiaohuolong_10072:B tou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{152,0},{46,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,51}}</string>
                <key>sourceSize</key>
                <string>{46,51}</string>
            </dict>
            <key>monster_xiaohuolong_10072:Bjiao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{238,29},{15,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,10}}</string>
                <key>sourceSize</key>
                <string>{15,10}</string>
            </dict>
            <key>monster_xiaohuolong_10072:Bjing.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{75,60},{23,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,21}}</string>
                <key>sourceSize</key>
                <string>{23,21}</string>
            </dict>
            <key>monster_xiaohuolong_10072:Bshen.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{201,37},{33,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,27}}</string>
                <key>sourceSize</key>
                <string>{33,27}</string>
            </dict>
            <key>monster_xiaohuolong_10072:Btou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{104,0},{45,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,59}}</string>
                <key>sourceSize</key>
                <string>{45,59}</string>
            </dict>
            <key>monster_xiaohuolong_10072:Byan.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{181,54},{11,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,11}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>monster_xiaohuolong_10072:F tou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{52,0},{49,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{49,57}}</string>
                <key>sourceSize</key>
                <string>{49,57}</string>
            </dict>
            <key>monster_xiaohuolong_10072:F tou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{49,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{49,69}}</string>
                <key>sourceSize</key>
                <string>{49,69}</string>
            </dict>
            <key>monster_xiaohuolong_10072:F youyan.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{237,58},{4,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{4,5}}</string>
                <key>sourceSize</key>
                <string>{4,5}</string>
            </dict>
            <key>monster_xiaohuolong_10072:Fcib.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{195,67},{55,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,39}}</string>
                <key>sourceSize</key>
                <string>{55,39}</string>
            </dict>
            <key>monster_xiaohuolong_10072:Fjing.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{152,54},{26,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{26,32}</string>
            </dict>
            <key>monster_xiaohuolong_10072:Fshen.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{201,0},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>monster_xiaohuolong_10072:Fweib.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{52,60},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{20,28}</string>
            </dict>
            <key>monster_xiaohuolong_10072:f yan.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{237,42},{11,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,13}}</string>
                <key>sourceSize</key>
                <string>{11,13}</string>
            </dict>
            <key>monster_xiaohuolong_10072:jiao1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{238,16},{15,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,10}}</string>
                <key>sourceSize</key>
                <string>{15,10}</string>
            </dict>
            <key>monster_xiaohuolong_10072:qiu1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{238,0},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_xiaohuolong_10072.pvr.ccz</string>
            <key>size</key>
            <string>{253,107}</string>
            <key>textureFileName</key>
            <string>monster_xiaohuolong_10072.pvr.ccz</string>
        </dict>
    </dict>
</plist>
