<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_mofashouling2_19010:Fhoupifeng.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{133,0},{72,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{72,71}}</string>
                <key>sourceSize</key>
                <string>{72,71}</string>
            </dict>
            <key>monster_mofashouling2_19010:Fquan1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{208,78},{39,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,26}}</string>
                <key>sourceSize</key>
                <string>{39,26}</string>
            </dict>
            <key>monster_mofashouling2_19010:Fqun.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{57,76},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>monster_mofashouling2_19010:Fshenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{207,107},{27,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,21}}</string>
                <key>sourceSize</key>
                <string>{27,21}</string>
            </dict>
            <key>monster_mofashouling2_19010:Fsiwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{49,141},{49,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{49,40}}</string>
                <key>sourceSize</key>
                <string>{49,40}</string>
            </dict>
            <key>monster_mofashouling2_19010:Ftou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{133,74},{48,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{48,82}}</string>
                <key>sourceSize</key>
                <string>{48,82}</string>
            </dict>
            <key>monster_mofashouling2_19010:Fyaodai.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{201,131},{24,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,18}}</string>
                <key>sourceSize</key>
                <string>{24,18}</string>
            </dict>
            <key>monster_mofashouling2_19010:Fyiling.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{184,97},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{20,21}</string>
            </dict>
            <key>monster_mofashouling2_19010:Fyiling2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{184,157},{52,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{52,19}}</string>
                <key>sourceSize</key>
                <string>{52,19}</string>
            </dict>
            <key>monster_mofashouling2_19010:Fyouhoubi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{228,132},{13,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,22}}</string>
                <key>sourceSize</key>
                <string>{13,22}</string>
            </dict>
            <key>monster_mofashouling2_19010:Fyoupifeng.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{208,0},{35,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,75}}</string>
                <key>sourceSize</key>
                <string>{35,75}</string>
            </dict>
            <key>monster_mofashouling2_19010:Fyouqianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{101,141},{13,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,18}}</string>
                <key>sourceSize</key>
                <string>{13,18}</string>
            </dict>
            <key>monster_mofashouling2_19010:Fyoushou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{117,141},{12,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,13}}</string>
                <key>sourceSize</key>
                <string>{12,13}</string>
            </dict>
            <key>monster_mofashouling2_19010:Fzuohoubi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{184,121},{14,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,22}}</string>
                <key>sourceSize</key>
                <string>{14,22}</string>
            </dict>
            <key>monster_mofashouling2_19010:Fzuopif.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{54,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{54,96}}</string>
                <key>sourceSize</key>
                <string>{54,96}</string>
            </dict>
            <key>monster_mofashouling2_19010:Fzuoqianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{237,107},{15,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,22}}</string>
                <key>sourceSize</key>
                <string>{15,22}</string>
            </dict>
            <key>monster_mofashouling2_19010:Fzuoshou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{184,74},{21,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,20}}</string>
                <key>sourceSize</key>
                <string>{21,20}</string>
            </dict>
            <key>monster_mofashouling2_19010:euwi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{246,0},{6,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{6,9}}</string>
                <key>sourceSize</key>
                <string>{6,9}</string>
            </dict>
            <key>monster_mofashouling2_19010:g.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{57,0},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>monster_mofashouling2_19010:uqwiec.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,99},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{46,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_mofashouling2_19010.pvr.ccz</string>
            <key>size</key>
            <string>{253,181}</string>
            <key>textureFileName</key>
            <string>monster_mofashouling2_19010.pvr.ccz</string>
        </dict>
    </dict>
</plist>
