<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_xianrenzhang_19005:334f.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{595,765},{133,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{133,39}}</string>
                <key>sourceSize</key>
                <string>{133,39}</string>
            </dict>
            <key>monster_xianrenzhang_19005:34f.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,725},{126,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{126,66}}</string>
                <key>sourceSize</key>
                <string>{126,66}</string>
            </dict>
            <key>monster_xianrenzhang_19005:Bshenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{515,502},{164,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{164,150}}</string>
                <key>sourceSize</key>
                <string>{164,150}</string>
            </dict>
            <key>monster_xianrenzhang_19005:Btouguan.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{682,618},{84,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{84,79}}</string>
                <key>sourceSize</key>
                <string>{84,79}</string>
            </dict>
            <key>monster_xianrenzhang_19005:Byaodai.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{926,743},{72,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{72,29}}</string>
                <key>sourceSize</key>
                <string>{72,29}</string>
            </dict>
            <key>monster_xianrenzhang_19005:Byoujiao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{958,363},{45,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,53}}</string>
                <key>sourceSize</key>
                <string>{45,53}</string>
            </dict>
            <key>monster_xianrenzhang_19005:Byoujiaoa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{474,459},{58,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,30}}</string>
                <key>sourceSize</key>
                <string>{58,30}</string>
            </dict>
            <key>monster_xianrenzhang_19005:Bzuojiao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{453,586},{41,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{41,25}}</string>
                <key>sourceSize</key>
                <string>{41,25}</string>
            </dict>
            <key>monster_xianrenzhang_19005:Fhuangguan.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{926,592},{84,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{84,79}}</string>
                <key>sourceSize</key>
                <string>{84,79}</string>
            </dict>
            <key>monster_xianrenzhang_19005:Fxiashen.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{713,516},{62,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{62,35}}</string>
                <key>sourceSize</key>
                <string>{62,35}</string>
            </dict>
            <key>monster_xianrenzhang_19005:Fyaodai.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{129,725},{72,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{72,40}}</string>
                <key>sourceSize</key>
                <string>{72,40}</string>
            </dict>
            <key>monster_xianrenzhang_19005:Fyouhoubi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{474,410},{45,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,46}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>monster_xianrenzhang_19005:Fyoujiao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{723,443},{50,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{50,37}}</string>
                <key>sourceSize</key>
                <string>{50,37}</string>
            </dict>
            <key>monster_xianrenzhang_19005:Fyoutui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{682,553},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,36}</string>
            </dict>
            <key>monster_xianrenzhang_19005:Fyouzhang.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{958,302},{56,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{56,58}}</string>
                <key>sourceSize</key>
                <string>{56,58}</string>
            </dict>
            <key>monster_xianrenzhang_19005:Fzuohoubi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{665,700},{79,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{79,54}}</string>
                <key>sourceSize</key>
                <string>{79,54}</string>
            </dict>
            <key>monster_xianrenzhang_19005:Fzuojiao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{474,370},{56,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{56,37}}</string>
                <key>sourceSize</key>
                <string>{56,37}</string>
            </dict>
            <key>monster_xianrenzhang_19005:Fzuoshouzhang.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{926,674},{68,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,66}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>monster_xianrenzhang_19005:asdcsdf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{753,332},{35,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,50}}</string>
                <key>sourceSize</key>
                <string>{35,50}</string>
            </dict>
            <key>monster_xianrenzhang_19005:asdvftr.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{312,370},{159,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{159,162}}</string>
                <key>sourceSize</key>
                <string>{159,162}</string>
            </dict>
            <key>monster_xianrenzhang_19005:asdwes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,427},{283,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{283,118}}</string>
                <key>sourceSize</key>
                <string>{283,118}</string>
            </dict>
            <key>monster_xianrenzhang_19005:asdwvvs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{978,69},{42,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{42,48}}</string>
                <key>sourceSize</key>
                <string>{42,48}</string>
            </dict>
            <key>monster_xianrenzhang_19005:asdwwca.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{978,120},{35,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,54}}</string>
                <key>sourceSize</key>
                <string>{35,54}</string>
            </dict>
            <key>monster_xianrenzhang_19005:bbfgrt.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{453,655},{209,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{209,107}}</string>
                <key>sourceSize</key>
                <string>{209,107}</string>
            </dict>
            <key>monster_xianrenzhang_19005:bgwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{709,554},{50,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{50,24}}</string>
                <key>sourceSize</key>
                <string>{50,24}</string>
            </dict>
            <key>monster_xianrenzhang_19005:bser.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{235,548},{32,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,41}}</string>
                <key>sourceSize</key>
                <string>{32,41}</string>
            </dict>
            <key>monster_xianrenzhang_19005:casdf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{769,652},{154,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{154,91}}</string>
                <key>sourceSize</key>
                <string>{154,91}</string>
            </dict>
            <key>monster_xianrenzhang_19005:casdfv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{871,775},{117,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{117,41}}</string>
                <key>sourceSize</key>
                <string>{117,41}</string>
            </dict>
            <key>monster_xianrenzhang_19005:casdfxx.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{747,746},{121,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{121,71}}</string>
                <key>sourceSize</key>
                <string>{121,71}</string>
            </dict>
            <key>monster_xianrenzhang_19005:caswe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{709,581},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>monster_xianrenzhang_19005:caswec.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{474,492},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{38,40}</string>
            </dict>
            <key>monster_xianrenzhang_19005:caswecs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{317,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{317,305}}</string>
                <key>sourceSize</key>
                <string>{317,305}</string>
            </dict>
            <key>monster_xianrenzhang_19005:caswecx.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{948,520},{72,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{72,69}}</string>
                <key>sourceSize</key>
                <string>{72,69}</string>
            </dict>
            <key>monster_xianrenzhang_19005:caswex.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{958,234},{61,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{61,65}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>monster_xianrenzhang_19005:cdwer.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{978,177},{33,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,54}}</string>
                <key>sourceSize</key>
                <string>{33,54}</string>
            </dict>
            <key>monster_xianrenzhang_19005:cvasd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{235,592},{33,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,22}}</string>
                <key>sourceSize</key>
                <string>{33,22}</string>
            </dict>
            <key>monster_xianrenzhang_19005:cwer.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{537,347},{183,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{183,152}}</string>
                <key>sourceSize</key>
                <string>{183,152}</string>
            </dict>
            <key>monster_xianrenzhang_19005:faswsf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{781,389},{164,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{164,154}}</string>
                <key>sourceSize</key>
                <string>{164,154}</string>
            </dict>
            <key>monster_xianrenzhang_19005:frt.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{390,820},{333,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{333,100}}</string>
                <key>sourceSize</key>
                <string>{333,100}</string>
            </dict>
            <key>monster_xianrenzhang_19005:fsesc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,656},{213,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{213,66}}</string>
                <key>sourceSize</key>
                <string>{213,66}</string>
            </dict>
            <key>monster_xianrenzhang_19005:ippe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{778,546},{145,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{145,103}}</string>
                <key>sourceSize</key>
                <string>{145,103}</string>
            </dict>
            <key>monster_xianrenzhang_19005:llkv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,548},{232,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{232,105}}</string>
                <key>sourceSize</key>
                <string>{232,105}</string>
            </dict>
            <key>monster_xianrenzhang_19005:mhjkk.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{723,483},{48,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{48,30}}</string>
                <key>sourceSize</key>
                <string>{48,30}</string>
            </dict>
            <key>monster_xianrenzhang_19005:nnsjd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,794},{114,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{114,26}}</string>
                <key>sourceSize</key>
                <string>{114,26}</string>
            </dict>
            <key>monster_xianrenzhang_19005:oper.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,308},{309,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{309,116}}</string>
                <key>sourceSize</key>
                <string>{309,116}</string>
            </dict>
            <key>monster_xianrenzhang_19005:qszcs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{129,775},{138,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{138,26}}</string>
                <key>sourceSize</key>
                <string>{138,26}</string>
            </dict>
            <key>monster_xianrenzhang_19005:sdvfer.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{793,208},{162,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{162,178}}</string>
                <key>sourceSize</key>
                <string>{162,178}</string>
            </dict>
            <key>monster_xianrenzhang_19005:shenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{286,535},{164,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{164,150}}</string>
                <key>sourceSize</key>
                <string>{164,150}</string>
            </dict>
            <key>monster_xianrenzhang_19005:vddf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{948,419},{70,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,98}}</string>
                <key>sourceSize</key>
                <string>{70,98}</string>
            </dict>
            <key>monster_xianrenzhang_19005:vdfg.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{344,688},{106,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{106,87}}</string>
                <key>sourceSize</key>
                <string>{106,87}</string>
            </dict>
            <key>monster_xianrenzhang_19005:vdfrt.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{793,0},{182,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{182,205}}</string>
                <key>sourceSize</key>
                <string>{182,205}</string>
            </dict>
            <key>monster_xianrenzhang_19005:vdserd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{320,0},{238,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{238,205}}</string>
                <key>sourceSize</key>
                <string>{238,205}</string>
            </dict>
            <key>monster_xianrenzhang_19005:vvasd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{682,502},{28,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,48}}</string>
                <key>sourceSize</key>
                <string>{28,48}</string>
            </dict>
            <key>monster_xianrenzhang_19005:wecfc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{270,778},{117,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{117,41}}</string>
                <key>sourceSize</key>
                <string>{117,41}</string>
            </dict>
            <key>monster_xianrenzhang_19005:wef.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{320,208},{214,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{214,159}}</string>
                <key>sourceSize</key>
                <string>{214,159}</string>
            </dict>
            <key>monster_xianrenzhang_19005:wever.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{561,0},{229,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{229,211}}</string>
                <key>sourceSize</key>
                <string>{229,211}</string>
            </dict>
            <key>monster_xianrenzhang_19005:wwdv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{453,765},{139,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{139,52}}</string>
                <key>sourceSize</key>
                <string>{139,52}</string>
            </dict>
            <key>monster_xianrenzhang_19005:wwqse.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{537,214},{213,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{213,130}}</string>
                <key>sourceSize</key>
                <string>{213,130}</string>
            </dict>
            <key>monster_xianrenzhang_19005:yuty.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{216,688},{125,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{125,84}}</string>
                <key>sourceSize</key>
                <string>{125,84}</string>
            </dict>
            <key>monster_xianrenzhang_19005:zhua1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{978,0},{40,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,66}}</string>
                <key>sourceSize</key>
                <string>{40,66}</string>
            </dict>
            <key>monster_xianrenzhang_19005:zhua2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{753,214},{27,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,60}}</string>
                <key>sourceSize</key>
                <string>{27,60}</string>
            </dict>
            <key>monster_xianrenzhang_19005:zhua3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{723,347},{22,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,50}}</string>
                <key>sourceSize</key>
                <string>{22,50}</string>
            </dict>
            <key>monster_xianrenzhang_19005:zhua4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{453,535},{28,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,48}}</string>
                <key>sourceSize</key>
                <string>{28,48}</string>
            </dict>
            <key>monster_xianrenzhang_19005:zhua5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{748,385},{30,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,55}}</string>
                <key>sourceSize</key>
                <string>{30,55}</string>
            </dict>
            <key>monster_xianrenzhang_19005:zhua6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{753,277},{34,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,52}}</string>
                <key>sourceSize</key>
                <string>{34,52}</string>
            </dict>
            <key>monster_xianrenzhang_19005:zuotui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{484,535},{28,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,37}}</string>
                <key>sourceSize</key>
                <string>{28,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_xianrenzhang_19005.pvr.ccz</string>
            <key>size</key>
            <string>{1021,927}</string>
            <key>textureFileName</key>
            <string>monster_xianrenzhang_19005.pvr.ccz</string>
        </dict>
    </dict>
</plist>
