<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_firewitch2_19024:1pqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{303,0},{182,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{182,139}}</string>
                <key>sourceSize</key>
                <string>{182,139}</string>
            </dict>
            <key>monster_firewitch2_19024:1pwer.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{821,268},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>monster_firewitch2_19024:1vawe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{573,418},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>monster_firewitch2_19024:1vaweq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{487,0},{144,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{144,129}}</string>
                <key>sourceSize</key>
                <string>{144,129}</string>
            </dict>
            <key>monster_firewitch2_19024:1vwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{757,404},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>monster_firewitch2_19024:23der.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{142,134},{113,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{113,119}}</string>
                <key>sourceSize</key>
                <string>{113,119}</string>
            </dict>
            <key>monster_firewitch2_19024:87qws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{292,134},{9,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,18}}</string>
                <key>sourceSize</key>
                <string>{9,18}</string>
            </dict>
            <key>monster_firewitch2_19024:898qws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{807,100},{16,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,21}}</string>
                <key>sourceSize</key>
                <string>{16,21}</string>
            </dict>
            <key>monster_firewitch2_19024:8qwiu.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{807,145},{14,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,17}}</string>
                <key>sourceSize</key>
                <string>{14,17}</string>
            </dict>
            <key>monster_firewitch2_19024:asdfa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{287,322},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>monster_firewitch2_19024:bdfqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{373,402},{62,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{62,83}}</string>
                <key>sourceSize</key>
                <string>{62,83}</string>
            </dict>
            <key>monster_firewitch2_19024:bnqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{291,205},{102,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{102,115}}</string>
                <key>sourceSize</key>
                <string>{102,115}</string>
            </dict>
            <key>monster_firewitch2_19024:bqwesq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{303,141},{167,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{167,62}}</string>
                <key>sourceSize</key>
                <string>{167,62}</string>
            </dict>
            <key>monster_firewitch2_19024:bqwew.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{997,241},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
            <key>monster_firewitch2_19024:caqwer.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{933,221},{62,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{62,102}}</string>
                <key>sourceSize</key>
                <string>{62,102}</string>
            </dict>
            <key>monster_firewitch2_19024:casqwer54.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{690,384},{65,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{65,92}}</string>
                <key>sourceSize</key>
                <string>{65,92}</string>
            </dict>
            <key>monster_firewitch2_19024:casweqe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{895,412},{66,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{66,61}}</string>
                <key>sourceSize</key>
                <string>{66,61}</string>
            </dict>
            <key>monster_firewitch2_19024:cqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{821,363},{72,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{72,85}}</string>
                <key>sourceSize</key>
                <string>{72,85}</string>
            </dict>
            <key>monster_firewitch2_19024:cyqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{587,302},{123,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{123,68}}</string>
                <key>sourceSize</key>
                <string>{123,68}</string>
            </dict>
            <key>monster_firewitch2_19024:ijksj.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{997,270},{19,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,10}}</string>
                <key>sourceSize</key>
                <string>{19,10}</string>
            </dict>
            <key>monster_firewitch2_19024:ijncas.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{633,73},{133,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{133,115}}</string>
                <key>sourceSize</key>
                <string>{133,115}</string>
            </dict>
            <key>monster_firewitch2_19024:ioiqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{437,402},{29,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,20}}</string>
                <key>sourceSize</key>
                <string>{29,20}</string>
            </dict>
            <key>monster_firewitch2_19024:ioiqws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{257,203},{32,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,38}}</string>
                <key>sourceSize</key>
                <string>{32,38}</string>
            </dict>
            <key>monster_firewitch2_19024:ioiqwsq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1007,97},{14,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,26}}</string>
                <key>sourceSize</key>
                <string>{14,26}</string>
            </dict>
            <key>monster_firewitch2_19024:ioqiw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{807,164},{11,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,10}}</string>
                <key>sourceSize</key>
                <string>{11,10}</string>
            </dict>
            <key>monster_firewitch2_19024:ioqs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{616,131},{8,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{8,24}}</string>
                <key>sourceSize</key>
                <string>{8,24}</string>
            </dict>
            <key>monster_firewitch2_19024:ioqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,407},{71,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{71,73}}</string>
                <key>sourceSize</key>
                <string>{71,73}</string>
            </dict>
            <key>monster_firewitch2_19024:iuas.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{587,254},{23,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,21}}</string>
                <key>sourceSize</key>
                <string>{23,21}</string>
            </dict>
            <key>monster_firewitch2_19024:iuaso.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{616,157},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>monster_firewitch2_19024:iujks.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{807,123},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>monster_firewitch2_19024:iuqoa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{292,154},{8,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{8,17}}</string>
                <key>sourceSize</key>
                <string>{8,17}</string>
            </dict>
            <key>monster_firewitch2_19024:iuqws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1007,65},{14,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,30}}</string>
                <key>sourceSize</key>
                <string>{14,30}</string>
            </dict>
            <key>monster_firewitch2_19024:iuqwsq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{487,351},{84,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{84,77}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>monster_firewitch2_19024:jqws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{472,141},{11,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,16}}</string>
                <key>sourceSize</key>
                <string>{11,16}</string>
            </dict>
            <key>monster_firewitch2_19024:juiqs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{231,255},{19,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,24}}</string>
                <key>sourceSize</key>
                <string>{19,24}</string>
            </dict>
            <key>monster_firewitch2_19024:juqwe41.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{768,73},{37,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,142}}</string>
                <key>sourceSize</key>
                <string>{37,142}</string>
            </dict>
            <key>monster_firewitch2_19024:juqwsr5q.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,327},{113,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{113,78}}</string>
                <key>sourceSize</key>
                <string>{113,78}</string>
            </dict>
            <key>monster_firewitch2_19024:juwqs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{115,357},{92,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{92,68}}</string>
                <key>sourceSize</key>
                <string>{92,68}</string>
            </dict>
            <key>monster_firewitch2_19024:kioaq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{737,258},{21,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,18}}</string>
                <key>sourceSize</key>
                <string>{21,18}</string>
            </dict>
            <key>monster_firewitch2_19024:kioasv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{257,243},{29,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,22}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>monster_firewitch2_19024:kioqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{108,232},{27,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,33}}</string>
                <key>sourceSize</key>
                <string>{27,33}</string>
            </dict>
            <key>monster_firewitch2_19024:kiqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1001,125},{20,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,70}}</string>
                <key>sourceSize</key>
                <string>{20,70}</string>
            </dict>
            <key>monster_firewitch2_19024:kiupq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{760,312},{59,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{59,90}}</string>
                <key>sourceSize</key>
                <string>{59,90}</string>
            </dict>
            <key>monster_firewitch2_19024:kjiq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{73,407},{29,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,20}}</string>
                <key>sourceSize</key>
                <string>{29,20}</string>
            </dict>
            <key>monster_firewitch2_19024:kviq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,232},{106,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{106,93}}</string>
                <key>sourceSize</key>
                <string>{106,93}</string>
            </dict>
            <key>monster_firewitch2_19024:lopqws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{827,0},{104,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{104,153}}</string>
                <key>sourceSize</key>
                <string>{104,153}</string>
            </dict>
            <key>monster_firewitch2_19024:lopqwv2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{633,0},{192,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{192,71}}</string>
                <key>sourceSize</key>
                <string>{192,71}</string>
            </dict>
            <key>monster_firewitch2_19024:mjiqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{257,134},{33,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,67}}</string>
                <key>sourceSize</key>
                <string>{33,67}</string>
            </dict>
            <key>monster_firewitch2_19024:mkioq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{209,393},{66,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{66,85}}</string>
                <key>sourceSize</key>
                <string>{66,85}</string>
            </dict>
            <key>monster_firewitch2_19024:mkiqa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{807,73},{15,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,25}}</string>
                <key>sourceSize</key>
                <string>{15,25}</string>
            </dict>
            <key>monster_firewitch2_19024:mklqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{277,408},{67,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{67,63}}</string>
                <key>sourceSize</key>
                <string>{67,63}</string>
            </dict>
            <key>monster_firewitch2_19024:ngfw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{933,114},{66,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{66,105}}</string>
                <key>sourceSize</key>
                <string>{66,105}</string>
            </dict>
            <key>monster_firewitch2_19024:njvqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{373,329},{112,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{112,71}}</string>
                <key>sourceSize</key>
                <string>{112,71}</string>
            </dict>
            <key>monster_firewitch2_19024:oiqsa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{963,412},{28,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,15}}</string>
                <key>sourceSize</key>
                <string>{28,15}</string>
            </dict>
            <key>monster_firewitch2_19024:opqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{616,190},{119,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{119,110}}</string>
                <key>sourceSize</key>
                <string>{119,110}</string>
            </dict>
            <key>monster_firewitch2_19024:qwdw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{487,131},{127,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{127,121}}</string>
                <key>sourceSize</key>
                <string>{127,121}</string>
            </dict>
            <key>monster_firewitch2_19024:qwe33.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{231,300},{54,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{54,91}}</string>
                <key>sourceSize</key>
                <string>{54,91}</string>
            </dict>
            <key>monster_firewitch2_19024:qwers.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{823,155},{108,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{108,111}}</string>
                <key>sourceSize</key>
                <string>{108,111}</string>
            </dict>
            <key>monster_firewitch2_19024:qwrtq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{108,267},{21,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,13}}</string>
                <key>sourceSize</key>
                <string>{21,13}</string>
            </dict>
            <key>monster_firewitch2_19024:rqwew.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{933,0},{72,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{72,112}}</string>
                <key>sourceSize</key>
                <string>{72,112}</string>
            </dict>
            <key>monster_firewitch2_19024:uioqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{916,325},{83,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{83,85}}</string>
                <key>sourceSize</key>
                <string>{83,85}</string>
            </dict>
            <key>monster_firewitch2_19024:uiqs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{737,190},{23,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,66}}</string>
                <key>sourceSize</key>
                <string>{23,66}</string>
            </dict>
            <key>monster_firewitch2_19024:uiquw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1001,197},{20,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,42}}</string>
                <key>sourceSize</key>
                <string>{20,42}</string>
            </dict>
            <key>monster_firewitch2_19024:uiqwed.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{395,205},{90,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{90,122}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>monster_firewitch2_19024:uiuqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{252,267},{35,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,31}}</string>
                <key>sourceSize</key>
                <string>{35,31}</string>
            </dict>
            <key>monster_firewitch2_19024:uiuqwv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1007,34},{15,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,29}}</string>
                <key>sourceSize</key>
                <string>{15,29}</string>
            </dict>
            <key>monster_firewitch2_19024:uiuqwvq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{301,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{301,132}}</string>
                <key>sourceSize</key>
                <string>{301,132}</string>
            </dict>
            <key>monster_firewitch2_19024:uiuqwvqq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{472,159},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>monster_firewitch2_19024:ujq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1007,0},{14,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,32}}</string>
                <key>sourceSize</key>
                <string>{14,32}</string>
            </dict>
            <key>monster_firewitch2_19024:uyiqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{487,254},{98,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{98,95}}</string>
                <key>sourceSize</key>
                <string>{98,95}</string>
            </dict>
            <key>monster_firewitch2_19024:vasweq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{573,372},{115,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{115,44}}</string>
                <key>sourceSize</key>
                <string>{115,44}</string>
            </dict>
            <key>monster_firewitch2_19024:vawq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,134},{140,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{140,96}}</string>
                <key>sourceSize</key>
                <string>{140,96}</string>
            </dict>
            <key>monster_firewitch2_19024:vsdwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{762,217},{57,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{57,93}}</string>
                <key>sourceSize</key>
                <string>{57,93}</string>
            </dict>
            <key>monster_firewitch2_19024:yuqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{137,255},{92,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{92,100}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>monster_firewitch2_19024:yuyqwo.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{712,302},{46,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,80}}</string>
                <key>sourceSize</key>
                <string>{46,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_firewitch2_19024.pvr.ccz</string>
            <key>size</key>
            <string>{1023,510}</string>
            <key>textureFileName</key>
            <string>monster_firewitch2_19024.pvr.ccz</string>
        </dict>
    </dict>
</plist>
