<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_cerberus2_19023:6ng84.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{640,0},{283,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{283,233}}</string>
                <key>sourceSize</key>
                <string>{283,233}</string>
            </dict>
            <key>monster_cerberus2_19023:6nrt56.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{329,0},{309,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{309,309}}</string>
                <key>sourceSize</key>
                <string>{309,309}</string>
            </dict>
            <key>monster_cerberus2_19023:6vaswe45.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{329,311},{291,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{291,222}}</string>
                <key>sourceSize</key>
                <string>{291,222}</string>
            </dict>
            <key>monster_cerberus2_19023:6vbwec.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{327,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{327,312}}</string>
                <key>sourceSize</key>
                <string>{327,312}</string>
            </dict>
            <key>monster_cerberus2_19023:9qwef.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{281,640},{180,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{180,117}}</string>
                <key>sourceSize</key>
                <string>{180,117}</string>
            </dict>
            <key>monster_cerberus2_19023:Fsduq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{776,569},{37,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,48}}</string>
                <key>sourceSize</key>
                <string>{37,48}</string>
            </dict>
            <key>monster_cerberus2_19023:Fyoutou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{897,416},{113,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{113,102}}</string>
                <key>sourceSize</key>
                <string>{113,102}</string>
            </dict>
            <key>monster_cerberus2_19023:Fzhongtou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{925,0},{93,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{93,135}}</string>
                <key>sourceSize</key>
                <string>{93,135}</string>
            </dict>
            <key>monster_cerberus2_19023:Fzuotou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{906,288},{105,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{105,126}}</string>
                <key>sourceSize</key>
                <string>{105,126}</string>
            </dict>
            <key>monster_cerberus2_19023:Fzuotui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{847,235},{57,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{57,121}}</string>
                <key>sourceSize</key>
                <string>{57,121}</string>
            </dict>
            <key>monster_cerberus2_19023:aswes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,428},{199,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{199,113}}</string>
                <key>sourceSize</key>
                <string>{199,113}</string>
            </dict>
            <key>monster_cerberus2_19023:awqws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{842,424},{45,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,66}}</string>
                <key>sourceSize</key>
                <string>{45,66}</string>
            </dict>
            <key>monster_cerberus2_19023:berw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{836,711},{183,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{183,113}}</string>
                <key>sourceSize</key>
                <string>{183,113}</string>
            </dict>
            <key>monster_cerberus2_19023:bsdwq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{622,365},{218,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{218,95}}</string>
                <key>sourceSize</key>
                <string>{218,95}</string>
            </dict>
            <key>monster_cerberus2_19023:bwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{593,569},{181,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{181,118}}</string>
                <key>sourceSize</key>
                <string>{181,118}</string>
            </dict>
            <key>monster_cerberus2_19023:casqs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{593,689},{145,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{145,113}}</string>
                <key>sourceSize</key>
                <string>{145,113}</string>
            </dict>
            <key>monster_cerberus2_19023:casqw1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{175,770},{68,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,43}}</string>
                <key>sourceSize</key>
                <string>{68,43}</string>
            </dict>
            <key>monster_cerberus2_19023:casqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{463,693},{54,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{54,13}}</string>
                <key>sourceSize</key>
                <string>{54,13}</string>
            </dict>
            <key>monster_cerberus2_19023:casqwq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{519,697},{71,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{71,51}}</string>
                <key>sourceSize</key>
                <string>{71,51}</string>
            </dict>
            <key>monster_cerberus2_19023:casw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{463,640},{43,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,34}}</string>
                <key>sourceSize</key>
                <string>{43,34}</string>
            </dict>
            <key>monster_cerberus2_19023:caswes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{256,759},{192,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{192,101}}</string>
                <key>sourceSize</key>
                <string>{192,101}</string>
            </dict>
            <key>monster_cerberus2_19023:casws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{776,674},{58,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,74}}</string>
                <key>sourceSize</key>
                <string>{58,74}</string>
            </dict>
            <key>monster_cerberus2_19023:cawq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{201,434},{105,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{105,88}}</string>
                <key>sourceSize</key>
                <string>{105,88}</string>
            </dict>
            <key>monster_cerberus2_19023:cawqs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{828,492},{65,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{65,103}}</string>
                <key>sourceSize</key>
                <string>{65,103}</string>
            </dict>
            <key>monster_cerberus2_19023:cawqsq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{184,592},{95,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{95,57}}</string>
                <key>sourceSize</key>
                <string>{95,57}</string>
            </dict>
            <key>monster_cerberus2_19023:cawqva.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,794},{132,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{132,97}}</string>
                <key>sourceSize</key>
                <string>{132,97}</string>
            </dict>
            <key>monster_cerberus2_19023:cawqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{175,716},{79,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{79,52}}</string>
                <key>sourceSize</key>
                <string>{79,52}</string>
            </dict>
            <key>monster_cerberus2_19023:cawqwa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{463,676},{53,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{53,15}}</string>
                <key>sourceSize</key>
                <string>{53,15}</string>
            </dict>
            <key>monster_cerberus2_19023:cqwsw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{521,535},{70,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,85}}</string>
                <key>sourceSize</key>
                <string>{70,85}</string>
            </dict>
            <key>monster_cerberus2_19023:cvaq32.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{653,804},{178,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{178,79}}</string>
                <key>sourceSize</key>
                <string>{178,79}</string>
            </dict>
            <key>monster_cerberus2_19023:cvasq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{450,804},{201,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{201,83}}</string>
                <key>sourceSize</key>
                <string>{201,83}</string>
            </dict>
            <key>monster_cerberus2_19023:dqer.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,543},{182,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{182,124}}</string>
                <key>sourceSize</key>
                <string>{182,124}</string>
            </dict>
            <key>monster_cerberus2_19023:dqwsq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{315,535},{204,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{204,103}}</string>
                <key>sourceSize</key>
                <string>{204,103}</string>
            </dict>
            <key>monster_cerberus2_19023:ioip8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{988,191},{30,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,34}}</string>
                <key>sourceSize</key>
                <string>{30,34}</string>
            </dict>
            <key>monster_cerberus2_19023:ioqws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{740,750},{71,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{71,47}}</string>
                <key>sourceSize</key>
                <string>{71,47}</string>
            </dict>
            <key>monster_cerberus2_19023:juqws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{463,708},{51,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{51,16}}</string>
                <key>sourceSize</key>
                <string>{51,16}</string>
            </dict>
            <key>monster_cerberus2_19023:kiwsq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{213,314},{111,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{111,118}}</string>
                <key>sourceSize</key>
                <string>{111,118}</string>
            </dict>
            <key>monster_cerberus2_19023:mhgt.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{973,651},{40,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,16}}</string>
                <key>sourceSize</key>
                <string>{40,16}</string>
            </dict>
            <key>monster_cerberus2_19023:miqwo1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{847,358},{48,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{48,64}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>monster_cerberus2_19023:mjqsa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{988,137},{34,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,52}}</string>
                <key>sourceSize</key>
                <string>{34,52}</string>
            </dict>
            <key>monster_cerberus2_19023:mkqos.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{815,597},{76,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{76,75}}</string>
                <key>sourceSize</key>
                <string>{76,75}</string>
            </dict>
            <key>monster_cerberus2_19023:o0q2q.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{988,227},{32,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,31}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
            <key>monster_cerberus2_19023:qwe23.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,314},{211,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{211,112}}</string>
                <key>sourceSize</key>
                <string>{211,112}</string>
            </dict>
            <key>monster_cerberus2_19023:uiqwd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{893,651},{78,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{78,58}}</string>
                <key>sourceSize</key>
                <string>{78,58}</string>
            </dict>
            <key>monster_cerberus2_19023:vajsiwa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{622,462},{204,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{204,105}}</string>
                <key>sourceSize</key>
                <string>{204,105}</string>
            </dict>
            <key>monster_cerberus2_19023:vaqwsv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{521,622},{70,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,73}}</string>
                <key>sourceSize</key>
                <string>{70,73}</string>
            </dict>
            <key>monster_cerberus2_19023:vasqw87.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{463,750},{68,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,51}}</string>
                <key>sourceSize</key>
                <string>{68,51}</string>
            </dict>
            <key>monster_cerberus2_19023:vasweq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{895,520},{127,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{127,129}}</string>
                <key>sourceSize</key>
                <string>{127,129}</string>
            </dict>
            <key>monster_cerberus2_19023:vaswesw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{201,524},{112,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{112,66}}</string>
                <key>sourceSize</key>
                <string>{112,66}</string>
            </dict>
            <key>monster_cerberus2_19023:vaswq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{925,137},{61,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{61,149}}</string>
                <key>sourceSize</key>
                <string>{61,149}</string>
            </dict>
            <key>monster_cerberus2_19023:vasws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{184,651},{77,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{77,63}}</string>
                <key>sourceSize</key>
                <string>{77,63}</string>
            </dict>
            <key>monster_cerberus2_19023:vawesw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,669},{173,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{173,123}}</string>
                <key>sourceSize</key>
                <string>{173,123}</string>
            </dict>
            <key>monster_cerberus2_19023:vaws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{640,235},{205,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{205,128}}</string>
                <key>sourceSize</key>
                <string>{205,128}</string>
            </dict>
            <key>monster_cerberus2_19023:vqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{134,862},{190,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{190,82}}</string>
                <key>sourceSize</key>
                <string>{190,82}</string>
            </dict>
            <key>monster_cerberus2_19023:vsdfe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{836,674},{55,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,15}}</string>
                <key>sourceSize</key>
                <string>{55,15}</string>
            </dict>
            <key>monster_cerberus2_19023:vsdwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{836,691},{52,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{52,16}}</string>
                <key>sourceSize</key>
                <string>{52,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_cerberus2_19023.pvr.ccz</string>
            <key>size</key>
            <string>{1024,953}</string>
            <key>textureFileName</key>
            <string>monster_cerberus2_19023.pvr.ccz</string>
        </dict>
    </dict>
</plist>
