<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_scientist2_19506:asdfa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{144,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{144,174}}</string>
                <key>sourceSize</key>
                <string>{144,174}</string>
            </dict>
            <key>monster_scientist2_19506:bz1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{65,177},{57,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{57,32}}</string>
                <key>sourceSize</key>
                <string>{57,32}</string>
            </dict>
            <key>monster_scientist2_19506:bz2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{409,146},{52,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{52,31}}</string>
                <key>sourceSize</key>
                <string>{52,31}</string>
            </dict>
            <key>monster_scientist2_19506:fafxvx.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{91,235},{24,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,16}}</string>
                <key>sourceSize</key>
                <string>{24,16}</string>
            </dict>
            <key>monster_scientist2_19506:jiao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{264,211},{29,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,23}}</string>
                <key>sourceSize</key>
                <string>{29,23}</string>
            </dict>
            <key>monster_scientist2_19506:jiao1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{167,208},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,28}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
            <key>monster_scientist2_19506:jiao2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{35,210},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>monster_scientist2_19506:kudang.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{200,226},{23,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,20}}</string>
                <key>sourceSize</key>
                <string>{23,20}</string>
            </dict>
            <key>monster_scientist2_19506:p1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{475,0},{13,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,110}}</string>
                <key>sourceSize</key>
                <string>{13,110}</string>
            </dict>
            <key>monster_scientist2_19506:p3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{346,73},{60,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{60,110}}</string>
                <key>sourceSize</key>
                <string>{60,110}</string>
            </dict>
            <key>monster_scientist2_19506:p5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{147,0},{104,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{104,110}}</string>
                <key>sourceSize</key>
                <string>{104,110}</string>
            </dict>
            <key>monster_scientist2_19506:p9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{254,0},{89,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{89,109}}</string>
                <key>sourceSize</key>
                <string>{89,109}</string>
            </dict>
            <key>monster_scientist2_19506:shenti1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{201,194},{26,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,29}}</string>
                <key>sourceSize</key>
                <string>{26,29}</string>
            </dict>
            <key>monster_scientist2_19506:shou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,235},{27,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,14}}</string>
                <key>sourceSize</key>
                <string>{27,14}</string>
            </dict>
            <key>monster_scientist2_19506:shou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{125,208},{39,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,20}}</string>
                <key>sourceSize</key>
                <string>{39,20}</string>
            </dict>
            <key>monster_scientist2_19506:shou3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,210},{32,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>monster_scientist2_19506:shou4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{304,209},{31,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,26}}</string>
                <key>sourceSize</key>
                <string>{31,26}</string>
            </dict>
            <key>monster_scientist2_19506:shou6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{466,220},{26,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,20}}</string>
                <key>sourceSize</key>
                <string>{26,20}</string>
            </dict>
            <key>monster_scientist2_19506:shoubi1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{394,221},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,22}</string>
            </dict>
            <key>monster_scientist2_19506:shoubi2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{421,223},{24,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,21}}</string>
                <key>sourceSize</key>
                <string>{24,21}</string>
            </dict>
            <key>monster_scientist2_19506:shoubi3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{442,180},{21,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,27}}</string>
                <key>sourceSize</key>
                <string>{21,27}</string>
            </dict>
            <key>monster_scientist2_19506:shoubi4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{65,212},{23,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,27}}</string>
                <key>sourceSize</key>
                <string>{23,27}</string>
            </dict>
            <key>monster_scientist2_19506:shoubi5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{491,0},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>monster_scientist2_19506:shoubi6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{91,212},{29,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,20}}</string>
                <key>sourceSize</key>
                <string>{29,20}</string>
            </dict>
            <key>monster_scientist2_19506:tou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{466,113},{41,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{41,67}}</string>
                <key>sourceSize</key>
                <string>{41,67}</string>
            </dict>
            <key>monster_scientist2_19506:tou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{147,143},{51,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{51,62}}</string>
                <key>sourceSize</key>
                <string>{51,62}</string>
            </dict>
            <key>monster_scientist2_19506:tui1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{466,183},{27,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,34}}</string>
                <key>sourceSize</key>
                <string>{27,34}</string>
            </dict>
            <key>monster_scientist2_19506:tui2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{369,216},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>monster_scientist2_19506:tui3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{123,231},{25,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,17}}</string>
                <key>sourceSize</key>
                <string>{25,17}</string>
            </dict>
            <key>monster_scientist2_19506:tui4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{230,222},{26,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,19}}</string>
                <key>sourceSize</key>
                <string>{26,19}</string>
            </dict>
            <key>monster_scientist2_19506:tui5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{338,214},{28,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,21}}</string>
                <key>sourceSize</key>
                <string>{28,21}</string>
            </dict>
            <key>monster_scientist2_19506:tui6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{304,183},{38,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,23}}</string>
                <key>sourceSize</key>
                <string>{38,23}</string>
            </dict>
            <key>monster_scientist2_19506:yifu1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{346,0},{126,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{126,70}}</string>
                <key>sourceSize</key>
                <string>{126,70}</string>
            </dict>
            <key>monster_scientist2_19506:yifu2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{254,112},{86,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{86,68}}</string>
                <key>sourceSize</key>
                <string>{86,68}</string>
            </dict>
            <key>monster_scientist2_19506:yifu3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{409,73},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{54,70}</string>
            </dict>
            <key>monster_scientist2_19506:yifu5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{147,113},{87,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{87,27}}</string>
                <key>sourceSize</key>
                <string>{87,27}</string>
            </dict>
            <key>monster_scientist2_19506:z1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{409,180},{30,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,38}}</string>
                <key>sourceSize</key>
                <string>{30,38}</string>
            </dict>
            <key>monster_scientist2_19506:z10.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{259,237},{24,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,9}}</string>
                <key>sourceSize</key>
                <string>{24,9}</string>
            </dict>
            <key>monster_scientist2_19506:z11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{201,143},{27,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,48}}</string>
                <key>sourceSize</key>
                <string>{27,48}</string>
            </dict>
            <key>monster_scientist2_19506:z12.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{491,20},{14,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,20}}</string>
                <key>sourceSize</key>
                <string>{14,20}</string>
            </dict>
            <key>monster_scientist2_19506:z13.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,177},{62,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{62,30}}</string>
                <key>sourceSize</key>
                <string>{62,30}</string>
            </dict>
            <key>monster_scientist2_19506:z15.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{264,183},{37,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,25}}</string>
                <key>sourceSize</key>
                <string>{37,25}</string>
            </dict>
            <key>monster_scientist2_19506:z16.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{231,183},{30,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,36}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>monster_scientist2_19506:z2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{491,71},{11,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,15}}</string>
                <key>sourceSize</key>
                <string>{11,15}</string>
            </dict>
            <key>monster_scientist2_19506:z3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{491,43},{8,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{8,25}}</string>
                <key>sourceSize</key>
                <string>{8,25}</string>
            </dict>
            <key>monster_scientist2_19506:z4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{502,43},{7,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,21}}</string>
                <key>sourceSize</key>
                <string>{7,21}</string>
            </dict>
            <key>monster_scientist2_19506:z6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{383,186},{23,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,27}}</string>
                <key>sourceSize</key>
                <string>{23,27}</string>
            </dict>
            <key>monster_scientist2_19506:z7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{442,210},{21,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,10}}</string>
                <key>sourceSize</key>
                <string>{21,10}</string>
            </dict>
            <key>monster_scientist2_19506:z9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{345,186},{35,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,25}}</string>
                <key>sourceSize</key>
                <string>{35,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_scientist2_19506.pvr.ccz</string>
            <key>size</key>
            <string>{509,251}</string>
            <key>textureFileName</key>
            <string>monster_scientist2_19506.pvr.ccz</string>
        </dict>
    </dict>
</plist>
