<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_qingwadaoke_10033:Bdao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{210,0},{13,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,49}}</string>
                <key>sourceSize</key>
                <string>{13,49}</string>
            </dict>
            <key>monster_qingwadaoke_10033:Bshenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{148,0},{59,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{59,47}}</string>
                <key>sourceSize</key>
                <string>{59,47}</string>
            </dict>
            <key>monster_qingwadaoke_10033:Btou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{88,0},{57,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{57,55}}</string>
                <key>sourceSize</key>
                <string>{57,55}</string>
            </dict>
            <key>monster_qingwadaoke_10033:Byifu.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,116},{64,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{64,40}}</string>
                <key>sourceSize</key>
                <string>{64,40}</string>
            </dict>
            <key>monster_qingwadaoke_10033:Byoudatui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{203,118},{8,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{8,12}}</string>
                <key>sourceSize</key>
                <string>{8,12}</string>
            </dict>
            <key>monster_qingwadaoke_10033:Byoujiao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{110,101},{18,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,11}}</string>
                <key>sourceSize</key>
                <string>{18,11}</string>
            </dict>
            <key>monster_qingwadaoke_10033:Byouqianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{238,91},{9,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,19}}</string>
                <key>sourceSize</key>
                <string>{9,19}</string>
            </dict>
            <key>monster_qingwadaoke_10033:Byoushou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{135,121},{7,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,10}}</string>
                <key>sourceSize</key>
                <string>{7,10}</string>
            </dict>
            <key>monster_qingwadaoke_10033:Byouxiaobi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{113,115},{8,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{8,14}}</string>
                <key>sourceSize</key>
                <string>{8,14}</string>
            </dict>
            <key>monster_qingwadaoke_10033:Byouxiaotui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{67,116},{9,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,12}}</string>
                <key>sourceSize</key>
                <string>{9,12}</string>
            </dict>
            <key>monster_qingwadaoke_10033:Bzuijiao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{219,100},{16,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,12}}</string>
                <key>sourceSize</key>
                <string>{16,12}</string>
            </dict>
            <key>monster_qingwadaoke_10033:Bzuoqianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{242,43},{11,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,23}}</string>
                <key>sourceSize</key>
                <string>{11,23}</string>
            </dict>
            <key>monster_qingwadaoke_10033:Bzuoshou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{145,124},{8,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{8,11}}</string>
                <key>sourceSize</key>
                <string>{8,11}</string>
            </dict>
            <key>monster_qingwadaoke_10033:Bzuoxiaobi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{207,97},{9,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,18}}</string>
                <key>sourceSize</key>
                <string>{9,18}</string>
            </dict>
            <key>monster_qingwadaoke_10033:Bzuoxiaotui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{124,121},{8,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{8,12}}</string>
                <key>sourceSize</key>
                <string>{8,12}</string>
            </dict>
            <key>monster_qingwadaoke_10033:F Zyan1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{208,75},{14,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,19}}</string>
                <key>sourceSize</key>
                <string>{14,19}</string>
            </dict>
            <key>monster_qingwadaoke_10033:Fdaobing.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{182,108},{5,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{5,17}}</string>
                <key>sourceSize</key>
                <string>{5,17}</string>
            </dict>
            <key>monster_qingwadaoke_10033:Fshen.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{148,50},{57,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{57,39}}</string>
                <key>sourceSize</key>
                <string>{57,39}</string>
            </dict>
            <key>monster_qingwadaoke_10033:Ftou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{88,58},{54,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{54,40}}</string>
                <key>sourceSize</key>
                <string>{54,40}</string>
            </dict>
            <key>monster_qingwadaoke_10033:Fyif1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{145,92},{16,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,29}}</string>
                <key>sourceSize</key>
                <string>{16,29}</string>
            </dict>
            <key>monster_qingwadaoke_10033:Fyifu.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{226,0},{21,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,40}}</string>
                <key>sourceSize</key>
                <string>{21,40}</string>
            </dict>
            <key>monster_qingwadaoke_10033:Fyoudat.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{79,116},{6,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{6,7}}</string>
                <key>sourceSize</key>
                <string>{6,7}</string>
            </dict>
            <key>monster_qingwadaoke_10033:Fyoudatui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{190,126},{8,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{8,10}}</string>
                <key>sourceSize</key>
                <string>{8,10}</string>
            </dict>
            <key>monster_qingwadaoke_10033:Fyouhoubi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{131,101},{9,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,17}}</string>
                <key>sourceSize</key>
                <string>{9,17}</string>
            </dict>
            <key>monster_qingwadaoke_10033:Fyouqianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{102,115},{8,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{8,15}}</string>
                <key>sourceSize</key>
                <string>{8,15}</string>
            </dict>
            <key>monster_qingwadaoke_10033:Fyoushou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{219,115},{11,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,10}}</string>
                <key>sourceSize</key>
                <string>{11,10}</string>
            </dict>
            <key>monster_qingwadaoke_10033:Fzuodatui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{225,79},{10,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,18}}</string>
                <key>sourceSize</key>
                <string>{10,18}</string>
            </dict>
            <key>monster_qingwadaoke_10033:Fzuohoubi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{164,92},{23,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,13}}</string>
                <key>sourceSize</key>
                <string>{23,13}</string>
            </dict>
            <key>monster_qingwadaoke_10033:Fzuojiao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{88,101},{19,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,10}}</string>
                <key>sourceSize</key>
                <string>{19,10}</string>
            </dict>
            <key>monster_qingwadaoke_10033:Fzuoqianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{242,69},{11,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,19}}</string>
                <key>sourceSize</key>
                <string>{11,19}</string>
            </dict>
            <key>monster_qingwadaoke_10033:Fzuoxiaotui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{164,122},{11,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,8}}</string>
                <key>sourceSize</key>
                <string>{11,8}</string>
            </dict>
            <key>monster_qingwadaoke_10033:bishou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{226,43},{13,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,33}}</string>
                <key>sourceSize</key>
                <string>{13,33}</string>
            </dict>
            <key>monster_qingwadaoke_10033:csawe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{85,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{85,113}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>monster_qingwadaoke_10033:ddF Z jiao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{208,52},{15,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,20}}</string>
                <key>sourceSize</key>
                <string>{15,20}</string>
            </dict>
            <key>monster_qingwadaoke_10033:iwoeq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{88,114},{11,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,12}}</string>
                <key>sourceSize</key>
                <string>{11,12}</string>
            </dict>
            <key>monster_qingwadaoke_10033:kuabu.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{190,92},{14,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,13}}</string>
                <key>sourceSize</key>
                <string>{14,13}</string>
            </dict>
            <key>monster_qingwadaoke_10033:vB Zxiaotui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{178,128},{7,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,10}}</string>
                <key>sourceSize</key>
                <string>{7,10}</string>
            </dict>
            <key>monster_qingwadaoke_10033:yaobao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{190,108},{10,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,15}}</string>
                <key>sourceSize</key>
                <string>{10,15}</string>
            </dict>
            <key>monster_qingwadaoke_10033:youjiao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{164,108},{15,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,11}}</string>
                <key>sourceSize</key>
                <string>{15,11}</string>
            </dict>
            <key>monster_qingwadaoke_10033:zuoshou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{238,113},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_qingwadaoke_10033.pvr.ccz</string>
            <key>size</key>
            <string>{253,156}</string>
            <key>textureFileName</key>
            <string>monster_qingwadaoke_10033.pvr.ccz</string>
        </dict>
    </dict>
</plist>
