<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_taiyangshen_19512:asdwes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{698,351},{69,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{69,89}}</string>
                <key>sourceSize</key>
                <string>{69,89}</string>
            </dict>
            <key>monster_taiyangshen_19512:bcvbcbcdad.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{281,0},{227,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{227,225}}</string>
                <key>sourceSize</key>
                <string>{227,225}</string>
            </dict>
            <key>monster_taiyangshen_19512:bcvbcbcdad 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{279,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{279,239}}</string>
                <key>sourceSize</key>
                <string>{279,239}</string>
            </dict>
            <key>monster_taiyangshen_19512:bvnbvnv 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{510,0},{212,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{212,215}}</string>
                <key>sourceSize</key>
                <string>{212,215}</string>
            </dict>
            <key>monster_taiyangshen_19512:caseqwwes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{627,355},{55,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,53}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>monster_taiyangshen_19512:fs 2345.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{891,0},{131,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{131,151}}</string>
                <key>sourceSize</key>
                <string>{131,151}</string>
            </dict>
            <key>monster_taiyangshen_19512:guanghuan11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{281,227},{171,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{171,145}}</string>
                <key>sourceSize</key>
                <string>{171,145}</string>
            </dict>
            <key>monster_taiyangshen_19512:h1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{724,177},{137,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{137,172}}</string>
                <key>sourceSize</key>
                <string>{137,172}</string>
            </dict>
            <key>monster_taiyangshen_19512:h2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,241},{171,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{171,127}}</string>
                <key>sourceSize</key>
                <string>{171,127}</string>
            </dict>
            <key>monster_taiyangshen_19512:h3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{510,217},{186,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{186,136}}</string>
                <key>sourceSize</key>
                <string>{186,136}</string>
            </dict>
            <key>monster_taiyangshen_19512:h4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{724,0},{165,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{165,175}}</string>
                <key>sourceSize</key>
                <string>{165,175}</string>
            </dict>
            <key>monster_taiyangshen_19512:houpi11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{564,355},{61,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{61,71}}</string>
                <key>sourceSize</key>
                <string>{61,71}</string>
            </dict>
            <key>monster_taiyangshen_19512:houpi21.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{277,374},{28,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,30}}</string>
                <key>sourceSize</key>
                <string>{28,30}</string>
            </dict>
            <key>monster_taiyangshen_19512:hujian11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{454,280},{53,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{53,44}}</string>
                <key>sourceSize</key>
                <string>{53,44}</string>
            </dict>
            <key>monster_taiyangshen_19512:hujian21.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{257,241},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>monster_taiyangshen_19512:kuzi11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{769,351},{65,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{65,79}}</string>
                <key>sourceSize</key>
                <string>{65,79}</string>
            </dict>
            <key>monster_taiyangshen_19512:lian11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{863,210},{26,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,31}}</string>
                <key>sourceSize</key>
                <string>{26,31}</string>
            </dict>
            <key>monster_taiyangshen_19512:pifeng31.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{863,310},{113,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{113,93}}</string>
                <key>sourceSize</key>
                <string>{113,93}</string>
            </dict>
            <key>monster_taiyangshen_19512:pijian11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{173,334},{62,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{62,109}}</string>
                <key>sourceSize</key>
                <string>{62,109}</string>
            </dict>
            <key>monster_taiyangshen_19512:pijian21.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{503,355},{59,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{59,82}}</string>
                <key>sourceSize</key>
                <string>{59,82}</string>
            </dict>
            <key>monster_taiyangshen_19512:s1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{136,370},{34,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,28}}</string>
                <key>sourceSize</key>
                <string>{34,28}</string>
            </dict>
            <key>monster_taiyangshen_19512:s2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{94,370},{40,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,28}}</string>
                <key>sourceSize</key>
                <string>{40,28}</string>
            </dict>
            <key>monster_taiyangshen_19512:s3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,370},{48,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{48,42}}</string>
                <key>sourceSize</key>
                <string>{48,42}</string>
            </dict>
            <key>monster_taiyangshen_19512:s4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1008,153},{13,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,118}}</string>
                <key>sourceSize</key>
                <string>{13,118}</string>
            </dict>
            <key>monster_taiyangshen_19512:s5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{237,334},{38,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,46}}</string>
                <key>sourceSize</key>
                <string>{38,46}</string>
            </dict>
            <key>monster_taiyangshen_19512:s7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{978,310},{38,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,51}}</string>
                <key>sourceSize</key>
                <string>{38,51}</string>
            </dict>
            <key>monster_taiyangshen_19512:shenti11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{863,177},{26,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,31}}</string>
                <key>sourceSize</key>
                <string>{26,31}</string>
            </dict>
            <key>monster_taiyangshen_19512:shou11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{698,245},{16,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,12}}</string>
                <key>sourceSize</key>
                <string>{16,12}</string>
            </dict>
            <key>monster_taiyangshen_19512:shoubi11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{863,243},{19,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,14}}</string>
                <key>sourceSize</key>
                <string>{19,14}</string>
            </dict>
            <key>monster_taiyangshen_19512:shoubi22.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{698,217},{23,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,26}}</string>
                <key>sourceSize</key>
                <string>{23,26}</string>
            </dict>
            <key>monster_taiyangshen_19512:toufa11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{454,227},{50,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{50,51}}</string>
                <key>sourceSize</key>
                <string>{50,51}</string>
            </dict>
            <key>monster_taiyangshen_19512:toufa31.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{454,326},{47,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{47,49}}</string>
                <key>sourceSize</key>
                <string>{47,49}</string>
            </dict>
            <key>monster_taiyangshen_19512:weiqun1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{50,370},{42,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{42,34}}</string>
                <key>sourceSize</key>
                <string>{42,34}</string>
            </dict>
            <key>monster_taiyangshen_19512:weiqun21.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{978,363},{42,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{42,34}}</string>
                <key>sourceSize</key>
                <string>{42,34}</string>
            </dict>
            <key>monster_taiyangshen_19512:wueyq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{173,241},{82,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{82,91}}</string>
                <key>sourceSize</key>
                <string>{82,91}</string>
            </dict>
            <key>monster_taiyangshen_19512:wuqi11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{891,153},{115,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{115,155}}</string>
                <key>sourceSize</key>
                <string>{115,155}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_taiyangshen_19512.pvr.ccz</string>
            <key>size</key>
            <string>{1024,442}</string>
            <key>textureFileName</key>
            <string>monster_taiyangshen_19512.pvr.ccz</string>
        </dict>
    </dict>
</plist>
