<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_shanlinlangren_10074:Bhoufa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{270,96},{38,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,25}}</string>
                <key>sourceSize</key>
                <string>{38,25}</string>
            </dict>
            <key>monster_shanlinlangren_10074:Bjiaod.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{380,123},{35,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,17}}</string>
                <key>sourceSize</key>
                <string>{35,17}</string>
            </dict>
            <key>monster_shanlinlangren_10074:Bkua.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{185,134},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,22}</string>
            </dict>
            <key>monster_shanlinlangren_10074:Bshen.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{476,96},{31,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,27}}</string>
                <key>sourceSize</key>
                <string>{31,27}</string>
            </dict>
            <key>monster_shanlinlangren_10074:Btou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{382,50},{39,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,41}}</string>
                <key>sourceSize</key>
                <string>{39,41}</string>
            </dict>
            <key>monster_shanlinlangren_10074:Bupc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,144},{24,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,18}}</string>
                <key>sourceSize</key>
                <string>{24,18}</string>
            </dict>
            <key>monster_shanlinlangren_10074:Byifu.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{319,90},{37,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,29}}</string>
                <key>sourceSize</key>
                <string>{37,29}</string>
            </dict>
            <key>monster_shanlinlangren_10074:Byoushou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{479,51},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,42}}</string>
                <key>sourceSize</key>
                <string>{28,42}</string>
            </dict>
            <key>monster_shanlinlangren_10074:Fjing.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{382,94},{38,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,26}}</string>
                <key>sourceSize</key>
                <string>{38,26}</string>
            </dict>
            <key>monster_shanlinlangren_10074:Fkua.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{476,148},{22,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,12}}</string>
                <key>sourceSize</key>
                <string>{22,12}</string>
            </dict>
            <key>monster_shanlinlangren_10074:Fshen.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{239,127},{27,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,21}}</string>
                <key>sourceSize</key>
                <string>{27,21}</string>
            </dict>
            <key>monster_shanlinlangren_10074:Ftou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{270,41},{46,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,52}}</string>
                <key>sourceSize</key>
                <string>{46,52}</string>
            </dict>
            <key>monster_shanlinlangren_10074:Fyi1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{359,41},{20,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,35}}</string>
                <key>sourceSize</key>
                <string>{20,35}</string>
            </dict>
            <key>monster_shanlinlangren_10074:Fyi2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{476,126},{30,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,19}}</string>
                <key>sourceSize</key>
                <string>{30,19}</string>
            </dict>
            <key>monster_shanlinlangren_10074:Fyi3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{456,127},{17,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,19}}</string>
                <key>sourceSize</key>
                <string>{17,19}</string>
            </dict>
            <key>monster_shanlinlangren_10074:Fyoudatui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{376,143},{33,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,9}}</string>
                <key>sourceSize</key>
                <string>{33,9}</string>
            </dict>
            <key>monster_shanlinlangren_10074:Fyouhoubi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{161,141},{18,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,17}}</string>
                <key>sourceSize</key>
                <string>{18,17}</string>
            </dict>
            <key>monster_shanlinlangren_10074:Fyoujiao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{418,130},{29,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,20}}</string>
                <key>sourceSize</key>
                <string>{29,20}</string>
            </dict>
            <key>monster_shanlinlangren_10074:Fyouqianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{335,122},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>monster_shanlinlangren_10074:Fyoushou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{311,122},{21,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,32}}</string>
                <key>sourceSize</key>
                <string>{21,32}</string>
            </dict>
            <key>monster_shanlinlangren_10074:Fyouxiaotui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{54,144},{27,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,11}}</string>
                <key>sourceSize</key>
                <string>{27,11}</string>
            </dict>
            <key>monster_shanlinlangren_10074:Fzuodatui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{424,50},{14,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,18}}</string>
                <key>sourceSize</key>
                <string>{14,18}</string>
            </dict>
            <key>monster_shanlinlangren_10074:Fzuohoubi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{27,144},{24,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,17}}</string>
                <key>sourceSize</key>
                <string>{24,17}</string>
            </dict>
            <key>monster_shanlinlangren_10074:Fzuojiao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{423,96},{30,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{30,31}</string>
            </dict>
            <key>monster_shanlinlangren_10074:Fzuoqianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{248,98},{18,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,26}}</string>
                <key>sourceSize</key>
                <string>{18,26}</string>
            </dict>
            <key>monster_shanlinlangren_10074:Fzuoshou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{319,41},{37,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,46}}</string>
                <key>sourceSize</key>
                <string>{37,46}</string>
            </dict>
            <key>monster_shanlinlangren_10074:Fzuoxiaotui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{128,141},{30,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,13}}</string>
                <key>sourceSize</key>
                <string>{30,13}</string>
            </dict>
            <key>monster_shanlinlangren_10074:asdfav.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{499,0},{9,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,6}}</string>
                <key>sourceSize</key>
                <string>{9,6}</string>
            </dict>
            <key>monster_shanlinlangren_10074:asdjf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{98,141},{27,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,19}}</string>
                <key>sourceSize</key>
                <string>{27,19}</string>
            </dict>
            <key>monster_shanlinlangren_10074:asdvftr.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{98,0},{84,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{84,138}}</string>
                <key>sourceSize</key>
                <string>{84,138}</string>
            </dict>
            <key>monster_shanlinlangren_10074:askdf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{185,98},{25,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,33}}</string>
                <key>sourceSize</key>
                <string>{25,33}</string>
            </dict>
            <key>monster_shanlinlangren_10074:bghsd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{359,79},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>monster_shanlinlangren_10074:casdvf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{213,98},{32,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,24}}</string>
                <key>sourceSize</key>
                <string>{32,24}</string>
            </dict>
            <key>monster_shanlinlangren_10074:cfqwer.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{270,0},{109,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{109,38}}</string>
                <key>sourceSize</key>
                <string>{109,38}</string>
            </dict>
            <key>monster_shanlinlangren_10074:er1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{456,96},{17,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,28}}</string>
                <key>sourceSize</key>
                <string>{17,28}</string>
            </dict>
            <key>monster_shanlinlangren_10074:er2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{356,141},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>monster_shanlinlangren_10074:ippe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{185,0},{82,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{82,95}}</string>
                <key>sourceSize</key>
                <string>{82,95}</string>
            </dict>
            <key>monster_shanlinlangren_10074:sdvfer.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{95,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{95,141}}</string>
                <key>sourceSize</key>
                <string>{95,141}</string>
            </dict>
            <key>monster_shanlinlangren_10074:vdasdf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{213,125},{23,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,28}}</string>
                <key>sourceSize</key>
                <string>{23,28}</string>
            </dict>
            <key>monster_shanlinlangren_10074:vdfv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{269,124},{22,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,30}}</string>
                <key>sourceSize</key>
                <string>{22,30}</string>
            </dict>
            <key>monster_shanlinlangren_10074:vdsfs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{359,114},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>monster_shanlinlangren_10074:vwert.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{382,0},{56,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{56,47}}</string>
                <key>sourceSize</key>
                <string>{56,47}</string>
            </dict>
            <key>monster_shanlinlangren_10074:vxsd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{441,51},{35,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,42}}</string>
                <key>sourceSize</key>
                <string>{35,42}</string>
            </dict>
            <key>monster_shanlinlangren_10074:weiba.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{441,0},{55,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,48}}</string>
                <key>sourceSize</key>
                <string>{55,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_shanlinlangren_10074.pvr.ccz</string>
            <key>size</key>
            <string>{508,162}</string>
            <key>textureFileName</key>
            <string>monster_shanlinlangren_10074.pvr.ccz</string>
        </dict>
    </dict>
</plist>
