<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_bianfu_10010:b shenti3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,236},{28,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,20}}</string>
                <key>sourceSize</key>
                <string>{28,20}</string>
            </dict>
            <key>monster_bianfu_10010:b shenti4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{30,236},{28,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,20}}</string>
                <key>sourceSize</key>
                <string>{28,20}</string>
            </dict>
            <key>monster_bianfu_10010:b tou3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{229,0},{23,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,47}}</string>
                <key>sourceSize</key>
                <string>{23,47}</string>
            </dict>
            <key>monster_bianfu_10010:b tou4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{229,49},{23,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,47}}</string>
                <key>sourceSize</key>
                <string>{23,47}</string>
            </dict>
            <key>monster_bianfu_10010:b weib3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{229,98},{17,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,26}}</string>
                <key>sourceSize</key>
                <string>{17,26}</string>
            </dict>
            <key>monster_bianfu_10010:bvbcbc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{229,149},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>monster_bianfu_10010:c1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,191},{47,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{47,43}}</string>
                <key>sourceSize</key>
                <string>{47,43}</string>
            </dict>
            <key>monster_bianfu_10010:c2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{229,126},{18,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,21}}</string>
                <key>sourceSize</key>
                <string>{18,21}</string>
            </dict>
            <key>monster_bianfu_10010:d1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{214,178},{35,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,42}}</string>
                <key>sourceSize</key>
                <string>{35,42}</string>
            </dict>
            <key>monster_bianfu_10010:d10.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{214,222},{27,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,32}}</string>
                <key>sourceSize</key>
                <string>{27,32}</string>
            </dict>
            <key>monster_bianfu_10010:d2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{83,102},{66,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{66,80}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>monster_bianfu_10010:d3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{159,89},{68,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,87}}</string>
                <key>sourceSize</key>
                <string>{68,87}</string>
            </dict>
            <key>monster_bianfu_10010:d4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{83,0},{74,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{74,100}}</string>
                <key>sourceSize</key>
                <string>{74,100}</string>
            </dict>
            <key>monster_bianfu_10010:d5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{81,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{81,107}}</string>
                <key>sourceSize</key>
                <string>{81,107}</string>
            </dict>
            <key>monster_bianfu_10010:d6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{159,0},{68,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,87}}</string>
                <key>sourceSize</key>
                <string>{68,87}</string>
            </dict>
            <key>monster_bianfu_10010:d7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,109},{66,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{66,80}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>monster_bianfu_10010:d8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{151,178},{61,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{61,74}}</string>
                <key>sourceSize</key>
                <string>{61,74}</string>
            </dict>
            <key>monster_bianfu_10010:d9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{68,184},{53,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{53,64}}</string>
                <key>sourceSize</key>
                <string>{53,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_bianfu_10010.pvr.ccz</string>
            <key>size</key>
            <string>{252,256}</string>
            <key>textureFileName</key>
            <string>monster_bianfu_10010.pvr.ccz</string>
        </dict>
    </dict>
</plist>
