<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_jixiexiezi_10092:csjwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{163,115},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>monster_jixiexiezi_10092:fasdwec.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{158,131},{11,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,5}}</string>
                <key>sourceSize</key>
                <string>{11,5}</string>
            </dict>
            <key>monster_jixiexiezi_10092:fllmdg.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{99,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{99,98}}</string>
                <key>sourceSize</key>
                <string>{99,98}</string>
            </dict>
            <key>monster_jixiexiezi_10092:iqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{130,121},{25,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,8}}</string>
                <key>sourceSize</key>
                <string>{25,8}</string>
            </dict>
            <key>monster_jixiexiezi_10092:jasuw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{102,0},{83,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{83,42}}</string>
                <key>sourceSize</key>
                <string>{83,42}</string>
            </dict>
            <key>monster_jixiexiezi_10092:jqwse.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,139},{58,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,31}}</string>
                <key>sourceSize</key>
                <string>{58,31}</string>
            </dict>
            <key>monster_jixiexiezi_10092:kmvsw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,101},{55,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,35}}</string>
                <key>sourceSize</key>
                <string>{55,35}</string>
            </dict>
            <key>monster_jixiexiezi_10092:ksjds.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{231,128},{11,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,8}}</string>
                <key>sourceSize</key>
                <string>{11,8}</string>
            </dict>
            <key>monster_jixiexiezi_10092:kvsjics.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{179,101},{38,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,22}}</string>
                <key>sourceSize</key>
                <string>{38,22}</string>
            </dict>
            <key>monster_jixiexiezi_10092:lkawq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{145,147},{60,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{60,26}}</string>
                <key>sourceSize</key>
                <string>{60,26}</string>
            </dict>
            <key>monster_jixiexiezi_10092:mcnw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{58,101},{37,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,24}}</string>
                <key>sourceSize</key>
                <string>{37,24}</string>
            </dict>
            <key>monster_jixiexiezi_10092:mjvsw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{58,128},{17,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,7}}</string>
                <key>sourceSize</key>
                <string>{17,7}</string>
            </dict>
            <key>monster_jixiexiezi_10092:mjvswv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{221,0},{26,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,69}}</string>
                <key>sourceSize</key>
                <string>{26,69}</string>
            </dict>
            <key>monster_jixiexiezi_10092:mvjswe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{119,114},{8,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{8,20}}</string>
                <key>sourceSize</key>
                <string>{8,20}</string>
            </dict>
            <key>monster_jixiexiezi_10092:mvsjew.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{246,72},{6,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{6,17}}</string>
                <key>sourceSize</key>
                <string>{6,17}</string>
            </dict>
            <key>monster_jixiexiezi_10092:mvsjw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{98,114},{18,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,19}}</string>
                <key>sourceSize</key>
                <string>{18,19}</string>
            </dict>
            <key>monster_jixiexiezi_10092:mvskw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{98,137},{44,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{44,35}}</string>
                <key>sourceSize</key>
                <string>{44,35}</string>
            </dict>
            <key>monster_jixiexiezi_10092:mvswq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{216,128},{12,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,11}}</string>
                <key>sourceSize</key>
                <string>{12,11}</string>
            </dict>
            <key>monster_jixiexiezi_10092:ncjswq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{179,126},{34,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,18}}</string>
                <key>sourceSize</key>
                <string>{34,18}</string>
            </dict>
            <key>monster_jixiexiezi_10092:njuw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{188,0},{30,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,72}}</string>
                <key>sourceSize</key>
                <string>{30,72}</string>
            </dict>
            <key>monster_jixiexiezi_10092:nvshwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{186,75},{26,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,23}}</string>
                <key>sourceSize</key>
                <string>{26,23}</string>
            </dict>
            <key>monster_jixiexiezi_10092:nvswe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{133,45},{28,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,54}}</string>
                <key>sourceSize</key>
                <string>{28,54}</string>
            </dict>
            <key>monster_jixiexiezi_10092:oiqwc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{133,102},{27,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,16}}</string>
                <key>sourceSize</key>
                <string>{27,16}</string>
            </dict>
            <key>monster_jixiexiezi_10092:qiwc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{102,45},{28,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,66}}</string>
                <key>sourceSize</key>
                <string>{28,66}</string>
            </dict>
            <key>monster_jixiexiezi_10092:qwevs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,173},{53,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{53,24}}</string>
                <key>sourceSize</key>
                <string>{53,24}</string>
            </dict>
            <key>monster_jixiexiezi_10092:uiqws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{164,85},{12,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,27}}</string>
                <key>sourceSize</key>
                <string>{12,27}</string>
            </dict>
            <key>monster_jixiexiezi_10092:uiqwv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{78,128},{17,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,7}}</string>
                <key>sourceSize</key>
                <string>{17,7}</string>
            </dict>
            <key>monster_jixiexiezi_10092:uyqwvs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{208,147},{41,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{41,19}}</string>
                <key>sourceSize</key>
                <string>{41,19}</string>
            </dict>
            <key>monster_jixiexiezi_10092:vaswqc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{164,45},{19,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,37}}</string>
                <key>sourceSize</key>
                <string>{19,37}</string>
            </dict>
            <key>monster_jixiexiezi_10092:vawes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{221,72},{22,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,53}}</string>
                <key>sourceSize</key>
                <string>{22,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_jixiexiezi_10092.pvr.ccz</string>
            <key>size</key>
            <string>{252,197}</string>
            <key>textureFileName</key>
            <string>monster_jixiexiezi_10092.pvr.ccz</string>
        </dict>
    </dict>
</plist>
