<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_huolong_19014:12fa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{465,569},{94,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{94,32}}</string>
                <key>sourceSize</key>
                <string>{94,32}</string>
            </dict>
            <key>monster_huolong_19014:9qwef.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,770},{180,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{180,117}}</string>
                <key>sourceSize</key>
                <string>{180,117}</string>
            </dict>
            <key>monster_huolong_19014:Bjing.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{628,863},{110,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{110,85}}</string>
                <key>sourceSize</key>
                <string>{110,85}</string>
            </dict>
            <key>monster_huolong_19014:Bqi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{465,452},{62,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{62,69}}</string>
                <key>sourceSize</key>
                <string>{62,69}</string>
            </dict>
            <key>monster_huolong_19014:Bshangshen.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{221,287},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>monster_huolong_19014:Btou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{183,710},{124,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{124,119}}</string>
                <key>sourceSize</key>
                <string>{124,119}</string>
            </dict>
            <key>monster_huolong_19014:Btui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{529,473},{38,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,58}}</string>
                <key>sourceSize</key>
                <string>{38,58}</string>
            </dict>
            <key>monster_huolong_19014:Bweiba.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,889},{168,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{168,101}}</string>
                <key>sourceSize</key>
                <string>{168,101}</string>
            </dict>
            <key>monster_huolong_19014:Fcibang.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{465,692},{276,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{276,169}}</string>
                <key>sourceSize</key>
                <string>{276,169}</string>
            </dict>
            <key>monster_huolong_19014:Fjing.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{207,627},{103,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{103,81}}</string>
                <key>sourceSize</key>
                <string>{103,81}</string>
            </dict>
            <key>monster_huolong_19014:Ftou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{292,865},{141,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{141,127}}</string>
                <key>sourceSize</key>
                <string>{141,127}</string>
            </dict>
            <key>monster_huolong_19014:Ftui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{541,414},{45,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,57}}</string>
                <key>sourceSize</key>
                <string>{45,57}</string>
            </dict>
            <key>monster_huolong_19014:Fweib.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{541,215},{58,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,139}}</string>
                <key>sourceSize</key>
                <string>{58,139}</string>
            </dict>
            <key>monster_huolong_19014:Fxiashen.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{182,831},{108,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{108,101}}</string>
                <key>sourceSize</key>
                <string>{108,101}</string>
            </dict>
            <key>monster_huolong_19014:Fzhongshen.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{221,383},{92,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{92,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>monster_huolong_19014:asdwes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{827,0},{178,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{178,291}}</string>
                <key>sourceSize</key>
                <string>{178,291}</string>
            </dict>
            <key>monster_huolong_19014:aswvf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{342,0},{257,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{257,213}}</string>
                <key>sourceSize</key>
                <string>{257,213}</string>
            </dict>
            <key>monster_huolong_19014:awes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{221,474},{74,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{74,54}}</string>
                <key>sourceSize</key>
                <string>{74,54}</string>
            </dict>
            <key>monster_huolong_19014:awse.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,287},{219,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{219,231}}</string>
                <key>sourceSize</key>
                <string>{219,231}</string>
            </dict>
            <key>monster_huolong_19014:berw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{743,775},{183,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{183,113}}</string>
                <key>sourceSize</key>
                <string>{183,113}</string>
            </dict>
            <key>monster_huolong_19014:bwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,650},{181,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{181,118}}</string>
                <key>sourceSize</key>
                <string>{181,118}</string>
            </dict>
            <key>monster_huolong_19014:caswe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,144},{319,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{319,141}}</string>
                <key>sourceSize</key>
                <string>{319,141}</string>
            </dict>
            <key>monster_huolong_19014:caswec.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{601,0},{224,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{224,246}}</string>
                <key>sourceSize</key>
                <string>{224,246}</string>
            </dict>
            <key>monster_huolong_19014:caswev.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{821,293},{196,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{196,240}}</string>
                <key>sourceSize</key>
                <string>{196,240}</string>
            </dict>
            <key>monster_huolong_19014:caswevw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{340,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{340,142}}</string>
                <key>sourceSize</key>
                <string>{340,142}</string>
            </dict>
            <key>monster_huolong_19014:caswvd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{315,452},{148,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{148,274}}</string>
                <key>sourceSize</key>
                <string>{148,274}</string>
            </dict>
            <key>monster_huolong_19014:csdwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{541,356},{52,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{52,56}}</string>
                <key>sourceSize</key>
                <string>{52,56}</string>
            </dict>
            <key>monster_huolong_19014:dqer.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{763,649},{182,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{182,124}}</string>
                <key>sourceSize</key>
                <string>{182,124}</string>
            </dict>
            <key>monster_huolong_19014:lw3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{465,603},{88,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{88,30}}</string>
                <key>sourceSize</key>
                <string>{88,30}</string>
            </dict>
            <key>monster_huolong_19014:ncs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{873,890},{103,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{103,37}}</string>
                <key>sourceSize</key>
                <string>{103,37}</string>
            </dict>
            <key>monster_huolong_19014:nger.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{321,215},{218,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{218,235}}</string>
                <key>sourceSize</key>
                <string>{218,235}</string>
            </dict>
            <key>monster_huolong_19014:qwe23.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{763,535},{211,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{211,112}}</string>
                <key>sourceSize</key>
                <string>{211,112}</string>
            </dict>
            <key>monster_huolong_19014:vase.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{601,248},{218,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{218,235}}</string>
                <key>sourceSize</key>
                <string>{218,235}</string>
            </dict>
            <key>monster_huolong_19014:vaswes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{309,728},{142,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{142,135}}</string>
                <key>sourceSize</key>
                <string>{142,135}</string>
            </dict>
            <key>monster_huolong_19014:vawesw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{453,863},{173,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{173,123}}</string>
                <key>sourceSize</key>
                <string>{173,123}</string>
            </dict>
            <key>monster_huolong_19014:vaws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,520},{205,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{205,128}}</string>
                <key>sourceSize</key>
                <string>{205,128}</string>
            </dict>
            <key>monster_huolong_19014:vdfer.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{569,485},{192,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{192,205}}</string>
                <key>sourceSize</key>
                <string>{192,205}</string>
            </dict>
            <key>monster_huolong_19014:vsder.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{740,890},{131,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{131,125}}</string>
                <key>sourceSize</key>
                <string>{131,125}</string>
            </dict>
            <key>monster_huolong_19014:vsw2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{465,533},{94,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{94,34}}</string>
                <key>sourceSize</key>
                <string>{94,34}</string>
            </dict>
            <key>monster_huolong_19014:xiashen.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{207,530},{102,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{102,95}}</string>
                <key>sourceSize</key>
                <string>{102,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_huolong_19014.pvr.ccz</string>
            <key>size</key>
            <string>{1017,1016}</string>
            <key>textureFileName</key>
            <string>monster_huolong_19014.pvr.ccz</string>
        </dict>
    </dict>
</plist>
