<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_scientist_19506:BMBMM.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{283,155},{188,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{188,107}}</string>
                <key>sourceSize</key>
                <string>{188,107}</string>
            </dict>
            <key>monster_scientist_19506:Symbol 47.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{271,265},{115,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{115,120}}</string>
                <key>sourceSize</key>
                <string>{115,120}</string>
            </dict>
            <key>monster_scientist_19506:a1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,207},{179,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{179,102}}</string>
                <key>sourceSize</key>
                <string>{179,102}</string>
            </dict>
            <key>monster_scientist_19506:b1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{283,0},{223,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{223,152}}</string>
                <key>sourceSize</key>
                <string>{223,152}</string>
            </dict>
            <key>monster_scientist_19506:b2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{280,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{280,204}}</string>
                <key>sourceSize</key>
                <string>{280,204}</string>
            </dict>
            <key>monster_scientist_19506:bcbcbvc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{459,286},{44,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{44,67}}</string>
                <key>sourceSize</key>
                <string>{44,67}</string>
            </dict>
            <key>monster_scientist_19506:bcbcbvc 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{182,278},{44,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{44,87}}</string>
                <key>sourceSize</key>
                <string>{44,87}</string>
            </dict>
            <key>monster_scientist_19506:bcbcbvc 2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{173,368},{43,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,51}}</string>
                <key>sourceSize</key>
                <string>{43,51}</string>
            </dict>
            <key>monster_scientist_19506:bz1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,451},{57,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{57,32}}</string>
                <key>sourceSize</key>
                <string>{57,32}</string>
            </dict>
            <key>monster_scientist_19506:bz2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{445,454},{52,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{52,31}}</string>
                <key>sourceSize</key>
                <string>{52,31}</string>
            </dict>
            <key>monster_scientist_19506:fafxvx.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{247,485},{24,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,16}}</string>
                <key>sourceSize</key>
                <string>{24,16}</string>
            </dict>
            <key>monster_scientist_19506:i1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{389,335},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>monster_scientist_19506:i2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{388,403},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>monster_scientist_19506:i3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,385},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>monster_scientist_19506:i4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{389,265},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>monster_scientist_19506:jiao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{350,445},{29,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,23}}</string>
                <key>sourceSize</key>
                <string>{29,23}</string>
            </dict>
            <key>monster_scientist_19506:jiao1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{219,403},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,28}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
            <key>monster_scientist_19506:jiao11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{320,418},{27,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,30}}</string>
                <key>sourceSize</key>
                <string>{27,30}</string>
            </dict>
            <key>monster_scientist_19506:jiao2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{219,434},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>monster_scientist_19506:jiao2 23.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{320,451},{23,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,29}}</string>
                <key>sourceSize</key>
                <string>{23,29}</string>
            </dict>
            <key>monster_scientist_19506:kudang.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{184,481},{23,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,20}}</string>
                <key>sourceSize</key>
                <string>{23,20}</string>
            </dict>
            <key>monster_scientist_19506:shenti1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{165,422},{26,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,29}}</string>
                <key>sourceSize</key>
                <string>{26,29}</string>
            </dict>
            <key>monster_scientist_19506:shou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{304,483},{27,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,14}}</string>
                <key>sourceSize</key>
                <string>{27,14}</string>
            </dict>
            <key>monster_scientist_19506:shou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{123,419},{39,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,20}}</string>
                <key>sourceSize</key>
                <string>{39,20}</string>
            </dict>
            <key>monster_scientist_19506:shou3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{123,442},{32,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>monster_scientist_19506:shou3 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,486},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>monster_scientist_19506:shou3 11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{150,484},{19,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,22}}</string>
                <key>sourceSize</key>
                <string>{19,22}</string>
            </dict>
            <key>monster_scientist_19506:shou4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{350,416},{31,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,26}}</string>
                <key>sourceSize</key>
                <string>{31,26}</string>
            </dict>
            <key>monster_scientist_19506:shou4 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{346,471},{18,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,28}}</string>
                <key>sourceSize</key>
                <string>{18,28}</string>
            </dict>
            <key>monster_scientist_19506:shou4 1 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{406,460},{19,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,28}}</string>
                <key>sourceSize</key>
                <string>{19,28}</string>
            </dict>
            <key>monster_scientist_19506:shou6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{218,463},{26,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,20}}</string>
                <key>sourceSize</key>
                <string>{26,20}</string>
            </dict>
            <key>monster_scientist_19506:shou6 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{229,278},{29,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,37}}</string>
                <key>sourceSize</key>
                <string>{29,37}</string>
            </dict>
            <key>monster_scientist_19506:shoubi1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{123,467},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,22}</string>
            </dict>
            <key>monster_scientist_19506:shoubi2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{60,481},{24,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,21}}</string>
                <key>sourceSize</key>
                <string>{24,21}</string>
            </dict>
            <key>monster_scientist_19506:shoubi3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{194,451},{21,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,27}}</string>
                <key>sourceSize</key>
                <string>{21,27}</string>
            </dict>
            <key>monster_scientist_19506:shoubi4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{249,455},{23,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,27}}</string>
                <key>sourceSize</key>
                <string>{23,27}</string>
            </dict>
            <key>monster_scientist_19506:shoubi4 1 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{382,460},{21,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,26}}</string>
                <key>sourceSize</key>
                <string>{21,26}</string>
            </dict>
            <key>monster_scientist_19506:shoubi4 3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{21,486},{18,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,16}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>monster_scientist_19506:shoubi5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{210,486},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>monster_scientist_19506:shoubi6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{275,455},{29,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,20}}</string>
                <key>sourceSize</key>
                <string>{29,20}</string>
            </dict>
            <key>monster_scientist_19506:shoubi61.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{60,458},{29,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,20}}</string>
                <key>sourceSize</key>
                <string>{29,20}</string>
            </dict>
            <key>monster_scientist_19506:tou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{129,312},{41,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{41,67}}</string>
                <key>sourceSize</key>
                <string>{41,67}</string>
            </dict>
            <key>monster_scientist_19506:tou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{457,356},{51,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{51,62}}</string>
                <key>sourceSize</key>
                <string>{51,62}</string>
            </dict>
            <key>monster_scientist_19506:tui1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{129,382},{27,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,34}}</string>
                <key>sourceSize</key>
                <string>{27,34}</string>
            </dict>
            <key>monster_scientist_19506:tui2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{194,422},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>monster_scientist_19506:tui3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{87,482},{25,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,17}}</string>
                <key>sourceSize</key>
                <string>{25,17}</string>
            </dict>
            <key>monster_scientist_19506:tui4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{275,478},{26,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,19}}</string>
                <key>sourceSize</key>
                <string>{26,19}</string>
            </dict>
            <key>monster_scientist_19506:tui5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{92,458},{28,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,21}}</string>
                <key>sourceSize</key>
                <string>{28,21}</string>
            </dict>
            <key>monster_scientist_19506:tui6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{219,377},{38,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,23}}</string>
                <key>sourceSize</key>
                <string>{38,23}</string>
            </dict>
            <key>monster_scientist_19506:tui6 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{229,318},{37,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,28}}</string>
                <key>sourceSize</key>
                <string>{37,28}</string>
            </dict>
            <key>monster_scientist_19506:tui6 1 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{252,418},{65,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{65,34}}</string>
                <key>sourceSize</key>
                <string>{65,34}</string>
            </dict>
            <key>monster_scientist_19506:yifu1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,312},{126,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{126,70}}</string>
                <key>sourceSize</key>
                <string>{126,70}</string>
            </dict>
            <key>monster_scientist_19506:yifu2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{182,207},{86,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{86,68}}</string>
                <key>sourceSize</key>
                <string>{86,68}</string>
            </dict>
            <key>monster_scientist_19506:yifu3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{66,385},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{54,70}</string>
            </dict>
            <key>monster_scientist_19506:yifu5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{260,388},{87,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{87,27}}</string>
                <key>sourceSize</key>
                <string>{87,27}</string>
            </dict>
            <key>monster_scientist_19506:z1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{474,206},{30,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,38}}</string>
                <key>sourceSize</key>
                <string>{30,38}</string>
            </dict>
            <key>monster_scientist_19506:z10.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{428,488},{24,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,9}}</string>
                <key>sourceSize</key>
                <string>{24,9}</string>
            </dict>
            <key>monster_scientist_19506:z11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{474,155},{27,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,48}}</string>
                <key>sourceSize</key>
                <string>{27,48}</string>
            </dict>
            <key>monster_scientist_19506:z12.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{428,460},{14,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,20}}</string>
                <key>sourceSize</key>
                <string>{14,20}</string>
            </dict>
            <key>monster_scientist_19506:z13.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{445,421},{62,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{62,30}}</string>
                <key>sourceSize</key>
                <string>{62,30}</string>
            </dict>
            <key>monster_scientist_19506:z15.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{229,349},{37,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,25}}</string>
                <key>sourceSize</key>
                <string>{37,25}</string>
            </dict>
            <key>monster_scientist_19506:z16.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{474,247},{30,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,36}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>monster_scientist_19506:z2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{459,265},{11,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,15}}</string>
                <key>sourceSize</key>
                <string>{11,15}</string>
            </dict>
            <key>monster_scientist_19506:z3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{271,207},{8,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{8,25}}</string>
                <key>sourceSize</key>
                <string>{8,25}</string>
            </dict>
            <key>monster_scientist_19506:z4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{271,235},{7,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,21}}</string>
                <key>sourceSize</key>
                <string>{7,21}</string>
            </dict>
            <key>monster_scientist_19506:z6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{158,454},{23,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,27}}</string>
                <key>sourceSize</key>
                <string>{23,27}</string>
            </dict>
            <key>monster_scientist_19506:z7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{455,488},{21,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,10}}</string>
                <key>sourceSize</key>
                <string>{21,10}</string>
            </dict>
            <key>monster_scientist_19506:z9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{350,388},{35,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,25}}</string>
                <key>sourceSize</key>
                <string>{35,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_scientist_19506.pvr.ccz</string>
            <key>size</key>
            <string>{509,507}</string>
            <key>textureFileName</key>
            <string>monster_scientist_19506.pvr.ccz</string>
        </dict>
    </dict>
</plist>
