<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_dianciguai_19007:3wd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{747,0},{160,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{160,245}}</string>
                <key>sourceSize</key>
                <string>{160,245}</string>
            </dict>
            <key>monster_dianciguai_19007:Bshenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{386,667},{138,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{138,106}}</string>
                <key>sourceSize</key>
                <string>{138,106}</string>
            </dict>
            <key>monster_dianciguai_19007:Fshenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{706,521},{136,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{136,98}}</string>
                <key>sourceSize</key>
                <string>{136,98}</string>
            </dict>
            <key>monster_dianciguai_19007:Fyouhoubi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{858,941},{46,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,18}}</string>
                <key>sourceSize</key>
                <string>{46,18}</string>
            </dict>
            <key>monster_dianciguai_19007:Fyouqian.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{527,667},{40,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,99}}</string>
                <key>sourceSize</key>
                <string>{40,99}</string>
            </dict>
            <key>monster_dianciguai_19007:Fyouqianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{887,248},{17,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,32}}</string>
                <key>sourceSize</key>
                <string>{17,32}</string>
            </dict>
            <key>monster_dianciguai_19007:Fzui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{154,968},{70,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,36}}</string>
                <key>sourceSize</key>
                <string>{70,36}</string>
            </dict>
            <key>monster_dianciguai_19007:Fzuohoubi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{227,968},{65,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{65,23}}</string>
                <key>sourceSize</key>
                <string>{65,23}</string>
            </dict>
            <key>monster_dianciguai_19007:Fzuoqian.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{385,881},{109,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{109,53}}</string>
                <key>sourceSize</key>
                <string>{109,53}</string>
            </dict>
            <key>monster_dianciguai_19007:Fzuoqianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{716,196},{19,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,52}}</string>
                <key>sourceSize</key>
                <string>{19,52}</string>
            </dict>
            <key>monster_dianciguai_19007:a1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{825,656},{193,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{193,74}}</string>
                <key>sourceSize</key>
                <string>{193,74}</string>
            </dict>
            <key>monster_dianciguai_19007:a3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{394,600},{181,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{181,64}}</string>
                <key>sourceSize</key>
                <string>{181,64}</string>
            </dict>
            <key>monster_dianciguai_19007:a5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{845,582},{176,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{176,71}}</string>
                <key>sourceSize</key>
                <string>{176,71}</string>
            </dict>
            <key>monster_dianciguai_19007:a7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{825,733},{173,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{173,69}}</string>
                <key>sourceSize</key>
                <string>{173,69}</string>
            </dict>
            <key>monster_dianciguai_19007:acaswe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{386,776},{111,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{111,102}}</string>
                <key>sourceSize</key>
                <string>{111,102}</string>
            </dict>
            <key>monster_dianciguai_19007:acawe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{910,0},{108,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{108,191}}</string>
                <key>sourceSize</key>
                <string>{108,191}</string>
            </dict>
            <key>monster_dianciguai_19007:asdiw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{76,968},{75,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{75,41}}</string>
                <key>sourceSize</key>
                <string>{75,41}</string>
            </dict>
            <key>monster_dianciguai_19007:bfge.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{335,774},{48,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{48,86}}</string>
                <key>sourceSize</key>
                <string>{48,86}</string>
            </dict>
            <key>monster_dianciguai_19007:bgh.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{716,388},{127,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{127,130}}</string>
                <key>sourceSize</key>
                <string>{127,130}</string>
            </dict>
            <key>monster_dianciguai_19007:casd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{406,394},{191,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{191,101}}</string>
                <key>sourceSize</key>
                <string>{191,101}</string>
            </dict>
            <key>monster_dianciguai_19007:caswesv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{716,251},{15,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,16}}</string>
                <key>sourceSize</key>
                <string>{15,16}</string>
            </dict>
            <key>monster_dianciguai_19007:caswew.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{581,509},{122,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{122,117}}</string>
                <key>sourceSize</key>
                <string>{122,117}</string>
            </dict>
            <key>monster_dianciguai_19007:caswex.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{706,622},{116,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{116,111}}</string>
                <key>sourceSize</key>
                <string>{116,111}</string>
            </dict>
            <key>monster_dianciguai_19007:ccsd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,960},{73,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{73,46}}</string>
                <key>sourceSize</key>
                <string>{73,46}</string>
            </dict>
            <key>monster_dianciguai_19007:chsuw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{846,486},{33,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,32}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>monster_dianciguai_19007:cndhq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{776,907},{79,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{79,78}}</string>
                <key>sourceSize</key>
                <string>{79,78}</string>
            </dict>
            <key>monster_dianciguai_19007:csqfs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{216,886},{81,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{81,79}}</string>
                <key>sourceSize</key>
                <string>{81,79}</string>
            </dict>
            <key>monster_dianciguai_19007:cvd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{300,935},{68,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,57}}</string>
                <key>sourceSize</key>
                <string>{68,57}</string>
            </dict>
            <key>monster_dianciguai_19007:cvdn.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{884,460},{121,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{121,119}}</string>
                <key>sourceSize</key>
                <string>{121,119}</string>
            </dict>
            <key>monster_dianciguai_19007:herq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{918,899},{81,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{81,79}}</string>
                <key>sourceSize</key>
                <string>{81,79}</string>
            </dict>
            <key>monster_dianciguai_19007:jhajsdw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{918,805},{93,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{93,91}}</string>
                <key>sourceSize</key>
                <string>{93,91}</string>
            </dict>
            <key>monster_dianciguai_19007:lawe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{559,847},{87,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{87,86}}</string>
                <key>sourceSize</key>
                <string>{87,86}</string>
            </dict>
            <key>monster_dianciguai_19007:llop.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{500,776},{56,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{56,73}}</string>
                <key>sourceSize</key>
                <string>{56,73}</string>
            </dict>
            <key>monster_dianciguai_19007:mhje.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{410,366}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{410,366}}</string>
                <key>sourceSize</key>
                <string>{410,366}</string>
            </dict>
            <key>monster_dianciguai_19007:mjklj.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,520},{337,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{337,124}}</string>
                <key>sourceSize</key>
                <string>{337,124}</string>
            </dict>
            <key>monster_dianciguai_19007:mmgh.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{497,906},{47,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{47,52}}</string>
                <key>sourceSize</key>
                <string>{47,52}</string>
            </dict>
            <key>monster_dianciguai_19007:mnhgj.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{578,629},{115,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{115,110}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>monster_dianciguai_19007:nwes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{687,845},{86,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{86,90}}</string>
                <key>sourceSize</key>
                <string>{86,90}</string>
            </dict>
            <key>monster_dianciguai_19007:opbnt.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{696,736},{113,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{113,106}}</string>
                <key>sourceSize</key>
                <string>{113,106}</string>
            </dict>
            <key>monster_dianciguai_19007:opqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{500,852},{49,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{49,51}}</string>
                <key>sourceSize</key>
                <string>{49,51}</string>
            </dict>
            <key>monster_dianciguai_19007:pof.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{570,742},{114,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{114,102}}</string>
                <key>sourceSize</key>
                <string>{114,102}</string>
            </dict>
            <key>monster_dianciguai_19007:powes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,647},{332,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{332,129}}</string>
                <key>sourceSize</key>
                <string>{332,129}</string>
            </dict>
            <key>monster_dianciguai_19007:ppn.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{910,194},{104,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{104,117}}</string>
                <key>sourceSize</key>
                <string>{104,117}</string>
            </dict>
            <key>monster_dianciguai_19007:ppvr.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{413,196},{300,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{300,195}}</string>
                <key>sourceSize</key>
                <string>{300,195}</string>
            </dict>
            <key>monster_dianciguai_19007:rte.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{738,248},{146,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{146,137}}</string>
                <key>sourceSize</key>
                <string>{146,137}</string>
            </dict>
            <key>monster_dianciguai_19007:uwiq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{858,907},{52,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{52,31}}</string>
                <key>sourceSize</key>
                <string>{52,31}</string>
            </dict>
            <key>monster_dianciguai_19007:vawes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{371,937},{106,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{106,41}}</string>
                <key>sourceSize</key>
                <string>{106,41}</string>
            </dict>
            <key>monster_dianciguai_19007:vdf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{413,0},{331,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{331,193}}</string>
                <key>sourceSize</key>
                <string>{331,193}</string>
            </dict>
            <key>monster_dianciguai_19007:vdfw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,779},{308,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{308,104}}</string>
                <key>sourceSize</key>
                <string>{308,104}</string>
            </dict>
            <key>monster_dianciguai_19007:vdfwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{340,537},{51,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{51,121}}</string>
                <key>sourceSize</key>
                <string>{51,121}</string>
            </dict>
            <key>monster_dianciguai_19007:vdsdf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{600,394},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>monster_dianciguai_19007:vsdf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{812,805},{103,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{103,99}}</string>
                <key>sourceSize</key>
                <string>{103,99}</string>
            </dict>
            <key>monster_dianciguai_19007:vserd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{399,498},{179,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{179,99}}</string>
                <key>sourceSize</key>
                <string>{179,99}</string>
            </dict>
            <key>monster_dianciguai_19007:vvdf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,369},{362,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{362,148}}</string>
                <key>sourceSize</key>
                <string>{362,148}</string>
            </dict>
            <key>monster_dianciguai_19007:wcwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{130,886},{83,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{83,79}}</string>
                <key>sourceSize</key>
                <string>{83,79}</string>
            </dict>
            <key>monster_dianciguai_19007:wese.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{665,938},{71,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{71,50}}</string>
                <key>sourceSize</key>
                <string>{71,50}</string>
            </dict>
            <key>monster_dianciguai_19007:wev.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{887,314},{128,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{128,143}}</string>
                <key>sourceSize</key>
                <string>{128,143}</string>
            </dict>
            <key>monster_dianciguai_19007:wevd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{311,863},{71,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{71,69}}</string>
                <key>sourceSize</key>
                <string>{71,69}</string>
            </dict>
            <key>monster_dianciguai_19007:youci.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{335,661},{48,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{48,110}}</string>
                <key>sourceSize</key>
                <string>{48,110}</string>
            </dict>
            <key>monster_dianciguai_19007:youwei.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{846,388},{35,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,95}}</string>
                <key>sourceSize</key>
                <string>{35,95}</string>
            </dict>
            <key>monster_dianciguai_19007:yuwec.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{547,936},{115,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{115,41}}</string>
                <key>sourceSize</key>
                <string>{115,41}</string>
            </dict>
            <key>monster_dianciguai_19007:ywuv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{365,476},{31,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,58}}</string>
                <key>sourceSize</key>
                <string>{31,58}</string>
            </dict>
            <key>monster_dianciguai_19007:zuoci.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,886},{127,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{127,71}}</string>
                <key>sourceSize</key>
                <string>{127,71}</string>
            </dict>
            <key>monster_dianciguai_19007:zuowei.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{365,369},{38,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,104}}</string>
                <key>sourceSize</key>
                <string>{38,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_dianciguai_19007.pvr.ccz</string>
            <key>size</key>
            <string>{1022,1011}</string>
            <key>textureFileName</key>
            <string>monster_dianciguai_19007.pvr.ccz</string>
        </dict>
    </dict>
</plist>
