<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_jinglingnvhuang_19502:78q2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{513,336},{169,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{169,187}}</string>
                <key>sourceSize</key>
                <string>{169,187}</string>
            </dict>
            <key>monster_jinglingnvhuang_19502:Bbei.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1006,64},{15,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,16}}</string>
                <key>sourceSize</key>
                <string>{15,16}</string>
            </dict>
            <key>monster_jinglingnvhuang_19502:Fjing.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{995,78},{6,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{6,5}}</string>
                <key>sourceSize</key>
                <string>{6,5}</string>
            </dict>
            <key>monster_jinglingnvhuang_19502:Fqun.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{406,340},{58,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,35}}</string>
                <key>sourceSize</key>
                <string>{58,35}</string>
            </dict>
            <key>monster_jinglingnvhuang_19502:Fshen1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{976,60},{17,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,16}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>monster_jinglingnvhuang_19502:asds.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{976,0},{32,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,58}}</string>
                <key>sourceSize</key>
                <string>{32,58}</string>
            </dict>
            <key>monster_jinglingnvhuang_19502:asdw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{976,100},{12,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,7}}</string>
                <key>sourceSize</key>
                <string>{12,7}</string>
            </dict>
            <key>monster_jinglingnvhuang_19502:avsw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1003,82},{14,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,12}}</string>
                <key>sourceSize</key>
                <string>{14,12}</string>
            </dict>
            <key>monster_jinglingnvhuang_19502:ba54.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1010,0},{10,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,20}}</string>
                <key>sourceSize</key>
                <string>{10,20}</string>
            </dict>
            <key>monster_jinglingnvhuang_19502:basew.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{976,78},{17,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,10}}</string>
                <key>sourceSize</key>
                <string>{17,10}</string>
            </dict>
            <key>monster_jinglingnvhuang_19502:bawe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{839,735},{142,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{142,124}}</string>
                <key>sourceSize</key>
                <string>{142,124}</string>
            </dict>
            <key>monster_jinglingnvhuang_19502:baweq1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{535,715},{164,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{164,125}}</string>
                <key>sourceSize</key>
                <string>{164,125}</string>
            </dict>
            <key>monster_jinglingnvhuang_19502:bfdrt6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{157,667},{176,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{176,122}}</string>
                <key>sourceSize</key>
                <string>{176,122}</string>
            </dict>
            <key>monster_jinglingnvhuang_19502:bnml9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,570},{155,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{155,135}}</string>
                <key>sourceSize</key>
                <string>{155,135}</string>
            </dict>
            <key>monster_jinglingnvhuang_19502:bseyu.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1010,43},{8,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{8,19}}</string>
                <key>sourceSize</key>
                <string>{8,19}</string>
            </dict>
            <key>monster_jinglingnvhuang_19502:cashbb8a.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{530,0},{250,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{250,169}}</string>
                <key>sourceSize</key>
                <string>{250,169}</string>
            </dict>
            <key>monster_jinglingnvhuang_19502:cib1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{684,386},{170,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{170,173}}</string>
                <key>sourceSize</key>
                <string>{170,173}</string>
            </dict>
            <key>monster_jinglingnvhuang_19502:cib2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{335,677},{198,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{198,92}}</string>
                <key>sourceSize</key>
                <string>{198,92}</string>
            </dict>
            <key>monster_jinglingnvhuang_19502:cib3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{729,561},{123,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{123,172}}</string>
                <key>sourceSize</key>
                <string>{123,172}</string>
            </dict>
            <key>monster_jinglingnvhuang_19502:cwq23.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1010,22},{9,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,19}}</string>
                <key>sourceSize</key>
                <string>{9,19}</string>
            </dict>
            <key>monster_jinglingnvhuang_19502:ftou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{177,180},{59,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{59,67}}</string>
                <key>sourceSize</key>
                <string>{59,67}</string>
            </dict>
            <key>monster_jinglingnvhuang_19502:ftoufa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{177,314},{61,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{61,58}}</string>
                <key>sourceSize</key>
                <string>{61,58}</string>
            </dict>
            <key>monster_jinglingnvhuang_19502:iqwds.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{701,735},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{136,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>monster_jinglingnvhuang_19502:jiqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{733,196},{180,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{180,188}}</string>
                <key>sourceSize</key>
                <string>{180,188}</string>
            </dict>
            <key>monster_jinglingnvhuang_19502:mjqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,180},{175,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{175,204}}</string>
                <key>sourceSize</key>
                <string>{175,204}</string>
            </dict>
            <key>monster_jinglingnvhuang_19502:mkasw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{335,771},{122,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{122,139}}</string>
                <key>sourceSize</key>
                <string>{122,139}</string>
            </dict>
            <key>monster_jinglingnvhuang_19502:mvjso0q.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{264,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{264,178}}</string>
                <key>sourceSize</key>
                <string>{264,178}</string>
            </dict>
            <key>monster_jinglingnvhuang_19502:nfue3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{856,559},{138,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{138,174}}</string>
                <key>sourceSize</key>
                <string>{138,174}</string>
            </dict>
            <key>monster_jinglingnvhuang_19502:nfuq9w.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{782,0},{192,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{192,194}}</string>
                <key>sourceSize</key>
                <string>{192,194}</string>
            </dict>
            <key>monster_jinglingnvhuang_19502:nvjsaw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{266,169},{245,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{245,169}}</string>
                <key>sourceSize</key>
                <string>{245,169}</string>
            </dict>
            <key>monster_jinglingnvhuang_19502:oqpwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{571,561},{156,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{156,152}}</string>
                <key>sourceSize</key>
                <string>{156,152}</string>
            </dict>
            <key>monster_jinglingnvhuang_19502:oqwes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{856,394},{165,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{165,163}}</string>
                <key>sourceSize</key>
                <string>{165,163}</string>
            </dict>
            <key>monster_jinglingnvhuang_19502:pqowec.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,386},{167,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{167,182}}</string>
                <key>sourceSize</key>
                <string>{167,182}</string>
            </dict>
            <key>monster_jinglingnvhuang_19502:qwasw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1007,96},{12,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,8}}</string>
                <key>sourceSize</key>
                <string>{12,8}</string>
            </dict>
            <key>monster_jinglingnvhuang_19502:qwe23.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{169,532},{179,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{179,133}}</string>
                <key>sourceSize</key>
                <string>{179,133}</string>
            </dict>
            <key>monster_jinglingnvhuang_19502:qwsw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{149,791},{123,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{123,120}}</string>
                <key>sourceSize</key>
                <string>{123,120}</string>
            </dict>
            <key>monster_jinglingnvhuang_19502:ufqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{240,340},{164,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{164,190}}</string>
                <key>sourceSize</key>
                <string>{164,190}</string>
            </dict>
            <key>monster_jinglingnvhuang_19502:uqwyef.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{513,171},{218,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{218,163}}</string>
                <key>sourceSize</key>
                <string>{218,163}</string>
            </dict>
            <key>monster_jinglingnvhuang_19502:vasqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{995,60},{9,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,16}}</string>
                <key>sourceSize</key>
                <string>{9,16}</string>
            </dict>
            <key>monster_jinglingnvhuang_19502:vasw63.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{177,249},{59,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{59,63}}</string>
                <key>sourceSize</key>
                <string>{59,63}</string>
            </dict>
            <key>monster_jinglingnvhuang_19502:vaswois.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{915,295},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>monster_jinglingnvhuang_19502:vaw67.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,707},{147,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{147,138}}</string>
                <key>sourceSize</key>
                <string>{147,138}</string>
            </dict>
            <key>monster_jinglingnvhuang_19502:vawes09.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{915,196},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>monster_jinglingnvhuang_19502:vawq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{976,90},{15,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,8}}</string>
                <key>sourceSize</key>
                <string>{15,8}</string>
            </dict>
            <key>monster_jinglingnvhuang_19502:vawqs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{993,96},{12,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,9}}</string>
                <key>sourceSize</key>
                <string>{12,9}</string>
            </dict>
            <key>monster_jinglingnvhuang_19502:vawqv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1007,106},{10,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,6}}</string>
                <key>sourceSize</key>
                <string>{10,6}</string>
            </dict>
            <key>monster_jinglingnvhuang_19502:vmasjw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{266,0},{262,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{262,167}}</string>
                <key>sourceSize</key>
                <string>{262,167}</string>
            </dict>
            <key>monster_jinglingnvhuang_19502:wswq2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{406,525},{163,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{163,150}}</string>
                <key>sourceSize</key>
                <string>{163,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_jinglingnvhuang_19502.pvr.ccz</string>
            <key>size</key>
            <string>{1024,913}</string>
            <key>textureFileName</key>
            <string>monster_jinglingnvhuang_19502.pvr.ccz</string>
        </dict>
    </dict>
</plist>
