<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_mofashouling_19010:Bpifeng.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,244},{105,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{105,97}}</string>
                <key>sourceSize</key>
                <string>{105,97}</string>
            </dict>
            <key>monster_mofashouling_19010:Btou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{740,270},{43,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,75}}</string>
                <key>sourceSize</key>
                <string>{43,75}</string>
            </dict>
            <key>monster_mofashouling_19010:Byiling.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{566,361},{50,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{50,25}}</string>
                <key>sourceSize</key>
                <string>{50,25}</string>
            </dict>
            <key>monster_mofashouling_19010:Fhoupifeng.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{360,306},{72,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{72,71}}</string>
                <key>sourceSize</key>
                <string>{72,71}</string>
            </dict>
            <key>monster_mofashouling_19010:Fquan1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{975,343},{39,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,26}}</string>
                <key>sourceSize</key>
                <string>{39,26}</string>
            </dict>
            <key>monster_mofashouling_19010:Fqun.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,344},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>monster_mofashouling_19010:Fshenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{440,207},{27,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,21}}</string>
                <key>sourceSize</key>
                <string>{27,21}</string>
            </dict>
            <key>monster_mofashouling_19010:Fsiwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{729,348},{49,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{49,40}}</string>
                <key>sourceSize</key>
                <string>{49,40}</string>
            </dict>
            <key>monster_mofashouling_19010:Ftou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{740,185},{48,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{48,82}}</string>
                <key>sourceSize</key>
                <string>{48,82}</string>
            </dict>
            <key>monster_mofashouling_19010:Fyaodai.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{284,210},{24,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,18}}</string>
                <key>sourceSize</key>
                <string>{24,18}</string>
            </dict>
            <key>monster_mofashouling_19010:Fyiling.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{440,231},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{20,21}</string>
            </dict>
            <key>monster_mofashouling_19010:Fyiling2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{619,361},{52,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{52,19}}</string>
                <key>sourceSize</key>
                <string>{52,19}</string>
            </dict>
            <key>monster_mofashouling_19010:Fyouhoubi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1002,71},{13,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,22}}</string>
                <key>sourceSize</key>
                <string>{13,22}</string>
            </dict>
            <key>monster_mofashouling_19010:Fyoupifeng.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{983,178},{35,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,75}}</string>
                <key>sourceSize</key>
                <string>{35,75}</string>
            </dict>
            <key>monster_mofashouling_19010:Fyouqianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1002,114},{13,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,18}}</string>
                <key>sourceSize</key>
                <string>{13,18}</string>
            </dict>
            <key>monster_mofashouling_19010:Fyoushou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1002,135},{12,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,13}}</string>
                <key>sourceSize</key>
                <string>{12,13}</string>
            </dict>
            <key>monster_mofashouling_19010:Fzuohoubi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1002,46},{14,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,22}}</string>
                <key>sourceSize</key>
                <string>{14,22}</string>
            </dict>
            <key>monster_mofashouling_19010:Fzuopif.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{926,166},{54,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{54,96}}</string>
                <key>sourceSize</key>
                <string>{54,96}</string>
            </dict>
            <key>monster_mofashouling_19010:Fzuoqianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1002,21},{15,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,22}}</string>
                <key>sourceSize</key>
                <string>{15,22}</string>
            </dict>
            <key>monster_mofashouling_19010:Fzuoshou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{284,231},{21,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,20}}</string>
                <key>sourceSize</key>
                <string>{21,20}</string>
            </dict>
            <key>monster_mofashouling_19010:asdwes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{435,316},{63,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{63,75}}</string>
                <key>sourceSize</key>
                <string>{63,75}</string>
            </dict>
            <key>monster_mofashouling_19010:baw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{322,0},{284,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{284,95}}</string>
                <key>sourceSize</key>
                <string>{284,95}</string>
            </dict>
            <key>monster_mofashouling_19010:bbgr.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{501,316},{62,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{62,74}}</string>
                <key>sourceSize</key>
                <string>{62,74}</string>
            </dict>
            <key>monster_mofashouling_19010:bttyw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{108,244},{102,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{102,93}}</string>
                <key>sourceSize</key>
                <string>{102,93}</string>
            </dict>
            <key>monster_mofashouling_19010:casdwecs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{108,80},{105,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{105,161}}</string>
                <key>sourceSize</key>
                <string>{105,161}</string>
            </dict>
            <key>monster_mofashouling_19010:caswe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{284,254},{20,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,19}}</string>
                <key>sourceSize</key>
                <string>{20,19}</string>
            </dict>
            <key>monster_mofashouling_19010:caswec.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1002,96},{18,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,15}}</string>
                <key>sourceSize</key>
                <string>{18,15}</string>
            </dict>
            <key>monster_mofashouling_19010:caswed.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{993,0},{6,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{6,135}}</string>
                <key>sourceSize</key>
                <string>{6,135}</string>
            </dict>
            <key>monster_mofashouling_19010:cdsvdfg.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{609,0},{181,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{181,182}}</string>
                <key>sourceSize</key>
                <string>{181,182}</string>
            </dict>
            <key>monster_mofashouling_19010:csawe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,80},{105,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{105,161}}</string>
                <key>sourceSize</key>
                <string>{105,161}</string>
            </dict>
            <key>monster_mofashouling_19010:cse.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{595,275},{78,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{78,83}}</string>
                <key>sourceSize</key>
                <string>{78,83}</string>
            </dict>
            <key>monster_mofashouling_19010:cswe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{284,181},{29,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,26}}</string>
                <key>sourceSize</key>
                <string>{29,26}</string>
            </dict>
            <key>monster_mofashouling_19010:ecvdf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1002,0},{19,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,18}}</string>
                <key>sourceSize</key>
                <string>{19,18}</string>
            </dict>
            <key>monster_mofashouling_19010:euwi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{600,98},{6,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{6,9}}</string>
                <key>sourceSize</key>
                <string>{6,9}</string>
            </dict>
            <key>monster_mofashouling_19010:fasdwec.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{454,255},{11,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,5}}</string>
                <key>sourceSize</key>
                <string>{11,5}</string>
            </dict>
            <key>monster_mofashouling_19010:fllmdg.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{216,80},{99,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{99,98}}</string>
                <key>sourceSize</key>
                <string>{99,98}</string>
            </dict>
            <key>monster_mofashouling_19010:fs 2345.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{475,98},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>monster_mofashouling_19010:gher.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{896,346},{60,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{60,55}}</string>
                <key>sourceSize</key>
                <string>{60,55}</string>
            </dict>
            <key>monster_mofashouling_19010:ppr.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{993,151},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>monster_mofashouling_19010:ppvswe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{316,207},{121,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{121,96}}</string>
                <key>sourceSize</key>
                <string>{121,96}</string>
            </dict>
            <key>monster_mofashouling_19010:uqwiec.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{975,293},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{46,47}</string>
            </dict>
            <key>monster_mofashouling_19010:v12ds.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{676,275},{57,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{57,70}}</string>
                <key>sourceSize</key>
                <string>{57,70}</string>
            </dict>
            <key>monster_mofashouling_19010:vdfgerv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{318,98},{154,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{154,106}}</string>
                <key>sourceSize</key>
                <string>{154,106}</string>
            </dict>
            <key>monster_mofashouling_19010:vdsder.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{786,270},{107,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{107,100}}</string>
                <key>sourceSize</key>
                <string>{107,100}</string>
            </dict>
            <key>monster_mofashouling_19010:vdser.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{440,255},{11,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,13}}</string>
                <key>sourceSize</key>
                <string>{11,13}</string>
            </dict>
            <key>monster_mofashouling_19010:vfgwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{676,348},{50,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{50,61}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>monster_mofashouling_19010:vmqw23.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{793,0},{197,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{197,163}}</string>
                <key>sourceSize</key>
                <string>{197,163}</string>
            </dict>
            <key>monster_mofashouling_19010:vnvsw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{216,181},{65,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{65,116}}</string>
                <key>sourceSize</key>
                <string>{65,116}</string>
            </dict>
            <key>monster_mofashouling_19010:vsawe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{983,256},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>monster_mofashouling_19010:vser.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{926,265},{46,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,78}}</string>
                <key>sourceSize</key>
                <string>{46,78}</string>
            </dict>
            <key>monster_mofashouling_19010:vvawesv2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{319,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{319,77}}</string>
                <key>sourceSize</key>
                <string>{319,77}</string>
            </dict>
            <key>monster_mofashouling_19010:vvawsww.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{793,166},{130,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{130,101}}</string>
                <key>sourceSize</key>
                <string>{130,101}</string>
            </dict>
            <key>monster_mofashouling_19010:vvdf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{108,340},{70,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,64}}</string>
                <key>sourceSize</key>
                <string>{70,64}</string>
            </dict>
            <key>monster_mofashouling_19010:vvfer.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{470,223},{122,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{122,90}}</string>
                <key>sourceSize</key>
                <string>{122,90}</string>
            </dict>
            <key>monster_mofashouling_19010:vvws23.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{600,185},{137,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{137,87}}</string>
                <key>sourceSize</key>
                <string>{137,87}</string>
            </dict>
            <key>monster_mofashouling_19010:wevdf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{291,306},{66,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{66,81}}</string>
                <key>sourceSize</key>
                <string>{66,81}</string>
            </dict>
            <key>monster_mofashouling_19010:wueyq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{213,300},{75,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{75,80}}</string>
                <key>sourceSize</key>
                <string>{75,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_mofashouling_19010.pvr.ccz</string>
            <key>size</key>
            <string>{1023,410}</string>
            <key>textureFileName</key>
            <string>monster_mofashouling_19010.pvr.ccz</string>
        </dict>
    </dict>
</plist>
