<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_mishizhizhu_19017:1f11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{477,747},{111,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{111,98}}</string>
                <key>sourceSize</key>
                <string>{111,98}</string>
            </dict>
            <key>monster_mishizhizhu_19017:1f12.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{179,582},{129,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{129,115}}</string>
                <key>sourceSize</key>
                <string>{129,115}</string>
            </dict>
            <key>monster_mishizhizhu_19017:1f13.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{646,159},{148,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{148,131}}</string>
                <key>sourceSize</key>
                <string>{148,131}</string>
            </dict>
            <key>monster_mishizhizhu_19017:1f14.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{808,0},{166,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{166,148}}</string>
                <key>sourceSize</key>
                <string>{166,148}</string>
            </dict>
            <key>monster_mishizhizhu_19017:1f9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,854},{92,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{92,82}}</string>
                <key>sourceSize</key>
                <string>{92,82}</string>
            </dict>
            <key>monster_mishizhizhu_19017:a21.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{569,936},{120,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{120,70}}</string>
                <key>sourceSize</key>
                <string>{120,70}</string>
            </dict>
            <key>monster_mishizhizhu_19017:a22.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{591,761},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>monster_mishizhizhu_19017:a23.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{930,374},{75,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{75,156}}</string>
                <key>sourceSize</key>
                <string>{75,156}</string>
            </dict>
            <key>monster_mishizhizhu_19017:c toufa1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{121,465},{64,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{64,74}}</string>
                <key>sourceSize</key>
                <string>{64,74}</string>
            </dict>
            <key>monster_mishizhizhu_19017:d1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{463,0},{180,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{180,178}}</string>
                <key>sourceSize</key>
                <string>{180,178}</string>
            </dict>
            <key>monster_mishizhizhu_19017:d2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{646,0},{159,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{159,156}}</string>
                <key>sourceSize</key>
                <string>{159,156}</string>
            </dict>
            <key>monster_mishizhizhu_19017:d3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{413,450},{135,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{135,122}}</string>
                <key>sourceSize</key>
                <string>{135,122}</string>
            </dict>
            <key>monster_mishizhizhu_19017:d4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{764,574},{113,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{113,136}}</string>
                <key>sourceSize</key>
                <string>{113,136}</string>
            </dict>
            <key>monster_mishizhizhu_19017:d5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,740},{99,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{99,111}}</string>
                <key>sourceSize</key>
                <string>{99,111}</string>
            </dict>
            <key>monster_mishizhizhu_19017:d6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{477,848},{89,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{89,93}}</string>
                <key>sourceSize</key>
                <string>{89,93}</string>
            </dict>
            <key>monster_mishizhizhu_19017:d7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{698,819},{100,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{100,102}}</string>
                <key>sourceSize</key>
                <string>{100,102}</string>
            </dict>
            <key>monster_mishizhizhu_19017:g1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{577,373},{51,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{51,26}}</string>
                <key>sourceSize</key>
                <string>{51,26}</string>
            </dict>
            <key>monster_mishizhizhu_19017:h2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{909,954},{104,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{104,53}}</string>
                <key>sourceSize</key>
                <string>{104,53}</string>
            </dict>
            <key>monster_mishizhizhu_19017:h3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{217,700},{156,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{156,80}}</string>
                <key>sourceSize</key>
                <string>{156,80}</string>
            </dict>
            <key>monster_mishizhizhu_19017:h4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{801,954},{105,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{105,54}}</string>
                <key>sourceSize</key>
                <string>{105,54}</string>
            </dict>
            <key>monster_mishizhizhu_19017:h5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{569,868},{126,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{126,65}}</string>
                <key>sourceSize</key>
                <string>{126,65}</string>
            </dict>
            <key>monster_mishizhizhu_19017:l1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{323,909},{134,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{134,59}}</string>
                <key>sourceSize</key>
                <string>{134,59}</string>
            </dict>
            <key>monster_mishizhizhu_19017:l2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{221,351},{189,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{189,100}}</string>
                <key>sourceSize</key>
                <string>{189,100}</string>
            </dict>
            <key>monster_mishizhizhu_19017:l3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,362},{189,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{189,100}}</string>
                <key>sourceSize</key>
                <string>{189,100}</string>
            </dict>
            <key>monster_mishizhizhu_19017:q1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{102,837},{96,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{96,91}}</string>
                <key>sourceSize</key>
                <string>{96,91}</string>
            </dict>
            <key>monster_mishizhizhu_19017:q2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{517,624},{122,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{122,120}}</string>
                <key>sourceSize</key>
                <string>{122,120}</string>
            </dict>
            <key>monster_mishizhizhu_19017:q3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{808,151},{163,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{163,144}}</string>
                <key>sourceSize</key>
                <string>{163,144}</string>
            </dict>
            <key>monster_mishizhizhu_19017:w21.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{463,181},{139,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{139,136}}</string>
                <key>sourceSize</key>
                <string>{139,136}</string>
            </dict>
            <key>monster_mishizhizhu_19017:w22.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{633,293},{134,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{134,135}}</string>
                <key>sourceSize</key>
                <string>{134,135}</string>
            </dict>
            <key>monster_mishizhizhu_19017:w23.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{798,298},{129,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{129,135}}</string>
                <key>sourceSize</key>
                <string>{129,135}</string>
            </dict>
            <key>monster_mishizhizhu_19017:w24.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{791,436},{123,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{123,135}}</string>
                <key>sourceSize</key>
                <string>{123,135}</string>
            </dict>
            <key>monster_mishizhizhu_19017:w25.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,465},{118,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{118,135}}</string>
                <key>sourceSize</key>
                <string>{118,135}</string>
            </dict>
            <key>monster_mishizhizhu_19017:w26.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{401,575},{113,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{113,135}}</string>
                <key>sourceSize</key>
                <string>{113,135}</string>
            </dict>
            <key>monster_mishizhizhu_19017:w27.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,603},{108,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{108,134}}</string>
                <key>sourceSize</key>
                <string>{108,134}</string>
            </dict>
            <key>monster_mishizhizhu_19017:w28.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{111,700},{103,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{103,134}}</string>
                <key>sourceSize</key>
                <string>{103,134}</string>
            </dict>
            <key>monster_mishizhizhu_19017:w29.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{376,713},{98,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{98,134}}</string>
                <key>sourceSize</key>
                <string>{98,134}</string>
            </dict>
            <key>monster_mishizhizhu_19017:w30.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{917,533},{98,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{98,143}}</string>
                <key>sourceSize</key>
                <string>{98,143}</string>
            </dict>
            <key>monster_mishizhizhu_19017:w31.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{880,679},{103,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{103,134}}</string>
                <key>sourceSize</key>
                <string>{103,134}</string>
            </dict>
            <key>monster_mishizhizhu_19017:w32.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{642,624},{107,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{107,134}}</string>
                <key>sourceSize</key>
                <string>{107,134}</string>
            </dict>
            <key>monster_mishizhizhu_19017:x1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{323,850},{144,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{144,56}}</string>
                <key>sourceSize</key>
                <string>{144,56}</string>
            </dict>
            <key>monster_mishizhizhu_19017:x10.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{221,276},{218,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{218,72}}</string>
                <key>sourceSize</key>
                <string>{218,72}</string>
            </dict>
            <key>monster_mishizhizhu_19017:x11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{698,924},{100,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{100,52}}</string>
                <key>sourceSize</key>
                <string>{100,52}</string>
            </dict>
            <key>monster_mishizhizhu_19017:x2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,212},{218,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{218,72}}</string>
                <key>sourceSize</key>
                <string>{218,72}</string>
            </dict>
            <key>monster_mishizhizhu_19017:x22.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{311,582},{74,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{74,38}}</string>
                <key>sourceSize</key>
                <string>{74,38}</string>
            </dict>
            <key>monster_mishizhizhu_19017:x3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{192,454},{210,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{210,61}}</string>
                <key>sourceSize</key>
                <string>{210,61}</string>
            </dict>
            <key>monster_mishizhizhu_19017:x4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{551,560},{210,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{210,61}}</string>
                <key>sourceSize</key>
                <string>{210,61}</string>
            </dict>
            <key>monster_mishizhizhu_19017:x5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{240,201},{218,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{218,72}}</string>
                <key>sourceSize</key>
                <string>{218,72}</string>
            </dict>
            <key>monster_mishizhizhu_19017:x6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{801,895},{144,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{144,56}}</string>
                <key>sourceSize</key>
                <string>{144,56}</string>
            </dict>
            <key>monster_mishizhizhu_19017:x7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,287},{218,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{218,72}}</string>
                <key>sourceSize</key>
                <string>{218,72}</string>
            </dict>
            <key>monster_mishizhizhu_19017:x8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{188,518},{210,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{210,61}}</string>
                <key>sourceSize</key>
                <string>{210,61}</string>
            </dict>
            <key>monster_mishizhizhu_19017:x9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{551,496},{210,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{210,61}}</string>
                <key>sourceSize</key>
                <string>{210,61}</string>
            </dict>
            <key>monster_mishizhizhu_19017:z congyong1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{752,713},{124,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{124,103}}</string>
                <key>sourceSize</key>
                <string>{124,103}</string>
            </dict>
            <key>monster_mishizhizhu_19017:z congyong2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{879,816},{131,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{131,76}}</string>
                <key>sourceSize</key>
                <string>{131,76}</string>
            </dict>
            <key>monster_mishizhizhu_19017:z d11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{201,891},{119,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{119,67}}</string>
                <key>sourceSize</key>
                <string>{119,67}</string>
            </dict>
            <key>monster_mishizhizhu_19017:z d12.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{442,320},{132,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{132,127}}</string>
                <key>sourceSize</key>
                <string>{132,127}</string>
            </dict>
            <key>monster_mishizhizhu_19017:z d13.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{240,0},{220,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{220,198}}</string>
                <key>sourceSize</key>
                <string>{220,198}</string>
            </dict>
            <key>monster_mishizhizhu_19017:z d14.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{577,431},{211,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{211,62}}</string>
                <key>sourceSize</key>
                <string>{211,62}</string>
            </dict>
            <key>monster_mishizhizhu_19017:z d15.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{200,961},{98,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{98,42}}</string>
                <key>sourceSize</key>
                <string>{98,42}</string>
            </dict>
            <key>monster_mishizhizhu_19017:z d17.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{237,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{237,209}}</string>
                <key>sourceSize</key>
                <string>{237,209}</string>
            </dict>
            <key>monster_mishizhizhu_19017:z jiao1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{577,321},{52,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{52,49}}</string>
                <key>sourceSize</key>
                <string>{52,49}</string>
            </dict>
            <key>monster_mishizhizhu_19017:z jiao2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{605,235},{27,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,55}}</string>
                <key>sourceSize</key>
                <string>{27,55}</string>
            </dict>
            <key>monster_mishizhizhu_19017:z jiao3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{977,58},{31,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,62}}</string>
                <key>sourceSize</key>
                <string>{31,62}</string>
            </dict>
            <key>monster_mishizhizhu_19017:z jiao4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{930,298},{40,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,28}}</string>
                <key>sourceSize</key>
                <string>{40,28}</string>
            </dict>
            <key>monster_mishizhizhu_19017:z shenti1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{977,123},{42,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{42,46}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
            <key>monster_mishizhizhu_19017:z shou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{974,172},{45,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,57}}</string>
                <key>sourceSize</key>
                <string>{45,57}</string>
            </dict>
            <key>monster_mishizhizhu_19017:z shou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{605,181},{37,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,51}}</string>
                <key>sourceSize</key>
                <string>{37,51}</string>
            </dict>
            <key>monster_mishizhizhu_19017:z shou3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{770,293},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>monster_mishizhizhu_19017:z shou4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{977,0},{44,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{44,55}}</string>
                <key>sourceSize</key>
                <string>{44,55}</string>
            </dict>
            <key>monster_mishizhizhu_19017:z shou5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{973,314},{48,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{48,57}}</string>
                <key>sourceSize</key>
                <string>{48,57}</string>
            </dict>
            <key>monster_mishizhizhu_19017:z shoubi1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{605,293},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>monster_mishizhizhu_19017:z tou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{460,944},{102,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{102,71}}</string>
                <key>sourceSize</key>
                <string>{102,71}</string>
            </dict>
            <key>monster_mishizhizhu_19017:z tou11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{95,931},{102,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{102,71}}</string>
                <key>sourceSize</key>
                <string>{102,71}</string>
            </dict>
            <key>monster_mishizhizhu_19017:z tou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{217,783},{103,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{103,105}}</string>
                <key>sourceSize</key>
                <string>{103,105}</string>
            </dict>
            <key>monster_mishizhizhu_19017:z toufa2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{121,542},{55,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,73}}</string>
                <key>sourceSize</key>
                <string>{55,73}</string>
            </dict>
            <key>monster_mishizhizhu_19017:z xiati1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{974,232},{45,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,39}}</string>
                <key>sourceSize</key>
                <string>{45,39}</string>
            </dict>
            <key>monster_mishizhizhu_19017:z xiatu3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{974,274},{46,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,37}}</string>
                <key>sourceSize</key>
                <string>{46,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_mishizhizhu_19017.pvr.ccz</string>
            <key>size</key>
            <string>{1023,1019}</string>
            <key>textureFileName</key>
            <string>monster_mishizhizhu_19017.pvr.ccz</string>
        </dict>
    </dict>
</plist>
