<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_bluedragon_10095:jiao1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{440,182},{29,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,42}}</string>
                <key>sourceSize</key>
                <string>{29,42}</string>
            </dict>
            <key>monster_bluedragon_10095:jiao2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{472,202},{33,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,25}}</string>
                <key>sourceSize</key>
                <string>{33,25}</string>
            </dict>
            <key>monster_bluedragon_10095:jiao2 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{387,199},{30,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,34}}</string>
                <key>sourceSize</key>
                <string>{30,34}</string>
            </dict>
            <key>monster_bluedragon_10095:jiao3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{132,201},{35,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,26}}</string>
                <key>sourceSize</key>
                <string>{35,26}</string>
            </dict>
            <key>monster_bluedragon_10095:jiao3 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{101,201},{28,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,36}}</string>
                <key>sourceSize</key>
                <string>{28,36}</string>
            </dict>
            <key>monster_bluedragon_10095:jiao4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{490,73},{15,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,28}}</string>
                <key>sourceSize</key>
                <string>{15,28}</string>
            </dict>
            <key>monster_bluedragon_10095:shenti1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{440,138},{44,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{44,41}}</string>
                <key>sourceSize</key>
                <string>{44,41}</string>
            </dict>
            <key>monster_bluedragon_10095:shenti2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{404,138},{33,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,58}}</string>
                <key>sourceSize</key>
                <string>{33,58}</string>
            </dict>
            <key>monster_bluedragon_10095:shou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{358,192},{26,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,40}}</string>
                <key>sourceSize</key>
                <string>{26,40}</string>
            </dict>
            <key>monster_bluedragon_10095:shou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{170,201},{28,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>monster_bluedragon_10095:shou3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{420,227},{37,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,20}}</string>
                <key>sourceSize</key>
                <string>{37,20}</string>
            </dict>
            <key>monster_bluedragon_10095:shoubi1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{490,104},{16,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,23}}</string>
                <key>sourceSize</key>
                <string>{16,23}</string>
            </dict>
            <key>monster_bluedragon_10095:shoubi2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{415,65},{15,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,32}}</string>
                <key>sourceSize</key>
                <string>{15,32}</string>
            </dict>
            <key>monster_bluedragon_10095:shoubi3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{132,230},{29,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,20}}</string>
                <key>sourceSize</key>
                <string>{29,20}</string>
            </dict>
            <key>monster_bluedragon_10095:sou6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{164,235},{31,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,16}}</string>
                <key>sourceSize</key>
                <string>{31,16}</string>
            </dict>
            <key>monster_bluedragon_10095:tou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{358,65},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{54,70}</string>
            </dict>
            <key>monster_bluedragon_10095:tou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{433,73},{54,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{54,62}}</string>
                <key>sourceSize</key>
                <string>{54,62}</string>
            </dict>
            <key>monster_bluedragon_10095:tui1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{487,153},{20,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,23}}</string>
                <key>sourceSize</key>
                <string>{20,23}</string>
            </dict>
            <key>monster_bluedragon_10095:tui2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{490,130},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{18,20}</string>
            </dict>
            <key>monster_bluedragon_10095:tui2 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{487,179},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{18,20}</string>
            </dict>
            <key>monster_bluedragon_10095:tui3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{415,117},{13,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,10}}</string>
                <key>sourceSize</key>
                <string>{13,10}</string>
            </dict>
            <key>monster_bluedragon_10095:tui4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{460,230},{26,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,23}}</string>
                <key>sourceSize</key>
                <string>{26,23}</string>
            </dict>
            <key>monster_bluedragon_10095:tui5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{415,100},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>monster_bluedragon_10095:wei2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{437,0},{57,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{57,70}}</string>
                <key>sourceSize</key>
                <string>{57,70}</string>
            </dict>
            <key>monster_bluedragon_10095:weiba1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{358,138},{43,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,51}}</string>
                <key>sourceSize</key>
                <string>{43,51}</string>
            </dict>
            <key>monster_bluedragon_10095:z d11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{223,195},{119,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{119,67}}</string>
                <key>sourceSize</key>
                <string>{119,67}</string>
            </dict>
            <key>monster_bluedragon_10095:z d12.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{223,65},{132,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{132,127}}</string>
                <key>sourceSize</key>
                <string>{132,127}</string>
            </dict>
            <key>monster_bluedragon_10095:z d13.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{220,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{220,198}}</string>
                <key>sourceSize</key>
                <string>{220,198}</string>
            </dict>
            <key>monster_bluedragon_10095:z d14.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{223,0},{211,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{211,62}}</string>
                <key>sourceSize</key>
                <string>{211,62}</string>
            </dict>
            <key>monster_bluedragon_10095:z d15.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,201},{98,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{98,42}}</string>
                <key>sourceSize</key>
                <string>{98,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_bluedragon_10095.pvr.ccz</string>
            <key>size</key>
            <string>{508,263}</string>
            <key>textureFileName</key>
            <string>monster_bluedragon_10095.pvr.ccz</string>
        </dict>
    </dict>
</plist>
