<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_ancherwoman_11003:a4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,266},{109,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{109,95}}</string>
                <key>sourceSize</key>
                <string>{109,95}</string>
            </dict>
            <key>monster_ancherwoman_11003:a6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{293,243},{121,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{121,103}}</string>
                <key>sourceSize</key>
                <string>{121,103}</string>
            </dict>
            <key>monster_ancherwoman_11003:jiantong.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{403,389},{38,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,45}}</string>
                <key>sourceSize</key>
                <string>{38,45}</string>
            </dict>
            <key>monster_ancherwoman_11003:jiao1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{492,0},{15,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,24}}</string>
                <key>sourceSize</key>
                <string>{15,24}</string>
            </dict>
            <key>monster_ancherwoman_11003:jiao2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{136,244},{18,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,21}}</string>
                <key>sourceSize</key>
                <string>{18,21}</string>
            </dict>
            <key>monster_ancherwoman_11003:jiao2 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{266,269},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>monster_ancherwoman_11003:jiao3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{492,100},{17,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,18}}</string>
                <key>sourceSize</key>
                <string>{17,18}</string>
            </dict>
            <key>monster_ancherwoman_11003:jiao4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{125,281},{11,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,14}}</string>
                <key>sourceSize</key>
                <string>{11,14}</string>
            </dict>
            <key>monster_ancherwoman_11003:k1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{145,355},{61,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{61,52}}</string>
                <key>sourceSize</key>
                <string>{61,52}</string>
            </dict>
            <key>monster_ancherwoman_11003:kudang.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{125,268},{16,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,10}}</string>
                <key>sourceSize</key>
                <string>{16,10}</string>
            </dict>
            <key>monster_ancherwoman_11003:pifeng.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{209,355},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>monster_ancherwoman_11003:pifeng2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{451,334},{55,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,57}}</string>
                <key>sourceSize</key>
                <string>{55,57}</string>
            </dict>
            <key>monster_ancherwoman_11003:shenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{136,225},{24,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,16}}</string>
                <key>sourceSize</key>
                <string>{24,16}</string>
            </dict>
            <key>monster_ancherwoman_11003:shou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{136,145},{19,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,25}}</string>
                <key>sourceSize</key>
                <string>{19,25}</string>
            </dict>
            <key>monster_ancherwoman_11003:shou1 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{136,173},{19,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,25}}</string>
                <key>sourceSize</key>
                <string>{19,25}</string>
            </dict>
            <key>monster_ancherwoman_11003:shou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{266,249},{21,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,17}}</string>
                <key>sourceSize</key>
                <string>{21,17}</string>
            </dict>
            <key>monster_ancherwoman_11003:shou5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{492,75},{14,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,22}}</string>
                <key>sourceSize</key>
                <string>{14,22}</string>
            </dict>
            <key>monster_ancherwoman_11003:shou5 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{492,50},{14,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,22}}</string>
                <key>sourceSize</key>
                <string>{14,22}</string>
            </dict>
            <key>monster_ancherwoman_11003:shoubi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{139,281},{11,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,7}}</string>
                <key>sourceSize</key>
                <string>{11,7}</string>
            </dict>
            <key>monster_ancherwoman_11003:shoubi2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{470,159},{8,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{8,10}}</string>
                <key>sourceSize</key>
                <string>{8,10}</string>
            </dict>
            <key>monster_ancherwoman_11003:t10.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{163,130},{127,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{127,116}}</string>
                <key>sourceSize</key>
                <string>{127,116}</string>
            </dict>
            <key>monster_ancherwoman_11003:t11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,145},{133,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{133,118}}</string>
                <key>sourceSize</key>
                <string>{133,118}</string>
            </dict>
            <key>monster_ancherwoman_11003:t13.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{298,122},{134,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{134,118}}</string>
                <key>sourceSize</key>
                <string>{134,118}</string>
            </dict>
            <key>monster_ancherwoman_11003:t15.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{160,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{160,142}}</string>
                <key>sourceSize</key>
                <string>{160,142}</string>
            </dict>
            <key>monster_ancherwoman_11003:t4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{163,0},{132,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{132,127}}</string>
                <key>sourceSize</key>
                <string>{132,127}</string>
            </dict>
            <key>monster_ancherwoman_11003:t5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{157,249},{106,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{106,103}}</string>
                <key>sourceSize</key>
                <string>{106,103}</string>
            </dict>
            <key>monster_ancherwoman_11003:t8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{266,349},{67,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{67,64}}</string>
                <key>sourceSize</key>
                <string>{67,64}</string>
            </dict>
            <key>monster_ancherwoman_11003:t9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{298,0},{136,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{136,119}}</string>
                <key>sourceSize</key>
                <string>{136,119}</string>
            </dict>
            <key>monster_ancherwoman_11003:tou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{66,364},{33,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,62}}</string>
                <key>sourceSize</key>
                <string>{33,62}</string>
            </dict>
            <key>monster_ancherwoman_11003:tou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{102,376},{34,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,52}}</string>
                <key>sourceSize</key>
                <string>{34,52}</string>
            </dict>
            <key>monster_ancherwoman_11003:tui1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{136,201},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{20,21}</string>
            </dict>
            <key>monster_ancherwoman_11003:tui2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{492,27},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>monster_ancherwoman_11003:tui3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{417,243},{14,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,21}}</string>
                <key>sourceSize</key>
                <string>{14,21}</string>
            </dict>
            <key>monster_ancherwoman_11003:tui4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{417,267},{10,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,22}}</string>
                <key>sourceSize</key>
                <string>{10,22}</string>
            </dict>
            <key>monster_ancherwoman_11003:tui5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{112,266},{10,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,24}}</string>
                <key>sourceSize</key>
                <string>{10,24}</string>
            </dict>
            <key>monster_ancherwoman_11003:tui7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{482,87},{7,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,24}}</string>
                <key>sourceSize</key>
                <string>{7,24}</string>
            </dict>
            <key>monster_ancherwoman_11003:weijing.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{139,410},{32,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,15}}</string>
                <key>sourceSize</key>
                <string>{32,15}</string>
            </dict>
            <key>monster_ancherwoman_11003:wuqi1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{482,121},{24,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,56}}</string>
                <key>sourceSize</key>
                <string>{24,56}</string>
            </dict>
            <key>monster_ancherwoman_11003:wuqi2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{444,394},{58,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,26}}</string>
                <key>sourceSize</key>
                <string>{58,26}</string>
            </dict>
            <key>monster_ancherwoman_11003:wuqi3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{437,87},{42,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{42,69}}</string>
                <key>sourceSize</key>
                <string>{42,69}</string>
            </dict>
            <key>monster_ancherwoman_11003:x1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{470,180},{32,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,74}}</string>
                <key>sourceSize</key>
                <string>{32,74}</string>
            </dict>
            <key>monster_ancherwoman_11003:x2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{435,159},{32,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,74}}</string>
                <key>sourceSize</key>
                <string>{32,74}</string>
            </dict>
            <key>monster_ancherwoman_11003:x3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{435,236},{31,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,74}}</string>
                <key>sourceSize</key>
                <string>{31,74}</string>
            </dict>
            <key>monster_ancherwoman_11003:x4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{469,257},{31,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,74}}</string>
                <key>sourceSize</key>
                <string>{31,74}</string>
            </dict>
            <key>monster_ancherwoman_11003:x5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{417,313},{31,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,73}}</string>
                <key>sourceSize</key>
                <string>{31,73}</string>
            </dict>
            <key>monster_ancherwoman_11003:x6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{33,364},{30,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,73}}</string>
                <key>sourceSize</key>
                <string>{30,73}</string>
            </dict>
            <key>monster_ancherwoman_11003:x7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,364},{30,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,73}}</string>
                <key>sourceSize</key>
                <string>{30,73}</string>
            </dict>
            <key>monster_ancherwoman_11003:x9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{112,298},{30,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,75}}</string>
                <key>sourceSize</key>
                <string>{30,75}</string>
            </dict>
            <key>monster_ancherwoman_11003:z2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{336,349},{64,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{64,67}}</string>
                <key>sourceSize</key>
                <string>{64,67}</string>
            </dict>
            <key>monster_ancherwoman_11003:z656.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{437,0},{52,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{52,84}}</string>
                <key>sourceSize</key>
                <string>{52,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_ancherwoman_11003.pvr.ccz</string>
            <key>size</key>
            <string>{509,437}</string>
            <key>textureFileName</key>
            <string>monster_ancherwoman_11003.pvr.ccz</string>
        </dict>
    </dict>
</plist>
