<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_fengyuansu_10021:Bshou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{222,135},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>monster_fengyuansu_10021:Bzuos.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{216,187},{23,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,21}}</string>
                <key>sourceSize</key>
                <string>{23,21}</string>
            </dict>
            <key>monster_fengyuansu_10021:bcsd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{113,0},{109,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{109,77}}</string>
                <key>sourceSize</key>
                <string>{109,77}</string>
            </dict>
            <key>monster_fengyuansu_10021:bsgdc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{110,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{110,83}}</string>
                <key>sourceSize</key>
                <string>{110,83}</string>
            </dict>
            <key>monster_fengyuansu_10021:bud.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{197,186},{16,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,14}}</string>
                <key>sourceSize</key>
                <string>{16,14}</string>
            </dict>
            <key>monster_fengyuansu_10021:jskdw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{104,160},{90,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{90,80}}</string>
                <key>sourceSize</key>
                <string>{90,80}</string>
            </dict>
            <key>monster_fengyuansu_10021:mjfdk.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,86},{101,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{101,82}}</string>
                <key>sourceSize</key>
                <string>{101,82}</string>
            </dict>
            <key>monster_fengyuansu_10021:mslad.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,171},{92,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{92,76}}</string>
                <key>sourceSize</key>
                <string>{92,76}</string>
            </dict>
            <key>monster_fengyuansu_10021:pqowd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{113,80},{106,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{106,77}}</string>
                <key>sourceSize</key>
                <string>{106,77}</string>
            </dict>
            <key>monster_fengyuansu_10021:sdkjf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{222,105},{23,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,27}}</string>
                <key>sourceSize</key>
                <string>{23,27}</string>
            </dict>
            <key>monster_fengyuansu_10021:vfkld.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{197,211},{25,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,16}}</string>
                <key>sourceSize</key>
                <string>{25,16}</string>
            </dict>
            <key>monster_fengyuansu_10021:youshoubi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{225,0},{19,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,51}}</string>
                <key>sourceSize</key>
                <string>{19,51}</string>
            </dict>
            <key>monster_fengyuansu_10021:youshouz.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{219,162},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>monster_fengyuansu_10021:zuoshoubi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{225,54},{21,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,48}}</string>
                <key>sourceSize</key>
                <string>{21,48}</string>
            </dict>
            <key>monster_fengyuansu_10021:zuoshouz.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{197,160},{19,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,23}}</string>
                <key>sourceSize</key>
                <string>{19,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_fengyuansu_10021.pvr.ccz</string>
            <key>size</key>
            <string>{246,249}</string>
            <key>textureFileName</key>
            <string>monster_fengyuansu_10021.pvr.ccz</string>
        </dict>
    </dict>
</plist>
