<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_bingjingshou_19022:123.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{315,206},{154,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{154,128}}</string>
                <key>sourceSize</key>
                <string>{154,128}</string>
            </dict>
            <key>monster_bingjingshou_19022:34we.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{218,773},{232,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{232,111}}</string>
                <key>sourceSize</key>
                <string>{232,111}</string>
            </dict>
            <key>monster_bingjingshou_19022:Bsuijinag.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{228,528},{63,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{63,57}}</string>
                <key>sourceSize</key>
                <string>{63,57}</string>
            </dict>
            <key>monster_bingjingshou_19022:Btou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{235,204},{78,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{78,95}}</string>
                <key>sourceSize</key>
                <string>{78,95}</string>
            </dict>
            <key>monster_bingjingshou_19022:Bxiaba.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{222,587},{68,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,49}}</string>
                <key>sourceSize</key>
                <string>{68,49}</string>
            </dict>
            <key>monster_bingjingshou_19022:Bzhua.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{438,703},{51,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{51,39}}</string>
                <key>sourceSize</key>
                <string>{51,39}</string>
            </dict>
            <key>monster_bingjingshou_19022:Fhoudatui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{465,0},{40,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,35}}</string>
                <key>sourceSize</key>
                <string>{40,35}</string>
            </dict>
            <key>monster_bingjingshou_19022:Fhoushen.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{235,301},{78,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{78,87}}</string>
                <key>sourceSize</key>
                <string>{78,87}</string>
            </dict>
            <key>monster_bingjingshou_19022:Fhouxiaotui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{465,77},{24,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,39}}</string>
                <key>sourceSize</key>
                <string>{24,39}</string>
            </dict>
            <key>monster_bingjingshou_19022:Fkai.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{338,679},{50,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{50,57}}</string>
                <key>sourceSize</key>
                <string>{50,57}</string>
            </dict>
            <key>monster_bingjingshou_19022:Fkai2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{222,699},{51,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{51,48}}</string>
                <key>sourceSize</key>
                <string>{51,48}</string>
            </dict>
            <key>monster_bingjingshou_19022:Fqianshen.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{441,408},{64,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{64,67}}</string>
                <key>sourceSize</key>
                <string>{64,67}</string>
            </dict>
            <key>monster_bingjingshou_19022:Ftou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{313,417},{104,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{104,95}}</string>
                <key>sourceSize</key>
                <string>{104,95}</string>
            </dict>
            <key>monster_bingjingshou_19022:Fxiaba.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{228,474},{78,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{78,52}}</string>
                <key>sourceSize</key>
                <string>{78,52}</string>
            </dict>
            <key>monster_bingjingshou_19022:Fzuodatui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{465,118},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>monster_bingjingshou_19022:Fzuoxiaotui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{465,37},{26,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,38}}</string>
                <key>sourceSize</key>
                <string>{26,38}</string>
            </dict>
            <key>monster_bingjingshou_19022:Fzuozhua.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{222,638},{55,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,59}}</string>
                <key>sourceSize</key>
                <string>{55,59}</string>
            </dict>
            <key>monster_bingjingshou_19022:bse.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,587},{220,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{220,119}}</string>
                <key>sourceSize</key>
                <string>{220,119}</string>
            </dict>
            <key>monster_bingjingshou_19022:erte.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,352},{230,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{230,115}}</string>
                <key>sourceSize</key>
                <string>{230,115}</string>
            </dict>
            <key>monster_bingjingshou_19022:houzhua.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{390,703},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>monster_bingjingshou_19022:ioty.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,827},{208,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{208,115}}</string>
                <key>sourceSize</key>
                <string>{208,115}</string>
            </dict>
            <key>monster_bingjingshou_19022:klwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,204},{233,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{233,146}}</string>
                <key>sourceSize</key>
                <string>{233,146}</string>
            </dict>
            <key>monster_bingjingshou_19022:krt.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{320,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{320,202}}</string>
                <key>sourceSize</key>
                <string>{320,202}</string>
            </dict>
            <key>monster_bingjingshou_19022:ner.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,469},{226,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{226,116}}</string>
                <key>sourceSize</key>
                <string>{226,116}</string>
            </dict>
            <key>monster_bingjingshou_19022:pqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{292,612},{96,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{96,65}}</string>
                <key>sourceSize</key>
                <string>{96,65}</string>
            </dict>
            <key>monster_bingjingshou_19022:tloweq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{232,390},{79,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{79,82}}</string>
                <key>sourceSize</key>
                <string>{79,82}</string>
            </dict>
            <key>monster_bingjingshou_19022:toqwk.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{441,336},{66,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{66,70}}</string>
                <key>sourceSize</key>
                <string>{66,70}</string>
            </dict>
            <key>monster_bingjingshou_19022:tpqs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{308,514},{101,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{101,96}}</string>
                <key>sourceSize</key>
                <string>{101,96}</string>
            </dict>
            <key>monster_bingjingshou_19022:tvvd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{419,477},{85,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{85,86}}</string>
                <key>sourceSize</key>
                <string>{85,86}</string>
            </dict>
            <key>monster_bingjingshou_19022:vawe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{275,732},{51,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{51,39}}</string>
                <key>sourceSize</key>
                <string>{51,39}</string>
            </dict>
            <key>monster_bingjingshou_19022:vawe3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{322,0},{141,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{141,204}}</string>
                <key>sourceSize</key>
                <string>{141,204}</string>
            </dict>
            <key>monster_bingjingshou_19022:vaweka.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{390,655},{88,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{88,46}}</string>
                <key>sourceSize</key>
                <string>{88,46}</string>
            </dict>
            <key>monster_bingjingshou_19022:vsd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{315,336},{124,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{124,79}}</string>
                <key>sourceSize</key>
                <string>{124,79}</string>
            </dict>
            <key>monster_bingjingshou_19022:vswe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,708},{216,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{216,117}}</string>
                <key>sourceSize</key>
                <string>{216,117}</string>
            </dict>
            <key>monster_bingjingshou_19022:vwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{279,679},{57,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{57,51}}</string>
                <key>sourceSize</key>
                <string>{57,51}</string>
            </dict>
            <key>monster_bingjingshou_19022:weiba.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{411,565},{99,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{99,88}}</string>
                <key>sourceSize</key>
                <string>{99,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_bingjingshou_19022.pvr.ccz</string>
            <key>size</key>
            <string>{512,939}</string>
            <key>textureFileName</key>
            <string>monster_bingjingshou_19022.pvr.ccz</string>
        </dict>
    </dict>
</plist>
