<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_magicleader_19505:baw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{532,0},{284,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{284,95}}</string>
                <key>sourceSize</key>
                <string>{284,95}</string>
            </dict>
            <key>monster_magicleader_19505:d1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{818,0},{180,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{180,178}}</string>
                <key>sourceSize</key>
                <string>{180,178}</string>
            </dict>
            <key>monster_magicleader_19505:n jian1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1000,18},{21,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,14}}</string>
                <key>sourceSize</key>
                <string>{21,14}</string>
            </dict>
            <key>monster_magicleader_19505:n jian2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1000,34},{19,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,12}}</string>
                <key>sourceSize</key>
                <string>{19,12}</string>
            </dict>
            <key>monster_magicleader_19505:n pifeng1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{209,191},{102,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{102,107}}</string>
                <key>sourceSize</key>
                <string>{102,107}</string>
            </dict>
            <key>monster_magicleader_19505:n pifeng2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{938,298},{80,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{80,44}}</string>
                <key>sourceSize</key>
                <string>{80,44}</string>
            </dict>
            <key>monster_magicleader_19505:n shenti1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1000,0},{20,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,16}}</string>
                <key>sourceSize</key>
                <string>{20,16}</string>
            </dict>
            <key>monster_magicleader_19505:n shou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{171,325},{25,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,28}}</string>
                <key>sourceSize</key>
                <string>{25,28}</string>
            </dict>
            <key>monster_magicleader_19505:n shou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1000,98},{11,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,13}}</string>
                <key>sourceSize</key>
                <string>{11,13}</string>
            </dict>
            <key>monster_magicleader_19505:n shou2 2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1000,48},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>monster_magicleader_19505:n shoubi2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1000,65},{12,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,16}}</string>
                <key>sourceSize</key>
                <string>{12,16}</string>
            </dict>
            <key>monster_magicleader_19505:n tou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{930,393},{36,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{36,49}}</string>
                <key>sourceSize</key>
                <string>{36,49}</string>
            </dict>
            <key>monster_magicleader_19505:n tou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,359},{102,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{102,74}}</string>
                <key>sourceSize</key>
                <string>{102,74}</string>
            </dict>
            <key>monster_magicleader_19505:n tou2 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{645,307},{37,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,50}}</string>
                <key>sourceSize</key>
                <string>{37,50}</string>
            </dict>
            <key>monster_magicleader_19505:n tou2 2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{509,356},{102,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{102,74}}</string>
                <key>sourceSize</key>
                <string>{102,74}</string>
            </dict>
            <key>monster_magicleader_19505:n xiati1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{930,344},{55,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,47}}</string>
                <key>sourceSize</key>
                <string>{55,47}</string>
            </dict>
            <key>monster_magicleader_19505:n xiati1 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{313,389},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>monster_magicleader_19505:n xiati1 2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{645,253},{44,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{44,52}}</string>
                <key>sourceSize</key>
                <string>{44,52}</string>
            </dict>
            <key>monster_magicleader_19505:n xiati1 3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{363,389},{52,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{52,40}}</string>
                <key>sourceSize</key>
                <string>{52,40}</string>
            </dict>
            <key>monster_magicleader_19505:n xiati1 4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{452,325},{55,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,47}}</string>
                <key>sourceSize</key>
                <string>{55,47}</string>
            </dict>
            <key>monster_magicleader_19505:n xiati1 5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{452,374},{54,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{54,45}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>monster_magicleader_19505:n xiati1 7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{613,359},{55,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,47}}</string>
                <key>sourceSize</key>
                <string>{55,47}</string>
            </dict>
            <key>monster_magicleader_19505:nv shoubi1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1000,83},{11,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,13}}</string>
                <key>sourceSize</key>
                <string>{11,13}</string>
            </dict>
            <key>monster_magicleader_19505:nv shoubi1 3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{171,355},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>monster_magicleader_19505:nweijing.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{987,344},{32,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,13}}</string>
                <key>sourceSize</key>
                <string>{32,13}</string>
            </dict>
            <key>monster_magicleader_19505:v1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,244},{121,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{121,113}}</string>
                <key>sourceSize</key>
                <string>{121,113}</string>
            </dict>
            <key>monster_magicleader_19505:v12ds.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{454,253},{57,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{57,70}}</string>
                <key>sourceSize</key>
                <string>{57,70}</string>
            </dict>
            <key>monster_magicleader_19505:v2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{321,186},{131,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{131,112}}</string>
                <key>sourceSize</key>
                <string>{131,112}</string>
            </dict>
            <key>monster_magicleader_19505:v3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{684,347},{109,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{109,95}}</string>
                <key>sourceSize</key>
                <string>{109,95}</string>
            </dict>
            <key>monster_magicleader_19505:v4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{532,97},{157,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{157,154}}</string>
                <key>sourceSize</key>
                <string>{157,154}</string>
            </dict>
            <key>monster_magicleader_19505:v5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{321,0},{209,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{209,184}}</string>
                <key>sourceSize</key>
                <string>{209,184}</string>
            </dict>
            <key>monster_magicleader_19505:vmqw23.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,79},{207,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{207,163}}</string>
                <key>sourceSize</key>
                <string>{207,163}</string>
            </dict>
            <key>monster_magicleader_19505:vnvsw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{938,180},{65,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{65,116}}</string>
                <key>sourceSize</key>
                <string>{65,116}</string>
            </dict>
            <key>monster_magicleader_19505:vvawesv2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{319,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{319,77}}</string>
                <key>sourceSize</key>
                <string>{319,77}</string>
            </dict>
            <key>monster_magicleader_19505:vvawsww.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{513,253},{130,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{130,101}}</string>
                <key>sourceSize</key>
                <string>{130,101}</string>
            </dict>
            <key>monster_magicleader_19505:vvws23.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{313,300},{137,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{137,87}}</string>
                <key>sourceSize</key>
                <string>{137,87}</string>
            </dict>
            <key>monster_magicleader_19505:wuqi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{123,325},{46,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,70}}</string>
                <key>sourceSize</key>
                <string>{46,70}</string>
            </dict>
            <key>monster_magicleader_19505:y1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{691,97},{123,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{123,129}}</string>
                <key>sourceSize</key>
                <string>{123,129}</string>
            </dict>
            <key>monster_magicleader_19505:y2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{816,180},{120,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{120,125}}</string>
                <key>sourceSize</key>
                <string>{120,125}</string>
            </dict>
            <key>monster_magicleader_19505:y3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{816,307},{112,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{112,108}}</string>
                <key>sourceSize</key>
                <string>{112,108}</string>
            </dict>
            <key>monster_magicleader_19505:y4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{209,79},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>monster_magicleader_19505:y5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{691,228},{123,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{123,117}}</string>
                <key>sourceSize</key>
                <string>{123,117}</string>
            </dict>
            <key>monster_magicleader_19505:y6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{207,300},{104,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{104,100}}</string>
                <key>sourceSize</key>
                <string>{104,100}</string>
            </dict>
            <key>monster_magicleader_19505:y7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{123,244},{82,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{82,79}}</string>
                <key>sourceSize</key>
                <string>{82,79}</string>
            </dict>
            <key>monster_magicleader_19505:y8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{454,186},{66,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{66,65}}</string>
                <key>sourceSize</key>
                <string>{66,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_magicleader_19505.pvr.ccz</string>
            <key>size</key>
            <string>{1021,443}</string>
            <key>textureFileName</key>
            <string>monster_magicleader_19505.pvr.ccz</string>
        </dict>
    </dict>
</plist>
