<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_cyclopia_10097:bc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{324,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{324,294}}</string>
                <key>sourceSize</key>
                <string>{324,294}</string>
            </dict>
            <key>monster_cyclopia_10097:iquwc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{307,462},{76,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{76,32}}</string>
                <key>sourceSize</key>
                <string>{76,32}</string>
            </dict>
            <key>monster_cyclopia_10097:jiao1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{226,445},{21,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,20}}</string>
                <key>sourceSize</key>
                <string>{21,20}</string>
            </dict>
            <key>monster_cyclopia_10097:jiao2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{387,403},{27,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,33}}</string>
                <key>sourceSize</key>
                <string>{27,33}</string>
            </dict>
            <key>monster_cyclopia_10097:jiao6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{252,437},{32,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,24}}</string>
                <key>sourceSize</key>
                <string>{32,24}</string>
            </dict>
            <key>monster_cyclopia_10097:jiao7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{277,467},{17,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,18}}</string>
                <key>sourceSize</key>
                <string>{17,18}</string>
            </dict>
            <key>monster_cyclopia_10097:ndrt.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,430},{76,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{76,56}}</string>
                <key>sourceSize</key>
                <string>{76,56}</string>
            </dict>
            <key>monster_cyclopia_10097:nvnvb.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,297},{148,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{148,71}}</string>
                <key>sourceSize</key>
                <string>{148,71}</string>
            </dict>
            <key>monster_cyclopia_10097:qcawe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{414,446},{69,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{69,53}}</string>
                <key>sourceSize</key>
                <string>{69,53}</string>
            </dict>
            <key>monster_cyclopia_10097:qwevv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{451,186},{57,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{57,45}}</string>
                <key>sourceSize</key>
                <string>{57,45}</string>
            </dict>
            <key>monster_cyclopia_10097:shenti1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{432,348},{67,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{67,95}}</string>
                <key>sourceSize</key>
                <string>{67,95}</string>
            </dict>
            <key>monster_cyclopia_10097:shenti2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{313,298},{71,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{71,95}}</string>
                <key>sourceSize</key>
                <string>{71,95}</string>
            </dict>
            <key>monster_cyclopia_10097:shou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{451,291},{46,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,54}}</string>
                <key>sourceSize</key>
                <string>{46,54}</string>
            </dict>
            <key>monster_cyclopia_10097:shou6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{387,352},{35,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,48}}</string>
                <key>sourceSize</key>
                <string>{35,48}</string>
            </dict>
            <key>monster_cyclopia_10097:shoubi1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{387,298},{42,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{42,51}}</string>
                <key>sourceSize</key>
                <string>{42,51}</string>
            </dict>
            <key>monster_cyclopia_10097:shoubi2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{268,398},{30,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,36}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>monster_cyclopia_10097:shoubi4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{268,297},{42,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{42,51}}</string>
                <key>sourceSize</key>
                <string>{42,51}</string>
            </dict>
            <key>monster_cyclopia_10097:shoubi6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{456,62},{43,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,59}}</string>
                <key>sourceSize</key>
                <string>{43,59}</string>
            </dict>
            <key>monster_cyclopia_10097:shoubi6 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{456,124},{43,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,59}}</string>
                <key>sourceSize</key>
                <string>{43,59}</string>
            </dict>
            <key>monster_cyclopia_10097:shoubi7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{268,351},{41,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{41,44}}</string>
                <key>sourceSize</key>
                <string>{41,44}</string>
            </dict>
            <key>monster_cyclopia_10097:tou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{456,0},{51,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{51,59}}</string>
                <key>sourceSize</key>
                <string>{51,59}</string>
            </dict>
            <key>monster_cyclopia_10097:tou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{451,234},{46,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,54}}</string>
                <key>sourceSize</key>
                <string>{46,54}</string>
            </dict>
            <key>monster_cyclopia_10097:tui1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{250,464},{24,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,23}}</string>
                <key>sourceSize</key>
                <string>{24,23}</string>
            </dict>
            <key>monster_cyclopia_10097:tui2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{432,298},{14,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,20}}</string>
                <key>sourceSize</key>
                <string>{14,20}</string>
            </dict>
            <key>monster_cyclopia_10097:tui3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{226,405},{23,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,37}}</string>
                <key>sourceSize</key>
                <string>{23,37}</string>
            </dict>
            <key>monster_cyclopia_10097:tui4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{432,321},{12,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,16}}</string>
                <key>sourceSize</key>
                <string>{12,16}</string>
            </dict>
            <key>monster_cyclopia_10097:tui5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{387,439},{24,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,25}}</string>
                <key>sourceSize</key>
                <string>{24,25}</string>
            </dict>
            <key>monster_cyclopia_10097:tui7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{287,437},{17,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,27}}</string>
                <key>sourceSize</key>
                <string>{17,27}</string>
            </dict>
            <key>monster_cyclopia_10097:tui8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{486,446},{17,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,23}}</string>
                <key>sourceSize</key>
                <string>{17,23}</string>
            </dict>
            <key>monster_cyclopia_10097:tui9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{500,234},{8,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{8,14}}</string>
                <key>sourceSize</key>
                <string>{8,14}</string>
            </dict>
            <key>monster_cyclopia_10097:vawqr.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{312,396},{72,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{72,63}}</string>
                <key>sourceSize</key>
                <string>{72,63}</string>
            </dict>
            <key>monster_cyclopia_10097:vawvsd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,371},{136,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{136,56}}</string>
                <key>sourceSize</key>
                <string>{136,56}</string>
            </dict>
            <key>monster_cyclopia_10097:vxcvx.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{139,405},{84,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{84,61}}</string>
                <key>sourceSize</key>
                <string>{84,61}</string>
            </dict>
            <key>monster_cyclopia_10097:wuqi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{327,0},{126,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{126,158}}</string>
                <key>sourceSize</key>
                <string>{126,158}</string>
            </dict>
            <key>monster_cyclopia_10097:wuqi2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{327,161},{121,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{121,134}}</string>
                <key>sourceSize</key>
                <string>{121,134}</string>
            </dict>
            <key>monster_cyclopia_10097:wuqi2 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{151,297},{114,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{114,105}}</string>
                <key>sourceSize</key>
                <string>{114,105}</string>
            </dict>
            <key>monster_cyclopia_10097:wuqi4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{79,430},{44,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{44,43}}</string>
                <key>sourceSize</key>
                <string>{44,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_cyclopia_10097.pvr.ccz</string>
            <key>size</key>
            <string>{508,499}</string>
            <key>textureFileName</key>
            <string>monster_cyclopia_10097.pvr.ccz</string>
        </dict>
    </dict>
</plist>
