<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_leirenzhang_19507:123123.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{403,274},{8,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{8,17}}</string>
                <key>sourceSize</key>
                <string>{8,17}</string>
            </dict>
            <key>monster_leirenzhang_19507:1231w.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{415,270},{19,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,20}}</string>
                <key>sourceSize</key>
                <string>{19,20}</string>
            </dict>
            <key>monster_leirenzhang_19507:123412gta.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{386,274},{15,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,24}}</string>
                <key>sourceSize</key>
                <string>{15,24}</string>
            </dict>
            <key>monster_leirenzhang_19507:12341hka.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{185,300},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>monster_leirenzhang_19507:123as.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{200,232},{28,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,30}}</string>
                <key>sourceSize</key>
                <string>{28,30}</string>
            </dict>
            <key>monster_leirenzhang_19507:123asc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{167,299},{16,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,14}}</string>
                <key>sourceSize</key>
                <string>{16,14}</string>
            </dict>
            <key>monster_leirenzhang_19507:123cas.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{168,282},{20,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,15}}</string>
                <key>sourceSize</key>
                <string>{20,15}</string>
            </dict>
            <key>monster_leirenzhang_19507:123dqbg.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{451,303},{13,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,7}}</string>
                <key>sourceSize</key>
                <string>{13,7}</string>
            </dict>
            <key>monster_leirenzhang_19507:123vga.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{453,293},{24,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,8}}</string>
                <key>sourceSize</key>
                <string>{24,8}</string>
            </dict>
            <key>monster_leirenzhang_19507:87qwea.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{405,183},{11,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,34}}</string>
                <key>sourceSize</key>
                <string>{11,34}</string>
            </dict>
            <key>monster_leirenzhang_19507:8a7sda.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{390,134},{13,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,50}}</string>
                <key>sourceSize</key>
                <string>{13,50}</string>
            </dict>
            <key>monster_leirenzhang_19507:8dqwec.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{399,317},{59,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{59,67}}</string>
                <key>sourceSize</key>
                <string>{59,67}</string>
            </dict>
            <key>monster_leirenzhang_19507:8jhdyqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{390,223},{7,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,23}}</string>
                <key>sourceSize</key>
                <string>{7,23}</string>
            </dict>
            <key>monster_leirenzhang_19507:8q7weq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{388,386},{118,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{118,22}}</string>
                <key>sourceSize</key>
                <string>{118,22}</string>
            </dict>
            <key>monster_leirenzhang_19507:8qywe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{399,219},{16,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,35}}</string>
                <key>sourceSize</key>
                <string>{16,35}</string>
            </dict>
            <key>monster_leirenzhang_19507:90vqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{453,278},{24,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,13}}</string>
                <key>sourceSize</key>
                <string>{24,13}</string>
            </dict>
            <key>monster_leirenzhang_19507:avasqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,104},{199,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{199,109}}</string>
                <key>sourceSize</key>
                <string>{199,109}</string>
            </dict>
            <key>monster_leirenzhang_19507:bertyy.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{211,282},{14,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,21}}</string>
                <key>sourceSize</key>
                <string>{14,21}</string>
            </dict>
            <key>monster_leirenzhang_19507:bgas.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{436,270},{15,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,24}}</string>
                <key>sourceSize</key>
                <string>{15,24}</string>
            </dict>
            <key>monster_leirenzhang_19507:casqr6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,344},{137,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{137,106}}</string>
                <key>sourceSize</key>
                <string>{137,106}</string>
            </dict>
            <key>monster_leirenzhang_19507:casqrtq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{190,282},{19,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,16}}</string>
                <key>sourceSize</key>
                <string>{19,16}</string>
            </dict>
            <key>monster_leirenzhang_19507:casqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{418,148},{41,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{41,120}}</string>
                <key>sourceSize</key>
                <string>{41,120}</string>
            </dict>
            <key>monster_leirenzhang_19507:casqwe5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{199,264},{24,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,16}}</string>
                <key>sourceSize</key>
                <string>{24,16}</string>
            </dict>
            <key>monster_leirenzhang_19507:casqwer5q.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{146,247},{26,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{26,32}</string>
            </dict>
            <key>monster_leirenzhang_19507:castyq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{461,148},{41,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{41,94}}</string>
                <key>sourceSize</key>
                <string>{41,94}</string>
            </dict>
            <key>monster_leirenzhang_19507:casvqwetq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{240,0},{183,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{183,132}}</string>
                <key>sourceSize</key>
                <string>{183,132}</string>
            </dict>
            <key>monster_leirenzhang_19507:cavqwe5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{436,296},{13,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,19}}</string>
                <key>sourceSize</key>
                <string>{13,19}</string>
            </dict>
            <key>monster_leirenzhang_19507:cvast5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,215},{144,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{144,127}}</string>
                <key>sourceSize</key>
                <string>{144,127}</string>
            </dict>
            <key>monster_leirenzhang_19507:cvasvqwetq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{359,435},{126,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{126,90}}</string>
                <key>sourceSize</key>
                <string>{126,90}</string>
            </dict>
            <key>monster_leirenzhang_19507:dqw412.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{386,256},{27,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,16}}</string>
                <key>sourceSize</key>
                <string>{27,16}</string>
            </dict>
            <key>monster_leirenzhang_19507:dqwer41.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{413,292},{21,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,12}}</string>
                <key>sourceSize</key>
                <string>{21,12}</string>
            </dict>
            <key>monster_leirenzhang_19507:dqwev.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{230,104},{1,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{1,63}}</string>
                <key>sourceSize</key>
                <string>{1,63}</string>
            </dict>
            <key>monster_leirenzhang_19507:e123123d.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{388,410},{74,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{74,23}}</string>
                <key>sourceSize</key>
                <string>{74,23}</string>
            </dict>
            <key>monster_leirenzhang_19507:eqwerq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{495,300},{13,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,16}}</string>
                <key>sourceSize</key>
                <string>{13,16}</string>
            </dict>
            <key>monster_leirenzhang_19507:eqwetq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{479,278},{14,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,23}}</string>
                <key>sourceSize</key>
                <string>{14,23}</string>
            </dict>
            <key>monster_leirenzhang_19507:fcasqwet4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{367,290},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>monster_leirenzhang_19507:fqwetq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{367,256},{17,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,32}}</string>
                <key>sourceSize</key>
                <string>{17,32}</string>
            </dict>
            <key>monster_leirenzhang_19507:mjcuasqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{385,300},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>monster_leirenzhang_19507:nhmqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{233,134},{155,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{155,120}}</string>
                <key>sourceSize</key>
                <string>{155,120}</string>
            </dict>
            <key>monster_leirenzhang_19507:opqweq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{146,299},{19,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,13}}</string>
                <key>sourceSize</key>
                <string>{19,13}</string>
            </dict>
            <key>monster_leirenzhang_19507:qw412.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{461,244},{40,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,32}}</string>
                <key>sourceSize</key>
                <string>{40,32}</string>
            </dict>
            <key>monster_leirenzhang_19507:qwebyq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{174,247},{23,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,33}}</string>
                <key>sourceSize</key>
                <string>{23,33}</string>
            </dict>
            <key>monster_leirenzhang_19507:qwetqwq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{146,281},{20,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,16}}</string>
                <key>sourceSize</key>
                <string>{20,16}</string>
            </dict>
            <key>monster_leirenzhang_19507:qwtqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{201,104},{27,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,92}}</string>
                <key>sourceSize</key>
                <string>{27,92}</string>
            </dict>
            <key>monster_leirenzhang_19507:sprite 12.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{425,0},{83,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{83,146}}</string>
                <key>sourceSize</key>
                <string>{83,146}</string>
            </dict>
            <key>monster_leirenzhang_19507:sprite 3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{206,374},{180,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{180,45}}</string>
                <key>sourceSize</key>
                <string>{180,45}</string>
            </dict>
            <key>monster_leirenzhang_19507:sprite 6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{139,421},{218,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{218,84}}</string>
                <key>sourceSize</key>
                <string>{218,84}</string>
            </dict>
            <key>monster_leirenzhang_19507:sprite 9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{238,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{238,102}}</string>
                <key>sourceSize</key>
                <string>{238,102}</string>
            </dict>
            <key>monster_leirenzhang_19507:uaysqwqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{405,134},{11,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,47}}</string>
                <key>sourceSize</key>
                <string>{11,47}</string>
            </dict>
            <key>monster_leirenzhang_19507:uqyw7e.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{495,278},{15,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,20}}</string>
                <key>sourceSize</key>
                <string>{15,20}</string>
            </dict>
            <key>monster_leirenzhang_19507:uyasdqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{146,317},{58,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,70}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>monster_leirenzhang_19507:uyqweq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{390,186},{7,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,35}}</string>
                <key>sourceSize</key>
                <string>{7,35}</string>
            </dict>
            <key>monster_leirenzhang_19507:uyqweqt.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{201,198},{27,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,32}}</string>
                <key>sourceSize</key>
                <string>{27,32}</string>
            </dict>
            <key>monster_leirenzhang_19507:vasqr5q.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{230,256},{135,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{135,116}}</string>
                <key>sourceSize</key>
                <string>{135,116}</string>
            </dict>
            <key>monster_leirenzhang_19507:vasqsqtq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{146,215},{52,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{52,30}}</string>
                <key>sourceSize</key>
                <string>{52,30}</string>
            </dict>
            <key>monster_leirenzhang_19507:vbnma.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{503,244},{7,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,10}}</string>
                <key>sourceSize</key>
                <string>{7,10}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_leirenzhang_19507.pvr.ccz</string>
            <key>size</key>
            <string>{511,525}</string>
            <key>textureFileName</key>
            <string>monster_leirenzhang_19507.pvr.ccz</string>
        </dict>
    </dict>
</plist>
