<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_huangshaxiezi_10086:Bci.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{186,186},{63,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{63,43}}</string>
                <key>sourceSize</key>
                <string>{63,43}</string>
            </dict>
            <key>monster_huangshaxiezi_10086:Bduz.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{111,104},{49,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{49,43}}</string>
                <key>sourceSize</key>
                <string>{49,43}</string>
            </dict>
            <key>monster_huangshaxiezi_10086:Bshen1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{206,124},{42,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{42,31}}</string>
                <key>sourceSize</key>
                <string>{42,31}</string>
            </dict>
            <key>monster_huangshaxiezi_10086:Bshen2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{218,41},{34,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,26}}</string>
                <key>sourceSize</key>
                <string>{34,26}</string>
            </dict>
            <key>monster_huangshaxiezi_10086:Btou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{89,200},{56,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{56,40}}</string>
                <key>sourceSize</key>
                <string>{56,40}</string>
            </dict>
            <key>monster_huangshaxiezi_10086:Bwei3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{218,0},{23,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,38}}</string>
                <key>sourceSize</key>
                <string>{23,38}</string>
            </dict>
            <key>monster_huangshaxiezi_10086:Bweu1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{218,70},{31,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,22}}</string>
                <key>sourceSize</key>
                <string>{31,22}</string>
            </dict>
            <key>monster_huangshaxiezi_10086:F youhouz.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,168},{28,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,16}}</string>
                <key>sourceSize</key>
                <string>{28,16}</string>
            </dict>
            <key>monster_huangshaxiezi_10086:F youhouzi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{92,77},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>monster_huangshaxiezi_10086:F yuouqian.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{165,0},{50,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{50,101}}</string>
                <key>sourceSize</key>
                <string>{50,101}</string>
            </dict>
            <key>monster_huangshaxiezi_10086:F zuoqian.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{109,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{109,74}}</string>
                <key>sourceSize</key>
                <string>{109,74}</string>
            </dict>
            <key>monster_huangshaxiezi_10086:Ftou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{31,184},{55,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,52}}</string>
                <key>sourceSize</key>
                <string>{55,52}</string>
            </dict>
            <key>monster_huangshaxiezi_10086:bfdh.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,77},{42,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{42,88}}</string>
                <key>sourceSize</key>
                <string>{42,88}</string>
            </dict>
            <key>monster_huangshaxiezi_10086:duci1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{92,150},{67,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{67,47}}</string>
                <key>sourceSize</key>
                <string>{67,47}</string>
            </dict>
            <key>monster_huangshaxiezi_10086:jia3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{163,104},{40,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,35}}</string>
                <key>sourceSize</key>
                <string>{40,35}</string>
            </dict>
            <key>monster_huangshaxiezi_10086:jia4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{45,160},{24,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,21}}</string>
                <key>sourceSize</key>
                <string>{24,21}</string>
            </dict>
            <key>monster_huangshaxiezi_10086:mhjyuity.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{112,0},{50,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{50,101}}</string>
                <key>sourceSize</key>
                <string>{50,101}</string>
            </dict>
            <key>monster_huangshaxiezi_10086:qian34.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{45,77},{44,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{44,80}}</string>
                <key>sourceSize</key>
                <string>{44,80}</string>
            </dict>
            <key>monster_huangshaxiezi_10086:wei1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{205,158},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>monster_huangshaxiezi_10086:weo2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{218,95},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>monster_huangshaxiezi_10086:youjiao1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{233,158},{20,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,15}}</string>
                <key>sourceSize</key>
                <string>{20,15}</string>
            </dict>
            <key>monster_huangshaxiezi_10086:youjiao2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{184,142},{18,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,17}}</string>
                <key>sourceSize</key>
                <string>{18,17}</string>
            </dict>
            <key>monster_huangshaxiezi_10086:youjiao3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{163,142},{18,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,35}}</string>
                <key>sourceSize</key>
                <string>{18,35}</string>
            </dict>
            <key>monster_huangshaxiezi_10086:zuojiao1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,187},{23,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,11}}</string>
                <key>sourceSize</key>
                <string>{23,11}</string>
            </dict>
            <key>monster_huangshaxiezi_10086:zuojiao2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{92,95},{16,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,12}}</string>
                <key>sourceSize</key>
                <string>{16,12}</string>
            </dict>
            <key>monster_huangshaxiezi_10086:zuojiao3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{162,180},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_huangshaxiezi_10086.pvr.ccz</string>
            <key>size</key>
            <string>{253,241}</string>
            <key>textureFileName</key>
            <string>monster_huangshaxiezi_10086.pvr.ccz</string>
        </dict>
    </dict>
</plist>
