<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_tauren_10106:7duqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{498,55},{12,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,27}}</string>
                <key>sourceSize</key>
                <string>{12,27}</string>
            </dict>
            <key>monster_tauren_10106:98ws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{454,256},{34,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,27}}</string>
                <key>sourceSize</key>
                <string>{34,27}</string>
            </dict>
            <key>monster_tauren_10106:bgnty.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{240,0},{204,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{204,121}}</string>
                <key>sourceSize</key>
                <string>{204,121}</string>
            </dict>
            <key>monster_tauren_10106:bwtq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{371,302},{22,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,15}}</string>
                <key>sourceSize</key>
                <string>{22,15}</string>
            </dict>
            <key>monster_tauren_10106:caqr.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{412,176},{20,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,24}}</string>
                <key>sourceSize</key>
                <string>{20,24}</string>
            </dict>
            <key>monster_tauren_10106:casq3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{238,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{238,121}}</string>
                <key>sourceSize</key>
                <string>{238,121}</string>
            </dict>
            <key>monster_tauren_10106:caswe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{200,217},{22,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,19}}</string>
                <key>sourceSize</key>
                <string>{22,19}</string>
            </dict>
            <key>monster_tauren_10106:caswr.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{412,202},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
            <key>monster_tauren_10106:caswva.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{491,159},{17,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,13}}</string>
                <key>sourceSize</key>
                <string>{17,13}</string>
            </dict>
            <key>monster_tauren_10106:caweqb.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{200,238},{21,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,20}}</string>
                <key>sourceSize</key>
                <string>{21,20}</string>
            </dict>
            <key>monster_tauren_10106:claow.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{171,293},{31,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,20}}</string>
                <key>sourceSize</key>
                <string>{31,20}</string>
            </dict>
            <key>monster_tauren_10106:fgw3w.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{142,247},{34,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,32}}</string>
                <key>sourceSize</key>
                <string>{34,32}</string>
            </dict>
            <key>monster_tauren_10106:iuq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{491,111},{19,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,29}}</string>
                <key>sourceSize</key>
                <string>{19,29}</string>
            </dict>
            <key>monster_tauren_10106:juq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{491,142},{19,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,15}}</string>
                <key>sourceSize</key>
                <string>{19,15}</string>
            </dict>
            <key>monster_tauren_10106:kioqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,247},{69,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{69,89}}</string>
                <key>sourceSize</key>
                <string>{69,89}</string>
            </dict>
            <key>monster_tauren_10106:kiqsc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{412,123},{22,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,51}}</string>
                <key>sourceSize</key>
                <string>{22,51}</string>
            </dict>
            <key>monster_tauren_10106:kiqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{142,281},{27,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,29}}</string>
                <key>sourceSize</key>
                <string>{27,29}</string>
            </dict>
            <key>monster_tauren_10106:kiqw2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{446,0},{57,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{57,53}}</string>
                <key>sourceSize</key>
                <string>{57,53}</string>
            </dict>
            <key>monster_tauren_10106:koq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{446,111},{43,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,48}}</string>
                <key>sourceSize</key>
                <string>{43,48}</string>
            </dict>
            <key>monster_tauren_10106:koqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{204,302},{80,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{80,55}}</string>
                <key>sourceSize</key>
                <string>{80,55}</string>
            </dict>
            <key>monster_tauren_10106:kows.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{224,229},{195,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{195,71}}</string>
                <key>sourceSize</key>
                <string>{195,71}</string>
            </dict>
            <key>monster_tauren_10106:lodqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{498,84},{9,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,6}}</string>
                <key>sourceSize</key>
                <string>{9,6}</string>
            </dict>
            <key>monster_tauren_10106:mcjawq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{226,123},{184,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{184,104}}</string>
                <key>sourceSize</key>
                <string>{184,104}</string>
            </dict>
            <key>monster_tauren_10106:mjiq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{472,213},{34,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,41}}</string>
                <key>sourceSize</key>
                <string>{34,41}</string>
            </dict>
            <key>monster_tauren_10106:mjwq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{421,287},{31,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,22}}</string>
                <key>sourceSize</key>
                <string>{31,22}</string>
            </dict>
            <key>monster_tauren_10106:mkwq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{71,247},{69,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{69,89}}</string>
                <key>sourceSize</key>
                <string>{69,89}</string>
            </dict>
            <key>monster_tauren_10106:njuw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{344,302},{25,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,12}}</string>
                <key>sourceSize</key>
                <string>{25,12}</string>
            </dict>
            <key>monster_tauren_10106:pp34.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{200,184},{24,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,31}}</string>
                <key>sourceSize</key>
                <string>{24,31}</string>
            </dict>
            <key>monster_tauren_10106:q23c.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{178,260},{27,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,31}}</string>
                <key>sourceSize</key>
                <string>{27,31}</string>
            </dict>
            <key>monster_tauren_10106:qw2w.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{446,55},{50,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{50,54}}</string>
                <key>sourceSize</key>
                <string>{50,54}</string>
            </dict>
            <key>monster_tauren_10106:qwecw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{454,285},{38,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,19}}</string>
                <key>sourceSize</key>
                <string>{38,19}</string>
            </dict>
            <key>monster_tauren_10106:ty45.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{200,123},{24,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,59}}</string>
                <key>sourceSize</key>
                <string>{24,59}</string>
            </dict>
            <key>monster_tauren_10106:u82.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{434,201},{36,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{36,42}}</string>
                <key>sourceSize</key>
                <string>{36,42}</string>
            </dict>
            <key>monster_tauren_10106:uqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{313,302},{29,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,11}}</string>
                <key>sourceSize</key>
                <string>{29,11}</string>
            </dict>
            <key>monster_tauren_10106:vaswe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,123},{198,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{198,122}}</string>
                <key>sourceSize</key>
                <string>{198,122}</string>
            </dict>
            <key>monster_tauren_10106:vsdqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{421,245},{31,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,40}}</string>
                <key>sourceSize</key>
                <string>{31,40}</string>
            </dict>
            <key>monster_tauren_10106:vwq4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{436,161},{46,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,38}}</string>
                <key>sourceSize</key>
                <string>{46,38}</string>
            </dict>
            <key>monster_tauren_10106:weqc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{286,302},{25,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,22}}</string>
                <key>sourceSize</key>
                <string>{25,22}</string>
            </dict>
            <key>monster_tauren_10106:weqv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{484,174},{25,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,37}}</string>
                <key>sourceSize</key>
                <string>{25,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_tauren_10106.pvr.ccz</string>
            <key>size</key>
            <string>{511,352}</string>
            <key>textureFileName</key>
            <string>monster_tauren_10106.pvr.ccz</string>
        </dict>
    </dict>
</plist>
