<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_reddragon_10096:a1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{278,153},{136,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{136,143}}</string>
                <key>sourceSize</key>
                <string>{136,143}</string>
            </dict>
            <key>monster_reddragon_10096:a2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{136,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{136,160}}</string>
                <key>sourceSize</key>
                <string>{136,160}</string>
            </dict>
            <key>monster_reddragon_10096:a3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{139,0},{136,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{136,153}}</string>
                <key>sourceSize</key>
                <string>{136,153}</string>
            </dict>
            <key>monster_reddragon_10096:a4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{278,0},{136,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{136,150}}</string>
                <key>sourceSize</key>
                <string>{136,150}</string>
            </dict>
            <key>monster_reddragon_10096:jiao1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{477,0},{29,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,42}}</string>
                <key>sourceSize</key>
                <string>{29,42}</string>
            </dict>
            <key>monster_reddragon_10096:jiao2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{69,163},{33,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,25}}</string>
                <key>sourceSize</key>
                <string>{33,25}</string>
            </dict>
            <key>monster_reddragon_10096:jiao2 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{196,156},{30,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,34}}</string>
                <key>sourceSize</key>
                <string>{30,34}</string>
            </dict>
            <key>monster_reddragon_10096:jiao3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,163},{35,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,26}}</string>
                <key>sourceSize</key>
                <string>{35,26}</string>
            </dict>
            <key>monster_reddragon_10096:jiao3 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{229,156},{28,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,36}}</string>
                <key>sourceSize</key>
                <string>{28,36}</string>
            </dict>
            <key>monster_reddragon_10096:jiao4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{260,191},{15,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,28}}</string>
                <key>sourceSize</key>
                <string>{15,28}</string>
            </dict>
            <key>monster_reddragon_10096:shenti1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{463,149},{44,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{44,41}}</string>
                <key>sourceSize</key>
                <string>{44,41}</string>
            </dict>
            <key>monster_reddragon_10096:shenti2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{473,88},{33,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,58}}</string>
                <key>sourceSize</key>
                <string>{33,58}</string>
            </dict>
            <key>monster_reddragon_10096:shou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{477,45},{26,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,40}}</string>
                <key>sourceSize</key>
                <string>{26,40}</string>
            </dict>
            <key>monster_reddragon_10096:shou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{38,163},{28,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>monster_reddragon_10096:shou3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{463,193},{37,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,20}}</string>
                <key>sourceSize</key>
                <string>{37,20}</string>
            </dict>
            <key>monster_reddragon_10096:shoubi1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{196,193},{16,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,23}}</string>
                <key>sourceSize</key>
                <string>{16,23}</string>
            </dict>
            <key>monster_reddragon_10096:shoubi2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{260,156},{15,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,32}}</string>
                <key>sourceSize</key>
                <string>{15,32}</string>
            </dict>
            <key>monster_reddragon_10096:shoubi3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{105,163},{29,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,20}}</string>
                <key>sourceSize</key>
                <string>{29,20}</string>
            </dict>
            <key>monster_reddragon_10096:sou6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{69,191},{31,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,16}}</string>
                <key>sourceSize</key>
                <string>{31,16}</string>
            </dict>
            <key>monster_reddragon_10096:tou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{417,72},{53,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{53,70}}</string>
                <key>sourceSize</key>
                <string>{53,70}</string>
            </dict>
            <key>monster_reddragon_10096:tou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{139,156},{54,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{54,62}}</string>
                <key>sourceSize</key>
                <string>{54,62}</string>
            </dict>
            <key>monster_reddragon_10096:tui1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,192},{20,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,23}}</string>
                <key>sourceSize</key>
                <string>{20,23}</string>
            </dict>
            <key>monster_reddragon_10096:tui2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{215,195},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{18,20}</string>
            </dict>
            <key>monster_reddragon_10096:tui2 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{236,195},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{18,20}</string>
            </dict>
            <key>monster_reddragon_10096:tui3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{39,197},{13,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,10}}</string>
                <key>sourceSize</key>
                <string>{13,10}</string>
            </dict>
            <key>monster_reddragon_10096:tui4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{105,186},{26,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,23}}</string>
                <key>sourceSize</key>
                <string>{26,23}</string>
            </dict>
            <key>monster_reddragon_10096:tui5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{23,197},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>monster_reddragon_10096:wei2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{417,0},{57,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{57,69}}</string>
                <key>sourceSize</key>
                <string>{57,69}</string>
            </dict>
            <key>monster_reddragon_10096:weiba1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{417,145},{43,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,50}}</string>
                <key>sourceSize</key>
                <string>{43,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_reddragon_10096.pvr.ccz</string>
            <key>size</key>
            <string>{507,283}</string>
            <key>textureFileName</key>
            <string>monster_reddragon_10096.pvr.ccz</string>
        </dict>
    </dict>
</plist>
