<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_tieqiu_10024:Fzui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{90,141},{83,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{83,61}}</string>
                <key>sourceSize</key>
                <string>{83,61}</string>
            </dict>
            <key>monster_tieqiu_10024:M.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{210,137},{31,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,25}}</string>
                <key>sourceSize</key>
                <string>{31,25}</string>
            </dict>
            <key>monster_tieqiu_10024:asdvftr.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{90,0},{84,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{84,138}}</string>
                <key>sourceSize</key>
                <string>{84,138}</string>
            </dict>
            <key>monster_tieqiu_10024:bi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{461,142},{26,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,29}}</string>
                <key>sourceSize</key>
                <string>{26,29}</string>
            </dict>
            <key>monster_tieqiu_10024:cdsasdf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{360,0},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>monster_tieqiu_10024:cvasdva.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{259,0},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>monster_tieqiu_10024:cxzsd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{446,129},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>monster_tieqiu_10024:czxcs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{461,108},{29,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,31}}</string>
                <key>sourceSize</key>
                <string>{29,31}</string>
            </dict>
            <key>monster_tieqiu_10024:er.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{461,64},{40,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,41}}</string>
                <key>sourceSize</key>
                <string>{40,41}</string>
            </dict>
            <key>monster_tieqiu_10024:ffer.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{177,0},{79,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{79,134}}</string>
                <key>sourceSize</key>
                <string>{79,134}</string>
            </dict>
            <key>monster_tieqiu_10024:ippe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{259,101},{82,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{82,95}}</string>
                <key>sourceSize</key>
                <string>{82,95}</string>
            </dict>
            <key>monster_tieqiu_10024:sdvfer.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{87,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{87,141}}</string>
                <key>sourceSize</key>
                <string>{87,141}</string>
            </dict>
            <key>monster_tieqiu_10024:tou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{359,101},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>monster_tieqiu_10024:vdfx.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{493,108},{14,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,22}}</string>
                <key>sourceSize</key>
                <string>{14,22}</string>
            </dict>
            <key>monster_tieqiu_10024:vfdg.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{446,101},{12,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,25}}</string>
                <key>sourceSize</key>
                <string>{12,25}</string>
            </dict>
            <key>monster_tieqiu_10024:ya.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{461,0},{45,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,61}}</string>
                <key>sourceSize</key>
                <string>{45,61}</string>
            </dict>
            <key>monster_tieqiu_10024:youyan.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{344,101},{12,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,28}</string>
            </dict>
            <key>monster_tieqiu_10024:zuoyan.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{177,137},{30,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,27}}</string>
                <key>sourceSize</key>
                <string>{30,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_tieqiu_10024.pvr.ccz</string>
            <key>size</key>
            <string>{507,204}</string>
            <key>textureFileName</key>
            <string>monster_tieqiu_10024.pvr.ccz</string>
        </dict>
    </dict>
</plist>
