<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_cabrite_10102:bdseq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{86,85},{7,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,13}}</string>
                <key>sourceSize</key>
                <string>{7,13}</string>
            </dict>
            <key>monster_cabrite_10102:cas76.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{16,188},{28,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,23}}</string>
                <key>sourceSize</key>
                <string>{28,23}</string>
            </dict>
            <key>monster_cabrite_10102:casq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{108,101},{14,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,25}}</string>
                <key>sourceSize</key>
                <string>{14,25}</string>
            </dict>
            <key>monster_cabrite_10102:casqcsw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{74,219},{10,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,19}}</string>
                <key>sourceSize</key>
                <string>{10,19}</string>
            </dict>
            <key>monster_cabrite_10102:casqvty.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,122},{22,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,36}}</string>
                <key>sourceSize</key>
                <string>{22,36}</string>
            </dict>
            <key>monster_cabrite_10102:casqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,201},{11,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,21}}</string>
                <key>sourceSize</key>
                <string>{11,21}</string>
            </dict>
            <key>monster_cabrite_10102:casqwc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{48,154},{32,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,23}}</string>
                <key>sourceSize</key>
                <string>{32,23}</string>
            </dict>
            <key>monster_cabrite_10102:casqwno.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{98,233},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>monster_cabrite_10102:casqwr.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{82,139},{23,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,28}}</string>
                <key>sourceSize</key>
                <string>{23,28}</string>
            </dict>
            <key>monster_cabrite_10102:casqws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{47,179},{25,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,28}}</string>
                <key>sourceSize</key>
                <string>{25,28}</string>
            </dict>
            <key>monster_cabrite_10102:casqww.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{107,157},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{18,20}</string>
            </dict>
            <key>monster_cabrite_10102:casqwwq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,96},{41,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{41,24}}</string>
                <key>sourceSize</key>
                <string>{41,24}</string>
            </dict>
            <key>monster_cabrite_10102:caswe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{49,85},{35,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,40}}</string>
                <key>sourceSize</key>
                <string>{35,40}</string>
            </dict>
            <key>monster_cabrite_10102:caswq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,238},{26,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,16}}</string>
                <key>sourceSize</key>
                <string>{26,16}</string>
            </dict>
            <key>monster_cabrite_10102:cawev45.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{47,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{47,94}}</string>
                <key>sourceSize</key>
                <string>{47,94}</string>
            </dict>
            <key>monster_cabrite_10102:cqwse.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,178},{14,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,21}}</string>
                <key>sourceSize</key>
                <string>{14,21}</string>
            </dict>
            <key>monster_cabrite_10102:cqwva.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{74,194},{11,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,23}}</string>
                <key>sourceSize</key>
                <string>{11,23}</string>
            </dict>
            <key>monster_cabrite_10102:csaqck.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{24,122},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{22,32}</string>
            </dict>
            <key>monster_cabrite_10102:fjing.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{82,169},{15,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,23}}</string>
                <key>sourceSize</key>
                <string>{15,23}</string>
            </dict>
            <key>monster_cabrite_10102:fshen.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{48,127},{32,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,25}}</string>
                <key>sourceSize</key>
                <string>{32,25}</string>
            </dict>
            <key>monster_cabrite_10102:ftou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{46,209},{26,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,23}}</string>
                <key>sourceSize</key>
                <string>{26,23}</string>
            </dict>
            <key>monster_cabrite_10102:fyaodai.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,160},{22,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,16}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
            <key>monster_cabrite_10102:hfuw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{24,156},{21,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,30}}</string>
                <key>sourceSize</key>
                <string>{21,30}</string>
            </dict>
            <key>monster_cabrite_10102:kcalsoq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{108,37},{15,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,33}}</string>
                <key>sourceSize</key>
                <string>{15,33}</string>
            </dict>
            <key>monster_cabrite_10102:loaw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{98,205},{24,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,26}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>monster_cabrite_10102:lopq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{108,72},{13,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,27}}</string>
                <key>sourceSize</key>
                <string>{13,27}</string>
            </dict>
            <key>monster_cabrite_10102:mkoq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{87,194},{9,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,24}}</string>
                <key>sourceSize</key>
                <string>{9,24}</string>
            </dict>
            <key>monster_cabrite_10102:mkqws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{13,213},{25,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,23}}</string>
                <key>sourceSize</key>
                <string>{25,23}</string>
            </dict>
            <key>monster_cabrite_10102:oi23.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{86,104},{19,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,33}}</string>
                <key>sourceSize</key>
                <string>{19,33}</string>
            </dict>
            <key>monster_cabrite_10102:qwcs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{96,37},{10,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,65}}</string>
                <key>sourceSize</key>
                <string>{10,65}</string>
            </dict>
            <key>monster_cabrite_10102:uiqws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{40,234},{28,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,15}}</string>
                <key>sourceSize</key>
                <string>{28,15}</string>
            </dict>
            <key>monster_cabrite_10102:vasav.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{99,179},{26,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,24}}</string>
                <key>sourceSize</key>
                <string>{26,24}</string>
            </dict>
            <key>monster_cabrite_10102:vasqa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{86,220},{10,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,16}}</string>
                <key>sourceSize</key>
                <string>{10,16}</string>
            </dict>
            <key>monster_cabrite_10102:vaswe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{49,0},{74,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{74,35}}</string>
                <key>sourceSize</key>
                <string>{74,35}</string>
            </dict>
            <key>monster_cabrite_10102:vasweq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{107,128},{12,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,27}}</string>
                <key>sourceSize</key>
                <string>{12,27}</string>
            </dict>
            <key>monster_cabrite_10102:wewer.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{49,37},{45,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,46}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_cabrite_10102.pvr.ccz</string>
            <key>size</key>
            <string>{125,257}</string>
            <key>textureFileName</key>
            <string>monster_cabrite_10102.pvr.ccz</string>
        </dict>
    </dict>
</plist>
