<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_jiangshishouling_19006:asdfa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{734,0},{144,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{144,174}}</string>
                <key>sourceSize</key>
                <string>{144,174}</string>
            </dict>
            <key>monster_jiangshishouling_19006:g1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{726,128},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{0,0}</string>
            </dict>
            <key>monster_jiangshishouling_19006:g2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{161,794},{129,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{129,66}}</string>
                <key>sourceSize</key>
                <string>{129,66}</string>
            </dict>
            <key>monster_jiangshishouling_19006:g3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{503,727},{110,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{110,56}}</string>
                <key>sourceSize</key>
                <string>{110,56}</string>
            </dict>
            <key>monster_jiangshishouling_19006:g4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{697,715},{91,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{91,47}}</string>
                <key>sourceSize</key>
                <string>{91,47}</string>
            </dict>
            <key>monster_jiangshishouling_19006:g5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{243,729},{68,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,35}}</string>
                <key>sourceSize</key>
                <string>{68,35}</string>
            </dict>
            <key>monster_jiangshishouling_19006:g6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{236,767},{45,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,23}}</string>
                <key>sourceSize</key>
                <string>{45,23}</string>
            </dict>
            <key>monster_jiangshishouling_19006:g7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{815,556},{22,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,12}}</string>
                <key>sourceSize</key>
                <string>{22,12}</string>
            </dict>
            <key>monster_jiangshishouling_19006:j  tou3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{476,202},{48,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{48,61}}</string>
                <key>sourceSize</key>
                <string>{48,61}</string>
            </dict>
            <key>monster_jiangshishouling_19006:j daobi1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{422,766},{47,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{47,29}}</string>
                <key>sourceSize</key>
                <string>{47,29}</string>
            </dict>
            <key>monster_jiangshishouling_19006:j daobing2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{756,765},{43,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,29}}</string>
                <key>sourceSize</key>
                <string>{43,29}</string>
            </dict>
            <key>monster_jiangshishouling_19006:j jianbang.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{934,728},{57,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{57,49}}</string>
                <key>sourceSize</key>
                <string>{57,49}</string>
            </dict>
            <key>monster_jiangshishouling_19006:j jiao1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{99,719},{71,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{71,41}}</string>
                <key>sourceSize</key>
                <string>{71,41}</string>
            </dict>
            <key>monster_jiangshishouling_19006:j jiao2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{110,616},{67,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{67,50}}</string>
                <key>sourceSize</key>
                <string>{67,50}</string>
            </dict>
            <key>monster_jiangshishouling_19006:j jiao2 2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{526,331},{170,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{170,119}}</string>
                <key>sourceSize</key>
                <string>{170,119}</string>
            </dict>
            <key>monster_jiangshishouling_19006:j jiao3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{107,669},{69,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{69,47}}</string>
                <key>sourceSize</key>
                <string>{69,47}</string>
            </dict>
            <key>monster_jiangshishouling_19006:j jiao4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{461,615},{53,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{53,39}}</string>
                <key>sourceSize</key>
                <string>{53,39}</string>
            </dict>
            <key>monster_jiangshishouling_19006:j kudang.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{208,337},{46,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,53}}</string>
                <key>sourceSize</key>
                <string>{46,53}</string>
            </dict>
            <key>monster_jiangshishouling_19006:j shenti1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{843,496},{126,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{126,115}}</string>
                <key>sourceSize</key>
                <string>{126,115}</string>
            </dict>
            <key>monster_jiangshishouling_19006:j shenti2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{726,177},{143,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{143,122}}</string>
                <key>sourceSize</key>
                <string>{143,122}</string>
            </dict>
            <key>monster_jiangshishouling_19006:j shou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{631,571},{64,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{64,53}}</string>
                <key>sourceSize</key>
                <string>{64,53}</string>
            </dict>
            <key>monster_jiangshishouling_19006:j shou1 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{631,453},{65,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{65,60}}</string>
                <key>sourceSize</key>
                <string>{65,60}</string>
            </dict>
            <key>monster_jiangshishouling_19006:j shou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{619,627},{74,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{74,77}}</string>
                <key>sourceSize</key>
                <string>{74,77}</string>
            </dict>
            <key>monster_jiangshishouling_19006:j shou5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{464,504},{53,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{53,49}}</string>
                <key>sourceSize</key>
                <string>{53,49}</string>
            </dict>
            <key>monster_jiangshishouling_19006:j shoubi1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{186,499},{62,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{62,59}}</string>
                <key>sourceSize</key>
                <string>{62,59}</string>
            </dict>
            <key>monster_jiangshishouling_19006:j shoubi1 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{464,432},{53,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{53,69}}</string>
                <key>sourceSize</key>
                <string>{53,69}</string>
            </dict>
            <key>monster_jiangshishouling_19006:j shoubi1 2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{461,556},{54,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{54,56}}</string>
                <key>sourceSize</key>
                <string>{54,56}</string>
            </dict>
            <key>monster_jiangshishouling_19006:j shoubi2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{378,351},{83,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{83,86}}</string>
                <key>sourceSize</key>
                <string>{83,86}</string>
            </dict>
            <key>monster_jiangshishouling_19006:j shoubi2 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{378,440},{83,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{83,86}}</string>
                <key>sourceSize</key>
                <string>{83,86}</string>
            </dict>
            <key>monster_jiangshishouling_19006:j shoubi3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{619,707},{75,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{75,68}}</string>
                <key>sourceSize</key>
                <string>{75,68}</string>
            </dict>
            <key>monster_jiangshishouling_19006:j shoubi3 3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{344,666},{80,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{80,89}}</string>
                <key>sourceSize</key>
                <string>{80,89}</string>
            </dict>
            <key>monster_jiangshishouling_19006:j shoubi5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{110,520},{67,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{67,93}}</string>
                <key>sourceSize</key>
                <string>{67,93}</string>
            </dict>
            <key>monster_jiangshishouling_19006:j shoubi5 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{180,561},{67,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{67,87}}</string>
                <key>sourceSize</key>
                <string>{67,87}</string>
            </dict>
            <key>monster_jiangshishouling_19006:j shoubi7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{190,393},{61,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{61,103}}</string>
                <key>sourceSize</key>
                <string>{61,103}</string>
            </dict>
            <key>monster_jiangshishouling_19006:j shoubi7 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{208,240},{51,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{51,94}}</string>
                <key>sourceSize</key>
                <string>{51,94}</string>
            </dict>
            <key>monster_jiangshishouling_19006:j shoubi7 2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{126,460},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>monster_jiangshishouling_19006:j shoubi7 3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{126,347},{61,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{61,110}}</string>
                <key>sourceSize</key>
                <string>{61,110}</string>
            </dict>
            <key>monster_jiangshishouling_19006:j shoubi8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{427,692},{73,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{73,71}}</string>
                <key>sourceSize</key>
                <string>{73,71}</string>
            </dict>
            <key>monster_jiangshishouling_19006:j shoubi9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{476,138},{49,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{49,61}}</string>
                <key>sourceSize</key>
                <string>{49,61}</string>
            </dict>
            <key>monster_jiangshishouling_19006:j suolian.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{815,440},{25,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,55}}</string>
                <key>sourceSize</key>
                <string>{25,55}</string>
            </dict>
            <key>monster_jiangshishouling_19006:j suolian2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{815,498},{25,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,55}}</string>
                <key>sourceSize</key>
                <string>{25,55}</string>
            </dict>
            <key>monster_jiangshishouling_19006:j tou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{470,266},{53,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{53,80}}</string>
                <key>sourceSize</key>
                <string>{53,80}</string>
            </dict>
            <key>monster_jiangshishouling_19006:j tou1 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{470,349},{53,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{53,80}}</string>
                <key>sourceSize</key>
                <string>{53,80}</string>
            </dict>
            <key>monster_jiangshishouling_19006:j tou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{972,496},{41,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{41,55}}</string>
                <key>sourceSize</key>
                <string>{41,55}</string>
            </dict>
            <key>monster_jiangshishouling_19006:j tou2 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{972,554},{41,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{41,55}}</string>
                <key>sourceSize</key>
                <string>{41,55}</string>
            </dict>
            <key>monster_jiangshishouling_19006:j tou4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{972,612},{40,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,53}}</string>
                <key>sourceSize</key>
                <string>{40,53}</string>
            </dict>
            <key>monster_jiangshishouling_19006:j tui1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{173,752},{60,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{60,39}}</string>
                <key>sourceSize</key>
                <string>{60,39}</string>
            </dict>
            <key>monster_jiangshishouling_19006:j tui10.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{461,657},{54,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{54,32}}</string>
                <key>sourceSize</key>
                <string>{54,32}</string>
            </dict>
            <key>monster_jiangshishouling_19006:j tui2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{180,651},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>monster_jiangshishouling_19006:j tui5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{99,763},{59,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{59,34}}</string>
                <key>sourceSize</key>
                <string>{59,34}</string>
            </dict>
            <key>monster_jiangshishouling_19006:j tui6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{697,765},{56,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{56,36}}</string>
                <key>sourceSize</key>
                <string>{56,36}</string>
            </dict>
            <key>monster_jiangshishouling_19006:j tui7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{934,668},{87,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{87,57}}</string>
                <key>sourceSize</key>
                <string>{87,57}</string>
            </dict>
            <key>monster_jiangshishouling_19006:j tui8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{631,516},{65,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{65,52}}</string>
                <key>sourceSize</key>
                <string>{65,52}</string>
            </dict>
            <key>monster_jiangshishouling_19006:j tui9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{179,702},{61,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{61,47}}</string>
                <key>sourceSize</key>
                <string>{61,47}</string>
            </dict>
            <key>monster_jiangshishouling_19006:j wuqi1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{527,228},{190,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{190,100}}</string>
                <key>sourceSize</key>
                <string>{190,100}</string>
            </dict>
            <key>monster_jiangshishouling_19006:j yao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{293,810},{118,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{118,45}}</string>
                <key>sourceSize</key>
                <string>{118,45}</string>
            </dict>
            <key>monster_jiangshishouling_19006:l1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,800},{134,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{134,59}}</string>
                <key>sourceSize</key>
                <string>{134,59}</string>
            </dict>
            <key>monster_jiangshishouling_19006:l2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{804,694},{127,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{127,77}}</string>
                <key>sourceSize</key>
                <string>{127,77}</string>
            </dict>
            <key>monster_jiangshishouling_19006:l3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{804,614},{127,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{127,77}}</string>
                <key>sourceSize</key>
                <string>{127,77}</string>
            </dict>
            <key>monster_jiangshishouling_19006:nvbnvbnv 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{250,635},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>monster_jiangshishouling_19006:s1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,240},{205,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{205,104}}</string>
                <key>sourceSize</key>
                <string>{205,104}</string>
            </dict>
            <key>monster_jiangshishouling_19006:s2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{314,758},{105,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{105,49}}</string>
                <key>sourceSize</key>
                <string>{105,49}</string>
            </dict>
            <key>monster_jiangshishouling_19006:s3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{528,128},{195,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{195,97}}</string>
                <key>sourceSize</key>
                <string>{195,97}</string>
            </dict>
            <key>monster_jiangshishouling_19006:s4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{262,245},{205,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{205,103}}</string>
                <key>sourceSize</key>
                <string>{205,103}</string>
            </dict>
            <key>monster_jiangshishouling_19006:s5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{268,138},{205,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{205,104}}</string>
                <key>sourceSize</key>
                <string>{205,104}</string>
            </dict>
            <key>monster_jiangshishouling_19006:sd23.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{528,0},{203,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{203,125}}</string>
                <key>sourceSize</key>
                <string>{203,125}</string>
            </dict>
            <key>monster_jiangshishouling_19006:sd24.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{265,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{265,237}}</string>
                <key>sourceSize</key>
                <string>{265,237}</string>
            </dict>
            <key>monster_jiangshishouling_19006:sd25.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{268,0},{257,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{257,135}}</string>
                <key>sourceSize</key>
                <string>{257,135}</string>
            </dict>
            <key>monster_jiangshishouling_19006:sd26.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{852,406},{164,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{164,87}}</string>
                <key>sourceSize</key>
                <string>{164,87}</string>
            </dict>
            <key>monster_jiangshishouling_19006:w21.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{881,0},{139,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{139,136}}</string>
                <key>sourceSize</key>
                <string>{139,136}</string>
            </dict>
            <key>monster_jiangshishouling_19006:w22.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{881,139},{134,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{134,135}}</string>
                <key>sourceSize</key>
                <string>{134,135}</string>
            </dict>
            <key>monster_jiangshishouling_19006:w23.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{720,302},{129,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{129,135}}</string>
                <key>sourceSize</key>
                <string>{129,135}</string>
            </dict>
            <key>monster_jiangshishouling_19006:w24.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,347},{123,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{123,135}}</string>
                <key>sourceSize</key>
                <string>{123,135}</string>
            </dict>
            <key>monster_jiangshishouling_19006:w25.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{257,351},{118,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{118,135}}</string>
                <key>sourceSize</key>
                <string>{118,135}</string>
            </dict>
            <key>monster_jiangshishouling_19006:w26.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{699,440},{113,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{113,135}}</string>
                <key>sourceSize</key>
                <string>{113,135}</string>
            </dict>
            <key>monster_jiangshishouling_19006:w27.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{520,453},{108,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{108,134}}</string>
                <key>sourceSize</key>
                <string>{108,134}</string>
            </dict>
            <key>monster_jiangshishouling_19006:w28.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{355,529},{103,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{103,134}}</string>
                <key>sourceSize</key>
                <string>{103,134}</string>
            </dict>
            <key>monster_jiangshishouling_19006:w29.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{518,590},{98,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{98,134}}</string>
                <key>sourceSize</key>
                <string>{98,134}</string>
            </dict>
            <key>monster_jiangshishouling_19006:w30.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{254,489},{98,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{98,143}}</string>
                <key>sourceSize</key>
                <string>{98,143}</string>
            </dict>
            <key>monster_jiangshishouling_19006:w31.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{698,578},{103,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{103,134}}</string>
                <key>sourceSize</key>
                <string>{103,134}</string>
            </dict>
            <key>monster_jiangshishouling_19006:w32.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,485},{107,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{107,134}}</string>
                <key>sourceSize</key>
                <string>{107,134}</string>
            </dict>
            <key>monster_jiangshishouling_19006:y11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,708},{96,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{96,66}}</string>
                <key>sourceSize</key>
                <string>{96,66}</string>
            </dict>
            <key>monster_jiangshishouling_19006:y12.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,622},{104,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{104,83}}</string>
                <key>sourceSize</key>
                <string>{104,83}</string>
            </dict>
            <key>monster_jiangshishouling_19006:y13.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{611,804},{118,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{118,72}}</string>
                <key>sourceSize</key>
                <string>{118,72}</string>
            </dict>
            <key>monster_jiangshishouling_19006:y14.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{802,774},{129,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{129,70}}</string>
                <key>sourceSize</key>
                <string>{129,70}</string>
            </dict>
            <key>monster_jiangshishouling_19006:y15.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{472,786},{136,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{136,66}}</string>
                <key>sourceSize</key>
                <string>{136,66}</string>
            </dict>
            <key>monster_jiangshishouling_19006:y16.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{872,277},{139,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{139,126}}</string>
                <key>sourceSize</key>
                <string>{139,126}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_jiangshishouling_19006.pvr.ccz</string>
            <key>size</key>
            <string>{1022,875}</string>
            <key>textureFileName</key>
            <string>monster_jiangshishouling_19006.pvr.ccz</string>
        </dict>
    </dict>
</plist>
