<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_bingkuaishitouren_10036: shou3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{479,0},{29,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,26}}</string>
                <key>sourceSize</key>
                <string>{29,26}</string>
            </dict>
            <key>monster_bingkuaishitouren_10036:VFHV.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{214,279},{67,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{67,28}}</string>
                <key>sourceSize</key>
                <string>{67,28}</string>
            </dict>
            <key>monster_bingkuaishitouren_10036:asdfcvb.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{479,29},{21,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,19}}</string>
                <key>sourceSize</key>
                <string>{21,19}</string>
            </dict>
            <key>monster_bingkuaishitouren_10036:b s shenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{79,265},{76,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{76,59}}</string>
                <key>sourceSize</key>
                <string>{76,59}</string>
            </dict>
            <key>monster_bingkuaishitouren_10036:bgnt.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{218,181},{132,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{132,50}}</string>
                <key>sourceSize</key>
                <string>{132,50}</string>
            </dict>
            <key>monster_bingkuaishitouren_10036:bing2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{402,0},{74,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{74,143}}</string>
                <key>sourceSize</key>
                <string>{74,143}</string>
            </dict>
            <key>monster_bingkuaishitouren_10036:lopq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,223},{126,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{126,39}}</string>
                <key>sourceSize</key>
                <string>{126,39}</string>
            </dict>
            <key>monster_bingkuaishitouren_10036:nngy.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{218,234},{109,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{109,42}}</string>
                <key>sourceSize</key>
                <string>{109,42}</string>
            </dict>
            <key>monster_bingkuaishitouren_10036:oplou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,175},{159,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{159,45}}</string>
                <key>sourceSize</key>
                <string>{159,45}</string>
            </dict>
            <key>monster_bingkuaishitouren_10036:s shou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{326,292},{37,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,26}}</string>
                <key>sourceSize</key>
                <string>{37,26}</string>
            </dict>
            <key>monster_bingkuaishitouren_10036:s shou1 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{459,265},{44,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{44,45}}</string>
                <key>sourceSize</key>
                <string>{44,45}</string>
            </dict>
            <key>monster_bingkuaishitouren_10036:s shou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{473,237},{32,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,25}}</string>
                <key>sourceSize</key>
                <string>{32,25}</string>
            </dict>
            <key>monster_bingkuaishitouren_10036:s shou2 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{473,209},{32,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,25}}</string>
                <key>sourceSize</key>
                <string>{32,25}</string>
            </dict>
            <key>monster_bingkuaishitouren_10036:s shou2 2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{473,146},{34,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,30}}</string>
                <key>sourceSize</key>
                <string>{34,30}</string>
            </dict>
            <key>monster_bingkuaishitouren_10036:s shoubi1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{162,175},{53,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{53,101}}</string>
                <key>sourceSize</key>
                <string>{53,101}</string>
            </dict>
            <key>monster_bingkuaishitouren_10036:s shoubi2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{353,181},{43,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,50}}</string>
                <key>sourceSize</key>
                <string>{43,50}</string>
            </dict>
            <key>monster_bingkuaishitouren_10036:s t1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{218,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{218,172}}</string>
                <key>sourceSize</key>
                <string>{218,172}</string>
            </dict>
            <key>monster_bingkuaishitouren_10036:shou3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{284,306},{32,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,24}}</string>
                <key>sourceSize</key>
                <string>{32,24}</string>
            </dict>
            <key>monster_bingkuaishitouren_10036:shou3 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{473,179},{32,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,27}}</string>
                <key>sourceSize</key>
                <string>{32,27}</string>
            </dict>
            <key>monster_bingkuaishitouren_10036:st2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{381,246},{75,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{75,68}}</string>
                <key>sourceSize</key>
                <string>{75,68}</string>
            </dict>
            <key>monster_bingkuaishitouren_10036:st3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{221,0},{178,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{178,178}}</string>
                <key>sourceSize</key>
                <string>{178,178}</string>
            </dict>
            <key>monster_bingkuaishitouren_10036:z s shenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,265},{76,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{76,59}}</string>
                <key>sourceSize</key>
                <string>{76,59}</string>
            </dict>
            <key>monster_bingkuaishitouren_10036:z s shenti2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{284,279},{39,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,24}}</string>
                <key>sourceSize</key>
                <string>{39,24}</string>
            </dict>
            <key>monster_bingkuaishitouren_10036:z s shenti3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{158,279},{53,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{53,36}}</string>
                <key>sourceSize</key>
                <string>{53,36}</string>
            </dict>
            <key>monster_bingkuaishitouren_10036:z s tou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{214,310},{33,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,22}}</string>
                <key>sourceSize</key>
                <string>{33,22}</string>
            </dict>
            <key>monster_bingkuaishitouren_10036:z sshoubi1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{402,146},{68,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,97}}</string>
                <key>sourceSize</key>
                <string>{68,97}</string>
            </dict>
            <key>monster_bingkuaishitouren_10036:z sshoubi2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{330,234},{48,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{48,55}}</string>
                <key>sourceSize</key>
                <string>{48,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_bingkuaishitouren_10036.pvr.ccz</string>
            <key>size</key>
            <string>{508,332}</string>
            <key>textureFileName</key>
            <string>monster_bingkuaishitouren_10036.pvr.ccz</string>
        </dict>
    </dict>
</plist>
