<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_firewitch_19024:87qws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{288,178},{9,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,18}}</string>
                <key>sourceSize</key>
                <string>{9,18}</string>
            </dict>
            <key>monster_firewitch_19024:898qws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{417,321},{16,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,21}}</string>
                <key>sourceSize</key>
                <string>{16,21}</string>
            </dict>
            <key>monster_firewitch_19024:8qwiu.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{94,310},{14,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,17}}</string>
                <key>sourceSize</key>
                <string>{14,17}</string>
            </dict>
            <key>monster_firewitch_19024:bdfqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{279,359},{62,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{62,83}}</string>
                <key>sourceSize</key>
                <string>{62,83}</string>
            </dict>
            <key>monster_firewitch_19024:bqwew.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{475,319},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
            <key>monster_firewitch_19024:casqwer.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{111,295},{98,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{98,61}}</string>
                <key>sourceSize</key>
                <string>{98,61}</string>
            </dict>
            <key>monster_firewitch_19024:casqwer54.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{218,241},{65,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{65,92}}</string>
                <key>sourceSize</key>
                <string>{65,92}</string>
            </dict>
            <key>monster_firewitch_19024:casqwer6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{285,303},{98,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{98,54}}</string>
                <key>sourceSize</key>
                <string>{98,54}</string>
            </dict>
            <key>monster_firewitch_19024:cvqwesq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{285,241},{101,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{101,60}}</string>
                <key>sourceSize</key>
                <string>{101,60}</string>
            </dict>
            <key>monster_firewitch_19024:ijksj.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{343,359},{19,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,10}}</string>
                <key>sourceSize</key>
                <string>{19,10}</string>
            </dict>
            <key>monster_firewitch_19024:ijncas.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{303,0},{133,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{133,115}}</string>
                <key>sourceSize</key>
                <string>{133,115}</string>
            </dict>
            <key>monster_firewitch_19024:ioiqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{385,330},{29,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,20}}</string>
                <key>sourceSize</key>
                <string>{29,20}</string>
            </dict>
            <key>monster_firewitch_19024:ioiqws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{477,255},{32,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,38}}</string>
                <key>sourceSize</key>
                <string>{32,38}</string>
            </dict>
            <key>monster_firewitch_19024:ioiqwsq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{420,293},{14,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,26}}</string>
                <key>sourceSize</key>
                <string>{14,26}</string>
            </dict>
            <key>monster_firewitch_19024:ioiqwsqq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,134},{124,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{124,83}}</string>
                <key>sourceSize</key>
                <string>{124,83}</string>
            </dict>
            <key>monster_firewitch_19024:ioqiw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{499,202},{11,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,10}}</string>
                <key>sourceSize</key>
                <string>{11,10}</string>
            </dict>
            <key>monster_firewitch_19024:ioqs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{288,134},{8,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{8,24}}</string>
                <key>sourceSize</key>
                <string>{8,24}</string>
            </dict>
            <key>monster_firewitch_19024:iuas.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{385,352},{23,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,21}}</string>
                <key>sourceSize</key>
                <string>{23,21}</string>
            </dict>
            <key>monster_firewitch_19024:iuaso.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{458,318},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>monster_firewitch_19024:iujks.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{456,335},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>monster_firewitch_19024:iuqoa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{499,183},{8,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{8,17}}</string>
                <key>sourceSize</key>
                <string>{8,17}</string>
            </dict>
            <key>monster_firewitch_19024:iuqw8s.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{308,444},{69,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{69,28}}</string>
                <key>sourceSize</key>
                <string>{69,28}</string>
            </dict>
            <key>monster_firewitch_19024:iuqws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{420,261},{14,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,30}}</string>
                <key>sourceSize</key>
                <string>{14,30}</string>
            </dict>
            <key>monster_firewitch_19024:jqws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{288,160},{11,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,16}}</string>
                <key>sourceSize</key>
                <string>{11,16}</string>
            </dict>
            <key>monster_firewitch_19024:juiqs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{435,335},{19,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,24}}</string>
                <key>sourceSize</key>
                <string>{19,24}</string>
            </dict>
            <key>monster_firewitch_19024:juqds.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{395,117},{41,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{41,108}}</string>
                <key>sourceSize</key>
                <string>{41,108}</string>
            </dict>
            <key>monster_firewitch_19024:juqwe41.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{438,114},{37,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,142}}</string>
                <key>sourceSize</key>
                <string>{37,142}</string>
            </dict>
            <key>monster_firewitch_19024:juwqs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,279},{92,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{92,68}}</string>
                <key>sourceSize</key>
                <string>{92,68}</string>
            </dict>
            <key>monster_firewitch_19024:kioasv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{475,295},{29,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,22}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>monster_firewitch_19024:kioqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{388,295},{27,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,33}}</string>
                <key>sourceSize</key>
                <string>{27,33}</string>
            </dict>
            <key>monster_firewitch_19024:kioqws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{112,236},{104,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{104,57}}</string>
                <key>sourceSize</key>
                <string>{104,57}</string>
            </dict>
            <key>monster_firewitch_19024:kiqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{477,183},{20,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,70}}</string>
                <key>sourceSize</key>
                <string>{20,70}</string>
            </dict>
            <key>monster_firewitch_19024:kiupq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{107,358},{59,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{59,90}}</string>
                <key>sourceSize</key>
                <string>{59,90}</string>
            </dict>
            <key>monster_firewitch_19024:kjiq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{474,348},{29,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,20}}</string>
                <key>sourceSize</key>
                <string>{29,20}</string>
            </dict>
            <key>monster_firewitch_19024:mjiqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{477,114},{33,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,67}}</string>
                <key>sourceSize</key>
                <string>{33,67}</string>
            </dict>
            <key>monster_firewitch_19024:mkioq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{211,335},{66,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{66,85}}</string>
                <key>sourceSize</key>
                <string>{66,85}</string>
            </dict>
            <key>monster_firewitch_19024:mkiqa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{458,291},{15,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,25}}</string>
                <key>sourceSize</key>
                <string>{15,25}</string>
            </dict>
            <key>monster_firewitch_19024:mkvjasq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,444},{74,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{74,60}}</string>
                <key>sourceSize</key>
                <string>{74,60}</string>
            </dict>
            <key>monster_firewitch_19024:ngfw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{220,134},{66,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{66,105}}</string>
                <key>sourceSize</key>
                <string>{66,105}</string>
            </dict>
            <key>monster_firewitch_19024:oiqsa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{168,358},{28,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,15}}</string>
                <key>sourceSize</key>
                <string>{28,15}</string>
            </dict>
            <key>monster_firewitch_19024:qwe33.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{410,367},{54,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{54,91}}</string>
                <key>sourceSize</key>
                <string>{54,91}</string>
            </dict>
            <key>monster_firewitch_19024:qwrtq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{410,352},{21,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,13}}</string>
                <key>sourceSize</key>
                <string>{21,13}</string>
            </dict>
            <key>monster_firewitch_19024:rqwew.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{438,0},{72,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{72,112}}</string>
                <key>sourceSize</key>
                <string>{72,112}</string>
            </dict>
            <key>monster_firewitch_19024:twr.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{168,422},{66,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{66,72}}</string>
                <key>sourceSize</key>
                <string>{66,72}</string>
            </dict>
            <key>monster_firewitch_19024:uiqs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{395,227},{23,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,66}}</string>
                <key>sourceSize</key>
                <string>{23,66}</string>
            </dict>
            <key>monster_firewitch_19024:uiquw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{436,291},{20,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,42}}</string>
                <key>sourceSize</key>
                <string>{20,42}</string>
            </dict>
            <key>monster_firewitch_19024:uiqwed.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{303,117},{90,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{90,122}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>monster_firewitch_19024:uiuqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{436,258},{35,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,31}}</string>
                <key>sourceSize</key>
                <string>{35,31}</string>
            </dict>
            <key>monster_firewitch_19024:uiuqwv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{94,279},{15,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,29}}</string>
                <key>sourceSize</key>
                <string>{15,29}</string>
            </dict>
            <key>monster_firewitch_19024:uiuqwvq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{301,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{301,132}}</string>
                <key>sourceSize</key>
                <string>{301,132}</string>
            </dict>
            <key>monster_firewitch_19024:uiuqwvqq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{288,198},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>monster_firewitch_19024:ujq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{420,227},{14,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,32}}</string>
                <key>sourceSize</key>
                <string>{14,32}</string>
            </dict>
            <key>monster_firewitch_19024:vaqwrq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,219},{110,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{110,58}}</string>
                <key>sourceSize</key>
                <string>{110,58}</string>
            </dict>
            <key>monster_firewitch_19024:vaswe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{343,375},{63,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{63,28}}</string>
                <key>sourceSize</key>
                <string>{63,28}</string>
            </dict>
            <key>monster_firewitch_19024:vqtq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{236,444},{70,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,44}}</string>
                <key>sourceSize</key>
                <string>{70,44}</string>
            </dict>
            <key>monster_firewitch_19024:vsdwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,349},{57,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{57,93}}</string>
                <key>sourceSize</key>
                <string>{57,93}</string>
            </dict>
            <key>monster_firewitch_19024:yuqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{126,134},{92,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{92,100}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>monster_firewitch_19024:yuyqwo.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{59,349},{46,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,80}}</string>
                <key>sourceSize</key>
                <string>{46,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_firewitch_19024.pvr.ccz</string>
            <key>size</key>
            <string>{512,506}</string>
            <key>textureFileName</key>
            <string>monster_firewitch_19024.pvr.ccz</string>
        </dict>
    </dict>
</plist>
