<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_citydefence_16001:a1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{365,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{365,288}}</string>
                <key>sourceSize</key>
                <string>{365,288}</string>
            </dict>
            <key>monster_citydefence_16001:a2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{210,290},{31,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,65}}</string>
                <key>sourceSize</key>
                <string>{31,65}</string>
            </dict>
            <key>monster_citydefence_16001:a3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{243,290},{27,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,39}}</string>
                <key>sourceSize</key>
                <string>{27,39}</string>
            </dict>
            <key>monster_citydefence_16001:a4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{997,0},{25,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,56}}</string>
                <key>sourceSize</key>
                <string>{25,56}</string>
            </dict>
            <key>monster_citydefence_16001:a5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{787,256},{208,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{208,254}}</string>
                <key>sourceSize</key>
                <string>{208,254}</string>
            </dict>
            <key>monster_citydefence_16001:casqww.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{997,85},{5,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{5,5}}</string>
                <key>sourceSize</key>
                <string>{5,5}</string>
            </dict>
            <key>monster_citydefence_16001:cqwe5q.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1011,85},{5,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{5,5}}</string>
                <key>sourceSize</key>
                <string>{5,5}</string>
            </dict>
            <key>monster_citydefence_16001:cqwer.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1004,85},{5,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{5,5}}</string>
                <key>sourceSize</key>
                <string>{5,5}</string>
            </dict>
            <key>monster_citydefence_16001:e1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{367,256},{208,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{208,254}}</string>
                <key>sourceSize</key>
                <string>{208,254}</string>
            </dict>
            <key>monster_citydefence_16001:e2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{577,0},{208,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{208,254}}</string>
                <key>sourceSize</key>
                <string>{208,254}</string>
            </dict>
            <key>monster_citydefence_16001:e3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{367,0},{208,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{208,254}}</string>
                <key>sourceSize</key>
                <string>{208,254}</string>
            </dict>
            <key>monster_citydefence_16001:e4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{577,256},{208,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{208,254}}</string>
                <key>sourceSize</key>
                <string>{208,254}</string>
            </dict>
            <key>monster_citydefence_16001:e5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{787,0},{208,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{208,254}}</string>
                <key>sourceSize</key>
                <string>{208,254}</string>
            </dict>
            <key>monster_citydefence_16001:e6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,290},{208,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{208,254}}</string>
                <key>sourceSize</key>
                <string>{208,254}</string>
            </dict>
            <key>monster_citydefence_16001:e7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{210,512},{208,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{208,254}}</string>
                <key>sourceSize</key>
                <string>{208,254}</string>
            </dict>
            <key>monster_citydefence_16001:uqwsaas.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{997,58},{24,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,25}}</string>
                <key>sourceSize</key>
                <string>{24,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_citydefence_16001.pvr.ccz</string>
            <key>size</key>
            <string>{1019,780}</string>
            <key>textureFileName</key>
            <string>monster_citydefence_16001.pvr.ccz</string>
        </dict>
    </dict>
</plist>
