<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_dog_11005:452.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{58,31},{40,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,27}}</string>
                <key>sourceSize</key>
                <string>{40,27}</string>
            </dict>
            <key>monster_dog_11005:Bhouxiaotui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{225,160},{16,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,21}}</string>
                <key>sourceSize</key>
                <string>{16,21}</string>
            </dict>
            <key>monster_dog_11005:Bhouyoudaui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{150,155},{20,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,17}}</string>
                <key>sourceSize</key>
                <string>{20,17}</string>
            </dict>
            <key>monster_dog_11005:Bhouzhua.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{111,153},{23,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,15}}</string>
                <key>sourceSize</key>
                <string>{23,15}</string>
            </dict>
            <key>monster_dog_11005:Bjing.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{180,131},{21,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,23}}</string>
                <key>sourceSize</key>
                <string>{21,23}</string>
            </dict>
            <key>monster_dog_11005:Bqianshangzhi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{137,153},{10,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,13}}</string>
                <key>sourceSize</key>
                <string>{10,13}</string>
            </dict>
            <key>monster_dog_11005:Bqianxiazhi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{111,171},{18,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,15}}</string>
                <key>sourceSize</key>
                <string>{18,15}</string>
            </dict>
            <key>monster_dog_11005:Bquan.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{58,61},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>monster_dog_11005:Bshangshen.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{207,92},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,28}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
            <key>monster_dog_11005:Bshangtou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,89},{54,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{54,38}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>monster_dog_11005:Bxiaba.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{92,129},{56,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{56,21}}</string>
                <key>sourceSize</key>
                <string>{56,21}</string>
            </dict>
            <key>monster_dog_11005:Bxiashen.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{151,131},{26,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,21}}</string>
                <key>sourceSize</key>
                <string>{26,21}</string>
            </dict>
            <key>monster_dog_11005:Bzhua.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{24,161},{20,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,13}}</string>
                <key>sourceSize</key>
                <string>{20,13}</string>
            </dict>
            <key>monster_dog_11005:Fhoudatui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{240,92},{13,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,18}}</string>
                <key>sourceSize</key>
                <string>{13,18}</string>
            </dict>
            <key>monster_dog_11005:Fhouxiaotui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{244,160},{9,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,7}}</string>
                <key>sourceSize</key>
                <string>{9,7}</string>
            </dict>
            <key>monster_dog_11005:Fhouzhua.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{173,157},{17,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,20}}</string>
                <key>sourceSize</key>
                <string>{17,20}</string>
            </dict>
            <key>monster_dog_11005:Fjing.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{55,152},{23,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,19}}</string>
                <key>sourceSize</key>
                <string>{23,19}</string>
            </dict>
            <key>monster_dog_11005:Fqianshangbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{82,137},{7,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,14}}</string>
                <key>sourceSize</key>
                <string>{7,14}</string>
            </dict>
            <key>monster_dog_11005:Fqianxiaobi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{240,113},{12,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,15}}</string>
                <key>sourceSize</key>
                <string>{12,15}</string>
            </dict>
            <key>monster_dog_11005:Fquan.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{57,118},{22,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,31}}</string>
                <key>sourceSize</key>
                <string>{22,31}</string>
            </dict>
            <key>monster_dog_11005:Fshangshen.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{204,149},{18,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,26}}</string>
                <key>sourceSize</key>
                <string>{18,26}</string>
            </dict>
            <key>monster_dog_11005:Fshangzui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{153,88},{51,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{51,40}}</string>
                <key>sourceSize</key>
                <string>{51,40}</string>
            </dict>
            <key>monster_dog_11005:Fweiba.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{208,0},{42,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{42,39}}</string>
                <key>sourceSize</key>
                <string>{42,39}</string>
            </dict>
            <key>monster_dog_11005:Fxiaba.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{94,95},{49,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{49,31}}</string>
                <key>sourceSize</key>
                <string>{49,31}</string>
            </dict>
            <key>monster_dog_11005:Fxiashen.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{207,123},{26,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,23}}</string>
                <key>sourceSize</key>
                <string>{26,23}</string>
            </dict>
            <key>monster_dog_11005:Fzhua.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,153},{21,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,19}}</string>
                <key>sourceSize</key>
                <string>{21,19}</string>
            </dict>
            <key>monster_dog_11005:ajsdw3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{236,131},{16,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,26}}</string>
                <key>sourceSize</key>
                <string>{16,26}</string>
            </dict>
            <key>monster_dog_11005:awquwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{92,153},{16,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,23}}</string>
                <key>sourceSize</key>
                <string>{16,23}</string>
            </dict>
            <key>monster_dog_11005:baswes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,31},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>monster_dog_11005:bawe7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{34,130},{18,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,28}}</string>
                <key>sourceSize</key>
                <string>{18,28}</string>
            </dict>
            <key>monster_dog_11005:bawes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{101,44},{49,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{49,48}}</string>
                <key>sourceSize</key>
                <string>{49,48}</string>
            </dict>
            <key>monster_dog_11005:bser.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,130},{31,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,20}}</string>
                <key>sourceSize</key>
                <string>{31,20}</string>
            </dict>
            <key>monster_dog_11005:bwes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{104,24},{101,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{101,17}}</string>
                <key>sourceSize</key>
                <string>{101,17}</string>
            </dict>
            <key>monster_dog_11005:mwer.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{104,0},{101,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{101,21}}</string>
                <key>sourceSize</key>
                <string>{101,21}</string>
            </dict>
            <key>monster_dog_11005:n34.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{101,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{101,28}}</string>
                <key>sourceSize</key>
                <string>{101,28}</string>
            </dict>
            <key>monster_dog_11005:nrw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{207,68},{38,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,21}}</string>
                <key>sourceSize</key>
                <string>{38,21}</string>
            </dict>
            <key>monster_dog_11005:nsde4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{153,44},{51,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{51,41}}</string>
                <key>sourceSize</key>
                <string>{51,41}</string>
            </dict>
            <key>monster_dog_11005:op2se.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{57,94},{34,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,21}}</string>
                <key>sourceSize</key>
                <string>{34,21}</string>
            </dict>
            <key>monster_dog_11005:vabwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{82,118},{7,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,16}}</string>
                <key>sourceSize</key>
                <string>{7,16}</string>
            </dict>
            <key>monster_dog_11005:we54.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{208,42},{40,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,23}}</string>
                <key>sourceSize</key>
                <string>{40,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_dog_11005.pvr.ccz</string>
            <key>size</key>
            <string>{254,186}</string>
            <key>textureFileName</key>
            <string>monster_dog_11005.pvr.ccz</string>
        </dict>
    </dict>
</plist>
