<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_wangchengqishi_10058:Bbu.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{248,164},{84,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{84,55}}</string>
                <key>sourceSize</key>
                <string>{84,55}</string>
            </dict>
            <key>monster_wangchengqishi_10058:Bbuo.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,245},{19,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,23}}</string>
                <key>sourceSize</key>
                <string>{19,23}</string>
            </dict>
            <key>monster_wangchengqishi_10058:Bdun.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{414,61},{44,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{44,108}}</string>
                <key>sourceSize</key>
                <string>{44,108}</string>
            </dict>
            <key>monster_wangchengqishi_10058:Bkuaa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{126,216},{26,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,22}}</string>
                <key>sourceSize</key>
                <string>{26,22}</string>
            </dict>
            <key>monster_wangchengqishi_10058:Bqiang2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{257,0},{248,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{248,58}}</string>
                <key>sourceSize</key>
                <string>{248,58}</string>
            </dict>
            <key>monster_wangchengqishi_10058:Bshentia.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{34,216},{30,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,26}}</string>
                <key>sourceSize</key>
                <string>{30,26}</string>
            </dict>
            <key>monster_wangchengqishi_10058:Btou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{376,164},{35,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,27}}</string>
                <key>sourceSize</key>
                <string>{35,27}</string>
            </dict>
            <key>monster_wangchengqishi_10058:Btou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{67,216},{30,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,23}}</string>
                <key>sourceSize</key>
                <string>{30,23}</string>
            </dict>
            <key>monster_wangchengqishi_10058:Byoudatui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{88,245},{22,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,16}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
            <key>monster_wangchengqishi_10058:FMhoushen.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{414,172},{40,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,39}}</string>
                <key>sourceSize</key>
                <string>{40,39}</string>
            </dict>
            <key>monster_wangchengqishi_10058:Fdun.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{461,61},{40,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,103}}</string>
                <key>sourceSize</key>
                <string>{40,103}</string>
            </dict>
            <key>monster_wangchengqishi_10058:Fhasd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{316,244},{16,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,21}}</string>
                <key>sourceSize</key>
                <string>{16,21}</string>
            </dict>
            <key>monster_wangchengqishi_10058:Fkua.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{289,222},{28,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,19}}</string>
                <key>sourceSize</key>
                <string>{28,19}</string>
            </dict>
            <key>monster_wangchengqishi_10058:Fmabu.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{155,200},{80,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{80,49}}</string>
                <key>sourceSize</key>
                <string>{80,49}</string>
            </dict>
            <key>monster_wangchengqishi_10058:Fmajing.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{335,213},{31,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,29}}</string>
                <key>sourceSize</key>
                <string>{31,29}</string>
            </dict>
            <key>monster_wangchengqishi_10058:Fmatou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{457,207},{37,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,42}}</string>
                <key>sourceSize</key>
                <string>{37,42}</string>
            </dict>
            <key>monster_wangchengqishi_10058:Fqiang.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{254,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{254,56}}</string>
                <key>sourceSize</key>
                <string>{254,56}</string>
            </dict>
            <key>monster_wangchengqishi_10058:Fqianshen.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{461,167},{46,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,37}}</string>
                <key>sourceSize</key>
                <string>{46,37}</string>
            </dict>
            <key>monster_wangchengqishi_10058:Fshenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,216},{31,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,26}}</string>
                <key>sourceSize</key>
                <string>{31,26}</string>
            </dict>
            <key>monster_wangchengqishi_10058:Ftou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{413,214},{27,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,33}}</string>
                <key>sourceSize</key>
                <string>{27,33}</string>
            </dict>
            <key>monster_wangchengqishi_10058:Fweib.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{335,164},{38,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,46}}</string>
                <key>sourceSize</key>
                <string>{38,46}</string>
            </dict>
            <key>monster_wangchengqishi_10058:Fyoudatui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{355,249},{17,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,15}}</string>
                <key>sourceSize</key>
                <string>{17,15}</string>
            </dict>
            <key>monster_wangchengqishi_10058:Fyoudhou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{394,249},{15,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,14}}</string>
                <key>sourceSize</key>
                <string>{15,14}</string>
            </dict>
            <key>monster_wangchengqishi_10058:Fyouhoubi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{239,59},{13,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,27}}</string>
                <key>sourceSize</key>
                <string>{13,27}</string>
            </dict>
            <key>monster_wangchengqishi_10058:Fyouhujian.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{238,222},{25,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,23}}</string>
                <key>sourceSize</key>
                <string>{25,23}</string>
            </dict>
            <key>monster_wangchengqishi_10058:Fyouxiaobi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{239,132},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>monster_wangchengqishi_10058:Fzuodatui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{238,248},{14,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,19}}</string>
                <key>sourceSize</key>
                <string>{14,19}</string>
            </dict>
            <key>monster_wangchengqishi_10058:Fzuohobi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{395,223},{15,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,23}}</string>
                <key>sourceSize</key>
                <string>{15,23}</string>
            </dict>
            <key>monster_wangchengqishi_10058:Fzuoshou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{375,249},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>monster_wangchengqishi_10058:asdacas.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{266,222},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{20,28}</string>
            </dict>
            <key>monster_wangchengqishi_10058:asdfqv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{369,223},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>monster_wangchengqishi_10058:asdwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{239,89},{11,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,19}}</string>
                <key>sourceSize</key>
                <string>{11,19}</string>
            </dict>
            <key>monster_wangchengqishi_10058:bdfsft.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{22,245},{19,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,21}}</string>
                <key>sourceSize</key>
                <string>{19,21}</string>
            </dict>
            <key>monster_wangchengqishi_10058:casdqe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{44,245},{19,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,18}}</string>
                <key>sourceSize</key>
                <string>{19,18}</string>
            </dict>
            <key>monster_wangchengqishi_10058:casqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{126,241},{23,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,20}}</string>
                <key>sourceSize</key>
                <string>{23,20}</string>
            </dict>
            <key>monster_wangchengqishi_10058:caswe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{255,61},{156,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{156,100}}</string>
                <key>sourceSize</key>
                <string>{156,100}</string>
            </dict>
            <key>monster_wangchengqishi_10058:caswec.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{497,207},{8,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{8,9}}</string>
                <key>sourceSize</key>
                <string>{8,9}</string>
            </dict>
            <key>monster_wangchengqishi_10058:caswew.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,59},{152,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{152,154}}</string>
                <key>sourceSize</key>
                <string>{152,154}</string>
            </dict>
            <key>monster_wangchengqishi_10058:cgas.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{239,149},{6,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{6,16}}</string>
                <key>sourceSize</key>
                <string>{6,16}</string>
            </dict>
            <key>monster_wangchengqishi_10058:cvtye.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{67,242},{18,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,25}}</string>
                <key>sourceSize</key>
                <string>{18,25}</string>
            </dict>
            <key>monster_wangchengqishi_10058:evec.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{155,59},{81,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{81,138}}</string>
                <key>sourceSize</key>
                <string>{81,138}</string>
            </dict>
            <key>monster_wangchengqishi_10058:mjhui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{239,111},{11,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,18}}</string>
                <key>sourceSize</key>
                <string>{11,18}</string>
            </dict>
            <key>monster_wangchengqishi_10058:vasweq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{289,244},{24,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,18}}</string>
                <key>sourceSize</key>
                <string>{24,18}</string>
            </dict>
            <key>monster_wangchengqishi_10058:vsdfer.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{335,245},{17,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,16}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>monster_wangchengqishi_10058:zuohujian.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{376,194},{34,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,26}}</string>
                <key>sourceSize</key>
                <string>{34,26}</string>
            </dict>
            <key>monster_wangchengqishi_10058:zuojiao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{100,216},{23,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,26}}</string>
                <key>sourceSize</key>
                <string>{23,26}</string>
            </dict>
            <key>monster_wangchengqishi_10058:zuoqianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{412,250},{17,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,13}}</string>
                <key>sourceSize</key>
                <string>{17,13}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_wangchengqishi_10058.pvr.ccz</string>
            <key>size</key>
            <string>{507,269}</string>
            <key>textureFileName</key>
            <string>monster_wangchengqishi_10058.pvr.ccz</string>
        </dict>
    </dict>
</plist>
