<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_bug_10101:bgf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{86,269},{52,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{52,46}}</string>
                <key>sourceSize</key>
                <string>{52,46}</string>
            </dict>
            <key>monster_bug_10101:cjsdv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{210,195},{39,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,35}}</string>
                <key>sourceSize</key>
                <string>{39,35}</string>
            </dict>
            <key>monster_bug_10101:kasidf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{216,167},{29,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,25}}</string>
                <key>sourceSize</key>
                <string>{29,25}</string>
            </dict>
            <key>monster_bug_10101:nhmh.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{180,255},{58,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,53}}</string>
                <key>sourceSize</key>
                <string>{58,53}</string>
            </dict>
            <key>monster_bug_10101:shenti1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{216,100},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>monster_bug_10101:shenti2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{216,52},{34,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,45}}</string>
                <key>sourceSize</key>
                <string>{34,45}</string>
            </dict>
            <key>monster_bug_10101:shenti3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{216,0},{34,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,49}}</string>
                <key>sourceSize</key>
                <string>{34,49}</string>
            </dict>
            <key>monster_bug_10101:shenyi3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{216,131},{22,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,33}}</string>
                <key>sourceSize</key>
                <string>{22,33}</string>
            </dict>
            <key>monster_bug_10101:tou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{180,218},{24,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,20}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
            <key>monster_bug_10101:tou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{207,233},{14,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,19}}</string>
                <key>sourceSize</key>
                <string>{14,19}</string>
            </dict>
            <key>monster_bug_10101:weib1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{224,233},{19,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,12}}</string>
                <key>sourceSize</key>
                <string>{19,12}</string>
            </dict>
            <key>monster_bug_10101:weib2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{180,188},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>monster_bug_10101:y1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{90,188},{87,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{87,78}}</string>
                <key>sourceSize</key>
                <string>{87,78}</string>
            </dict>
            <key>monster_bug_10101:y2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{106,94},{107,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{107,91}}</string>
                <key>sourceSize</key>
                <string>{107,91}</string>
            </dict>
            <key>monster_bug_10101:y3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,108},{87,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{87,78}}</string>
                <key>sourceSize</key>
                <string>{87,78}</string>
            </dict>
            <key>monster_bug_10101:y4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{106,0},{107,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{107,91}}</string>
                <key>sourceSize</key>
                <string>{107,91}</string>
            </dict>
            <key>monster_bug_10101:y5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,189},{83,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{83,81}}</string>
                <key>sourceSize</key>
                <string>{83,81}</string>
            </dict>
            <key>monster_bug_10101:y6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{103,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{103,105}}</string>
                <key>sourceSize</key>
                <string>{103,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_bug_10101.pvr.ccz</string>
            <key>size</key>
            <string>{250,305}</string>
            <key>textureFileName</key>
            <string>monster_bug_10101.pvr.ccz</string>
        </dict>
    </dict>
</plist>
