<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_gangtiesantouquan_10059:Bshangshen.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{79,95},{47,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{47,43}}</string>
                <key>sourceSize</key>
                <string>{47,43}</string>
            </dict>
            <key>monster_gangtiesantouquan_10059:Btou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{157,160},{40,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,41}}</string>
                <key>sourceSize</key>
                <string>{40,41}</string>
            </dict>
            <key>monster_gangtiesantouquan_10059:Btou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{77,183},{35,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,37}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
            <key>monster_gangtiesantouquan_10059:Btou3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{179,212},{29,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,24}}</string>
                <key>sourceSize</key>
                <string>{29,24}</string>
            </dict>
            <key>monster_gangtiesantouquan_10059:Bxiashen.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{32,190},{37,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,34}}</string>
                <key>sourceSize</key>
                <string>{37,34}</string>
            </dict>
            <key>monster_gangtiesantouquan_10059:Fshanbans.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,50},{55,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,45}}</string>
                <key>sourceSize</key>
                <string>{55,45}</string>
            </dict>
            <key>monster_gangtiesantouquan_10059:Ftou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{129,95},{32,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,58}}</string>
                <key>sourceSize</key>
                <string>{32,58}</string>
            </dict>
            <key>monster_gangtiesantouquan_10059:Ftou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{39,138},{35,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,49}}</string>
                <key>sourceSize</key>
                <string>{35,49}</string>
            </dict>
            <key>monster_gangtiesantouquan_10059:Ftou3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{164,112},{39,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,45}}</string>
                <key>sourceSize</key>
                <string>{39,45}</string>
            </dict>
            <key>monster_gangtiesantouquan_10059:asdfa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{58,50},{23,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,27}}</string>
                <key>sourceSize</key>
                <string>{23,27}</string>
            </dict>
            <key>monster_gangtiesantouquan_10059:aser.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{143,204},{33,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,20}}</string>
                <key>sourceSize</key>
                <string>{33,20}</string>
            </dict>
            <key>monster_gangtiesantouquan_10059:bfghj.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{233,121},{19,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,26}}</string>
                <key>sourceSize</key>
                <string>{19,26}</string>
            </dict>
            <key>monster_gangtiesantouquan_10059:bfghjss.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{168,0},{81,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{81,45}}</string>
                <key>sourceSize</key>
                <string>{81,45}</string>
            </dict>
            <key>monster_gangtiesantouquan_10059:bghg.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{84,49},{81,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{81,43}}</string>
                <key>sourceSize</key>
                <string>{81,43}</string>
            </dict>
            <key>monster_gangtiesantouquan_10059:dfgh.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{39,114},{11,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,6}}</string>
                <key>sourceSize</key>
                <string>{11,6}</string>
            </dict>
            <key>monster_gangtiesantouquan_10059:fguanjie1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{54,111},{21,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,24}}</string>
                <key>sourceSize</key>
                <string>{21,24}</string>
            </dict>
            <key>monster_gangtiesantouquan_10059:fhoutui1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,203},{25,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,30}}</string>
                <key>sourceSize</key>
                <string>{25,30}</string>
            </dict>
            <key>monster_gangtiesantouquan_10059:fjas.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{236,97},{12,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,21}}</string>
                <key>sourceSize</key>
                <string>{12,21}</string>
            </dict>
            <key>monster_gangtiesantouquan_10059:iaosf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{211,212},{33,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,17}}</string>
                <key>sourceSize</key>
                <string>{33,17}</string>
            </dict>
            <key>monster_gangtiesantouquan_10059:jasdjf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,98},{36,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{36,53}}</string>
                <key>sourceSize</key>
                <string>{36,53}</string>
            </dict>
            <key>monster_gangtiesantouquan_10059:jasudf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{233,150},{20,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,23}}</string>
                <key>sourceSize</key>
                <string>{20,23}</string>
            </dict>
            <key>monster_gangtiesantouquan_10059:lfog.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{124,156},{30,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,43}}</string>
                <key>sourceSize</key>
                <string>{30,43}</string>
            </dict>
            <key>monster_gangtiesantouquan_10059:mvd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{236,75},{14,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,19}}</string>
                <key>sourceSize</key>
                <string>{14,19}</string>
            </dict>
            <key>monster_gangtiesantouquan_10059:nghjk.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{84,0},{81,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{81,46}}</string>
                <key>sourceSize</key>
                <string>{81,46}</string>
            </dict>
            <key>monster_gangtiesantouquan_10059:nhjs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{236,48},{17,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,24}}</string>
                <key>sourceSize</key>
                <string>{17,24}</string>
            </dict>
            <key>monster_gangtiesantouquan_10059:qwca.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{81,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{81,47}}</string>
                <key>sourceSize</key>
                <string>{81,47}</string>
            </dict>
            <key>monster_gangtiesantouquan_10059:rtuqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,154},{29,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,46}}</string>
                <key>sourceSize</key>
                <string>{29,46}</string>
            </dict>
            <key>monster_gangtiesantouquan_10059:rtvdf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{206,153},{19,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,18}}</string>
                <key>sourceSize</key>
                <string>{19,18}</string>
            </dict>
            <key>monster_gangtiesantouquan_10059:sawe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{39,98},{12,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,13}}</string>
                <key>sourceSize</key>
                <string>{12,13}</string>
            </dict>
            <key>monster_gangtiesantouquan_10059:sdjfk.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{206,112},{24,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,38}}</string>
                <key>sourceSize</key>
                <string>{24,38}</string>
            </dict>
            <key>monster_gangtiesantouquan_10059:uwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{229,176},{18,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,17}}</string>
                <key>sourceSize</key>
                <string>{18,17}</string>
            </dict>
            <key>monster_gangtiesantouquan_10059:vasdf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{200,174},{26,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,35}}</string>
                <key>sourceSize</key>
                <string>{26,35}</string>
            </dict>
            <key>monster_gangtiesantouquan_10059:vassdf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{58,80},{18,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,28}}</string>
                <key>sourceSize</key>
                <string>{18,28}</string>
            </dict>
            <key>monster_gangtiesantouquan_10059:vdfg.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{115,202},{25,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,32}}</string>
                <key>sourceSize</key>
                <string>{25,32}</string>
            </dict>
            <key>monster_gangtiesantouquan_10059:vsdf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{39,123},{8,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{8,9}}</string>
                <key>sourceSize</key>
                <string>{8,9}</string>
            </dict>
            <key>monster_gangtiesantouquan_10059:weina.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{168,48},{65,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{65,61}}</string>
                <key>sourceSize</key>
                <string>{65,61}</string>
            </dict>
            <key>monster_gangtiesantouquan_10059:xiabanshen.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{77,141},{44,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{44,39}}</string>
                <key>sourceSize</key>
                <string>{44,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_gangtiesantouquan_10059.pvr.ccz</string>
            <key>size</key>
            <string>{254,237}</string>
            <key>textureFileName</key>
            <string>monster_gangtiesantouquan_10059.pvr.ccz</string>
        </dict>
    </dict>
</plist>
