<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_feixingjuyan_10009:Bdao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{110,144},{17,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,41}}</string>
                <key>sourceSize</key>
                <string>{17,41}</string>
            </dict>
            <key>monster_feixingjuyan_10009:Byoushou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{206,153},{22,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>monster_feixingjuyan_10009:Bzous.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{231,153},{21,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,24}}</string>
                <key>sourceSize</key>
                <string>{21,24}</string>
            </dict>
            <key>monster_feixingjuyan_10009:Fdao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,115},{39,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,31}}</string>
                <key>sourceSize</key>
                <string>{39,31}</string>
            </dict>
            <key>monster_feixingjuyan_10009:Fyoub.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{80,144},{27,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,37}}</string>
                <key>sourceSize</key>
                <string>{27,37}</string>
            </dict>
            <key>monster_feixingjuyan_10009:Fyoushou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{130,172},{24,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,19}}</string>
                <key>sourceSize</key>
                <string>{24,19}</string>
            </dict>
            <key>monster_feixingjuyan_10009:Fzuos.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{42,150},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,28}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
            <key>monster_feixingjuyan_10009:Fzuoshoub.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{94,96},{33,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,45}}</string>
                <key>sourceSize</key>
                <string>{33,45}</string>
            </dict>
            <key>monster_feixingjuyan_10009:ci1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,173},{14,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,29}}</string>
                <key>sourceSize</key>
                <string>{14,29}</string>
            </dict>
            <key>monster_feixingjuyan_10009:ci2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{17,173},{17,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,20}}</string>
                <key>sourceSize</key>
                <string>{17,20}</string>
            </dict>
            <key>monster_feixingjuyan_10009:daob.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{179,174},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>monster_feixingjuyan_10009:houbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{195,179},{13,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,9}}</string>
                <key>sourceSize</key>
                <string>{13,9}</string>
            </dict>
            <key>monster_feixingjuyan_10009:kasdqv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{173,111},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>monster_feixingjuyan_10009:kcjsd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{130,96},{40,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,37}}</string>
                <key>sourceSize</key>
                <string>{40,37}</string>
            </dict>
            <key>monster_feixingjuyan_10009:loqec.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{42,115},{35,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,32}}</string>
                <key>sourceSize</key>
                <string>{35,32}</string>
            </dict>
            <key>monster_feixingjuyan_10009:mjk.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{94,0},{84,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{84,93}}</string>
                <key>sourceSize</key>
                <string>{84,93}</string>
            </dict>
            <key>monster_feixingjuyan_10009:nhdf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{157,174},{19,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,15}}</string>
                <key>sourceSize</key>
                <string>{19,15}</string>
            </dict>
            <key>monster_feixingjuyan_10009:nhjm.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{91,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{91,112}}</string>
                <key>sourceSize</key>
                <string>{91,112}</string>
            </dict>
            <key>monster_feixingjuyan_10009:shangzuic.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{181,84},{67,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{67,24}}</string>
                <key>sourceSize</key>
                <string>{67,24}</string>
            </dict>
            <key>monster_feixingjuyan_10009:shen.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{181,0},{66,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{66,43}}</string>
                <key>sourceSize</key>
                <string>{66,43}</string>
            </dict>
            <key>monster_feixingjuyan_10009:siyan.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,149},{39,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,21}}</string>
                <key>sourceSize</key>
                <string>{39,21}</string>
            </dict>
            <key>monster_feixingjuyan_10009:vdvd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{130,136},{31,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,33}}</string>
                <key>sourceSize</key>
                <string>{31,33}</string>
            </dict>
            <key>monster_feixingjuyan_10009:vfgv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{213,111},{35,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,39}}</string>
                <key>sourceSize</key>
                <string>{35,39}</string>
            </dict>
            <key>monster_feixingjuyan_10009:xiazuic.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{181,46},{72,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{72,35}}</string>
                <key>sourceSize</key>
                <string>{72,35}</string>
            </dict>
            <key>monster_feixingjuyan_10009:yan.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{164,151},{39,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,20}}</string>
                <key>sourceSize</key>
                <string>{39,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_feixingjuyan_10009.pvr.ccz</string>
            <key>size</key>
            <string>{254,202}</string>
            <key>textureFileName</key>
            <string>monster_feixingjuyan_10009.pvr.ccz</string>
        </dict>
    </dict>
</plist>
