<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_chengbaoshouweixiong_19015:Btou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{534,268},{89,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{89,108}}</string>
                <key>sourceSize</key>
                <string>{89,108}</string>
            </dict>
            <key>monster_chengbaoshouweixiong_19015:Byoushou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{78,427},{76,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{76,64}}</string>
                <key>sourceSize</key>
                <string>{76,64}</string>
            </dict>
            <key>monster_chengbaoshouweixiong_19015:Bzuoshou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{222,410},{70,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,73}}</string>
                <key>sourceSize</key>
                <string>{70,73}</string>
            </dict>
            <key>monster_chengbaoshouweixiong_19015:Fshenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,291},{106,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{106,114}}</string>
                <key>sourceSize</key>
                <string>{106,114}</string>
            </dict>
            <key>monster_chengbaoshouweixiong_19015:Ftou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{626,337},{83,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{83,94}}</string>
                <key>sourceSize</key>
                <string>{83,94}</string>
            </dict>
            <key>monster_chengbaoshouweixiong_19015:Fyoushou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{622,434},{71,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{71,61}}</string>
                <key>sourceSize</key>
                <string>{71,61}</string>
            </dict>
            <key>monster_chengbaoshouweixiong_19015:advn.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{696,439},{59,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{59,58}}</string>
                <key>sourceSize</key>
                <string>{59,58}</string>
            </dict>
            <key>monster_chengbaoshouweixiong_19015:asdqwea.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{235,117},{200,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{200,105}}</string>
                <key>sourceSize</key>
                <string>{200,105}</string>
            </dict>
            <key>monster_chengbaoshouweixiong_19015:asdvftr.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{634,0},{159,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{159,162}}</string>
                <key>sourceSize</key>
                <string>{159,162}</string>
            </dict>
            <key>monster_chengbaoshouweixiong_19015:bawe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{109,291},{51,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{51,104}}</string>
                <key>sourceSize</key>
                <string>{51,104}</string>
            </dict>
            <key>monster_chengbaoshouweixiong_19015:bsder.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{232,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{232,118}}</string>
                <key>sourceSize</key>
                <string>{232,118}</string>
            </dict>
            <key>monster_chengbaoshouweixiong_19015:caasd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{534,379},{85,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{85,63}}</string>
                <key>sourceSize</key>
                <string>{85,63}</string>
            </dict>
            <key>monster_chengbaoshouweixiong_19015:gacaswe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{899,336},{111,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{111,102}}</string>
                <key>sourceSize</key>
                <string>{111,102}</string>
            </dict>
            <key>monster_chengbaoshouweixiong_19015:gcaswew.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{409,268},{122,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{122,117}}</string>
                <key>sourceSize</key>
                <string>{122,117}</string>
            </dict>
            <key>monster_chengbaoshouweixiong_19015:gcaswex.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{780,280},{116,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{116,111}}</string>
                <key>sourceSize</key>
                <string>{116,111}</string>
            </dict>
            <key>monster_chengbaoshouweixiong_19015:gopbnt.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{223,301},{113,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{113,106}}</string>
                <key>sourceSize</key>
                <string>{113,106}</string>
            </dict>
            <key>monster_chengbaoshouweixiong_19015:guan1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{997,0},{17,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,55}}</string>
                <key>sourceSize</key>
                <string>{17,55}</string>
            </dict>
            <key>monster_chengbaoshouweixiong_19015:guan2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{997,58},{21,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,48}}</string>
                <key>sourceSize</key>
                <string>{21,48}</string>
            </dict>
            <key>monster_chengbaoshouweixiong_19015:hujia5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{163,393},{56,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{56,58}}</string>
                <key>sourceSize</key>
                <string>{56,58}</string>
            </dict>
            <key>monster_chengbaoshouweixiong_19015:ippe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{793,174},{145,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{145,103}}</string>
                <key>sourceSize</key>
                <string>{145,103}</string>
            </dict>
            <key>monster_chengbaoshouweixiong_19015:mert.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{438,181},{175,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{175,84}}</string>
                <key>sourceSize</key>
                <string>{175,84}</string>
            </dict>
            <key>monster_chengbaoshouweixiong_19015:ndwer.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{339,301},{57,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{57,88}}</string>
                <key>sourceSize</key>
                <string>{57,88}</string>
            </dict>
            <key>monster_chengbaoshouweixiong_19015:ner.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{942,0},{52,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{52,125}}</string>
                <key>sourceSize</key>
                <string>{52,125}</string>
            </dict>
            <key>monster_chengbaoshouweixiong_19015:nera.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{339,392},{52,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{52,80}}</string>
                <key>sourceSize</key>
                <string>{52,80}</string>
            </dict>
            <key>monster_chengbaoshouweixiong_19015:paotong.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{634,165},{80,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{80,169}}</string>
                <key>sourceSize</key>
                <string>{80,169}</string>
            </dict>
            <key>monster_chengbaoshouweixiong_19015:pqwa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{774,394},{101,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{101,61}}</string>
                <key>sourceSize</key>
                <string>{101,61}</string>
            </dict>
            <key>monster_chengbaoshouweixiong_19015:qwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{192,121},{32,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,18}}</string>
                <key>sourceSize</key>
                <string>{32,18}</string>
            </dict>
            <key>monster_chengbaoshouweixiong_19015:sdvfer.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{469,0},{162,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{162,178}}</string>
                <key>sourceSize</key>
                <string>{162,178}</string>
            </dict>
            <key>monster_chengbaoshouweixiong_19015:uasda.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{109,398},{50,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{50,26}}</string>
                <key>sourceSize</key>
                <string>{50,26}</string>
            </dict>
            <key>monster_chengbaoshouweixiong_19015:udav.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{399,388},{98,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{98,66}}</string>
                <key>sourceSize</key>
                <string>{98,66}</string>
            </dict>
            <key>monster_chengbaoshouweixiong_19015:vakasd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{796,0},{143,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{143,171}}</string>
                <key>sourceSize</key>
                <string>{143,171}</string>
            </dict>
            <key>monster_chengbaoshouweixiong_19015:vaswq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{235,0},{231,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{231,114}}</string>
                <key>sourceSize</key>
                <string>{231,114}</string>
            </dict>
            <key>monster_chengbaoshouweixiong_19015:vawe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{942,128},{52,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{52,115}}</string>
                <key>sourceSize</key>
                <string>{52,115}</string>
            </dict>
            <key>monster_chengbaoshouweixiong_19015:vawes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{230,225},{176,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{176,73}}</string>
                <key>sourceSize</key>
                <string>{176,73}</string>
            </dict>
            <key>monster_chengbaoshouweixiong_19015:vawev.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,121},{189,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{189,89}}</string>
                <key>sourceSize</key>
                <string>{189,89}</string>
            </dict>
            <key>monster_chengbaoshouweixiong_19015:vnhas.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{186,213},{41,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{41,80}}</string>
                <key>sourceSize</key>
                <string>{41,80}</string>
            </dict>
            <key>monster_chengbaoshouweixiong_19015:vqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{163,296},{57,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{57,94}}</string>
                <key>sourceSize</key>
                <string>{57,94}</string>
            </dict>
            <key>monster_chengbaoshouweixiong_19015:weq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,213},{183,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{183,75}}</string>
                <key>sourceSize</key>
                <string>{183,75}</string>
            </dict>
            <key>monster_chengbaoshouweixiong_19015:yanjing.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{937,441},{79,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{79,7}}</string>
                <key>sourceSize</key>
                <string>{79,7}</string>
            </dict>
            <key>monster_chengbaoshouweixiong_19015:youhujia5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{997,109},{12,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,40}}</string>
                <key>sourceSize</key>
                <string>{12,40}</string>
            </dict>
            <key>monster_chengbaoshouweixiong_19015:zuohoubi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{712,363},{59,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{59,73}}</string>
                <key>sourceSize</key>
                <string>{59,73}</string>
            </dict>
            <key>monster_chengbaoshouweixiong_19015:zuokaijia.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{717,165},{73,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{73,97}}</string>
                <key>sourceSize</key>
                <string>{73,97}</string>
            </dict>
            <key>monster_chengbaoshouweixiong_19015:zuokaijia2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{941,246},{76,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{76,87}}</string>
                <key>sourceSize</key>
                <string>{76,87}</string>
            </dict>
            <key>monster_chengbaoshouweixiong_19015:zuokaijia3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{717,265},{60,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{60,95}}</string>
                <key>sourceSize</key>
                <string>{60,95}</string>
            </dict>
            <key>monster_chengbaoshouweixiong_19015:zuoqianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{878,441},{56,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{56,51}}</string>
                <key>sourceSize</key>
                <string>{56,51}</string>
            </dict>
            <key>monster_chengbaoshouweixiong_19015:zuoshou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,408},{75,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{75,70}}</string>
                <key>sourceSize</key>
                <string>{75,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_chengbaoshouweixiong_19015.pvr.ccz</string>
            <key>size</key>
            <string>{1019,499}</string>
            <key>textureFileName</key>
            <string>monster_chengbaoshouweixiong_19015.pvr.ccz</string>
        </dict>
    </dict>
</plist>
