<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_qingwafutou_10063:B beidai.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{62,178},{60,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{60,38}}</string>
                <key>sourceSize</key>
                <string>{60,38}</string>
            </dict>
            <key>monster_qingwafutou_10063:Bdao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{222,0},{28,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,86}}</string>
                <key>sourceSize</key>
                <string>{28,86}</string>
            </dict>
            <key>monster_qingwafutou_10063:Bshenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,162},{59,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{59,47}}</string>
                <key>sourceSize</key>
                <string>{59,47}</string>
            </dict>
            <key>monster_qingwafutou_10063:Btou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{86,61},{57,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{57,55}}</string>
                <key>sourceSize</key>
                <string>{57,55}</string>
            </dict>
            <key>monster_qingwafutou_10063:Byoudatui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{195,169},{8,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{8,12}}</string>
                <key>sourceSize</key>
                <string>{8,12}</string>
            </dict>
            <key>monster_qingwafutou_10063:Byoujiao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{232,149},{18,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,11}}</string>
                <key>sourceSize</key>
                <string>{18,11}</string>
            </dict>
            <key>monster_qingwafutou_10063:Byouqianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{220,127},{9,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,19}}</string>
                <key>sourceSize</key>
                <string>{9,19}</string>
            </dict>
            <key>monster_qingwafutou_10063:Byoushou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{76,162},{7,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,10}}</string>
                <key>sourceSize</key>
                <string>{7,10}</string>
            </dict>
            <key>monster_qingwafutou_10063:Byouxiaobi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{126,160},{8,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{8,14}}</string>
                <key>sourceSize</key>
                <string>{8,14}</string>
            </dict>
            <key>monster_qingwafutou_10063:Byouxiaotui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{232,163},{9,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,12}}</string>
                <key>sourceSize</key>
                <string>{9,12}</string>
            </dict>
            <key>monster_qingwafutou_10063:Bzuijiao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{159,155},{16,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,12}}</string>
                <key>sourceSize</key>
                <string>{16,12}</string>
            </dict>
            <key>monster_qingwafutou_10063:Bzuoqianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{146,84},{11,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,23}}</string>
                <key>sourceSize</key>
                <string>{11,23}</string>
            </dict>
            <key>monster_qingwafutou_10063:Bzuoshou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{220,169},{8,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{8,11}}</string>
                <key>sourceSize</key>
                <string>{8,11}</string>
            </dict>
            <key>monster_qingwafutou_10063:Bzuoxiaobi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{146,132},{9,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,18}}</string>
                <key>sourceSize</key>
                <string>{9,18}</string>
            </dict>
            <key>monster_qingwafutou_10063:Bzuoxiaotui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{244,163},{8,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{8,12}}</string>
                <key>sourceSize</key>
                <string>{8,12}</string>
            </dict>
            <key>monster_qingwafutou_10063:F Zyan1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{221,105},{14,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,19}}</string>
                <key>sourceSize</key>
                <string>{14,19}</string>
            </dict>
            <key>monster_qingwafutou_10063:F beidai.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{86,119},{57,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{57,38}}</string>
                <key>sourceSize</key>
                <string>{57,38}</string>
            </dict>
            <key>monster_qingwafutou_10063:Fdaobing.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{247,89},{5,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{5,17}}</string>
                <key>sourceSize</key>
                <string>{5,17}</string>
            </dict>
            <key>monster_qingwafutou_10063:Fshen.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{160,113},{57,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{57,39}}</string>
                <key>sourceSize</key>
                <string>{57,39}</string>
            </dict>
            <key>monster_qingwafutou_10063:Ftou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{164,70},{54,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{54,40}}</string>
                <key>sourceSize</key>
                <string>{54,40}</string>
            </dict>
            <key>monster_qingwafutou_10063:Fyoudat.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{238,105},{6,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{6,7}}</string>
                <key>sourceSize</key>
                <string>{6,7}</string>
            </dict>
            <key>monster_qingwafutou_10063:Fyoudatui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{159,170},{8,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{8,10}}</string>
                <key>sourceSize</key>
                <string>{8,10}</string>
            </dict>
            <key>monster_qingwafutou_10063:Fyouhoubi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{220,149},{9,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,17}}</string>
                <key>sourceSize</key>
                <string>{9,17}</string>
            </dict>
            <key>monster_qingwafutou_10063:Fyouqianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{115,160},{8,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{8,15}}</string>
                <key>sourceSize</key>
                <string>{8,15}</string>
            </dict>
            <key>monster_qingwafutou_10063:Fyoushou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{62,162},{11,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,10}}</string>
                <key>sourceSize</key>
                <string>{11,10}</string>
            </dict>
            <key>monster_qingwafutou_10063:Fzuodatui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{238,115},{10,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,18}}</string>
                <key>sourceSize</key>
                <string>{10,18}</string>
            </dict>
            <key>monster_qingwafutou_10063:Fzuohoubi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{221,89},{23,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,13}}</string>
                <key>sourceSize</key>
                <string>{23,13}</string>
            </dict>
            <key>monster_qingwafutou_10063:Fzuojiao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{232,136},{19,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,10}}</string>
                <key>sourceSize</key>
                <string>{19,10}</string>
            </dict>
            <key>monster_qingwafutou_10063:Fzuoqianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{146,110},{11,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,19}}</string>
                <key>sourceSize</key>
                <string>{11,19}</string>
            </dict>
            <key>monster_qingwafutou_10063:Fzuoxiaotui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{206,169},{11,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,8}}</string>
                <key>sourceSize</key>
                <string>{11,8}</string>
            </dict>
            <key>monster_qingwafutou_10063:bishou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{167,0},{52,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{52,67}}</string>
                <key>sourceSize</key>
                <string>{52,67}</string>
            </dict>
            <key>monster_qingwafutou_10063:casw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{83,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{83,159}}</string>
                <key>sourceSize</key>
                <string>{83,159}</string>
            </dict>
            <key>monster_qingwafutou_10063:ddF Z jiao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{146,61},{15,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,20}}</string>
                <key>sourceSize</key>
                <string>{15,20}</string>
            </dict>
            <key>monster_qingwafutou_10063:fua.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{86,0},{78,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{78,58}}</string>
                <key>sourceSize</key>
                <string>{78,58}</string>
            </dict>
            <key>monster_qingwafutou_10063:iwoeq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{101,160},{11,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,12}}</string>
                <key>sourceSize</key>
                <string>{11,12}</string>
            </dict>
            <key>monster_qingwafutou_10063:kuabu.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{178,155},{14,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,13}}</string>
                <key>sourceSize</key>
                <string>{14,13}</string>
            </dict>
            <key>monster_qingwafutou_10063:vB Zxiaotui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{137,171},{7,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,10}}</string>
                <key>sourceSize</key>
                <string>{7,10}</string>
            </dict>
            <key>monster_qingwafutou_10063:yaobao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{146,153},{10,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,15}}</string>
                <key>sourceSize</key>
                <string>{10,15}</string>
            </dict>
            <key>monster_qingwafutou_10063:youjiao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{195,155},{15,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,11}}</string>
                <key>sourceSize</key>
                <string>{15,11}</string>
            </dict>
            <key>monster_qingwafutou_10063:zuoshou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{86,160},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_qingwafutou_10063.pvr.ccz</string>
            <key>size</key>
            <string>{253,216}</string>
            <key>textureFileName</key>
            <string>monster_qingwafutou_10063.pvr.ccz</string>
        </dict>
    </dict>
</plist>
