<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_huobaoxianrenzhang_10076:c5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{383,136},{19,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,32}}</string>
                <key>sourceSize</key>
                <string>{19,32}</string>
            </dict>
            <key>monster_huobaoxianrenzhang_10076:f1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{143,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{143,129}}</string>
                <key>sourceSize</key>
                <string>{143,129}</string>
            </dict>
            <key>monster_huobaoxianrenzhang_10076:f2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{146,0},{134,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{134,132}}</string>
                <key>sourceSize</key>
                <string>{134,132}</string>
            </dict>
            <key>monster_huobaoxianrenzhang_10076:f3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{283,0},{132,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{132,133}}</string>
                <key>sourceSize</key>
                <string>{132,133}</string>
            </dict>
            <key>monster_huobaoxianrenzhang_10076:f4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,132},{103,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{103,133}}</string>
                <key>sourceSize</key>
                <string>{103,133}</string>
            </dict>
            <key>monster_huobaoxianrenzhang_10076:f5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{143,135},{103,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{103,133}}</string>
                <key>sourceSize</key>
                <string>{103,133}</string>
            </dict>
            <key>monster_huobaoxianrenzhang_10076:sprite 10.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{405,150},{38,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,29}}</string>
                <key>sourceSize</key>
                <string>{38,29}</string>
            </dict>
            <key>monster_huobaoxianrenzhang_10076:sprite 12.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{404,182},{36,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{36,21}}</string>
                <key>sourceSize</key>
                <string>{36,21}</string>
            </dict>
            <key>monster_huobaoxianrenzhang_10076:sprite 14.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{476,106},{30,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,24}}</string>
                <key>sourceSize</key>
                <string>{30,24}</string>
            </dict>
            <key>monster_huobaoxianrenzhang_10076:sprite 16.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{300,213},{24,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,17}}</string>
                <key>sourceSize</key>
                <string>{24,17}</string>
            </dict>
            <key>monster_huobaoxianrenzhang_10076:sprite 18.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{275,136},{51,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{51,74}}</string>
                <key>sourceSize</key>
                <string>{51,74}</string>
            </dict>
            <key>monster_huobaoxianrenzhang_10076:sprite 2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{466,215},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,18}</string>
            </dict>
            <key>monster_huobaoxianrenzhang_10076:sprite 20.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{106,132},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>monster_huobaoxianrenzhang_10076:sprite 22.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{359,208},{21,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,17}}</string>
                <key>sourceSize</key>
                <string>{21,17}</string>
            </dict>
            <key>monster_huobaoxianrenzhang_10076:sprite 24.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{470,192},{36,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{36,20}}</string>
                <key>sourceSize</key>
                <string>{36,20}</string>
            </dict>
            <key>monster_huobaoxianrenzhang_10076:sprite 26.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{383,200},{16,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,8}}</string>
                <key>sourceSize</key>
                <string>{16,8}</string>
            </dict>
            <key>monster_huobaoxianrenzhang_10076:sprite 28.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{424,206},{16,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,8}}</string>
                <key>sourceSize</key>
                <string>{16,8}</string>
            </dict>
            <key>monster_huobaoxianrenzhang_10076:sprite 30.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{273,213},{24,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,17}}</string>
                <key>sourceSize</key>
                <string>{24,17}</string>
            </dict>
            <key>monster_huobaoxianrenzhang_10076:sprite 32.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{446,150},{26,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,24}}</string>
                <key>sourceSize</key>
                <string>{26,24}</string>
            </dict>
            <key>monster_huobaoxianrenzhang_10076:sprite 34.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{443,206},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
            <key>monster_huobaoxianrenzhang_10076:sprite 36.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{383,171},{18,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,26}}</string>
                <key>sourceSize</key>
                <string>{18,26}</string>
            </dict>
            <key>monster_huobaoxianrenzhang_10076:sprite 38.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{402,206},{19,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,24}}</string>
                <key>sourceSize</key>
                <string>{19,24}</string>
            </dict>
            <key>monster_huobaoxianrenzhang_10076:sprite 4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{476,0},{32,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,33}}</string>
                <key>sourceSize</key>
                <string>{32,33}</string>
            </dict>
            <key>monster_huobaoxianrenzhang_10076:sprite 40.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{249,168},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{20,28}</string>
            </dict>
            <key>monster_huobaoxianrenzhang_10076:sprite 42.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{106,169},{26,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,22}}</string>
                <key>sourceSize</key>
                <string>{26,22}</string>
            </dict>
            <key>monster_huobaoxianrenzhang_10076:sprite 44.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{249,135},{23,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,30}}</string>
                <key>sourceSize</key>
                <string>{23,30}</string>
            </dict>
            <key>monster_huobaoxianrenzhang_10076:sprite 46.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{106,194},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,22}</string>
            </dict>
            <key>monster_huobaoxianrenzhang_10076:sprite 48.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{329,136},{51,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{51,69}}</string>
                <key>sourceSize</key>
                <string>{51,69}</string>
            </dict>
            <key>monster_huobaoxianrenzhang_10076:sprite 50.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{476,77},{29,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,26}}</string>
                <key>sourceSize</key>
                <string>{29,26}</string>
            </dict>
            <key>monster_huobaoxianrenzhang_10076:sprite 52.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{249,199},{21,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,24}}</string>
                <key>sourceSize</key>
                <string>{21,24}</string>
            </dict>
            <key>monster_huobaoxianrenzhang_10076:sprite 54.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{446,177},{21,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,26}}</string>
                <key>sourceSize</key>
                <string>{21,26}</string>
            </dict>
            <key>monster_huobaoxianrenzhang_10076:sprite 56.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{476,133},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>monster_huobaoxianrenzhang_10076:sprite 58.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{106,219},{22,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,14}}</string>
                <key>sourceSize</key>
                <string>{22,14}</string>
            </dict>
            <key>monster_huobaoxianrenzhang_10076:sprite 6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{418,0},{55,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,74}}</string>
                <key>sourceSize</key>
                <string>{55,74}</string>
            </dict>
            <key>monster_huobaoxianrenzhang_10076:sprite 60.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{329,208},{27,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,14}}</string>
                <key>sourceSize</key>
                <string>{27,14}</string>
            </dict>
            <key>monster_huobaoxianrenzhang_10076:sprite 8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{475,163},{23,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,26}}</string>
                <key>sourceSize</key>
                <string>{23,26}</string>
            </dict>
            <key>monster_huobaoxianrenzhang_10076:sprite 81.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{418,77},{55,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,70}}</string>
                <key>sourceSize</key>
                <string>{55,70}</string>
            </dict>
            <key>monster_huobaoxianrenzhang_10076:z1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{476,36},{18,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,38}}</string>
                <key>sourceSize</key>
                <string>{18,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_huobaoxianrenzhang_10076.pvr.ccz</string>
            <key>size</key>
            <string>{508,239}</string>
            <key>textureFileName</key>
            <string>monster_huobaoxianrenzhang_10076.pvr.ccz</string>
        </dict>
    </dict>
</plist>
