<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_sawmachine_10090:c1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,301},{178,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{178,50}}</string>
                <key>sourceSize</key>
                <string>{178,50}</string>
            </dict>
            <key>monster_sawmachine_10090:c2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{181,316},{173,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{173,50}}</string>
                <key>sourceSize</key>
                <string>{173,50}</string>
            </dict>
            <key>monster_sawmachine_10090:c3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{357,316},{152,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{152,41}}</string>
                <key>sourceSize</key>
                <string>{152,41}</string>
            </dict>
            <key>monster_sawmachine_10090:c4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,354},{144,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{144,41}}</string>
                <key>sourceSize</key>
                <string>{144,41}</string>
            </dict>
            <key>monster_sawmachine_10090:cvxv/dianju1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{406,154},{65,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{65,84}}</string>
                <key>sourceSize</key>
                <string>{65,84}</string>
            </dict>
            <key>monster_sawmachine_10090:cvxv/dianju1 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{141,173},{65,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{65,83}}</string>
                <key>sourceSize</key>
                <string>{65,83}</string>
            </dict>
            <key>monster_sawmachine_10090:dian j2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,241},{59,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{59,48}}</string>
                <key>sourceSize</key>
                <string>{59,48}</string>
            </dict>
            <key>monster_sawmachine_10090:j shou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{91,182},{40,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,63}}</string>
                <key>sourceSize</key>
                <string>{40,63}</string>
            </dict>
            <key>monster_sawmachine_10090:j shou2 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{474,173},{33,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,63}}</string>
                <key>sourceSize</key>
                <string>{33,63}</string>
            </dict>
            <key>monster_sawmachine_10090:j tou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{406,0},{81,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{81,74}}</string>
                <key>sourceSize</key>
                <string>{81,74}</string>
            </dict>
            <key>monster_sawmachine_10090:j tou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{406,77},{81,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{81,74}}</string>
                <key>sourceSize</key>
                <string>{81,74}</string>
            </dict>
            <key>monster_sawmachine_10090:jishou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{209,173},{41,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{41,73}}</string>
                <key>sourceSize</key>
                <string>{41,73}</string>
            </dict>
            <key>monster_sawmachine_10090:nvbnvv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{489,156},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>monster_sawmachine_10090:q1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{490,40},{13,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,17}}</string>
                <key>sourceSize</key>
                <string>{13,17}</string>
            </dict>
            <key>monster_sawmachine_10090:q2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{490,118},{12,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,16}}</string>
                <key>sourceSize</key>
                <string>{12,16}</string>
            </dict>
            <key>monster_sawmachine_10090:q3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{490,0},{13,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,17}}</string>
                <key>sourceSize</key>
                <string>{13,17}</string>
            </dict>
            <key>monster_sawmachine_10090:q4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{474,154},{12,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,16}}</string>
                <key>sourceSize</key>
                <string>{12,16}</string>
            </dict>
            <key>monster_sawmachine_10090:q5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{490,80},{12,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,16}}</string>
                <key>sourceSize</key>
                <string>{12,16}</string>
            </dict>
            <key>monster_sawmachine_10090:q6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{490,60},{13,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,17}}</string>
                <key>sourceSize</key>
                <string>{13,17}</string>
            </dict>
            <key>monster_sawmachine_10090:q7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{490,99},{12,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,16}}</string>
                <key>sourceSize</key>
                <string>{12,16}</string>
            </dict>
            <key>monster_sawmachine_10090:q8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{490,20},{13,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,17}}</string>
                <key>sourceSize</key>
                <string>{13,17}</string>
            </dict>
            <key>monster_sawmachine_10090:q9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{490,137},{12,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,16}}</string>
                <key>sourceSize</key>
                <string>{12,16}</string>
            </dict>
            <key>monster_sawmachine_10090:shenti1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,182},{88,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{88,56}}</string>
                <key>sourceSize</key>
                <string>{88,56}</string>
            </dict>
            <key>monster_sawmachine_10090:t1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{277,160},{125,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{125,153}}</string>
                <key>sourceSize</key>
                <string>{125,153}</string>
            </dict>
            <key>monster_sawmachine_10090:t2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{277,0},{126,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{126,157}}</string>
                <key>sourceSize</key>
                <string>{126,157}</string>
            </dict>
            <key>monster_sawmachine_10090:t3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{141,0},{133,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{133,170}}</string>
                <key>sourceSize</key>
                <string>{133,170}</string>
            </dict>
            <key>monster_sawmachine_10090:t4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{138,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{138,179}}</string>
                <key>sourceSize</key>
                <string>{138,179}</string>
            </dict>
            <key>monster_sawmachine_10090:y1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{103,248},{33,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,41}}</string>
                <key>sourceSize</key>
                <string>{33,41}</string>
            </dict>
            <key>monster_sawmachine_10090:y2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{139,259},{34,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,39}}</string>
                <key>sourceSize</key>
                <string>{34,39}</string>
            </dict>
            <key>monster_sawmachine_10090:y3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{474,239},{35,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,41}}</string>
                <key>sourceSize</key>
                <string>{35,41}</string>
            </dict>
            <key>monster_sawmachine_10090:y4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{405,241},{38,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,47}}</string>
                <key>sourceSize</key>
                <string>{38,47}</string>
            </dict>
            <key>monster_sawmachine_10090:y5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{62,248},{38,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,43}}</string>
                <key>sourceSize</key>
                <string>{38,43}</string>
            </dict>
            <key>monster_sawmachine_10090:y6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{209,249},{38,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,42}}</string>
                <key>sourceSize</key>
                <string>{38,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_sawmachine_10090.pvr.ccz</string>
            <key>size</key>
            <string>{512,397}</string>
            <key>textureFileName</key>
            <string>monster_sawmachine_10090.pvr.ccz</string>
        </dict>
    </dict>
</plist>
