<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_blackunicorn_10107:aqwsq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{421,85},{62,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{62,46}}</string>
                <key>sourceSize</key>
                <string>{62,46}</string>
            </dict>
            <key>monster_blackunicorn_10107:berq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{138,158},{18,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,17}}</string>
                <key>sourceSize</key>
                <string>{18,17}</string>
            </dict>
            <key>monster_blackunicorn_10107:bqw5q.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{158,158},{17,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,18}}</string>
                <key>sourceSize</key>
                <string>{17,18}</string>
            </dict>
            <key>monster_blackunicorn_10107:cas.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{37,164},{18,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,8}}</string>
                <key>sourceSize</key>
                <string>{18,8}</string>
            </dict>
            <key>monster_blackunicorn_10107:casqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{485,100},{7,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,6}}</string>
                <key>sourceSize</key>
                <string>{7,6}</string>
            </dict>
            <key>monster_blackunicorn_10107:casqw3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{460,147},{19,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,31}}</string>
                <key>sourceSize</key>
                <string>{19,31}</string>
            </dict>
            <key>monster_blackunicorn_10107:cassqc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{142,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{142,129}}</string>
                <key>sourceSize</key>
                <string>{142,129}</string>
            </dict>
            <key>monster_blackunicorn_10107:caswe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,131},{35,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,36}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
            <key>monster_blackunicorn_10107:dasqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{283,103},{127,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{127,87}}</string>
                <key>sourceSize</key>
                <string>{127,87}</string>
            </dict>
            <key>monster_blackunicorn_10107:iqow.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{177,158},{8,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{8,16}}</string>
                <key>sourceSize</key>
                <string>{8,16}</string>
            </dict>
            <key>monster_blackunicorn_10107:jiao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{434,133},{40,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,12}}</string>
                <key>sourceSize</key>
                <string>{40,12}</string>
            </dict>
            <key>monster_blackunicorn_10107:kqsq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{37,131},{38,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,31}}</string>
                <key>sourceSize</key>
                <string>{38,31}</string>
            </dict>
            <key>monster_blackunicorn_10107:loqs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{144,120},{48,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{48,36}}</string>
                <key>sourceSize</key>
                <string>{48,36}</string>
            </dict>
            <key>monster_blackunicorn_10107:lpqs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{494,42},{14,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,39}}</string>
                <key>sourceSize</key>
                <string>{14,39}</string>
            </dict>
            <key>monster_blackunicorn_10107:mkaicq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{243,120},{35,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,41}}</string>
                <key>sourceSize</key>
                <string>{35,41}</string>
            </dict>
            <key>monster_blackunicorn_10107:mkvlq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{434,147},{24,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,26}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>monster_blackunicorn_10107:mvjawq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{485,85},{7,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,13}}</string>
                <key>sourceSize</key>
                <string>{7,13}</string>
            </dict>
            <key>monster_blackunicorn_10107:mvjqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{108,131},{28,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,38}}</string>
                <key>sourceSize</key>
                <string>{28,38}</string>
            </dict>
            <key>monster_blackunicorn_10107:mvkalq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{421,0},{81,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{81,40}}</string>
                <key>sourceSize</key>
                <string>{81,40}</string>
            </dict>
            <key>monster_blackunicorn_10107:mvkiqwo.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{421,42},{71,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{71,41}}</string>
                <key>sourceSize</key>
                <string>{71,41}</string>
            </dict>
            <key>monster_blackunicorn_10107:nhty.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{283,0},{136,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{136,101}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>monster_blackunicorn_10107:opqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{57,164},{18,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,8}}</string>
                <key>sourceSize</key>
                <string>{18,8}</string>
            </dict>
            <key>monster_blackunicorn_10107:oqwc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{144,0},{137,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{137,118}}</string>
                <key>sourceSize</key>
                <string>{137,118}</string>
            </dict>
            <key>monster_blackunicorn_10107:ppvb.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{235,163},{19,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,8}}</string>
                <key>sourceSize</key>
                <string>{19,8}</string>
            </dict>
            <key>monster_blackunicorn_10107:pqw23.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{481,158},{19,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,8}}</string>
                <key>sourceSize</key>
                <string>{19,8}</string>
            </dict>
            <key>monster_blackunicorn_10107:qwe5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{256,163},{19,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,7}}</string>
                <key>sourceSize</key>
                <string>{19,7}</string>
            </dict>
            <key>monster_blackunicorn_10107:vasqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{194,120},{47,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{47,35}}</string>
                <key>sourceSize</key>
                <string>{47,35}</string>
            </dict>
            <key>monster_blackunicorn_10107:vasqwvu.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{216,157},{17,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,20}}</string>
                <key>sourceSize</key>
                <string>{17,20}</string>
            </dict>
            <key>monster_blackunicorn_10107:vasqyq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{194,157},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
            <key>monster_blackunicorn_10107:vmkqwq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{77,131},{29,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,40}}</string>
                <key>sourceSize</key>
                <string>{29,40}</string>
            </dict>
            <key>monster_blackunicorn_10107:vqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{481,168},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>monster_blackunicorn_10107:vqwe8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{485,122},{20,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,34}}</string>
                <key>sourceSize</key>
                <string>{20,34}</string>
            </dict>
            <key>monster_blackunicorn_10107:vqww.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{504,0},{6,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{6,13}}</string>
                <key>sourceSize</key>
                <string>{6,13}</string>
            </dict>
            <key>monster_blackunicorn_10107:vsder.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{412,168},{14,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,8}}</string>
                <key>sourceSize</key>
                <string>{14,8}</string>
            </dict>
            <key>monster_blackunicorn_10107:yuqws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{494,83},{11,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,37}}</string>
                <key>sourceSize</key>
                <string>{11,37}</string>
            </dict>
            <key>monster_blackunicorn_10107:ywqs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{412,133},{20,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,33}}</string>
                <key>sourceSize</key>
                <string>{20,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_blackunicorn_10107.pvr.ccz</string>
            <key>size</key>
            <string>{511,226}</string>
            <key>textureFileName</key>
            <string>monster_blackunicorn_10107.pvr.ccz</string>
        </dict>
    </dict>
</plist>
