<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_shoujingshou_19008:TOU2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{324,622},{125,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{125,172}}</string>
                <key>sourceSize</key>
                <string>{125,172}</string>
            </dict>
            <key>monster_shoujingshou_19008:acav.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{166,605},{33,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,19}}</string>
                <key>sourceSize</key>
                <string>{33,19}</string>
            </dict>
            <key>monster_shoujingshou_19008:acvz.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{542,537},{70,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,43}}</string>
                <key>sourceSize</key>
                <string>{70,43}</string>
            </dict>
            <key>monster_shoujingshou_19008:adbbny.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{819,902},{107,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{107,61}}</string>
                <key>sourceSize</key>
                <string>{107,61}</string>
            </dict>
            <key>monster_shoujingshou_19008:adcvt.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{601,717},{147,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{147,108}}</string>
                <key>sourceSize</key>
                <string>{147,108}</string>
            </dict>
            <key>monster_shoujingshou_19008:adqop.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{624,377},{236,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{236,134}}</string>
                <key>sourceSize</key>
                <string>{236,134}</string>
            </dict>
            <key>monster_shoujingshou_19008:advbty.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{928,0},{59,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{59,194}}</string>
                <key>sourceSize</key>
                <string>{59,194}</string>
            </dict>
            <key>monster_shoujingshou_19008:advt.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{882,837},{108,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{108,62}}</string>
                <key>sourceSize</key>
                <string>{108,62}</string>
            </dict>
            <key>monster_shoujingshou_19008:advte.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{324,537},{215,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{215,82}}</string>
                <key>sourceSize</key>
                <string>{215,82}</string>
            </dict>
            <key>monster_shoujingshou_19008:asca.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{897,612},{62,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{62,38}}</string>
                <key>sourceSize</key>
                <string>{62,38}</string>
            </dict>
            <key>monster_shoujingshou_19008:asdaf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{963,580},{58,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,24}}</string>
                <key>sourceSize</key>
                <string>{58,24}</string>
            </dict>
            <key>monster_shoujingshou_19008:asdavxx.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,639},{122,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{122,143}}</string>
                <key>sourceSize</key>
                <string>{122,143}</string>
            </dict>
            <key>monster_shoujingshou_19008:asdavz.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{863,465},{37,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,28}}</string>
                <key>sourceSize</key>
                <string>{37,28}</string>
            </dict>
            <key>monster_shoujingshou_19008:asdc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{990,58},{24,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,62}}</string>
                <key>sourceSize</key>
                <string>{24,62}</string>
            </dict>
            <key>monster_shoujingshou_19008:asdqf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{478,829},{98,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{98,87}}</string>
                <key>sourceSize</key>
                <string>{98,87}</string>
            </dict>
            <key>monster_shoujingshou_19008:asdqret.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{603,642},{190,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{190,72}}</string>
                <key>sourceSize</key>
                <string>{190,72}</string>
            </dict>
            <key>monster_shoujingshou_19008:asdr.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{166,540},{40,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,32}}</string>
                <key>sourceSize</key>
                <string>{40,32}</string>
            </dict>
            <key>monster_shoujingshou_19008:asdvty.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{642,236},{267,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{267,138}}</string>
                <key>sourceSize</key>
                <string>{267,138}</string>
            </dict>
            <key>monster_shoujingshou_19008:asdvvc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{244,904},{106,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{106,60}}</string>
                <key>sourceSize</key>
                <string>{106,60}</string>
            </dict>
            <key>monster_shoujingshou_19008:asdvvcte.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{928,197},{54,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{54,141}}</string>
                <key>sourceSize</key>
                <string>{54,141}</string>
            </dict>
            <key>monster_shoujingshou_19008:asdwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{452,711},{146,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{146,115}}</string>
                <key>sourceSize</key>
                <string>{146,115}</string>
            </dict>
            <key>monster_shoujingshou_19008:asdz.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{125,639},{67,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{67,23}}</string>
                <key>sourceSize</key>
                <string>{67,23}</string>
            </dict>
            <key>monster_shoujingshou_19008:asdzxc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{964,553},{54,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{54,24}}</string>
                <key>sourceSize</key>
                <string>{54,24}</string>
            </dict>
            <key>monster_shoujingshou_19008:asews.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{125,687},{146,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{146,115}}</string>
                <key>sourceSize</key>
                <string>{146,115}</string>
            </dict>
            <key>monster_shoujingshou_19008:asxc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{166,575},{38,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,27}}</string>
                <key>sourceSize</key>
                <string>{38,27}</string>
            </dict>
            <key>monster_shoujingshou_19008:asxx.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{990,123},{31,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,41}}</string>
                <key>sourceSize</key>
                <string>{31,41}</string>
            </dict>
            <key>monster_shoujingshou_19008:axcaq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{950,660},{49,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{49,21}}</string>
                <key>sourceSize</key>
                <string>{49,21}</string>
            </dict>
            <key>monster_shoujingshou_19008:axcd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{452,622},{82,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{82,86}}</string>
                <key>sourceSize</key>
                <string>{82,86}</string>
            </dict>
            <key>monster_shoujingshou_19008:bdv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{274,797},{107,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{107,104}}</string>
                <key>sourceSize</key>
                <string>{107,104}</string>
            </dict>
            <key>monster_shoujingshou_19008:bgvd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{899,565},{61,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{61,44}}</string>
                <key>sourceSize</key>
                <string>{61,44}</string>
            </dict>
            <key>monster_shoujingshou_19008:cactq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{209,512},{112,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{112,172}}</string>
                <key>sourceSize</key>
                <string>{112,172}</string>
            </dict>
            <key>monster_shoujingshou_19008:ccvrt.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{697,838},{119,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{119,50}}</string>
                <key>sourceSize</key>
                <string>{119,50}</string>
            </dict>
            <key>monster_shoujingshou_19008:cdcvf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{962,632},{53,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{53,25}}</string>
                <key>sourceSize</key>
                <string>{53,25}</string>
            </dict>
            <key>monster_shoujingshou_19008:cdqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{966,483},{55,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,31}}</string>
                <key>sourceSize</key>
                <string>{55,31}</string>
            </dict>
            <key>monster_shoujingshou_19008:cdsx.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{990,0},{31,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,55}}</string>
                <key>sourceSize</key>
                <string>{31,55}</string>
            </dict>
            <key>monster_shoujingshou_19008:cdx.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{903,538},{58,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,24}}</string>
                <key>sourceSize</key>
                <string>{58,24}</string>
            </dict>
            <key>monster_shoujingshou_19008:cvdr.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{125,665},{47,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{47,15}}</string>
                <key>sourceSize</key>
                <string>{47,15}</string>
            </dict>
            <key>monster_shoujingshou_19008:cvdt.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{805,547},{48,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{48,34}}</string>
                <key>sourceSize</key>
                <string>{48,34}</string>
            </dict>
            <key>monster_shoujingshou_19008:cvwes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{751,731},{128,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{128,104}}</string>
                <key>sourceSize</key>
                <string>{128,104}</string>
            </dict>
            <key>monster_shoujingshou_19008:dfgbvf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{863,377},{37,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,85}}</string>
                <key>sourceSize</key>
                <string>{37,85}</string>
            </dict>
            <key>monster_shoujingshou_19008:dfgnyrbg.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,491},{163,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{163,145}}</string>
                <key>sourceSize</key>
                <string>{163,145}</string>
            </dict>
            <key>monster_shoujingshou_19008:dgetyn.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{624,514},{178,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{178,125}}</string>
                <key>sourceSize</key>
                <string>{178,125}</string>
            </dict>
            <key>monster_shoujingshou_19008:dvfw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{897,653},{50,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{50,28}}</string>
                <key>sourceSize</key>
                <string>{50,28}</string>
            </dict>
            <key>monster_shoujingshou_19008:ety.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{805,637},{89,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{89,91}}</string>
                <key>sourceSize</key>
                <string>{89,91}</string>
            </dict>
            <key>monster_shoujingshou_19008:hjkloi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{897,684},{101,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{101,150}}</string>
                <key>sourceSize</key>
                <string>{101,150}</string>
            </dict>
            <key>monster_shoujingshou_19008:kilow.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{217,315},{105,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{105,194}}</string>
                <key>sourceSize</key>
                <string>{105,194}</string>
            </dict>
            <key>monster_shoujingshou_19008:klim.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{542,583},{69,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{69,44}}</string>
                <key>sourceSize</key>
                <string>{69,44}</string>
            </dict>
            <key>monster_shoujingshou_19008:lsx.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{805,584},{48,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{48,22}}</string>
                <key>sourceSize</key>
                <string>{48,22}</string>
            </dict>
            <key>monster_shoujingshou_19008:mjmi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{985,205},{34,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,44}}</string>
                <key>sourceSize</key>
                <string>{34,44}</string>
            </dict>
            <key>monster_shoujingshou_19008:ng84.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{642,0},{283,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{283,233}}</string>
                <key>sourceSize</key>
                <string>{283,233}</string>
            </dict>
            <key>monster_shoujingshou_19008:nhh.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{861,520},{39,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,32}}</string>
                <key>sourceSize</key>
                <string>{39,32}</string>
            </dict>
            <key>monster_shoujingshou_19008:nnbgf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{675,944},{86,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{86,62}}</string>
                <key>sourceSize</key>
                <string>{86,62}</string>
            </dict>
            <key>monster_shoujingshou_19008:nnmioq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{478,919},{105,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{105,60}}</string>
                <key>sourceSize</key>
                <string>{105,60}</string>
            </dict>
            <key>monster_shoujingshou_19008:nrt56.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{330,0},{309,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{309,309}}</string>
                <key>sourceSize</key>
                <string>{309,309}</string>
            </dict>
            <key>monster_shoujingshou_19008:opm.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{856,555},{40,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,32}}</string>
                <key>sourceSize</key>
                <string>{40,32}</string>
            </dict>
            <key>monster_shoujingshou_19008:pppe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{697,891},{119,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{119,50}}</string>
                <key>sourceSize</key>
                <string>{119,50}</string>
            </dict>
            <key>monster_shoujingshou_19008:qqca.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{122,900},{119,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{119,50}}</string>
                <key>sourceSize</key>
                <string>{119,50}</string>
            </dict>
            <key>monster_shoujingshou_19008:qscz.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{985,330},{30,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,36}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>monster_shoujingshou_19008:scbgw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{863,496},{33,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,21}}</string>
                <key>sourceSize</key>
                <string>{33,21}</string>
            </dict>
            <key>monster_shoujingshou_19008:sdcsbg.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{985,292},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>monster_shoujingshou_19008:sdcvsv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{985,252},{34,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,37}}</string>
                <key>sourceSize</key>
                <string>{34,37}</string>
            </dict>
            <key>monster_shoujingshou_19008:sdfbbgyr.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,934},{104,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{104,59}}</string>
                <key>sourceSize</key>
                <string>{104,59}</string>
            </dict>
            <key>monster_shoujingshou_19008:sdfbtyw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{353,941},{86,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{86,62}}</string>
                <key>sourceSize</key>
                <string>{86,62}</string>
            </dict>
            <key>monster_shoujingshou_19008:sdfnyg.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{586,944},{86,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{86,62}}</string>
                <key>sourceSize</key>
                <string>{86,62}</string>
            </dict>
            <key>monster_shoujingshou_19008:sdfvf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{912,341},{52,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{52,117}}</string>
                <key>sourceSize</key>
                <string>{52,117}</string>
            </dict>
            <key>monster_shoujingshou_19008:sdfvvbt.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{929,902},{86,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{86,62}}</string>
                <key>sourceSize</key>
                <string>{86,62}</string>
            </dict>
            <key>monster_shoujingshou_19008:sdr.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{805,514},{53,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{53,30}}</string>
                <key>sourceSize</key>
                <string>{53,30}</string>
            </dict>
            <key>monster_shoujingshou_19008:sfbnyd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1017,58},{4,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{4,5}}</string>
                <key>sourceSize</key>
                <string>{4,5}</string>
            </dict>
            <key>monster_shoujingshou_19008:vaswe45.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{330,312},{291,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{291,222}}</string>
                <key>sourceSize</key>
                <string>{291,222}</string>
            </dict>
            <key>monster_shoujingshou_19008:vawer.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{963,607},{58,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,22}}</string>
                <key>sourceSize</key>
                <string>{58,22}</string>
            </dict>
            <key>monster_shoujingshou_19008:vbwec.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{327,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{327,312}}</string>
                <key>sourceSize</key>
                <string>{327,312}</string>
            </dict>
            <key>monster_shoujingshou_19008:vfd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{856,590},{38,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,27}}</string>
                <key>sourceSize</key>
                <string>{38,27}</string>
            </dict>
            <key>monster_shoujingshou_19008:vfdb.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{805,609},{41,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{41,25}}</string>
                <key>sourceSize</key>
                <string>{41,25}</string>
            </dict>
            <key>monster_shoujingshou_19008:vfew.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{601,828},{93,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{93,113}}</string>
                <key>sourceSize</key>
                <string>{93,113}</string>
            </dict>
            <key>monster_shoujingshou_19008:vfgt.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{384,829},{91,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{91,109}}</string>
                <key>sourceSize</key>
                <string>{91,109}</string>
            </dict>
            <key>monster_shoujingshou_19008:vqws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{966,517},{49,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{49,33}}</string>
                <key>sourceSize</key>
                <string>{49,33}</string>
            </dict>
            <key>monster_shoujingshou_19008:vsder.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{125,805},{115,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{115,92}}</string>
                <key>sourceSize</key>
                <string>{115,92}</string>
            </dict>
            <key>monster_shoujingshou_19008:vsderd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,315},{214,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{214,173}}</string>
                <key>sourceSize</key>
                <string>{214,173}</string>
            </dict>
            <key>monster_shoujingshou_19008:vsdersd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,785},{122,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{122,93}}</string>
                <key>sourceSize</key>
                <string>{122,93}</string>
            </dict>
            <key>monster_shoujingshou_19008:vsvx.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{990,167},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>monster_shoujingshou_19008:vswe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{166,491},{40,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,46}}</string>
                <key>sourceSize</key>
                <string>{40,46}</string>
            </dict>
            <key>monster_shoujingshou_19008:vsx.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{903,461},{60,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{60,74}}</string>
                <key>sourceSize</key>
                <string>{60,74}</string>
            </dict>
            <key>monster_shoujingshou_19008:vszx.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{537,630},{63,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{63,32}}</string>
                <key>sourceSize</key>
                <string>{63,32}</string>
            </dict>
            <key>monster_shoujingshou_19008:vvtr.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,881},{119,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{119,50}}</string>
                <key>sourceSize</key>
                <string>{119,50}</string>
            </dict>
            <key>monster_shoujingshou_19008:vyu.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{967,369},{54,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{54,111}}</string>
                <key>sourceSize</key>
                <string>{54,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_shoujingshou_19008.pvr.ccz</string>
            <key>size</key>
            <string>{1023,1007}</string>
            <key>textureFileName</key>
            <string>monster_shoujingshou_19008.pvr.ccz</string>
        </dict>
    </dict>
</plist>
