<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_skeletonwarrior_10104:ascef.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{166,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{166,102}}</string>
                <key>sourceSize</key>
                <string>{166,102}</string>
            </dict>
            <key>monster_skeletonwarrior_10104:cvbcvbc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{246,89},{7,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,14}}</string>
                <key>sourceSize</key>
                <string>{7,14}</string>
            </dict>
            <key>monster_skeletonwarrior_10104:jianjia.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{169,94},{28,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,36}}</string>
                <key>sourceSize</key>
                <string>{28,36}</string>
            </dict>
            <key>monster_skeletonwarrior_10104:jianjia2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{109,135},{27,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,33}}</string>
                <key>sourceSize</key>
                <string>{27,33}</string>
            </dict>
            <key>monster_skeletonwarrior_10104:jiao1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{162,133},{21,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,40}}</string>
                <key>sourceSize</key>
                <string>{21,40}</string>
            </dict>
            <key>monster_skeletonwarrior_10104:jiao2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{169,0},{38,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,50}}</string>
                <key>sourceSize</key>
                <string>{38,50}</string>
            </dict>
            <key>monster_skeletonwarrior_10104:jiao3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{169,53},{31,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,38}}</string>
                <key>sourceSize</key>
                <string>{31,38}</string>
            </dict>
            <key>monster_skeletonwarrior_10104:shenti1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{200,119},{33,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,29}}</string>
                <key>sourceSize</key>
                <string>{33,29}</string>
            </dict>
            <key>monster_skeletonwarrior_10104:shenti2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{210,0},{41,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{41,35}}</string>
                <key>sourceSize</key>
                <string>{41,35}</string>
            </dict>
            <key>monster_skeletonwarrior_10104:shou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{186,151},{24,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,34}}</string>
                <key>sourceSize</key>
                <string>{24,34}</string>
            </dict>
            <key>monster_skeletonwarrior_10104:shou4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{139,147},{20,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,36}}</string>
                <key>sourceSize</key>
                <string>{20,36}</string>
            </dict>
            <key>monster_skeletonwarrior_10104:shoubi1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{151,105},{11,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,22}}</string>
                <key>sourceSize</key>
                <string>{11,22}</string>
            </dict>
            <key>monster_skeletonwarrior_10104:tou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{203,83},{40,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,33}}</string>
                <key>sourceSize</key>
                <string>{40,33}</string>
            </dict>
            <key>monster_skeletonwarrior_10104:tou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{210,38},{33,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,42}}</string>
                <key>sourceSize</key>
                <string>{33,42}</string>
            </dict>
            <key>monster_skeletonwarrior_10104:wuqi1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,105},{106,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{106,80}}</string>
                <key>sourceSize</key>
                <string>{106,80}</string>
            </dict>
            <key>monster_skeletonwarrior_10104:wuqi2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,188},{112,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{112,66}}</string>
                <key>sourceSize</key>
                <string>{112,66}</string>
            </dict>
            <key>monster_skeletonwarrior_10104:xiati1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{109,105},{39,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,27}}</string>
                <key>sourceSize</key>
                <string>{39,27}</string>
            </dict>
            <key>monster_skeletonwarrior_10104:y1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{246,106},{7,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,14}}</string>
                <key>sourceSize</key>
                <string>{7,14}</string>
            </dict>
            <key>monster_skeletonwarrior_10104:y2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{236,119},{7,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,13}}</string>
                <key>sourceSize</key>
                <string>{7,13}</string>
            </dict>
            <key>monster_skeletonwarrior_10104:y3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{246,55},{7,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,14}}</string>
                <key>sourceSize</key>
                <string>{7,14}</string>
            </dict>
            <key>monster_skeletonwarrior_10104:y4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{246,72},{7,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,14}}</string>
                <key>sourceSize</key>
                <string>{7,14}</string>
            </dict>
            <key>monster_skeletonwarrior_10104:y5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{151,130},{8,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{8,14}}</string>
                <key>sourceSize</key>
                <string>{8,14}</string>
            </dict>
            <key>monster_skeletonwarrior_10104:y6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{246,38},{7,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,14}}</string>
                <key>sourceSize</key>
                <string>{7,14}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_skeletonwarrior_10104.pvr.ccz</string>
            <key>size</key>
            <string>{254,254}</string>
            <key>textureFileName</key>
            <string>monster_skeletonwarrior_10104.pvr.ccz</string>
        </dict>
    </dict>
</plist>
