<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_huayao_19002:4566f.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{267,449},{150,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{150,86}}</string>
                <key>sourceSize</key>
                <string>{150,86}</string>
            </dict>
            <key>monster_huayao_19002:asdcdf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,332},{160,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{160,185}}</string>
                <key>sourceSize</key>
                <string>{160,185}</string>
            </dict>
            <key>monster_huayao_19002:asdfs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,712},{172,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{172,139}}</string>
                <key>sourceSize</key>
                <string>{172,139}</string>
            </dict>
            <key>monster_huayao_19002:asdquca.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{162,356},{103,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{103,95}}</string>
                <key>sourceSize</key>
                <string>{103,95}</string>
            </dict>
            <key>monster_huayao_19002:bf6yt.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,638},{131,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{131,72}}</string>
                <key>sourceSize</key>
                <string>{131,72}</string>
            </dict>
            <key>monster_huayao_19002:cawer.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{419,229},{80,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{80,134}}</string>
                <key>sourceSize</key>
                <string>{80,134}</string>
            </dict>
            <key>monster_huayao_19002:cdvdfgs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{162,453},{99,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{99,88}}</string>
                <key>sourceSize</key>
                <string>{99,88}</string>
            </dict>
            <key>monster_huayao_19002:cdvq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{181,275},{84,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{84,79}}</string>
                <key>sourceSize</key>
                <string>{84,79}</string>
            </dict>
            <key>monster_huayao_19002:chushou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{174,804},{185,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{185,123}}</string>
                <key>sourceSize</key>
                <string>{185,123}</string>
            </dict>
            <key>monster_huayao_19002:cqwr.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{296,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{296,137}}</string>
                <key>sourceSize</key>
                <string>{296,137}</string>
            </dict>
            <key>monster_huayao_19002:huaban.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{361,860},{133,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{133,58}}</string>
                <key>sourceSize</key>
                <string>{133,58}</string>
            </dict>
            <key>monster_huayao_19002:huaban1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{401,539},{94,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{94,89}}</string>
                <key>sourceSize</key>
                <string>{94,89}</string>
            </dict>
            <key>monster_huayao_19002:huaban3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{401,630},{62,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{62,75}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>monster_huayao_19002:huaban4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{419,452},{91,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{91,85}}</string>
                <key>sourceSize</key>
                <string>{91,85}</string>
            </dict>
            <key>monster_huayao_19002:huaban5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{162,543},{64,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{64,98}}</string>
                <key>sourceSize</key>
                <string>{64,98}</string>
            </dict>
            <key>monster_huayao_19002:ksiqo.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{228,638},{171,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{171,164}}</string>
                <key>sourceSize</key>
                <string>{171,164}</string>
            </dict>
            <key>monster_huayao_19002:nghdfs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{133,643},{87,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{87,45}}</string>
                <key>sourceSize</key>
                <string>{87,45}</string>
            </dict>
            <key>monster_huayao_19002:sdfgwr.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{263,537},{136,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{136,99}}</string>
                <key>sourceSize</key>
                <string>{136,99}</string>
            </dict>
            <key>monster_huayao_19002:sdfx.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,519},{160,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{160,117}}</string>
                <key>sourceSize</key>
                <string>{160,117}</string>
            </dict>
            <key>monster_huayao_19002:sdwes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{273,229},{144,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{144,218}}</string>
                <key>sourceSize</key>
                <string>{144,218}</string>
            </dict>
            <key>monster_huayao_19002:shitou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{451,0},{44,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{44,23}}</string>
                <key>sourceSize</key>
                <string>{44,23}</string>
            </dict>
            <key>monster_huayao_19002:shitou3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{451,56},{38,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,23}}</string>
                <key>sourceSize</key>
                <string>{38,23}</string>
            </dict>
            <key>monster_huayao_19002:shitou4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{451,81},{24,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,19}}</string>
                <key>sourceSize</key>
                <string>{24,19}</string>
            </dict>
            <key>monster_huayao_19002:shtou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{451,25},{38,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,29}}</string>
                <key>sourceSize</key>
                <string>{38,29}</string>
            </dict>
            <key>monster_huayao_19002:shuye.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{181,139},{90,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{90,134}}</string>
                <key>sourceSize</key>
                <string>{90,134}</string>
            </dict>
            <key>monster_huayao_19002:uing.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,139},{179,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{179,191}}</string>
                <key>sourceSize</key>
                <string>{179,191}</string>
            </dict>
            <key>monster_huayao_19002:vfber.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{298,0},{151,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{151,227}}</string>
                <key>sourceSize</key>
                <string>{151,227}</string>
            </dict>
            <key>monster_huayao_19002:vfdfe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{419,365},{91,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{91,85}}</string>
                <key>sourceSize</key>
                <string>{91,85}</string>
            </dict>
            <key>monster_huayao_19002:vfhgf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{361,804},{141,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{141,54}}</string>
                <key>sourceSize</key>
                <string>{141,54}</string>
            </dict>
            <key>monster_huayao_19002:xcasdx.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,853},{144,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{144,50}}</string>
                <key>sourceSize</key>
                <string>{144,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_huayao_19002.pvr.ccz</string>
            <key>size</key>
            <string>{512,928}</string>
            <key>textureFileName</key>
            <string>monster_huayao_19002.pvr.ccz</string>
        </dict>
    </dict>
</plist>
