<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_haozhu_19001:TOU2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{922,0},{94,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{94,172}}</string>
                <key>sourceSize</key>
                <string>{94,172}</string>
            </dict>
            <key>monster_haozhu_19001:acav.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{691,770},{33,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,19}}</string>
                <key>sourceSize</key>
                <string>{33,19}</string>
            </dict>
            <key>monster_haozhu_19001:acvz.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{754,667},{70,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,43}}</string>
                <key>sourceSize</key>
                <string>{70,43}</string>
            </dict>
            <key>monster_haozhu_19001:adbbny.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{336,848},{107,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{107,61}}</string>
                <key>sourceSize</key>
                <string>{107,61}</string>
            </dict>
            <key>monster_haozhu_19001:adcvt.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,626},{221,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{221,163}}</string>
                <key>sourceSize</key>
                <string>{221,163}</string>
            </dict>
            <key>monster_haozhu_19001:adqop.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,313},{304,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{304,173}}</string>
                <key>sourceSize</key>
                <string>{304,173}</string>
            </dict>
            <key>monster_haozhu_19001:advbty.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{782,234},{59,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{59,194}}</string>
                <key>sourceSize</key>
                <string>{59,194}</string>
            </dict>
            <key>monster_haozhu_19001:advt.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{892,722},{108,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{108,62}}</string>
                <key>sourceSize</key>
                <string>{108,62}</string>
            </dict>
            <key>monster_haozhu_19001:advte.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,790},{215,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{215,82}}</string>
                <key>sourceSize</key>
                <string>{215,82}</string>
            </dict>
            <key>monster_haozhu_19001:asca.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{704,624},{62,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{62,38}}</string>
                <key>sourceSize</key>
                <string>{62,38}</string>
            </dict>
            <key>monster_haozhu_19001:asdaf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{767,642},{58,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,24}}</string>
                <key>sourceSize</key>
                <string>{58,24}</string>
            </dict>
            <key>monster_haozhu_19001:asdavxx.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{897,338},{107,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{107,144}}</string>
                <key>sourceSize</key>
                <string>{107,144}</string>
            </dict>
            <key>monster_haozhu_19001:asdavz.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{820,761},{37,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,28}}</string>
                <key>sourceSize</key>
                <string>{37,28}</string>
            </dict>
            <key>monster_haozhu_19001:asdc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{897,234},{24,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,62}}</string>
                <key>sourceSize</key>
                <string>{24,62}</string>
            </dict>
            <key>monster_haozhu_19001:asdqf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{892,634},{98,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{98,87}}</string>
                <key>sourceSize</key>
                <string>{98,87}</string>
            </dict>
            <key>monster_haozhu_19001:asdqret.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{365,914},{258,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{258,98}}</string>
                <key>sourceSize</key>
                <string>{258,98}</string>
            </dict>
            <key>monster_haozhu_19001:asdr.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{728,591},{40,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,32}}</string>
                <key>sourceSize</key>
                <string>{40,32}</string>
            </dict>
            <key>monster_haozhu_19001:asdvty.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,487},{267,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{267,138}}</string>
                <key>sourceSize</key>
                <string>{267,138}</string>
            </dict>
            <key>monster_haozhu_19001:asdvvc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{575,852},{106,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{106,60}}</string>
                <key>sourceSize</key>
                <string>{106,60}</string>
            </dict>
            <key>monster_haozhu_19001:asdvvcte.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{842,234},{54,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{54,141}}</string>
                <key>sourceSize</key>
                <string>{54,141}</string>
            </dict>
            <key>monster_haozhu_19001:asdz.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{824,714},{67,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{67,23}}</string>
                <key>sourceSize</key>
                <string>{67,23}</string>
            </dict>
            <key>monster_haozhu_19001:asdzxc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{691,719},{54,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{54,24}}</string>
                <key>sourceSize</key>
                <string>{54,24}</string>
            </dict>
            <key>monster_haozhu_19001:asxc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{455,751},{38,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,27}}</string>
                <key>sourceSize</key>
                <string>{38,27}</string>
            </dict>
            <key>monster_haozhu_19001:asxx.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{268,573},{31,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,41}}</string>
                <key>sourceSize</key>
                <string>{31,41}</string>
            </dict>
            <key>monster_haozhu_19001:axcaq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{704,697},{49,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{49,21}}</string>
                <key>sourceSize</key>
                <string>{49,21}</string>
            </dict>
            <key>monster_haozhu_19001:axcd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{608,714},{82,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{82,86}}</string>
                <key>sourceSize</key>
                <string>{82,86}</string>
            </dict>
            <key>monster_haozhu_19001:bdv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{620,499},{107,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{107,104}}</string>
                <key>sourceSize</key>
                <string>{107,104}</string>
            </dict>
            <key>monster_haozhu_19001:bgvd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{830,582},{61,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{61,44}}</string>
                <key>sourceSize</key>
                <string>{61,44}</string>
            </dict>
            <key>monster_haozhu_19001:cactq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{922,173},{99,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{99,164}}</string>
                <key>sourceSize</key>
                <string>{99,164}</string>
            </dict>
            <key>monster_haozhu_19001:ccvrt.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{713,819},{119,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{119,50}}</string>
                <key>sourceSize</key>
                <string>{119,50}</string>
            </dict>
            <key>monster_haozhu_19001:cdcvf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{222,721},{53,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{53,25}}</string>
                <key>sourceSize</key>
                <string>{53,25}</string>
            </dict>
            <key>monster_haozhu_19001:cdqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{837,494},{55,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,31}}</string>
                <key>sourceSize</key>
                <string>{55,31}</string>
            </dict>
            <key>monster_haozhu_19001:cdsx.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{837,526},{31,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,55}}</string>
                <key>sourceSize</key>
                <string>{31,55}</string>
            </dict>
            <key>monster_haozhu_19001:cdx.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{769,617},{58,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,24}}</string>
                <key>sourceSize</key>
                <string>{58,24}</string>
            </dict>
            <key>monster_haozhu_19001:cvdr.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{222,775},{47,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{47,15}}</string>
                <key>sourceSize</key>
                <string>{47,15}</string>
            </dict>
            <key>monster_haozhu_19001:cvdt.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{254,686},{48,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{48,34}}</string>
                <key>sourceSize</key>
                <string>{48,34}</string>
            </dict>
            <key>monster_haozhu_19001:dfgbvf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{268,487},{37,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,85}}</string>
                <key>sourceSize</key>
                <string>{37,85}</string>
            </dict>
            <key>monster_haozhu_19001:dfgbvgt.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{787,910},{86,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{86,62}}</string>
                <key>sourceSize</key>
                <string>{86,62}</string>
            </dict>
            <key>monster_haozhu_19001:dfgnny.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,873},{103,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{103,59}}</string>
                <key>sourceSize</key>
                <string>{103,59}</string>
            </dict>
            <key>monster_haozhu_19001:dfgnyrbg.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{306,533},{211,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{211,188}}</string>
                <key>sourceSize</key>
                <string>{211,188}</string>
            </dict>
            <key>monster_haozhu_19001:dgetyn.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{276,722},{178,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{178,125}}</string>
                <key>sourceSize</key>
                <string>{178,125}</string>
            </dict>
            <key>monster_haozhu_19001:dvfw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{455,722},{50,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{50,28}}</string>
                <key>sourceSize</key>
                <string>{50,28}</string>
            </dict>
            <key>monster_haozhu_19001:ety.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{518,647},{89,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{89,91}}</string>
                <key>sourceSize</key>
                <string>{89,91}</string>
            </dict>
            <key>monster_haozhu_19001:hjkloi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{895,483},{101,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{101,150}}</string>
                <key>sourceSize</key>
                <string>{101,150}</string>
            </dict>
            <key>monster_haozhu_19001:juevn.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{506,739},{86,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{86,62}}</string>
                <key>sourceSize</key>
                <string>{86,62}</string>
            </dict>
            <key>monster_haozhu_19001:kilow.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{638,234},{143,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{143,264}}</string>
                <key>sourceSize</key>
                <string>{143,264}</string>
            </dict>
            <key>monster_haozhu_19001:klim.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{754,711},{69,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{69,44}}</string>
                <key>sourceSize</key>
                <string>{69,44}</string>
            </dict>
            <key>monster_haozhu_19001:lla.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{858,785},{108,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{108,62}}</string>
                <key>sourceSize</key>
                <string>{108,62}</string>
            </dict>
            <key>monster_haozhu_19001:lsx.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{824,738},{48,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{48,22}}</string>
                <key>sourceSize</key>
                <string>{48,22}</string>
            </dict>
            <key>monster_haozhu_19001:mjmi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{728,546},{34,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,44}}</string>
                <key>sourceSize</key>
                <string>{34,44}</string>
            </dict>
            <key>monster_haozhu_19001:ng84.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{638,0},{283,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{283,233}}</string>
                <key>sourceSize</key>
                <string>{283,233}</string>
            </dict>
            <key>monster_haozhu_19001:nhh.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{263,653},{39,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,32}}</string>
                <key>sourceSize</key>
                <string>{39,32}</string>
            </dict>
            <key>monster_haozhu_19001:nnbgf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{278,910},{86,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{86,62}}</string>
                <key>sourceSize</key>
                <string>{86,62}</string>
            </dict>
            <key>monster_haozhu_19001:nnmioq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{444,853},{105,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{105,60}}</string>
                <key>sourceSize</key>
                <string>{105,60}</string>
            </dict>
            <key>monster_haozhu_19001:nrt56.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{328,0},{309,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{309,309}}</string>
                <key>sourceSize</key>
                <string>{309,309}</string>
            </dict>
            <key>monster_haozhu_19001:opm.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{222,626},{40,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,32}}</string>
                <key>sourceSize</key>
                <string>{40,32}</string>
            </dict>
            <key>monster_haozhu_19001:pppe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{593,801},{119,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{119,50}}</string>
                <key>sourceSize</key>
                <string>{119,50}</string>
            </dict>
            <key>monster_haozhu_19001:ppwa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{833,848},{106,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{106,61}}</string>
                <key>sourceSize</key>
                <string>{106,61}</string>
            </dict>
            <key>monster_haozhu_19001:qqca.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{455,802},{119,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{119,50}}</string>
                <key>sourceSize</key>
                <string>{119,50}</string>
            </dict>
            <key>monster_haozhu_19001:qscz.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{991,670},{30,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,36}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>monster_haozhu_19001:scbgw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{858,761},{33,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,21}}</string>
                <key>sourceSize</key>
                <string>{33,21}</string>
            </dict>
            <key>monster_haozhu_19001:sdcsbg.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{222,659},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>monster_haozhu_19001:sdcvsv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{268,615},{34,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,37}}</string>
                <key>sourceSize</key>
                <string>{34,37}</string>
            </dict>
            <key>monster_haozhu_19001:sdfbbgyr.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{682,870},{104,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{104,59}}</string>
                <key>sourceSize</key>
                <string>{104,59}</string>
            </dict>
            <key>monster_haozhu_19001:sdfbtyw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{733,756},{86,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{86,62}}</string>
                <key>sourceSize</key>
                <string>{86,62}</string>
            </dict>
            <key>monster_haozhu_19001:sdfnyg.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{104,873},{86,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{86,62}}</string>
                <key>sourceSize</key>
                <string>{86,62}</string>
            </dict>
            <key>monster_haozhu_19001:sdfvf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{842,376},{52,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{52,117}}</string>
                <key>sourceSize</key>
                <string>{52,117}</string>
            </dict>
            <key>monster_haozhu_19001:sdfvvbt.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{191,899},{86,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{86,62}}</string>
                <key>sourceSize</key>
                <string>{86,62}</string>
            </dict>
            <key>monster_haozhu_19001:sdr.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{826,660},{52,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{52,30}}</string>
                <key>sourceSize</key>
                <string>{52,30}</string>
            </dict>
            <key>monster_haozhu_19001:sfbnyd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1017,0},{4,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{4,5}}</string>
                <key>sourceSize</key>
                <string>{4,5}</string>
            </dict>
            <key>monster_haozhu_19001:vaswe45.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{328,310},{291,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{291,222}}</string>
                <key>sourceSize</key>
                <string>{291,222}</string>
            </dict>
            <key>monster_haozhu_19001:vawer.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{825,691},{58,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,22}}</string>
                <key>sourceSize</key>
                <string>{58,22}</string>
            </dict>
            <key>monster_haozhu_19001:vbwec.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{327,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{327,312}}</string>
                <key>sourceSize</key>
                <string>{327,312}</string>
            </dict>
            <key>monster_haozhu_19001:vfd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{222,747},{38,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,27}}</string>
                <key>sourceSize</key>
                <string>{38,27}</string>
            </dict>
            <key>monster_haozhu_19001:vfdb.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{691,744},{41,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{41,25}}</string>
                <key>sourceSize</key>
                <string>{41,25}</string>
            </dict>
            <key>monster_haozhu_19001:vfew.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{518,533},{93,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{93,113}}</string>
                <key>sourceSize</key>
                <string>{93,113}</string>
            </dict>
            <key>monster_haozhu_19001:vfgt.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{612,604},{91,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{91,109}}</string>
                <key>sourceSize</key>
                <string>{91,109}</string>
            </dict>
            <key>monster_haozhu_19001:vqws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{704,663},{49,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{49,33}}</string>
                <key>sourceSize</key>
                <string>{49,33}</string>
            </dict>
            <key>monster_haozhu_19001:vsvx.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{991,634},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>monster_haozhu_19001:vswe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{728,499},{40,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,46}}</string>
                <key>sourceSize</key>
                <string>{40,46}</string>
            </dict>
            <key>monster_haozhu_19001:vsx.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{769,541},{60,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{60,75}}</string>
                <key>sourceSize</key>
                <string>{60,75}</string>
            </dict>
            <key>monster_haozhu_19001:vszx.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{828,627},{63,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{63,32}}</string>
                <key>sourceSize</key>
                <string>{63,32}</string>
            </dict>
            <key>monster_haozhu_19001:vvtr.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{216,848},{119,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{119,50}}</string>
                <key>sourceSize</key>
                <string>{119,50}</string>
            </dict>
            <key>monster_haozhu_19001:vyu.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{782,429},{54,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{54,111}}</string>
                <key>sourceSize</key>
                <string>{54,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_haozhu_19001.pvr.ccz</string>
            <key>size</key>
            <string>{1023,1014}</string>
            <key>textureFileName</key>
            <string>monster_haozhu_19001.pvr.ccz</string>
        </dict>
    </dict>
</plist>
