<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_skeletonbowman_10105:a4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,266},{109,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{109,95}}</string>
                <key>sourceSize</key>
                <string>{109,95}</string>
            </dict>
            <key>monster_skeletonbowman_10105:a6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{293,243},{121,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{121,103}}</string>
                <key>sourceSize</key>
                <string>{121,103}</string>
            </dict>
            <key>monster_skeletonbowman_10105:cvbcvbc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{502,34},{7,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,14}}</string>
                <key>sourceSize</key>
                <string>{7,14}</string>
            </dict>
            <key>monster_skeletonbowman_10105:d1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{417,304},{75,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{75,90}}</string>
                <key>sourceSize</key>
                <string>{75,90}</string>
            </dict>
            <key>monster_skeletonbowman_10105:d2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{437,115},{65,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{65,99}}</string>
                <key>sourceSize</key>
                <string>{65,99}</string>
            </dict>
            <key>monster_skeletonbowman_10105:d3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{437,0},{62,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{62,112}}</string>
                <key>sourceSize</key>
                <string>{62,112}</string>
            </dict>
            <key>monster_skeletonbowman_10105:jianjia.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{472,397},{28,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,36}}</string>
                <key>sourceSize</key>
                <string>{28,36}</string>
            </dict>
            <key>monster_skeletonbowman_10105:jianjia2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{177,421},{27,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,33}}</string>
                <key>sourceSize</key>
                <string>{27,33}</string>
            </dict>
            <key>monster_skeletonbowman_10105:jiao1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{136,145},{21,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,40}}</string>
                <key>sourceSize</key>
                <string>{21,40}</string>
            </dict>
            <key>monster_skeletonbowman_10105:jiao2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{245,249},{38,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,50}}</string>
                <key>sourceSize</key>
                <string>{38,50}</string>
            </dict>
            <key>monster_skeletonbowman_10105:jiao3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{68,364},{31,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,38}}</string>
                <key>sourceSize</key>
                <string>{31,38}</string>
            </dict>
            <key>monster_skeletonbowman_10105:k1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{265,464},{61,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{61,52}}</string>
                <key>sourceSize</key>
                <string>{61,52}</string>
            </dict>
            <key>monster_skeletonbowman_10105:shenti1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{207,441},{55,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,59}}</string>
                <key>sourceSize</key>
                <string>{55,59}</string>
            </dict>
            <key>monster_skeletonbowman_10105:shenti2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{245,302},{41,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{41,35}}</string>
                <key>sourceSize</key>
                <string>{41,35}</string>
            </dict>
            <key>monster_skeletonbowman_10105:shou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{288,349},{117,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{117,63}}</string>
                <key>sourceSize</key>
                <string>{117,63}</string>
            </dict>
            <key>monster_skeletonbowman_10105:shou1 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{112,355},{116,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{116,63}}</string>
                <key>sourceSize</key>
                <string>{116,63}</string>
            </dict>
            <key>monster_skeletonbowman_10105:shou4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{285,415},{120,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{120,46}}</string>
                <key>sourceSize</key>
                <string>{120,46}</string>
            </dict>
            <key>monster_skeletonbowman_10105:shoubi1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{136,188},{11,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,22}}</string>
                <key>sourceSize</key>
                <string>{11,22}</string>
            </dict>
            <key>monster_skeletonbowman_10105:t10.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{163,130},{127,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{127,116}}</string>
                <key>sourceSize</key>
                <string>{127,116}</string>
            </dict>
            <key>monster_skeletonbowman_10105:t11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,145},{133,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{133,118}}</string>
                <key>sourceSize</key>
                <string>{133,118}</string>
            </dict>
            <key>monster_skeletonbowman_10105:t13.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{298,122},{134,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{134,118}}</string>
                <key>sourceSize</key>
                <string>{134,118}</string>
            </dict>
            <key>monster_skeletonbowman_10105:t15.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{160,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{160,142}}</string>
                <key>sourceSize</key>
                <string>{160,142}</string>
            </dict>
            <key>monster_skeletonbowman_10105:t4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{163,0},{132,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{132,127}}</string>
                <key>sourceSize</key>
                <string>{132,127}</string>
            </dict>
            <key>monster_skeletonbowman_10105:t5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{136,249},{106,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{106,103}}</string>
                <key>sourceSize</key>
                <string>{106,103}</string>
            </dict>
            <key>monster_skeletonbowman_10105:t8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,437},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{62,64}</string>
            </dict>
            <key>monster_skeletonbowman_10105:t9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{298,0},{136,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{136,119}}</string>
                <key>sourceSize</key>
                <string>{136,119}</string>
            </dict>
            <key>monster_skeletonbowman_10105:tou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{245,340},{40,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,33}}</string>
                <key>sourceSize</key>
                <string>{40,33}</string>
            </dict>
            <key>monster_skeletonbowman_10105:tou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{408,397},{61,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{61,74}}</string>
                <key>sourceSize</key>
                <string>{61,74}</string>
            </dict>
            <key>monster_skeletonbowman_10105:wuqi1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{231,376},{51,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{51,62}}</string>
                <key>sourceSize</key>
                <string>{51,62}</string>
            </dict>
            <key>monster_skeletonbowman_10105:wuqi2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,364},{65,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{65,70}}</string>
                <key>sourceSize</key>
                <string>{65,70}</string>
            </dict>
            <key>monster_skeletonbowman_10105:xiati1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{68,405},{39,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,27}}</string>
                <key>sourceSize</key>
                <string>{39,27}</string>
            </dict>
            <key>monster_skeletonbowman_10105:y1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{502,0},{7,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,14}}</string>
                <key>sourceSize</key>
                <string>{7,14}</string>
            </dict>
            <key>monster_skeletonbowman_10105:y2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{502,85},{7,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,13}}</string>
                <key>sourceSize</key>
                <string>{7,13}</string>
            </dict>
            <key>monster_skeletonbowman_10105:y3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{502,51},{7,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,14}}</string>
                <key>sourceSize</key>
                <string>{7,14}</string>
            </dict>
            <key>monster_skeletonbowman_10105:y4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{502,17},{7,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,14}}</string>
                <key>sourceSize</key>
                <string>{7,14}</string>
            </dict>
            <key>monster_skeletonbowman_10105:y5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{150,188},{8,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{8,14}}</string>
                <key>sourceSize</key>
                <string>{8,14}</string>
            </dict>
            <key>monster_skeletonbowman_10105:y6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{502,68},{7,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,14}}</string>
                <key>sourceSize</key>
                <string>{7,14}</string>
            </dict>
            <key>monster_skeletonbowman_10105:z2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{110,421},{64,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{64,67}}</string>
                <key>sourceSize</key>
                <string>{64,67}</string>
            </dict>
            <key>monster_skeletonbowman_10105:z656.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{435,217},{52,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{52,84}}</string>
                <key>sourceSize</key>
                <string>{52,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_skeletonbowman_10105.pvr.ccz</string>
            <key>size</key>
            <string>{510,512}</string>
            <key>textureFileName</key>
            <string>monster_skeletonbowman_10105.pvr.ccz</string>
        </dict>
    </dict>
</plist>
