<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_lengkulangren_10044:Bhoufa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{178,129},{38,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,25}}</string>
                <key>sourceSize</key>
                <string>{38,25}</string>
            </dict>
            <key>monster_lengkulangren_10044:Bjiaod.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{38,125},{35,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,17}}</string>
                <key>sourceSize</key>
                <string>{35,17}</string>
            </dict>
            <key>monster_lengkulangren_10044:Bkua.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{124,162},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,22}</string>
            </dict>
            <key>monster_lengkulangren_10044:Bshen.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{221,85},{31,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,27}}</string>
                <key>sourceSize</key>
                <string>{31,27}</string>
            </dict>
            <key>monster_lengkulangren_10044:Btou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{101,87},{39,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,41}}</string>
                <key>sourceSize</key>
                <string>{39,41}</string>
            </dict>
            <key>monster_lengkulangren_10044:Bupc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{26,168},{24,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,18}}</string>
                <key>sourceSize</key>
                <string>{24,18}</string>
            </dict>
            <key>monster_lengkulangren_10044:Byifu.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{38,93},{37,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,29}}</string>
                <key>sourceSize</key>
                <string>{37,29}</string>
            </dict>
            <key>monster_lengkulangren_10044:Byoushou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{150,32},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,42}}</string>
                <key>sourceSize</key>
                <string>{28,42}</string>
            </dict>
            <key>monster_lengkulangren_10044:Fjing.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{178,100},{38,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,26}}</string>
                <key>sourceSize</key>
                <string>{38,26}</string>
            </dict>
            <key>monster_lengkulangren_10044:Fkua.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{198,190},{22,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,12}}</string>
                <key>sourceSize</key>
                <string>{22,12}</string>
            </dict>
            <key>monster_lengkulangren_10044:Fshen.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{219,150},{27,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,21}}</string>
                <key>sourceSize</key>
                <string>{27,21}</string>
            </dict>
            <key>monster_lengkulangren_10044:Ftou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{101,32},{46,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,52}}</string>
                <key>sourceSize</key>
                <string>{46,52}</string>
            </dict>
            <key>monster_lengkulangren_10044:Fyi1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{78,93},{20,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,35}}</string>
                <key>sourceSize</key>
                <string>{20,35}</string>
            </dict>
            <key>monster_lengkulangren_10044:Fyi2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{141,140},{30,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,19}}</string>
                <key>sourceSize</key>
                <string>{30,19}</string>
            </dict>
            <key>monster_lengkulangren_10044:Fyi3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,169},{17,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,19}}</string>
                <key>sourceSize</key>
                <string>{17,19}</string>
            </dict>
            <key>monster_lengkulangren_10044:Fyoudatui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{20,189},{33,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,9}}</string>
                <key>sourceSize</key>
                <string>{33,9}</string>
            </dict>
            <key>monster_lengkulangren_10044:Fyouhoubi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{100,187},{18,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,17}}</string>
                <key>sourceSize</key>
                <string>{18,17}</string>
            </dict>
            <key>monster_lengkulangren_10044:Fyoujiao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{26,145},{29,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,20}}</string>
                <key>sourceSize</key>
                <string>{29,20}</string>
            </dict>
            <key>monster_lengkulangren_10044:Fyouqianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{100,166},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>monster_lengkulangren_10044:Fyoushou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{219,115},{21,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,32}}</string>
                <key>sourceSize</key>
                <string>{21,32}</string>
            </dict>
            <key>monster_lengkulangren_10044:Fyouxiaotui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{121,187},{27,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,11}}</string>
                <key>sourceSize</key>
                <string>{27,11}</string>
            </dict>
            <key>monster_lengkulangren_10044:Fzuodatui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{124,131},{14,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,18}}</string>
                <key>sourceSize</key>
                <string>{14,18}</string>
            </dict>
            <key>monster_lengkulangren_10044:Fzuohoubi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{171,179},{24,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,17}}</string>
                <key>sourceSize</key>
                <string>{24,17}</string>
            </dict>
            <key>monster_lengkulangren_10044:Fzuojiao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{221,51},{30,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{30,31}</string>
            </dict>
            <key>monster_lengkulangren_10044:Fzuoqianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{58,164},{18,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,26}}</string>
                <key>sourceSize</key>
                <string>{18,26}</string>
            </dict>
            <key>monster_lengkulangren_10044:Fzuoshou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{181,51},{37,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,46}}</string>
                <key>sourceSize</key>
                <string>{37,46}</string>
            </dict>
            <key>monster_lengkulangren_10044:Fzuoxiaotui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{204,174},{30,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,13}}</string>
                <key>sourceSize</key>
                <string>{30,13}</string>
            </dict>
            <key>monster_lengkulangren_10044:asdfa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{101,0},{81,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{81,29}}</string>
                <key>sourceSize</key>
                <string>{81,29}</string>
            </dict>
            <key>monster_lengkulangren_10044:asdfav.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{243,0},{9,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,6}}</string>
                <key>sourceSize</key>
                <string>{9,6}</string>
            </dict>
            <key>monster_lengkulangren_10044:asdjf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{174,157},{27,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,19}}</string>
                <key>sourceSize</key>
                <string>{27,19}</string>
            </dict>
            <key>monster_lengkulangren_10044:askdf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{150,77},{25,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,33}}</string>
                <key>sourceSize</key>
                <string>{25,33}</string>
            </dict>
            <key>monster_lengkulangren_10044:bghsd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{101,131},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>monster_lengkulangren_10044:casdvf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{143,113},{32,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,24}}</string>
                <key>sourceSize</key>
                <string>{32,24}</string>
            </dict>
            <key>monster_lengkulangren_10044:er1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{151,162},{17,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,28}}</string>
                <key>sourceSize</key>
                <string>{17,28}</string>
            </dict>
            <key>monster_lengkulangren_10044:er2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{223,190},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>monster_lengkulangren_10044:vdasdf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,138},{23,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,28}}</string>
                <key>sourceSize</key>
                <string>{23,28}</string>
            </dict>
            <key>monster_lengkulangren_10044:vdfv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{76,131},{22,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,30}}</string>
                <key>sourceSize</key>
                <string>{22,30}</string>
            </dict>
            <key>monster_lengkulangren_10044:vdsfs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{79,164},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>monster_lengkulangren_10044:vsdf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{98,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{98,90}}</string>
                <key>sourceSize</key>
                <string>{98,90}</string>
            </dict>
            <key>monster_lengkulangren_10044:vxsd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,93},{35,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,42}}</string>
                <key>sourceSize</key>
                <string>{35,42}</string>
            </dict>
            <key>monster_lengkulangren_10044:weiba.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{185,0},{55,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,48}}</string>
                <key>sourceSize</key>
                <string>{55,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_lengkulangren_10044.pvr.ccz</string>
            <key>size</key>
            <string>{252,207}</string>
            <key>textureFileName</key>
            <string>monster_lengkulangren_10044.pvr.ccz</string>
        </dict>
    </dict>
</plist>
