<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_fengshen2_19504:Bkuzi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{221,297},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,24}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>monster_fengshen2_19504:Bshangshen.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{308,281},{44,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{44,34}}</string>
                <key>sourceSize</key>
                <string>{44,34}</string>
            </dict>
            <key>monster_fengshen2_19504:Btou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{318,133},{68,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,93}}</string>
                <key>sourceSize</key>
                <string>{68,93}</string>
            </dict>
            <key>monster_fengshen2_19504:Byao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{357,273},{21,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,39}}</string>
                <key>sourceSize</key>
                <string>{21,39}</string>
            </dict>
            <key>monster_fengshen2_19504:Byoudatui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{166,297},{53,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{53,17}}</string>
                <key>sourceSize</key>
                <string>{53,17}</string>
            </dict>
            <key>monster_fengshen2_19504:Byoushou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{131,266},{33,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,50}}</string>
                <key>sourceSize</key>
                <string>{33,50}</string>
            </dict>
            <key>monster_fengshen2_19504:Byouxiaotui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{487,155},{21,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,49}}</string>
                <key>sourceSize</key>
                <string>{21,49}</string>
            </dict>
            <key>monster_fengshen2_19504:Bzuodatui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{169,209},{18,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,49}}</string>
                <key>sourceSize</key>
                <string>{18,49}</string>
            </dict>
            <key>monster_fengshen2_19504:Bzuoshou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{388,205},{28,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,43}}</string>
                <key>sourceSize</key>
                <string>{28,43}</string>
            </dict>
            <key>monster_fengshen2_19504:Bzuoxiaotui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{357,228},{25,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,43}}</string>
                <key>sourceSize</key>
                <string>{25,43}</string>
            </dict>
            <key>monster_fengshen2_19504:Fshangshen.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{417,262},{50,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{50,35}}</string>
                <key>sourceSize</key>
                <string>{50,35}</string>
            </dict>
            <key>monster_fengshen2_19504:Ftou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{419,0},{83,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{83,100}}</string>
                <key>sourceSize</key>
                <string>{83,100}</string>
            </dict>
            <key>monster_fengshen2_19504:Fyao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{481,255},{22,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,40}}</string>
                <key>sourceSize</key>
                <string>{22,40}</string>
            </dict>
            <key>monster_fengshen2_19504:Fyaodai.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{276,273},{30,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{30,31}</string>
            </dict>
            <key>monster_fengshen2_19504:Fyoudatui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{73,289},{55,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,18}}</string>
                <key>sourceSize</key>
                <string>{55,18}</string>
            </dict>
            <key>monster_fengshen2_19504:Fyouhoubi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{305,125},{11,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,24}}</string>
                <key>sourceSize</key>
                <string>{11,24}</string>
            </dict>
            <key>monster_fengshen2_19504:Fyoujiao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{318,228},{37,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,51}}</string>
                <key>sourceSize</key>
                <string>{37,51}</string>
            </dict>
            <key>monster_fengshen2_19504:Fyoushou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{384,250},{31,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,51}}</string>
                <key>sourceSize</key>
                <string>{31,51}</string>
            </dict>
            <key>monster_fengshen2_19504:Fyoushoubu.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{388,133},{29,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,70}}</string>
                <key>sourceSize</key>
                <string>{29,70}</string>
            </dict>
            <key>monster_fengshen2_19504:Fyoutui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{111,222},{18,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,49}}</string>
                <key>sourceSize</key>
                <string>{18,49}</string>
            </dict>
            <key>monster_fengshen2_19504:Fzuobi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{139,130},{34,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,77}}</string>
                <key>sourceSize</key>
                <string>{34,77}</string>
            </dict>
            <key>monster_fengshen2_19504:Fzuodatui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{487,102},{20,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,51}}</string>
                <key>sourceSize</key>
                <string>{20,51}</string>
            </dict>
            <key>monster_fengshen2_19504:Fzuohoubi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{469,297},{32,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,17}}</string>
                <key>sourceSize</key>
                <string>{32,17}</string>
            </dict>
            <key>monster_fengshen2_19504:Fzuojiao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{139,59},{51,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{51,69}}</string>
                <key>sourceSize</key>
                <string>{51,69}</string>
            </dict>
            <key>monster_fengshen2_19504:Fzuoshou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{132,209},{35,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,55}}</string>
                <key>sourceSize</key>
                <string>{35,55}</string>
            </dict>
            <key>monster_fengshen2_19504:Fzuotui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{487,206},{20,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,47}}</string>
                <key>sourceSize</key>
                <string>{20,47}</string>
            </dict>
            <key>monster_fengshen2_19504:casewff.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{200,0},{118,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{118,123}}</string>
                <key>sourceSize</key>
                <string>{118,123}</string>
            </dict>
            <key>monster_fengshen2_19504:cibang1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,318},{148,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{148,59}}</string>
                <key>sourceSize</key>
                <string>{148,59}</string>
            </dict>
            <key>monster_fengshen2_19504:cibang2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{354,316},{153,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{153,62}}</string>
                <key>sourceSize</key>
                <string>{153,62}</string>
            </dict>
            <key>monster_fengshen2_19504:cibang3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{198,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{198,57}}</string>
                <key>sourceSize</key>
                <string>{198,57}</string>
            </dict>
            <key>monster_fengshen2_19504:fjing.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{169,260},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>monster_fengshen2_19504:vaqwr5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,289},{71,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{71,21}}</string>
                <key>sourceSize</key>
                <string>{71,21}</string>
            </dict>
            <key>monster_fengshen2_19504:vasev.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{276,223},{40,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,48}}</string>
                <key>sourceSize</key>
                <string>{40,48}</string>
            </dict>
            <key>monster_fengshen2_19504:vawr45.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{320,0},{97,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{97,131}}</string>
                <key>sourceSize</key>
                <string>{97,131}</string>
            </dict>
            <key>monster_fengshen2_19504:vaws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{192,125},{111,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{111,96}}</string>
                <key>sourceSize</key>
                <string>{111,96}</string>
            </dict>
            <key>monster_fengshen2_19504:vfwe2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,222},{109,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{109,65}}</string>
                <key>sourceSize</key>
                <string>{109,65}</string>
            </dict>
            <key>monster_fengshen2_19504:vqwer.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{189,223},{85,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{85,72}}</string>
                <key>sourceSize</key>
                <string>{85,72}</string>
            </dict>
            <key>monster_fengshen2_19504:vvawq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,141},{130,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{130,79}}</string>
                <key>sourceSize</key>
                <string>{130,79}</string>
            </dict>
            <key>monster_fengshen2_19504:vvaws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{418,214},{61,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{61,46}}</string>
                <key>sourceSize</key>
                <string>{61,46}</string>
            </dict>
            <key>monster_fengshen2_19504:vvwerq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{419,102},{66,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{66,110}}</string>
                <key>sourceSize</key>
                <string>{66,110}</string>
            </dict>
            <key>monster_fengshen2_19504:vvwet.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,59},{137,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{137,80}}</string>
                <key>sourceSize</key>
                <string>{137,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_fengshen2_19504.pvr.ccz</string>
            <key>size</key>
            <string>{509,378}</string>
            <key>textureFileName</key>
            <string>monster_fengshen2_19504.pvr.ccz</string>
        </dict>
    </dict>
</plist>
