<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_xindaer_19021:Bpifeng.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{240,282},{111,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{111,91}}</string>
                <key>sourceSize</key>
                <string>{111,91}</string>
            </dict>
            <key>monster_xindaer_19021:Bshuijing.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{448,177},{52,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{52,55}}</string>
                <key>sourceSize</key>
                <string>{52,55}</string>
            </dict>
            <key>monster_xindaer_19021:Btou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{395,80},{51,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{51,60}}</string>
                <key>sourceSize</key>
                <string>{51,60}</string>
            </dict>
            <key>monster_xindaer_19021:Fhoupifeng.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{89,418},{73,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{73,77}}</string>
                <key>sourceSize</key>
                <string>{73,77}</string>
            </dict>
            <key>monster_xindaer_19021:Fshenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{203,230},{27,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,31}}</string>
                <key>sourceSize</key>
                <string>{27,31}</string>
            </dict>
            <key>monster_xindaer_19021:Ftou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{201,263},{37,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,40}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>monster_xindaer_19021:Ftoufa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{144,145},{50,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{50,58}}</string>
                <key>sourceSize</key>
                <string>{50,58}</string>
            </dict>
            <key>monster_xindaer_19021:Fyaodai.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{108,244},{34,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,22}}</string>
                <key>sourceSize</key>
                <string>{34,22}</string>
            </dict>
            <key>monster_xindaer_19021:Fyoudatui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{170,279},{21,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,26}}</string>
                <key>sourceSize</key>
                <string>{21,26}</string>
            </dict>
            <key>monster_xindaer_19021:Fyouhoubi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{196,145},{9,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,21}}</string>
                <key>sourceSize</key>
                <string>{9,21}</string>
            </dict>
            <key>monster_xindaer_19021:Fyoujiao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{394,306},{21,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,16}}</string>
                <key>sourceSize</key>
                <string>{21,16}</string>
            </dict>
            <key>monster_xindaer_19021:Fyoupifeng.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{320,432},{97,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{97,41}}</string>
                <key>sourceSize</key>
                <string>{97,41}</string>
            </dict>
            <key>monster_xindaer_19021:Fyoushou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{220,305},{17,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,16}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>monster_xindaer_19021:Fyouxiaotui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{432,142},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>monster_xindaer_19021:Fzuodatui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{418,294},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>monster_xindaer_19021:Fzuohoubi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{196,168},{9,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,20}}</string>
                <key>sourceSize</key>
                <string>{9,20}</string>
            </dict>
            <key>monster_xindaer_19021:Fzuojiao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{170,307},{21,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,15}}</string>
                <key>sourceSize</key>
                <string>{21,15}</string>
            </dict>
            <key>monster_xindaer_19021:Fzuopifeng.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{395,142},{27,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,84}}</string>
                <key>sourceSize</key>
                <string>{27,84}</string>
            </dict>
            <key>monster_xindaer_19021:Fzuoshou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{382,199},{10,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,14}}</string>
                <key>sourceSize</key>
                <string>{10,14}</string>
            </dict>
            <key>monster_xindaer_19021:Fzuoxiaobi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{382,181},{10,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,16}}</string>
                <key>sourceSize</key>
                <string>{10,16}</string>
            </dict>
            <key>monster_xindaer_19021:Fzuoxiaotui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{424,272},{12,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,20}}</string>
                <key>sourceSize</key>
                <string>{12,20}</string>
            </dict>
            <key>monster_xindaer_19021:Fzuoyiling.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{394,282},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>monster_xindaer_19021:asdwq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{241,181},{139,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{139,99}}</string>
                <key>sourceSize</key>
                <string>{139,99}</string>
            </dict>
            <key>monster_xindaer_19021:baw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,74},{205,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{205,69}}</string>
                <key>sourceSize</key>
                <string>{205,69}</string>
            </dict>
            <key>monster_xindaer_19021:bdf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{245,80},{148,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{148,99}}</string>
                <key>sourceSize</key>
                <string>{148,99}</string>
            </dict>
            <key>monster_xindaer_19021:bdferl.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{234,375},{84,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{84,75}}</string>
                <key>sourceSize</key>
                <string>{84,75}</string>
            </dict>
            <key>monster_xindaer_19021:bfer.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{182,325},{25,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,17}}</string>
                <key>sourceSize</key>
                <string>{25,17}</string>
            </dict>
            <key>monster_xindaer_19021:bferv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{438,293},{72,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{72,78}}</string>
                <key>sourceSize</key>
                <string>{72,78}</string>
            </dict>
            <key>monster_xindaer_19021:bfg.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{372,324},{25,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,17}}</string>
                <key>sourceSize</key>
                <string>{25,17}</string>
            </dict>
            <key>monster_xindaer_19021:bfwer.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{207,74},{36,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{36,81}}</string>
                <key>sourceSize</key>
                <string>{36,81}</string>
            </dict>
            <key>monster_xindaer_19021:bsev.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{433,373},{73,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{73,90}}</string>
                <key>sourceSize</key>
                <string>{73,90}</string>
            </dict>
            <key>monster_xindaer_19021:casvs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{375,282},{17,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,28}}</string>
                <key>sourceSize</key>
                <string>{17,28}</string>
            </dict>
            <key>monster_xindaer_19021:caswes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,346},{87,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{87,108}}</string>
                <key>sourceSize</key>
                <string>{87,108}</string>
            </dict>
            <key>monster_xindaer_19021:ci.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{184,246},{15,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,31}}</string>
                <key>sourceSize</key>
                <string>{15,31}</string>
            </dict>
            <key>monster_xindaer_19021:ci2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{432,168},{14,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,19}}</string>
                <key>sourceSize</key>
                <string>{14,19}</string>
            </dict>
            <key>monster_xindaer_19021:cibang.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{382,228},{40,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,52}}</string>
                <key>sourceSize</key>
                <string>{40,52}</string>
            </dict>
            <key>monster_xindaer_19021:cjsdk.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{184,205},{17,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,39}}</string>
                <key>sourceSize</key>
                <string>{17,39}</string>
            </dict>
            <key>monster_xindaer_19021:csadwec.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,244},{106,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{106,100}}</string>
                <key>sourceSize</key>
                <string>{106,100}</string>
            </dict>
            <key>monster_xindaer_19021:csawe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{442,234},{65,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{65,57}}</string>
                <key>sourceSize</key>
                <string>{65,57}</string>
            </dict>
            <key>monster_xindaer_19021:csawv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{131,274},{37,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>monster_xindaer_19021:cswes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{108,268},{21,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,26}}</string>
                <key>sourceSize</key>
                <string>{21,26}</string>
            </dict>
            <key>monster_xindaer_19021:cvas.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{424,142},{6,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{6,69}}</string>
                <key>sourceSize</key>
                <string>{6,69}</string>
            </dict>
            <key>monster_xindaer_19021:cvasd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{353,311},{17,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,16}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>monster_xindaer_19021:fjing.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{382,215},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>monster_xindaer_19021:fyouxiaobi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{432,189},{13,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,20}}</string>
                <key>sourceSize</key>
                <string>{13,20}</string>
            </dict>
            <key>monster_xindaer_19021:kui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{108,296},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{18,20}</string>
            </dict>
            <key>monster_xindaer_19021:kvsdasd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{432,211},{12,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,21}}</string>
                <key>sourceSize</key>
                <string>{12,21}</string>
            </dict>
            <key>monster_xindaer_19021:mjtyu.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{448,0},{62,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{62,89}}</string>
                <key>sourceSize</key>
                <string>{62,89}</string>
            </dict>
            <key>monster_xindaer_19021:ngh.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{399,324},{25,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,17}}</string>
                <key>sourceSize</key>
                <string>{25,17}</string>
            </dict>
            <key>monster_xindaer_19021:ppow.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{155,324},{25,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,17}}</string>
                <key>sourceSize</key>
                <string>{25,17}</string>
            </dict>
            <key>monster_xindaer_19021:quan.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{207,157},{32,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,71}}</string>
                <key>sourceSize</key>
                <string>{32,71}</string>
            </dict>
            <key>monster_xindaer_19021:vasdf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{424,234},{16,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,36}}</string>
                <key>sourceSize</key>
                <string>{16,36}</string>
            </dict>
            <key>monster_xindaer_19021:vdf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{353,282},{20,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,27}}</string>
                <key>sourceSize</key>
                <string>{20,27}</string>
            </dict>
            <key>monster_xindaer_19021:vdwec.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{353,343},{78,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{78,87}}</string>
                <key>sourceSize</key>
                <string>{78,87}</string>
            </dict>
            <key>monster_xindaer_19021:vdweq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,145},{142,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{142,97}}</string>
                <key>sourceSize</key>
                <string>{142,97}</string>
            </dict>
            <key>monster_xindaer_19021:vksd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{193,305},{25,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,18}}</string>
                <key>sourceSize</key>
                <string>{25,18}</string>
            </dict>
            <key>monster_xindaer_19021:vmqw23.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{246,0},{200,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{200,78}}</string>
                <key>sourceSize</key>
                <string>{200,78}</string>
            </dict>
            <key>monster_xindaer_19021:vnvsw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{144,205},{38,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,67}}</string>
                <key>sourceSize</key>
                <string>{38,67}</string>
            </dict>
            <key>monster_xindaer_19021:vsasd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{209,325},{21,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,11}}</string>
                <key>sourceSize</key>
                <string>{21,11}</string>
            </dict>
            <key>monster_xindaer_19021:vswes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{448,91},{62,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{62,84}}</string>
                <key>sourceSize</key>
                <string>{62,84}</string>
            </dict>
            <key>monster_xindaer_19021:vvawesv2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{244,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{244,72}}</string>
                <key>sourceSize</key>
                <string>{244,72}</string>
            </dict>
            <key>monster_xindaer_19021:vvfg.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{128,314},{25,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,17}}</string>
                <key>sourceSize</key>
                <string>{25,17}</string>
            </dict>
            <key>monster_xindaer_19021:vvws23.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{108,344},{124,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{124,72}}</string>
                <key>sourceSize</key>
                <string>{124,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_xindaer_19021.pvr.ccz</string>
            <key>size</key>
            <string>{512,495}</string>
            <key>textureFileName</key>
            <string>monster_xindaer_19021.pvr.ccz</string>
        </dict>
    </dict>
</plist>
