<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_crab_19018:2123.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{342,255},{235,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{235,148}}</string>
                <key>sourceSize</key>
                <string>{235,148}</string>
            </dict>
            <key>monster_crab_19018:56ber.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{194,746},{264,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{264,79}}</string>
                <key>sourceSize</key>
                <string>{264,79}</string>
            </dict>
            <key>monster_crab_19018:78ne.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{460,789},{102,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{102,40}}</string>
                <key>sourceSize</key>
                <string>{102,40}</string>
            </dict>
            <key>monster_crab_19018:7qwf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{754,613},{85,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{85,97}}</string>
                <key>sourceSize</key>
                <string>{85,97}</string>
            </dict>
            <key>monster_crab_19018:7we8r3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,412},{263,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{263,157}}</string>
                <key>sourceSize</key>
                <string>{263,157}</string>
            </dict>
            <key>monster_crab_19018:aawes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{738,712},{84,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{84,92}}</string>
                <key>sourceSize</key>
                <string>{84,92}</string>
            </dict>
            <key>monster_crab_19018:asdwes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{297,405},{274,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{274,183}}</string>
                <key>sourceSize</key>
                <string>{274,183}</string>
            </dict>
            <key>monster_crab_19018:avsws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{573,505},{179,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{179,176}}</string>
                <key>sourceSize</key>
                <string>{179,176}</string>
            </dict>
            <key>monster_crab_19018:awqs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{347,0},{253,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{253,253}}</string>
                <key>sourceSize</key>
                <string>{253,253}</string>
            </dict>
            <key>monster_crab_19018:bawe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{989,183},{24,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,35}}</string>
                <key>sourceSize</key>
                <string>{24,35}</string>
            </dict>
            <key>monster_crab_19018:bmnhgj.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{760,372},{115,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{115,110}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>monster_crab_19018:bpof.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{571,683},{114,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{114,102}}</string>
                <key>sourceSize</key>
                <string>{114,102}</string>
            </dict>
            <key>monster_crab_19018:bvdsdf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{877,443},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>monster_crab_19018:bvsdf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{466,590},{103,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{103,99}}</string>
                <key>sourceSize</key>
                <string>{103,99}</string>
            </dict>
            <key>monster_crab_19018:casowes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{345,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{345,234}}</string>
                <key>sourceSize</key>
                <string>{345,234}</string>
            </dict>
            <key>monster_crab_19018:iqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{297,236},{43,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,81}}</string>
                <key>sourceSize</key>
                <string>{43,81}</string>
            </dict>
            <key>monster_crab_19018:kiweq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,725},{192,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{192,154}}</string>
                <key>sourceSize</key>
                <string>{192,154}</string>
            </dict>
            <key>monster_crab_19018:msdw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{194,827},{247,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{247,96}}</string>
                <key>sourceSize</key>
                <string>{247,96}</string>
            </dict>
            <key>monster_crab_19018:mws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{989,220},{18,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,33}}</string>
                <key>sourceSize</key>
                <string>{18,33}</string>
            </dict>
            <key>monster_crab_19018:pqwex.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,925},{251,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{251,87}}</string>
                <key>sourceSize</key>
                <string>{251,87}</string>
            </dict>
            <key>monster_crab_19018:qwc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{297,319},{37,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,50}}</string>
                <key>sourceSize</key>
                <string>{37,50}</string>
            </dict>
            <key>monster_crab_19018:qwese.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,571},{211,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{211,152}}</string>
                <key>sourceSize</key>
                <string>{211,152}</string>
            </dict>
            <key>monster_crab_19018:qwi8we.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{989,141},{23,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,40}}</string>
                <key>sourceSize</key>
                <string>{23,40}</string>
            </dict>
            <key>monster_crab_19018:qwseg.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{877,0},{110,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{110,288}}</string>
                <key>sourceSize</key>
                <string>{110,288}</string>
            </dict>
            <key>monster_crab_19018:qwss.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{760,484},{90,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{90,127}}</string>
                <key>sourceSize</key>
                <string>{90,127}</string>
            </dict>
            <key>monster_crab_19018:rter.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{213,571},{50,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{50,65}}</string>
                <key>sourceSize</key>
                <string>{50,65}</string>
            </dict>
            <key>monster_crab_19018:shenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{852,557},{159,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{159,97}}</string>
                <key>sourceSize</key>
                <string>{159,97}</string>
            </dict>
            <key>monster_crab_19018:uqwyef.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,236},{295,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{295,174}}</string>
                <key>sourceSize</key>
                <string>{295,174}</string>
            </dict>
            <key>monster_crab_19018:vas.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{760,219},{115,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{115,151}}</string>
                <key>sourceSize</key>
                <string>{115,151}</string>
            </dict>
            <key>monster_crab_19018:vas32.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{466,691},{98,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{98,96}}</string>
                <key>sourceSize</key>
                <string>{98,96}</string>
            </dict>
            <key>monster_crab_19018:vase.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{975,656},{45,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,40}}</string>
                <key>sourceSize</key>
                <string>{45,40}</string>
            </dict>
            <key>monster_crab_19018:vaswe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{841,656},{132,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{132,89}}</string>
                <key>sourceSize</key>
                <string>{132,89}</string>
            </dict>
            <key>monster_crab_19018:vaswese.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{265,590},{199,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{199,154}}</string>
                <key>sourceSize</key>
                <string>{199,154}</string>
            </dict>
            <key>monster_crab_19018:vawev.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{691,820},{321,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{321,107}}</string>
                <key>sourceSize</key>
                <string>{321,107}</string>
            </dict>
            <key>monster_crab_19018:vwet.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{824,747},{195,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{195,71}}</string>
                <key>sourceSize</key>
                <string>{195,71}</string>
            </dict>
            <key>monster_crab_19018:vwq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{989,57},{26,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,45}}</string>
                <key>sourceSize</key>
                <string>{26,45}</string>
            </dict>
            <key>monster_crab_19018:vwqv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{989,0},{29,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,55}}</string>
                <key>sourceSize</key>
                <string>{29,55}</string>
            </dict>
            <key>monster_crab_19018:vws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{989,104},{30,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,35}}</string>
                <key>sourceSize</key>
                <string>{30,35}</string>
            </dict>
            <key>monster_crab_19018:werfg.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{602,219},{156,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{156,284}}</string>
                <key>sourceSize</key>
                <string>{156,284}</string>
            </dict>
            <key>monster_crab_19018:wesd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{253,925},{266,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{266,71}}</string>
                <key>sourceSize</key>
                <string>{266,71}</string>
            </dict>
            <key>monster_crab_19018:wevd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{687,683},{49,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{49,38}}</string>
                <key>sourceSize</key>
                <string>{49,38}</string>
            </dict>
            <key>monster_crab_19018:wqcs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{877,290},{115,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{115,151}}</string>
                <key>sourceSize</key>
                <string>{115,151}</string>
            </dict>
            <key>monster_crab_19018:wqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{213,638},{47,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{47,50}}</string>
                <key>sourceSize</key>
                <string>{47,50}</string>
            </dict>
            <key>monster_crab_19018:wqwese.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{602,0},{273,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{273,217}}</string>
                <key>sourceSize</key>
                <string>{273,217}</string>
            </dict>
            <key>monster_crab_19018:wqws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{566,787},{123,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{123,54}}</string>
                <key>sourceSize</key>
                <string>{123,54}</string>
            </dict>
            <key>monster_crab_19018:yyweq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{521,929},{248,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{248,58}}</string>
                <key>sourceSize</key>
                <string>{248,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_crab_19018.pvr.ccz</string>
            <key>size</key>
            <string>{1021,1013}</string>
            <key>textureFileName</key>
            <string>monster_crab_19018.pvr.ccz</string>
        </dict>
    </dict>
</plist>
