<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_magewoman_11001:a1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{260,114},{121,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{121,113}}</string>
                <key>sourceSize</key>
                <string>{121,113}</string>
            </dict>
            <key>monster_magewoman_11001:a2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{126,0},{131,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{131,112}}</string>
                <key>sourceSize</key>
                <string>{131,112}</string>
            </dict>
            <key>monster_magewoman_11001:a3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,124},{96,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{96,88}}</string>
                <key>sourceSize</key>
                <string>{96,88}</string>
            </dict>
            <key>monster_magewoman_11001:a4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{394,0},{109,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{109,95}}</string>
                <key>sourceSize</key>
                <string>{109,95}</string>
            </dict>
            <key>monster_magewoman_11001:a5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{126,115},{119,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{119,105}}</string>
                <key>sourceSize</key>
                <string>{119,105}</string>
            </dict>
            <key>monster_magewoman_11001:a6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{123,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{123,121}}</string>
                <key>sourceSize</key>
                <string>{123,121}</string>
            </dict>
            <key>monster_magewoman_11001:a7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{260,0},{131,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{131,111}}</string>
                <key>sourceSize</key>
                <string>{131,111}</string>
            </dict>
            <key>monster_magewoman_11001:bnvbnv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{480,221},{26,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,17}}</string>
                <key>sourceSize</key>
                <string>{26,17}</string>
            </dict>
            <key>monster_magewoman_11001:n jian1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{99,156},{15,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,8}}</string>
                <key>sourceSize</key>
                <string>{15,8}</string>
            </dict>
            <key>monster_magewoman_11001:n jian2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{99,143},{15,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,10}}</string>
                <key>sourceSize</key>
                <string>{15,10}</string>
            </dict>
            <key>monster_magewoman_11001:n pifeng1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{254,297},{65,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{65,45}}</string>
                <key>sourceSize</key>
                <string>{65,45}</string>
            </dict>
            <key>monster_magewoman_11001:n pifeng2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{384,272},{70,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,46}}</string>
                <key>sourceSize</key>
                <string>{70,46}</string>
            </dict>
            <key>monster_magewoman_11001:n shenti1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{99,124},{20,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,16}}</string>
                <key>sourceSize</key>
                <string>{20,16}</string>
            </dict>
            <key>monster_magewoman_11001:n shou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{480,190},{25,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,28}}</string>
                <key>sourceSize</key>
                <string>{25,28}</string>
            </dict>
            <key>monster_magewoman_11001:n shou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{496,148},{11,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,13}}</string>
                <key>sourceSize</key>
                <string>{11,13}</string>
            </dict>
            <key>monster_magewoman_11001:n shou2 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{496,117},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>monster_magewoman_11001:n shoubi2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{496,98},{12,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,16}}</string>
                <key>sourceSize</key>
                <string>{12,16}</string>
            </dict>
            <key>monster_magewoman_11001:n tou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{87,215},{36,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{36,60}}</string>
                <key>sourceSize</key>
                <string>{36,60}</string>
            </dict>
            <key>monster_magewoman_11001:n tou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{327,278},{37,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,61}}</string>
                <key>sourceSize</key>
                <string>{37,61}</string>
            </dict>
            <key>monster_magewoman_11001:n xiati1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{145,300},{55,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,47}}</string>
                <key>sourceSize</key>
                <string>{55,47}</string>
            </dict>
            <key>monster_magewoman_11001:n xiati1 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{203,280},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>monster_magewoman_11001:n xiati1 2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{367,321},{44,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{44,52}}</string>
                <key>sourceSize</key>
                <string>{44,52}</string>
            </dict>
            <key>monster_magewoman_11001:n xiati1 3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{414,335},{52,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{52,40}}</string>
                <key>sourceSize</key>
                <string>{52,40}</string>
            </dict>
            <key>monster_magewoman_11001:n xiati1 4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{87,300},{55,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,47}}</string>
                <key>sourceSize</key>
                <string>{55,47}</string>
            </dict>
            <key>monster_magewoman_11001:n xiati1 5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{327,230},{54,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{54,45}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>monster_magewoman_11001:n xiati1 7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,302},{55,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,47}}</string>
                <key>sourceSize</key>
                <string>{55,47}</string>
            </dict>
            <key>monster_magewoman_11001:nv shoubi1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{496,132},{11,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,13}}</string>
                <key>sourceSize</key>
                <string>{11,13}</string>
            </dict>
            <key>monster_magewoman_11001:nweijing.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{87,278},{32,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,13}}</string>
                <key>sourceSize</key>
                <string>{32,13}</string>
            </dict>
            <key>monster_magewoman_11001:s1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{394,98},{99,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{99,89}}</string>
                <key>sourceSize</key>
                <string>{99,89}</string>
            </dict>
            <key>monster_magewoman_11001:s2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{384,190},{93,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{93,79}}</string>
                <key>sourceSize</key>
                <string>{93,79}</string>
            </dict>
            <key>monster_magewoman_11001:s3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,215},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>monster_magewoman_11001:s4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{126,223},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>monster_magewoman_11001:s5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{260,230},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>monster_magewoman_11001:s6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{203,223},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>monster_magewoman_11001:s7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{203,331},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>monster_magewoman_11001:wuqi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{457,272},{38,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,60}}</string>
                <key>sourceSize</key>
                <string>{38,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_magewoman_11001.pvr.ccz</string>
            <key>size</key>
            <string>{508,377}</string>
            <key>textureFileName</key>
            <string>monster_magewoman_11001.pvr.ccz</string>
        </dict>
    </dict>
</plist>
