<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_lavadevil_19999:aw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{857,615},{81,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{81,21}}</string>
                <key>sourceSize</key>
                <string>{81,21}</string>
            </dict>
            <key>monster_lavadevil_19999:brty.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,340},{286,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{286,174}}</string>
                <key>sourceSize</key>
                <string>{286,174}</string>
            </dict>
            <key>monster_lavadevil_19999:cqwer.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{561,832},{259,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{259,117}}</string>
                <key>sourceSize</key>
                <string>{259,117}</string>
            </dict>
            <key>monster_lavadevil_19999:hjquws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{901,529},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>monster_lavadevil_19999:jkqwas.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{297,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{297,338}}</string>
                <key>sourceSize</key>
                <string>{297,338}</string>
            </dict>
            <key>monster_lavadevil_19999:jkqws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{288,507},{229,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{229,120}}</string>
                <key>sourceSize</key>
                <string>{229,120}</string>
            </dict>
            <key>monster_lavadevil_19999:kjqwas.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{519,577},{183,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{183,89}}</string>
                <key>sourceSize</key>
                <string>{183,89}</string>
            </dict>
            <key>monster_lavadevil_19999:kqiwa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{288,341},{205,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{205,164}}</string>
                <key>sourceSize</key>
                <string>{205,164}</string>
            </dict>
            <key>monster_lavadevil_19999:kvoqws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{276,629},{218,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{218,111}}</string>
                <key>sourceSize</key>
                <string>{218,111}</string>
            </dict>
            <key>monster_lavadevil_19999:lop.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,649},{259,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{259,134}}</string>
                <key>sourceSize</key>
                <string>{259,134}</string>
            </dict>
            <key>monster_lavadevil_19999:majs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{933,638},{74,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{74,22}}</string>
                <key>sourceSize</key>
                <string>{74,22}</string>
            </dict>
            <key>monster_lavadevil_19999:mjqwsv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{704,594},{151,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{151,67}}</string>
                <key>sourceSize</key>
                <string>{151,67}</string>
            </dict>
            <key>monster_lavadevil_19999:mnrrt.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{547,312},{173,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{173,263}}</string>
                <key>sourceSize</key>
                <string>{173,263}</string>
            </dict>
            <key>monster_lavadevil_19999:mvksw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,516},{274,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{274,131}}</string>
                <key>sourceSize</key>
                <string>{274,131}</string>
            </dict>
            <key>monster_lavadevil_19999:njvwq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{300,832},{259,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{259,128}}</string>
                <key>sourceSize</key>
                <string>{259,128}</string>
            </dict>
            <key>monster_lavadevil_19999:nmwq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{901,179},{110,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{110,142}}</string>
                <key>sourceSize</key>
                <string>{110,142}</string>
            </dict>
            <key>monster_lavadevil_19999:nsq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{495,341},{40,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,91}}</string>
                <key>sourceSize</key>
                <string>{40,91}</string>
            </dict>
            <key>monster_lavadevil_19999:oqp.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{901,0},{96,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{96,177}}</string>
                <key>sourceSize</key>
                <string>{96,177}</string>
            </dict>
            <key>monster_lavadevil_19999:p9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{857,662},{58,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,22}}</string>
                <key>sourceSize</key>
                <string>{58,22}</string>
            </dict>
            <key>monster_lavadevil_19999:q12w.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{496,668},{308,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{308,162}}</string>
                <key>sourceSize</key>
                <string>{308,162}</string>
            </dict>
            <key>monster_lavadevil_19999:qw235.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{547,0},{182,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{182,310}}</string>
                <key>sourceSize</key>
                <string>{182,310}</string>
            </dict>
            <key>monster_lavadevil_19999:qwcs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{901,593},{82,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{82,20}}</string>
                <key>sourceSize</key>
                <string>{82,20}</string>
            </dict>
            <key>monster_lavadevil_19999:qwetw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{731,303},{168,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{168,289}}</string>
                <key>sourceSize</key>
                <string>{168,289}</string>
            </dict>
            <key>monster_lavadevil_19999:qwieoq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{857,638},{74,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{74,22}}</string>
                <key>sourceSize</key>
                <string>{74,22}</string>
            </dict>
            <key>monster_lavadevil_19999:qwsq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,785},{298,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{298,159}}</string>
                <key>sourceSize</key>
                <string>{298,159}</string>
            </dict>
            <key>monster_lavadevil_19999:skiq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{299,0},{246,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{246,339}}</string>
                <key>sourceSize</key>
                <string>{246,339}</string>
            </dict>
            <key>monster_lavadevil_19999:vaw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{901,323},{120,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{120,101}}</string>
                <key>sourceSize</key>
                <string>{120,101}</string>
            </dict>
            <key>monster_lavadevil_19999:vaws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{901,426},{68,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,101}}</string>
                <key>sourceSize</key>
                <string>{68,101}</string>
            </dict>
            <key>monster_lavadevil_19999:vqw34.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{731,0},{168,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{168,301}}</string>
                <key>sourceSize</key>
                <string>{168,301}</string>
            </dict>
            <key>monster_lavadevil_19999:vwe234.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{940,615},{80,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{80,21}}</string>
                <key>sourceSize</key>
                <string>{80,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_lavadevil_19999.pvr.ccz</string>
            <key>size</key>
            <string>{1020,964}</string>
            <key>textureFileName</key>
            <string>monster_lavadevil_19999.pvr.ccz</string>
        </dict>
    </dict>
</plist>
