<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_huweijiqiren_10030: shou3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{468,224},{29,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,26}}</string>
                <key>sourceSize</key>
                <string>{29,26}</string>
            </dict>
            <key>monster_huweijiqiren_10030:b1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{276,265},{116,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{116,68}}</string>
                <key>sourceSize</key>
                <string>{116,68}</string>
            </dict>
            <key>monster_huweijiqiren_10030:b2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{156,154},{117,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{117,115}}</string>
                <key>sourceSize</key>
                <string>{117,115}</string>
            </dict>
            <key>monster_huweijiqiren_10030:b3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{290,137},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>monster_huweijiqiren_10030:b4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,181},{122,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{122,109}}</string>
                <key>sourceSize</key>
                <string>{122,109}</string>
            </dict>
            <key>monster_huweijiqiren_10030:b5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{156,0},{131,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{131,151}}</string>
                <key>sourceSize</key>
                <string>{131,151}</string>
            </dict>
            <key>monster_huweijiqiren_10030:b6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{153,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{153,178}}</string>
                <key>sourceSize</key>
                <string>{153,178}</string>
            </dict>
            <key>monster_huweijiqiren_10030:h jian1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{418,138},{49,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{49,68}}</string>
                <key>sourceSize</key>
                <string>{49,68}</string>
            </dict>
            <key>monster_huweijiqiren_10030:h jian2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{418,209},{47,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{47,63}}</string>
                <key>sourceSize</key>
                <string>{47,63}</string>
            </dict>
            <key>monster_huweijiqiren_10030:h shen.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{421,69},{68,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,66}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>monster_huweijiqiren_10030:h shenzi2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{421,0},{68,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,66}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>monster_huweijiqiren_10030:h shoubi1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{176,272},{45,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,39}}</string>
                <key>sourceSize</key>
                <string>{45,39}</string>
            </dict>
            <key>monster_huweijiqiren_10030:h tui1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{125,272},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>monster_huweijiqiren_10030:h tui2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{224,272},{43,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,36}}</string>
                <key>sourceSize</key>
                <string>{43,36}</string>
            </dict>
            <key>monster_huweijiqiren_10030:s shou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{470,138},{37,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,26}}</string>
                <key>sourceSize</key>
                <string>{37,26}</string>
            </dict>
            <key>monster_huweijiqiren_10030:s shou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{470,196},{32,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,25}}</string>
                <key>sourceSize</key>
                <string>{32,25}</string>
            </dict>
            <key>monster_huweijiqiren_10030:shou3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{470,167},{36,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{36,26}}</string>
                <key>sourceSize</key>
                <string>{36,26}</string>
            </dict>
            <key>monster_huweijiqiren_10030:t7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{290,0},{128,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{128,134}}</string>
                <key>sourceSize</key>
                <string>{128,134}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_huweijiqiren_10030.pvr.ccz</string>
            <key>size</key>
            <string>{507,338}</string>
            <key>textureFileName</key>
            <string>monster_huweijiqiren_10030.pvr.ccz</string>
        </dict>
    </dict>
</plist>
