<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_fengbaolong_19503:a1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{619,585},{193,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{193,66}}</string>
                <key>sourceSize</key>
                <string>{193,66}</string>
            </dict>
            <key>monster_fengbaolong_19503:a2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{815,630},{193,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{193,65}}</string>
                <key>sourceSize</key>
                <string>{193,65}</string>
            </dict>
            <key>monster_fengbaolong_19503:a3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{308,723},{181,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{181,54}}</string>
                <key>sourceSize</key>
                <string>{181,54}</string>
            </dict>
            <key>monster_fengbaolong_19503:a4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{793,765},{178,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{178,53}}</string>
                <key>sourceSize</key>
                <string>{178,53}</string>
            </dict>
            <key>monster_fengbaolong_19503:a5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{799,698},{176,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{176,64}}</string>
                <key>sourceSize</key>
                <string>{176,64}</string>
            </dict>
            <key>monster_fengbaolong_19503:a6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{615,654},{181,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{181,64}}</string>
                <key>sourceSize</key>
                <string>{181,64}</string>
            </dict>
            <key>monster_fengbaolong_19503:a7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{612,721},{178,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{178,60}}</string>
                <key>sourceSize</key>
                <string>{178,60}</string>
            </dict>
            <key>monster_fengbaolong_19503:a8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{308,660},{181,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{181,60}}</string>
                <key>sourceSize</key>
                <string>{181,60}</string>
            </dict>
            <key>monster_fengbaolong_19503:b1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{713,821},{83,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{83,70}}</string>
                <key>sourceSize</key>
                <string>{83,70}</string>
            </dict>
            <key>monster_fengbaolong_19503:b2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,752},{89,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{89,74}}</string>
                <key>sourceSize</key>
                <string>{89,74}</string>
            </dict>
            <key>monster_fengbaolong_19503:b3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,675},{90,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{90,74}}</string>
                <key>sourceSize</key>
                <string>{90,74}</string>
            </dict>
            <key>monster_fengbaolong_19503:b4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{507,630},{105,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{105,88}}</string>
                <key>sourceSize</key>
                <string>{105,88}</string>
            </dict>
            <key>monster_fengbaolong_19503:b5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{523,445},{109,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{109,91}}</string>
                <key>sourceSize</key>
                <string>{109,91}</string>
            </dict>
            <key>monster_fengbaolong_19503:bcbc2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{160,231},{168,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{168,142}}</string>
                <key>sourceSize</key>
                <string>{168,142}</string>
            </dict>
            <key>monster_fengbaolong_19503:c4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{127,490},{196,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{196,124}}</string>
                <key>sourceSize</key>
                <string>{196,124}</string>
            </dict>
            <key>monster_fengbaolong_19503:chibang1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{334,226},{284,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{284,125}}</string>
                <key>sourceSize</key>
                <string>{284,125}</string>
            </dict>
            <key>monster_fengbaolong_19503:chibang1 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{908,0},{96,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{96,116}}</string>
                <key>sourceSize</key>
                <string>{96,116}</string>
            </dict>
            <key>monster_fengbaolong_19503:d38.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{523,354},{113,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{113,88}}</string>
                <key>sourceSize</key>
                <string>{113,88}</string>
            </dict>
            <key>monster_fengbaolong_19503:f1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{411,780},{70,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,11}}</string>
                <key>sourceSize</key>
                <string>{70,11}</string>
            </dict>
            <key>monster_fengbaolong_19503:f10.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{908,119},{98,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{98,104}}</string>
                <key>sourceSize</key>
                <string>{98,104}</string>
            </dict>
            <key>monster_fengbaolong_19503:f3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{799,821},{117,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{117,28}}</string>
                <key>sourceSize</key>
                <string>{117,28}</string>
            </dict>
            <key>monster_fengbaolong_19503:f5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{612,784},{98,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{98,56}}</string>
                <key>sourceSize</key>
                <string>{98,56}</string>
            </dict>
            <key>monster_fengbaolong_19503:f9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,575},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>monster_fengbaolong_19503:kjhkh4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{331,354},{189,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{189,158}}</string>
                <key>sourceSize</key>
                <string>{189,158}</string>
            </dict>
            <key>monster_fengbaolong_19503:longtou3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,446},{124,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{124,126}}</string>
                <key>sourceSize</key>
                <string>{124,126}</string>
            </dict>
            <key>monster_fengbaolong_19503:mbnmb3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{639,430},{184,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{184,152}}</string>
                <key>sourceSize</key>
                <string>{184,152}</string>
            </dict>
            <key>monster_fengbaolong_19503:nvn.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{100,617},{205,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{205,115}}</string>
                <key>sourceSize</key>
                <string>{205,115}</string>
            </dict>
            <key>monster_fengbaolong_19503:shenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{492,721},{117,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{117,69}}</string>
                <key>sourceSize</key>
                <string>{117,69}</string>
            </dict>
            <key>monster_fengbaolong_19503:shenti2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{507,539},{109,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{109,88}}</string>
                <key>sourceSize</key>
                <string>{109,88}</string>
            </dict>
            <key>monster_fengbaolong_19503:t2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{826,516},{170,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{170,111}}</string>
                <key>sourceSize</key>
                <string>{170,111}</string>
            </dict>
            <key>monster_fengbaolong_19503:t4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{855,385},{134,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{134,128}}</string>
                <key>sourceSize</key>
                <string>{134,128}</string>
            </dict>
            <key>monster_fengbaolong_19503:t6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{93,735},{143,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{143,92}}</string>
                <key>sourceSize</key>
                <string>{143,92}</string>
            </dict>
            <key>monster_fengbaolong_19503:tou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{898,226},{121,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{121,156}}</string>
                <key>sourceSize</key>
                <string>{121,156}</string>
            </dict>
            <key>monster_fengbaolong_19503:vxcvxvcvx.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{160,376},{153,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{153,111}}</string>
                <key>sourceSize</key>
                <string>{153,111}</string>
            </dict>
            <key>monster_fengbaolong_19503:vxcvxvxx.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{484,793},{95,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{95,59}}</string>
                <key>sourceSize</key>
                <string>{95,59}</string>
            </dict>
            <key>monster_fengbaolong_19503:w2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{919,821},{82,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{82,39}}</string>
                <key>sourceSize</key>
                <string>{82,39}</string>
            </dict>
            <key>monster_fengbaolong_19503:w4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{830,290},{48,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{48,70}}</string>
                <key>sourceSize</key>
                <string>{48,70}</string>
            </dict>
            <key>monster_fengbaolong_19503:w5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{830,218},{65,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{65,69}}</string>
                <key>sourceSize</key>
                <string>{65,69}</string>
            </dict>
            <key>monster_fengbaolong_19503:weiba1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{239,780},{169,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{169,62}}</string>
                <key>sourceSize</key>
                <string>{169,62}</string>
            </dict>
            <key>monster_fengbaolong_19503:xcz1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{326,515},{178,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{178,142}}</string>
                <key>sourceSize</key>
                <string>{178,142}</string>
            </dict>
            <key>monster_fengbaolong_19503:z1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{830,363},{22,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,90}}</string>
                <key>sourceSize</key>
                <string>{22,90}</string>
            </dict>
            <key>monster_fengbaolong_19503:z11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{331,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{331,228}}</string>
                <key>sourceSize</key>
                <string>{331,228}</string>
            </dict>
            <key>monster_fengbaolong_19503:z3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,231},{157,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{157,212}}</string>
                <key>sourceSize</key>
                <string>{157,212}</string>
            </dict>
            <key>monster_fengbaolong_19503:z5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{644,218},{183,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{183,209}}</string>
                <key>sourceSize</key>
                <string>{183,209}</string>
            </dict>
            <key>monster_fengbaolong_19503:z7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{644,0},{261,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{261,215}}</string>
                <key>sourceSize</key>
                <string>{261,215}</string>
            </dict>
            <key>monster_fengbaolong_19503:z9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{334,0},{307,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{307,223}}</string>
                <key>sourceSize</key>
                <string>{307,223}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_fengbaolong_19503.pvr.ccz</string>
            <key>size</key>
            <string>{1019,876}</string>
            <key>textureFileName</key>
            <string>monster_fengbaolong_19503.pvr.ccz</string>
        </dict>
    </dict>
</plist>
