<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_xingxing_10015:Bshangshen.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{415,54},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>monster_xingxing_10015:Btou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{470,73},{39,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,54}}</string>
                <key>sourceSize</key>
                <string>{39,54}</string>
            </dict>
            <key>monster_xingxing_10015:Bxiashen.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{308,125},{49,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{49,36}}</string>
                <key>sourceSize</key>
                <string>{49,36}</string>
            </dict>
            <key>monster_xingxing_10015:Byoudatui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{459,130},{33,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,15}}</string>
                <key>sourceSize</key>
                <string>{33,15}</string>
            </dict>
            <key>monster_xingxing_10015:Byouhoubi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{84,130},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>monster_xingxing_10015:Byoujiao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{192,63},{22,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,29}}</string>
                <key>sourceSize</key>
                <string>{22,29}</string>
            </dict>
            <key>monster_xingxing_10015:Byouqianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{40,130},{41,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{41,33}}</string>
                <key>sourceSize</key>
                <string>{41,33}</string>
            </dict>
            <key>monster_xingxing_10015:Byoushou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{147,130},{26,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,27}}</string>
                <key>sourceSize</key>
                <string>{26,27}</string>
            </dict>
            <key>monster_xingxing_10015:Bzuoshou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{459,148},{24,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,19}}</string>
                <key>sourceSize</key>
                <string>{24,19}</string>
            </dict>
            <key>monster_xingxing_10015:Fqianshen.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{415,0},{62,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{62,51}}</string>
                <key>sourceSize</key>
                <string>{62,51}</string>
            </dict>
            <key>monster_xingxing_10015:Ftou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{213,125},{40,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,59}}</string>
                <key>sourceSize</key>
                <string>{40,59}</string>
            </dict>
            <key>monster_xingxing_10015:Fxiashen.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{256,125},{49,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{49,38}}</string>
                <key>sourceSize</key>
                <string>{49,38}</string>
            </dict>
            <key>monster_xingxing_10015:Fyoudatui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{387,147},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>monster_xingxing_10015:Fyouhoubi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{480,0},{28,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{28,32}</string>
            </dict>
            <key>monster_xingxing_10015:Fyouqianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,130},{37,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>monster_xingxing_10015:Fyouxiaotui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{360,147},{24,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,21}}</string>
                <key>sourceSize</key>
                <string>{24,21}</string>
            </dict>
            <key>monster_xingxing_10015:Fzuohoubi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{480,35},{23,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,35}}</string>
                <key>sourceSize</key>
                <string>{23,35}</string>
            </dict>
            <key>monster_xingxing_10015:Fzuoqianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{120,130},{24,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,31}}</string>
                <key>sourceSize</key>
                <string>{24,31}</string>
            </dict>
            <key>monster_xingxing_10015:Fzuoshou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{176,130},{29,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,22}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>monster_xingxing_10015:bdfs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,63},{189,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{189,64}}</string>
                <key>sourceSize</key>
                <string>{189,64}</string>
            </dict>
            <key>monster_xingxing_10015:bdng.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{217,67},{159,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{159,55}}</string>
                <key>sourceSize</key>
                <string>{159,55}</string>
            </dict>
            <key>monster_xingxing_10015:casdd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{414,111},{42,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{42,58}}</string>
                <key>sourceSize</key>
                <string>{42,58}</string>
            </dict>
            <key>monster_xingxing_10015:fyoushou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{379,116},{31,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>monster_xingxing_10015:mnh.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{218,0},{194,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{194,64}}</string>
                <key>sourceSize</key>
                <string>{194,64}</string>
            </dict>
            <key>monster_xingxing_10015:nhjk.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{215,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{215,60}}</string>
                <key>sourceSize</key>
                <string>{215,60}</string>
            </dict>
            <key>monster_xingxing_10015:weiba.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{379,67},{32,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,46}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>monster_xingxing_10015:wenshen.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{192,95},{18,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,30}}</string>
                <key>sourceSize</key>
                <string>{18,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_xingxing_10015.pvr.ccz</string>
            <key>size</key>
            <string>{509,184}</string>
            <key>textureFileName</key>
            <string>monster_xingxing_10015.pvr.ccz</string>
        </dict>
    </dict>
</plist>
