<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_tanuge_517:g1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{153,254},{94,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{94,82}}</string>
                <key>sourceSize</key>
                <string>{94,82}</string>
            </dict>
            <key>npc_tanuge_517:g10.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{258,0},{96,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{96,81}}</string>
                <key>sourceSize</key>
                <string>{96,81}</string>
            </dict>
            <key>npc_tanuge_517:g11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{159,0},{96,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{96,81}}</string>
                <key>sourceSize</key>
                <string>{96,81}</string>
            </dict>
            <key>npc_tanuge_517:g12.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{60,0},{96,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{96,81}}</string>
                <key>sourceSize</key>
                <string>{96,81}</string>
            </dict>
            <key>npc_tanuge_517:g13.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{56,169},{95,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{95,81}}</string>
                <key>sourceSize</key>
                <string>{95,81}</string>
            </dict>
            <key>npc_tanuge_517:g14.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{256,84},{95,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{95,81}}</string>
                <key>sourceSize</key>
                <string>{95,81}</string>
            </dict>
            <key>npc_tanuge_517:g15.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{158,84},{95,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{95,82}}</string>
                <key>sourceSize</key>
                <string>{95,82}</string>
            </dict>
            <key>npc_tanuge_517:g16.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{354,169},{94,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{94,82}}</string>
                <key>sourceSize</key>
                <string>{94,82}</string>
            </dict>
            <key>npc_tanuge_517:g18.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{154,169},{94,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{94,82}}</string>
                <key>sourceSize</key>
                <string>{94,82}</string>
            </dict>
            <key>npc_tanuge_517:g19.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{56,338},{94,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{94,82}}</string>
                <key>sourceSize</key>
                <string>{94,82}</string>
            </dict>
            <key>npc_tanuge_517:g2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{250,337},{94,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{94,82}}</string>
                <key>sourceSize</key>
                <string>{94,82}</string>
            </dict>
            <key>npc_tanuge_517:g20.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{348,254},{94,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{94,82}}</string>
                <key>sourceSize</key>
                <string>{94,82}</string>
            </dict>
            <key>npc_tanuge_517:g3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{251,252},{94,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{94,82}}</string>
                <key>sourceSize</key>
                <string>{94,82}</string>
            </dict>
            <key>npc_tanuge_517:g4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{56,253},{94,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{94,82}}</string>
                <key>sourceSize</key>
                <string>{94,82}</string>
            </dict>
            <key>npc_tanuge_517:g5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{60,84},{95,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{95,82}}</string>
                <key>sourceSize</key>
                <string>{95,82}</string>
            </dict>
            <key>npc_tanuge_517:g7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{357,0},{95,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{95,82}}</string>
                <key>sourceSize</key>
                <string>{95,82}</string>
            </dict>
            <key>npc_tanuge_517:g8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{256,168},{95,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{95,81}}</string>
                <key>sourceSize</key>
                <string>{95,81}</string>
            </dict>
            <key>npc_tanuge_517:g9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{354,85},{95,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{95,81}}</string>
                <key>sourceSize</key>
                <string>{95,81}</string>
            </dict>
            <key>npc_tanuge_517:h1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{153,419},{52,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{52,77}}</string>
                <key>sourceSize</key>
                <string>{52,77}</string>
            </dict>
            <key>npc_tanuge_517:h10.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{455,0},{54,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{54,75}}</string>
                <key>sourceSize</key>
                <string>{54,75}</string>
            </dict>
            <key>npc_tanuge_517:h11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{455,78},{53,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{53,76}}</string>
                <key>sourceSize</key>
                <string>{53,76}</string>
            </dict>
            <key>npc_tanuge_517:h12.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{452,157},{53,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{53,76}}</string>
                <key>sourceSize</key>
                <string>{53,76}</string>
            </dict>
            <key>npc_tanuge_517:h13.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,225},{53,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{53,76}}</string>
                <key>sourceSize</key>
                <string>{53,76}</string>
            </dict>
            <key>npc_tanuge_517:h14.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{347,419},{52,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{52,76}}</string>
                <key>sourceSize</key>
                <string>{52,76}</string>
            </dict>
            <key>npc_tanuge_517:h16.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,463},{52,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{52,76}}</string>
                <key>sourceSize</key>
                <string>{52,76}</string>
            </dict>
            <key>npc_tanuge_517:h17.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{347,339},{52,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{52,77}}</string>
                <key>sourceSize</key>
                <string>{52,77}</string>
            </dict>
            <key>npc_tanuge_517:h19.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,383},{52,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{52,77}}</string>
                <key>sourceSize</key>
                <string>{52,77}</string>
            </dict>
            <key>npc_tanuge_517:h2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{445,315},{52,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{52,77}}</string>
                <key>sourceSize</key>
                <string>{52,77}</string>
            </dict>
            <key>npc_tanuge_517:h20.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{445,395},{52,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{52,77}}</string>
                <key>sourceSize</key>
                <string>{52,77}</string>
            </dict>
            <key>npc_tanuge_517:h3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{153,339},{52,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{52,77}}</string>
                <key>sourceSize</key>
                <string>{52,77}</string>
            </dict>
            <key>npc_tanuge_517:h4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{263,474},{52,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{52,76}}</string>
                <key>sourceSize</key>
                <string>{52,76}</string>
            </dict>
            <key>npc_tanuge_517:h5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{208,474},{52,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{52,76}}</string>
                <key>sourceSize</key>
                <string>{52,76}</string>
            </dict>
            <key>npc_tanuge_517:h6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{55,423},{52,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{52,76}}</string>
                <key>sourceSize</key>
                <string>{52,76}</string>
            </dict>
            <key>npc_tanuge_517:h7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,146},{53,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{53,76}}</string>
                <key>sourceSize</key>
                <string>{53,76}</string>
            </dict>
            <key>npc_tanuge_517:h8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,304},{53,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{53,76}}</string>
                <key>sourceSize</key>
                <string>{53,76}</string>
            </dict>
            <key>npc_tanuge_517:h9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{451,236},{53,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{53,76}}</string>
                <key>sourceSize</key>
                <string>{53,76}</string>
            </dict>
            <key>npc_tanuge_517:j shenti1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{208,374},{25,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,31}}</string>
                <key>sourceSize</key>
                <string>{25,31}</string>
            </dict>
            <key>npc_tanuge_517:m bao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{402,382},{40,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,27}}</string>
                <key>sourceSize</key>
                <string>{40,27}</string>
            </dict>
            <key>npc_tanuge_517:m jianbang1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{402,339},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>npc_tanuge_517:m jianl2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{208,339},{31,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,32}}</string>
                <key>sourceSize</key>
                <string>{31,32}</string>
            </dict>
            <key>npc_tanuge_517:m shou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{208,408},{28,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>npc_tanuge_517:m shou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{402,412},{32,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>npc_tanuge_517:m shoubi2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{236,374},{10,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,16}}</string>
                <key>sourceSize</key>
                <string>{10,16}</string>
            </dict>
            <key>npc_tanuge_517:m tou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{402,475},{44,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{44,61}}</string>
                <key>sourceSize</key>
                <string>{44,61}</string>
            </dict>
            <key>npc_tanuge_517:m wuqi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{57,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{57,143}}</string>
                <key>sourceSize</key>
                <string>{57,143}</string>
            </dict>
            <key>npc_tanuge_517:mtui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{239,422},{103,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{103,49}}</string>
                <key>sourceSize</key>
                <string>{103,49}</string>
            </dict>
            <key>npc_tanuge_517:shoubi3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{110,423},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>npc_tanuge_517.pvr.ccz</string>
            <key>size</key>
            <string>{507,549}</string>
            <key>textureFileName</key>
            <string>npc_tanuge_517.pvr.ccz</string>
        </dict>
    </dict>
</plist>
