<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_huangjiashibing_519:jian1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{95,0},{39,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,37}}</string>
                <key>sourceSize</key>
                <string>{39,37}</string>
            </dict>
            <key>npc_huangjiashibing_519:jian2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{128,45},{30,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,25}}</string>
                <key>sourceSize</key>
                <string>{30,25}</string>
            </dict>
            <key>npc_huangjiashibing_519:jiao1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{137,0},{23,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,42}}</string>
                <key>sourceSize</key>
                <string>{23,42}</string>
            </dict>
            <key>npc_huangjiashibing_519:jiao2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{163,0},{26,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,34}}</string>
                <key>sourceSize</key>
                <string>{26,34}</string>
            </dict>
            <key>npc_huangjiashibing_519:qianshi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{192,0},{19,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,38}}</string>
                <key>sourceSize</key>
                <string>{19,38}</string>
            </dict>
            <key>npc_huangjiashibing_519:shenti1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{95,40},{30,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,26}}</string>
                <key>sourceSize</key>
                <string>{30,26}</string>
            </dict>
            <key>npc_huangjiashibing_519:shou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{226,0},{21,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,33}}</string>
                <key>sourceSize</key>
                <string>{21,33}</string>
            </dict>
            <key>npc_huangjiashibing_519:shou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{163,37},{25,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,22}}</string>
                <key>sourceSize</key>
                <string>{25,22}</string>
            </dict>
            <key>npc_huangjiashibing_519:shoubi1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{213,65},{14,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,12}}</string>
                <key>sourceSize</key>
                <string>{14,12}</string>
            </dict>
            <key>npc_huangjiashibing_519:shoubi2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{161,62},{16,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,18}}</string>
                <key>sourceSize</key>
                <string>{16,18}</string>
            </dict>
            <key>npc_huangjiashibing_519:tou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{45,0},{47,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{47,56}}</string>
                <key>sourceSize</key>
                <string>{47,56}</string>
            </dict>
            <key>npc_huangjiashibing_519:tui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{226,36},{24,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,26}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>npc_huangjiashibing_519:tui2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{45,59},{20,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,24}}</string>
                <key>sourceSize</key>
                <string>{20,24}</string>
            </dict>
            <key>npc_huangjiashibing_519:tuijia1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{191,41},{19,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,26}}</string>
                <key>sourceSize</key>
                <string>{19,26}</string>
            </dict>
            <key>npc_huangjiashibing_519:tuijia2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{68,59},{14,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,23}}</string>
                <key>sourceSize</key>
                <string>{14,23}</string>
            </dict>
            <key>npc_huangjiashibing_519:wuqi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{42,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{42,135}}</string>
                <key>sourceSize</key>
                <string>{42,135}</string>
            </dict>
            <key>npc_huangjiashibing_519:wuqi2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{214,0},{9,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,48}}</string>
                <key>sourceSize</key>
                <string>{9,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>npc_huangjiashibing_519.pvr.ccz</string>
            <key>size</key>
            <string>{250,136}</string>
            <key>textureFileName</key>
            <string>npc_huangjiashibing_519.pvr.ccz</string>
        </dict>
    </dict>
</plist>
