<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_sam_505:bge.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{140,0},{48,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{48,34}}</string>
                <key>sourceSize</key>
                <string>{48,34}</string>
            </dict>
            <key>npc_sam_505:casw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{87,42},{40,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,25}}</string>
                <key>sourceSize</key>
                <string>{40,25}</string>
            </dict>
            <key>npc_sam_505:caswe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{229,40},{21,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,41}}</string>
                <key>sourceSize</key>
                <string>{21,41}</string>
            </dict>
            <key>npc_sam_505:dqwwee.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{84,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{84,87}}</string>
                <key>sourceSize</key>
                <string>{84,87}</string>
            </dict>
            <key>npc_sam_505:jing.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{42,90},{20,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,16}}</string>
                <key>sourceSize</key>
                <string>{20,16}</string>
            </dict>
            <key>npc_sam_505:ling.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{191,34},{35,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,34}}</string>
                <key>sourceSize</key>
                <string>{35,34}</string>
            </dict>
            <key>npc_sam_505:opfer.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{203,71},{22,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,31}}</string>
                <key>sourceSize</key>
                <string>{22,31}</string>
            </dict>
            <key>npc_sam_505:opqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{22,90},{17,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,22}}</string>
                <key>sourceSize</key>
                <string>{17,22}</string>
            </dict>
            <key>npc_sam_505:shen.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{87,0},{50,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{50,39}}</string>
                <key>sourceSize</key>
                <string>{50,39}</string>
            </dict>
            <key>npc_sam_505:shenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{191,0},{41,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{41,31}}</string>
                <key>sourceSize</key>
                <string>{41,31}</string>
            </dict>
            <key>npc_sam_505:tou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{140,37},{35,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,33}}</string>
                <key>sourceSize</key>
                <string>{35,33}</string>
            </dict>
            <key>npc_sam_505:vdert.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{235,0},{10,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,37}}</string>
                <key>sourceSize</key>
                <string>{10,37}</string>
            </dict>
            <key>npc_sam_505:vsdag.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{65,90},{18,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,17}}</string>
                <key>sourceSize</key>
                <string>{18,17}</string>
            </dict>
            <key>npc_sam_505:vsder.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{228,84},{25,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,27}}</string>
                <key>sourceSize</key>
                <string>{25,27}</string>
            </dict>
            <key>npc_sam_505:wcwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{178,71},{22,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,31}}</string>
                <key>sourceSize</key>
                <string>{22,31}</string>
            </dict>
            <key>npc_sam_505:weswe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,90},{19,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,21}}</string>
                <key>sourceSize</key>
                <string>{19,21}</string>
            </dict>
            <key>npc_sam_505:yaodai.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{87,70},{46,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,15}}</string>
                <key>sourceSize</key>
                <string>{46,15}</string>
            </dict>
            <key>npc_sam_505:youhoubi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{109,88},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>npc_sam_505:youshou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{136,73},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>npc_sam_505:zuitui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{87,88},{19,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,30}}</string>
                <key>sourceSize</key>
                <string>{19,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>npc_sam_505.pvr.ccz</string>
            <key>size</key>
            <string>{254,118}</string>
            <key>textureFileName</key>
            <string>npc_sam_505.pvr.ccz</string>
        </dict>
    </dict>
</plist>
