<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_cunmingman_513:ascwes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{110,0},{13,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,48}}</string>
                <key>sourceSize</key>
                <string>{13,48}</string>
            </dict>
            <key>npc_cunmingman_513:csadwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{25,97},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>npc_cunmingman_513:guajian.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{25,73},{27,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,21}}</string>
                <key>sourceSize</key>
                <string>{27,21}</string>
            </dict>
            <key>npc_cunmingman_513:hounao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{36,0},{35,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,37}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
            <key>npc_cunmingman_513:jing.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{79,124},{16,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{16,15}</string>
            </dict>
            <key>npc_cunmingman_513:sd1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,103},{22,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,20}}</string>
                <key>sourceSize</key>
                <string>{22,20}</string>
            </dict>
            <key>npc_cunmingman_513:sd2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{55,95},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>npc_cunmingman_513:shenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{74,0},{33,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,35}}</string>
                <key>sourceSize</key>
                <string>{33,35}</string>
            </dict>
            <key>npc_cunmingman_513:tou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{33,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,40}}</string>
                <key>sourceSize</key>
                <string>{33,40}</string>
            </dict>
            <key>npc_cunmingman_513:xie1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{50,122},{26,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,19}}</string>
                <key>sourceSize</key>
                <string>{26,19}</string>
            </dict>
            <key>npc_cunmingman_513:yaodai.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{14,126},{25,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,17}}</string>
                <key>sourceSize</key>
                <string>{25,17}</string>
            </dict>
            <key>npc_cunmingman_513:youhoubi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,126},{11,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,11}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>npc_cunmingman_513:youjiao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{36,40},{25,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,30}}</string>
                <key>sourceSize</key>
                <string>{25,30}</string>
            </dict>
            <key>npc_cunmingman_513:youshou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{106,51},{16,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,32}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>npc_cunmingman_513:youtui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,43},{25,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,27}}</string>
                <key>sourceSize</key>
                <string>{25,27}</string>
            </dict>
            <key>npc_cunmingman_513:youtui 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{74,38},{29,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,27}}</string>
                <key>sourceSize</key>
                <string>{29,27}</string>
            </dict>
            <key>npc_cunmingman_513:youyixiu.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{106,86},{19,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,25}}</string>
                <key>sourceSize</key>
                <string>{19,25}</string>
            </dict>
            <key>npc_cunmingman_513:zuohoubi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{103,114},{13,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,25}}</string>
                <key>sourceSize</key>
                <string>{13,25}</string>
            </dict>
            <key>npc_cunmingman_513:zuojiao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{64,68},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>npc_cunmingman_513:zuoshou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{92,68},{11,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,25}}</string>
                <key>sourceSize</key>
                <string>{11,25}</string>
            </dict>
            <key>npc_cunmingman_513:zuotui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{82,96},{18,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,25}}</string>
                <key>sourceSize</key>
                <string>{18,25}</string>
            </dict>
            <key>npc_cunmingman_513:zuotui 2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,73},{22,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,27}}</string>
                <key>sourceSize</key>
                <string>{22,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>npc_cunmingman_513.pvr.ccz</string>
            <key>size</key>
            <string>{126,142}</string>
            <key>textureFileName</key>
            <string>npc_cunmingman_513.pvr.ccz</string>
        </dict>
    </dict>
</plist>
