<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_kaka_511:23ce.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{87,47},{38,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,55}}</string>
                <key>sourceSize</key>
                <string>{38,55}</string>
            </dict>
            <key>npc_kaka_511:23ve.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{203,0},{39,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,56}}</string>
                <key>sourceSize</key>
                <string>{39,56}</string>
            </dict>
            <key>npc_kaka_511:34ve.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{184,116},{32,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,56}}</string>
                <key>sourceSize</key>
                <string>{32,56}</string>
            </dict>
            <key>npc_kaka_511:bdr.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{145,100},{36,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{36,55}}</string>
                <key>sourceSize</key>
                <string>{36,55}</string>
            </dict>
            <key>npc_kaka_511:kua.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{75,197},{39,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,22}}</string>
                <key>sourceSize</key>
                <string>{39,22}</string>
            </dict>
            <key>npc_kaka_511:lmm.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,59},{39,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,53}}</string>
                <key>sourceSize</key>
                <string>{39,53}</string>
            </dict>
            <key>npc_kaka_511:ner.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{42,103},{34,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,56}}</string>
                <key>sourceSize</key>
                <string>{34,56}</string>
            </dict>
            <key>npc_kaka_511:qqs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{200,59},{37,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,54}}</string>
                <key>sourceSize</key>
                <string>{37,54}</string>
            </dict>
            <key>npc_kaka_511:qwes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{79,105},{35,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,54}}</string>
                <key>sourceSize</key>
                <string>{35,54}</string>
            </dict>
            <key>npc_kaka_511:shenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{148,54},{49,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{49,43}}</string>
                <key>sourceSize</key>
                <string>{49,43}</string>
            </dict>
            <key>npc_kaka_511:tou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{45,0},{54,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{54,42}}</string>
                <key>sourceSize</key>
                <string>{54,42}</string>
            </dict>
            <key>npc_kaka_511:vderw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,115},{35,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,53}}</string>
                <key>sourceSize</key>
                <string>{35,53}</string>
            </dict>
            <key>npc_kaka_511:vdf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{45,45},{39,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,55}}</string>
                <key>sourceSize</key>
                <string>{39,55}</string>
            </dict>
            <key>npc_kaka_511:yao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{180,175},{15,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,13}}</string>
                <key>sourceSize</key>
                <string>{15,13}</string>
            </dict>
            <key>npc_kaka_511:youhoubi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{117,137},{19,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,29}}</string>
                <key>sourceSize</key>
                <string>{19,29}</string>
            </dict>
            <key>npc_kaka_511:youhujian.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{102,0},{51,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{51,44}}</string>
                <key>sourceSize</key>
                <string>{51,44}</string>
            </dict>
            <key>npc_kaka_511:youjian.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{128,47},{17,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,46}}</string>
                <key>sourceSize</key>
                <string>{17,46}</string>
            </dict>
            <key>npc_kaka_511:youjiao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{156,0},{44,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{44,51}}</string>
                <key>sourceSize</key>
                <string>{44,51}</string>
            </dict>
            <key>npc_kaka_511:youqianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{42,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{42,56}}</string>
                <key>sourceSize</key>
                <string>{42,56}</string>
            </dict>
            <key>npc_kaka_511:youshou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{38,162},{36,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{36,31}}</string>
                <key>sourceSize</key>
                <string>{36,31}</string>
            </dict>
            <key>npc_kaka_511:youtui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,171},{27,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>npc_kaka_511:zuohoubi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{219,164},{29,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,31}}</string>
                <key>sourceSize</key>
                <string>{29,31}</string>
            </dict>
            <key>npc_kaka_511:zuohujian.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{30,196},{42,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{42,32}}</string>
                <key>sourceSize</key>
                <string>{42,32}</string>
            </dict>
            <key>npc_kaka_511:zuojian.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{128,96},{14,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,38}}</string>
                <key>sourceSize</key>
                <string>{14,38}</string>
            </dict>
            <key>npc_kaka_511:zuojiao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{139,158},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>npc_kaka_511:zuoqiqianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{219,116},{33,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,45}}</string>
                <key>sourceSize</key>
                <string>{33,45}</string>
            </dict>
            <key>npc_kaka_511:zuoshou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{77,162},{33,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,32}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>npc_kaka_511:zuotui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{113,169},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>npc_kaka_511.pvr.ccz</string>
            <key>size</key>
            <string>{252,229}</string>
            <key>textureFileName</key>
            <string>npc_kaka_511.pvr.ccz</string>
        </dict>
    </dict>
</plist>
