<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_king_526:fujian1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,79},{48,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{48,36}}</string>
                <key>sourceSize</key>
                <string>{48,36}</string>
            </dict>
            <key>npc_king_526:huijian2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{134,81},{34,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,29}}</string>
                <key>sourceSize</key>
                <string>{34,29}</string>
            </dict>
            <key>npc_king_526:huijian3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{211,106},{30,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{30,31}</string>
            </dict>
            <key>npc_king_526:huijian4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{141,112},{19,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,33}}</string>
                <key>sourceSize</key>
                <string>{19,33}</string>
            </dict>
            <key>npc_king_526:jiao1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{50,79},{20,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,44}}</string>
                <key>sourceSize</key>
                <string>{20,44}</string>
            </dict>
            <key>npc_king_526:jiao2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{118,112},{21,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,38}}</string>
                <key>sourceSize</key>
                <string>{21,38}</string>
            </dict>
            <key>npc_king_526:pi2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{134,0},{35,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,79}}</string>
                <key>sourceSize</key>
                <string>{35,79}</string>
            </dict>
            <key>npc_king_526:pi3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{81,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{81,77}}</string>
                <key>sourceSize</key>
                <string>{81,77}</string>
            </dict>
            <key>npc_king_526:pif1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{83,0},{49,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{49,84}}</string>
                <key>sourceSize</key>
                <string>{49,84}</string>
            </dict>
            <key>npc_king_526:shenti1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{171,0},{53,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{53,51}}</string>
                <key>sourceSize</key>
                <string>{53,51}</string>
            </dict>
            <key>npc_king_526:shou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{72,86},{44,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{44,28}}</string>
                <key>sourceSize</key>
                <string>{44,28}</string>
            </dict>
            <key>npc_king_526:shou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{211,70},{37,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,34}}</string>
                <key>sourceSize</key>
                <string>{37,34}</string>
            </dict>
            <key>npc_king_526:tou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{171,53},{38,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,59}}</string>
                <key>sourceSize</key>
                <string>{38,59}</string>
            </dict>
            <key>npc_king_526:tui1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{162,114},{21,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,25}}</string>
                <key>sourceSize</key>
                <string>{21,25}</string>
            </dict>
            <key>npc_king_526:tui2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{185,114},{19,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,25}}</string>
                <key>sourceSize</key>
                <string>{19,25}</string>
            </dict>
            <key>npc_king_526:wuqi1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{226,0},{27,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,68}}</string>
                <key>sourceSize</key>
                <string>{27,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>npc_king_526.pvr.ccz</string>
            <key>size</key>
            <string>{254,150}</string>
            <key>textureFileName</key>
            <string>npc_king_526.pvr.ccz</string>
        </dict>
    </dict>
</plist>
