<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_cunmingboy_514:bbcvc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{53,0},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>npc_cunmingboy_514:j1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,43},{21,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,23}}</string>
                <key>sourceSize</key>
                <string>{21,23}</string>
            </dict>
            <key>npc_cunmingboy_514:j2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{102,57},{17,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,20}}</string>
                <key>sourceSize</key>
                <string>{17,20}</string>
            </dict>
            <key>npc_cunmingboy_514:jing.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{61,86},{9,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,5}}</string>
                <key>sourceSize</key>
                <string>{9,5}</string>
            </dict>
            <key>npc_cunmingboy_514:nvjian shou4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{112,80},{11,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,10}}</string>
                <key>sourceSize</key>
                <string>{11,10}</string>
            </dict>
            <key>npc_cunmingboy_514:pijian.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{50,55},{24,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,14}}</string>
                <key>sourceSize</key>
                <string>{24,14}</string>
            </dict>
            <key>npc_cunmingboy_514:s1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{49,86},{9,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,10}}</string>
                <key>sourceSize</key>
                <string>{9,10}</string>
            </dict>
            <key>npc_cunmingboy_514:shenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{24,43},{23,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,19}}</string>
                <key>sourceSize</key>
                <string>{23,19}</string>
            </dict>
            <key>npc_cunmingboy_514:tou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{50,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{50,40}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
            <key>npc_cunmingboy_514:tui1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{53,30},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>npc_cunmingboy_514:tui2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{108,34},{17,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,20}}</string>
                <key>sourceSize</key>
                <string>{17,20}</string>
            </dict>
            <key>npc_cunmingboy_514:xie1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{83,0},{26,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,19}}</string>
                <key>sourceSize</key>
                <string>{26,19}</string>
            </dict>
            <key>npc_cunmingboy_514:yaodai.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{45,72},{21,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,11}}</string>
                <key>sourceSize</key>
                <string>{21,11}</string>
            </dict>
            <key>npc_cunmingboy_514:youhoubi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,69},{15,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,18}}</string>
                <key>sourceSize</key>
                <string>{15,18}</string>
            </dict>
            <key>npc_cunmingboy_514:youhubi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{94,80},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>npc_cunmingboy_514:youjiao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{78,47},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>npc_cunmingboy_514:youshou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{18,86},{15,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,13}}</string>
                <key>sourceSize</key>
                <string>{15,13}</string>
            </dict>
            <key>npc_cunmingboy_514:youtui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{83,22},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>npc_cunmingboy_514:zuohoubi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{112,16},{9,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,15}}</string>
                <key>sourceSize</key>
                <string>{9,15}</string>
            </dict>
            <key>npc_cunmingboy_514:zuohubi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{36,86},{10,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,11}}</string>
                <key>sourceSize</key>
                <string>{10,11}</string>
            </dict>
            <key>npc_cunmingboy_514:zuojiao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{24,65},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>npc_cunmingboy_514:zuoshou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{112,0},{11,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,13}}</string>
                <key>sourceSize</key>
                <string>{11,13}</string>
            </dict>
            <key>npc_cunmingboy_514:zuotui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{77,71},{14,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,19}}</string>
                <key>sourceSize</key>
                <string>{14,19}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>npc_cunmingboy_514.pvr.ccz</string>
            <key>size</key>
            <string>{125,99}</string>
            <key>textureFileName</key>
            <string>npc_cunmingboy_514.pvr.ccz</string>
        </dict>
    </dict>
</plist>
