<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_tiejiang_501:NPC TJ SHENTI.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{66,64},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>npc_tiejiang_501:NPC TJ TOU.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{65,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{65,52}}</string>
                <key>sourceSize</key>
                <string>{65,52}</string>
            </dict>
            <key>npc_tiejiang_501:NPC TJ ZUOSHOU.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{114,0},{11,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,18}}</string>
                <key>sourceSize</key>
                <string>{11,18}</string>
            </dict>
            <key>npc_tiejiang_501:NPC TJ ZUOSHOUBI.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{114,30},{7,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,8}}</string>
                <key>sourceSize</key>
                <string>{7,8}</string>
            </dict>
            <key>npc_tiejiang_501:hc 11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{60,61},{3,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{3,2}}</string>
                <key>sourceSize</key>
                <string>{3,2}</string>
            </dict>
            <key>npc_tiejiang_501:hc t1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{92,74},{3,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{3,2}}</string>
                <key>sourceSize</key>
                <string>{3,2}</string>
            </dict>
            <key>npc_tiejiang_501:hc t12.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{98,64},{3,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{3,2}}</string>
                <key>sourceSize</key>
                <string>{3,2}</string>
            </dict>
            <key>npc_tiejiang_501:hc t13.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{92,69},{3,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{3,2}}</string>
                <key>sourceSize</key>
                <string>{3,2}</string>
            </dict>
            <key>npc_tiejiang_501:hc t14.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{100,59},{3,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{3,2}}</string>
                <key>sourceSize</key>
                <string>{3,2}</string>
            </dict>
            <key>npc_tiejiang_501:hc t15.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{60,71},{3,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{3,2}}</string>
                <key>sourceSize</key>
                <string>{3,2}</string>
            </dict>
            <key>npc_tiejiang_501:hc t16.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{98,74},{3,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{3,2}}</string>
                <key>sourceSize</key>
                <string>{3,2}</string>
            </dict>
            <key>npc_tiejiang_501:hc t17.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{92,79},{3,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{3,2}}</string>
                <key>sourceSize</key>
                <string>{3,2}</string>
            </dict>
            <key>npc_tiejiang_501:hc t18.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{58,81},{3,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{3,2}}</string>
                <key>sourceSize</key>
                <string>{3,2}</string>
            </dict>
            <key>npc_tiejiang_501:hc t19.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{98,84},{3,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{3,2}}</string>
                <key>sourceSize</key>
                <string>{3,2}</string>
            </dict>
            <key>npc_tiejiang_501:hc t2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{91,89},{3,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{3,2}}</string>
                <key>sourceSize</key>
                <string>{3,2}</string>
            </dict>
            <key>npc_tiejiang_501:hc t3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{98,69},{3,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{3,2}}</string>
                <key>sourceSize</key>
                <string>{3,2}</string>
            </dict>
            <key>npc_tiejiang_501:hc t4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{98,79},{3,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{3,2}}</string>
                <key>sourceSize</key>
                <string>{3,2}</string>
            </dict>
            <key>npc_tiejiang_501:hc t5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{60,66},{3,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{3,2}}</string>
                <key>sourceSize</key>
                <string>{3,2}</string>
            </dict>
            <key>npc_tiejiang_501:hc t6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{97,89},{3,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{3,2}}</string>
                <key>sourceSize</key>
                <string>{3,2}</string>
            </dict>
            <key>npc_tiejiang_501:hc t7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{92,64},{3,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{3,2}}</string>
                <key>sourceSize</key>
                <string>{3,2}</string>
            </dict>
            <key>npc_tiejiang_501:hc t8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{92,84},{3,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{3,2}}</string>
                <key>sourceSize</key>
                <string>{3,2}</string>
            </dict>
            <key>npc_tiejiang_501:hc t9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{60,76},{3,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{3,2}}</string>
                <key>sourceSize</key>
                <string>{3,2}</string>
            </dict>
            <key>npc_tiejiang_501:npc tj kudang.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{26,102},{20,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,10}}</string>
                <key>sourceSize</key>
                <string>{20,10}</string>
            </dict>
            <key>npc_tiejiang_501:npc tj youbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{49,102},{12,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,9}}</string>
                <key>sourceSize</key>
                <string>{12,9}</string>
            </dict>
            <key>npc_tiejiang_501:npc tj youjiao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{104,82},{17,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,14}}</string>
                <key>sourceSize</key>
                <string>{17,14}</string>
            </dict>
            <key>npc_tiejiang_501:npc tj youshou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{68,0},{43,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,35}}</string>
                <key>sourceSize</key>
                <string>{43,35}</string>
            </dict>
            <key>npc_tiejiang_501:npc tj youxie.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{109,56},{16,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,23}}</string>
                <key>sourceSize</key>
                <string>{16,23}</string>
            </dict>
            <key>npc_tiejiang_501:npc tj zuojiao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{112,41},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>npc_tiejiang_501:npc tj zuoxie.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{64,89},{24,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,15}}</string>
                <key>sourceSize</key>
                <string>{24,15}</string>
            </dict>
            <key>npc_tiejiang_501:y 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{58,86},{3,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{3,2}}</string>
                <key>sourceSize</key>
                <string>{3,2}</string>
            </dict>
            <key>npc_tiejiang_501:y10.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{31,55},{26,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,21}}</string>
                <key>sourceSize</key>
                <string>{26,21}</string>
            </dict>
            <key>npc_tiejiang_501:y11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,55},{28,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,22}}</string>
                <key>sourceSize</key>
                <string>{28,22}</string>
            </dict>
            <key>npc_tiejiang_501:y13.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{68,38},{29,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,23}}</string>
                <key>sourceSize</key>
                <string>{29,23}</string>
            </dict>
            <key>npc_tiejiang_501:y14.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{39,115},{13,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,7}}</string>
                <key>sourceSize</key>
                <string>{13,7}</string>
            </dict>
            <key>npc_tiejiang_501:y15.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{104,113},{14,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,8}}</string>
                <key>sourceSize</key>
                <string>{14,8}</string>
            </dict>
            <key>npc_tiejiang_501:y16.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{85,113},{16,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,9}}</string>
                <key>sourceSize</key>
                <string>{16,9}</string>
            </dict>
            <key>npc_tiejiang_501:y17.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{64,107},{18,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,9}}</string>
                <key>sourceSize</key>
                <string>{18,9}</string>
            </dict>
            <key>npc_tiejiang_501:y18.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,103},{20,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,10}}</string>
                <key>sourceSize</key>
                <string>{20,10}</string>
            </dict>
            <key>npc_tiejiang_501:y19.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{91,99},{22,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,11}}</string>
                <key>sourceSize</key>
                <string>{22,11}</string>
            </dict>
            <key>npc_tiejiang_501:y2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{60,55},{4,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{4,3}}</string>
                <key>sourceSize</key>
                <string>{4,3}</string>
            </dict>
            <key>npc_tiejiang_501:y3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{100,53},{6,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{6,3}}</string>
                <key>sourceSize</key>
                <string>{6,3}</string>
            </dict>
            <key>npc_tiejiang_501:y4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{100,46},{8,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{8,4}}</string>
                <key>sourceSize</key>
                <string>{8,4}</string>
            </dict>
            <key>npc_tiejiang_501:y5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{100,38},{9,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,5}}</string>
                <key>sourceSize</key>
                <string>{9,5}</string>
            </dict>
            <key>npc_tiejiang_501:y6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{114,21},{11,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,6}}</string>
                <key>sourceSize</key>
                <string>{11,6}</string>
            </dict>
            <key>npc_tiejiang_501:y7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{23,115},{13,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,7}}</string>
                <key>sourceSize</key>
                <string>{13,7}</string>
            </dict>
            <key>npc_tiejiang_501:y8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,80},{23,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,20}}</string>
                <key>sourceSize</key>
                <string>{23,20}</string>
            </dict>
            <key>npc_tiejiang_501:y9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{31,79},{24,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,20}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>npc_tiejiang_501.pvr.ccz</string>
            <key>size</key>
            <string>{125,122}</string>
            <key>textureFileName</key>
            <string>npc_tiejiang_501.pvr.ccz</string>
        </dict>
    </dict>
</plist>
