<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_kaise_518:a1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{144,183},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>npc_kaise_518:a10.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{224,234},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>npc_kaise_518:a11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{58,237},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>npc_kaise_518:a12.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{202,234},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>npc_kaise_518:a2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,236},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>npc_kaise_518:a3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{114,232},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>npc_kaise_518:a4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{180,234},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>npc_kaise_518:a5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{144,117},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>npc_kaise_518:a6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{144,139},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>npc_kaise_518:a7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{144,161},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>npc_kaise_518:a8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{158,228},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>npc_kaise_518:a9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{136,232},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>npc_kaise_518:jhiao2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{72,176},{26,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,37}}</string>
                <key>sourceSize</key>
                <string>{26,37}</string>
            </dict>
            <key>npc_kaise_518:jian.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{118,83},{46,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,32}}</string>
                <key>sourceSize</key>
                <string>{46,32}</string>
            </dict>
            <key>npc_kaise_518:jian1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{58,215},{30,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,20}}</string>
                <key>sourceSize</key>
                <string>{30,20}</string>
            </dict>
            <key>npc_kaise_518:jiao1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{166,83},{29,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,47}}</string>
                <key>sourceSize</key>
                <string>{29,47}</string>
            </dict>
            <key>npc_kaise_518:pifeng1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{118,0},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>npc_kaise_518:pifeng2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{201,0},{32,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,80}}</string>
                <key>sourceSize</key>
                <string>{32,80}</string>
            </dict>
            <key>npc_kaise_518:q1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{108,117},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>npc_kaise_518:q10.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{199,175},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>npc_kaise_518:q11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{36,176},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>npc_kaise_518:q12.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,140},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>npc_kaise_518:q2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{36,104},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>npc_kaise_518:q3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{72,104},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>npc_kaise_518:q4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{36,140},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>npc_kaise_518:q5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{200,139},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>npc_kaise_518:q6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{108,153},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>npc_kaise_518:q7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,176},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>npc_kaise_518:q8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{72,140},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>npc_kaise_518:q9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,104},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>npc_kaise_518:sd1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,212},{32,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>npc_kaise_518:sd2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{166,132},{32,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,36}}</string>
                <key>sourceSize</key>
                <string>{32,36}</string>
            </dict>
            <key>npc_kaise_518:shenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{166,204},{31,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,22}}</string>
                <key>sourceSize</key>
                <string>{31,22}</string>
            </dict>
            <key>npc_kaise_518:shou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{235,26},{10,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,17}}</string>
                <key>sourceSize</key>
                <string>{10,17}</string>
            </dict>
            <key>npc_kaise_518:shou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{100,189},{22,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,36}}</string>
                <key>sourceSize</key>
                <string>{22,36}</string>
            </dict>
            <key>npc_kaise_518:shoubi1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{166,170},{31,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,32}}</string>
                <key>sourceSize</key>
                <string>{31,32}</string>
            </dict>
            <key>npc_kaise_518:shoubi2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{235,45},{13,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,12}}</string>
                <key>sourceSize</key>
                <string>{13,12}</string>
            </dict>
            <key>npc_kaise_518:tou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{201,82},{48,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{48,55}}</string>
                <key>sourceSize</key>
                <string>{48,55}</string>
            </dict>
            <key>npc_kaise_518:tui1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{90,227},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{22,28}</string>
            </dict>
            <key>npc_kaise_518:tui2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{235,0},{17,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,24}}</string>
                <key>sourceSize</key>
                <string>{17,24}</string>
            </dict>
            <key>npc_kaise_518:weijing.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{199,211},{34,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,21}}</string>
                <key>sourceSize</key>
                <string>{34,21}</string>
            </dict>
            <key>npc_kaise_518:wuqi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{116,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{116,102}}</string>
                <key>sourceSize</key>
                <string>{116,102}</string>
            </dict>
            <key>npc_kaise_518:xie1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{124,205},{32,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,25}}</string>
                <key>sourceSize</key>
                <string>{32,25}</string>
            </dict>
            <key>npc_kaise_518:youshou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{34,212},{22,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,30}}</string>
                <key>sourceSize</key>
                <string>{22,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>npc_kaise_518.pvr.ccz</string>
            <key>size</key>
            <string>{252,256}</string>
            <key>textureFileName</key>
            <string>npc_kaise_518.pvr.ccz</string>
        </dict>
    </dict>
</plist>
