<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_aolusi_520:duen.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{79,91},{55,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,74}}</string>
                <key>sourceSize</key>
                <string>{55,74}</string>
            </dict>
            <key>npc_aolusi_520:hujian1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{79,0},{68,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,88}}</string>
                <key>sourceSize</key>
                <string>{68,88}</string>
            </dict>
            <key>npc_aolusi_520:hujian2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{150,68},{50,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{50,81}}</string>
                <key>sourceSize</key>
                <string>{50,81}</string>
            </dict>
            <key>npc_aolusi_520:jiao1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{137,152},{35,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,53}}</string>
                <key>sourceSize</key>
                <string>{35,53}</string>
            </dict>
            <key>npc_aolusi_520:jiao2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{203,68},{37,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,59}}</string>
                <key>sourceSize</key>
                <string>{37,59}</string>
            </dict>
            <key>npc_aolusi_520:qun1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{175,179},{32,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,35}}</string>
                <key>sourceSize</key>
                <string>{32,35}</string>
            </dict>
            <key>npc_aolusi_520:shenti1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,100},{75,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{75,55}}</string>
                <key>sourceSize</key>
                <string>{75,55}</string>
            </dict>
            <key>npc_aolusi_520:shou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{203,130},{43,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,46}}</string>
                <key>sourceSize</key>
                <string>{43,46}</string>
            </dict>
            <key>npc_aolusi_520:shou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{67,168},{33,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,39}}</string>
                <key>sourceSize</key>
                <string>{33,39}</string>
            </dict>
            <key>npc_aolusi_520:shoubi1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{103,168},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>npc_aolusi_520:tou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{76,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{76,97}}</string>
                <key>sourceSize</key>
                <string>{76,97}</string>
            </dict>
            <key>npc_aolusi_520:wuqi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{150,0},{84,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{84,65}}</string>
                <key>sourceSize</key>
                <string>{84,65}</string>
            </dict>
            <key>npc_aolusi_520:yaodai.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,158},{64,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{64,27}}</string>
                <key>sourceSize</key>
                <string>{64,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>npc_aolusi_520.pvr.ccz</string>
            <key>size</key>
            <string>{247,214}</string>
            <key>textureFileName</key>
            <string>npc_aolusi_520.pvr.ccz</string>
        </dict>
    </dict>
</plist>
