<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_guildtrader_521:b1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{82,70},{36,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{36,25}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>npc_guildtrader_521:bao1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{95,44},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>npc_guildtrader_521:f1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{97,0},{27,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,42}}</string>
                <key>sourceSize</key>
                <string>{27,42}</string>
            </dict>
            <key>npc_guildtrader_521:f2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,44},{23,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,41}}</string>
                <key>sourceSize</key>
                <string>{23,41}</string>
            </dict>
            <key>npc_guildtrader_521:f3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>npc_guildtrader_521:q1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{43,82},{37,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,18}}</string>
                <key>sourceSize</key>
                <string>{37,18}</string>
            </dict>
            <key>npc_guildtrader_521:q2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{44,0},{51,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{51,32}}</string>
                <key>sourceSize</key>
                <string>{51,32}</string>
            </dict>
            <key>npc_guildtrader_521:s1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{82,34},{11,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,20}}</string>
                <key>sourceSize</key>
                <string>{11,20}</string>
            </dict>
            <key>npc_guildtrader_521:s2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{96,97},{12,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,11}}</string>
                <key>sourceSize</key>
                <string>{12,11}</string>
            </dict>
            <key>npc_guildtrader_521:shenti1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{25,68},{16,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,21}}</string>
                <key>sourceSize</key>
                <string>{16,21}</string>
            </dict>
            <key>npc_guildtrader_521:shoubi1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{82,97},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>npc_guildtrader_521:shoubi4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{16,91},{13,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,11}}</string>
                <key>sourceSize</key>
                <string>{13,11}</string>
            </dict>
            <key>npc_guildtrader_521:t1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{44,34},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>npc_guildtrader_521:x1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{25,44},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,22}</string>
            </dict>
            <key>npc_guildtrader_521:x2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,87},{14,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,20}}</string>
                <key>sourceSize</key>
                <string>{14,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>npc_guildtrader_521.pvr.ccz</string>
            <key>size</key>
            <string>{124,109}</string>
            <key>textureFileName</key>
            <string>npc_guildtrader_521.pvr.ccz</string>
        </dict>
    </dict>
</plist>
