<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_transportation:b fs maozi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{234,219},{75,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{75,44}}</string>
                <key>sourceSize</key>
                <string>{75,44}</string>
            </dict>
            <key>skill_transportation:b fs pao1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,265},{62,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{62,28}}</string>
                <key>sourceSize</key>
                <string>{62,28}</string>
            </dict>
            <key>skill_transportation:b fs pidai.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{165,290},{14,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,6}}</string>
                <key>sourceSize</key>
                <string>{14,6}</string>
            </dict>
            <key>skill_transportation:b fs shou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{432,288},{14,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,16}}</string>
                <key>sourceSize</key>
                <string>{14,16}</string>
            </dict>
            <key>skill_transportation:b fs xie1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{489,269},{20,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,17}}</string>
                <key>sourceSize</key>
                <string>{20,17}</string>
            </dict>
            <key>skill_transportation:bei fs xie2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{331,277},{11,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,15}}</string>
                <key>sourceSize</key>
                <string>{11,15}</string>
            </dict>
            <key>skill_transportation:bvbcb1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{355,106},{110,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{110,104}}</string>
                <key>sourceSize</key>
                <string>{110,104}</string>
            </dict>
            <key>skill_transportation:bvbcb11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{355,0},{110,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{110,104}}</string>
                <key>sourceSize</key>
                <string>{110,104}</string>
            </dict>
            <key>skill_transportation:c fs  lian.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{311,219},{27,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>skill_transportation:c fs maozi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{232,265},{77,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{77,41}}</string>
                <key>sourceSize</key>
                <string>{77,41}</string>
            </dict>
            <key>skill_transportation:c fs pao1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{311,245},{21,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,30}}</string>
                <key>sourceSize</key>
                <string>{21,30}</string>
            </dict>
            <key>skill_transportation:c fs pao2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{465,244},{34,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,23}}</string>
                <key>sourceSize</key>
                <string>{34,23}</string>
            </dict>
            <key>skill_transportation:c fs pao3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{159,265},{24,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,23}}</string>
                <key>sourceSize</key>
                <string>{24,23}</string>
            </dict>
            <key>skill_transportation:c fs pidai.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{148,290},{15,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,5}}</string>
                <key>sourceSize</key>
                <string>{15,5}</string>
            </dict>
            <key>skill_transportation:c fs qianyi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{448,288},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>skill_transportation:c fs ru.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{131,290},{15,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,10}}</string>
                <key>sourceSize</key>
                <string>{15,10}</string>
            </dict>
            <key>skill_transportation:c fs shenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{442,252},{21,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,17}}</string>
                <key>sourceSize</key>
                <string>{21,17}</string>
            </dict>
            <key>skill_transportation:c fs tui1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{64,265},{10,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,23}}</string>
                <key>sourceSize</key>
                <string>{10,23}</string>
            </dict>
            <key>skill_transportation:c fs tui2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{119,268},{10,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,18}}</string>
                <key>sourceSize</key>
                <string>{10,18}</string>
            </dict>
            <key>skill_transportation:c fs xie1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{185,265},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>skill_transportation:c fs xie2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{185,286},{17,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,14}}</string>
                <key>sourceSize</key>
                <string>{17,14}</string>
            </dict>
            <key>skill_transportation:fa toufa2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{442,212},{21,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,38}}</string>
                <key>sourceSize</key>
                <string>{21,38}</string>
            </dict>
            <key>skill_transportation:fs 2345.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{133,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{133,137}}</string>
                <key>sourceSize</key>
                <string>{133,137}</string>
            </dict>
            <key>skill_transportation:fs toufa1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{208,219},{24,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,39}}</string>
                <key>sourceSize</key>
                <string>{24,39}</string>
            </dict>
            <key>skill_transportation:fs1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{135,110},{98,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{98,107}}</string>
                <key>sourceSize</key>
                <string>{98,107}</string>
            </dict>
            <key>skill_transportation:fs1 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{245,110},{97,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{97,107}}</string>
                <key>sourceSize</key>
                <string>{97,107}</string>
            </dict>
            <key>skill_transportation:fst toufa3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{411,212},{29,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,42}}</string>
                <key>sourceSize</key>
                <string>{29,42}</string>
            </dict>
            <key>skill_transportation:s4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{396,212},{13,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,118}}</string>
                <key>sourceSize</key>
                <string>{13,118}</string>
            </dict>
            <key>skill_transportation:vcbcbvc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{245,0},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>skill_transportation:vcbcbvc 2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{135,0},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>skill_transportation:wuqi_1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{467,130},{33,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,112}}</string>
                <key>sourceSize</key>
                <string>{33,112}</string>
            </dict>
            <key>skill_transportation:wuqi_20.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{467,0},{35,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,128}}</string>
                <key>sourceSize</key>
                <string>{35,128}</string>
            </dict>
            <key>skill_transportation:wuqi_40.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{344,212},{50,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{50,121}}</string>
                <key>sourceSize</key>
                <string>{50,121}</string>
            </dict>
            <key>skill_transportation:wuqi_60.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{78,139},{51,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{51,127}}</string>
                <key>sourceSize</key>
                <string>{51,127}</string>
            </dict>
            <key>skill_transportation:wuqi_80.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,139},{76,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{76,124}}</string>
                <key>sourceSize</key>
                <string>{76,124}</string>
            </dict>
            <key>skill_transportation:z fs maozi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{131,219},{75,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{75,44}}</string>
                <key>sourceSize</key>
                <string>{75,44}</string>
            </dict>
            <key>skill_transportation:z fs pao1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{208,260},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{22,28}</string>
            </dict>
            <key>skill_transportation:z fs pao3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{411,256},{27,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,23}}</string>
                <key>sourceSize</key>
                <string>{27,23}</string>
            </dict>
            <key>skill_transportation:z fs qianfa1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{119,288},{10,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,14}}</string>
                <key>sourceSize</key>
                <string>{10,14}</string>
            </dict>
            <key>skill_transportation:z fs qianfa2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{235,110},{8,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{8,13}}</string>
                <key>sourceSize</key>
                <string>{8,13}</string>
            </dict>
            <key>skill_transportation:z fs ru.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{482,288},{18,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,10}}</string>
                <key>sourceSize</key>
                <string>{18,10}</string>
            </dict>
            <key>skill_transportation:z fs shenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{465,269},{22,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,15}}</string>
                <key>sourceSize</key>
                <string>{22,15}</string>
            </dict>
            <key>skill_transportation:z fs shenti 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{440,271},{22,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,15}}</string>
                <key>sourceSize</key>
                <string>{22,15}</string>
            </dict>
            <key>skill_transportation:z fs shou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{311,277},{18,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,17}}</string>
                <key>sourceSize</key>
                <string>{18,17}</string>
            </dict>
            <key>skill_transportation:z fs shou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{464,286},{16,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{16,15}</string>
            </dict>
            <key>skill_transportation:z fs shoubi1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{64,290},{10,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,8}}</string>
                <key>sourceSize</key>
                <string>{10,8}</string>
            </dict>
            <key>skill_transportation:z fs shoubi2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{504,0},{6,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{6,12}}</string>
                <key>sourceSize</key>
                <string>{6,12}</string>
            </dict>
            <key>skill_transportation:z fs tui1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{344,110},{7,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,10}}</string>
                <key>sourceSize</key>
                <string>{7,10}</string>
            </dict>
            <key>skill_transportation:z fs xie 2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{411,281},{19,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,15}}</string>
                <key>sourceSize</key>
                <string>{19,15}</string>
            </dict>
            <key>skill_transportation:z fs xiezi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{100,268},{17,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,21}}</string>
                <key>sourceSize</key>
                <string>{17,21}</string>
            </dict>
            <key>skill_transportation:z fs yaodai.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{204,290},{14,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,5}}</string>
                <key>sourceSize</key>
                <string>{14,5}</string>
            </dict>
            <key>skill_transportation:zfs lian.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{76,268},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
            <key>skill_transportation:zfs pao2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{131,265},{26,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,23}}</string>
                <key>sourceSize</key>
                <string>{26,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>skill_transportation.pvr.ccz</string>
            <key>size</key>
            <string>{510,333}</string>
            <key>textureFileName</key>
            <string>skill_transportation.pvr.ccz</string>
        </dict>
    </dict>
</plist>
