<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_assassinate_assassinwoman:23v.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{478,403},{128,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{128,56}}</string>
                <key>sourceSize</key>
                <string>{128,56}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:ASDCDRE5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{947,148},{65,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{65,55}}</string>
                <key>sourceSize</key>
                <string>{65,55}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:B weijin.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{882,266},{59,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{59,27}}</string>
                <key>sourceSize</key>
                <string>{59,27}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:Bbu.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{929,190},{16,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,23}}</string>
                <key>sourceSize</key>
                <string>{16,23}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:Bneik.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{920,295},{20,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,14}}</string>
                <key>sourceSize</key>
                <string>{20,14}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:Bshenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{612,253},{25,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,17}}</string>
                <key>sourceSize</key>
                <string>{25,17}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:Btou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{947,205},{65,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{65,44}}</string>
                <key>sourceSize</key>
                <string>{65,44}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:Bweijin.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{578,263},{32,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,15}}</string>
                <key>sourceSize</key>
                <string>{32,15}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:Bweiqun.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{942,300},{20,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,6}}</string>
                <key>sourceSize</key>
                <string>{20,6}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:Byoudat.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1009,123},{7,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,10}}</string>
                <key>sourceSize</key>
                <string>{7,10}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:Byouqianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1009,113},{13,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,8}}</string>
                <key>sourceSize</key>
                <string>{13,8}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:Byouxiaot.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1010,20},{6,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{6,19}}</string>
                <key>sourceSize</key>
                <string>{6,19}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:Bzuodat.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1010,0},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:Bzuojiao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{612,272},{22,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,20}}</string>
                <key>sourceSize</key>
                <string>{22,20}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:Bzuoqianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1006,279},{16,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,9}}</string>
                <key>sourceSize</key>
                <string>{16,9}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:Bzuoshou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1010,58},{12,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,11}}</string>
                <key>sourceSize</key>
                <string>{12,11}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:Bzyoudat.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1010,71},{11,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,11}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:F667.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{645,146},{212,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{212,91}}</string>
                <key>sourceSize</key>
                <string>{212,91}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:FE34D.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{405,164},{205,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{205,97}}</string>
                <key>sourceSize</key>
                <string>{205,97}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:Fshenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{856,239},{27,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,16}}</string>
                <key>sourceSize</key>
                <string>{27,16}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:Ftou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{890,70},{56,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{56,54}}</string>
                <key>sourceSize</key>
                <string>{56,54}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:GGR56.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,186},{230,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{230,66}}</string>
                <key>sourceSize</key>
                <string>{230,66}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:J56T.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{608,405},{132,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{132,43}}</string>
                <key>sourceSize</key>
                <string>{132,43}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:OI223.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{113,391},{176,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{176,60}}</string>
                <key>sourceSize</key>
                <string>{176,60}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:P342.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{399,263},{177,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{177,87}}</string>
                <key>sourceSize</key>
                <string>{177,87}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:PLWE.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{877,295},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:SCD.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{943,251},{61,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{61,47}}</string>
                <key>sourceSize</key>
                <string>{61,47}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:VFDR.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{321,352},{155,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{155,90}}</string>
                <key>sourceSize</key>
                <string>{155,90}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:asdfq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1010,84},{11,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,9}}</string>
                <key>sourceSize</key>
                <string>{11,9}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:asvfga.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{929,159},{16,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,29}}</string>
                <key>sourceSize</key>
                <string>{16,29}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:bgnrr.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{920,311},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:bu.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{612,201},{24,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:cdver.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{113,254},{102,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{102,94}}</string>
                <key>sourceSize</key>
                <string>{102,94}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:f DATUI1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1010,41},{9,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,15}}</string>
                <key>sourceSize</key>
                <string>{9,15}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:hujian.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{856,277},{19,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,18}}</string>
                <key>sourceSize</key>
                <string>{19,18}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:iop.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{645,70},{243,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{243,74}}</string>
                <key>sourceSize</key>
                <string>{243,74}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:jiao2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{612,164},{26,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,35}}</string>
                <key>sourceSize</key>
                <string>{26,35}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:jiao3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{929,126},{16,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,31}}</string>
                <key>sourceSize</key>
                <string>{16,31}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:jkty.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{645,0},{301,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{301,68}}</string>
                <key>sourceSize</key>
                <string>{301,68}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:kiqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{403,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{403,184}}</string>
                <key>sourceSize</key>
                <string>{403,184}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:mcjskd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{578,292},{21,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,15}}</string>
                <key>sourceSize</key>
                <string>{21,15}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:mwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{405,0},{238,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{238,162}}</string>
                <key>sourceSize</key>
                <string>{238,162}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:nhjd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,254},{111,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{111,163}}</string>
                <key>sourceSize</key>
                <string>{111,163}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:pop.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{321,186},{81,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{81,69}}</string>
                <key>sourceSize</key>
                <string>{81,69}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:qwq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{766,239},{88,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{88,93}}</string>
                <key>sourceSize</key>
                <string>{88,93}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:qwv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{232,186},{87,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{87,203}}</string>
                <key>sourceSize</key>
                <string>{87,203}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:shenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{856,257},{24,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,18}}</string>
                <key>sourceSize</key>
                <string>{24,18}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:sidai.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{578,280},{31,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,10}}</string>
                <key>sourceSize</key>
                <string>{31,10}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:tou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{948,94},{59,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{59,52}}</string>
                <key>sourceSize</key>
                <string>{59,52}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:vase.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{640,239},{124,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{124,164}}</string>
                <key>sourceSize</key>
                <string>{124,164}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:vawes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{478,352},{138,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{138,49}}</string>
                <key>sourceSize</key>
                <string>{138,49}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:vfgwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{927,215},{18,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,23}}</string>
                <key>sourceSize</key>
                <string>{18,23}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:weiba.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{601,294},{35,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,34}}</string>
                <key>sourceSize</key>
                <string>{35,34}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:weijin.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{612,231},{26,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,20}}</string>
                <key>sourceSize</key>
                <string>{26,20}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:wuqi_1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{859,146},{27,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,62}}</string>
                <key>sourceSize</key>
                <string>{27,62}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:wuqi_20.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{360,257},{37,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,68}}</string>
                <key>sourceSize</key>
                <string>{37,68}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:wuqi_40.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{890,126},{37,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,68}}</string>
                <key>sourceSize</key>
                <string>{37,68}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:wuqi_60.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{321,257},{37,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,68}}</string>
                <key>sourceSize</key>
                <string>{37,68}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:wuqi_80.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{888,196},{37,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,68}}</string>
                <key>sourceSize</key>
                <string>{37,68}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:xmshdfl.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{766,338},{136,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{136,93}}</string>
                <key>sourceSize</key>
                <string>{136,93}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:youdatui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{927,240},{14,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,18}}</string>
                <key>sourceSize</key>
                <string>{14,18}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:youhoubi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1006,290},{15,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,10}}</string>
                <key>sourceSize</key>
                <string>{15,10}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:youqianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1006,266},{15,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,11}}</string>
                <key>sourceSize</key>
                <string>{15,11}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:youshou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1006,251},{15,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,13}}</string>
                <key>sourceSize</key>
                <string>{15,13}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:youxiaotui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{964,300},{15,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,8}}</string>
                <key>sourceSize</key>
                <string>{15,8}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:youxie.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{859,210},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:ytj453.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{948,0},{60,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{60,92}}</string>
                <key>sourceSize</key>
                <string>{60,92}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:zuodatui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1009,95},{13,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,16}}</string>
                <key>sourceSize</key>
                <string>{13,16}</string>
            </dict>
            <key>skill_assassinate_assassinwoman:zuoxiaotui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{856,297},{18,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,11}}</string>
                <key>sourceSize</key>
                <string>{18,11}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>skill_assassinate_assassinwoman.pvr.ccz</string>
            <key>size</key>
            <string>{1022,464}</string>
            <key>textureFileName</key>
            <string>skill_assassinate_assassinwoman.pvr.ccz</string>
        </dict>
    </dict>
</plist>
