<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_deadlinesschop: Z ku.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{470,223},{16,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,13}}</string>
                <key>sourceSize</key>
                <string>{16,13}</string>
            </dict>
            <key>skill_deadlinesschop:12sd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,404},{118,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{118,37}}</string>
                <key>sourceSize</key>
                <string>{118,37}</string>
            </dict>
            <key>skill_deadlinesschop:23dr.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{239,473},{110,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{110,18}}</string>
                <key>sourceSize</key>
                <string>{110,18}</string>
            </dict>
            <key>skill_deadlinesschop:334f.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{122,447},{118,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{118,24}}</string>
                <key>sourceSize</key>
                <string>{118,24}</string>
            </dict>
            <key>skill_deadlinesschop:B B ku.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{470,210},{18,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,11}}</string>
                <key>sourceSize</key>
                <string>{18,11}</string>
            </dict>
            <key>skill_deadlinesschop:B kua.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{443,377},{27,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,13}}</string>
                <key>sourceSize</key>
                <string>{27,13}</string>
            </dict>
            <key>skill_deadlinesschop:B shenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{484,296},{25,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,22}}</string>
                <key>sourceSize</key>
                <string>{25,22}</string>
            </dict>
            <key>skill_deadlinesschop:B weijin.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{140,346},{35,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,16}}</string>
                <key>sourceSize</key>
                <string>{35,16}</string>
            </dict>
            <key>skill_deadlinesschop:B xie.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{490,180},{20,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,15}}</string>
                <key>sourceSize</key>
                <string>{20,15}</string>
            </dict>
            <key>skill_deadlinesschop:B yaodai.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{326,394},{25,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,8}}</string>
                <key>sourceSize</key>
                <string>{25,8}</string>
            </dict>
            <key>skill_deadlinesschop:B youdat.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{488,248},{21,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,17}}</string>
                <key>sourceSize</key>
                <string>{21,17}</string>
            </dict>
            <key>skill_deadlinesschop:B youshou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{174,305},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>skill_deadlinesschop:B youxiaobi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{174,293},{9,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,10}}</string>
                <key>sourceSize</key>
                <string>{9,10}</string>
            </dict>
            <key>skill_deadlinesschop:B youxiaot.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{453,300},{14,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,11}}</string>
                <key>sourceSize</key>
                <string>{14,11}</string>
            </dict>
            <key>skill_deadlinesschop:B zuodatui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{482,320},{24,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,21}}</string>
                <key>sourceSize</key>
                <string>{24,21}</string>
            </dict>
            <key>skill_deadlinesschop:B zuohujian.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{493,21},{15,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,21}}</string>
                <key>sourceSize</key>
                <string>{15,21}</string>
            </dict>
            <key>skill_deadlinesschop:B zuoqianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{365,281},{7,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,8}}</string>
                <key>sourceSize</key>
                <string>{7,8}</string>
            </dict>
            <key>skill_deadlinesschop:B zuoxiaobi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{474,112},{17,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,14}}</string>
                <key>sourceSize</key>
                <string>{17,14}</string>
            </dict>
            <key>skill_deadlinesschop:B zuoxiaotui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{493,0},{17,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,19}}</string>
                <key>sourceSize</key>
                <string>{17,19}</string>
            </dict>
            <key>skill_deadlinesschop:Bzuoshou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{493,64},{16,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,18}}</string>
                <key>sourceSize</key>
                <string>{16,18}</string>
            </dict>
            <key>skill_deadlinesschop:F kua.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{472,380},{26,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,13}}</string>
                <key>sourceSize</key>
                <string>{26,13}</string>
            </dict>
            <key>skill_deadlinesschop:F kuu.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{353,394},{18,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,10}}</string>
                <key>sourceSize</key>
                <string>{18,10}</string>
            </dict>
            <key>skill_deadlinesschop:F shenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{443,392},{22,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,12}}</string>
                <key>sourceSize</key>
                <string>{22,12}</string>
            </dict>
            <key>skill_deadlinesschop:F tou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{322,406},{47,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{47,35}}</string>
                <key>sourceSize</key>
                <string>{47,35}</string>
            </dict>
            <key>skill_deadlinesschop:F toufa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{279,350},{45,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,50}}</string>
                <key>sourceSize</key>
                <string>{45,50}</string>
            </dict>
            <key>skill_deadlinesschop:F weijin.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{145,323},{33,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,21}}</string>
                <key>sourceSize</key>
                <string>{33,21}</string>
            </dict>
            <key>skill_deadlinesschop:F yaodai.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{249,397},{22,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,7}}</string>
                <key>sourceSize</key>
                <string>{22,7}</string>
            </dict>
            <key>skill_deadlinesschop:F youdat.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{480,343},{24,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,18}}</string>
                <key>sourceSize</key>
                <string>{24,18}</string>
            </dict>
            <key>skill_deadlinesschop:F youhoubi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{365,291},{7,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,8}}</string>
                <key>sourceSize</key>
                <string>{7,8}</string>
            </dict>
            <key>skill_deadlinesschop:F youhujian.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{493,84},{14,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,20}}</string>
                <key>sourceSize</key>
                <string>{14,20}</string>
            </dict>
            <key>skill_deadlinesschop:F youqianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{491,162},{18,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,16}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>skill_deadlinesschop:F yous.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{470,253},{16,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,12}}</string>
                <key>sourceSize</key>
                <string>{16,12}</string>
            </dict>
            <key>skill_deadlinesschop:F youxiaot.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{492,141},{18,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,19}}</string>
                <key>sourceSize</key>
                <string>{18,19}</string>
            </dict>
            <key>skill_deadlinesschop:F zuodat.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{493,124},{16,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{16,15}</string>
            </dict>
            <key>skill_deadlinesschop:F zuoqianb.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{474,195},{14,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,13}}</string>
                <key>sourceSize</key>
                <string>{14,13}</string>
            </dict>
            <key>skill_deadlinesschop:F zuos.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{470,283},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>skill_deadlinesschop:F zuoxiaot.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{474,179},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>skill_deadlinesschop:Y houbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{470,297},{10,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,9}}</string>
                <key>sourceSize</key>
                <string>{10,9}</string>
            </dict>
            <key>skill_deadlinesschop:Y hujian.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{470,267},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>skill_deadlinesschop:Y qianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{493,106},{17,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,16}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>skill_deadlinesschop:Y shou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{474,128},{16,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{16,15}</string>
            </dict>
            <key>skill_deadlinesschop:Z datui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{453,341},{25,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,19}}</string>
                <key>sourceSize</key>
                <string>{25,19}</string>
            </dict>
            <key>skill_deadlinesschop:Z xiaotui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{453,313},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>skill_deadlinesschop:asdcfd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{374,373},{67,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{67,71}}</string>
                <key>sourceSize</key>
                <string>{67,71}</string>
            </dict>
            <key>skill_deadlinesschop:asdvrt.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{474,163},{15,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,14}}</string>
                <key>sourceSize</key>
                <string>{15,14}</string>
            </dict>
            <key>skill_deadlinesschop:cd23.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{319,446},{125,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{125,25}}</string>
                <key>sourceSize</key>
                <string>{125,25}</string>
            </dict>
            <key>skill_deadlinesschop:cdvrt.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,284},{143,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{143,43}}</string>
                <key>sourceSize</key>
                <string>{143,43}</string>
            </dict>
            <key>skill_deadlinesschop:dwd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{122,473},{115,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{115,26}}</string>
                <key>sourceSize</key>
                <string>{115,26}</string>
            </dict>
            <key>skill_deadlinesschop:hasdq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{121,357},{14,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,9}}</string>
                <key>sourceSize</key>
                <string>{14,9}</string>
            </dict>
            <key>skill_deadlinesschop:hjt6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,357},{119,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{119,45}}</string>
                <key>sourceSize</key>
                <string>{119,45}</string>
            </dict>
            <key>skill_deadlinesschop:langer.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{490,197},{20,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,14}}</string>
                <key>sourceSize</key>
                <string>{20,14}</string>
            </dict>
            <key>skill_deadlinesschop:lian.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{145,293},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>skill_deadlinesschop:mjkui003.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{470,238},{16,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,13}}</string>
                <key>sourceSize</key>
                <string>{16,13}</string>
            </dict>
            <key>skill_deadlinesschop:nfgty.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{185,293},{92,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{92,87}}</string>
                <key>sourceSize</key>
                <string>{92,87}</string>
            </dict>
            <key>skill_deadlinesschop:pen.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{480,363},{26,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,15}}</string>
                <key>sourceSize</key>
                <string>{26,15}</string>
            </dict>
            <key>skill_deadlinesschop:pqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{193,0},{182,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{182,139}}</string>
                <key>sourceSize</key>
                <string>{182,139}</string>
            </dict>
            <key>skill_deadlinesschop:pwer.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{375,205},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>skill_deadlinesschop:qsxe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{249,446},{68,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,19}}</string>
                <key>sourceSize</key>
                <string>{68,19}</string>
            </dict>
            <key>skill_deadlinesschop:qszcs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,329},{138,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{138,26}}</string>
                <key>sourceSize</key>
                <string>{138,26}</string>
            </dict>
            <key>skill_deadlinesschop:sdfcw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{493,44},{17,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,18}}</string>
                <key>sourceSize</key>
                <string>{17,18}</string>
            </dict>
            <key>skill_deadlinesschop:shenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{488,228},{21,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,18}}</string>
                <key>sourceSize</key>
                <string>{21,18}</string>
            </dict>
            <key>skill_deadlinesschop:tou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{273,402},{47,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{47,42}}</string>
                <key>sourceSize</key>
                <string>{47,42}</string>
            </dict>
            <key>skill_deadlinesschop:vawe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{184,382},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>skill_deadlinesschop:vaweq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,153},{144,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{144,129}}</string>
                <key>sourceSize</key>
                <string>{144,129}</string>
            </dict>
            <key>skill_deadlinesschop:vd455.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{443,406},{61,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{61,15}}</string>
                <key>sourceSize</key>
                <string>{61,15}</string>
            </dict>
            <key>skill_deadlinesschop:vfdfw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{377,0},{114,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{114,110}}</string>
                <key>sourceSize</key>
                <string>{114,110}</string>
            </dict>
            <key>skill_deadlinesschop:vrfsrtwev.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{137,364},{45,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,49}}</string>
                <key>sourceSize</key>
                <string>{45,49}</string>
            </dict>
            <key>skill_deadlinesschop:vsdws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{193,141},{141,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{141,150}}</string>
                <key>sourceSize</key>
                <string>{141,150}</string>
            </dict>
            <key>skill_deadlinesschop:vwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{279,293},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>skill_deadlinesschop:vwey.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{191,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{191,151}}</string>
                <key>sourceSize</key>
                <string>{191,151}</string>
            </dict>
            <key>skill_deadlinesschop:weas.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{374,300},{77,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{77,71}}</string>
                <key>sourceSize</key>
                <string>{77,71}</string>
            </dict>
            <key>skill_deadlinesschop:wecf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{377,112},{95,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{95,91}}</string>
                <key>sourceSize</key>
                <string>{95,91}</string>
            </dict>
            <key>skill_deadlinesschop:wecfc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{351,473},{103,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{103,24}}</string>
                <key>sourceSize</key>
                <string>{103,24}</string>
            </dict>
            <key>skill_deadlinesschop:weiba.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{326,368},{46,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,24}}</string>
                <key>sourceSize</key>
                <string>{46,24}</string>
            </dict>
            <key>skill_deadlinesschop:weijin.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{336,345},{31,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,21}}</string>
                <key>sourceSize</key>
                <string>{31,21}</string>
            </dict>
            <key>skill_deadlinesschop:weijinwei.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{485,267},{23,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,27}}</string>
                <key>sourceSize</key>
                <string>{23,27}</string>
            </dict>
            <key>skill_deadlinesschop:wuqi_1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{336,281},{27,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,62}}</string>
                <key>sourceSize</key>
                <string>{27,62}</string>
            </dict>
            <key>skill_deadlinesschop:wuqi_20.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{336,211},{37,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,68}}</string>
                <key>sourceSize</key>
                <string>{37,68}</string>
            </dict>
            <key>skill_deadlinesschop:wuqi_40.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{146,223},{37,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,68}}</string>
                <key>sourceSize</key>
                <string>{37,68}</string>
            </dict>
            <key>skill_deadlinesschop:wuqi_60.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{336,141},{37,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,68}}</string>
                <key>sourceSize</key>
                <string>{37,68}</string>
            </dict>
            <key>skill_deadlinesschop:wuqi_80.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{146,153},{37,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,68}}</string>
                <key>sourceSize</key>
                <string>{37,68}</string>
            </dict>
            <key>skill_deadlinesschop:wwdv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,443},{120,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{120,32}}</string>
                <key>sourceSize</key>
                <string>{120,32}</string>
            </dict>
            <key>skill_deadlinesschop:y datui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{453,362},{25,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,13}}</string>
                <key>sourceSize</key>
                <string>{25,13}</string>
            </dict>
            <key>skill_deadlinesschop:yaodai.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{467,395},{21,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,9}}</string>
                <key>sourceSize</key>
                <string>{21,9}</string>
            </dict>
            <key>skill_deadlinesschop:youjiao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{490,395},{19,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,8}}</string>
                <key>sourceSize</key>
                <string>{19,8}</string>
            </dict>
            <key>skill_deadlinesschop:youxiaotui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{490,213},{20,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,13}}</string>
                <key>sourceSize</key>
                <string>{20,13}</string>
            </dict>
            <key>skill_deadlinesschop:zuijiao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{249,382},{22,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,13}}</string>
                <key>sourceSize</key>
                <string>{22,13}</string>
            </dict>
            <key>skill_deadlinesschop:zuoshou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{474,145},{15,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,16}}</string>
                <key>sourceSize</key>
                <string>{15,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>skill_deadlinesschop.pvr.ccz</string>
            <key>size</key>
            <string>{511,502}</string>
            <key>textureFileName</key>
            <string>skill_deadlinesschop.pvr.ccz</string>
        </dict>
    </dict>
</plist>
