<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_fireball_mageman:1/c fs  lian 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{113,301},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
            <key>skill_fireball_mageman:a/1/fs 1tx2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{357,0},{133,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{133,113}}</string>
                <key>sourceSize</key>
                <string>{133,113}</string>
            </dict>
            <key>skill_fireball_mageman:a/fs fq1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{189,254},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>skill_fireball_mageman:a/fs jn1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{193,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{193,191}}</string>
                <key>sourceSize</key>
                <string>{193,191}</string>
            </dict>
            <key>skill_fireball_mageman:a/fs jn1 11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{178,357},{61,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{61,11}}</string>
                <key>sourceSize</key>
                <string>{61,11}</string>
            </dict>
            <key>skill_fireball_mageman:a/fs jn1 12.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,342},{79,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{79,17}}</string>
                <key>sourceSize</key>
                <string>{79,17}</string>
            </dict>
            <key>skill_fireball_mageman:a/fs jn1 13.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{178,338},{87,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{87,17}}</string>
                <key>sourceSize</key>
                <string>{87,17}</string>
            </dict>
            <key>skill_fireball_mageman:a/fs jn1 14.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,323},{98,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{98,17}}</string>
                <key>sourceSize</key>
                <string>{98,17}</string>
            </dict>
            <key>skill_fireball_mageman:a/fs jn1 15.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,301},{111,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{111,20}}</string>
                <key>sourceSize</key>
                <string>{111,20}</string>
            </dict>
            <key>skill_fireball_mageman:a/fs jn1 2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,193},{135,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{135,106}}</string>
                <key>sourceSize</key>
                <string>{135,106}</string>
            </dict>
            <key>skill_fireball_mageman:a/fs jn1 3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{195,0},{160,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{160,129}}</string>
                <key>sourceSize</key>
                <string>{160,129}</string>
            </dict>
            <key>skill_fireball_mageman:a/fs jn1 5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{195,131},{160,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{160,121}}</string>
                <key>sourceSize</key>
                <string>{160,121}</string>
            </dict>
            <key>skill_fireball_mageman:c nvjian shou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{473,276},{11,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,9}}</string>
                <key>sourceSize</key>
                <string>{11,9}</string>
            </dict>
            <key>skill_fireball_mageman:nanfa beijian.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{273,301},{30,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,57}}</string>
                <key>sourceSize</key>
                <string>{30,57}</string>
            </dict>
            <key>skill_fireball_mageman:nanfa bi1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{337,291},{16,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,14}}</string>
                <key>sourceSize</key>
                <string>{16,14}</string>
            </dict>
            <key>skill_fireball_mageman:nanfa bi2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{337,254},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>skill_fireball_mageman:nanfa bi3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{473,244},{12,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,17}}</string>
                <key>sourceSize</key>
                <string>{12,17}</string>
            </dict>
            <key>skill_fireball_mageman:nanfa bi5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{336,322},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>skill_fireball_mageman:nanfa hujian1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{241,357},{25,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,29}}</string>
                <key>sourceSize</key>
                <string>{25,29}</string>
            </dict>
            <key>skill_fireball_mageman:nanfa hujian2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{492,95},{12,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,25}}</string>
                <key>sourceSize</key>
                <string>{12,25}</string>
            </dict>
            <key>skill_fireball_mageman:nanfa huujian5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,361},{41,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{41,26}}</string>
                <key>sourceSize</key>
                <string>{41,26}</string>
            </dict>
            <key>skill_fireball_mageman:nanfa ku1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{488,210},{20,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,41}}</string>
                <key>sourceSize</key>
                <string>{20,41}</string>
            </dict>
            <key>skill_fireball_mageman:nanfa ku1 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{488,167},{20,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,41}}</string>
                <key>sourceSize</key>
                <string>{20,41}</string>
            </dict>
            <key>skill_fireball_mageman:nanfa ku1 2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{488,122},{22,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,43}}</string>
                <key>sourceSize</key>
                <string>{22,43}</string>
            </dict>
            <key>skill_fireball_mageman:nanfa ku2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{429,244},{42,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{42,51}}</string>
                <key>sourceSize</key>
                <string>{42,51}</string>
            </dict>
            <key>skill_fireball_mageman:nanfa ku3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{492,0},{18,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,41}}</string>
                <key>sourceSize</key>
                <string>{18,41}</string>
            </dict>
            <key>skill_fireball_mageman:nanfa ku4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{486,286},{24,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,45}}</string>
                <key>sourceSize</key>
                <string>{24,45}</string>
            </dict>
            <key>skill_fireball_mageman:nanfa ku5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{474,333},{36,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{36,42}}</string>
                <key>sourceSize</key>
                <string>{36,42}</string>
            </dict>
            <key>skill_fireball_mageman:nanfa lian.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{394,355},{30,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,26}}</string>
                <key>sourceSize</key>
                <string>{30,26}</string>
            </dict>
            <key>skill_fireball_mageman:nanfa lian2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{268,360},{26,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,24}}</string>
                <key>sourceSize</key>
                <string>{26,24}</string>
            </dict>
            <key>skill_fireball_mageman:nanfa shenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{492,71},{18,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,22}}</string>
                <key>sourceSize</key>
                <string>{18,22}</string>
            </dict>
            <key>skill_fireball_mageman:nanfa shenti2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{331,352},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{20,21}</string>
            </dict>
            <key>skill_fireball_mageman:nanfa shou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{336,339},{15,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,11}}</string>
                <key>sourceSize</key>
                <string>{15,11}</string>
            </dict>
            <key>skill_fireball_mageman:nanfa shou1 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{337,272},{14,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,17}}</string>
                <key>sourceSize</key>
                <string>{14,17}</string>
            </dict>
            <key>skill_fireball_mageman:nanfa shou1 8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{81,356},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>skill_fireball_mageman:nanfa shou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{81,342},{14,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,12}}</string>
                <key>sourceSize</key>
                <string>{14,12}</string>
            </dict>
            <key>skill_fireball_mageman:nanfa shou4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{473,263},{12,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,11}}</string>
                <key>sourceSize</key>
                <string>{12,11}</string>
            </dict>
            <key>skill_fireball_mageman:nanfa tou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{429,297},{43,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,44}}</string>
                <key>sourceSize</key>
                <string>{43,44}</string>
            </dict>
            <key>skill_fireball_mageman:nanfa tou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{135,316},{41,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{41,44}}</string>
                <key>sourceSize</key>
                <string>{41,44}</string>
            </dict>
            <key>skill_fireball_mageman:nanfa tou3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{429,343},{39,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,44}}</string>
                <key>sourceSize</key>
                <string>{39,44}</string>
            </dict>
            <key>skill_fireball_mageman:nanfa yaodai.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{336,307},{19,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,13}}</string>
                <key>sourceSize</key>
                <string>{19,13}</string>
            </dict>
            <key>skill_fireball_mageman:nanfa yaodai2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{43,361},{20,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,12}}</string>
                <key>sourceSize</key>
                <string>{20,12}</string>
            </dict>
            <key>skill_fireball_mageman:nanfa zhangku1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{100,325},{33,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,49}}</string>
                <key>sourceSize</key>
                <string>{33,49}</string>
            </dict>
            <key>skill_fireball_mageman:nanfa zhangku2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{305,344},{24,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,44}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>skill_fireball_mageman:nanfa zhangku2 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{305,301},{29,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,41}}</string>
                <key>sourceSize</key>
                <string>{29,41}</string>
            </dict>
            <key>skill_fireball_mageman:nanfa zhangku2 1 3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{487,253},{23,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,31}}</string>
                <key>sourceSize</key>
                <string>{23,31}</string>
            </dict>
            <key>skill_fireball_mageman:nanfahujian2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{492,43},{17,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,26}}</string>
                <key>sourceSize</key>
                <string>{17,26}</string>
            </dict>
            <key>skill_fireball_mageman:nanfaku6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{273,254},{62,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{62,45}}</string>
                <key>sourceSize</key>
                <string>{62,45}</string>
            </dict>
            <key>skill_fireball_mageman:wuqi_1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{394,241},{33,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,112}}</string>
                <key>sourceSize</key>
                <string>{33,112}</string>
            </dict>
            <key>skill_fireball_mageman:wuqi_20.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{357,241},{35,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,128}}</string>
                <key>sourceSize</key>
                <string>{35,128}</string>
            </dict>
            <key>skill_fireball_mageman:wuqi_40.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{137,193},{50,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{50,121}}</string>
                <key>sourceSize</key>
                <string>{50,121}</string>
            </dict>
            <key>skill_fireball_mageman:wuqi_60.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{435,115},{51,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{51,127}}</string>
                <key>sourceSize</key>
                <string>{51,127}</string>
            </dict>
            <key>skill_fireball_mageman:wuqi_80.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{357,115},{76,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{76,124}}</string>
                <key>sourceSize</key>
                <string>{76,124}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>skill_fireball_mageman.pvr.ccz</string>
            <key>size</key>
            <string>{511,389}</string>
            <key>textureFileName</key>
            <string>skill_fireball_mageman.pvr.ccz</string>
        </dict>
    </dict>
</plist>
