<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_Invisible_assassinwoman:B weijin.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{83,165},{59,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{59,27}}</string>
                <key>sourceSize</key>
                <string>{59,27}</string>
            </dict>
            <key>skill_Invisible_assassinwoman:Bbu.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{191,139},{16,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,23}}</string>
                <key>sourceSize</key>
                <string>{16,23}</string>
            </dict>
            <key>skill_Invisible_assassinwoman:Bneik.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,216},{20,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,14}}</string>
                <key>sourceSize</key>
                <string>{20,14}</string>
            </dict>
            <key>skill_Invisible_assassinwoman:Bshenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{229,210},{25,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,17}}</string>
                <key>sourceSize</key>
                <string>{25,17}</string>
            </dict>
            <key>skill_Invisible_assassinwoman:Btou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,106},{65,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{65,44}}</string>
                <key>sourceSize</key>
                <string>{65,44}</string>
            </dict>
            <key>skill_Invisible_assassinwoman:Bweijin.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{108,194},{32,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,15}}</string>
                <key>sourceSize</key>
                <string>{32,15}</string>
            </dict>
            <key>skill_Invisible_assassinwoman:Bweiqun.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{200,228},{20,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,6}}</string>
                <key>sourceSize</key>
                <string>{20,6}</string>
            </dict>
            <key>skill_Invisible_assassinwoman:Byoudat.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{143,124},{7,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,10}}</string>
                <key>sourceSize</key>
                <string>{7,10}</string>
            </dict>
            <key>skill_Invisible_assassinwoman:Byouqianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{222,229},{13,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,8}}</string>
                <key>sourceSize</key>
                <string>{13,8}</string>
            </dict>
            <key>skill_Invisible_assassinwoman:Byouxiaot.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{144,58},{6,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{6,19}}</string>
                <key>sourceSize</key>
                <string>{6,19}</string>
            </dict>
            <key>skill_Invisible_assassinwoman:Bzuodat.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{67,126},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>skill_Invisible_assassinwoman:Bzuojiao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{184,188},{22,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,20}}</string>
                <key>sourceSize</key>
                <string>{22,20}</string>
            </dict>
            <key>skill_Invisible_assassinwoman:Bzuoqianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{191,177},{16,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,9}}</string>
                <key>sourceSize</key>
                <string>{16,9}</string>
            </dict>
            <key>skill_Invisible_assassinwoman:Bzuoshou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{65,201},{12,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,11}}</string>
                <key>sourceSize</key>
                <string>{12,11}</string>
            </dict>
            <key>skill_Invisible_assassinwoman:Bzyoudat.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{156,222},{11,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,11}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>skill_Invisible_assassinwoman:Fshenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{200,210},{27,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,16}}</string>
                <key>sourceSize</key>
                <string>{27,16}</string>
            </dict>
            <key>skill_Invisible_assassinwoman:Ftou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{152,59},{56,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{56,54}}</string>
                <key>sourceSize</key>
                <string>{56,54}</string>
            </dict>
            <key>skill_Invisible_assassinwoman:asdfq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{237,229},{11,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,9}}</string>
                <key>sourceSize</key>
                <string>{11,9}</string>
            </dict>
            <key>skill_Invisible_assassinwoman:bgnd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{81,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{81,104}}</string>
                <key>sourceSize</key>
                <string>{81,104}</string>
            </dict>
            <key>skill_Invisible_assassinwoman:bu.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{29,188},{24,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>skill_Invisible_assassinwoman:cvwex.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{143,112},{7,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,10}}</string>
                <key>sourceSize</key>
                <string>{7,10}</string>
            </dict>
            <key>skill_Invisible_assassinwoman:hujian.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{55,214},{19,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,18}}</string>
                <key>sourceSize</key>
                <string>{19,18}</string>
            </dict>
            <key>skill_Invisible_assassinwoman:jiao2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{144,185},{26,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,35}}</string>
                <key>sourceSize</key>
                <string>{26,35}</string>
            </dict>
            <key>skill_Invisible_assassinwoman:mcjskd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{134,222},{20,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,14}}</string>
                <key>sourceSize</key>
                <string>{20,14}</string>
            </dict>
            <key>skill_Invisible_assassinwoman:sdou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{172,185},{10,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,14}}</string>
                <key>sourceSize</key>
                <string>{10,14}</string>
            </dict>
            <key>skill_Invisible_assassinwoman:shenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{108,211},{24,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,18}}</string>
                <key>sourceSize</key>
                <string>{24,18}</string>
            </dict>
            <key>skill_Invisible_assassinwoman:shoudc2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{55,188},{8,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{8,12}}</string>
                <key>sourceSize</key>
                <string>{8,12}</string>
            </dict>
            <key>skill_Invisible_assassinwoman:sidai.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{22,218},{31,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,10}}</string>
                <key>sourceSize</key>
                <string>{31,10}</string>
            </dict>
            <key>skill_Invisible_assassinwoman:tao45.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{152,0},{60,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{60,57}}</string>
                <key>sourceSize</key>
                <string>{60,57}</string>
            </dict>
            <key>skill_Invisible_assassinwoman:tou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{83,58},{59,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{59,52}}</string>
                <key>sourceSize</key>
                <string>{59,52}</string>
            </dict>
            <key>skill_Invisible_assassinwoman:tout.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{83,112},{58,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,51}}</string>
                <key>sourceSize</key>
                <string>{58,51}</string>
            </dict>
            <key>skill_Invisible_assassinwoman:vfasqi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{83,0},{67,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{67,56}}</string>
                <key>sourceSize</key>
                <string>{67,56}</string>
            </dict>
            <key>skill_Invisible_assassinwoman:vfgwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{191,115},{17,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,22}}</string>
                <key>sourceSize</key>
                <string>{17,22}</string>
            </dict>
            <key>skill_Invisible_assassinwoman:weiba.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{29,152},{35,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,34}}</string>
                <key>sourceSize</key>
                <string>{35,34}</string>
            </dict>
            <key>skill_Invisible_assassinwoman:weijin.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{172,210},{26,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,20}}</string>
                <key>sourceSize</key>
                <string>{26,20}</string>
            </dict>
            <key>skill_Invisible_assassinwoman:wuqi_1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,152},{27,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,62}}</string>
                <key>sourceSize</key>
                <string>{27,62}</string>
            </dict>
            <key>skill_Invisible_assassinwoman:wuqi_20.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{209,140},{37,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,68}}</string>
                <key>sourceSize</key>
                <string>{37,68}</string>
            </dict>
            <key>skill_Invisible_assassinwoman:wuqi_40.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{214,0},{37,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,68}}</string>
                <key>sourceSize</key>
                <string>{37,68}</string>
            </dict>
            <key>skill_Invisible_assassinwoman:wuqi_60.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{210,70},{37,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,68}}</string>
                <key>sourceSize</key>
                <string>{37,68}</string>
            </dict>
            <key>skill_Invisible_assassinwoman:wuqi_80.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{152,115},{37,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,68}}</string>
                <key>sourceSize</key>
                <string>{37,68}</string>
            </dict>
            <key>skill_Invisible_assassinwoman:youdatui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{67,106},{14,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,18}}</string>
                <key>sourceSize</key>
                <string>{14,18}</string>
            </dict>
            <key>skill_Invisible_assassinwoman:youhoubi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{66,179},{15,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,10}}</string>
                <key>sourceSize</key>
                <string>{15,10}</string>
            </dict>
            <key>skill_Invisible_assassinwoman:youqianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{191,164},{15,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,11}}</string>
                <key>sourceSize</key>
                <string>{15,11}</string>
            </dict>
            <key>skill_Invisible_assassinwoman:youshou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{66,164},{15,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,13}}</string>
                <key>sourceSize</key>
                <string>{15,13}</string>
            </dict>
            <key>skill_Invisible_assassinwoman:youxiaotui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{65,191},{15,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,8}}</string>
                <key>sourceSize</key>
                <string>{15,8}</string>
            </dict>
            <key>skill_Invisible_assassinwoman:youxie.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{82,194},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
            <key>skill_Invisible_assassinwoman:zuodatui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{67,146},{13,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,16}}</string>
                <key>sourceSize</key>
                <string>{13,16}</string>
            </dict>
            <key>skill_Invisible_assassinwoman:zuoxiaotui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{76,223},{18,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,11}}</string>
                <key>sourceSize</key>
                <string>{18,11}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>skill_Invisible_assassinwoman.pvr.ccz</string>
            <key>size</key>
            <string>{255,239}</string>
            <key>textureFileName</key>
            <string>skill_Invisible_assassinwoman.pvr.ccz</string>
        </dict>
    </dict>
</plist>
