<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_whirlstorm: Z ku.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{122,466},{16,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,13}}</string>
                <key>sourceSize</key>
                <string>{16,13}</string>
            </dict>
            <key>skill_whirlstorm:12sd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{169,343},{126,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{126,46}}</string>
                <key>sourceSize</key>
                <string>{126,46}</string>
            </dict>
            <key>skill_whirlstorm:23dr.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,411},{116,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{116,24}}</string>
                <key>sourceSize</key>
                <string>{116,24}</string>
            </dict>
            <key>skill_whirlstorm:334f.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,376},{125,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{125,33}}</string>
                <key>sourceSize</key>
                <string>{125,33}</string>
            </dict>
            <key>skill_whirlstorm:90bfr.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{458,386},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>skill_whirlstorm:B B ku.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{140,461},{18,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,11}}</string>
                <key>sourceSize</key>
                <string>{18,11}</string>
            </dict>
            <key>skill_whirlstorm:B kua.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{478,404},{27,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,13}}</string>
                <key>sourceSize</key>
                <string>{27,13}</string>
            </dict>
            <key>skill_whirlstorm:B shenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{483,334},{25,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,22}}</string>
                <key>sourceSize</key>
                <string>{25,22}</string>
            </dict>
            <key>skill_whirlstorm:B weijin.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{471,442},{35,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,16}}</string>
                <key>sourceSize</key>
                <string>{35,16}</string>
            </dict>
            <key>skill_whirlstorm:B xie.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{403,428},{20,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,15}}</string>
                <key>sourceSize</key>
                <string>{20,15}</string>
            </dict>
            <key>skill_whirlstorm:B yaodai.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{442,456},{25,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,8}}</string>
                <key>sourceSize</key>
                <string>{25,8}</string>
            </dict>
            <key>skill_whirlstorm:B youdat.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{460,325},{21,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,17}}</string>
                <key>sourceSize</key>
                <string>{21,17}</string>
            </dict>
            <key>skill_whirlstorm:B youshou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{315,183},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>skill_whirlstorm:B youxiaobi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{315,171},{9,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,10}}</string>
                <key>sourceSize</key>
                <string>{9,10}</string>
            </dict>
            <key>skill_whirlstorm:B youxiaot.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{387,429},{14,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,11}}</string>
                <key>sourceSize</key>
                <string>{14,11}</string>
            </dict>
            <key>skill_whirlstorm:B zuodatui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{481,358},{24,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,21}}</string>
                <key>sourceSize</key>
                <string>{24,21}</string>
            </dict>
            <key>skill_whirlstorm:B zuohujian.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{431,416},{15,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,21}}</string>
                <key>sourceSize</key>
                <string>{15,21}</string>
            </dict>
            <key>skill_whirlstorm:B zuoqianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{502,10},{7,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,8}}</string>
                <key>sourceSize</key>
                <string>{7,8}</string>
            </dict>
            <key>skill_whirlstorm:B zuoxiaobi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{423,455},{17,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,14}}</string>
                <key>sourceSize</key>
                <string>{17,14}</string>
            </dict>
            <key>skill_whirlstorm:B zuoxiaotui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{458,406},{17,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,19}}</string>
                <key>sourceSize</key>
                <string>{17,19}</string>
            </dict>
            <key>skill_whirlstorm:Bzuoshou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{122,446},{16,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,18}}</string>
                <key>sourceSize</key>
                <string>{16,18}</string>
            </dict>
            <key>skill_whirlstorm:F kua.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{403,413},{26,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,13}}</string>
                <key>sourceSize</key>
                <string>{26,13}</string>
            </dict>
            <key>skill_whirlstorm:F kuu.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{49,467},{18,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,10}}</string>
                <key>sourceSize</key>
                <string>{18,10}</string>
            </dict>
            <key>skill_whirlstorm:F shenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{447,442},{22,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,12}}</string>
                <key>sourceSize</key>
                <string>{22,12}</string>
            </dict>
            <key>skill_whirlstorm:F tou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{427,477},{47,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{47,35}}</string>
                <key>sourceSize</key>
                <string>{47,35}</string>
            </dict>
            <key>skill_whirlstorm:F toufa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{75,437},{45,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,50}}</string>
                <key>sourceSize</key>
                <string>{45,50}</string>
            </dict>
            <key>skill_whirlstorm:F weijin.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{477,419},{33,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,21}}</string>
                <key>sourceSize</key>
                <string>{33,21}</string>
            </dict>
            <key>skill_whirlstorm:F yaodai.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{442,466},{22,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,7}}</string>
                <key>sourceSize</key>
                <string>{22,7}</string>
            </dict>
            <key>skill_whirlstorm:F youdat.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{432,381},{24,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,18}}</string>
                <key>sourceSize</key>
                <string>{24,18}</string>
            </dict>
            <key>skill_whirlstorm:F youhoubi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{502,0},{7,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,8}}</string>
                <key>sourceSize</key>
                <string>{7,8}</string>
            </dict>
            <key>skill_whirlstorm:F youhujian.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{154,281},{14,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,20}}</string>
                <key>sourceSize</key>
                <string>{14,20}</string>
            </dict>
            <key>skill_whirlstorm:F youqianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{403,445},{18,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,16}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>skill_whirlstorm:F yous.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{368,467},{16,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,12}}</string>
                <key>sourceSize</key>
                <string>{16,12}</string>
            </dict>
            <key>skill_whirlstorm:F youxiaot.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{459,365},{18,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,19}}</string>
                <key>sourceSize</key>
                <string>{18,19}</string>
            </dict>
            <key>skill_whirlstorm:F zuodat.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{231,456},{16,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{16,15}</string>
            </dict>
            <key>skill_whirlstorm:F zuoqianb.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{154,319},{14,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,13}}</string>
                <key>sourceSize</key>
                <string>{14,13}</string>
            </dict>
            <key>skill_whirlstorm:F zuos.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{154,350},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>skill_whirlstorm:F zuoxiaot.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{154,303},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>skill_whirlstorm:Y houbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{315,160},{10,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,9}}</string>
                <key>sourceSize</key>
                <string>{10,9}</string>
            </dict>
            <key>skill_whirlstorm:Y hujian.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{154,334},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>skill_whirlstorm:Y qianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{368,449},{17,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,16}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>skill_whirlstorm:Y shou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{469,460},{16,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{16,15}</string>
            </dict>
            <key>skill_whirlstorm:Z datui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{432,360},{25,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,19}}</string>
                <key>sourceSize</key>
                <string>{25,19}</string>
            </dict>
            <key>skill_whirlstorm:Z xiaotui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{483,277},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>skill_whirlstorm:asdcd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{410,471},{15,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,13}}</string>
                <key>sourceSize</key>
                <string>{15,13}</string>
            </dict>
            <key>skill_whirlstorm:bwes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,179},{168,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{168,100}}</string>
                <key>sourceSize</key>
                <string>{168,100}</string>
            </dict>
            <key>skill_whirlstorm:cd23.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{297,360},{133,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{133,34}}</string>
                <key>sourceSize</key>
                <string>{133,34}</string>
            </dict>
            <key>skill_whirlstorm:cdvrt.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{306,305},{152,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{152,53}}</string>
                <key>sourceSize</key>
                <string>{152,53}</string>
            </dict>
            <key>skill_whirlstorm:dwd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{166,391},{123,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{123,30}}</string>
                <key>sourceSize</key>
                <string>{123,30}</string>
            </dict>
            <key>skill_whirlstorm:hasdq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{387,442},{14,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,9}}</string>
                <key>sourceSize</key>
                <string>{14,9}</string>
            </dict>
            <key>skill_whirlstorm:langer.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{425,439},{20,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,14}}</string>
                <key>sourceSize</key>
                <string>{20,14}</string>
            </dict>
            <key>skill_whirlstorm:loaws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{174,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{174,177}}</string>
                <key>sourceSize</key>
                <string>{174,177}</string>
            </dict>
            <key>skill_whirlstorm:pen.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{403,396},{26,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,15}}</string>
                <key>sourceSize</key>
                <string>{26,15}</string>
            </dict>
            <key>skill_whirlstorm:ppqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{327,0},{173,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{173,112}}</string>
                <key>sourceSize</key>
                <string>{173,112}</string>
            </dict>
            <key>skill_whirlstorm:pqs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{315,213},{166,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{166,90}}</string>
                <key>sourceSize</key>
                <string>{166,90}</string>
            </dict>
            <key>skill_whirlstorm:qsxe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,437},{73,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{73,28}}</string>
                <key>sourceSize</key>
                <string>{73,28}</string>
            </dict>
            <key>skill_whirlstorm:qszcs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{170,260},{143,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{143,36}}</string>
                <key>sourceSize</key>
                <string>{143,36}</string>
            </dict>
            <key>skill_whirlstorm:qwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{327,114},{173,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{173,97}}</string>
                <key>sourceSize</key>
                <string>{173,97}</string>
            </dict>
            <key>skill_whirlstorm:rt45ef.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{460,344},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>skill_whirlstorm:sdfcw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{368,429},{17,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,18}}</string>
                <key>sourceSize</key>
                <string>{17,18}</string>
            </dict>
            <key>skill_whirlstorm:shenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{460,305},{21,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,18}}</string>
                <key>sourceSize</key>
                <string>{21,18}</string>
            </dict>
            <key>skill_whirlstorm:tou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,467},{47,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{47,42}}</string>
                <key>sourceSize</key>
                <string>{47,42}</string>
            </dict>
            <key>skill_whirlstorm:vaswe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{176,0},{149,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{149,158}}</string>
                <key>sourceSize</key>
                <string>{149,158}</string>
            </dict>
            <key>skill_whirlstorm:vawec.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{176,160},{137,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{137,98}}</string>
                <key>sourceSize</key>
                <string>{137,98}</string>
            </dict>
            <key>skill_whirlstorm:vd455.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{162,456},{67,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{67,23}}</string>
                <key>sourceSize</key>
                <string>{67,23}</string>
            </dict>
            <key>skill_whirlstorm:vwes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,281},{152,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{152,93}}</string>
                <key>sourceSize</key>
                <string>{152,93}</string>
            </dict>
            <key>skill_whirlstorm:wecfc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{291,396},{110,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{110,31}}</string>
                <key>sourceSize</key>
                <string>{110,31}</string>
            </dict>
            <key>skill_whirlstorm:weiba.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{161,481},{46,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,24}}</string>
                <key>sourceSize</key>
                <string>{46,24}</string>
            </dict>
            <key>skill_whirlstorm:weijin.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{479,381},{31,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,21}}</string>
                <key>sourceSize</key>
                <string>{31,21}</string>
            </dict>
            <key>skill_whirlstorm:weijinwei.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{483,305},{23,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,27}}</string>
                <key>sourceSize</key>
                <string>{23,27}</string>
            </dict>
            <key>skill_whirlstorm:weta.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{166,423},{83,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{83,31}}</string>
                <key>sourceSize</key>
                <string>{83,31}</string>
            </dict>
            <key>skill_whirlstorm:wuqi_1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{483,213},{27,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,62}}</string>
                <key>sourceSize</key>
                <string>{27,62}</string>
            </dict>
            <key>skill_whirlstorm:wuqi_20.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{290,429},{37,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,68}}</string>
                <key>sourceSize</key>
                <string>{37,68}</string>
            </dict>
            <key>skill_whirlstorm:wuqi_40.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{251,423},{37,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,68}}</string>
                <key>sourceSize</key>
                <string>{37,68}</string>
            </dict>
            <key>skill_whirlstorm:wuqi_60.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{127,376},{37,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,68}}</string>
                <key>sourceSize</key>
                <string>{37,68}</string>
            </dict>
            <key>skill_whirlstorm:wuqi_80.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{329,429},{37,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,68}}</string>
                <key>sourceSize</key>
                <string>{37,68}</string>
            </dict>
            <key>skill_whirlstorm:wwdv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{170,298},{134,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{134,43}}</string>
                <key>sourceSize</key>
                <string>{134,43}</string>
            </dict>
            <key>skill_whirlstorm:y datui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{431,401},{25,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,13}}</string>
                <key>sourceSize</key>
                <string>{25,13}</string>
            </dict>
            <key>skill_whirlstorm:yaodai.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{387,463},{21,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,9}}</string>
                <key>sourceSize</key>
                <string>{21,9}</string>
            </dict>
            <key>skill_whirlstorm:youjiao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{140,474},{19,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,8}}</string>
                <key>sourceSize</key>
                <string>{19,8}</string>
            </dict>
            <key>skill_whirlstorm:youxiaotui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{140,446},{20,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,13}}</string>
                <key>sourceSize</key>
                <string>{20,13}</string>
            </dict>
            <key>skill_whirlstorm:zuijiao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{448,427},{22,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,13}}</string>
                <key>sourceSize</key>
                <string>{22,13}</string>
            </dict>
            <key>skill_whirlstorm:zuoshou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{487,460},{15,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,16}}</string>
                <key>sourceSize</key>
                <string>{15,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>skill_whirlstorm.pvr.ccz</string>
            <key>size</key>
            <string>{511,513}</string>
            <key>textureFileName</key>
            <string>skill_whirlstorm.pvr.ccz</string>
        </dict>
    </dict>
</plist>
