<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_deadlinesschop_assassinwoman:12sd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,404},{118,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{118,37}}</string>
                <key>sourceSize</key>
                <string>{118,37}</string>
            </dict>
            <key>skill_deadlinesschop_assassinwoman:23dr.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{190,476},{110,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{110,18}}</string>
                <key>sourceSize</key>
                <string>{110,18}</string>
            </dict>
            <key>skill_deadlinesschop_assassinwoman:334f.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{229,450},{118,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{118,24}}</string>
                <key>sourceSize</key>
                <string>{118,24}</string>
            </dict>
            <key>skill_deadlinesschop_assassinwoman:Bbu.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{493,64},{16,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,23}}</string>
                <key>sourceSize</key>
                <string>{16,23}</string>
            </dict>
            <key>skill_deadlinesschop_assassinwoman:Bneik.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{487,371},{20,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,14}}</string>
                <key>sourceSize</key>
                <string>{20,14}</string>
            </dict>
            <key>skill_deadlinesschop_assassinwoman:Bshenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{330,332},{25,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,17}}</string>
                <key>sourceSize</key>
                <string>{25,17}</string>
            </dict>
            <key>skill_deadlinesschop_assassinwoman:Btou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{351,446},{65,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{65,44}}</string>
                <key>sourceSize</key>
                <string>{65,44}</string>
            </dict>
            <key>skill_deadlinesschop_assassinwoman:Bweijin.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{145,293},{32,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,15}}</string>
                <key>sourceSize</key>
                <string>{32,15}</string>
            </dict>
            <key>skill_deadlinesschop_assassinwoman:Bweiqun.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{330,373},{20,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,6}}</string>
                <key>sourceSize</key>
                <string>{20,6}</string>
            </dict>
            <key>skill_deadlinesschop_assassinwoman:Byoudat.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{470,205},{7,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,10}}</string>
                <key>sourceSize</key>
                <string>{7,10}</string>
            </dict>
            <key>skill_deadlinesschop_assassinwoman:Byouqianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{496,299},{13,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,8}}</string>
                <key>sourceSize</key>
                <string>{13,8}</string>
            </dict>
            <key>skill_deadlinesschop_assassinwoman:Byouxiaot.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{474,130},{6,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{6,19}}</string>
                <key>sourceSize</key>
                <string>{6,19}</string>
            </dict>
            <key>skill_deadlinesschop_assassinwoman:Bzuodat.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{493,109},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>skill_deadlinesschop_assassinwoman:Bzuojiao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{330,351},{22,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,20}}</string>
                <key>sourceSize</key>
                <string>{22,20}</string>
            </dict>
            <key>skill_deadlinesschop_assassinwoman:Bzuoqianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{357,339},{16,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,9}}</string>
                <key>sourceSize</key>
                <string>{16,9}</string>
            </dict>
            <key>skill_deadlinesschop_assassinwoman:Bzuoshou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{496,286},{12,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,11}}</string>
                <key>sourceSize</key>
                <string>{12,11}</string>
            </dict>
            <key>skill_deadlinesschop_assassinwoman:Bzyoudat.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{362,281},{11,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,11}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>skill_deadlinesschop_assassinwoman:Fshenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{140,332},{27,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,16}}</string>
                <key>sourceSize</key>
                <string>{27,16}</string>
            </dict>
            <key>skill_deadlinesschop_assassinwoman:Ftou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{454,315},{56,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{56,54}}</string>
                <key>sourceSize</key>
                <string>{56,54}</string>
            </dict>
            <key>skill_deadlinesschop_assassinwoman:asdcfd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{374,373},{67,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{67,71}}</string>
                <key>sourceSize</key>
                <string>{67,71}</string>
            </dict>
            <key>skill_deadlinesschop_assassinwoman:asdfq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{362,294},{11,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,9}}</string>
                <key>sourceSize</key>
                <string>{11,9}</string>
            </dict>
            <key>skill_deadlinesschop_assassinwoman:asvfga.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{493,33},{16,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,29}}</string>
                <key>sourceSize</key>
                <string>{16,29}</string>
            </dict>
            <key>skill_deadlinesschop_assassinwoman:bu.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{336,281},{24,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>skill_deadlinesschop_assassinwoman:cd23.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,443},{125,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{125,25}}</string>
                <key>sourceSize</key>
                <string>{125,25}</string>
            </dict>
            <key>skill_deadlinesschop_assassinwoman:cdvrt.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,284},{143,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{143,43}}</string>
                <key>sourceSize</key>
                <string>{143,43}</string>
            </dict>
            <key>skill_deadlinesschop_assassinwoman:dwd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,470},{115,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{115,26}}</string>
                <key>sourceSize</key>
                <string>{115,26}</string>
            </dict>
            <key>skill_deadlinesschop_assassinwoman:hjt6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,357},{119,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{119,45}}</string>
                <key>sourceSize</key>
                <string>{119,45}</string>
            </dict>
            <key>skill_deadlinesschop_assassinwoman:hujian.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{489,129},{19,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,18}}</string>
                <key>sourceSize</key>
                <string>{19,18}</string>
            </dict>
            <key>skill_deadlinesschop_assassinwoman:jiao2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{479,213},{26,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,35}}</string>
                <key>sourceSize</key>
                <string>{26,35}</string>
            </dict>
            <key>skill_deadlinesschop_assassinwoman:jiao3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{493,0},{16,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,31}}</string>
                <key>sourceSize</key>
                <string>{16,31}</string>
            </dict>
            <key>skill_deadlinesschop_assassinwoman:jiao5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{330,311},{25,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,19}}</string>
                <key>sourceSize</key>
                <string>{25,19}</string>
            </dict>
            <key>skill_deadlinesschop_assassinwoman:nfgty.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{179,293},{92,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{92,87}}</string>
                <key>sourceSize</key>
                <string>{92,87}</string>
            </dict>
            <key>skill_deadlinesschop_assassinwoman:pqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{193,0},{182,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{182,139}}</string>
                <key>sourceSize</key>
                <string>{182,139}</string>
            </dict>
            <key>skill_deadlinesschop_assassinwoman:pwer.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{375,205},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>skill_deadlinesschop_assassinwoman:qsxe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{418,452},{68,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,19}}</string>
                <key>sourceSize</key>
                <string>{68,19}</string>
            </dict>
            <key>skill_deadlinesschop_assassinwoman:qszcs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,329},{138,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{138,26}}</string>
                <key>sourceSize</key>
                <string>{138,26}</string>
            </dict>
            <key>skill_deadlinesschop_assassinwoman:shenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{140,350},{24,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,18}}</string>
                <key>sourceSize</key>
                <string>{24,18}</string>
            </dict>
            <key>skill_deadlinesschop_assassinwoman:sidai.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{454,371},{31,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,10}}</string>
                <key>sourceSize</key>
                <string>{31,10}</string>
            </dict>
            <key>skill_deadlinesschop_assassinwoman:tou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{168,408},{59,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{59,52}}</string>
                <key>sourceSize</key>
                <string>{59,52}</string>
            </dict>
            <key>skill_deadlinesschop_assassinwoman:vawe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{443,387},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>skill_deadlinesschop_assassinwoman:vaweq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,153},{144,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{144,129}}</string>
                <key>sourceSize</key>
                <string>{144,129}</string>
            </dict>
            <key>skill_deadlinesschop_assassinwoman:vd455.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{127,462},{61,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{61,15}}</string>
                <key>sourceSize</key>
                <string>{61,15}</string>
            </dict>
            <key>skill_deadlinesschop_assassinwoman:vfdfw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{377,0},{114,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{114,110}}</string>
                <key>sourceSize</key>
                <string>{114,110}</string>
            </dict>
            <key>skill_deadlinesschop_assassinwoman:vrfsrtwev.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{121,370},{45,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,49}}</string>
                <key>sourceSize</key>
                <string>{45,49}</string>
            </dict>
            <key>skill_deadlinesschop_assassinwoman:vsdws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{193,141},{141,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{141,150}}</string>
                <key>sourceSize</key>
                <string>{141,150}</string>
            </dict>
            <key>skill_deadlinesschop_assassinwoman:vwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{273,359},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>skill_deadlinesschop_assassinwoman:vwey.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{191,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{191,151}}</string>
                <key>sourceSize</key>
                <string>{191,151}</string>
            </dict>
            <key>skill_deadlinesschop_assassinwoman:weas.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{375,300},{77,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{77,71}}</string>
                <key>sourceSize</key>
                <string>{77,71}</string>
            </dict>
            <key>skill_deadlinesschop_assassinwoman:wecf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{377,112},{95,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{95,91}}</string>
                <key>sourceSize</key>
                <string>{95,91}</string>
            </dict>
            <key>skill_deadlinesschop_assassinwoman:wecfc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{168,382},{103,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{103,24}}</string>
                <key>sourceSize</key>
                <string>{103,24}</string>
            </dict>
            <key>skill_deadlinesschop_assassinwoman:weiba.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{470,250},{35,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,34}}</string>
                <key>sourceSize</key>
                <string>{35,34}</string>
            </dict>
            <key>skill_deadlinesschop_assassinwoman:weijin.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{145,310},{26,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,20}}</string>
                <key>sourceSize</key>
                <string>{26,20}</string>
            </dict>
            <key>skill_deadlinesschop_assassinwoman:wuqi_1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{482,149},{27,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,62}}</string>
                <key>sourceSize</key>
                <string>{27,62}</string>
            </dict>
            <key>skill_deadlinesschop_assassinwoman:wuqi_20.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{336,211},{37,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,68}}</string>
                <key>sourceSize</key>
                <string>{37,68}</string>
            </dict>
            <key>skill_deadlinesschop_assassinwoman:wuqi_40.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{146,223},{37,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,68}}</string>
                <key>sourceSize</key>
                <string>{37,68}</string>
            </dict>
            <key>skill_deadlinesschop_assassinwoman:wuqi_60.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{336,141},{37,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,68}}</string>
                <key>sourceSize</key>
                <string>{37,68}</string>
            </dict>
            <key>skill_deadlinesschop_assassinwoman:wuqi_80.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{146,153},{37,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,68}}</string>
                <key>sourceSize</key>
                <string>{37,68}</string>
            </dict>
            <key>skill_deadlinesschop_assassinwoman:wwdv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{229,416},{120,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{120,32}}</string>
                <key>sourceSize</key>
                <string>{120,32}</string>
            </dict>
            <key>skill_deadlinesschop_assassinwoman:youdatui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{493,89},{14,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,18}}</string>
                <key>sourceSize</key>
                <string>{14,18}</string>
            </dict>
            <key>skill_deadlinesschop_assassinwoman:youhoubi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{357,350},{15,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,10}}</string>
                <key>sourceSize</key>
                <string>{15,10}</string>
            </dict>
            <key>skill_deadlinesschop_assassinwoman:youqianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{357,326},{15,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,11}}</string>
                <key>sourceSize</key>
                <string>{15,11}</string>
            </dict>
            <key>skill_deadlinesschop_assassinwoman:youshou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{357,311},{15,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,13}}</string>
                <key>sourceSize</key>
                <string>{15,13}</string>
            </dict>
            <key>skill_deadlinesschop_assassinwoman:yout.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{273,293},{55,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,64}}</string>
                <key>sourceSize</key>
                <string>{55,64}</string>
            </dict>
            <key>skill_deadlinesschop_assassinwoman:youxiaotui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{121,357},{15,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,8}}</string>
                <key>sourceSize</key>
                <string>{15,8}</string>
            </dict>
            <key>skill_deadlinesschop_assassinwoman:youxie.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{470,286},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
            <key>skill_deadlinesschop_assassinwoman:zuodatui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{474,112},{13,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,16}}</string>
                <key>sourceSize</key>
                <string>{13,16}</string>
            </dict>
            <key>skill_deadlinesschop_assassinwoman:zuoxiaotui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{354,362},{18,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,11}}</string>
                <key>sourceSize</key>
                <string>{18,11}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>skill_deadlinesschop_assassinwoman.pvr.ccz</string>
            <key>size</key>
            <string>{512,498}</string>
            <key>textureFileName</key>
            <string>skill_deadlinesschop_assassinwoman.pvr.ccz</string>
        </dict>
    </dict>
</plist>
