<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_dropice:1/b fs maozi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{546,234},{75,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{75,44}}</string>
                <key>sourceSize</key>
                <string>{75,44}</string>
            </dict>
            <key>skill_dropice:1/b fs pao1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{737,162},{62,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{62,28}}</string>
                <key>sourceSize</key>
                <string>{62,28}</string>
            </dict>
            <key>skill_dropice:1/b fs pidai.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{788,252},{14,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,6}}</string>
                <key>sourceSize</key>
                <string>{14,6}</string>
            </dict>
            <key>skill_dropice:1/b fs shou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{788,217},{14,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,16}}</string>
                <key>sourceSize</key>
                <string>{14,16}</string>
            </dict>
            <key>skill_dropice:1/b fs xie1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{925,272},{20,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,17}}</string>
                <key>sourceSize</key>
                <string>{20,17}</string>
            </dict>
            <key>skill_dropice:1/bei fs xie2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{788,235},{11,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,15}}</string>
                <key>sourceSize</key>
                <string>{11,15}</string>
            </dict>
            <key>skill_dropice:1/c fs  lian.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{829,264},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,22}</string>
            </dict>
            <key>skill_dropice:1/c fs  lian 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{766,249},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
            <key>skill_dropice:1/c fs maozi 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,250},{77,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{77,41}}</string>
                <key>sourceSize</key>
                <string>{77,41}</string>
            </dict>
            <key>skill_dropice:1/c fs pao1 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{945,255},{36,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{36,15}}</string>
                <key>sourceSize</key>
                <string>{36,15}</string>
            </dict>
            <key>skill_dropice:1/c fs pao2 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{194,250},{36,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{36,19}}</string>
                <key>sourceSize</key>
                <string>{36,19}</string>
            </dict>
            <key>skill_dropice:1/c fs pao3 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{766,225},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
            <key>skill_dropice:1/c fs tui11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{928,190},{14,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,20}}</string>
                <key>sourceSize</key>
                <string>{14,20}</string>
            </dict>
            <key>skill_dropice:1/c fs yinfu.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{289,272},{20,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,17}}</string>
                <key>sourceSize</key>
                <string>{20,17}</string>
            </dict>
            <key>skill_dropice:1/c shenti 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{623,193},{16,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,18}}</string>
                <key>sourceSize</key>
                <string>{16,18}</string>
            </dict>
            <key>skill_dropice:1/fa toufa2 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{737,192},{49,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{49,31}}</string>
                <key>sourceSize</key>
                <string>{49,31}</string>
            </dict>
            <key>skill_dropice:1/fs 1tx4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{251,218},{76,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{76,52}}</string>
                <key>sourceSize</key>
                <string>{76,52}</string>
            </dict>
            <key>skill_dropice:1/fs 1tx5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{464,246},{67,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{67,52}}</string>
                <key>sourceSize</key>
                <string>{67,52}</string>
            </dict>
            <key>skill_dropice:1/fs 1tx6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{329,218},{88,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{88,39}}</string>
                <key>sourceSize</key>
                <string>{88,39}</string>
            </dict>
            <key>skill_dropice:1/fs 1tx9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{642,162},{93,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{93,75}}</string>
                <key>sourceSize</key>
                <string>{93,75}</string>
            </dict>
            <key>skill_dropice:1/fs toufa1 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{737,225},{27,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,41}}</string>
                <key>sourceSize</key>
                <string>{27,41}</string>
            </dict>
            <key>skill_dropice:1/z fs pao1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{998,239},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{22,28}</string>
            </dict>
            <key>skill_dropice:1/z fs pao3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{358,259},{27,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,23}}</string>
                <key>sourceSize</key>
                <string>{27,23}</string>
            </dict>
            <key>skill_dropice:1/z fs ru.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{925,259},{18,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,10}}</string>
                <key>sourceSize</key>
                <string>{18,10}</string>
            </dict>
            <key>skill_dropice:1/z fs shenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{241,272},{22,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,15}}</string>
                <key>sourceSize</key>
                <string>{22,15}</string>
            </dict>
            <key>skill_dropice:1/z fs shenti 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{265,272},{22,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,15}}</string>
                <key>sourceSize</key>
                <string>{22,15}</string>
            </dict>
            <key>skill_dropice:1/z fs shou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{717,258},{18,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,17}}</string>
                <key>sourceSize</key>
                <string>{18,17}</string>
            </dict>
            <key>skill_dropice:1/z fs shou11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{717,239},{18,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,17}}</string>
                <key>sourceSize</key>
                <string>{18,17}</string>
            </dict>
            <key>skill_dropice:1/z fs shou12.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{194,271},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,18}</string>
            </dict>
            <key>skill_dropice:1/z fs shoubi1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{983,255},{10,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,8}}</string>
                <key>sourceSize</key>
                <string>{10,8}</string>
            </dict>
            <key>skill_dropice:1/z fs shoubi2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{788,260},{6,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{6,12}}</string>
                <key>sourceSize</key>
                <string>{6,12}</string>
            </dict>
            <key>skill_dropice:1/z fs tui1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{533,262},{7,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,10}}</string>
                <key>sourceSize</key>
                <string>{7,10}</string>
            </dict>
            <key>skill_dropice:1/z fs xie 2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{216,273},{19,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,15}}</string>
                <key>sourceSize</key>
                <string>{19,15}</string>
            </dict>
            <key>skill_dropice:1/z fs xiezi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{623,170},{17,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,21}}</string>
                <key>sourceSize</key>
                <string>{17,21}</string>
            </dict>
            <key>skill_dropice:1/z fs yaodai.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{623,258},{14,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,5}}</string>
                <key>sourceSize</key>
                <string>{14,5}</string>
            </dict>
            <key>skill_dropice:1/zfs pao2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{387,259},{26,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,23}}</string>
                <key>sourceSize</key>
                <string>{26,23}</string>
            </dict>
            <key>skill_dropice:a/c fs pao1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{998,207},{21,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,30}}</string>
                <key>sourceSize</key>
                <string>{21,30}</string>
            </dict>
            <key>skill_dropice:a/c fs pao2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{158,250},{34,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,23}}</string>
                <key>sourceSize</key>
                <string>{34,23}</string>
            </dict>
            <key>skill_dropice:a/c fs pao3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{803,264},{24,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,23}}</string>
                <key>sourceSize</key>
                <string>{24,23}</string>
            </dict>
            <key>skill_dropice:a/c fs pidai.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{928,252},{15,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,5}}</string>
                <key>sourceSize</key>
                <string>{15,5}</string>
            </dict>
            <key>skill_dropice:a/c fs qianyi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{450,235},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>skill_dropice:a/c fs ru.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{623,246},{15,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,10}}</string>
                <key>sourceSize</key>
                <string>{15,10}</string>
            </dict>
            <key>skill_dropice:a/c fs shenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{983,269},{21,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,17}}</string>
                <key>sourceSize</key>
                <string>{21,17}</string>
            </dict>
            <key>skill_dropice:a/c fs tui1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{788,192},{10,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,23}}</string>
                <key>sourceSize</key>
                <string>{10,23}</string>
            </dict>
            <key>skill_dropice:a/c fs tui2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{928,232},{10,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,18}}</string>
                <key>sourceSize</key>
                <string>{10,18}</string>
            </dict>
            <key>skill_dropice:a/c fs xie1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{855,271},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>skill_dropice:a/c fs xie2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{623,213},{17,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,14}}</string>
                <key>sourceSize</key>
                <string>{17,14}</string>
            </dict>
            <key>skill_dropice:c fs  lian.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{329,259},{27,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>skill_dropice:c fs maozi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{79,250},{77,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{77,41}}</string>
                <key>sourceSize</key>
                <string>{77,41}</string>
            </dict>
            <key>skill_dropice:c fs pao1 2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{415,262},{31,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,16}}</string>
                <key>sourceSize</key>
                <string>{31,16}</string>
            </dict>
            <key>skill_dropice:c fs tui11 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{928,166},{13,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,22}}</string>
                <key>sourceSize</key>
                <string>{13,22}</string>
            </dict>
            <key>skill_dropice:c fs xie1 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{928,212},{15,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,18}}</string>
                <key>sourceSize</key>
                <string>{15,18}</string>
            </dict>
            <key>skill_dropice:fa toufa2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{998,167},{21,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,38}}</string>
                <key>sourceSize</key>
                <string>{21,38}</string>
            </dict>
            <key>skill_dropice:fs 1tx3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{623,229},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>skill_dropice:fs jn2 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{469,170},{75,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{75,74}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>skill_dropice:fs jn2 2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{804,0},{139,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{139,139}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
            <key>skill_dropice:fs jn2 3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{642,0},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>skill_dropice:fs jn2 4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{546,170},{75,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{75,62}}</string>
                <key>sourceSize</key>
                <string>{75,62}</string>
            </dict>
            <key>skill_dropice:fs toufa1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{998,126},{24,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,39}}</string>
                <key>sourceSize</key>
                <string>{24,39}</string>
            </dict>
            <key>skill_dropice:fst toufa3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{419,218},{29,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,42}}</string>
                <key>sourceSize</key>
                <string>{29,42}</string>
            </dict>
            <key>skill_dropice:wuqi_1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{893,141},{33,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,112}}</string>
                <key>sourceSize</key>
                <string>{33,112}</string>
            </dict>
            <key>skill_dropice:wuqi_20.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{856,141},{35,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,128}}</string>
                <key>sourceSize</key>
                <string>{35,128}</string>
            </dict>
            <key>skill_dropice:wuqi_40.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{804,141},{50,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{50,121}}</string>
                <key>sourceSize</key>
                <string>{50,121}</string>
            </dict>
            <key>skill_dropice:wuqi_60.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{945,126},{51,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{51,127}}</string>
                <key>sourceSize</key>
                <string>{51,127}</string>
            </dict>
            <key>skill_dropice:wuqi_80.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{945,0},{76,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{76,124}}</string>
                <key>sourceSize</key>
                <string>{76,124}</string>
            </dict>
            <key>skill_dropice:x1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{469,0},{171,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{171,168}}</string>
                <key>sourceSize</key>
                <string>{171,168}</string>
            </dict>
            <key>skill_dropice:x2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{251,0},{216,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{216,216}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>skill_dropice:x3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{249,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{249,248}}</string>
                <key>sourceSize</key>
                <string>{249,248}</string>
            </dict>
            <key>skill_dropice:z fs maozi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{640,239},{75,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{75,44}}</string>
                <key>sourceSize</key>
                <string>{75,44}</string>
            </dict>
            <key>skill_dropice:z fs pao1 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{893,255},{30,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,22}}</string>
                <key>sourceSize</key>
                <string>{30,22}</string>
            </dict>
            <key>skill_dropice:z fs qianfa1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{533,246},{10,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,14}}</string>
                <key>sourceSize</key>
                <string>{10,14}</string>
            </dict>
            <key>skill_dropice:z fs qianfa2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{450,251},{8,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{8,13}}</string>
                <key>sourceSize</key>
                <string>{8,13}</string>
            </dict>
            <key>skill_dropice:z fs shou1 6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{928,141},{13,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,23}}</string>
                <key>sourceSize</key>
                <string>{13,23}</string>
            </dict>
            <key>skill_dropice:z fs shou13.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{947,272},{19,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,16}}</string>
                <key>sourceSize</key>
                <string>{19,16}</string>
            </dict>
            <key>skill_dropice:z fs shou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{450,218},{16,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{16,15}</string>
            </dict>
            <key>skill_dropice:z fs shou2 2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{232,250},{12,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,11}}</string>
                <key>sourceSize</key>
                <string>{12,11}</string>
            </dict>
            <key>skill_dropice:z fs shoubi2 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{796,260},{5,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{5,13}}</string>
                <key>sourceSize</key>
                <string>{5,13}</string>
            </dict>
            <key>skill_dropice:z shou6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{232,263},{7,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,8}}</string>
                <key>sourceSize</key>
                <string>{7,8}</string>
            </dict>
            <key>skill_dropice:zfs lian.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{737,268},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>skill_dropice.pvr.ccz</string>
            <key>size</key>
            <string>{1023,307}</string>
            <key>textureFileName</key>
            <string>skill_dropice.pvr.ccz</string>
        </dict>
    </dict>
</plist>
