<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_assassinate: Z ku.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{550,328},{16,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,13}}</string>
                <key>sourceSize</key>
                <string>{16,13}</string>
            </dict>
            <key>skill_assassinate:232fer.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{619,236},{18,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,23}}</string>
                <key>sourceSize</key>
                <string>{18,23}</string>
            </dict>
            <key>skill_assassinate:23v.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{670,416},{128,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{128,56}}</string>
                <key>sourceSize</key>
                <string>{128,56}</string>
            </dict>
            <key>skill_assassinate:567rrfg.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{178,403},{121,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{121,109}}</string>
                <key>sourceSize</key>
                <string>{121,109}</string>
            </dict>
            <key>skill_assassinate:98023de.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{296,186},{106,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{106,120}}</string>
                <key>sourceSize</key>
                <string>{106,120}</string>
            </dict>
            <key>skill_assassinate:ASDCDRE5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{946,143},{65,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{65,55}}</string>
                <key>sourceSize</key>
                <string>{65,55}</string>
            </dict>
            <key>skill_assassinate:ASDQWRT.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{982,287},{27,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,17}}</string>
                <key>sourceSize</key>
                <string>{27,17}</string>
            </dict>
            <key>skill_assassinate:B B ku.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{530,328},{18,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,11}}</string>
                <key>sourceSize</key>
                <string>{18,11}</string>
            </dict>
            <key>skill_assassinate:B kua.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{838,291},{27,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,13}}</string>
                <key>sourceSize</key>
                <string>{27,13}</string>
            </dict>
            <key>skill_assassinate:B shenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{839,267},{25,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,22}}</string>
                <key>sourceSize</key>
                <string>{25,22}</string>
            </dict>
            <key>skill_assassinate:B weijin.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{945,270},{35,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,16}}</string>
                <key>sourceSize</key>
                <string>{35,16}</string>
            </dict>
            <key>skill_assassinate:B xie.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{838,306},{20,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,15}}</string>
                <key>sourceSize</key>
                <string>{20,15}</string>
            </dict>
            <key>skill_assassinate:B yaodai.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{157,322},{25,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,8}}</string>
                <key>sourceSize</key>
                <string>{25,8}</string>
            </dict>
            <key>skill_assassinate:B youdat.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{613,281},{21,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,17}}</string>
                <key>sourceSize</key>
                <string>{21,17}</string>
            </dict>
            <key>skill_assassinate:B youshou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1010,77},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>skill_assassinate:B youxiaobi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1010,65},{9,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,10}}</string>
                <key>sourceSize</key>
                <string>{9,10}</string>
            </dict>
            <key>skill_assassinate:B youxiaot.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{927,328},{14,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,11}}</string>
                <key>sourceSize</key>
                <string>{14,11}</string>
            </dict>
            <key>skill_assassinate:B zuodatui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{619,193},{24,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,21}}</string>
                <key>sourceSize</key>
                <string>{24,21}</string>
            </dict>
            <key>skill_assassinate:B zuohujian.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{929,91},{15,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,21}}</string>
                <key>sourceSize</key>
                <string>{15,21}</string>
            </dict>
            <key>skill_assassinate:B zuoqianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1010,88},{7,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,8}}</string>
                <key>sourceSize</key>
                <string>{7,8}</string>
            </dict>
            <key>skill_assassinate:B zuoxiaobi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{818,319},{17,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,14}}</string>
                <key>sourceSize</key>
                <string>{17,14}</string>
            </dict>
            <key>skill_assassinate:B zuoxiaotui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{929,70},{17,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,19}}</string>
                <key>sourceSize</key>
                <string>{17,19}</string>
            </dict>
            <key>skill_assassinate:Bzuoshou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{926,237},{16,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,18}}</string>
                <key>sourceSize</key>
                <string>{16,18}</string>
            </dict>
            <key>skill_assassinate:F kua.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{945,305},{26,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,13}}</string>
                <key>sourceSize</key>
                <string>{26,13}</string>
            </dict>
            <key>skill_assassinate:F kuu.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{568,328},{18,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,10}}</string>
                <key>sourceSize</key>
                <string>{18,10}</string>
            </dict>
            <key>skill_assassinate:F shenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{903,311},{22,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,12}}</string>
                <key>sourceSize</key>
                <string>{22,12}</string>
            </dict>
            <key>skill_assassinate:F tou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{157,285},{47,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{47,35}}</string>
                <key>sourceSize</key>
                <string>{47,35}</string>
            </dict>
            <key>skill_assassinate:F toufa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{879,210},{45,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,50}}</string>
                <key>sourceSize</key>
                <string>{45,50}</string>
            </dict>
            <key>skill_assassinate:F weijin.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{840,216},{33,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,21}}</string>
                <key>sourceSize</key>
                <string>{33,21}</string>
            </dict>
            <key>skill_assassinate:F yaodai.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{903,325},{22,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,7}}</string>
                <key>sourceSize</key>
                <string>{22,7}</string>
            </dict>
            <key>skill_assassinate:F youdat.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{619,216},{24,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,18}}</string>
                <key>sourceSize</key>
                <string>{24,18}</string>
            </dict>
            <key>skill_assassinate:F youhoubi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1009,114},{7,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,8}}</string>
                <key>sourceSize</key>
                <string>{7,8}</string>
            </dict>
            <key>skill_assassinate:F youhujian.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{929,114},{14,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,20}}</string>
                <key>sourceSize</key>
                <string>{14,20}</string>
            </dict>
            <key>skill_assassinate:F youqianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{818,301},{18,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,16}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>skill_assassinate:F yous.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{588,328},{16,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,12}}</string>
                <key>sourceSize</key>
                <string>{16,12}</string>
            </dict>
            <key>skill_assassinate:F youxiaot.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{818,280},{18,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,19}}</string>
                <key>sourceSize</key>
                <string>{18,19}</string>
            </dict>
            <key>skill_assassinate:F zuodat.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{386,308},{16,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{16,15}</string>
            </dict>
            <key>skill_assassinate:F zuoqianb.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{929,202},{14,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,13}}</string>
                <key>sourceSize</key>
                <string>{14,13}</string>
            </dict>
            <key>skill_assassinate:F zuos.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1010,40},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>skill_assassinate:F zuoxiaot.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{929,186},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>skill_assassinate:F667.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{405,164},{212,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{212,91}}</string>
                <key>sourceSize</key>
                <string>{212,91}</string>
            </dict>
            <key>skill_assassinate:FE34D.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,186},{205,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{205,97}}</string>
                <key>sourceSize</key>
                <string>{205,97}</string>
            </dict>
            <key>skill_assassinate:GGR56.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{626,348},{230,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{230,66}}</string>
                <key>sourceSize</key>
                <string>{230,66}</string>
            </dict>
            <key>skill_assassinate:J56T.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{301,423},{132,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{132,43}}</string>
                <key>sourceSize</key>
                <string>{132,43}</string>
            </dict>
            <key>skill_assassinate:OI223.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,377},{176,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{176,60}}</string>
                <key>sourceSize</key>
                <string>{176,60}</string>
            </dict>
            <key>skill_assassinate:P342.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{639,259},{177,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{177,87}}</string>
                <key>sourceSize</key>
                <string>{177,87}</string>
            </dict>
            <key>skill_assassinate:PLWE.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{860,306},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>skill_assassinate:SCD.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{946,94},{61,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{61,47}}</string>
                <key>sourceSize</key>
                <string>{61,47}</string>
            </dict>
            <key>skill_assassinate:VFDR.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,285},{155,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{155,90}}</string>
                <key>sourceSize</key>
                <string>{155,90}</string>
            </dict>
            <key>skill_assassinate:WER2345.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{613,315},{21,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,13}}</string>
                <key>sourceSize</key>
                <string>{21,13}</string>
            </dict>
            <key>skill_assassinate:Y houbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1010,54},{10,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,9}}</string>
                <key>sourceSize</key>
                <string>{10,9}</string>
            </dict>
            <key>skill_assassinate:Y hujian.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1009,98},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>skill_assassinate:Y qianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{926,257},{17,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,16}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>skill_assassinate:Y shou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{927,311},{16,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{16,15}</string>
            </dict>
            <key>skill_assassinate:Z datui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{918,275},{25,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,19}}</string>
                <key>sourceSize</key>
                <string>{25,19}</string>
            </dict>
            <key>skill_assassinate:Z xiaotui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{840,239},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>skill_assassinate:asdcd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{929,171},{15,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,13}}</string>
                <key>sourceSize</key>
                <string>{15,13}</string>
            </dict>
            <key>skill_assassinate:asdwe45.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1010,0},{12,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,38}}</string>
                <key>sourceSize</key>
                <string>{12,38}</string>
            </dict>
            <key>skill_assassinate:hasdq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{157,332},{14,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,9}}</string>
                <key>sourceSize</key>
                <string>{14,9}</string>
            </dict>
            <key>skill_assassinate:iop.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{645,70},{243,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{243,74}}</string>
                <key>sourceSize</key>
                <string>{243,74}</string>
            </dict>
            <key>skill_assassinate:jhj778.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{645,146},{193,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{193,111}}</string>
                <key>sourceSize</key>
                <string>{193,111}</string>
            </dict>
            <key>skill_assassinate:jkty.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{645,0},{301,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{301,68}}</string>
                <key>sourceSize</key>
                <string>{301,68}</string>
            </dict>
            <key>skill_assassinate:kiqw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{403,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{403,184}}</string>
                <key>sourceSize</key>
                <string>{403,184}</string>
            </dict>
            <key>skill_assassinate:langer.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{945,320},{20,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,14}}</string>
                <key>sourceSize</key>
                <string>{20,14}</string>
            </dict>
            <key>skill_assassinate:mjkui003.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{386,325},{16,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,13}}</string>
                <key>sourceSize</key>
                <string>{16,13}</string>
            </dict>
            <key>skill_assassinate:mwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{405,0},{238,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{238,162}}</string>
                <key>sourceSize</key>
                <string>{238,162}</string>
            </dict>
            <key>skill_assassinate:pen.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{945,288},{26,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,15}}</string>
                <key>sourceSize</key>
                <string>{26,15}</string>
            </dict>
            <key>skill_assassinate:pop.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{530,257},{81,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{81,69}}</string>
                <key>sourceSize</key>
                <string>{81,69}</string>
            </dict>
            <key>skill_assassinate:qwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{903,341},{109,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{109,130}}</string>
                <key>sourceSize</key>
                <string>{109,130}</string>
            </dict>
            <key>skill_assassinate:qwq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{296,308},{88,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{88,93}}</string>
                <key>sourceSize</key>
                <string>{88,93}</string>
            </dict>
            <key>skill_assassinate:qwv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{207,186},{87,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{87,203}}</string>
                <key>sourceSize</key>
                <string>{87,203}</string>
            </dict>
            <key>skill_assassinate:rt45ef.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{818,259},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>skill_assassinate:sdfcw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{926,217},{17,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,18}}</string>
                <key>sourceSize</key>
                <string>{17,18}</string>
            </dict>
            <key>skill_assassinate:shenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{613,261},{21,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,18}}</string>
                <key>sourceSize</key>
                <string>{21,18}</string>
            </dict>
            <key>skill_assassinate:tou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{869,262},{47,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{47,42}}</string>
                <key>sourceSize</key>
                <string>{47,42}</string>
            </dict>
            <key>skill_assassinate:vase.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{404,257},{124,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{124,164}}</string>
                <key>sourceSize</key>
                <string>{124,164}</string>
            </dict>
            <key>skill_assassinate:vawes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{530,416},{138,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{138,49}}</string>
                <key>sourceSize</key>
                <string>{138,49}</string>
            </dict>
            <key>skill_assassinate:vfasqi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{530,343},{94,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{94,68}}</string>
                <key>sourceSize</key>
                <string>{94,68}</string>
            </dict>
            <key>skill_assassinate:weiba.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{973,306},{46,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,24}}</string>
                <key>sourceSize</key>
                <string>{46,24}</string>
            </dict>
            <key>skill_assassinate:weijin.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{984,264},{31,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,21}}</string>
                <key>sourceSize</key>
                <string>{31,21}</string>
            </dict>
            <key>skill_assassinate:weijinwei.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{619,164},{23,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,27}}</string>
                <key>sourceSize</key>
                <string>{23,27}</string>
            </dict>
            <key>skill_assassinate:wuqi_1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{984,200},{27,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,62}}</string>
                <key>sourceSize</key>
                <string>{27,62}</string>
            </dict>
            <key>skill_assassinate:wuqi_20.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{945,200},{37,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,68}}</string>
                <key>sourceSize</key>
                <string>{37,68}</string>
            </dict>
            <key>skill_assassinate:wuqi_40.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{840,146},{37,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,68}}</string>
                <key>sourceSize</key>
                <string>{37,68}</string>
            </dict>
            <key>skill_assassinate:wuqi_60.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{890,140},{37,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,68}}</string>
                <key>sourceSize</key>
                <string>{37,68}</string>
            </dict>
            <key>skill_assassinate:wuqi_80.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{890,70},{37,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,68}}</string>
                <key>sourceSize</key>
                <string>{37,68}</string>
            </dict>
            <key>skill_assassinate:xcascwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{929,154},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>skill_assassinate:y datui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{918,296},{25,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,13}}</string>
                <key>sourceSize</key>
                <string>{25,13}</string>
            </dict>
            <key>skill_assassinate:yaodai.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{837,323},{21,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,9}}</string>
                <key>sourceSize</key>
                <string>{21,9}</string>
            </dict>
            <key>skill_assassinate:youjiao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{606,330},{19,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,8}}</string>
                <key>sourceSize</key>
                <string>{19,8}</string>
            </dict>
            <key>skill_assassinate:youxiaotui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{184,322},{20,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,13}}</string>
                <key>sourceSize</key>
                <string>{20,13}</string>
            </dict>
            <key>skill_assassinate:ytj453.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{948,0},{60,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{60,92}}</string>
                <key>sourceSize</key>
                <string>{60,92}</string>
            </dict>
            <key>skill_assassinate:zuijiao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{613,300},{22,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,13}}</string>
                <key>sourceSize</key>
                <string>{22,13}</string>
            </dict>
            <key>skill_assassinate:zuoshou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{929,136},{15,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,16}}</string>
                <key>sourceSize</key>
                <string>{15,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>skill_assassinate.pvr.ccz</string>
            <key>size</key>
            <string>{1023,505}</string>
            <key>textureFileName</key>
            <string>skill_assassinate.pvr.ccz</string>
        </dict>
    </dict>
</plist>
