<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_blackhole_mageman:1/ fs jn3 2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1835,489},{85,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{85,66}}</string>
                <key>sourceSize</key>
                <string>{85,66}</string>
            </dict>
            <key>skill_blackhole_mageman:1/bnvnvnv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1835,557},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>skill_blackhole_mageman:1/c fs pao1 5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1117,380},{25,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,19}}</string>
                <key>sourceSize</key>
                <string>{25,19}</string>
            </dict>
            <key>skill_blackhole_mageman:1/c fs xie1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1927,392},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>skill_blackhole_mageman:1/fs 1tx10.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{450,585},{89,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{89,52}}</string>
                <key>sourceSize</key>
                <string>{89,52}</string>
            </dict>
            <key>skill_blackhole_mageman:1/fs 1tx11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{450,515},{96,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{96,68}}</string>
                <key>sourceSize</key>
                <string>{96,68}</string>
            </dict>
            <key>skill_blackhole_mageman:1/fs 1tx12.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{463,434},{91,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{91,79}}</string>
                <key>sourceSize</key>
                <string>{91,79}</string>
            </dict>
            <key>skill_blackhole_mageman:1/fs 1tx13.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1934,0},{70,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,136}}</string>
                <key>sourceSize</key>
                <string>{70,136}</string>
            </dict>
            <key>skill_blackhole_mageman:1/fs jn3 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1922,533},{79,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{79,67}}</string>
                <key>sourceSize</key>
                <string>{79,67}</string>
            </dict>
            <key>skill_blackhole_mageman:1/fs jn3 11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1809,823},{173,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{173,149}}</string>
                <key>sourceSize</key>
                <string>{173,149}</string>
            </dict>
            <key>skill_blackhole_mageman:1/fs jn3 3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1059,513},{91,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{91,75}}</string>
                <key>sourceSize</key>
                <string>{91,75}</string>
            </dict>
            <key>skill_blackhole_mageman:1/fs jn3 4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1092,435},{82,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{82,76}}</string>
                <key>sourceSize</key>
                <string>{82,76}</string>
            </dict>
            <key>skill_blackhole_mageman:1/fs jn3 5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1856,339},{69,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{69,75}}</string>
                <key>sourceSize</key>
                <string>{69,75}</string>
            </dict>
            <key>skill_blackhole_mageman:1/fs jn3 6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1856,416},{64,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{64,71}}</string>
                <key>sourceSize</key>
                <string>{64,71}</string>
            </dict>
            <key>skill_blackhole_mageman:b1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{619,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{619,269}}</string>
                <key>sourceSize</key>
                <string>{619,269}</string>
            </dict>
            <key>skill_blackhole_mageman:b10.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{450,717},{410,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{410,233}}</string>
                <key>sourceSize</key>
                <string>{410,233}</string>
            </dict>
            <key>skill_blackhole_mageman:b12.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,731},{397,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{397,220}}</string>
                <key>sourceSize</key>
                <string>{397,220}</string>
            </dict>
            <key>skill_blackhole_mageman:b13.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1176,488},{444,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{444,230}}</string>
                <key>sourceSize</key>
                <string>{444,230}</string>
            </dict>
            <key>skill_blackhole_mageman:b2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{621,0},{557,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{557,255}}</string>
                <key>sourceSize</key>
                <string>{557,255}</string>
            </dict>
            <key>skill_blackhole_mageman:b3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{621,257},{469,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{469,226}}</string>
                <key>sourceSize</key>
                <string>{469,226}</string>
            </dict>
            <key>skill_blackhole_mageman:b4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1027,720},{409,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{409,222}}</string>
                <key>sourceSize</key>
                <string>{409,222}</string>
            </dict>
            <key>skill_blackhole_mageman:b5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{612,485},{445,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{445,230}}</string>
                <key>sourceSize</key>
                <string>{445,230}</string>
            </dict>
            <key>skill_blackhole_mageman:b6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,271},{461,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{461,234}}</string>
                <key>sourceSize</key>
                <string>{461,234}</string>
            </dict>
            <key>skill_blackhole_mageman:b7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,507},{448,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{448,222}}</string>
                <key>sourceSize</key>
                <string>{448,222}</string>
            </dict>
            <key>skill_blackhole_mageman:b8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1180,252},{465,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{465,234}}</string>
                <key>sourceSize</key>
                <string>{465,234}</string>
            </dict>
            <key>skill_blackhole_mageman:b9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1180,0},{488,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{488,250}}</string>
                <key>sourceSize</key>
                <string>{488,250}</string>
            </dict>
            <key>skill_blackhole_mageman:bvcbcvbcv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1438,720},{174,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{174,154}}</string>
                <key>sourceSize</key>
                <string>{174,154}</string>
            </dict>
            <key>skill_blackhole_mageman:d1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1991,395},{54,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{54,67}}</string>
                <key>sourceSize</key>
                <string>{54,67}</string>
            </dict>
            <key>skill_blackhole_mageman:d2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1978,464},{54,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{54,67}}</string>
                <key>sourceSize</key>
                <string>{54,67}</string>
            </dict>
            <key>skill_blackhole_mageman:d3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{556,434},{54,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{54,67}}</string>
                <key>sourceSize</key>
                <string>{54,67}</string>
            </dict>
            <key>skill_blackhole_mageman:d4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1922,428},{54,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{54,67}}</string>
                <key>sourceSize</key>
                <string>{54,67}</string>
            </dict>
            <key>skill_blackhole_mageman:dadsadaa/nanfa beijian.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1144,257},{30,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,57}}</string>
                <key>sourceSize</key>
                <string>{30,57}</string>
            </dict>
            <key>skill_blackhole_mageman:dadsadaa/nanfa bi1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1987,255},{16,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,14}}</string>
                <key>sourceSize</key>
                <string>{16,14}</string>
            </dict>
            <key>skill_blackhole_mageman:dadsadaa/nanfa bi3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1965,409},{12,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,17}}</string>
                <key>sourceSize</key>
                <string>{12,17}</string>
            </dict>
            <key>skill_blackhole_mageman:dadsadaa/nanfa bi5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1948,406},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>skill_blackhole_mageman:dadsadaa/nanfa ku3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1647,295},{18,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,41}}</string>
                <key>sourceSize</key>
                <string>{18,41}</string>
            </dict>
            <key>skill_blackhole_mageman:dadsadaa/nanfa ku5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1934,320},{36,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{36,42}}</string>
                <key>sourceSize</key>
                <string>{36,42}</string>
            </dict>
            <key>skill_blackhole_mageman:dadsadaa/nanfa shenti2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1647,338},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{20,21}</string>
            </dict>
            <key>skill_blackhole_mageman:dadsadaa/nanfa shou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1927,413},{15,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,11}}</string>
                <key>sourceSize</key>
                <string>{15,11}</string>
            </dict>
            <key>skill_blackhole_mageman:dadsadaa/nanfa shou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1092,421},{14,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,12}}</string>
                <key>sourceSize</key>
                <string>{14,12}</string>
            </dict>
            <key>skill_blackhole_mageman:dadsadaa/nanfa tou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2004,303},{41,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{41,44}}</string>
                <key>sourceSize</key>
                <string>{41,44}</string>
            </dict>
            <key>skill_blackhole_mageman:dadsadaa/nanfa yaodai2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1948,392},{20,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,12}}</string>
                <key>sourceSize</key>
                <string>{20,12}</string>
            </dict>
            <key>skill_blackhole_mageman:dadsadaa/nanfahujian2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1987,166},{17,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,26}}</string>
                <key>sourceSize</key>
                <string>{17,26}</string>
            </dict>
            <key>skill_blackhole_mageman:fsaf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{548,575},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>skill_blackhole_mageman:gx1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1670,0},{262,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{262,211}}</string>
                <key>sourceSize</key>
                <string>{262,211}</string>
            </dict>
            <key>skill_blackhole_mageman:m1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1622,607},{198,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{198,181}}</string>
                <key>sourceSize</key>
                <string>{198,181}</string>
            </dict>
            <key>skill_blackhole_mageman:m10.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1670,213},{184,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{184,204}}</string>
                <key>sourceSize</key>
                <string>{184,204}</string>
            </dict>
            <key>skill_blackhole_mageman:m2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{463,271},{143,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{143,161}}</string>
                <key>sourceSize</key>
                <string>{143,161}</string>
            </dict>
            <key>skill_blackhole_mageman:m3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1665,419},{168,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{168,186}}</string>
                <key>sourceSize</key>
                <string>{168,186}</string>
            </dict>
            <key>skill_blackhole_mageman:m4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1822,654},{177,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{177,167}}</string>
                <key>sourceSize</key>
                <string>{177,167}</string>
            </dict>
            <key>skill_blackhole_mageman:m6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1614,790},{193,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{193,150}}</string>
                <key>sourceSize</key>
                <string>{193,150}</string>
            </dict>
            <key>skill_blackhole_mageman:m8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{862,717},{163,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{163,181}}</string>
                <key>sourceSize</key>
                <string>{163,181}</string>
            </dict>
            <key>skill_blackhole_mageman:nanfa beijian.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2005,244},{30,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,57}}</string>
                <key>sourceSize</key>
                <string>{30,57}</string>
            </dict>
            <key>skill_blackhole_mageman:nanfa bi1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1987,239},{16,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,14}}</string>
                <key>sourceSize</key>
                <string>{16,14}</string>
            </dict>
            <key>skill_blackhole_mageman:nanfa bi2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1987,221},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>skill_blackhole_mageman:nanfa bi3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1166,393},{12,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,17}}</string>
                <key>sourceSize</key>
                <string>{12,17}</string>
            </dict>
            <key>skill_blackhole_mageman:nanfa bi5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1092,404},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>skill_blackhole_mageman:nanfa hujian1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1972,363},{25,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,29}}</string>
                <key>sourceSize</key>
                <string>{25,29}</string>
            </dict>
            <key>skill_blackhole_mageman:nanfa hujian2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1987,194},{12,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,25}}</string>
                <key>sourceSize</key>
                <string>{12,25}</string>
            </dict>
            <key>skill_blackhole_mageman:nanfa ku1 2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1978,318},{22,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,43}}</string>
                <key>sourceSize</key>
                <string>{22,43}</string>
            </dict>
            <key>skill_blackhole_mageman:nanfa ku13.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1092,380},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>skill_blackhole_mageman:nanfa ku2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1934,267},{42,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{42,51}}</string>
                <key>sourceSize</key>
                <string>{42,51}</string>
            </dict>
            <key>skill_blackhole_mageman:nanfa ku3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1647,252},{18,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,41}}</string>
                <key>sourceSize</key>
                <string>{18,41}</string>
            </dict>
            <key>skill_blackhole_mageman:nanfa ku4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1978,271},{24,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,45}}</string>
                <key>sourceSize</key>
                <string>{24,45}</string>
            </dict>
            <key>skill_blackhole_mageman:nanfa ku5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1952,602},{59,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{59,47}}</string>
                <key>sourceSize</key>
                <string>{59,47}</string>
            </dict>
            <key>skill_blackhole_mageman:nanfa lian.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1927,364},{30,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,26}}</string>
                <key>sourceSize</key>
                <string>{30,26}</string>
            </dict>
            <key>skill_blackhole_mageman:nanfa lian2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1144,367},{26,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,24}}</string>
                <key>sourceSize</key>
                <string>{26,24}</string>
            </dict>
            <key>skill_blackhole_mageman:nanfa shenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1647,384},{18,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,22}}</string>
                <key>sourceSize</key>
                <string>{18,22}</string>
            </dict>
            <key>skill_blackhole_mageman:nanfa shenti2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1647,361},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{20,21}</string>
            </dict>
            <key>skill_blackhole_mageman:nanfa shou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1835,419},{15,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,11}}</string>
                <key>sourceSize</key>
                <string>{15,11}</string>
            </dict>
            <key>skill_blackhole_mageman:nanfa shou1 54.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1138,407},{17,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,12}}</string>
                <key>sourceSize</key>
                <string>{17,12}</string>
            </dict>
            <key>skill_blackhole_mageman:nanfa shou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1126,421},{14,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,12}}</string>
                <key>sourceSize</key>
                <string>{14,12}</string>
            </dict>
            <key>skill_blackhole_mageman:nanfa shou4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1142,421},{12,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,11}}</string>
                <key>sourceSize</key>
                <string>{12,11}</string>
            </dict>
            <key>skill_blackhole_mageman:nanfa shou4 2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1970,394},{19,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,13}}</string>
                <key>sourceSize</key>
                <string>{19,13}</string>
            </dict>
            <key>skill_blackhole_mageman:nanfa shou4 3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1109,416},{15,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,11}}</string>
                <key>sourceSize</key>
                <string>{15,11}</string>
            </dict>
            <key>skill_blackhole_mageman:nanfa tou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2002,349},{43,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{43,44}}</string>
                <key>sourceSize</key>
                <string>{43,44}</string>
            </dict>
            <key>skill_blackhole_mageman:nanfa yaodai.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1117,401},{19,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,13}}</string>
                <key>sourceSize</key>
                <string>{19,13}</string>
            </dict>
            <key>skill_blackhole_mageman:nanfa yaodai 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1647,408},{16,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,13}}</string>
                <key>sourceSize</key>
                <string>{16,13}</string>
            </dict>
            <key>skill_blackhole_mageman:nanfa yaodai2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1144,393},{20,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,12}}</string>
                <key>sourceSize</key>
                <string>{20,12}</string>
            </dict>
            <key>skill_blackhole_mageman:nanfa zhangku1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1144,316},{33,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,49}}</string>
                <key>sourceSize</key>
                <string>{33,49}</string>
            </dict>
            <key>skill_blackhole_mageman:nanfa zhangku1 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1059,590},{58,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,50}}</string>
                <key>sourceSize</key>
                <string>{58,50}</string>
            </dict>
            <key>skill_blackhole_mageman:nanfa zhangku1 2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1892,602},{58,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,50}}</string>
                <key>sourceSize</key>
                <string>{58,50}</string>
            </dict>
            <key>skill_blackhole_mageman:nanfahujian2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1987,138},{17,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,26}}</string>
                <key>sourceSize</key>
                <string>{17,26}</string>
            </dict>
            <key>skill_blackhole_mageman:rthdrurud5ru 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{548,515},{60,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{60,58}}</string>
                <key>sourceSize</key>
                <string>{60,58}</string>
            </dict>
            <key>skill_blackhole_mageman:vcvxcvx.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1157,412},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>skill_blackhole_mageman:wuqi_1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2006,130},{33,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,112}}</string>
                <key>sourceSize</key>
                <string>{33,112}</string>
            </dict>
            <key>skill_blackhole_mageman:wuqi_20.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2006,0},{35,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,128}}</string>
                <key>sourceSize</key>
                <string>{35,128}</string>
            </dict>
            <key>skill_blackhole_mageman:wuqi_40.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1092,257},{50,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{50,121}}</string>
                <key>sourceSize</key>
                <string>{50,121}</string>
            </dict>
            <key>skill_blackhole_mageman:wuqi_60.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1934,138},{51,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{51,127}}</string>
                <key>sourceSize</key>
                <string>{51,127}</string>
            </dict>
            <key>skill_blackhole_mageman:wuqi_80.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1856,213},{76,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{76,124}}</string>
                <key>sourceSize</key>
                <string>{76,124}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>skill_blackhole_mageman.pvr.ccz</string>
            <key>size</key>
            <string>{2046,973}</string>
            <key>textureFileName</key>
            <string>skill_blackhole_mageman.pvr.ccz</string>
        </dict>
    </dict>
</plist>
