<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_fireball:1/b fs maozi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{273,300},{75,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{75,44}}</string>
                <key>sourceSize</key>
                <string>{75,44}</string>
            </dict>
            <key>skill_fireball:1/b fs pao1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{272,365},{62,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{62,28}}</string>
                <key>sourceSize</key>
                <string>{62,28}</string>
            </dict>
            <key>skill_fireball:1/b fs pidai.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{336,365},{14,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,6}}</string>
                <key>sourceSize</key>
                <string>{14,6}</string>
            </dict>
            <key>skill_fireball:1/b fs shou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{412,355},{14,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,16}}</string>
                <key>sourceSize</key>
                <string>{14,16}</string>
            </dict>
            <key>skill_fireball:1/b fs xie1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{135,341},{20,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,17}}</string>
                <key>sourceSize</key>
                <string>{20,17}</string>
            </dict>
            <key>skill_fireball:1/bei fs xie2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{448,360},{11,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,15}}</string>
                <key>sourceSize</key>
                <string>{11,15}</string>
            </dict>
            <key>skill_fireball:1/c fs  lian.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{486,280},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,22}</string>
            </dict>
            <key>skill_fireball:1/c fs  lian 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{113,301},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
            <key>skill_fireball:1/z fs pao1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{488,199},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{22,28}</string>
            </dict>
            <key>skill_fireball:1/z fs pao3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{429,288},{27,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,23}}</string>
                <key>sourceSize</key>
                <string>{27,23}</string>
            </dict>
            <key>skill_fireball:1/z fs ru.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{133,360},{18,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,10}}</string>
                <key>sourceSize</key>
                <string>{18,10}</string>
            </dict>
            <key>skill_fireball:1/z fs shenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{450,328},{22,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,15}}</string>
                <key>sourceSize</key>
                <string>{22,15}</string>
            </dict>
            <key>skill_fireball:1/z fs shenti 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{111,325},{22,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,15}}</string>
                <key>sourceSize</key>
                <string>{22,15}</string>
            </dict>
            <key>skill_fireball:1/z fs shou1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{492,42},{18,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,17}}</string>
                <key>sourceSize</key>
                <string>{18,17}</string>
            </dict>
            <key>skill_fireball:1/z fs shou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{394,355},{16,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{16,15}</string>
            </dict>
            <key>skill_fireball:1/z fs shoubi1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{96,367},{10,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,8}}</string>
                <key>sourceSize</key>
                <string>{10,8}</string>
            </dict>
            <key>skill_fireball:1/z fs shoubi2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{450,313},{6,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{6,12}}</string>
                <key>sourceSize</key>
                <string>{6,12}</string>
            </dict>
            <key>skill_fireball:1/z fs tui1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{461,360},{7,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,10}}</string>
                <key>sourceSize</key>
                <string>{7,10}</string>
            </dict>
            <key>skill_fireball:1/z fs xie 2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{429,334},{19,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,15}}</string>
                <key>sourceSize</key>
                <string>{19,15}</string>
            </dict>
            <key>skill_fireball:1/z fs xiezi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{492,0},{17,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,21}}</string>
                <key>sourceSize</key>
                <string>{17,21}</string>
            </dict>
            <key>skill_fireball:1/z fs yaodai.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{63,366},{14,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,5}}</string>
                <key>sourceSize</key>
                <string>{14,5}</string>
            </dict>
            <key>skill_fireball:1/zfs pao2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{482,304},{26,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,23}}</string>
                <key>sourceSize</key>
                <string>{26,23}</string>
            </dict>
            <key>skill_fireball:a/1/fs 1tx2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{357,0},{133,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{133,113}}</string>
                <key>sourceSize</key>
                <string>{133,113}</string>
            </dict>
            <key>skill_fireball:a/c fs maozi 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{183,338},{77,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{77,41}}</string>
                <key>sourceSize</key>
                <string>{77,41}</string>
            </dict>
            <key>skill_fireball:a/c fs pao1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{488,167},{21,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,30}}</string>
                <key>sourceSize</key>
                <string>{21,30}</string>
            </dict>
            <key>skill_fireball:a/c fs pao1 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{471,350},{36,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{36,15}}</string>
                <key>sourceSize</key>
                <string>{36,15}</string>
            </dict>
            <key>skill_fireball:a/c fs pao2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{135,316},{34,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{34,23}}</string>
                <key>sourceSize</key>
                <string>{34,23}</string>
            </dict>
            <key>skill_fireball:a/c fs pao2 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{474,329},{36,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{36,19}}</string>
                <key>sourceSize</key>
                <string>{36,19}</string>
            </dict>
            <key>skill_fireball:a/c fs pao3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{486,255},{24,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,23}}</string>
                <key>sourceSize</key>
                <string>{24,23}</string>
            </dict>
            <key>skill_fireball:a/c fs pao3 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{460,285},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
            <key>skill_fireball:a/c fs pidai.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{79,364},{15,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,5}}</string>
                <key>sourceSize</key>
                <string>{15,5}</string>
            </dict>
            <key>skill_fireball:a/c fs qianyi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{153,360},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>skill_fireball:a/c fs ru.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{110,361},{15,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,10}}</string>
                <key>sourceSize</key>
                <string>{15,10}</string>
            </dict>
            <key>skill_fireball:a/c fs shenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{458,309},{21,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,17}}</string>
                <key>sourceSize</key>
                <string>{21,17}</string>
            </dict>
            <key>skill_fireball:a/c fs tui1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{171,336},{10,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,23}}</string>
                <key>sourceSize</key>
                <string>{10,23}</string>
            </dict>
            <key>skill_fireball:a/c fs tui11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{492,105},{14,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,20}}</string>
                <key>sourceSize</key>
                <string>{14,20}</string>
            </dict>
            <key>skill_fireball:a/c fs tui11 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{492,61},{13,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,22}}</string>
                <key>sourceSize</key>
                <string>{13,22}</string>
            </dict>
            <key>skill_fireball:a/c fs tui2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{98,347},{10,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,18}}</string>
                <key>sourceSize</key>
                <string>{10,18}</string>
            </dict>
            <key>skill_fireball:a/c fs xie1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{429,313},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>skill_fireball:a/c fs xie1 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{171,316},{15,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,18}}</string>
                <key>sourceSize</key>
                <string>{15,18}</string>
            </dict>
            <key>skill_fireball:a/c fs xie2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{429,351},{17,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,14}}</string>
                <key>sourceSize</key>
                <string>{17,14}</string>
            </dict>
            <key>skill_fireball:a/c fs yinfu.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{111,342},{20,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,17}}</string>
                <key>sourceSize</key>
                <string>{20,17}</string>
            </dict>
            <key>skill_fireball:a/c shenti 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{492,85},{16,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,18}}</string>
                <key>sourceSize</key>
                <string>{16,18}</string>
            </dict>
            <key>skill_fireball:a/fs fq1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{189,254},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>skill_fireball:a/fs jn1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{193,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{193,191}}</string>
                <key>sourceSize</key>
                <string>{193,191}</string>
            </dict>
            <key>skill_fireball:a/fs jn1 11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,366},{61,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{61,11}}</string>
                <key>sourceSize</key>
                <string>{61,11}</string>
            </dict>
            <key>skill_fireball:a/fs jn1 12.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{272,346},{79,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{79,17}}</string>
                <key>sourceSize</key>
                <string>{79,17}</string>
            </dict>
            <key>skill_fireball:a/fs jn1 13.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{63,377},{87,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{87,17}}</string>
                <key>sourceSize</key>
                <string>{87,17}</string>
            </dict>
            <key>skill_fireball:a/fs jn1 14.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{336,373},{98,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{98,17}}</string>
                <key>sourceSize</key>
                <string>{98,17}</string>
            </dict>
            <key>skill_fireball:a/fs jn1 15.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,301},{111,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{111,20}}</string>
                <key>sourceSize</key>
                <string>{111,20}</string>
            </dict>
            <key>skill_fireball:a/fs jn1 2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,193},{135,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{135,106}}</string>
                <key>sourceSize</key>
                <string>{135,106}</string>
            </dict>
            <key>skill_fireball:a/fs jn1 3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{195,0},{160,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{160,129}}</string>
                <key>sourceSize</key>
                <string>{160,129}</string>
            </dict>
            <key>skill_fireball:a/fs jn1 5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{195,131},{160,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{160,121}}</string>
                <key>sourceSize</key>
                <string>{160,121}</string>
            </dict>
            <key>skill_fireball:a/z fs pao1 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{79,323},{30,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,22}}</string>
                <key>sourceSize</key>
                <string>{30,22}</string>
            </dict>
            <key>skill_fireball:a/z fs shou1 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{262,353},{8,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{8,12}}</string>
                <key>sourceSize</key>
                <string>{8,12}</string>
            </dict>
            <key>skill_fireball:a/z fs shou1 2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{450,345},{19,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,13}}</string>
                <key>sourceSize</key>
                <string>{19,13}</string>
            </dict>
            <key>skill_fireball:a/z fs shou1 5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{79,347},{17,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,15}}</string>
                <key>sourceSize</key>
                <string>{17,15}</string>
            </dict>
            <key>skill_fireball:a/z fs shou11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{492,23},{18,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,17}}</string>
                <key>sourceSize</key>
                <string>{18,17}</string>
            </dict>
            <key>skill_fireball:a/z fs shou15.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{157,341},{12,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,17}}</string>
                <key>sourceSize</key>
                <string>{12,17}</string>
            </dict>
            <key>skill_fireball:c fs maozi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,323},{77,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{77,41}}</string>
                <key>sourceSize</key>
                <string>{77,41}</string>
            </dict>
            <key>skill_fireball:fa toufa2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{488,127},{21,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,38}}</string>
                <key>sourceSize</key>
                <string>{21,38}</string>
            </dict>
            <key>skill_fireball:fs toufa1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{460,244},{24,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,39}}</string>
                <key>sourceSize</key>
                <string>{24,39}</string>
            </dict>
            <key>skill_fireball:fst toufa3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{429,244},{29,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,42}}</string>
                <key>sourceSize</key>
                <string>{29,42}</string>
            </dict>
            <key>skill_fireball:wuqi_1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{394,241},{33,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,112}}</string>
                <key>sourceSize</key>
                <string>{33,112}</string>
            </dict>
            <key>skill_fireball:wuqi_20.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{357,241},{35,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,128}}</string>
                <key>sourceSize</key>
                <string>{35,128}</string>
            </dict>
            <key>skill_fireball:wuqi_40.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{137,193},{50,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{50,121}}</string>
                <key>sourceSize</key>
                <string>{50,121}</string>
            </dict>
            <key>skill_fireball:wuqi_60.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{435,115},{51,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{51,127}}</string>
                <key>sourceSize</key>
                <string>{51,127}</string>
            </dict>
            <key>skill_fireball:wuqi_80.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{357,115},{76,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{76,124}}</string>
                <key>sourceSize</key>
                <string>{76,124}</string>
            </dict>
            <key>skill_fireball:z fs maozi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{273,254},{75,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{75,44}}</string>
                <key>sourceSize</key>
                <string>{75,44}</string>
            </dict>
            <key>skill_fireball:z fs qianfa1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{167,361},{10,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,14}}</string>
                <key>sourceSize</key>
                <string>{10,14}</string>
            </dict>
            <key>skill_fireball:z fs qianfa2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{262,338},{8,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{8,13}}</string>
                <key>sourceSize</key>
                <string>{8,13}</string>
            </dict>
            <key>skill_fireball:zfs lian.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{488,229},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>skill_fireball.pvr.ccz</string>
            <key>size</key>
            <string>{511,395}</string>
            <key>textureFileName</key>
            <string>skill_fireball.pvr.ccz</string>
        </dict>
    </dict>
</plist>
