<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_whirlstorm_assassinwoman:12sd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{363,183},{126,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{126,46}}</string>
                <key>sourceSize</key>
                <string>{126,46}</string>
            </dict>
            <key>skill_whirlstorm_assassinwoman:23dr.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,485},{116,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{116,24}}</string>
                <key>sourceSize</key>
                <string>{116,24}</string>
            </dict>
            <key>skill_whirlstorm_assassinwoman:334f.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{363,231},{125,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{125,33}}</string>
                <key>sourceSize</key>
                <string>{125,33}</string>
            </dict>
            <key>skill_whirlstorm_assassinwoman:B weijin.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{317,474},{59,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{59,27}}</string>
                <key>sourceSize</key>
                <string>{59,27}</string>
            </dict>
            <key>skill_whirlstorm_assassinwoman:Bbu.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{491,216},{16,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,23}}</string>
                <key>sourceSize</key>
                <string>{16,23}</string>
            </dict>
            <key>skill_whirlstorm_assassinwoman:Bneik.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{490,261},{20,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,14}}</string>
                <key>sourceSize</key>
                <string>{20,14}</string>
            </dict>
            <key>skill_whirlstorm_assassinwoman:Bshenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{289,489},{25,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,17}}</string>
                <key>sourceSize</key>
                <string>{25,17}</string>
            </dict>
            <key>skill_whirlstorm_assassinwoman:Btou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{147,486},{65,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{65,44}}</string>
                <key>sourceSize</key>
                <string>{65,44}</string>
            </dict>
            <key>skill_whirlstorm_assassinwoman:Bweijin.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{289,450},{32,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,15}}</string>
                <key>sourceSize</key>
                <string>{32,15}</string>
            </dict>
            <key>skill_whirlstorm_assassinwoman:Bweiqun.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{383,418},{20,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,6}}</string>
                <key>sourceSize</key>
                <string>{20,6}</string>
            </dict>
            <key>skill_whirlstorm_assassinwoman:Byoudat.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{503,21},{7,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,10}}</string>
                <key>sourceSize</key>
                <string>{7,10}</string>
            </dict>
            <key>skill_whirlstorm_assassinwoman:Byouqianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{345,331},{13,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,8}}</string>
                <key>sourceSize</key>
                <string>{13,8}</string>
            </dict>
            <key>skill_whirlstorm_assassinwoman:Byouxiaot.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{503,0},{6,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{6,19}}</string>
                <key>sourceSize</key>
                <string>{6,19}</string>
            </dict>
            <key>skill_whirlstorm_assassinwoman:Bzuodat.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{473,298},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>skill_whirlstorm_assassinwoman:Bzuojiao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{488,277},{22,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,20}}</string>
                <key>sourceSize</key>
                <string>{22,20}</string>
            </dict>
            <key>skill_whirlstorm_assassinwoman:Bzuoqianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{325,395},{16,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,9}}</string>
                <key>sourceSize</key>
                <string>{16,9}</string>
            </dict>
            <key>skill_whirlstorm_assassinwoman:Bzuoshou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{473,318},{12,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,11}}</string>
                <key>sourceSize</key>
                <string>{12,11}</string>
            </dict>
            <key>skill_whirlstorm_assassinwoman:Bzyoudat.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{175,199},{11,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,11}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>skill_whirlstorm_assassinwoman:Fshenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{118,485},{27,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,16}}</string>
                <key>sourceSize</key>
                <string>{27,16}</string>
            </dict>
            <key>skill_whirlstorm_assassinwoman:Ftou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{325,418},{56,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{56,54}}</string>
                <key>sourceSize</key>
                <string>{56,54}</string>
            </dict>
            <key>skill_whirlstorm_assassinwoman:asdfq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{175,212},{11,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,9}}</string>
                <key>sourceSize</key>
                <string>{11,9}</string>
            </dict>
            <key>skill_whirlstorm_assassinwoman:bu.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{445,368},{24,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>skill_whirlstorm_assassinwoman:bwes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{175,293},{168,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{168,100}}</string>
                <key>sourceSize</key>
                <string>{168,100}</string>
            </dict>
            <key>skill_whirlstorm_assassinwoman:cd23.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{154,450},{133,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{133,34}}</string>
                <key>sourceSize</key>
                <string>{133,34}</string>
            </dict>
            <key>skill_whirlstorm_assassinwoman:cdvrt.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{171,395},{152,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{152,53}}</string>
                <key>sourceSize</key>
                <string>{152,53}</string>
            </dict>
            <key>skill_whirlstorm_assassinwoman:dwd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{363,266},{123,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{123,30}}</string>
                <key>sourceSize</key>
                <string>{123,30}</string>
            </dict>
            <key>skill_whirlstorm_assassinwoman:hujian.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{490,241},{19,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,18}}</string>
                <key>sourceSize</key>
                <string>{19,18}</string>
            </dict>
            <key>skill_whirlstorm_assassinwoman:jiao2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{445,331},{26,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,35}}</string>
                <key>sourceSize</key>
                <string>{26,35}</string>
            </dict>
            <key>skill_whirlstorm_assassinwoman:jiao3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{491,183},{16,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,31}}</string>
                <key>sourceSize</key>
                <string>{16,31}</string>
            </dict>
            <key>skill_whirlstorm_assassinwoman:loaws.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{188,0},{174,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{174,177}}</string>
                <key>sourceSize</key>
                <string>{174,177}</string>
            </dict>
            <key>skill_whirlstorm_assassinwoman:mcjskd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{487,299},{21,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,15}}</string>
                <key>sourceSize</key>
                <string>{21,15}</string>
            </dict>
            <key>skill_whirlstorm_assassinwoman:ppqwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{188,179},{173,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{173,112}}</string>
                <key>sourceSize</key>
                <string>{173,112}</string>
            </dict>
            <key>skill_whirlstorm_assassinwoman:pqs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,298},{166,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{166,90}}</string>
                <key>sourceSize</key>
                <string>{166,90}</string>
            </dict>
            <key>skill_whirlstorm_assassinwoman:qsxe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{214,486},{73,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{73,28}}</string>
                <key>sourceSize</key>
                <string>{73,28}</string>
            </dict>
            <key>skill_whirlstorm_assassinwoman:qszcs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{364,100},{143,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{143,36}}</string>
                <key>sourceSize</key>
                <string>{143,36}</string>
            </dict>
            <key>skill_whirlstorm_assassinwoman:qwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,199},{173,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{173,97}}</string>
                <key>sourceSize</key>
                <string>{173,97}</string>
            </dict>
            <key>skill_whirlstorm_assassinwoman:shenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{445,427},{24,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,18}}</string>
                <key>sourceSize</key>
                <string>{24,18}</string>
            </dict>
            <key>skill_whirlstorm_assassinwoman:sidai.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{316,503},{31,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,10}}</string>
                <key>sourceSize</key>
                <string>{31,10}</string>
            </dict>
            <key>skill_whirlstorm_assassinwoman:tou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{345,364},{59,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{59,52}}</string>
                <key>sourceSize</key>
                <string>{59,52}</string>
            </dict>
            <key>skill_whirlstorm_assassinwoman:vaswe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{186,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{186,197}}</string>
                <key>sourceSize</key>
                <string>{186,197}</string>
            </dict>
            <key>skill_whirlstorm_assassinwoman:vawec.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{364,0},{137,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{137,98}}</string>
                <key>sourceSize</key>
                <string>{137,98}</string>
            </dict>
            <key>skill_whirlstorm_assassinwoman:vd455.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{349,504},{67,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{67,23}}</string>
                <key>sourceSize</key>
                <string>{67,23}</string>
            </dict>
            <key>skill_whirlstorm_assassinwoman:vwes.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,390},{152,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{152,93}}</string>
                <key>sourceSize</key>
                <string>{152,93}</string>
            </dict>
            <key>skill_whirlstorm_assassinwoman:wecfc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{361,298},{110,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{110,31}}</string>
                <key>sourceSize</key>
                <string>{110,31}</string>
            </dict>
            <key>skill_whirlstorm_assassinwoman:weiba.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{451,484},{35,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,34}}</string>
                <key>sourceSize</key>
                <string>{35,34}</string>
            </dict>
            <key>skill_whirlstorm_assassinwoman:weijin.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{289,467},{26,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,20}}</string>
                <key>sourceSize</key>
                <string>{26,20}</string>
            </dict>
            <key>skill_whirlstorm_assassinwoman:weta.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{360,331},{83,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{83,31}}</string>
                <key>sourceSize</key>
                <string>{83,31}</string>
            </dict>
            <key>skill_whirlstorm_assassinwoman:wuqi_1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{422,447},{27,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,62}}</string>
                <key>sourceSize</key>
                <string>{27,62}</string>
            </dict>
            <key>skill_whirlstorm_assassinwoman:wuqi_20.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{473,344},{37,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,68}}</string>
                <key>sourceSize</key>
                <string>{37,68}</string>
            </dict>
            <key>skill_whirlstorm_assassinwoman:wuqi_40.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{383,434},{37,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,68}}</string>
                <key>sourceSize</key>
                <string>{37,68}</string>
            </dict>
            <key>skill_whirlstorm_assassinwoman:wuqi_60.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{471,414},{37,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,68}}</string>
                <key>sourceSize</key>
                <string>{37,68}</string>
            </dict>
            <key>skill_whirlstorm_assassinwoman:wuqi_80.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{406,364},{37,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,68}}</string>
                <key>sourceSize</key>
                <string>{37,68}</string>
            </dict>
            <key>skill_whirlstorm_assassinwoman:wwdv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{364,138},{134,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{134,43}}</string>
                <key>sourceSize</key>
                <string>{134,43}</string>
            </dict>
            <key>skill_whirlstorm_assassinwoman:youdatui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{345,293},{14,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,18}}</string>
                <key>sourceSize</key>
                <string>{14,18}</string>
            </dict>
            <key>skill_whirlstorm_assassinwoman:youhoubi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{154,403},{15,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,10}}</string>
                <key>sourceSize</key>
                <string>{15,10}</string>
            </dict>
            <key>skill_whirlstorm_assassinwoman:youqianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{154,390},{15,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,11}}</string>
                <key>sourceSize</key>
                <string>{15,11}</string>
            </dict>
            <key>skill_whirlstorm_assassinwoman:youshou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{487,329},{15,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,13}}</string>
                <key>sourceSize</key>
                <string>{15,13}</string>
            </dict>
            <key>skill_whirlstorm_assassinwoman:youxiaotui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{325,406},{15,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,8}}</string>
                <key>sourceSize</key>
                <string>{15,8}</string>
            </dict>
            <key>skill_whirlstorm_assassinwoman:youxie.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{445,398},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
            <key>skill_whirlstorm_assassinwoman:zuodatui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{345,313},{13,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,16}}</string>
                <key>sourceSize</key>
                <string>{13,16}</string>
            </dict>
            <key>skill_whirlstorm_assassinwoman:zuoxiaotui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{487,316},{18,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,11}}</string>
                <key>sourceSize</key>
                <string>{18,11}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>skill_whirlstorm_assassinwoman.pvr.ccz</string>
            <key>size</key>
            <string>{511,531}</string>
            <key>textureFileName</key>
            <string>skill_whirlstorm_assassinwoman.pvr.ccz</string>
        </dict>
    </dict>
</plist>
