<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swordswoman_intown:asa/11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{207,198},{77,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{77,43}}</string>
                <key>sourceSize</key>
                <string>{77,43}</string>
            </dict>
            <key>swordswoman_intown:asa/12.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{126,195},{79,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{79,45}}</string>
                <key>sourceSize</key>
                <string>{79,45}</string>
            </dict>
            <key>swordswoman_intown:asa/13.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{369,102},{79,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{79,49}}</string>
                <key>sourceSize</key>
                <string>{79,49}</string>
            </dict>
            <key>swordswoman_intown:asa/14.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{369,52},{80,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{80,48}}</string>
                <key>sourceSize</key>
                <string>{80,48}</string>
            </dict>
            <key>swordswoman_intown:asa/15.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{371,0},{80,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{80,50}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>swordswoman_intown:asa/16.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{288,0},{81,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{81,50}}</string>
                <key>sourceSize</key>
                <string>{81,50}</string>
            </dict>
            <key>swordswoman_intown:asa/17.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{288,104},{76,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{76,52}}</string>
                <key>sourceSize</key>
                <string>{76,52}</string>
            </dict>
            <key>swordswoman_intown:asa/19.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{366,153},{74,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{74,52}}</string>
                <key>sourceSize</key>
                <string>{74,52}</string>
            </dict>
            <key>swordswoman_intown:asa/20.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{288,52},{79,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{79,50}}</string>
                <key>sourceSize</key>
                <string>{79,50}</string>
            </dict>
            <key>swordswoman_intown:asdavg.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{180,147},{21,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,13}}</string>
                <key>sourceSize</key>
                <string>{21,13}</string>
            </dict>
            <key>swordswoman_intown:b p1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{366,245},{72,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{72,29}}</string>
                <key>sourceSize</key>
                <string>{72,29}</string>
            </dict>
            <key>swordswoman_intown:b p2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{366,207},{73,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{73,36}}</string>
                <key>sourceSize</key>
                <string>{73,36}</string>
            </dict>
            <key>swordswoman_intown:b p3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{441,240},{66,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{66,29}}</string>
                <key>sourceSize</key>
                <string>{66,29}</string>
            </dict>
            <key>swordswoman_intown:b p4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{81,284},{74,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{74,17}}</string>
                <key>sourceSize</key>
                <string>{74,17}</string>
            </dict>
            <key>swordswoman_intown:c nvjian fa.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{244,118},{36,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{36,34}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
            <key>swordswoman_intown:c nvjian hujian1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{488,178},{15,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,9}}</string>
                <key>sourceSize</key>
                <string>{15,9}</string>
            </dict>
            <key>swordswoman_intown:c nvjian shou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{242,187},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>swordswoman_intown:c nvjian shoujia 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{231,171},{16,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,10}}</string>
                <key>sourceSize</key>
                <string>{16,10}</string>
            </dict>
            <key>swordswoman_intown:c nvjian shoujia2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{178,180},{13,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,10}}</string>
                <key>sourceSize</key>
                <string>{13,10}</string>
            </dict>
            <key>swordswoman_intown:csw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{477,128},{9,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,17}}</string>
                <key>sourceSize</key>
                <string>{9,17}</string>
            </dict>
            <key>swordswoman_intown:nv jian tui 5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{488,121},{19,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,22}}</string>
                <key>sourceSize</key>
                <string>{19,22}</string>
            </dict>
            <key>swordswoman_intown:nv jian xie 9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{83,164},{12,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,16}}</string>
                <key>sourceSize</key>
                <string>{12,16}</string>
            </dict>
            <key>swordswoman_intown:nv jian xie6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{163,164},{13,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,15}}</string>
                <key>sourceSize</key>
                <string>{13,15}</string>
            </dict>
            <key>swordswoman_intown:nvjian fa1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{451,54},{40,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{40,33}}</string>
                <key>sourceSize</key>
                <string>{40,33}</string>
            </dict>
            <key>swordswoman_intown:nvjian fa3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{451,89},{35,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,37}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
            <key>swordswoman_intown:nvjian huijian2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{458,154},{16,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,14}}</string>
                <key>sourceSize</key>
                <string>{16,14}</string>
            </dict>
            <key>swordswoman_intown:nvjian hujian2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{113,187},{11,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,8}}</string>
                <key>sourceSize</key>
                <string>{11,8}</string>
            </dict>
            <key>swordswoman_intown:nvjian hujian3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{228,183},{12,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,8}}</string>
                <key>sourceSize</key>
                <string>{12,8}</string>
            </dict>
            <key>swordswoman_intown:nvjian jiao1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{493,54},{17,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,22}}</string>
                <key>sourceSize</key>
                <string>{17,22}</string>
            </dict>
            <key>swordswoman_intown:nvjian jiao1 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{165,143},{13,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,19}}</string>
                <key>sourceSize</key>
                <string>{13,19}</string>
            </dict>
            <key>swordswoman_intown:nvjian jiao2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{458,170},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>swordswoman_intown:nvjian jiao2 3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{147,161},{14,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,15}}</string>
                <key>sourceSize</key>
                <string>{14,15}</string>
            </dict>
            <key>swordswoman_intown:nvjian kudang1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{97,168},{17,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,10}}</string>
                <key>sourceSize</key>
                <string>{17,10}</string>
            </dict>
            <key>swordswoman_intown:nvjian kudang2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{195,168},{17,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,10}}</string>
                <key>sourceSize</key>
                <string>{17,10}</string>
            </dict>
            <key>swordswoman_intown:nvjian lian1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{218,127},{24,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,25}}</string>
                <key>sourceSize</key>
                <string>{24,25}</string>
            </dict>
            <key>swordswoman_intown:nvjian lian2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{450,128},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>swordswoman_intown:nvjian shenti1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{488,145},{21,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,15}}</string>
                <key>sourceSize</key>
                <string>{21,15}</string>
            </dict>
            <key>swordswoman_intown:nvjian shou4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{79,182},{11,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,10}}</string>
                <key>sourceSize</key>
                <string>{11,10}</string>
            </dict>
            <key>swordswoman_intown:nvjian shou5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{159,181},{10,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,12}}</string>
                <key>sourceSize</key>
                <string>{10,12}</string>
            </dict>
            <key>swordswoman_intown:nvjian shoubi1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{146,178},{11,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,14}}</string>
                <key>sourceSize</key>
                <string>{11,14}</string>
            </dict>
            <key>swordswoman_intown:nvjian shoubi3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{477,147},{9,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,13}}</string>
                <key>sourceSize</key>
                <string>{9,13}</string>
            </dict>
            <key>swordswoman_intown:nvjian shoubi4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{88,148},{7,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,12}}</string>
                <key>sourceSize</key>
                <string>{7,12}</string>
            </dict>
            <key>swordswoman_intown:nvjian shoujia4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{238,154},{16,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{16,15}</string>
            </dict>
            <key>swordswoman_intown:nvjian shoujia5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{264,175},{13,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,12}}</string>
                <key>sourceSize</key>
                <string>{13,12}</string>
            </dict>
            <key>swordswoman_intown:nvjian tui1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{67,148},{19,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,14}}</string>
                <key>sourceSize</key>
                <string>{19,14}</string>
            </dict>
            <key>swordswoman_intown:nvjian tui2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{133,157},{12,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,17}}</string>
                <key>sourceSize</key>
                <string>{12,17}</string>
            </dict>
            <key>swordswoman_intown:nvjian tui3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{218,183},{8,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{8,13}}</string>
                <key>sourceSize</key>
                <string>{8,13}</string>
            </dict>
            <key>swordswoman_intown:nvjian tui4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{97,180},{14,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,9}}</string>
                <key>sourceSize</key>
                <string>{14,9}</string>
            </dict>
            <key>swordswoman_intown:nvjian tui4 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{256,154},{15,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,16}}</string>
                <key>sourceSize</key>
                <string>{15,16}</string>
            </dict>
            <key>swordswoman_intown:nvjian tui5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{193,180},{12,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,11}}</string>
                <key>sourceSize</key>
                <string>{12,11}</string>
            </dict>
            <key>swordswoman_intown:nvjian tui5 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{249,172},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>swordswoman_intown:nvjian tui51.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{473,179},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>swordswoman_intown:nvjian tui8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{476,162},{10,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,15}}</string>
                <key>sourceSize</key>
                <string>{10,15}</string>
            </dict>
            <key>swordswoman_intown:nvjian tuijia2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{442,154},{14,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,17}}</string>
                <key>sourceSize</key>
                <string>{14,17}</string>
            </dict>
            <key>swordswoman_intown:nvjian weijing2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{184,127},{32,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{32,18}}</string>
                <key>sourceSize</key>
                <string>{32,18}</string>
            </dict>
            <key>swordswoman_intown:nvjian weijing3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{129,122},{36,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{36,18}}</string>
                <key>sourceSize</key>
                <string>{36,18}</string>
            </dict>
            <key>swordswoman_intown:nvjian xie3 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{273,154},{11,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,19}}</string>
                <key>sourceSize</key>
                <string>{11,19}</string>
            </dict>
            <key>swordswoman_intown:nvjian xie3 2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{214,169},{15,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,12}}</string>
                <key>sourceSize</key>
                <string>{15,12}</string>
            </dict>
            <key>swordswoman_intown:nvjian xie5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{167,122},{15,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,19}}</string>
                <key>sourceSize</key>
                <string>{15,19}</string>
            </dict>
            <key>swordswoman_intown:nvjian xie7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{97,152},{18,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,14}}</string>
                <key>sourceSize</key>
                <string>{18,14}</string>
            </dict>
            <key>swordswoman_intown:nvjian xie73.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{67,164},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>swordswoman_intown:nvjiang shou3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{132,176},{12,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,13}}</string>
                <key>sourceSize</key>
                <string>{12,13}</string>
            </dict>
            <key>swordswoman_intown:nvjiang xie 8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{147,142},{16,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,17}}</string>
                <key>sourceSize</key>
                <string>{16,17}</string>
            </dict>
            <key>swordswoman_intown:nvjiang xie 8 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{493,78},{16,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,19}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
            <key>swordswoman_intown:nvjianshenti2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{488,99},{21,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,20}}</string>
                <key>sourceSize</key>
                <string>{21,20}</string>
            </dict>
            <key>swordswoman_intown:nvjianshenti2 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{97,132},{22,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,18}}</string>
                <key>sourceSize</key>
                <string>{22,18}</string>
            </dict>
            <key>swordswoman_intown:nvjianshoubi2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{207,183},{9,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,12}}</string>
                <key>sourceSize</key>
                <string>{9,12}</string>
            </dict>
            <key>swordswoman_intown:nvjiantui1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{116,174},{14,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,11}}</string>
                <key>sourceSize</key>
                <string>{14,11}</string>
            </dict>
            <key>swordswoman_intown:nvjiantui1 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{442,173},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>swordswoman_intown:nvjiantui1 2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{488,162},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>swordswoman_intown:nvjiantui1 3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{117,157},{14,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,15}}</string>
                <key>sourceSize</key>
                <string>{14,15}</string>
            </dict>
            <key>swordswoman_intown:nvjiantui3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{180,162},{13,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,16}}</string>
                <key>sourceSize</key>
                <string>{13,16}</string>
            </dict>
            <key>swordswoman_intown:nvjiantui3 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{203,147},{13,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,19}}</string>
                <key>sourceSize</key>
                <string>{13,19}</string>
            </dict>
            <key>swordswoman_intown:nvjiantui4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{218,154},{18,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,13}}</string>
                <key>sourceSize</key>
                <string>{18,13}</string>
            </dict>
            <key>swordswoman_intown:nvjiantuijia1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{67,180},{10,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,14}}</string>
                <key>sourceSize</key>
                <string>{10,14}</string>
            </dict>
            <key>swordswoman_intown:nvjianweijing1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{69,132},{26,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,14}}</string>
                <key>sourceSize</key>
                <string>{26,14}</string>
            </dict>
            <key>swordswoman_intown:p 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{286,158},{78,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{78,47}}</string>
                <key>sourceSize</key>
                <string>{78,47}</string>
            </dict>
            <key>swordswoman_intown:p123.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,189},{61,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{61,39}}</string>
                <key>sourceSize</key>
                <string>{61,39}</string>
            </dict>
            <key>swordswoman_intown:p2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{286,207},{78,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{78,43}}</string>
                <key>sourceSize</key>
                <string>{78,43}</string>
            </dict>
            <key>swordswoman_intown:p233.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,139},{65,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{65,48}}</string>
                <key>sourceSize</key>
                <string>{65,48}</string>
            </dict>
            <key>swordswoman_intown:p3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{408,276},{77,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{77,39}}</string>
                <key>sourceSize</key>
                <string>{77,39}</string>
            </dict>
            <key>swordswoman_intown:p334.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{453,0},{56,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{56,52}}</string>
                <key>sourceSize</key>
                <string>{56,52}</string>
            </dict>
            <key>swordswoman_intown:p4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,272},{79,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{79,39}}</string>
                <key>sourceSize</key>
                <string>{79,39}</string>
            </dict>
            <key>swordswoman_intown:p4334.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{442,198},{68,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,40}}</string>
                <key>sourceSize</key>
                <string>{68,40}</string>
            </dict>
            <key>swordswoman_intown:p5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{82,242},{80,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{80,40}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>swordswoman_intown:p6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{327,276},{79,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{79,38}}</string>
                <key>sourceSize</key>
                <string>{79,38}</string>
            </dict>
            <key>swordswoman_intown:p7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{245,252},{80,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{80,39}}</string>
                <key>sourceSize</key>
                <string>{80,39}</string>
            </dict>
            <key>swordswoman_intown:p8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,230},{80,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{80,40}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>swordswoman_intown:p9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{164,243},{79,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{79,41}}</string>
                <key>sourceSize</key>
                <string>{79,41}</string>
            </dict>
            <key>swordswoman_intown:sac.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{121,142},{24,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,13}}</string>
                <key>sourceSize</key>
                <string>{24,13}</string>
            </dict>
            <key>swordswoman_intown:shou4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{457,186},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>swordswoman_intown:wuqi_1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{244,0},{42,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{42,116}}</string>
                <key>sourceSize</key>
                <string>{42,116}</string>
            </dict>
            <key>swordswoman_intown:wuqi_20.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{69,0},{58,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,130}}</string>
                <key>sourceSize</key>
                <string>{58,130}</string>
            </dict>
            <key>swordswoman_intown:wuqi_40.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{129,0},{58,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{58,120}}</string>
                <key>sourceSize</key>
                <string>{58,120}</string>
            </dict>
            <key>swordswoman_intown:wuqi_60.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{189,0},{53,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{53,125}}</string>
                <key>sourceSize</key>
                <string>{53,125}</string>
            </dict>
            <key>swordswoman_intown:wuqi_80.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{67,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{67,137}}</string>
                <key>sourceSize</key>
                <string>{67,137}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>swordswoman_intown.pvr.ccz</string>
            <key>size</key>
            <string>{510,315}</string>
            <key>textureFileName</key>
            <string>swordswoman_intown.pvr.ccz</string>
        </dict>
    </dict>
</plist>
